[2018-01-15 22:03] ianvernon opened #2532 "Ginkgo CI: Validate that tests/20-identity-list.sh is migrated over to Ginkgo framework"
Validate that the functionality in this test is migrated over to the Ginkgo framework - provide references to which test in the Ginkgo framework covers this as a comment on this ticket. If there needs to be changes to achieve parity, make necessary additions to the Ginkgo framework to achieve parity.

[2018-01-15 22:04] ianvernon opened #2533 "Ginkgo CI: Validate that tests/01-ct.sh is migrated over to Ginkgo framework"
Validate that the functionality in this test is migrated over to the Ginkgo framework - provide references to which test in the Ginkgo framework covers this as a comment on this ticket. If there needs to be changes to achieve parity, make necessary additions to the Ginkgo framework to achieve parity.

[2018-01-15 22:05] ianvernon opened #2534 "Ginkgo CI: Validate that tests/k8s/tests/01-guestbook-test.sh is migrated over to Ginkgo framework"
Validate that the functionality in this test is migrated over to the Ginkgo framework - provide references to which test in the Ginkgo framework covers this as a comment on this ticket. If there needs to be changes to achieve parity, make necessary additions to the Ginkgo framework to achieve parity.

[2018-01-15 22:09] ianvernon opened #2535 "Ginkgo CI: run miscellaneous shell-script checker scripts"
There are a few miscellaneous tests that should be ran as part of the CI pipeline defined in `ginkgo.Jenkinsfile`:

* 00-check-examples.sh
* 00-no-newlines-in-log-call.sh

These don't necessarily (?) have to be ported to run within Ginkgo; they could be invoked via some shell script that is called as a separate step in `ginkgo.Jenkinsfile`.

[2018-01-15 22:13] ianvernon opened #2536 "Ginkgo CI: migrate image eloycoto/cilium_dependencies:latest to a Cilium-managed repository"
This is the image used to run the unit tests, and as such should be owned by cilium on DockerHub. Determine what is needed to make the unit tests work in the cilium-owned builder images.

[2018-01-15 22:14] #2519 closed, assigned to ianvernon

[2018-01-15 22:15] ianvernon commented on #2252
https://github.com/cilium/cilium/issues/1956 overlaps with this.

[2018-01-15 22:22] #2515 closed, assigned to ianvernon

[2018-01-15 22:28] ianvernon commented on #2520
dep seems intriguing, but my main reservation about it is that it is still experimental. I think a Docker image with a set version of go-swagger would be best as we know for sure that it will work. It also allows us to have more control the dependencies used as opposed to relying upon the users's host machine.

[2018-01-15 23:30] tgraf commented on #2509
I've committed 35cc1fe8e3d35fb5bf71644df61b673eaceae65c recently which has the potential of fixing this. It is worth re-testing this when we point stable to include this fix.

[2018-01-16 00:49] abhide15 opened #2537 "Links to get cilium.yaml and policy.yaml are broken on getting-started page"
**Important:** Join our [slack channel](http://cilium.io/slack) for immediate
support and an opportunity to ask questions. Please also have a look at our
[FAQ](https://goo.gl/qG2YmU) for frequently asked questions first.

If you open a GitHub issue, please follow these guidelines:

1. It must be a bug or a feature request.
2. The form below must be filled out.

--------------

## Bug reports

###

[2018-01-16 01:31] #2537 closed, assigned to nobody

[2018-01-16 03:34] danwent commented on #2510
@scanf sorry, i must have just not read that section all the way to the bottom, as you're right, its right there.   Feel free to close this, or copy the other issues, which are more minor to another issue.

[2018-01-16 04:00] danwent commented on #2509
Running with the same env as before, I am no longer seeing this issue with cilium:latest .  Thanks!

[2018-01-16 04:38] ianvernon commented on #1529
Alternatively, we can create another Jenkins job that when triggered, builds these artifacts, e.g. when triggered with "test-me-please" we can trigger jobs:

* Cilium-Deb-Build
* Cilium-RPM-Build

This decouples the tests from the building of artifacts themselves. Having separate jobs makes the configuration of the Jenkinsfile less complicated as well.

This could be ran nightly as well.

Should w

[2018-01-16 04:48] ianvernon commented on #1998
@jrajahalme @tgraf can this be closed since we can do multi-stage builds with Docker now?

[2018-01-16 06:13] ianvernon opened #2539 "Ginkgo CI: cleanup test/README.md"
Clean up test/README.md

[2018-01-16 06:15] ianvernon commented on #2423
Another build failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1003/execution/node/56/log/ .

There are multiple issues here, the fact that the context-deadline got exceeded, and that the Ginkgo CI took so long to time out.

[2018-01-16 06:16] ianvernon commented on #2423
Closing in favor of #2416 .

[2018-01-16 06:16] #2423 closed, assigned to nobody

[2018-01-16 06:17] ianvernon commented on #2416
@eloycoto another build failed after #2512 was merged: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1003/ .

[2018-01-16 06:26] ianvernon opened #2540 "Ginkgo CI: wrap WaitEndpointsReady in WithTimeout"
`test/helpers/cilium.go:WaitEndpointsReady` waits for 30 tries for all endpoints to be in ready state. If the agent is stuck, this means that the Ginkgo tests can take quite a long time to fail. To ensure that the tests time out in a timely manner, wrap the logic within`WaitEndpointsReady` with `test/helpers/utils.go:WithTimeout`.

[2018-01-16 06:26] ianvernon commented on #2540
Example of long-lasting build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1003/

[2018-01-16 06:30] tgraf commented on #1998
We haven't done a new multi stage based runtime yet. I have this locally and can merge it with Jarno's multi stage changes.

[2018-01-16 12:11] eloycoto commented on #2416
I had a chat with @aanm and he found the problem in the `gop stacks`

[code]

Attached the runtime data.
[RuntimePolicyEnforcementPolicyEnforcementAlwaysAlwaystoNeverwithpolicy.zip](https://github.com/cilium/cilium/files/1634995/RuntimePolicyEnforcementPolicyEnforcementAlwaysAlwaystoNeverwithpolicy.zip)

[2018-01-16 13:27] aalemayhu commented on #2510
No worries. You are feedback was valuable. I will address some of the items and close this later.

Thanks.

[2018-01-16 15:05] aalemayhu opened #2542 "debuginfo: bugtool: show progress indicator for all exec calls"
Some of the commands run might take longer depending on the deployment. Would be nice to give the user estimated duration or at least countdown to the timeout.

Related: #2510

[2018-01-16 15:22] aalemayhu commented on #2510
Archive format will be tracked in #2306 and the progress indicator in #2542. The follow up is in #2543.

[2018-01-16 15:22] #2510 closed, assigned to aalemayhu

[2018-01-16 15:24] aanm opened #2544 "Add validation schema version for CNP CRD"
Add version schema to detect if new schema is more recent than the one stored on the running cluster.
Version can be stored on the CRD labels

[2018-01-16 17:07] nebril opened #2545 "Migrate tests/k8s/tests/04-toservices.sh to gingko"
#2332 creates new test, but the PR is long standing, creating this issue to track bash test migration to gingko

[2018-01-16 17:22] #2500 closed, assigned to eloycoto

[2018-01-16 18:25] ianvernon opened #2546 "Ginkgo Migration: update documentation to remove old bash script test infra references"
Parent: #1839

After the Ginkgo migration is complete, remove references to the old bash-script based framework from the CI.

[2018-01-16 19:41] #2277 closed, assigned to nobody

[2018-01-16 22:28] joestringer commented on #2409
@scanf Do you have some steps you took to reproduce this?

[2018-01-17 00:24] joestringer commented on #2217
Passing on master, closing: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1019/testReport/k8s-1/7/

[2018-01-17 00:24] #2217 closed, assigned to nobody

[2018-01-17 00:33] ianvernon opened #2552 "Label-based egress support: KV store interaction"
Parent: #1488

This ticket covers the agent-side changes to allow for label-based egress support. Synchronize information which uniquely identifies all cilium-managed endpoint IPs with the key-value store. All endpoints will watch on this specified prefix in the key-value store, and cache it locally for fast lookup. This will allow us to be able to determine which IPs correspond to sets of labels

[2018-01-17 00:35] ianvernon opened #2553 "Label-based egress support: datapath implementation"
Parent: #1488

Augment the BPF datapath to be able to handle label-based egress. This will consist of reading from a table that is populated by the Cilium agent with pod IPs to which egress traffic is allowed.

* [x] Add an IP->SecID mapping table to BPF (#2954)
* [x] Add Label-based lookup to the map, following the example of ingress policy map (#2954)
* [x] Refactor the existing L4 port policy f

[2018-01-17 00:35] ianvernon commented on #2553
Assigning to @joestringer after discussion with @tgraf . This ticket will be updated over time as the design fleshes out.

[2018-01-17 00:38] ianvernon opened #2555 "Label-based egress: CLI enhancements"
Parent: #1488

Providing of debugging, troubleshooting mechanisms for label-based egress:
- [ ] Global key-value store information mapping of IP to endpoints / label for the cluster
    * Right now we can do `cilium identity list` - on demand, it can query the kv-store for all identities allocated in the cluster.
- [ ] Userspace mapping of IP to endpoints / label E.g., `cilium egress-map list`.

[2018-01-17 00:41] ianvernon opened #2556 "Documentation: add documentation for label-based egress support in Cilium"
Parent: #1488

After label-based egress is added to Cilium update the documentation explaining how to use it, as well as notes about performance implications, and CLI capabilities.

[2018-01-17 01:04] ianvernon opened #2557 "Ginkgo CI: logs have executable permissions"
The file 'logs' for each test has its executable bit set. Change the permissions of this file within the Ginkgo framework to only have read/write permissions.

[2018-01-17 01:37] ianvernon commented on #2552
Currently am working on determining the exact path and key/value for use in the key-value store, as well as during which parts of the endpoint lifecycle necessitate us updating the key-value store.

[2018-01-17 02:41] #2289 closed, assigned to joestringer

[2018-01-17 10:24] aalemayhu commented on #2409
Sorry, forgot to update this and don't have my notes anymore. I was looking into something else, but you can reproduce similar output by uncommenting the race and deadlock detection in `Makefile.defs`. Enable debug on the agent and run the runtime tests a couple of times. Not sure it matters, but this is a bare metal setup running Fedora 26 (4.14.11-200.fc26.x86_64). Attaching the log, but feel fr

[2018-01-17 11:59] eloycoto commented on #2485
I think that this issue is related to #2416

[2018-01-17 17:56] ianvernon opened #2561 "Ginkgo CI: deprecate old bash-script tests"
Parent: #1839

This ticket documents which tests have been deprecated in the bash-script framework and are now run as part of all Ginkgo PR builds.

Runtime tests:

- [ ] 01-ct.sh
    - Deprecated-by: https://github.com/cilium/cilium/pull/2774
- [x] 02-perf.sh
    -  Covered by #2100 for migrating to nightly tests.
- [ ] 03-docker.sh
    - Deprecated-by: https://github.com/cilium/cilium/pull/2774

[2018-01-17 17:58] joestringer opened #2562 "Ginkgo VMs fail to update from apt on CI"
The ginkgo CI is now failing for all PRs:
https://jenkins.cilium.io/job/Cilium-Ginkgo-Tests/98/execution/node/62/log/

For context, we appear to be using Ubuntu 17.04 "zesty", which was EOL on January 13:
https://wiki.ubuntu.com/Releases

It appears that Ubuntu have deleted the zesty apt repositories from their archive:
http://archive.ubuntu.com/ubuntu/dists/

[code]

[2018-01-17 22:17] joestringer opened #2564 "Shift `proxy_port` datapath handling from embedded `BPF_L4_MAP` into native `POLICY_MAP`"
Since commit 1481216929451b435501c6815515d602b24cd0b2, L3-dependent L4 policies (ie, policies requiring both a label and a port/protocol) are implemented in the bpf policymap. However, L4-only policies are still implemented as BPF code as per the below.

https://github.com/cilium/cilium/blob/6b7aa7671970073c3b160a21dbc3af860c95635b/pkg/endpoint/bpf.go#L95-L114

For consistency, should we attempt t

[2018-01-17 22:27] tgraf commented on #2495
We have tracked this down to Kubernetes 1.9 installing a different set of iptables rules in the FORWARD chain which are not compatible with Cilium. Looking for a fix.

[2018-01-17 22:29] joestringer commented on #2562
Fixed by #2563.

[2018-01-17 22:29] #2562 closed, assigned to nobody

[2018-01-17 22:31] #1023 closed, assigned to ianvernon

[2018-01-18 00:41] #2539 closed, assigned to ianvernon

[2018-01-18 00:51] manalibhutiyani commented on #2471
Assigning to @danwent  to change the container image with the new timeout values as discussed offline.

[code]

[2018-01-18 01:25] joestringer opened #2567 "Make logrus configurable per package"
This way, we can simplify the log output for cilium-health daemon, whose stdout is redirected into cilium and printed to the same cilium log. (Currently it double-prints the RFC3339 timestamps).

[2018-01-18 01:31] tgraf opened #2568 "Ability to send RST when L7 policy is injected"
When an endpoint is not subject to an L7 policy, traffic is not flowing through a proxy. When an L7 policy is then injected, all existing connections need to be terminated and retried so they can be redirected to the proxy.

This is currently achieved by clearing the connection state in BPF which will cause all packets of these connections to be dropped which eventually times out the connection wh

[2018-01-18 01:36] tgraf opened #2569 "Connection tracking is cleared when policy is deleted when endpoint ends up in default allow"
When an endpoint is subject to policy and all policy of that endpoint is then cleared, the current behaviour removes all connections from the connection tracking tables. This is incorrect if the policy enforcement is set to default which will result the endpoint in turning into a "policy disabled" state and effectively all existing connections should have prevailed.

[2018-01-18 01:53] tgraf opened #2570 "Add policy rule to allow kafka-broker to talk to kafka-service in getting started guides"
The kafka broker talks to itself through the kafka-service IP. Probably due to the configuration of the advertised kafka host IP.

- [x] Add a policy that allows a kafka broker pod to talk to other kafka broker pods.

[2018-01-18 02:03] aanm opened #2571 "ICMP requests are denied when L3-L4 policy is loaded"
1. Start cilium and cilium network
2. Create 2 containers
2.1. `docker run -dt --net=cilium-net --name server -l app=backend httpd`
2.2. `docker run -dt --net=cilium-net --name client -l app=frontend tgraf/netperf`
3. delete policy `cilium policy delete --all`
4. import policy [0]
5. clean ct `sudo cilium bpf ct flush global`
6. open cilium monitor
7. try to ping to `server` container `docker exec

[2018-01-18 02:07] #2509 closed, assigned to manalibhutiyani

[2018-01-18 02:13] tgraf commented on #2267
@ashwinp Is this still a bug?

[2018-01-18 02:16] danwent commented on #2509
@tgraf is this backported to cilium:stable?  I'm seeing this while testing the kafka getting started guide, which seems to be using stable.

[2018-01-18 02:50] tgraf commented on #2509
We will point stable to the current latest tomorrow.

[2018-01-18 02:53] danwent commented on #2471
Note:  I saw the issue originally mentioned by @ashwinp when running with cilium:stable, but at least in my setup it turned out to be https://github.com/cilium/cilium/issues/2509, which is now fixed in master (I added the needs-backport tag).

Note that the above fix from @manalibhutiyani is for a slightly different problem, which is that packets from the consumer client to the broker are dropped

[2018-01-18 02:53] #2471 closed, assigned to danwent

[2018-01-18 03:05] aanm commented on #2571
The same happens with a single L4 policy
[code]

[2018-01-18 04:11] manalibhutiyani commented on #2471
@danwent : These are the 2 related issues

L3-L4 conn tracking bug:
https://github.com/cilium/cilium/issues/2569

L7 proxy TCP RST issue:
https://github.com/cilium/cilium/issues/2568

[2018-01-18 04:19] manalibhutiyani commented on #2569
This issue was seen in a persistent TCP connection case in a Kafka setup. GH #2471

[2018-01-18 04:20] manalibhutiyani commented on #2568
This issue was seen in a persistent TCP connection case in a Kafka setup. GH #2471

[2018-01-18 12:02] raybejjani commented on #2567
While we already have per package loggers, we don't report which subsystem the logger is in (In most cases, some packages already do). If we finish that up, we would then be able to filter with grep. Would that work? or is the goal to select which subsystems emit debug to begin with?

[2018-01-18 13:45] nebril commented on #2372
https://github.com/kubernetes/kops/pull/4224 works, but until it's merged you need to build it yourself and push kops binaries to your s3 bucket. To do so:

- clone my kops fork: https://github.com/nebril/kops
- checkout cilium-support branch
- follow https://github.com/kubernetes/kops/blob/master/docs/development/adding_a_feature.md#testing to build and push kops binaries to your s3 bucket
- foll

[2018-01-18 15:47] vadorovsky commented on #2497
Here is my packer configuration which I'm working on now:

https://github.com/mrostecki/cilium-packer-opensuse-tumbleweed

The work is still in progress. I will create some repo with Vagrantfile based soon - hopefully the only difference will be the box and getting rid of all `apt` commands which we have in the main repo.

/cc @eloycoto

[2018-01-18 15:54] eloycoto commented on #2497
Hi @mrostecki

I was working in the update of the Ubuntu version, and I added envoy too. Here you have the changes if you want to copy

https://github.com/cilium/packer-ci-build/pull/7/files

Regards

[2018-01-18 17:09] vadorovsky commented on #2463
BGP routing in Cilium with gobgp is something that is interesting for us too. I will get back soon with a more detailed idea how it might be implemented.

/cc @nirmoy

[2018-01-18 18:40] #2522 closed, assigned to eloycoto

[2018-01-18 18:44] ianvernon opened #2573 "CI: required dependencies can no longer be downloaded into Vagrant VMs"
All bash-script based builds are failing due to the fact that the yakkety-updates release apt repo doesn't have a release file anymore:
[code]

[2018-01-18 19:47] #2573 closed, assigned to joestringer

[2018-01-18 20:41] joestringer commented on #2567
The primary issue that I've observed relating to this is that cilium-health logs end up with two timestamps at the start of the line because cilium-health logs to stdout, then that stdout is read in by a cilium goroutine and printed to the cilium log, and I'd like to be able to simplify that. Having subsystem support would also be excellent, because it would make it easier to tell which logs come

[2018-01-18 22:05] joestringer opened #2579 "BPF lb maps before restart are not the same as after restart"
Testsuite failure seen while debugging bash CI issues:

https://jenkins.cilium.io/job/Cilium-Bash-Tests/116/execution/node/32/log/?consoleFull

[code]

[2018-01-18 22:19] ianvernon commented on #2579
Is it possible that this commit caused it? 1341c1ba627cbabc4bc2b104ede42746504c6120
There have been no changes to the service / loadbalancer package for some time, so I'm wondering if CLI output formatting changing may be the culprit.

[2018-01-18 22:39] joestringer commented on #2579
There have been no changes to the service / loadbalancer package for some time, so I'm wondering if CLI output formatting changing may be the culprit.

I'm suspecting this may be the case. I can't tell whether there was a successful CI run for the corresponding PR (https://github.com/cilium/cilium/pull/2547). I don't even understand why it was merged if it has "[WIP]" in the title.

Currently I am

[2018-01-18 23:07] tgraf commented on #2579
The CI runs were all green and it had two approved reviews from codeowners when I merged it.

[2018-01-18 23:47] joestringer opened #2583 "[Intermittent] Unable to reach own service IP"
Seen multiple times in local runs of 06-lb.sh, when running it it a loop:

[code]

If I attempt to ping the IPv4 service IP from server1, the ping continues to fail.

`cilium monitor` output:
[code]

BPF LB:
[code]

BPF services:
[code]

As far as I understand it, this is a bit of a weird case, because we can't just NAT the `2.2.2.2` service address into the backend address, because then you'll en

[2018-01-18 23:56] joestringer commented on #2583
Question: How do we figure out where the `10.11.242.54` address came from?

EDIT: Answer:
[code]

(This would be easier to track down if we printed in decimal form somewhere, too.)

[2018-01-19 00:43] joestringer commented on #2583
Full `cilium monitor -v` output:
[code]

Not sure why we're trying to encapsulate it to 10.0.2.15, when that's the current node:
[code]

[2018-01-19 00:46] joestringer opened #2584 "cilium bpf ct list output inconsistently prints protocol for ICMPv6 based on related flag"
Example output:

[code]

Currently, it appears that `related` ICMPv6 entries are printed as `ICMP` while regular entries are printed as `ICMPv6`. For all ICMPv6 CT entries, we should consistently print `ICMPv6`.

[2018-01-19 00:49] joestringer commented on #2583
Possibly related to connection tracking, as I left the (not-working) setup around for a while, then tried again and it suddenly worked.

Before:
[code]

(Waited)

After:
[code]

[2018-01-19 00:59] joestringer commented on #2579
Weirdly, it seems like PR #2577 is consistently failing due to this issue, yet when combined with the revert of commit 1341c1b in PR #2582 it passed (at least once, anyway).

[2018-01-19 01:15] joestringer commented on #2579
I am suspecting that the `tabwriter` makes the ordering of the output in `cilium bpf lb list` less reliable, and that the tests are unintentionally stripping one of the entries from the comparison. Commit https://github.com/cilium/cilium/pull/2577/commits/d45fad40c647d6d9310019410ed80634c9dcddb0 will test my hypothesis. (+ @ianvernon )

[2018-01-19 02:50] joestringer commented on #2579
Fixed by #2577 .

[2018-01-19 02:50] #2579 closed, assigned to joestringer

[2018-01-19 02:54] joestringer commented on #2583
Confirmed locally that the following patch mitigates the issue:

[code]

[2018-01-19 07:38] enzian commented on #2495
cool, thanks! In return I will write a tutorial for on how to set up a >1 Node cluster with cilium! (which I could not find yet!)

[2018-01-19 11:23] aanm commented on #2583
@joestringer can you check if `10.11.242.54` exists in `cilium bpf endpoint list`?

[2018-01-19 11:33] borkmann commented on #1673
done by yonghong

[2018-01-19 11:33] #1673 closed, assigned to borkmann

[2018-01-19 11:59] enzian commented on #2495
I did get Cilium running on a 1.8.7 cluster! :-)

[2018-01-19 14:27] #2570 closed, assigned to manalibhutiyani

[2018-01-19 16:59] vadorovsky commented on #2497
@eloycoto great, thank you, I will include those changes in my box soon.

Currently, I'm using the following minimalistic Vagrantfile for playing with my box https://github.com/mrostecki/cilium-vagrant-playground
I managed to build cilium and run tests in it. I think that I will keep playing with that separate repo until all the major changes in Vagrantfile you're currently planning will be merged

[2018-01-19 17:01] eloycoto commented on #2497
Ok! works for me ;-)

[2018-01-19 17:08] eloycoto opened #2588 "Nightly: issues with Docker multistage"
In the Nightly test we're having the following issues:

[code]

The docker version is:
[code]
Looks like related to this issue:  https://github.com/moby/moby/issues/33974

[2018-01-19 17:16] joestringer commented on #2264
If I knew, I would probably be using libvirt already ;) It could be a firewall configuration issue, or it could be something like the IP connectivity issue meaning that NFS can't connect on bootup and it gives up, so if the first issue is resolved then NFS will work too.

rsync should work already.

[2018-01-19 18:26] ianvernon commented on #2252
Fixed-by: #2586

[2018-01-19 18:34] manalibhutiyani commented on #2505
This is a duplicate of GH #2495

[2018-01-19 19:21] aanm opened #2590 "Update labels on endpoint upon k8s pod labels change"
Currently we don't update the endpoints' labels if the labels are changed as well on running k8s pods .

This requires to add a new k8s watcher to watch for pods' changes.

[2018-01-19 19:30] aanm opened #2591 "Endpoint's security ID is not updated in k8s pod's labels"
Verify if endpoint's security ID is updated in k8s pods' labels when the security ID changes on the endpoint.

The security ID of an endpoint can change by updating the labels locally with `cilium endpoint labels -a`

[2018-01-19 20:58] ianvernon commented on #2552
Per discussion, key-value store will contain the following mapping:

Mapping of address space/ endpointIP (cluster1/10.1.1.1) → cluster/node/endpoint_id + labels (cluster1/node1/200 + labels).

What determines an updating of this information in the key-value store?
* Endpoint gets added
* Endpoint gets deleted
* Policy changes for endpoint
    * Addition / deletion of egress policy rules that appl

[2018-01-19 21:40] ianvernon commented on #2552
Open-ended question: how does this affect our L3-dependent L7?

[2018-01-19 21:51] tgraf commented on #2552
It will have severe scale limitations which is why we have not implemented it so far. The naive approach is to reconfigure the enforced policy on every update to the ip->label mapping.

[2018-01-19 22:19] aanm opened #2593 "Annotate endpoint in k8s only if endpoint is managed by k8s"
It seems we try to annotate endpoint even if that endpoint is not managed by kubernetes:

https://github.com/cilium/cilium/blob/e79cd67c8703369bc94b9eb6f41270f86242be98/pkg/endpoint/policy.go#L845

[code]

[2018-01-19 23:02] tgraf commented on #2227
@jrajahalme @ianvernon Is this issue still being observed?

[2018-01-19 23:08] tgraf opened #2594 "Validate, complete & test network policy model"
Meta issue to capture all efforts around policy enforcement validation, testing and completion.

Immediate fixes:
 - Verification of connection tracking cleanup on policy change:
    - [x] Resolve known issues regarding connection tracking cleanup (@aanm)
        - [x] #2569
     - [x] Resolve datapath issues (@joestringer)
         - [x] #2270
         - [x] #2056

Document policy specification

[2018-01-19 23:13] manalibhutiyani commented on #2594
Should be add : #2568 in the list?

[2018-01-19 23:14] tgraf commented on #2593
We are also spawning two nested go subroutines instead of one

[2018-01-19 23:32] joestringer commented on #2354
As far as I can tell, labels appear to be fully mutable in CRI. We should make sure we don't end up being able to configure reserved labels on endpoints via CRI (See #2595)

[2018-01-19 23:44] tgraf commented on #2593
There is another issue, on failure to annotate and when the update failed because of an outdated resources, we still sleep until retrying again, as the sleep time increases, it becomes more and more unlikely that we can get a successful update as the time between fetch & update increases

[2018-01-19 23:52] tgraf commented on #2594
Add & edit any issue that is related to this effort

[2018-01-20 00:49] joestringer commented on #2567
Fixed by #2566.

[2018-01-20 00:49] #2567 closed, assigned to nobody

[2018-01-20 00:56] tgraf commented on #2593
Several other issues:
- The endpoint is no longer locked in the go subroutine
- Several go subroutines can overlap annotating the same pod and possibly overwriting with older values if previous updates failed

[2018-01-20 01:15] rlenglet opened #2596 "New Envoy xDS APIs for L7 policies and endpoint IP to ID mapping"
The support for L7 policy filter implementation with Envoy is being redesigned into an Envoy filter (issue: TBD). This new filter requires specifying and implementing 2 new APIs in the Cilium agent to provide its configuration:
1. Network Policy Discovery Service: resolved L7 policies per endpoint
1. Network Policy Hosts Discovery Service: the mapping of each security ID to the IP address of each

[2018-01-20 04:00] aanm commented on #2568
@tgraf I've a PoC on changing the CT entries to the new proxyport when the L7 policy is in inject. In theory, the new packets should automatically go to the proxy and the proxy would sent a `RST` to the client? I'll need to test it with an open TCP connection to see the outcome of this.

[2018-01-22 13:27] vadorovsky commented on #2591
I'd like to work on that if nobody else started.

[2018-01-22 13:45] tgraf commented on #2591
@mrostecki Cool! FYI, I have a PR pending that lightly touches this code (https://github.com/cilium/cilium/pull/2597)

[2018-01-22 16:35] eloycoto commented on #2005
Fixed by https://github.com/cilium/cilium/pull/2403

Regards

[2018-01-22 16:35] #2005 closed, assigned to eloycoto

[2018-01-22 17:55] tgraf opened #2601 "Verify and make Envoy the default option"

[2018-01-22 18:15] manalibhutiyani opened #2602 "Ginkgo : Support K8s CI Coverage for Kafka GSG"
We need to add CI coverage to test Kafka GSG.

[2018-01-22 18:55] jrajahalme commented on #2601
@tgraf Do we have rc3 released, or should I test this on rc3 branch?

[2018-01-22 18:56] tgraf commented on #2601
You can use `cilium/cilium:v1.0.0-rc3` or `cilium/cilium:stable`, both point to rc3.

[2018-01-22 19:03] manalibhutiyani opened #2603 "L3/L4 constrained L7 enforcement for envoy-based proxy"
Assigning to @jrajahalme as discussed.

[2018-01-22 19:20] ianvernon opened #2604 "CI: Only allow one concurrent build per PR in Cilium-Ginkgo-Tests"
Via Slack:

"it looks like if you launch two consecutive CI runs for the same PR on Cilium-Bash-Tests, the second one will interrupt the first. Doesn't look like the same rule applies to Cilium-Ginkgo-Tests though."

We should ensure that per-PR, only one build of each job can run at a time. This ensures that all jobs are treated equally with respect to build resources.

[2018-01-22 19:29] jrajahalme commented on #2588
I upgraded my local Docker to 17.12.0-ce for Mac and tested building with "make docker-image", and it successfully built the cilium image.

[2018-01-22 19:30] jrajahalme commented on #2588
I've sometimes got strange build errors when a VM disk gets full, or memory runs out. Worth checking for these, I guess?

[2018-01-22 20:22] joestringer commented on #2604
I think this is actually working as intended now. I just pushed a couple of commits and the ginkgo test for the previous PR got interrupted/cancelled.

[2018-01-22 20:22] #2604 closed, assigned to nobody

[2018-01-22 20:22] ianvernon commented on #2604
Ah, great! Thanks for confirming :D

[2018-01-22 20:40] tgraf opened #2605 "/v1beta/identity/$id fails on some identities"
cilium identity get is failing for some identities even though they are listed when i do cilium endpoint list

[code]

It seems that the kvstore has no entry for these identities, a couple of possible reasons:
- kvstore operation failed and we did not retry
- identity refcnt was not refreshed in time
- race condition and identity was properly deleted while endpoint on different node started using

[2018-01-22 21:37] #2593 closed, assigned to tgraf

[2018-01-22 21:46] joestringer commented on #2583
No, it's the loopback address assigned during cilium daemon startup. It's not allocated to any endpoint.

[2018-01-22 22:05] joestringer commented on #2409
If I enable race detection, my build fails..

[code]

[2018-01-22 22:24] joestringer commented on #2409
As per the goroutine 109 in the report, this is a bit weird:

https://github.com/cilium/cilium/blob/41b47f20a332d03e9ea076ca985ea52576f24fe8/pkg/endpoint/bpf.go#L71

At this point we should have the endpoint mutex, but only a readlock on the consumable's l4policy so I don't understand why we might be trying to update this structure. @aanm?

[2018-01-22 22:30] joestringer commented on #2409
Seems like the whole block below is attempting to set up l7 redirects in the policy and map them down to BPF at the same time, but I think that the redirect should probably be shifted to earlier at some point while holding the consumable lock, then the L4Map writeout can be simplified here to get rid of the data race.

https://github.com/cilium/cilium/blob/41b47f20a332d03e9ea076ca985ea52576f24fe8/

[2018-01-22 22:51] aanm commented on #2409
Lack of free memory

[2018-01-22 22:56] aanm commented on #2409
@joestringer Which redirect do you mean?

Yes, the consumable should be in write lock, not read lock. ~Although we are changing the fields of the l4policy.Ingress so we would need a lock for that map, not the consumable fields.~

[code]

[2018-01-22 22:59] joestringer commented on #2409
@aanm in this case, l4policy.ingress is e.Consumable.L4Policy.Ingress. It's not per-endpoint.

EDIT: OK, I think we agree. The only thing I'm confused about is that the redirect port allocation in this path is tied to endpoint, but apparently there's only one for the Consumable. Does it matter if it's one-per-consumable?

[2018-01-22 23:01] aanm commented on #2409
Forget what I said about the locks, we need to have the consumable "write locked"

[2018-01-22 23:03] joestringer commented on #2409
OK, I'll spin a patch to change them to writelock.

[2018-01-23 01:25] joestringer opened #2608 "Ginkgo: Come up with a better way to test that monitor output is flushed"
Throughout the monitor tests, we sleep to wait for monitor output to have what we need:

https://github.com/cilium/cilium/blob/41b47f20a332d03e9ea076ca985ea52576f24fe8/test/runtime/monitor.go#L89

https://github.com/cilium/cilium/blob/41b47f20a332d03e9ea076ca985ea52576f24fe8/test/runtime/monitor.go#L121

https://github.com/cilium/cilium/blob/41b47f20a332d03e9ea076ca985ea52576f24fe8/test/runtime/mo

[2018-01-23 01:46] tgraf opened #2609 "Integrate In-kernel Kafka parser prototype"
@jrfastab has a prototype for in-kernel Kafka parsing. It lacks the automation to generate it from Cilium policy.

[2018-01-23 12:13] tgraf commented on #2227
Has not been observed for over a month

[2018-01-23 12:13] #2227 closed, assigned to nobody

[2018-01-23 12:40] aanm opened #2612 "Kafka proxy allows traffic for unknown identities by default"
It seems whenever the identity is not found by the agent, line 137, we are simply logging that. This would later, on line 146, cause the kafka rules to be `nil` and returning `true` for an unknown identity, line 152.

https://github.com/cilium/cilium/blob/41b47f20a332d03e9ea076ca985ea52576f24fe8/pkg/proxy/kafka.go#L133-L152

These were the log messages I saw:
[code]

The easiest way to see this bu

[2018-01-23 12:48] tgraf commented on #2612
What policy do you have loaded? I would expect the default rules to apply in this case.

[2018-01-23 12:56] tgraf commented on #2369
This is due to SNAT on the outgoing connection by kube-proxy, the reply packet will go to the IP of the node itself, gets reverse NATed and then sent to the Cilium endpoint.

[2018-01-23 12:56] #2369 closed, assigned to manalibhutiyani

[2018-01-23 13:09] tgraf commented on #2374
User milipili on Slack has requested this feature

[2018-01-23 13:10] #2003 closed, assigned to tgraf

[2018-01-23 13:17] tgraf commented on #2195
@joestringer I like the proposal overall but I think for per flow debug messages, we should require opt-in anyway as it will get extremely verbose and even a rate limited logger will slow everything down considerably

[2018-01-23 13:47] borkmann commented on #824
Almost completed by @scanf .

[2018-01-23 13:48] borkmann commented on #1161
Very low prio, thus closing right now.

[2018-01-23 13:48] #1161 closed, assigned to borkmann, jrfastab

[2018-01-23 13:51] eloycoto commented on #2221
Finally fixed by https://github.com/cilium/cilium/pull/2599

[2018-01-23 13:51] #2221 closed, assigned to eloycoto

[2018-01-23 15:09] tgraf commented on #1991
Fixed by #2048

[2018-01-23 15:09] #1991 closed, assigned to nobody

[2018-01-23 15:10] #1808 closed, assigned to nebril

[2018-01-23 15:12] #974 closed, assigned to nobody

[2018-01-23 15:12] aalemayhu commented on #1901
Closing this in favor of #1912. Most if not all policy examples have been moved over. I am not sure we want to move the other command line examples. If there is a need we can just reopen this later.

[2018-01-23 15:12] #1901 closed, assigned to nobody

[2018-01-23 15:12] #388 closed, assigned to nobody

[2018-01-23 15:31] aanm commented on #282
@tgraf I don't think this was completely addressed in #1171 right?

[2018-01-23 15:32] aanm commented on #658
Done by the debug tool

[2018-01-23 15:32] #658 closed, assigned to nobody

[2018-01-23 15:49] tgraf opened #2616 "Need more verbose error message when Envoy can't start"
[code]

The error does not give any indication what went wrong

[2018-01-23 16:40] tgraf commented on #1734
The new kvstore layer will require this refactoring

[2018-01-23 17:42] techcet commented on #1571
@tgraf Do we think we want to intentionally keep the GSGs as is, i.e. use NP for L3/L4 and CNP for L7?

[2018-01-23 17:47] joestringer opened #2620 "Fix mesos box for Ubuntu 17.04 EOL"
Ubuntu has EOL'd Ubuntu 17.04, so the mesos Vagrantfile is now out of date and will not successfully spin up a valid box.

https://github.com/cilium/cilium/blob/b709d57d574526c70e64d61f532abf06f4300f02/examples/mesos/Vagrantfile#L65

[2018-01-23 17:48] joestringer commented on #1660
Not observed recently, closing.

[2018-01-23 17:48] #1660 closed, assigned to nobody

[2018-01-23 17:49] joestringer commented on #1811
This hasn't bothered anyone in a while, and it will become less relevant as we switch over to ginkgo. Closing.

[2018-01-23 17:49] #1811 closed, assigned to nobody

[2018-01-23 17:52] joestringer commented on #2213
References are dead links, and we are switching over to Ginkgo soon. Closing.

[2018-01-23 17:52] #2213 closed, assigned to nobody

[2018-01-23 18:11] #2544 closed, assigned to nebril

[2018-01-23 18:52] ianvernon commented on #1361
Closing this, we haven't seen this issue in a long time.

[2018-01-23 18:52] #1361 closed, assigned to nobody

[2018-01-23 18:53] ianvernon commented on #1386
Closing, we haven't seen this in a long time.

[2018-01-23 18:53] #1386 closed, assigned to nobody

[2018-01-23 18:53] ianvernon commented on #1362
@scanf we haven't seen this in some time. Given that we are moving to Ginkgo this be closed?

[2018-01-23 18:54] ianvernon commented on #1478
The workspace referenced in the issue description has been cleaned up by Jenkins. Closing this issue as there's nothing to go off of here.

[2018-01-23 18:54] #1478 closed, assigned to nobody

[2018-01-23 19:21] joestringer commented on #1609
Developers upgrading clang to 5.0 or later should no longer observe this issue. Closing.

[2018-01-23 19:21] #1609 closed, assigned to nobody

[2018-01-23 19:24] #2612 closed, assigned to tgraf

[2018-01-23 22:16] jrajahalme commented on #2601
Verified with gRPC GSG. Envoy runs as intended on cilium/cilium:stable :-) Posted a clean-up PR on gRPC GSG to remove the cilium.yaml editing steps (#2622).

[2018-01-23 23:18] #2409 closed, assigned to joestringer

[2018-01-24 01:56] tgraf commented on #2601
Envoy is not being built when running `make` yet it seems.

[2018-01-24 09:15] aalemayhu commented on #1362
@ianvernon Sure

[2018-01-24 10:25] aalemayhu opened #2624 "deadlock in pkg/kvstore/lock.go:87 kvstore.LockPath { ll.Lock() } <<<<<"
While testing #2607 noticed the below deadlock. Ran the runtime tests a couple of times to trigger. See attached log file for full output.

[code]
[heute.txt](https://github.com/cilium/cilium/files/1659437/heute.txt)

[2018-01-24 10:57] #2527 closed, assigned to joestringer

[2018-01-24 11:19] #2195 closed, assigned to nobody

[2018-01-24 11:22] aalemayhu commented on #2624
Forgot to add that race and deadlock detection has to be enabled
[code]

[2018-01-24 11:57] tgraf commented on #2624
Will look at this as part of #2613

[2018-01-24 19:04] ianvernon commented on #2095
@aanm is there a way we can hook into this like we have done with our CRD validation?

[2018-01-24 19:15] #2454 closed, assigned to manalibhutiyani

[2018-01-24 22:35] joestringer opened #2627 "[Intermittent] Cannot establish connection to local cilium instance"
@aanm has been hitting this issue with the following developer commandline:

`sudo service nfs start && ETCD_CLEAN=1 RELOAD=1 NWORKERS=1 NFS=1 K8S=1 contrib/vagrant/start.sh`

[code]

Sometimes it shows up when running like the above, sometimes not. The messages repeat for maybe up to 90 seconds, then it recovers.

The issue appears to be `cilium-health` complaining that it is unable to reach the

[2018-01-24 22:44] joestringer opened #2628 "Add package to handle running external programs"
There's a bunch of places in cilium that run external programs, which fall roughly into two categories:
* Run to completion within a short amount of time
* Run in the background

https://github.com/cilium/cilium/blob/master/pkg/launcher/launcher.go

https://github.com/cilium/cilium/blob/c9cc88db3b3c864d155e047def0f12e8640b5e6e/daemon/daemon.go#L373-L395

But there's also a bunch of places that are

[2018-01-24 22:58] joestringer opened #2629 "Remove UpdateSecLabels from Owner"
Feedback on #2315 was fairly strong about whether `UpdateSecLabels()` belongs as part of `Owner`.

https://github.com/cilium/cilium/blob/c9cc88db3b3c864d155e047def0f12e8640b5e6e/pkg/endpoint/owner.go#L90-L97

This issue tracks the request to refactor this functionality out of `daemon/`.

[2018-01-24 23:01] tgraf commented on #2629
#2613 will do this already

[2018-01-24 23:33] joestringer commented on #2482
Saw this again today: https://jenkins.cilium.io/job/cilium/job/cilium/job/master/1114/

[2018-01-24 23:44] jrajahalme commented on #2482
@joestringer Did you see any cilium logs for this? Runtime test failed, asks to see the logs, but then the log extraction failed too, see the end of https://jenkins.cilium.io/job/cilium/job/cilium/job/master/1114/execution/node/32/log/

[2018-01-25 00:10] ianvernon commented on #1488
Note - we need to figure out how this works with L3-dependent-L4 as well / associated code-paths. can be done after initial L3-only work is done by restricting L3-dependent L4 egress rules in the API at first.

[2018-01-25 00:15] aanm opened #2631 "address concurrent access to *Envoy"
It looks like Envoy.cmd can be access on 2 places concurrently.

The variable is written here, can happen on multiple occasions.
https://github.com/cilium/cilium/blob/c9cc88db3b3c864d155e047def0f12e8640b5e6e/pkg/envoy/envoy.go#L146

The same variable can be later read here
https://github.com/cilium/cilium/blob/c9cc88db3b3c864d155e047def0f12e8640b5e6e/pkg/envoy/envoy.go#L272

[2018-01-25 00:15] aanm opened #2632 "Print envoy version when starting cilium"
Print envoy version installed when starting cilium

[2018-01-25 00:43] ianvernon commented on #1488
Question from discussion with @joestringer  - do we want to have one map in the datapath of IP to allow decision per endpoint, or two maps - IP to security ID, which is global to the daemon, and then a table of egress security IDs per endpoint. The second solution is more memory-efficient, as we only have to contain IP to security ID mappings in one global table, vs. having a list of IPs per endpo

[2018-01-25 00:52] aanm opened #2635 "Unable to start vagrant box due envoy compilation errors"
In case you are unable to start the development VM with `contrib/vagrant/start.sh`:
[code]

This might be due NFS being enabled and/or you have and old VM running. The suggestion is to destroy the current VM running with `vagrant destroy -f cilium-master` and start it again with the NFS environment variable, by running `contrib/vagrant/start.sh` instead of for example `NFS=1 contrib/vagrant/start.

[2018-01-25 00:52] #2635 closed, assigned to nobody

[2018-01-25 00:58] manalibhutiyani opened #2636 "Kafka: Correctly check msgSize before discarding in ReadResp"

[2018-01-25 01:07] joestringer commented on #2482
@jrajahalme I found the reported deadlock strings in the cilium log in the top level directory of the runtime tarball for this failure: https://jenkins.cilium.io/job/cilium/job/cilium/job/master/1114/artifact/cilium-files-runtime-master-1114.tar.gz

Looking at the following test code, it seems it just greps for the word deadlock in the logs:
https://github.com/cilium/cilium/blob/c9cc88db3b3c864d15

[2018-01-25 02:12] danwent opened #2641 "cilium monitor prints nothing despite traffic passing traffic"
I'm not sure how reproducible this is, but my single node minikube is in the situation that it is passing traffic, but cilium monitor prints nothing.   Not only is the application still working, but the cilium access log is recording the traffic, so it seems clear that the traffic is passing through cilium.

When i started out, cilium monitor was working, but then it stopped abruptly.  This may ha

[2018-01-25 02:14] joestringer commented on #2482
Another case:

https://jenkins.cilium.io/job/cilium/job/cilium/job/master/1115/

  <details>
  <summary>

[code]
</summary>Deadlock (click to expand longer stack trace)

[code]
</details>

<details>
<summary>
Consul logs (click to expand)

[code]
</summary>

[code]
</details>

[2018-01-25 02:16] tgraf opened #2643 "bugtool: Run gops"

[2018-01-25 02:23] aanm commented on #2095
No, this is a different subject. What needs to be addressed it what plugins are capable off doing. Kubernetes itself should inform the users if that spec is correct for the given plugins currently installed.

[2018-01-25 02:31] danwent commented on #2641
gops output

[code]

[2018-01-25 02:34] tgraf commented on #2641
The `Write()` is blocking and waiting using `poll()` while holding the mutex which is required to accept new connections.

[2018-01-25 03:14] joestringer commented on #2482
Looks to me like we should avoid holding `BuildMutex` while resolving identity<->labels mappings. Underlying flakiness of KV store would hit this again.

[2018-01-25 03:18] danwent opened #2644 "Unexpected Conn-Track Drops"
I'm seeing conn-track continue to drop reply packets from a kube-api server running on the host to some of my pods (c-agent, c-exporter) that are talking to the kube-api server.   I got into this state when I had to restart the cilium pod due to another issue.

I would expect that since there apparently was a legitimate connection in place here that the conn-track would be able to allow this conne

[2018-01-25 03:59] danwent opened #2645 "cilium monitor refers to a security ID that is not visible in cilium endpoint list"
I may be misunderstanding something, but I believe that any security identity show in "cilium monitor" should correspond to something in cilium endpoint list.  However, that is not the case here, as I see 295 in monitor flows, but not in endpoint list:

[code]

[code]

It seems like perhaps this is traffic to/from a cilium proxy?

Attached cilium bugtool zip.

[2018-01-25 11:38] tgraf commented on #2645
@danwent The most common occurrence of this is a packet with an identity encoded that is still in the TCP retransmission queue or the proxy still has a socket open for an old endpoint that is waiting to be timed out. Could that be the case here?

[2018-01-25 11:43] #2373 closed, assigned to aanm

[2018-01-25 12:06] aanm commented on #2645
FYI this can happen on a multi host environment because not all nodes are aware of all security IDs.

[2018-01-25 12:50] aanm commented on #2627
I was able to get hit the issue again, it seems like docker doesn't respond to the `docker ps -a` request immediately. Going throughout the stack trace it seems this happens the first time we can `ws.syncWithRuntime()`
[code]

I think we should have a context with timeout here:
[code]
@raybejjani thoughts?

[2018-01-25 13:07] nebril commented on #2371
PoC for kubernetes: https://github.com/cilium/monitor-mux

[2018-01-25 14:26] #2636 closed, assigned to manalibhutiyani

[2018-01-25 15:01] danwent commented on #2645
@aanm good point, I neglected to mention that this is a single host minikube env.

@tgraf I *think* this issue persisted for a fair amount of time (at least 5 mins) as I originally wasn't going to file something, and then decided I might as well, and the behavior was still happening.    Would the cilium logs contain anything about what this ID mapped to in terms of labels?  Or am I able to query t

[2018-01-25 15:33] eloycoto commented on #2608
Comments added by @tgraf in cilium slack:
[code]

[2018-01-25 15:44] #1875 closed, assigned to nebril

[2018-01-25 16:34] danwent commented on #2645
Ok, I need to restart cilium to debug another issue.  I capture a cilium bugtool archive.  It seems like cilium bugtool does not capture the state in the kv-store?  Seems like that might be nice.  I was also curious if you think we should have etcdctl installed in the cilium container, since that is the recommend kv store, and might be useful for debugging.

[2018-01-25 19:29] joestringer commented on #2482
This should be addressed by https://github.com/cilium/cilium/pull/2613.

[2018-01-25 23:30] aanm opened #2651 "Test upgrade between cilium versions"
We should add a test case to test the upgrade between a stable cilium version against a PR.

I think this test will only need to create a couple of endpoints with a couple options each, then it should stop cilium and restart it with the new cilium version.

Currently the restore functionality is being tested for the same version and not between different versions.

[2018-01-26 02:31] tgraf commented on #2651
We can do this as part of the nightly test, upgrade from the previous version.

[2018-01-26 10:41] #2309 closed, assigned to aalemayhu

[2018-01-26 11:07] raybejjani commented on #2627
What's odd here is that by the time we make this `ContainerList` call we've already made one from `IgnoreRunningContainers` (https://github.com/cilium/cilium/blob/master/pkg/workloads/containerd/watcher.go#L349), called during `NewDaemon`, which happens before the `syncWithRuntime` within `runDaemon`. All these calls are synchronous and have no explicit timeout.
I would like to add timeouts to all

[2018-01-26 14:54] raybejjani commented on #2627
Righto, here is my attempt: https://github.com/cilium/cilium/pull/2654

[2018-01-26 18:22] ianvernon opened #2655 "CLI: add version of Envoy being used"
Now that Envoy is being used, we should make the version of it being used by Cilium present as part of the CLI. We can add it to `cilium status`.

[2018-01-26 19:27] joestringer commented on #2627
Specifically for `cilium-health`, it needs access to the cilium API and doesn't really care about the container runtime (the endpoints it generates are handled separately with network namespaces). One may argue it's a bit misleading if the cilium-health status starts showing OK before the container runtime is ready, but `cilium status` reports the status of the container runtime separately so I do

[2018-01-26 22:20] ianvernon opened #2660 "Ginkgo CI: messy behavior when test name conventions not followed"
If the `Describe` of a test is not prefixed with `K8s` or `Runtime`, the Ginkgo framework does not handle it gracefully. This is due to the fact that the prefix in the `Describe` determines what infrastructure is launched (VMs, installation of Cilium, etc.).

For example, if you change the `Describe` of the `K8sPolicies` test to `KafkaK8sPolicyTest`:
[code]

We should enact some requirements for t

[2018-01-27 01:04] borkmann commented on #1516
Merged. http://patchwork.ozlabs.org/project/netdev/list/?series=25679&state=*

[2018-01-27 01:04] #1516 closed, assigned to borkmann

[2018-01-28 01:08] natemurthy opened #2662 "Observing ImagePullBackOff and CrashLoopBackoff in Kubernetes example with cluster built with kops running in AWS"
When following the [Getting Started](http://docs.cilium.io/en/latest/gettingstarted/minikube/#step-1-installing-cilium) docs for installing Cilium on Kubernetes, the pods created end up in either an `ImagePullBackOff` state or a `CrashLoopBackoff` state as follows:

[code]

### General Information

- Cilium version: Docker Image `cilium/cilium:stable`
- Kernel version: `4.4.111-k8s`
- Orchestratio

[2018-01-28 01:55] tgraf commented on #2662
@natemurthy What error does `kubectl` report if you run `kubectl -n kube-system logs cilium-gbz8v`?

[2018-01-28 11:29] eloycoto commented on #2660
Hi @ianvernon,

I've just check and the names are correct:
[code]

Not sure where do you get that.

[2018-01-28 11:31] eloycoto opened #2664 "Test: Add kafka test on kubernetes"
A new test should be added to the kafka policies in kubernetes and cross-node. At the moment the kafka test only happens in runtime without node.

[2018-01-28 11:57] tgraf opened #2666 "Envoy returns "upstream connect error or disconnect/reset before headers""
@jrajahalme I'm observing the following behaviour:

[code]

Policy loaded
[code]

Debug log:
[code]

[2018-01-28 12:03] eloycoto commented on #2421
Close this issue, it's already fixed in #2477

[2018-01-28 12:03] #2421 closed, assigned to eloycoto

[2018-01-28 19:08] natemurthy commented on #2662
Here are the logs from that pod:
[code]
So looks like my nodes need a more recent kernel =/ I'm using `kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-01-14` -- which explains the CrashLoopBackOff, but what about the ImagePullBackoff?

Let my try this out again with an AWS AMI built on a later kernel version...

[2018-01-28 19:18] natemurthy commented on #2662
Alright, so I upgraded my cluster to use the `coreos.com/CoreOS-stable-1576.5.0-hvm` image on my nodes which is built on the `4.14.11` Linux kernel. But now I see this in the logs:
[code]
Pod ending up in a crash loop again as a result.

[2018-01-28 21:43] tgraf commented on #2662
Yes, the kernel is recent enough now. The only external dependency that Cilium has is a kvstore. It can be either consul or etcd.

Edit the cilium.yaml and modify `etcd-config` to point to one or more etcd nodes.

[code]

[2018-01-28 22:49] natemurthy commented on #2662
I edited my yaml file to have my cilium pods point to the etcd endpoint. Still in a crash loop, but now I get this in my logs:
[code]
The security group from the etcd node is setup such that I can connect to inbound port 2379 from any node in my cluster.

This may sound like a foolish question, but is there a way to disable external connections to consul or etcd? Maybe a local in-memory kvstore? I

[2018-01-28 22:55] tgraf commented on #2662
Definitely not foolish. We need the kvstore to synchronise state between multiple cilium agents running on all the nodes. For testing I typically just run a single etcd container like below and point Cilium to the etcd node `http://<nodeIP>:4001`

[code]

[2018-01-28 23:18] natemurthy commented on #2662
Ok, I have a single etcd container running in my cluster (independent of k8s' etcd), but now strangely only one of my cilium pods was able to connect to the kvstore:
[code]
The pods that are crashing still say `grpc: timed out when dialing`. The other that's successfully running shows [this](https://pastebin.com/raw/ksyLFYti) which looks good. What's the explanation for the pods in failure? How ca

[2018-01-28 23:22] tgraf commented on #2662
The cilium pod runs in the network namespace of the host. Check connectivity to the kvstore from each host/node. There must be a reason (firewall?) that some of the nodes can't reach the kvstore on the given port.

[2018-01-29 02:41] ianvernon commented on #2660
@eloycoto - this occurred when someone was trying to write a test. If you change the `Describe` to not be prefixed with `Runtime` or `K8s`, output like what I pasted in this issue occurs. The test framework needs to be able to handle test-writers not following convention and handle it gracefully.

[2018-01-29 09:50] eloycoto commented on #2660
Ahh ok, that will be hard I need to say :-(

[2018-01-29 15:33] #2540 closed, assigned to eloycoto

[2018-01-29 16:47] michi-covalent opened #2671 "bugtool: Capture cilium log"
Right now the bugtool doesn't seem to capture the cilium log. It would be nice if there is a wrapper script that can be executed from the host that would:

- Run both kubectl logs and cilium bugtool for all the cilium pods.
- Copy bugtool output from cilium pods to the host. It's a bit cumbersome to manually copy the bugtool output from cilium pod to the host because I can never remember the synta

[2018-01-29 17:22] michi-covalent commented on #2671
Somewhat related, I think it would be useful to have timestamp field in log messages.

[2018-01-29 17:30] manalibhutiyani commented on #2664
I am already working on this as part of issue #2602

[2018-01-29 17:30] #2664 closed, assigned to nobody

[2018-01-29 17:37] eloycoto commented on #2664
Sorry!

[2018-01-29 19:13] techcet commented on #2662
Hi Nate,

You can check if each cilium pod is reaching the kv-store with:
`kubectl exec -ti -n kube-system cilium-XXXXX cilium status`

Or better yet, download and use the cluster diagnosis tool here:
https://github.com/cilium/cluster-diagnosis/releases/tag/v0.2 (run `python cluster-diagnosis.zip`)
and share the output. It checks all Cilium pods' connectivity to the kv-store.

[2018-01-29 19:34] aanm commented on #2662
@natemurthy

Are you using TLS to contact etcd? If yes, make sure you've the `#ca-file` line from `cilium.yaml` uncommented
https://github.com/cilium/cilium/blob/0af026fc1450e43aa7c20234d39248a891a0d074/examples/kubernetes/cilium.yaml#L11-L24

and the certificate is stored in base64 here (also in the `cilium.yaml` spec file):

https://github.com/cilium/cilium/blob/0af026fc1450e43aa7c20234d39248a89

[2018-01-29 23:22] #2632 closed, assigned to jrajahalme

[2018-01-30 01:40] manalibhutiyani opened #2673 "CI Ginkgo: GetCiliumPodOnNode does not work on multi-node setup"
`GetCiliumPodOnNode` currently returns a single cilium agent name. It needs to return an array of strings with the names of all the cilium agents running in a setup in a multinode environment.
I ran into this issue in Kafka CI setup with 2 nodes, where one node had 6 endpoints while other had only 1 endpoint.
Since  `GetCiliumPodOnNode` was returning only the first cilium node name, `waitUntilEndp

[2018-01-30 02:24] #2379 closed, assigned to manalibhutiyani

[2018-01-30 03:20] manalibhutiyani commented on #2673
Nevermind. @eloycoto : How do we choose to only check `helpers.K8s1` in `Policies.go` ? If we have multiple node, and pods are scheduled on multiple nodes, like the example I gave above , `Policies.go` tests will fail?

[2018-01-30 03:22] joestringer opened #2676 "Actively detect connectivity issues with proxies and policies"
Issue #1947 described an overall design of what has become the `cilium-health` daemon. In the background, it probes ICMP and HTTP paths to each node in the cluster, and to a simulated endpoint on each of those nodes.

So far, the functionality only checks paths with no policies or proxies involved. If there are any connectivity issues at L7 that result from misconfiguration of nodes, then there is

[2018-01-30 03:23] joestringer commented on #1947
I jotted down some notes on the remaining wishlist items from the original proposal in Issue #2676. PR #2674 ties up the remaining loose ends that I intend to address in the short term. Closing this issue.

[2018-01-30 03:23] #1947 closed, assigned to joestringer

[2018-01-30 06:57] natemurthy commented on #2662
@techcet Here are the results of checking `cilium status` on each pod I most recently deployed:
[code]
as well as results from cluster-diagnosis tool:
[code]
which don't seem to give me much additional information. I did, however, confirm that I could reach etcd from each node in my cluster. First I created some pods with long-running processes:
[code]
Confirmed they were running on unique nodes:

[2018-01-30 08:54] eloycoto commented on #2673
Hi @manalibhutiyani as default the manifest runs to be all in k8s1:

https://github.com/cilium/cilium/blob/master/test/k8sT/manifests/demo.yaml#L30

So, with one cilium will be enough.

If you need all cilium pods, you can do the following:
[code]
And you can do a for each per each cilium pod.

Regards

[2018-01-30 08:56] #2252 closed, assigned to eloycoto

[2018-01-30 10:28] vadorovsky commented on #2591
I see that the security ID is updated now:

[code]

So I think we can close this issue and assume that https://github.com/cilium/cilium/blob/master/pkg/endpoint/policy.go#L819-L840 handles that properly.

[2018-01-30 10:33] vadorovsky commented on #2591
The thing which is not synced, are the `k8s:` labels. So, in example, if you do:

[code]

then such a change is not synced. The question is whether we should sync the manual changes of k8s labels in cilium. The other question is whether we should allow that at all.

[2018-01-30 15:35] tgraf commented on #2591
@mrostecki I think we should disallow that. We should maintain a list of label sources that are not allowed to be modified. Another option is that we introduce a label source `custom:` which is the only label type that can be modified. It also makes it crystal clear to everyone, what label was added by the user.

That said, we must allow to enable and disable k8s and container labels with respect

[2018-01-30 18:41] manalibhutiyani commented on #2673
@eloycoto : Thanks! Closing this issue.

[2018-01-30 18:41] #2673 closed, assigned to eloycoto

[2018-01-30 19:23] aanm opened #2683 "Add docker image tags on all tests"
For all the image dependencies that we are using, on the runtime tests, we should use specific image tags instead the default ":latest"

[2018-01-30 19:30] manalibhutiyani commented on #2662
@aanm All three cilium agent seem to be not running. Would it make sense to try deleting the pods and retrying? Also, wonder if starting the setup from scratch remove any unknowns?

[2018-01-30 22:15] tgraf commented on #2662
@natemurthy What I don't understand is the following:

1. Cilium is not coming up, the reason is that it can't reach the kvstore. I'm assuming you are configuring Cilium to use `etcd0:2379`. So far I understand everything.
2. You can then run pods in the cluster to test etcd connectivity. This is what I don't understand. How are these pods even getting IPs if Cilium can't even start? Are you runni

[2018-01-30 22:36] tgraf commented on #2662
@natemurthy Is it possible that there are iptables rules or similar which prevent the cilium pod running on the node itself from reaching etcd?

[2018-01-30 22:41] aanm commented on #2240
deprecated by #2626

[2018-01-30 22:41] #2240 closed, assigned to nobody

[2018-01-31 00:16] ianvernon opened #2685 "CI: add Makefile target to detect envoy version mismatch"
When running the developer VMs locally and they are left running for a long time, when a branch is  rebased against master, the version of Bazel installed in the VM might differ from that at `envoy/BAZEL_VERSION`. When trying to compile Cilium in such a situation, output like that below occurs:
[code]

Version of Bazel installed:
[code]

Version of Bazel stored in `envoy/BAZEL_VERSION`:

[code]

A

[2018-01-31 08:24] natemurthy commented on #2662
@manalibhutiyani Yes, I've tried this multiple times -- both deleting the pods and re-creating them, as well as tearing down the whole k8s cluster and rebuilding it.

@tgraf I don't have any special firewall rules in place other than the default iptables rules which are installed whenever a service is created.  I also tried running etcd in the same `kube-system` namespace as the Cilium daemon sets

[2018-01-31 09:07] nebril commented on #2662
@natemurthy are you spinning up your cluster with kops (sorry for asking, your cluster just looks a lot like default kops installation)? if yes, you need to specify several things:

- make sure that your kops cluster runs etcd >= 3.1.0, you can do that by `kops edit cluster $NAME` and adding `version: 3.1.11` line to `etcdMembers`
- spin the cluster up with `--networking cni` option
- in your cili

[2018-01-31 10:14] vadorovsky commented on #2591
@tgraf I like more the idea with `custom:` label source.

So, disabling and enabling every label should be possible, but only `custom:` labels should be mutable (it means - can change their content)? Sounds good to me.

Shall we create an another issue for that and close this one?

[2018-01-31 11:39] tgraf commented on #2591
Sounds good. Just refer to this one.

[2018-01-31 12:47] nebril commented on #2545
It was actually migrated in this PR.

[2018-01-31 12:47] #2545 closed, assigned to nebril

[2018-01-31 12:48] aanm opened #2688 "Change cilium vagrant image to 18.04 LTS"
We will switch to 17.10 which will be EOL around June 2018.

We need to switch the base images in April once 18.04 is release installed with the kernel 4.9 LTS to avoid getting bitten by the 17.10 EOL.

[2018-01-31 15:45] aanm opened #2689 "Skip envoy build (or reduce building time)"
It looks like envoy takes around 14 seconds to build even if the binary already exists.
[code]

Any solutions or ideas to skip it by default in the development environment?

[2018-01-31 16:05] tgraf commented on #2662
@natemurthy Can you reach etcd from a shell in the host? (see comment above). It is very weird that you can launch pods which then have connectivity if Cilium doesn't even come up. What is providing networking in that case?

[2018-01-31 16:19] raybejjani commented on #2662
I'm not sure how relevant this is. I've seen the `level=fatal msg="Unable to setup kvstore" error="grpc: timed out when dialling"` message in a development VM. It manifests when I restart the agent often, and I've fixed it by restarting the etcd instance then restarting cilium-agent. In this case, that might mean removing the etcd and cilium containers, then adding them back in.

[2018-01-31 21:51] joestringer opened #2691 "Add `cilium-health status` to cilium-bugtool"
It'd be nice to get a snapshot of the `cilium-health status` output when running `cilium-bugtool`.

[2018-01-31 22:13] joestringer commented on #2689
I think we just need to fix the Makefile dependencies. One starting point is to install `remake`, and use `remake --trace -C envoy/` to trace why the bazel target is being hit all the time. If we figure out why `make` thinks something is changing, then we should be able to avoid running bazel when nothing in the cilium-envoy code has changed.

[2018-02-01 05:08] jrajahalme commented on #2666
It is an upstream connection timeout:
[code]
We have a connect timeout of one second:
[code]

However, no matter how much I increase this it still happens, which tells me that packets from the proxy to the world are not getting through, need see whats going on the monitor.

[2018-02-01 06:07] sdboyer commented on #1972
if y'all need any help or guidance on this, i'm happy to provide it 😄

[2018-02-01 07:35] natemurthy commented on #2662
@nebril I am indeed using `kops` for creating my k8s clusters. I tried all 3 of your bullets and still had issues connecting my cilia to etcd.

I ran a `kops edit` followed by a `kops update` but saw no effect. I even tried this https://github.com/kubernetes/kops/issues/4236 (attributed to you :)), still no success. I also tried a `kops rolling-update` to drain and restart all the nodes and things

[2018-02-01 09:51] raybejjani commented on #2339
@ntaylor1781 Is there any chance that, in your setup, you had another network overlap with the node CIDR range? perhaps a network from docker (which defaults to using 172.17.0.0/16)? I saw another user report with the same range full behaviour and in that case it was due to a docker network that contained the range given to cilium. cilium-agent then attempts to not use these overlapping IPs, starv

[2018-02-01 13:10] vadorovsky opened #2695 "Introduce `custom:` label source and make all the others immutable"
Currently, Cilium allows to modify the content of all the labels after disabling them. For example, after creating a demo example with `app2` endpoint:

[code]

We shouldn't allow modyfing the value of the automatically applied labels, especially those coming from Kubernetes.

That's why the idea is to introduce the `custom:` label source, which will be only mutable label. For the other labels, it

[2018-02-01 14:54] nebril commented on #2662
@natemurthy I think you need to create a cluster from scratch in order to update etcd version.

Which kops version are you running?

These steps worked for me (there are some issues with node connectivity which are being worked out as part of #2372):
- `kops create` with cni networking
- `kops edit` - change etcd version from default
- `kops update --yes`
After apiserver starts being responsive cr

[2018-02-01 16:10] ntaylor1781 commented on #2339
Node CIDR range is 10.8.0.0/24, Docker is default 172.17.0.0/16, pod CIDR range is 10.2.0.0/16, service CIDR is 10.3.0.0/16, and finally we are using AVI load balancing which uses 172.18.0.0/16. No overlap. I do find it interesting that a simple restart of the cilium pod fixed it. It's also interesting that I couldn't get it to happen again after clearing all cilium files and settings off a host.

[2018-02-01 16:29] tgraf commented on #2666
OK, that makes sense. The policy does not allow egress to the outside world.

[2018-02-01 16:33] borkmann commented on #1567
pr #2696

[2018-02-01 16:33] #1567 closed, assigned to nobody

[2018-02-01 21:42] jrajahalme commented on #2666
Just verified on master as of Jan 4th that this same problem is there, and also when using golang proxy. With Oxy the proxy keeps trying for 2 minutes, but the host sends a RST on each SYN-ACK coming back:
[code]

[2018-02-01 22:20] ianvernon commented on #297
Related: https://github.com/sirupsen/logrus/issues/625

[2018-02-01 22:21] #1362 closed, assigned to nobody

[2018-02-01 22:23] jrajahalme commented on #2666
Same on db33c9340afaf726186dde57886586ac86b74b9b with Oxy proxy. I wonder if this has ever worked, or if the RST is introduced by a change in the Linux kernel?

To summarize:
1. Proxy initiates a new connection (TCP SYN) to the destination (google)
2. Google responds with a correct SYN-ACK (looks the same on tcpdump as the one w/o proxy)
3. Cilium host responds to Google with TCP RST.

Neither of

[2018-02-01 22:25] jrajahalme commented on #2666
Should have noticed your response a bit earlier :-)

How should the policy be modified to allow traffic to world?

[2018-02-01 22:42] jrajahalme commented on #2666
@tgraf IMO would be better drop traffic due to L3 before sending it to the proxy. And have the drop visible in cilium monitor :-)

[2018-02-01 22:47] jrajahalme commented on #2666
So the issue is that ToEntities and/or ToCIDR is not yet supported with ToPorts?

[2018-02-01 23:12] #1477 closed, assigned to nobody

[2018-02-02 00:07] aanm opened #2697 "CT entries are removed/reset every 5 minutes"
Verify what will be the outcome in the CT by running #2684 while policies are re-fetched from k8s.

[2018-02-02 00:13] tgraf commented on #2666
Agreed. This is what set me off and what made me initially believe this is a proxy bug.

The policy did not contain a `toEntities: world`

[2018-02-02 00:14] ianvernon opened #2698 "Cilium crashes infinitely if Kubernetes contains NetworkPolicy without PodSelector or NamespaceSelector"
`pkg/k8s/network_policy.go:parseNetworkPolicyPeer`, the code assumes that either the NamespaceSelector or the PodSelector fields of the `networkingV1.NetworkPolicyPeer` are populated. However, these fields are optional per the spec:
[code]

If either of these fields are not provided in any NetworkPolicy, Cilium infinitely crashes due to a nil pointer dereference. Allow for these fields to be nil a

[2018-02-02 00:19] joestringer commented on #2697
Nothing is changing in the policy, this regeneration is being triggered by this periodic trigger so the CT table should not be affected.

Separately, we run garbage collection every 10 seconds. If a connection has not received traffic in the last 5 minutes, we will delete the connection. In this case, if the application sends another packet after this period, we will simply drop the packet. This r

[2018-02-02 00:30] tgraf commented on #2697
Let's increase it to 2 hours.

I think this will cause more problems than it solves

I'm open to this. We discussed this earlier. There is no point in protecting the TCP stack so we just replace the logic that currently requires a SYN for a conntrack create and also remove the logic that deletes on RST.

[2018-02-02 00:30] tgraf commented on #2697
I will give this a shot, this has been bothering me long enough ;-)

[2018-02-02 00:54] ianvernon commented on #1699
Closing this - we should be using the Cilium bugtool in the Ginkgo tests. We don't have any runtime tests AFAIK for `cilium prefilter`, so this isn't high priority.

[2018-02-02 00:54] #1699 closed, assigned to nobody

[2018-02-02 01:44] tgraf opened #2701 "Cannot establish connection to local cilium instance error on every agent start"
[code]

[2018-02-02 02:57] joestringer commented on #2701
I think this is the same as #2627, I'm not able to reliably reproduce it but I suspect it occurs when there's some trouble with connectivity to the ~~kvstore~~ containerd which blocks cilium before connecting to the API. We could defer running the cilium-health daemon until after this connectivity is established then I think this should go away.

[2018-02-02 05:35] natemurthy commented on #2662
@nebril Yes, I've been creating my clusters from scratch. Pretty much each time I've posted to this issue tracker I've rebuilt the cluster maybe two or three times between posts, each time with different variations based on suggestions in this thread. Here is the command I used to launch my cluster with CNI enabled:

[code]

What I can't figure out at the moment is why I am unable connect to the a

[2018-02-02 10:33] nebril commented on #2662
@natemurthy I think you may be experiencing a variation of this kops issue: https://github.com/kubernetes/kops/issues/4156 which is not really cilium-related. You can verify that this happens to you by sshing to your master node and checking out `systemctl` output (look for `cloud-final` and `kops-configuration` services). These are the steps that I took when I had this problem: https://github.com

[2018-02-02 10:57] raybejjani commented on #2339
Bummer. It definitely sounds like a race, as you said, I just don't know how it's happening. If I do, I'll post here again. Thanks!

[2018-02-02 13:06] aanm commented on #1972
@sdboyer Thanks! We are just waiting for the release of golang 1.10 which will contain `dep` and we will start moving from `vndr`. Is `dep` already built in `go1.10rc1`?

[2018-02-02 18:58] ianvernon opened #2706 "Ginkgo CI: Check if `helpers.CreateNewRuntimeHelper` returns nil in callers"
The following output from Jenkins has panics, which are unfriendly to users of the Ginkgo test framework:
[code]

the test failed due to the following logic in `test/runtime/monitor.go` not checking if `vm` is nil, which `helpers.CreateNewRuntimeHelper` can return:
[code]

Add checks to callers of `helpers.CreateNewRuntimeHelper` to ensure that vm is not nil. If it is, fail the test gracefully and

[2018-02-02 19:19] joestringer commented on #2706
It's "interesting" that `InitRuntimeHelper()` was able to run `node.Exec("ls /tmp/")`, but `node.SetPolicyEnforcement(...)` fails in a nil pointer dereference deep in the node code under `Exec(...)`. Seems like the SSHMeta should be set up correctly at this point.

[2018-02-05 05:56] natemurthy commented on #2662
@nebril I don't appear to be having any cert errors. Here are the logs from the `kops-configuration` service on my master node:
[code]
Can't find anything from the `cloud-final` service:
[code]

With CNI networking enabled, I also avoided appending `--yes` to `kops create` and `kops edit` until I ran the `kops update` command. Although I can SSH into my nodes, I can't connect to the apiserver:
[co

[2018-02-05 08:36] eloycoto opened #2707 "Ginkgo: Kafka test issues"
I've seen the following error in the last days of testing.

[code]
Cilium.log
[code]

https://github.com/cilium/cilium/blob/a1b540462ff16be31a7d2e22364174c6abe57d07/pkg/proxy/proxy.go#L365-L375

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1252/

Attached ginkgo logs.

[RuntimeKafkaKafkaPolicyIngress.zip](https://github.com/cilium/cilium/files/1694358/RuntimeKafkaKafkaPolicyIngress.zip)

[2018-02-05 09:16] raybejjani commented on #2707
I don't know much about the proxy stuff, but if we're seeing this only in CI I wonder if we accidentally bypass/don't wait for the kafka proxy releasing it's ports and then use the same one. In particular, 9092 is a default port for kafka, I think.

[2018-02-05 09:42] tgraf commented on #2707
The port in the log is the filter port, not the port the proxy will listen on. I think there are three different possible explanations:
 - The proxy of the given is still shutting down and the port is not available yet but we have already released it from the list of allocated pots
 - The kernel refuses to listen despite using `SO_REUSEPORT`. (Most likely scenario)
 - There is a bug and we allocat

[2018-02-05 10:09] nebril commented on #2662
@natemurthy thanks for the info, will follow the kops issue.

[2018-02-05 11:03] raybejjani commented on #2525
These have a slightly modified set in https://github.com/cilium/cilium/blob/master/test/runtime/Policies.go#L496

[2018-02-05 11:03] #2525 closed, assigned to raybejjani

[2018-02-05 15:23] tgraf opened #2709 "Stopping ciliumginkgotests358_consul_1 ... error"
https://jenkins.cilium.io/job/Cilium-Ginkgo-Tests/358/execution/node/30/log/

[code]

[2018-02-05 15:36] tgraf opened #2710 "Failure to start ginkgo VM"
The bootup sequence of ginkgo is very fragile

[code]

[code]

[2018-02-05 16:57] tgraf opened #2711 "Endpoint does not inherit CIDR policy automatically"
Observed in tests on PR: https://github.com/cilium/cilium/pull/2708

Likely caused by changed trigger when policy is being recalculated

[2018-02-05 17:15] ianvernon commented on #2711
Since the test runs are not kept for a long time, can you please provide the build output / link to logs / artifacts so that they are not lost?

[2018-02-05 18:57] ianvernon opened #2713 "CLI: incorrect formatting of error messages"
Excerpt from a build that failed shows improper ordering in log message:
[code]

Flip the order of the 'namespace' and 'pod name' arguments in this log message.

[2018-02-05 20:06] tgraf commented on #2711
Removing the timeout from the ping, the ping automatically starts working after about 5 minutes. This matches the regular regeneration interval.

[code]

[2018-02-05 20:32] tgraf commented on #2711
In the initial endpoint generation, the endpoint is not regenerated after the initial policy calculation.

[2018-02-05 20:33] tgraf commented on #2711
The header file is generated before the policy is calculated:
[code]

[...]

[code]

[2018-02-05 20:48] #2698 closed, assigned to ianvernon

[2018-02-05 20:59] ianvernon opened #2716 "Ginkgo CI: remove KubectlPolicyNameLabel constant and use pkg/annotation"
#2072 adds a new package for annotations, but was not merged when #2648 was merged. Make the Ginkgo tests use the annotation from the package instead of the `KubectlPolicyNameLabel` constant added in the Ginkgo package.

[2018-02-05 21:29] ianvernon commented on #2534
Done by https://github.com/cilium/cilium/pull/2648

[2018-02-05 21:29] #2534 closed, assigned to eloycoto

[2018-02-05 23:20] #2711 closed, assigned to tgraf

[2018-02-05 23:48] ianvernon opened #2722 "Label-based egress: plumbing of policy"
Plumb the data added via cilium (`cilium policy import`) and via Kubernetes into the policy repository.

Parent: #1488

[2018-02-05 23:58] ianvernon commented on #1956
@eloycoto can I close this?

[2018-02-06 00:21] #2308 closed, assigned to nobody

[2018-02-06 07:53] eloycoto commented on #1956
Yes!

[2018-02-06 07:53] #1956 closed, assigned to nobody

[2018-02-06 07:58] eloycoto commented on #2709
Attached full log.
[consoleText.txt](https://github.com/cilium/cilium/files/1698226/consoleText.txt)

[2018-02-06 08:15] #2713 closed, assigned to ianvernon

[2018-02-06 13:17] #2643 closed, assigned to aalemayhu

[2018-02-06 13:19] #1916 closed, assigned to eloycoto, aanm

[2018-02-06 13:19] #2408 closed, assigned to aanm

[2018-02-06 13:19] #2569 closed, assigned to aanm

[2018-02-06 16:03] eloycoto opened #2729 "Ginkgo: Add test to check multiple --from --to in monitor"
https://github.com/cilium/cilium/pull/2727

[2018-02-06 16:50] ianvernon commented on #1488
Note: make size of first (global) map configurable (IP to security ID). Cache that is synchronized in the BPF datapath.
On policy generation, for each identity need to list other identities that can be talked to (Consumable).
Two phase approach is preferable, especially in case of L3-dependent L4. For ingress, key for lookup contains src identity + destination port (L3-dependent L4). If we do the

[2018-02-06 17:51] tgraf commented on #2709
I've submitted the respective change as individual PR:
https://github.com/cilium/cilium/pull/2730

[2018-02-06 18:25] ianvernon opened #2731 "Deleting then adding a policy in quick succession causes invocation of wrong Kubernetes NetworkPolicy watcher"
Context:

Cilium has not updated its parsing of v1beta1 Kubernetes NetworkPolicy in some time. As such, since new fields have been added to NetworkPolicy (IPBlock and Egress Policy), the version of the policy being imported is important in terms of what gets parsed by Cilium.

### How to reproduce the issue

1. Boot the Kubernetes Cilium VM on master (`K8S=1 ./contrib/vagrant/start.sh`
2. Import t

[2018-02-06 20:11] manalibhutiyani opened #2732 "Fix kube-dns in gingko framework to avoid connectivity issues in multinode setup"
I see this issue on Kafka GSG multinode setup, where kube-dns continuously restarts if Kafka broker/zookeeper queries it a lot of times. Due to this, connectivity between Kafka and Zoopkeeper fails intermittently, and causes Kafka broker to crash. This only happens in a multinode environment on ginkgo.

Current version

[code]

This leads to `dnsmasq ` failing with following logs:

[code]

This is

[2018-02-06 20:16] manalibhutiyani commented on #2602
Currently blocked on #2732

[2018-02-06 20:27] ianvernon commented on #2732
What version should it be updated to?

[2018-02-06 20:29] manalibhutiyani commented on #2732
I believe it was 1.14.5, but @eloycoto and @aanm can comment better on this

[2018-02-06 22:43] joestringer opened #2733 "cilium prefilter documentation (cmdref) broken links"
All of the links under the "SEE ALSO" section here are dead:

http://cilium.readthedocs.io/en/latest/cmdref/cilium_prefilter/?highlight=prefilter

~Most likely we just need to run the cmdref and commit the results.~

[2018-02-07 01:14] joestringer commented on #2644
This should be fixed by #2700.

[2018-02-07 13:28] nebril opened #2738 "Monitor should be able to match security identities"
### Monitor should be able to match security identities

Right now `cilium monitor` flags allow to filter monitor events only by endpoint id. Ability to filter by security identity should be added.

[2018-02-07 14:08] nebril commented on #2738
It turned out this is a duplicate and should be resolved by #1488 and #2552

[2018-02-07 14:08] #2738 closed, assigned to nebril

[2018-02-07 15:05] tgraf commented on #2446
L7 records are available via he monitor API now, no need for this anymore.

[2018-02-07 15:05] #2446 closed, assigned to nebril

[2018-02-07 16:41] #915 closed, assigned to tgraf

[2018-02-07 16:41] #2629 closed, assigned to nobody

[2018-02-07 17:02] #2731 closed, assigned to aanm

[2018-02-07 19:06] rlenglet opened #2743 "Remove RedirectPort field from PortRule in policy"
The `redirectPort` field in the policy API's PortRule is not tested, not officially documented, and doesn't work in some cases, notably whenever any L7 rule applies to the same port.
Moreover, K8s's NetworkPolicy doesn't have any such field. Such port redirection can be implemented by K8s services, so it's redundant.

https://github.com/cilium/cilium/blob/24f254af879e214a5b35f3e7667ebc8cc17a61e9/p

[2018-02-07 20:30] manalibhutiyani commented on #2732
Hello, I still see this issue with latest/master

[code]

[2018-02-07 20:34] eloycoto commented on #2707
hi!

finally i can reproduce the issue and i tried to fixed but i think that it's envoy internal.

workflow to reproduce:

[code]

l7.json
[code]

when you apply the policy a new port is allocated, and you can see in the `ss -putan` output

[code]

when you delete the policy `cilium policy delete --all` the
`proxy.allocatedports` are empty, and the signal to envoy is sent[0] i can see the call in

[2018-02-07 20:49] tgraf commented on #2707
I'll let @jrajahalme comment first on Envoy behaviour. We can definitely avoid reusing ports for longer to avoid this problem but we need to understand the behaviour of Envoy. Part of the problem might be that Envoy is not using `SO_REUSEPORT`?

[2018-02-07 21:06] jrajahalme commented on #2707
@eloycoto It would be helpful to see the Errors in envoy log for the failed re-use of the port 10000.

Anyway, Envoy does not immediately destroy the listener (and close the socket), see this comment in Envoy sources:
[code]

But on the other hand it should be able to pass sockets from draining listeners to new ones when they use the same address and port. I think this should also work across rest

[2018-02-07 21:25] eloycoto commented on #2707
Hi,

I'll post tomorrow, the main issue is when a Kafka proxy starts on that port, not envoy

Regards

[2018-02-07 21:26] aanm opened #2744 "Unable to start cilium-agent due xtables lock"
More info: https://jenkins.cilium.io/job/Cilium-Bash-Tests/424/execution/node/32/log/

[code]

[2018-02-07 21:59] ianvernon opened #2746 "Ginkgo CI: get `cilium kvstore` commands in report commands"
With the addition of the new `cilium kvstore` commands in #2708 , we should consume them in the CI for debugging purposes.

[2018-02-07 22:15] tgraf commented on #2744
I don't think we can do anything here but fail.

[2018-02-07 22:17] tgraf commented on #2707
I've submitted https://github.com/cilium/cilium/pull/2747 to implement:
 * Delay port released
 * Random port number allocation

[2018-02-07 22:28] aanm opened #2748 "Clean endpoints bpf map on restart"

[2018-02-07 22:30] aanm commented on #2744
the `-w` option is not an option?

[2018-02-07 22:34] tgraf commented on #2744
https://github.com/kubernetes/kubernetes/issues/7370

[2018-02-07 22:35] tgraf commented on #2744
We can delay startup and retry but I'm not sure that is any better. Failing indicates that something is wrong and the Cilium pod will get restarted.

[2018-02-07 22:36] tgraf commented on #2744
https://github.com/kubernetes/kubernetes/pull/29135

[2018-02-07 22:37] tgraf commented on #2744
So we have a couple of options:
 * We can write our own iptables abstraction package which uses `-w` when available
 * Use the Kubernetes pkg and call `EnsureRule()`

[2018-02-07 22:54] ianvernon opened #2749 "bugtool: add `cilium status --all-controllers`"
Show status of all controllers in bugtool.

[2018-02-08 00:08] manalibhutiyani opened #2750 "kube-dns does not respond or takes more than 5 sec to respond on Ginkgo CI multinode setup"
I have been trying to do the Kafka GSG setup on gingko and I see that kube-dns intermittently stops responding to queries by Kafka for zookeeper service. It sometimes takes more than 5 seconds to respond back.

We ran tcpdump on kube-dns and checking for udp port 53:

Output of no response:
Tcpdump on kube-dns pod veth device:
[code]

Trying to do a nslookup intermittently worked:

[code]

Times i

[2018-02-08 01:18] ianvernon commented on #2750
Does this happen as well in the bash-script based multinode K8s setup that we have?

[2018-02-08 02:18] joestringer commented on #2750
From the tcpdump output, it appears that when the setup gets into this state, there is a several second delay between the request going into the kube-dns pod and the response coming out. From earlier inspection with @manalibhutiyani , the kube-dns pod has three containers:

* dnsmasq, listening on port 53
* kube-dns, listening on port 10053
* sidecar, which appears to be responsible for metrics

U

[2018-02-08 02:35] manalibhutiyani commented on #2750
I see related similar issues:
https://github.com/gardener/gardener/issues/57
https://github.com/kubernetes/kubernetes/issues/56903
https://github.com/kubernetes/dns/issues/96
https://github.com/kubernetes/kubernetes/issues/45976

[2018-02-08 04:50] #2743 closed, assigned to nobody

[2018-02-08 05:51] manalibhutiyani commented on #2602
Blocked by kube-dns connectivity issues:  #2750 and #2732

[2018-02-08 05:59] manalibhutiyani commented on #2267
Closing since this access log will be deprecating soon in favor of monitor only logs

[2018-02-08 05:59] #2267 closed, assigned to manalibhutiyani

[2018-02-08 08:13] danwent opened #2752 "Cilium Connection Tracking Seems to Prevent Final Tear-Down of Connections from Proxy"
I was about to use cilium monitor to debug an issue in a minikube environment that had been running a while with cilium latest.   But when I fired up cilium monitor with --related-to referring to the pod of interest, I saw there was already a flood of conntrack drops:

[code]

(see attached log for full list)

Interestingly, these all seem to be dropped FINs from the proxy (10.15.28.238) to epheme

[2018-02-08 08:59] eloycoto commented on #2750
Same as #2732

[2018-02-08 10:16] tgraf commented on #2624
Fixed by #2708

[2018-02-08 10:16] #2624 closed, assigned to tgraf

[2018-02-08 10:17] tgraf commented on #2605
Fixed by #2708

[2018-02-08 10:17] #2605 closed, assigned to tgraf

[2018-02-08 10:17] tgraf commented on #2482
Fixed by #2708

[2018-02-08 10:17] #2482 closed, assigned to tgraf

[2018-02-08 11:25] eloycoto commented on #2750
Hi!

I think that I tracked down the issue. It's not a cilium issue, or connectivity issue, it's more related with the Alpine Linux.

Alpine Linux looks like that has a lot of problems with DNS, and here a few issues:

- https://github.com/gliderlabs/docker-alpine/issues/313
- https://forums.docker.com/t/resolved-service-name-resolution-broken-on-alpine-and-docker-1-11-1-cs1/19307/21

In the other

[2018-02-08 15:56] #2495 closed, assigned to tgraf

[2018-02-08 15:56] #2505 closed, assigned to nobody

[2018-02-08 16:35] #2744 closed, assigned to nobody

[2018-02-08 17:28] eloycoto commented on #2709
Fixed  in the PR #2730

[2018-02-08 17:28] #2709 closed, assigned to eloycoto

[2018-02-08 18:03] eloycoto commented on #2707
Hi @jrajahalme

The logs from envoy:

[code]

The policy was deleted at 17:53 and after a few min the port is still listening:
[code]

[2018-02-08 19:12] manalibhutiyani commented on #2750
@eloycoto : I changed the image to `spotify/kafka` and although Kafka broker is not crashing, I am unable to communicate between producer and consumer.
Note that Spotify/kafka already has zookeeper and Kafka in the same image, and we do not need to start another zookeeper service for it.

[code]

[code]

[code]

kube-dns errors I still see:
[code]

[2018-02-08 20:42] manalibhutiyani commented on #2750
@eloycoto

I am still getting the same connectivity issue:

[code]

I am trying with the Spotify/kafka image you recommended me to use:

The Kafka is not crashing because in this image zookeeper and Kafka are in the same container image.
But the communication with external pods like producer / consumer still needs to go via kube-dns and is not permitted.

[code]

[code]

[2018-02-08 20:46] manalibhutiyani commented on #2750
My yaml file looks like this:
[code]

Kakfa logs (which show that zookeeper is in the same container)

[code]

[2018-02-08 20:51] techcet opened #2760 "Add protocol-aware policy for Redis"
Users are interested in having policy based on Redis workloads. Creating issue for tracking community interest.

Redis is typically used as a database store, caching, or message broker.

Please give a thumbs up if you have a use case for it.

[2018-02-08 21:01] manalibhutiyani commented on #2750
@eloycoto As you can see, its still dns that's the issue:

As you can see, `nslookup` intermittently works , or takes a lot of time to respond, due to which the producer times out.
Changing the image is not going to help since inherently the problem is still there.

It was earlier seen in Kafka broker and now is see in producer /consumer clients...

[code]

[2018-02-08 21:43] #2056 closed, assigned to tgraf

[2018-02-08 21:43] #2697 closed, assigned to tgraf

[2018-02-08 22:21] tgraf commented on #2752
This is very likely resolved via #2700

[2018-02-09 05:10] ianvernon opened #2765 "Ginkgo CI: add check for deadlocks in AfterEach"
For the Bash script based tests, we have `tests/99-deadlock-check.sh`, and `tests/k8s/tests/999-deadlock-check.sh`. Add a similar check to the Ginkgo framework. I recommend we do this after each Ginkgo test in an `AfterEach`.

[2018-02-09 08:22] #2627 closed, assigned to nobody

[2018-02-09 13:14] borkmann commented on #2144
cc @tgraf

TODO items for myself:
 - Find ways to work around complexity limitation on older kernels (4.9)
 - Evaluate missed pruning opportunities on upstream wrt Cilium
 - Verifier pruning introspection API & addition to bpftool

[2018-02-09 13:17] borkmann commented on #1515
(bumping prio as we use tail calls heavily)

[2018-02-09 13:29] nebril commented on #2533
Seems like `test/runtime/connectivity.go` checks everything that is checked in `tests/01-ct.sh`

Main differences:
- bidirectional connectivity is always checked (this seems reasonable)
- only two containers are created in ginkgo test, each test case has it's own policy instead of creating more containers at the beginning of the test and having big policy covering all test cases. This seems like i

[2018-02-09 13:29] #2533 closed, assigned to nebril

[2018-02-09 16:35] danwent commented on #2760
I've definitely had several discussions about it as well.

[2018-02-09 16:44] tgraf commented on #1552
Resolved via #2708

[2018-02-09 16:44] #1552 closed, assigned to manalibhutiyani

[2018-02-09 16:52] tgraf opened #2770 "Optimize optiopay/kafka parser"
There is a lot of optimisation potential in the Kafka parser to enhance throughput and reduce latency
- [ ] Avoid multiple copies of the data
- [ ] Parse stream based instead of copying the entire request first
- [ ] Have a feedback mechanism to start parsing slower on write congestion

[2018-02-09 17:02] jrfastab commented on #2770
Related most likely, for BPF we need to do exact matches using a radix-tree instead of the for-loop over rules I saw in kafka logic. The idea is to do initial parse over packet into fields and then for exact match each 'letter' in a topic is node in the radix tree and if the topic string ends at a leaf node in the radix tree the topic is allowed otherwise it is a _not_ allowed. Same applies to oth

[2018-02-09 22:52] ianvernon commented on #2561
Closing in favor of #1841 , as there is a lot of overlap between that ticket and this one.

[2018-02-09 22:52] #2561 closed, assigned to nobody

[2018-02-09 23:34] manalibhutiyani commented on #2053
@thoslin This issue should be fixed in master. Could you check and confirm if things work on your side?

[2018-02-10 07:16] ianvernon commented on #2530
The bash-script version of this test has been disabled for some time. Do we really need it in the Ginkgo framework?

[2018-02-11 13:41] aanm opened #2788 "Make endpoint.WaitForProxyCompletions aware of regenerateBPF processing time"
I've noticed when the system is with a heavy load, the regenerateBPF on line 769 can take more than 10 seconds to build. This causes `endpoint.WaitForProxyCompletions` to fail immediately, since its context has a timeout of 10 seconds, setting the endpoint to `not-ready` state until a new policy regeneration is triggered (which only happens after 5 minutes in a kubernetes cluster).

https://github

[2018-02-11 19:58] ianvernon commented on #2750
Can this be closed since https://github.com/cilium/packer-ci-build/pull/18 was merged?

[2018-02-11 19:59] ianvernon commented on #2529
Fixed by https://github.com/cilium/cilium/pull/2783

[2018-02-11 19:59] #2529 closed, assigned to ianvernon

[2018-02-11 20:01] ianvernon commented on #1500
The latest conntrack fixes should address this.

[2018-02-11 20:02] ianvernon commented on #1212
FYI: the bash test has been deprecated as part of the move to the Ginkgo framework, but the corresponding Ginkgo test `test/runtime/lb.go` covers all of the same functionality that the bash test does.

[2018-02-11 22:00] #2750 closed, assigned to eloycoto

[2018-02-11 22:00] #2732 closed, assigned to eloycoto

[2018-02-12 01:43] #2530 closed, assigned to aanm

[2018-02-12 16:02] #2531 closed, assigned to ianvernon

[2018-02-12 18:17] #2631 closed, assigned to vadorovsky

[2018-02-12 18:36] rlenglet commented on #2788
The completion timeout duration is arbitrary. It only has to be set to some finite duration, just to make sure the agent doesn't get stuck forever in some corner cases (proxy unresponsive, etc.).
Let's just bump the timeout to 1 minute in the couple places where we create the WaitGroup. I think this can be a 2-liner.

[2018-02-12 18:37] rlenglet commented on #2788
@aanm Any concern with just bumping up the timeout?

[2018-02-12 23:36] rlenglet commented on #2788
Discussed with @aanm and @jrajahalme, and found a better fix, out for review in https://github.com/cilium/cilium/pull/2794.

The wait group `Daemon.deleteEndpoint` wait group was already OK with a 10-second timeout. Reverting it to 10 seconds.

The wait group used for regeneration can be made local to `Endpoint.regenerateBPF` and its timeout set back to 10 seconds. We also now wait for proxy compl

[2018-02-13 00:31] ianvernon opened #2795 "remove 'ReverseRules' from Consumable"
Example:
If we want to allow identity B to have ingress traffic from identity A, then without connection tracking enabled, we have to allow ingress traffic to A from B as well so that A can receive replies from B - traffic must be allowed in both directions. As such, the structures within Cilium for policy have to know that identity B is allowed to receive traffic from identity A, and vice versa.

[2018-02-13 00:59] joestringer commented on #2795
That sounds like a pretty intuitive argument which I'm inclined to agree with. My guess would be that when this L4Policy check (and therefore L7 policy check) was introduced, the "disable CT" endpoint option was not considered. I believe that proxy_port is tightly coupled to CT in the datapath at the moment, so if we 'fixed' this to respect the user's wish to disable conntrack, it may end up break

[2018-02-13 02:06] rlenglet opened #2796 "L7 redirects are not properly deleted"
We see regularly such warning messages in the logs:
[code]

Those messages are logged in `Proxy.RemoveRedirect` (`pkg/proxy/proxy.go`), when attempting to delete a non-existent redirect. This should not happen when Cilium is healthy, but we still see those messages regularly.

This is a symptom that Cilium is not properly deleting redirects, and may leave orphan redirect ports open in proxies.

Th

[2018-02-13 02:10] rlenglet commented on #2796
@tgraf Could that be the cause of the leftover redirects issue we've hit recently?

[2018-02-13 04:37] rlenglet commented on #2796
Moving the call to `removeCollectedRedirects` into `regenerateBPF` after the call to `regeneratePolicy` improved the situation, but that was not enough. I still saw the same warning messages, but mostly preceded by `Skipping policy recalculation` log messages which indicated that `Endpoint.regeneratePolicy` skipped the call to `Endpoint.regenerateConsumable`, and therefore the `Endpoint.proxiesToR

[2018-02-13 06:06] techcet opened #2797 "Cilium log entry needs appropriate log level (info/warn vs ERROR)"
While debugging source endpoint labels observed as null in the cilium access log, the following ERROR was observed using `kubectl logs cilium-xxxxx':

[code]

This `ERROR` was diagnosed as harmless, thus should be logged at a less severe level, like info or warn, to avoid alarming the operator and saving the operator time for investigating the error.

More environment details:
`cilium/cilium:v0.13

[2018-02-13 08:50] eloycoto commented on #2796
Hi @rlenglet

When you kill a container, I think that delete a redirect happens two times, one on stop event, and another one in delete event. Maybe it's related to that, but I'm not sure, I saw that last week too in issue #2707

[2018-02-13 09:34] borkmann opened #2799 "Cilium allow for seamless datapath map live updates"
Commits like 444aa65b47bb2b3 are a bit problematic with regards to live updates of Cilium in that the map properties change and thus the loader will try to retrieve already pinned maps first and find that they don't match the properties from the object file. With regards to calls, it's still fairly straight forward in that the daemon could temporarily rename those pinned maps, reload its programs

[2018-02-13 10:48] eloycoto opened #2800 "Cilium service list empty using kubernetes 1.9.3"
When I tried to add kubernetes 1.9 in CI I found the following issue:

Kubectl service list:
[code]

Service list in cilium:

[code]

HTTP call to service works:
[code]

Error message:
[code]

manifest:
[code]

Nodes:
[code]

[2018-02-13 14:34] rlenglet commented on #2796
@eloycoto no, endpoint delete was fine. That code is much simpler and works.
The problem I saw was with policy updates and regeneration.

[2018-02-13 16:21] ianvernon opened #2803 "Remove redundancy of endpoint SecLabel vs. Consumable"
The SecLabel field appears to be able to be collapsed within the Consumable structure. By collapsing the SecLabel structure and its fields to be within the Consumable, the representation of policy for an endpoint is much cleaner as it is contained within one data structure. Furthermore, this puts more state in the Consumable, which is shared across all endpoints sharing the same security identity

[2018-02-13 16:57] aanm commented on #2797
Duplicate of: https://github.com/cilium/cilium/issues/1977 https://github.com/cilium/cilium/issues/2523

"expected usage pattern" in upstream k8s: https://github.com/kubernetes/kubernetes/issues/55230#issuecomment-342632961

[2018-02-13 16:57] #2797 closed, assigned to joestringer

[2018-02-13 17:16] ianvernon commented on #2795
After discussion with @tgraf, we can rip the ReverseRules out of the Consumable. I checked at what points in the ConsumableCache where identities are added to the Cache:

The only time the cache is added to is in this function:
`pkg/policy/cache.go`:
[code]

And this function is only called twice in Cilium:
* `pkg/policy/cache.go:Init`, in which all reserved identities are added to the Cache.
* `p

[2018-02-13 19:08] joestringer opened #2805 "Use kernel sockets list to relate traffic with initiating direction"
Background
---

Policy is defined upon a set of endpoints based on labels. When a user writes a policy to allow some kind of traffic to be admitted into/out of a set of endpoints, the policy is intended to allow not just the exact traffic that is specified, but to allow the connections for this traffic - ie, there's no use in allowing inbound traffic from A->B without also allowing the reverse tra

[2018-02-13 21:56] michi-covalent opened #2808 "id allocator panic: index out of range"
i saw this panic with cilium/cilium:v0.13.1:

[code]

[code]

[2018-02-13 22:01] ianvernon commented on #2808
The panic appears to be from the monitor?:

`pkg/monitor/monitor.go`:
[code]

[2018-02-13 23:30] aanm commented on #2808
~the panic is because of the int cast of an unsigned int64~
[code]

[2018-02-13 23:35] ianvernon opened #2809 "`cilium kvstore` fails on master with Consul running in developer VMs"
Reproducing steps:

* checkout master
* start the developer VMs:
```./contrib/vagrant/start.sh```
* check that `cilium status` shows that the key-value store is running:

[code]

* run `cilium kvstore get`, which fails:
[code]

Expected behavior:

Since `cilium status` shows that the key-value store is connected, `cilium kvstore` should be able to dump the contents of the key-value store.

[2018-02-13 23:52] aanm commented on #2809
Can you get any data from consul on that IP?

[2018-02-13 23:54] aanm opened #2810 "Add option to define path of cilium-envoy.log and add log rotation to the log file"
It's currently being placed under `{state-dir}/cilium-envoy.log`. We should be able to change this

[2018-02-14 00:14] jrajahalme commented on #2810
Right, with debug logging the volume hosting the state dir can fill up fast.

[2018-02-14 00:15] ianvernon commented on #2809
Turns out that you have to provide the prefix for Consul, otherwise it complains:

Successful case:
[code]

Error case:
[code]

[2018-02-14 00:16] ianvernon commented on #2809
If you use `--recursive` with `/` it works, though:
[code]

[2018-02-14 01:34] ianvernon opened #2812 "Fix Error while inserting service in LB map" error="Not an IPv6 address""
Update functions like the following to have the error contain what IP is passed in for easier debugging.

[code]

[2018-02-14 04:57] tgraf commented on #2799
We have already declared several maps non-persistent which causes such maps to be deleted before they get recreated. We already do this for the proxymap.

Do we even need to pin the non-policy calls map?

[code]

[2018-02-14 05:46] tgraf commented on #2809
As discussed, this is a consul requirement. We can improve the CLI always add a `/` for all keys with consul

[2018-02-14 09:40] borkmann commented on #2799
Yes, we need to pin all kind of call maps as otherwise they would flush their programs (urefs dropping to zero if there are no user space reference points anymore - needed to break up circular dependencies between prog/tail call maps).

[2018-02-14 10:13] eloycoto commented on #2588
I didn't see this in the last month. I close the issue.

[2018-02-14 10:14] eloycoto commented on #2422
Fixed by https://github.com/cilium/cilium/pull/2756

[2018-02-14 10:14] #2422 closed, assigned to eloycoto

[2018-02-14 11:10] aanm commented on #2808
@tgraf `math/rand` is not safe for concurrent access we need to have a (write) lock for the `idRandomizer`

[2018-02-14 12:33] aanm commented on #2800
@eloycoto was there any policy loaded? Can you replicate the issue?

[2018-02-14 14:26] eloycoto commented on #2800
Hi @aanm

No policies in place, but CNP does not work too:

[code]

Full log:
[code]

[2018-02-14 14:32] raybejjani commented on #2800
Testing with a minikube 0.25 (and k8s 1.9) I don't see the same error about $ref but I do see
`level=warning msg="Error while enabling k8s watcher" error="unable to retrieve kubernetes serverversion: Malformed version: ."`
and no CNP CRD is created... I'll dig some more

[2018-02-14 14:41] raybejjani commented on #2800
oh, my error is because of this bad json. I will fix my agent up and try to repro the error eloycoto saw
[code]

[2018-02-14 16:34] tgraf commented on #2808
Ah! Good catch!

[2018-02-14 17:37] raybejjani commented on #2800
Ok. This is specific to 1.9.3 because:
`CustomResourceDefinitions: OpenAPI v3 validation schemas containing $ref references are no longer permitted (valid references could not be constructed previously because property ids were not permitted either). Before upgrading, ensure CRD definitions do not include those $ref fields. (#58438, @carlory)`

https://github.com/kubernetes/kubernetes/blob/master/

[2018-02-14 17:39] #2532 closed, assigned to tgraf

[2018-02-14 22:08] aanm opened #2818 "Nightly test flake Policies Applying policies to 20 pods in a group of 5"
The PR https://github.com/cilium/cilium/pull/2817 has failed. I've noticed the output was quite odd so I've downloaded the zip file and place it here for further investigation

[code]

test results of that PR:

[test_results.zip](https://github.com/cilium/cilium/files/1725806/test_results.zip)

[2018-02-14 22:14] ianvernon opened #2819 "Ginkgo CI: run `tests-envoy` target during builds"
i’ve noticed a disparity between the Makefile targets for running unit tests with the Ginkgo framework vs. in the Bash framework. the `tests` target is the following:
[code]

while the `tests-ginkgo` target is the following:
[code]

which doesn’t run `tests-envoy` at all. from within Docker Compose, we run the `tests-ginkgo-real` target:
[code]

As such, we need to run `tests-envoy` as part of the

[2018-02-15 00:26] #2788 closed, assigned to rlenglet

[2018-02-15 00:26] #2796 closed, assigned to rlenglet

[2018-02-15 00:49] joestringer commented on #2749
This should be already handled through `cilium debuginfo`:

https://github.com/cilium/cilium/blob/afd1d5b9cddb074f1412bb226cbf8a82a74b0e08/bugtool/cmd/configuration.go#L207

https://github.com/cilium/cilium/blob/afd1d5b9cddb074f1412bb226cbf8a82a74b0e08/cilium/cmd/debuginfo.go#L72

https://github.com/cilium/cilium/blob/afd1d5b9cddb074f1412bb226cbf8a82a74b0e08/pkg/client/client.go#L146

However, thi

[2018-02-15 02:28] #2808 closed, assigned to tgraf

[2018-02-15 02:49] manalibhutiyani opened #2824 "kafka: Use policy identity cache to lookup identity for L3 dependant L7"

[2018-02-15 09:35] #2800 closed, assigned to raybejjani

[2018-02-15 18:14] joestringer opened #2829 "Gather cilium-envoy.log in bugtool"
Doesn't look like the cilium-envoy log is gathered in bugtool output:

[code]

[2018-02-15 19:36] #2824 closed, assigned to manalibhutiyani

[2018-02-15 19:37] manalibhutiyani opened #2833 "Failing to log in monitor/access log if the golang proxy drops any request due to a L3 rule mismatch"
We saw this scenario in #2824,during Kafka testing where even if we were denying requests due to L3 rule mismatch, we were not log it anywhere in access logs as well as monitor. This needs to be fixed.

[2018-02-15 19:52] manalibhutiyani opened #2834 "Kafka : Unable to parse Kafka request" error"
2018-02-15T19:45:36.700479287Z level=error msg="Unable to parse Kafka request" error="read tcp 10.15.28.238:13615->10.15.202.84:42038: use of closed network connection"
2018-02-15T19:45:36.700483561Z level=error msg="Unable to parse Kafka request" error="read tcp 10.15.28.238:13615->10.15.202.84:42038: use of closed network connection"
2018-02-15T19:45:36.700487149Z level=error msg="Unable to pars

[2018-02-15 19:53] ianvernon opened #2835 "Ginkgo RuntimeValidatedConntrackTest does not work as intended"
The test sets Cilium's policy enforcement mode to 'default' when it begins. This mode means that if no policy rules are imported into Cilium, then traffic is allowed.

The test also does not import any policy into Cilium. Thus, since no policy is imported, all traffic is allowed by Cilium. From what I understand, the testing changing of the `Conntrack` and `ConntrackLocal` options for Cilium given

[2018-02-15 22:57] ianvernon opened #2841 "Ginkgo CI: log shell commands that are ran on VMs without resultant output to separate file for each test"
Proposal: One of the advantages of the bash-based framework is that it was very easy to run the commands from the tests directly from the script itself. The Ginkgo framework however, obfuscates this. We currently create a file called 'logs' which logs information about the commands that are ran, including their output. However, it would be helpful to have a file that only contains the logs that ar

[2018-02-15 23:05] LuigiBaute opened #2842 "hello I would like to collaborate with your project serving as a translator to Spanish which is my native language"

[2018-02-15 23:08] ianvernon opened #2843 "Ginkgo CI: provide CLI option to log output of all commands ran on VMs directly to console"
Currently, the output of commands is logged to file. It would be nice for debugging locally in real time to see what the output of various commands is on the command line with some flag that can be provided to Ginkgo.

[2018-02-15 23:19] LuigiBaute opened #2844 "hello I would like to collaborate with your project serving as a translator to Spanish which is my native language"
**Important:** Join our [slack channel](http://cilium.io/slack) for immediate
support and an opportunity to ask questions. Please also have a look at our
[FAQ](https://goo.gl/qG2YmU) for frequently asked questions first.

If you open a GitHub issue, please follow these guidelines:

1. It must be a bug or a feature request.
2. The form below must be filled out.

--------------

## Bug reports

###

[2018-02-15 23:21] tgraf commented on #2842
Hi @LuigiBaute, thanks for the offer! We haven't thought about translation yet but the only artefact that can benefit from translation is the documentation in `Documentation/`

[2018-02-15 23:22] tgraf commented on #2844
Dup of #2842

[2018-02-15 23:22] #2844 closed, assigned to nobody

[2018-02-16 00:19] ianvernon commented on #2417
Closing, haven't seen this in over a month.

[2018-02-16 00:19] #2417 closed, assigned to nobody

[2018-02-16 01:42] techcet opened #2850 "cilium monitor --related-to shows unrelated info"
- Cilium version (run `cilium version`)
root@minikube:~# cilium version
Client: 1.0.0-rc4 0392ea9b1 2018-02-14T17:36:12-08:00 go version go1.9 linux/amd64
Daemon: 1.0.0-rc4 0392ea9b1 2018-02-14T17:36:12-08:00 go version go1.9 linux/amd64

root@minikube:~# uname -a
Linux minikube 4.9.13 #1 SMP Thu Oct 19 17:14:00 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

cilium $minikube version
minikube version: v0

[2018-02-16 02:23] tgraf commented on #2850
L7 flows are currently bypass all filters hence this effect

[2018-02-16 07:27] eloycoto commented on #2841
This proposal is not difficult, but I'm worried when we use templates to create files on the fly, that can't be in that file so it'll not cover 100% of the cases.

[2018-02-16 14:58] LuigiBaute commented on #2842
Ok should How should I start posting them? by branches, commits. let me know...

[2018-02-16 17:12] #2748 closed, assigned to vadorovsky

[2018-02-16 18:47] ianvernon opened #2853 "endpoint: show endpoint configuration as part of `cilium endpoint get`"
It would be nice to be able to get the configuration of an endpoint as part of the output of `cilium endpoint get`, as this is part of the endpoint structure.

[2018-02-16 21:52] tgraf opened #2857 "identity resolution no longer resolves reserved identities"

[2018-02-16 22:46] joestringer opened #2859 "When BPF verification fails, the files should remain for debugging (if debug is enabled)"
When we get into a state where the BPF code is generated but cannot be verified, it seems that the ${EPID}_next/ directory is cleaned up, so we don't have access to the binaries or preprocesed source to easily debug:

[code]
[code]
[code]
[code]
[code]
[code]

Also, should the state be `waiting-for-identity` if it managed to get to BPF code generation?
There doesn't appear to be any controller run

[2018-02-16 22:54] joestringer commented on #2689
@aanm can you reevaluate this and perhaps close it?

If it's not good enough now, I think the next step is to add an option that allows the `cilium` / `cilium-envoy` version SHA comparison to be conditionally disabled. Then we can introduce targets that skip rebuilding and everything should still interoperate (so long as you aren't making changes related to envoy / envoy API). See also the thread

[2018-02-17 01:23] ianvernon commented on #2857
Can you please post an example of this? I might be hitting an issue in a branch locally, but am not sure. I can post what I have seen later.

[2018-02-17 02:26] tgraf opened #2861 "Redirect gets removed mid endpoint lifetime"
I'm debugging a connectivity problem for long lived connections and found the following behaviour:

[code]

[2018-02-18 07:20] azenk opened #2862 "Default IPv6 prefix allocated from reserved address space"
As far as I'm able to determine, the default IPv6 cluster prefix of f00d::/48 is part of a [reserved block of addresses](https://www.iana.org/assignments/ipv6-address-space/ipv6-address-space.xhtml).  Wouldn't a ula prefix be more appropriate as a default?  Perhaps either a fixed fdxx prefix or one generated at cluster build time?

[2018-02-18 20:44] #2749 closed, assigned to joestringer, ianvernon

[2018-02-18 20:56] #2557 closed, assigned to eloycoto

[2018-02-19 05:17] #2861 closed, assigned to nobody

[2018-02-19 14:48] nebril opened #2869 "`cilium monitor` should be able to accept multiple `--type` flags"
As title says.

[2018-02-19 14:57] #2850 closed, assigned to tgraf

[2018-02-19 16:56] ianvernon commented on #2795
Unfortunately, after trying to remove `ReverseRules`, we cannot do it so easily. When `ConnTrack` is disabled in an endpoint's configuration, despite adding rules that allow communication in both directions (from the host --> endpoint and endpoint --> host), connectivity doesn't work because adding a rule that applies to `reserved:host` doesn't work the same as applying a rule to an endpoint with

[2018-02-19 17:46] #2835 closed, assigned to ianvernon

[2018-02-19 18:11] eloycoto commented on #2333
Hi @aanm

Sorry, but this is not working in kubernetes 1.7.

[code]

[2018-02-19 19:34] tgraf opened #2873 "Add field to CNP Status to indicate whether policy is in datapath"
The policy status currently sets the `OK` field to true when the policy was *loaded* into the agent. We need a field which indicates `true` when the policy has been *implemented* in the datapath.

[code]

[2018-02-19 21:14] aanm opened #2876 "Print all CLI output in alphabetical (or in other logical) order"
This is a parent issue since it needs confirmation of all outputs that cilium has.

For example, the same command can return different outputs, see the HTTP vs ICMP on 2 invocations of the `cilium-health status`.
[code]

This is mostly because we use golang maps, we just need to order the keys into an array and print the data in order.

In the `cilium-health status` output it would be nice to prin

[2018-02-19 23:17] aanm commented on #2873
How can the logic be verified? The `CiliumNetworkPolicyNodeStatus` is per node, the policy is per endpoint. Does this means we should present the policy is implemented in the datapath in case there's one endpoint that is enforcing this given policy?

[2018-02-19 23:21] tgraf commented on #2873
The policy is implemented when *all* endpoints on the node have implemented the relevant policy revision. I think it makes sense to add two fields:

`Revision` - policy revision which was return when the policy was added to the repository internall
`Enforcing` - true when all endpoints are  on `>= Revision`

[2018-02-19 23:52] aanm commented on #2873
After they are on that revision number I'll need to check which endpoints have the policy installed. And for that I need this https://github.com/cilium/cilium/issues/1556

[2018-02-19 23:55] aanm commented on #2184
@raybejjani I'm reopening this. I do not see anything with an L3 only policy.

[code]

Policy example:
[code]

Endpoints:
[code]

[2018-02-19 23:58] tgraf commented on #2873
I don't follow. When we receive a CRD, we import it into the policy repository and we get back a policy revision. We can update the status with the revision right away. We should then run a controller which waits for all endpoints on the node to run this revision. Alternatively, we can encode this logic into `bumpPolicyRevision()` if we don't want to poll. Once all endpoints have been bumped, the

[2018-02-20 00:06] aanm commented on #2873
ah that is easier then. I thought you wanted to mark the policy as `Enforced` only if there were endpoints that were being covered by the given policy.

[2018-02-20 00:38] joestringer opened #2880 "`cilium status --brief` prints more than one line if cilium is not running"
[code]

This should be more similar to the other error conditions in the newly introduced `--brief` mode.

[2018-02-20 01:37] tgraf opened #2883 "kafka: Create responses based on version of request"
The current code sends Kafka responses based on the latest version regardless of the version used in the request. Validate if any of the responses returned are incompatible based on the request version. The responses are very basic so it's unclear whether any version incompatibility exists.

[2018-02-20 10:35] eloycoto commented on #2883
I added `needs/e2e-test` to add a test case for this in Nightly tests.

[2018-02-20 11:05] eloycoto opened #2885 "Nightly test: Update version"
At the moment Cilium is not testing if the updates of versions are working on updates, we need a test that updates a node from Stable to master to be sure that everything works.

Test spec:

- Create ten endpoints
- Add new L4+L7 rules.
- Update stable branch to current master.
- Test connectivity.

[2018-02-20 21:44] joestringer opened #2889 "Ginkgo: LB (Services) test gaps"
* [ ] Test behaviour when service is created without `--rev`
* [ ] Configure handling IPv6 traffic on `cilium_host` device so that `host => lb => container` case works

[2018-02-21 05:22] #2333 closed, assigned to aanm

[2018-02-21 06:53] #2795 closed, assigned to nobody

[2018-02-21 19:39] ianvernon commented on #2528
Was looking at this to debug something locally, and the Ginkgo test right now doesn't seem to be doing much, because this is the policy it is adding:

[code]

We are allowing traffic from the app1 endpoint, but also allowing traffic from its CIDR, which is redundant. We need to see in the Ginkgo test if a CIDR that is not attached to an endpoint has traffic allowed / denied in accordance with the

[2018-02-21 20:52] aanm opened #2900 "Unify test and developer environments"
Requirements for development environment:
 - [ ] Be able to set up any kubernetes version "on the fly", i.e. without re-provision the VM from scratch.
     - It can be achieved by running `NWORKERS=1 RELOAD=1 K8S_VERSION=1.X ./contrib/vagrant/start.sh`
 - [x] Be able to contact both VMs from outside. the current `NFS=1` option creates an interface exposed to the host.
 - [x] Both development and t

[2018-02-21 20:56] raybejjani commented on #2900
Does this mean that both runtime1 and k8s1 are masters?

[2018-02-21 20:56] aanm commented on #2900
Yes, well no. There's no meaning of "master" in non-k8s environments (`runtimeX`)

[2018-02-21 21:39] #2859 closed, assigned to nobody

[2018-02-21 22:16] joestringer commented on #2900
* [ ] Easily share a list of directories from the host with the dev VM
  * This tends to be the case with the cilium directory today, but I also find it incredibly convenient to share eg. Linux sources, or iproute2 sources.
* [ ] Ability to make on the host and not have to make inside the VM
  * I tend to build on the host where I have nice tooling set up, then only run `make reload` to install/re

[2018-02-21 22:42] manalibhutiyani commented on #2833
I think this is already fixed with Thomas/Romain's recent changes.

[2018-02-21 22:42] #2833 closed, assigned to manalibhutiyani

[2018-02-22 03:35] tgraf opened #2901 "Improved egress enforcement datapath"
- [x] Enforcement of label based in-cluster egress rules (#2553)
- [ ] L3 dependant L4 egress rules (#1684)

[2018-02-22 10:50] raybejjani commented on #2900
Oh, I didn't realise those were non-k8s. Are they generic boxes then? or could they have a name like docker/mesos/my-favourite-thingX ? I realise we've been using runtime already, so I don't want to turn this into a use-this-name debate, I'm mostly curious (and I wonder where I should have looked to understand it)

[2018-02-22 18:51] aanm opened #2904 "Simplify policy translation between control plane and data plane"
This is a proposal to simplify the logical model of the policy translation between the control plane and the data plane

### 1) Generate the policy in the control plane in go using maps.

[code]

this would be stored in the endpoint structure for Ingress and Egress.

For example, let's imagine that we have 5 ingress rules:

[code]

The ingress `endpointPolicy` map of endpoint B will be:

[code]

T

[2018-02-22 19:47] joestringer commented on #2904
[code]

Is this the case where there's no policy enforced on this endpoint at all? There can't be a redirect in this case, because a redirect requires a destination port to be specified.

[2018-02-22 20:33] aanm commented on #2904
AFAIK Kafka doesn't need a destination port

[2018-02-22 20:40] joestringer commented on #2904
According to the docs here, the L7 policy is embedded within an L4 policy, which requires at least the port to be specified:
http://docs.cilium.io/en/latest/policy/language/#layer-7-examples

[2018-02-22 20:44] aanm commented on #2904
Yeah, it was a misinterpretation on my side from a discussion yesterday on slack. That's correct: redirect requires a destination port to be specified.

[2018-02-22 20:46] aanm commented on #2904
@joestringer updated for steps `1)` and `3)`

[2018-02-22 20:50] joestringer opened #2906 "Support bpf/ builds with multiple defines"
Line 33 doesn't have the intended effect:
https://github.com/cilium/cilium/blob/80e7094a1602cbe0ad2ea39bf4d3ca78e1877539/bpf/Makefile#L29-L37

Rather than adding an entry to `LB_OPTIONS` which tests building with `-DLB_L3 -DLB_L4`, it just adds two new entries, duplicating the `-DLB_L3` and `-DLB_L4` options builds.

[2018-02-22 21:21] aanm opened #2907 "L4 policy does not allow any traffic"
Might be related with #2571
[code]
on a different terminal
[code]

l4-policy.json
[code]

[2018-02-22 21:28] joestringer commented on #2907
Can we get a dump of things like `cilium bpf policy get <epid>`?

[2018-02-22 21:32] aanm commented on #2907
@joestringer ah, forgot. Yeah it's empty

[code]

@joestringer btw, the fact that the output is empty without the `-n` is a known issue, right?

[2018-02-22 22:02] joestringer opened #2908 "Resolving reserved identities in `cilium bpf policy get` doesn't work"
If you don't specify `-n` to `cilium bpf policy get`, ie to avoid resolving identities, then it prints nothing:

[code]

Possible regression since the kvstore rework.

[2018-02-22 22:03] joestringer commented on #2907
@aanm it is now: https://github.com/cilium/cilium/issues/2908

In the map, I would have expected there to be an entry for every known identity + port 80.

[2018-02-22 22:05] aanm commented on #2907
something like?
[code]

[2018-02-22 22:06] joestringer commented on #2907
More like:

[code]

[2018-02-22 22:25] joestringer commented on #2904
FWIW, `3)` is implemented today by `#undef`ing `POLICY_INGRESS`, and I believe that the L3/L4 level implementation of `2)` is handled as part of `0)`, but userspace generates every known identity + the L4 port and puts that entry into the map. It doesn't populate the proxy_port, though, which I think it should do. It would simplify the logic if the proxy_port was stored in this map instead of bein

[2018-02-22 23:15] tgraf opened #2910 "Kafka testing improvements"
- [ ] Test with multiple brokers
- [ ] Write Ginkgo tests to validate L7 record creation for test app with and without policy enforcement
- [ ] Find more realistic Kafka test applications
- [ ] Benchmark in Ginkgo nightly tests
  - [ ] Count parse errors and report via time series database

[2018-02-22 23:43] manalibhutiyani opened #2911 "Make Kafka K8s GSG CI tests work on multinode setup"
Currently the app nodes are pinned to a single node, change this to true multinode environment

[2018-02-22 23:43] #2602 closed, assigned to manalibhutiyani

[2018-02-22 23:44] manalibhutiyani commented on #2834
This is fixed with Roman's recent changes

[2018-02-22 23:44] #2834 closed, assigned to manalibhutiyani

[2018-02-23 00:41] joestringer commented on #2907
The ingress rule doesn't have the following wildcard selector for labels:

[code]

[2018-02-23 01:21] ianvernon commented on #2904
How does CIDR-based policy come into play here?

[2018-02-23 01:50] manalibhutiyani commented on #1818
Proposal:

[code]

[2018-02-23 01:50] manalibhutiyani commented on #1818
@tgraf @rlenglet : Thoughts?

[2018-02-23 01:57] jrajahalme commented on #2904
Maybe, only if there is no source security identifier, lookup the source IP on an LPM trie to map it to a security identifier? The control plane could then assign security identifiers for the CIDRs in the policy, the rest of the engine would not need to know about CIDRs?

[2018-02-23 05:25] ianvernon commented on #2416
We haven't seen this in quite some time; this seems to have been solved by the recent key-value store changes.

[2018-02-23 05:25] #2416 closed, assigned to eloycoto, aanm

[2018-02-23 05:26] ianvernon commented on #2485
We haven't seen this issue in some time; I think we can close this.

[2018-02-23 05:26] #2485 closed, assigned to manalibhutiyani

[2018-02-23 05:50] ianvernon commented on #2013
@aanm can this be closed? The link in the description now 404's.

[2018-02-23 06:16] ianvernon commented on #2908
Same issue as #2857  .

[2018-02-23 06:21] ianvernon commented on #2128
Can we close this since we are moving to the new Ginkgo framework @aanm ?

[2018-02-23 06:22] ianvernon commented on #2707
@eloycoto can we close this since #2796 was resolved?

[2018-02-23 06:32] ianvernon commented on #1990
Closing this because the build links now 404.

[2018-02-23 06:32] #1990 closed, assigned to nobody

[2018-02-23 07:49] joestringer commented on #2908
Closing as duplicate.

[2018-02-23 07:50] joestringer commented on #2857
There are more details in #2908. Basic case is to allow traffic from host then dump BPF policy for the endpoint. It will only print the header, because it can't resolve the identity identity to labels.

[2018-02-23 16:33] tgraf opened #2920 "Remove CIDR limit on older kernels"
On kernels lacking LPM maps, we generate code to simulate an LPM map. Due to the code generation aspect, we have to enforce an upper limit on number of matches. Some users have run into this limit. I suggest to fall back to a exact match hash table and generate all allowed IPs instead.

[2018-02-23 17:25] eloycoto commented on #2707
Hi @ianvernon

I've just checked now, and the envoy proxy is still not closing the ports after a while(12 min in this case)

[2018-02-23 17:40] mmr opened #2921 "Add support for kube-aws"
### Add support for kube-aws

Genereate the required `ConfigMap` with the correct `etcdEndpoints` to make it easier to use `Cilium` with `kube-aws`

[2018-02-23 18:09] tgraf commented on #1818
I think we should keep the existing fields to allow for full control and add a new field which then expands automatically.

[code]

[2018-02-23 18:12] joestringer opened #2923 "Build datapath with maximum length mappings"
Add default settings to `bpf/lxc_config.h` so that variable-length BPF_MAP instructions are as complicated as they could be when Cilium generates the config, so that we test these corner cases by default when building the `bpf/` directory.

For example, if Cilium generates a complicated `PORT_MAPPINGS`, do we know that it won't exceed the maximum complexity of the BPF program?

[2018-02-23 18:14] #2908 closed, assigned to nobody

[2018-02-23 18:35] joestringer opened #2924 "If BPFFS is not mounted, cilium cannot populate tunnel endpoint map"
Reported on slack: https://cilium.slack.com/archives/C1MATJ5U5/p1519410136000570

Mounting BPFFS is optional according to the cilium k8s install documentation here:

https://github.com/cilium/cilium/blob/master/Documentation/kubernetes/install.rst#mounting-the-bpf-fs-optional

However, users have reported that when running without BPFFS, they may see logs like this after deploying cilium:
[code]

[2018-02-23 18:43] tgraf commented on #2924
Is this an order issue that we attempt to update the map before the agent auto mounts `bpffs`?

[2018-02-23 18:45] rlenglet commented on #1818
Agree with @tgraf about defining an extra field.

However, I'd choose another name for the `APIGroup`. How about `Role`? `ClientRole`?
Then I'd specify the values of that field as:

- `producer` (to be consistent with the name of [Kafka's Producer API](https://kafka.apache.org/documentation.html#producerapi))
- `consumer` (to be consistent with the name of [Kafka's Consumer API](https://kafka.apac

[2018-02-23 18:50] manalibhutiyani commented on #1818
I am not sure how `broker` and `controller` will behave? What kind of action is applied for broker/controller from clients app pods? Also adding @danwent in the discussion.

[2018-02-23 18:52] tgraf commented on #1818
I'm fine with `Role` as well as long as it is clear how it interacts with the other fields such as `Topic`.

[2018-02-23 18:54] #2128 closed, assigned to jrajahalme

[2018-02-23 18:55] #2013 closed, assigned to nobody

[2018-02-23 19:00] jrfastab commented on #1818
@rlenglet I think if APIVersion/APIKey/Role are specified its a logical AND operation over the keys. So for example if
[code]
Then we would _not_ match cases with `APIKey = 1`. If the user wants a logical OR operation on the keys then we need a new symbol to specify this in the config IMO. But the default should be the more restrictive AND operation.

Also "Role" in this context is a higher level

[2018-02-23 19:05] tgraf opened #2925 "Check for existing VXLAN device user"
If something like flannel is running on the system already:

[code]

The `init.sh` script will fail with an error like this:
[code]

Run `ip link show type vxlan` and report other VXLAN device users and error out properly.

[2018-02-23 19:13] rlenglet commented on #1818
@jrfastab I'm ok about logical AND. And we're on the same page re: each Role being expanded into a lower-level config (a set of `APIKey` + optional `APIVersion`) rules implicitly behind the scene. We can start with just `producer` and `consumer`, and define new ones in new Cilium version, e.g. `broker` and `controller` once we have a better idea of the kinds of requests they send.

I think the exp

[2018-02-23 19:14] jrajahalme commented on #2920
Just brainstorming on the design:
- Have a single map for each IP version where the key is the prefix including the length.
- We don't really need the longest prefix match, but might still do the lookups on any given address for all prefix lengths from longest to shortest, masking the packet's address to the given length and doing the lookup.
- Looking up 128 times for IPv6 is very wasteful, so we

[2018-02-23 19:16] rlenglet commented on #1818
Actually, logical AND is the only semantics that makes sense. Otherwise, we couldn't specify that a consumer can only consume from a specific topic. That would look like:
[code]
Looks great.

[2018-02-23 19:27] tgraf commented on #1818
I vote for making `Role` and `APIKey` mutually exclusive. All other fields should be logical AND.

[2018-02-23 19:37] eloycoto commented on #2924
FYI,  I remember to have this problem, and I added a PR at that time: https://github.com/cilium/cilium/pull/1460

I think that the issue is that the container mount the filesystem, but the host doesn't have the BPF mount, so cilium will fail.

[2018-02-23 19:38] jrfastab commented on #1818
@rlenglet Right so at the moment a rule does not have any "sets" included. At some point as a short-hand for defining rules it might be nice to allow "sets" which would be logical OR operations. This way a single rule could match multiple topics. Its just a short hand to avoid having N rules when we want a single client/producer to match N topics though. Missing this feature is not actually limiti

[2018-02-23 19:40] jrfastab commented on #1818
^^^ Alternatively if keys are full regex expressions then the notion of logical OR sets is irrelevant.

[2018-02-23 20:58] rlenglet commented on #1818
OK with that, but each `APIVersion` only makes sense for a particular `APIKey`, so in that case `Role` would be mutually exclusive with *both* `APIKey` and `APIVersion`.

[2018-02-23 21:01] tgraf commented on #1818
I'm OK with that.

[2018-02-23 21:06] tgraf commented on #1818
I think we already agreed to not go with the above proposal but instead add a new field to the existing structure.

This is what we already have

I think that we should build this on top if needed. What we have can already be used to build what you describe on top. We just have to expand it.

[2018-02-23 21:07] rlenglet commented on #1818
@jrfastab separate Kafka rules are combined by logical OR. And we decided to keep logical AND semantics for the predicates within a single rule.

[2018-02-23 21:19] jrfastab commented on #1818
[code]
OK that is fine.

[code]
If "role = consumer" is just short-hand in the policy language for "APIKey = foo, APIVersion=bar" then its fine to put in the same struct but its not being used by the kafka backend and at some point it has to be transformed into the match rule being used by the parser. The transformation is trivial but should be done in some generic helper routine before being cons

[2018-02-23 21:24] tgraf commented on #1818
We will have to store the abstract and expanded policy. A BPF backend will only see the expanded policy which will never contains `Role`. It will just have to match on `APIKey` && `APIVersion` && `Topic` && ...

[2018-02-23 21:26] jrfastab commented on #1818
took a few messages to get to the obvious I guess. ;)

[2018-02-23 22:36] ianvernon commented on #2535
Once https://github.com/cilium/cilium/pull/2826 is merged, we will be able to convert `00-check-examples.sh` into a Ginkgo test since `yamllint` will be installed in the VM.

[2018-02-24 00:42] #2596 closed, assigned to rlenglet

[2018-02-24 04:42] #2524 closed, assigned to ianvernon

[2018-02-24 04:45] #2526 closed, assigned to ianvernon

[2018-02-24 16:42] tgraf commented on #2368
I've looked into this. The cost of this is non-trivial as we have to move several map lookups to earlier in the processing path. This imposes datapath cost for work that is only required if the packet is actually dropped. All of the information is retrieved based on addressing information that is made available to the agent in the drop notification. I suggest to do this work in the monitor.

[2018-02-24 19:00] #2911 closed, assigned to manalibhutiyani

[2018-02-26 15:02] #1620 closed, assigned to borkmann, jrfastab

[2018-02-26 15:07] borkmann commented on #1822
Already fixed via #2784, therefore this can be closed. Ubuntu side via https://bugs.launchpad.net/ubuntu/+source/iproute2/+bug/1735032 .

[2018-02-26 15:07] #1822 closed, assigned to borkmann

[2018-02-26 18:14] #2925 closed, assigned to tgraf

[2018-02-26 18:55] tgraf opened #2935 "Error while inserting service in LB map" error="Not an IPv6 address""
[code]

[2018-02-26 19:20] tgraf opened #2936 "Warnings and errors while restoring"
[code]

[2018-02-26 19:33] tgraf commented on #2924
I've verified that the BPF filesystem is mounted early enough.

[2018-02-26 20:35] #2857 closed, assigned to tgraf

[2018-02-26 20:38] #2528 closed, assigned to ianvernon

[2018-02-26 20:58] #2935 closed, assigned to tgraf

[2018-02-26 21:33] ianvernon commented on #2100
[code]

[2018-02-26 21:33] ianvernon commented on #2100
`09-pert-gce.sh`:

[code]

[2018-02-26 21:34] ianvernon commented on #2100
`gce-deployment/client.json.sed`:

[code]

[2018-02-26 21:35] ianvernon commented on #2100
`gce-deployment/server.json.sed`:
[code]

[2018-02-26 21:38] borkmann commented on #2201
(done in upstream kernel)

[2018-02-26 21:38] #2201 closed, assigned to borkmann

[2018-02-26 21:45] ianvernon commented on #2536
@eloycoto do you have the Dockerfile that you used to build this perchance? We have had a lot of churn in our Dockerfiles since the Ginkgo framework was merged, and I'd like to get the work you did under the `cilium/` DockerHub Organization.

[2018-02-26 22:43] aanm opened #2942 "Support for Kubernetes Named Ports"
There are some missing known pieces:
- [x] 1 - No L4-only enforcement #2907
- [ ] 2 - Should do policy enforcement for a named port ( #2904 might solve this)

Test output:
[code]

[2018-02-26 22:47] aanm commented on #1582
This is probably done by @nebril 's work, no?

[2018-02-26 22:48] aanm commented on #2568
@tgraf Can we close this? This was implemented by the CT cleanup PR

[2018-02-26 22:50] #2568 closed, assigned to nobody

[2018-02-26 22:50] aanm commented on #1015
No one has complaint since we switched to the `inClusterConfig` kubernetes client. We can close this

[2018-02-26 22:50] #1015 closed, assigned to nobody

[2018-02-26 22:50] tgraf commented on #1582
@nebril's work only includes headless service support

[2018-02-26 22:50] aanm commented on #1053
@eloycoto FYI

[2018-02-26 22:51] aanm commented on #1202
Needs kubernetes golang dependency to be updated

[2018-02-26 22:52] aanm commented on #1480
@raybejjani your PR #2772 will deprecate this

[2018-02-26 22:53] aanm commented on #1529
@eloycoto FYI

[2018-02-26 22:54] aanm commented on #1918
Closing. A possible solution is provided here https://github.com/cilium/cilium/issues/1918#issuecomment-344527888

[2018-02-26 22:54] #1918 closed, assigned to aanm

[2018-02-26 23:23] tgraf commented on #2904
Please do not call it endpointPolicy but use a more generic name and then embed it into endpoint. We will have L4 and L7 policy depend on CIDR and possibly other things in the future. We should properly abstract it away:

[code]

The `PolicyPeer` can either be an identity, an entity or a CIDR for now, in the future it can also be a service unless we decide to represent services as identities as we

[2018-02-27 07:18] eloycoto commented on #1529
Yes Yes, in my radar :-)

[2018-02-27 07:21] eloycoto commented on #2536
Hi @ianvernon

Is this  one, should be ok with Cilium Dependencies image, I think that now has go-bindata.

https://github.com/eloycoto/cilium_dependencies

[2018-02-27 11:11] raybejjani commented on #1480
It could supersede this for endpoints, yes. My implementation suffers from the sync problem, however, so in that sense it is more complex than a simple annotation on the pod would be.

In the context of non-k8s platforms, this does raise a question about #2772. Do we have one-off controllers per runtime we work with or do they store data into something generic and that generic thing is a CRD with

[2018-02-27 11:38] borkmann opened #2946 "Work gracefully with existing bpffs mounts."
See also: https://github.com/systemd/systemd/pull/8205

Going forward systemd will mount bpf fs by default into `/sys/fs/bpf/`. Either we let cilium use it's own private mount instance somewhere else e.g. under /var or we need to handle it gracefully to co-exist with other services under `/sys/fs/bpf/`.

[2018-02-27 12:46] aanm opened #2948 "Set default version of kubernetes to be tested on all PRs to 1.9"
Set kubernetes 1.9 to be the default.

and `1.6`, `1.7`, `1.8` and `1.10 beta`, `1.11 alpha` - for the missed k8s versions

[2018-02-27 14:41] aanm opened #2949 "Test flake: Policies.go:1184 - timed out waiting for endpoints to be ready"
From PR https://github.com/cilium/cilium/pull/2947
[code]

[test_results.zip](https://github.com/cilium/cilium/files/1763278/test_results.zip)

[2018-02-27 16:10] tgraf opened #2951 "Enable toK8sService for all services with external endpoints"
Currently, `toK8sService` is limited to headless services, we can relax the selection and translate to toCIDR rules for all services with Endpoints that have an IP outside of the cluster range.

[2018-02-27 17:52] ianvernon opened #2952 "Build failure with /healthz 'context deadline exceeded'"
A build in a PR, https://github.com/cilium/cilium/pull/2947, which only fixed typos in comments, failed due to a timeout in waiting for endpoints to be ready.

Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/868/

Logs are attached. Specifically, check the logs in `RuntimeValidatedPolicyImportTestscheckspolicytraceoutput` for the `context deadline exceeded` messages

[te

[2018-02-27 18:15] ianvernon commented on #2952
Closing, duplicates #2949

[2018-02-27 18:15] #2952 closed, assigned to nobody

[2018-02-27 19:39] joestringer commented on #2906
We can probably just encode it as something like this:

[code]

Then perform a split on `:` and replace with `-D<first> -D<second>` in the command.

[2018-02-27 21:14] #2535 closed, assigned to ianvernon

[2018-02-27 21:17] ianvernon opened #2956 "Intermittent CI Failure: checks cilium-health status between nodes failed"
Build link:
[code]

Relevant log output is in `K8sValidatedHealthTestcheckscilium-healthstatusbetweennodes/logs`:

[code]

While this was during a PR build, the code is in no way related to the health daemon, and as such in my opinion warranted filing a ticket.

From discussion with @joestringer :

[code]

Build logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_876.tar.zip](https://github.com/c

[2018-02-27 21:20] ianvernon commented on #1841
The merging of https://github.com/cilium/cilium/pull/2940 means that this can be closed :-)

[2018-02-27 21:20] #1841 closed, assigned to tgraf

[2018-02-27 21:41] joestringer commented on #2907
The test here:

https://github.com/cilium/cilium/blob/0c269fc0212ce789c28e068137c6a963411e6df4/test/runtime/Policies.go#L599

is using this policy here:

https://github.com/cilium/cilium/blob/0c269fc0212ce789c28e068137c6a963411e6df4/test/runtime/manifests/Policies-l4-policy.json#L2-L12

and it's expecting the traffic to port 80 to fail, despite allowing that port in the policy. I believe that it's

[2018-02-27 21:52] joestringer opened #2958 "Ginkgo: Can't debug `Checks CIDR Policy` from CI"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/874/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_Checks_CIDR_Policy/

The above `Checks CIDR Policy` test failed, based on a generated policy. The generated policy is not printed, and the CI testsuite failure tar archive only contains the `logs` file which does not contain the generated policy.

The current generated policy

[2018-02-27 22:55] manalibhutiyani opened #2959 "*make generate-k8s-api* broken on developer vagrant VMs"
I was trying to set up a developer vagrant environment as per:
http://cilium.readthedocs.io/en/latest/contributing/#developer-requirements
However `make generate-k8s-api`  is failing
due to k8s generator bug which was recently fixed, but is not part of cilium dev vagrant image yet.

[code]

[2018-02-27 23:46] aanm opened #2960 "Run cilium with race detector as part of nightly tests"
Basically this PR https://github.com/cilium/cilium/pull/9830 should be run on nightly as well

[2018-02-28 06:06] #2097 closed, assigned to nobody

[2018-02-28 12:55] nebril commented on #2869
Fixed in #2864

[2018-02-28 12:55] #2869 closed, assigned to nebril

[2018-02-28 14:04] nebril opened #2965 "Multiple `bpf: Unable to update in tunnel endpoint map`"
### General Information

- Cilium version (run `cilium version`)
1.0.0-rc5
- Kernel version (run `uname -a`)
Linux 4.13.16-coreos-r2 #1 SMP Wed Dec 6 04:27:34 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05",

[2018-02-28 14:29] nebril commented on #2965
Possibly related: #2924

[2018-02-28 14:43] nebril commented on #2951
@tgraf is there a sensible way to create such service without specifying spec.ClusterIP as "none"?

What would be the use case for service with not-"none" ClusterIP (so endpoints are created by k8s automatically based on service selectors) with additional user-created endpoints pointing to external IP?

[2018-02-28 14:50] tgraf commented on #2951
Create a ClusterIP and have k8s allocate a service IP, omit the selector and create an Endpoints resource to define the backends.

[2018-02-28 17:03] ianvernon opened #2967 "CI: run bash tests during nightly Jenkins job"
See which bash tests still succeed and run them during nightly tests until deemed unnecessary.

[2018-02-28 17:24] aanm commented on #2689
@joestringer a `make` (after `make clean`) takes 2m6s. A re-(make) without any changes takes 1m20s.
I've profiled the make calls, can't we hardcode the `GOFILES` in `Makefile`?

[code]

[2018-02-28 19:08] ianvernon opened #2969 "Ginkgo CI: gather all Cilium logs in GatherLogs function"
Current way we gather logs for the agent in the runtime tests:
[code]

However, this does not get all Cilium agent logs:

To get all logs, do the following:
[code]

Using `-a` gets many more logs. From the `journalctl` manpage:

[code]

[2018-02-28 19:34] tgraf opened #2971 "Add Ginkgo test covering gRPC and upstream/downstream protocol match"
Catch regressions like this:
https://github.com/cilium/cilium/pull/2970

[2018-02-28 19:40] aanm commented on #2511
@mrostecki Since we switched to virtualbox shared folders can this be closed?

[2018-02-28 19:42] joestringer commented on #2689
@aanm wow, I'm really surprised that it takes 13 seconds to list a bunch of files in the filesystem. Seems like this the virtualbox filesystem is super slow on this for some reason, this doesn't affect me locally.

A couple of points of interest, running inside the developer VM:
[code]

Even just moving to `find` seems to speed this up considerably. My only reservation against hardcoding them is t

[2018-02-28 19:48] jrajahalme commented on #2689
One more data point: I’ve noticed this is noticeably slower with the guest additions shared folders compared to NFS.

[2018-02-28 20:25] aanm commented on #2900
Based on this discussion https://github.com/cilium/cilium/issues/2689 we are re-adding NFS support. it won't affect the current shared folders integration

[2018-02-28 20:47] #2873 closed, assigned to aanm

[2018-02-28 21:24] tgraf commented on #1818
@manalibhutiyani Can you update the initial description of this issue to the adjusted struct based on the discussion we had?

[2018-02-28 21:45] manalibhutiyani commented on #1818
@tgraf updated.

[2018-02-28 22:06] tgraf commented on #1818
Please speak up if anyone has remaining concerns. My only comment left is to move Role to the beginning of the struct as it clearly is the most important and most abstracted field. We can move to implementing this.

[2018-02-28 23:38] joestringer opened #2973 "`ENCAP_VXLAN` definition is generated twice in node_config.h"
`ENCAP_VXLAN` appears to be defined twice in standard operation:

[code]

[2018-03-01 07:45] joestringer opened #2976 "`cilium bpf ct list global -o json` prints map details, not ct entries"
[code]

[code]

This command is intended to print the contents of the map, not the details of the IPv4/IPv6 map structures.

[2018-03-01 09:46] raybejjani commented on #2689
Would it simplify our lives if we added a make target that did all the go builds but explicitly didn't do the envoy build? (so, every subdir but envoy) the default make rule could still do envoy if we want to ensure that a naive make invocation does the right thing. Most developers would then just use `make thegoparts` (the docs would explain this).
I realise this won't be pure or correct but it d

[2018-03-01 13:11] nebril commented on #2951
Seems like current implementation can be switched to neglect whether the service is headless, since the only thing we are interested in is - does the service have a selector. If it has one, its endpoints will point to in-cluster addresses, which won't work with ToCIDR translation, if not - most probably user will add endpoints to external services.

Service being headless doesn't matter here AFAIU

[2018-03-01 15:12] aanm commented on #1053
We can enable IPv6 since kubeadm 1.9

[2018-03-01 16:28] raybejjani commented on #2184
I've been looking at this on and off. The current code definitely doesn't work for the default deny case. I think it also doesn't work correctly when using identities but those might show up as l4 and I wrote the test in the wrong place.
I'll follow up on this but I'm not sure sure I understand our policy logic well enough :(

[2018-03-01 18:29] ianvernon opened #2982 "CI: result of `PolicyWait` not checked in `PolicyImportAndWait` function"
[code]

result of `PolicyWait` needs to be checked for success or failure.

[2018-03-01 18:29] jrajahalme commented on #2689
IMO this would work if also somehow disable the envoy version check when using an old binary on purpose.

[2018-03-01 18:30] ianvernon commented on #2689
This could be configurable via some environment variable / Cilium configuration? This would be only for quick developer turnaround.

[2018-03-01 19:08] ianvernon opened #2985 "CI: Jenkinsfile logic for master builds isn't working correctly"
A build of the master branch of Cilium using the Ginkgo CI  uses the `BDD-PR` section of the Jenkinsfile instead of the `BDD-Master` section. Luckily, there is no issue here as the two sections are functionally equivalent in terms of the tests that are ran at this point in time, but since there has been discussion to use different logic for when builds should fail for PRs vs in master, it behooves

[2018-03-01 19:49] raybejjani commented on #2689
TIL that it's only a warning (https://github.com/cilium/cilium/blob/master/daemon/main.go#L518).

[2018-03-01 20:22] #1725 closed, assigned to nobody

[2018-03-01 22:21] joestringer commented on #2564
Since #2918 was merged, if L4-only policies are encoded in the map as {identity:0, dport: xxx} then the policy will be respected there. As at this point, proxy_port is still determined using this `BPF_L4_MAP` though.

Answering the subquestion:
Currently, Label-dependent L4 policies are mapped down to the `POLICY_MAP`, including if the label dependence is wildcarding all endpoints. ~~L4-only polic

[2018-03-01 23:51] joestringer commented on #2571
This behaviour seems intuitive to me, the policy doesn't specify that all access is allowed to the selected endpoint, only TCP on port 80, so ping *would* be dropped.

If we wish to change this behaviour, then in which cases should we expect ping to succeed? In which cases should it fail?

[2018-03-02 19:18] ianvernon commented on #2982
Fixed by https://github.com/cilium/cilium/pull/2983

[2018-03-02 19:18] #2982 closed, assigned to ianvernon

[2018-03-02 21:47] ianvernon opened #3000 "CI: use timestamps in logger which logs to file in Ginkgo Tests"
Having timestamps would be very useful for correlating output from cilium system logs with Ginkgo logs.

[2018-03-03 00:31] joestringer commented on #2214
This should not be the case, most likely the debug log just needs updating.

[2018-03-03 00:37] joestringer opened #3004 "Review cilium 1.0 datapath implementation"
Parent: https://github.com/cilium/cilium/issues/2594

## Cilium API policies implemented by BPF datapath in Cilium 1.0-rc6

_Actual behaviour as at 2018-03-02_

This issue attempts to capture the datapath-level perspective on how policy is enforced in Cilium as of https://github.com/cilium/cilium/tree/v1.0.0-rc6 , so that as we review the network policy model (#2594) we can plan for necessary data

[2018-03-03 11:01] aanm commented on #3004
Why do we support `B` but not `I`?

[2018-03-03 17:19] sdboyer commented on #1972
sorry for slow response, but you can see why now, I think - vgo has been brewing.

it's still going to be worth moving to dep in the interim - it'll likely provide the smoothest path into vgo, due to greater model similarities.

[2018-03-03 18:02] tgraf opened #3005 "Policy Spec v3"
1. Embed `toPorts` into the `From*` and `To*` structures to make the L3 dependant L4 part obvious and explicitly *require* the user to specify the wildcard if wanted. This will make it super obvious what is going on at all times.
2. Declare the IngressRule and EgressRule a union which means that only *one* of `FromEndpoints`, `FromRequires`, `FromCIDR` and `FromEntities` can be specified. This mak

[2018-03-03 22:04] joestringer commented on #3004
@aanm `I` depends on label matching, which is not (yet) available on egress.

[2018-03-03 22:18] ianvernon opened #3006 "CI: use bugtool and debuginfo to gather logs"
Use the bugtool and debuginfo when tests fail and save the logs to the directory which is tar'd up and saved as an artifact in Jenkins. Move away from custom report generation scripts in favor of using these tools, as dogfooding them in the CI will allow for discovery of deficiencies / gaps.

- [x] Runtime tests
- [ ] K8s tests

[2018-03-03 23:36] jmuzsik commented on #2976
Hi, I'd be willing to do this but I'd need much more words and/or resources to understand where to find the problem/how to solve it

[2018-03-04 14:30] aanm commented on #3004
@joestringer so we do have plans to support it

[2018-03-04 19:21] joestringer commented on #2976
@jMuzsik awesome! Let me see how I can help with this.

In the output in the report above, the first command's output prints a bunch of entries that have details such as IP addresses and so on. They're entries in the map. However, when using `-o json` it's not printing the entries in the map, but instead a JSON formatting of the details of the map itself.

The issue here is that the variable `m` i

[2018-03-04 19:38] joestringer commented on #3004
@aanm not currently. Issue #3005 actually proposes to restrict both `B` and `I`. Given that the current behaviour of `B` can be achieved by just splitting the `fromEndpoints` and `fromCIDR` parts of the rule up into separate rules, I think we don't lose anything from this.

In future it may be interesting to implement `I`, so that for example you could combine `toServices` with `toEndpoints` and e

[2018-03-05 11:18] eloycoto commented on #2885
Fixed by https://github.com/cilium/cilium/pull/2899

[2018-03-05 11:18] #2885 closed, assigned to eloycoto

[2018-03-05 13:31] brant4test opened #3010 "Help needed, A how-to around istio "0.5.1" + cilium "v1.0.0-rc5""
--------------

## Help needed, A how-to around istio "0.5.1" + cilium "v1.0.0-rc5"

### integration of istio and cilium with less maintenance cost (future upgrade)

I'm following this guide to create a stack of kubespray “master [5aeaa24](https://gitlab.com/kargo-ci/kubernetes-incubator__kubespray/pipelines/18285253)” + istio "0.5.1" + cilium "v1.0.0-rc5".
https://github.com/kubernetes-incubator/

[2018-03-05 13:45] tgraf commented on #3010
@brant4test You mentioned that the cilium pods are restarting. Can you attach the full logs and also `kubectl -n kube-system describe pod cilium`

[2018-03-05 13:59] brant4test commented on #3010
[kubectl -n kube-system describe pod cilium.txt](https://github.com/cilium/cilium/files/1781051/kubectl.-n.kube-system.describe.pod.cilium.txt)

[kubectl -n kube-system logs cilium-8645d.txt](https://github.com/cilium/cilium/files/1781052/kubectl.-n.kube-system.logs.cilium-8645d.txt)

[2018-03-05 14:07] brant4test commented on #3010
Stack size and layout. Btw, do you think aws_etcd_size = "t2.medium" is enough?
![image](https://user-images.githubusercontent.com/7472674/36979032-31a7b8f2-20c1-11e8-8489-80dc576c5afc.png)

[2018-03-05 14:27] tgraf commented on #3010
Investigating similar issues:
- https://github.com/kubernetes/kubernetes/issues/46705

[2018-03-05 16:07] tgraf commented on #3010
Reported/asked upstream https://github.com/coreos/etcd/issues/9386

[2018-03-05 16:09] jmuzsik commented on #2976
Having errors in getting cilium set up on my machine and am trouble shooting at the moment. Once finished if I run into trouble in implementing the issue I'll check back on here or on the Cilium slack, thanks!

[2018-03-05 16:15] tgraf commented on #2976
@jMuzsik Are you using the vagrant box? (http://docs.cilium.io/en/v1.0.0-rc4/contributing/#setting-up-a-development-environment) It's by far the easiest way to get a dev environment up and running.

[2018-03-05 22:20] ianvernon opened #3016 "CI: have CLI parameter to allow for output of all commands to console as well as to file"
It'd be quite helpful to see the output of commands on console in real time instead of having to correlate with the created `logs` file. This can be a CLI option provided to Ginkgo which is false by default.

[2018-03-05 22:40] jmuzsik commented on #2976
Yes I am but I thought it was because I had issues related to a previous installation of the virtualbox but rather I believe that it may be a problem in the getting-started that needs to be updated:

Its a simple bug, and I'll post it later tonight as an actual issue.

This is the gist of it:

In the `Vagrantfile` the Vagrant config uses  ```bento/ubuntu-17.04``` but this causes an error b/c this

[2018-03-05 23:32] joestringer commented on #3005
Are we only intending for (2) to be the case for policy v3? I find the combinations of l3 to be rather confusing even in the existing policy v2. I've proposed a PR for this: #3015.

[2018-03-06 01:30] #2965 closed, assigned to nobody

[2018-03-06 01:35] tgraf commented on #2924
Fixed by #3018

[2018-03-06 01:35] #2924 closed, assigned to nobody

[2018-03-06 01:36] tgraf commented on #2053
@thoslin Closing as we believe this is fixed, please reopen if you disagree.

[2018-03-06 01:36] #2053 closed, assigned to aanm

[2018-03-06 03:07] tgraf opened #3021 "envoy spams debug log"
Found `envoy-log` sitting around with 16G, all entry look the same:

[code]

[2018-03-06 03:12] tgraf commented on #2862
@azenk Agreed. We picked one that a user needs to change as everyone should really be using their own prefixes as addresses are free.

[2018-03-06 03:16] #2666 closed, assigned to jrajahalme

[2018-03-06 03:17] tgraf commented on #2662
@natemurthy This has likely been fixed via #3018

[2018-03-06 03:18] tgraf commented on #2645
We have never seen this again

[2018-03-06 03:18] #2645 closed, assigned to nobody

[2018-03-06 03:18] tgraf commented on #2644
We have never seen this again since #2700

[2018-03-06 03:18] #2644 closed, assigned to aanm

[2018-03-06 03:20] tgraf commented on #2601
Envoy has been enabled by default in rc4

[2018-03-06 03:20] #2601 closed, assigned to jrajahalme

[2018-03-06 03:22] tgraf commented on #2571
Working as expected, we changed this behaviour as we introduced L3 dependant L4.

[2018-03-06 03:22] #2571 closed, assigned to tgraf

[2018-03-06 03:24] tgraf commented on #2232
We have never seen this again

[2018-03-06 03:24] #2232 closed, assigned to nobody

[2018-03-06 03:28] tgraf opened #3022 "Add metrics to monitor etcd/consul interactions"

[2018-03-06 03:28] #3010 closed, assigned to tgraf

[2018-03-06 03:33] #1744 closed, assigned to tgraf

[2018-03-06 07:27] eloycoto commented on #2651
Hi,

Issue fixed by PR https://github.com/cilium/cilium/pull/2899

[2018-03-06 07:27] #2651 closed, assigned to nobody

[2018-03-06 07:29] brant4test commented on #3010
@tgraf Great! so "cilium v1.0.0-rc5 pods restart with istio 0.5.1" issue has been solved? :)

[2018-03-06 07:29] eloycoto commented on #2244
@ianvernon did you test something related with this? Yesterday @aanm and myself had a similar problem

[2018-03-06 08:51] rlenglet commented on #3010
@brant4test You should be able to run the current Cilium versions in combination with any Istio version (**without mTLS**) without modifying the Istio proxy images.

[2018-03-06 11:10] aanm opened #3024 "Check if cilium leaks goroutines with kafka requests"
In tests there were 15 goroutines still running blocked in `vendor/github.com/optiopay/kafka/proto/serialization.go:70` might be worth checking if we are leaking goroutins
[code]

[2018-03-06 11:34] tgraf commented on #3010
@brant4test The etcd errors you have seen should also be resolved correctly if you are using the image `cilium/cilium:latest`. We will put out a new release in a couple of days as well.

[2018-03-06 12:01] tgraf commented on #3005
Yes

[2018-03-06 17:33] #2671 closed, assigned to nobody

[2018-03-06 17:43] ianvernon commented on #3006
I've done this for runtime tests in https://github.com/cilium/cilium/pull/3030/ .

[2018-03-06 18:41] ianvernon commented on #2244
i had a branch a while back, but never got around to doing anything with it. This is the only diff in the branch:

[code]

I think that the Dockerfiles in my branch are gone as a result of the multistage build being in place, but you could try building with `--memory=<X GB>` and `-c <Y>` where X is the number of GB of RAM and Y is the # of CPUs.

[2018-03-06 18:44] ianvernon commented on #2976
@jMuzsik - the issue with the VM you are running is fixed by https://github.com/cilium/cilium/pull/3020 . However, the VM you are running is not the best VM for compiling / testing Cilium. Please refer to the [using the provided Vagrantfile](http://docs.cilium.io/en/v1.0.0-rc4/contributing/#using-the-provided-vagrantfile) section.

[2018-03-06 19:16] joestringer commented on #2920
@jrajahalme thanks for the suggestions, I implemented the datapath side of this on a local tree. Seems like we can support up to about 90 prefixes with current code complexity and LLVM 7 code generation. Pretty straightforward patch on that side. I'm guessing that when we move to support CIDR-dependent L4 this number of prefixes will drop, probably in half.

Need to put together the userspace plum

[2018-03-06 19:31] joestringer opened #3031 "Update docs with latest `cilium status` output"
The following documents have `cilium status`, given the recent changes to the output they are all likely out of date:

[code]

Need to run through each of the documents, attempt to reproduce and run `cilium status` to grab expected output and update the documents.

[2018-03-06 19:45] aanm opened #3032 "Test flake: Unexpected connection between frontend and backend"
[code]
[code]
from
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/31/

zip file with test results
[test_results_Cilium-PR-Ginkgo-Tests-K8s_31.zip](https://github.com/cilium/cilium/files/1786464/test_results_Cilium-PR-Ginkgo-Tests-K8s_31.zip)

[2018-03-06 20:09] jrajahalme commented on #3021
Is there any time interval between the entries? I.e., would rate-limiting the logging help here?

[2018-03-06 20:17] tgraf commented on #3021
I saw several messages per second, it looked like an error retry that then spams the log.

[2018-03-06 20:48] manalibhutiyani opened #3033 "Support log rotation for envoy log"
Related to #3021

[2018-03-06 22:20] rlenglet commented on #3024
My interpretation would be that we leak connections. Eg the policy was changed from L7 + Kafka rules to an L3 policy (or at least with no kafka rules) but the established connections haven’t been closed (RST) when their entries have been removed from conntrack, or the entries haven’t been removed conntrack yet.

[2018-03-06 22:23] rlenglet commented on #3024
Hmmm actually, the trace above is for the goroutine handling a response connection. When a redirect is removed, we close the request connections immediately. But we give a 1-minute grace period for the response connection to close after that.
Maybe you took that trace less than one minute after reconfiguring a policy to remove Kafka rules.

[2018-03-06 22:25] tgraf commented on #3024
They may be coming from `pkg/proxy/kafka_test.go`

[2018-03-06 22:41] ianvernon commented on #3024
The unit tests aren't ran in the same environment as the runtime tests, which is where the stacktrace @aanm posted is from. The unit tests are ran via Docker Compose on the host on packet.net in CI. Thus, I do not think they are from the unit test.

[2018-03-06 22:53] tgraf commented on #3024
OK, it wasn't clear to me that this is from a runtime test. How long after the test was the backtrace taken? Was the policy unloaded and thus the redirect removed?

It may be the case that we tear down the network plumbing before the container is killed so the container can no longer send out a FIN to close the connection gracefully and we won't see an EOF but rely on either closing the connection

[2018-03-06 23:41] #3033 closed, assigned to nobody

[2018-03-07 03:45] #3021 closed, assigned to jrajahalme

[2018-03-07 04:35] manalibhutiyani commented on #2810
log rotation has already been merged as part of Issue #3034

[2018-03-07 04:37] manalibhutiyani commented on #2810
This can be closed when @jrajahalme merges #2990

[2018-03-07 15:15] ianvernon opened #3041 "Nightly Tests: add test which tests scalability of policy updates"
When working in PR #2875 , I initially added code which upon receiving a new event from the key-value store (IP-identity mapping), a call to `daemon.TriggerPolicyUpdates` was made. This meant that whenever a new endpoint was launched or its identity changed, two events would be sent to the key-value store (one for IPv4 and one for IPv6). This added significantly more load upon the policy subsystem

[2018-03-07 17:05] ianvernon commented on #2969
This is fixed-by https://github.com/cilium/cilium/pull/2875.

[2018-03-07 17:10] ianvernon commented on #2812
Just saw the update of the label; looking into this.

[2018-03-07 17:31] #2948 closed, assigned to eloycoto

[2018-03-07 19:11] brant4test commented on #3010
[kubectl -n kube-system describe pod cilium.txt](https://github.com/cilium/cilium/files/1790509/kubectl.-n.kube-system.describe.pod.cilium.txt)
[code]

[2018-03-07 19:18] ianvernon commented on #3010
@brant4test I'm seeing the following in the text file you attached:
[code]

[2018-03-07 19:18] brant4test commented on #3010
@tgraf It's based on a stack of kubespray “master 5aeaa24” + istio "0.5.1" + cilium "v1.0.0-rc6".
getting much better/stabler, but still sometimes cilium pods run into Pending status.
and i cannot get logs of cilium pods in Pending status, they're swiftly gone.
[code]
Any tips? thanks!

[2018-03-07 19:25] brant4test commented on #3010
@ianvernon thanks for your reply. I've seen that before, no clue what leads to DiskPressure. any suggestions? thanks!

[2018-03-07 19:26] ianvernon commented on #2949
Almost all endpoints were stuck in `waiting-for-identity` state:
[code]

[2018-03-07 19:26] ianvernon commented on #2949
Looks like Consul had some issues:
[code]

[2018-03-07 19:31] ianvernon commented on #3010
@brant4test this is one of the NodeConditions per [Kubernetes Documentation](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#node-conditions).

```Available disk space and inodes on either the node’s root filesystem or image filesystem has satisfied an eviction threshold```

[2018-03-07 20:21] ianvernon commented on #1732
I'm closing this because this is no longer an issue in the multinode-Kubernetes setup in the Ginkgo framework.

[2018-03-07 20:21] #1732 closed, assigned to nobody

[2018-03-07 20:32] tgraf commented on #3010
@brant4test Can you ssh into the node in question and see if you have a large file name `cilium-envoy.log` in `/var/run/cilium`?

[2018-03-07 20:32] ianvernon opened #3044 "CI: add tests which check that `cilium endpoint regenerate` works as intended"
https://github.com/cilium/cilium/pull/3040 fixed an issue that caused `cilium endpoint regenerate` to be broken. Add a basic test which ensures that this CLI command works correctly in the Ginkgo tests.

[2018-03-07 21:23] ianvernon commented on #2967
@aanm what Bash tests do you want ran in the nightly tests ?

[2018-03-07 21:24] ianvernon commented on #2841
@eloycoto best-effort is fine for this.

[2018-03-07 21:25] ianvernon commented on #2819
This was fixed by: https://github.com/cilium/cilium/pull/2915 .

[2018-03-07 21:25] #2819 closed, assigned to nobody

[2018-03-07 21:56] manalibhutiyani opened #3046 "Delete obsolete cilium-envoy.log on startup"
We need to do a one-time cleanup of cilium-envoy.log on startup. This will ensure that users get their claimed disk space back.

[2018-03-07 23:03] #2810 closed, assigned to nobody

[2018-03-08 00:18] manalibhutiyani opened #3050 "Envoy: Delete the deprecated code to remove older cilium-envoy.log"
Undo the code added as part of #3046 when users are not running into this issue anymore.

[2018-03-08 01:08] aanm opened #3051 "Watch for k8s namespaces"
We need to watch for namespace changes and update endpoint labels accordingly

[2018-03-08 02:44] brant4test commented on #3010
@ianvernon  Thanks a lot for your help. from your doc, I think this is the reason why daemonset pods keeps restarting.
[code]
@tgraf seems like no cilium-envoy.log exists. and a good news is all nodes and pods are stable now.
[code]
except one concern about two Events Warning? Are they also issues? or can be ignored? thanks!
[code]

[2018-03-08 02:58] tgraf commented on #3010
@brant4test

Great! We saw some instances with excessive log spamming that we addressed in the meantime. I wanted to make sure that you you were not affected by this.

If Cilium is healthy then it is a false negative but we should not ignore them. I noticed that that the timeout is only 1 second. We will look into this and get back to you.

[2018-03-08 04:48] ianvernon opened #3053 "applying endpoint configuration in quick succession fails"
Due to changes made in https://github.com/cilium/cilium/pull/3043 , which fixed some issues found in https://github.com/cilium/cilium/pull/3040, applying endpoint configuration updates in quick succession caused some build failures:

Test failure on Jenkins:
[code]

More specifically:
[code]

From the logs:
[code]

This is directly due to a change caused by https://github.com/cilium/cilium/pull/30

[2018-03-08 04:48] ianvernon commented on #3053
I don't really see another way of fixing this quickly apart from changing the following function in `pkg/endpoint/endpoint.go`

[code]

from
[code]

to this:
[code]

But, on the discussion in https://github.com/cilium/cilium/pull/3043, we decided to explicitly make such a check. Maybe in the CI, when we make subsequent configuration updates, we should wait for endpoints to be in ready state before

[2018-03-08 05:16] ianvernon commented on #3031
It would be nice to automatically require documentation updates to go along with CLI updates - I'm not sure how this could be automated, though :/

[2018-03-08 06:56] brant4test commented on #3010
[kubectl -n kube-system describe pod cilium NEW.txt](https://github.com/cilium/cilium/files/1792121/kubectl.-n.kube-system.describe.pod.cilium.NEW.txt)

Thanks!

[2018-03-08 07:51] eloycoto opened #3056 "Tests: Move Cilium Update from stable to master to PR testing"
Move the test:

https://github.com/cilium/cilium/blob/cb5e473a3d417d9819e23090cdd26b135cd78d69/test/k8sT/Nightly.go#L368-L442

To PR testing instead of nightly.

[2018-03-08 11:25] #3046 closed, assigned to manalibhutiyani

[2018-03-08 11:41] tgraf opened #3058 "PATCH /endpoint/{id} does not return an error if regeneration is not possible"
If an endpoint is currently being built, the PATCH /endpoint/{id} will change the endpoint structure but will not queue a regeneration and will not return an error if that is possible. In most cases.

[2018-03-08 14:45] aanm opened #3060 "Drop kubernetes ThirdPartyResources support?"
Kubernetes 1.10 libraries no longer provide any `ThirdPartyResources` used here.

https://github.com/cilium/cilium/blob/c7ba09632af954b3f386589b527ad0e90554c97d/pkg/k8s/apis/cilium.io/v1/register.go#L95

#### Why update to k8s 1.10?

New features introduced in k8s 1.10:

- Categories in CRD which allow cilium network policies to show up under `kubectl get all`
[code]
- Subresources in CRD which al

[2018-03-08 15:28] #3053 closed, assigned to nobody

[2018-03-08 15:40] #3000 closed, assigned to ianvernon

[2018-03-08 16:23] tgraf commented on #3060
+1

I see very limited value in running k8s 1.6. k8s is still advancing fast and there is little value to keeping complexity around for minor edge use cases. I'd rather drop TPR support pre 1.0.

[2018-03-08 16:40] #2536 closed, assigned to eloycoto

[2018-03-08 16:53] ianvernon commented on #3060
I'm all for this. Which libraries will have to be updated?

[2018-03-08 17:18] aanm commented on #3060
From what I've tried.
[code]

This one doesn't need to be update. I've checked and we only use this for the ip-allocator.
[code]

[2018-03-08 17:19] tgraf commented on #3060
If we update, we have to configure the ip allocator to continue handing out sequential IPs or fix the agent logic to use well known IPs for the gateway IPs.

[2018-03-08 18:05] rlenglet opened #3065 "Filter HTTP in Istio sidecar proxy"
Implement Cilium L7 HTTP filtering in Istio's sidecar proxy container.

**Envoy**

- [x] Implement a `transparent` per-listener flag in Envoy to support iptables TPROXY instead of REDIRECT, in order to preserve the sockets' source IP addresses. (https://github.com/envoyproxy/data-plane-api/pull/522, https://github.com/envoyproxy/data-plane-api/pull/558, https://github.com/envoyproxy/envoy/pull/273

[2018-03-08 18:45] ianvernon opened #3066 "Ginkgo VMs: start Kubernetes after `vagrant halt <VM Name>`"
I would like to be able to halt the Ginkgo Kubernetes test VMs so I don't have to go through the time-intensive task of starting them from scratch.

When I do the following:
[code]
[code]

No Kubernetes processes are started. I would like to just be able to start Kubernetes and not rebuild the Cilium Docker image. This is useful as I can keep the VMs around, boot them quickly with an already built

[2018-03-08 19:36] ianvernon commented on #2812
This was already fixed by a PR addressing https://github.com/cilium/cilium/issues/2935 , and as such is a duplicate. Closing.

[2018-03-08 19:36] #2812 closed, assigned to ianvernon

[2018-03-08 19:47] ianvernon commented on #2936
Is this being hit consistently?

[2018-03-08 20:32] ChiefAlexander opened #3067 "Setting container-runtime to none causes cilium status to exit 1"
## Bug reports

### General Information

- Cilium version (run `cilium version`)
  - Client: 1.0.0-rc4 05ca327 2018-03-06T14:19:00-08:00 go version go1.9 linux/amd64
- Kernel version (run `uname -a`)
  - 4.14.23-1.el7uek.x86_64
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
  - Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d283541654

[2018-03-08 20:33] #2746 closed, assigned to nobody

[2018-03-08 20:33] #3006 closed, assigned to nobody

[2018-03-08 20:38] ianvernon opened #3068 "Docker getting started guide is broken: unable to run `cilium status`"
Reproducing steps:

`cd ./examples/gettingstarted`
`vagrant up`
`vagrant ssh`

[code]

I followed the instructions from here: http://docs.cilium.io/en/v1.0.0-rc6/gettingstarted/docker/

[2018-03-08 20:40] tgraf commented on #3068
Are you sure that you followed rc6 and not rc7?

[2018-03-08 20:42] ianvernon commented on #3068
http://docs.cilium.io redirects to http://docs.cilium.io/en/v1.0.0-rc6/ . I am unable to access http://docs.cilium.io/en/v1.0.0-rc7/. I'm running this against latest master ( 1f78eb3042abd49f29fb3e2fc34053010262c3d1 )

[2018-03-08 20:43] tgraf commented on #3068
Based on the error message, it means that it couldn't find the binary in the S3 bucket.

[2018-03-08 20:47] ianvernon commented on #3068
Ah, yeah. releases.cilium.io doesn't have rc7 up yet. The Vagrantfile should check the return code of `curl -sS -L "http://releases.cilium.io/#{cilium_version}/cilium-x86_64" -o /usr/local/bin/cilium` and exit out if it cannot be found to make the error more obvious. We can suggest in the error message to use a more recent version?

[2018-03-08 21:18] #2907 closed, assigned to joestringer

[2018-03-08 22:08] joestringer commented on #2270
I can no longer reproduce this bug, seems like it was already fixed.

[2018-03-08 22:08] #2270 closed, assigned to joestringer, tgraf

[2018-03-08 22:14] tgraf commented on #3068
Will adjust the release process to upload the binaries right after tagging. The binaries can be made available before the announcement occurs.

[2018-03-08 22:14] #3068 closed, assigned to nobody

[2018-03-08 22:24] joestringer opened #3072 "toEntities/fromEntities lacks test coverage"
I can't find any references to entities-based policies in the ginkgo framework. Appears to be a test gap.

[2018-03-08 22:57] ianvernon commented on #3022
What sorts of metrics do we want?

[2018-03-08 23:06] #3067 closed, assigned to tgraf

[2018-03-08 23:20] joestringer commented on #418
Is anything else needed on this?

[2018-03-09 00:05] #2553 closed, assigned to joestringer

[2018-03-09 01:13] joestringer opened #3075 "Bump ENDPOINTS_MAP_SIZE dynamically based on endpoint count"
This map size is currently hardcoded, but it should be straightforward to expand this on demand.

https://github.com/cilium/cilium/blob/f8e147bcd072638ffedad2319fae4c3e2a7e6f19/pkg/maps/lxcmap/lxcmap.go#L34-L35

https://github.com/cilium/cilium/blob/5792bad0f29b5c8d061d3721ae4b4c53608cf8f9/daemon/daemon.go#L822

https://github.com/cilium/cilium/blob/60949815eb721630cc9401695a2230daf35e11ba/bpf/lib

[2018-03-09 07:44] eloycoto commented on #3066
@ianvernon The issue is that we disabled the swap on start, but we don't disable permanently, so when restart the system is not starting correctly.

I added the change in packer-ci-build, and I'll update the base image as soon is available.

[2018-03-09 08:50] hittingnote opened #3077 "XDP not work well with Docker veth"
I wanna load XDP program to container’s veth.
Firstly, I created two containers:
docker run -d --name host1 -h host1 exp:v1.0, and
docker run -d --name host2 -h host2 exp:v1.0,
where exp:v1.0 is the image I had created from training/webapp. And now host1 was binded to veth02b9ec2 with IP address 172.17.0.2, and host2 to vethf2e33b9 with ip_addr 172.17.0.3.

My XDP program is as follows:
#include <

[2018-03-09 12:33] borkmann commented on #3077
If I understand you correctly, you have two docker containers, host1 and host2. *Inside* host1 sits veth02b9ec2 with 172.17.0.2. Inside host2 container vethf2e33b9 with 172.17.0.3. You attach the drop-all XDP program to veth02b9ec2 in host1, and ping 172.17.0.2 -> 172.17.0.3. All correct? Now you are wondering that even though you've installed the XDP prog on veth02b9ec2 that nothing gets dropped.

[2018-03-09 12:35] aanm commented on #3066
@eloycoto I don't think this is related with `swap`. I think the containers are stopped and then kubeadm doesn't re-creates them because kubeadm is not running anymore.

[2018-03-09 12:52] eloycoto commented on #3066
@aanm

I'm 100% sure that it's the swap:
[code]

[2018-03-09 16:24] ianvernon opened #3080 "testing: address unit test gaps"
There are some functions which would benefit from having unit tests. This is a tracking ticket to add unit tests for said functions to ensure that they function as expected.

- [x] `pkg/k8s/network_policy.go: GetPolicyLabelsv1`
- [x] `pkg/k8s/network_policy.go: parseNetworkPolicyPeer`
- [ ] `pkg/k8s/network_policy.go: ipBlockToCIDRRule`

[2018-03-09 16:36] ianvernon opened #3081 "CODEOWNERS: add ginkgo-kubernetes-all.Jenkinsfile to be owned by cilium/ci"
Add this file to be owned by cilium/CI  in CODEOWNERS file.

[2018-03-09 16:45] aanm commented on #3066
ah right. makes sense!

[2018-03-09 18:50] jrajahalme opened #3086 "Go import cycle noticed during VM provisioning."
[code]

[2018-03-09 18:53] ianvernon commented on #3086
This has not occurred in the most recent build of master: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/340/consoleFull

[2018-03-09 19:14] ianvernon opened #3087 "pkg/ipcache: remove envoy dependency"
Refer to: https://github.com/cilium/cilium/pull/2875#discussion_r173335726

[2018-03-09 19:15] joestringer opened #3088 "Restrict `toServices` policies to headless services"
According to the documentation:
http://docs.cilium.io/en/latest/policy/language/#services-based

"Services running in your cluster can be whitelisted in Egress rules. Currently headless Kubernetes services defined by their name and namespace or label selector are supported."

As far as I can tell, we don't reject policies which attempt to act upon non-headless services, we just silently fail to im

[2018-03-09 19:15] joestringer commented on #3088
@nebril ^

[2018-03-09 20:52] aanm opened #3092 "Reject policies that contain rules with more than one L3 match in a single rule"
Update CRD validation

[2018-03-09 20:53] ianvernon commented on #3092
I presume there is a mismatch after the PR related to the title was merged between the CRD validation - Is there a way that this can be caught by the CI?

[2018-03-09 20:53] aanm commented on #3086
@jrajahalme Is this from local changes?

[2018-03-09 21:06] jmuzsik commented on #2976
Hi, sorry but this is impossible for me, it is not as simple as I supposed.

First of all, something like this has to be written within `cilium/cmd/bpf_ct_list.go`:

[code]

As, this form of function always happens in other instances of outputting JSON through the command line. Such as in:

`bpf_endpoint_list.go` or `bpf_tunnel_list.go`

Then,  the best reference I saw that had a similarity to wha

[2018-03-09 21:29] tgraf opened #3093 "Cilium must fail if k8s watcher can't be started"
When running in a Kubernetes environment:
 - Relevant environment variables are set
 - API server is configured via agent option

then users are expecting the pod health to represent the health of Cilium. The following failures must result in Cilium being reported as unhealthy:
 - Failure to create any of the k8s watchers
 - Failure to connect to etcd
 - Failure to connect to the apiserver

If any

[2018-03-09 21:40] joestringer opened #3095 "Add prometheus support for cilium-health metrics"

[2018-03-09 21:48] tgraf commented on #3088
@joestringer The problem is that we can't really tell at import time. The service is referred to by name and can change its type after policy import. I hope that we print at least an error message. I've discussed with @nebril and he's working on enabling non headless but endpoints backed services and as soon as egress pod enforcement is merged, we can extend it to support all service types. Adding

[2018-03-09 21:56] manalibhutiyani opened #3097 "Add clientID parsing in optiopay Kafka parser"
We need to add support for a `GetClientID` equivalent in Kafka optional parser

[code]

[2018-03-09 21:59] #2662 closed, assigned to nobody

[2018-03-09 22:01] aanm commented on #3092
Not for this specific case.

For the differences between structs and CRD validation there's a proposal / PR in k8s that will allow the auto generation of the CRD based on the structures

[2018-03-09 22:27] jrajahalme commented on #3086
Sorry, I did not notice this actually went out.. was caused by files left over from old branches, `git clean -fd` fixed this. Sorry for the noise.

[2018-03-09 22:27] #3086 closed, assigned to nobody

[2018-03-09 22:30] natemurthy commented on #2662
@tgraf In what release of Cilium do you expect the solution to #3018 will be included?

[2018-03-09 22:38] tgraf commented on #2662
@natemurthy `v1.0.0-rc7` that was released yesterday contains the fix. The `stable` tag contains the fix as well.

[2018-03-09 23:14] joestringer opened #3098 "LXCMap truncates identities to 16 bits"
https://github.com/cilium/cilium/blob/36e5df58600e5072e5c4c9027509e2bd38fc46e2/pkg/endpoint/endpoint.go#L1048

Currently the BPF map value definition only supports 16-bit identities:

https://github.com/cilium/cilium/blob/36e5df58600e5072e5c4c9027509e2bd38fc46e2/bpf/lib/common.h#L171

I'll put together a patch proposing that we just add a 32-bit identity later in the structure and shift everything

[2018-03-09 23:19] tgraf commented on #3098
I'm not sure this has to be priority high. We can't support 32 bits in the vxlan tunnel id anyway. I think it was just lazy coding on the user space side with the intent to eventually support more than 16 bits.

[2018-03-09 23:28] joestringer commented on #3098
@tgraf I see. Is anything stopping us from generating a large identity number and truncating it, then allowing traffic from the wrong identities on a remote node?

[2018-03-09 23:30] tgraf commented on #3098
Yes:
[code]

[2018-03-09 23:58] #2620 closed, assigned to nobody

[2018-03-10 00:33] #1706 closed, assigned to joestringer

[2018-03-10 03:58] ianvernon opened #3099 "Label-based egress: add label-dependent L4"
Parent: #1488

[2018-03-10 04:32] ianvernon opened #3100 "pkg/k8s: make it clear when policy is imported / not imported"
TODO: see https://github.com/cilium/cilium/pull/2878/commits/5da69d3aa29d31046f9c9b6cec795d3b8beecc47#r173590889 for more info

[2018-03-10 07:07] manalibhutiyani commented on #2883
I have a query about this
We only send a response if there is a request deny. I am going through all the responses we create :
[code]

I can see that we fill in the fields of the responses based on the value of `req.apiVersion`, specifically the `Bytes` interface of all of these methods checks for  `req.apiVersion` before choosing to fill in a field or skip it. So is this issue concerning checking

[2018-03-10 07:42] manalibhutiyani commented on #2301
The output of http://docs.cilium.io/en/latest/gettingstarted/minikube/ and others have already been fixed,
[code]

Just checked and confirmed. Closing this. Please reopen if needed.

[2018-03-10 07:42] #2301 closed, assigned to manalibhutiyani

[2018-03-10 10:39] brant4test commented on #3010
@tgraf Will Cilium `1.0.0-rc7` fixes these Events Warning?

[2018-03-10 11:06] tgraf commented on #2883
The intent of this issue is to verify whether we correctly support versioning of responses based on the requests, if we already do this, then this issue can be closed.

[2018-03-10 13:55] raybejjani opened #3101 "Switch k8s CiliumEndpoint CRD GC to lease based scheme"
### Description of requested functionality
ref https://github.com/cilium/cilium/pull/2772/files#r171154343
We added CiliumEndpoint CRDs in https://github.com/cilium/cilium/pull/2772 but when a node goes offline, no cleanup is done for it's existing endpoints. This is handled by a GC controller that runs on all agents periodically, removing the CiliumEndpoint objects from k8s if the corresponding n

[2018-03-11 22:30] ianvernon opened #3105 "Documentation: update which K8s versions run during PRs"
`Documentation/contributing.rst` says that the build runs against K8s 1.7 for PRs. This is no longer true, as we run against K8s 1.9. Update the docs accordingly, or remove explicit references to version numbers. We could change it to 'the latest released version of Kubernetes'?

[2018-03-12 07:49] eloycoto opened #3106 "Nightly: Test flake cannot exec command in container."
[code]

**Issue related:**
https://github.com/moby/moby/pull/36097 --> Docker CE 17.12.0-ce version.
https://github.com/openshift/origin/issues/16246
https://github.com/opencontainers/runc/pull/1683

Docker should be updated in the VM.

[2018-03-12 08:13] hittingnote opened #3107 "XDP program not work well with container's veth"
I wanna load XDP program to container’s veth.
Firstly, I created two containers:
docker run -d --name host1 -h host1 exp:v1.0, and
docker run -d --name host2 -h host2 exp:v1.0,
where exp:v1.0 is the image I had created from training/webapp. And now host1 was binded to veth02b9ec2 with IP address 172.17.0.2, and host2 to vethf2e33b9 with ip_addr 172.17.0.3.

My XDP program is as follows:
#include <

[2018-03-12 09:50] borkmann commented on #3107
Closing due to exact duplicate of #3077.

[2018-03-12 09:50] #3107 closed, assigned to borkmann

[2018-03-12 10:02] tgraf commented on #2641
Fixed via #2933

[2018-03-12 10:02] #2641 closed, assigned to nobody

[2018-03-12 10:03] #2883 closed, assigned to manalibhutiyani

[2018-03-12 11:26] eloycoto commented on #2971
Done https://github.com/cilium/cilium/pull/3028

[2018-03-12 11:26] #2971 closed, assigned to eloycoto

[2018-03-12 11:27] eloycoto commented on #2818
Fixed by:
https://github.com/cilium/cilium/commit/80e7094a1602cbe0ad2ea39bf4d3ca78e1877539

[2018-03-12 11:27] #2818 closed, assigned to eloycoto

[2018-03-12 11:28] eloycoto commented on #2438
Already done!

[2018-03-12 11:28] #2438 closed, assigned to eloycoto

[2018-03-12 13:58] aanm commented on #3005
What do you think?

[code]

Note the `toServicePorts` instead of `toPorts` to make the user aware it's the service port and not the port where to service is being provided

[2018-03-12 15:12] #3105 closed, assigned to eloycoto

[2018-03-12 17:26] ianvernon opened #3109 "CI: update tests to use BeforeAll / AfterAll constructs"
#3059 adds functionality to run certain functionality "before all" and "after all" [It blocks](https://onsi.github.io/ginkgo/#individual-specs-it) for the [Describe or Context](https://onsi.github.io/ginkgo/#organizing-specs-with-containers-describe-and-context) that the It belongs to. Currently, #3059 only migrated over the runtime tests for the Cilium monitor to use these new constructs. Migrate

[2018-03-12 17:46] joestringer commented on #3005
I don't know that it's ambiguous enough that it matters to name it differently if it's nested within a service; I would have thought that the nesting implies that the port is relating to the service already.

[2018-03-12 17:50] joestringer commented on #3004
I've addressed the "follow-up" items and I think that this issue has served its purpose for discussion so I will close this issue now.

Note that several things have already changed since the issue description, for instance we now reject unsupported combinations of matches in the rules.

[2018-03-12 17:50] #3004 closed, assigned to nobody

[2018-03-12 19:32] ianvernon opened #3113 "Re-enable documentation link checker"
This script isn't ran currently in the Ginkgo CI:

`tests/98-documentation-link-check.sh`:
[code]

Migrate this script over to `contrib/scripts` and make sure it is ran in the Ginkgo CI via some of the existing Makefile targets.

[2018-03-12 19:50] ianvernon opened #3114 "Egress support: update `bpf policy add` subcommands to support egress updates"
Add a flag which indicates whether we are updating ingress or egress policy.

[2018-03-12 21:18] tgraf commented on #3005
Looks good overall. Should we keep `fromEndpoints` to be a slice? The idea was that multiple FromEndpoints could be combined with a single `ToPorts` but that no longer makes sense.

The difference is this:
[code]

vs:

[code]

[2018-03-12 21:27] aanm opened #3115 "Use JSON Schema for policy validation"
I think we can leverage JSON Schema to enforce policy validation. That schema could be written under `pkg/policy` and both kubernetes CRD validation and `cilium policy import` would use that JSON Schema to enforce correctness of tthe Cilium Network Policy.

[2018-03-12 21:47] aanm commented on #3005
Yes

But that way we can't have `FromEndpoints` and `FromCIDR` (or any other `From*`) in the same ingress rule.

[2018-03-12 22:13] tgraf commented on #3005
Maybe you misunderstood, `ingress` remains a slice, I'm proposing to define `IngressRule` as follows:
[code]

The consequence is that if multiple `fromEndpoints` are desired, multiple `IngressRule` must be defined.

[2018-03-12 22:25] manalibhutiyani opened #3116 "Tests: Wait for Kafka broker to be up without sleeping"
Clean the Kafka Ginkgo tests to correctly wait for the broker to be up before trying to produce/consume.

//TODO: wait until ready
		helpers.Sleep(5)

Similarly make changes to k8s test as well to correctly handle this.

[2018-03-12 23:21] manalibhutiyani opened #3117 "Add OneOf rule for Role and ApiKey to Kafka rule in CRD schema"
Complete the Kafka Rule in the CRD schema, including adding a OneOf rule for Role and ApiKey
[https://github.com/cilium/cilium/blob/master/pkg/k8s/apis/cilium.io/v2/register.go#L288]

[2018-03-12 23:30] manalibhutiyani opened #3118 "Docs: Add new Kafka Role to the docs"

[2018-03-13 01:30] #1818 closed, assigned to manalibhutiyani

[2018-03-13 08:34] eloycoto commented on #2985
Fixed by https://github.com/cilium/cilium/pull/3082

[2018-03-13 08:34] #2985 closed, assigned to nobody

[2018-03-13 08:34] #2969 closed, assigned to ianvernon

[2018-03-13 08:38] eloycoto commented on #2765
Fixed by https://github.com/cilium/cilium/pull/3027

[2018-03-13 08:38] #2765 closed, assigned to nobody

[2018-03-13 08:40] eloycoto commented on #2514
Hi @ianvernon

I think that this issue can be closed due the fixes made in the DNS no?

[2018-03-13 08:41] eloycoto commented on #2316
Duplicated by https://github.com/cilium/cilium/issues/2316

[2018-03-13 08:41] #2316 closed, assigned to nobody

[2018-03-13 12:24] #2183 closed, assigned to raybejjani

[2018-03-13 16:22] ianvernon commented on #2904
Overall, I think this is a step in the right direction; it separates the datapath from the policy package, which is a big issue at this time. Other concerns I have regarding how we compute policy currently:

* Efficiency concerns (policy computation is quite costly)
* Need for in-memory caching in the agent of policy
* Gaps (no tracing for CIDR, no CIDR-dependent L4, tracing in general)
* Lack of

[2018-03-13 16:43] ianvernon commented on #2316
@eloycoto you referenced this ticket as duplicating itself, which is not possible. Did you mean to reference another ticket?

[2018-03-13 16:44] ianvernon commented on #2514
Given that we haven't seen this issue in some time, closing.

[2018-03-13 16:44] #2514 closed, assigned to eloycoto

[2018-03-13 19:26] eloycoto commented on #2316
Duplicated by https://github.com/cilium/cilium/issues/2900

[2018-03-13 20:20] rlenglet opened #3122 "Make xDS network policies per-endpoint instead of per-identity"
The NetworkPolicy resources pushed to Envoy proxies are currently defined as per-identity, cf. https://github.com/cilium/cilium/blob/master/envoy/cilium/npds.proto. I.e. proxies query network policies per security identity.
However, that will prevent us from handling per-endpoint configuration, especially the endpoint-specific enforcement mode.
Therefore, the NetworkPolicy resources need to be cha

[2018-03-13 20:24] rlenglet commented on #3122
@jrajahalme FYI, this will overlap with your change to npds.proto to replace the policy ID with IP address.

[2018-03-13 22:04] manalibhutiyani commented on #3118
@tgraf this needs updating `stable` to point to a more latest tag. The Kafka GSG uses stable cilium ds. Pleased advice? Or do we want to back port  the Kafka Roles support to stable branch?

[2018-03-13 23:44] joestringer commented on #3122
@rlenglet the below comment suggests that this logic is just an optimization that could be removed and things will still be functional. If we're moving away from identity-based policies for xDS, then the below would either need to go away, or be replaced by something that can go through all of the endpoints rather than just the sets of labels. At the moment I'm thinking that if each endpoint is tr

[2018-03-14 00:22] rlenglet commented on #3122
We're not moving away from identity-based filtering. That part of the policy shouldn't change, and we should keep this optimization.
The only change we're making is what we use as resource name for NetworkPolicy. I.e. you should change or complement the `uint64 policy` field with a `string name` field that contains the IP address of the endpoint.

[2018-03-14 01:04] #2552 closed, assigned to ianvernon

[2018-03-14 01:16] #2920 closed, assigned to joestringer

[2018-03-14 09:57] tgraf commented on #3116
The Kafka tests now fail regularly:
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1234/

[2018-03-14 11:27] eloycoto commented on #3116
I've just checked the logs for that build, looks like that Kafka container died:

Endpoint status at the end:
[code]

Kafka is created correctly:
[code]