[2018-06-22 14:47] aanm commented on #4615
Fixed by https://github.com/cilium/cilium/pull/4616

[2018-06-22 14:47] #4615 closed, assigned to eloycoto

[2018-06-22 21:03] #4570 closed, assigned to joestringer

[2018-06-23 21:09] joestringer opened #4622 "Cilium crashes when syncing metrics map"
@rcorrear on Slack reports:

Cilium version: 1.1.0-rc4 678eda332

[code]

Code:

https://github.com/cilium/cilium/blob/e542412662b85a1b32bb80043d115e03c9b3b83f/pkg/maps/metricsmap/metricsmap.go#L190-L195

Workaround: Moved back to `stable` version.

Marking this as a potential 1.1 release blocker as it causes an unrecoverable crash for users, depending on their CPU configuration.

[2018-06-23 21:28] rcorrear commented on #4622
Hi! Coming here from Slack to update some info requested there:

This is quite an old CPU on a Hyper-V Ubuntu VM.

[code]

[code]

[code]

[2018-06-24 07:48] #4622 closed, assigned to nobody

[2018-06-25 06:04] ishantanu commented on #4606
@joestringer Out of the below two, which is the kind of nesting you're expecting? Or is it different than these two?
1.
![Cilium Nesting 1](https://user-images.githubusercontent.com/6175822/41832837-6e935d82-786b-11e8-8764-e8800b8a6a69.PNG)

2.
![Cilium Nesting 2](https://user-images.githubusercontent.com/6175822/41832838-6ec6319e-786b-11e8-9b39-496c4bce4463.PNG)

[2018-06-25 06:43] joestringer commented on #4606
@iamShantanu101 I'm expecting the second one.

[2018-06-25 06:45] eloycoto commented on #4566
is it already in there no?
https://github.com/cilium/cilium/blob/63f3676dfbce11a4d80d209246c0dcfe30906ad7/test/helpers/cilium.go#L391

[2018-06-25 06:53] ishantanu commented on #4606
Fix is on its way.

[2018-06-25 08:39] #4606 closed, assigned to nobody

[2018-06-25 11:38] vadorovsky opened #4628 "vagrant: Kubernetes installation fails if VM already exists"
When you create a Vagrant VM with `K8S=1` env variable, execute `start.sh`, then halt the VM and execute `start.sh` again, then the following error occurs:

[code]

Steps to reproduce:

[code]

The only workaround is to do `vagrant destroy`. There is no possible way to reuse already existing VM.

[2018-06-25 11:40] aanm commented on #4628
@mrostecki can you try
[code]

[2018-06-25 13:11] vadorovsky commented on #4628
@aanm OK, it's working, although it's quite confusing. Can we document it somewhere or set `RELOAD` variable inside `start.sh` when VM already exists?

[2018-06-25 14:07] aanm commented on #4628
@mrostecki the documentation exists http://cilium.readthedocs.io/en/latest/contributing/?highlight=RELOAD#options

Please check if this helps https://github.com/cilium/cilium/pull/4631

[2018-06-25 14:10] vadorovsky commented on #4628
@aanm This documentation only mentions that `RELOAD` env variable is a replacement for `vagrant reload`. `vagrant reload` is used when VM is running and user wants to restart it. After shutting down the VM (`vagrant halt`), usually `vagrant up` is used. That's why it's confusing and this doc doesn't explain the issue with existing **but shutdown** VM.

[2018-06-25 14:12] vadorovsky commented on #4628
@aanm But yes, your PR seems to fix the issue. :) Let me test and review it.

[2018-06-25 15:52] ianvernon commented on #4566
@eloycoto that looks like it's for the Docker tests, which run the monitor directly, but not for the K8s tests, which run microscope.

[2018-06-26 06:02] aanm opened #4638 "CI: RuntimeValidatedLB - Timeout reached: could not import policy"
Hit this flake/bug in the master CI:

[code]
[code]

The test logs for "runtime.RuntimeValidatedLB Services Policies tests with conntrack enabled" can be found in [test_results_master_1117.zip](https://github.com/cilium/cilium/files/2135726/test_results_master_1117.zip)

Assigning @rlenglet and @jrajahalme as initial point of touch for envoy related failures

[2018-06-26 06:06] rlenglet commented on #4638
[code]
This is a duplicate of https://github.com/cilium/cilium/issues/4383.
This will be fixed by https://github.com/cilium/cilium/pull/4535.

[2018-06-26 06:10] rlenglet commented on #4638
Closing since this is a duplicate.

[2018-06-26 06:10] #4638 closed, assigned to rlenglet, jrajahalme

[2018-06-26 12:34] aanm opened #4644 "CI: K8sValidatedPolicyTestAcrossNamespaces - Microscope does not get started"
In one of the PRs the CI did not finish because of this message:

[code]

Unfortunately, inside the zip file there are no logs from microscope nor from kube-apiserver to know the pods' state.

[test_results_Cilium-PR-Ginkgo-Tests-Validated_4426.zip](https://github.com/cilium/cilium/files/2137077/test_results_Cilium-PR-Ginkgo-Tests-Validated_4426.zip)

Adding @eloycoto as I believe the CI has a bug

[2018-06-26 13:22] #4462 closed, assigned to aanm

[2018-06-26 14:15] tgraf opened #4649 "CI: Unit test timeout"
*Symptom:*
[code]

*Cause*
* 20 minute timeout of unit test is being hit
* Individual runs of go test $(package) take too long
* Possibly related with move to go 1.10

[2018-06-26 14:18] aanm commented on #4649
I started seeing boot timeouts in the VMs and I've made this PR https://github.com/cilium/cilium/pull/4639 to fix it. Which seems to fix it but the problem went to a different stage. Perhaps the machine that executes the VMs is being slower than what is supposed to be. By slowing down everything it will cause those timeouts.

[2018-06-26 14:56] eloycoto opened #4651 "CI: test-docs-please does not fail on spelling mistakes"
Docs PRs are not failing if the docs has spelling mistakes.

[2018-06-26 15:09] tgraf opened #4652 "Endpoint generation failed: Unable to rename current endpoint directory"
Seen the following warning when restarting Cilium. It seems related to restoring the health endpoint.

[code]

[2018-06-26 16:30] #4628 closed, assigned to nobody

[2018-06-26 16:31] manalibhutiyani commented on #3926
Closing since this is a know issue in `kubectl edit cnp` and we cannot propagate errors and make ` kubectl edit cnp` fail currently.

[2018-06-26 16:31] #3926 closed, assigned to manalibhutiyani

[2018-06-26 22:10] ianvernon commented on #3897
Discussed offline with @joestringer ; we think that this will take a large amount of work given that the code freeze for 1.2 is quite soon.

Some notes from the discussion:

* The probe should be fairly similar to what we have for LRU
* Given that there is datapath work, there are some variabilities w.r.t. time for completing this (hitting the complexity limit due to new map lookups, which will ad

[2018-06-26 22:10] ianvernon commented on #3897
Removing the 1.2 milestone and deferring to 1.3.

[2018-06-27 00:10] manalibhutiyani commented on #4465
Both issues are already fixed by @abhide15 afaik. Thanks!

[2018-06-27 05:31] subrnath opened #4658 "Documentation issue for Direct routing"
**Important:** Join our [slack channel](http://cilium.io/slack) for immediate
support and an opportunity to ask questions. Please also have a look at our
[FAQ](https://goo.gl/qG2YmU) for frequently asked questions first.

If you open a GitHub issue, please follow these guidelines:

1. It must be a bug or a feature request.
2. The form below must be filled out.

--------------

## Bug reports

###

[2018-06-27 07:46] sslavic opened #4659 "Support network traffic prioritization"
Prioritized network traffic is one of the basic latency reduction techniques in shared environment like Kubernetes (see https://youtu.be/1-3Ahy7Fxsc )

Please have it supported with Cilium.

[2018-06-27 10:20] subrnath commented on #4658
Problem is not seen in docker image cilium/cilium:v1.0.4 but seen in docker.io/cilium/cilium:latest.

[2018-06-27 10:20] #4658 closed, assigned to nobody

[2018-06-27 11:57] aanm commented on #4649
I got a `"Timeout reached: could not get Pods"` here https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/420/testReport/junit/k8s-1/8/K8sValidatedDemosTest_Tests_Star_Wars_Demo/ which was probably cause by this as the bpf program took 22 seconds to build causing a context deadline to the CNI plugin

[code]

[code]

[2018-06-27 12:39] eloycoto commented on #4649
@aanm from that buidl:
[code]

The same as https://github.com/cilium/cilium/issues/4541

[2018-06-27 14:21] eloycoto commented on #4541
. @aanm found the problem today:

Behaviour:
[code]

Test with the following change:
[code]
And the issue can be reproduced always.

[2018-06-27 16:38] manalibhutiyani commented on #4396
I can see if I have cycles for this.

[2018-06-27 16:40] manalibhutiyani commented on #4465
co-assigning to @abhide15 since he is also actively looking at this.

[2018-06-27 16:44] abhide15 commented on #4465
@manalibhutiyani -oyaml issue is fixed by

commit a800efac18cf177cf4956b8a0b794cd7ad52da22
Author: Amey Bhide <amey@covalent.io>
Date:   Wed Jun 20 17:58:24 2018 -0700

    sysdump: Remove -oyaml flag for kubectl version

    Signed-off-by: Amey Bhide <amey@covalent.io>

cluster-diagnosis/sysdumpcollector.py

Not working on the other issues reported in the ticket.. you can take those over.

[2018-06-28 06:33] subrnath opened #4668 "IPAM support"
## Feature Requests

### IPAM support

### Description of requested functionality

Can cilium support ipam plugin which will be useful if we need to know the IP of the POD before hand.

### Example use cases
I am using cilium with direct routing mode. Routes have been created by kube-router. It works fine with the new cilium fix provided in https://github.com/cilium/cilium/pull/4547. Now PODS crea

[2018-06-28 07:55] tgraf commented on #4668
@subrnath We don't implement the IPAM configuration yet and rely on the the k8s PodCIDR configuration.

What I don't understand in your example is how it ties an IP to a particular pod. The configuration of the IPAM pool is cluster wide.

[2018-06-28 08:52] subrnath commented on #4668
In this scenario, we are scheduling the POD to a particular node and that node specific label is put in the nodeselector field of the manifest.

OK. Agree with you, with as the IP allocation from  k8s PodCIDR configuration, it might not be feasible to  have IPAM.

[2018-06-28 08:52] #4668 closed, assigned to nobody

[2018-06-28 09:43] subrnath opened #4672 "interworking with SR-IOV"
## Feature Requests
Cilium inter working with SRIOV plugin

### Description of requested functionality

In the K8S cluster, there are some PODS having DPDK and hence need to go with SRIOV. Reason is - for DPDK to work, real physical interface needed ( PCI address). Other POD is having cilium with direct routing and deployed in other nodes.  Communication needed between  these two pods.

### Exampl

[2018-06-28 11:13] aanm opened #4673 "re-triggering tests in PRs does not stop previous tests that are still running"
a new `test-me-please` does not stop old builds, at least for `Cilium-PR-Ginkgo-Tests-K8s` as seen here https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/ build 424, 425, 426, 427 and 428 are running in parallel for the same PR

[2018-06-28 12:18] tgraf opened #4674 "Remove invalid error log when k8s node resource update fails"
This is a legitimate response from the apiserver. We retry correctly and should not log this as an error until all retries have failed.

[code]

[2018-06-28 12:34] eloycoto commented on #4541
Waiting to get any fail after merge this one https://github.com/cilium/cilium/pull/4670

[2018-06-28 13:53] eloycoto commented on #4673
Quick question here:

- If the build fails should the job stop all other builds?
- If the builds is cancelled, all the downstream jobs need to be cancelled too?

[2018-06-28 19:46] aanm commented on #4673
You mean, if `k8s-test-upstream` fails it should fail the ginko tests? No

You mean, if I run `k8s-test-upstream` and then `test-me-please`, should `test-me-please` stop the tests running by `k8s-test-upstream`? No.

[2018-06-28 19:50] aanm opened #4680 "Run microscope when executing cilium to master upgrade test"
We have a DNS flake in the cilium to master upgrade test.

Can we run microscope when we are checking if DNS is ready?

With microscope we can see what is going on and possible find the bug

[2018-06-28 20:06] ianvernon opened #4681 "policy: FromRequires and ToRequires are not considered when computing L4Policy"
### How to reproduce the issue

1. boot the developer vagrant vm: `NFS=1 ./contrib/vagrant/start.sh`
2. Create a cilium docker network, and start some containers:
[code]
3. Import the following policy into Cilium:
[code]
4.  Check the BPF PolicyMap for the endpoint with label id.httpd1:
[code]

Note that ingress from app1 is allowed on 80/TCP, despite the fact that the example policy restricts ing

[2018-06-28 20:20] ianvernon commented on #4681
Validated the issue from the initial ticket with the code from #4682:

[code]

[code]

[code]

[code]

[code]

[2018-06-29 00:35] manalibhutiyani commented on #4396
I am adding`endpoint regeneration` time too. Spoke to @rlenglet and to have an idea of the distribution, assuming a normal form, we need all 3:
- count of regenerations
- sum of time taken to regenerate
- sum of squares time taken to regenerate

[2018-06-29 07:42] #4681 closed, assigned to ianvernon

[2018-06-29 09:26] eloycoto commented on #4673
Current issues:

1) If the ginkgo-test fails, it should stop all k8s tests? or keep it running
2) Not possible to do. If we stop with test-me-please all others will stop. The only way that we can do, it's block the test-me-please to finish the k8s and continue with the test. Will be 4hours test.

[2018-06-29 09:51] aanm commented on #4673
These are my requirements:
 - `test-me-please` should stop all previous builds triggered by the previous `test-me-please`.
 - `test-missed-k8s` should stop all previous builds triggered by the previous `test-missed-k8s`.

[2018-06-29 09:52] eloycoto commented on #4673
sadly, that can't be done :-(

[2018-06-29 10:56] aanm opened #4689 "CI not running all unit tests"
It seems https://github.com/cilium/cilium/pull/4670 broke the unit tests and the CI didn't catch it. It was later fixed by https://github.com/cilium/cilium/pull/4685

[2018-06-29 14:00] joestringer commented on #3730
Fixed by https://github.com/cilium/cilium/commit/45231ff75f6f8b81ed11105e5afddefd502b5451

[2018-06-29 14:01] #3730 closed, assigned to nobody

[2018-06-29 18:12] ianvernon commented on #4689
The CI from https://github.com/cilium/cilium/pull/4670 did run the unit test which got broken.
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4495/execution/node/55/log/?consoleFull

Output from unit test which was fixed in #4685 :

[code]

#4685 was filed when I ran the tests in the developer VM with `NFS=1 ./contrib/vagrant/start.sh`. The unit tests in the CI run dire

[2018-06-29 18:36] ianvernon opened #4696 "policy: how are requirements treated when coupled with entities?"
We currently have five special 'entities' in Cilium, which are used in `FromEntities` and `ToEntities` when computing policy. These entities correspond to 'special' identities and encode certain meaning about the source / destination traffic accordingly.

They are:

* Host
* World
* Cluster
* Init
* Health

After this point, the term "requirements" refers to "ToRequires" and "FromRequires".
Curren

[2018-06-29 19:46] tgraf commented on #4696
Initially we had no entities at all and everything was represented as reserved labels so requirements always applied to what we call entities today. However, the policy repository was initially a tree which allowed to define rules in a parent of which child requirements would not apply. We simplified the language and this is a current gap.

We have to address this of course. Two obvious options co

[2018-06-29 20:14] tgraf commented on #4651
In current master, when building, I get:
[code]

[2018-07-02 08:45] tgraf commented on #4282
The new kops integration allows to specify the version. After that normal upgrade instructions must apply.

[2018-07-02 08:45] #4282 closed, assigned to nebril

[2018-07-02 08:46] tgraf commented on #3294
Closing this, has never been seen again.

[2018-07-02 08:46] #3294 closed, assigned to nebril

[2018-07-02 08:47] tgraf commented on #2372
This has been completed

[2018-07-02 08:47] #2372 closed, assigned to nebril

[2018-07-02 10:02] #73 closed, assigned to nobody

[2018-07-02 10:03] #137 closed, assigned to nobody

[2018-07-02 10:03] #153 closed, assigned to nobody

[2018-07-02 10:04] tgraf commented on #202
The best-practice is to use k8s services for this these days so this is no longer required

[2018-07-02 10:04] #202 closed, assigned to nobody

[2018-07-02 10:04] tgraf commented on #389
Done

[2018-07-02 10:04] #389 closed, assigned to nobody

[2018-07-02 10:05] #556 closed, assigned to nobody

[2018-07-02 10:06] #1145 closed, assigned to amreshakim

[2018-07-02 10:08] tgraf commented on #1008
Done

[2018-07-02 10:08] #1008 closed, assigned to tgraf

[2018-07-02 10:09] tgraf commented on #1303
Done via releases.cilium.io

[2018-07-02 10:09] #1303 closed, assigned to aalemayhu

[2018-07-02 10:09] tgraf commented on #1309
Done: http://docs.cilium.io/en/v1.1/policy/language/#kubernetes

[2018-07-02 10:09] #1309 closed, assigned to techcet

[2018-07-02 10:10] #1404 closed, assigned to nobody

[2018-07-02 10:11] tgraf commented on #1523
Known vagrant bug https://github.com/hashicorp/vagrant/issues/8061

[2018-07-02 10:11] #1523 closed, assigned to nobody

[2018-07-02 10:12] #1469 closed, assigned to techcet

[2018-07-02 10:13] tgraf commented on #1602
Fixed

[2018-07-02 10:13] #1602 closed, assigned to nobody

[2018-07-02 10:14] tgraf commented on #1708
minikube has become this box

[2018-07-02 10:14] #1708 closed, assigned to techcet

[2018-07-02 10:15] tgraf commented on #1752
Guide was removed

[2018-07-02 10:15] #1752 closed, assigned to nobody

[2018-07-02 10:16] #1912 closed, assigned to tgraf

[2018-07-02 10:19] tgraf commented on #2282
Process has been documented and automated to a large extend:
http://docs.cilium.io/en/v1.1/contributing/#release-management

[2018-07-02 10:19] #2282 closed, assigned to nobody

[2018-07-02 10:20] #1749 closed, assigned to raybejjani

[2018-07-02 10:20] #2542 closed, assigned to nobody

[2018-07-02 10:21] #2809 closed, assigned to nobody

[2018-07-02 11:06] tgraf opened #4703 "CI improvements for 1.2"
- [x] Get rid of annoying `No such file or directory` errors in logs

It seems to be coming from the find in `envoy/Makefile`

[code]

- [x] Get rid of Envoy build warnings:

[code]

[2018-07-02 11:14] raybejjani opened #4704 "Upload cilium-nightly images on each successful nightly"
### Description of requested functionality

There is no easy way to consume nightly images today. Creating and uploading a container image daily allows testing the current master inside a near-production environment. In particular, a named public image means users can follow the normal upgrade guide without resorting to special builds.
It is likely best to have the name be distinct enough from the

[2018-07-02 11:20] #4680 closed, assigned to nobody

[2018-07-02 12:17] tgraf commented on #4081
Fixed in master

[2018-07-02 12:17] #4081 closed, assigned to nobody

[2018-07-02 12:17] tgraf commented on #2374
Merged via #4270

[2018-07-02 12:17] #2374 closed, assigned to tgraf

[2018-07-02 12:19] tgraf commented on #1480
Node annotations are not longer required with #4270

[2018-07-02 16:33] ianvernon opened #4711 "policy: store proxy redirect ports in PolicyMap keys"
#2918 modified the BPF datapath to look up proxy ports from policy map entries. However, the Cilium agent is not populating those fields. The proxy ports are still compiled into arrays in the BPF programs (`lxc_config.h`), e.g.:
[code]
Those arrays are generated by method `Endpoint.writeL4Policy` in `pkg/endpoint/bpf.go`.

[2018-07-02 16:36] tgraf commented on #3401
Risk is 90% reduced by https://github.com/cilium/cilium/pull/4110

[2018-07-02 16:46] #4169 closed, assigned to rlenglet

[2018-07-02 16:47] #3065 closed, assigned to rlenglet

[2018-07-02 16:58] rlenglet commented on #4696
Instead of an `except`, I think it would be cleaner from a user's viewpoint to support disjunctions ("OR") of label selectors in each `from/toRequires`, e.g. to support expressing "requires from app=foo OR reserved:world". And we'd keep a conjunction ("AND") semantics among all the `from/toRequires` that apply to a particular endpoint.

That would be relatively easy to implement by manipulating se

[2018-07-02 17:19] tgraf commented on #4696
I like the approach a lot. We can use k8s set based approach for this as well.

Challenge:
Require does not allow on its own. Any requirement needs to be extended with an actual allow so the user would write: allow from app2, allow from world, require from world or teamA. I think it's still fine but it's not as pretty anymore.

[2018-07-02 18:37] #201 closed, assigned to nobody

[2018-07-02 18:38] #297 closed, assigned to ianvernon

[2018-07-02 18:39] #386 closed, assigned to nobody

[2018-07-02 18:40] tgraf commented on #494
Obsoleted by #2463

[2018-07-02 18:40] #494 closed, assigned to nobody

[2018-07-02 18:40] #498 closed, assigned to nobody

[2018-07-02 18:41] #466 closed, assigned to nobody

[2018-07-02 18:42] #655 closed, assigned to nobody

[2018-07-02 18:44] #779 closed, assigned to nobody

[2018-07-02 18:46] #1221 closed, assigned to nobody

[2018-07-02 18:47] #1343 closed, assigned to nobody

[2018-07-02 18:47] #1312 closed, assigned to techcet

[2018-07-02 18:49] #1672 closed, assigned to nobody

[2018-07-02 18:50] #1745 closed, assigned to jrfastab

[2018-07-02 22:18] tgraf opened #4713 "Fix ToServices in combination with ToPorts"
The datapath has already been extended accordingly but policies rules are still being rejected.

[2018-07-02 23:35] jrajahalme commented on #4703
These envoy build warnings can only be removed by grepping them out, will do.

find warnings are caused by `go list` in the main `Makefile` returning invalid paths when the current directory does not match go conventions. Locally I get them if I run `make` in `~/dev/cilium` but not if I run `make` in `~/go/src/github.com/cilium/cilium` which is a symlink to the first one. Will investigate if remov

[2018-07-03 01:11] rlenglet commented on #4711
That was already done in https://github.com/cilium/cilium/pull/2918.

[2018-07-03 05:40] aanm opened #4715 "CI: A connection from the host to a ServiceIP is shown as entity "world""
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4629/testReport/junit/k8s-1/7/K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/

[code]

output from microscope
[code]

policy for the `10.10.0.47` endpoint
[code]

[9acb0442_K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/2

[2018-07-03 05:45] aanm opened #4716 "CI: Improve microscope logs"
Currently microscope is logged as such:
[code]

I would propose to:

- [ ] Add timestamp to each printed line, can be accomplish with something like `kubectl exec -ti -- cilium monitor | ts '[%Y-%m-%d %H:%M:%S]'`
- [ ] Remove trailing `\n` so that we don't have blank line between lines

[2018-07-03 06:06] eloycoto commented on #4716
duplicated https://github.com/cilium/cilium/issues/4566

[2018-07-03 06:06] #4716 closed, assigned to eloycoto, nebril

[2018-07-03 06:07] eloycoto commented on #4566
Btw: For the track:

I search about this one:
[code]

But looks like that moreutils is not in the alpinelinux, but I found online:
https://pkgs.alpinelinux.org/package/edge/testing/x86/moreutils

[2018-07-03 07:50] #4446 closed, assigned to tgraf

[2018-07-03 09:46] raybejjani opened #4720 "k8s-1.7.K8sValidatedUpdates Updating Cilium stable to master -- service IP incorrect"
_I'm not sure that this is an actual flake_

### Summary
The IP that DNS returns for `app1-service` is incorrect (`10.110.243.223`). It is the IP assigned to the service earlier (`10.111.3.22`). All pods were on the same cilium node, `cilium-x46lj`. This all occurs before the cilium upgrade.

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1161/testReport/junit/k8s-1/7/K8sValidat

[2018-07-03 09:48] aanm commented on #4720
@raybejjani this PR will probably fix it https://github.com/cilium/cilium/pull/4708

[2018-07-03 09:58] raybejjani commented on #4720
This might be a dupe of https://github.com/cilium/cilium/issues/3878 actually, since the DNS is just running behind. I think you are correct about the fix. I'll close this because it adds nothing.

[code]

[2018-07-03 09:58] #4720 closed, assigned to raybejjani

[2018-07-03 10:41] eloycoto commented on #4644
These Describe function was deleted, so this issue can be close.
https://github.com/cilium/cilium/pull/4694

[2018-07-03 10:41] #4644 closed, assigned to eloycoto, nebril

[2018-07-03 12:50] milipili commented on #2374
oh my, really!? awesome! :D

[2018-07-03 14:04] #3803 closed, assigned to nobody

[2018-07-03 14:04] #3878 closed, assigned to raybejjani, eloycoto

[2018-07-03 14:04] #4029 closed, assigned to nobody

[2018-07-03 18:30] rlenglet commented on #4711
#2918 only fixed the BPF datapath. The Cilium agent is still not populating the proxy port in policy map entries.

[2018-07-03 19:50] ianvernon opened #4722 "policy: generate single model which encodes relations across L3, L4, and L7"
#4625 was proposed as a RFC / proof of concept of a new way to compute a policy which applies to a given endpoint in Cilium. After discussion amongst Cilium team members, it behooves us to get to a model like the one in #4625 , but in a digestible, iterative way over time to avoid regressions.

Motivations for this refactoring:
The current way that policy is generated in Cilium is in need of refac

[2018-07-03 19:56] ianvernon commented on #4689
@aanm can this be closed?

[2018-07-03 20:55] #4674 closed, assigned to aanm

[2018-07-03 21:40] ianvernon commented on #4722
Proposed model (very similar to `pkg/envoy/cilium/npds.pb.go:NetworkPolicy` and other associated fields, but not with any ties to Envoy APIs):

[code]

[2018-07-03 22:33] ianvernon commented on #2564
FYI @rlenglet this might overlap with the work you are doing right now.

[2018-07-03 22:42] tgraf commented on #4722
We should consider a different name given there is a k8s object `NetworkPolicy`. Can you think of a name that represents the fact that this is the translated artifact mapped to currently active identities? I'd like to make sure it's understandable that this is not a policy specification but a snapshot in time based on a particular set of current identities in use.

Why does this have to be embedde

[2018-07-03 22:42] rlenglet commented on #2564
Maybe. I think I'm nearly done with fixing https://github.com/cilium/cilium/issues/4711
That requires significant changes to `regenerateBPF`.

[2018-07-03 22:52] ianvernon commented on #4722
Valid point. How about `ComputedIdentityPolicy`?

As long as we are able to link a specific numeric identity to which this IdentityPolicy applies (i.e., as a key in a map), I'm OK with removing this field.

Sure.

[2018-07-03 23:09] tgraf commented on #4722
Can you elaborate this a bit? We have certain endpoint specific elements which can influence the policy such as endpoint configuration. In theory, the same identity can be subject to different policy computation depending on the agent configuration or different policy repository content on different nodes. So I assume we mean NumericIdentity associated with endpoints on the local node.

Sounds goo

[2018-07-04 08:13] #4689 closed, assigned to eloycoto

[2018-07-04 09:24] tgraf opened #4727 "Multi cluster routing (ClusterMesh)"
**Tasks:**
- [x] kvstore based node discovery (#4270)
- [x] ipcache based ingress enforcement (#4547)
- [x] support multiple kvstore clients (#4725)
- [x] testutils dependency (#4736)
- [x] clustermesh phase 1 - pod routing (https://github.com/cilium/cilium/pull/4738)
   - [x] remote etcd configuration via secrets
   - [x] clustermesh node discovery
   - [x] clustermesh ipcache to enable policy en

[2018-07-04 10:08] tgraf opened #4729 "Proposal: Remove PodCIDR dependency in multi node routing"
This is not a concrete proposal yet but a dump of thoughts on this topic. It requires future research and discussion.

*Status Quo*

The datapath is aware of individual node CIDR ranges (PodCIDR) and will perform a lookup of `destinationIP/PodCIDR.Mask` to derive the destination node. This lookup is performed in the tunnel map and executed when the destination IP does not belong to a local endpoin

[2018-07-04 13:51] #2959 closed, assigned to aanm

[2018-07-04 14:59] tgraf opened #4734 "ModifyIdentityLabels must check if endpoint is disconnecting"
`ModifyIdentityLabels()` can potentially be invoked on an endpoint that is already disconnecting and the state transition can incorrectly revive it.

[2018-07-04 19:57] ianvernon opened #4740 "envoy: set local_resources limits when building envoy to avoid bazel getting OOM killed"
As part of the effort to get the VMs used to test / develop Cilium using Ubuntu 18.04 LTS (see https://github.com/cilium/packer-ci-build/pull/57 ), I kept hitting OOM killed issues with gcc / bazel:

[code]

I edited the Makefile for envoy in Cilium to use the local_resources parameter, and no longer hit these OOM-killed issues when building the new VM image:

[code]

More information about `local

[2018-07-04 22:04] #4734 closed, assigned to aanm

[2018-07-05 00:17] #2590 closed, assigned to nobody

[2018-07-05 09:13] aanm opened #4745 "CI: RuntimeValidatedPolicies Extended HTTP Methods tests"
[code]

The test should have passed as the policy allows it:

<details>
<summary>policy enforced (click to expand)</summary>

[code]

</details>

I don't see anything from the monitor, except I believe the reply packet from `10.15.106.24` should have gone through the proxy?

<details>
<summary>monitor output (click to expand)</summary>

[code]

</details>

More info:

[18d2fe90_RuntimeValidatedPol

[2018-07-05 09:41] tgraf commented on #4745
This could be related to the connect timeout of 1 second. I think it is very optimistic.

[2018-07-05 09:59] tgraf opened #4746 "CI: RuntimeValidatedKafka: Cannot set default policy enforcement on target 'runtime'"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4675/consoleFull

[code]

[2018-07-05 10:03] eloycoto commented on #4746
[9acb0442_RuntimeValidatedKafka_Kafka_Policy_Ingress.zip](https://github.com/cilium/cilium/files/2166081/9acb0442_RuntimeValidatedKafka_Kafka_Policy_Ingress.zip)

[2018-07-05 10:05] tgraf commented on #4746
I think it will be very helpful to have a common helper for CmdRes which:
1. Checks for success
2. prints the original command executed
3. prints stderr and stdout nicely on error with a summary message provided by the caller

[2018-07-05 10:48] eloycoto commented on #4746
1) Already in there:
https://github.com/cilium/cilium/blob/036982fa8ce403edf90ae98c6a494085b441e46d/test/helpers/cmd.go#L79-L90

2 & 3) Already in there:
https://github.com/cilium/cilium/blob/036982fa8ce403edf90ae98c6a494085b441e46d/test/helpers/cmd.go#L206-L222

Example:

[code]

Where that info show:

Assert message: `"app1" can http request to Public`
Command: `Expected command: docker exec -i

[2018-07-05 11:15] tgraf commented on #4746
OK, then it's consistent use of it that is lacking. I see several different constructs:
[code]

[code]

[code]

There is a lot of open coded code around error handling which provides very minimal context of the failure even though we typically have everything right there.

[2018-07-05 11:16] #4510 closed, assigned to joestringer, jrfastab

[2018-07-05 11:20] #4241 closed, assigned to nebril

[2018-07-05 12:45] eloycoto commented on #4746
I'm against that, for one single reason, that code is all from helpers, and helpers IMHO should not make any assertion, because in one test you want to FAIL and another test should be success, for me this helpers are Factory builders.

If one helper returns true/false and something fails within that, that helper is not correctly writing. In this case, I'm not sure why, but we change the cilium con

[2018-07-05 12:48] eloycoto commented on #4746
About the task itself, Build failed because cilium not even starts:

[code]

And timeout after a while. It was a PR and it was not master.

[2018-07-05 13:45] tgraf commented on #4746
Then let's have a wrapper around it that can be used in all scenarios where command execution failure means test failure. If we would see the actual stderr error from the command, it will have been obvious that the Cilium API is not up.

We need to get away from requiring to dig into the logs for every single test failure. If I know that Cilium API could not be reached then I will immediately star

[2018-07-05 13:45] nebril opened #4749 "Build Cilium image on host instead of in Vagrant vms"
Right now building of Cilium image happens inside each Vagrant vm and is repeated for each Vagrant vm.

Image should be built before running Vagrant and provisioning vagrant should copy built image to all Vagrant Kubernetes nodes (either via `docker save; scp; docker import` or by running a registry inside vms and pushing image to them).

This will have following benefits:
- Building on host shoul

[2018-07-05 16:59] ianvernon commented on #4740
Fixed by #4744.

[2018-07-05 17:03] #4740 closed, assigned to nobody

[2018-07-05 17:04] ianvernon commented on #2688
Bionic APT support is merged. Once https://github.com/cilium/packer-ci-build/pull/57 is merged, will consume the changes in the Cilium Vagrantfiles.

[2018-07-05 18:05] joestringer commented on #4715
I think that because the traffic is directed to a service IP which is handled by `kube-proxy`, the iptables rule which would otherwise identify local traffic is not hit:

[code]
### ip r

[code]

### iptables-save

As outlined in the issue description, the destination IP is the service IP `10.96.108.241`. This traffic will fall to the default route, which would be routed towards `enp0s3` by the st

[2018-07-05 18:19] joestringer opened #4758 "Fix CLI for service entries"
PR #4667 introduced a new usage of the connection tracker which resulted in more entries, with the new ones marked with `tuple->flags |= TUPLE_F_SERVICE`:

https://github.com/cilium/cilium/blob/b41f63a53582c9153ddc74ef167c7aa177643b39/bpf/lib/conntrack.h#L221

The CLI doesn't print this new information, however. It should be added to each of the IPv4, IPv6 global / local `Dump()` functions:

https

[2018-07-05 18:49] joestringer opened #4759 "Update docs to provide users with mtu-update instructions"
Update the documentation so that users don't have to restart their apps to get the new MTU behaviour in Cilium 1.1 or later:

https://github.com/cilium/mtu-update

[2018-07-05 19:05] rlenglet opened #4760 "The Istio sidecar proxy image name is not configurable"
The sidecar proxy mode is enabled automatically for a k8s endpoint if:
- the pod has the `sidecar.istio.io/status` annotation
- the pod has a container named `istio-proxy`
- the `istio-proxy` container uses an image which names contains the string `cilium/istio_proxy`
- the `istio-proxy` container mounts `/var/run/cilium`

The issue is that the container image name is hardcoded, which prevents usi

[2018-07-05 19:18] joestringer commented on #4080
@tgraf regarding the third point:

This is still triggered based on packet receive though, right? It's just that we will only fire an event if at least a specified amount of time has passed since the last event being fired. Furthermore, events would be missed until the next packet arrives.

Second question: Does the packet/bytes counters here aggregate everything since the last notification?

[2018-07-05 20:18] tgraf commented on #4080
Correct

On Thu, 5 Jul 2018, 21:18 Joe Stringer, <notifications@github.com> wrote:

[2018-07-06 00:00] joestringer commented on #4080
The latter is already always included as part of the first 128B of the packet. If needed, we can pull this out into one of the header fields of the TraceNotification message type, by for instance repurposing the dstID or ifindex field. However, without the full feature to do this I don't see a point in adding this yet. The rest of the issue description makes no reference to this, so I assume it's

[2018-07-06 00:11] tgraf commented on #4080
Yes, that is at least the idea. We already have the counters in the ct table.

[2018-07-06 00:12] joestringer commented on #4080
@tgraf Do you invision this being a whole new type of notifications beside drop, trace, debug, or do you imagine this taking over trace?

[2018-07-06 00:53] ianvernon commented on #4248
The initial feature has ladned; https://github.com/cilium/cilium/pull/4492 is a fix on top of it, so moving this to 1.2-bugfix accordingly.

[2018-07-06 04:30] ianvernon commented on #4722
Sure. Here are some of the thoughts that have been mulling around in my head for a while. To start, I think that if we can define policy that applies to a given identity as being only dependent upon the rules (i.e., not on local agent configuration), it provides some nice benefits.

For instance, we only have to compute the policy for identities on the node if there is a change which affects the r

[2018-07-06 05:20] ianvernon opened #4767 "policy: decouple configuration updates of an endpoint from generation of policy for that endpoint"
Currently, configuration updates are coupled with policy regeneration:

https://github.com/cilium/cilium/blob/master/pkg/endpoint/policy.go#L436

This is because regeneratePolicy has been used to determine whether we should regenerate the BPF program for the endpoint or not:

https://github.com/cilium/cilium/blob/8d15cc962c44b3a8461c54e542eaa7395f787257/pkg/endpoint/policy.go#L786-L812

With chang

[2018-07-06 12:12] aanm opened #4769 "On restoring, keep endpoints that are in not-ready state in cilium endpoint list"
This happen when the bpf program gave an error while compiling and the endpoint stop showing up in the `cilium endpoint list`

I'm not sure since which version does this happen

[2018-07-06 15:31] joestringer commented on #4129
@tgraf I believe that all of this issue was addressed by #4547, correct?

EDIT: I think it covers the datapath work, but the API allow and testing is still missing. I updated the list of tasks in the description.

[2018-07-06 16:07] #4711 closed, assigned to rlenglet

[2018-07-06 16:11] joestringer opened #4771 "CI: k8s-1.10.K8sValidatedPolicyTest Basic Test ServiceAccount Based Enforcement: cannot change state of resource correctly"
Seen on PR: https://github.com/cilium/cilium/pull/4765
Link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4716/testReport/junit/k8s-1/10/K8sValidatedPolicyTest_Basic_Test_ServiceAccount_Based_Enforcement/

### Stacktrace

[code]

### Standard Output

[code]

Test code:
https://github.com/cilium/cilium/blob/99c8b91cd6ae2a2b322248d46c0f1b6ec820a7bb/test/k8sT/Policies.go#L263-L265

[2018-07-06 16:19] joestringer opened #4772 "Potential deadlock in regenerateBPF()"
Seen on PR #4765 (From master b41f63a53582c9153ddc74ef167c7aa177643b39):

[code]

[f0c5341e_K8sValidatedPolicyTest_Basic_Test_ServiceAccount_Based_Enforcement.zip](https://github.com/cilium/cilium/files/2171190/f0c5341e_K8sValidatedPolicyTest_Basic_Test_ServiceAccount_Based_Enforcement.zip)

[2018-07-06 16:23] ianvernon commented on #4772
`writeHeaderfile` expects the endpoint mutex to be locked:

https://github.com/cilium/cilium/blob/99c8b91cd6ae2a2b322248d46c0f1b6ec820a7bb/pkg/endpoint/bpf.go#L613-L618

But it calls `e.LogStatus`:

https://github.com/cilium/cilium/blob/99c8b91cd6ae2a2b322248d46c0f1b6ec820a7bb/pkg/endpoint/bpf.go#L77-L79

and `LogStatus` tries to acquire the endpoint's mutex:

https://github.com/cilium/cilium/blob

[2018-07-06 16:31] joestringer commented on #4771
Likely caused by #4772 crashing the Cilium daemon, as the timeout starts at that point and it seems that policy apply isn't retried. Will close and reopen if observed again.

[2018-07-06 16:31] #4771 closed, assigned to joestringer

[2018-07-06 16:44] #4566 closed, assigned to eloycoto

[2018-07-06 17:37] ianvernon commented on #4036
@joestringer we haven't seen this for some time; can we close?

[2018-07-06 19:25] #4772 closed, assigned to ianvernon

[2018-07-06 21:05] joestringer commented on #4036
@ianvernon I don't have anything actionable to do for this, I think if it shows up again then we need more information about the nature of the connectivity issue to the local cilium-health instance.

Closing, feel free to reopen if this is seen again.

[2018-07-06 21:05] #4036 closed, assigned to joestringer

[2018-07-06 21:29] ianvernon commented on #2688
Fixed by https://github.com/cilium/cilium/pull/4766

[2018-07-06 21:29] #2688 closed, assigned to ianvernon

[2018-07-06 21:29] ianvernon commented on #2688
Removing backport label per @tgraf 's comment on the PR: https://github.com/cilium/cilium/pull/4766#issuecomment-403147790

[2018-07-06 21:48] tgraf opened #4779 "Proposal: Separate identity for remote cluster nodes"
We currently have an identity `reserved:host` which represents both the local node but also all other nodes in the cluster. The collapsing of both local and remote nodes into a single identity is not ideal. With the introduction of the ipcache, we can split the local and remote nodes and assign individual identities.

**Use case walkthroughs**

1. Ingress from another node via tunnel, e.g. host ne

[2018-07-06 22:06] tgraf commented on #4329
The original purpose of this ticket has been resolved

[2018-07-06 22:06] #4329 closed, assigned to eloycoto

[2018-07-06 22:12] joestringer commented on #4779
I assume this proposal supersedes https://github.com/cilium/cilium/issues/3536 .

Case 1 could be achieved on transmit from node A (see that it's from host and rewrite to from remote-node) or on receive at node B (there's no legitimate reason with this model to receive from:host so from:host can be rewritten to from reserved:remote-host).

Case 2 depending on how it's received we could treat as fr

[2018-07-06 22:19] tgraf commented on #4779
Yes, I was looking for this but didn't find it.

Agreed. There is no way around it. It's invisible for new users so I'm not worried.

[2018-07-06 22:19] tgraf commented on #3536
Superseded by #4779 4779

[2018-07-06 22:19] #3536 closed, assigned to joestringer

[2018-07-07 04:57] ianvernon commented on #4055
Closing this; we haven't had a need for it.

[2018-07-07 04:57] #4055 closed, assigned to ianvernon

[2018-07-07 04:57] ianvernon commented on #4326
@tgraf is there anything left to do here?

[2018-07-07 18:40] ianvernon commented on #4713
@tgraf I can take this on. Will this need backport to 1.1?

[2018-07-07 18:46] ianvernon commented on #4411
Taken care of by https://github.com/cilium/cilium/pull/4697

[2018-07-07 18:46] #4411 closed, assigned to nobody

[2018-07-07 18:47] ianvernon commented on #3966
We haven't seen this failure in quite some time. Given that we have updated the version of Consul used in the CI, we will see if we hit this again. We can reopen if needed.

[2018-07-07 18:47] #3966 closed, assigned to nobody

[2018-07-07 18:49] ianvernon commented on #2803
This was taken care of by https://github.com/cilium/cilium/pull/3965 , which removed the Consumable type from Cilium.

[2018-07-07 18:49] #2803 closed, assigned to nobody

[2018-07-07 18:51] ianvernon commented on #1256
Closing; this is complicated behavior. We can add to our documentation to say that if Cilium is used in tandem with Kubernetes, to use Kubernetes to manage the policies that are imported into Cilium.

[2018-07-07 18:51] #1256 closed, assigned to nobody

[2018-07-07 18:51] ianvernon commented on #3398
This was taken care of already. Closing.

[2018-07-07 18:51] #3398 closed, assigned to nobody

[2018-07-07 18:57] ianvernon commented on #3424
This has fallen out of scope for 1.2. Moving to 1.3.

[2018-07-07 19:14] ianvernon commented on #3897
Question - instead of using an array of maps, given that the number of policy maps is bounded for a given endpoint with this change (one that is in use, and the other that is ready to be atomically swapped), instead of using `BPF_MAP_TYPE_ARRAY_OF_MAPS` / `BPF_MAP_TYPE_HASH_OF_MAPS`, is there a way that we can perform some type of `mv` operation from some of our scripts to swap the map locations o

[2018-07-09 02:53] swimablefish opened #4781 "the network not working if add --disable-conntrack"
**Important:** Join our [slack channel](http://cilium.io/slack) for immediate
support and an opportunity to ask questions. Please also have a look at our
[FAQ](https://goo.gl/qG2YmU) for frequently asked questions first.

If you open a GitHub issue, please follow these guidelines:

1. It must be a bug or a feature request.
2. The form below must be filled out.

--------------

## Bug reports

###

[2018-07-09 02:57] swimablefish commented on #4781
[cilium-sysdump-20180709-024056.zip](https://github.com/cilium/cilium/files/2174499/cilium-sysdump-20180709-024056.zip)

[2018-07-09 03:20] swimablefish opened #4782 "dns is very slow and ns lookup timeout in standalone k8s"
### Title

DNS is very slow and lookup domain name timeout in standalone k8s.

### General Information

- Cilium version (run `cilium version`): 1.1.0
- Kernel version (run `uname -a`):Linux ip-10-12-3-68 4.13.0-45-generic #50~16.04.1-Ubuntu SMP Wed May 30 11:18:27 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): k8s 1.10.2
- Link

[2018-07-09 03:29] swimablefish commented on #4782
[cilium-sysdump-20180709-031858.zip](https://github.com/cilium/cilium/files/2174562/cilium-sysdump-20180709-031858.zip)

[2018-07-09 04:48] #4396 closed, assigned to manalibhutiyani

[2018-07-09 08:06] borkmann commented on #3897
@ianvernon Yeah, so what you could do instead is to have a new map in the bpffs with a different name, load all the policy data into it, mv the old map to a temp location and mv the new map to the actual map name, then trigger an atomic reload of the bpf program, and it will pick the new map to be used. So instead of relying on atomic map in map replacement, you would use atomic prog replacement,

[2018-07-09 10:38] eloycoto opened #4784 "GSG: GRPC enforcing is not working correctly"
Happens on each Nightly, can be reproduced:

To reproduce:
[code]

Issue, L7 Policy deny is not working:

Policy example:
[code]

The following command should fail:
[code]

The endpoint status:

#### Endpoint list

[code]

#### BPF Policy Get 18974

[code]

#### BPF CT List 18974

[code]

#### Endpoint Get 18974

[code]

Around the logs:

[code]

No Error or Warnings.

Logs:
[99c0943e_NightlyExamp

[2018-07-09 13:07] vadorovsky opened #4786 "test Vagrantfile failing on openSUSE"
On openSUSE, the `CPU` environment variable usually contains the architecture of processor. Example:

[code]

`test/Vagrantfile` is using `CPU` env variable to configure number of vCPUs in VMs. Of course the value of that variable in openSUSE is not numerical (it gets defaulted to `0`), so running `vagrant up` results in the following error:

[code]

Changing the var name from `CPU` to `CPUS` will

[2018-07-09 16:35] ianvernon opened #4789 "vagrant / CI: how to handle downloading of packages into VMs at test time?"
Taking disucssion from #4766 here.

Problem: we have to download dependencies into the VMs at test time, specifically for the Kubernetes tests, because the version of Kubernetes being tested against is based off of parameters provided at test time. We do this via apt-get:

https://github.com/cilium/cilium/blob/e261cd16b5139ce422cb65a780f32689bd2bbe1d/test/provision/k8s_install.sh#L128-L141

https:

[2018-07-09 16:41] aanm commented on #4767
Related with https://github.com/cilium/cilium/issues/2496

[2018-07-09 16:43] ianvernon commented on #4789
cc: @aanm @eloycoto

[2018-07-09 16:53] #4786 closed, assigned to nobody

[2018-07-09 17:41] ianvernon opened #4791 "CI: precheck failing with "permission denied" errors"
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4783/execution/node/41/log/

Console output:

[code]

[2018-07-09 17:41] ianvernon commented on #4791
Test ran on jenkins-node-4:

[code]

[2018-07-09 17:42] ianvernon commented on #4791
Looks like this is affecting master builds as well: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1201/execution/node/44/log/

[2018-07-09 17:50] ianvernon commented on #4791
The issue is with a provisioning script of the CI nodes. This is being fixed currently.

[2018-07-09 17:54] ianvernon commented on #4791
@eloycoto please close when you have verified that the changes work against current Cilium master.

[2018-07-09 19:57] #4326 closed, assigned to borkmann, raybejjani, joestringer, jrfastab, ianvernon, jrajahalme, techcet, ackerman80, manalibhutiyani

[2018-07-09 20:30] aanm commented on #4789
LGTM. This can be put in the CI image but not in the developer's. We also need to keep the "download" bits from the vagrant provisioning as they are helpful to test different versions when doing a k8s upgrade, e.g. #4757 . Maybe keeping a sort of a cache, does `apt-get` supports having a cache with all packages pre-downloaded?

[2018-07-09 22:02] ianvernon commented on #4791
Closing, builds are now going past the precheck stage, indicating that the fix has been verified.

[2018-07-09 22:02] #4791 closed, assigned to eloycoto

[2018-07-09 22:05] tgraf opened #4793 "Proposal: Replace DaemonSet configuration with configuration file"
We currently provide configuration knobs by:
1. Allowing to edit the ConfigMap
2. Adding individual environment variable entries for each config knob

*Proposal:*
Use the configuration file feature of viper and read the ConfigMap as file after mounting it inside the pod.

[2018-07-09 22:09] #4759 closed, assigned to nobody

[2018-07-10 05:42] KSanthanam opened #4794 "Unable to Start Cilium on GCP K8s Cluster"
I tried running cilium inside GCP's Kubernetes Cluster (version 1.10.5-gke.0) with but I get error in creating the cilium pods.

Attached are the description of the cluster and pod
**Cilium Pod Desc**

Name:           cilium-7rfcx
Namespace:      kube-system
Node:           gke-cluster-exchange-default-pool-032aad99-062c/10.152.0.3
Start Time:     Tue, 10 Jul 2018 15:09:34 +1000
Labels:         co

[2018-07-10 09:55] tgraf commented on #4794
The reason seems to be this:
[code]

[2018-07-10 10:10] eloycoto commented on #4746
Fixed by:
https://github.com/cilium/cilium/pull/4770

[2018-07-10 10:10] #4746 closed, assigned to nobody

[2018-07-10 10:43] tgraf opened #4798 "Can't find IP in NPHDS cache"
This is killing my agent regularly.

[code]

[2018-07-10 10:47] aanm commented on #4798
it will likely need backport to 1.1 as this code is present there

[2018-07-10 11:04] raybejjani commented on #4782
@swimablefish do you recall any pods that had the timeouts? and perhaps the times?
Separately, I have some more general questions:
1- Did you update the K8s NetworkPolicy (or CiliumNetworkPolicy) regularly 30 minutes or so before you took the dump?
I see a bursts of regenerations of both DNS pods every few seconds starting at `2018-07-09T02:21:26.892598062Z`. They all complete quickly so it should

[2018-07-10 11:09] tgraf commented on #4782
The above error in the log is a known harmless bug (#4652) and will be fixed in the next release.

[2018-07-10 11:19] tgraf commented on #4782
@swimablefish Do you happen to have a tcpdump capture of a slow DNS request?

I couldn't spot anything unusual in the sysdump besides the conntrack table being somewhat large with 200K entries. This could indicate that TCP connections are not closed properly or Cilium doesn't see the connection close properly.

[2018-07-10 11:22] tgraf opened #4800 "Add prometheus local prometheus metrics to bugtool"
The Prometheus metrics collected locally are useful to have in the bugtool for debugging.

[2018-07-10 14:53] rlenglet opened #4803 "Envoy update fails with NACK because of duplicate NPHDS entry"
Envoy update fails with a NACK, due to duplicate NPHDS entries:
[code]
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1207/consoleFull
[9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/2180890/9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

[2018-07-10 14:56] tgraf commented on #4803
Likely related to merging #4732 with results in ipcache entries to be created based on pod notifications.

[2018-07-10 15:01] rlenglet commented on #4803
Yeah, #4732 would be a good explanation. There's a lot of logic in `IPIdentityWatcher.Watch` that this new code bypasses. Especially, the existing kvstore code doesn't upsert into IPIdentityCache if the entry is already in there.

[2018-07-10 15:03] rlenglet commented on #4803
And the new code doesn't call back the ipcache listeners, etc.

[2018-07-10 15:08] tgraf commented on #4803
We can add a check to see if the ID is different but the Envoy filter should really be able to handle this.

[2018-07-10 15:11] tgraf commented on #4803
We can also do a lookup in ipcache.Upsert() and skip if it's a non update

[2018-07-10 15:30] rlenglet commented on #4803
I’ll look into encapsulating the logic from Watch to make it usable outside of the kvstore watcher.

[2018-07-10 15:36] rlenglet commented on #4803
We really need to have the same logic as Watch. For example, any update to ipcache must be followed by a call to the ipcache listeners, because that’s how NPHDS is kept in sync.

[2018-07-10 17:44] #4760 closed, assigned to rlenglet

[2018-07-10 21:52] #4713 closed, assigned to ianvernon

[2018-07-10 23:31] tgraf commented on #4651
This was tracked down that the PR that introduced the spelling mistake did not have the `area/documentation` label set so the spelling check was not run.

[2018-07-10 23:31] #4651 closed, assigned to nobody

[2018-07-11 02:44] tgraf opened #4808 "NACK found: Envoy filter rejects IP to identity mapping update"
The envoy filter currently rejects NPH updates if the mapping of an IP to an identity changes:
[code]

[2018-07-11 03:27] tgraf commented on #4798
[f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2182830/f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip)
Full respective log section:
[code]

[2018-07-11 07:18] eloycoto commented on #4789
Hi,

I'm not sure that I understand the problem here at all, as far as I understand
we have two problems

1) Issues with Bazel dependencies on stable branch
2) Apt repo is out of service.

About the repo out or service, I don't think that move from APT to stable
binaries will fix the problems either, I think that we will point to another
provider, `kubeadm` download all images from Google registry

[2018-07-11 10:45] raybejjani opened #4814 "--disable-conntrack incorrectly disables/breaks load-balancing"
From triaging https://github.com/cilium/cilium/issues/4781

I tested this in minikube on both 1.1.0 and lastest. Both exhibited this behaviour. I'm not sure if this is intended. If so we should simply document it. If not, a more involved fix is needed. I suspect this is intended behaviour based on https://github.com/cilium/cilium/pull/4667 but I'm not sure.

### How to reproduce the issue
Followin

[2018-07-11 10:45] raybejjani commented on #4781
@swimablefish I'm able to reproduce this and I tracked it down to the load balancing not working when conntrack is disabled. This applies to the dns server and it's connection to kube-apiserver. In my testing, using pod IPs directly did work. Can you test that to ensure that I'm seeing the same problem?

In the meantime, I've created a bug https://github.com/cilium/cilium/issues/4814 to avoid over

[2018-07-11 11:31] tgraf opened #4815 "CI: etcd connection timed out"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1213/

[aa209b8e_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2184216/aa209b8e_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

Reason for test failure: Cilium does not come up
[code]

Cilium status
[code]

kube-controller-manager log: etcd request timed o

[2018-07-11 11:35] tgraf commented on #4815
Regarding the etcd warning, newer etcd versions have a 100ms watermark:
https://github.com/kubernetes/kubernetes/issues/43363

[2018-07-11 11:40] tgraf commented on #4815
There are indications that other components on the system are failing as well:

cilium was marked unhealthy temporarily:
[code]

This problem recovered:
[code]

apiserver connectivity then died:
[code]

[2018-07-11 12:03] tgraf commented on #4815
The system is under massive load:
 ```04:00:18 up  1:00,  0 users,  load average: 24.39, 15.76, 10.71```

Cause are cilium clients:
[code]

Merged #4816 to retrieve more information about the processes running

[2018-07-11 12:21] tgraf opened #4818 "Error regenerating endpoint: Error while configuring proxy redirects: proxy state changes failed: context deadline exceeded"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1212/testReport/k8s-1/7/K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/

[9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/2184375/9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

Error reported:
[code]

Underlying problem: Endpoints

[2018-07-11 12:23] tgraf commented on #4818
System is subject to high load while test fails:
[code]

[code]

[2018-07-11 13:47] tgraf opened #4821 "Deadlock: fatal error: sync: Unlock of unlocked RWMutex: pkg/endpoint/bpf.go:656"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1218/

[516c42b0_RuntimeValidatedPolicies_TestsEgressToHost_Tests_egress_with_CIDR+L4_policy_to_external_https_service.zip](https://github.com/cilium/cilium/files/2184711/516c42b0_RuntimeValidatedPolicies_TestsEgressToHost_Tests_egress_with_CIDR%2BL4_policy_to_external_https_service.zip)

[code]

[2018-07-11 14:58] swimablefish commented on #4782
@raybejjani
1. I didn't update update the K8s NetworkPolicy (or CiliumNetworkPolicy)
2. Is there default timeout for the system, in my log, it doesn't show the timeout
: dial tcp: lookup my-live.slatic.net on 10.254.0.10:53: read udp
Http Get failed, Get https://my-live.slatic.net/original/ae3b8b2ae8edb9721249ff08b7ba688e.jpg: dial tcp: lookup my-live.slatic.net on 10.254.0.10:53: read udp 172.16.

[2018-07-11 16:02] swimablefish commented on #4781
@raybejjani , yes, pod IPs work

[2018-07-11 16:27] #4821 closed, assigned to tgraf

[2018-07-11 17:14] tgraf commented on #4815
From a failing CI run, the load continues to be an issue but `ps auxfww` does not provide details:

[code]
[code]

[2018-07-11 17:32] ianvernon commented on #4818
@tgraf any insight into what is causing this high load? Number of concurrent regenerations, goroutines holding locks, etc.?

[2018-07-11 17:33] tgraf commented on #4818
Still debugging. Could be the same cause as #4815

[2018-07-11 17:36] joestringer opened #4824 "Documentation build complains a lot"
The docs build was in a reasonable state a release or two back, but now the warnings are stacking up.

Tasks:
* [x] Fix documentation build so that it fails the build, forcing developers to fix them.
* [x] Fix the current warnings, example below.

[code]

[2018-07-11 17:37] tgraf commented on #4815
The generated load could be a wrong lead. It could be entirely caused by the `cilium-bugtool` collecting information

[2018-07-11 18:15] ianvernon commented on #4789
@eloycoto responses inline:

binaries will fix the problems either, I think that we will point to another
provider, kubeadm download all images from Google registry and from Kubernetes
resources urls.

How does apt-get relate to Docker images? If we are using apt to download the Kubernetes binaries that run on the nodes, e.g., the following which are installed via `apt-get` in the CI currently:

[

[2018-07-11 19:41] #3863 closed, assigned to manalibhutiyani

[2018-07-11 19:44] manalibhutiyani commented on #4289
1.2 additional metrics feature work assigned to me is complete and merged today.

[2018-07-11 19:50] vadorovsky commented on #4289
Mine (latency metrics from `cilium-health`) are not done yet and they need to be moved to 1.3. Feel free to remove my nick from this issue.

[2018-07-11 20:53] vadorovsky opened #4825 "Optionally use nftables instead of iptables"
iptables is used directly in several places inside `daemon/daemon.go`:

https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L425
https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L463
https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L472-L478
https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L483
https://github.com/cilium/cilium/blob/master/daemon/dae

[2018-07-12 01:21] joestringer commented on #4080
I've updated the description of this issue and highlighted the pieces which are addressed with the current trace notification aggregation implementation.

I'm considering any conntrack-related notifications, including special notifications for creation events and packet/byte counting work to be out-of-scope for 1.2. The core aggregation (well, ratelimiting) work for active connections is all in th

[2018-07-12 10:30] ishantanu commented on #4824
@joestringer Since the lines mentioned in the description are flagged as warnings, do you mean to add `-W` to sphinx-build? So that the build will fail if there are some warnings? Because there are a lot of "mistakes" which are being flagged as `WARNING` and they need to be fixed before the build succeeds.

[2018-07-12 10:57] #4704 closed, assigned to nebril

[2018-07-12 12:52] eloycoto commented on #4824
@joestringer yesterday I made a few cleanups, not all but a few of them:
https://github.com/cilium/cilium/pull/4813

[2018-07-12 13:23] vadorovsky opened #4832 "mountinfo: parse empty strings in source"
The source of mount in /proc/self/mountinfo can be an empty string. Many mountinfo parsers (even in util-linux or runc, but also in Cilium) are failing when the source is empty. Example from util-linux:

[code]

Patch to util-linux: https://www.spinics.net/lists/linux-fsdevel/msg128896.html

[2018-07-12 13:28] vadorovsky commented on #4832
There is also a patch which may fix this on the kernel side (using `none` instead of empty string) https://patchwork.kernel.org/patch/10349095/

[2018-07-12 14:13] vadorovsky commented on #4832
Nevermind, Cilium is resistant for that issue. I forgot that doing `strings.Split(s, " ")` in Golang doesn't trim the empty strings aroused by spaces. It's all good, Cilium works perfectly with mounts with empty sources.

[2018-07-12 14:13] #4832 closed, assigned to nobody

[2018-07-12 14:24] aanm opened #4834 "CI: K8sValidatedServicesTest Checks service across nodes Tests NodePort"
[code]

[9acb0442_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2188958/9acb0442_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4897

[2018-07-12 15:45] joestringer commented on #4824
@iamshantanu maybe? Except I think that the dummy docs build triggered from the main Makefile attempts to filter out known issues like the dummy backend doesn't support one of the plugins we use for tabbed sections (eg k8s install instructions for different k8s versions). This could potentially hide a failure in the Documentation/ Makefile if we're not careful.

And yes, all existing issues would

[2018-07-12 17:51] ianvernon opened #4835 "CI: all Cilium logs dumped to console results in Jenkins being unable to load"
We have a test helper to ensure that the logs for Cilium do not contain certain strings (panics, deadlocks, segfaults, NACKs from Envoy) to ensure that we are not glossing over potential regressions which Cilium recovers from upon restart:
https://github.com/cilium/cilium/blob/272fb386c44157a06a126e3c5a50dbf2f40cf7e2/test/helpers/cilium.go#L636-L649

However, we make an assertion on the string con

[2018-07-12 22:43] joestringer opened #4837 "CI: Measure verifier complexity for bpf programs"
The script `test/bpf/check-complexity.sh` can load the BPF programs compiled in the tree and print out the instruction complexity for each program (related: #4905):

https://github.com/cilium/cilium/blob/master/test/bpf/check-complexity.sh

* [x] Create complexity checker script (#4905)
  * [ ] Improve machine readability of the script output
* [ ] Evaluate options for measuring complexity
  * Ext

[2018-07-12 23:03] joestringer commented on #4837
FWIW the prog sections `N/M` are derived from these:

[code]

For `CILIUM_MAP_POLICY`, the `M` indicates `LXC_ID` of the endpoint.

For `CILIUM_MAP_CALLS`, the `M` maps to one of the below:

[code]

[2018-07-13 07:42] eloycoto commented on #4835
Will be fixed by: https://github.com/cilium/cilium/pull/4823

[2018-07-13 15:35] aanm opened #4843 "POTENTIAL DEADLOCK: pkg/bpf/map.go:369 bpf.(*Map).OpenOrCreate"
[code]

[2018-07-13 21:22] ianvernon opened #4845 "policy: putting IPv4 and IPv6 allow-all CIDRs in same ToCIDR within a rule does not allow egress to world"
Reproducing steps:

1. Apply the SW example in the Cilium repo:

[code]

2. Import the following policy:

[code]

3. Check that egress enforcement applies to endpoints which are selected by the rule:
[code]

4. Check the PolicyMap for this endpoint:
[code]

no PolicyKey corresponding to 0.0.0.0/0 or ::/0 (i.e., the world) is inserted into the PolicyMap.

[2018-07-14 00:23] #4845 closed, assigned to ianvernon

[2018-07-14 09:30] aanm opened #4847 "CI: Flake K8sValidatedServicesTest External services To Services first endpoint creation"
I believe this is a flake in the test itself.

[code]
the CEP for that particular endpoint contains the string:
[code]
https://jenkins.cilium.io/view/PR/job/Cilium-PR-Ginkgo-Tests-Validated/4953/
[9acb0442_K8sValidatedServicesTest_External_services_To_Services_first_endpoint_creation.zip](https://github.com/cilium/cilium/files/2194814/9acb0442_K8sValidatedServicesTest_External_services_To_Services

[2018-07-16 05:23] ishantanu commented on #4824
@joestringer Understood. Also, I guess you meant "@iamShantanu101" instead of "@iamshantanu".

[2018-07-16 08:40] raybejjani commented on #4782
@swimablefish The default timeout would depend on your system. It's a few seconds usually (perhaps a little more, 5 seconds). The line you posted looks like a DNS timeout, where it did not receive a response (I'm assuming `172.16.0.237` is the  IP of the pod that gave you this log).
You can configure the timeout in `resolv.conf` inside the container image (see http://man7.org/linux/man-pages/man5/

[2018-07-16 08:51] raybejjani commented on #4814
After some offline discussion it seems LB depends on conntrack, at least for endpoint to LB-backend session pinning. As such, it's unfortunately intended behaviour.

I'll update our LB docs to make this clear.

[2018-07-16 09:08] raybejjani commented on #4794
@KSanthanam The fix is merged and will be in our next release. I'm closing this for now. Thank you for the bug report!

[2018-07-16 09:08] #4794 closed, assigned to nobody

[2018-07-16 09:10] raybejjani commented on #4781
@swimablefish Unfortunately, what you're seeing is expected when `--disable-conntrack`. I'm sorry :( I don't see a straight forward workaround because DNS is always a service in kubernetes.

The problem is specific to load-balancing and conntrack. Load-balancing doesn't work without conntrack and this affects kubedns, itself a kubernetes service that cilium will load-balance. By disabling conntrac

[2018-07-16 09:10] #4781 closed, assigned to raybejjani

[2018-07-16 10:35] aanm opened #4850 "CI: NACK received for version 154; waiting for a version update before sending again"
[code]
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4937/testReport/junit/k8s-1/10/K8sValidatedDemosTest_Tests_Star_Wars_Demo/
[9acb0442_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip](https://github.com/cilium/cilium/files/2197278/9acb0442_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip)

[2018-07-16 12:03] aanm opened #4851 "CI: K8sValidatedKafkaPolicyTest Kafka Policy Tests KafkaPolicies"
[code]
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/534/testReport/junit/k8s-1/11/Non_release_k8s_versions___K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

it seems kafka-broker was not in ready state (`1/1`) but somehow the tests started.
[code]

[f0c5341e_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2197478/f

[2018-07-16 13:06] tgraf commented on #4843
Cause was   `func GetOpenMaps() []*models.BPFMap {`  acquiring the per map mutex nested inside the global mutex.

[2018-07-16 13:08] aanm opened #4852 "CI: K8sValidatedMicroscope Runs microscope"
The check itself seems to not be correct since there was a microscope instance running but it reached a timeout while checking for that.
[code]

[code]
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4967/testReport/junit/k8s-1/10/K8sValidatedMicroscope_Runs_microscope/

[9acb0442_K8sValidatedMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2197698/9acb0442_K8s

[2018-07-16 13:09] tgraf opened #4853 "1.1 regression: High 99% percentile latency"
The issue has been reproduced in various testing clusters. Prometheus alerts go off measuring the latency to the k8s apiserver while measuring the action to retrieve all pods.

This was not observed with 1.0.

[2018-07-16 16:26] aanm commented on #4457
Possible solution: Sync with bpf, then sync with k8s and delete old services that no longer exist.

[2018-07-16 16:29] aanm commented on #4526
Removed the 1.2-bugfix as the first part of this issue was already fixed by @ianvernon

[2018-07-16 16:31] aanm commented on #4541
We can close this one since we haven't seen this one for a while

[2018-07-16 16:31] #4541 closed, assigned to eloycoto

[2018-07-16 16:42] aanm commented on #4814
Maybe we should consider removing/deprecate this option as no one has a use case for this? cc @tgraf

[2018-07-16 17:29] ianvernon opened #4855 "microscope YAML points to image version which doesn't exist, causing test failures"
Cilium CI applies the YAML located at https://raw.githubusercontent.com/cilium/microscope/master/docs/microscope.yaml .

This uses the following image: `docker.io/cilium/microscope:1.1.0`

This image doesn't exist on DockerHub: https://hub.docker.com/r/cilium/microscope/tags/

There is no v1.1.x version on DockerHub at all for microscope.

[2018-07-16 18:03] ianvernon commented on #4855
Discussed on Slack: we should not use external YAMLs which might be changed and break the CI; instead, put the YAML into the Cilium repository.

[2018-07-16 18:40] tgraf commented on #4814
Agreed. Since requiring conntrack for consistent hashing for load-balancing, conntrack is not really optional anymore unless load-balancing is disabled.

[2018-07-16 19:55] #4715 closed, assigned to joestringer

[2018-07-16 22:17] #4855 closed, assigned to ianvernon

[2018-07-16 22:30] eloycoto commented on #4852
Fixed by https://github.com/cilium/cilium/pull/4856#issuecomment-405398888

[2018-07-16 22:30] #4852 closed, assigned to nobody

[2018-07-17 02:14] KSanthanam commented on #4794
Hi @tgraf and @raybejjani thank you for fixing this. Fantastic! I will test on next version.

[2018-07-17 16:40] michi-covalent opened #4864 "reduce the number of modified events for k8s cilium endpoint resources"
i'm using k8s watch api to get notified when there is a change in cilium endpoint list. it looks like the modified event gets triggered every 10 seconds for each cilium endpoints.

i'm not sure what is currently considered a modification to a cilium endpoint, but ideally there shouldn't be any modification event in a stable state where no pod is getting created/modified/deleted.

[2018-07-17 20:45] joestringer opened #4865 "`--keep-config` is not respected during upgrade"
PR #4828 breaks the `--keep-config` option during upgrade from Cilium 1.1 or earlier to Cilium 1.2 or later.

It renamed the `Endpoint.Opts` option to `Endpoint.Options` and changed the type from BoolOptions to IntOptions.

If we want to solve this, we can extend the `lxc_config.h` serialization/deserialization of the endpoint structure to:

* On serialization:
  * [x] Serialize the `Options IntOp

[2018-07-17 20:54] joestringer opened #4866 "Improve unit testing coverage of pkg/option"
Various functions in `pkg/option/` could do with some simple unit tests written against them:

* [ ] `ParseKeyValue()`
* [ ] `SetValidated()`
* [ ] `GetValue()`

[2018-07-17 21:32] ianvernon commented on #3721
Per offline discussion with @eloycoto , this can be closed.

[2018-07-17 21:32] #3721 closed, assigned to eloycoto

[2018-07-17 21:32] ianvernon commented on #3850
Per offline discussion with @eloycoto , this can be closed.

[2018-07-17 21:32] #3850 closed, assigned to nobody

[2018-07-17 21:38] ianvernon commented on #1953
Taking this on as part of a broader effort to profile scalability / performance of policy generation within the Cilium agent.

[2018-07-17 22:05] ianvernon commented on #1388
@tgraf can this be closed? ```pkg/kvstore/events_tests.go``` doesn't exist anymore in the Cilium repository.

[2018-07-17 22:07] #1388 closed, assigned to nobody

[2018-07-17 22:11] ianvernon commented on #2000
Reviving this because I'm trawling through old issues , but it looks like this is because Cilium logs to stdout / stderr directly, and not to journald / systemd themselves. See
https://github.com/docker/for-linux/issues/127#issuecomment-337045289

We could perhaps add journald / systemd as a log driver within Cilium logging configuration and then use that in the developer VM systemd files in the r

[2018-07-17 22:21] ianvernon commented on #2564
@rlenglet can this be closed given that #4711 was merged?

[2018-07-17 22:28] ianvernon commented on #3287
We haven't seen segmentation faults in Envoy in some time in the CI. We have checks for it in the Ginkgo test framework to ensure that if such a failure occurs, we fail the build.

@rlenglet @jrajahalme can we close this in that case?

[2018-07-17 22:30] ianvernon commented on #3719
Closing this; we haven't seen failures here in some time.

[2018-07-17 22:30] #3719 closed, assigned to nobody

[2018-07-17 22:33] ianvernon commented on #3663
This has already been fixed, we check for connectivity to both the service IP and the service name:

https://github.com/cilium/cilium/blob/0d513f3ae2a29119c864309cd1198468e70a13c2/test/k8sT/Policies.go#L676-L693

[2018-07-17 22:33] #3663 closed, assigned to nobody

[2018-07-17 22:44] ianvernon opened #4870 "[wip] structured policy tracing proposal"
This is an issue which tracks a proposal to enhance policy tracing within Cilium. It is still WIP. Currently it is being used to aggregate issues that have already been filed with respect to policy tracing.

Issues filed around policy tracing

* https://github.com/cilium/cilium/issues/1955
* should have --from-cidr and --to-cidr options
* kubectl allows a user to specify an url of a file, e.g. kub

[2018-07-17 23:14] ianvernon commented on #3376
Removing the needs-backport label; this is not critical for backporting.

[2018-07-17 23:24] rlenglet commented on #2564
I would prefer to let @joestringer decide.

[2018-07-17 23:59] eloycoto commented on #4847
@aanm I've just triaged this one, but this is not a flake at all:

From test output:
[code]

And after that the test failed. Looks like that after the aftereach the policy is in there, but not during the test itself.

Regards.

[2018-07-18 00:03] #4847 closed, assigned to nobody

[2018-07-18 00:13] eloycoto commented on #4834
Dup https://github.com/cilium/cilium/issues/4384

[2018-07-18 00:13] #4834 closed, assigned to nobody

[2018-07-18 07:47] borkmann commented on #4477
merged into iproute2: https://git.kernel.org/pub/scm/network/iproute2/iproute2-next.git/commit/?id=b05a68f721881a34975fafcfffe34a8ca31de48a

[2018-07-18 07:47] #4477 closed, assigned to borkmann

[2018-07-18 12:58] eloycoto opened #4878 "policy: different behavior with shadowing L4 / L7 rules for Kafka and HTTP"
Hi

Found a problem with Cilium Network Policies when L7 and L4 policies are applied
to the same pod:

Way to reproduce:

1) Install kafka test case
[code]

2) Install the sample policy, that I added a new rule:

Rule added:
[code]

Complete rule:
[code]

With this, If I try to telnet to kafka IP it didn't work correctly, when it
should work correctly (Or I think so):

[code]

The endpoint policy

[2018-07-18 13:40] aanm commented on #4850
More info: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5046/

[2018-07-18 14:41] eloycoto commented on #4878
I made the test with HTTP and it works correctly:

Way to reproduce:
[code]

import policy:

[code]

[code]

Evidence
[code]

[2018-07-18 15:16] aanm opened #4879 "CI: K8sValidatedMicroscope Runs microscope"
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5048/execution/node/93/log/
[f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2206311/f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip)

It seems microscope does not start running. Unfortunately there's no logs from the microscope container so we can't get any useful information.

[2018-07-18 15:25] eloycoto commented on #4879
Due this is a PR, is the Microscope fix added in that code? We had problems this week with microscope and it is already fixed: https://github.com/cilium/cilium/pull/4856

[2018-07-18 15:28] aanm commented on #4879
@eloycoto that PR was rebased with master today

[2018-07-18 16:33] #4314 closed, assigned to aanm

[2018-07-18 16:40] joestringer opened #4880 "Add `cilium bpf ipcache get <ip>`"
It would be useful to be able to run something like the below to resolve which identity that the ipcache will determine for a given IP address:

[code]

Tasks:
* [ ] After dumping the IPcache entries from the datapath, insert them into an LPM representation
* [ ] Parse the user-specified IP
* [ ] Perform a lookup in the LPM using the specified IP

[2018-07-18 16:49] ianvernon commented on #4878
One quick note - using `cilium policy trace` to determine policy decisions if any rule applies at L7 may cause confusion because policy trace doesn't take into account L7 parts of rules at all.

should not due is only L4 policy?

To start, I will give context about how we handle rules that apply at different layers and select the same port/protocol tuple. The current behavior within Cilium, is tha

[2018-07-18 16:56] rlenglet commented on #4850
[code]
This is https://github.com/cilium/cilium/issues/4803. It's not been fixed.

[2018-07-18 16:57] rlenglet commented on #4850
Closing as duplicate of https://github.com/cilium/cilium/issues/4803.

[2018-07-18 16:57] #4850 closed, assigned to rlenglet

[2018-07-18 17:22] rlenglet commented on #4850
Same issue with https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5046/:
[code]
This is still #4803.

[2018-07-18 17:55] anitgandhi commented on #869
Sorry to bring up an old issue, but is NodePort officially implemented?

I see this PR (https://github.com/cilium/cilium/pull/1171) was closed, presumably in favor of this one (https://github.com/cilium/cilium/pull/1259), which remains open. So I wasn't sure what the status was.

[2018-07-18 18:01] tgraf commented on #869
@anitgandhi Yes. We have implemented full compatibility with either IPVS or iptables based kube-proxy to provide NodePort. We have not implemented a BPF based NodePort  implementation yet.

[2018-07-18 18:12] rlenglet commented on #4878
We send proper wildcarded rules to Envoy.

[2018-07-18 18:16] rlenglet commented on #3287
Yes, let's close this.

[2018-07-18 18:16] #3287 closed, assigned to nobody

[2018-07-18 18:45] anitgandhi commented on #869
Gotcha! Yeah the latest k8s 1.11 kube-proxy in IPVS mode worked fine for me with cilium 1.1; just wanted to make sure I wasn't missing something.

Thank you for the quick response!

P.S. if/when the BPF based nodeport happens, will that effectively remove the need for kube-proxy?

[2018-07-18 18:47] joestringer opened #4886 "Corrupted kvstore events for ipcache observed"
Running master I observed these logs:

[code]

[2018-07-18 19:04] joestringer commented on #4886
I don't have repro instructions.

As far as I can tell, previous iterations didn't result in this behaviour on my local system.

It's plausible that this garbage was inserted into my local kvstore copy some weeks ago and this is the first time I noticed, but seems unlikely. Opened this issue in case it's not just a one-off in a dev environment.

[2018-07-18 19:55] ianvernon commented on #4878
@rlenglet thanks!

[2018-07-18 20:09] tgraf commented on #869
Correct. kube-proxy is already out of the picture for all pod to pod communication.

[2018-07-18 20:15] joestringer commented on #4886
Maybe related, in a PR that ran in the CI:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5037/testReport/junit/k8s-1/7/K8sValidatedHealthTest_checks_cilium_health_status_between_nodes/

[code]

[f0c5341e_K8sValidatedHealthTest_checks_cilium-health_status_between_nodes (2).zip](https://github.com/cilium/cilium/files/2207238/f0c5341e_K8sValidatedHealthTest_checks_cilium-health_statu

[2018-07-18 20:28] tgraf commented on #4584
Initial support merged

[2018-07-18 20:28] #4584 closed, assigned to raybejjani

[2018-07-18 21:08] joestringer commented on #4483
@aanm Where exactly?

[code]

EDIT: Oh, the above is on master. I haven't checked 1.0 / 1.1.

[2018-07-18 23:23] aanm commented on #4483
@joestringer you need to grep for either ":latest" or an empty string since an empty string defaults to "latest". For example, `consul` is the the same as `docker.io/library/consul:latest`. This requires to grep for all `image:` in the existing yaml/jsons

[code]

[code]

[2018-07-18 23:41] tgraf opened #4892 "LPM fallback can no longer use per endpoint list of prefix length"
With the move of the ipcache lookup to bpf_netdev, the prefix length calculation must happen based on the per node policy CIDR list instead of per endpoint.

[2018-07-18 23:46] tgraf opened #4893 "Direct routing CI test"

[2018-07-18 23:55] eloycoto commented on #4835
Fixed by https://github.com/cilium/cilium/pull/4823

[2018-07-18 23:55] #4835 closed, assigned to eloycoto

[2018-07-18 23:55] eloycoto commented on #4132
Already in there:
https://jenkins.cilium.io/view/BETA-Cilium-master/job/BETA-cilium-master-K8s-Upstream/

[2018-07-18 23:55] #4132 closed, assigned to eloycoto

[2018-07-18 23:57] eloycoto commented on #2305
@joestringer this is for the old bash test. I'll close this one due is not longer used.

[2018-07-18 23:57] #2305 closed, assigned to eloycoto

[2018-07-19 01:04] tgraf opened #4896 "ipcache cleanup on LPM maps without delete"
Kernels which support LPM maps but no deletion and dump will continue growing. The bootstrap cleanup will be ineffective.

- [x] Replace ipcache map with a newly synced map created from scratch based on the local cache and rebuild all endpoints and base programs.

[2018-07-19 03:48] ianvernon commented on #4843
Fixed-by #4854

[2018-07-19 03:48] #4843 closed, assigned to tgraf

[2018-07-19 07:06] mumoshu commented on #2921
Hi! Just curious, but I guessed that #4314 would make it unnecessary to set etcdEndpoints that is special to kube-aws. Am I correct?

[2018-07-19 11:08] nebril commented on #4652
@tgraf I was unable to reproduce it on minikube or dev cluster, please let me know if you have any specific reproduction steps. Closing for now.

[2018-07-19 11:08] #4652 closed, assigned to nebril

[2018-07-19 13:12] aanm opened #4899 "nil pointer dereference in cilium 1.0.4 after running master"
One of my PRs got a test failure, the PR itself is not changing any fundamental things. https://github.com/cilium/cilium/pull/4877

Unfortunately it got a panic on the cilium to master upgrade test.

[code]

Cilium revision 228c4e597d0e75f447c593bd2098501b8128ff23

This might have been introduced by recent changes in https://github.com/cilium/cilium/pull/4828

[test_results_Cilium-PR-Ginkgo-Tests-

[2018-07-19 13:55] tgraf commented on #2921
Yes, we are still testing but that is the motivation behind #4314

[2018-07-19 14:00] tgraf commented on #4899
@aanm The title says 1.0.4, #4828 is only in 1.2/master. Can you confirm version?

[2018-07-19 14:07] aanm commented on #4899
@tgraf that is the problem, `1.0.4` was unable to start because of changes made in master, by #4828. When starting `1.0.4` the health endpoint from `latest` was still in place and `1.0.4` tried to restore it, since there isn't a container for the health endpoint, the restore functionality deletes the endpoint and while doing it cilium crashed.

[2018-07-19 17:05] joestringer commented on #2564
Yep, looks like the `writeL4Policy` code was removed, and this was just open to track populating the policymap entries with redirect ports.

Closing, thanks!

[2018-07-19 17:05] #2564 closed, assigned to nobody

[2018-07-19 17:23] joestringer opened #4904 "Update contributor docs for tagged release names"
Read the docs does not recognize tags such as `v1.0.0`. For better RTD integration (such as appropriate generation of "stable" docs), we need to tag releases in the `1.0.0` form.

The contributing docs are out of date in this regard currently.

Tasks:
* [ ] Update the contributing docs for creating releases
* [ ] Double-check the upgrade guide to see if they refer to "v..." tags and update such re

[2018-07-19 17:58] #3466 closed, assigned to aanm

[2018-07-19 18:01] rlenglet opened #4906 "go tool vet fails on pkg"
[code]

[2018-07-19 23:26] joestringer commented on #4899
OK, I guess we need to do the thing where we serialize as many options as we can to the old `Opts` field in the JSON so that these older versions can read a config that makes sense, rather than just leaving that field out. I'll work on it.

[2018-07-19 23:29] joestringer opened #4911 "Clean up IPCache prefix length tracking"
PR #4910 creates a reference counter package for tracking prefix lengths and shifts this logic out to the daemon, so now that the daemon knows which prefix lengths are being referred to from rules, we can get rid of the prefix tracking in the IPCache.

[2018-07-20 00:57] joestringer opened #4912 "endpoint: Avoid serializing LabelsMap to lxc_config.h"
The `LabelsMap` has been observed in `lxc_config.h` in the wild. We have no reason to serialize this, so this should be removed.

[2018-07-20 14:34] #3976 closed, assigned to nobody

[2018-07-20 14:34] #4798 closed, assigned to rlenglet

[2018-07-20 14:34] #4803 closed, assigned to rlenglet

[2018-07-20 14:36] #4906 closed, assigned to rlenglet

[2018-07-20 16:41] tgraf opened #4915 "Unnecessary repeated route installation info messages"
[code]

[2018-07-20 21:15] joestringer commented on #4886
In the following failure:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5145/testReport/junit/k8s-1/10/K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/

We see:
[code]

Again, seems like it's 8 characters at the start of a const string.

[f0c5341e_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo (1).zip](https://github.com/cilium/cilium/files/2215609/f0c5341e_

[2018-07-20 21:36] joestringer opened #4918 "Traffic to local non-Cilium destinations is forwarded over tunnel"
Traffic from a Cilium-managed pod to a local pod not managed by Cilium is delivered to the tunnel to transmit to the local destination.

This is likely because the ipcache for the local pod IP contains a `host` field which specifies the local host's tunnel destination. When populating this, we should detect that it's a local IP and avoid tunneling.

/cc @rlenglet

[2018-07-20 21:41] joestringer commented on #4808
@rlenglet is this already fixed?

[2018-07-20 21:42] joestringer commented on #4459
Now that we have https://github.com/cilium/cilium/projects/8 , do we need this at all?

[2018-07-20 21:43] #4459 closed, assigned to nobody

[2018-07-20 21:54] joestringer commented on #4886
Seen also in logs from above PR failure 5145:

Corrupted controller UUIDs:
[code]

Here's the corrupted strings I've collected so far:

[code]

Seems to be a pattern, a 16-bit value, followed by 16 bits of 0s, then repeated.

Here's the hex representation of some of the above:

[code]

[2018-07-20 22:08] joestringer commented on #4399
This work will be superseded by https://github.com/cilium/cilium/issues/4896 .

[2018-07-20 22:08] #4399 closed, assigned to nobody

[2018-07-20 22:20] rlenglet commented on #4808
Yes.

[2018-07-20 22:20] #4808 closed, assigned to rlenglet

[2018-07-21 00:19] tgraf opened #4922 "Add stable upgrade test from 1.1 to master in addition to 1.0.4"

[2018-07-21 15:06] #4892 closed, assigned to joestringer

[2018-07-21 21:24] joestringer opened #4929 "Prefix lengths are not unreferenced if there is a failure during policy add"
The first line below adds references to each of the prefixes, but the error conditions after a successful `d.prefixLengths.Add(prefixes)` don't decrease the references.

https://github.com/cilium/cilium/blob/721b93a06a58d01025806ba1f0d5824ddc285d7b/daemon/policy.go#L244-L278

The result is that if there are failures during policy add, then the datapath may continue to perform lookups in the IPCach

[2018-07-22 04:30] eloycoto opened #4932 "CiliumNetworkPolicy does not exist in local cache"
Hi

Found the following problem in a CI run:

Error message on cilium:

[code]

The controller status was the following:

[code]

Logs:
[f0c5341e_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/2216723/f0c5341e_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

Master version: ce671cad8196752c0b46844fa59d39f048780bb2
PR changes:

[2018-07-23 16:54] ianvernon opened #4938 "documentation: update release cutting documentation to include updating supported K8s versions for that release"

[2018-07-23 17:31] joestringer opened #4939 "Failed to start container: Invalid IPv4 Address"
Running #4936 PR (almost exclusively datapath changes), I've observed in local testing that Cilium IPAM gets into a bad state and hands out garbage IP addresses to the CNI plugin:

[code]

Running the k8s tests locally:
[code]

[code]

[2018-07-23 17:39] joestringer opened #4940 "Failure to restore endpoints: "Unable to parse the C header file""
Seen on #4875 (#4936):

[code]

`lxc_config` file from the state directory for the relevant endpoint:
[lxc_config.h.txt](https://github.com/cilium/cilium/files/2220423/lxc_config.h.1.txt)

[516c42b0_K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running (1).zip](https://github.com/cilium/cilium/files/2220427/516c42b0_K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cili

[2018-07-23 20:54] ianvernon opened #4946 "CI: Star Wars Demo failed, unable to access v1/exhaust-port despite policy allowing it"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3383/testReport/junit/k8s-1/7/K8sValidatedDemosTest_Tests_Star_Wars_Demo/

Test output:
[code]

Log archive: [9acb0442_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip](https://github.com/cilium/cilium/files/2220988/9acb0442_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip)

[2018-07-23 20:59] ianvernon opened #4947 "CI: Star Wars demo failed due to controller failure"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3393/testReport/junit/k8s-1/7/K8sValidatedDemosTest_Tests_Star_Wars_Demo/

Failure output:
[code]

Endpoints are in not-ready state:
[code]

Logs:
[f0c5341e_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip](https://github.com/cilium/cilium/files/2221013/f0c5341e_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip)

[2018-07-23 21:04] ianvernon opened #4949 "CI: all endpoints went into not-ready state in bookinfo test; kube-apiserver panicked"
Link https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3395/testReport/junit/k8s-1/7/K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/

Notable output (all endpoints are in `not-ready` state):
[code]

Logs:
[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2221029/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.z

[2018-07-23 21:12] ianvernon opened #4951 "CI: failed to produce empire-hq on topic empire-announce in K8s-1.11 tests"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1272/testReport/junit/k8s-1/11/K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

Logs :
[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2221040/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-23 21:13] ianvernon commented on #4879
Related recent failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1273/testReport/k8s-1/11/K8sValidatedMicroscope_Runs_microscope/

Logs:
[f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2221053/f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip)

[2018-07-23 21:15] ianvernon commented on #4951
Related failure:

Build link:  https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1274/testReport/junit/k8s-1/11/K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

Logs:
[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2221057/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPol

[2018-07-23 21:18] ianvernon commented on #4951
This failure started occurring after the following changes were merged:
[code]

This even occurred on a backport to the v1.0 branch:
https://github.com/cilium/cilium/pull/4941#issuecomment-407180492

[2018-07-23 21:20] ianvernon commented on #4951
@aanm mentioned that we have not ran tests against K8s 1.11 in our CI until now; this may be related specifically to running K8s 1.11. Spinning up a setup locally to see if this is reproducible locally.

[2018-07-23 21:40] eloycoto commented on #4932
The root issue is on https://github.com/cilium/cilium/issues/4949

[2018-07-23 21:40] #4932 closed, assigned to nobody

[2018-07-23 21:44] tgraf opened #4953 "Populate node list based on k8s node"
Later kvstore updates must overwrite the k8s node based node list

Required for #4314

[2018-07-23 21:47] tgraf opened #4954 "Synchronize endpoints to hosts file via controller"
#4314 requires to resolve DNS names of Kubernetes services. This may not be possible via the DNS configured on the node as CIlium is running in host networking.

- [ ] Maintain a list of service names to endpoints IPs based on existing k8s informers of service and endpoints resources
- [ ] Add a controller to sync the cache to the hosts file, allow running the controller via an option and enable t

[2018-07-23 22:02] joestringer commented on #4939
Seen also in Cilium logs:
[code]

[2018-07-23 23:04] joestringer commented on #4940
[code]

[2018-07-23 23:15] ianvernon commented on #4951
We noted that k8s 1.11 uses core-dns instead of kube-dns. Thus, DNS behavior might be subtly different between how we tested service name resolution with core-dns vs. kube-dns. For instance, we hypothesize that while we wait for DNS entries to resolve for services on the host, they may not be resolved in the pods themselves. Since the empire-hq pod has `nslookup` installed, we can do a check-and-w

[2018-07-23 23:38] eloycoto commented on #4949
Found something unexpected here:

Kube-API server has a panic.

[code]

and the ps-aux showed that has a high CPU usage.

[code]

[2018-07-23 23:57] eloycoto commented on #4949
@ianvernon this only happens once today. Are you ok if we close in 3 days if no happens again?

[2018-07-24 02:19] #4951 closed, assigned to ianvernon

[2018-07-24 03:35] eloycoto commented on #4947
Proxy redirect error:
[code]

[code]

[2018-07-24 05:15] ianvernon commented on #4947
I see  `Number of "context deadline exceeded" in logs: 0` in the output I pasted, but the logs contain that very string?

[2018-07-24 05:22] ianvernon commented on #4879
@nebril can we close since #4898 was merged?

[2018-07-24 05:38] #4899 closed, assigned to joestringer

[2018-07-24 05:58] ianvernon commented on #4949
@eloycoto sure!

[2018-07-24 06:06] ianvernon commented on #4879
Another flake even after #4898 was merged :(

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3407/testReport/junit/k8s-1/11/K8sValidatedMicroscope_Runs_microscope/

Output:
[code]

Logs:
[9acb0442_K8sValidatedMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2222167/9acb0442_K8sValidatedMicroscope_Runs_microscope.zip)

[2018-07-24 10:22] fvigotti opened #4960 "cilium status is ok, but seems to be unable to create endpoints"
Hi
It's the first time for me with cilium so maybe I'm missing something ( or maybe the pre-flight check and log messages are missing something because I can't find the problem  ),
I've tested this in cilium 1.1 1.1.1 and a build from master branch.. ( the log printed here is from the current custom build from official master branch ) ,

kubernetes version 1.11.1  , ubuntu 16.04 , kernel 4.13

thi

[2018-07-24 10:23] KSanthanam commented on #4794
Hi @tgraf How do I use your version with the fix?

[2018-07-24 12:17] fvigotti commented on #4960
p.s. I can provide mode logs if necessary, and I'm here all day to do tests that you my consider insightful just ask :) .. I have to fix that..

[2018-07-24 14:28] aanm opened #4961 "`clean-cilium-state: "true"` option not working"
It's not possible to clean up the previous cilium state as showed in the following output:

[code]

[2018-07-24 14:35] eloycoto commented on #4879
Trying microscope manually and I found the following:

[code]

[2018-07-24 15:00] fvigotti commented on #4961
running `rm -rf /var/run/cilium/state; rm -rf /sys/fs/bpf/tc/globals/cilium_*;` from the host works, but from the initiContainer doesn't ..

[2018-07-24 15:02] fvigotti commented on #4960
thanks to @aanm  we have found that cleaning the cilium state manually from the hosts ( ` rm -rf /var/run/cilium/state; rm -rf /sys/fs/bpf/tc/globals/cilium_*; `  )  seems to unlock the situation.. also filed #4961

[2018-07-24 16:56] ianvernon opened #4965 "CI: temporarily disable microscope test"
#4879 is tracking a failure in the CI related to microscope not being able to run. The failure is related to microscope itself, not Cilium, and is being worked on actively by @nebril to be fixed on the microscope side. Disable the test since the failure is not related to Cilium functionality specifically.

[2018-07-24 17:11] ashwinp opened #4967 "CNP output is missing `enforcing` key value pair for one of the nodes in a multi-node cluster"
## Bug reports

### Title

kubectl get cnp output is missing `enforcing` key value pair in status>nodes section for one of the nodes in a multi-node cluster

### General Information

- Cilium version (run `cilium version`)
`v1.1.1`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
### How to reproduce the issue

1. Run any getting started guide on a multi-node clust

[2018-07-24 17:13] raybejjani commented on #4794
@KSanthanam It will be in the `cilium/v1.2` image, but that hasn't been released. In the meantime, you can try it with `cilium/latest` but note that that image tag changes very often (so I only recommend testing and not production).

[2018-07-24 18:02] ianvernon opened #4969 "CI failure: K8s 1.7 Checks service across nodes Tests NodePort failure"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1278/testReport/junit/k8s-1/7/K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort/

Output:
[code]

Logs:
[f0c5341e_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2224779/f0c5341e_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_No

[2018-07-24 18:04] ianvernon opened #4970 "CI failure: Denies traffic with cnp default-deny ingress policy failed"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1279/testReport/junit/k8s-1/11/K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default_deny_ingress_policy/

Output:

[code]

Logs:
[f0c5341e_K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default-deny_ingress_policy.zip](https://github.com/cilium/cilium/files/2224791/f0c5341e_K8sValidatedPolicyTest_

[2018-07-24 18:05] ianvernon opened #4971 "CI failure: Allows traffic with k8s default-allow egress policy failed"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1279/testReport/junit/k8s-1/11/K8sValidatedPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_egress_policy/

Output:
[code]

Logs:
[aa209b8e_K8sValidatedPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip](https://github.com/cilium/cilium/files/2224793/aa209b8e_K8sValidatedPolicyTest_B

[2018-07-24 18:08] ianvernon commented on #4970
Another failure occurred.

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1281/testReport/junit/k8s-1/11/K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default_deny_ingress_policy/

Output:
[code]

Logs: [aa209b8e_K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default-deny_ingress_policy.zip](https://github.com/cilium/cilium/files/2224808/aa209b

[2018-07-24 18:09] ianvernon commented on #4971
Another failure occurred.

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1281/testReport/junit/k8s-1/11/K8sValidatedPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_egress_policy/

Output:
[code]

Logs:
[700e0976_K8sValidatedPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip](https://github.com/cilium/cilium/files/2224813/700e09

[2018-07-24 18:19] tgraf commented on #4794
@KSanthanam We can backport it to 1.1 as well.

[2018-07-24 18:43] nebril commented on #4967
This one seems to be caused by this area of code:

https://github.com/cilium/cilium/blob/v1.1.1/daemon/k8s_watcher.go#L1369

`Enforcing` field has an `omitempty` tag: https://github.com/cilium/cilium/blob/v1.1.1/pkg/k8s/apis/cilium.io/v2/types.go#L89 , which means it won't populate json if it's not set to true.

The only combination of errors that can cause `Enforcing` to be false and `OK` to be t

[2018-07-24 18:47] ianvernon commented on #4967
What is the meaning of 'OK' vs. 'Enforcing'?

https://github.com/cilium/cilium/blob/def269753511ec8c8240d2eba3a989137797cd1d/pkg/k8s/apis/cilium.io/v2/types.go#L73-L74

https://github.com/cilium/cilium/blob/def269753511ec8c8240d2eba3a989137797cd1d/pkg/k8s/apis/cilium.io/v2/types.go#L86-L88

Can these two ever be different ? OK "is true when the policy has been installed successfully" - this is rat

[2018-07-24 18:50] nebril commented on #4967
@ianvernon  It seems like right now policy can be ok, but not all endpoints are enforcing it yet? Not sure what is the definition of OK too.

[2018-07-24 18:50] ianvernon commented on #4967
cc: @aanm can you provide insight as to what 'installed' means in this context?

[2018-07-24 18:54] nebril commented on #4967
Talked with @aanm, it seems like OK means that the policy got pulled into the node, and Enforcing means that all appropriate endpoints are actually enforcing this policy.

[2018-07-24 19:05] #4965 closed, assigned to ianvernon

[2018-07-24 19:30] anitgandhi opened #4975 "Add --ipv4-cluster-alloc-cidr option to specify IPv4 cluster prefix"
### Description of requested functionality

I think it would be useful to have functionality like #4313 but for ipv4.

### Example use cases

I'd like to specify an overall cluster CIDR for k8s pods. I can't use the `--allocate-node-cidrs` because I don't want the cloud provider to be aware of the overlay CIDR. The alternative is to specify `--ipv4-range` on each node's cilium-agent, but that's no

[2018-07-24 19:40] tgraf commented on #4970
This may be due to the `-c 5`. I recommend to do `-c 10` or `-c 20` and see if this isn't just a timing problem;.

[2018-07-24 19:40] ashwinp commented on #4967
As part of this fix, can we also rename `ok` to `pulled` or something more explicit? Thanks!

[2018-07-24 19:41] tgraf commented on #4970
Even better would be if we change the test to wait until it reaches connectivity with a timeout and while also reporting how long it took to reach connectivity.

[2018-07-24 20:54] ianvernon commented on #4967
Are we able to rename the field in the API? It is public.

We can update the documentation accordingly. @ashwinp given that OK does not mean that the endpoints were actually enforcing the policy, was the policy actually enforced on the node which did not have 'Enforcing' set to 'true'? There may be a BPF compilation issue for an endpoint on that node, proxy configuration issue, etc.

[2018-07-24 22:47] tgraf commented on #4975
Makes sense.

Agreed. This is meant as a default to get a cluster up and running without providing any configuration. We are thinking about deprecating this behavior.

Can you clarify about what you want specifically? IPv6 has the benefit that we can use a full public IPv4 address in the IPv6 prefix to make it unique. For IPv4, we will probably need a more sophisticated allocation logic.

Let's as

[2018-07-24 22:56] joestringer opened #4977 "k8s-1.11.K8sValidatedKafkaPolicyTest Kafka Policy Tests KafkaPolicies: DNS Failure"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5242/

[code]

[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies (1).zip](https://github.com/cilium/cilium/files/2225738/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.1.zip)

[2018-07-24 23:37] tgraf opened #4978 "Kafka: unsupported request API key 12"
[code]

[2018-07-24 23:39] tgraf opened #4979 "Cannot update CEP: StorageError: invalid object"
Likely not a serious error so the work here may be to hide this error to not raise unnecessary concerns:

[code]

[2018-07-24 23:42] tgraf opened #4980 "cannot list ciliumnetworkpolicies.cilium.io at the cluster scope"
[code]

[2018-07-24 23:50] tgraf commented on #4961
@fvigotti Just tried this and it worked. It must be something environment specific. We noticed that the init container is not privileged. Does it work if you mark the clean init container in the DaemonSet as privileged?

[2018-07-25 00:21] raybejjani commented on #4979
@tgraf Did this resolve after a while? Did it happen with any other endpoints? (this one was a cilium-health EP)
I have, in any case, just disabled the CEP for the cilium-health endpoint in #4981

[2018-07-25 00:29] tgraf commented on #4979
@raybejjani Yes, the error was temporary. I'm going through log files of testing clusters and looking for errors. We should try and only emit on real issues.

[2018-07-25 00:32] raybejjani commented on #4979
hmm... if it "never" happens with normal endpoints, I'd rather not suppress any errors. If we do see it on the non-health EPs then I'll start only emitting the error if it fails for some minutes... In the case of the CEPs, I'm worried that they may not be updated and that would be unclear during a debug.

[2018-07-25 03:25] aanm commented on #4980
discussed offline, it was likely the missing RBAC rules installed in kubernetes

[2018-07-25 03:25] #4980 closed, assigned to nobody

[2018-07-25 03:38] ianvernon commented on #4417
Closing this; we have not observed this in some time.

[2018-07-25 03:38] #4417 closed, assigned to jrajahalme

[2018-07-25 04:47] joestringer opened #4985 "Userspace cache of BPF maps periodically registers/unregisters metrics/ct maps"
Observed these logs often in local ginkgo run:
[code]

[code]

Similarly, though less frequently, for conntrack maps:
[code]

I guess that this happens every time these controllers run, since they would re-open the maps. We may want to consider disabling the `cilium map ...` functionality for these map types, since userspace doesn't insert the entries for them.

[2018-07-25 05:44] tgraf commented on #4886
Possibly related:

[code]

[2018-07-25 05:48] ghost commented on #504
@tgraf can we get a status update on this issue?

[2018-07-25 09:12] fvigotti commented on #4961
Hi ,
I've tested  adding
[code]
into clean-cilium-state initContainer
and that's works :)

so this should be updated aswell
https://cilium.readthedocs.io/en/v1.1/kubernetes/install/#deploying-the-daemonset

thank you,
Francesco

[2018-07-25 12:45] runiq commented on #4515
(Just for the record, it was me who asked for this feature, I switched accounts)

[2018-07-25 14:30] anitgandhi commented on #4975
I was thinking exactly along these lines. If these 2 options are added, then that would preclude the use of either `--ipv4-range` on a per-node basis, and/or the `--ipv4-cluster-cidr-mask-size` as well. Just to give another concrete example, I may want to use a different RFC1918 space is like `192.168.0.0/16` for my base prefix, to absolutely ensure there are no conflicts with the rest of the netw

[2018-07-25 15:02] tgraf commented on #4961
Awesome. Thanks for testing. We will fix the DaemonSet and docs!

On Wed, 25 Jul 2018, 02:12 Francesco, <notifications@github.com> wrote:

[2018-07-25 15:18] #4564 closed, assigned to rlenglet

[2018-07-25 16:17] ianvernon opened #4988 "CI failure: KafkaPolicies unable to get policy revision"
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1287/testReport/junit/k8s-1/7/K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

Logs:
[f0c5341e_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2228657/f0c5341e_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-25 16:19] ianvernon commented on #4977
Similar failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1288/testReport/junit/k8s-1/11/K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

Logs:
[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2228665/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-25 16:23] #4904 closed, assigned to ianvernon

[2018-07-25 16:27] joestringer commented on #4939
Duplicate of #4886, see that issue for resolution.

[2018-07-25 16:27] #4939 closed, assigned to nobody

[2018-07-25 16:28] joestringer commented on #4940
Duplicate of #4886, see that issue for resolution.

[2018-07-25 16:28] #4940 closed, assigned to nobody

[2018-07-25 16:28] joestringer commented on #4886
These can all be explained by running a faulty PR with a mismatch of map value definitions between the C code under `bpf/` and the Golang equivalent structures under `pkg/maps/` leading to unintended clobbering of memory.

[2018-07-25 16:28] #4886 closed, assigned to nobody

[2018-07-25 16:37] ianvernon commented on #4886
@joestringer you said in the initial filing that you saw the issue in master; is there a corresponding fix, or is that not needed?

[2018-07-25 16:38] joestringer opened #4989 "Unable to update ipcache entry of Kubernetes node"
This warning log was seen multiple times in a master test failure:

[code]

Looks like Cilium is notified about the k8s node before it gets a chance to push an annotation for the node. It happened several times in the `cilium-tqx4p` pod logs, over the span of about 5 minutes.

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1288/testReport/junit/k8s-1/11/K8sValidatedK

[2018-07-25 16:39] joestringer commented on #4977
Noticed this warning log several times in the log over the period of about 5 minutes, not sure if it's relevant:

[code]

Filed #4989 to investigate in case it's unrelated. It was only seen in the dump from Ian's post above, not in the dump from the issue description.

[2018-07-25 16:44] joestringer commented on #4886
@ianvernon I believe that I ran my PR, it inserted invalid entries into the KVstore, then I ran master to test and the kvstore was already in a bad state. Therefore there should be no remediation necessary for the master branch.

[2018-07-25 17:28] ianvernon commented on #4886
@joestringer got it, thanks!

[2018-07-25 17:52] #4346 closed, assigned to eloycoto

[2018-07-25 17:59] #4929 closed, assigned to joestringer

[2018-07-25 18:17] #4607 closed, assigned to nobody

[2018-07-25 18:19] #3051 closed, assigned to aanm

[2018-07-25 19:05] joestringer opened #4991 "Consider ignoring ECN, URG and PSH flags in MonitorAggregationLevel=Medium"
https://github.com/cilium/cilium/blob/9639c30f14ea7428d182452a13a0d7ad6a5fbc24/bpf/lib/conntrack.h#L109

[2018-07-25 21:02] ianvernon commented on #4969
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1298/

Output:
[code]

Logs:
[9acb0442_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2229550/9acb0442_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2018-07-25 21:16] #4369 closed, assigned to rlenglet, jrajahalme

[2018-07-25 21:17] ianvernon commented on #4246
@eloycoto already has fixed this in #4640.

[2018-07-25 21:17] #4246 closed, assigned to nobody

[2018-07-25 21:38] tgraf commented on #4967
We can't rename the field. It's public API.

[2018-07-25 21:52] tgraf opened #4995 "Increase timeout on endpoint generations"
Under some circumstances, the total duration of an endpoint build including waiting for the lock, doing the build and configuring the proxy can exceed the current timeout of 20 seconds, resulting in build failures.

Increase the timeout to 1 minute.

[2018-07-25 21:53] tgraf opened #4996 "Increase API client timeout"
As we are increasing the build timeout in #4995. The API client timeout of 30 seconds as implemented by go-swagger has to be increased as well.

[2018-07-25 21:55] tgraf opened #4997 "Check for deletion of endpoint when endpoint lock is taken"
Every time an endpoint is unlocked it can potentially be deleted via the API or by a lifecycle event such as a pod event or a container event.

- [ ] Introduce a new function to lock and unlock the endpoint to wrap `e.Mutex.Lock()`. The locking function has to check `e.Disconnecting()` to catch cases when the endpoint has been deleted in the meantime and return an error.
- [ ] The wrapper has to b

[2018-07-25 21:55] ianvernon commented on #4971
Triaging:
https://github.com/cilium/cilium/issues/4971#issue-344144775

app2 has endpoint ID 52676 in pod `cilium-8kvt7`.

#### BPF Policy Get 39712

[code]

The PolicyMap entry shows that packets are indeed going out to the world on egress, so the plumbed policy is OK.

This means that there could be an issue with the datapath itself. Unfortunately, because of #4879 , we have no visibility into t

[2018-07-25 22:45] eloycoto commented on #4988
Open this one after triage this one:
https://github.com/cilium/packer-ci-build/pull/74

[2018-07-25 23:18] tgraf opened #4999 "Unit test for func (id NumericIdentity) ClusterID()"

[2018-07-25 23:21] eloycoto commented on #4977
Another DNS failure found:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1304/testReport/junit/k8s-1/11/K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running/

[f0c5341e_K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running(3).zip](https://github.com/cilium/cilium/files/2229852/f0c5341e_K8sValidatedChaosTest_Endpoint_can_still_conn

[2018-07-25 23:26] ianvernon commented on #4967
#4492 will always set the `Enforcing` field to `true` or `false`.

[2018-07-25 23:29] eloycoto commented on #4977
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1305/testReport/junit/k8s-1/11/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[f0c5341e_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies(1).zip](https://github.com/cilium/cilium/files/2229867/f0c5341e_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.1.zip)

[2018-07-26 00:08] #4866 closed, assigned to nobody

[2018-07-26 09:42] #4248 closed, assigned to ianvernon

[2018-07-26 09:42] #4967 closed, assigned to ianvernon

[2018-07-26 10:13] aanm opened #5004 "FQDN might not update enforcing bit of a node status Cilium Network Policy"
* The CNP node status is updated by all individual cilium-agents whenever a policy is added or modified by the kubernetes. This status is updated with the help of a controller which runs until the update status operation succeeds, otherwise the controller will keep retrying.

* The FQDN functionality will run have a controller running on the background for all policies that contain a FQDN rule to

[2018-07-26 10:31] #4912 closed, assigned to ianvernon

[2018-07-26 17:03] joestringer opened #5007 "Monitor omits destination identity on egress"
https://github.com/cilium/cilium/blob/a3686255addaa795edb3ed08bab31ca5eae76500/bpf/bpf_lxc.c#L655-L657

The destination identity (third parameter) is always set to 0.

I doubt this code has changed since 1.0, we may want to consider backporting any such fix.

[2018-07-26 17:36] eloycoto opened #5008 "CI: Make sure that cleanups happens"
Had a chat with @joestringer about the cleanup, we should make sure that the cleanup happens and fails if something fail:

- On AfterEach the ExpectSuccess should not happen.
- We should have something like send a string to CheckLog in the afterEach and fail in the global AfterEach.
- All the test will try to cleanup, but we fail just in the finish.

[2018-07-26 17:36] tgraf opened #5009 "Define ImmutableConfiguration interface for clustermesh configuration"
I suggest adding an interface ImmutableConfiguration which would have methods for getting Configuration members and using this interface as ClusterMesh.conf

[2018-07-26 17:40] ianvernon opened #5010 "CI failure: builds are failing due to timeout waiting for pods to be ready in upgrade test"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1307/testReport/junit/k8s-1/7/K8sUpdates_Updating_Cilium_stable_to_master/

Output:
[code]

Logs: [f0c5341e_K8sUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2232993/f0c5341e_K8sUpdates_Updating_Cilium_stable_to_master.zip)

Pods are in `CrashLoopBackOff`

[2018-07-26 17:42] ianvernon opened #5011 "CI failure: KafkaPolicies test failed due to network exception"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1310/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

Logs:
[c46099e2_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2233001/c46099e2_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-26 17:47] ianvernon commented on #5010
Other tests are failing due to pods not being ready as well; I suspect this all has the same root cause.

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1311/testReport/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

Logs:
[64f922be_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2233012/64

[2018-07-26 17:59] ianvernon commented on #5010
Debugging this...

Looking at this test: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1311/testReport/k8s-1/7/K8sUpdates_Updating_Cilium_stable_to_master/

I saw that the health endpoint (of all things) is stuck waiting to regenerate:
[code]

[2018-07-26 18:02] ianvernon commented on #5010
I tried checking the bugtool for `cilium-bhxk5` for the output of `cilium debuginfo`, but there was no debuginfo file created:

[code]

This is worrisome; it indicates that the command timed out, or some operation in bugtool failed.

[2018-07-26 18:03] ianvernon commented on #5010
Decided to look at the logs for `cilium-bhxk5`, and see our favorite bug has come back:
[code]

[2018-07-26 18:05] tgraf opened #5013 "Annotate pod with numeric identity for fixed identities"
The string identity can be added as an annotation in a new field if we want to preserve this information.

[2018-07-26 18:15] #4784 closed, assigned to eloycoto

[2018-07-26 18:16] ianvernon commented on #5010
All of the pods are stuck in `ContainerCreating` state:
[code]

Note from the above error log from the `join_ep.sh` failure that it's trying to join endpoint `17607`, but there is no endpoint with that ID in the output of `cilium endpoint list` for the given pod. This makes sense because Cilium deletes the endpoint if synchronous regeneration fails.

[2018-07-26 18:28] eloycoto commented on #5011
Review this one, Kafka can connect to zookeper correctly, but for some reasons the internal Kafka partition is not ready:

Zookeper:
[code]

Kafka issue:
[code]

[2018-07-26 20:14] ianvernon commented on #5010
@raybejjani astutely pointed out that we queued 4 builds for endpoints in quick succession:

[code]

As a result, this may have put considerable load on the host, as the VM used in the tests only has 2 CPUs. This explains why the builds may have taken so long.

The failed builds also took almost one minute, but the timeout for CNI add is 30 seconds. If CNI add fails, the veth for the pod gets dele

[2018-07-26 20:18] ianvernon opened #5014 "Documentation: bump version of latest released version of Cilium used in CI tests"
#4928 fixes an issue in the CI where the upgrade tests were using v1.0.4 of Cilium as the most recent version of Cilium to upgrade from to master. We should document as part of the cutting of a release to make sure that the upgrade test ran in Cilium CI uses the most recent version of Cilium that was cut as part of the release.

[2018-07-26 20:41] eloycoto commented on #5011
Found a new interesting one:

Kube-dns can't speak with apiserver:
[code]

And kube-apiserver to Kubelet:
[code]

Logs:
[96e02686_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2233530/96e02686_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-26 20:49] ianvernon opened #5017 "CI: Documentation build failed "remote end hung up unexpectedly""
I tried building the following PR twice https://github.com/cilium/cilium/pull/5016, and received the following error:

[code]

[2018-07-26 23:15] eloycoto commented on #5017
This is a Git connectivity issue to Github.

[2018-07-26 23:15] #5017 closed, assigned to nobody

[2018-07-26 23:18] eloycoto commented on #4383
I spoke with @rlenglet about this one, it is not fixed in all the cases but we don't see this failure in all the cases. Move to weekly issue.

[2018-07-26 23:20] eloycoto commented on #4949
Close this one, didn't see for a while.

[2018-07-26 23:20] #4949 closed, assigned to nobody

[2018-07-26 23:21] eloycoto commented on #4969
Dup  #4384

[2018-07-26 23:21] #4969 closed, assigned to nobody

[2018-07-26 23:23] ianvernon commented on #5011
@eloycoto which build is
https://github.com/cilium/cilium/issues/5011#issuecomment-408228510 from?

[2018-07-26 23:26] eloycoto commented on #4947
Made some changes in the logs, waiting to reproduce for the next seven days.

[2018-07-27 00:15] ianvernon commented on #5010
#5018 has merged, which should fix this issue in relation to the upgrade test (we now use `v1.1.1` instead of `v1.0.4`)

[2018-07-27 00:54] ianvernon commented on #5010
Closing this; we can reopen if upgrade tests continue to fail due to timeouts waiting for pods to be ready.

[2018-07-27 03:35] #5013 closed, assigned to aanm

[2018-07-27 16:34] #5010 closed, assigned to ianvernon

[2018-07-27 16:36] ianvernon opened #5025 "CI failure: KafkaPolicies failed due to kafka-broker going into CrashLoopBackOff because service names aren't plumbed down to kube-dns for 5 minutes in K8s 1.7 environments"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3446/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

Logs:
[4bc18599_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2236538/4bc18599_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-27 16:37] ianvernon opened #5026 "CI failure: checks cilium-health status between nodes failed due to connection timed out"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3447/testReport/junit/k8s-1/11/K8sHealthTest_checks_cilium_health_status_between_nodes/

Output:
[code]

Logs:
[86443cb7_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/2236540/86443cb7_K8sHealthTest_checks_cilium-health_status_between_nodes.zip)

[2018-07-27 16:41] ianvernon opened #5027 "CI failure: provisioning K8s 1.11 VMs failed due to invalid Docker version"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3448/testReport/junit/k8s-1/11/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:
[code]

No logs from the test are needed; the error is not related to Cilium; it is an issue with dependencies installed in the VM.

[2018-07-27 16:55] tgraf opened #5028 "Endpoint build can take too long for CNI"
[code]

[2018-07-27 17:02] tgraf commented on #5028
Related #4995

[2018-07-27 17:05] eloycoto commented on #5027
Looks like google container was not correct, not sure if we need to deep more on this, I don't think so

[2018-07-27 17:08] ianvernon commented on #5028
We can bump the timeout on the client for CNI:
https://github.com/cilium/cilium/blob/7a10b865c278c04a942a1ae31220825639c82d66/pkg/client/client.go#L79-L106

Is it possible for us to have some default timeout, then increase it if the first request fails / implement retry logic in CNI add? The issue with synchronous add is that we are entirely at the behest of how much load is on the system; if Cili

[2018-07-27 17:15] ianvernon commented on #5027
@eloycoto what does "google container was not correct" mean? Please clarify.

[2018-07-27 17:29] ianvernon commented on #5027
Image pull failed; we can close this, it is a transient issue.

[2018-07-27 17:29] #5027 closed, assigned to eloycoto

[2018-07-27 17:29] tgraf commented on #5028
That's an excellent idea. We still need a hard cap though.

[2018-07-27 17:34] ianvernon commented on #5025
Zookeeper DNS failed to resolve within the Kafka broker. From the pod's logs:

[code]

[2018-07-27 17:41] ianvernon commented on #5025
Perhaps we should split up how we deploy the Kafka app. I hypothesize that the issue here is that we deploy everything at once in one YAML (`kafka-sw-app.yaml`):

https://github.com/cilium/cilium/blob/295c5cb9b7811d205fba69f165c450d56a73540c/test/k8sT/KafkaPolicies.go#L131-L133

The issue with this, is that the pods and the services are deployed at the same time; is it at all likely that the servi

[2018-07-27 18:36] eloycoto commented on #5025
@ianvernon I don't think that is needed TBH. If kafka can't  connect to zookeeper it'll retry because we have a `livenessProbe` in there, and kafka will restart until can connect to zook.

[2018-07-27 19:20] ianvernon commented on #5025
From the console output from the test, the test lasted from 10:51:00 until 10:56:26:

[code]

Kafka app was deployed shortly after:
[code]

DNS lookups for the `zook` service in K8s failed shortly after:
[code]

kube-apiserver logs from around the time show issues - I'm not sure what port 10250 is, though:
[code]

DNS lookups failed for some time:
[code]

The services added by the test finally got

[2018-07-27 19:22] tgraf opened #5030 "Better handle update failures in cnp status controller"
The cnp status update controller currently fails when the `Update()` on ofthe CNP fails because the local cached resource is outdated. This leads to correct behavior but it results in a controller failure for a system state that is common and it unnecessarily delays success of the update due to the exponential backoff.

The controller function should retry a couple of times in an expedited manner

[2018-07-27 19:23] ianvernon commented on #5025
Port 10250 is what serves kubelet, c.f. https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ .

So this means the kube-apiserver wasn't able to communicate with kubelet?

[2018-07-27 19:27] ianvernon commented on #5025
Discussed with @tgraf - we should see if we can apply resource limits to the Kafka pods. There may be an inordinate amount of load on the system.

[2018-07-27 19:34] ianvernon commented on #5025
The amount of load doesn't seem to be too unreasonable(?). From the bugtool for pod `cilium-cx4bm`:

# uptime

[code]

[2018-07-27 19:37] ianvernon commented on #5025
Unassigning myself; I've done triage, but am unsure about how to proceed further on this.

[2018-07-27 19:53] ianvernon commented on #4971
Another similar failure occurred in a recent build.

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3449/testReport/k8s-1/11/K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_egress_policy/

Output:
[code]

Logs:
[ab051ea7_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip](https://github.com/cilium/cilium/files/2237061/ab051ea7_K8sPolicyTes

[2018-07-27 21:30] ianvernon commented on #4977
Let's see if this reproduces with branches / master builds that include #5001 .

[2018-07-27 21:50] ianvernon commented on #5026
Command which contained "Connection timed out":
[code]

Note that connectivity was affected on both nodes.

[2018-07-27 21:53] tgraf opened #5033 "MultiCluster service routing"
- [x] Implementation
- [x] Documentation

[2018-07-27 21:53] tgraf commented on #4727
Merged via #4738

[2018-07-27 21:53] #4727 closed, assigned to tgraf

[2018-07-28 18:11] #4995 closed, assigned to nebril

[2018-07-28 18:11] #4996 closed, assigned to nebril

[2018-07-28 18:27] tgraf commented on #5028
Resolved by #4998

Regarding the suggestion from @ianvernon. It is a great idea but difficult to implement as the client side timeout has to be increased as well. Let's see if this is still ever an issue after the timeout bump and then discuss again.

[2018-07-28 18:27] #5028 closed, assigned to nebril

[2018-07-28 18:29] tgraf commented on #4954
Found a workaround for Kubernetes for this.

[2018-07-28 18:29] #4954 closed, assigned to raybejjani

[2018-07-29 02:42] tgraf opened #5037 "Namespace watcher is passing in pod resource"
[code]

https://github.com/cilium/cilium/blob/master/daemon/k8s_watcher.go#L543

[2018-07-29 18:22] tgraf opened #5038 "Wait to restore endpoints until k8s CNP and NP informer have listed the already loaded policy"
This ensures that restored endpoints are loaded with currently installed policies instead of dropping all traffic or enforcing based on an incomplete policy repository.

[2018-07-30 00:39] #5037 closed, assigned to aanm

[2018-07-30 08:57] joestringer commented on #3098
Relevant code was removed.

[2018-07-30 08:57] #3098 closed, assigned to joestringer

[2018-07-30 11:09] #4918 closed, assigned to joestringer

[2018-07-30 13:33] tgraf commented on #4080
@joestringer Makes sense. Please create another issue to track the 1.3 and propose it for 1.3 so we can close this and document what has been done for 1.2

[2018-07-30 15:18] joestringer opened #5047 "Gather / export statistics on traffic flows"
Split from #4080:

Since #4936, if `MonitorAggregationLevel` is enabled and in particular set to `Medium` or higher, users no longer see every packet (+size) in monitor output. These statistics should be exported as part of aggregated monitor traces.

For extra points, in addition to the current packet and byte counters, also track the total sum of squares (TSS) of packet sizes, to allow packet si

[2018-07-30 15:27] joestringer commented on #4080
@tgraf Done: #5047 #5048

[2018-07-30 15:27] #4080 closed, assigned to joestringer

[2018-07-30 15:39] joestringer opened #5049 "CI: v1.0 flake: k8s-1.7.K8sValidatedKafkaPolicyTest KafkaPolicies"
### k8s-1.7.K8sValidatedKafkaPolicyTest KafkaPolicies (from (k8s-1.7.xml))

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5381/testReport/junit/k8s-1/7/K8sValidatedKafkaPolicyTest_KafkaPolicies/

Failing for the past 1 build (Since Failed#5381 )
Took 6 min 37 sec.

### Stacktrace

[code]

### Standard Output
[code]

[2018-07-30 16:18] joestringer commented on #4373
Haven't seen this in a while - do we still observe this issue?

[2018-07-30 16:21] borkmann commented on #1760
Closing for now, 2/2 is far out in future right now, mostly needs eval first whether worth it.

[2018-07-30 16:21] #1760 closed, assigned to borkmann, jrfastab

[2018-07-30 16:23] joestringer commented on #4769
@aanm has a repro locally, working on it.

[2018-07-30 16:30] joestringer commented on #4953
Will be fixed with TLS etcd integration.

[2018-07-30 17:23] ianvernon commented on #5025
Failure occurred again:

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3461/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Logs:
[b838c55d_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242207/b838c55d_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-30 17:26] ianvernon commented on #5025
And again:

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3463/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Logs:
[c8c814df_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242214/c8c814df_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

Note: upgrade test ran right before this test.

[2018-07-30 17:27] ianvernon commented on #5025
And again:

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3469/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Logs:
[d70856d4_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242220/d70856d4_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

Note: upgrade test ran right before this test

[2018-07-30 17:29] ianvernon commented on #5025
And again!

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3472/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Logs:
[4d087366_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242225/4d087366_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

Note: upgrade test ran right before this test

[2018-07-30 17:29] ianvernon commented on #5025
Note that these failures are only occurring with K8s 1.7.

[2018-07-30 17:31] ianvernon commented on #5025
Again!

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3473/testReport/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Logs:
[ccf33869_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242228/ccf33869_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-30 17:34] ianvernon commented on #5025
Again:

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1336/

Logs: [2b66e783_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242239/2b66e783_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-30 17:36] ianvernon commented on #5025
Again:

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1335/testReport/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Logs: [25a217d9_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242248/25a217d9_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-30 17:38] ianvernon commented on #5025
Again:

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1334/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Logs:
[94a19373_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2242249/94a19373_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-07-30 17:42] eloycoto commented on #5025
I've just noticed that this is use to happens when Cilium Upgrade happens just before Kafka, maybe any miss update?

Builds ID: 1335 and 1336
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1335/execution/node/97/log/?consoleFull
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1336/execution/node/97/log/?consoleFull

Seed: 1532949306

[2018-07-30 17:54] rlenglet opened #5051 "Support Envoy's Incremental xDS protocol in Cilium Agent's xDS server"
Cf. https://github.com/envoyproxy/envoy/pull/3470

- [ ] Implement ADS's incremental xDS method, and re-enable ADS support.
- [ ] Extend Cilium's NPDS and NPHDS protocols to support incremental xDS.

[2018-07-30 20:04] ianvernon commented on #5049
There were issues pulling images:
[code]

[2018-07-30 20:05] ianvernon commented on #5049
Given that the images are now accessible (the next build for the PR succeeded), I'm closing this. It was most likely an issue external to the purview of the CI (network connectivity on barmetal instances, issues accessing the registry, etc.).

[2018-07-30 20:05] #5049 closed, assigned to nobody

[2018-07-30 20:07] ianvernon commented on #5025
@eloycoto nice find! If that's the case, this should be reproducible. I'll spin up a setup locally and work on reproducing (running upgrade test then running the Kafka test).

[2018-07-30 22:51] jrajahalme commented on #4383
#4829 likely solves at least some of these, agree with @rlenglet's suggestion we wait to see if we still these NACKs in the CI.

[2018-07-30 23:11] ianvernon commented on #5025
Was able to reproduce locally - had a bunch of issues with my setup, but right before it kernel panicked, was able to see that the `kafka-broker` went into CrashLoopBackOff after running the Upgrade Test --> Kafka Test in the K8s 1.7 setup.

[2018-07-30 23:14] jrajahalme commented on #4058
#4508 solved the underlying issue with gRPC timeouts; now the default timeout is infinite but gRPC clients can shorten this with the `grpc-timout` header.

Closing for now, please re-open if configurable max timeouts are needed.

[2018-07-30 23:14] #4058 closed, assigned to jrajahalme

[2018-07-31 00:22] ianvernon commented on #5025
Reproducing steps:

1. Launch the multinode K8s tests from the `test` directory from latest master:

[code]

2. Run the upgrade test:
[code]

3. Run the Kafka test:
[code]

4. The Kafka test will fail because the kafka-broker pod goes into `CrashLoopBackOff`.

[2018-07-31 08:14] joestringer commented on #714
Looks like the recent BTF support in LLVM and kernel should facilitate this type of debugging, which makes dwarf support unnecessary.

[2018-07-31 08:16] joestringer commented on #949
@jrfastab Do you have links to specific macros that need further documenting?

The main one that came to mind for me was `revalidate_data()`, which explains what it does but not the rationale:

https://github.com/cilium/cilium/blob/e7e3e72a7db645a0cbc6733429945aaf93d70e34/bpf/lib/common.h#L87-L90

[2018-07-31 08:17] joestringer commented on #890
This issue looks stale and it doesn't look like we have any plans currently to support musl.

[2018-07-31 08:17] #890 closed, assigned to borkmann, jrfastab

[2018-07-31 08:20] joestringer commented on #995
With the bpf ipcache map in recent releases, we could look up the source IP to get the expected identity to achieve this.

[2018-07-31 08:39] borkmann commented on #714
Yeah, lets close it. llvm-objdump tool will additionally also provide C source annotation, so no need to duplicate this into the loader anymore.

[2018-07-31 08:39] #714 closed, assigned to borkmann

[2018-07-31 10:02] joestringer commented on #2317
In a whitelist model it's difficult to truly differentiate reasons for packet drop at L3/L4/CIDR, as it's only if there is no allow policy at any of these layers that we drop the packet, so at that point it's unclear whether the drop should be associated with any particular layer.

Probably the "Policy Denied (L3)" text could just be replaced with "Policy Denied" and the other two drop reasons can

[2018-07-31 10:52] tgraf opened #5055 "Avoid cgo in dependencies used by cilium-cni"
Use of cgo prevents proper static linking of `cilium-cni` and thus prevents use of `cilium-cni` on non-glibc based host platforms.

[2018-07-31 10:55] #4814 closed, assigned to raybejjani

[2018-07-31 11:23] #4373 closed, assigned to aanm

[2018-07-31 14:29] anitgandhi commented on #4975
For what it's worth... I was able to use `--allocate-node-cidrs` to fix my issue in tandem with the `--configure-cloud-routes=false` flag, but I think having the option of the same behavior manually with the above additions is still worth it.

[2018-07-31 15:59] #5014 closed, assigned to ianvernon

[2018-07-31 16:14] joestringer opened #5058 "CI: Improve coverage for verifier complexity"
### Background

The datapath code is generated based upon a set of `#define` statements in header files. When Cilium is deployed, the agent generates these macros in the header files, and invokes the compiler to compile a specific combination of options. When the customised datapath code has been generated, the agent loads this code into the kernel. If the generated code is too complex, or the ker

[2018-07-31 16:18] joestringer commented on #5058
An alternative to this proposal might be to reduce (eliminate?) the number of possible build-time options in the datapath. If all of the code is always the same, then one run of the verifier would be enough. AFAIK there are no current plans to do this.

[2018-07-31 16:19] #4703 closed, assigned to jrajahalme

[2018-07-31 16:21] ianvernon opened #5059 "CI: VMs launched with test/Vagrantfile cannot use go build cache"
Whenever I run `make` inside the VMs launched with `test/Vagrantfile`, e.g.:

1. `vagrant up runtime`
2. `vagrant ssh runtime`
3. `cd go/src/github.com/cilium/cilium`
4. `make`

I see output like the following:
[code]

Fix this error and allow caching in these VMs for speeding up builds.

[2018-07-31 16:25] ianvernon commented on #4988
@eloycoto can you elaborate on what you mean ? Have you triaged that this failure is due to high CPU usage by kswapd? If so, please provide the steps you used to debug here, so we can have a record of what was done to fix the issue, and close this.

[2018-07-31 16:30] joestringer commented on #4837
The proposal here is to count the complexity limit numbers and track them over time, which is different from #5058 which would attempt to randomly generate configs and test whether the limit can be exceeded

[2018-07-31 18:44] ianvernon opened #5060 "CI: remove need to manually update versions used for upgrade tests"
We should be able to maintain a list of branches which contain `VERSION` files that the CI can query directly from the internet to perform upgrade tests. This removes the need to constantly update the upgrade tests to have the latest versions of each branch (e.g., v1.0.5 for v1.0, v1.1.1 of v1.1, etc.).

[2018-07-31 21:30] evan2645 commented on #4016
Would love to see this go in, please let me know if I can be of any help.

[2018-08-01 00:01] ianvernon opened #5062 "contrib: automate release process"
The [release process](http://docs.cilium.io/en/latest/contributing/#generic-release-process) has many steps, and is quite labrious. Generate a script which automates it.

**Goal**

Automate the building of images + pushing of release binaries to S3 to be done as part of a Jenkins job when we have a PR with the `kind/release label`. This job would get triggered upon merge of a pull request with sai

[2018-08-01 00:05] ianvernon commented on #5025
Reducing priority on this due to #5054 being merged. If this is not observed for a few days, I will close.

[2018-08-01 00:10] ianvernon opened #5063 "CI: consider adding stage which provisions VMs before running tests in said VMs"
Currently, the provisioning of VMs in the build for runtime and K8s tests is done in parallel, and is coupled with running the tests themselves. Consider separating provisioning of the VMs into a separate stage, which provisions all VMs in parallel, i.e.:
[code]

This would make it much clearer if provisioning / booting the VMs failed (say, when downloading Docker images). Right now, if provisioni

[2018-08-01 06:59] eloycoto commented on #5060
The thing here, and we already discussed this with @tgraf, is that the update should happens always from the first version no?

On the other hand, if we upgrade using internet, we're going to lost the availability of the CI, let's say that on 1.1 we want to upgrade from 1.0 and from 1.2 from 1.1. Meanwhile if the variable is in the CI will keep the data as we need.

I do not see anything wrong wit

[2018-08-01 07:28] eloycoto commented on #5063
There is a reason why the VMs are running in serialize mode:

- If we do the vagrant up in parallel Virtualbox locks do not work well and we're going to have a lot of flakes. As we had in the past.
- If we do the vagrant up for kubernetes like that will create another runtime and will fail.

I'm not agree with this one. If the BeforeSuite fails on the start the fail on provision is marked and the

[2018-08-01 10:00] eloycoto opened #5065 "Synchronous endpoint regeneration does not complete quickly enough"
Build: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1343/testReport/junit/k8s-1/11/K8sDemosTest_Tests_Star_Wars_Demo/
Branch: Master

Issue:
[code]
## Issue message
[code]

## Logs:
[47ead759_K8sDemosTest_Tests_Star_Wars_Demo.zip](https://github.com/cilium/cilium/files/2248971/47ead759_K8sDemosTest_Tests_Star_Wars_Demo.zip)

## Status checks:
[code]

[code]

[2018-08-01 10:00] eloycoto commented on #5065
@joestringer can you have a look on this one?

[2018-08-01 14:54] ianvernon commented on #5063
@eloycoto note that this would not get rid of the “Boot VMs” stage. If you boot a VM with the `--no-provision` option, (e.g., `vagrant up runtime --no-provision`) and then run `vagrant up runtime` , you are effectively provisioning the VMs with the second command because you have already booted it. We can change `vagrant up runtime` --> `vagrant provision runtime`.

Your second argument can be add

[2018-08-01 15:21] krishnabigdata opened #5069 "Cilium not working with Docker Multi Host (Mesos)"
We want to use IP per container using cilium, here are problems we have.

We have 2 EC2 instance for test purpose.

1) **Host 1** (for e.g., 172.0.1.1) setup using steps provided in "Getting Started Using Docker Compose" but using central consul.
- IFACE device - ens3
- _cilium-agent  --debug -d ens3 --kvstore consul --kvstore-opt consul.address 172.16.*.*:8500 --tunnel vxlan_
2) **Host 2** (for e

[2018-08-01 16:36] ianvernon commented on #5065
It's good to see that the new checks are already proving fruitful - good work @eloycoto !!

[2018-08-01 17:00] ianvernon commented on #5060
Please clarify. What constitutes the "first version" in reference to say v1.0, v1.1, v1.2? Maybe we can have a discussion with various folks about how we want to validate our upgrade / downgrade strategy, and clearly delineate what we do / do not support, like Kubernetes does.

I think the best we can do currently in the CI is to validate upgrade from the latest release of any minor version to the

[2018-08-01 19:55] ianvernon commented on #5025
This hasn't reproduced after #5054 , closing.

[2018-08-01 19:55] #5025 closed, assigned to ianvernon

[2018-08-01 20:05] ianvernon commented on #4384
@eloycoto recent failures, (#4969) have stderr buffers consisting of the following:

```������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������

[2018-08-01 20:06] ianvernon commented on #4384
Removing needs-backport label as we don't know what the root cause is.

[2018-08-01 20:07] ianvernon commented on #4947
Related-to #4818

[2018-08-01 20:08] ianvernon commented on #4977
@eloycoto can we close? This issue hasn't reproduced since #5001 has been merged.

[2018-08-01 20:14] ianvernon opened #5070 "CI: upgrade test reveals corrupted userspace memory"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1340/testReport/junit/k8s-1/7/K8sUpdates_Updating_Cilium_stable_to_master/

Output:
[code]

Note that the labels for one of the pods contains "��������" - this suspiciously looks like memory corruption.

Logs:
[395fcae9_K8sUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2250991/395fca

[2018-08-01 20:14] jrajahalme commented on #5051
Current incremental xDS support in Envoy does not include Listener Discovery Service (LDS), so IMO this work is limited to adding Incremental xDS support to NPDS and NPHDS. Some thoughts to that end:

- In requests we should keep requesting all resources, i.e., subscribe and unsubscribe fields should be passed as empty in requests. We do not want to use the lazy evaluation mode where policy would

[2018-08-01 20:16] ianvernon commented on #5070
Note that the app pods are in `CrashLoopBackOff`, per `pods_status.txt` in the above logs archive:
[code]

[2018-08-01 20:19] ianvernon commented on #5070
cilium-wrlx4 is the cilium pod which is on the same node (k8s1) as the app pods, but Cilium isn't managing them. The logs for cilium-wrlx4 are riddled with messages like the following:

[code]

[2018-08-01 20:22] ianvernon commented on #5070
The logs for the aforementioned Cilium pod show that the label is indeed corrupted! :
[code]

[2018-08-01 20:22] ianvernon commented on #5070
Actions needed:

* Figure out why Cilium wasn't picking up the app pods and managing their networking
* Figure out why the label for the prometheus service account appears to have been corrupted

[2018-08-01 20:23] #4977 closed, assigned to eloycoto

[2018-08-01 21:04] ianvernon commented on #5070
@rlenglet and I noted while doing paired debugging that we are dumping and parsing the BPF LB maps, which use golang's `unsafe` pointers. Thus, we may be improperly using these pointers and corrupting memory.

We see that right before we try to allocate an identity for the prometheus pod, we sync the BPF LBMaps, which involve dumping:

[code]

The next log shows the allocated identity for the endp

[2018-08-01 21:05] ianvernon commented on #5070
@rlenglet and I also checked to see if there was a mismatch between the BPF Map definitions in the BPF code vs. in the cilium-agent userspace code, but could not find any for the IPv4 / IPv6 RevNat or LBMaps.

This may require another glance to be sure...

[2018-08-01 21:07] ianvernon commented on #5070
@joestringer faced a similar issue here:
https://github.com/cilium/cilium/issues/4886#issuecomment-407815290

[2018-08-01 21:13] ianvernon commented on #5070
```\xda\x02\x00\x00\xda\x02\x00\x00``` translates to 55810 or 730, but we couldn't find anything using those numbers in the logs :(

[2018-08-01 21:43] ianvernon commented on #5070
The log message ```iterating over services read from BPF LB Map and seeing if they have the same ID set in the KV store``` occurs right after all of the maps are dumped:

https://github.com/cilium/cilium/blob/b22cc7c90cc7abda785deb36378139a2fe4c3c3f/daemon/loadbalancer.go#L552-L574

I am highly suspicious that the Dump function is corrupting memory in userspace.

[2018-08-01 21:49] tgraf commented on #5069
Direct routing mode requires you to run a routing daemon or install routes manually to tell each node how to reach container IPs on other nodes. Alternatively you can run in tunnel mode to avoid this.

The node discovery was relying on k8s in 1.1. 1.2 will feature kvstore based node discovery:
https://github.com/cilium/cilium/pull/4270

It's available in `:latest` already.

[2018-08-01 22:50] ianvernon opened #5071 "CI: ToFQDNs test failure"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3510/testReport/junit/(root)/runtime/RuntimePolicies_Enforces_ToFQDNs_policy/

Output:
[code]

Logs:
[3161702d_RuntimePolicies_Enforces_ToFQDNs_policy.zip](https://github.com/cilium/cilium/files/2251363/3161702d_RuntimePolicies_Enforces_ToFQDNs_policy.zip)

[2018-08-01 23:22] ashwinp opened #5072 "Workload pods stuck; EP regeneration failure: probe is not a recognized processor for this target"
## Bug reports

### Title

User/workload pods are stuck in ContainerCreating state as CNI failed to set up pod.

### General Information

- Cilium version (run `cilium version`)
`v1.1.0`
- Kernel version (run `uname -a`)
`Linux 4.4.0-112-generic`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Upload a system dump (run `curl -sLO
releases.cilium.io/tools/cluster

[2018-08-01 23:24] ashwinp commented on #5072
CPU Info:
[code]

[2018-08-01 23:59] ianvernon commented on #5072
```probe' is not a recognized processor for this target (ignoring processor)```

These messages are most likely harmless; we see them when bootstrapping Cilium; we probe the kernel for certain features in BPF. @joestringer @borkmann can you please confirm?

The real error here is the following:

[code]

What most likely happens here, is that a bunch of endpoints most likely get scheduled to regene

[2018-08-02 00:10] ianvernon commented on #5072
Based off of @ashwinp 's updated comment, he confirmed that there are 4 CPUs on the node; thus, Cilium will use 4 worker threads for compiling BPF. The CPUs are being used for compilation, in addition to whatever processes are running in the pods. In v1.1.2, we increased these timeouts in addition to lowering the minimum number of worker threads for regenerating endpoints from 4 to 2 in v1.1.1.

@

[2018-08-02 00:11] ianvernon commented on #5072
Related-to: https://github.com/cilium/cilium/issues/5010 .

[2018-08-02 00:39] ashwinp commented on #5072
Just a data point -- Running the same workload on a 8-core machine with > 32GB RAM has successfully remediated the issue. So, it does look like this issue is related to resource contention/exhaustion.

[2018-08-02 07:15] eloycoto commented on #4384
yes, that Stderr has been in my radar for a while but I still don't know what happens.

[2018-08-02 08:01] joestringer commented on #5072
Yes, these would go away if we upgraded the version of Clang that we use to compile the BPF programs.

[2018-08-02 08:05] joestringer commented on #5065
The real error here is this:

[code]

Specifically, we hit the following error while running `bpf/join_ep.sh`:

[code]

This test deploys 10 pods at once, I wonder if it's hitting similar issues to #5072 ?

[2018-08-02 09:06] tgraf commented on #4853
I can reproduce this, this is a monitor log of a failed DNS request:
[code]

However, there is no policy that should apply to either kube-dns or the pod performing the DNS request

[2018-08-02 09:14] joestringer commented on #4853
This seems to imply the connection hasn't been seen before (common for DNS).
The endpoint ID where this message is generated appears to be 24895 (which is different from the latter log).

Given that the `FROM` epid is known, presumably this is on egress.

The IPCache can't map the destination IP to an identity, which implies that the labels for the destination pod aren't known. The datapath consid

[2018-08-02 09:28] joestringer opened #5073 "Monitor debug messages for IPCache mapping may be misleading"
These debug messages might be mapping the source address or the destination address, depending on where it's called from, so specifying "daddr" here is misleading.

https://github.com/cilium/cilium/blob/31d053c64abc581bb43c4c744ce51861afefbaea/pkg/monitor/datapath_debug.go#L339-L346

For example, at the start of the following program that handles traffic from a node (bpf_netdev), we may perform a

[2018-08-02 09:31] joestringer commented on #5073
I think that if these `cilium_dbg()` calls used `cilium_dbg3()` instead, then we could pass an enum or something to identify the address that was looked up. Then the monitor side of the code could just pick up on that bit and represent the output as "saddr" or "daddr" depending on which was used.

[2018-08-02 09:59] tgraf commented on #4853
Further debugging on the cluster I'm using revealed another problem which could be related:
[code]
[profile001.svg.zip](https://github.com/cilium/cilium/files/2253018/profile001.svg.zip)

[2018-08-02 10:18] eloycoto commented on #5065
Quick question, could we add a check on the endpoint.runInit that make sure that the interface is in place if not don't try to install at all?

I'll check how long it takes, yesterday I though that was less than 10 seconds.

[2018-08-02 12:26] joestringer commented on #5070
One point to keep in mind here is that the failure is during an "upgrade" test, where latest was installed and then 1.1.1 has been installed over the top. This issue is observed after the downgrade, and is on Cilium 1.1.1 ( git commit 6094010).

I was wondering if a map with key/values defined in one version might be somehow dumped from a subsequent version, and cause corruption via invalid sized

[2018-08-02 12:29] joestringer commented on #5070
We don't seem to print any debug logs for CT dump window so I'm not sure we could know when the ct dump is occurring and how it might impact the timeline presented by @ianvernon above:

[code]

[2018-08-02 13:04] joestringer commented on #5065
I worry that a check like that would only reduce the race condition window, not eliminate the race condition. If the device disappears because a CNI client times out, then it's still plausible that this timeout will trigger immediately after this new check in `endpoint.runInit()` but before the relevant commands in `bpf/join_ep.sh` are executed.

IMO if we don't have enough logs to confirm the abo

[2018-08-02 13:14] joestringer commented on #5065
For what it's worth, the maximum `buildDuration` instances are these:

[code]

[2018-08-02 13:24] joestringer commented on #5065
One of the interesting containers (`containerID=0558782bb5`):

[code]

It's `Trying to associate container with existing endpoint` based on a container event multiple times, and on the third time, considers it to be an `unwatched` container.

EDIT: This appears to be normal behaviour.

[2018-08-02 14:56] joestringer commented on #5065
OK, here's something interesting:

At 16:13:24, we appear to have successfully regenerated the endpoint program during the join event (from logs above):

[code]

However, we can see that the `cilium-cni` plugin never receives the confirmation:

[code]

Related code:

https://github.com/cilium/cilium/blob/a87ef3cc9c46964a68c8add294eea58538140f7f/plugins/cilium-cni/cilium-cni.go#L440-L447

So the co

[2018-08-02 15:00] tgraf commented on #4016
@evan2645 We would love to work with you guys to get this in. We already have an identity concept but do not use the spiffe spec yet.

The main question is this:
Unlike other projects, we encode the identity into every individual network packet. This has great advantages as the identity concept works for all IP based protocols and is completely transparent to the application. The downside of the m

[2018-08-02 16:46] tgraf commented on #4853
The failure was reproduced again, this time the failure was due to the kube-dns ClusterIP not being load-balanced:

[code]

[code]

[2018-08-02 16:53] tgraf commented on #4853
This has been fixed in `master` via #5074 and will be backported. It was not the cause for this issue.

[2018-08-02 17:54] jrajahalme commented on #4985
These happen when running cilium in the dev VM as well:
[code]

[2018-08-02 20:19] raybejjani commented on #5071
Just as an ack. I'm still working on this. I'm fairly certain that it's a race but we provide no wait conditions on the DNS lookup/regeneration so I'm trying to work around that.

[2018-08-02 22:41] ianvernon commented on #5070
Great point. Is it feasible for us to do migration of the conntrack map?

I'll add these logs and post a PR so we can have more data if this occurs again.

[2018-08-02 23:39] tgraf commented on #5070
The CT table is created exclusively from the kernel part so there is no upgrade. We'll have to delete the table manually if we want to force a re-creation.

[2018-08-02 23:54] ianvernon commented on #5070
Even if the CT table is created in the kernel, can't we migrate it nonetheless? I do not understand why the fact that the map is created in the kernel affects whether or not we can upgrade it.

[2018-08-03 00:09] ianvernon opened #5082 "Unable to start Vagrant Developer VM in Kubernetes mode"
I have a branch checked out with minimal changes from master (I can try reproducing this on master if needed)

At the root of the Cilium repository, run the following:
[code]

The provisioning step fails:
[code]

[2018-08-03 00:20] tgraf commented on #5070
We can migrate it but we have to rename it, and re-create it before any endpoints are being restored. We can do it but we are not doing it right now as far as I know.

[2018-08-03 00:25] tgraf opened #5084 "Panic in RunK8sCiliumEndpointSyn"
Cilium master/1.2-rc1

[code]

Just before that:
[code]

[2018-08-03 00:31] tgraf opened #5085 "Cilium CEP CRD update may cause k8s apiserver to crash"
Cilium: latest/master
Kubernetes: v1.9.8

[code]

[2018-08-03 00:34] ianvernon commented on #5082
I am going to see if this was affected by the recent update of the Vagrant box.
I have reverted the following commits in a private branch:

* 31d053c64abc581bb43c4c744ce51861afefbaea
* f39f475d2ed5eb5d0ac03f0f38db2616b6bcb072
* 7c5333b925a64feb93b394d45e44eab2d1d248a9
* bbfcb3e97372e5ab1946a88d257fdd8aa938664a

[2018-08-03 04:45] ianvernon commented on #5082
Reverting the above commits remedied the issue. It appears that the Vagrant box version update removed containerd, which is a prerequisite for kube-proxy?

[2018-08-03 05:34] ianvernon commented on #5070
Yeah, since it is still being modified by the datapath (i.e., new connections being added / removed), then is there a concern we may lose newly added info that was added while we migrate the data? Thanks for answering my questions - I am not too familiar with this area of things.

[2018-08-03 08:19] joestringer commented on #5082
@ianvernon It's expected that docker-ce now installs this, it was causing trouble due to conflicts:

https://github.com/cilium/packer-ci-build/pull/77

See also this Slack thread:

https://cilium.slack.com/archives/C2B917YHE/p1532986793000342

(I don't know the details, you'd have to sync with @rlenglet  / @eloycoto ).

[2018-08-03 08:27] joestringer opened #5087 "CI request: output top 5 error/warning logs"
These new summaries in the CI standard output are awesome:

[code]

It would be neat if also we could fetch those error/warning logs from the logs, and maybe even just print the first five.

A more sophisticated logic might get these logs, `sort` them, strip changeable parts like timestamps etc. and run through `uniq` to find each unique error that's occurring. That said, I think that to keep such

[2018-08-03 08:40] joestringer commented on #5070
Probably worth clarifying, inside Cilium right now, the deletion/recreation of maps is referred to as "upgrading" the map (properties). @ianvernon , is this what you mean or do you mean actual migration of the full map including contents?

The map property update logs for ipcache are there in this failure, as an example:
[code]

I expect that in this situation we should delete and recreate the CT

[2018-08-03 08:55] Kami-no opened #5088 "hostPort support feature request"
Please add hostPort support.

It is useful for Ingress DaemonSets in bare-metal installations to reduce network overhead (nodePort -> Service -> host with container -> container).

[2018-08-03 08:58] Kami-no commented on #4960
Do you use hostPort?

[2018-08-03 08:59] joestringer commented on #5065
To summarize the Slack discussion yesterday:

We intend to be able to respond positively to an endpoint create API request when *any* identity has been plumbed. Currently this is not the case, as affirmed by the series of logs above.

@rlenglet suggested checking `Endpoint.RealizedL4Policy != nil` rather than checking the state, but it doesn't appear to guarantee that the call to `regenerateBPF` w

[2018-08-03 09:23] joestringer opened #5089 "False negative warning message: Unable to delete element from policy_map for EPID"
Found in a failure on #5079:

[code]

Here's the code:

https://github.com/cilium/cilium/blob/9bb35ec59bf4809b3336fab61ea5f515ec5786d5/daemon/endpoint.go#L493-L495

The error reported in the above code reports the wrong map name, and furthermore it will *always* report an error because the function returns non-nil slice upon success:

https://github.com/cilium/cilium/blob/9bb35ec59bf4809b3336fab61

[2018-08-03 09:30] joestringer commented on #5089
~~Turns out there may be a real bug here as well, because `DeleteElement()` calls `LXCMap.Delete()` directly with an IP address rather than constructing an lxcmap key properly first, ie by using `LXCMap.DeleteEntry()`~~

The function signatures and types look right for issuing the deletes, but I'm seeing another fishy-looking error message which may or may not be a real bug:

[code]

[2018-08-03 13:41] eloycoto commented on #5065
Debugged a new issue:

Logs:
[47ead759_K8sDemosTest_Tests_Star_Wars_Demo.zip](https://github.com/cilium/cilium/files/2257518/47ead759_K8sDemosTest_Tests_Star_Wars_Demo.zip)
Build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3522/

## Important things:

- Kubelet failed after 30 seconds. See the kubelet logs.

### Kubelet info:

Start:
[code]
End:

[code]

### Pod relevant logs:

It star

[2018-08-03 14:00] eloycoto commented on #5065
Maybe this commit f7f8c2fbed0046fbfaf1e28fa8bec64b0f52dbc6 fix the issue with the timeout?

[2018-08-03 17:15] ianvernon commented on #5089
Good find, this will propagate and return incorrect HTTP status codes on `DELETE /endpoint/{id}`.

[2018-08-03 17:15] ianvernon commented on #5089
@joestringer is there a reason this does not need backport to v1.0?

[2018-08-03 18:21] ianvernon opened #5095 "CI failure: Cilium unable to start in runtime tests"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1355/

Failure output:
[code]

Logs:
[6c3630e1_RuntimePolicyEnforcement_Policy_Enforcement_Default_Default_values.zip](https://github.com/cilium/cilium/files/2258385/6c3630e1_RuntimePolicyEnforcement_Policy_Enforcement_Default_Default_values.zip)

This was a build on master that was triggered after commit
https://github.

[2018-08-03 18:22] ianvernon commented on #5095
Looks like Cilium is started / stopped a lot? This is strange:

[code]

[2018-08-03 18:32] ianvernon commented on #5038
Been working on this, had to familiarize myself with a bunch of the K8s code. Will have a fix soon, hopefully by Monday.

[2018-08-03 21:42] abhide15 commented on #4961
Fixed by: https://github.com/cilium/cilium/pull/4994
Closing issue

[2018-08-03 21:42] #4961 closed, assigned to abhide15

[2018-08-04 23:49] tgraf opened #5102 "Traffic is erroneously routed trough leftover blackhole tunnel interface"
**Symptom:**
- kube-dns keeps on crashing due to not being able to reach the apiserver.
- Cilium endpoint is up and healthy for kube-dns
- Manual attempt to reach apiserver via curl fails

**Debugging:**
1. Packet is properly load balanced to the apiserver IP and port
2. Packet is never sent out the the proper interface, eth0 in this case, but instead is seen on a tunnel interface:
[code]
3. Furth

[2018-08-05 09:10] tgraf commented on #4853
The problem of the kube-dns service not being load balanced has been tracked down to #5102 and can no longer be reproduced.

[2018-08-05 09:46] tgraf commented on #4853
The problem reproduces even less often now and if it does, the following symptoms appear:
1. Pod is attempting to resolve the external name.
2. Times out while resolving name
3. Communication with kube-dns succeeds, packets in both directions are being observed
4. No outgoing request to an IP on the port of the final expected connection is ever observed

Extended testing scripts to automatically c

[2018-08-05 10:45] tgraf commented on #4853
**Summary:**
Two attempts to resolve `AAA? www.google.com.us-west-2.compute.internal` time out, each causing a 5 second delay.

**Details:**
1. Resolving www.google.com.chaos-testing.svc.cluster.local
[code]

`A? www.google.com.chaos-testing.svc.cluster.local` -> `NXDomain`
`AAAA? www.google.com.chaos-testing.svc.cluster.local` -> `NXDomain`

2. Resolving www.google.com.svc.cluster.local

[code]

[2018-08-05 12:26] tgraf opened #5103 "Defunct child processes for node and health monitor"
[code]

[2018-08-05 12:30] tgraf commented on #5095
It's likely a systemd service that cilium depends on that is failing.

[2018-08-05 14:58] tgraf commented on #5070
Two reasons that we didn't delete the CT so far:
1) We never broke compatibility up to now so there was no reason to cause connection breakage on upgrade
2) The map is always created from kernel space so far so the existing logic in `OpenOrCreate()` does not work.

Fixing this for the global CT model is simple, we can:
1. Rename the old global CT map if it exists and create a new one with the new

[2018-08-05 20:52] eburghar opened #5104 "cilium status is wrong on self hosted kubernetes"
## Bug reports

### Title

cilium status is failing on self hosted kubernetes

### General Information

- Cilium version 1.1.2
- Kernel version 4.15.0-29-generic
- Orchestration system version in use kubernetes 1.11.1

### How to reproduce the issue

Use any self hosted kubernetes installation (bootkube, typhoon, ..). Cilium is
operating normally, but as readiness and liveness failed, the pod is
a

[2018-08-05 20:53] tgraf commented on #5104
@eburghar Can you paste an example output of `kubectl describe pod [...]` or the raw output of `cilium status`?

[2018-08-05 21:04] eburghar commented on #5104
@tgraf of course. Here it is

```kubectl describe pod cilium-lfmc2 -n kube-system```
[code]

```cilium status```
[code]

[2018-08-05 21:29] tbachman opened #5105 "Reviews not show in product page for BookInfo app in Istio integration"
- Cilium version:
[code]

- Kernel version:
[code]

- Orchestration system version:
[code]

### How to reproduce the issue
I used the instructions from the documentation:
http://cilium.readthedocs.io/en/latest/gettingstarted/istio/

After starting the BookInfo application, I noticed that there were some crashes in some pods:
[code]

After some time, things did converge:
[code]

However, when acces

[2018-08-05 22:00] tgraf commented on #5104
@eburghar Is your apiserver running at `http://127.0.0.1:10252`? Cilium derives this from the environment variables as injected by kubelet. If the address is incorrect, it can be configured as option. Everything else seems to be working OK.

[2018-08-06 08:14] joestringer commented on #5089
@ianvernon I was investigating some commits that were not in 1.0, but now that I take a fresh look it appears that all of this affects 1.0 as well. I readded the tag.

[2018-08-06 09:06] eloycoto commented on #5095
some files cannot be installed:
[code]

[2018-08-06 12:54] nirmoy commented on #5089
also cilium-docker complains with level=warning msg="Leaving the endpoint failed" error="[DELETE /endpoint/{id}][404] deleteEndpointIdNotFound " subsys=cilium-docker-driver

[2018-08-06 15:12] eburghar commented on #5104
@tgraf Sorry I'm certainly missing something and thank you for taking time to reply to me. I'm still learning kubernetes.

api server is running as a pod and accessible on port 6443, but from my understanding I thought that the healthz url was just used by the api server to test connectivity to the controller-manager based on the assumption that all 3 services ( api, scheduler and controller) were

[2018-08-06 15:55] tgraf commented on #5104
@eburghar Based on the output of `cilium status`. Cilium is trying to reach the apiserver at `http://127.0.0.1:10252` and fails to do so. Cilium is getting this information from Kubernetes via the environment variable, you can check it by running `env | grep -i kubernetes` inside the cilium pod.

[2018-08-06 15:59] eburghar commented on #5104
Here it is
[code]

[2018-08-06 16:25] raybejjani commented on #5084
@tgraf do you remember which cilium version and k8s version this was with? I'm guessing k8s 1.11

[2018-08-06 16:32] tgraf commented on #4782
Likely a dup of #4853

[2018-08-06 16:52] tgraf opened #5110 "Reduction of CPU when using monitor"

[2018-08-06 17:18] tgraf opened #5111 "Cilium status shows outdated or incorrect cluster health"
**cilium status**
[code]

**cilium-health status**
[code]

[2018-08-06 17:20] tgraf opened #5112 "Use iproute2 git tree for 1.2 to no longer require AF_ALG"
Use the git tree of iproute2 to package iproute2 in the container image to pull in the required changes to no longer required `AF_ALG`

[2018-08-06 17:24] rlenglet commented on #4878
Unrelated to this issue, but this rule doesn't make sense:
[code]
2181 is Zookeeper's port. So either the endpoint selector should select `app: zook` or this should be an `egress`+`toEndpoints` to `app: zook` rule.

[2018-08-06 17:42] tgraf commented on #4953
Fixed via #4921

[2018-08-06 17:42] #4953 closed, assigned to aanm

[2018-08-06 17:42] tgraf commented on #5104
OK, would be good to get a system dump. Just run the following wherever kubectl is available:
[code]

I'm not sure why CIlium is attempting to reach the apiserver on `127.0.0.1:10252`. It could be related to https://github.com/kubernetes/kubernetes/issues/19570

[2018-08-06 17:43] tgraf commented on #5084
master as of 4 days ago

1.9

[2018-08-06 17:50] jrajahalme commented on #4915
All these lines are for different destination addresses, so technically they are not repeating? Do you mean all the detail on these lines is not needed at `info` level, so maybe change them to `debug` instead and/or issue one aggregate message at `info` level?

[2018-08-06 18:23] ianvernon commented on #5095
Where do these files go? The compilation of them appears to have succeeded, so it's quite strange that they just disappear. Is this possibly an issue with syncing to the VM from the disk on the build machines?

[2018-08-06 18:46] rlenglet commented on #4878
We properly generate a wildcard rule for the new rule:
[code]
And according to the API spec (`pkg/policy/api/kafka.go`), this should allow all Kafka requests:

[2018-08-06 18:55] rlenglet commented on #4878
The Kafka proxy request matching implementation doesn't properly handle those wildcard rules, although the implementation seems to be correct at first glance:
https://github.com/cilium/cilium/blob/master/pkg/kafka/policy.go#L144-L167

[2018-08-06 19:45] tgraf commented on #5095
We have seen this before but I can't remember where.

[2018-08-06 21:02] rlenglet commented on #4878
The policy map is correct in redirecting to the proxy:
[code]
But what's wrong is that it's dropped by BPF with reason `Policy denied (L3)`. It shouldn't be denied at L3, and it should be redirected to the proxy per policy.

[2018-08-06 21:17] eburghar commented on #5104
Yes I think it's definitively the same bug.

Are you sure this is cilium trying to reach itself the controller (10252 is associated to controller, and 10253 to scheduler) and this is not simply an error message from the api server. I quickly check the code and apparently it gets the cluster status through an api call. IMHO 127.0.0.1 is just from the point of view of the api server which expects to

[2018-08-06 21:21] tgraf commented on #5104
@eburghar Very good point, that hasn't crossed my mind yet. I was assuming this was Cilium throwing the error but you may be right that this is the error condition return by the apiserver. Now this makes sense. We will stop using this API call to check the health.

[2018-08-06 21:46] rlenglet commented on #4878
The weirdest thing is that even if it didn't match the first L4 redirect map entry, the connection would have been allowed at L3:
[code]
So we should never see a connection from host / ID 1 get dropped with reason `Policy denied (L3)`.

Now I suspect that the policy map was not correctly updated when the connection was attempted.

[2018-08-06 21:54] eburghar commented on #5104
Apart from that little glitch, cilium runs smoothly on self hosted kube. I enjoyed playing with your star wars story which simple and clear. Thanks for your great talk at docker 17. cilium is really a game changer and having a long time kernel dev like you on board is just comforting me that we chose right solution among all the network tech available in kubernetes. Keep up the amazing work :+1:

[2018-08-06 21:56] rlenglet commented on #4878
There are 2 hypotheses why this could happen:

1. The pod is still in DROP_ALL mode, i.e. before its identity is known.
2. The pod's policy map has not been updated yet at the time of the connection establishment.

[2018-08-06 22:01] tgraf commented on #4878
Given the following monitor output:

[code]

The identity seems known. Or is the drop from another test run?

At the time of the policy map dump, a lot of packets have already passed through that policy rule. Was there a significant time delta between the test failure and the policy map dump?

[2018-08-06 22:10] ianvernon commented on #5082
Marking this as high priority because this significantly impacts my development workflow.

[2018-08-06 22:29] rlenglet commented on #4878
Not sure from the issue's description. I have the same doubts.

I'll try to reproduce now, paying attention to the timestamps and the policy map and lxc_config.h just after any failure.

[2018-08-06 22:36] rlenglet commented on #5082
I'd suggest defining a dummy `containerd.service` that does nothing.

[2018-08-06 22:38] rlenglet commented on #5082
Or we could override the `kube-proxy` unit to override the dependency to remove the dependency on `containerd.service`. Cf. https://coreos.com/os/docs/latest/using-systemd-drop-in-units.html
But that might be tricky:
https://blog.inf.ed.ac.uk/sl7project/2014/12/05/systemd-issues-with-overriding-dependencies/

[2018-08-06 23:09] rlenglet commented on #4878
I couldn't reproduce the issue with `latest`. See my test steps below. Note that I'm waiting at each step for Cilium to be in the proper state before continuing to the next step.

- Started minikube with k8s 1.9.
- Modified the `empire-hq` deployment in `test/k8sT/manifests/kafka-sw-app.yaml` to remove the `nodeSelector` to allow running on a single node.
- Installed the application with `kubectl

[2018-08-06 23:30] rlenglet commented on #4878
@eloycoto I'll need more details from you before I can make progress on this. How long did you wait before trying to connect with telnet? What was Cilium's state before that? What was the endpoint's state before that?

[2018-08-07 06:12] eloycoto commented on #5095
@ianvernon I don't think so, tbh I am waiting for a new failed build to see any difference.

Regards

[2018-08-07 08:12] #5112 closed, assigned to borkmann, eloycoto

[2018-08-07 14:27] #5071 closed, assigned to raybejjani

[2018-08-07 14:44] #4979 closed, assigned to raybejjani

[2018-08-07 15:20] raybejjani commented on #4160
I'm going to close this. Another ticket I saw recently had a similar problem and it was due to a pre-1.0 CEP hanging about. This can still happen today with some of our quickstart guides.
The telltale sign is the `|\"status\":[{\"code\":\"O|` In older versions, `status` was an array of objects that contained a `code` field.

[2018-08-07 15:20] #4160 closed, assigned to raybejjani

[2018-08-07 16:03] ianvernon opened #5120 "CI: use etcd-operator in Cilium CI"
#4314 tracked the work for using etcd-operator for Cilium bootstrapping. I think it behooves us to consume this in the CI as soon as possible to provide evidence for the robustness of this feature.

[2018-08-07 17:19] ianvernon opened #5121 "kube-dns does not receive new service names for a long time after Cilium is deleted and re-installed"
#5025 was an issue that was blocking the CI for some time. In it, it was found that kube-dns became unresponsive for some time, and tests which relied upon hostnames that ran soon after Cilium was deleted / reinstalled were failing because the hostnames for services were not plumbed to kube-dns for some time.

I also hit this in #5115 :
https://github.com/cilium/cilium/pull/5115#issuecomment-41109

[2018-08-07 17:23] ianvernon commented on #5121
Next steps: what causes kube-dns to go into a good state? Is the program for `kube-dns` regenerated? Is something synced to the daemon via the Kubernetes watcher which was missing after restart?

[2018-08-07 20:18] #4922 closed, assigned to eloycoto

[2018-08-07 20:29] #5084 closed, assigned to raybejjani

[2018-08-07 20:43] evan2645 commented on #4016
Hmm that is interesting... I'd like to learn a little more about how exactly this information is stored and where... is there a diagram or detailed text somewhere that I could read up on?

Sounds better, but ultimately the constraint will be challenging I think. There is no length constraint on SPIFFE IDs, and truncating them seems like it could be dangerous. I am curious - with these kinds of spa

[2018-08-07 21:43] tgraf commented on #4016
It's a bit outdated but this is a good start:
http://docs.cilium.io/en/v1.1/concepts/#arch-id-security

To keep it simple, we derive metadata from the workload in form of labels and map it to a numeric integer (32 bits) via a kvstore. The user can define what portion of labels should be used to derive the identity. It's not bound to a numeric identity though, we basically map a unique set of label

[2018-08-07 22:37] ianvernon opened #5122 "CI: check that IP returned by DNS lookup corresponds to IP of service"

[2018-08-08 08:12] krishnabigdata commented on #5069
Its working now. Thanks

[2018-08-08 08:12] #5069 closed, assigned to tgraf

[2018-08-08 10:42] raybejjani commented on #5084
@tgraf #5113 "fixes" the actual crash here, but I couldn't reproduce this case. The nil was the go-version.Constraint object, and for that to happen the string `"> 1.6"`  needed to cause an error... but we haven't changed that specific one in a while. So, I'm not convinced #5113 fixes the root issue, as much as makes it more likely to catch it.

[2018-08-08 11:02] tgraf commented on #5084
@raybejjani It fixes the runtime panic at arbitrary times which is the most serious aspect of this

[2018-08-08 14:13] joestringer opened #5130 "Document navigating BPF verifier complexity"
When developing BPF datapath code, a common issue that developers hit is that they build a feature, then when they attempt to load/test the functionality, the kernel verifier rejects it.

#### Debugging
* [ ] Common symptoms (eg, endpoint in `not-ready` state)
* [ ] How to use / interpret `test/bpf/check-complexity.sh`
  * Kernel impact
  * Compiler impact

#### Common pitfalls
* [ ] Uninitialized

[2018-08-08 14:48] tgraf opened #5132 "Improve CPU utilization"
**cilium-agent run 1**
[code]

**cilium-agent run 2**
[code]

**cilium-node-monitor run 1**
[code]

**cilium-agent run while deploying pods**
[code]

[profiles.zip](https://github.com/cilium/cilium/files/2270680/profiles.zip)

[2018-08-08 14:54] joestringer commented on #3395
Not seen recently, closing.

[2018-08-08 14:54] #3395 closed, assigned to nobody

[2018-08-08 14:55] joestringer commented on #3339
Fixed by #3988.

[2018-08-08 14:55] #3339 closed, assigned to nobody

[2018-08-08 17:03] ianvernon opened #5134 "Documentation: update Docker image building steps to include pushing new VM image"
If we update the `cilium-builder` or `cilium-runtime` images, we should update the CI VM to have them already downloaded to avoid having to download them for every CI run. This will ensure that build stages do not time out after a new image is pushed and consumed in the Cilium CI.

[2018-08-08 17:23] #5111 closed, assigned to eloycoto

[2018-08-08 17:47] joestringer opened #5135 "CI: cannot execute pprof: Exitcode: 1 Couldn't resolve addr or pid 1 to TCPAddress: couldn't get port for PID 1: open /root/.config/gops/1: no such file or directory"
Seen in a PR build:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5504/testReport/junit/k8s-1/7/K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/

[code]

[1663dc54_K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/2271297/1663dc54_K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

[2018-08-08 18:04] joestringer opened #5136 "CI: Check for warning/error logs misses errors or warnings in log"
On this PR failure:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5504/testReport/junit/k8s-1/7/K8sChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running/

Output on jenkins:
[code]

However, downloading the zip and looking inside:

[code]

[0a9ca6ca_K8sChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2271372/0a

[2018-08-08 18:26] joestringer commented on #5085
Hit also on k8s 1.7:

[0a9ca6ca_K8sChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2271440/0a9ca6ca_K8sChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running.zip)

[2018-08-08 20:13] ianvernon opened #5137 "CI: unit test panic in master"
Build link:  https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1375/execution/node/58/log/?consoleFull

Notable output:
[code]

[2018-08-08 20:15] ianvernon commented on #5137
The commit merged to master which triggered this build is :
https://github.com/cilium/cilium/commit/4a7d484af44b6e68f4e16dd9587704e449d9648c

[2018-08-08 20:45] ianvernon commented on #5121
There are two angles to this:

* Unblocking the CI (restarting kube-dns whenever Cilium is deleted / reinstalled ?)
* Debugging why kube-dns doesn't receive updates from kube-apiserver for some time about the services

[2018-08-08 20:48] danwent opened #5138 "Consul kv-store: support for TLS with mutual auth"
This is a feature request.

When configuring an etcd kv-store, there is support for pointing to a config file that include server and (optionally) client certificates for a TLS connection to the datastore.   See: https://cilium.readthedocs.io/en/v1.1/cmdref/kvstore/

There is no similar capability for consul, even though consul seems to support TLS between agent + server:  https://www.consul.io/do

[2018-08-09 07:39] eloycoto commented on #5136
that it's normal, the warning is only checked for the logs that happens during the test:
https://github.com/cilium/cilium/blob/4a7d484af44b6e68f4e16dd9587704e449d9648c/test/helpers/kubectl.go#L1102-L1105

So, if you see the cilium-logs you will see the that there are no warning or error.  If we test for all logs, some test will fail because it has a invalid panic/NACK from the past. (That already

[2018-08-09 07:39] #5136 closed, assigned to nobody

[2018-08-09 07:43] eloycoto commented on #5135
Umm, there is no cilium pods, looks like that pod died:

[code]

[2018-08-09 08:18] #5137 closed, assigned to tgraf

[2018-08-09 08:35] joestringer opened #5142 "Policy maps are unnecessarily unpinned from filesystem on startup"
Logs observed running roughly master:

[code]

If the filepath is not set in the structure being compared, and the map is not yet open (so it doesn't have an fd), then there will always be a diff in the properties, and the map will always be deleted.

This shouldn't cause any connectivity issue, because even if the map is removed from the filesystem, any BPF programs that reference the map should

[2018-08-09 08:40] joestringer commented on #5135
For what it's worth, I saw high load around the time of the failure, not sure if that's related to why Cilium pod may be missing:

[code]

[2018-08-09 10:18] tgraf commented on #5103
I think this is because we don't call `Wait()`

[2018-08-09 12:01] joestringer commented on #5065
@eloycoto nope, saw it again:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5523/testReport/junit/k8s-1/7/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

[code]

[2028084f_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/2274067/2028084f_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip)

[2018-08-09 12:34] joestringer opened #5152 "Cilium-health endpoint fails to recover after agent kills it"
Seen in a PR build:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5523/testReport/junit/k8s-1/7/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

At 10:29:22 we see the Cilium-health endpoint get killed:

[code]

Likely from this code here:

https://github.com/cilium/cilium/blob/9a2623c4143ff5da90306227abc84740dd72583d/daemon/main.go#L774

About four seconds later,

[2018-08-09 13:29] #5103 closed, assigned to tgraf

[2018-08-09 13:41] joestringer opened #5154 "Workload watcher continues to fetch k8s labels for pod that was removed"
I'm seeing these extraneous log messages in a CI run which only changes datapath pieces:

[code]

Seems like something should be signalling to the workload-watcher that it no longer needs to fetch labels for the endpoint which was removed.

I believe that it stopped attempting after the log messages above, so it could just be that there's a short window where the workload-watcher isn't yet notifie

[2018-08-09 14:00] joestringer commented on #5072
This should be mitigated by #5090. Otherwise let's use #5065 to track the issues with synchronous endpoint regeneration timeouts.

[2018-08-09 14:00] #5072 closed, assigned to nobody

[2018-08-09 14:03] eloycoto commented on #5065
Just for the track of the issue, CNI failed after the correct timeout:
[code]

[2018-08-09 14:05] joestringer commented on #4824
Unfortunately it looks like the docs build would always fail if we failed on warnings due to this message:

[code]

However, perhaps we could tweak the documentation target so that once it greps out the above error, it searches the text for `WARNING` and fails if there is any match?

[2018-08-09 14:17] joestringer commented on #5152
I think the interesting point here is that the health endpoint is being killed, and its veth cleaned up, randomly in the middle of endpoint regeneration. This is not a normal workflow for an endpoint.

I'm thinking that this code needs to synchronise better somehow with the endpoint handling code, by for instance removing the endpoint before killing the health EP (ie, reversing the order of the fi

[2018-08-09 14:32] eloycoto commented on #4878
I tried to reproduce today and it worked, tried with k8s1-1.7 and k8s-1.11, so I can close this issue.

[2018-08-09 14:32] #4878 closed, assigned to rlenglet

[2018-08-09 15:59] aanm commented on #5085
@tgraf after looking at the k8s code that has this panic me and @raybejjani came to a conclusion this is more likely to be a corruption made by Cilium which is going to be fixed in #5118

2nd EDIT: ~It looks like joe saw this bug on #5118, so back to square 0~

3rd EDIT: I noticed on @joestringer PR, the corruption can still happen since the upgrade test happen before the `K8sChaosTest`. By runnin

[2018-08-09 16:18] joestringer opened #5158 "Cilium 1.1.2: panic: close of closed channel"
Environment: Cilium 1.1.2

[code]

[2018-08-09 16:19] joestringer commented on #5158
Fixing this may be a matter of backporting #4683. @rlenglet and I discussed briefly on slack.

[2018-08-09 16:23] ianvernon commented on #5082
Fixed-by #5149; closing.

[2018-08-09 16:23] #5082 closed, assigned to nobody

[2018-08-09 19:14] ianvernon opened #5160 "Documentation: specify that, when running with Kubernetes, Cilium allows traffic from the localhost"
The documentation for Cilium doesn't specify why we do this, or that it is done; document this explicitly.

[2018-08-09 20:24] #5007 closed, assigned to joestringer

[2018-08-09 22:12] #5122 closed, assigned to ianvernon

[2018-08-10 05:48] ackerman80 commented on #1860
The PR has been submitted and I am working to get it approved https://github.com/kubernetes/website/pull/9806

[2018-08-10 08:29] fvigotti commented on #4960
Not yet, I don't know if hostport is usable with cilium but I'm still looking for a  way to filter external ip address in "ingress->fromCIDR policy" but this is material for another thread :)

p.s.
I see that the pod name contain the word hostport that's because I've tested also with hostport before understanding that hostport seems to not be supported by cilium

[2018-08-10 08:29] #4960 closed, assigned to nobody

[2018-08-10 09:36] joestringer opened #5163 "CI: builds timing out due to blocking commands in WithTimeout"
k8s 1.7 build timed out on one of the regular master runs at Aug 10, 2018 6:02 AM UTC:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3611/flowGraphTable/

Most recent logs:

[code]

[test_results_Cilium-PR-Ginkgo-Tests-Validated_5542_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/2277364/test_results_Cilium-PR-Ginkgo-Tests-Validated_5542_BDD-Test-PR.zip)

Seen also similar basic

[2018-08-10 09:38] joestringer commented on #5163
@eloycoto Do we fetch the final Cilium logs if the build is timed out like this? I can't seem to find any logs for K8sServicesTest for k8s 1.7 in the above zip.

[2018-08-10 10:09] raybejjani opened #5164 "CI: k8s-1.7.K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies: failed to produce empire-hq on topic empire-announce"
I think the root cause here is that both nodes seem very overloaded.
[code]
the uptime command itself took a minute to complete, and the load averages are also high.

It's possible that this is a follow-on to https://github.com/cilium/cilium/issues/4951 but I'm not sure.

[ac1b5e7e_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2277471/ac1b5e7e_K8sK

[2018-08-10 10:52] tgraf commented on #4853
This issue has been tracked down to the AWS DNS server applying rate limiting, causing for the above behavior. No other latency issue has been observed so far. Closing for for now.

[2018-08-10 10:52] #4853 closed, assigned to tgraf

[2018-08-10 11:50] #5152 closed, assigned to nobody

[2018-08-10 12:35] eloycoto commented on #5163
Hi,

On timeouts there is no logs (I also hate that), need to reproduce locally to found what happens.

If you think that there is a way to fix this one:
- If we add the timeout on ginkgo, to 1 min less of the stage, logs for that test will not be in there, because it happens on the AfterFailed function, and is not reach. (Or does not look like)
- If we add a Timeout for a ginkgo function, also di

[2018-08-10 12:37] joestringer commented on #5163
Hit issue again in #5118:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5542/

We seem to lose chunks of time randomly during VM initialization:
[code]

[2018-08-10 12:50] #4997 closed, assigned to nebril

[2018-08-10 13:00] eloycoto commented on #5164
Just a quick note: `Warning Nodes "k8s2"`

[2018-08-10 14:44] #5104 closed, assigned to nobody

[2018-08-10 14:52] #5070 closed, assigned to joestringer

[2018-08-10 15:43] borkmann opened #5168 "Make bpf.OpenMap() always check against golang types which are expected"
In CT (e.g. flush), metricsmap and others they use `bpf.OpenMap()` and don't check their expectations in terms of key/value size from map info, which will have implications once their key/values size are changing.

* [x] Adjust policymap to use OpenOrCreate
* [ ] Adjust CT maps to use OpenOrCreate
* [x] Remove mapValidateWalker() (#5559)
* [ ] Remove cilium_map_migrate
* [x] Update IPCache to use

[2018-08-10 16:05] #5110 closed, assigned to raybejjani, tgraf

[2018-08-10 16:14] joestringer commented on #5168
If they don't match, do we just delete the map? I guess this should in general be safe as the next time something is regenerated, the map should be recreated with the new details.

[2018-08-10 18:31] eloycoto opened #5173 "CI: policy sync failed due to "context-deadline-exceeded" errors"
Importing 3 policies in Cilium and one get context-deadline-excedeed

[code]

No cilium debuginfo either.
Error:
[code]

[code]

Relevant logs for endpoints:

[code]
[code]

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1394/testReport/junit/k8s-1/7/K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/
Logs:
[6986754a_K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](ht

[2018-08-10 19:26] robermorales commented on #1926
Some news?

[2018-08-10 20:09] ianvernon commented on #1926
@robermorales we have made several enhancements on the monitor side, including the following to reduce overhead:

* periodic aggregation of datapath notifications:
https://github.com/cilium/cilium/pull/4936
* more efficient monitor event coding: https://github.com/cilium/cilium/pull/4581

These are upcoming in v1.2 in Cilium.

[2018-08-10 21:18] tgraf commented on #1926
We have merged all original ideas on, this closed by #4936 and #4581

[2018-08-10 21:18] #1926 closed, assigned to raybejjani, aalemayhu

[2018-08-10 21:18] ianvernon commented on #5163
The fact that the final log output by the test before timeout indicates that there is some step that is taking far too long and timing out the entire build:
[code]

This should not happen for any of our helpers. We need to see if there is something happening in the CI code that is affecting this.

The code where the timeout occurred is here:

https://github.com/cilium/cilium/blob/b88afa221afc56b8a

[2018-08-10 21:34] robermorales commented on #1926
Cool. Thanks.

[2018-08-10 22:35] eloycoto commented on #5163
Cilium policy wait has a timeout of 60 seconds.

Plus is used with timeout, if is over 300 seconds helper will kill the function and return error

[2018-08-10 22:38] ianvernon commented on #5163
@eloycoto the fact that the build is timing out after a large amount of time suggests that your assertion may not be true. I am not saying it is false; what I am saying is that we do not have enough information to make such an assertion-  how can we definitively say that that is the case if the only output we have in Joe's case is the final log of "Importing policy"? To determine this, we should a

[2018-08-11 15:58] #4915 closed, assigned to tgraf

[2018-08-11 16:48] #4574 closed, assigned to nobody

[2018-08-13 07:56] raybejjani commented on #3659
This was shipped, and it's fine :)

[2018-08-13 07:56] #3659 closed, assigned to nobody

[2018-08-13 08:16] #3597 closed, assigned to tgraf