[2019-01-27 19:16] aanm commented on #6801
@tgraf when that happens it means the cilium-cni client could not connect to cilium-agent within 30 seconds.

[2019-01-27 20:14] tgraf commented on #6801
The message is clear, it's the formatting that is off.

[2019-01-27 21:15] tgraf opened #6803 "Accept error: accept unix /var/run/cilium/cilium.sock: accept4: too many open files"
[code]

[2019-01-27 21:42] zachfi opened #6804 "Relax /96 requirement for `--node-cidr-mask-size`"
## Support
Please relax the `/96` requirement for the `kube-controller-manager`.  I'm unable to modify the configuration after a cluster is brought up with `kubeadm init`, and in my conditions I have `--node-cidr-mask-size=80`, so cilium never comes up correctly.

Thank you.

[2019-01-27 22:19] aanm commented on #6803
likely related with https://github.com/cilium/cilium/commit/d48af6ab5c286fd91b751eed90a7d1b715a55231#diff-e747ac6894495747def86f189ee986fc

[2019-01-28 01:37] tgraf opened #6807 "Initial pod start on GKE returns with IPAM range full"
Initial run of cilium returns with IPAM range full. After the pod restarts, it is fine.

[code]

[2019-01-28 02:50] tgraf commented on #6351
* BPF Map pre-allocation has been merged and turned off by default for new deployments.
* BPF templating is on the way for 1.5
* There is some memory optimization work left to be done in 1.5 but overall this is addressed.

[2019-01-28 02:50] #6351 closed, assigned to borkmann, joestringer, jrfastab, tgraf

[2019-01-28 02:51] tgraf commented on #6348
Duplicate of #6632

[2019-01-28 02:51] #6348 closed, assigned to tgraf

[2019-01-28 02:52] tgraf commented on #6296
#5077 has been merged which resolves this to the most extend

[2019-01-28 02:52] #6296 closed, assigned to tgraf

[2019-01-28 02:54] tgraf commented on #5834
#6728 seems to have made this reliable

[2019-01-28 02:54] #5834 closed, assigned to nobody

[2019-01-28 02:56] tgraf commented on #6095
Extensive testing has never shown this behavior. Must be something outside of Cilium

[2019-01-28 02:56] #6095 closed, assigned to nobody

[2019-01-28 02:56] tgraf commented on #6307
Dup of #6730

[2019-01-28 02:57] tgraf commented on #6077
Dup of #6017

[2019-01-28 02:57] #6077 closed, assigned to ianvernon

[2019-01-28 02:58] tgraf commented on #6053
Moved to https://github.com/cilium/cilium/projects/29#card-16974048

[2019-01-28 02:58] #6053 closed, assigned to ianvernon

[2019-01-28 02:59] tgraf commented on #6220
Was not able to be reproduced

[2019-01-28 02:59] #6220 closed, assigned to nobody

[2019-01-28 03:00] tgraf commented on #6122
Dup of #6730

[2019-01-28 03:00] #6122 closed, assigned to nobody

[2019-01-28 03:11] tgraf commented on #6760
#6802 will provide necessary info

[2019-01-28 03:11] #6760 closed, assigned to nobody

[2019-01-28 03:13] tgraf commented on #6755
Moved to https://github.com/cilium/cilium/projects/29#card-16974341

[2019-01-28 03:13] #6755 closed, assigned to nobody

[2019-01-28 03:13] tgraf commented on #6720
We can't do much about this, they happen. Closing

[2019-01-28 03:13] #6720 closed, assigned to nobody

[2019-01-28 03:15] tgraf commented on #6600
We are not seeing this anymore

[2019-01-28 03:15] #6600 closed, assigned to nobody

[2019-01-28 03:16] tgraf commented on #6756
Specific to the use of the link-local address in the vagrant environment.

[2019-01-28 05:09] tgraf opened #6810 "CI: K8sServicesTest Checks ClusterIP Connectivity Checks service on same node"
[code]
[d9892fbb_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/2801484/d9892fbb_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip)

[2019-01-28 10:35] #6308 closed, assigned to tgraf

[2019-01-28 11:34] borkmann opened #6815 "cilium: auto-detect when kernel has ipv6 compiled out and set enable-ipv6=false"
When in true, daemon doesn't start up due to trying to set v6 forwarding in bpf/init.sh.

[2019-01-28 15:04] #6422 closed, assigned to nobody

[2019-01-28 15:04] #6572 closed, assigned to tgraf

[2019-01-28 15:07] #6801 closed, assigned to vadorovsky

[2019-01-28 15:08] #6800 closed, assigned to tgraf

[2019-01-28 15:09] tgraf commented on #6629
Happened with the 5 sec connect timeout as well but it seems a lot less frequent
[code]

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2221/testReport/k8s-1/13/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2019-01-28 15:15] tgraf opened #6819 "operator: Limit kube-dns pod watcher to non-host-networking"

[2019-01-28 15:40] eloycoto commented on #6795
As I see in the logs, the curls failed:

[code]

Where, the exitcode is 22, so the connection failed, the main reason can be that 1.1.1.1 return 404 or something similar. Due external provider, I would suggest to close this one due can be the upstream.

Regars

[2019-01-28 16:20] jrfastab opened #6820 "Test: Support running multi-node benchmark tests"
We recently added a benchmark test to "runtime" tests that does local container to container netperf tests. This is great to take metrics for local sockmap usage. Typically I use this with SSHConfig and provision=false which allows me to run these tests on bare-metal boxes to get best-case metrics.

It would be useful to also support running the benchmark tests between two nodes. Ideally, these no

[2019-01-28 16:21] jrfastab commented on #6820
@eloycoto offered to create an initial skeleton of how this would work so that @jrfastab can add the test details.

[2019-01-28 16:25] jrfastab opened #6821 "Test: Benchmark tests extend to include features"
Add additional features to benchmark tests

- [ ] Add 1, 10, 100, 1k L7 rules
- [ ] Add 1, 10, 100, 1k L2/L3 rules
- [ ] enable/disable IPSec
- [ ] Run in multi-node configuration PR 6820

[2019-01-28 16:26] jrfastab opened #6822 "Test: Add CI tests to run at some cadence for sockops on bpf-next"
Add sockops to CI "runtime" to run at some regular cadence.

[2019-01-28 16:27] jrfastab opened #6823 "Test: Add CI tests for encrypt/decrypt framework"
Add tests to CI for encrypt/decrypt framework.

[2019-01-28 16:30] jrfastab opened #6824 "Test: regular test "extended" sockmap/kTLS selftests"
The kTLS and sockmap selftests in the Linux kernel provide relatively good coverage of the feature set exposed by the kernel. However, Linux CI is only running a minimal set of the possible tests that should be run. This is because the kTLS/Sockmap tests can take a "long" time (many minutes) to run the entire suit. We should add a nightly/weekly on bpf-next to run the "extended" test suite.

[2019-01-28 16:32] jrfastab opened #6825 "Test: CI test IPSec + IPVlan"
Add CI test pass for IPSec and ipvlan.

[2019-01-28 16:55] vadorovsky commented on #5566
@aanm we can close this, right? :)

[2019-01-28 17:02] vadorovsky opened #6826 "Cilium integration with OpenStack Kuryr"
## Proposal / RFE

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Provide a possibility to run Cilium on top of OpenStack Kuryr (https://github.com/openstack/kuryr-kubernetes), in the similar way as it's possible to run Cilium on top of Flannel.

Action items:

Initial:
- [ ] Provide dev environment with devstack (as a patch to Vagrant configuration, sim

[2019-01-28 19:05] #6632 closed, assigned to tgraf

[2019-01-28 19:26] tgraf opened #6830 "Validate sonobuoy is passing before 1.4.0"
A user has reported a failure in running sonobuoy [0] with 1.4.0-rc4. Validate that the tests are passing.

[0] https://github.com/heptio/sonobuoy

[2019-01-28 23:22] tgraf opened #6831 "CI: RuntimeFQDNPolicies Enforces ToFQDNs policy"
I doubt that this is related to FQDN itself. Cilium keeps failing while trying to get up.

[code]

Will be fixed via #6215

[2019-01-29 00:48] #6819 closed, assigned to tgraf

[2019-01-29 01:29] ianvernon commented on #6778
Logs from build
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1563/: [6cf39f51_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2805667/6cf39f51_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip)

[2019-01-29 01:30] ianvernon commented on #6792
@tgraf can you provide more context here?

[2019-01-29 01:44] ianvernon commented on #542
@tgraf can this be closed given your recent work?

[2019-01-29 01:54] ianvernon commented on #1578
Logstash integration was removed by 60630a962064979139bf76e17f39672a3e787922

[2019-01-29 01:54] #1578 closed, assigned to raybejjani

[2019-01-29 01:56] ianvernon commented on #1571
K8s GSG only uses CNP now, closing.

[2019-01-29 01:56] #1571 closed, assigned to techcet

[2019-01-29 02:14] ianvernon commented on #4598
We've made a ton of enhancements to `createEndpoint`, which returns this error, since this was filed. Closing.

[2019-01-29 02:14] #4598 closed, assigned to nobody

[2019-01-29 05:50] tgraf opened #6838 "cilium-etcd-operator dies with deployments.apps \"etcd-operator\" already exists""
[code]

[2019-01-29 05:52] tgraf opened #6839 "operator restarts kube-dns repeatedly"
When the pod doesn't restart quick enough, multiple restarts are issued:

[code]

[2019-01-29 09:19] eloycoto commented on #6629
No clue what could happen here:

The Endpoint is mapped correctly to a identity `16777217`

If you see the policy for the endpoint all is allowed:

[code]

Cilium has been restored, so there is no logs or any monitor information. @joestringer  any idea here?

[2019-01-29 10:35] nebril commented on #6830
Tried running `sonobuoy` cli on GKE cluster created with cilium/gke script, all e2e tests are passing.

Running the browser-based scanner now to make sure that I didn't miss anything from the results.

[2019-01-29 11:59] nirmoy opened #6842 "updateTunnelMapping fails with SIGSEGV"
sudo ./daemon/cilium-agent  --kvstore consul --kvstore-opt consul.address=127.0.0.1:8500  -t vxlan --disable-envoy-version-check --sockops-enable  --enable-ipv6

[code]

[2019-01-29 12:00] nirmoy commented on #6842
its because updateTunnelMapping get a newnode with nill newCIDR, working on a solution

[2019-01-29 13:28] nebril commented on #6737
Seems like these errors are logged regardless of which IP version is disabled/enabled. Also, it seems that controller running this code eventually converges to working state. I think that's because `initMaps` in `daemon.go` is called before `d.ipam.AllocateInternalIPs`, so `lxcmap-bpf-host-sync` controller is running before host IP is allocated.

[2019-01-29 16:21] nebril commented on #6830
Running on 1.11 showed a bug in k8s e2e tests, fix here: https://github.com/kubernetes/kubernetes/pull/73476

Running on 1.13 didn't show any test failures

Closing for now.

[2019-01-29 18:54] joestringer opened #6847 "Clarify DNS documentation examples in network policy"
The DNS examples here are under the "Layer 3 examples" section:

http://docs.cilium.io/en/latest/policy/language/#dns-based

http://docs.cilium.io/en/latest/policy/language/#layer-3-examples

However, it includes L3+L4+L7 DNS rules.

* [ ] Add a brief paragraph above the L3 DNS example to describe that it opens the DNS at L7 for all DNS requests, and that it allows specific DNS destinations via L3

[2019-01-29 18:57] joestringer commented on #6847
I guess the explicit L7 allow for DNS is actually required for the L3 `toFQDNs` policies to work. Hmm. That part of the example isn't explicitly called out though.

[2019-01-29 19:00] joestringer commented on #6847
The L3 section describes the fields in terms of:

`toFQDNs.matchName`: ...

But the L7 section just uses:

`matchName`: ...

Should these be specified more explicitly? For example:

`toPorts.[*].rules.dns.matchName`: ...

[2019-01-29 19:11] joestringer commented on #6847
I'm also looking at the DNS polling callout info note:

[code]

Hopefully this doesn't repeat some other discussion that happened on a PR ;)

At a glance, this concept (proxy vs. polling) doesn't seem to have been explained yet and it's not clear that this is not the default behaviour. I guess it's a fine line between calling this out clearly enough in case someone hits a problem with it, vs. over

[2019-01-29 21:40] #6737 closed, assigned to nebril

[2019-01-29 22:56] tjamet commented on #6839
Hi,
I am unsure I am suffering the same problem but I am observing that my kube-dns pod is regularly restarted:
[code]
Searching around in the [docs](http://docs.cilium.io/en/v1.3/kubernetes/concepts/?highlight=kube-dns#networking-for-existing-pods) I understand that the pod is restarted to get its network managed by cilium.
I have seen in the [code](https://github.com/cilium/cilium/blob/2e7186c45

[2019-01-30 01:52] #6842 closed, assigned to nobody

[2019-01-30 01:53] #6815 closed, assigned to nobody

[2019-01-30 02:54] marc-barry commented on #6830
Hey @nebril and @tgraf. I ran `Sonobuoy` against our `1.13.2` cluster build which has release [v1.4.0-rc5](https://github.com/cilium/cilium/releases/tag/v1.4.0-rc5) and ended up with the following failures:
[code]
I ran the test with [`v0.13.0`](https://github.com/heptio/sonobuoy/releases/tag/v0.13.0).

[2019-01-30 03:12] tgraf commented on #6830
@marc-barry How did you set up the cluster? I think we need to reproduce this in an environment that matches yours.

[2019-01-30 03:24] tgraf commented on #6839
@tjamet Can you check the annotations of the kube-dns pod as it comes up. Does it have a an annotation `cilium.io/identity`?

[2019-01-30 03:29] #6590 closed, assigned to joestringer

[2019-01-30 03:51] tgraf commented on #6838
@aanm This is currently blocking to bring up cilium almost entirely on GKE. The pod keeps on restarting with:

[code]

[2019-01-30 03:51] tgraf commented on #6838
[code]

[2019-01-30 03:54] tgraf commented on #6838
@aanm I think it's primarily a timing issue that when the etcd-operator pod does not come up within 30 seconds, it will re-deploy and then fail hard.

[2019-01-30 13:05] #6783 closed, assigned to tgraf

[2019-01-30 13:29] aanm commented on #6838
@tgraf it is fixed in https://github.com/cilium/cilium-etcd-operator/pull/34

[2019-01-30 14:15] tgraf commented on #6838
Merged

[2019-01-30 14:15] #6838 closed, assigned to aanm

[2019-01-30 14:17] tgraf opened #6852 "Test upgrade from 1.2.7 to 1.4.0"
- [x] Test the upgrade from 1.2.7 to 1.4.0
- [x] Validate FQDN upgrade
   - [x] Work with @raybejjani to have an FQDN policy loaded throughout the upgrade.
   - [x] Upgrade to 1.4.0 with the poller enabled and make sure that FQDN policy continues to work
- [x] Document release notes required for upgrade

[2019-01-30 14:41] brb commented on #6059
Re-opening, as the error was observed on one of the CI runs of https://github.com/cilium/cilium/pull/6851 which postdates #6551.

* https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1578/testReport/junit/k8s-1/11/BDD_Test_k8s_1_11_and_1_12___K8sServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity/
* [K8sServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity

[2019-01-31 04:23] joestringer commented on #5130
Complaint:

[code]

Problem: Compiler bug. Can be alleviated by shifting stack initialization code around. Newer clang (much newer than 3.8.1) should fix this.

[2019-01-31 04:30] joestringer commented on #6382
@tgraf was this addressed by your rework of the routing logic?

[2019-01-31 04:35] tgraf commented on #6382
@joestringer Yes, good catch

[2019-01-31 11:05] brb commented on #6786
Observed again: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9488/

[code]

+1.

[2019-01-31 12:21] #6839 closed, assigned to tgraf

[2019-01-31 12:47] aanm commented on #6631
I've been notice a pattern here, the reason why the etcd-operator brakes in those tests is because the tests are performed after doing an upgrade.
For example more recently in PR https://github.com/cilium/cilium/pull/6858 this happened.

[code]

From [0] the we can see the upgrade test succeeded but then the `K8sHealthTest` failed eventually...

This also happened in the .zip provided in this issu

[2019-01-31 15:03] marc-barry commented on #6830
I've provided @nebril with access to the cluster.

[2019-01-31 16:24] tgraf commented on #6756
Re-opening as it also appeared in a user-provided bug report

[code]

[2019-01-31 21:06] tjamet commented on #6839
On my deployment, I did not manually inject it, and it does not appear automatically at the pod level either.
I made it stop restarting forever updating my deployment

[2019-01-31 21:08] tjamet commented on #6839
probably better to discuss it in a dedicated issue? wdyt?

[2019-02-01 01:04] joestringer opened #6870 "Add k8s integrations for toqfdns options"
AFAICT there's no examples in the configmap and no environment variable binding in the daemonset, nor upgrade instructions for how to `tofqdns-enable-poller`. We should consider whether to add these.

[2019-02-01 01:09] joestringer commented on #5686
@tgraf I confirmed after upgrade from v1.2 with thousands of identities in kvstore to v1.4.0-rc5, after about half an hour there were no identities or IPs corresponding to CIDRs. Are there any other items you are concerned about on this issue?

[2019-02-01 01:12] joestringer commented on #6852
One particular task necessary for upgrade if we're going to support FQDN poller with v1.4: https://github.com/cilium/cilium/issues/6870

[2019-02-01 01:21] tgraf commented on #5686
Sounds great. No further requests.

On Thu, 31 Jan 2019, 20:09 Joe Stringer <notifications@github.com wrote:

[2019-02-01 01:48] #5686 closed, assigned to joestringer

[2019-02-01 01:52] joestringer commented on #6382
@aspsk  Closing per the above, please re-open or file a new issue if you observe this issue with the upcoming v1.4.0 release or later.

[2019-02-01 02:09] aspsk commented on #6382
@joestringer thanks! Will test it soon

[2019-02-01 06:42] joestringer commented on #6279
No recurring reports of such failures, closing. Feel free to reopen if this is seen again.

[2019-02-01 06:42] #6279 closed, assigned to nobody

[2019-02-01 06:43] joestringer commented on #6128
No reports for almost two months, closing. Feel free to reopen if this is observed again.

[2019-02-01 06:45] joestringer commented on #5560
Fixed in https://github.com/cilium/cilium/pull/6812

[2019-02-01 06:45] #5560 closed, assigned to nobody

[2019-02-01 06:48] joestringer commented on #5868
Not seen in a long time, not a fatal error. Closing.

[2019-02-01 06:48] #5868 closed, assigned to nobody

[2019-02-01 06:54] joestringer commented on #4526
The spirit of this issue should be addressed in https://github.com/cilium/cilium/projects/23 ; Closing.

[2019-02-01 06:54] #4526 closed, assigned to ianvernon

[2019-02-01 06:54] #3539 closed, assigned to nobody

[2019-02-01 06:54] #3468 closed, assigned to nobody

[2019-02-01 06:57] joestringer commented on #3306
Worth double-checking, if this is the same as the proxy IP then `cilium status` now has this information.

[2019-02-01 09:32] #6795 closed, assigned to eloycoto

[2019-02-01 09:32] tgraf opened #6875 "Test standard installation guide"
Guide: https://docs.cilium.io/en/latest/gettingstarted/k8s-install-etcd-operator/

- [x] Write down unclear steps in the documentation
- [x] Report failures

[2019-02-01 09:33] tgraf opened #6876 "Test installation guide with external etcd"
Guide: https://docs.cilium.io/en/latest/gettingstarted/k8s-install-external-etcd/

- [ ] Write down unclear steps in the documentation
- [ ] Report failures

[2019-02-01 09:34] tgraf opened #6877 "Test minikube guide"
Guide: https://docs.cilium.io/en/latest/gettingstarted/minikube/

- [ ] Write down unclear steps in the documentation
- [ ] Report failures

[2019-02-01 09:36] tgraf opened #6878 "Test EKS Guide"
Guide: https://docs.cilium.io/en/latest/gettingstarted/k8s-install-eks/

- [ ] Write down unclear steps in the documentation
- [ ] Report failures

[2019-02-01 09:36] tgraf opened #6879 "Test GKE guide"
Guide: https://docs.cilium.io/en/latest/gettingstarted/k8s-install-gke/

- [ ] Write down unclear steps in the documentation
- [ ] Report failures

[2019-02-01 10:36] aanm commented on #6526
@tgraf but how will this work for newly created pods? The cni plugin does not have access to the pod labels.

[2019-02-01 10:43] tgraf commented on #6526
Not sure I understand. The pod name is given to CNI and `createEndpoint()`
can do a pod fetch as it already does.

On Fri, 1 Feb 2019, 11:36 André Martins <notifications@github.com wrote:

[2019-02-01 10:50] aanm commented on #6526
@tgraf thanks, you just solved me a bug

[2019-02-01 10:57] vadorovsky commented on #6870
Shall we also expose `tofqdns-enable-poller-events` in the configmap?

[2019-02-01 17:07] joestringer commented on #6870
@mrostecki Honestly I think that the proxy-based approach to DNS is much more robust, currently I'm just trying to figure out whether it's at all reasonable to use the DNS poller approach in 1.4. The docs in https://github.com/cilium/cilium/pull/6886 suggest maybe not.

Regarding the poller events flag, the default settings will effectively follow `tofqdns-enable-poller` (ie enabled if you enable

[2019-02-01 17:47] brb commented on #6878
Which version of `eksctl` did you use to create the cluster in the docs?

With: `[ℹ]  version.Info{BuiltAt:"", GitCommit:"", GitTag:"0.1.20-rc.2"}` I'm getting the following timeout (tried in both `us-west-2` and `eu-central-1`):

[code]

@errordeveloper - is it common for `eksctl` to take more than 20min to bootstrap a cluster? I could provide verbose logs in private.

[2019-02-01 17:57] aanm commented on #5566
@cristi- This will be present in v1.4.0. The final PR is being performed here.

[2019-02-01 17:58] tgraf commented on #6878
@brb I'm using the following version and it has been flawless so far
[code]

[2019-02-01 18:03] brb commented on #6878
Found the culprit:
[code]

[2019-02-01 18:24] jrfastab commented on #6803
ConfigMap is not properly released on endpoint deletion leaking fds resulting in fd exhaustion at some point.
#6890

[2019-02-01 19:01] errordeveloper commented on #6878
Hey Martynas! The auth error can be fixed by installing authenticator
binary. It is weird and I could never understand why some users get this,
and the code that does those checks is not supposed to depend on the
authenticator binary being present.

Besides that, if you get stuck with eksctl next time - ping me on slack!

On Fri, 1 Feb 2019, 6:03 pm Martynas Pumputis <notifications@github.com
wrot

[2019-02-01 20:40] aanm opened #6891 "CI: K8sPolicyTest Basic Test checks all kind of Kubernetes policies"
## CI failure

[102b0b3f_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/2823273/102b0b3f_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip)

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9542/testReport/junit/k8s-1/13/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

A new helper needs t

[2019-02-01 22:20] #6803 closed, assigned to aanm

[2019-02-01 22:26] tgraf commented on #6629
@eloycoto It is possible that it is not policy related at all but a connectivity problem

[2019-02-01 22:26] tgraf commented on #6629
@brb How often did you see this?

[2019-02-01 22:32] #5384 closed, assigned to tgraf

[2019-02-01 23:38] aanm opened #6896 "unable to build cilium in dev VM"
[code]

[2019-02-01 23:53] joestringer commented on #6896
AFAIK this fails as part of the `govet` target, invoked by `make` but not by something like `make -C daemon` so there's at least a basic workaround to unblock anyone directly blocked on this.

[2019-02-01 23:53] joestringer commented on #6896
(How this breaks the dev VM and local environments but not the CI, I'm not sure..)

[2019-02-02 01:12] joestringer commented on #4391
Potential repro of this reported in Slack on Cilium v1.3.2 by Pritesh:

[code]

Also, these errors:

[code]

[2019-02-02 01:22] joestringer commented on #6852
In my local microk8s environment, I tested this v1.2 DS (docker path updated):

[cilium-1.2-with-k8s-1.11-ds.yaml.txt](https://github.com/cilium/cilium/files/2823864/cilium-1.2-with-k8s-1.11-ds.yaml.txt)

Against this v1.4 DS (docker path updated, added the `--tofqdns-enable-poller` option to the arguments):

[cilium-1.4-with-k8s-1.13-ds.yaml.txt](https://github.com/cilium/cilium/files/2823865/cil

[2019-02-02 01:34] joestringer commented on #6852
Second test, tried to upgrade from the 1.2 YAML above, again with the same monkey setup, this time with no poller configured in v1.4:

[cilium-1.4-no-dnspoller.yaml.txt](https://github.com/cilium/cilium/files/2823908/cilium-1.4-no-dnspoller.yaml.txt)

FQDN monkey pods restarted once about one minute after upgrade. Log:

[fqdn-failure-2019-02-02-01:31:05Z.txt](https://github.com/cilium/cilium/files

[2019-02-02 02:06] joestringer commented on #6852
I also tried starting from v1.2 with no DNS proxy rules, then upgrading directly to the v1.4 YAML and sure enough, the toFQDNs rules stopped working. This is expected; upgrade requires the user to intervene in one way or another - either add the DNS proxy rules, or add the DNS poller argument to the Cilium args.

[2019-02-02 03:43] jrajahalme opened #6900 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
[code]

Tried downloading the URL manually, browser (Chrome) reports the same error.

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9529/execution/node/96/log/

[2019-02-02 10:10] #5566 closed, assigned to nobody

[2019-02-03 10:33] tgraf opened #6905 "Could not generate persistent MAC address for cilium_health: No such file or directory"
Reported by user:
[code]

[2019-02-03 12:57] natim626 opened #6907 "SCTP protocol is not working in K8S 1.13.2 and cilium cilium-1.4.0-rc1"
## Support

Hi,

I installed K8S version 1.13.2 and Cilium "cilium-1.4.0-rc1" on Ubuntu 18.04.
K8S was installed using Kubeadm

I created new service for SCTP & TCP protocols using heml chart, all processes are up and running, the TCP is working fine but it seems to be that SCTP is not working.
according to the documentation, it should be supported on cilium version 1.4.

**pods and services statu

[2019-02-03 13:08] tgraf commented on #6907
We'll have to add support to extract the port. It will work if you define
an L3 only service by omitting the port

On Sun, 3 Feb 2019, 13:57 natim626 <notifications@github.com wrote:

[2019-02-03 13:40] vadorovsky opened #6908 "Allow to use podman instead of docker"
Currently building and running tests in Cilium requires docker. It would be nice to support Cilium development with podman and using podman as a workload.

Action items:
- [x] Allow to override `docker` commands (i.e. `docker run`, `docker rm` etc.) in Makefile
- [ ] Allow to use `podman pod create` instead of `docker compose`
- [ ] ~Add `workloads` module for podman~
- [ ] Check if podman can be

[2019-02-03 19:17] tgraf opened #6910 "operator crash on invalid CNP"
The following malformed policy crashes the operator:

[code]

[2019-02-03 20:40] tgraf opened #6911 "Apply new policy before waiting for IdentityChangeGracePeriod"
When an endoint changes its identity, the building is delayed by IdentityChangeGracePeriod. This means that the old policy continues to apply. When a user changes pod labels to move it out of the scope of a CNP, this unnecessarily delays applying the new set of policies. Apply the new set of CNPs before the identity change is done.

[2019-02-04 00:11] tgraf commented on #6891
@aanm Is this a pure CI bug? If so, then this does not need to be a release blocker.

[2019-02-04 00:13] tgraf commented on #6830
From Nan Zhong on Slack:

[2019-02-04 00:14] tgraf commented on #6730
I'll leave the release blocker label on and will continue spending time. I could not reproduce this at all so far in local tests.

[2019-02-04 10:30] #6896 closed, assigned to tgraf

[2019-02-04 14:47] nanzhong commented on #6830
Yup, thanks for cross posting here @tgraf!

I've verified that conformance passes for 1.11.7, 1.12.5, and 1.13.2 running cilium 1.4.0-rc5. The solution was indeed to run cilium on the master node so that it can proxy to the cluster ips.

Good to close this issue, and like you suggested, some documentation for this would be great!

[2019-02-04 15:38] aanm opened #6916 "docs: fix kops upgrade tutorial"
Also write somewhere that cilium requires kube-dns pod to be running.

[2019-02-04 16:26] tgraf commented on #6830
Great, thanks a lot for all the effort @marc-barry and @nanzhong

[2019-02-04 16:26] #6830 closed, assigned to nebril

[2019-02-04 17:49] tgraf commented on #6629
Likely a CI bug in that the CI continues when the CNP status field is missing

[2019-02-04 19:00] ianvernon commented on #5645
Also occurred in a PR build: https://api.travis-ci.org/v3/job/488555333/log.txt

PR: https://github.com/cilium/cilium/pull/6915

[2019-02-04 19:14] #6910 closed, assigned to eloycoto

[2019-02-04 19:15] #6876 closed, assigned to eloycoto

[2019-02-04 19:33] joestringer commented on #4143
A more recent suggestion in addition to this is to break out the commands vs. shell output, eg:

[code]

![tabbed-shell](https://user-images.githubusercontent.com/1243336/52232149-9dc6a400-2870-11e9-953e-db4e3b1e272c.png)

Commands should appear in the left box by default, contrary to this example image.

[2019-02-04 20:42] tgraf commented on #6916
@aanm kops does not install kube-dns?

[2019-02-04 20:43] tgraf commented on #6916
master was already fixed and no longer contains the erroneous upgrade instructions

[2019-02-04 20:49] #6215 closed, assigned to tgraf

[2019-02-04 21:16] ianvernon opened #6923 "CI: Upgrade test fails when it is the first test ran in test suite for v1.3 branch"
While triaging test failures in a v1.3 backport branch, I observed the following:

Upgrade test failed for [K8s 1.10](https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1602/execution/node/98/) and [K8s 1.11](https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1602/execution/node/99/log/?consoleFull) tests.

I noticed that the upgrade test failed in 1.10 and 1.11, but not 1.8 and 1.9. I

[2019-02-04 22:09] ianvernon opened #6924 "CI: ToFQDNs testing in upgrade test (?)"

[2019-02-04 23:06] jrajahalme commented on #6875
Validating the CodeDNS reverse lookups section was a bit unclear, as `host` tool is not available in the cilium container. Don't know if it would have been available in any other container started during the GSG.

[2019-02-04 23:08] tgraf commented on #6875
Good point. It's probably clear to advanced users but probably not to beginners.

[2019-02-04 23:30] ianvernon commented on #6923
Another failure with upgrade test as the first test: https://jenkins.cilium.io/view/Cilium-v1.3/job/cilium-v1.3-standard/38/testReport/junit/k8s-1/8/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

[2019-02-04 23:31] tgraf commented on #6923
@ianvernon Very interesting observation!

[2019-02-04 23:33] ianvernon commented on #6923
Assigning myself for triaging.

[2019-02-05 00:03] tgraf opened #6927 "Panic in ClusterMesh initialization"
[code]

[2019-02-05 00:33] tgraf commented on #6730
I've completed a lot of manual testing using multiple combinations:
 - pod to pod with curl in a loop
 - pod to pod via ClusterIP with curl in a loop
 - pod to pod via ClusterIP with a persistent telnet connection and an echo server
 - all of the above with and without policy
 - The persistent connection tests have been done with 1, 5, 10 replicas for the backend

I've continuously restarted the c

[2019-02-05 09:07] brb commented on #6629
Saw it only once.

[2019-02-05 09:08] #6875 closed, assigned to jrajahalme

[2019-02-05 09:20] #6927 closed, assigned to tgraf

[2019-02-05 09:31] tgraf commented on #6807
Addressing before Cilium is installed:
[code]

[code]

[code]

[code]

[2019-02-05 09:32] tgraf commented on #6807
The problem is the route:
[code]

Which causes Cilium to reserve all IPs until the route is replaced with a route that points to `cilium_host` which causes the range to become available on the next pod start.

[2019-02-05 09:34] #6878 closed, assigned to brb

[2019-02-05 09:36] tgraf commented on #6631
Looks like this is a CI problem because the upgrade test itself is successful. Removing release blocker flag.

[2019-02-05 09:49] #6916 closed, assigned to nobody

[2019-02-05 09:59] aanm commented on #5645
One more

<details>
  <summary>Click to expand</summary>

[code]

</details>

[2019-02-05 11:41] nebril commented on #6879
Newest k8s version available in GKE is 1.11, we might want to default link to `cilium-with-node-init.yaml` for version 1.11 to be visible instead of 1.13.

I encountered https://github.com/cilium/cilium/issues/6807 , but cluster converged to working state eventually (after about 6 minutes).

We might want to tell our users that it's possible for Cilium pods to restart one or two times before every

[2019-02-05 11:50] tgraf commented on #6879
I found the cause and will fix it today

On Tue, 5 Feb 2019, 12:41 Maciej Kwiek <notifications@github.com> wrote:

[2019-02-05 15:38] borkmann commented on #6877
I've been testing latest kubectl/minikube for k8s 1.13 and works fine, all straight forward. Been using https://raw.githubusercontent.com/cilium/cilium/HEAD/examples/minikube/http-sw-app.yaml as sample app and all pods are in running state. Tried testing the older k8s configs, but minikube failed to bootstrap so far. Filed issue 3629 at kubernetes/minikube.

[2019-02-05 15:58] aanm commented on #6810
Fixed by #6814

[2019-02-05 15:58] #6810 closed, assigned to nobody

[2019-02-05 16:01] aanm commented on #6790
already fixed

[2019-02-05 16:01] #6790 closed, assigned to nobody

[2019-02-05 17:40] ianvernon commented on #6923
Test runs fine in master when ran as the first test:

Reproducing steps:

[code]

Test passes:
[code]

Will try in v1.3 branch.

[2019-02-05 17:47] ianvernon commented on #6341
@aanm did another failure occur that necessitated reopening this?

[2019-02-05 17:49] joestringer commented on #5645
Buildqueue isn't used yet right? Can we just add another label to the test file to disable those tests for now?

[code]

[2019-02-05 17:50] ianvernon commented on #5645
@joestringer correct, it is not in use yet.

[2019-02-05 18:12] #6891 closed, assigned to aanm

[2019-02-05 18:18] tgraf commented on #6877
1.13 is fine. I'll close this issue regarding 1.4.0

[2019-02-05 18:18] #6877 closed, assigned to borkmann

[2019-02-05 18:21] joestringer commented on #6905
Are there Cilium logs from the same time?

I'm wondering something like whether Cilium has an issue which deletes the `cilium_health` interface quickly, and races against udevd configuring the link.

[2019-02-05 18:40] ianvernon commented on #6923
This indeed reproduces for cilium `v1.3`:

Commands to run:

[code]

Output (some output removed for brevity / to reduce noise):

[code]

[2019-02-05 19:02] joestringer commented on #6924
Sounds good, with DNS proxy this seems like it should be doable.

For poller this could be a bit more painful. We'd want to minimize the amount of time waiting for the poller to run, and understand when the poller has run to be able to correctly test that Cilium thinks it has plumbed the right stuff and that everything should work, without having to wait for a bunch of timeouts.

Note: Maybe this

[2019-02-05 19:27] ianvernon commented on #6923
The reason this test fails in the `v1.3` branch is because no Cilium DaemonSet is deployed yet. However, the test deploys the etcd-operator, and then deploys Cilium v1.2. Cilium v1.2 does not work with the `etcd-operator`, so it will never go into 'ready' state because it can't connect to the kvstore. I suspect that the kvstore connectivity works when this test is ran *after* other tests run becau

[2019-02-05 19:44] jrajahalme commented on #6793
Skipping transition to Ready when another regeneration is queued is normal, but currently logged as a warning. The solution is to not log status in this case.

[2019-02-05 20:03] jrajahalme commented on #6793
The first one above is a case of trying to transition to a state the endpoint is already in. It is not supported in general, as it may indicate a logic error. In this case it happens in endpoint restoration after waiting for an initial kvstore sync. It is likely that an endpoint regeneration has already been triggered for some other reason (creation?) and thus the second regeneration is not necess

[2019-02-05 20:05] tgraf commented on #6793
@jrajahalme It seems fine to skip if the state is still `waiting-to-regenerate` and not yet `regenerating`.

[2019-02-05 20:46] jrajahalme commented on #6792
So the new identity is the same as the old one. We have two callers of `endpoint.SetIdentity()` out of which the restoring one seems like the more likely culprit. I'll add a check to avoid the `SetIdentity()` call if there is no change.

[2019-02-05 20:57] jrajahalme commented on #6792
This fix to this is so close to the fix for #6793 that these ought to be tested together. So both fixed in #6937.

[2019-02-05 21:02] borkmann opened #6940 "minikube, k8s 1.8/1.9: Unable to connect to kvstore"
From minikube GSG, analog procedure for v1.13.2, v1.12.5, v1.11.7, v1.10.12 works fine, with v1.9.11 and also v1.8.15 it's failing with the below:
[code]
And same in 1.8:

[code]

[2019-02-05 21:03] borkmann commented on #6877
Ok, so after some more debugging turns out a `minikube delete` was missing. I've checked now with the following `--kubernetes-version` params:

v1.13.2, v1.12.5, v1.11.7, v1.10.12 is all good till here.

For v1.9.11, I've filed the following bug #6940.

v1.8.15 I still need to downgrade my kubectl version, will report back my findings.

[2019-02-05 21:36] borkmann commented on #6877
Ok, after kubectl downgrade, found the same error for v1.8.15. I've updated #6940 accordingly. As far as the GSG goes, I think it's super straight forward, I can add a small note into the doc for testing older versions via `--kubernetes-version`, fwiw.

[2019-02-05 21:58] tgraf commented on #6940
It's likely that for 1.9 the etcd secret location is different. 1.9 is almost EOL so I don't think we should mark this as a release blocker

[2019-02-05 23:46] tgraf commented on #6341
One aspect that we did not consider yet is that we are not actually checking whether kube-proxy has received the service update and has plumbed the iptables rule.

[2019-02-06 01:42] joestringer commented on #6618
I've moved a bunch of the items that were in the issue description here into https://github.com/cilium/cilium/projects/34, which has dedicated columns to determine bits that are more like wishlist items vs. things we need to sort out for a solid base implementation.

[2019-02-06 04:33] joestringer opened #6947 "CI: K8sDatapathConfig: Unable to create endpoint: Cilium API client timeout exceeded"
### k8s-1.13.K8sDatapathConfig DirectRouting Check connectivity with automatic direct nodes routes

So far only observed in PR #6681, however I fail to see what specifically in that PR could cause the CNI plugin to disappear. Only observed once in one k8s run out of at least 2 or 3 CI runs.

### Base failure
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9642/testReport/jun

[2019-02-06 04:35] joestringer commented on #6947
This hasn't been observed in more than 20 of the most recent master builds, so the simplest explanation is there's something wrong in my PR. Not sure what yet though since my PR changes mostly BPF code.

[2019-02-06 04:38] joestringer commented on #6947
The original title is present, but that may just be reporting the failure when attempting to deploy the container during the Cilium restart/upgrade. I've modified the title to the one that recurs, which appears to be a Cilium timeout. This seems more likely to be caused by some locking situation inside Cilium.

[2019-02-06 04:39] joestringer commented on #6947
From endpoint list in `cilium-mxn87` (`k8s2` instance), pod is apparently waiting for identity?

[code]

[2019-02-06 09:09] #6807 closed, assigned to tgraf

[2019-02-06 11:29] raybejjani opened #6951 "Track DNS Poller data like endpoint DNS data"
and is exposed under /fqdn/cache API

We need to manage the poller as a first class entity and this requires at least two steps:
1- Store DNS poller data in a way that honours per-host limits (like in https://github.com/cilium/cilium/pull/6740). Hopefully using the same limit as endpoints is adequate.
2- Expose the DNS data from (1) under `/fqdn/cache`. This is more annoying, as that API takes /en

[2019-02-06 14:30] #6448 closed, assigned to nebril

[2019-02-06 14:35] utkuozdemir opened #6954 "Kubernetes nodes intermittently going into NotReady status on Cilium 1.3.2 when containerd v >= 1.2.0 is used as CRI"
## Bug report

**General Information**

- Cilium version `1.3.2`
- Kernel version `Linux loyal-foal 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use: `Kubernetes 1.12.2` with `Containerd 1.2.0`
- Sample artifact:
[code]
- System dump:
[cilium-sysdump-20190206-152441.zip](https://github.com/cilium/cilium/files/283669

[2019-02-06 14:43] aanm commented on #6954
@utkuozdemir Does Cilium restart in the meanwhile? After a couple minutes it keeps `Ready` or it is always flipping between `NotReady` and `Ready`?

[2019-02-06 16:06] vadorovsky commented on #6940
For some reason minikube with k8s 1.8/1.9 doesn't even set up etcd with SSL and apiserver connects with HTTP. I will submit a fix tomorrow.

[2019-02-06 16:07] utkuozdemir commented on #6954
@aanm It keeps `Ready` if there are no new pods scheduled on that node in the meantime. As I remember Cilium does not restart meanwhile, but we can check it and confirm. @sedooe can you please check it?

According to my observation, even 1 pod is enough to trigger the issue, but with many pods it is easier to reproduce/observe it.

[2019-02-06 16:09] borkmann commented on #6940
Awesome, thanks @mrostecki !

[2019-02-06 16:09] sedooe commented on #6954
@aanm I can confirm that there is no restart on Cilium pods.

[2019-02-06 17:13] #6793 closed, assigned to jrajahalme

[2019-02-06 17:29] tgraf opened #6957 "Some FQDN tests are failing since 6740 was merged"
FQDN tests have been unstable in master after the following PR was merged:

https://github.com/cilium/cilium/pull/6740

Failed tests:
• https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2286/
• https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2287/
• https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2288/
• https://jenkins.cilium.io/job/cilium-ginkg

[2019-02-06 17:46] tgraf commented on #6792
Fixed by #6937

[2019-02-06 17:46] #6792 closed, assigned to jrajahalme

[2019-02-06 17:59] ianvernon commented on #6629
This is occurring much more frequently in the CI now after #6740 was merged. @tgraf filed #6957 , which may overlap with the work on this ticket.

[2019-02-06 18:18] ianvernon opened #6959 "CI: Cilium went into infinite restart loop, crashing with log "unable to lookup host device cilium_host: Link not found""
Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5787/

Failure output:
[code]

Relevant logs from test "Enforces ToFQDNs policy":

[code]

Zip file:
[21a7614b_RuntimeFQDNPolicies_Enforces_ToFQDNs_policy.zip](https://github.com/cilium/cilium/files/2837708/21a7614b_RuntimeFQDNPolicies_Enforces_ToFQDNs_policy.zip)

[2019-02-06 18:19] tgraf commented on #6879
#6942 fixed the above issue. #6945 makes the install process super solid for me.

[2019-02-06 18:19] #6879 closed, assigned to nebril

[2019-02-06 18:21] ianvernon commented on #6959
Looks related to changes made in https://github.com/cilium/cilium/pull/6874/

[2019-02-06 18:32] ianvernon commented on #6341
Another failure : https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5779/testReport/junit/k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

[2019-02-06 18:35] ianvernon opened #6960 "CI: Allows traffic with k8s default-allow egress policy: could not resolve DNS for google.com"
## CI failure

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5785/testReport/junit/k8s-1/13/K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_egress_policy/

[code]
Logs: [abc9e67a_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip](https://github.com/cilium/cilium/files/2837744/abc9e67a_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_defa

[2019-02-06 18:39] aanm commented on #6954
Thanks I'll take a look.

[2019-02-06 18:39] tgraf commented on #6960
Couple of options:
 - Google screwed up temporarily
 - kube-dns was not able to reach the Google DNS and returned both the cached result and SERVFAIL to indicate the upstream connectivity problem.

[2019-02-06 19:02] eloycoto commented on #6629
close due a new issue has been open.

[2019-02-06 19:02] #6629 closed, assigned to raybejjani, eloycoto

[2019-02-06 19:16] tgraf opened #6963 "assignment to entry in nil map when using workload options"
Running the agent with the options: `--container-runtime=docker --container-runtime-endpoint=unix:///var/run/docker.sock`, seeing the following panic in master. Likely related to the workload option changes done recently.

[code]

Could be related to #6920

[2019-02-06 19:26] aanm commented on #6963
I already had a fix locally but I thought it was only affecting non-docker environments.

[2019-02-06 19:45] joestringer commented on #6947
Similar report on the general channel in Cilium slack with Cilium v1.4.0-rc7.

[2019-02-06 20:24] amshinde opened #6966 "Cilium agent fails to start with bpf file system mounted on the host"
Followed the instructions to install the Cilium etcd operator here:
https://cilium.readthedocs.io/en/latest/gettingstarted/k8s-install-etcd-operator/

The instructions recommend mounting the bpf file system on the host.
But with this, the agent fails to start.  Logs from the cilium pod show this error message:
[code]
**General Information**

- Cilium version
Client: 1.4.90 [d96d205](https://github

[2019-02-06 20:24] amshinde commented on #6966
cc @jrfastab

[2019-02-06 20:36] aanm commented on #6966
@amshinde I saw that you have open the #6965 , are you using cri-o? If yes please use the exact version available in https://github.com/cilium/cilium/tree/master/examples/kubernetes where they are different depending on each k8s version. For example, since k8s 1.11 the cilium DaemonSet for crio does not have the volumes for bpf directories set in the k8s descriptor.

Let me know if that is the iss

[2019-02-06 20:37] amshinde opened #6967 "Socket redirects fail when enabled with --sockops-enable"
## Bug report

On enabling the socket redirect feature by passing `--sockops-enable` to the agent, the agent logs show these warnings:
[code]

Looks like these headers are missing in the image for the agent.

**General Information**

- Cilium version (run `cilium version`)
Client: 1.4.90 d96d205 2019-02-05T20:21:04+01:00 go version go1.11.1 linux/amd64
Daemon: 1.4.90 d96d205 2019-02-05T20:21:04+01

[2019-02-06 20:38] amshinde commented on #6967
cc @jrfastab

[2019-02-06 20:42] #6959 closed, assigned to tgraf

[2019-02-06 20:57] aanm commented on #6341
@tgraf why would it matter for this case? the test fails while a pod is doing a request via the cluster IP of a service type node port. Does it still uses iptables?

[2019-02-06 21:27] tgraf commented on #6341
@aanm Very good point ;-) The NodePort in the test name made me assume. Not sure if all of the failure occurrences of this have been on the NodePort or ClusterIP. I think we should split the tests so failure reports are more specific.

[2019-02-06 21:34] tgraf commented on #6831
Fixed in #6215

[2019-02-06 21:34] #6831 closed, assigned to tgraf

[2019-02-06 21:43] #6963 closed, assigned to aanm

[2019-02-06 21:52] joestringer commented on #6947
Seen in the cilium log, 1.5s bpf compilation times:

[code]

[2019-02-06 22:04] amshinde commented on #6966
@aanm Just updated the issue description with the exact version of k8s.

[2019-02-06 22:10] joestringer commented on #6947
Lots of 0.15s lock holds for endpoint delete during restore, too:

[code]

[2019-02-06 22:42] tgraf commented on #6947
@joestringer Are these logs from the user report or from the CI test?

[2019-02-06 23:24] joestringer commented on #6947
@tgraf All logs I've posted here are from the CI test.

[2019-02-07 06:26] joestringer commented on #6947
Community report was a different issue, removed tag. Still need to triage and determine severity wrt release.

[2019-02-07 11:16] vadorovsky opened #6972 "sockmap: failed to pin map and attach program"
[code]

[2019-02-07 11:37] vadorovsky commented on #6972
I'm running Cilium from master just on my host (with openSUSE Tumbleweed) and I built bpftool from bpf-next tree. Yeah, I know, that log says almost nothing. I will try to dig more into that issue myself.

[2019-02-07 11:45] vadorovsky commented on #6967
`asm/socket.h` is a kernel header. It seems that Cilium docker image just does not provide it. @eloycoto could you check it?

I guess that @jrfastab was developing sockmap functionality on his host system.

I don't get that error when I run Cilium on my host (although I have an other issue #6972).

[2019-02-07 15:06] aanm commented on #6954
I spoke with @brb offline, this seems to be caused by the change of probe mechanism where the new prober for `cilium status` is more aggressive than the previous one. As cilium containerd client does not receive a response within 15 seconds from containerd, it marks its status as non-healthy which makes kubelet to mark the node as not ready as well.

[2019-02-07 15:20] vadorovsky commented on #6966
Could you `kubectl exec` the Cilium pod and provide the content of `/proc/self/mountinfo`? That would be very helpful.

[2019-02-07 16:41] tgraf opened #6975 "Cilium deletes routes installed by kube-router"
When running Cilium with `--tunnel=disabled`, the node validation controller can delete routes installed by other components such as kube-router if the routes match the PodCIDR of other nodes.

[2019-02-07 21:51] #6975 closed, assigned to tgraf

[2019-02-07 22:47] tgraf commented on #6756
Lifting release blocker status, it's not that serious.

[2019-02-08 00:10] aanm commented on #6947
@tgraf looking at the sysdump, the problem was due the fact that the endpoint `1236` tried to allocate an identity with the kvstore but got stuck in there.

[code]

https://github.com/cilium/cilium/blob/51a8ed056ad195b2818a720d8a6d6f376570ac91/pkg/endpoint/endpoint.go#L2066-L2073

Which stuck all the identity allocations as the only one that was able to resolve an identity was 33274
[code]

[2019-02-08 01:05] #6852 closed, assigned to joestringer

[2019-02-08 01:12] tgraf commented on #6947
@aanm I don't understand how one identity allocation getting stuck blocks all other identity allocations? The allocation is stuck because etcd connectivity is not there or because etcd does not have quorum. We should not need to allocate any identity via kvstore to reach that point.

[2019-02-08 04:46] #6957 closed, assigned to eloycoto

[2019-02-08 11:05] borkmann commented on #6972
Heh, nice coincidence, fix is already out (#6988)

[2019-02-08 11:11] aanm opened #6989 "Do not log any INFO message after daemon initializes"
It is always useful to retrieve log messages but with the new metrics introduced in v1.4 it seems redundant to log every single BPF regeneration that happens in Cilium.

This issue proposes to stop logging any message, except Warn and Fatal, after the Daemon initializes. This means there will always be Info messages in the beginning, which are always useful for users to debug initialization proble

[2019-02-08 12:32] tgraf commented on #6989
I agree with it as we continue to scale up but I'm sure there will be times where we regret it.

[2019-02-08 12:33] #6972 closed, assigned to nobody

[2019-02-08 12:35] #6940 closed, assigned to nobody

[2019-02-08 14:34] #6744 closed, assigned to nobody

[2019-02-08 16:02] aanm commented on #6966
@amshinde I'm not able to reproduce this issue.

I've set up a machine with cri-o and I've installed cilium using
[code]

Can you describe the steps you have performed to mount the bpf file system on the host?

Also, it would be extremely helpful if you could provide a cilium sysdump [0]

Thanks!

[0] https://cilium.readthedocs.io/en/latest/troubleshooting/#automatic-log-state-collection

[2019-02-08 17:33] ianvernon commented on #5876
A variety of PRs did the initial work surrounding this for the v1.4 release:

Benchmark (with configurable number of rules and identities in the test): https://github.com/cilium/cilium/pull/6374

Optimizations around policy calculation and associated refactoring:
* https://github.com/cilium/cilium/pull/6432
* https://github.com/cilium/cilium/pull/6404
* https://github.com/cilium/cilium/pull/6400
*

[2019-02-08 17:34] ianvernon commented on #5876
There is a GitHub project tracking more work in optimizing policy calculation in v1.5: https://github.com/cilium/cilium/projects/23

[2019-02-08 17:34] ianvernon commented on #5876
Closing this accordingly ; work has been completed for v1.4 surrounding this.

[2019-02-08 17:34] #5876 closed, assigned to ianvernon

[2019-02-08 17:35] ianvernon commented on #5526
Removing this from v1.4 since this wasn't completed in v1.4.

[2019-02-08 17:36] ianvernon commented on #5438
Removing this from v1.4 since this wasn't completed in v1.4.

[2019-02-08 17:50] #6954 closed, assigned to brb

[2019-02-08 18:54] ianvernon commented on #5365
Moving this to be part of the Policy Engine Improvements project temporarily for tracking purposes.

[2019-02-08 18:58] ianvernon commented on #6100
https://github.com/cilium/cilium/pull/6125 did the first step .

[2019-02-08 19:10] ianvernon opened #7005 "Jenkins: BootVMs stage times out periodically"
Triage certain cases of this to reduce build failure noise in the CI.

[2019-02-08 20:00] deesee04 commented on #6967
reporting the same error when passing `--sockops-enable`. using the manifests from the latest v1.4 documentation for a kubernetes 1.13 cluster.

[code]
editing the ds:

[code]

cilium pod logs:
[code]
agent, distribution and kubernetes info:
[code]

[2019-02-08 22:25] ianvernon opened #7006 "operator: cilium-operator terminates when Kubernetes libraries try to log a non-existent directory"
The following error caused the cilium-operator to exit:
[code]

Related-issues from other consumers of the client-go library have hit this too: https://github.com/containous/traefik/pull/1817

We should implement a similar fix in the cilium-operator.

[2019-02-08 23:17] amshinde commented on #6966
@aanm I tried this with k8s 1.12 as well as 1.13 with cri-o. I can no longer see this issue :)
Was able to reproduce this a couple of days back..maybe there was an update pushed to the image?
Closing this.

[2019-02-08 23:17] #6966 closed, assigned to nobody

[2019-02-09 09:49] aanm opened #7008 "Cilium does not ignore namespace labels even if they are set with labels option"
example:
[code]

[2019-02-11 11:35] tgraf opened #7022 "Policy import error metric is broken"
The following error is shown in the log:
[code]

but the policy import error metric stays at 0

[2019-02-11 21:01] ianvernon commented on #6947
Is this still a release blocker?

[2019-02-11 21:01] ianvernon commented on #7006
Fixed by #7007

[2019-02-11 23:51] tgraf commented on #6947
No progress on this, removing release-blocker label

[2019-02-12 13:37] tgraf opened #7041 "Replace IPv4 route decrypt rule failed" error="file exists""
Standard deployment, I'm seeing the following error logs:

[code]

[2019-02-12 14:29] #6870 closed, assigned to nobody

[2019-02-12 21:50] ianvernon commented on #7006
Reopening; fix in #7007 was not enough.

The problem with getting this to work gracefully is that the default golang flags library does not play nicely with the pflags library / cobra. As a stop-gap, we can create the `/tmp/` directory within the `cilium-operator` image to satisfy glog, and come up with a better long-term fix to handle how glog interacts with cilium.

[2019-02-13 00:53] amshinde opened #7052 "Error loading BPF object with --sockops-enable feature"
## Bug report

Installed cilium using :
[code]
And then edited the cilium daemonset to add `--sockops-enable` and `--debug` and then added the necessary headers to the cilium image (by bind-mounting from the host to get over this issue:
https://github.com/cilium/cilium/issues/6967)

Cilium logs show this:
[code]

Running the above command manually inside the agent:
[code]

I am using kernel 4.19.1

[2019-02-13 00:55] ianvernon commented on #7052
cc: @jrfastab

[2019-02-13 01:04] tgraf opened #7053 "Restore local identities on restart"
The agent currently reallocates local identities on restart. This causes local identities to map to different IDs. This can cause a short series of drops as the ipcache and policy maps cannot be automatically synchronized. Restore of local identities to provide persistent mapping across restarts will relieve the need to change the mapping in the ipcache map.

[2019-02-13 01:26] ianvernon opened #7057 "policy performance: cache result of `GetAsEndpointSelectors` within rule"
When profiling policy calculation, I observed the following:

[code]

A fair amount of time was spent aggregating all fields in the rule as EndpointSelectors to perform matching:

[code]

We could do this at policy import time instead of for each rule, for every policy calculation operation, for each endpoint.

[2019-02-13 07:26] vadorovsky opened #7058 "bpf/.gitignore file is needed to build"
Files specific for git (like .git/, .gitignore) are not (and should be not) included in tarballs. But Cilium requires .gitignore files to create bindata files, which prevents builds from tarballs:

[code]

[2019-02-13 08:54] bjethwan opened #7059 "clustermesh issue: cluster2 rebel-base pods restart and cluster1 is never able to get to cluster2 rebel-base"
## Bug report
I was following the doc on setting up clustermesh using your sample rebel-base service.

cluster2 rebel-base pods restart by themselves (I couldn't find out the reason using "k logs rebel-base-595fb48c9c-5h52h --previous" as it was filled with logs for readiness/liveness probes"

And then cluster1 is never able to get to cluster2 rebel-base service pods.

I figured using "cilium serv

[2019-02-13 09:46] tgraf commented on #7059
@bjethwan We'll need a bit more information than what is visible in the screenshot. Please collect a system dump:
[code]

or follow the clustermesh troubleshooting section and report where things are off:
http://docs.cilium.io/en/v1.4/gettingstarted/clustermesh/#troubleshooting

[2019-02-13 14:39] bjethwan opened #7061 "clustermesh issue: io.cilium/global-service=true is not working for an existing service"
## Bug report
Here's what I did
1. I took your clustermesh/rebel-base example and downloaded your cluster1.yml and cluster2.yml.
2. Removed the "io.cilium/global-service=true" from the rebel-base service.
3. Renamed rebel-base to bipin-base as I was having your original service running to test the environment.

alias kl='kubectl config get-contexts'
alias ka='kubectl config use-context a.xxxxxxxxx

[2019-02-13 15:03] bjethwan commented on #7059
@tgraf
I destroyed both the clusters, I use kops/aws and destroy the cluster if I am struck.
I can try reproducing it again.
Can you tell me how to make the liveness probe fail for this pod?
As deleting the rebel-base pods won't help.

[2019-02-13 15:43] aanm opened #7064 "CT list does not print source IP"
@joestringer it's probably because the DumpEntries is casting to `CtKey` and not `CtGlobalKey`

https://github.com/cilium/cilium/blob/bc911162fb7bc62dd718350caa06049f7b85e5fe/pkg/maps/ctmap/ctmap.go#L184-L201

Command is `cilium bpf ct list global`

[2019-02-13 16:23] tgraf commented on #7059
We'll need either a system dump or the output of the commands in the troubleshooting guide to make any progress in looking into this. It is likely that something went wrong with the cluster mesh setup in general but it's hard to say without any log files.

Cilium does not influence any liveness probes. The pod IPs are removed from the Endpoints structure as the pods get deleted. The Kubernetes api

[2019-02-13 16:51] bjethwan commented on #7059
@tgraf
I didn't do anything fancy here, just made your rebel-base example work, took a long 2hr break, and came back and found the rebel-base pods in cluster2 had restarted and the pod IPs had changed, I should have taken the logs using --previous, but I missed.  And cause the pod IPs changed for pod restart (not re-scheduler), your example had broken. So if you like you can close this till I run

[2019-02-13 18:31] joestringer opened #7066 "Need to clean stale ipvlan maps"
Ipvlan map equivalent to https://github.com/cilium/cilium/pull/7054

[2019-02-13 18:33] tgraf commented on #7059
Great, thanks.

[2019-02-13 18:33] #7059 closed, assigned to tgraf

[2019-02-13 18:34] #681 closed, assigned to nobody

[2019-02-13 19:32] ianvernon commented on #7006
Update to anyone that his this issue: the issue was that I was trying to configure `glog`, and not `klog`, so the values to configure were not getting configured within the `klog` dependency via `flag.Set`. Explanation here:
https://github.com/cilium/cilium/pull/7050#issuecomment-463324944

Credit to @aanm for the correct fix.

[2019-02-13 20:51] ianvernon opened #7069 "cilium-agent: make sure that klog logs to stderr and not to /tmp"
See
https://github.com/cilium/cilium/pull/7050#issuecomment-463324944

[2019-02-13 21:01] #7066 closed, assigned to nobody

[2019-02-13 22:13] #7006 closed, assigned to ianvernon

[2019-02-14 01:21] amshinde commented on #7052
I looked into this error a bit, and found this: https://do-db2.lkml.org/lkml/2018/4/25/411
Looks like the `incorrect bpf_call opcode`  may be due to the llvm version not supporting bpf function calls.
The docs here https://lwn.net/Articles/741773/ mention that llvm 6.0 is required for bpf function calls.
I havent looked at the code closely, but I suspect the sockmap feature uses function calls.
@j

[2019-02-14 03:56] bjethwan commented on #7061
I faced this again today.
And the diagnostic report generating script is failing too
curl -sLO releases.cilium.io/tools/cluster-diagnosis.zip && python cluster-diagnosis.zip sysdump
INFO collecting kubernetes version info ...
INFO collected kubernetes version info: k8s-version-info-20190214-035358.txt
INFO collecting nodes overview ...
INFO collected nodes overview: nodes-20190214-035359.json
INFO

[2019-02-14 04:01] bjethwan commented on #7061
Then I deleted my bipin-base, wherein I was annotating after the service creation...and used below to use your example...and everything worked fine.

ka
k delete -f k8s-yaml/nginx/cluster1.yml
kb
k delete -f k8s-yaml/nginx/cluster2.yml

ka
k apply -f https://raw.githubusercontent.com/cilium/cilium/HEAD/examples/kubernetes/clustermesh/global-service-example/cluster1.yaml
kb
k apply -f https://raw.g

[2019-02-14 04:29] bjethwan commented on #7061
And guess what....it worked if I delete the svc and re-create it with the said global-service annotation...so that means that global-service registration is happening only at service creation time.

[2019-02-14 06:26] bjethwan opened #7070 "clustermesh issue: io.cilium/global-service: "true" is not working for headless service (with selectors)"
## Bug report
I was trying to run couchbase in one k8s cluster (let's call it a)
And a microservice (accessing that couchbase cluster) in another k8s cluster (let's call it b)
couchbase defines a headless service with selectors.
And two other services directly pointing to the couchbase cluster pods.
I dumped the services from one cluster where the couchbase database is actually running.
And then a

[2019-02-14 12:08] tgraf commented on #7061
I've seen this before. The apiserver simply does not send a Service update notification for an annotation only change. You can work around it by changing another aspect of the service along with the annotation. What Kubernetes version are you using?

[2019-02-14 13:52] sedooe opened #7080 "runtime error: invalid memory address or nil pointer dereference"
## Bug report

**General Information**

- Cilium version `1.3.0`
- Kernel version `Linux gentle-mole 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use `Kubernetes 1.12.2` with `Containerd 1.2.0`

Here is the related logs:

[code]

After this, Cilium pod restarted and some network timeouts started in this node. Our gu

[2019-02-14 17:18] ianvernon opened #7086 "CI: detect when CPU throttling is occurring in a precheck script to run on build machines"
We have had issues with the infrastructure provider used for Cilium CI where sometimes, the CPU clock speed gets throttled to 800 MHz instead of running at the maximum / specified clock speed of  the processor.

For instance, on one of the nodes on which said issue happened:

[code]

compare cpu MHz at `800 Mhz` vs. the processor clock speed under `model name`: `3.70 GHz`.

[code]

This script sho

[2019-02-14 17:54] borkmann opened #7087 "metrics with time-to-complete for BPF datapath"

[2019-02-14 19:01] ianvernon opened #7088 "add updating of vendor-ed dependencies to release checklist"
After a minor / major release of Cilium, we need to make sure that one of the first things we do is to update the vendor-ed dependencies, a-la https://github.com/cilium/cilium/pull/7023 . This should be in the form of a post-release checklist.

[2019-02-14 19:36] ianvernon opened #7089 "CI: update k8s Jenkinsfile to separate provisioning of VMs from testing stages"
Similar to how is done in `ginkgo.Jenkinsfile`.

[2019-02-14 19:41] tgraf commented on #5588
We are no longer seeing this

[2019-02-14 19:41] #5588 closed, assigned to nobody

[2019-02-14 19:43] tgraf commented on #6686
Fixed

[2019-02-14 19:43] #6686 closed, assigned to nobody

[2019-02-15 09:11] borkmann opened #7097 "cilium-envoy: statically link against glibc"
Been trying to copy the cilium-envoy binary out of the container image for testing on Ubuntu 16.04, but it refuses to run as Ubuntu 16.04 does not have glibc 2.27. Would be nice to have this statically linked for the image itself. /cc @jrajahalme @aanm

[2019-02-15 14:51] aanm commented on #7008
I was able to use the filter `--labels` correctly, setting the kube-system with 2 labels, `foo=bar` and `hello=world`

[code]

then I've started cilium with `--labels=!io.cilium.k8s.namespace.labels.foo` to ignore all namespace labels that start with `foo` which results in the following endpoint:
[code]

After restarting cilium-agent with `--labels=!io.cilium.k8s.namespace.labels`, to ignore all n

[2019-02-15 14:55] aanm commented on #6603
@tgraf did this make it to the docs?

[2019-02-15 14:56] #6696 closed, assigned to aanm

[2019-02-15 15:50] asauber commented on #7008
@aanm Thanks! I'll try this.

[2019-02-15 15:54] nebril commented on #7080
I was unable to reproduce it at all, the line that panicked is here:
https://github.com/cilium/cilium/blob/v1.3.2/pkg/endpoint/metrics.go#L123

[code]
I suspect that between lines 122 and 123 GC occurred and caused `epPolicyStatus` underlying byte slice to be freed (since `sync.Map` stores the data in `unsafe.Pointer`). Strings created from unsafe pointers use the same underlying byte slice (proof

[2019-02-15 16:45] aanm opened #7105 "CI: K8sFQDNTest Restart Cilium validate that FQDN is still working"
[code]

[38ca2f89_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip](https://github.com/cilium/cilium/files/2870014/38ca2f89_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip)

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9927/testReport/junit/k8s-1/8/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2019-02-15 18:20] #7058 closed, assigned to vadorovsky

[2019-02-15 18:41] brb opened #7106 "lb: Avoid creating duplicate backend entries"
Currently, the loadbalancer service maps can contain duplicate backend entries (1) to prevent from breaking existing connections when the backend entries configuration changes. This can lead to an unexpected growth (2) of the service maps in scale-up/scale-down scenarios.

To keep the existing behavior of non-breaking existing connection, we can introduce additional map to store backend entries wh

[2019-02-15 20:02] aanm commented on #7080
@nebril that makes total sense.

A google search returns this result :D https://github.com/cilium/cilium/pull/5621#issuecomment-423976222

Also, it seems the map doesn't need to be initialized
[code]

@eloycoto it seems in update we call the `endpointPolicyStatus.UpdateMetrics()` but not on delete. Is this a bug?

https://github.com/cilium/cilium/blob/fc1bac1f79bdabe77452f2c8e0793a0e2255e2ea/pkg/e

[2019-02-15 20:44] joestringer opened #7109 "FQDN policy ineffective if there is no L7 DNS rule"
With a policy like this, and the default YAMLs in Cilium v1.4, FQDN allow policy is ineffective:

[code]

Currently this will show up as "Policy denied" in the `cilium monitor` output, with the destination identity as "2", when the destination should be governed by FQDN policy.

This is because it does not enable the proxy via L7 DNS rule, and the poller is disabled by default.

It would be good t

[2019-02-15 20:52] aspsk commented on #6382
@joestringer Still not able to configure an IPv6 cluster (with IPv4 disabled).

Experiment 1. Creating a cluster on two nodes. The first node is master, the second node is
worker. The master is initialized as follows:
[code]
The worker is initialized as follows:
[code]

After that I am applying the cilium YAML configuration. The configuration is the default https://raw.githubusercontent.com/cilium

[2019-02-15 20:55] aspsk commented on #6382
Experiment 2. Creating a one-node cluster.

Cleanup/re-init the master host as follows:
[code]

Untaint the master node so that I can schedule pods on it:
[code]

Apply cilium:
[code]

It fails with the same error as above. Now I am specifying the `--ipv4-node` parameter and restarting the cilium:
[code]
After this change it is able to start.

However, this is not very useful, as it is only one no

[2019-02-15 21:10] aspsk commented on #6382
@joestringer ah, and I can't re-open it, as it was closed by a maintainer

[2019-02-15 21:13] ianvernon commented on #6382
@aspsk sorry about that, reopened it for you.

[2019-02-15 21:20] aspsk commented on #6382
thanks @ianvernon Tell me if I need to create another ticket instead, something like "Can't create a pure IPv6 cluster"

[2019-02-15 21:56] jimmyjones2 opened #7111 "CIDR-based deny security policies"
## Proposal / RFE

**Is your feature request related to a problem?**
I'd like to restrict all pods in my Kubernetes cluster from accessing sensitive parts of the corporate network (CIDR ranges) without resorting to a hardware firewall.

**Describe the solution you'd like**
A cluster admin can define a set of rules that apply to all pod egress. NetworkPolicy/CiliumNetworkPolicy objects controlled b

[2019-02-15 22:34] joestringer commented on #6382
@aspsk yeah, I think that's better handled as a separate issue.

Regarding this issue, it would be good if you can keep ipv4 and ipv6 enabled then validate whether the cluster routes show up in the way that you intended. If so, we can close this issue again. Otherwise we'll need to take another look.

[2019-02-18 08:58] tgraf commented on #7008
We should try and detect this automatically and make it the default. It's impossible for users to know this in advance.

[2019-02-18 09:31] brb commented on #6365
[The installation guide](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#tabs-pod-install-3) got fixed by https://github.com/kubernetes/website/commit/0a5ff4417d89e742b906ffcd5909921259b9cf31.

[2019-02-18 09:31] #6365 closed, assigned to tgraf

[2019-02-18 12:26] aspsk commented on #6382
@joestringer I've tested that IPv6 routes are created when IPv4 and IPv6 are both enabled, so sorry for bothering you.

Summary: my case didn't work because I was trying to avoid using IPv4, and it failed because on the moment cilium doesn't support encapsulation over IPv6.

[2019-02-18 14:49] sedooe commented on #7080
@aanm You're right, it was my bad to write v1.3.2, we downgraded the v1.3.0 couple of days ago. Will edit it to not confuse others.

[2019-02-18 15:55] raybejjani commented on #7109
1.4 introduce the `--tofqdns-pre-cache` option that allows a manual insert of fqdn data. It isn't really . relevant here, though. When trying to find ways to communicate this sort of problem I always end up stuck. Adding or removing a policy is a user-synchronous operation. `toFQDNs` rules entering an odd state is async.
Specifically for this case, we would need to account for a different policy i

[2019-02-18 15:59] tgraf commented on #7109
I'm not sure whether validation is simple because if users managed a series of YAML files. A user may import the toFQDNs before the DNS policy and it shouldn't really result in errors.

[2019-02-18 16:08] tgraf opened #7120 "Lack of ipcache synchronization during endpoint restore"
Several operations can cause the IP to identity mapping to change on agent restore:
 - CIDR/FQDN local identity allocation maps to a different numeric identity
 - Global identity was reused for different set of pods
 - Change in identity association of host IPs, unmanaged endpoints, ...

The endpoint restore code will ensure that local endpoints can keep their existing identity if possible. The en

[2019-02-18 17:20] jrfastab opened #7121 "cilium: transparent encryption: k8s watcher events missing cilium internal IPs"
K8s watcher events do not include internal IPs now which are required to establish encryption/decryption rules. Without this rules will only be established once the kvstore propagates the node updates throughout all nodes. This is problematic because if the kvstore is in a Cilium managed endpoint we can get into a case where encryption happens only on a local node but not remote and kvstore never

[2019-02-18 17:23] jrfastab opened #7122 "cilium: transparent encryption, kube-proxy services may use incorrect sport"
With encryption enabled kube-proxy services may hit a case where an icmp unreachable error happens,
[code]
Currently iptables rules to match on encryption/decryption mark is only handled in Cilium iptables chains. However, this doesn't prevent us from hitting a kube-service iptables entry incorrectly. The fix is to move mark matching + ACCEPT action rules out of Cilium chains and it to main tables

[2019-02-18 17:45] ianvernon commented on #7105
This one has been occurring a lot in the CI:

Builds that were kicked off from merged PRs:

* [5920](https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5920/)
* [5930](https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5930/)
* [5937](https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5937/)

Builds that run every 2 hours against master:

* [2375](https://jenkins.cilium.io/job/cilium-g

[2019-02-18 17:47] ianvernon commented on #7105
Marked this as high priority since we are hitting this frequently in the CI, and this will impact developer productivity / agility to merging.

[2019-02-18 18:24] joestringer commented on #6382
@aspsk no worries, thanks for validating the fix. By all means feel welcome to file another issue on specific ipv4/ipv6 configurations you're looking for and we can provide feedback on those.

Closing; fixed.

[2019-02-18 18:24] #6382 closed, assigned to joestringer

[2019-02-18 18:54] joestringer opened #7123 "Improve static data load support"
The current approach for templatizing BPF programs [ #7095  ] uses these fun tricks to convince LLVM to tag global data symbols and reserve space in the .data section:

https://github.com/cilium/cilium/pull/7095/files#diff-fb0192c65751d297ed36049608a36c89

These can then be interpreted in the following iproute2 changes to load the data we want:

https://github.com/cilium/iproute2/commit/16ed3bd88c

[2019-02-18 19:24] ianvernon commented on #7105
@eloycoto said in the Cilium testing Slack channel that he has added debug logs to a PR which will help provide the root cause for this issue.

[2019-02-18 19:31] ianvernon opened #7124 "CI: K8sServicesTest Checks service across nodes with L7 policy Tests NodePort with L7 Policy"
Output:
[code]
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2380/testReport/junit/k8s-1/13/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

Logs:
[1f4cb98d_K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy.zip](https://github.com/cilium/cilium/files/2877145/1f4cb98d_K8sServicesTest_Checks_se

[2019-02-18 19:32] ianvernon opened #7125 "CI: K8sServicesTest Checks service across nodes Tests NodePort"
Output:

[code]

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2381/testReport/junit/k8s-1/8/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

Logs:
[ecef3454_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2877149/ecef3454_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2019-02-18 19:34] ianvernon opened #7126 "CI: RuntimeFQDNPolicies Implements matchPattern: "*""
Output:

[code]

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2384/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Implements_matchPattern_____/

Looks like no logs were able to be generated, unfortunately.

[2019-02-18 19:42] ianvernon opened #7127 "CI: cilium-etcd pod stuck in `Init` state caused test failures"
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2390/execution/node/90/log/?consoleFull

The `K8sPolicyTest: Tests all kind of Kubernetes policies` test failed. The test that ran *before* the failed tests was the upgrade test - this may be useful in finding a reproducer for this problem.

`K8sPolicyTest` failure output:

[code]

All ZIP files containing logs:

[00ee3e80_K8s

[2019-02-18 19:44] ianvernon commented on #7126
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2391/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Implements_matchPattern_____/

Output:

[code]

No logs were generated for this.

[2019-02-18 19:45] ianvernon commented on #7125
Another failure:

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2391/testReport/junit/k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

Output:
[code]

Logs:
[5ceabf58_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2877191/5ceabf58_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2019-02-18 19:47] ianvernon opened #7128 "CI: K8sDatapathConfig IPv4Only Check connectivity with IPv6 disabled"
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2392/testReport/junit/k8s-1/8/K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled/

Output:
[code]

Logs:
[b7ce6fc8_K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled.zip](https://github.com/cilium/cilium/files/2877198/b7ce6fc8_K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled.zip)

[2019-02-18 19:49] ianvernon opened #7129 "CI: RuntimeMonitorTest With Sample Containers multiple monitors"
This appears to be a one-off, most likely a timing issue.

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2389/testReport/junit/(root)/runtime/RuntimeMonitorTest_With_Sample_Containers_multiple_monitors/

Output:

[code]

Logs:
[40044bf1_RuntimeMonitorTest_With_Sample_Containers_multiple_monitors.zip](https://github.com/cilium/cilium/files/2877204/40044bf1_RuntimeMonitorTe

[2019-02-18 19:54] ianvernon opened #7130 "CI: entire FQDN test suite failed"
The entire FQDN test suite failed, including:

* RuntimeFQDNPolicies Enforces ToFQDNs policy
* RuntimeFQDNPolicies Validate dns-proxy monitor information

This may be an issue that occurred in the provisioning of the test.

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5921/

Output:

[code]

Logs:

[0de3f77f_RuntimeFQDNPolicies_Enforces_ToFQDNs_policy.zip](https://github.com/cilium

[2019-02-18 19:59] ianvernon opened #7131 "CI: cilium could not connect to any kvstore endpoints during Istio test"
Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5923/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

Output:

[code]

Logs:
[0d00cc10_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2877225/0d00cc10_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_

[2019-02-18 20:00] ianvernon commented on #7131
In the same CI run, etcd-operator was not in a good state:

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5923/testReport/junit/k8s-1/13/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Output:

[code]

Logs:
[1fe36b39_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2877230/1fe36b39_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolic

[2019-02-18 20:01] ianvernon commented on #7130
Similar failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5917/

[2019-02-18 20:12] ianvernon opened #7132 "Unit tests have a bunch of noisy, but harmless, errors / warnings"
Various errors are observed in the unit test framework:

[code]

[code]

We should check for `DryMode` being enabled in these cases.

[2019-02-18 20:28] #7080 closed, assigned to nebril

[2019-02-18 21:50] joestringer opened #7135 "cilium-runtime images should be regularly updated"
Quay.io reports container image vulnerabilities in the `cilium-runtime` image. It appears that most of them require local access, for example the ability to place crafted strings into logs, or a crafted ELF file to be passed into `objdump`. While these do not appear immediately alarming, however we should have a procedure in place to update cilium-runtime images on demand when necessary. The piece

[2019-02-18 21:56] briantopping opened #7136 "Transparent TLS termination"
## Proposal / RFE
I am reviewing a use case that may have some reflective value. A cluster that I am building has internal and external services with ingress for external services. This is standard Kubernetes networking model. For the external services that already use ingress, adding TLS to the endpoints is straightforward and the certificate management is centralized.  Internal services are acce

[2019-02-18 22:19] ianvernon commented on #5929
This hasn't been hit in some time ; closing.

[2019-02-18 22:19] #5929 closed, assigned to nobody

[2019-02-19 09:19] brb opened #7137 "CI: provisioning of k8s failed due to unable to lock directory /var/lib/apt/lists/"
Observed: https://jenkins.cilium.io/job/cilium-master-Nightly/105/testReport/k8s-1/12/NightlyExamples_Upgrade_test_Update_Cilium_from_v1_2_to_master/

[code]

All the subsequent tests from the same CI build failed with empty errors due to k8s being not provisioned.

[223afe0b_NightlyExamples_Upgrade_test_Update_Cilium_from_v1.2_to_master.zip](https://github.com/cilium/cilium/files/2879274/223afe0b

[2019-02-19 09:31] brb commented on #7105
A few more:

- https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2398/testReport/junit/k8s-1/13/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/
- https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5942/testReport/junit/k8s-1/13/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2019-02-19 09:36] eloycoto commented on #7105
Added this new PR to be able to track what looks like a race on restart:

https://github.com/cilium/cilium/pull/7138/files

[2019-02-19 09:40] brb commented on #5867
Happened again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5940/testReport/junit/k8s-1/13/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[8f26a217_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2879352/8f26a217_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[code]

From `pod-default-kafka-broker-55f8f488d-bbgzf-kafka.lo

[2019-02-19 09:42] bjethwan commented on #7061
@tgraf
I was using kubernetes 1.11.6.
Can we expect kubernetes fixing this issue in future?
Thanks for suggesting the workaround. I will sure give it a try.

[2019-02-19 09:42] brb commented on #7137
One more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5941/execution/node/87/log/

[2019-02-19 09:43] bjethwan commented on #7061
@aanm
How about documenting this so that, others don't break their head over this issue?

[2019-02-19 16:08] jrfastab commented on #7122
https://github.com/cilium/cilium/pull/7146

[2019-02-19 16:09] jrfastab commented on #7121
https://github.com/cilium/cilium/pull/7146

[2019-02-19 18:59] #7120 closed, assigned to tgraf

[2019-02-19 19:39] joestringer opened #7150 "IPv6 LB handling has no special case for loopback LB"
In the IPv4 local loadbalancing code, we have this code to handle the case where a pod attempts to reach out to a service which is backed by its own IP (see the `DISABLE_LOOPBACK_IP` section):

https://github.com/cilium/cilium/blob/dbb89a1d594d12c0880264ee74cb29df5b9a9afd/bpf/lib/lb.h#L767-L795

However, this case is missing from the IPv6 local loadbalancing case:

https://github.com/cilium/cilium

[2019-02-19 19:40] joestringer commented on #7150
Is this expected to be handled by some other mechanism, or does Linux not consider this as martian source?

[2019-02-19 20:27] ianvernon commented on #7105
Another failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5950/

[2019-02-20 00:23] ianvernon opened #7154 "contrib: uploadrev script fails due to `cilium-docker` not being present in `cilium` image"
[code]

[2019-02-20 08:48] tgraf opened #7156 "Prevent global CIDR identity delete events to overwrite local identities"
kvstore delete events covering global CIDR identities of Cilium 1.2 can currently overwrite and delete local CIDR identities in the ipcache. This can lead to non-recoverable situations after an upgrade as the delete event will remove an ipcache entry. The only recovery is to restart the cilium agent again to re-create the local identity.

[2019-02-20 09:37] brb commented on #7105
One more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5961/testReport/junit/k8s-1/13/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2019-02-20 09:42] brb opened #7158 "CI: K8sPolicyTest: Namespaces policies Kubernetes Network Policy by namespace selector"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5961/testReport/junit/k8s-1/13/K8sPolicyTest_Namespaces_policies_Kubernetes_Network_Policy_by_namespace_selector/

[code]
[d5b6990e_K8sPolicyTest_Namespaces_policies_Kubernetes_Network_Policy_by_namespace_selector.zip](https://github.com/cilium/cilium/files/2883953/d5b6990e_K8sPolicyTest_Namespaces_policies_Kubernetes_Network_Policy_by_namespa

[2019-02-20 09:48] brb commented on #6059
One more found JoinEP due to shutdown:

[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5958/testReport/junit/(root)/runtime/RuntimeKVStoreTest_Consul_KVStore/

[2019-02-20 09:51] brb commented on #6059
And more:

[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5953/testReport/junit/(root)/runtime/RuntimePolicyImportTests_Invalid_Policies/

[2019-02-20 16:27] brb commented on #7130
One more: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2407/

[1ab33e7b_RuntimeFQDNPolicies_Roundrobin_DNS.zip](https://github.com/cilium/cilium/files/2885483/1ab33e7b_RuntimeFQDNPolicies_Roundrobin_DNS.zip)
[2ed46c3c_RuntimeFQDNPolicies_Validate_dns-proxy_monitor_information.zip](https://github.com/cilium/cilium/files/2885484/2ed46c3c_RuntimeFQDNPolicies_Validate_dns-proxy_mo

[2019-02-20 16:58] ianvernon commented on #6040
1.4.0 has been released: https://github.com/cilium/cilium/releases/tag/v1.4.0 , closing this.

[2019-02-20 16:58] #6040 closed, assigned to ianvernon

[2019-02-20 17:01] ianvernon opened #7164 "1.5 Release"
* 1.5 Project https://github.com/cilium/cilium/projects/17

## Release Dates

* Feature freeze: 3/15/19

No release dates were documented as part of this.

## Release Checklist
- [x] Planning
- [x] Development Phase
- [x] Feature Freeze
- [x] Feature Exception Freeze
- [x] Bugfix Freeze
- [x] Bugfix Exception Freeze
- [x] Branch off `v1.5`
- [x] Final Release
- [x] Upgrade & downgrade instructions

[2019-02-20 19:27] joestringer commented on #6059
Are these latest failures just that we are reporting a warning and failing if there's warnings in the log? Maybe the log just needs to be a little more smart during shutdown.

[2019-02-20 21:49] ianvernon opened #7169 "Istio GSG fails in final step with Kafka SchemaException"
Running [the Istio GSG for Cilium v1.3.3](https://docs.cilium.io/en/v1.3/gettingstarted/istio/) succeeds up until the very last step, specifically:

Expected behavior:
[code]

Output:
[code]

[2019-02-20 21:52] ianvernon commented on #6591
Hi @vishvananda ! We just released [Cilium v1.3.3](https://github.com/cilium/cilium/releases/tag/v1.3.3), which contains the fixes to get Istio running correctly. These fixes are also in the latest release, v1.4. I found one issue related to Kafka when running [the getting started guide for `v1.3.3`](https://docs.cilium.io/en/v1.3/gettingstarted/istio/), which is being tracked here https://github.

[2019-02-20 22:22] ianvernon commented on #7169
Same issue occurs using Istio GSG with v1.4.1 of Cilium.

[2019-02-21 00:09] amshinde commented on #7052
cc @mcastelino

[2019-02-21 00:10] amshinde commented on #6967
cc @mcastelino

[2019-02-21 00:11] amshinde commented on #6966
cc @mcastelino

[2019-02-21 05:05] jrfastab commented on #7122
Backports merged and released in 1.4.1

https://github.com/cilium/cilium/pull/7152

[2019-02-21 05:05] #7122 closed, assigned to jrfastab

[2019-02-21 05:06] jrfastab commented on #7121
Merged and backport done this is in 1.4.1, closing PR.

https://github.com/cilium/cilium/pull/7152

[2019-02-21 05:06] #7121 closed, assigned to jrfastab

[2019-02-21 06:11] jrfastab opened #7172 "cilium: transparent encryption needs enough dbg info to dbg from logs"
Currently debugging transparent encryption with just logs is not very useful. Adding a few key messages to debug output would help.

Scale question: Can we have a dbg message per add node?

[2019-02-21 08:14] brb commented on #7124
One more: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2410/testReport/junit/k8s-1/8/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

[2019-02-21 08:15] brb commented on #7127
One more: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2410/testReport/junit/k8s-1/13/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[2019-02-21 08:19] brb commented on #7105
And more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5968/testReport/junit/k8s-1/13/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2019-02-21 08:22] brb commented on #7158
One more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5970/testReport/junit/k8s-1/13/K8sPolicyTest_Namespaces_policies_Kubernetes_Network_Policy_by_namespace_selector/

[2019-02-21 08:28] brb commented on #7126
One more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5970/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Implements_matchPattern_____/

Some logs:
[RuntimeFQDNPolicies_Implements_matchPattern:_"*".zip](https://github.com/cilium/cilium/files/2888303/RuntimeFQDNPolicies_Implements_matchPattern._.zip)

[2019-02-21 08:32] brb commented on #6059
Yes, that's the case.

Either this, or we should relax the JoinEP check by ignoring ones logged due to termination.

[2019-02-21 08:32] brb commented on #6059
One more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5972/testReport/junit/(root)/runtime/RuntimePolicyEnforcement_Policy_Enforcement_Default_Default_values/

[2019-02-21 08:36] brb commented on #7125
One more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5973/testReport/junit/k8s-1/8/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

[2019-02-21 08:36] brb commented on #7126
One more: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5973/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Implements_matchPattern_____/

[2019-02-21 09:07] #7154 closed, assigned to ianvernon

[2019-02-21 16:54] UnwashedMeme commented on #6632
I've seen this a couple times, most recently a few minutes ago.  Running cilium 1.3.2 on kubernetes 1.13.3.  I can't think of anything more to add that might help clarify.

[2019-02-21 18:34] ianvernon commented on #7105
@eloycoto can you please keep this issue updated w.r.t. what you did to debug this / what you think the cause is? it's helpful to have the status of what the timeline on the fix is, what the RCA is for future developers to debug, etc.

[2019-02-21 18:37] ianvernon commented on #6778
Failure in a PR: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10099/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

Output:

[code]

Logs:

[6121bf8b_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2890613/6121bf8b_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bo

[2019-02-21 18:41] ianvernon opened #7176 "policy import: see if we can validate that LabelSelectors can be constructed as Selectors within policy at import time"
See https://github.com/cilium/cilium/pull/7161/files#diff-b0326042630a4605955e89e1d50c385eR162 .

We should ideally be able to reject the policy by ensuring selectors can be translated correctly at import time and return this via the API.

[2019-02-21 20:31] ianvernon opened #7179 "policy: cache what identities label selectors match"
Matching is costly; cache this within the EndpointSelector within Cilium (or some other construct).

[2019-02-21 21:00] joestringer commented on #6632
@UnwashedMeme are you in a position to upgrade to a v1.4.x release? It appears that this was fixed there.

[2019-02-21 23:05] jrfastab commented on #7041
Closing issue resolved.

[2019-02-21 23:05] #7041 closed, assigned to jrfastab

[2019-02-21 23:06] jrfastab commented on #6823
https://github.com/cilium/cilium/pull/7175

[2019-02-22 00:40] ianvernon opened #7182 "add configuration option to disable performant policy calculation"
In case there are issues calculating policy correctly with to-be-added policy calculation enhancements, add configuration flag to not use cached fields, etc.

[2019-02-22 10:00] brb commented on #6059
One more: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2417/

[2019-02-22 10:02] brb commented on #6778
One more: https://jenkins.cilium.io/job/cilium-master-K8s-all/163/testReport/junit/k8s-1/10/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[2019-02-22 10:09] brb opened #7187 "CI: Nightly: Update Cilium from v1.2 to master"
Observed in https://jenkins.cilium.io/job/cilium-master-Nightly/108/. Unfortunately, no dumps are available, only this log snippet:

[code]

[2019-02-22 10:10] aanm commented on #7187
@brb v1.2 is EOF so we no longer support comparability on upgrades to master. This can easily be fixed by removing the combination of v1.2 -> master in the test upgrade for nightly builds.

[2019-02-22 10:11] brb opened #7188 "CI: Nightly: GRPC example"
Observed in https://jenkins.cilium.io/job/cilium-master-Nightly/108/. No dumps are available, just log snippet:

[code]

[2019-02-22 10:16] brb commented on #7187
@aanm Thanks, I've filed a PR ^^ for this.

[2019-02-22 10:19] brb commented on #7126
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5976/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Implements_matchPattern_____/

[2019-02-22 10:21] brb commented on #7105
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5974/testReport/junit/k8s-1/8/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2019-02-22 10:22] brb commented on #6778
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5974/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[2019-02-22 10:23] brb commented on #7105
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5981/

[2019-02-22 10:25] brb opened #7190 "CI: RuntimeFQDNPolicies Roundrobin DNS"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5980/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Roundrobin_DNS/

[code]

[d4cf4d22_RuntimeFQDNPolicies_Roundrobin_DNS.zip](https://github.com/cilium/cilium/files/2893497/d4cf4d22_RuntimeFQDNPolicies_Roundrobin_DNS.zip)

[2019-02-22 10:31] eloycoto commented on #7105
@ianvernon is a race on PolicyAdd AFAIK, I made a PR but I close due does not fix all the issues. Open a new draft PR https://github.com/cilium/cilium/pull/7183 let's see if I can get it merged in the following days.

[2019-02-22 14:18] #7187 closed, assigned to nobody

[2019-02-22 16:39] UnwashedMeme commented on #6632
I will try it soon.

[2019-02-22 18:20] eloycoto commented on #7105
I'll try to explain this a little bit, I had long discussion with @raybejjani around this.

The main issue is that in the RuleGen we keep a copy of the api.Rules this is
ok, but to update a Policy we need to call to PolicyAdd with this rules. The
main problem, this system is feeding also by Kubernetes CNP/KNP so the rule can
be updated, but the FQDN can overwrite the policy if the CNP does not fin

[2019-02-22 18:39] #6559 closed, assigned to brb

[2019-02-22 22:51] tgraf commented on #7053
Fixed via #7120

[2019-02-22 22:51] #7053 closed, assigned to tgraf

[2019-02-22 23:04] #5033 closed, assigned to tgraf

[2019-02-22 23:10] tgraf commented on #4234
We have not seen this since

[2019-02-22 23:10] #4234 closed, assigned to tgraf

[2019-02-22 23:10] tgraf commented on #5276
Implemented in 1.4

[2019-02-22 23:10] #5276 closed, assigned to tgraf

[2019-02-22 23:12] tgraf commented on #6147
Dup of #5645

[2019-02-22 23:12] #6147 closed, assigned to tgraf

[2019-02-22 23:14] tgraf commented on #1998
Implemented since 1.3

[2019-02-22 23:14] #1998 closed, assigned to tgraf

[2019-02-22 23:15] tgraf commented on #1851
Superseded by quest to scale project

[2019-02-22 23:15] #1851 closed, assigned to tgraf

[2019-02-22 23:15] #1948 closed, assigned to tgraf

[2019-02-22 23:56] tgraf commented on #4893
Implemented in
[code]

[2019-02-22 23:56] #4893 closed, assigned to nobody

[2019-02-22 23:58] tgraf commented on #4129
@joestringer Anything left here?

[2019-02-23 00:00] joestringer commented on #7064
@aanm Ah, `CtKey` here is an interface but we use `key.ToHost().Dump()`, and `ToHost()` is only implemented in `CtKey[46]` (which is embedded in `CtKey[46]Global`, so it's implicitly converted into the local keys version even if you call it against a global key. I'll fix it.

[2019-02-23 01:18] joestringer commented on #4129
@tgraf yes, this is still disallowed for ingress L3+L4 at the API, and entirely untested.

[2019-02-23 09:38] tgraf opened #7201 "Audit Info messages"
* [x] `cilium-health/launch/endpoint.go:		log.WithField("netns", netns).WithField("command", cmd).Info("Adding route")` (#7198)
* [x] `cilium-health/launch/endpoint.go:		scopedLog.Info("Failed to kill previous cilium-health instance")` (#7198)
* [x] `cilium-health/launch/endpoint.go:				scopedLog.WithError(err).Info("Couldn't delete cilium-health device")` (#7198)
* [x] `cilium-health/launch/endpo

[2019-02-25 09:26] #7064 closed, assigned to joestringer

[2019-02-25 10:05] brb commented on #7105
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2422/

[2019-02-25 10:06] brb commented on #7126
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2424/

[2019-02-25 10:17] brb commented on #6056
Reopening, as the issue got encountered again:

[code]

Unfortunately, the CI build failed to attach the logs.

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2427/

[2019-02-25 10:22] brb commented on #7126
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2431

[2019-02-25 10:24] brb commented on #7105
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2432/testReport/junit/k8s-1/13/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2019-02-25 10:26] brb commented on #7190
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/6020/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Roundrobin_DNS/

[2019-02-25 10:26] brb commented on #7124
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/6017/testReport/junit/k8s-1/8/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

[2019-02-25 10:28] brb commented on #7125
https://jenkins.cilium.io/job/cilium-master-K8s-all/166/testReport/junit/k8s-1/9/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

[2019-02-25 10:34] tgraf commented on #5650
We are no longer seeing this

[2019-02-25 10:34] #5650 closed, assigned to nebril

[2019-02-25 10:35] tgraf commented on #6100
@ianvernon completed the release script modification in #7168

[2019-02-25 10:35] #6100 closed, assigned to nebril

[2019-02-25 10:36] tgraf commented on #6330
@raybejjani Is this still needed in the context of the DNS proxy?

[2019-02-25 10:38] tgraf commented on #6056
Likely related to https://github.com/cilium/cilium/issues/5769

[2019-02-25 10:46] raybejjani commented on #6330
This was originally triggered via a `qname '0x40' - RFC 2673 unsupported yet` from gopacket running on monitor sniffed DNS requests (but possibly any old traffic in monitor).
The new proxy code doesn't show the same errors and RFC 2673 was obsoleted by EDNS so I think we are good not dealing with this.

[2019-02-25 10:46] #6330 closed, assigned to raybejjani, nebril

[2019-02-25 14:34] jrfastab commented on #7125
I'm also hitting this,

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10184/testReport/junit/k8s-1/13/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/

[2019-02-25 14:39] jrfastab opened #7205 "CI: travis build agent panic"
[code]

[2019-02-25 14:40] jrfastab commented on #7205
https://travis-ci.org/cilium/cilium/builds/498177080?utm_source=github_status&utm_medium=notification

[2019-02-25 17:17] ianvernon commented on #6778
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/6024/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[2019-02-25 17:18] ianvernon commented on #7124
Hit in v1.4 as well:

https://jenkins.cilium.io/view/Cilium-v1.4/job/cilium-v1.4-standard/41/testReport/junit/k8s-1/13/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

[2019-02-25 18:45] joestringer commented on #5367
@aanm any progress on this?

EDIT: Maybe this helps?
https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

[2019-02-25 18:51] #6786 closed, assigned to eloycoto

[2019-02-25 19:07] aanm commented on #5367
@joestringer

https://github.com/golang/go/issues/27271

https://github.com/golang/go/issues/27272

and https://github.com/kubernetes/kubernetes/issues/63607

[2019-02-25 19:56] ianvernon commented on #7201
We can probably ignore `* proxylib/testparsers/*` since it wouldn't be used in an actual Cilium installation in a high-scale environment.

[2019-02-25 19:56] brb commented on #6059
Fixed by #7203.

[2019-02-25 19:56] #6059 closed, assigned to brb

[2019-02-26 00:00] tgraf opened #7209 "Container workload watcher is too aggressive"
The container workload watcher is primarily useful for non k8s setups with libnetwork. It correlates containers with Cilium endpoints. The watcher runs every 30 seconds and spawns go routines to handle the container create events for all running containers. There is a wait group to block the next iteration but it does not properly wait for the handler to return. The handler also performs a request

[2019-02-26 03:19] swift1911 commented on #4159
+1

[2019-02-26 09:27] #4082 closed, assigned to tgraf

[2019-02-26 09:30] eloycoto commented on #7105
New diagram with the issue:

![image](https://user-images.githubusercontent.com/868013/53402152-7798ad80-39b1-11e9-8812-72eaa99ed85e.png)

[code]

[2019-02-26 13:26] nebril commented on #6056
Yeah, this is different container image, but we already have it pinned. I will check if it's preloaded in the image.

[2019-02-26 13:32] nebril commented on #6056
The image was moved to Cilium org, but not updated in packer ci build script.

[2019-02-26 16:55] #7022 closed, assigned to vadorovsky

[2019-02-26 19:16] ianvernon opened #7216 "add metrics for RLockAlive / LockAlive errors"
It would be helpful to get visibility into how often said errors occur, as it can provide empirical evidence into potential solutions for removing 'liveness' from endpoint locking.

[2019-02-27 09:17] aanm commented on #7190
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2440/

[2019-02-27 09:18] aanm commented on #7126
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2437/

[2019-02-27 09:36] #5769 closed, assigned to nebril

[2019-02-27 09:36] #6056 closed, assigned to nebril

[2019-02-27 14:16] tgraf opened #7222 "Protect all local keys from kvstore delete events"
Audit all kvstore event handling code and verify that kvstore delete events cannot delete keys that are supposed to be owned locally. Re-create all such keys immediately.

- [x] kvstore/store (nodes, services)
- [x] identities
- [x] ipcache

[2019-02-27 14:17] tgraf opened #7223 "Consistent interval in periodic key re-creation"
The intervals for periodic key recreation range form 30 seconds to 5 minutes.

- [x] Use a common default
  - [x] ipcache
  - [x] kvstore/store (nodes, services)
  - [x] identities
- [x] Add an option to make this configurable so we can adjust based on cluster size

[2019-02-27 14:20] tgraf opened #7224 "Detect kvstore inconsistency and trigger re-creation of state"
Instead of relying on periodic re-creation of keys, find way to detect kvstore inconsistency to trigger re-creation of all local state in the kvstore.

Possible ways to trigger the recreation is to create a special key in the kvstore which all agents watch for that then triggers recreation.

Once this is established, the periodic re-creation interval can be increased to a much larger value and pot

[2019-02-27 17:43] utkuozdemir opened #7225 "Pods get stuck in ContainerCreating status with repeating agent errors: "rlock failed: endpoint is in the process of being removed""
## Bug report

**General Information**

- Cilium version: 1.4.1
- Kernel version: Linux ccp-server-5-11 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use: Kubernetes 1.12.5 - **fresh** 3 master 5 worker cluster initialized via kubeadm
- Deployment script:
[code]

- System dump:
[cilium-sysdump-20190227-173006.zip](htt

[2019-02-27 20:01] utkuozdemir commented on #7225
Update - After discussing and debugging the issue in Slack,
https://cilium.slack.com/archives/C1MATJ5U5/p1551289535072900
we tried passing `--container-runtime=none` to the cilium-agent and it helped as a workaround.
Seems Cilium was hitting the go client QPS limit when too many endpoints are requested at once.

[2019-02-27 20:28] #7209 closed, assigned to tgraf

[2019-02-27 22:04] ianvernon opened #7229 "metrics: add metrics, benchmarks for PolicyAdd, PolicyDelete"
We need visibility into insight about how the `PolicyAdd` function scales.

We have metrics to see how long it takes for a given policy to be 'implemented' for a given endpoint, which was added in
https://github.com/cilium/cilium/pull/7160 .

- [x] Similar to endpoint regeneration, we should have timing / metrics for how long certain operations in `PolicyAdd` take.
- [ ] Benchmark how long it take

[2019-02-27 22:30] ianvernon opened #7231 "investigate whether Cilium doesn't need key-value store to be set up for local identity allocation"
Follow-up to [discussion](https://docs.google.com/document/d/1bxO9gG76DvZTn0s4yRz-2U_s2X58Ea5xh_goabV1YhM/edit#bookmark=id.ssu135ps0q6l) in the biweekly SIG-policy meeting for Cilium . We should not need the key-value store to be up for local identity allocation. This ticket tracks whether or not that is the case, and fix said functionality in Cilium if necessary.

[2019-02-27 22:38] tgraf commented on #7231
@aanm The local identity handling is before we wait for the kvstore to be connected

https://github.com/cilium/cilium/blob/554d6b4d0ef146094af6f47817f70d3852412566/pkg/identity/cache/allocator.go#L184-L194

[2019-02-27 22:41] ianvernon commented on #6386
https://github.com/kubernetes/kubernetes/pull/74290 was merged which purportedly fixes this

[2019-02-28 00:15] ianvernon opened #7233 "uploadrev script doesn't work with newer cilium/docker-plugin images"
The location of the `cilium-docker` binary changed from `/usr/bin/cilium-docker/cilium-docker` to `/usr/bin/cilium-docker` versions >= v1.4.1. Update uploadrev script accordingly.

[2019-02-28 09:28] loverto commented on #6382
1.4.1

[code]

[2019-02-28 15:15] raybejjani opened #7237 "Attempt CEP direct patch first, then fetch/update logic"
Currently, CEPs are updated with the following steps:

- fetch, if not found create the CEP
- update the fetched data
- Push the updated and fetched data back, on error retry

There can only be 1 CEP writer per CEP and this means we can locally cache the most recent k8s object and avoid the fetch step. Combined with PATCH support we can minimise the overhead of updating a CEP considerably.

[2019-02-28 15:17] raybejjani opened #7238 "Move SecID GC into cilium-operator"
Currently, each node runs a garbage collector for security identities. This is an unneeded overhead. We can move the SecID GC (https://github.com/cilium/cilium/blob/master/pkg/kvstore/allocator/allocator.go#L635-L680) to the cilium operator so only one entity is listing and iterating over all identities.

Note: This doesn't mean moving the code out of the allocator package! Only that it is invoked

[2019-02-28 15:19] raybejjani opened #7239 "Add high-level runtime test for delete protection of in-use security identities"
We rely on each agent to recreate identity keys for which they see a delete event, but the identity is still in use (https://github.com/cilium/cilium/blob/master/pkg/kvstore/allocator/allocator.go#L682-L700 via https://github.com/cilium/cilium/blob/master/pkg/kvstore/allocator/cache.go#L197). This is augmented by doing a periodic full resync. We want to remove the resync and so should ensure the d

[2019-02-28 15:20] raybejjani opened #7240 "Add high-level runtime test for delete protection of in-use IPCache entries"
We rely on each agent to recreate ipcache keys for which they see a delete event, but where the ipcache entry is still in use on this node (https://github.com/cilium/cilium/blob/master/pkg/ipcache/kvstore.go#L336-L342). This is augmented by doing a periodic full resync. We want to remove the resync and so should ensure the delete protection is reliable. The implementation details of how this works

[2019-02-28 21:09] joestringer opened #7245 "Alignchecker is missing some structures"
I noticed a few map types that the alignchecker doesn't cover:
* EPPolicyMap
* PolicyMap
* Tunnel

Is there a reason to exclude these?

[2019-02-28 22:44] joestringer commented on #7245
Excluding policy_map was an important omission, because the alignment of these structs is otherwise not validated. For EPPolicyMap / Tunnel, they reuse endpoint_key which is validated so it's only important if in future we adjust the key/value of these map types.

[2019-02-28 23:04] joestringer opened #7248 "Unable to initialize local node: Time out while retrieving initial list of objects from kvstore"
@loverto reports the following with Cilium v1.4.1:

[code]

@loverto can you provide the ConfigMap configuration you have? Did you also disable IPv4?

---
**Update**: Previous v1.4 releases (< v1.4.3) distributed `ConfigMap` examples with the wrong etcd TLS certificate paths. The details can be seen in the [PR #7350](https://github.com/cilium/cilium/pull/7350). For users affected by that issue, co

[2019-02-28 23:05] joestringer commented on #6382
@loverto I've opened a new issue for this as it's a different issue from the one originally reported in the description above: https://github.com/cilium/cilium/issues/7248

Please take a look and if you can, provide additional info. Alternatively we may be able to help out on Slack: http://docs.cilium.io/en/latest/troubleshooting/#slack-assistance .

[2019-03-01 08:44] joestringer opened #7251 "GSG VM is broken"
Reported on Slack:

From `examples/getting-started/`:
[code]

[2019-03-01 09:04] brb commented on #7245
I got a list of structs to check from the old alignchecker, so that's why these were excluded.

[2019-03-01 09:11] #7233 closed, assigned to ianvernon

[2019-03-01 14:49] tgraf opened #7259 "Race condition when workloads updates labels"
A small race condition exists between retrieving labels and calling endpoint.UpdateLabels(). It is possible that another event handler updating the labels may run in between and that update gets lost.

- [ ] Change all event handlers getting notified on label changes to update their own label information on the endpoint via a field that only that event can write to
- [ ] Add a new function to the

[2019-03-01 15:40] brb commented on #7106
RFC: https://docs.google.com/document/d/1zAqme6Blk-brIG6K-Y_1k3lpUB2Ql0xXwpvR0YpCLNs/edit

[2019-03-01 15:46] vadorovsky commented on #7251
Where does the `cilium/docker-plugin` image come from? It doesn't have shell to debug it.

[code]

[2019-03-01 17:36] #7222 closed, assigned to tgraf

[2019-03-01 17:36] #7156 closed, assigned to nobody

[2019-03-01 19:54] aanm opened #7261 "reenable go vet for 1.12"
go vet 1.12 requires changes in the makefile itself to ignore particular directories that don't contain go code, otherwise go vet does not return success.

[2019-03-01 19:57] aanm opened #7262 "reenable golang 1.12 once travis CI has support"

[2019-03-01 20:10] jrajahalme commented on #7126
https://jenkins.cilium.io/view/all/job/cilium-master-standard/1124/

[2019-03-01 20:17] jrajahalme commented on #7105
https://jenkins.cilium.io/job/cilium-master-K8s-all/169/

[2019-03-01 20:20] jrajahalme commented on #7125
https://jenkins.cilium.io/job/cilium-master-K8s-all/166/

[2019-03-01 22:20] joestringer opened #7264 "cilium endpoint regenerate API broken"
At least on master, `cilium endpoint regenerate` no longer works.

[code]

More details:

[code]

[2019-03-01 22:28] joestringer commented on #7264
With Cilium 1.4, it works:
[code]
[code]

[2019-03-01 22:31] joestringer commented on #7264
My high-level guess is that we rebased the swagger library and something changed there which means that the following openapi spec portion is now actually respected and leads to returning status 422 without hitting our API handlers:

https://github.com/cilium/cilium/blob/d0e2577494c8fc77d0bdb25c6c4dab46e7bd5603/api/v1/openapi.yaml#L205-L218

[2019-03-03 10:28] tgraf commented on #7111
@jimmyjones2 If I understand you correctly, you want to install a rule like the following but mark it as impossible to overwrite with another whitelist rule.

[code]

[2019-03-03 11:06] secustor opened #7266 "Cilium 1.4.1 fails because of removed `disable-ipv4` option"
## Bug report

**General Information**

- Cilium version (docker image: `1.4.1`)
- Kernel version (`4.15.0-45-generic`)
- Orchestration system version in use ( K8 `v1.13.3` )
- Link to relevant artifacts (policies, deployments scripts, ...)
   - Pod Events https://gist.github.com/secustor/3fb1e248cbe028d1d2f086569e635974
   - Config Map https://gist.github.com/secustor/6891b05759433a3672a7e7d36640

[2019-03-03 21:19] jimmyjones2 commented on #7111
@tgraf Yes, that would do it. A user could then only further restrict egress, eg. removing access to 20.1.1.1 or something else outside the corporate network.

A little bit like [OpenShift egress firewalls](https://docs.openshift.com/container-platform/3.11/admin_guide/managing_networking.html#admin-guide-limit-pod-access-egress)

[2019-03-04 09:24] #7245 closed, assigned to joestringer

[2019-03-04 12:52] nirmoy opened #7269 "permission denided on https://cilium.link/err-bpf-mount"
## Bug report
cilium warning which points to https://cilium.link/err-bpf-mount is not accessible
`level=warning msg="BPF filesystem is going to be mounted automatically in /run/cilium/bpffs. However, it probably means that Cilium is running inside container and BPFFS is not mounted on the host. for more information, see: https://cilium.link/err-bpf-mount" subsys=bpf`

[2019-03-04 13:20] borkmann opened #7271 "CI, nightly: Cilium image didn't update correctly"
https://jenkins.cilium.io/job/cilium-master-Nightly/115/ failed with:
[code]

[2019-03-04 14:29] vadorovsky opened #7273 "run_probes.sh script failing with `/usr/bin/ld: cannot find -lgcc`"
If you are seeing the following error:

[code]

it means that you need to install gcc (libraries). Although clang is used to compile BPF programs, they need to have gcc libs linked in.

[2019-03-04 14:29] #7273 closed, assigned to nobody

[2019-03-04 19:47] ianvernon commented on #6616
Note: old Cilium images for no longer maintained versions should be removed (e.g., v1.0, v1.1, v1.2) from the `provision/pull-images.sh` script in the `packer-ci-build` repo.

[2019-03-05 01:29] jrfastab opened #7282 "CI: K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity"
## Bug report

Bookinfo failing @ `STEP: Waiting for Bookinfo pods to be ready`

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10419/

[2019-03-05 02:32] danwent opened #7284 "Cilium exits if CRI-O is restarted"
When running Cilium with CRI-O, if I restart Cri-o using "systemctl restart crio", Cilium itself will exit, causing the pod to restart.

"--previous" logs after a cilium pod restart:

[code]

[code]

[2019-03-05 13:09] aanm commented on #7284
@danwent cri-o delete and re-creates the `/var/run/crio/crio.sock` and the cilium k8s descriptor mounts the file `/var/run/crio/crio.sock` directly into the cilium pod. We do not mount the directory containing the file as it contains other data that is potentially sensitive and we want to minimize the amount of files we mount into the cilium pod. Once the file in the host is re-created, cilium pod

[2019-03-05 13:44] aanm opened #7290 "Update grpc to v1.19.0"
Update grpc dependency once https://github.com/grpc/grpc-go/issues/2636 is fixed

[2019-03-05 18:46] joestringer commented on #7251
@mrostecki looks like there's a Dockerfile directly in the repo for it, and it seems like (the binary is) even used in the ginkgo CI tests (...maybe not the image):

[code]

[2019-03-05 18:56] joestringer commented on #7251
If I build and run the image directly, it seems to work:

[code]
[code]

[2019-03-05 19:22] joestringer commented on #7251
OK, it looks like the `cilium/docker-plugin:v1.4.0` is just DOA:

[code]

EDIT: Oh, v1.4.1 is fixed:

[code]

[2019-03-05 19:25] joestringer commented on #7251
Looks like the error I posted above is actually different from the one in the GSG VM run, I think that somehow the `examples/getting-started/docker-compose.yml` is involved as well.

[2019-03-05 19:29] joestringer commented on #7251
Aha, it should just be a version bump. I'll send the fix shortly.

[2019-03-05 19:40] ianvernon commented on #6616
Be sure to update Cilium tags in `examples/getting-started/Vagrantfile` (see #7298 )

[2019-03-05 21:10] ianvernon opened #7300 "`cilium fqdn cache list` output is hard to read"
The output needs some type of tabwriter functionality, as the variable length of DNS names results in the spacing between the output of columns to differ.

[2019-03-05 22:27] aanm commented on #7282
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10464/

[a7e8ba47_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2933388/a7e8ba47_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip)

[2019-03-05 22:53] ianvernon commented on #7179
Assigning to @joestringer .

[2019-03-05 22:56] jrfastab opened #7304 "Transparent Encryption: Key Rotation"
Support changing keys in cluster without disruption.

- [x] implement rolling key updates
- [ ] document key versioning scheme
- [ ] fsnotify hook to update without restart
- [ ] generate key if it is not specified

[2019-03-05 22:57] jrfastab opened #7305 "Transparent Encryption: GKE COS image failing"
The GKE COS image does not work and needs to be debugged.

Same tests running Ubuntu image do however work.

Observations
* cos does not include xfrm_stats :(
* cos has RO on /proc/net

[2019-03-05 22:58] ianvernon commented on #7179
Needed work:

* Update `LabelArray` to contain a string with the hash of the sorted contents of the `LabelArray`. All consumers of `LabelArray` in policy calculation will use this.
* Ensure that Identities have their `LabelArray` hashed and have this hash populated upon creation. Identity structures are immutable after they are created.
* Add a hash into the `EndpointSelector`, similar to `LabelAr

[2019-03-05 23:01] jrfastab opened #7306 "Transparent Encryption: Dogfood"
Get Transparent Encryption running in Dogfood environment.

Remaining Issues
- [x] https://github.com/cilium/cilium/pull/7302
- [x] able to login to dogfood nodes
- [x] schedule slot
- [x] run CI on k8s 1.9

[2019-03-05 23:05] jrfastab opened #7307 "Transparent Encryption: documentation arch spec"
Document arch spec

[2019-03-05 23:06] jrfastab opened #7308 "Transparent Encryption: direct routing support"
support direct routing mode

[2019-03-05 23:24] jrfastab opened #7309 "Transparent Encryption: Support running with bpf_lb"

[2019-03-05 23:26] #7251 closed, assigned to nobody

[2019-03-05 23:30] #7238 closed, assigned to nobody

[2019-03-05 23:44] jrfastab opened #7310 "Transparent Encryption: per endpoint encrypt with strict mode"
Currently we accept non-ESP traffic. Enabling per endpoint would allow policy to determine which endpoints are required to have encryption. Then we can strict drop non-ESP traffic.

[2019-03-06 01:53] #7057 closed, assigned to ianvernon

[2019-03-06 02:16] #7223 closed, assigned to tgraf

[2019-03-06 06:32] joestringer commented on #7269
Thanks for the report @nirmoy , I've left a note in the #sig-docs slack channel to follow up on fixing this link. In the mean time, the correct link is here:

https://docs.cilium.io/en/stable/kubernetes/requirements/#mounted-bpf-filesystem

[2019-03-06 06:40] joestringer commented on #7266
@secustor Thanks for the report.

Did you observe this while following a particular page in the docs? If so, please link the documentation page where the YAMLs were fetched - in particular for the `DaemonSet` YAML.

The latest v1.4.1 DaemonSet YAML files should no longer rely on the `disable-ipv4` variable as it has been deprecated:

http://docs.cilium.io/en/v1.4/install/upgrade/#deprecated-config

[2019-03-06 06:50] joestringer opened #7314 "Unable to initialize local node: the connection is draining"
Cilium "master" (PR #7277 which seems unrelated to failure):

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10501/

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10501/testReport/k8s-1/13/K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation/

Found in `96d0383f_K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation.zip`:

[2019-03-06 06:51] joestringer commented on #7314
~~Seems distinct from #7248, though the failure point in the code appears to be the same.~~

EDIT: Not so sure that they're distinct. If they are the same issue, this affects v1.4.

[2019-03-06 06:58] joestringer commented on #7314
Full log:
[pod-kube-system-cilium-gmkl9-cilium-agent-previous.log](https://github.com/cilium/cilium/files/2934846/pod-kube-system-cilium-gmkl9-cilium-agent-previous.log)

<details>
<summary>Error log with `level=debug` removed (open fold to view)</summary>

2019-03-06T02:16:02.549453109Z level=info msg="  --access-log=''" subsys=daemon
2019-03-06T02:16:02.54961362Z level=info msg="  --agent-labels

[2019-03-06 07:03] joestringer commented on #3949
Closing as this appears stale.

[2019-03-06 07:03] #3949 closed, assigned to eloycoto

[2019-03-06 07:10] joestringer opened #7315 "Extraneous warning log messages while deleting endpoint ("Ignoring error while deleting endpoint")"
Hit in #7277 (~master), but doesn't appear related to the PR:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10501/testReport/junit/k8s-1/13/K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled/

During endpoint deletion, we hit these errors:
[code]

The "no such file or directory" likely just means that we are attempting to remove an element from the map and the eleme

[2019-03-06 07:12] joestringer commented on #7314
Failure showed up as this, but the issue description includes logs from the cilium instance that died during the run:

[code]

(Including for completeness, but this error looks pretty generic)

[2019-03-06 07:16] joestringer commented on #7314
This crash occurred at 2019-03-06T02:17:08.491433846Z , however the full test failure didn't occur for another 6 minutes, at 2019-03-06T02:23:26Z. Test failure may or may not be related.

[2019-03-06 07:25] joestringer commented on #7315
Are we removing these entries from the maps twice?

Or is the endpoint deleted before it gets regenerated?

[2019-03-06 07:28] joestringer commented on #7314
The other node (cilium-wb95r) hits a similar but different error in the -previous log, "transport is closing":

[code]

Earlier, it also hit a "connection is draining" issue with the kvstore:

[code]

[2019-03-06 07:33] joestringer commented on #7314
Sure enough, current etcd logs show it only starting at 2019-03-06T02:17:43.829005Z (about 45 seconds after the previous cilium startups failed)

[2019-03-06 07:36] joestringer commented on #7314
Some TLS cert errors in each etcd pod:

`cilium-etcd-n2mj...`
[code]

`cilium-etcd-c2t7...`
[code]

If I read the timestamps right, this seems like the latter instance is indicating successful connection to the former instance, but the log at the top of this comment was the last message from that etcd pod.

[2019-03-06 07:40] joestringer commented on #7314
Multiple errors in the cilium-gmkl9 log like this:

[code]

[2019-03-06 07:43] joestringer commented on #7315
Observed in the same PR as issue #7314 , and over there we see some sort of kvstore connectivity issue with a lock causing trouble, not sure if cilium is successfully regenerating endpoints at that point so maybe that explains a "delete without an initial regenerate":

<details>
<summary> endpointID=3177 from cilium-gmkl9 in Issue 7314</summary>

2019-03-06T02:17:15.840373647Z level=info msg="New

[2019-03-06 07:44] joestringer commented on #7314
TestDS endpoints are waiting for identity, that explains why the test times out:

#### Endpoint list (cilium-gmkl9 in bugtool)

[code]

[2019-03-06 08:00] joestringer opened #7316 "CI: Remote call on jenkins-fixed-2 failed"
The step "Archive JUnit-formatted test results - (7.7 sec in self)" fails with:

[code]
Found in:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10504/ (https://github.com/cilium/cilium/pull/7095)

[code]
Found in:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10506/ (https://github.com/cilium/cilium/pull/7299)

[2019-03-06 09:23] tgraf opened #7317 "CI: Provide reason why endpoint is not ready"
The following example of a test failure is practically impossible to debug:

[code]

Similar to how 5aba0b63a3efa8a49cdb526e4a6fa8a92b6d1c65 introduced the reason for the pre flight check. Provide the reason for this check as well. The same logic should be used to not repeat the error if it is the same one unless a certain repetition limit is reached to avoid spamming while also allowing to see wh

[2019-03-06 09:43] eloycoto commented on #7317
@tgraf I was working on this for the whole week, some progress made here:
https://github.com/cilium/cilium/pull/7295

[2019-03-06 10:07] eloycoto commented on #7316
Node without space on disk. Already took care.

[2019-03-06 10:07] #7316 closed, assigned to nobody

[2019-03-06 11:17] brb commented on #7269
Thanks for the report, I've fixed the cilium.link.

[2019-03-06 11:17] #7269 closed, assigned to nobody

[2019-03-06 11:20] tgraf commented on #7128
I've hit this as well. All required etcd pods are up:

[code]

[code]

[code]

All of them had some health checks fail, likely during an upgrade test or similar. All of them recovered.

[code]

[code]

[2019-03-06 11:21] tgraf commented on #7128
Both cilium pods have etcd connectivity:
[code]

[code]

[2019-03-06 11:42] tgraf commented on #7128
Workload pods remain in ContainerCreating state in one of the two nodes:
[code]

The other node is fine:
[code]

The failing node struggles to get the endpoints up:
[code]

[2019-03-06 11:55] tgraf commented on #7128
When the endpoint in question is added, the following log message is printed:
[code]

The respective code block is:
[code]

`blocking` is true due to `createEndpoint()` setting it.

This leads to the kvstore being queried before connectivity is reached:
[code]

[2019-03-06 11:58] tgraf commented on #7128
As seen in the entire log of the endpoint in question, the identity is never resolved:
[code]

[2019-03-06 12:02] tgraf commented on #7128
The local kvstore lock was already acquired and required forceful unlocking
[code]

It does not succeed afterwards though

[2019-03-06 12:19] tgraf commented on #7128
etcd connectivity is achieved *before* the endpoint is created:
[code]

The fact that the local kvstore lock is contended means that a kvstore write is failing for a long time even though kvstore connectivity is there. This may indicate lack of quorum.

[2019-03-06 12:26] tgraf commented on #7128
So I think we have several problems:
- We don’t cancel the identity allocation when the API call times out. This causes continued identity resolution due to the allocator retrying.
- It’s unclear why the kvstore operation doesn’t succeed eventually as the other node is using the kvstore successfully. It is possible that this is just bad luck in the sense that because we have several identity resol

[2019-03-06 12:35] tgraf opened #7320 "Provide context.Context to controller to stop actions"
The controller manager currently has to wait on stop for the controller to finish. Pass in a context that can be cancelled so we can stop controller functionality more effectively.

[2019-03-06 13:40] #6252 closed, assigned to aanm

[2019-03-06 16:11] joestringer commented on #7314
This occurred on jenkins-node-2, which ran out of disk. @eloycoto do you think it's possible that this was caused by a lack of disk space like #7316 ?

[2019-03-06 16:18] jrfastab commented on #7128
With transparent encryption enabled I also hit this consistently, maybe interestingly I don't see it in k8s version 1.13.
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10505/

[2019-03-06 16:21] #3031 closed, assigned to nobody

[2019-03-06 16:25] joestringer commented on #3592
Many changes have been made in this area since the original report, it is likely to be fixed already. Closing.

[2019-03-06 16:25] #3592 closed, assigned to nobody

[2019-03-06 16:55] jrfastab commented on #7306
CI passing on my local box for 1.8, 1.9, 1.13

[2019-03-06 16:58] jrfastab commented on #7172
https://github.com/cilium/cilium/pull/7299

[2019-03-06 17:28] #7231 closed, assigned to aanm

[2019-03-06 18:49] jrajahalme commented on #7317
@eloycoto Is there any way to see what happened (when this happens) in the build artifacts? This happened for k8s 1.8 CI tests for me, but artifacts contain only `.pprof` files (https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10493/).

[2019-03-07 00:08] joestringer commented on #7282
Possibly hit again in #7277:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10549/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[7aa6c5ed_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2938837/7aa6c5ed_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inte

[2019-03-07 00:10] amshinde opened #7327 "Issues running with --sockops-enable, can no longer access k8s API"
On using sockops feature with
[code]
While cilium is being brought up, k8s api is no longer accessible
[code]

[2019-03-07 00:11] amshinde commented on #7327
@jrfastab Can you take a look?

[2019-03-07 00:23] joestringer commented on #7282
From 10549 above, the node appears to be under very high load around the time the pods start and there might be an etcd leader change?

From pod-kube-system-cilium-etcd-fbvkn6bpkr-etcd.log:
[code]

However, even after five minutes some pods are stil in init state:
[code]

And yet most of the endpoints are all waiting to regenerate on that node:
[code]

[2019-03-07 00:26] #7264 closed, assigned to joestringer

[2019-03-07 00:31] joestringer commented on #6447
Hit again in a PR (#7325):

https://travis-ci.org/cilium/cilium/builds/502797236?utm_source=github_status&utm_medium=notification

[2019-03-07 00:48] #7300 closed, assigned to eloycoto

[2019-03-07 00:51] joestringer commented on #7314
Looks like this is a duplicate of #7128, Closing. Should be fixed by https://github.com/cilium/cilium/pull/7322.

[2019-03-07 00:51] #7314 closed, assigned to nobody

[2019-03-07 00:57] joestringer commented on #7190
Apparently this has been hit multiple times in this PR too: https://github.com/cilium/cilium/pull/7292

[2019-03-07 00:59] joestringer commented on #7105
Removing `needs/triage` label as I believe that @eloycoto is actively working on a fix and has triaged the root cause at this point.

[2019-03-07 01:01] joestringer commented on #6441
Likely duplicate of #6370.

[2019-03-07 01:01] #6441 closed, assigned to nobody

[2019-03-07 01:03] joestringer commented on #6176
@ianvernon AFAICT this was hit once a few months ago and not since, so either we've fixed it or it's no longer a problem. Closing, feel free to reopen if you disagree.

[2019-03-07 01:03] #6176 closed, assigned to nobody

[2019-03-07 01:06] joestringer commented on #6440
Temporary blip? Not seen for a few months, closing.

[2019-03-07 01:06] #6440 closed, assigned to nobody

[2019-03-07 09:34] joestringer commented on #7316
@eloycoto hit again on master:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2500/execution/node/101/log/

[2019-03-07 12:03] borkmann commented on #7130
Similar one in https://jenkins.cilium.io/job/cilium-master-K8s-all/176/execution/node/60/log/ :

[code]

[2019-03-07 12:16] borkmann opened #7333 "CI: cilium-v1.3-standard regression: cilium-rbac.yaml does not exist"
https://jenkins.cilium.io/view/Cilium-v1.3/job/cilium-v1.3-standard/ regression:
[code]

[code]

[2019-03-07 13:17] aanm commented on #6727
Hit again in https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10578/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_CNAME_follow/

[b8aa3fd9_RuntimeFQDNPolicies_CNAME_follow.zip](https://github.com/cilium/cilium/files/2941357/b8aa3fd9_RuntimeFQDNPolicies_CNAME_follow.zip)

[2019-03-07 13:30] brb commented on #7304
In the past I asked strongswan developers whether a key rotation makes sense when ESN is enabled, and they said "no, it's not required". Unfortunately, I cannot find freenode logs.

[2019-03-07 13:45] felix0080 opened #7335 "QA: Run XDP on Cilium"
## Support

 I deployed cilium in cluster,whether to need the support of network card. I'm afraid my network card doesn't support XDP

[2019-03-07 14:07] jrfastab commented on #7327
I'll take a look thanks.

[2019-03-07 14:10] jrfastab commented on #7105
For reference, this is still occurring in CI,
  https://jenkins.cilium.io/job/cilium-master-K8s-all/176/

[2019-03-07 14:23] nirmoy commented on #7335
@felix0080 There is no need of XDP support in nic to run cilium. XDP comes into picture only if you wants to use prefilters but that also can be mitigate by using `cilium-agent .. --prefilter-mode=generic`

[2019-03-07 14:53] felix0080 commented on #7335
; ) Thank you , I got it

[2019-03-07 14:53] #7335 closed, assigned to nobody

[2019-03-07 16:30] ianvernon commented on #824
Would be useful to test latest llvm release from Git tree - allows for proactive fixing of issues in llvm before release. Main worry is that some users would deploy outside of the container that we control (is possible) - those users want LLVM version X, which we don't test, and it's DOA. Allows us to be proactive.

What do we need here?

- [ ] really simple basic connectivity test; load programs

[2019-03-07 16:39] ianvernon commented on #1053
Look into adding this to the Datapath Configuration tests in Ginkgo - it's easy to add a new test to pull in the DaemonSet that you want to test against.

[2019-03-07 16:40] ianvernon commented on #1850
This is done with the net-next box. Yay!

[2019-03-07 16:40] #1850 closed, assigned to nobody

[2019-03-07 16:41] ianvernon commented on #1619
@eloycoto said he will check this.

[2019-03-07 16:45] ianvernon commented on #1529
`v1.5` has us depending on a custom version of `iproute2` - this may cause issues in building these packages.

[2019-03-07 16:48] ianvernon commented on #1503
@eloycoto will check in on this to see if we can close this and / or split it up into smaller, more up-to-date issues.

[2019-03-07 16:51] ianvernon commented on #1787
We can also look into GitHub Actions.

Things to analyze:

- [ ] What functionality should this provide?
- [ ] Does GitHub expose APIs to do what we want?
- [ ] What manual actions on GitHub take the most time?

Eloy and I will investigate what we can do and provide a requirements document of some sort.

[2019-03-07 16:55] ianvernon commented on #1787
@borkmann suggested the following:

* Closing issues that are staler than X months
* Alerting users that issues will be closed in X-1 months
* User can tell bot that we should keep the issue open

[2019-03-07 16:57] ianvernon commented on #1855
The existing tests need to be audited to see what coverage exists currently.

[2019-03-07 17:00] ianvernon commented on #2028
Closing this, haven't faced this issue in a long time.

[2019-03-07 17:00] #2028 closed, assigned to nobody

[2019-03-07 17:08] ianvernon commented on #5378
Not seen for some time, closing.

[2019-03-07 17:08] #5378 closed, assigned to nobody

[2019-03-07 17:19] ianvernon commented on #6960
Not observed for a month, closing.

[2019-03-07 17:19] #6960 closed, assigned to nobody

[2019-03-07 17:19] ianvernon commented on #6350
Not observed for some time; closing.

[2019-03-07 17:19] #6350 closed, assigned to nobody

[2019-03-07 17:19] ianvernon commented on #6304
Nothing to look at here since no logs were uploaded by myself - closing.

[2019-03-07 17:19] #6304 closed, assigned to nobody

[2019-03-07 17:20] ianvernon commented on #7131
Not observed recently, closing.

[2019-03-07 17:20] #7131 closed, assigned to nobody

[2019-03-07 17:21] ianvernon commented on #6447
@jrajahalme can you PTAL at this? This has been affecting the CI intermittently for some time.

[2019-03-07 17:26] #7261 closed, assigned to nobody

[2019-03-07 17:26] #7262 closed, assigned to nobody

[2019-03-07 18:17] #6618 closed, assigned to joestringer

[2019-03-07 19:27] ianvernon opened #7342 "images and imagePullPolicy for `examples/kubernetes/node-init` are not updated in release branches"
Add according sed scripts, template files, etc.

[2019-03-07 19:38] ianvernon opened #7343 "make sure log messages have "generic" "msg" fields"
See
https://github.com/cilium/cilium/pull/7321#discussion_r263055692

We want the messages themselves to be unique, but the fields to be different instead of using formatting directives for log messages. This allows to see what errors / warnings are occurring in a generic way, especially in the CI.

[2019-03-07 19:43] ianvernon opened #7344 "CI: considering adding flannel, upstream K8s builds as required builds for CI branches"

[2019-03-08 00:36] #7320 closed, assigned to nobody

[2019-03-08 02:19] jrajahalme commented on #6753
Hit this too:
[code]
(https://travis-ci.org/cilium/cilium/builds/503398002?utm_source=github_status&utm_medium=notification)

[2019-03-08 04:39] joestringer commented on #7282
Likely additional repro here (#7347): https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10615/

[2019-03-08 07:41] eloycoto commented on #7344
not sure If I got this? When this is needed?

[2019-03-08 09:05] nirmoy commented on #7327
@amshinde I couldn't reproduce it on my setup, what version of kernel are you using ?

[2019-03-08 15:33] jrajahalme commented on #7105
Also in: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10622

[2019-03-08 16:42] #6135 closed, assigned to jrajahalme

[2019-03-08 16:42] #6447 closed, assigned to nobody

[2019-03-08 18:16] joestringer commented on #6756
Seen again in user-provided bug report.

[2019-03-08 18:30] ianvernon commented on #6616
Close GitHub project and create new one for next release with specified columns

[2019-03-08 18:39] ianvernon commented on #6616
Update stable tags for cilium, operator, docker-plugin

[2019-03-08 19:46] joestringer opened #7357 "docs: Kubernetes section ConfigMap documentation is out of date"
This page is out of date and should be improved:

http://docs.cilium.io/en/stable/kubernetes/configuration/?highlight=clean-state#configmap-options

There are many other configmap options, and also the `clean-cilium-state` option is very invasive and should have much clearer documentation, eg:

https://github.com/cilium/cilium/blob/0992a648380d0a9335c4e9093b83fc06622d7fba/examples/kubernetes/templ

[2019-03-08 20:23] joestringer commented on #4960
A note for any users who find this issue in future:

The state cleaning command above (`rm -rf /var/run ...`) is an invasive option that may cause connectivity loss for currently-running endpoints, and may require restarting all endpoints in the cluster to restore to a good state. If you're hitting an issue which you believe might be addressed by this, then consider reading through the [Troublesho

[2019-03-08 20:38] joestringer commented on #6900
@jrajahalme have you seen this in the past month or was it a temporary infrastructure issue on Github side?

[2019-03-08 20:45] joestringer opened #7358 "CI: Tests upgrade and downgrade from a Cilium stable image to master (Expect a 403 from app1-service)"
## k8s-1.8.K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master

Etcd appears unhealthy during upgrade which causes traffic to pass when it should be denied.

### Stacktrace
[code]

[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10628/testReport/junit/k8s-1/8/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

[843076e7_K8sUp

[2019-03-08 21:05] amshinde commented on #7327
@nirmoy I am running kernel 4.19.24. Can you let me know what kernel version you are using.
Can you post your kernel config as well?

[2019-03-08 21:07] joestringer commented on #7248
There appears to be some relation between this issue and the fix in #7350 , which should fix issues for future installations coming up (merged to master; docs being backported to v1.4 stable docs shortly). Still looking for additional information from any users that hit this.

[2019-03-08 21:28] jrajahalme commented on #7130
Similar, but little different in https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10651/execution/node/82/log/ :
[code]

[2019-03-09 23:09] jrajahalme commented on #6756
Something similar seen on a CI runtime test logs, seems we are passing a nil address in the IPv6 case:
[code]

[2019-03-09 23:18] jrajahalme commented on #6756
So `node.GetNodeIP(ipv6 = true)` is returning nil, but still there is an allocCIDR for IPv6. Is this normal?
Or could this simply be a case where IPv6 is disabled? If so, we should simply skip the direct route update when the new IPv6 address is nil?

[2019-03-10 14:26] nirmoy commented on #7327
I am using 4.20.10-1, I think 4.19.24 should work.
kernel config: https://gist.github.com/nirmoy/8d79fbb77b1533f5926a71e51b578bb9

[2019-03-11 05:20] jrajahalme commented on #7248
Same error message and cilium-agents in CrashLoop backoff. This when running flannel tests (IPv6 disabled) on the TPROXY PR. Since this happens before any network policy is running this should not be due to TPROXY redirections.

https://jenkins.cilium.io/job/Cilium-PR-Flannel-hook/19/artifact/05aa1996_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip

Excerpt from po

[2019-03-11 08:01] tgraf opened #7363 "etcd-operator cannot recover due to lack of ownership"
The cilium-etcd-operator currently ignored ownership of the cluster pods and thus can get into a situation where cilium-etcd-operator determines a healthy cluster exists while the etcd-operator refuses to recognize the pods:

[code]

[2019-03-11 08:04] tgraf commented on #7363
[pod-kube-system-cilium-etcd-operator-d6cb86868-k985k-cilium-etcd-operator.log](https://github.com/cilium/cilium/files/2951196/pod-kube-system-cilium-etcd-operator-d6cb86868-k985k-cilium-etcd-operator.log)
[pod-kube-system-etcd-operator-5cf67779fd-9tfm5-etcd-operator.log](https://github.com/cilium/cilium/files/2951198/pod-kube-system-etcd-operator-5cf67779fd-9tfm5-etcd-operator.log)
[pod-kube-syst

[2019-03-11 17:44] #7237 closed, assigned to raybejjani

[2019-03-11 19:19] aanm opened #7367 "cilium-operator does not restart upon new etcd certificates issued"
Currently cilium-operator does not restarting the connectivity with etcd once the etcd certificate is renewed.

[2019-03-11 21:17] joestringer commented on #7105
Latest master failure:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2523/

[2019-03-11 21:19] joestringer commented on #7190
Master failure:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2515/testReport/junit/(root)/runtime/RuntimeFQDNPolicies_Roundrobin_DNS/

[2019-03-11 21:19] joestringer commented on #7282
Master failure:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2515/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[2019-03-11 21:22] joestringer commented on #7126
Master failures:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2517/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2518/

[2019-03-11 21:30] joestringer commented on #7190
@eloycoto do you think that this is another variation on #7105 or is a distinct bug?

[2019-03-11 22:00] ianvernon opened #7370 "Explore ways to remove liveness checks from locking of endpoint"
We currently do checks about endpoint state when we acquire the endpoint locks. This is primarily because when an endpoint is being deleted, we do not signal to goroutines associated with that endpoint that the endpoint is being removed. We instead 'check' this by querying endpoint state when its lock is acquired.

These 'events' for an endpoint are the following:

* regeneration
* controller runs

[2019-03-11 23:25] joestringer opened #7373 "CI: K8sDatapathConfig: Timeout reached: timed out waiting for pods with filter to be ready"
Failure on master:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2529/

#### Timeout reached: timed out waiting for pods with filter  to be ready

Also saw failures in:
`K8sDatapathConfig Encapsulation Check connectivity with Geneve encapsulation`
`K8sDatapathConfig Encapsulation Check connectivity with VXLAN encapsulation`

Possibly related to #7128, #7314.

[code]

[code]

[1

[2019-03-11 23:26] joestringer commented on #7373
KVstore seems unhappy:

`pod-kube-system-cilium-etcd-h4ncnmplfm-etcd.log`:
[code]

[2019-03-11 23:31] joestringer commented on #7373
I went into the other test failure archive on this CI failure and found this in the previous cilium agent logs, which strongly hints that it's the same as #7128 :

[code]

[88b41489_K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation.zip](https://github.com/cilium/cilium/files/2954569/88b41489_K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation.zip)

[2019-03-12 08:46] aanm opened #7375 "detect if etcd certificates change during runtime"
use fsnotify to detect when etcd certificates change and restart the connection with etcd when that happens

[2019-03-12 09:50] aanm opened #7377 "set periodic status check of etcd based on the number of nodes"
https://github.com/cilium/cilium/blob/9068730676608a8b45ffb50d6970c1400947660c/pkg/kvstore/etcd.go#L587-L620

[2019-03-12 13:54] FlogFr commented on #3934
Hello, I'm having the same issue with a fresh install with kubeadm, following the documentation.
My cluster with the single master/control plane and 2 cluster nodes are communicating with private VLAN I setup over IP tunnel and IP Sec. I changed the the --node-ip of the kubelet on the nodes to use the private IP.
Now, I'm checking the Cilium DaemonSet from the master and I notice the same error as

[2019-03-12 15:11] tgraf opened #7380 "use gRPC for etcd"
- etcd
- APIServer

[2019-03-12 15:50] tgraf opened #7381 "Per agent rate limiting of all kvstore operations"
- [ ] Add option `--kvstore-qps` to set max kvstore operations per second
- [ ] Ask Andre for good default number

[2019-03-12 15:55] ianvernon opened #7382 "`cilium bpf policy get` fails with "Failed to open map""
## Bug report

`cilium bpf policy get <endpoint ID>` does not work :

[code]

**General Information**

- Cilium version (run `cilium version`)

[code]

- Kernel version (run `uname -a`)

[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

[code]

[2019-03-12 16:09] joestringer commented on #7382
Thanks for the report. It need to use the `bpf.LocalMapName` call from pkg/bpf to get the correct name.

[2019-03-12 16:49] joestringer commented on #7382
It's a regression, but not in the sense that a release was made with the bug. This only affects master and is fallout from #7218 .

[2019-03-12 17:29] #5087 closed, assigned to nebril

[2019-03-12 17:29] vadorovsky opened #7383 "Minikube 0.35.0 fails when dns is not running"
This is not a bug in Cilium, rather in minikube, but I still want to track it here, because it affects us and our documentation.

So, if you run the newest minikube with the following environment, which tells minikube to use CNI and to not deploy any network plugin:

[code]

Then minikube fails - the newest minikube checks whether Kubernetes pods are ready and of course the dns pods are not ready,

[2019-03-12 17:45] aanm commented on #7380
@tgraf etcd is already grpc

[2019-03-12 18:56] joestringer opened #7386 "`cilium bpf policy add` deletes maps if flags mismatch"
Tried this locally in dev VM:

[code]

This should **not** arbitrarily remove the policymap. Presumably the same logic applies at delete. Probably we left an `OpenOrCreate()` for the maps in here somewhere but it's supposed to just `Open()`.

[2019-03-12 20:32] #7380 closed, assigned to nobody

[2019-03-12 20:35] tgraf commented on #3934
@FlogFr The error indicates that the cilium agent is not running at all. Is the cilium pod marked as running?

[2019-03-12 20:38] ianvernon opened #7388 "release: pair PRs with commits that are part of a given release in the release notes"
Correlating the ‘fix’ from the release notes with a given PR would be good to see whether a change needs to be backported.

These could be fetched from the GitHub Project for that release depending on how robust GitHub's API is.

[2019-03-12 22:26] #7382 closed, assigned to joestringer

[2019-03-13 04:43] joestringer commented on #7129
Hit on master today:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2534/

[2019-03-13 09:16] FlogFr commented on #3934
The cilium pod is marked as crashed:
[code]

[2019-03-13 09:44] vadorovsky commented on #3219
I guess we can have it closed and consider it as a question? I don't think that removal of flannel's interfaces is something that Cilium does automatically. It's rather a manual operation which needs to be done when someone switches CNI plugins.

Let me know and reopen if I'm wrong.

[2019-03-13 09:44] #3219 closed, assigned to nobody

[2019-03-13 11:17] tgraf commented on #3934
@FlogFr Then it's most likely a different issue. Join our slack channel and we are happy to help debug it.

[2019-03-13 12:34] #7377 closed, assigned to nobody

[2019-03-13 17:30] Billy99 commented on #6905
Trying to install Cilium on a Fedora 29 VM I starting seeing what is described in this issue. Tried https://github.com/systemd/systemd/issues/3374#issuecomment-452718898 and it got me on to the next set of errors. Not sure if that helps or not, just an FYI.

[2019-03-13 18:39] jrfastab commented on #7358
Another instance of upgrade/downgrade failure.

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10739/execution/node/84/log/

Slightly different symptoms though,
[code]

[2019-03-13 22:22] tgraf opened #7395 "Setup large-scale test cluster with GKE credits"
Stages:
- [x] 256 nodes
- [x] 512 nodes
- [x] 1024 nodes
- [x] 2048 nodes

[2019-03-13 22:23] tgraf opened #7396 "Test etcd scalability"
Tasks:
 - [x] Test whether we can maintain 1k connections to an etcd cluster
 - [x] Test whether we can maintain 2k connections to an etcd cluster
 - [x] Derive number of etcd nodes required per 1k nodes
 - [x] Derive disk size requirements per 1k nodes
 - [x] Measure Disk IO per 1k nodes

[2019-03-13 22:24] #6561 closed, assigned to tgraf

[2019-03-14 10:44] eloycoto commented on #6157
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/6226/testReport/junit/k8s-1/13/K8sHealthTest_checks_cilium_health_status_between_nodes/

[2019-03-14 10:56] eloycoto commented on #7282
Anotehr one:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/6231/testReport/junit/k8s-1/13/K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2543/

[2019-03-14 13:28] tgraf opened #7404 "Use node store to implement k8s.GetNode() instead of doing an apiserver call"

[2019-03-14 14:04] tgraf opened #7405 "Use etcd proxy for clustermesh"

[2019-03-14 14:05] tgraf commented on #6512
Given the progress on automation of real clusters, this is no longer required

[2019-03-14 14:05] #6512 closed, assigned to nobody

[2019-03-16 11:42] #6217 closed, assigned to nobody

[2019-03-18 03:23] jrfastab commented on #7306
Running in dogfood. Still some issue in CI but not reproducing in local test setup, dogfood, or gke ubuntu. Will close this issue and track CI issue in CI PR.

[2019-03-18 03:23] #7306 closed, assigned to jrfastab

[2019-03-18 06:02] adamelliotfields commented on #654
Stumbled upon this while my pods were in CrashLoopBackOff when attempting to reinstall Cilium without ETCD (everything is back up now).

I did read the blog post, but I'm running Docker 18.06 without `containerd` or `cri-o`.

Here's how I got it to work on Debian Stretch with Kubeadm.

First, make sure your firewall allows traffic to port 2379 on your master node (which should be the same IP addre

[2019-03-18 10:22] brb commented on #7383
Submitted PR: https://github.com/kubernetes/minikube/pull/3896.

[2019-03-18 11:16] vadorovsky commented on #7383
Great, thanks a lot!

[2019-03-18 19:46] ianvernon commented on #6638
This was completed by the aforementioned PR.

[2019-03-18 19:46] #6638 closed, assigned to ianvernon

[2019-03-18 20:27] #6574 closed, assigned to nobody

[2019-03-18 21:12] #6230 closed, assigned to nobody

[2019-03-18 22:07] tgraf opened #7434 "Add option to skip auto-creating CRDs"
Some users have asked for the ability to disable the auto-creation of CRDs and to defer such creation to the user. This in turn would allow to strip several privileges from the RBAC requirements.

[2019-03-18 22:11] tgraf opened #7435 "Research availability of NOTRACK in dstributions"
#6862 is adding use of NOTRACK to the L7 proxy redirection datapath, research the availability of NOTRACK in various common distributions:

 - [x] SUSE
 - [x] RHEL
 - [x] CoreOS
 - [x] Ubuntu
 - [x] COS
 - [x] Amazon Linux 2

TPROXY:
 - [x] SUSE
 - [x] RHEL
 - [x] CoreOS
 - [x] Ubuntu
 - [x] COS
 - [x] Amazon Linux 2

[2019-03-18 23:29] joestringer opened #7438 "L3-dependent L7 rule causes all traffic on that L4 port at the selected endpoint to be redirected to the proxy"
With the following rules:

[code]

The `Rules` pointer above is:
[code]

I would expect the above to generate an L3-dependent L7 BPF key to redirect traffic from "foo" on port 80 to the proxy, plus a plain L4 BPF key for other traffic on port 80 which does *not* redirect to the proxy. However, as of master today (presumably including Cilium 1.4 and earlier as well), the plain L4 key also redirects

[2019-03-19 00:43] joestringer commented on #7438
The commented-out tests in #7411 reveal this bug.

[2019-03-19 14:24] vadorovsky opened #7440 "Remove deprecated policy implementation metrics"
Change #7379 is going to deprecate the following metrics, which should be removed in 1.6 release:

- policy_regeneration_seconds_total
- policy_regeneration_square_seconds_total

[2019-03-19 16:36] ianvernon opened #7441 "Unit tests have tons of "delete event for local key" log messages"
There are a ton of these sorts of logs that occur when running unit tests:

[code]

I'm not sure whether this is a bug, or because of some way we are running tests, and as such, this warning is harmless.

If it is harmless, we should try to silence / suppress it in some way to reduce the amount of noise when running unit tests.

[2019-03-19 17:54] joestringer opened #7443 "CI: runtime.RuntimeConnectivityInIpvlanModeTest Basic Connectivity test Test connectivity between containers with policy imported"
Tests failed on master:
runtime.RuntimeConnectivityInIpvlanModeTest Basic Connectivity test Test connectivity between containers with policy imported
runtime.RuntimeConnectivityInIpvlanModeTest Basic Connectivity test Test NAT46 connectivity between containers
runtime.RuntimeConnectivityInIpvlanModeTest With CNI Basic connectivity test

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/ma

[2019-03-19 18:04] joestringer commented on #7443
Unfortunately the archive from jenkins appears to be lacking information for the builds, because there was a failure in the `BeforeAll`. Here's the logs from the pipelines page:

[code]

[2019-03-19 20:26] jrfastab commented on #7128
Got a similar trace from recent CI failures today.

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10861/testReport/junit/k8s-1/13/K8sDatapathConfig_Transparent_encryption_with_IPv4Only_Check_connectivity_with_transparent_encryption_enabled_and_IPv6_disabled/

[2019-03-19 22:29] joestringer opened #7446 "ELF contains non-{map,call} related relo data"
Q: I found the following log when trying to set up Cilium, what's wrong?

[code]

A: The version of iproute2 is incorrect. Cilium requires the version of iproute2 from the following tree:

https://github.com/cilium/iproute2/tree/static-data

~There are Ubuntu packages available from a contributor's PPA here:~
~https://launchpad.net/~joestringer/+archive/ubuntu/ppa~
**Update 2020-02-13:** These pac

[2019-03-19 22:29] #7446 closed, assigned to nobody

[2019-03-19 23:33] #7443 closed, assigned to brb

[2019-03-20 01:42] mechpen commented on #7008
We were trying to bootstrap cilium in kubernetes clusters with the `cilium-etcd-operator`.  Our `kube-system` namespace has a few labels that causes the bootstrap failure: the `kube-dns`, `etcd-operator` and `cilium-etcd` pods could not come up.

The problem is that when assigning well-known identities to pods, cilium uses `lbls.Equal()` function to match pod labels with the identity labels.  This

[2019-03-20 10:45] raybejjani commented on #7282
A master fail:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2577/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[2019-03-20 18:22] eloycoto commented on #7405
Hi!

I was playing with etcd-proxy and here an small summary about the things that
can be done.

To install etcd-proxy we only need to apply the following deployment, that it's
easy part:

[code]

This set-up has two things that need to be changed:

1) Well-know identities in Cilium.

The main reason is if we want to use the proxy from operator we need to change
the configmap, so Cilium DS will be

[2019-03-20 19:29] aanm opened #7453 "Running cilium in an IPv4 only node results in ip6tables errors"
[code]

[2019-03-20 20:20] joestringer opened #7456 "Disabling IPv4/IPv6 also disables endpoint connectivity probing"
If either IPv4 or IPv6 is disabled, then all cilium-health endpoint IP probing is disabled.

Affects v1.4.

Example commands:
[code]
Expected something like:
[code]

Also, in `cilium status` the final line shows that endpoints are unreachable:
[code]

[2019-03-21 13:56] #7381 closed, assigned to nebril

[2019-03-21 16:22] jrajahalme opened #7463 "proxy: Bump Istio dependency to v1.1.0 for Cilium 1.5"
- [ ] Bump Envoy dependency to the same SHA Istio is using
- [ ] Update Istio dependency to v1.1.0
- [ ] Update Istio GSG to match the new version

[2019-03-21 18:56] #7456 closed, assigned to nobody

[2019-03-21 22:27] ianvernon opened #7466 "selective regeneration follow-up work"
- [ ] CLI tooling for exposing information about what endpoints consume which rules
- [x] Potentially disabling this functionality in case it breaks via a configuration option (and thus always falling back to label-based matching without caching)
- [ ] look into feasibility of merging `EventQueue` and `serializer` packages together to avoid having similar structures with the same capabilities

Fol

[2019-03-22 12:13] brb commented on #7383
Closing, as the PR got merged.

[2019-03-22 12:13] #7383 closed, assigned to nobody

[2019-03-22 14:22] aanm commented on #7373
[207c96c7_K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation.zip](https://github.com/cilium/cilium/files/2996885/207c96c7_K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation.zip)

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/10976/

[2019-03-22 15:55] raybejjani commented on #7405
I've updated the yaml above with what I needed to do to get this working. The diff was:
[code]

I also had to patch cilium and cilium-etcd-operator. The images are `raycovalent/cilium:etcd-proxy` and `raycovalent/cilium-etcd-operator:etcd-proxy`.
I added a known identity to cilium for the etcd-proxy:
[code]

and I added the service name to the certificates generated by cilium-etcd-operator. I'm no

[2019-03-22 23:29] #7440 closed, assigned to nobody

[2019-03-23 00:03] tgraf commented on #7405
Looks good. Did you test the propagation delay already? I got a bit spooked by upstream reports about added latency of several seconds to a minute.

[2019-03-25 08:32] umesh3034 commented on #6178
diff changes:
-------------

[code]

[2019-03-25 12:15] eloycoto commented on #3022
Fixed, metrics for KVStore are all in place.

[2019-03-25 12:15] #3022 closed, assigned to eloycoto

[2019-03-25 12:15] #1503 closed, assigned to eloycoto

[2019-03-25 16:55] jrajahalme commented on #7435
It seems `-j NOTRACK` has been deprecated in favor of `-j CT --notrack`, but `ip[6]tables` has been updated (since years ago) to translate from former to latter on the fly. Otherwise we would have seen this warning from the kernel:
[code]

[2019-03-25 16:55] jrajahalme commented on #7435
Applicable iptables extensions man page:
[code]

[2019-03-25 16:57] jrajahalme commented on #7435
@mrostecki Can you verify that `CONFIG_NETFILTER_XT_TARGET_CT` is set in SUSE kernels, e.g., like follows?
[code]

[2019-03-25 17:06] nirmoy commented on #7435
Positively verified in SLE 15 and openSUSE Tumbleweed
[code]

[2019-03-25 19:23] jrfastab opened #7494 "cilium: transparent encryption transitioning enable -> !enabled -> enabled"
Cilium transparent encryption when transitioning from `enabled -> !enabled` and `!enabled -> enabled` may get in an error state where

 (a) the file health.sock does not exist causing any cilium-health commands to fail
 (b) the etcd connection does not come up

This issue is also reproducible in CI but difficult to reproduce locally (for me at least). Also I'm not seeing it in smaller ubuntu clust

[2019-03-25 19:30] jrajahalme commented on #7435
Positively verified for Ubuntu kernels 4.9.17 and 4.15.0 (on Cilium dev VM):
[code]

Ditto for `CONFIG_NETFILTER_XT_TARGET_TPROXY`

[2019-03-25 19:37] jrajahalme commented on #7435
RHEL: [Both TPROXY and NOTRACK are supported](https://access.redhat.com/solutions/767573)

From [Kernel BUG at mm/slub.c:3602! in RHEL7](https://access.redhat.com/solutions/3102091):

[code]

[2019-03-25 19:41] jrajahalme commented on #7435
From https://stable.release.core-os.net/amd64-usr/1409.6.0/coreos_developer_container_contents.txt:

[code]
[code]

[2019-03-25 20:46] joestringer commented on #6178
@umesh3034 that looks good, would you mind prepare that as a pull request with the commit signed off per the [Developer's Certificate of Origin](http://docs.cilium.io/en/stable/contributing/#developer-s-certificate-of-origin)? (don't forget to run `make -C daemon apply-bindata` to update the datapath SHA)

[2019-03-25 20:57] jrajahalme commented on #7435
From https://cdn.amazonlinux.com/os-images/2.0.20190313/virtualbox/amzn2-virtualbox-2.0.20190313-x86_64.xfs.gpt.vdi:
[code]
[code]

[2019-03-25 21:03] joestringer opened #7495 "CI: K8sDatapathConfig: Pods are not ready after timeout: There are some pods with filter that are marked to be deleted"
PR: #7476

Failure seems unrelated to PR contents. Jenkins link:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/11018/testReport/junit/k8s-1/14/K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation/

### k8s-1.14.K8sDatapathConfig Encapsulation Check connectivity with VXLAN encapsulation

[code]

#### Stacktrace

[code]

#### Standard Output

[code]

#### Sta

[2019-03-25 21:03] joestringer commented on #7495
Random Seed: 1553499730

[2019-03-25 21:11] jrajahalme commented on #7435
From https://chromium.googlesource.com/chromiumos/overlays/board-overlays/+/master/overlay-lakitu/sys-kernel/lakitu-kernel-4_4/files/lakitu_kernel_config_4_4#849:
[code]
[code]

[2019-03-25 21:11] joestringer commented on #7495
Previous test is:
[code]

Current test:

[code]

Not sure why the preflight checks failed within ~33 seconds of test start, given that the full timeout should be 5 minutes and I would have expected the CI to continue attempting to probe status until it times out:

https://github.com/cilium/cilium/blob/f2dc3771f868848cf9a07290f9df0454a970128b/test/helpers/kubectl.go#L1872-L1891

https://github.com/

[2019-03-25 21:14] joestringer commented on #7495
Oh, the answer is that the preflight actually passes soon after and we actually fail in `STEP: Waiting for all etcd-operator pods are ready`.

[2019-03-25 21:17] joestringer commented on #7495
The actual error here is a timeout because of:

[code]

Isn't there supposed to be a filter here? Or is this part of etcd-operator setup in the helpers just expecting that preflight checks have waited until all previous pods were deleted?

[2019-03-25 21:24] joestringer commented on #7495
OK, it's because the DatapathConfig tests are redeploying too soon after the star wars test ran, and it doesn't explicitly wait for the old pods to be deleted, but then in `WaitForNPods()` it fails out immediately if there are any pods currently being deleted:

https://github.com/cilium/cilium/blob/f2dc3771f868848cf9a07290f9df0454a970128b/test/k8sT/DatapathConfiguration.go#L74-L87

...

https://gi

[2019-03-25 22:28] jrajahalme commented on #7435
@nirmoy Can you do the same check for `CONFIG_NETFILTER_XT_TARGET_TPROXY`?

[2019-03-25 22:42] #6305 closed, assigned to nobody

[2019-03-25 22:52] joestringer opened #7498 "Need to run `make checklinks` periodically"
Back in the day, we had a CI test for running the `make checklinks` target to ensure that we ship docs with no broken links. Unfortunately, we haven't come up with a new place for this to run since switching to the new CI and several links have deteriorated.

#7497 fixes just a couple of these, but there are plenty more remaining.

* [ ] Fix up existing broken links in the documentation
* [ ] Add

[2019-03-25 23:44] joestringer opened #7501 "Request: Explain cilium-operator in documentation"
`cilium-operator` is only briefly alluded to in the following docs:

http://docs.cilium.io/en/latest/gettingstarted/clustermesh/#troubleshooting
http://docs.cilium.io/en/latest/gettingstarted/k8s-install-eks/#deploy-cilium-cilium-etcd-operator

It would be useful to have a single high-level place that describes the responsibilities of `cilium-operator` and what might go wrong if it's not available

[2019-03-26 00:13] joestringer commented on #5849
No progress or reports for five months, closing.

[2019-03-26 00:13] #5849 closed, assigned to nobody

[2019-03-26 08:54] nirmoy commented on #7435
@jrajahalme positively  verified.

[2019-03-26 12:58] trevex commented on #7225
We ran into the same issue, when we deployed cilium in a very very busy cluster. The aforementioned flag worked. :+1:

[2019-03-26 17:05] ianvernon opened #7509 "figure out way to synchronize ipcache being updated for given CIDR identity resolved by ToFQDNs rules with PolicyMap updates for endpoints to avoid transient drops"
TODO :)

[2019-03-26 17:42] ruigulala opened #7511 "CEP output has been changed"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Upload a system dump (run `curl -sLO
releases.cilium.io/tools/cluster-diagnosis.zip &&
python cluster-diagnosis.zip sysdum

[2019-03-26 17:57] joestringer commented on #7511
This is a likely unintended side-effect of #7439 .

[2019-03-26 18:05] joestringer commented on #6463
#6618 should drastically change this, I don't expect future reports regarding this. If you observe again, feel free to open a new issue and link to this one.

Closing, thanks.

[2019-03-26 18:05] #6463 closed, assigned to nobody

[2019-03-26 18:10] joestringer commented on #5913
Looks like the original reporter is happy with where Cilium got to after the first few fixes, and furthermore the project https://github.com/cilium/cilium/projects/18 is tracking further scale improvements. Will close, feel free to re-open/file new aissue if you hit additional issues with Cilium scale.

Thanks.

[2019-03-26 18:10] #5913 closed, assigned to raybejjani, tgraf

[2019-03-26 18:24] joestringer commented on #7373
@aanm that one is actually #7495 , because it failed due to pods marked for deletion.

[2019-03-26 18:27] joestringer commented on #7373
Another failure:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/11071/testReport/junit/k8s-1/10/K8sDatapathConfig_DirectRouting_Check_connectivity_with_automatic_direct_nodes_routes/

[b5109983_K8sDatapathConfig_DirectRouting_Check_connectivity_with_automatic_direct_nodes_routes (1).zip](https://github.com/cilium/cilium/files/3009674/b5109983_K8sDatapathConfig_DirectRouting_Check_

[2019-03-26 18:30] joestringer commented on #7373
Related: https://github.com/cilium/cilium/issues/7373 (Possibly same)

[2019-03-26 18:51] raybejjani commented on #7224
I think have a basic sketch of what this might look like. I'm not sure if I've missed anything (I just dumped a running kvstore). In general, the scheme would be to move overall detection to cilium-operator but each cilium-agent would resync data when triggered. It is likely also good to rate-limit how many nodes are triggered and how often each one is.

**cilium-operator**
Everything here could b

[2019-03-26 19:35] joestringer opened #7512 "Error parsing IP from key: unable to parse IP from suffix <nil> (nil IP inserted into kvstore ipcache)"
Somehow in the Istio bookinfo tests, we managed to end up inserting the ip `<nil>` into the kvstore ipcache, which later resulted in this error:

[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/11076/testReport/junit/k8s-1/10/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[test_results_Cilium-PR-Ginkgo-Tests-Validated_11076_BDD-Test-PR.zip](http

[2019-03-26 19:38] joestringer opened #7513 "CI: K8sIstioTest: JoinEP: Failed to load program: Failed to replace Qdisc ... Link not found"
~~Similar to #6059, which was purportedly fixed by #7203~~, I'm now seeing this failure show up again in Istio bookinfo tests:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/11076/testReport/junit/k8s-1/10/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

### k8s-1.10.K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity

Took 4 min

[2019-03-26 19:39] joestringer commented on #7513
Here are all of the error/warning level logs from `pod-kube-system-cilium-hlqnh-cilium-agent.log`:

[code]

[2019-03-26 19:40] joestringer commented on #7513
Also interesting:

[code]

[2019-03-26 19:44] joestringer commented on #7513
Significant delays for container `6e8b1b0a56` between join and when the endpoint gets a chance on the build queue, 18:45:05 -> 18:46:20 explains why the link has disappeared by the time we get to it:

[code]

[2019-03-26 20:03] joestringer commented on #7513
Couple of other interesting notes, lock held for 77s:

[code]

[2019-03-26 20:07] joestringer commented on #7513
Seems that the `istio_proxy_debug` image is not cached, and we may be waiting for it to download:

[code]

Two thoughts:
* Can we add istio-required images to the cilium preflight DS to ensure they are available on bootstrap?
* We should add this particular image to the VM

[2019-03-26 20:25] joestringer commented on #7513
Also fun:

[code]

kubelet gives up at 18:46:33, then we do a `deleteEndpointQuiet()` and *wait for the buildmutex*, which is only released five seconds later when we try to build that endpoint that was already cancelled..

[2019-03-26 22:07] #7438 closed, assigned to joestringer

[2019-03-26 22:18] ianvernon opened #7515 "policy: decouple policy calculation from regeneration"
Tasks:
* [x] Decouple identity policy from endpointy policy (#7542)
* [x] Shift identity policy resolution from endpoint to earlier
  * [x] Allow cache/lookup of identity policy from endpoints

[2019-03-26 22:18] ianvernon opened #7516 "policy: store all calculated policy in L4PolicyMap"

[2019-03-26 22:39] aanm opened #7517 "Identities are not re-synced after kvstore is deleted"
1) create a cluster with at least 2 nodes
2) create new endpoint with a new identity in node-1
3) create another endpoint with a different identity than 2) in node-2
4) delete etcd cluster and restart cilium running on node-2
5) run the command `cilium bpf policy get <endpoint-id-of-step-3> -n` in node-2

Verify the security identity of the endpoint created in node-1 is **not** in the output of 5)

[2019-03-27 00:01] tgraf opened #7519 "Support WireGuard for encryption"
As WireGuard is merged into the kernel [0]. Add support for it as encryption alternative compared to IPSec

[0] https://lwn.net/Articles/768826/

[2019-03-27 00:04] drpaneas commented on #654
https://github.com/cilium/cilium/pull/4826 has been merged and released with Cilium 1.2 helping with the deployment of ETCD, however I still don't see any official deployment guide for kubeadm apart from random blog posts. What is the status on this?

[2019-03-27 00:08] tgraf commented on #654
@drpaneas The installation guide section links to the following external guide that has been written by an external user:
https://blog.scottlowe.org/2018/09/06/kubernetes-cilium-containerd-using-kubeadm/

Does that work for you?

[2019-03-27 03:33] jrajahalme opened #7522 "Remove old proxymaps once they are not needed any more"
#6921 removes the need for bpf proxymaps. Currently upgrade does not remove the old maps from the filesystem. They should be removed.

[2019-03-27 03:40] jrajahalme opened #7523 "Fix flannel integration broken by #6921"
#6921 seems to have broken flannel integration. Figure out why.

[2019-03-27 05:50] joestringer commented on #7522
To safely handle upgrade/downgrade, we could defer this for one extra release after merging #6921 .

[2019-03-27 10:47] #6178 closed, assigned to nobody

[2019-03-27 16:28] eloycoto commented on #7105
Fixed!

[2019-03-27 17:53] tumasgiu opened #7531 "Support PROXY protocol"
Hello,
We deployed a Vault HA setup on a Digital Ocean Kubernetes cluster. Traffic from services in other namespaces is direct (controlled via network policies) but we would also like to provide access to the staff via a load balancer with whitelisted IPs.

Unfortunately, Digital Ocean does not support firewall on load balancers or the `loadBalancerSourceRanges` parameter.

We do not want to termi

[2019-03-27 20:14] joestringer commented on #7266
As far as I can tell, assuming that you upgrade to a particular version of Cilium by installing the `DaemonSet` YAMLs for that version (per links above), then this issue should not occur. If you otherwise hit this issue, please reopen/comment or open a new issue reporting the issue and linking to the specific YAMLs being used.

Closing, thanks.

[2019-03-27 20:14] #7266 closed, assigned to nobody

[2019-03-27 20:17] joestringer commented on #7126
Seems like this was addressed by recent FQDN fixups, feel free to reopen otherwise.

[2019-03-27 20:17] #7126 closed, assigned to nobody

[2019-03-27 20:21] joestringer commented on #7130
Likely addressed by recent FQDN fixes in master, closing. Feel free to reopen if observed again.

[2019-03-27 20:21] #7130 closed, assigned to nobody

[2019-03-27 20:28] joestringer commented on #6778
From this comment:

`pods_status.txt` shows that some proxy images are being downloaded during the test run:
[code]

Ideally, these should already be part of the VM image. Or we could/should attempt pre-pull of these images so they don't occur during startup.

[2019-03-27 20:32] #1619 closed, assigned to eloycoto

[2019-03-27 20:35] joestringer opened #7532 "Pre-pull istio container images"
Per #6778, #7513 it has been observed that some istio container images are being downloaded during pod bootstrap. These should be pre-pulled instead.

In particular, #7513 noticed these images are missing:
* `docker.io/istio/proxy_init:1.0.0`
* `docker.io/cilium/istio_proxy_debug:1.0.0`

Tasks:
* [ ] Consider adding these images to our prepull scripts when istio is installed
  * [ ] General prepul

[2019-03-27 20:39] joestringer commented on #6947
Seems duplicate with a lot of recent DatapathConfig issues, eg https://github.com/cilium/cilium/issues/7373

[2019-03-27 20:39] #6947 closed, assigned to nobody

[2019-03-27 20:45] joestringer commented on #6508
Hi, you can find the Dockerfiles at the following locations:

`cilium-envoy`: https://github.com/cilium/proxy/blob/master/Dockerfile
`cilium-builder`: https://github.com/cilium/cilium/blob/master/Dockerfile.builder
`cilium-runtime`: https://github.com/cilium/cilium/blob/master/contrib/packaging/docker/Dockerfile.runtime
`cilium`: https://github.com/cilium/cilium/blob/master/Dockerfile

[2019-03-27 20:45] #6508 closed, assigned to nobody

[2019-03-27 20:55] joestringer commented on #6907
Sounds like there's a couple of bits here:

* Services (at L4) where the protocol is SCTP
* L4 policy for SCTP

[2019-03-27 21:14] joestringer opened #7533 "cilium-health doesn't stop pinging nodes when cluster is scaled down"
The logic in #5185 does not appear to be having the intended effect, or may potentially not work when significantly scaling down the cluster. The `cilium status -o json` output shows only a few nodes (this is where `cilium-health` gets its node list from), however we see `cilium-health` reports based on a large cluster size:

[code]

Tasks:
* [ ] Refactor `cilium-health` to ease unit-testing
* [ ]

[2019-03-27 23:08] tgraf commented on #6907
I've started working on this in #6912. It's relatively straight forward to complete. Just haven't gotten around to completing it yet.

[2019-03-27 23:52] amshinde commented on #7327
@nirmoy Didtnt get a chance to take another look at this until today.
So I tried this on a different machine with 5.0.5 kernel and got it working.
Will try to see what was causing the issue on the other machine. I did have all necessary kernel configs in there.

[2019-03-28 02:06] joestringer commented on #7511
#7535 proposes to formalize a variation on this representation of an "L4-only" rule, ie "allow all L3 peers to connect to the endpoint on this port". I spoke with @ruigulala out-of-band and I think it addresses the concerns raised here.

[2019-03-28 02:53] tgraf commented on #7008
@mechpen The problem is that if we ignore certain labels then any pod assigned a well-known identity would ignore any policy you specify that matches on the namespace label. We are careful to do that but we may to fall back to this option.

[2019-03-28 06:44] umesh3034 commented on #5073
Hi @joestringer ,

is it ok if i pass new arg to cilium_dbg, which would be checked at monitor code for direction(src/dst)?
Downside is that we need to pass the arg at around 40 odd places.

[2019-03-28 06:48] #4519 closed, assigned to nobody

[2019-03-28 06:56] joestringer commented on #5073
@umesh3034 `cilium_dbg()` is just the 2-argument version of `cilium_dbg3()`. As far as I know, you shouldn't need to change these definitions, just substitute the `cilium_dbg()` calls with `cilium_dbg3()` and pass the extra argument that you want to pass. The arguments are generic at this layer, they're just integers that are passed through the perf channel up into the userspace-side monitor. Then

[2019-03-28 07:13] umesh3034 commented on #5073
Ok, got confused, i thought cilium_dbg3() was a later version of cilium_dbg(). I would like to spend sometime looking at the code how cilium_dbg3() works and how the typecasting is done at the monitor side. Once i have a fair idea , maybe 2-3 days, i will come back with more  questions/tentative solution..thanks for the tips Joe..

[2019-03-28 07:49] eloycoto commented on #5225
we had this with the net-next label.

[2019-03-28 07:49] #5225 closed, assigned to nobody

[2019-03-28 07:50] eloycoto commented on #5063
Already made by @ianvernon

[2019-03-28 07:50] #5063 closed, assigned to nobody

[2019-03-28 07:50] eloycoto commented on #4483
@aanm I think that this can be closed no?

[2019-03-28 07:51] eloycoto commented on #3967
I think that this should be closed due to ResCMD.ExpectSuccess() functions.

[2019-03-28 07:51] #3967 closed, assigned to nobody

[2019-03-28 07:52] eloycoto commented on #3325
Fixed here:
https://github.com/cilium/cilium/commit/93aae686da740d98422e8f4c880bdc8b2c4897aa

[2019-03-28 07:52] #3325 closed, assigned to nobody

[2019-03-28 07:52] #3247 closed, assigned to nobody

[2019-03-28 07:54] eloycoto commented on #2660
Close via this commit:
https://github.com/cilium/cilium/commit/37ea1fbe3929ad173ee0e0d95309632ad1639fa7

[2019-03-28 07:54] #2660 closed, assigned to nobody

[2019-03-28 07:55] eloycoto commented on #2244
I think that this can be closed now, we're not using bazel that was the main pain point here and this issue is no longer relevant.

[2019-03-28 07:55] #2244 closed, assigned to nobody

[2019-03-28 09:21] aanm commented on #4483
There are a couple of examples above that aren't solved

[2019-03-28 10:17] zoobab commented on #6438
Is it fixed yet?

[2019-03-28 16:05] joestringer commented on #5073
@umesh3034 that confused me at first too. Perhaps a separate patch to change the name of `cilium_dbg()` to `cilium_dbg2()` (and a comment for the function?) would prevent additional confusion in future.

[2019-03-29 01:03] #7511 closed, assigned to joestringer

[2019-03-29 14:49] vadorovsky commented on #654
@drpaneas cilium-etcd-operator Deployment is included in example yaml files[0], so you don't really need any additional steps. Everything happens automatically when you do `kubectl apply -f cilium-crio.yaml` and from my experience it's the only thing you have to do after running kubeadm - I'm always doing that on top of Kubic.

[0] https://github.com/cilium/cilium/blob/master/examples/kubernetes/1

[2019-03-29 22:20] joestringer opened #7546 "CI: v1.4: k8sChaosTest: Timeout reached: timed out waiting for pods with filter -l k8s-app=cilium to be ready"
v1.4 backports failure:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/11164/execution/node/84/log/

[code]

First failure:
[e369f6d6_K8sChaosTest_Restart_with_long_lived_connections_L3-L4_policies_still_work_while_Cilium_is_restarted.zip](https://github.com/cilium/cilium/files/3024723/e369f6d6_K8sChaosTest_Restart_with_long_lived_connections_L3-L4_policies_still_work_while_Cilium_

[2019-03-29 22:26] joestringer commented on #7546
CI didn't gather proper bugtool for some reason, the archives have only four files, primarily the test output txt.

[2019-03-31 19:42] #6534 closed, assigned to nobody

[2019-03-31 19:44] tgraf commented on #6519
still alive

[2019-03-31 19:44] tgraf commented on #542
This has been completed

[2019-03-31 19:44] #542 closed, assigned to nobody

[2019-03-31 19:46] tgraf commented on #6485
still alive

[2019-03-31 19:47] tgraf commented on #6469
still alive

[2019-03-31 20:42] tgraf commented on #6320
still alive

[2019-03-31 20:52] tgraf commented on #4729
This has been fully implemented in 1.5. The tunnel map still falls back to the PodCIDR and perform an optimistic route but only if the ipcache does not contain a tunnel endpoint.

[2019-03-31 20:52] #4729 closed, assigned to nobody

[2019-04-01 00:22] tgraf commented on #5265
This has been fixed

[2019-04-01 00:22] #5265 closed, assigned to nobody

[2019-04-01 00:46] tgraf commented on #1480
Only essential data that is required to establish kvstore connectivity is still stored in annotations.

[2019-04-01 00:46] #1480 closed, assigned to nobody

[2019-04-01 13:32] lkpdn commented on #5349
@joestringer
Hi, I'm just curious but do you think it's acceptable to change `perfEventReader` (or `listener{v1_0, v1_2}` drainers) behaviour to be more flexible like:
- do not queue (and drain) the read data as is but redefine the notification messages in golang struct
- then do `LookupIdentityByID()` as needed, send to cilium-monitor via gob as current NodeMonitor's drainer does

Not only this p

[2019-04-01 16:14] #7435 closed, assigned to jrajahalme

[2019-04-01 16:26] jrfastab opened #7553 "transparent encryption: tunnel keys are not upgraded until timeout"
The tunnel key is used for sending traffic to a node when an ipcache miss occurs. However, on rolling update of keys we only update the ipcache keys and missed updating the tunnel keys. We need to update the tunnel keys as well so we use the correct key to peer during the transition period.

[2019-04-01 16:29] jrfastab opened #7554 "transparent encryption: node ip (e.g. cilium_host ip addr) key is not updated"
While doing a key change either from no key to encryption or changing the keys from existing key to new key the ipcache is sync'd with new keys. However, we miss updating the node ip (e.g. cilium_host ip addr) keys. This results in flows to the cilium host IP being dropped due to decryption failing during the transition period.

[2019-04-01 16:49] joestringer commented on #3422
Yes, it's expected.

[2019-04-01 16:49] #3422 closed, assigned to nobody

[2019-04-01 16:52] #198 closed, assigned to borkmann

[2019-04-01 16:54] borkmann commented on #198
(bpf integration for ktls upstream)

[2019-04-01 16:54] ianvernon commented on #6370
Not seen for some time, closing.

[2019-04-01 16:54] #6370 closed, assigned to nobody

[2019-04-01 16:56] borkmann commented on #1794
stale

[2019-04-01 16:56] #1794 closed, assigned to borkmann

[2019-04-01 16:56] ianvernon commented on #5741
Not seen for some time, closing.

[2019-04-01 16:56] #5741 closed, assigned to nobody

[2019-04-01 16:57] borkmann commented on #1377
stale

[2019-04-01 16:57] #1377 closed, assigned to borkmann, jrfastab

[2019-04-01 16:57] ianvernon commented on #5750
I have been doing some off-hours work to cleanup endpoint deletion. This should fix this issue...

[2019-04-01 16:59] borkmann commented on #1773
stale

[2019-04-01 16:59] #1773 closed, assigned to borkmann

[2019-04-01 17:03] ianvernon commented on #5356
This should be less-likely to occur now:

* We now only do one compilation of BPF at agent boostrap, instead of one compilation per-endpoint due to BPF templating
* We are working on removing policy regeneration entirely out of 'regeneration' of an endpoint - regeneration of an endpoint is orthogonal to policy calculation

I'd be interested in seeing the load on the system during this time as well

[2019-04-01 17:31] joestringer commented on #5349
Hi @lkpdn, at a glance that sounds like a reasonable approach, though I'll defer to @raybejjani / @nebril (@cilium/monitor team) who are more familiar with this area to see if they have any thoughts/guidance.

[2019-04-01 17:43] ianvernon commented on #5444
Related-to https://github.com/cilium/cilium/issues/5365

[2019-04-01 17:43] ianvernon commented on #3281
Related-to https://github.com/cilium/cilium/issues/5365

[2019-04-01 17:50] ianvernon commented on #2655
Closing this, this has not been needed.

[2019-04-01 17:50] #2655 closed, assigned to nobody

[2019-04-01 17:54] ianvernon commented on #6209
Related-to: https://github.com/cilium/cilium/issues/5365

[2019-04-01 17:55] ianvernon commented on #3263
Closing this, this is being done slowly over time.

[2019-04-01 17:55] #3263 closed, assigned to nobody

[2019-04-01 17:56] ianvernon commented on #2685
Closing this, as we don't need Bazel in the build VM anymore.

[2019-04-01 17:56] #2685 closed, assigned to nobody

[2019-04-01 17:58] #3100 closed, assigned to nobody

[2019-04-01 18:01] ianvernon commented on #3109
We use `BeforeAll` and `AfterAll` heavily in the CI now, closing.

[2019-04-01 18:01] #3109 closed, assigned to nobody

[2019-04-01 18:29] ianvernon commented on #5814
We do not run microscope in the CI for K8s anymore because of the amount of load it put on the host; closing.

[2019-04-01 18:29] #5814 closed, assigned to nobody

[2019-04-01 18:30] joulaud commented on #7106
In presence of autoscaling or even only with frequent deployment rolling-updates this is not only a theoretical problem but a complete failure of expected fairness with load-balancing. And the problem only gets worse as the time goes on.

The only workaround (complete deletion of the cilium_l4_services map) involves a lot of connection loss.

[2019-04-01 18:36] joestringer commented on #5795
Resolved by #7545, #7235 .

[2019-04-01 18:36] #5795 closed, assigned to nobody

[2019-04-01 18:44] DerekV opened #7556 "Support hostport via CNI chain in cni-install script"
## Proposal / RFE

**Is your feature request related to a problem?**

When using kops to install a cluster with cilium, hostPort is not supported out of the box.  It would be nice to have this supported out of the box, or have the option for it, without need to implement additional hooks or overrides.

**Describe the solution you'd like**

As per conversation with @tgraf on slack, It seems like `c

[2019-04-01 18:48] #3200 closed, assigned to nobody

[2019-04-01 18:50] ianvernon commented on #3781
I am working on changing deletion of endpoints to be much more smooth / asynchronous in off-hours - related to #5365.

[2019-04-01 18:51] ianvernon commented on #1742
@brb this might be useful for LB v2 - what do you think? We can also close if you think it is unrelated.

[2019-04-01 18:52] ianvernon commented on #3283
related to #5365

[2019-04-01 18:54] ianvernon commented on #1292
Closed, updated #4870 which will track policy tracing work

[2019-04-01 18:54] #1292 closed, assigned to nobody

[2019-04-01 18:55] ianvernon commented on #1416
Closing, #4870 is tracking policy tracing work

[2019-04-01 18:55] #1416 closed, assigned to nobody

[2019-04-01 18:56] ianvernon commented on #3958
Closing this, we have the PreflightChecks option, which has proven quite useful.

[2019-04-01 18:56] #3958 closed, assigned to nobody

[2019-04-01 18:57] ianvernon commented on #1734
This was completed a while back.

[2019-04-01 18:57] #1734 closed, assigned to nobody

[2019-04-01 19:01] ianvernon commented on #3394
Closing, #4870 is tracking policy tracing work.

[2019-04-01 19:01] #3394 closed, assigned to nobody

[2019-04-01 19:01] ianvernon commented on #4137
Closing, this has been stale

[2019-04-01 19:01] #4137 closed, assigned to nobody

[2019-04-01 19:13] ianvernon commented on #6727
@eloycoto is this fixed by the policy queueing / race condition fixes that have gone in recently?

[2019-04-01 19:15] ianvernon commented on #1676
This has been done by caching per-rule the endpoints which are selected by that rule. For the lifetime of a given endpoint, each rule only has to be evaluated once to determine whether that rule selects the endpoint.

[2019-04-01 19:15] #1676 closed, assigned to ianvernon

[2019-04-01 19:16] ianvernon commented on #5248
This is fixed in latest master.

[2019-04-01 19:16] #5248 closed, assigned to nobody

[2019-04-01 19:18] ianvernon commented on #5963
This has been fixed in latest master.

[2019-04-01 19:18] #5963 closed, assigned to nobody

[2019-04-01 19:19] ianvernon commented on #3482
We have moved to having per-release teams for CI problems.

[2019-04-01 19:19] #3482 closed, assigned to nobody

[2019-04-01 19:45] fnature opened #7558 "Load balancing in clustermesh on GKE not working"
Hi,

I’ve been trying to deploy the most simple Cilium clustermesh setup on GKE  : 2 clusters k8s 1.11 in same region, cilium installed in namespace cilium following same steps as  https://docs.cilium.io/en/v1.4/gettingstarted/k8s-install-gke/, then configured clustermesh in namespace cilium following same steps as https://docs.cilium.io/en/v1.4/gettingstarted/clustermesh/.

At the end of the road

[2019-04-01 19:53] ruigulala opened #7559 "Wrong identity labels in Cilium Identity"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Upload a system dump (run `curl -sLO
releases.cilium.io/tools/cluster-diagnosis.zip &&
python cluster-diagnosis.zip sysdump` and then at

[2019-04-01 20:26] tgraf commented on #7559
The representation in the kvstore looks correct

[2019-04-01 21:14] joestringer commented on #7559
Kvstore representation is in fact wrong for that node:

[code]

There is an instance of the pod on that node, found via cilium logs + listing pods:

[code]

[code]

[2019-04-01 21:28] tgraf commented on #7559
So the master key is fine but the slave key is off. What is weird is that the Identity structure should be immutable.

[2019-04-01 21:36] tgraf commented on #7559
I have a suspicion. When checking whether a slave key is already known, the following code is run:

[code]

The `GetPrefix()` is used to ignore the nodeName suffix but there is no check to actually validate that only the suffix has been left out. If a label is missing and sorting it alphabetically puts it at the end, it could cause the GetPrefix to return successfully and an ID is being reused for

[2019-04-01 21:50] #7386 closed, assigned to nobody

[2019-04-01 21:53] #5636 closed, assigned to ianvernon

[2019-04-02 00:07] tgraf commented on #5356
@ianvernon Agreed. Closing.

[2019-04-02 00:07] #5356 closed, assigned to nobody

[2019-04-02 09:05] vadorovsky commented on #654
@r0ckarong and me will take care of writing the guide

[2019-04-02 10:22] lkpdn commented on #5349
OK, thanks. Maybe I'll cook a PR then.

[2019-04-02 11:31] kbaegis commented on #5293
This appears to be working. My usecase was hosting DNS inside k8s and managing a VIP with keepalived for survivability while allowing the hosts to pull from the internal k8s dns service.

[2019-04-02 15:36] ianvernon commented on #7513
I have a fix that I have been working on in off-hours for this. We need to make sure that we are able to 'cancel' builds in `createEndpoint` via passing the `context.Context` to regeneration.

[2019-04-02 18:04] joestringer commented on #7495
I believe that this should be fixed by #7537.

[2019-04-02 18:04] #7495 closed, assigned to nobody

[2019-04-02 18:35] redbaron commented on #2942
Still relevant, please keep it open

On Sun, 31 Mar 2019, 21:39 stale[bot], <notifications@github.com> wrote:

[2019-04-02 20:13] ianvernon opened #7576 "warn users that `cilium bpf ipcache list` will not dump any entries for >= 4.11 <= 4.15 kernels"
Due to dump not being implemented for LPM in >= 4.11 <= 4.15 kernels, running `cilium bpf ipcache list` will show no output. Warn the user about this caveat and recommend them to use `cilium map get cilium_ipcache` instead to introspect the contents of the ipcache.

[2019-04-03 02:03] jrajahalme commented on #6761
Another hit:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/11227/testReport/junit/k8s-1/10/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[2019-04-03 13:34] jrfastab commented on #7553
Resolved https://github.com/cilium/cilium/pull/7555

[2019-04-03 13:34] #7553 closed, assigned to nobody

[2019-04-03 13:34] jrfastab commented on #7554
Resolved https://github.com/cilium/cilium/pull/7555

[2019-04-03 13:34] #7554 closed, assigned to nobody

[2019-04-03 13:37] jrfastab commented on #7308
https://github.com/cilium/cilium/pull/7518

[2019-04-03 13:37] #7308 closed, assigned to jrfastab

[2019-04-03 13:38] jrfastab commented on #6823
https://github.com/cilium/cilium/commit/720316a724bfa8c4ed99584db446dc33911bf037

[2019-04-03 13:38] #6823 closed, assigned to jrfastab