[2018-10-08 17:44] ianvernon opened #5828 "bugtool: dump routing table that we use to prevent proxy looping"
From an offline discussion with @jrajahalme :

Commands to add to bugtool:

`sudo ip -4 route show table 2005`
`sudo ip -6 route show table 2005`

Also add a comment in `init.sh` that any change to this routing table # will require an according change in bugtool.

[2018-10-08 18:21] ianvernon opened #5830 "bugtool: add ability to append a prefix to the archive / folder name created in bugtool"
This would be an optional string which can be added as a prefix to the created-archive and the directory containing the bugtool output within the archive. This is helpful when a large number of bugtool archives are gathered within a cluster. Before, when this was done, and the archives were decompressed, there was no identifying information about to which Cilium pod the resulting directory created

[2018-10-08 20:18] #5824 closed, assigned to ianvernon

[2018-10-08 20:31] ianvernon opened #5834 "CI: health test failed with "Connection timed out""
NOTE: this occurred in a PR, but my branch only made changes to bugtool; thus the changes in the branch were using cilium-agent code that was equivalent to master.

Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7057/testReport/junit/k8s-1/12/K8sHealthTest_checks_cilium_health_status_between_nodes/

Output from CI run:

[code]

Logs:
[4de6fcf6_K8sHealthTest_checks_ciliu

[2018-10-08 22:25] aanm commented on #5812
The logs exist, they are here: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1728/artifact/

(click in "Build Artifacts": https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1728/)

[2018-10-08 22:30] ianvernon commented on #5812
Phew, glad I was wrong!

Logs:
[K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/2458202/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip)

[2018-10-08 22:38] aanm commented on #5812
I dig a little bit into the logs to see what was going on. To deploy etcd-operator we deploy everything, cilium k8s descriptors and etcd-operator descriptors, at the same time. In the meanwhile is expected cilium to restart until etcd-operator is full operational.

1st, etcd-operator starts by trying a `nslookup` of itself in kube-dns. This way the pod knows its name is registered into a valid DNS

[2018-10-08 23:16] aanm commented on #5813
It happen again... Increasing to priority/release-blocker

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1023/

[345fa83c_K8sChaosTest_Restart_with_long_lived_connections_L3-L4_policies_still_work_while_Cilium_is_restarted.zip](https://github.com/cilium/cilium/files/2458299/345fa83c_K8sChaosTest_Restart_with_long_lived_connections_L3-L4_policies_still_work_while_Cilium_is_restarted.zip)

[2018-10-08 23:19] aanm commented on #5812
This issue might be related with https://github.com/cilium/cilium/issues/5813

[2018-10-08 23:26] tgraf commented on #5813
kube-dns was not able to be restored:
[code]

Related to https://github.com/cilium/cilium/issues/5683

[2018-10-09 00:25] joestringer opened #5839 "Create init container image"
The init container logic is getting complicated enough that it's a pain to review inside the YAML files. Create a new image specifically for handling the init container logic.

[2018-10-09 09:15] aanm commented on #5224
@nebril Can microscope be resilient to failures where the cilium-agent is killed? This way we could start microscope since the beginning and stop it at the end. But I believe we didn't make that approach to avoid getting traffic for every single thing that was happening in the test framework.

[2018-10-09 10:54] eloycoto commented on #5814
As we spoke in cilium developer meeting, the Tcpdump daemon set:
https://github.com/cilium/cilium/pull/5843

[2018-10-09 10:58] eloycoto commented on #5667
Another fail:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4343/execution/node/99/log/?consoleFull

[2018-10-09 12:13] jomenxiao commented on #5353
https://github.com/cilium/cilium/blob/master/pkg/bpf/map.go#L413

become a deadlock?

[2018-10-09 15:16] tgraf commented on #5671
The change in https://github.com/cilium/cilium/pull/5842 points out an obvious potential buffer overflow due to `char buf[256]` which can clearly explain the above segfault. Adding a fixes tag to that PR for this issue.

[2018-10-09 15:58] ianvernon commented on #5813
cilium-p2n8c was the pod managing kube-dns. I checked its bugtool folder for any information about killed processes from `dmesg`, and interestingly enough, the logs end right before the time from when `clang` was killed (`2018-10-08T21:38:44.941284177Z`).

The last logs from `dmesg` end a second before...:
[code]

The test itself ends later:

[code]

It is worrying to me that we can't even get log

[2018-10-09 19:54] ianvernon commented on #5812
@aanm can you elaborate / provide a justification for why this may be related to #5813 ?

[2018-10-09 22:09] #5748 closed, assigned to joestringer

[2018-10-09 23:38] joestringer commented on #5353
@jomenxiao the map type is updated on line 412, so line 406 will not enter more than once:

https://github.com/cilium/cilium/blob/3b6e8a9aa377121d6ff1dfc864f18757ef91b4cb/pkg/bpf/map.go#L404-L413

[2018-10-09 23:47] aanm commented on #5812
@ianvernon the connection between kube-apiserver and kubelet are long-lived.

[2018-10-10 04:36] jomenxiao commented on #5353
why long lock?

[2018-10-10 06:19] eloycoto opened #5849 "Test issue: k8s-1.8 - K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
Pods not ready after upgrade:

[code]

Data:
[code]

Logs:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4351/testReport/junit/k8s-1/8/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/
[c43ff06e_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2463368/c43ff06e_K8sUpdates_Tests_upgrade_and_dow

[2018-10-10 06:42] eloycoto commented on #5834
Another case:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4353/testReport/junit/k8s-1/12/K8sHealthTest_checks_cilium_health_status_between_nodes/

[2018-10-10 08:15] eloycoto commented on #5849
This is not an update, but is a restart and for me looks similar.
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1746/testReport/junit/k8s-1/8/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/

[2018-10-10 13:11] eloycoto commented on #5834
Another case:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4356/testReport/junit/k8s-1/12/K8sHealthTest_checks_cilium_health_status_between_nodes/

[2018-10-10 13:12] eloycoto commented on #5588
Happens on master today:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1747/testReport/junit/(root)/runtime/RuntimePolicies_Tests_Egress_To_World/
REgards

[2018-10-10 13:27] aanm commented on #5741
hit again https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1040/testReport/junit/k8s-1/10/BDD_Test_k8s_1_10_and_1_11___K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_egress_policy/

[ea4d579f_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip](https://github.com/cilium/cilium/files/2464840/ea4d579f_K8sPolicyTest_Basic_Test_Allows_traffic_with_k

[2018-10-10 15:15] ianvernon opened #5852 "CI enhancement: gather loadinfo from VMs as well"
It could prove useful to run a small agent on each node in the CI that periodically logs the load within the VMs to some log:

[code]

We can gather the logs of this agent as part of the CI. If there are extreme load scenarios which are causing the build to be quite slow, we can analyze the logs from this agent.

For the runtime tests, this can be deployed via systemd:

[code]

We will have to man

[2018-10-10 15:17] aanm commented on #5852
@ianvernon What about integration with prometheus?

[2018-10-10 15:19] ianvernon commented on #5852
@aanm this change is fairly low-hanging fruit, and could be added fairly quickly. I'm unsure how we'd get prometheus working in the runtime tests as well. I'd like to have Prometheus run in the CI for K8s regardless since it would allow for dogfooding our Prometheus metrics.

[2018-10-10 17:13] ianvernon opened #5853 "CI enhancement: have external connectivity precheck on baremetal directly"
Given that sometimes the CI fails due to issues connecting to external resources (i.e., outside of the baremetal nodes for Cilium CI) it'd be useful to have a basic ping / curl pre-check before provisioning the VMs, to avoid confusion in thinking there are failures related to Cilium's datapath when in actuality they are due to infrastructure problems.

[2018-10-10 17:16] eloycoto commented on #5853
I'm happy to add this one, but builds are now 1h 20 min, it's going to be a bit hard to make sure that after a hour the node still has internet address.

[2018-10-10 17:18] ianvernon commented on #5853
We could also have it as a precheck within the tests themselves that perform external access? I.e., ping from the VM itself vs containers / pods managed by Cilium.

[2018-10-10 17:19] tgraf commented on #5853
Agreed with @ianvernon but let's please curl instead of ping.

[2018-10-10 18:41] aanm commented on #5852
@ianvernon I think we are talking about 2 different things. I was proposing running a prometheus job inside the server where the VMs are running that would push the CPU and Memory usage statistics to an external prometheus push gateway. AFAIK we already have a graphana server running somewhere

[2018-10-10 18:53] ianvernon commented on #5852
@aanm I understood what you said, but what I am saying is that adding this small agent is pretty cheap in terms of amount of effort + immediate return. I'm not against adding Prometheus, I'm saying it would be more involved and a larger change. My proposal here could be addressed now, then we can add Prometheus integration later too.

[2018-10-10 19:51] #5671 closed, assigned to tgraf

[2018-10-10 19:51] #5826 closed, assigned to nebril

[2018-10-10 23:49] joestringer commented on #5834
On `cilium-89mp5` from the zip that was posted in the issue description, short `cilium-health status` response in bugtool:

[code]

[2018-10-10 23:54] joestringer commented on #4559
I'm not seeing this on the latest master version, doesn't seem like a major issue. If anyone observes this, please comment/reopen.

[2018-10-11 07:30] tgraf commented on #5674
We have not seen this recently, moving to 1.4

[2018-10-11 07:59] tgraf commented on #5524
Shuffler chaos monkey did not reveal any failures in the last 18h. Closing.

[2018-10-11 07:59] #5524 closed, assigned to nebril

[2018-10-11 09:18] eloycoto opened #5859 "Endpoint is not ready in istio test"
***Summary***: Endpoint on Istio test does not get in ready state after timeout

Fail
[code]

Full output:
[code]

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4368/testReport/k8s-1/12/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/
Logs:
[75421305_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/c

[2018-10-11 10:26] tgraf opened #5861 "CI: k8s-1.12.K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity"
[code]

[e9f2fdbb_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2468495/e9f2fdbb_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip)

[2018-10-11 10:33] eloycoto commented on #5861
Already reported on #5859

[2018-10-11 10:36] #5861 closed, assigned to nobody

[2018-10-11 11:02] aanm commented on #5741
[251f7a06_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip](https://github.com/cilium/cilium/files/2468602/251f7a06_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip)

Happen again https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7162/testReport/junit/k8s-1/8/K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_

[2018-10-11 12:40] tgraf commented on #5741
@aanm `kubectl exec` can be quite slow. I definitely see 1-2 seconds delay almost at all times.

[2018-10-11 12:56] Svintooo opened #5862 "kubeadm guide: jsonpath does not retrieve all kube-dns pods"
This: https://github.com/kubernetes/website/pull/9889/files#diff-f4e313457c4b62245b4d7a92238a6d44R302

The problem is found under the **# Label kube-dns with fixed identity label** in the cilium instructions at https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

When I set up a cluster with kubeadm I get 2 pending kube-dns pods. But the following command only returns the name of

[2018-10-11 12:58] aanm commented on #5862
We should also update the guide and point it to the last version of v1.2

[2018-10-11 13:02] Svintooo commented on #5862
Forgot to mention: Running kubernetes v1.11.3 and kubectl v1.12.1.

[2018-10-11 16:22] ianvernon opened #5865 "policy: move prefilter code outside of policy package"
This code is very specific to the datapath, and is not part of the Cilium policy API. It should be its own package within the datapath subsystem, ideally. This would be quite useful because it would aid in the removal of dependencies on the BPF package (which imports cgo) from the policy package.

[2018-10-11 16:33] rlenglet commented on #5859
The problem is that in some cases, the `istio-proxy` container starts before the pod's BPF program is installed, i.e. before it has L3/L4 connectivity.

The `istio-proxy` container immediately tries to resolve some DNS names after starting. There seems to be a bug in the DNS resolver within the `istio-proxy` container: if it fails to resolve a name the first time because it can't connect to the DN

[2018-10-11 16:55] tgraf commented on #5859
I think option 1 b) is the only reasonable fix for this.

[2018-10-11 17:17] joestringer opened #5866 "CI: v1.2: Kafka failure has minimal logs"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7180/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

In the following failure, the zip file for debugging only contains these files:
[code]

I would expect full bugtool output, not sure why it is missing.

[code]

[bd4d6df5_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium

[2018-10-11 17:35] joestringer commented on #5866
[code]

[2018-10-11 17:37] joestringer commented on #5866
[code]

[2018-10-11 18:47] joestringer opened #5867 "CI: Kafka Policy Tests: Kafka Pods are not ready after timeout"
On a v1.1 backport PR (#5864), I observed this:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7191/testReport/junit/k8s-1/11/K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[code]

[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies (6).zip](https://github.com/cilium/cilium/files/2470257/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_Kaf

[2018-10-11 18:48] joestringer commented on #5867
From `pod-default-kafka-broker-6f5f474db-5qmmc-kafka-previous.log`:

[code]

[2018-10-11 18:50] joestringer commented on #5867
Seems similar to https://github.com/cilium/cilium/issues/5025, might be affected/fixed by https://github.com/cilium/cilium/pull/5054

[2018-10-11 19:09] joestringer opened #5868 "v1.2: Unable to rename current endpoint directory"
In #5845 backport PR for v1.2, hit this failure:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7192/

[code]

In the logs:
[code]

This was not a fatal issue; Cilium recovered almost immediately and regenerated the endpoint again (within 200ms or so).

[93277df3_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2470317/93277df3_K8sKaf

[2018-10-11 20:54] ianvernon commented on #5867
@joestringer definitely the same problem. I believe this was fixed by 01096d866c8deee85f519b437fe0c7e4a1297a41 in master, where we switched to different containers for use in the Kafka test.

[2018-10-12 00:28] tgraf opened #5870 "bugtool: Include cilium-config ConfigMap"
Only the DaemonSet is included right now.

[2018-10-12 01:22] tgraf opened #5871 "Skip TriggerPolicyUpdates on endpoints changes if no toService rule is loaded"
This avoids unnecessary regenerations

[2018-10-12 02:29] jrajahalme opened #5872 "`cilium bpf proxy flush global` only flushes IPv4 entiries."
The command `cilium bpf proxy flush global` only flushes IPv4 entries.. Example:
[code]

[2018-10-12 08:08] eloycoto commented on #5859
I disabled the istio test in master,  please revert the commit when this is fixed.

Thanks!

[2018-10-12 10:35] tgraf opened #5876 "Optimize policy calculation function regeneratePolicy()"
Use case 1: 5k unique identities
- [x] go test benchmark
- [x] Optimization

Use case 2: 1k policy rules
- [x] go test benchmark
- [x] Optimization

[2018-10-12 12:07] tgraf commented on #5812
I think the cause is the same as #5813. Do we believe this is a regression in 1.3?

It could also have been caused by connectivity problems in the CI infrastructure. I see no justification for this to be a relese blocker unless we see it again.

[2018-10-12 12:09] tgraf commented on #5813
Given clang was killed, this is a duplicate of #5748 and fixed by #5837

[2018-10-12 12:09] #5813 closed, assigned to nobody

[2018-10-12 14:35] #5871 closed, assigned to nobody

[2018-10-12 16:35] ianvernon commented on #5866
If K8s isn't reachable, there isn't much we can do :/ I think this can be closed.

[2018-10-12 16:39] #5866 closed, assigned to nobody

[2018-10-12 16:46] joestringer opened #5879 "v1.2: CI reports failed controllers when they are successful"
All of the controllers are reported as failed in the below, but in the attached zip at least one of the agents reports all 38 controllers to be healthy. Furthermore, the failure strings are empty.

Link:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7192/testReport/junit/k8s-1/7/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[code]

[93277df3_K8sKafkaPolicyTest_Kafka_Policy

[2018-10-12 21:37] joestringer commented on #5879
Realised that this is on branch v1.2, and we don't usually backport CI changes. Closing.

[2018-10-12 21:37] #5879 closed, assigned to nobody

[2018-10-14 09:31] #5529 closed, assigned to aanm

[2018-10-14 09:31] #5791 closed, assigned to nobody

[2018-10-15 15:07] tgraf opened #5887 "ipcache refcnt grows forever"
The per endpoint controller:
[code]

... is correctly invoked every 5 minutes. This will cause the refcnt to grow indefinitely:

[code]

[2018-10-15 18:28] ianvernon commented on #5600
Removing backport labels here. We can edit the branch settings directly in GitHub if we want this. We can move to doing this in the future via labels for future branches.

[2018-10-15 19:09] jrajahalme opened #5890 "FQDN rules get deleted if a rule does not have unique labels"
`pkg/fqdn/helpers.go:generateUUIDLabel()` is used to generate identifying UUIDs for rules, but that only works if the rules have unique sets of `Labels` to begin with. In general, `Labels` are optional and are not required to be unique for a rule:
[code]

If multiple rules have `toFQDNs` sections, but none of them have any labels, for example, all of them get the same generated UUID. Then, then on

[2018-10-15 23:04] ianvernon commented on #3160
This was done by #4086.

[2018-10-15 23:04] #3160 closed, assigned to nobody

[2018-10-15 23:05] ianvernon commented on #3334
@eloycoto is this work completed? I know it was added for CEP in #5161 .

[2018-10-15 23:06] jrajahalme commented on #5890
Locally tested fix in #5897

[2018-10-16 08:49] tgraf opened #5902 "Leak of runController go routines"
[code]

[2018-10-16 08:58] tgraf commented on #5902
Turned out to be legitimate

[2018-10-16 08:58] #5902 closed, assigned to tgraf

[2018-10-16 09:10] tgraf opened #5903 "Add spanstat/metric to identify where time is being spent"
The majority of time is spent in code that is not being covered by a spanstat. It could be the time spent waiting for the endpoint regeneration to happen.

[code]

- [ ] Add spanstats for remaining code paths that currently contribute to buildQueue so we gain a detailed understanding of where time is being spent.

[2018-10-16 12:59] #5830 closed, assigned to ianvernon

[2018-10-16 16:05] #5887 closed, assigned to joestringer

[2018-10-16 17:16] aanm opened #5907 "Delete cilium-health.pid before starting cilium container"
In a pod, the init container is not executed if the "normal" containers restart which means the `cilium-health.pid` is not deleted.

[2018-10-16 17:20] joestringer commented on #5907
Background: #5748

[2018-10-16 17:39] #5865 closed, assigned to ianvernon

[2018-10-16 17:58] #5890 closed, assigned to raybejjani

[2018-10-16 20:34] #5907 closed, assigned to nobody

[2018-10-16 22:50] luanguimaraesla opened #5913 "Cilium can't handle pods massive creation on high scale Kubernetes cluster"
## Bug reports

### Title

On a Kubernetes cluster with 200+ nodes, Cilium can't handle the creation of 4000+ pods.

### General Information

- __Cilium version__: v1.2.3
- __Kernel version__: Linux 4.14.67
- __Orchestration system version in use__: Kubernetes 1.10.7
- __etcd version__: 3.1.11

### Cluster Configuration

|       | Instances | CPU per Instance | Memory per Instance |
| --- | --- |

[2018-10-16 23:00] tgraf commented on #5913
@luanguimaraesla I'll write a longer response but the get things started: What PodCIDR configuration are you putting Kubernetes in? It seems that Cilium is running out of IP addresses to allocate.

[2018-10-16 23:13] luanguimaraesla commented on #5913
Thank you for your attention. The PodCIDR is 100.64.0.0/10.

[2018-10-16 23:36] tgraf commented on #5913
@luanguimaraesla Thanks for the quick response.

We suspect that frequent Pod annotations plus the updates to the CRD that mirrors each pod as performed by Cilium are the cause for the increased CPU usage in the apiserver which causes the breakage at +3K pods. We'll confirm this theory and provide a fix.

The increased CPU usage on the worker is caused by the BPF program generation right now. Cili

[2018-10-17 13:59] fruffy commented on #3077
I am hijacking this issue a bit since it still seems relevant.
@borkmann
I am facing a similar problem when deploying TCP programs in my virtual prototyping environment. How can it be fixed and how high is the potential performance penalty? Are there any dirty workarounds or does it require a patch?
Unfortunately, tc/BPF is less of an option because I am primarily interested in testing XDP's packe

[2018-10-17 17:40] ianvernon opened #5924 "v1.2 CI: kubecfg doesn't deploy Cilium sometimes"
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1084/

[code]

[2018-10-17 18:56] luanguimaraesla commented on #5913
Yes. I had to make another test to collect the logs. The files are attached.

[cilium.zip](https://github.com/cilium/cilium/files/2488812/cilium.zip)

[2018-10-17 20:03] luanguimaraesla commented on #5913
We also collected some data from the moment we instantiate 200 nodes. Knowing that the use of resources would increase in the workers during the generation of the BPF program, we thought that after the stabilization of the cluster, the use of CPU would normalize, which did not happen. Take a look at the following chart.

![pods](https://user-images.githubusercontent.com/11253021/47111477-0d654480-

[2018-10-17 20:22] #5828 closed, assigned to ianvernon

[2018-10-17 21:47] borkmann commented on #3077
@fruffy here's something hacky that should unblock it, although it's very inefficient given this would call twice into pskb_expand_head() when skb is cloned and non-linear. Afaik, UDP generally doesn't do it,  but TCP is the main one.

[code]

[2018-10-17 22:24] aanm opened #5927 "check k8s version in RunK8sCiliumEndpointSync with sync.Once"
Related with https://github.com/cilium/cilium/pull/5926

[2018-10-17 22:28] aanm commented on #5913
@luanguimaraesla thanks for the given zip file, 2 of the cilium issues in that file will be fixed and backported to v1.2 with this PR https://github.com/cilium/cilium/pull/5926

[2018-10-18 00:10] tgraf commented on #5913
@luanguimaraesla Thanks for the excellent data. This is awesome. The data confirm the previous suspicion that this is not related to pod creation workload itself but to the interaction with the apiserver  with respect to the CiliumEndpoint CRD. The log indicates over 200 interactions with the apiserver per second. We'll fix this right away.

[2018-10-18 00:57] joestringer opened #5929 "Endpoint in inconsistent state"
This PR build failed from #5713:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7294/

The PR moves `cilium-health` daemon to its own container inside the cilium pod, which should not result in any changes to pod connectivity on startup so filing this issue in case it's a generic issue on master.

Failure:
[code]

The cilium-9pmz4 agent log contains this message:
[code]

Not sure w

[2018-10-18 08:49] tgraf commented on #5929
I think this is caused by the new grace period on endpoint restore which delays the identity change and follow-up build after that. In the meantime, the endpoint can be built using the original identity.

[2018-10-18 09:36] aanm opened #5930 "Add timestamps in cmds.log"
Add timestamps when a command was executed so we can easily correlate with actions being performed in the CI.

[2018-10-18 09:39] aanm opened #5931 "Create template file with all necessary functions to write a test"
This file can be stored in `test/k8sT/test-template.go` which contains all skelaton of what a test should have. for example: a before all, a context, etc. Potentially it would be something like

[code]

[2018-10-18 09:41] fruffy commented on #3077
That's great, thanks a lot for the patch! Since it is just for verification I am not too worried about efficiency.

[2018-10-18 11:33] eloycoto commented on #5931
Why this is needed? I'm not agree with this at all. If we need a template to write a test we're doing something bad

Plus if we do something like that it'll be in the list of the test results, etc..

[2018-10-18 11:37] aanm commented on #5931
@eloycoto the istio test for example doesn't deploy etcdoperator https://github.com/cilium/cilium/blob/master/test/k8sT/istio.go#L89

By having a default where developers could look at it and copy-paste before creating a new test would make it easier to avoid these mistakes.

[2018-10-18 12:04] aanm opened #5932 "CI: No such file or directory while deploying etcd-operator"
[code]

[fe9fef2b_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/2491759/fe9fef2b_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip)

[2018-10-18 12:56] eloycoto commented on #5931
The problem will happens TBH, the day that the Istio was added ETCD operator was not in there, so developer will have the same problem.

[2018-10-18 13:41] aanm commented on #5931
That happens will all code. Kube-dns is also missing so it could have been avoided as well. This will still add value for developers to make it less difficult to write new tests.

[2018-10-18 16:06] AntonioMeireles opened #5938 "RFE: trim cilium pod size by compiling cilium bits into a single blob"
Hi all,

[code]

AFAICT a large part of the XXL size of the cilium pod (other than the clang/llvm bits) is the size of the cilium blobs. IMHO it would make sense to research shipping just one that would then behave according to the name it is being called (like hyperkube).  At sight, this should reduce the overall pod size a fair bit.

All the Best, and keep the great work!

António

[2018-10-18 20:17] ianvernon commented on #5931
@aanm fix for that is coming in #5869 FYI

[2018-10-18 20:54] jek-a opened #5941 "cilium-etcd doesn't run after K8S restart"
## Bug reports

### Title

The 'cilium-etcd' resource created by etcd-operator doesn't run after K8S restart

### General Information

- **Cilium version**: Cilium 1.2.3 4a41ef3 2018-09-17T17:56:54-07:00
- **Kernel version**: 4.18.13-200.fc28.x86_64
- **Orchestration system version in use**: K8S v1.12.1
- **etcd Version**: 3.2.22

### How to reproduce the issue

1. sudo mount bpffs /sys/fs/bpf -t

[2018-10-18 21:32] tgraf commented on #5941
@jek-a This is a known issue of the etcd-operator. It will be addressed by the following new project: https://github.com/cilium/cilium-etcd-operator. Feel free to try it out, it only lacks docs before we can announce it.

[2018-10-18 22:19] ianvernon opened #5944 "CI: manually focusing a test within Ginkgo causes AfterEach and AfterAll directives to not be ran appropriately"
If you edit a test to have a `FDescribe` instead of a `Describe`, the `AfterAll` and `AfterEach` blocks for other tests are not ran correctly.

To reproduce:

1. Change the focus for a `Describe` in any test:

[code]

2. Apply the following diff to the Kafka test:

[code]

3. Run the runtime tests with the following configuration:

[code]

4. Watch the tests and wait for the Kafka test to run:

[c

[2018-10-18 22:20] jek-a commented on #5941
@tgraf Thanks!
I checked this new project. It looks very straightforward, so the docs is not a problem. The cilium-etcd-operator deployment creates a permanent job to check if etcd cluster is running. I will try it out later. For now, I bootstrapped a standalone etcd cluster with k8s analogy and use it for Cilium.

[2018-10-19 04:33] jek-a commented on #5941
@tgraf Today, I tried to install k8s + Cilium using 'cilium-etcd-operator', but unfortunately it did not work. I have submitted a bug.

[2018-10-19 05:24] joestringer commented on #5423
The corresponding change is now merged, so the rebase of the netlink library can be performed now.

[2018-10-19 07:54] #5924 closed, assigned to eloycoto

[2018-10-19 10:36] aanm commented on #5931
@ianvernon it's already fixed

[2018-10-19 12:54] raybejjani commented on #5867
I'm afraid this happened again, on master:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1789/testReport/junit/k8s-1/12/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[329ae4d9_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2495879/329ae4d9_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-10-19 13:45] raybejjani commented on #5932
Two on master https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1788/

[54aaa263_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies (1).zip](https://github.com/cilium/cilium/files/2496050/54aaa263_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.1.zip)

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1779/

[281e3632_K8sTunnelTest_VXLan_Check_VXLAN_mode.zip](h

[2018-10-19 16:47] tgraf commented on #5941
@jek-a The issue has been fixed. The latest release also takes care of automatically creating the secrets if they don't exist.

[2018-10-19 18:46] luanguimaraesla commented on #5913
@tgraf @aanm Thank you guys for this excellent work. The `--disable-endpoint-crd` flag and the other fixes you quickly made resulted in a significant improvement in the results.

Now it is possible to see the CRD sync disabled.

[code]

This really caused an excessive load on Kubernetes API. Now we can see the CPU usage decrease after the BPF programs generation. Look at the following charts from

[2018-10-20 03:11] #3474 closed, assigned to nobody

[2018-10-20 10:59] jek-a commented on #5941
@tgraf I tried it one more time today and it still does not work properly. I submitted a new bug again. Don't know if you tried to test it. Unfortunately I don't have a time to play with it anymore, cause I need K8S with Cilium ASAP. So I created a working solution: https://github.com/jek-a/k8s-cilium-deployment
If you want you can check it out. So, this ticket can be closed.

[2018-10-20 11:09] #5941 closed, assigned to tgraf

[2018-10-22 13:30] aledbf opened #5961 "Cilium agent memory leak?"
### Title

Cilium agent memory leak

### General Information

- Cilium version (run `cilium version`)
[code]

- Kernel version (run `uname -a`)
[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]

Kubernetes cluster v1.10.8 installed in AWS with Kops 1.10 using cilium as CNI provider using CoreOS stable as SO in r4.large instances (3 masters and 4 nodes)

The

[2018-10-22 15:54] tgraf commented on #5961
Thanks for the report @aledbf. This was indeed a memory leak and has been fixed by the commit #5919. The fix will be released in 1.2.5 and 1.3.0.

You may also be interested in the discussion of #5913 with the workaround mentioned in the thread.

[2018-10-22 16:26] ianvernon opened #5962 "CI: look into utilizing gometalinter"
https://github.com/alecthomas/gometalinter#whats-the-best-way-to-use-gometalinter-in-ci

Could be quite useful instead of custom Makefile targets for `go vet`, `ineffassign`, which we currently have. It'd require us to go through and fix all issues or mark them as not needing to be linted, which could take a lot of time. There's also the concern of amount of time this would add to the CI.

[2018-10-22 16:54] ianvernon opened #5963 "Documentation: pick one of cri-o / Docker for minikube GSG"
We have instructions for both Docker and cri-o setup in the minikube GSG. This adds a lot of boilerplate to the GSGs that is not relevant for users that want to see how Cilium works. Pick one of these container runtimes and remove the other from the minikube GSG.

[2018-10-22 21:28] tgraf opened #5968 "Integrate cilium-etcd-operator"
Integrate https://github.com/cilium/cilium-etcd-operator:
- [x] CI / Jenkins
- [x] Change `examples/kubernetes/templates` to use etcd-operator as provided by cilium-etcd-operator by default
- [x] Minikube getting started guide
  - [ ] 2 deployment commands:
     - [ ] deploy cilium-etcd-operator
     - [ ] deploy cilium deployment

[2018-10-22 21:50] #5423 closed, assigned to nobody

[2018-10-23 09:14] aanm opened #6017 "attempt to release ipcache entry while refcnt == 0"
This was triggered in a multi node cluster where one of the cilium pods was deleted. This was the information printed in one of the remaining running pods.

[code]

Cilium version `1.3.0-rc4`

[2018-10-23 10:48] nebril opened #6018 "CI: Waiting for all etcd-operator pods are ready times out"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1796/execution/node/99/log/?consoleFull

Seems like etcd-operator failed:

[code]

This line is particularly interesting:
[code]
But it seems that this just indicates dropped connection from Jenkins master to slave - test execution carried on normally, which indicates etcd-operator problem.

[2018-10-23 11:16] aanm commented on #6018
@nebril it's this issue https://github.com/cilium/cilium/issues/5932

[2018-10-23 11:16] #6018 closed, assigned to nobody

[2018-10-23 11:21] nebril commented on #5932
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1796/ also failed because of that.
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1796/artifact/1175f160_K8sHealthTest_checks_cilium-health_status_between_nodes.zip

[2018-10-23 12:34] aanm opened #6021 "Duration is negative on End"
[code]

Cilium version `1.3.0-rc4`

[2018-10-23 13:22] aanm opened #6022 "Fix resource leak in cilium monitor test"
https://github.com/cilium/cilium/blob/e2c6cd72fd70745e7c233c097292462f8df59720/test/runtime/monitor.go#L135
[code]

Bug introduced in f1309bd64b0a3cfe366fe0c59565ab9535763c4b

[2018-10-23 14:30] aanm commented on #6022
It might not be a bug, depends when it intent to call `cancel()`. If it's intended to call cancel before the next loop then it's a bug. otherwise we can close this issue.

[2018-10-23 15:19] #5667 closed, assigned to nebril

[2018-10-23 23:47] mandarjog opened #6027 "Question: go extension performance"
I did not find any measurements on the blog.
I would like to know what is the memory and CPU cost of using a go extensions.

What kind of performance benchmarking has been done for go extensions?

[2018-10-24 04:23] #6021 closed, assigned to eloycoto

[2018-10-24 10:52] wenma opened #6033 "Unable to add route because has some invalid argument ??"
**General Information**

- Cilium version (run `cilium version`)
1.2.4
- Kernel version (run `uname -a`)
Linux l-mesos6.ops.cna 4.14.71-1.el7.centos.x86_64 #1 SMP Thu Sep 20 18:40:04 CST 2018 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
k8s:  1.12.1
- Link to relevant artifacts (policies, deployments scripts, ...)
- Upload a system dump

[2018-10-24 10:53] aanm commented on #6033
hello @wenma, can you provide the sysdump generated by `curl -sLO releases.cilium.io/tools/cluster-diagnosis.zip && python cluster-diagnosis.zip sysdump`?

[2018-10-24 12:11] wenma commented on #6033
@aanm  sure,  but the script doesn't work,  Perhaps because of  ```/dev/init``` I guess.
[code]
except nodes, pods, services dump file,  but, due to safety concerns,  This information is not convenient to paste,  Sorry ~

[2018-10-24 13:59] aanm commented on #6033
@wenma do you prefer to send it to me privately over slack or e-mail?

[2018-10-24 14:22] #6022 closed, assigned to eloycoto

[2018-10-24 14:41] ianvernon opened #6036 "v1.3 CI: build failure"
Build link:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1129/

This occurred in a PR which changed no code, and thus means that v1.3 master is affected. I haven't triaged this, so this may be a duplicate issue. But, I want to make sure this is tracked.

[2018-10-24 14:56] ianvernon commented on #5051
Related discussion of getting incremental xDS added to Istio - https://groups.google.com/forum/#!topic/istio-dev/gcrGPOAClkg/discussion

[2018-10-24 15:56] ianvernon opened #6039 "release: add steps for EOL'ing a version of Cilium"
TODO.

* add steps to make old versions of documentation not indexed by search engines
* Remove old Jenkins jobs (?)
* Update documentation in that branch that it is EOL'd (?)

Anything else?

[2018-10-24 16:05] tgraf opened #6040 "1.4 Release"
* 1.4 Project https://github.com/cilium/cilium/projects/11

## Release Dates

No release dates were documented as part of this.

## Release Checklist
- [x] Planning
- [x] Development Phase
- [x] Feature Freeze
- [x] Feature Exception Freeze
- [x] Bugfix Freeze
- [x] Bugfix Exception Freeze
- [x] Branch off `v1.4`
- [x] Final Release
- [x] Upgrade & downgrade instructions
- [x] Tag Release
- [x] Re

[2018-10-24 17:36] joestringer commented on #5932
Hit again:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1801/

[d29678c6_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2511652/d29678c6_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip)

[2018-10-24 17:47] joestringer commented on #5745
Similar failure again on master:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1800/testReport/junit/(root)/runtime/RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR_L4_policy_to_external_https_service/

[2018-10-24 18:30] raybejjani commented on #6027
Thanks for opening an issue, mandarjog.
@jrajahalme, do you have any measurements we can share?

[2018-10-24 22:32] jrajahalme commented on #6027
@mandarjog @raybejjani Based on some quick testing a Cilium dev VM with netperf, picking the middle sample out of three test runs:

1. L3/4 enforcement policy *without* any proxy redirection
[code]

2. L3/4 enforcement policy *with* L7 Go proxy redirection (Envoy + Cilium Go extension)
[code]

Based on the above Envoy and Go parser (`proxylib/testparsers/passer.go`) *together* decrease the through

[2018-10-24 23:21] jrajahalme commented on #6027
Quick results from netperf TCP_RR test in the same environment (one netperf session between two containers in a 6-vCPU VM):

1. L3/4 enforcement policy without any proxy redirection

16200 - 25000 TCP requests/sec varying a bit between test runs.

2. L3/4 enforcement policy with L7 Go proxy redirection (Envoy + Cilium Go extension)

6100 - 6550 TCP requests/sec varying quite a little between test

[2018-10-25 00:40] tgraf commented on #6033
@wenma For debugging, it would be useful to have the addressing information of the node:
* `ip -6 a`
* `ip -6 r`
* `ip link list`

Do you have any specific IPv6 addressing configuration on these nodes?

[2018-10-25 00:47] ianvernon opened #6046 "CI: add configuration options for running microscope"
In some environments, streaming all monitor events to userspace is quite costly. In some tests, we only care about drops. Add optional arguments to `kubectl.MicroscopeStart` in the CI to take in CLI arguments for microscope so it can be used in CI without putting too much load in the VMs, specifically during the Istio tests.

[2018-10-25 04:07] joestringer commented on #5961
Closing, fixed.

[2018-10-25 04:07] #5961 closed, assigned to nobody

[2018-10-25 04:09] joestringer commented on #6017
I'm surprised that we ever attempt to insert `/0` routes into the ipcache. I would expect such traffic to be handled by the `reserved:world` identity and therefore not need propagation into the kvstore via IPCache. Perhaps this is just a bug where we attempt to remove this prefix from the IPCache when it wasn't inserted in the first place.

[2018-10-25 06:22] mandarjog commented on #6027
This is very helpful.
I am specifically interested in the difference between 2 and 3. From your setup it looks like that is at most 10%.

[2018-10-25 06:38] cokabug commented on #6033
base the error log , issue the commad:
`sudo ip -6 r add f00d::a5f:e5c0:0:0/112 via  fc00::10ca:1 dev cilium_host src fc00::10ca:1`
the system return:
`RTNETLINK answers: Invalid argument.`

but the system ipv6 route already have the route to  f00d::a5f:e5c0:0:0/112 is:
`f00d::a5f:e5c0:0:0/112 via f00d::a5f:e300:0:1 dev cilium_host  src fc00::10ca:1  metric 1024`

ipv6 info:
[code]

[2018-10-25 09:08] wenma commented on #6033
@aanm  @tgraf  Thank you for respond.  My problem has been solved.  I do these as follow:
1.I find the route item seems to wrong
[code]
2.so,  I uninstall the cilium by run the command ```kubectl delete -f cilium.yaml```,  then,  I login the k8s node host,  and I find the ```cilium_host``` interface status is still up
[code]
 3. then,  I restart the ```cilium_host``` interface
[code]
4. In the end

[2018-10-25 10:21] eloycoto commented on #5531
Fixed already!

[2018-10-25 10:21] #5531 closed, assigned to nobody

[2018-10-25 10:22] eloycoto commented on #5163
Close this one due 5821 PR

[2018-10-25 10:22] #5163 closed, assigned to eloycoto

[2018-10-25 12:28] aanm commented on #5796
@joestringer that seems to be fixed in >= `v1.3`?

[2018-10-25 14:23] eloycoto commented on #5932
Fixed by https://github.com/cilium/cilium/pull/6049

[2018-10-25 14:29] eloycoto opened #6051 "CI: ETCD operator didn't deploy all the pods"
ETCD operator only deployed in the given timeout ( 5 min) 2 pods, instead of 3, so the build fails to deploy correctly.

Build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4537/testReport/junit/k8s-1/12/K8sTunnelTest_VXLan_Check_VXLAN_mode/
Logs:
[84598324_K8sTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2515346/84598324_K8sTunnelTest_VXLan_Check_VXLAN_mo

[2018-10-25 14:31] ianvernon commented on #1988
I haven't observed this behavior for some time; closing.

[2018-10-25 14:31] #1988 closed, assigned to nobody

[2018-10-25 14:32] ianvernon commented on #3495
Moving this to v1.4, as it's crucial for the CI to dogfood this tooling.

[2018-10-25 14:32] ianvernon commented on #3482
Supersedes
https://github.com/cilium/cilium/issues/1412 .

[2018-10-25 14:33] ianvernon commented on #1412
Superseded by #3482.

[2018-10-25 14:33] #1412 closed, assigned to nobody

[2018-10-25 19:22] aanm opened #6053 "Update cilium developer documentation for the new skip logs option"
Follow up of https://github.com/cilium/cilium/pull/6043

[2018-10-25 20:15] tgraf opened #6055 "Add flag to kube-proxy to ignore Non NodePort services"
kube-proxy is currently still required to implement NodePort. Even as a majority of the traffic no longer flows through kube-proxy, kube-proxy in iptables mode will still spend a significant amount of CPU on just updates the iptables rules all the time. This can be avoided if we add a flag to kube-proxy to ignore all Kubernetes services that are not NodePort.

- [ ] Special care has to be taken fo

[2018-10-25 20:49] joestringer opened #6056 "CI: Unable to find image 'memcached:latest' locally"
Master CI failure:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1810/execution/node/97/log/?consoleFull

[code]

We should:
* [x] Set the memcached image tag to a stable release version.
* [x] Cache this version in the VM.

[2018-10-25 20:58] joestringer opened #6057 "CI: Init Ingress Policy Test failure while Testing ingress with ping from host to endpoint"
Link:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1808/execution/node/97/log/?consoleFull

This occurred just prior to the CI timeout firing:
[code]

[test_results_master_1808_BDD-Test-PR (1).zip](https://github.com/cilium/cilium/files/2516713/test_results_master_1808_BDD-Test-PR.1.zip)

[2018-10-25 21:11] joestringer opened #6058 "CI: L4Policy Checks: app2 expects to ping httpd1"
Link:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1802/execution/node/97/log/?consoleFull

[code]

[3ad2c179_RuntimePolicies_L4Policy_Checks.zip](https://github.com/cilium/cilium/files/2516759/3ad2c179_RuntimePolicies_L4Policy_Checks.zip)

[2018-10-25 21:15] joestringer opened #6059 "Failed to replace Qdisc for lxcfc6dee5519e6: Link not found"
Link:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1802/execution/node/98/log/?consoleFull

[code]

From `cilium-test.log`:
[code]

We may need to check upon endpoint restore that the link device for an endpoint still exists, it seems like perhaps the device disappeared while Cilium was down/restarting.

Unfortunately for this one, we're missing most of the bugtool output from

[2018-10-25 21:18] joestringer commented on #6059
Similar issue in the same CI failure, test is `K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master`:

`pod-kube-system-cilium-dqrhl-cilium-agent.log`:
[code]

[541d8bab_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master (1).zip](https://github.com/cilium/cilium/files/2516796/541d8bab_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_

[2018-10-25 21:21] joestringer commented on #6059
It is likely that this is a long-running issue spanning back as far as 1.2 or earlier, but was masked by the fact that we ignored all errors while replacing Qdiscs. On master (v1.4 cycle), we may be observing it again because https://github.com/cilium/cilium/pull/5948 stops hiding such issues.

[2018-10-25 21:28] joestringer commented on #6059
I suspect that if the endpoint being restored ends up being etcd, then this could cause Cilium to remain not ready for quite a long time.

[2018-10-25 21:28] joestringer commented on #6059
This failure may also appear as:

[code]

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1802/execution/node/99/log/?consoleFull

[2018-10-25 21:40] joestringer commented on #5796
@aanm Great! If it's fixed then we don't need to worry about it. Closing, but this can be reopened if someone observes it again or has reproduction steps.

[2018-10-26 18:32] aledbf commented on #5961
@tgraf after two days running 1.3.0 I see this is working without issues :)

![screenshot from 2018-10-26 15 27 30](https://user-images.githubusercontent.com/161571/47585585-147c0900-d934-11e8-9f24-ea1e7f064e39.png)

Now, are this cpu spikes expected?

![screenshot from 2018-10-26 15 27 40](https://user-images.githubusercontent.com/161571/47585616-2c538d00-d934-11e8-80e1-7fabfe43fad8.png)

[2018-10-26 19:52] tgraf commented on #5961
@aledbf Thanks for confirming. The CPU spikes are currently valid. We are working to reduce the overhead further:
* More efficient connection tracking garbage collection
* BPF templating to avoid recompilation
* More efficient calculation of allowed policy
* ...

[2018-10-28 13:21] tgraf opened #6076 "Duration is negative on End" duration="-23.063µs" subsys=spanstat"
[code]

[2018-10-28 14:30] tgraf opened #6077 "ipcache reference count underflow"
Occurs in latest master but problem has existed in 1.3 and possibly before that.

[code]

[2018-10-28 14:31] tgraf commented on #6077
It is *always* the default gateway block `0.0.0.0` or `::0` (cc @joestringer )

[2018-10-28 16:18] ianvernon commented on #5859
Reopening as #5869, while a good addition, isn’t a true fix to this.

[2018-10-28 16:24] tgraf commented on #6033
@wenma The reason the route is kept in place is that ensure that when you upgrade Cilium and thus delete the pod and start a new version, networking connectivity continues to flow. We'll look it into why it errored out in this case. It should re-use the existing route.

[2018-10-28 22:36] aanm commented on #6077
Duplicate of https://github.com/cilium/cilium/issues/6017?

[2018-10-29 00:22] tgraf opened #6081 "K8S=1 vagrant does not create RBAC rules for coredns"
[code]

Fix:
[code]

[2018-10-29 08:49] aanm commented on #6081
It is part of the provision scripts. Do you have more detail?

[2018-10-29 11:25] nebril commented on #5932
Seems like hit again: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1823/

[2018-10-29 11:45] vadorovsky commented on #6081
It's probably included in the test VM, but not in the dev VM. I see that coredns is added only in `test/provision/k8s_install.sh`.

[2018-10-29 12:15] aanm commented on #6081
https://github.com/cilium/cilium/blob/46292fcee05a41691d2a7b80c2c6ea6be2c24644/contrib/vagrant/start.sh#L270

https://github.com/cilium/cilium/blob/d83bc8d7c9e545f642a043a33dadad373dde43e0/examples/kubernetes-ingress/scripts/06-install-coredns.sh#L39-L38

[2018-10-29 12:17] aanm commented on #5929
[2b36d476_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/files/2525175/2b36d476_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip)

happened twice for a single PR

[2018-10-29 13:32] nebril opened #6086 "Found a 'JoinEP: ' in Cilium Logs"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1825/consoleFull

[code]
First time I ever saw it

[2018-10-29 14:51] aanm opened #6090 "CI: RuntimeCassandra ThreadSanitizer failed to allocate ..."
[code]
Caught in https://github.com/cilium/cilium/pull/6084

[af81dbd4_RuntimeCassandra_Tests_policy_allowing_all_actions.zip](https://github.com/cilium/cilium/files/2525737/af81dbd4_RuntimeCassandra_Tests_policy_allowing_all_actions.zip)

[2018-10-29 15:05] aanm commented on #6086
Duplicate of https://github.com/cilium/cilium/issues/6059

[2018-10-29 15:05] #6086 closed, assigned to nobody

[2018-10-29 16:29] ianvernon commented on #5472
Stale issue. Hasn't been observed in almost 2 months. Got approval from @raybejjani to close.

[2018-10-29 16:29] #5472 closed, assigned to nobody

[2018-10-29 16:41] jrfastab opened #6091 "cilium: sockmap: Improving sockmap debugging with `cilium sockmap ...`"
**Proposal:**
Currently debugging/visibility into sockmap is limited to raw dumps and lists using bpftool and or low-level cilium bpf commands. A higher view into sockmap functionality would be useful for visibility and debugging.

**Describe the solution you'd like**

Add new cilium cmdline parameter 'cilium sockmap' to group visibility and troubleshooting related to sockmap. Additionally, should

[2018-10-29 16:50] jrfastab opened #6092 "Cilium: Sockmap: On restart existing sockets are not added by sockmap"
**Proposal**
On Cilium start existing sockets will not be added into the socket map. In practice this means a Cilium restart will flush the sockmap and any long-running sockets that could be using sockmap features will no longer be able to use sockmap.

**Describe the solution you'd like**

If doing a restart and map structure is not changed we could keep all the sockets in the map. Programs can b

[2018-10-29 18:00] tgraf opened #6095 "> 1.0s latency of HTTP ingress requests via NodePort"
Slack discussion:
https://cilium.slack.com/archives/C1MATJ5U5/p1540823900041800

[2018-10-29 18:01] #6046 closed, assigned to ianvernon

[2018-10-29 19:43] tgraf opened #6098 "Single DaemonSet file for etcd operator and native mode"
- [x] After integration of cilium-etcd-operator (#5953), allow using it with the default DaemonSet file by adjust secret names
- [x] Make the etcd-operator service name the default instead of localhost and document how to adjust to a separate etcd.

[2018-10-29 19:44] tgraf opened #6099 "Reduce the golang binary size"
- [ ] Research ability to reduce the binary size of individual golang binaries

[2018-10-29 19:46] tgraf opened #6100 "Reduce to single binary with aliases"
- [x] Use a single binary and use symlinks to detect whether [`cilium`, `cilium-agent`, `cilium-bugtool`, `cilium-node-monitor`] is used
- [x] Modify the Dockerfile to ship the new single binary while maintaining backward compatibility
- [x] Adjust the release scripts

[2018-10-29 19:47] tgraf opened #6101 "Reduce go dependency within project"
- [x] Identify the top 20 reasons for dependency explosion and break the dependency tree to allow inclusion of packages without pulling in the entire codebase.

[2018-10-29 19:48] tgraf opened #6102 "CI: Retry external connectivity tests"
- [ ] Require two consecutive failures to reach external endpoints before failing to make false positives less likely.

[2018-10-29 19:49] tgraf opened #6103 "Sockmap coverage in concepts sections"
- [ ] Add sockmap to concepts/architecture section

[2018-10-29 19:50] tgraf opened #6104 "Mockups for BPF reference guide"

[2018-10-29 21:21] #6027 closed, assigned to nobody

[2018-10-29 23:37] #3501 closed, assigned to ruigulala

[2018-10-29 23:39] #5744 closed, assigned to joestringer

[2018-10-29 23:49] ianvernon commented on #6101
Biggest dependencies that blow up the dependency graph for us are:

- pkg/kvstore
- pkg/k8s
- sp13/viper
- pkg/metrics

Dependencies that should be abstracted out of packages if possible

- anything BPF-related. We should abstract out the datapath if possible from consumers of it (e.g., pkg/policy, pkg/endpoint, etc.).

Also as part of this we should consider splitting up the daemon code into easi

[2018-10-30 11:58] aanm commented on #5929
[c2eb2abd_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/files/2529505/c2eb2abd_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip)

happened again in https://github.com/cilium/cilium/pull/6088

[2018-10-30 15:05] tgraf commented on #6076
Fixed in master

[2018-10-30 15:05] #6076 closed, assigned to nobody

[2018-10-30 16:46] aanm opened #6116 "Update external documentation with Cilium installation steps"
update cilium with v1.6.0
(@aanm did it for v1.4.0)
(@brb did it for v1.5.0)

- [ ] https://kubernetes.io/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy/
- [ ] https://kubernetes.io/docs/concepts/cluster-administration/networking/
- [ ] https://kubernetes.io/docs/concepts/cluster-administration/addons/
- [x] https://github.com/kubermatic/kubeone/issues/462

[2018-10-31 00:20] tgraf opened #6121 "Re-enable microscope after fixing CPU utilization issue"
#6110 has disabled microscope in the CI due to excessive CPU usage. Re-enable microscope after fixing:
- [ ] CPU utilization issue
- [ ] Pod termination issue (not handling SIGTERM due to use of alpine spawn sleep)
- [ ] Readiness check consuming a lot of CPU and having a long delay when ran in a pod

[2018-10-31 00:21] #6102 closed, assigned to eloycoto

[2018-10-31 00:26] tgraf opened #6122 "Connection reset during agent restart"
Failed test instances:
 * https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1836/testReport/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts/

[code]
[26dc90c0_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/files/2532161/26dc90c0_K8sC

[2018-10-31 00:32] tgraf commented on #5292
Long fixed in master

[2018-10-31 00:32] #5292 closed, assigned to nobody

[2018-10-31 00:33] tgraf commented on #5582
I don't think we can do much about this. Closing.

[2018-10-31 00:33] #5582 closed, assigned to nobody

[2018-10-31 00:33] tgraf commented on #5598
Not seen this since, may have been caused due to high load in CI environment previously, closing.

[2018-10-31 00:33] #5598 closed, assigned to nobody

[2018-10-31 00:37] tgraf commented on #6036
Build information is gone so no way to track this further. Likely covered by another issue if it persisted.

[2018-10-31 00:37] #6036 closed, assigned to nobody

[2018-10-31 00:39] tgraf commented on #4815
Never seen again, closing.

[2018-10-31 00:39] #4815 closed, assigned to nobody

[2018-10-31 00:39] tgraf commented on #4818
Fixed in master.

[2018-10-31 00:39] #4818 closed, assigned to nobody

[2018-10-31 00:39] tgraf commented on #5164
Fixed via #5156

[2018-10-31 00:39] #5164 closed, assigned to nobody

[2018-10-31 00:44] tgraf commented on #5740
This was fixed in master.

[2018-10-31 00:44] #5740 closed, assigned to eloycoto

[2018-10-31 00:45] tgraf commented on #5065
We are not seeing this anymore. Closing for now.

[2018-10-31 00:45] #5065 closed, assigned to nobody

[2018-10-31 00:47] tgraf commented on #6122
Another hit:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1833/

[2018-10-31 00:47] ruigulala commented on #5796
I just deployed cilium 1.3.0 using minikube, it seems the problem still exists. Please feel free to let me know if I used the wrong version or I've used a wrong way to test.

[code]

[2018-10-31 00:48] tgraf commented on #3032
Never seen again. Closing.

[2018-10-31 00:48] #3032 closed, assigned to nobody

[2018-10-31 00:48] tgraf commented on #2706
We are scanning for panics in logs now. Closing.

[2018-10-31 00:48] #2706 closed, assigned to nobody

[2018-10-31 00:50] tgraf commented on #3336
Solved via local run of go fmt

[2018-10-31 00:50] #3336 closed, assigned to eloycoto

[2018-10-31 00:50] tgraf commented on #3370
Never seen again

[2018-10-31 00:50] #3370 closed, assigned to nobody

[2018-10-31 00:50] tgraf commented on #3588
Never seen again

[2018-10-31 00:50] #3588 closed, assigned to nobody

[2018-10-31 00:50] tgraf commented on #3635
Long solved

[2018-10-31 00:50] #3635 closed, assigned to nobody

[2018-10-31 00:52] tgraf commented on #4649
Solved by no longer doing fail fast

[2018-10-31 00:52] #4649 closed, assigned to nobody

[2018-10-31 00:52] tgraf commented on #4368
Not seen in a long time. Closing.

[2018-10-31 00:52] #4368 closed, assigned to eloycoto

[2018-10-31 00:53] tgraf commented on #4336
Solved

[2018-10-31 00:53] #4336 closed, assigned to nobody

[2018-10-31 00:53] tgraf commented on #3970
Not seen in a long time. Closing.

[2018-10-31 00:53] #3970 closed, assigned to aanm

[2018-10-31 00:53] tgraf commented on #3747
Not seen in a long time. Closing.

[2018-10-31 00:53] #3747 closed, assigned to nobody

[2018-10-31 00:53] tgraf commented on #3703
Solved in master.

[2018-10-31 00:53] #3703 closed, assigned to nobody

[2018-10-31 00:55] #4673 closed, assigned to eloycoto, aanm

[2018-10-31 00:55] tgraf commented on #5135
Fixed in master

[2018-10-31 00:55] #5135 closed, assigned to eloycoto

[2018-10-31 07:00] jrajahalme commented on #5745
Hit this on https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7738/execution/node/92/log/

[2018-10-31 15:26] ianvernon commented on #6101
We can definitely gain a lot from doing dependency injection from the daemon. This can reduce dependencies across a lot of packages.

[2018-10-31 18:15] joestringer opened #6128 "CI: k8s 1.10: Chaos Restart: establish control: are you sure there is a netserver listening on 10.10.0.45 at port 12865?"
Test: k8s-1.10.K8sChaosTest Restart with long lived connections L3/L4 policies still work while Cilium is restarted

Link:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1186/testReport/junit/k8s-1/10/BDD_Test_k8s_1_10_and_1_11___K8sChaosTest_Restart_with_long_lived_connections_L3_L4_policies_still_work_while_Cilium_is_restarted/

Failed in a PR that is unrelated to the failure (#5857).

[2018-10-31 19:40] jrajahalme commented on #6122
Hit here as well: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7766/execution/node/93/log/?consoleFull

[2018-11-01 05:26] jrajahalme opened #6135 "proxylib: Make test/accesslog_server's Close wait longer if expected messages have not been received yet."
When testing the access logging functionality we can't keep waiting forever if messages are not received as expected, but we should wait longer than the current 10ms as we've seen test failures due to the accesslog server lagging behind, likely due to resource constraints in the CI.

[2018-11-01 05:28] jrajahalme commented on #6135
Ci fail due to this: https://travis-ci.org/cilium/cilium/builds/449078231?utm_source=github_status&utm_medium=notification

[2018-11-01 15:24] aanm commented on #4559
Still not fixed. At least in `v1.2.0`

[2018-11-01 17:17] aanm commented on #6135
@jrajahalme I've seen a failure in the CI (https://api.travis-ci.org/v3/job/448906786/log.txt) with:
[code]

Is it related?

[2018-11-01 19:59] ruigulala opened #6139 "Adding clarification in Contributor Guide regarding running unit test"
## Proposal / RFE

**Is your feature request related to a problem?**
When following the unit test part of the Contributor Guide, if people follow the command directly, they'll run into the following error. This is due to the kv-store test server hasn't been set up before running the test.
[code]

**Describe the solution you'd like**
Some extra clarifications may be needed. For example, the followi

[2018-11-01 20:06] aanm commented on #6139
LGTM

[2018-11-01 20:23] ruigulala commented on #5932
Hit again: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7795/

[2018-11-01 22:24] #5796 closed, assigned to ruigulala

[2018-11-01 23:05] ianvernon opened #6142 "CI: L3/L4 connectivity while cilium restarts test sporadically fails"
Failure output:

[code]

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1850/testReport/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_L3_L4_policies_still_work_while_Cilium_is_restarted/

Logs:
[0600e9c0_K8sChaosTest_Restart_with_long_lived_connections_L3-L4_policies_still_work_while_Cilium_is_restarted.zip](https://github.com/cilium/cilium/files/2540409/0600e9c

[2018-11-02 01:54] jrajahalme opened #6146 "labels: Add unit testing to functions refactored from daemon"
#6014 refactored some `OpLabels`-specific code from `pkg/endpoint` to `pkg/labels`. These would benefit from unit testing: `ReplaceInformationLabels()`, `ReplaceIdentityLabels()`, and `ModifyIdentityLabels()`.

[2018-11-02 08:04] aanm opened #6147 "UnitTest Failure: BuildQueueTestSuite.TestBuildGuarantees"
https://api.travis-ci.org/v3/job/449650687/log.txt

[code]

[2018-11-02 10:21] #5839 closed, assigned to nobody

[2018-11-02 13:14] #5366 closed, assigned to nobody

[2018-11-02 16:08] #6139 closed, assigned to ruigulala

[2018-11-02 16:29] aanm opened #6157 "CI: K8sHealthTest checks cilium-health"
[code]

[33226627_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/2543309/33226627_K8sHealthTest_checks_cilium-health_status_between_nodes.zip)

[2018-11-02 16:34] aanm commented on #5745
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7830/

[5d70e2ae_RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR+L4_policy_to_external_https_service.zip](https://github.com/cilium/cilium/files/2543334/5d70e2ae_RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR%2BL4_policy_to_external_https_service.zip)

[2018-11-02 16:36] aanm commented on #6135
https://api.travis-ci.org/v3/job/449882812/log.txt
[code]

[2018-11-02 20:56] ianvernon opened #6161 "endpoint: don't run k8s identity sync controller if we are not running with K8s"
See: https://github.com/cilium/cilium/pull/6126#discussion_r230495823

The implementation should take care to not import the `k8s` package within `pkg/endpoint` directly.

[2018-11-02 21:44] joestringer opened #6162 "Exec.TestWithTimeout failed with context.deadlineExceededError"
Seen in #5442:

[code]

https://github.com/cilium/cilium/blob/3c1c2b6149a3c211f5ae6e55e62cb694ac8202a2/pkg/command/exec/exec_test.go#L44-L47

Maybe we need to dig a little deeper into the `cmd.Start()` implementation to determine how this case gets hit and mitigate it.

[2018-11-03 14:21] aanm opened #6163 "DockerHub unable to build Cilium from Dockerfile"
[code]

[2018-11-04 18:17] tgraf opened #6165 "CI/Proposal: Use travis for unit testing instead of Jenkins"
Given that we have re-enabled Travis to runt he unit test framework to retrieve unit test coverage in each PR. Does it make sense to disable the unit test framework in Jenkins to save the 4 minutes in the pipeline. This is in particular useful as the unit tests are not ran in parallel to anything else.

cc @eloycoto @ianvernon @aanm

[2018-11-04 18:19] ianvernon commented on #6165
Makes sense to me. The only potential downside now is that if the unit tests fail, the CI may run for the entire duration of the tests, which is around 40 minutes. But, given that unit tests don't fail often, the reduction of 4 minutes across all test runs would end up with us saving a net amount of time per build.

[2018-11-04 18:37] aanm commented on #6165
It was suggested by @eloycoto
https://github.com/cilium/cilium/pull/6094#pullrequestreview-170026969

The only downside is the cost of saving 4 minutes the expense of running 80 minutes of CI. (40 minutes of 1st build, realizing unit tests are failed + 40 minutes of 2nd build)

[2018-11-05 06:52] tgraf commented on #6165
Travis runs automatically. A PR author can wait for Travis to complete before kicking off Jenkins.

[2018-11-05 13:19] #6104 closed, assigned to borkmann

[2018-11-05 16:29] jrajahalme opened #6172 "Tidy up logs for Envoy being killed due to Cilium restart"
Currently we log a warning "proxy crashed" when Envoy is killed for Cilium restart. Tone this down in cases where this is expected.

Example logs preceding a Cilium restart:
[code]

[2018-11-05 16:36] jrajahalme commented on #6163
Would be helpful if you'd tell where this error message is from. Docker seems to be happy with the Dockerfile.

Either way, the ARG that was used in the Dockerfile is not really needed anymore, so I'll remove it.

[2018-11-05 16:42] ianvernon commented on #6142
Duplicate of #6122

[2018-11-05 16:42] #6142 closed, assigned to nobody

[2018-11-05 16:57] jrajahalme commented on #6163
@aanm Just saw from the title it is from DockerHub...

[2018-11-05 16:57] #6165 closed, assigned to nobody

[2018-11-05 17:37] ianvernon opened #6176 "CI: Cassandra Tests failed because image was not able to be found"
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/7891/testReport/junit/(root)/runtime/RuntimeCassandra_Tests_policy_allowing_all_actions/

Output:
[code]

We should not use a 'latest' image in our tests, as this is fragile.

[2018-11-05 19:43] #6163 closed, assigned to jrajahalme

[2018-11-05 19:45] #5726 closed, assigned to aanm

[2018-11-05 21:43] joestringer opened #6178 "Remove cidr_addr from policy check"
The CIDR parameters to this function are no longer used and can be removed. Likewise with the callers.

https://github.com/cilium/cilium/blob/9ffd53f43bc9002f34b0354e32d3b82bdc6ce1f4/bpf/lib/policy.h#L102

[2018-11-05 22:13] ianvernon commented on #6101
Other potential follow-ups:

- [ ] removing dependency on `pkg/policy/api` from `pkg/monitor`. This could be trivial as only one function consumes lists of rules currently
- [ ] removing dependency on `pkg/metrics` from `pkg/controller` - factoring out metrics into an interface would be nice, but this may be difficult given how Prometheus dependency works.
- [ ] factor out kvstore backend interfac

[2018-11-05 22:58] ianvernon opened #6181 "Unit test TestEndpointsString fails due to expecting ordered output from ranging over a map"
A recent unit test run failed in a PR for a branch I am working on which is unrelated to my changes:

[code]

The function `ParseEndpoints` generates this value by ranging over a map, which is non-deterministic. The unit test needs to be fixed to account for this ordering.

[2018-11-05 23:24] aanm opened #6183 "Deadlock cause by "hidden" panics in metrics"
Unfortunately is not possible to retrieve the exact cilium commit has this was tested of a branch.

[code]

The panic above was inside the "Add" of this line: https://github.com/cilium/cilium/blob/ccd371c9acc761f0d37c045ff344f71341c91dcc/pkg/endpoint/policy.go#L584

Which was called inside this function
https://github.com/cilium/cilium/blob/ccd371c9acc761f0d37c045ff344f71341c91dcc/pkg/endpoint/pol

[2018-11-05 23:28] ianvernon commented on #6183
I think @jrajahalme's PR
https://github.com/cilium/cilium/pull/5616 is meant to solve the problem of acquiring endpoint locks in `defer` statements within `regenerateBPF`.

[2018-11-05 23:42] joestringer commented on #6183
Invalid `regenerateTimeSec` ?

https://godoc.org/github.com/prometheus/client_golang/prometheus#Counter

[2018-11-06 00:13] jrajahalme commented on #6183
Unfortunately #5616 seems impossible to rebase without basically re-doing it from scratch. I closed it for now.

[2018-11-06 01:12] ianvernon commented on #6181
Closed by #6182

[2018-11-06 01:12] #6181 closed, assigned to ianvernon

[2018-11-06 11:24] aanm opened #6186 "Ensure CEP controller runs on k8s version check flake"
This line in the CEP controller (`RunK8sCiliumEndpointSync`) returns on an error resolving the k8s version:
https://github.com/cilium/cilium/blob/ce5b0329fe3d0c0ec80a3c14dd344f3cc053e7d1/pkg/k8s/cep.go#L228-L232

If `GetServerVersion()` fails once, the endpoint is never synchronized in kubernetes. We need to retry the version check, but avoid spamming the k8s server with version queries. The versi

[2018-11-06 20:16] ianvernon opened #6192 "Explore factoring out cmdref code into package"
Try moving the code related to cmdref into a single package, `pkg/cmdref`, and factor it out from the following locations:

[code]

[2018-11-06 21:49] ianvernon opened #6194 "CI: optimize amount of time that k8sT/Tunnels.go tests take"
Ways the test could possibly be optimized (these may be wrong but could be explored):

* Instead of deleting Cilium before each test, we can apply a patch on top of Cilium, e.g. `kubectl apply -f <new Cilium DaemonSet>`. This will restart Cilium with the new configuration instead of deleting the Cilium pods.
* Do not delete demo application before each test run (do this in `BeforeAll` and `AfterAl

[2018-11-06 21:52] joestringer commented on #6165
I am proposing to walk back this change for the privileged unit tests in the following PR:

https://github.com/cilium/cilium/pull/6117

[2018-11-06 21:56] ianvernon commented on #6135
Similar failure here: ```time="2018-11-06T20:45:54Z" level=info msg="CloseInstance(44): Remaining open count: 0"
--- FAIL: TestAllowAllPolicy (0.10s)
    proxylib_test.go:583: OnData: Unexpected access log entries, expected 4 passes (got 2) and 0 drops (got 0).
=== RUN   TestAllowEmptyPolicy```

[2018-11-06 22:32] ianvernon opened #6195 "Further reduction of dependencies in packages"
Follow-up from #6101.

Possible options:

- [ ] removing dependency on `pkg/policy/api` from `pkg/monitor`. This could be trivial as only one function consumes lists of rules currently
- [ ] removing dependency on `pkg/metrics` from `pkg/controller` - factoring out metrics into an interface would be nice, but this may be difficult given how Prometheus dependency works.
- [ ] factor out kvstore bac

[2018-11-06 22:32] #6101 closed, assigned to ianvernon

[2018-11-06 22:32] ianvernon commented on #6101
Created
https://github.com/cilium/cilium/issues/6195 for follow-up.

[2018-11-07 00:17] ianvernon opened #6197 "consider removing use of init functions for packages that are imported by daemon"
Because we now have a single binary for the CLI, bugtool, and cilium-agent, anything which is imported into the `daemon` package now runs all init functions which are used by the daemon package, e.g.:

[code]

This may affect the ability of the debugging tooling to run efficiently depending on what packages are being ran with init functions.

[2018-11-07 12:25] aanm opened #6201 "Cilium version doesn't print version"
It seems to have been caused by moving everything to a single binary

[2018-11-07 12:42] nebril commented on #6201
seems like single binary was not the culprit here, `-ldflags` was overwritten by 33a43bea3c , fix incoming

[2018-11-07 18:23] tgraf opened #6203 "Policy support to protect the host"
The request is coming up more and more frequently to support specifying policy rules to protect the host itself. This issue is tracking this feature addition.

Asks that have come up:
- Ability to install policy rules to only allow traffic to local endpoints plus an additional
- Ability to whitelist and blacklist traffic to a particular host port while delegating policy for local containers to the

[2018-11-07 22:24] joestringer commented on #6197
Even from `cilium-agent`, this occurs when generating cmdref (which it really shouldn't need to).

[2018-11-08 10:35] G3ph4z commented on #504
I guess it isn't implemented yet, right?

[2018-11-08 11:32] #5594 closed, assigned to ianvernon

[2018-11-08 13:46] #6201 closed, assigned to nebril

[2018-11-08 18:10] tgraf commented on #504
@ericstoekl @G3ph4z We are actively implementing this right now.

[2018-11-08 18:28] justincormack commented on #504
Great news! Is there a design doc for this?

On Thu, 8 Nov 2018 at 18:10, Thomas Graf <notifications@github.com> wrote:

[2018-11-08 23:34] ianvernon opened #6209 "deadlocks can occur in endpoint.{regenerateBPF, regenerate} due to deferred functions trying to acquire endpoint lock when caller panics while lock is held"
this occurred running `docker.io/cilium/nightly:20181105-20`

[gops-cilium-ggrhg.txt](https://github.com/cilium/cilium/files/2563986/gops-cilium-ggrhg.txt)

Action items:

- [x] refactor `regenerateBPF` to avoid having multiple locking / unlocking operations performed on the endpoint structure (taken care of by #6191 ), as well as deferred functions which acquire the endpoint lock.
- [x] refactor

[2018-11-08 23:50] ianvernon commented on #6209
I believe that since the deadlock is in `Regenerate` for an endpoint, that we were continuously spawning goroutines that never terminated, resulting in an explosion of goroutines in the above stacktrace.

[2018-11-09 00:08] ianvernon commented on #6183
https://github.com/cilium/cilium/issues/6209 appears related.

[2018-11-09 08:28] jrajahalme commented on #5859
Still see endpoints in not-ready state running the Istio GSG locally. It seems that the istio_proxy container takes a long time to start as it remains in ContainerInitializing state for longer than the regeneration timeout. This happens especially when the container images need to be pulled.

Noticed that the not-ready endpoints can be fixed by forcing regeneration (e.g., by flipping the debug con

[2018-11-09 14:18] aanm commented on #6183
[code]

as we can see in the stack trace the value is really negative at the point the Add is called. `bee83c9dfc3b0aa9` or `-0.00001155699999999999963266623242974517893344454933` seconds to be precise

Although, before the "Add" is being executed there's `Info` message being printed, which shows `policyRegenerationTime="105.661µs"`, that should be roughly the same number being set to the Add func

[2018-11-09 16:27] ianvernon commented on #6183
@aanm what's even weirder about the stack trace is that the time variables which are causing the panic are local to `regeneratePolicy`, and are not modified asynchronously / in any goroutines, so how can they be negative? This is bizarre. Is the floating point conversion we are doing incorrect / causing some type of underflow / inaccuracy?

[code]

That's the only explanation I can think of that w

[2018-11-09 16:32] tgraf commented on #6183
@ianvernon Yes, floats are not 100% accurate. The division can obviously result in a very small number. What is new to me is that a very small number can become negative.

[2018-11-09 16:38] ianvernon commented on #6183
@tgraf that's why I'm wondering if there's some type of problem with division that is causing some type of underflow problem :/ I see no other possible explanation . The log that @aanm pasted above  shows the time is logged before any floating point calculations are performed.

Looking at the following:

[code]

`time.Since(Time)` returns a duration as a Duration (`int64`), which we then divide by

[2018-11-09 18:15] aanm opened #6215 "Do not error out if podCIDR from kube-apiserver is different than the previous podCIDR"
Do not error out if podCIDR from kube-apiserver is different than the previous podCIDR cilium has knowledge of **and** there are not endpoints scheduled in that node.

[2018-11-09 18:16] #6183 closed, assigned to nobody

[2018-11-10 02:23] tgraf opened #6217 "Add liveness probe to cilium operator"
The cilium operator in `operator/` maintains connections to the apiserver and kvstore. The liveness probe should ensure that such connections are healthy and declare the operator unhealthy otherwise.

[2018-11-12 09:34] tgraf opened #6220 "Final ACK in FIN sequence can be loadbalanced to incorrect backend"
Based on a packet trace submitted by a user, at least the 1.2.x version series can cause the final ACK in a FIN sequence to be loadbalanced to an incorrect backend. The incorrect backend selection likely happens due to the connection tracking entry to be incorrect or inexistent which causes the packet to be load balanced to a different backend.

Basic testing suggests that  master is not affected

[2018-11-12 09:55] tgraf opened #6221 "FQDN related identity disappeared"
The testing cluster got into a state where an IP cache entry pointed to an identity that no longer existed. Based on the IP in the ipcache entry, it is reasonable to assume that the ipcache entry was created as a result of an FQDN policy rule. Several FQDN rules are loaded.

- The kvstore did not know about the identity referred to in the ipcache entry
- Removing the ipcache manually from kvstore

[2018-11-12 09:59] raybejjani opened #6222 "Wrap time.Since to avoid negative durations in metrics"
We've encountered odd time shifts when using time.Since that caused the duration to be negative (e.g. https://github.com/cilium/cilium/pull/6214). This seems to be related to the clock moving backwards :/
To save our sanity, and avoid metrics panicing on <0 counter increments, it would be good to:
- wrap `time.Since` usage (and perhaps `time.Time.Since as well) with a wrapper that always return >=

[2018-11-12 17:10] joestringer commented on #6162
Seems to have only happened once, might just be that Travis can take too long to run tests due to load?

[2018-11-12 17:33] jrfastab opened #6228 "Cilium: BPF API to getNextKey does not correctly handle array maps"
Issue is syscall GetNextKey for Arrays with key = 0 does will return the next key, namely whatever is in slot 1. However on Hashmap will return the key in slot 0. The Cilium API expects the hash map behavior and calling the get next key bpf apis from Cilium side will not work as expected on Arrays. [TBD confirm the above and fix Cilium side]

Reproduce:
1. Create BPF Array Map of size 1
2. Call a

[2018-11-12 17:52] joestringer commented on #6228
Might be worth looking at bpftool too, just check it doesn't have the same issue

[2018-11-12 23:06] ianvernon commented on #6209
Reducing priority; the cause of this is the same as #6183, so we have reduced the likelihood of this happening. We still need to not deadlock if a panic occurs, though.

[2018-11-12 23:37] #6186 closed, assigned to raybejjani

[2018-11-13 10:18] tgraf opened #6230 "Add timeout to nslookup init container in istio injection"
When performing Istio injection, an init container is added to wait for the DNS name to become available:

[code]

There is no timeout associated with this so far so a pod will stay in `Init` phase forever. Introducing a timeout can potentially help as the pod can be re-scheduled onto a different node.

[2018-11-13 15:48] brb commented on #6222
After checking all `time.{Since,After}` and `timeSince` occurrences, IMO it doesn't make sense to introduce the wrapper at this moment, as there is only one place in the code which is sensitive to a negative duration and it has been already fixed in #6214.

[2018-11-14 19:01] aanm opened #6243 "Check if pods contain security identities before running test"
I recently got this flake:
[code]

The annotation was set but it was not set with the command was executed. The output of controller status shows it was successfully 5s ago.
[code]

https://github.com/cilium/cilium/blob/f4cc278c5cc9de3ee62c7633f0470c36f7abbc6d/test/k8sT/Policies.go#L199-L205

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8048/testReport/junit/k8s-1/12/K8sPolicyTes

[2018-11-14 20:30] amshinde opened #6244 "Add support for hypervisor based runtimes."
I tried out Cilium + Istio following the installation guide. The stack that I am using is:
k8s -> crio/containerd -> Kata Containers.

Kata Containers starts containers inside a lightweight VM. More information can be found here:
https://github.com/kata-containers/

The fact that a unix domain socket is shared between the sidecar proxy in the pod sandbox and the cilium agent, makes this unusable w

[2018-11-15 16:35] aanm commented on #6162
I've got it as well
[code]

[2018-11-15 17:25] aanm opened #6252 "Rethink k8s watcher implementation"
In Cilium 1.3 we have introduced a wrapper(1) around k8s so it would stop re-adding the objects every time cilium was resyncing against kube-apiserver.

Unfortunately, this requires a local copy of those objects so we can compare new objects against old objects and verify if they actually need to perform an update. As we are also using kubernetes watcher, it also keeps a local copy of those object

[2018-11-16 12:51] vadorovsky commented on #6162
This error can mean that starting the `sleep inf` process took more that 1 millisecond. To be honest, I chose this timeout after trying (nano/micro/milli)seconds and 1 millisecond was always the timeout which was enough for the process to spawn. But it seems that I was too optimistic.

I think that raising the timeout should help. Although it will slow down tests a bit...

[2018-11-16 12:52] vadorovsky commented on #6162
To be clear - this test expects `sleep inf` to be running and to be killed after the timeout.

[2018-11-16 13:08] vadorovsky commented on #6162
A proof that the error message is caused by too short timeouts - after decreasing the timeout to 1 nanosecond I'm getting that error locally every time ;)

[code]

[2018-11-16 16:55] #5745 closed, assigned to eloycoto

[2018-11-16 20:38] ianvernon commented on #5876
Update on this: did some work locally on case 2, and have found that we should avoid doing matching on rules as much as possible; the majority of time spent in the code is determining whether a rule selects a given endpoint or not. We could optimize this out by doing a single pass over the rules initially, and only grab the rules which select the endpoint. This would reduce the iterations over all

[2018-11-16 20:50] ianvernon commented on #5876
We should also consider removing the `ResolveCIDRPolicy` subsystem if possible. @joestringer can we do this without affecting the plumbed policy for an Endpoint since we now handle CIDRs with identities now? I recall there being work done to handle the CIDR ingress side as well with labels. We would lose the API visibility into CIDR policy for an endpoint, though, so we'd have to figure out a way

[2018-11-19 11:22] aanm opened #6263 "Cilium DaemonSet is not scheduled on all nodes"
If you are experiencing issues with Cilium not being scheduled on all nodes, make sure if the Cilium DaemonSet contains the necessary tolerations for the taints in the nodes where Cilium is not being scheduled.

By default Cilium DaemonSet should have the following tolerations:
[code]

If the node has a taint that is not tolerated by Cilium DaemonSet, in the following example `key=master, effect:

[2018-11-19 11:22] #6263 closed, assigned to nobody

[2018-11-19 14:44] darkdatter commented on #502
Are there any updates/details on this feature's progress?

[2018-11-19 17:16] tgraf commented on #502
@MS52390 @jrfastab is working on this right now. Progress will be tracked in #504

[2018-11-19 17:17] #502 closed, assigned to jrfastab

[2018-11-19 19:39] #6162 closed, assigned to nobody

[2018-11-20 20:14] ianvernon opened #6264 "CI: Test NodePort with L7 policies"

[2018-11-20 21:25] joestringer opened #6268 "CI: etcd-operator: failed to reconcile: add one member failed: creating etcd client failed context deadline exceeded"
Hit in #6266:

K8s 1.12. New test, but using existing test code:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8109/testReport/k8s-1/12/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_K8sFoo_Tests_NodePort_with_L7_Policy/

[code]

etcd-operator log:
[code]

[74bc23fd_K8sServicesTest_Checks_service_across_nodes_with_L7_policy_K8sFoo_Tests_NodePort_with_L7_Policy.zip](ht

[2018-11-20 21:34] joestringer commented on #6268
The same logs are seen in the k8s 1.8 failure for the same test.

[2018-11-21 14:35] warbaque opened #6272 "Deploy cilium policies with kubernetes without specifying pod namespace"
## Proposal / RFE

I'd like to handle policies between mesos, kubernetes and docker, preferrably using kubernetes to apply cnp's. Currently whenever you apply policies, `k8s:io.kubernetes.pod.namespace` is added to matchLabels by default.

Option to deploy rules without pod namespace would be nice.

**policy.yaml**

[code]

**generated policy**

[code]

[2018-11-21 16:05] ianvernon opened #6273 "BPF configmap follow-up work"
Incomplete list of follow-up tasks:

* Datapath Improvements
  * [ ] Update for Egress
      - [ ] IPv4
      - [ ] IPv6
* Plumb members of `pkg/maps/configmap/EndpointConfig` structure into datapath.
* Userspace improvements
  * [ ] Enable CLI dump tool for new config option
  * [ ] Add the output of this to bugtool
* Misc
  * [ ] Add regression test for policy allow with no policy enforcement

[2018-11-21 19:23] raybejjani opened #6276 "Update CNP CRD Validation for toFQDNs.matchPattern, and L7 DNS protocol"
These were added in https://github.com/cilium/cilium/pull/5641/ but the validation doesn't exist. The spec for matchName and matchPattern are simple enough that the regex validation can do a basic check for illegal characters.

[2018-11-21 19:43] joestringer commented on #6264
#6266 tests the basic plumbing of using an (allow-all) L7 policy with nodeport; more rigorous testing would also test that the L7 policy allows/denies as expected via nodeport.

[2018-11-21 21:51] joestringer opened #6279 "CI failure: Services Policies tests with service performing L4 port mapping: Making HTTP requests to service with multiple ingress policies"
Branch: master
Test: Runtime: Services Policies: Making HTTP requests to service with multiple ingress policies

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4866/testReport/junit/(root)/runtime/RuntimeLB_Services_Policies_tests_with_service_performing_L4_port_mapping/

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
[code]

[0720b1a0_RuntimeLB_Services_Policies_tests

[2018-11-21 22:38] joestringer opened #6280 "Investigate TCP CT table cleanup for short-lived connections"
### General Information

- Cilium version: 1.3.0
- Kernel version: 4.9 (kops debian stretch)
- Orchestration: k8s

### Summary

A user in Slack reported the TCP CT table becoming full, with these messages in Cilium v1.3.0:

[code]
[code]

TCP-based DNS is in use, and due to the kernel version there is no LRU.

Even with TCP-based DNS, the connections should be cleaned up once the connection comple

[2018-11-21 23:03] ianvernon opened #6282 "policy: parse label-based L3, L4, and CIDR in one function that iterates over rules"
This reduces the number of iterations over all of the rules in the repository, as well as the number of `Matches` operations which are performed, which are quite costly.

[2018-11-21 23:27] joestringer commented on #6280
This part should be fairly normal, I believe this means we saw non-SYN packets.

Looks like this is a fairly run-of-the-mill "CT became full because the entries aren't due to expire for another XX hours" type issue. We should investigate whether the CT entries are properly cleaned up when connections close.

[2018-11-21 23:41] joestringer commented on #6280
Another relevant log:

[code]

[2018-11-21 23:57] joestringer commented on #6268
Hit again on master:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1930/

[2018-11-22 00:00] joestringer commented on #6122
Seen again on master:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1929/execution/node/89/log/?consoleFull

[2018-11-25 21:21] #5932 closed, assigned to nobody

[2018-11-25 21:21] #6051 closed, assigned to eloycoto

[2018-11-25 21:21] #5812 closed, assigned to nobody

[2018-11-25 21:21] #6268 closed, assigned to nobody

[2018-11-26 01:14] jrajahalme commented on #5867
Happened again on a PR build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8179/execution/node/96/log/?consoleFull

[2018-11-26 15:28] raybejjani opened #6292 "toFQDNs with no IP data do not block traffic"
When a toFQDN rule has L4/L7 sections, it will incorrectly interpret the L3 as a wildcard allow-all. This means it isn't really enforcing what one expects. When IPs are inserted into toCIDRSet the enforcement is correct.
This policy works incorrectly with our minikube GSG:
[code]
Both of these work when they should not (the port is enforced, as would a L7 HTTP rules)
`kubectl exec xwing -- curl -s

[2018-11-26 17:17] raybejjani commented on #6221
I think https://github.com/cilium/cilium/pull/6250 fixed this, so I'll close this optimistically.

[2018-11-26 17:17] #6221 closed, assigned to raybejjani

[2018-11-26 22:38] ianvernon opened #6294 "CI: builds are timing out sporadically"
TODO:

Determine if this is due to a specific set of VMs / machines in a specific region in our infrastructure that are the cause of timeouts.

Analyze Cilium logs / load from builds.

Track builds here.

[2018-11-27 06:09] tgraf opened #6296 "Rate limiter for endpoint regenerations"
Exceeded a certain limit of endpoint regenerations per minute no longer adds value to the latency of implementing changes.

- [ ] Add rate limiting to endpoint regenerations
- [ ] Allow for bursts to continue allowing for quick initial transitions.

[2018-11-27 08:29] #6222 closed, assigned to brb

[2018-11-27 18:24] ianvernon commented on #6294
Master build failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1951/flowGraphTable/

[2018-11-27 18:24] joestringer commented on #6280
Confirmed that cleanup is not operating as expected with simple curl to google:

[code]

[2018-11-27 18:25] ianvernon opened #6303 "CI: various images stuck in ContainerCreating state in K8s tests"
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1948/execution/node/103/log/?consoleFull

[2018-11-27 18:27] ianvernon commented on #6303
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1947/testReport/junit/k8s-1/12/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[2018-11-27 18:28] ianvernon opened #6304 "CI: downgrade test got stuck"
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1943/execution/node/103/log/?consoleFull

[2018-11-27 18:29] ianvernon commented on #6303
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1942/testReport/junit/k8s-1/12/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[2018-11-27 18:33] ianvernon commented on #6303
Possibly related - Kafka broker couldn't come up in the runtime tests either:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1941/execution/node/101/log/?consoleFull

[2018-11-27 19:22] joestringer opened #6305 "LLC frames are dropped due to "Invalid source ip""
Seen in local microk8s environment:

[code]

The drop reason is a bit misleading, as this isn't even IP. We could have a distinct error code for this case.

[2018-11-27 20:41] aanm opened #6307 "[CI]: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
[code]

[e413417a_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2621751/e413417a_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip)

2nd time:

[da2b440e_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2621764/da2b440e_K8sUp

[2018-11-27 21:41] aanm opened #6308 "BUG: Unable to release old endpoint identity"
[code]

Shouldn't this be happening if the return error == nil?
https://github.com/cilium/cilium/blob/1ed93b52c60103108d849790ecf3b1b129b62886/pkg/endpoint/endpoint.go#L2019-L2029

This happened in
[20bf2a38_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2621939/20bf2a38_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_st

[2018-11-28 16:59] ianvernon commented on #6294
Happened in a PR as well:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8246/

[2018-11-28 17:13] ianvernon opened #6315 "CI: egress connectivity to world test failed"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4937/testReport/junit/k8s-1/12/K8sPolicyTest_Basic_Test_Validate_to_entities_policies_Validate_toEntities_World/

[2018-11-28 17:13] ianvernon commented on #6294
Master build failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1951/

[2018-11-28 17:14] ianvernon commented on #6294
Master build failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1955/

[2018-11-28 17:15] ianvernon commented on #6307
Happened in https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1957/testReport/junit/k8s-1/8/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/ as well

[2018-11-28 17:16] ianvernon commented on #5384
Failed again - https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4940/testReport/junit/k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

[2018-11-28 17:17] ianvernon commented on #6243
Happened again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4941/testReport/junit/k8s-1/12/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

[2018-11-28 22:54] joestringer commented on #6280
For some reason, the fin TCP flag isn't being picked up properly here:

https://github.com/cilium/cilium/blob/f0fdb07725f771be28f330519503f4818a251492/bpf/lib/conntrack.h#L377-L380

[2018-11-29 01:06] joestringer opened #6319 "Remove host-allows-world"
The `host-allows-world` flag has been around for multiple releases, and everyone should have migrated to the new behaviour. We should be able to remove the flag from the daemon, the related code, and the documentation at https://cilium.link/host-vs-world/. Don't forget to update the link to point to the v1.4 version of this link.

[2018-11-29 06:28] paolodedios opened #6320 "Cilium needs ip6tables rules to route IPv6 packets"
### General Information ###

Cilium version: 1.3.0
Kernel version: 4.19.5
Operating System: Centos 7.5
Orchestration system: Kubernetes 1.12.2

### Summary ###

On dual IPv4/IPv6 network stack hosts, Cilium does not properly route packets to pods that initiate connections to IPv6 addresses. Recursive DNS queries that attempt to resolve AAAA addresses to nameservers, for example, get lost when Cili

[2018-11-29 06:33] paolodedios commented on #6320
### Temporary Workaround ###

After a discussing this issue with @tgraf and @aanm on Slack, the following temporary workaround was established.

1. Install an ip6tables MASQUERADE rule for IPv6 traffic leaving the node.

[code]

2. On CentOS/RHEL/Fedora systems remove the default REJECT rules on the INPUT and FORWARD chains.

[code]

3. On CentOS/RHEL/Fedora systems, [Reverse Path Forwarding](http

[2018-11-29 11:20] #5138 closed, assigned to nobody

[2018-11-29 11:25] aanm opened #6321 "avoid running cilium if any of the local host IP addresses conflict with any other node's podCIDR"

[2018-11-29 12:23] mrik3110 opened #6323 "Kubernetes ClusterIP services: Wrong source IP in case of IP fragmentation"
## Bug report

**General Information**

- Cilium version: 1.3.0
- Kernel version: 4.15.0-1030-azure # 31~16.04.1-Ubuntu SMP Tue Oct 30 19:40:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use: Kubernetes 1.10.9 and 1.12.1

**Summary**

When a pod accesses a Kubernetes Service (ClusterIp), if a response packet (in our case a UDP packet) is fragmented, the first fragmen

[2018-11-29 17:24] aanm opened #6328 "Add CNP for cilium-etcd-operator and friends"
As we will start deploying cilium-etcd-operator by default with Cilium daemonset we should start thinking on setting a CNP that will only allow traffic from `cilium-etcd-operator` to cilium agent and vice versa.

[2018-11-29 18:29] nebril opened #6330 "[FQDN]: research rfc2673 (Binary Labels)"
We might want to check our fqdn implementation for dns names that are allowed by above RFC and test for wanted behaviour.

[2018-11-29 21:41] aanm commented on #6307
happened here as well https://github.com/cilium/cilium/pull/6331

[2018-11-29 22:41] ianvernon opened #6337 "Unit Test failure: AllocatorConsulSuite.TestSelectID"
Link: https://api.travis-ci.org/v3/job/461507040/log.txt

Failure output:

[code]

I hit this in a PR that doesn't change allocation of IDs at all, so I believe this is a regression in master.

[2018-11-29 22:47] #6081 closed, assigned to nobody

[2018-11-30 15:04] aanm opened #6341 "CI: K8sServicesTest Checks service across nodes Tests NodePort"
[code]

[585281bc_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2633827/585281bc_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2018-11-30 15:08] aanm opened #6342 "CI: K8sTunnelTest VXLan Check VXLAN mode"
[code]

[code]

[e1f226c7_K8sTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2633840/e1f226c7_K8sTunnelTest_VXLan_Check_VXLAN_mode.zip)

[2018-11-30 15:57] ianvernon commented on #6307
Happened in a PR build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8317/testReport/junit/k8s-1/8/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

[2018-11-30 17:29] ianvernon commented on #6303
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1973/testReport/junit/k8s-1/8/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[2018-11-30 17:29] ianvernon commented on #6307
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1965/testReport/junit/k8s-1/8/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

[2018-11-30 17:30] ianvernon commented on #6303
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1960/

[2018-11-30 17:31] ianvernon commented on #6122
Seen again on master: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1976/testReport/junit/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts/

[2018-11-30 17:33] ianvernon opened #6347 "CI: policy trace had unexpected identity returned"
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1978/testReport/junit/(root)/runtime/RuntimePolicyImportTests_checks_policy_trace_output/

Failure output:

[code]
Logs: [9cc32cb8_RuntimePolicyImportTests_checks_policy_trace_output.zip](https://github.com/cilium/cilium/files/2634377/9cc32cb8_RuntimePolicyImportTests_checks_policy_trace_output.zip)

[2018-11-30 17:35] ianvernon commented on #6122
Seen again on master: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4951/testReport/junit/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_L3_L4_policies_still_work_while_Cilium_is_restarted/

[2018-11-30 17:39] ianvernon opened #6348 "CI: failure due to panic found in logs during removal from idpool"
Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4951/testReport/junit/k8s-1/8/K8sServicesTest_External_services_To_Services_first_endpoint_creation/

Output:

[code]

Logs: [78f778d3_K8sServicesTest_External_services_To_Services_first_endpoint_creation.zip](https://github.com/cilium/cilium/files/2634405/78f778d3_K8sServicesTest_External_services_To_Services_first_endpoint_creation.zip

[2018-11-30 17:42] ianvernon commented on #5384
And again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4954/testReport/junit/k8s-1/12/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

[2018-11-30 17:58] #6280 closed, assigned to nobody

[2018-11-30 17:58] ianvernon commented on #6243
Happened again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4964/testReport/junit/k8s-1/12/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

[2018-11-30 18:00] ianvernon opened #6349 "CI: no logs were gathered for RuntimeCLI Test Failure"
Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4969/

Modify the test locally to induce failure, and see if logs are gathered, and if not, fix the test to correctly gather logs in the failure case.

The corresponding PR should provide evidence that the test logs are gathered in the failure case.

[2018-11-30 18:01] ianvernon commented on #6243
Again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4972/

[2018-11-30 18:01] ianvernon commented on #6294
Again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4963/

[2018-11-30 18:06] ianvernon commented on #6135
Occurred again: https://travis-ci.org/cilium/cilium/builds/461897887?utm_medium=notification&utm_source=email

[2018-11-30 18:09] ianvernon opened #6350 "CI: Cilium agent restarted after 1.3 downgrade, resulting in API being unavailable"
Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4955/testReport/junit/k8s-1/12/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

Failure output:

[code]

Note that endpoints are still in `regenerating` and `waiting-for-identity` state.

Logs:  [35715f45_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/ciliu

[2018-11-30 18:11] tgraf opened #6351 "Reproduce reported performance deficits"
The following article has reported several performance related issues:
https://itnext.io/benchmark-results-of-kubernetes-network-plugins-cni-over-10gbit-s-network-36475925a560

Scripts:
https://github.com/InfraBuilder/k8s-cni-benchmark

This issue will track the investigation and resolution.

Blog post with published analysis:
https://cilium.io/blog/2018/12/03/cni-performance

### Performance regr

[2018-11-30 19:19] ianvernon commented on #6303
From
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1960/ :

[code]

Looks like there are issues pulling the image, which is what I expected. This is not a Cilium issue. This is most likely due to the ongoing networking issues, which have caused build failures when pulling VMs as well.

However, this image should be cached in the VM to reduce test turnaround time. I'll look into

[2018-11-30 22:07] ianvernon commented on #6347
I believe this is due to test pollution leftover from the newly added FQDN tests.

[2018-11-30 22:56] ianvernon commented on #6347
I can't reproduce this locally by running the `RuntimeFQDNPolicies` test, and then running the `RuntimePolicyImport` test.

[2018-12-01 09:51] #6342 closed, assigned to tgraf

[2018-12-01 18:08] aanm opened #6358 "Unable to run Cilium in fedora 29 due SELinux"
[code]

replication steps on fedora 29:

[code]

[code]

[2018-12-02 01:13] tgraf commented on #6351
I've managed to partially reproduce the performance problem on 4.15 kernels. The MTU autodetection seems to not work correctly. Manually setting the MTU and adjusting for the encapsulation headers leads to increased performance.

I can see no difference between TCP and HTTP. It is possible that due to using iperf, multiple connections versus a single curl connection can hide some of the problem in

[2018-12-03 10:47] borkmann commented on #6358
selinux on Fedora breaks cilium here.

Potentially related:

https://bugzilla.redhat.com/show_bug.cgi?id=1554002
https://bugzilla.redhat.com/show_bug.cgi?id=1575275

[2018-12-03 10:52] nirmoy commented on #6358
jfyi: can't reproduce on opensuse tumbleweed with same kernel

[2018-12-03 11:00] aanm commented on #6358
Yep it's definitely related with SELinux
[code]

[2018-12-03 11:06] borkmann commented on #6358
Potentially related: https://github.com/iovisor/bcc/issues/1532

[2018-12-03 12:58] aanm opened #6364 "Unable to run container with latest cilium"
[code]
[code]

[2018-12-03 13:26] brb opened #6365 "external kubeadm guide: installation is not working"
As https://itnext.io/benchmark-results-of-kubernetes-network-plugins-cni-over-10gbit-s-network-36475925a560 pointed out, there are some problems when installing Cilium from [the kubeadm guide](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#tabs-pod-install-3).

First, I've tried with Cilium v1.2.0 which is used in the guide. The result is that `etcd-operator` can't get schedu

[2018-12-03 14:19] nirmoy commented on #6364
@aanm I hit `level=error msg="Sending error" code=400 msg="Error creating endpoint [PUT /endpoint/{id}][400] putEndpointIdInvalid  endpoint ID cannot be 0" subsys=cilium-docker-driver`
but I couldn't not reproduce it after `cilium cleanup`

[2018-12-03 15:07] aanm commented on #6351
Autodetect mtu for VxLAN device #6368

[2018-12-03 16:30] ianvernon commented on #6347
Reopening, issue is still occurring.

[2018-12-03 16:30] ianvernon commented on #6347
Issue re-occurred in the following builds:

* https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1988/testReport/junit/(root)/runtime/RuntimePolicyImportTests_checks_policy_trace_output/
* https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1983/testReport/junit/(root)/runtime/RuntimePolicyImportTests_checks_policy_trace_output/

[2018-12-03 16:37] ianvernon commented on #6059
This is still occurring intermittently in master:

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1983/testReport/junit/k8s-1/12/K8sTunnelTest_VXLan_Check_VXLAN_mode/

Failure Output:
[code]

Logs:
[e7cf1244_K8sTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2640324/e7cf1244_K8sTunnelTest_VXLan_Check_VXLAN_mode.zip)

From Cilium logs:

[

[2018-12-03 16:54] ianvernon opened #6370 "CI: preflight check failed due to unhealthy cluster connectivity check"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4997/testReport/junit/k8s-1/8/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/

Failure Output:

[code]

Logs: [eace3fcd_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2640367/eace3fcd_K8s

[2018-12-03 17:04] ianvernon commented on #6341
@aanm this duplicates #5384.

[2018-12-03 19:34] ianvernon opened #6372 "policy: look into removing ResolveCIDRPolicy functionality"
This function is currently used to generate the list of allowed CIDRs per-endpoint. It does an iteration over all rules in the repository, which is costly in terms of matching on EndpointSelectors.

It is also used to determine the number of prefix lengths of the CIDRs which apply. @joestringer suggested we could potentially just calculate a global list of prefix-lengths across all rules, instead

[2018-12-03 22:57] tgraf commented on #6351
Blog post with detailed analysis:
https://cilium.io/blog/2018/12/03/cni-performance

[2018-12-03 23:26] joestringer commented on #5130
Similar sort of technique, this one reduces the number of instructions required for this path by 1 with Clang 3.8.1 (useful when sitting right at the limit, but not a big gain and tedious to apply in multiple places):

[code]

This builds on multiple assumptions: a positive boolean response is 1, and the difference between `DBG_IP_ID_MAP_FAILED4` and `DBG_IP_ID_MAP_SUCCEED4` is 2, so if we get the

[2018-12-03 23:43] ianvernon commented on #6303
Closing this since the underlying problem is due to network connectivity on the baremetal machines used for CI, and
https://github.com/cilium/packer-ci-build/pull/105 was merged.

[2018-12-03 23:43] #6303 closed, assigned to ianvernon

[2018-12-04 00:37] joestringer commented on #5719
Given how close to single-program limits we are right now with the standard TCP+UDP BPF programs, this might require further splitting of the IPv4/IPv6 BPF programs by L4 protocol. There may be dragons if we attempt to support this on older (at least <4.11, perhaps anything <4.14) kernels.

[2018-12-04 01:30] tgraf commented on #6364
@aanm Did you also update & restart cilium-docker? Master changed the endpoint ID allocation from the plugins to the agent so the plugins needs to be recompiled and reinstalled.

[2018-12-04 03:44] tgraf opened #6376 "clustermesh etcd connectivity failure leads to fatal log message"
Causes cilium-agent to restart when etcd connectivity to remote cluster fails.

[2018-12-04 11:38] aanm commented on #6364
@tgraf that worked!

[2018-12-04 11:38] #6364 closed, assigned to nobody

[2018-12-04 13:33] #6292 closed, assigned to raybejjani

[2018-12-04 15:59] brb commented on #4559
I've tested v1.2.5 with the mesos guide from the master:

[code]

We should probably avoid abusing `init()`. Hopefully https://github.com/cilium/cilium/pull/6286 will fix this.

Anyway, the problem is that on the provisioned VM there is only one CPU, so `/sys/devices/system/cpu/possible` contains `0` which makes https://github.com/cilium/cilium/blob/v1.3/pkg/maps/metricsmap/metricsmap.go#L226 to l

[2018-12-04 16:52] tgraf opened #6380 "Support storing certificates & keys in clustermesh secret"
Every file is treated as an etcd configuration file right now. Become more selective and only interpret actual etcd configuration file as such to avoid unnecessary controller failures.

[code]

[2018-12-04 19:30] joestringer commented on #6372
The functionality of generating the list of allowed CIDRs per-endpoint is not currently plumbed to the datapath, it is only used to determine the specific prefix lengths that are required for each endpoint to implement the CIDR policy that applies to that endpoint.

Only kernels 4.9 and 4.10 would be affected by global prefix lengths.

The best implementation of this prefix length tracking logic i

[2018-12-04 20:45] joestringer opened #6381 "Accessing NodePort via loopback address doesn't work"
When attempting to access a service behind a NodePort via `127.0.0.1:myport`, the traffic gets routed into the appropriate endpoint with the source address `127.0.0.1`. This causes the container's replies to be sent to 127.0.0.1 loopback inside the container, rather than routing back out to the host namespace to deliver to the loopback address there.

To fix this, we should perform some sort of so

[2018-12-04 21:08] aspsk opened #6382 "In IPv6 cluster routes to POD networks are not created"
## Bug report

**General Information**

- Cilium version: 1.3.90
- Kernel version: 4.15.0-32-generic (OS: Ubuntu 18.04.1 LTS)
- Orchestration system version in use: Kubernetes v1.12.3

- Links to relevant artifacts (`*.yaml` renamed to `*.txt` as github doesn't support `yaml` uploads):
  * [cilium-etcd-operator.txt](https://github.com/cilium/cilium/files/2646060/cilium-etcd-operator.txt)
  * [cili

[2018-12-04 22:06] aspsk commented on #6382
Not sure if it is related or not, but when I am attaching a new node, I can see the following in logs for a cilium pod running on the master node:
[code]

[2018-12-04 22:33] joestringer commented on #6382
@aspsk Thanks, that looks really relevant.

[2018-12-05 01:19] #5674 closed, assigned to brb

[2018-12-05 01:50] ianvernon opened #6385 "explore how to be able to support different datapath functionality across multiple kernels"
Currently, we have different behavior depending upon whether a kernel supports LPM tries or not for CIDR-based policy. However, as time goes on, we will want to do more with our BPF programs in the datapath, which may mean that we will diverge in functionality that is supported, as some feature are available in some kernels, newer kernels support higher complexity limits, etc.

[2018-12-05 02:02] ianvernon commented on #6209
`regenerate` has one function left which grabs the lock (`updateRegenerationStatistics`), as it requires the `BuildMutex` to be held based off of work I've done locally. Reducing priority of this, as the main culprits for having potential to panic while the endpoint lock is held (i.e., in `regenerateBPF`), are completed.

[2018-12-05 09:38] brb commented on #5645
One more - https://travis-ci.org/cilium/cilium/builds/463634105. Although a different test case timed out:

<details>
  <summary>Click to expand</summary>

[code]

</details>

[2018-12-05 11:56] aanm opened #6386 "Change k8s upstream tests to 1.13"
The k8s upstream tests are currently broken upstream. We should bump the version to k8s 1.13 once the tests are fixed.

https://github.com/kubernetes/kubernetes/issues/71728

[2018-12-05 17:21] aanm opened #6390 "Add FromServices ingress rule"

[2018-12-05 18:58] ianvernon commented on #5195
1.3 has been released, we can close this.

[2018-12-05 18:58] #5195 closed, assigned to nobody

[2018-12-06 04:00] tgraf opened #6393 "Cilium operator does not receive service update notifications"

[2018-12-06 04:36] TimEvens opened #6394 "Proposal: Add Cilium deployment configuration for health monitor"
We would like to have the ability to configure health monitor settings via the deployment of cilium (e.g. cni config, conflist, cilium args, etc.).  We currently deploy cilium using kubespray.  Today there are no options for us to configure the various health monitor settings, such as the **interval**.

We are planning to use the health monitor to proactively monitor the L3 reachability between ea

[2018-12-06 04:58] joestringer commented on #6394
Great thoughts. I have been involved in projects before that use an implementation of [Bi-directional Forwarding Detection](https://tools.ietf.org/html/rfc5880) (BFD) for this sort of link-monitoring and reachability. Perhaps we could use or extend something like https://github.com/jthurman42/go-bfd in the cilium-health daemon for this purpose.

Separately, there is an outstanding PR (#5713) to sp

[2018-12-07 01:58] tgraf opened #6406 "Runtime test failure in DNSProxyTestSuite"
[code]

[2018-12-07 04:30] #6380 closed, assigned to tgraf

[2018-12-07 07:21] tgraf opened #6408 "clustermesh: Directory is mistaken for"
Unclear yet why the following code does not prevent this:
[code]

[code]

Not serious but leads to unnecessary warnings in the logs

[2018-12-07 10:52] aanm commented on #6128
[8dcb668b_K8sChaosTest_Restart_with_long_lived_connections_L3-L4_policies_still_work_while_Cilium_is_restarted.zip](https://github.com/cilium/cilium/files/2656925/8dcb668b_K8sChaosTest_Restart_with_long_lived_connections_L3-L4_policies_still_work_while_Cilium_is_restarted.zip)

[2018-12-07 15:44] #6376 closed, assigned to tgraf

[2018-12-07 15:49] tgraf commented on #5212
This has been completed for 1.4.

[2018-12-07 15:49] #5212 closed, assigned to jrajahalme

[2018-12-07 15:58] BoHoehne commented on #6365
Thanks for the benchmark test.
I tested all of the cilium documentation examples and none (zero) worked out of the box.
As a result, i switched to calico.

[2018-12-07 17:34] #6393 closed, assigned to tgraf

[2018-12-07 17:46] #3563 closed, assigned to joestringer

[2018-12-07 20:33] ianvernon opened #6418 "policy: remove need for rulesSelect field in SearchContext"
## Proposal / RFE

The `SearchContext` type has a boolean flag, `rulesSelect`, which skips checking whether a rule selects the labels in the `SearchContext` or not. Instead, factor out the code in the repository / policy package which aggregates all rules that select the set of labels, then performs the analysis of the actual policy layers at L3, L4, etc. This would result in removal of the `rules

[2018-12-07 21:28] ianvernon opened #6419 "follow-up for addition of desired and realized policy state for endpoint"
* https://github.com/cilium/cilium/pull/6375#discussion_r239919505
* https://github.com/cilium/cilium/pull/6375#discussion_r239917957
* https://github.com/cilium/cilium/pull/6375#discussion_r239977609

[2018-12-07 21:32] #6406 closed, assigned to raybejjani

[2018-12-08 01:11] ianvernon opened #6420 "policy: locally store whether L4Filter allows all at L3 with boolean flag"
Performing operations involving EndpointSelectors is by far the costliest operation we have in policy calculation as the number of imported rules increases.

There have been multiple efforts to reduce the number of `Matches` operations to determine whether a rule selects a set of labels, like aggregating the list of rules which select an endpoint upfront, and then passing this list down to the var

[2018-12-08 16:56] tgraf opened #6422 "json.Unmarshal() does not guarantee to overwrite fields"
Several SharedStore users are assuming that when calling `json.Unmarshal()` on a structure that does not mark any field with `omitEmpty`, then calling `json.Marshal()` and passing that into `json.Unmarshal()` is guaranteed to overwrite all fields as long as the structure definition at `Marshal()` and `Unmarshal()` time is the same. This is *not* the case as the following unit test illustrates. The

[2018-12-09 06:48] Jack-qing opened #6424 "cilium run CrashLoopBackOff"
docker:v17
etcd:v3.1.12-linux-amd64.tar.gz
kubernetes:v1.10.11-linux-amd64
cilium:v1.0
system:ubuntu:18.04

Tutorial operation:
#
[cilium.txt](https://github.com/cilium/cilium/files/2660299/cilium.txt)

 mount BPF filesystem on all nodes
$ mount bpffs /sys/fs/bpf -t bpf
$ wget https://raw.githubusercontent.com/cilium/cilium/doc-1.0/examples/kubernetes/1.10/cilium.yaml
$ vim cilium.yaml
[adjust the

[2018-12-09 07:25] aanm commented on #6424
Hello @Jack-qing in your cilium configuration try putting the etcd endpoints in the following format:

[code]

I don't know what is your etcd configuration but usually the clients connect to the port 2379.

Also, where did you get the instructions to install cilium? Cilium 1.0 is end of life, please use cilium 1.3.0.

Let me know if that helps!

[2018-12-09 08:29] Jack-qing commented on #6424
@aanm Thank
http://docs.cilium.io/en/stable/kubernetes/install/standard/#k8s-install-standard
Official Standard Installation Guidelines

There is no meaning in the attachment. Can you explain it for me?
Look for etcd certificates in yaml

[clilum.txt](https://github.com/cilium/cilium/files/2660353/clilum.txt)

[2018-12-09 23:35] aanm commented on #6424
@Jack-qing use this configuration map:

[code]

[2018-12-10 01:32] Jack-qing commented on #6424
@aanm  Thank，

[2018-12-10 06:17] darwin67 opened #6426 "Minikube will stop when starting Istio with Cilium on Ubuntu 18.04 as host system"
## Bug report

When going through the instructions for running Istio with Cilium on minikube, minikube will always (100%) stop right after Istio's installation (shows `stopped` when ran `minikube status`).

I was running
[code]
right after starting minikube to see when pods are started when going through the guide, and I will get a connection error from kubectl right after Istio starts.

[code]

H

[2018-12-10 07:20] vadorovsky commented on #5938
It's done. @nebril, can you confirm and close?

[2018-12-10 11:02] Jack-qing commented on #6424
@aanm Hello
I need your help,
Wrong information：Readiness probe failed: level=info msg="Detected MTU 1500" subsys=mtu
Get http:///var/run/cilium/cilium.sock/v1/healthz: dial unix /var/run/cilium/cilium.sock: connect: no such file or directory Is the agent running?

ETCD To configure：
[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
[Servic

[2018-12-10 14:00] aanm commented on #6424
@Jack-qing use this configuration map:

[code]

[2018-12-10 14:34] AntonioMeireles commented on #5938
**THANKS**!

[2018-12-10 19:15] Globegitter opened #6430 "AWS ENI support"
## Proposal / RFE

Mentioned this on Slack and @tgraf mentioned to create a new issue about my request:

I have just been looking at the aws alb ingress controller (https://github.com/kubernetes-sigs/aws-alb-ingress-controller) to consider its use for us - it says traffic can be routed either through the service's nodeport (default) or directly through the pod IP if the CNI uses secondary IP addre

[2018-12-10 19:41] joestringer commented on #5700
I guess that until we upgrade our kernel, this might not be that useful (I tried it locally):

[code]

[2018-12-10 19:53] jrfastab opened #6431 "kernel: sockmap redirect sockets need to due additional TCP layer accounting"
## Bug report

Currently sockmap redirect BPF API only does socket level accounting however it omits doing tcp_wmem and tcp_rmem accounting. Because sockmap is transparent to the administrator we can not require other memory limits and should honor any existing limits.

**General Information**

Upstream kernel bug.

**How to reproduce the issue**

 Have fast client and slow(er) server. Send as muc

[2018-12-11 02:14] TCiPongor opened #6437 "cilium and coredns restart continuously due to timed out while waiting for etcd session"
## Bug report

**General Information**

- Cilium version
cilium images info ：
cilium/cilium: v1.2.2
etcd-operator images info ：
etcd-operator: v0.9.2

- Kernel version
Linux master1 4.15.0-29-generic #31-Ubuntu SMP Tue Jul 17 15:39:52 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

- kubernetes version
kubernetes：v1.11.0
kubeadm: 1.11.0-00
kubectl : 1.11.0-00
kubelet: 1.11.0-00

- steps of installation
-

[2018-12-11 07:19] jrfastab opened #6438 "kernel: sockmap support for blocking redirects"
Sockmap doesn't support blocking the rational is that it could induce head of line blocking. However in the point to point case (or if the BPF author "knows" its ok) its useful to introduce a blocking flag to the redirect API.

[2018-12-11 07:22] jrfastab opened #6439 "kernel/bpftool: sockmap and hashmap insert creates different entries"
Report from bpf Cilium channel: (Note this does not impact Cilium datapath but could cause potential confusion during debugging.)

I'm seeing different things when getting `local_port` from the sockops and from the sk_msg programs, I'm using the same functions as cilium (https://github.com/cilium/cilium/blob/fe3626c67c7/bpf/sockops/bpf_sockops.h#L56) and in the sockops program I write `key` to the

[2018-12-11 08:14] PaulFurtado commented on #4729
Any idea where this falls on the roadmap? Would really love to use cilium on AWS with the lyft-ipvlan plugin  or similar.

By dedicating an ec2 VPC subnet to kubernetes nodes, it's possible for us to carefully pre-allocate contiguous subnets to nodes, however, it'd be awesome to avoid needing to do that if you're planning on tackling this issue soon enough.

Thanks!

[2018-12-11 12:20] Jack-qing commented on #6424
@aanm Thanks very much
cilium Much better than before.

-masters: Three machine
cilium failed
[erres.txt](https://github.com/cilium/cilium/files/2667431/erres.txt)

Can not find  problem. Help analysis
Report errors：
Get http:///var/run/cilium/cilium.sock/v1/healthz: dial unix /var/run/cilium/cilium.sock: connect: no such file or directory Is the agent running?

-slaves： Three machine
cilium runni

[2018-12-11 13:38] aanm commented on #6424
@Jack-qing use this file
wget https://raw.githubusercontent.com/cilium/cilium/v1.3.0/examples/kubernetes/1.10/cilium.yaml

[2018-12-11 17:30] joestringer opened #6440 "CI: SERVFAIL in k8s-1.8.K8sPolicyTest Basic Test Validate to-entities policies Validate toEntities All"
Despite `host` successfully resolving the address of www.google.com for both IPv4 and IPv6, it subsequently failed with SERVFAIL in PR #6435.

[code]

Link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8529/testReport/k8s-1/8/K8sPolicyTest_Basic_Test_Validate_to_entities_policies_Validate_toEntities_All/
Zip:
[b77e86cc_K8sPolicyTest_Basic_Test_Validate_to-entities_policies_Valida

[2018-12-11 17:38] #6276 closed, assigned to raybejjani, nebril

[2018-12-11 18:59] joestringer opened #6441 "CI: k8s-1.8 cluster not ready before running preflight checks"
`CI:  k8s-1.8.K8sHealthTest checks cilium-health status between nodes`

In PR #6435 I hit an issue where in the k8s-1.8 VM, the preflight checks failed in the first test run. Inspecting the logs, Cilium has restarted multiple times. The most recent restart contained these final log messages:

[code]

It seems like perhaps the initial bootstrapping in this VM was not complete before starting to run

[2018-12-12 04:02] Jack-qing commented on #6424
@aanm Thank
Find no solution  Ask for your help

In accordance with the connection：
wget https://raw.githubusercontent.com/cilium/cilium/v1.3.0/examples/kubernetes/1.10/cilium.yaml

To configure yaml：
[cilium.txt](https://github.com/cilium/cilium/files/2670381/cilium.txt)

operation：
kubectl create secret generic -n kube-system cilium-etcd-secrets --from-file=etcd-ca=/opt/ssl/ca.pem --from-file=et

[2018-12-12 04:07] ianvernon opened #6444 "Documentation: update docs for cutting release to include building cilium operator image"

[2018-12-12 06:32] Jack-qing commented on #6424
@aanm I'm sorry. I have many questions.
I found the problem.

cilium file run  Need 2 containers
busybox containers Operating unsuccessfully，this busybox can running  The problem can be solved.

image: docker.io/cilium/cilium:v1.3.0
image: docker.io/library/busybox:1.28.4

 spec:
      serviceAccountName: cilium
      initContainers:
        - name: clean-cilium-state
          image: docker.io/li

[2018-12-12 17:45] iaguis commented on #6439
What I'm doing to get this is the following:

I have a sockops program attached to the root cgroupv2 that extracts the key with one of the [cilium functions](https://github.com/cilium/cilium/blob/fe3626c67c7/bpf/sockops/bpf_sockops.h#L56) and, if the destination IP is localhost, adds it to the sockmap with swapped source/destination tuples.

Then I have a sk_msg program attached to the sockmap tha

[2018-12-12 20:52] #4559 closed, assigned to brb

[2018-12-12 21:20] joestringer opened #6447 "CI: TestOnDataNoPolicy proxylib unit test failure on Travis"
[code]

Link: https://travis-ci.org/cilium/cilium/builds/467197962?utm_medium=notification&utm_source=email
Log: [travis-467197963-log.txt](https://github.com/cilium/cilium/files/2673552/travis-467197963-log.txt)

[2018-12-12 21:22] joestringer commented on #6447
Similar-looking failure on previous master build:

Link: https://travis-ci.org/cilium/cilium/builds/467194555
Log: https://api.travis-ci.org/v3/job/467194556/log.txt

[code]

[2018-12-12 22:16] joestringer commented on #1258
This issue appears to be stale, closing.

[2018-12-12 22:16] #1258 closed, assigned to nobody

[2018-12-12 22:17] joestringer opened #6448 "Unable to release endpoint ID"
Upon startup with master (and likely v1.4, though not yet confirmed), I see this kind of message littering the logs:

[code]

[2018-12-12 22:58] joestringer commented on #3282
FYI #6443 intends to make it much easier to detect when the CT map can't be opened because the filesystem path doesn't exist, which would make my earlier proposal easier to implement.

[2018-12-13 00:45] joestringer opened #6449 "CI: runtime.RuntimePolicyImportTests checks policy trace output"
[code]

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2034/testReport/(root)/runtime/RuntimePolicyImportTests_checks_policy_trace_output/
Zip:
[184607d6_RuntimePolicyImportTests_checks_policy_trace_output.zip](https://github.com/cilium/cilium/files/2674092/184607d6_RuntimePolicyImportTests_checks_policy_trace_output.zip)

[2018-12-13 00:46] joestringer commented on #6449
@ianvernon potentially related to https://github.com/cilium/cilium/pull/6375 ?

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2031/

[2018-12-13 07:12] joestringer commented on #6347
This issue reoccurred several times today on master (see #6449).

[2018-12-13 07:12] joestringer commented on #6449
Duplicate of #6347.

[2018-12-13 07:12] #6449 closed, assigned to ianvernon

[2018-12-13 18:00] aanm commented on #6444
Do not forget about the dockerfile location

[2018-12-13 19:55] ianvernon opened #6453 "daemon: make cache sync timeout configurable"
Make this timeout configurable.

[2018-12-13 21:05] joestringer commented on #3522
Resolved in https://github.com/cilium/cluster-diagnosis/commit/9a45f7ac34f73eb3b0407e7c515f20a24083fc66 / https://github.com/cilium/cluster-diagnosis/commit/62948f03766f386acdec0c28ef90720675e9bd84.

[2018-12-13 21:05] #3522 closed, assigned to nobody

[2018-12-14 01:49] joestringer opened #6454 "Cilium IPCache inconsistent for node IPs in cluster"
**General Information**

- Cilium version: 1.2.6 88f6431
- Kernel version: 4.14.81-coreos

**Background**

- The cluster had previously been running v1.3.0

**Issue**

Connectivity from a pod to the local node flips between working and not working.

CIDR+L4 policy is written to allow connectivity to all node IPs, however this doesn't appear to work correctly.

**Symptoms**

On different nodes, the

[2018-12-14 02:03] joestringer commented on #6454
~~Cilium v1.3.0 is not affected by this, but has the same output of the ipcache commands above.~~

Upon upgrade to v1.3.0, the behaviour did not exhibit, however after some time this behaviour returned.

[2018-12-14 03:36] Jack-qing commented on #6424
@aanm  Hello

Why masters node：
Report errors：
Error from server: Get https://k8s-masters1:10250/containerLogs/kube-system/cilium-29lvx/cilium-agent?follow=true: dial tcp: lookup k8s-masters1 on 127.0.1.1:53: no such host

127.0.1.1：53  because  ubnntu There's a local one next. dns Service Be called dnsmasq It is from NetworkManager control

root@guyi-KVM:/home/guyi# kubectl get pods --all-namespa

[2018-12-14 18:41] joestringer commented on #6454
For what it's worth, looking at the ipcache, all of the `cilium_host` IP addresses (typically 10.2.x.1/32 in the node's CIDR range) are being mapped to the host identity (1). However only the local node's physical (ie outward-facing) IP is considered host from an ipcache perspective. This means that traffic from local pods to node addresses may be considered using a CIDR identity or the host ident

[2018-12-14 19:11] ianvernon commented on #6454
One question I have is how we are affected during downgrade from 1.3.0 --> 1.2.6. This is because we removed the cluster identity in 1.3 (https://github.com/cilium/cilium/pull/5581). So, I believe that all nodes in the cluster are allocated their own CIDR identity if traffic is to be allowed to them by policy. However, during downgrade to v1.2.6, the cluster identity is reintroduced. But, the iden

[2018-12-14 20:30] tgraf opened #6457 "Do not fail agent when etcd connection attempt times out"
Failing the agent can make it complicated to get everything up and running as exponential backoff can cause cilium to not be running for a while which can delay cilium-etcd from bootstrapping. This makes troubleshooting more difficult.

[2018-12-14 20:31] tgraf opened #6458 "Provide better error message on endpoint create timeout"
API endpoint creation timeout currently returns a generic `context deadline exceeded` error which is not descriptive. Return an error that indicates which operation timed out to determine whether it is a kvstore or apiserver connectivity issue.

[2018-12-14 20:31] aanm commented on #6457
Agree, we can increase the timeout for 10 minutes or, since we can reach the kube-apiserver at that time, remove the timeout if we know there's an etcd-operator involved.

[2018-12-14 21:08] #5938 closed, assigned to nobody

[2018-12-14 21:09] aanm commented on #5700
@joestringer Don't forget that we have an developer VM with kernel net-next available as well :smile:

[2018-12-14 21:14] aanm commented on #6454
@joestringer I don't fully understand what is the problem here, you were expecting `172.0.52.103/32` to have identity 1 on both nodes?

[2018-12-14 21:20] aanm commented on #6424
Hello @Jack-qing !

sorry for the slow response, I was at KubeCon this week.

Are you still facing any issues?

`kubectl get pods --all-namespaces -o wide` should show you the Cilium pod status. They should all be in `Running` state.

[2018-12-14 21:24] aanm commented on #6437
Hello @PTEpzb!

sorry for the slow response, I was at KubeCon this week.

Please follow the following steps and let me know if you're still facing issues:
[code]

[2018-12-14 21:24] ianvernon commented on #6420
Fixed by #6432 .

[2018-12-14 21:24] #6420 closed, assigned to ianvernon

[2018-12-14 21:27] ianvernon commented on #6347
Picking up work on this again now.

[2018-12-14 21:33] joestringer commented on #6454
@aanm If someone writes an egress CIDR policy that allows sending packets to each node in the cluster, then each node can access any other node but not the current node, even if the address of the local node is included in the CIDR policy. This is because the local node's IP is mapped to host identity.

On the flip side, if someone writes an egress policy to allow "to host", then it only allows se

[2018-12-14 21:35] aanm commented on #6454
@joestringer now I'm even more lost, I thought by default we were always allowing traffic to/from host.

[2018-12-14 21:53] ianvernon commented on #6454
@aanm IIRC we only allow ingress traffic from the host by default, not egress.

[2018-12-14 21:54] ianvernon commented on #6347
The most recent documented failure:
https://github.com/cilium/cilium/issues/6449#issue-390470923

[code]

When retrieving the identities with label `container:id.httpd2`, only one was returned :

[code]

But, `cilium identity list` in the bugtool shows the identity from the ToFQDNs test still exists:

[code]

I don't understand why `29722` doesn't show up in the output of `cilium identity get`, bu

[2018-12-14 22:05] ianvernon commented on #6347
The behavior where the identity is still in the output of `cilium identity list` but not in the output of `cilium identity get` is easy to reproduce.

1. Run the RuntimeToFQDNs test:
[code]

2. Check that `cilium identity list` contains an identity with label `container:id.httpd2`:

[code]

but `cilium identity get --label=container:id.httpd2 -o json` returns nothing:
[code]

[2018-12-14 22:06] ianvernon commented on #6347
Turns out you need to specify *all* labels for the identity to resolve with `cilium identity get`, not a subset of the labels:

[code]

This differs from how rules are computed in Cilium, because label matching does not require exact matching of labels (i.e., if a rule allows traffic from anything with label id=app1, it will allow traffic from the following identities: {id=app1}, {id=app1, env=pro

[2018-12-14 22:44] joestringer commented on #6454
@ianvernon bingo.

When the policy is working as we'd like it to, here's the policymap:

[code]

When it's not working as intended:

[code]

[2018-12-14 23:14] ianvernon commented on #6454
@joestringer I still don't fully grasp what exactly the traffic is that should be allowed. Is the goal to allow traffic to all hosts within the cluster on a certain port, not just the localhost?

[2018-12-14 23:29] joestringer commented on #6454
@ianvernon yes.

[2018-12-14 23:32] ianvernon commented on #6454
@joestringer ok, thanks.

The next question I have is, does this affect 1.3, or is this only an issue in downgrade from 1.3 --> 1.2.x? AFAICT this was only observed in the downgrade scenario.

[2018-12-15 06:55] Jack-qing commented on #6424
@aanm Hello  to bother you.

I did the following to make it look successful

kube-proxy install All （masters / slaves）

It's beautiful to see the results.    Printing Cilium logs   Find out this problem

root@guyi-KVM:/home/guyi# kubectl logs -f cilium-29lvx -n kube-system
Error from server: Get https://k8s-masters1:10250/containerLogs/kube-system/cilium-29lvx/cilium-agent?follow=true: dial tcp: l

[2018-12-16 17:02] #6347 closed, assigned to ianvernon

[2018-12-16 17:07] tgraf commented on #6424
@Jack-qing Do you have a DNS server running at 127.0.0.1:53?

[2018-12-16 17:14] tgraf commented on #4729
@PaulFurtado Discussed this with some users at KubeCon. We will move this into 1.5

[2018-12-16 18:13] tgraf opened #6460 "doc: sphinx-version-warning is breaking build"
[code]

[2018-12-16 19:55] aanm opened #6462 "Unable to build PDF documentation in readthedocs"
https://github.com/rtfd/readthedocs.org/issues/5008

[2018-12-16 23:07] #1537 closed, assigned to nobody

[2018-12-17 01:57] TCiPongor commented on #6437
Hi @aanm !
thanks for your reply,I will reply to you in time after following the steps.

[2018-12-17 02:10] Jack-qing commented on #6424
@tgraf Hello     ubuntn Is a local DNS Service

It bothers me. I tried many different ways to solve the problem.

Investigation reasons：

Under ubuntu, there is a local DNS service called dnsmasq, which is controlled by Network Manager.
It listens for a local address, - - listen-address = 127.0.1.1, which is a localloopback address The real DNS server address is maintained by this service manageme

[2018-12-17 03:26] wenma opened #6463 "High IO ratio when cilium use clang to do something"
cilium version: v1.3.0
My server has a high IO performance, near 100%, and crash down after few seconds.  I use the ```iotop``` tools catched some metrics, it shows the ```clang```'s problem (is top IO ratio) :
[code]
seems to be a cilium problem, why and when the cilium compile the C file using clang ??

[2018-12-17 11:37] redbaron commented on #504
Can't wait for it to happen.

[2018-12-17 11:42] redbaron commented on #2942
We are using this feature heavily with Calico

[2018-12-17 16:35] joestringer commented on #6463
These appear to be the kernel probes being compiled, which we use to detect whether Cilium will successfully run. Usually these happen once at startup and finish quickly enough that you don't even notice. Do these processes take a significant amount of time to run? How much CPU is allowed for Cilium?

Can you provide more details about "crash down after a few seconds"? If Cilium crashes, then ther

[2018-12-17 20:15] ianvernon commented on #1953
Basic benchmark has been added, closing this.

[2018-12-17 20:15] #1953 closed, assigned to ianvernon

[2018-12-17 20:23] ianvernon commented on #3060
@aanm IIRC this has been done, so can this be closed?

[2018-12-17 20:30] #6315 closed, assigned to nobody

[2018-12-17 20:30] ianvernon commented on #6315
Build link has expired, so I closed the issue.

[2018-12-17 20:31] ianvernon commented on #6294
AFAICT this has stopped occurring. We were having issues with the baremetal on which the CI is ran, but we haven't had spurious timeouts in some time.

[2018-12-17 20:31] #6294 closed, assigned to nobody

[2018-12-18 11:50] #5751 closed, assigned to nobody

[2018-12-18 13:33] #3060 closed, assigned to nobody

[2018-12-18 18:09] tgraf opened #6469 "Don't restore host addressing when receiving PodCIDR from Kubernetes"
The host addressing restore is performed even when Kubernetes is used to retrieve the PodCIDR. This can cause permanent CIDR mismatch errors if a cilium_host device has already been created. When receiving the PodCIDR from Kubernetes, we should trust it and change the CIDR prefix.

Possible complications:
- Existing endpoints with the old CIDR range in place

[2018-12-18 19:24] ianvernon opened #6470 "sync-identity-to-k8s-pod controller left behind, causing unhealthy cilium controller state"
Running a version of Cilium close to master with no code-changes to Cilium itself (only CI-related changes), and I see the following sometimes after running the Istio test:

[code]

No such pod is running:
[code]

[2018-12-18 19:27] ianvernon commented on #6470
I wonder if there is a race between when the endpoint is deleted vs. when the following code's `RUnlock` is invoked, resulting in an error being returned ?

https://github.com/cilium/cilium/blob/3fa6e027cf3720a95e77c897b730b7eed3c57bd5/pkg/endpoint/policy.go#L462-L500

That does not explain why the controller isn't deleted / removed from the list of running controllers, though.

[2018-12-18 20:41] ianvernon opened #6471 "Multiple endpoints created in cilium for the same pod"
I am working on a PR which re-enables the Istio CI test. The test failed in a recent run.

Build link : https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8597/testReport/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

The above link shows that the test failed because cilium endpoints did not go into 'ready' state in time:

[code]

All pods in the

[2018-12-18 20:41] ianvernon commented on #6471
Logs: [f7cc590c_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2692195/f7cc590c_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip)

[2018-12-18 20:52] ianvernon commented on #6471
I searched the logs of the previous instance of the `cilium-gr4sd` pod, which crashed due to deadlock detection being hit:

[code]

I checked the logs for anything involving the `k8s:app=details` label:

[code]

Note that the containerID=59da919760 .

Endpoint has ID 0:

[code]

Soon after it is assigned an identity, it gets endpoint ID 2972:
[code]

Then 5 minutes later, a different containerID (

[2018-12-18 20:56] ianvernon commented on #6471
The endpoint IDs in my prior comment differ from those in the output from the test because the cilium pod restarted, and assigned different endpoint IDs to the pods when it restarted.

[2018-12-18 20:59] tgraf commented on #6471
It's possible that the endpoint was locked throughout handling the CNI delete after the CNI add timed out and thus lead to the endpoint continue to exist.

[2018-12-18 20:59] tgraf commented on #6471
@ianvernon What makes you believe that this is a regression?

[2018-12-18 21:01] ianvernon commented on #6471
@tgraf I was under the impression that the cardinality of a pod to an endpoint is always 1:1, and that the breaking of that assumption may introduce undefined behavior in cilium.

[2018-12-18 21:04] tgraf commented on #6471
@ianvernon It does introduce resource waste. I'm wondering what makes you believe this is a regression.

[2018-12-18 21:10] ianvernon commented on #6471
@tgraf from a user's perspective, it appears that there are two endpoints corresponding to the same pod, and thus both could be trying to modify the datapath for the same Kubernetes pod. I was not aware that we have the possibility you mentioned above in which one of them is a leftover cilium endpoint that was deleted and is leftover, and thus isn't hooked up to any running pod. I have never obser

[2018-12-19 19:06] danwent commented on #6381
From other reports, it seems like this issue is just an issue for the worker node where the destination pod is running.   The SNAT seems to happen properly when the destination pod is running on a different node.

[2018-12-19 19:24] #6457 closed, assigned to tgraf

[2018-12-19 20:15] joestringer opened #6478 "clean-cilium-state option doesn't clean up host device"
Enabling the `clean-cilium-state` option in the k8s YAMLs doesn't clean up the host device, like what `cilium cleanup` would do. We should converge these implementations.

[2018-12-19 21:27] joestringer commented on #6381
Possibly broken by https://github.com/cilium/cilium/pull/5608.

[2018-12-19 22:07] joestringer opened #6480 "Update README with latest talk links"

[2018-12-19 23:38] tgraf commented on #6351
* CNI default mode has been changed
* IPv6 has been made optional and switched off by default
* Several minor optimizations regarding memory have been made. What remains seems to mainly caused by imported golang dependencies.

[2018-12-20 00:39] tgraf opened #6485 "Make kvstore timeout configurable via option"
The initial kvstore timeout is hardcoded via `initialConnectionTimeout` in `pkg/kvstore/etcd.go`. Make it configurable via a kvstore option.

[2018-12-20 16:16] tgraf opened #6491 "CONFIG_MAP bpf map created"
A file called `CONFIG_MAP` is created in `/run/cilium/bpffs/tc/globals/` which indicates that a BPF program is created which does not have the CONFIG_MAP define set.  Is is likely one of the global programs.

[2018-12-20 23:40] joestringer commented on #6491
~~Which kernel?~~

Ah, I see what you man about it likely being the global programs. Perhaps the simplest fix would be to wrap the config-map declaration in the BPF side with `#ifdef CONFIG_MAP ...`.

[2018-12-21 15:30] halfa commented on #4541
We encountered this (or something closely related) today, when 6 pods were scheduled at the same time on one node. The pod network sandbox creation was failing and the logs were pretty similar. Running k8s 1.12.3 and cilium v1.3.0. We deleted the affected deployments and recreated them and the issue went away.

[2018-12-21 16:09] felipejfc opened #6499 "Deleting cilium pods messes with hostport mappings"
Hi guys, we've been using cilium in production for some time now and our kubernetes use case includes a lot of pods that runs with hostPort (using portmap plugin).

We observed today that these pods became unreachable by the hostport after a cilium update, so after some research I found that after I restart cilium pods, iptables rules that are necessary for hostPort to work always get deleted, to

[2018-12-21 17:40] joestringer commented on #2906
Fixed by https://github.com/cilium/cilium/pull/6490.

[2018-12-21 17:40] #2906 closed, assigned to nobody

[2018-12-21 18:20] joestringer opened #6500 "ginkgo local: cilium-etcd-operator: unable to create Cilium etcd cluster CR"
Cilium master (0222bc85f439). cilium-etcd-operator v2.0.3

I've been trying to run one specific test in the k8s scope locally, but cilium-etcd-operator gets stuck:

[code]

Ginkgo commandline:
[code]

cilium-etcd-operator logs:
[code]

No actual etcd pods are running at this point.

If I restart (ie, kill) the cilium-etcd-operator pod, it gets past this point but seems to do nothing:
[code]

[2018-12-21 18:27] joestringer commented on #6500
After another few operations, specifically deleting the cilium pods and changing the cilium-etcd-operator deployment (to configure `CILIUM_ETCD_OPERATOR_GRACE_PERIOD_SECONDS` to a lower number), it actually started deploying etcd instances. However, Cilium was still unable to connect to the etcd endpoints:

[code]

[2018-12-21 18:30] joestringer commented on #6500
From kube-dns logs:

[code]

[2018-12-21 18:35] joestringer commented on #6500
After some time (5-10 minutes?), cilium was finally able to resolve cilium-etcd-client.kube-system.svc.

[2018-12-22 00:17] #6381 closed, assigned to nobody

[2018-12-23 10:12] SPYFF commented on #6438
Is #1797 related to this one? Or that is already merged? Because this blocking scenario would be really interesting with skb gifting.

[2018-12-26 20:07] tgraf commented on #6499
The issue has been tracked down to the following logic:
When Cilium starts up. It removes all iptables rules with the word `cilium` in it. This is done to remove rules which have been installed by prior versions of Cilium but are no longer in use. By calling the hostPort plugin `cilium-portmap` this leads to rules being removed incorrectly.

[2018-12-28 13:50] #6499 closed, assigned to tgraf

[2018-12-29 08:12] bianhua2015 opened #6508 "Where could I find Dockerfile for cilium-envoy 、cilium-builder and cilium-runtime"
## Support

[2018-12-29 08:19] bianhua2015 commented on #6508
I want to modify cilium's code and build cilium:1.3 by myself,but I cant find related documents

[2018-12-30 06:29] jeckhart opened #6510 "cilium-kube-inject script breaks with istio v1.0.3 and newer"
## Bug report

**General Information**

- Cilium version 1.3
- Kernel version 'n/a'
- Orchestration system version in use: kubernetes v1.9.3 / kubectl v1.11.2
- Link to relevant artifacts
https://github.com/istio/istio/pull/8624/commits/7618f89318480cc951088f597dc26685ad230d76
https://github.com/istio/istio/blame/1.0.3/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml

**How

[2018-12-31 10:19] tgraf opened #6512 "Simulate large amount of agents"
Restructure agent code to allow creating a large number of agent instances without requiring to create large clusters

- [ ] Refactor Kubernetes code to allow multiple client instances
- [ ] Refactor daemon package to allow for multiple agent instances
- [x] Refactor datapath interaction to be abstracted via an interface so it can be mocked
- [ ] Write agent benchmark app to simulate any number of

[2018-12-31 15:43] tgraf opened #6515 "Enable dnsPolicy: ClusterFirstWithHostNet in 1.3 branch"
As users deploy the cilium-etcd-operator with 1.3.1, cilium is unable to resolve the service name without this option.

[2019-01-01 12:13] #6197 closed, assigned to nobody

[2019-01-02 05:14] manojbadam opened #6519 "configure podcidr through cilium flags"
## PodCIDR configurable through cilium configMap file

**Is your feature request related to a problem?**
Currently Cilium checks the control plane configs for assigning Pod IPs.  In EKS, we don't own the Control plane and `--cluster-cidr` variable is not configurable. So it is not possible to configure the Pod IPs

**Describe the solution you'd like**
I came to know about the node annotation `io.c

[2019-01-02 15:49] tgraf opened #6526 "Scheduled removal: 2019-06: Set pod/namespace via workloads plugin"
PR #6514 is enabling restore of pod/namespace name via the endpoint state. This will allow to remove setting the pod/namespace name from the workloads plugin. In order to not break any existing deployments which have endpoints running which do not have the pod/namespace store in the endpoint state yet, the removal of the setting via the workload plugin is deferred for 6 months and scheduled for

*

[2019-01-02 21:55] ianvernon commented on #6491
@tgraf @joestringer what is the desired fix for this issue? Should the config map be created for the global programs, or should we only do it when `#ifdef CONFIG_MAP` evaluates to `true`, and put `CONFIG_MAP` as a boolean option for the endpoints within the cilium agent? Or can I define that in `bpf_lxc.c`?

[2019-01-03 08:46] waret opened #6534 "Can Cilium implement ClusterIP and replace kube-proxy?"
## Support

According to [here](https://cilium.readthedocs.io/en/stable/kubernetes/intro/#service-load-balancing), can I use Cilium in my Kubernetes Cluster without kube-proxy deployed? And how?
Thanks!

[2019-01-03 10:38] tgraf commented on #6534
@Waret Yes. Cilium automatically implements ClusterIP. No special configuration required. You still need to run kube-proxy if you need NodePort services. Cilium does not implement those right now.

[2019-01-03 10:40] tgraf commented on #6519
@manojbadam Are you OK with the auto-allocation of PodCIDR based on the last 8 bits of the first public IPv4 address found on the node or do you need to be able to dictate the PodCIDR per node? Making the cluster range configurable is not difficult, providing a different allocation mechanism would be more work.

[2019-01-03 18:21] tgraf opened #6537 "Crash in lbmap"
Observed in Cilium 1.2.5

[code]

[2019-01-03 22:03] tgraf opened #6541 "FQDN policies contain duplicate CIDRs"
Example of a `cilium policy get`
[code]

[2019-01-03 23:02] tgraf commented on #6541
This is what causes PR #6465 to fail as well.

[2019-01-03 23:25] ianvernon commented on #6537
Crash occurred in this code: https://github.com/cilium/cilium/blob/5c69b1c611c401c274f359cdd7b1a4d0b99600a5/pkg/maps/lbmap/bpfservice.go#L126-L132

I suspect it is because `backendsByMapIndex` has a pointer for the values: https://github.com/cilium/cilium/blob/5c69b1c611c401c274f359cdd7b1a4d0b99600a5/pkg/maps/lbmap/bpfservice.go#L36-L41

and `bpfBackend` value in the map is nil, and we try to dere

[2019-01-04 10:22] aanm commented on #6437
@PTEpzb Any luck so far?

[2019-01-04 11:15] brb commented on #6537
I think it's not possible, as `backends := make([]ServiceValue, len(b.backendsByMapIndex))` would have panicked otherwise. So, probably there is a hole in `backendsByMapIndex`.

[2019-01-04 11:31] #6460 closed, assigned to nobody

[2019-01-04 13:30] aanm commented on #3219
For future reference:
[code]
should be enough to allow cilium to start in a node that was previously running with flannel.

[2019-01-04 14:06] #6541 closed, assigned to tgraf

[2019-01-05 06:43] TCiPongor commented on #6437
sorry for the slow response, I was at another project  this period.I forgot to reply to you until  receive your email.
thanks for your help,it worked,after following the steps.

kubectl create -f https://raw.githubusercontent.com/cilium/cilium/v1.4.0-rc1/examples/kubernetes/1.13/cilium.yaml

after following this step,the pod of cilium worked.

[2019-01-05 10:37] aanm commented on #6122
Seen again on: https://github.com/cilium/cilium/pull/6540

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1451/testReport/junit/k8s-1/9/K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts/

[4b7d6b75_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/file

[2019-01-05 12:34] tgraf opened #6556 "CNI plugin doesn't wait for agent to come up"
It's not super serious but it causes unnecessary failures in the pod event log:

[code]

The CNI plugin should upon ADD and DEL wait for the agent to come up for 30 seconds in a loop and then error out.

[2019-01-07 10:15] #6515 closed, assigned to nobody

[2019-01-07 10:22] aanm commented on #6437
@PTEpzb glad it work out, let us know if you have any questions. I'll close the issue since it's solved.

[2019-01-07 10:22] #6437 closed, assigned to aanm

[2019-01-07 10:29] tgraf commented on #5968
Completed

[2019-01-07 10:29] #5968 closed, assigned to aanm

[2019-01-07 10:56] Globegitter commented on #6537
Thanks for opening up the ticket - just to add we are still affected by this in production today. I am happy to be available for any debugging purposes if it helps to resolve this issue.

[2019-01-07 11:11] tgraf commented on #6537
@Globegitter Working on a fix

[2019-01-07 11:17] tgraf commented on #6537
@ianvernon @brb The code currently relies on the caller to lock properly which I think may not work correctly. I'm adding locking to bpfService itself.

[2019-01-07 13:27] brb opened #6559 "alignchecker reports failure when compiled with Go 1.11.4"
Trying to compile cilium (master) with Go 1.11.4 fails:

[code]

Indeed, the offsets are different (no padding after `flags`):

[code]

vs

[code]

Seems that we got bit by https://go-review.googlesource.com/c/go/+/151778/.

[2019-01-07 13:50] aanm commented on #6559
@brb so once we upgrade to go 1.11.4 we need to remove the go alignment in the endpoint info?

[2019-01-07 17:58] tgraf opened #6561 "Solve CEP scale problem"
Tasks:
- [x] Propose new structure with minimized number of fields (https://github.com/cilium/cilium/pull/6697)
- [x] Add new fields, mark now unused fields as deprecated without removing them. (https://github.com/cilium/cilium/pull/6697)
- [x] k8s server version is verified on each controller update

Saving Space:
- [x] Controller status is included and changes every second (https://github.com/ci

[2019-01-07 18:07] joestringer commented on #4496
Some of this is natural k8s behaviour in some configurations where DNS needs to iterate through different search domains, causing potentially several DNS "connections" for each lookup. This can be mitigated by configuring the containers with better search domain parameters, or by configuring clients such as prometheus to use FQDNs rather than basic DNS names that require expanding.

We already use

[2019-01-07 18:07] #4496 closed, assigned to nobody

[2019-01-07 18:10] joestringer commented on #4400
This is no longer a big priority, now that https://github.com/cilium/cilium/pull/6318 is fixed (and the # of connections is configurable). Feel free to reopen if a new motivation comes up for configurability of individual timeout values.

[2019-01-07 18:10] #4400 closed, assigned to joestringer

[2019-01-07 18:14] joestringer commented on #1392
This issue has had no activity for over a year, and the code has changed significantly since then. I don't believe it's still a problem, feel free to reopen if there is still an issue here.

[2019-01-07 18:14] #1392 closed, assigned to joestringer

[2019-01-07 18:16] joestringer commented on #3942
#6465 represents CIDRs using local identities, so a controller should no longer be necessary.

[2019-01-07 18:16] #3942 closed, assigned to joestringer

[2019-01-07 18:17] joestringer commented on #5686
#6465 was merged, we should double-check the upgrade/downgrade considerations described in the description above.

[2019-01-07 19:49] manojbadam commented on #6519
@tgraf - That is acceptable, as long as the last octet doesn’t overlap with the cluster’s IP space. So it couldn’t use 10. for example if you do something like “if 4th octet of IP == 10, cidr=101” or something

[2019-01-07 20:26] tgraf commented on #5352
This issue has been resolved by https://github.com/cilium/cilium/pull/6271

[2019-01-07 20:26] #5352 closed, assigned to nobody

[2019-01-07 22:07] joestringer commented on #6559
Even more weirdly, once you resolve this issue with `struct endpoint_info`, the next complaint has a uint8_t padded out to 16 bits:

[code]

cf.:
https://github.com/cilium/cilium/blob/945ad33d4e2d01b29046ffc204d8de35950a16a4/pkg/maps/metricsmap/metricsmap.go#L66-L72

https://github.com/cilium/cilium/blob/945ad33d4e2d01b29046ffc204d8de35950a16a4/bpf/lib/common.h#L199-L204

With version compiled fro

[2019-01-08 00:52] joestringer commented on #3537
I think we achieved this some time ago with https://github.com/cilium/cilium/pull/3988.

[2019-01-08 00:52] #3537 closed, assigned to tgraf

[2019-01-08 09:55] brb commented on #6559
It's because the `dir` field is being eliminated. So, when `alignchecker` checks the offset of `reserved` (`cStruct.Field(i = 1)`), it compares against the offset of `Dir` (`goStruct.Field(i = 1)`):

https://github.com/cilium/cilium/blob/945ad33d4e2d01b29046ffc204d8de35950a16a4/pkg/alignchecker/alignchecker.go#L53-L62

[code]

Regarding the eliminated field, we should file a bug report for Golang

[2019-01-08 09:59] aanm opened #6566 "CI: Unable to execute cilium built with -race and Go extensions"
It seems that all tests related with GoExtensions have failed in https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/8815/ which is from the PR where we enable golang race detector https://github.com/cilium/cilium/pull/6084

There's a coredump file available.

[code]

[code]

[2019-01-08 10:44] brb commented on #6122
Seen again on master: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5437/testReport/junit/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts/

[2019-01-08 14:16] tgraf opened #6569 "Make lbmap.MaxEntries configurable"
The size of the load balancing BPF maps are currently fixed sized based on the constant of lbmap.MaxEntries. The size of the tables should be made configurable via a CLI option.

- [ ] Add CLI option
- [ ] Ensure that map size is set before map is used for the first time
- [ ] Document impact of changing the size (loss of all load balancing state and thus disruption of existing connections that ha

[2019-01-08 14:31] aanm opened #6572 "race in pkg/node/node.go"
2 races found in `pkg/node/node.go`
[code]

[code]

Just to keep track of it but in an offline discussion this should probably be fixed by the end of the week.

[2019-01-08 15:25] tgraf commented on #6098
Done

[2019-01-08 15:25] #6098 closed, assigned to aanm

[2019-01-08 15:40] #6537 closed, assigned to nobody

[2019-01-08 18:11] joestringer opened #6574 "Use `cilium status --brief` in k8s readiness/liveness probes"
When Cilium fails, if you run `kubectl describe pod ...` on the cilium instance, under the events it shows multiline output which is hard to read and I suspect the base failure isn't being properly folded together by k8s:

[code]

Should we add `--brief` to the below probes?

https://github.com/cilium/cilium/blob/7c14b8af93df56f49a12b2267cba1fda1b0d3344/examples/kubernetes/templates/v1/cilium-ds.y

[2019-01-08 18:14] joestringer commented on #6574
One of the reasons those messages aren't folded together would be that the `Kubernetes APIs` slice is unsorted.

[2019-01-08 19:47] joestringer commented on #6574
Examples for output in an adverse condition with master today:
[code]
[code]

Probably we should prioritize the more specific errors like the one in the kvstore module rather than the generic error in the cilium module.

[2019-01-08 22:35] jrajahalme commented on #6566
`errno` 12 is `ENOMEM`. Is it possible that the VM is running out of memory? ThreadSanitizer seems to want to allocate 40MB of memory here.

[code]

[2019-01-08 22:36] jrajahalme commented on #6566
@aanm Corrected the memory amount above.

[2019-01-08 22:41] joestringer commented on #5645
Hit again the same as @brb on a PR build: https://api.travis-ci.org/v3/job/476593142/log.txt

[2019-01-08 22:42] joestringer commented on #6058
There's no movement on this in the last couple of months, and no repeated reports of the issue. Closing.

[2019-01-08 22:42] #6058 closed, assigned to nobody

[2019-01-08 22:44] jrajahalme commented on #6566
Maybe disable building the `proxylib` with race detector for now to unblock rest of #6084?

[2019-01-08 22:55] jrajahalme commented on #6566
It is also possible that `address 21fffcee34000` is not available for `mmap` within the Envoy process. I.e., there may be a fundamental incompatibility between Go race detector and `c-shared` builds, if Go race detector assumes certain parts of the virtual address space be available for it.

[2019-01-08 23:01] jrajahalme commented on #6566
Apparently Go uses LLVM race detection code. Not sure but if Envoy does the same maybe there is some conflict between the two race detector instances.

[2019-01-09 08:40] brb commented on #6243
Happened again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5448/testReport/junit/k8s-1/8/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

[2019-01-09 11:42] brb opened #6581 "CI: sporadic kubectl exec failures due to error in proxying data from client to backend"
Observed in all failing test cases reported by https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2100/.

An example of failing `kubectl exec` taken from `test-output.log` of [k8s-1.13.K8sChaosTest Restart with long lived connections TCP connection is not dropped when cilium restarts](https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2100/testReport/junit/k8s-1/13/K8

[2019-01-09 13:48] brb commented on #6559
I think it's a false alert - we do not use structs generated by cgo, so we shouldn't compare against them in `alignchecker` and do assumptions on their underlying representation.

Instead, we could create a dummy BPF object which includes all struct definitions, call `pahole` for it and compare the offsets in Go against corresponding Go struct field offsets.

[2019-01-09 17:55] ianvernon opened #6587 "Documentation: update Cilium Istio GSG for Cilium v1.4"
- [ ] Update Istio version to be latest supported version
- [ ] Remove use of init policies
- [ ] Update minikube version if needed
- [ ] TODO - any other fixes which are needed and may need to be documented for future releases.

[2019-01-09 20:55] joestringer opened #6590 "Document new ConfigMap options"
This should take into account https://github.com/cilium/cilium/pull/6357 once merged/backported.

[2019-01-09 21:28] vishvananda opened #6591 "cilium + istio on minikube fails to run istio-proxy correctly"
## Bug report

Following the instructions for installing cilium + istio on minikube leads to the istio-proxy continually restarting with the following error:
 `error initializing configuration '/etc/istio/proxy/envoy-rev0.json': malformed IP address: istio-statsd-prom-bridge.istio-system`
(Full reproduction steps are included at the bottom of the report.)

This appears to be the issue described in

[2019-01-10 00:23] ianvernon commented on #6591
@vishvananda out of curiosity what version of minikube are you running?

[2019-01-10 00:43] joestringer opened #6593 "Ginkgo tests may hang when a timeout is reached"
Using local annotation, I found that when the Cilium endpoints fail to become ready, the waitgroup never becomes ready:

https://github.com/cilium/cilium/blob/945ad33d4e2d01b29046ffc204d8de35950a16a4/test/helpers/kubectl.go#L995-L1048

Some part of this appears to be that the context is exceeded, then `kub.CiliumEndpointsList()` gets blocked here:

https://github.com/cilium/cilium/blob/945ad33d4e2

[2019-01-10 01:15] ianvernon commented on #6591
@vishvananda I am able to reproduce this with Cilium v1.3.1 &  minikube v0.32.0 using your reproducing steps, but without providing the `--vm-driver=vmwarefusion` argument to minikube (and thus am using the `localkube` driver). Will continue working on this and let you know of my progress!

[2019-01-10 01:15] #6491 closed, assigned to ianvernon

[2019-01-10 03:08] vishvananda commented on #6591
@ianvernon I'm glad you were able to reproduce. I guess that means i'm not crazy! I am also using minikube version v0.32.0
Please let me know if you are able to find a workaround or way to get it to work.

[2019-01-10 07:58] eloycoto commented on #6593
@joestringer made a PR with that commit and merge it, makes total sense.

[2019-01-10 10:08] brb commented on #6122
Again: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2105/testReport/junit/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts/

[2019-01-10 14:03] tgraf opened #6596 "test: Log errors in step "Checking connectivity before restarting Cilium""
[code]

[2019-01-10 16:43] tgraf opened #6600 "cilium health status can become non-functional"
CI runs fail frequently with an error like this:

[code]

It's a symptom for the case where the connectivity health does not become stable after Cilium has been started.

[code]

[2019-01-10 19:28] Globegitter opened #6603 "Daemonset with resource request can sometimes not be recreated"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.2.5 & 1.3.2
- Kernel version (run `uname -a`) 4.14.88
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) k8s 1.11.6
- Link to relevant artifacts (policies, deployments scripts, ...) using the default k8s 1.11 daemonset just with following section added:
[code]
- Upload a system dump (run `cur

[2019-01-10 20:59] #6556 closed, assigned to nobody

[2019-01-10 22:15] joestringer commented on #6600
I wonder if https://github.com/cilium/cilium/pull/6570 actually broke this because the locking is too granular.

[2019-01-11 01:19] joestringer opened #6605 "cilium status doesn't report last controller runs"
The last success report time for controllers is broken on master:

On master:

[code]

Earlier version (based on v1.2):
[code]

[2019-01-11 11:39] tgraf commented on #6600
Hit in 2h CI pipeline:
[8b3a8939_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2749449/8b3a8939_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5474/testReport/k8s-1/13/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[2019-01-11 17:06] brb opened #6612 "CI: K8sPolicyTest Basic Test checks all kind of Kubernetes policies"
[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5479/testReport/junit/k8s-1/13/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

[4576c8d3_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/2750501/4576c8d3_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip)

[2019-01-11 17:12] brb commented on #5384
Again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5470/testReport/junit/k8s-1/8/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

[2019-01-11 17:30] aanm commented on #6603
@Globegitter I've tried on my machine and I could replicate what you were seeing. I was able to get it to working, here are the steps:

1. Verify if you have `system-node-critical` priority class
[code]

2. Verify if Cilium pod has that priority value and priority class name set set:
[code]

3. Check if you kube-apiserver is running with the Priority Admission Controller:
[code]

I was testing aga

[2019-01-11 21:04] tgraf commented on #6603
@aanm Very good information. I'll add this to the docs.

[2019-01-11 23:19] ianvernon opened #6615 "Build istio-proxy, istio-pilot images for v1.0.3, v1.0.4, v1.0.5, v1.1.0 of Istio for integration with CIlium"
The cilium istio-proxy image is only built for up until v1.0.2 of Istio. Build proxy versions using all images, and manually run the GSG against each version to ensure that no breakage occurs.

- [ ] v1.0.3
- [ ] v1.0.4
- [ ] v1.0.5
- [ ] v1.0.6
- [ ] v1.1.10

[2019-01-11 23:39] joestringer commented on #6615
@ianvernon Do we need to support anything other than the latest version?

[2019-01-11 23:41] ianvernon commented on #6615
@joestringer I'm not sure. I figure we should catch up with what we've missed since v1.0.2 and then work on being current with the latest version in the future for completeness's sake.

[2019-01-11 23:44] ianvernon opened #6616 "Documentation: update how to cut Cilium releases"
Update documentation for cutting releases to reflect that tags need to be pushed / images built, and then extract binaries from those images when using `uploadrev`.

[2019-01-11 23:55] ianvernon commented on #6591
@vishvananda the issue is one that will be fixed by
https://github.com/cilium/cilium/pull/6467 . A fix for this will be merged into master soon, and will be backported to v1.2, v1.3, and v1.4.

[2019-01-12 00:24] joestringer opened #6618 "Templatize the BPF program code"
Convert the BPF compilation step from the current compilation of ~once per endpoint into ~once per node.

Using the techniques described in the [Linux Plumbers presentation](https://linuxplumbersconf.org/event/2/contributions/115/), we can reduce the amount of compilation required per node. This can be split roughly into the following steps:

Tasks:
* [x] Refactor static configuration options to e

[2019-01-14 09:45] brb opened #6629 "CI: k8s-1.8.K8sFQDNTest Restart Cilium validate that FQDN is still working"
[code]

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2131/testReport/junit/k8s-1/8/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[0976d448_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip](https://github.com/cilium/cilium/files/2754624/0976d448_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip)

/cc @eloycoto @raybejjani

[2019-01-14 09:49] brb commented on #6122
Again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5507/testReport/junit/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_L3_L4_policies_still_work_while_Cilium_is_restarted/

[2019-01-14 10:06] mvazquezc opened #6630 "Check for Kernel BPF feature rather than hardcode a specific version"
## Proposal / RFE

In the current Cilium daemon, the required Kernel version [is hardcoded](https://github.com/cilium/cilium/blob/master/daemon/daemon_main.go#L74-L78).

That causes startup errors when running K8s/OCP/OKD on operating systems RHEL based.

For example, on RHEL 7.6 the kernel `3.10.0-940.el7.x86_64` [has BPF support](https://www.redhat.com/en/blog/introduction-ebpf-red-hat-enterpris

[2019-01-14 10:09] brb commented on #5384
Again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5499/testReport/junit/k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

[2019-01-14 10:15] borkmann commented on #6630
Definitely agree on the latter. We have various tests under `bpf/probes/`, so they could be extended as one option, for example.

With regards to RHEL, my understanding is that RHEL7.6 only has tracing enabled for eBPF at this stage unless there is something new I'm not yet aware of. RHEL8 should have the full feature set, though.

Can you elaborate on your finding with "Cilium should work fine"?

[2019-01-14 10:37] mvazquezc commented on #6630
I've been testing Cilium on RHEL based O.S with OKD and K8s and it works when using Kernel >4.8.0.

Providing that the Kernel has all the required features backported it should work. I've been reading about BPF and eBPF, I thought they were the same, my bad. My confusion came from the [Cilium project readme](https://github.com/cilium/cilium#what-is-ebpf-and-xdp) where eBPF/BPF are referenced witho

[2019-01-14 10:56] brb opened #6631 "CI: upgrade from 1.3 to 1.4 breaks connectivity for existing pods"
[code]

Observed in multiple test runs:
- https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5512/testReport/junit/k8s-1/13/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/
- https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/5496/testReport/junit/k8s-1/8/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/

[ab06cae5_K8sChaosTest_Connectiv

[2019-01-14 11:52] Globegitter commented on #6603
@aanm thanks for looking into this and it still is not working on our cluster. Maybe it is a difference between k8s 1.11.6 and 1.13.0 - the feature is still officially in beta. But here our output:

1.
[code]

2.
[code]

3.
[code]

[2019-01-14 13:11] tgraf opened #6632 "index out of range in idpool"
[code]

[2019-01-14 13:26] borkmann commented on #6630
Nice! Are you using a custom kernel or a RHEL7.6 provided one? If the latter, is it the arm64 alt kernel that RHEL ships or something else as above you mentioned earlier `3.10.0-940.el7.x86_64`?

Cilium should be running for RHEL8 though, presumably that's what you tested with above `kernel >4.8.0`?

Yeah, it should work with only a few backports for 7.6 kernel that afaik are still needed.

In ker

[2019-01-14 13:40] mvazquezc commented on #6630
I've used 4.X from elrepo, this one to be more specific: `4.20.1-1.el7.elrepo.x86_64`

I haven't tested this on RHEL8 yet.

Do you have some links where this work is being tracked?

Thanks for the clarification!

[2019-01-14 17:58] ianvernon opened #6637 "bump minimum supported K8s version for Cilium"
v1.13 of K8s has been released, and is currently at [v1.13.2](https://github.com/kubernetes/kubernetes/releases/tag/v1.13.2) . We still run against K8s 1.8 in the CI. We should consider bumping to v1.9 or even 1.10 for supported K8s versions in Cilium v1.4 so we can consume new K8s behavior (e.g. CRD versioning) in the future and not have to deal with non-maintained K8s versions with new Cilium re

[2019-01-14 18:18] vadorovsky commented on #6605
OK, I looked at the issue a bit and I can confirm that we are losing timestamps here:

https://github.com/cilium/cilium/blob/master/daemon/status.go#L102

deepcopy doesn't handle go-openapi/strfmt.Date properly.

I will submit a fix tomorrow.

[2019-01-14 18:34] aanm commented on #6637
@ianvernon what is preventing us from using CRD versioning and support k8s 1.8 at the same time?

[2019-01-14 21:55] ianvernon opened #6638 "cache latest Istio images in Ginkgo VMs"

[2019-01-14 22:26] ianvernon commented on #6637
@aanm does k8s 1.8 support CRD versioning? I was under the impression that it didn't.

I guess this is also a good time to ask what our policy is for supporting specific K8s versions, specifically those that are deprecated?

[2019-01-14 22:58] ianvernon opened #6640 "Documentation: misc. updates for process for cutting RC"
Update documentation to contain the following:

- [ ] CI doesn't need to be run if change is just VERSION, YAML files, etc.
- [ ] Git tags have to be pushed after 'release' commit is merged into target branch.

[2019-01-15 09:32] tgraf opened #6642 "Avoid warning Error occured while dumping service table from datapath"
Latest master prints the following warning when starting up from scratch:
[code]

[2019-01-15 09:34] tgraf opened #6643 "CI: level=warning msg="/var/lib/cilium/bpf/run_probes.sh: line 29: 9383 Terminated"
[code]

[2019-01-15 09:35] tgraf commented on #6643
[230542b6_RuntimeCassandra_Tests_policy_allowing_all_actions.zip](https://github.com/cilium/cilium/files/2758931/230542b6_RuntimeCassandra_Tests_policy_allowing_all_actions.zip)

[2019-01-15 17:08] aanm commented on #6637
It doesn't but I still don't understand what's the relation between that and removing support for v1.8. There's no harm in running k8s 1.8 in our CI, we only need to check this once k8s libraries don't have support for k8s 1.8 structures that we use in our code.

[2019-01-16 12:47] aanm commented on #6603
@Globegitter I could replicate what you are seeing with k8s 1.11.6. However, one of the k8s developers have informed me in k8s 1.13.0 they finally switch to having the scheduler bind daemon set pods, rather than the DS controller doing it.

[code]

Which might explain what you are seeing

[2019-01-16 19:44] #3866 closed, assigned to nobody

[2019-01-16 20:53] tgraf opened #6667 "Stale local kvstore lock prevents successful identity allocation"
Observed with 1.2.6, later versions likely affected as well.

Cilium does distributed locking via etcd. For this purpose we first acquire a local lock indexed by the etcd key path. This is needed because etcd locks only protect against other clients and not from mutual access from the same etcd client. We then acquire the lock in etcd itself. We store locally that we are currently holding the etcd

[2019-01-16 22:26] ianvernon commented on #5859
Finally able to close this; this has been quite a wild ride.

To summarize the timeline of what happened in case anyone is interested:

* Due to extreme load on the CI machines from the amount of pods running in this test, as well as from microscope being unable to handle load from all of the flows in this test, we discovered an issue in which identity propagation would not occur quickly enough, c

[2019-01-16 22:26] #5859 closed, assigned to ianvernon

[2019-01-17 15:29] #6605 closed, assigned to nobody

[2019-01-17 20:29] joestringer commented on #6642
Related to service restore?

[2019-01-17 22:30] ianvernon opened #6683 "Better automate upgrade tests for bugfix versions of Cilium in CI"

[2019-01-17 23:01] aanm opened #6684 "CI: K8sChaosTest Connectivity demo application"
## CI failure

[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9115/testReport/junit/k8s-1/8/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/

[f8d088a6_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2770910/f8d088a6_K8sChaosTest_Co

[2019-01-17 23:02] aanm commented on #6684
[code]

[a106088c_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2770912/a106088c_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip)

[2019-01-17 23:06] ianvernon commented on #6684
I've had etcd connectivity issues as well in the most recent PR for v1.4. backports:
https://github.com/cilium/cilium/pull/6679#issuecomment-455305097

The v1.4 branch was quite stable before this recent set of changes. I'm wondering if
https://github.com/cilium/cilium/pull/6634 could be the culprit?

[2019-01-17 23:07] ianvernon commented on #6667
Does this need backport to v1.3 as well @tgraf ?

[2019-01-17 23:09] aanm opened #6685 "CI: K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity"
## CI failure

[code]
[f16e677c_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2770934/f16e677c_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip)

[2019-01-17 23:10] ianvernon commented on #6685
:(

[2019-01-17 23:18] aanm opened #6686 "CI: K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity"
## CI failure

[code]

[395f5b99_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/2770964/395f5b99_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip)

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2151/testReport/junit/k8s-1/13/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter

[2019-01-18 11:04] tgraf commented on #6667
@ianvernon Yes, thanks for catching.

[2019-01-18 13:52] Globegitter commented on #6603
@aanm Thanks for figuring that out - so then I suppose this is resolved. I just wonder if it makes sense to add documentation for that?

[2019-01-18 16:04] vadorovsky commented on #6642
@joestringer Yes. related to service restore. Service restore happens before cilium_lb*_services maps are even opened/registered/created. I will submit a fix soon.

[2019-01-18 21:29] aanm opened #6696 "CI: validate upgrade test"
the flannel integration should have broken the upgrade test and it didn't

[2019-01-19 00:41] tgraf opened #6698 "CI: RuntimeConnectivityTest - lxcmap is cleared somehow"
The following test failed. Inspection revealed that `cilium bpf endpoint list` reported an empty BPF map. Restarting the agent restored the map. The in-memory BPF map view was correct.

[code]

[2019-01-19 01:11] tgraf commented on #6698
Could be related to privileged unit tests leaving behind the system in an unexpected way:
[code]

[2019-01-19 01:26] tgraf commented on #6698
Running the loader tests clears the endpoint map:
[code]

[2019-01-19 19:39] joestringer commented on #5535
Closing due to inactivity, feel free to reopen if there is new information.

[2019-01-19 19:39] #5535 closed, assigned to nobody

[2019-01-19 21:25] #6667 closed, assigned to tgraf

[2019-01-20 16:58] tgraf opened #6701 "Remove legacy map removal in privileged unit tests"
The following old map files are deleted in the privileged unit tests to remove any traces of the old map names. This code can be removed again early on in the 1.5 development.

[code]

[2019-01-21 10:16] #6642 closed, assigned to nobody

[2019-01-21 12:54] #6698 closed, assigned to nobody

[2019-01-21 17:08] borkmann opened #6707 "CI: hitting the 5sec timeout in manager test suite's TestBackgroundSync()"
https://travis-ci.org/cilium/cilium/builds/482464342?utm_source=github_status&utm_medium=notification
[code]

[2019-01-22 07:03] arthur-c opened #6711 "No pod connectivity with kops 1.11 / cilium v1.4 / tunnel: disabled"
I'm not able to get any connectivity inside pods when I add the option `tunnel : disabled` to kops (It's ok without the option). Node connectivity seems fine : the cluster is ready and I'm able to pull external docker images.

This Cilium logs tells me it should be a permission misconfiguration from kops:

[code]

[code]

[code]

the sysdump:
[cilium-sysdump-20190122-074728.zip](https://github.com

[2019-01-22 10:18] aanm commented on #6711
with tunnel disabled, AWS will drop all packets coming from the VMs because their source IP belong to the pod CIDRs. AWS is not aware of that CIDR as it only knows the IPs allocated to the VMs and so, will drop all packets with that "unknown" source IP.

you can disable this behavior in AWS console https://docs.aws.amazon.com/vpc/latest/userguide/VPC_NAT_Instance.html#EIP_Disable_SrcDestCheck

[2019-01-22 14:23] arthur-c commented on #6711
Thanks for noticing, I forgot about this as I'm used to Calico and Kops disables the source check when choosing this networking.

So I disabled the AWS source check but no success.

But his guide solved my problems (I used 1.11 instead 1.10):
http://docs.cilium.io/en/stable/kubernetes/install/kops/?highlight=kops#upgrading-cilium

I reenabled the source checking and I still have connectivity.

[2019-01-22 14:26] aanm commented on #6711
@arthur-c I'll re-open the issue so we don't forget it when we update kops for k8s 1.4

[2019-01-22 14:59] aanm commented on #6711
note to self: also look at etcd-manager integration

[2019-01-22 15:04] arthur-c commented on #6711
You might be interested by these issues when working on the etcd-manager part:
https://github.com/kubernetes/kops/issues/5675
https://github.com/kopeio/etcd-manager/issues/126

[2019-01-22 21:54] tgraf commented on #6632
Looked into this, can't see how it can happen. An if would protect from the panic but would likely cause inconsistency.

[2019-01-22 22:57] borkmann opened #6720 "CI: org.jenkinsci.plugins.workflow.steps.FlowInterruptedException"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9231/console
[code]

[2019-01-22 23:58] tgraf opened #6721 "resolve-identity controller should not treat RLockAlive() error as error"
[code]

The error means that the endpoint was removed, the controller should exit gracefully.

[2019-01-23 15:09] tgraf opened #6727 "CI: runtime.RuntimeFQDNPolicies CNAME follow"
[code]
[3ebefcdc_RuntimeFQDNPolicies_CNAME_follow.zip](https://github.com/cilium/cilium/files/2787841/3ebefcdc_RuntimeFQDNPolicies_CNAME_follow.zip)

[2019-01-23 15:10] tgraf commented on #6727
Discussed with @eloycoto, will increase the timeout until policy calculation is more optimized

[2019-01-23 15:31] tgraf opened #6728 "CI: K8sHealthTest checks cilium-health status between nodes: Expected string not to be empty"
[code]

[2019-01-23 16:04] tgraf opened #6729 "CI: k8s-1.13.K8sPolicyTest Basic Test checks all kind of Kubernetes policies"
[code]

[2019-01-23 16:24] tgraf opened #6730 "CI: k8s-1.8.K8sChaosTest Restart with long lived connections TCP connection is not dropped when cilium restarts"
[code]
[421ab9cc_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/files/2788176/421ab9cc_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip)

[2019-01-23 16:28] tgraf commented on #6728
[6856953c_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/2788197/6856953c_K8sHealthTest_checks_cilium-health_status_between_nodes.zip)

[2019-01-23 19:10] aanm commented on #6500
Probably fixed by etcd-operator v2.0.4

[2019-01-23 19:10] #6500 closed, assigned to nobody

[2019-01-23 20:47] aanm commented on #3460
1.0 was already released. Closing

[2019-01-23 20:47] #3460 closed, assigned to nobody

[2019-01-23 20:47] aanm commented on #5867
v1.1 is EOL closing

[2019-01-23 20:53] aanm commented on #4483
missing https://github.com/cilium/cilium/blob/92f83a5fb927ca6bc5a0360eea9286faded5c5d0/test/helpers/policygen/models.go#L467

https://github.com/cilium/cilium/blob/92f83a5fb927ca6bc5a0360eea9286faded5c5d0/test/helpers/cons.go#L97

https://github.com/cilium/cilium/blob/45651bcd36cf5e00e8f648e1111da73ee9de50cd/test/k8sT/manifests/netperf-deployment.yaml#L13

https://github.com/cilium/cilium/blob/456

[2019-01-23 23:45] tgraf opened #6737 "level=error msg="Attempt to upsert invalid IP into ipcache layer" identity="{host agent-local}" ipAddr="<nil>""
The following errors are logged when starting up the agent with IPv6 disabled and IPv4 enabled.
[code]

[2019-01-24 12:36] eloycoto commented on #6729
Should be fixed by https://github.com/cilium/cilium/pull/6731

[2019-01-24 13:17] borkmann opened #6744 "cilium: add --version flag to all tools"
Not every tool has it right now e.g. noticed on cilium-docker while testing, thus would be good to dump consistent versioning info everywhere.

[2019-01-24 17:56] #6458 closed, assigned to nobody

[2019-01-24 19:19] tgraf opened #6751 "CI: pkg/node/manager.TestBackgroundSync() is unstable"
The test is unstable and has been disabled. Fix and re-enable the test

[2019-01-24 20:42] borkmann opened #6753 "CI: invalid memory address or nil pointer dereference"
https://travis-ci.org/cilium/cilium/builds/484070155?utm_source=github_status&utm_medium=notification
[code]

[2019-01-24 20:58] tgraf commented on #6707
Fixed by #6752

[2019-01-24 20:58] #6707 closed, assigned to nobody

[2019-01-24 21:00] #2498 closed, assigned to nobody

[2019-01-24 21:06] tgraf opened #6754 "Health endpoint ping is attempted to early"
[code]

[2019-01-24 21:11] tgraf commented on #504
Initial support merged via #6693

[2019-01-24 21:30] aanm commented on #6753
[log.txt](https://github.com/cilium/cilium/files/2793707/log.txt)

[2019-01-24 23:39] #6721 closed, assigned to ianvernon

[2019-01-24 23:45] ianvernon opened #6755 "add documentation about privileged unit tests to contributing docs"
Per request of @jrfastab

[2019-01-25 00:15] ianvernon commented on #6638
PR for this in https://github.com/cilium/packer-ci-build/pull/108

cc: @aanm

[2019-01-25 01:10] tgraf opened #6756 "Error while inserting IPv6 local node route"
[code]

[2019-01-25 02:29] tgraf opened #6757 "CI job is delayed too long for it to succeed"
It took over an hour for this job to get started and the waiting time was taken into account with the timeout that terminates the job again. It is also happening for various master and 2h CI pipeline builds.

[code]

[2019-01-25 03:27] tgraf commented on #6757
This is another example where bootstrapping took 45 minutes until the first test could run:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2191/consoleFull

[2019-01-25 05:52] #4999 closed, assigned to nobody

[2019-01-25 06:38] tgraf opened #6760 "CI: Very long time for cilium status to become healthy"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/9342/testReport/k8s-1/8/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/
[5e9433a1_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2794890/5e9433a1_K8sChaosTest_Connectivity_demo_application_En

[2019-01-25 06:39] tgraf opened #6761 "CI: CiliumPreFlightCheck error: Timeout reached: PreflightCheck failed: Cluster connectivity is unhealthy"
[code]

[2019-01-25 07:55] eloycoto commented on #6757
The main issue, if the Jenkins queue is big, we create a new servers base on the queue len,  so it takes a bit to create a few servers, also, we don't create all servers in a row to make sure that servers are not empty after that.

We can increase the limit, if there is 9 jobs in the queue create 9 servers, but I do not really liked. We paid hourly and test can fail and the servers will be used fo

[2019-01-25 14:36] eloycoto commented on #6729
can consider it fixed.

[2019-01-25 14:36] #6729 closed, assigned to eloycoto

[2019-01-25 16:04] tgraf opened #6770 "Move Jenkinsfiles into test directory"
The top level directory is getting poluted, move Jenkinsfiles and other test files into the test directory

[2019-01-25 19:21] tgraf opened #6775 "ipcache map gets re-created on startup"
[code]

[2019-01-25 19:24] tgraf opened #6776 "Improve log messages"
* [x] Make more descriptive:
[code]

* [x] Include apiserver addresss
[code]

* [x] Make clearer that this is from k8s
[code]

* [x] Unclear what this is attempted to print:
[code]

* [ ] From where?
[code]

* [x] Provide address ranges
[code]

* [x] Ignore health endpoint in count:
[code]

* [x] Print IPv4 node IP even if IPv4 is disabled:
[code]

* [x] Provide CIDR ranges that are being annotate

[2019-01-25 20:37] ianvernon opened #6778 "CI: pods get stuck in 'Init' state in Istio test"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1563/

[2019-01-25 21:17] ianvernon commented on #6778
Related failure in master: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2196/execution/node/89/log/?consoleFull

[2019-01-25 21:18] ianvernon opened #6779 "CI: Cilium-preflight check failed due to service not being found in K8s"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2196/execution/node/89/log/

[2019-01-25 21:19] ianvernon opened #6780 "CI: Cilium-preflight check failed due to service not being found in K8s"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2196/execution/node/89/log/

[2019-01-25 21:21] ianvernon commented on #6471
Closing. This hasn't been observed in some time, and we've significantly changed the createEndpoint logic in Cilium since this was posted.

I suspect this behavior was occurring because endpoint deletion was taking a while, and CNI tried again to create an endpoint with the same labels.

[2019-01-25 21:21] #6471 closed, assigned to nobody

[2019-01-25 21:25] ianvernon opened #6781 "CI: cilium-etcd-operator went into CrashLoopBackOff"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2188/execution/node/89/log/?consoleFull

[2019-01-25 21:28] ianvernon opened #6782 "CI: pods stuck in ContainerCreating state"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2191/

[2019-01-25 22:06] tgraf commented on #6756
The error seems pretty specific to the development vagrant box

[2019-01-25 22:20] joestringer opened #6783 "Update documentation for cilium-etcd-operator"
These instructions are now out-of-date with respect to etcd, as it suggests downloading the YAML with cilium-etcd-operator then requires the user to go through etcd setup instructions in addition:

http://docs.cilium.io/en/latest/kubernetes/install/standard/

[2019-01-25 22:20] tgraf commented on #6783
I'm already working on this.

[2019-01-25 22:20] joestringer commented on #6783
There may be other docs that need updates too, for instance the "quickstart" option tells the user to specify the etcd address, which is not necessary.

[2019-01-25 23:41] ianvernon opened #6786 "CI: logs were not gathered for RuntimeConsulKVStore test"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2208/testReport/junit/(root)/runtime/RuntimeKVStoreTest_Consul_KVStore/

[2019-01-26 00:34] tgraf opened #6790 "CI: K8sServicesTest External services To Services first endpoint creation"
[code]
[c5f4e9df_K8sServicesTest_External_services_To_Services_first_endpoint_creation.zip](https://github.com/cilium/cilium/files/2798365/c5f4e9df_K8sServicesTest_External_services_To_Services_first_endpoint_creation.zip)

[2019-01-26 01:40] tgraf commented on #6730
The systems must be under massive load as even etcd connectivity fails completely:
[code]

[2019-01-26 01:45] tgraf opened #6792 "Unnecessary identity change triggered"
[code]

[2019-01-26 01:46] tgraf opened #6793 "Endpoint build trigger for endpoint already waiting to be built triggers warning"
[code]

[2019-01-26 09:37] #6754 closed, assigned to joestringer

[2019-01-26 09:54] aanm commented on #6781
I couldn't find anything that could explain why the build has failed.

[2019-01-26 09:54] #6781 closed, assigned to nobody

[2019-01-26 14:43] aanm commented on #6780
duplicate of https://github.com/cilium/cilium/issues/6779

[2019-01-26 14:43] #6780 closed, assigned to nobody

[2019-01-26 14:48] aanm commented on #6782
Fixed by https://github.com/cilium/cilium/pull/6726/commits/19cc5e1dcca89aa15fc20979b7fc70fb1b29cec0

[2019-01-26 14:48] #6782 closed, assigned to nobody

[2019-01-26 15:06] aanm commented on #6786
@eloycoto it seems the [1] function failed which prevented the logs from being gathered.

[1]
[code]

This is in `test/runtime/kvstore.go`

The `JoinEP` log message was found in the logs because cilium was shutting down at that point

[code]

Maybe the search for `JoinEP` needs to be adjusted and ignore messages that are after `Stopping cilium...`?

[2019-01-26 15:20] aanm opened #6795 "CI: Test failed although logs prove that it should not have failed"
Accordingly with the logs, 5 curls successfully connect to `https://1.1.1.1/index.html`, unfortunately, the test still failed.
[code]

[code]

https://github.com/cilium/cilium/blob/d7f14ad0da3ecb2f9354b65bff2c7a24bd6d6f93/test/runtime/Policies.go#L1442-L1451

jenkins: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/2208/execution/node/89/log/?consoleFull

[bb964254_RuntimePolicie

[2019-01-26 19:00] manojbadam commented on #6519
Since we need more deterministic podCidr to apply all network policies, above method could be little tricky solution and couldn't lead us to a single cidr.  We took the kubelet annotations mechanism and setting up our own custom CIDR spanning `100.64.0.0/10`

we added a systemd unit after the kubelet startup and whenever it registers to the control plane, the one-time job will add ipv4 cidr annota

[2019-01-26 21:22] tgraf commented on #6793
Possibly related:
[code]
[cilium-sysdump-20190126-131816.zip](https://github.com/cilium/cilium/files/2799505/cilium-sysdump-20190126-131816.zip)

[2019-01-26 21:44] #6779 closed, assigned to aanm

[2019-01-26 23:37] #6775 closed, assigned to joestringer

[2019-01-27 15:22] tgraf commented on #6685
This is a dup of #6721

[2019-01-27 15:22] #6685 closed, assigned to nobody

[2019-01-27 17:08] tgraf opened #6800 "cilium bpf lb list exits with exit code 1"
[code]

[2019-01-27 17:12] tgraf commented on #6800
[code]

[2019-01-27 17:34] tgraf commented on #6800
Problem is due to exiting early when IPv6 is disabled
[code]

[2019-01-27 19:03] tgraf opened #6801 "Invalid message formatting when CNI plugin cannot connect to agent"
`
  Warning  FailedCreatePodSandBox  20s   kubelet, ip-192-168-4-64.us-west-2.compute.internal  Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "7cf45c4df81512373b370ffe526ce61fad423a1c801f6d0136f389314a4fac1c" network for pod "cilium-etcd-zj5wtgvx9d": NetworkPlugin cni failed to set up pod "cilium-etcd-zj5wtgvx9d_kube-system" network: unable to conn