[2018-04-11 16:07] ianvernon opened #3656 "CI: nightly tests do not gather logs for K8s stages"
Nightly tests suffered failures in the K8s-1.7 stage, but no logs for K8s-1.7 were gathered; only Nightly test results were gathered.

Build link: https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/173/

Fix the logic in the nightly tests to ensure that all logs are gathered for all stages.

[2018-04-11 16:09] ianvernon commented on #3462
Issue was observed again in latest nightly build: https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/173/execution/node/50/log/?consoleFull

Failure output:
[code]

Note that this occurred *after* #3598 was merged, which queries both the service IP *and* the hostname (redis-master). It did not fail in querying the service IP, but failed in querying the hostname. This seems to definitive

[2018-04-11 16:14] ianvernon opened #3657 "CI: nightly test failed in K8s1.8 upgrading from Cilium stable to master"
Relevant output:

[code]

Build link: https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/173/execution/node/51/log/?consoleFull

[2018-04-11 16:19] ianvernon opened #3658 "CI: ensure that `cilium/test/helpers/utils.go` functions utilized in tests use `ExpectWithOffset`"
This makes it easier to see where the failure occurred in relation to where said function is called within a test as opposed to within the helper function itself.

See https://github.com/cilium/cilium/issues/3622#issuecomment-380262914 .

[2018-04-11 16:24] ianvernon commented on #3655
`cilium debuginfo` output is actually included within `bugtool` so that slightly addresses a subset of your concerns. I think having all output which can be gathered as the result of running a command (e.g., `cilium-bugtool`, `cilium debuginfo`, `cilium-health`, `cluster-diagnosis`), should be included as part of `cilium-bugtool`. `microscope` and `monitor` are special in that they require interac

[2018-04-11 16:54] raybejjani opened #3659 "RFC: k8s CEP improperly nests models.Endpoint under .Status"
The current 1.0 RCs and master have the finalized 1.0 API. Unfortunately, the k8s CEP CRD continued to export the `models.Endpoint` struct instead of `models.EndpointStatus`. The JSON currently looks like:
[code]
This is unfortunate since all accesses to the CEPs will need to `.Status.Status` before accessing the useful data content. Worse, the  `.Spec` isn't intended to be there since `.Status` i

[2018-04-11 16:55] raybejjani commented on #3659
cc @michi-covalent @cilium/agent

[2018-04-11 17:47] #3636 closed, assigned to eloycoto

[2018-04-11 18:04] aanm commented on #3462
It happened here https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2269/execution/node/59/log/ as well

[2018-04-11 18:10] aanm opened #3660 "Add ingress and egress specification into documentation"
Similar as we have for the Rule here http://cilium.readthedocs.io/en/latest/policy/intro/#rule-basics

[2018-04-11 18:10] aanm commented on #3659
@raybejjani you mean `models.EndpointConfigurationSpec` under `spec` and `models.EndpointStatus` under `status`?

[2018-04-11 18:30] ianvernon opened #3663 "CI: update GuestBook test to also access redis-master via hostname, along with service-ip"
Revert change made in #3662 .

[2018-04-11 18:37] ianvernon commented on #3491
Closing as we haven't seen any crashes like this since @joestringer merged his fix.

[2018-04-11 18:37] #3491 closed, assigned to nobody

[2018-04-11 18:38] ianvernon opened #3664 "review code to minimize usage of golang arrays"
Filing this per @joestringer 's suggestion:

https://github.com/cilium/cilium/issues/3491 revealed a potential bug in golang which results from using golang arrays (note: not slices, arrays). See if we can minimize usage of golang arrays in Cilium , and also see if bugs involving golang arrays are fixed upstream in golang.

[2018-04-11 18:39] ianvernon commented on #3491
Filed #3664 to track auditing of code for golang arrays.

[2018-04-11 18:55] ianvernon opened #3666 "pkg/maps , pkg/bpf: add more logs for map lifecycle operations"
https://github.com/cilium/cilium/issues/3621 was difficult to triage because we do not have debug-level logs for the lifecycle of maps (creation, deletion, etc.). Add logs which describe what happens for map lifecycle operations.

[2018-04-11 18:57] raybejjani commented on #3659
Yes. Note that models.Endpoint also has a top-level ID field, which is the endpoint ID on that node. The CRD would then have 3 top-level keys apart from the k8s metadata stuff: `id`, `spec`, `status`. `spec` wouldn't be present in the near term, and would only make sense if we wanted to allow configuration changes via the CEPs.

[2018-04-11 18:59] ianvernon commented on #3621
From the first test failure, I checked for logs related to endpoint 29381:

[code]

[2018-04-11 19:03] ianvernon commented on #3621
Not much to go off of here; more logs are needed (#3666 tracks that).

[2018-04-11 19:42] manalibhutiyani opened #3669 "minikube docs"
Add reference links and improve documentation gaps.

Related to #3597

[2018-04-11 19:45] manalibhutiyani commented on #3597
Minikube GSG audit:  #3670

[2018-04-11 20:55] manalibhutiyani commented on #3597
Top 3 documentation gaps:

 1. Keep the `cilium cheatsheet` and `cilium command reference` updated with recent bpf commands, missing commands et al.

- cilium monitor -t L7 missing
- Many ct/bpf commands are missing.
- Microscope commands missing. Have a separate section for this
- set config missing
- policy tracing `-v` option

2. `Cilium related K8s commands:` on cheat sheet as well as command

[2018-04-11 20:58] ianvernon opened #3671 "determine whether regeneration should be triggered for endpoints based off of hash of headerfile"
The headerfile `#define`s are always written in the same order for the endpoint. This endpoint-specific headerfile dictates what parts of the generic BPF code need to be used / compiled for the given endpoint. Given that the headerfile always is in the same order, this means that if no changes to policy have been made that necessitate regeneration (i.e., no changes to #define ), we can just hash t

[2018-04-11 21:12] aanm opened #3672 "Fix Minikube 0.26.0 integration with cilium"
It looks like minikube 0.26.0 is using tls for its localhost requests.

We need to know the certificates that are being used in etcd and configure the cilium's configmap accordingly.

[code]

[2018-04-11 21:25] ianvernon opened #3673 "daemon: policy computation forcibly triggered in Cilium K8s endpoint OnUpdate function even if nothing has changed"
We start a new Kubernetes Informer for watching endpoint lifecycle events: https://github.com/cilium/cilium/blob/45bca6a9b6aa913c254e1790ad61af884f4db075/daemon/k8s_watcher.go#L364-L400

The documentation for `NewInformer`:
[code]

Specifically:

[code]

Since we provide a non-zero value for resyncPeriod (5 minutes), and we have an `OnUpdate` function this means that the `OnUpdate` function is alw

[2018-04-11 21:37] ianvernon commented on #3673
Seems like the easiest fix for now is to change `TriggerPolicyUpdates(true)` --> `TriggerPolicyUpdates(false)` for at least the `OnUpdate` function. Not sure about `OnDelete`.

If we can compute a diff between what we have received in the past vs what we have now for endpoint updates, we can use that logic to not even call `TriggerPolicyUpdates` whatsoever.

[2018-04-11 22:00] ianvernon opened #3675 "CI: Star Wars Demo failed"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/603/

Failure output:
[code]

Logs from right when test failed:
[code]

Logs:
[test_results_master_603.tar.zip](https://github.com/cilium/cilium/files/1900648/test_results_master_603.tar.zip)

[2018-04-11 22:03] ianvernon commented on #3675
Also failed in another build on master.

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/594

Relevant output:
[code]

Time when test actually failed:
[code]

Logs:
[test_results_master_594.tar.zip](https://github.com/cilium/cilium/files/1900656/test_results_master_594.tar.zip)

[2018-04-11 22:12] ianvernon opened #3676 "CI: CNP Specs test failed (unable to connect to ratings)"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/604
Failure output:
[code]

Logs from when test failed:
[code]

Possibly related to: #3470

Logs:
[test_results_master_604.tar.zip](https://github.com/cilium/cilium/files/1900679/test_results_master_604.tar.zip)

[2018-04-12 00:11] #3669 closed, assigned to manalibhutiyani

[2018-04-12 07:47] eloycoto commented on #3642
I prefer to have in the same file, IMHO I think that ATM we're creating too many files and debugging a issue right now takes more time.

For me, having the logs of the test in the test-output.log is a feature. Having multiple files make things difficult to search, need to open dozen of tabs in the editor. For how I work I prefer to have all in the same file.

[2018-04-12 08:43] eloycoto commented on #3657
Looks like that the `yaml` created didn't like to `kubectl`. Due #3656 I can't see the logs. Waiting for the PR to get merged and wait until fails again to check what happens.

Trigger a new PR  https://github.com/cilium/cilium/pull/3685 with k8s-1.8 to know if it fails.

Regards

[2018-04-12 08:44] eloycoto commented on #3383
Yep!

[2018-04-12 08:44] #3383 closed, assigned to eloycoto

[2018-04-12 09:25] raybejjani commented on #3597
@manalibhutiyani funny you mention CEP docs. I have it on my list to do this week :)

[2018-04-12 12:06] nebril commented on #3657
Another build: https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/173

[2018-04-12 12:09] nebril opened #3689 "CI: Nighty tests fail K8sValidatedPolicyTest"
Build link: https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/173

Stack trace:
[code]

[2018-04-12 12:46] #3654 closed, assigned to ianvernon

[2018-04-12 13:28] eloycoto commented on #3689
Duplicated: https://github.com/cilium/cilium/issues/3462

[2018-04-12 13:28] #3689 closed, assigned to nobody

[2018-04-12 13:30] eloycoto commented on #3657
@nebril is the same build

[2018-04-12 15:31] aanm commented on #3675
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2310/

[2018-04-12 15:36] ianvernon opened #3692 "CI: K8s 1.10 upgrade test failed in datapath check"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2062/

Relevant output:
[code]

Console output from when build failed:
[code]

Logs:
[test_results_Ginkgo-CI-Tests-Pipeline_2062.tar.zip](https://github.com/cilium/cilium/files/1903879/test_results_Ginkgo-CI-Tests-Pipeline_2062.tar.zip)

[2018-04-12 15:36] aanm opened #3693 "Remove duplicate cilium sidecar daemonset and replace it with a config map option"

[2018-04-12 15:56] ianvernon commented on #3675
@aanm please always attach logs so that they are archived in case the build gets GC'd by Jenkins.

[2018-04-12 15:58] ianvernon commented on #3675
Another failure: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/614/testReport/junit/k8s-1/10/K8sValidatedDemosTest_Tests_Star_Wars_Demo/

Failure output:
[code]

Console output when failure occurred:
[code]

Logs: [test_results_master_614.tar.zip](https://github.com/cilium/cilium/files/1903984/test_results_master_614.tar.zip)

[2018-04-12 16:04] ianvernon commented on #3676
A lot of the recent CI failures are due to issues accessing services by their host names instead of their service IPs.

[2018-04-12 16:05] ianvernon commented on #3676
Discussed offline with @eloycoto - we can access the service IP directly instead of the host name in the short term, and in the long term, add a wait function which waits until DNS can resolve the host names of the services.

[2018-04-12 16:07] ianvernon opened #3694 "CI: add function which waits for DNS to resolve host names of services"
Add a function implement some waiting function which waits until the host names for services resolve. Also revert the changes in #3695 so that tests are querying host names again instead of service IPs.

[2018-04-12 16:08] ianvernon opened #3695 "CI: change failing tests to query service IPs instead of host names"
There have been multiple issues with tests failing to resolve host names for services:

* https://github.com/cilium/cilium/issues/3675
* https://github.com/cilium/cilium/issues/3462
* https://github.com/cilium/cilium/issues/3676

In the short term, change these tests to query the service IPs directly instead of the host names.

A long term fix is to implement some waiting function which waits unti

[2018-04-12 16:33] ianvernon opened #3697 "policy: keep parser type of first rule that applies at L7 even if all traffic is allowed at L7"
Consider the following rule:

[code]

While this rule means that we allow all at L7, because there is L7 policy for that port, we must redirect through the proxy nonetheless. Do not set the proxy type in the L4Filter for this port to 'None'; instead, retain the proxy type of the first L7 rule for this port.

[2018-04-12 17:42] tgraf opened #3698 "Fix L3 only rules to wildcard L7"
- [x] Add an L7 wildcard for all L3 and L4 only rules after the L4 policy resolution step to ensure that the L4PolicyMap contains L7 wildcards (empty rule) for all source and destination selectors of L3 and L4 only rules.
- [x] Remove logic in `mergeL4*()` to delete rules on L4 only rules

[2018-04-12 17:43] ianvernon commented on #3697
I disagree that this needs an e2e test, this is entirely unit testable.

[2018-04-12 17:43] ianvernon commented on #3698
My work for #3697 might cause conflicts with this. @rlenglet let's work together on solving this.

[2018-04-12 19:13] aanm opened #3703 "CI: Unable to change agent configuration"
[code]

from https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2320/execution/node/58/log/

[test_results_Cilium-PR-Ginkgo-Tests-Validated_2320.zip](https://github.com/cilium/cilium/files/1904613/test_results_Cilium-PR-Ginkgo-Tests-Validated_2320.zip)

[2018-04-12 19:27] #3343 closed, assigned to manalibhutiyani

[2018-04-12 19:51] jrajahalme commented on #2689
Fixed by #3527

[2018-04-12 19:51] #2689 closed, assigned to aanm

[2018-04-12 19:57] jrajahalme opened #3704 "CI test flake: `../cilium/cilium: Command not found` when building docs."
Looks like building `cilium/cilium` succeeds, but `cmdref` step can’t find it:
[code]

Did not reproduce in the next build.

[2018-04-12 20:35] rlenglet commented on #3694
I think the issue linked in the description is incorrect. This has nothing to do with #3693.

[2018-04-12 22:21] manalibhutiyani opened #3705 "DROP_ALL BPF program not created for docker containers without any labels."
We should ideally create a `DROP_ALL` bpf program for an endpoint independent of whether the labels are resolved or not on an endpoint.

For k8s, this was happening correctly because we have a single `PUT` api which is already in `StateWaitingForIdentity` or state `StateWaitingToRegenerate` we correctly call the bpf regenerate.

However, in docker container creation, there is a transition from `En

[2018-04-12 22:23] manalibhutiyani commented on #3625
Working on writing the test, but this requires GH #3705 to support DROP_ALL bpf program regeneration correctly to test on docker

[2018-04-12 22:51] manalibhutiyani commented on #3694
He was referring to #3695 Updated the link

[2018-04-13 00:46] danwent opened #3708 "Improve Policy Docs for traffic between K8s cluster + outside world"
I was checking http://cilium.readthedocs.io/en/latest/policy/language/#entities-based to see if an example was there, and I also noticed that there are a few other things that might be confusing about the examples we have in the Entities section.  In particular, someone using K8s would probably be very confused that traffic from a pod to the outside world will match an "egress toEntities world" ru

[2018-04-13 01:39] manalibhutiyani opened #3710 "CI : Star Wars demo failed"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/100/execution/node/43/log/

[code]

[2018-04-13 01:43] manalibhutiyani commented on #3692
Seen this failure :
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2333/execution/node/59/log/

[code]

[2018-04-13 04:09] #3705 closed, assigned to jrajahalme

[2018-04-13 04:28] ianvernon commented on #3710
Might be similar to https://github.com/cilium/cilium/issues/3675 .

[2018-04-13 04:31] ianvernon commented on #3697
I'm unsure about the semantics of `L7RulesPerEp` and how it interacts with `L7Parser` in the `L4Filter`. Need to sit down and discuss this to progress further.

[2018-04-13 04:33] tgraf commented on #3697
Will review in details and provide feedback.

[2018-04-13 05:21] tgraf commented on #3708
https://github.com/cilium/cilium/issues/3539 is tracking the high level 1.0 review effort

[2018-04-13 09:18] nebril opened #3712 "CI: K8sValidatedUpdates Updating Cilium stable to master fails on 1.7 k8s on master"
Job link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/623/
Stacktrace:
[code]

[2018-04-13 09:52] #3672 closed, assigned to aanm

[2018-04-13 13:40] borkmann opened #3717 "Cilium unable to mount BPF fs"
Nirmoy reported:
[code]

Whereas worked on `cilium/stable`.

BPF fs was not mounted by Cilium:
[code]
Manually mounting and restarting resolved the issue (kubectl delete -f cilium.yaml then recreate).
[code]

On top of: https://github.com/cilium/cilium/commit/42b330c4a14358a7100b70c82e39169ad7bcdd7f

Potentially bug in mountFS() where `mountpoint` could have failed for some reason where daemon ins

[2018-04-13 14:06] eloycoto commented on #3717
Does this happen inside a container? If it's inside the container, the mount need to be in the host. I recommend the following systemd script:
https://github.com/cilium/cilium/blob/master/contrib/systemd/sys-fs-bpf.mount

[2018-04-13 14:08] borkmann commented on #3717
@eloycoto: looping @nirmoy in here for above question.

[2018-04-13 14:31] eloycoto commented on #3704
@jrajahalme this looks like a compilation error, do you have the full log of this one?

[2018-04-13 15:20] eloycoto opened #3719 "CI: NAT46 connectivity failed"
Issue:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2064/
[code]

Endpoints were ready:
[code]
And no policies applied.

[2018-04-13 15:28] eloycoto opened #3721 "CI: Pod can't connect to service in a crossnode"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2067/

[code]

Pods are running correctly.

[test_results_Ginkgo-CI-Tests-Pipeline_2067.zip](https://github.com/cilium/cilium/files/1907986/test_results_Ginkgo-CI-Tests-Pipeline_2067.zip)

[2018-04-13 16:23] #3462 closed, assigned to ianvernon

[2018-04-13 16:23] #3676 closed, assigned to nobody

[2018-04-13 16:23] #3694 closed, assigned to eloycoto

[2018-04-13 16:23] #3695 closed, assigned to nobody

[2018-04-13 16:23] #3710 closed, assigned to nobody

[2018-04-13 16:23] #3712 closed, assigned to eloycoto

[2018-04-13 16:23] #3692 closed, assigned to nobody

[2018-04-13 16:26] ianvernon commented on #3717
@nirmoy is this a Minikube environment? We have only ever seen such behavior in minikube.

An issue where we saw similar behavior is. https://github.com/cilium/cilium/issues/3519 . See @joestringer 's comment : https://github.com/cilium/cilium/issues/3519#issuecomment-378757566.

[2018-04-13 16:58] tgraf opened #3723 "Better log indication on monitor disconnect"
Better log message on monitor disconnect:
[code]

This indicates a problem when there is in fact no problem

[2018-04-13 16:59] tgraf opened #3724 "Remove info log on CEP GC event"
This is very verbose for something that should be a system detail:

[code]

[2018-04-13 18:35] ianvernon commented on #3694
My bad, thanks for fixing the issue link @manalibhutiyani .

[2018-04-13 18:39] ianvernon commented on #3620
Not really sure what we can do here since this seems like a Kubernetes issue; we deleted the pod and waited for it to terminate, but it didn't. Maybe we can increase the timeout for waiting for pods to terminate? @aanm any other recommendations on logs we can add, metadata that can be gathered, etc., to help triage this if it fails again? What do you think?

[2018-04-13 18:40] #3653 closed, assigned to nobody

[2018-04-13 18:45] jrajahalme opened #3726 "CI k8s 1.7 chaos test flakes"
This test failure happened on a PR that should have no CI impact (https://github.com/cilium/cilium/pull/3699, see https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2319/execution/node/59/log/).

[code]

[2018-04-13 18:50] ianvernon commented on #3642
OK, given that you are the CI owner I will defer to you on this. Closing.

[2018-04-13 18:50] #3642 closed, assigned to nobody

[2018-04-13 18:52] ianvernon commented on #3586
Reducing priority on this as this isn't a Cilium bug.

[2018-04-13 20:09] jrajahalme opened #3727 "CI: kubeadm failed to install Kubernetes"
it happens to be 'KafkaPolicies' test, but the error seems to come way before it gets specific to the test setup:

Tail of https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2372/execution/node/59/log/:

[code]

[2018-04-13 20:11] jrajahalme commented on #3727
The PR which faced this is https://github.com/cilium/cilium/pull/3699. The PR should have no k8s impact.

[2018-04-13 20:28] ianvernon commented on #3727
Looks like an issue with `kubeadm` for K8s 1.7 :(

[2018-04-13 20:47] joestringer opened #3730 "Make bpf/init.sh respect MTU environment setting"
Commit f15487c6b0cdc11656841250f246cd1a6c4f2bd8 hardcoded the $HOST_DEV mtu to 1450, but it should respect the environment setting documented here:

http://docs.cilium.io/en/latest/kubernetes/install/#adjusting-cni-configuration

[2018-04-13 22:21] manalibhutiyani opened #3731 "DROP_ALL not working for ingress."
I start a docker container without labels so that the endpoint state is always “waiting-for-indentity"
`docker run -dt --net=cilium-net tgraf/netperf`

[code]
[code]

The bpf `DROP_ALL` program is in place for endpoint `38939`

[code]

check that policy enforcement is in default mode
[code]
I now try to ping from cilium-host to the endpoint

[code]

[code]

`Start cilium monitor in parallel:`

[co

[2018-04-13 22:38] jrajahalme commented on #3731
I don't know the answer, but verified that I see the same behavior on my system.

[2018-04-13 22:39] manalibhutiyani commented on #3731
I verified this with TCP as well. We currently allow ingress traffic from host to a container even if the policy is `DROP_ALL`

[2018-04-14 00:09] #3402 closed, assigned to ianvernon

[2018-04-14 04:58] #3731 closed, assigned to nobody

[2018-04-14 08:59] rlenglet commented on #3657
Saw this with K8s 1.7 as well: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2399/execution/node/59/log/

`kubectl apply` is terminating with a panic:
[code]

[2018-04-14 11:09] #3693 closed, assigned to rlenglet

[2018-04-14 11:19] raybejjani commented on #3659
A matching PR https://github.com/cilium/cilium/pull/3737 I'd like some feedback around whether we should do this before 1.0. If we don't we are stuck with the current scheme until API 2.0

[2018-04-14 19:22] manalibhutiyani opened #3738 "Correct back port label in docs"
The back port label spelling is incorrect in the docs. Correct it.

`contrib/backporting/README.md`

[2018-04-15 00:16] #3738 closed, assigned to manalibhutiyani

[2018-04-16 01:55] #3724 closed, assigned to raybejjani

[2018-04-16 02:05] ianvernon opened #3742 "policy: fix follow-up comments from PR-3732"
Fix follow-up comments [here](https://github.com/cilium/cilium/pull/3732#pullrequestreview-112225829) on #3732 .

[2018-04-16 10:19] aanm commented on #3620
@ianvernon How do you know we failed to delete the pod?

I would suggest to get the logs of all pods running when something bad happens, including previous.

cc @eloycoto what do you think?

[2018-04-16 11:10] aanm opened #3747 "CI: Endpoint configuration Conntrack does not match"
[code]

Revision: 62c48d73a928507af06da256706a89f2e35b64d6

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/v1.0/11/

[test_results_v1.0_11.zip](https://github.com/cilium/cilium/files/1914982/test_results_v1.0_11.zip)

[2018-04-16 11:20] aanm commented on #3747
@tgraf @joestringer is this PR related https://github.com/cilium/cilium/pull/3735?

[2018-04-16 14:18] vadorovsky commented on #3655
`microscope` is written in Python, so it would be hard to integrate it without rewriting it from scratch.

[2018-04-16 15:12] aanm commented on #3747
I can't replicate the issue with current master

[2018-04-16 15:22] tgraf opened #3751 "5b03fb86 broke agent-labels and access-log config via env"
It looks like 5b03fb8635551b1ae3c3012beecebe0e16e606b1 unintentionally broke setting the agent-label and access-log via environment variables by replacing the `viper.GetString()`.

Cilium uses `viper.AutomaticEnv()` which will make all configuration parameters accessed via `GetString()` available as environment variables.

[2018-04-16 15:29] tgraf commented on #3393
No longer required with the latest datapath logic.

[2018-04-16 15:29] #3393 closed, assigned to nobody

[2018-04-16 15:49] rlenglet commented on #3751
I’ll add `viper.BindEnv` calls.
Out of curiosity, where have we been relying on those environment variables?

[2018-04-16 17:34] ianvernon commented on #3697
Fixed by #3732.

[2018-04-16 17:34] #3697 closed, assigned to ianvernon

[2018-04-16 18:05] ianvernon commented on #2691
Fixed by #3500.

[2018-04-16 18:05] #2691 closed, assigned to ianvernon

[2018-04-16 18:08] ianvernon opened #3754 "policy: egress policy tracing support"
TODO: Need to iron out requirements.

[2018-04-16 18:09] ianvernon commented on #1488
Removing best-effort and test-week labels as I think we have sufficient test coverage in C for this, and all of the datapath + agent-based components for egress have been merged and tested.

I am leaving #2555 and https://github.com/cilium/cilium/issues/3754 open, and am closing this issue accordingly :)

[2018-04-16 18:09] #1488 closed, assigned to ianvernon

[2018-04-16 18:10] #2556 closed, assigned to ianvernon

[2018-04-16 18:12] ianvernon commented on #3742
Wrong ticket :) reopening.

[2018-04-16 18:13] ianvernon commented on #3754
Closing, duplicates #3394 .

[2018-04-16 18:13] #3754 closed, assigned to nobody

[2018-04-16 18:19] ianvernon commented on #1404
This issue is quite stale since we have moved to Ginkgo CI. @tgraf can we close this?

[2018-04-16 18:21] ianvernon commented on #2199
Seems related to #1368.

[2018-04-16 18:21] ianvernon commented on #2496
Seems related-to #1368.

[2018-04-16 18:22] ianvernon commented on #2424
Closing this as it is stale. We will use GitHub issues to track test failures as they occur on a case-by-case basis.

[2018-04-16 18:22] #2424 closed, assigned to nobody

[2018-04-16 18:24] ianvernon commented on #2688
https://itsfoss.com/ubuntu-18-04-release-features/ shows that 18.04 LTS will be released on 26th April.

[2018-04-16 18:25] ianvernon commented on #2710
We haven't seen such failures in some time. Can we close this @tgraf  @eloycoto ?

[2018-04-16 18:30] ianvernon commented on #3240
@eloycoto unfortunately the attached zip file does not have enough logs due to issues which have since been fixed with log-gathering in the CI. Can we close this given that we do not have enough data for triaging it?

[2018-04-16 18:32] ianvernon commented on #3133
@aanm can you provide more context for this? Is this still needed?

[2018-04-16 18:39] joestringer commented on #3593
LGTM.

[2018-04-16 18:39] #3593 closed, assigned to nobody

[2018-04-16 18:41] ianvernon commented on #3704
@jrajahalme please link the build where this occurred so we can see more logs. Thanks!

[2018-04-16 18:43] joestringer commented on #3747
@aanm shouldn't be related to that, that's a datapath-only change so I wouldn't expect it to affect whether cilium properly modifies endpoint configuration.

[2018-04-16 18:45] ianvernon commented on #3698
@tgraf can we close given that #3732 and https://github.com/cilium/cilium/pull/3634 are merged ?

[2018-04-16 18:46] ianvernon commented on #3585
https://github.com/cilium/cilium/issues/3161 would be useful to tackle in 1.1, as we should ideally always retry map updates if possible and not just bail out on the first try.

[2018-04-16 18:47] ianvernon commented on #3585
"Adding Kubernetes NP tests " - was this tackled by https://github.com/cilium/cilium/pull/3570 ?

[2018-04-16 18:48] ianvernon commented on #3208
@tgraf can we close this? We no longer cleanup CT from userspace anymore. Discussed offline with @rlenglet and he said we can.

[2018-04-16 18:48] jrajahalme commented on #3420
Saw this test flake as well (https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2378/execution/node/59/log/):
[code]

[2018-04-16 18:50] joestringer commented on #3621
We discussed on slack, from @borkmann :

Given the log message above,

It seems like it is likely that policy is deleted, and we close the policymap for an endpoint, then there is some policy recomputation and it attempts to delete policies from the previous map (which now has fd 0).

Not sure why it gets set to `not-ready` state though - is it just that if a policymap update like this fails, we s

[2018-04-16 19:00] ianvernon opened #3756 "Documentation: some dead links to commands generated via cmdref"
If I want to access a specific command from the latest documentation for the [Command Reference](http://docs.cilium.io/en/latest/cmdref/cilium/), for instance [cilium bpf](http://docs.cilium.io/en/latest/cmdref/cilium_bpf/), the link works ( http://docs.cilium.io/en/latest/cmdref/cilium_bpf/ ) . However, if I go to the following link http://docs.cilium.io/en/latest/cmdref/cilium/ , none of the lin

[2018-04-16 19:05] ianvernon commented on #3595
#3750 addressed this, closing.

[2018-04-16 19:05] #3595 closed, assigned to nobody

[2018-04-16 19:39] manalibhutiyani commented on #3585
Add ingress/egress default deny tests for CNP (#3343) I finished this one. Marking done.

[2018-04-16 19:57] tgraf commented on #3585
@aanm Do we have a better handle at integrating v3 without creating compatibility problems at this point? I'm still not sure how we can provide a smooth transition without being able to version CRDs.

[2018-04-16 20:29] ianvernon opened #3757 "cli: add `cilium endpoint health <id>` to debuginfo output"

[2018-04-16 21:31] #3133 closed, assigned to nobody

[2018-04-16 22:25] ianvernon commented on #1997
The closest our current policy implementation would be the following:

[code]

This would allow all traffic from all endpoints, but traffic on port 80 will be redirected  through the proxy (with no restrictions on L7). All other traffic (not on port 80) would be allowed at L3 and would not go through the proxy.

Given that Cilium's policy model is whitelisted based, allowing all traffic at L3 but

[2018-04-16 22:28] ianvernon commented on #3573
Also related-to https://github.com/cilium/cilium/issues/3401 . We need to do more sanitization of L7 rules.

[2018-04-16 22:28] ianvernon commented on #3585
I also think we should tackle https://github.com/cilium/cilium/issues/3401 as part of 1.1.

[2018-04-16 23:12] joestringer commented on #3756
Duplicate of https://github.com/cilium/cilium/issues/3260

[2018-04-17 06:12] eloycoto commented on #3240
Yep, we can close, this is tracked on PR https://github.com/cilium/cilium/pull/3355

[2018-04-17 06:13] eloycoto commented on #2710
Yes, I didn't see this one in the last months.

[2018-04-17 06:13] #2710 closed, assigned to eloycoto

[2018-04-17 09:20] aanm opened #3767 "Add support for both namespace and pod selector in kubernetes network policy"

[2018-04-17 10:00] vadorovsky commented on #3717
I think that the cause of this issue is that we rely on the host - we expect the host to have `/sys/fs/bpf` mounted and we just mount that directory to the container. Of course that will fail in many environments (including Minikube), because the most of distros don't mount bpffs by default. The solution with systemd service linked by @eloycoto is tricky, because we cannot inject that service into

[2018-04-17 10:01] vadorovsky commented on #3717
If you agree with that solution, I'm going to update every DaemonSet yaml file with that change.

[2018-04-17 10:27] nirmoy commented on #3717
@eloycoto  I dont have that issue anymore but I still get "level=warning msg="BPF root is not a BPF filesystem (0x62656572 != 0xcafe4a11)" file-path=/sys/fs/bpf" but cilium works.
@ianvernon  Its not in minikube, I am using SUSE container platform(caasp).

(Sorry for late reply, I haven't receive any notification for some reason)

[2018-04-17 10:38] nirmoy commented on #3717
@mrostecki When I mount it on host machine(mount -t bpf bpf /sys/fs/bpf/) the warning goes off, so I would prefer orchestration engine to make sure bpffs is mounted before running cilium. It is more secure I think.

[2018-04-17 10:49] vadorovsky commented on #3717
@nirmoy Mounting it on host is a little bit more secure (just a bit, we already give the `NET_ADMIN` capability and do a lot of "insecure" stuff in the container :) ), but with that approach you need to tell everyone to configure the host, to modify fstab or inject a systemd service, which is really painful - especially on public clouds or VM environments which already have their complicated provi

[2018-04-17 13:22] vadorovsky commented on #3717
Regarding the security concerns once again - the most popular CNI providers (Calico and Flannel) run in privileged containers, which gives them *all* capablities:

https://github.com/projectcalico/calico/blob/master/v2.6/getting-started/kubernetes/installation/hosted/calico.yaml#L176
https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml#L135

So I don't see any reason why we

[2018-04-17 14:19] nirmoy commented on #3717
@mrostecki cilium too
 https://github.com/cilium/cilium/blob/master/examples/minikube/cilium-ds.yaml#L186
So its  mountFS() related issue. But I can't reproduce the same behavior in my setup to get more details.

[2018-04-17 14:21] nirmoy commented on #3717
@eloycoto do we need
 capabilities:
            add:
- "NET_ADMIN"

when  privileged: true ?
[update] I tested on my setup, "privileged: true" indeed enough to run cilium.

[2018-04-17 14:40] vadorovsky commented on #3717
No, we don't, I missed that line with `privileged: true`, I'm sorry.

We can either get rid of the list of capabilities (easier solution) and just rely on `privileged` mode, or list the specific capabilities we need like `SYS_ADMIN`, `NET_ADMIN` etc. (harder solution, but might be slightly more secure).

I will update my PR with the easier solution.

[2018-04-17 15:28] aanm opened #3773 "CI: K8sValidatedUpdates Updating Cilium stable to master"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2474/

[code]

cc @eloycoto

It seems one of the issues is with the DNS helper

[code]

~Accordingly to the cilium logs this error happens when adding kube-dns to the list of services~

The error is harmless as it says in the comments:

[code]
[code]
[test_results_Cilium-PR-Ginkgo-Tests-Validated_2474.zip](https://github.com/cilium/cil

[2018-04-17 15:31] #3756 closed, assigned to nobody

[2018-04-17 16:00] eloycoto commented on #3773
This is super good, I was waiting for this error, it's super helpful.

[2018-04-17 16:43] #3240 closed, assigned to nobody

[2018-04-17 17:04] joestringer opened #3775 "Unsupported IPv6 headers aren't properly handled in datapath drop handling"
In `ipv6_hdrlen` we determine whether unsupported IPv6 header types are present and attempt to return a drop reason due to the lack of support:

https://github.com/cilium/cilium/blob/93053ea09e440f5e92eaa4fc585d348c4db677a3/bpf/lib/ipv6.h#L61-L74

Then we just blindly add this (large negative) number to the header lengths of the packet. This should result in us dropping the packet, but it doesn't

[2018-04-17 17:21] ianvernon commented on #3621
@joestringer seems reasonable to me that if we encounter an issue where we cannot update the datapath in any way (compilation of its BPF program, insertion into maps) that we set it into 'not-ready' state.

[2018-04-17 17:35] ianvernon commented on #3585
And also https://github.com/cilium/cilium/issues/3376 .

[2018-04-17 17:42] ianvernon commented on #3573
Related: https://github.com/cilium/cilium/issues/1997 .

[2018-04-17 17:50] joestringer commented on #3621
@ianvernon OK, well in this case I think it would be safe to consider deletes on a map with fd=0 to be successful, because the map has been closed. (Though this does rely on the rest of the regeneration succeeding, otherwise the BPF program running on the device isn't replaced so even if userspace closed the map, the existing BPF program could still be referring to it..)

[2018-04-17 19:25] #1202 closed, assigned to aanm

[2018-04-17 20:03] ianvernon opened #3777 "proxy statistics contain ports which are not part of proxy port range"
I was testing L3-dependent L7 for egress and noticed that after importing a policy like the following and sending traffic from the endpoint to which the rules applied and checking its proxy statistics, that there were ports which are not managed by the proxy:
policy:

[code]

`cilium policy get` is OK:
[code]

[code]

Fix is to unconditionally use the destination port when updating the proxy stati

[2018-04-17 20:50] tgraf opened #3779 "Develop test to simulate temporary API server failure"
- [ ] Develop a manual test to simulate the behavior when 1-all k8s apiservers are down
- [ ] Verify that all endpoints are being restored properly even if Cilium continue to be restarted, possibly in the middle of restoring an endpoint
- [ ] Document the behavior when external dependencies such as the apiserver fail

[2018-04-17 21:21] #3742 closed, assigned to ianvernon

[2018-04-17 21:43] ianvernon opened #3781 "do not log when regeneration of endpoint failed when it is in disconnected state"
We can log at debug level for this case; regenerating programs should not even be a concern if  an endpoint has been disconnected.

[2018-04-17 22:06] ianvernon opened #3782 "series of endpoint builds queued in quick succession for same endpoint"
From `cilium endpoint log`:

[code]

We need to figure out what is causing these updates, and whether we can find some way to batch updates for the same endpoint in quick succession.

[2018-04-17 23:01] #3751 closed, assigned to rlenglet

[2018-04-17 23:54] manalibhutiyani opened #3784 "CI : Add tests for access logging"
We should add CI tests to make sure

1.  Access log is being created correctly with the correct config option.
2. The flows we see in the access log are as expected(Kafka, HTTP)

[2018-04-17 23:57] manalibhutiyani opened #3785 "Add CI test for different demo apps"
Make a minimum CI test to test different apps scenario and see if policy is enforced correctly.

[2018-04-18 05:15] eloycoto commented on #3785
Why that is different to `k8st/Policies.go` or `runtime/Policies.go`

[2018-04-18 05:18] eloycoto commented on #3782
I saw this a few times in the last days in the CI as well.

[2018-04-18 06:27] #3777 closed, assigned to ianvernon

[2018-04-18 08:34] vadorovsky commented on #3717
OK, I closed the old pull request - I realized that BPFFS mount on the host is needed and recommended.

I created the new PR with an another approach to solve the problem. If Cilium is running inside container, but BPFFS is not mount on the host, then IMO we should unmount `/sys/fs/bpf` and mount BPFFS in the container. And also warn the user that we recommend to mount BPFFS on the host.

@aanm @t

[2018-04-18 08:43] raybejjani commented on #3779
As a counter example. I've turned off kube-apiserver when testing things in a dev VM and cilium recovered well. We might need to simulate connection timeouts or traffic being blackholed instead of just stopping the server, or it may be related to the number of endpoints.

[2018-04-18 09:08] aanm commented on #3717
@mrostecki I am afraid that way you will potentially create harmful changes to the user host, by unmounting a path without the user's consent.

[2018-04-18 10:29] #713 closed, assigned to borkmann, techcet

[2018-04-18 11:19] vadorovsky commented on #3717
I don't think that unmounting `/sys/fs/cgroup` inside container can do anything harmful for the host, especially if it's the empty mount. But I understand your concern if potentially something goes wrong with non-containerized Cilium.

I can try to add some code which will check whether Cilium is running inside container (`/proc/1/cgroup`) and remount only in that case. Does is sound better to you

[2018-04-18 12:12] borkmann commented on #3717
What happens if the mountpoint is a shared mount with the init mountns? Could we check whether it's a private mountpoint instance in the container and only then proceed if not mounted yet at /sys/fs/bpf/? A completely different approach is to create a new mountpoint specifically for cilium somewhere under Cilium's run dir or such and mount a bpf fs instance from there to not interfere with anythin

[2018-04-18 12:58] vadorovsky commented on #3717
It will always happen for containerized Cilium. Every mount that Docker/runc creates is a `--bind` mount. So yeah, in container's mount ns, it always will be a shared mount with the init mountns.

Same answer as above - if you are running Cilium in container, the `/sys/fs/bpf` is a shared mount from host mountns to the container mountns. In my pull requrest, if the filesystem of `/sys/fs/bpf` is n

[2018-04-18 13:09] borkmann commented on #3717
Ok, if the magic number is neither 0x62656572 (pointing to sysfs /sys/ mount instance higher in the hierarchy) nor 0xcafe4a11 (bpf fs instance), then the setup is bogus and utterly broken. The expectation is that this location / mount point is reserved for bpf fs only, so either it's mounted there or not. Therefore, unmounting some completely different file system instance (e.g. tmpfs) I would con

[2018-04-18 13:15] borkmann commented on #3717
The approach you describe sounds sane to me, although if we go that route we might as well switch unconditionally to some private `/run/cilium/bpf/fs` mount instance. @tgraf thoughts?

[2018-04-18 13:55] nirmoy commented on #3717
I like the idea of mounting bpffs to Cilium's run dir.

[2018-04-18 14:32] #3671 closed, assigned to nobody

[2018-04-18 16:16] #3757 closed, assigned to ianvernon

[2018-04-18 16:28] ianvernon commented on #3779
Is this related to #3790 ?

[2018-04-18 19:46] manalibhutiyani opened #3792 "Kafka : remove noise from logging EOF messages in Kafka parser"
We keep seeing a lot of these on normal client (produce/consume) connection close.
We should not be logging valid EOF as errors.

[code]

[2018-04-18 20:14] #3087 closed, assigned to joestringer

[2018-04-18 20:58] ianvernon commented on #2967
Closing as there has been no movement on this, and we have fully dedicated ourselves to testing with Ginkgo.

[2018-04-18 20:58] #2967 closed, assigned to nobody

[2018-04-18 22:21] #3792 closed, assigned to manalibhutiyani

[2018-04-18 22:46] joestringer opened #3799 "Split debuginfo into separate files in bugtool"
We should be able to split the debuginfo file into multiple files, if someone wants to simply compare a bugtool output from multiple nodes such as `cilium endpoint list`, it is nontrivial to try to filter the debuginfo file for each bugtool archive just to find this specific piece of information for all of the cilium instances.

[2018-04-19 00:44] ianvernon opened #3802 "CI: k8s-1.10.K8sValidatedHealthTest checks cilium-health status between nodes failure"
Relevant output:
[code]

Logs from test itself:
[code]

Logs:
[test_results_master_666.zip](https://github.com/cilium/cilium/files/1926234/test_results_master_666.zip)

[2018-04-19 00:48] ianvernon opened #3803 "CI: k8s-1.10.K8sValidatedPolicyTest Basic Test tests PolicyEnforcement updates failure"
Relevant output:
[code]

Logs from when test failed:
[code]

Logs:
[test_results_master_668.zip](https://github.com/cilium/cilium/files/1926244/test_results_master_668.zip)

[2018-04-19 01:37] ianvernon commented on #3584
This file is auto-generated by go-swagger:
https://github.com/cilium/cilium/blob/d9143000325e61a9ed63817b453f7cffbf76de89/api/v1/models/configuration_map.go#L1-L21

There is no line 22.

[2018-04-19 01:46] ianvernon commented on #3584
Where error occurs in the compiler: https://github.com/golang/go/blob/f3962b1849a405995420fef4452f2a8493aa19e0/src/cmd/compile/internal/syntax/source.go#L114

We haven't seen this in some time. If we see it again, we can re-open.

[2018-04-19 01:46] #3584 closed, assigned to nobody

[2018-04-19 01:50] ianvernon commented on #3586
Not really sure what we can do here apart from retrying; this isn't a Cilium bug. I'm closing this as we need to focus on triaging Cilium issues as opposed to spurious network problems which could be on the baremetal boxes, on the servers hosting the binaries, etc.

[2018-04-19 01:50] #3586 closed, assigned to nobody

[2018-04-19 01:55] ianvernon commented on #3698
Discussed with @tgraf offline, can be closed since the above are merged.

[2018-04-19 01:55] #3698 closed, assigned to rlenglet

[2018-04-19 01:56] ianvernon commented on #1470
Closing as we have moved away from Bash scripts for tests.

[2018-04-19 01:56] #1470 closed, assigned to nobody

[2018-04-19 02:30] joestringer commented on #3698
@ianvernon does this apply for CIDR rule + L7 rule too?

[2018-04-19 03:30] #3208 closed, assigned to tgraf

[2018-04-19 06:12] joestringer opened #3807 "Unable to hash header file"
On startup, I have seen messages like this:

[code]

Is this harmless?

[2018-04-19 06:13] ianvernon commented on #3807
I believe this should be fixed by https://github.com/cilium/cilium/pull/3798 .

[2018-04-19 06:20] rlenglet commented on #3807
Those messages are harmless. But they were a symptom that we were potentially missing some optimizations.
Fixed in #3798

[2018-04-19 10:30] #3807 closed, assigned to rlenglet

[2018-04-19 16:24] jrajahalme commented on #3773
Same test flake here: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2539/execution/node/59/log/

[2018-04-19 16:43] aanm commented on #3773
@jrajahalme it doesn't look the same flake, although the test is the same, the failure happen on a different line.

cc @eloycoto I saw this in the logs:
[code]
is because of the jenkins updates from today?

[2018-04-19 16:47] joestringer opened #3814 "Investigate tracepoints on kfree_skb for drop monitoring"
We could build up a set of statistics on where `kfree_skb()` is being called to investigate issues where packets are being dropped unexpectedly.

[2018-04-19 17:33] ianvernon commented on #3620
Ping @eloycoto.

[2018-04-19 17:34] eloycoto commented on #3620
Yep, happy to get all the logs from pods if the test fail.

[2018-04-19 17:34] ianvernon commented on #3425
Closing due to https://github.com/cilium/packer-ci-build/pull/44 being merged.

[2018-04-19 17:39] ianvernon opened #3815 "CI: get logs from all pods (not just Cilium) if K8s tests fail"
In #3620 , we don't know what happened when a pod did not terminate in the specified timeout. If a test fails, just gather logs for all pods that are running in case something is wrong with the pod itself. Also get all previous logs for these pods.

[2018-04-19 17:40] ianvernon commented on #3620
@eloycoto  created https://github.com/cilium/cilium/issues/3815 for tracking this enhancement. I'm going to close this since AFAICT we don't have enough information to determine what happened, which the PR for #3815 will hopefully address.

[2018-04-19 17:40] #3620 closed, assigned to nobody

[2018-04-19 17:42] ianvernon commented on #1008
This is done, yes? See  http://docs.cilium.io/en/latest/gettingstarted/istio/ . Can this be closed?

[2018-04-19 17:45] ianvernon commented on #2901
Given that the only remaining issue is #1684 do we need this issue (#2901) still? We can close this and use #1684 itself.

[2018-04-19 17:55] ianvernon commented on #3072
Looks like #3359 addresses this more in-depth; @joestringer can this be closed?

[2018-04-19 17:56] eloycoto commented on #3425
Related to https://github.com/cilium/cilium/pull/3354

Vagrant box is still not updated in the project

[2018-04-19 18:00] ianvernon commented on #3031
Ended up not being able to pick this up; un-assigning myself.

[2018-04-19 18:08] ianvernon opened #3816 "CI: Test CNP Specs deletes resources within `It`"
Similar to https://github.com/cilium/cilium/pull/3626 , in that we should not delete resources (policies, pods) within the `It` because in order to debug Cilium effectively with calls to `cilium endpoint get`, etc., we need the resources created during the test to still exist when we gather the logs.

[2018-04-19 18:09] ianvernon commented on #3470
This is due to the fact that resources are deleted within the `It` :( Same issue as https://github.com/cilium/cilium/pull/3626 . I'll fix the test (tracked by https://github.com/cilium/cilium/issues/3816 ). Since we don't have enough logs, I'm closing this ticket. If this issue occurs again we can file a new ticket.

[2018-04-19 18:09] #3470 closed, assigned to nobody

[2018-04-19 18:10] ianvernon commented on #3623
Closing this as we don't have enough logs. #3636 fixed that, if we encounter again we can open a new issue.

[2018-04-19 18:10] #3623 closed, assigned to nobody

[2018-04-19 18:17] #3408 closed, assigned to ianvernon

[2018-04-19 20:05] borkmann commented on #3814
The way we could do it is to mark the skb on Cilium entry with some meta data that we don't use yet (tc_index?), and attach to kfree_skb a tracepoint triggering a BPF program that checks for these markings to filter. From BPF side we can reuse the same perf RB as for cilium monitor and intermix with custom data we collected about the kfree_skb. There's also the stackmap where we can automatically

[2018-04-19 20:08] jrajahalme opened #3819 "CI: RuntimeValidatedKafka test flake"
From https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2547/execution/node/58/log/:

[code]

[2018-04-19 20:26] ianvernon commented on #3819
This is because in the VM builds, we use newer Docker images, and the Docker iamge for Kafka needs a new environment variable. You can cherry-pick the following commit in your branch if you are hitting this: https://github.com/cilium/cilium/pull/3354/commits/719d8a04ac1b2728d66c20b36e5b5203d3b524d3 .

cc: @eloycoto

[2018-04-19 20:52] ianvernon opened #3821 "CI: audit tests to ensure resources are not deleted within `It`"
Audit the tests to find instances where resources are deleted with `defer`. Move these deferred deletions to be within `AfterEach`

- [x] `test/k8sT/Policies.go: KubernetesNetworkPolicy between server and client `
    - PR: https://github.com/cilium/cilium/pull/3823
- [x] `test/k8sT/Policies.go: Same Policy in the different namespaces`
    - PR: https://github.com/cilium/cilium/pull/3823
- [x] `te

[2018-04-19 21:01] jrajahalme commented on #3819
@ianvernon In which tree is that commit? I get:
[code]

[2018-04-19 21:08] joestringer opened #3822 "Update concepts docs"
Remove or update this paragraph:

[code]

[2018-04-19 21:08] jrajahalme commented on #3819
Never mind, I cherry-picked the change manually.

[2018-04-19 22:19] ianvernon commented on #3704
Closing as @jrajahalme said offline there is no further info to triage this.

[2018-04-19 22:19] #3704 closed, assigned to eloycoto

[2018-04-19 22:20] ianvernon commented on #3819
Sorry, just saw this notification. Glad you were able to figure it out. Thank you for filing this!!

[2018-04-19 22:25] ianvernon commented on #3475
Second / third bulletpoints were fixed by https://github.com/cilium/cilium/issues/3636, so am checking that box, and K8s tests now have logs per pod with timestamps if tests fail. Can we close this @joestringer ?

[2018-04-19 22:28] ianvernon commented on #3585
Also, we should triage community-reports : https://github.com/cilium/cilium/issues?q=is%3Aissue+is%3Aopen+label%3Akind%2Fcommunity-report .

I've gone through and tried to mark anything filed by an external contributor with this label. We can prioritize accordingly and see if the reports need further investigation, as they might show bugs in Cilium we have not hit yet in testing.

[2018-04-19 23:00] joestringer commented on #3072
Duplicate of #3359.

[2018-04-19 23:00] #3072 closed, assigned to nobody

[2018-04-20 04:19] jrajahalme opened #3825 "Endpoint IP cache: Multiple security IDs for the same endpoint IP"
Following is cilium debug log from a local test run of `tests/10-proxy.sh` grepped for IP address `10.11.129.91`. This address belongs to a server, for which there is no policy in the test run. However, it can be seen from these logs that cilium-agent sends this IP address listed for two different security IDs: 3729, and 48783. From the beginning of the logs it is clear that the security ID associ

[2018-04-20 04:30] jrajahalme commented on #3825
On a subsequent run I did not observe similar identity change and thus there were no duplicates.

[2018-04-20 04:36] ianvernon commented on #3825
@joestringer is this related to https://github.com/cilium/cilium/pull/3818 at all?

[2018-04-20 04:37] ianvernon commented on #3825
Do you have any output from `cilium-bugtool` to go along with this? I'd be intrigued to see what the controllers are for the endpoint with the IP in question, as well as `cilium status` output, etc.

[2018-04-20 05:06] ianvernon opened #3827 "CI: fix docker logs scripts"
When getting logs for docker containers with `docker logs`, the log-gathering functions try to get logs for no container ID:

[code]

[2018-04-20 05:12] ianvernon commented on #2829
@jrajahalme @rlenglet is this needed given that we interleave `cilium-envoy` logs with Cilium logs now?

[2018-04-20 05:15] ianvernon commented on #2306
@michi-covalent by this do you mean the type of archive? E.g., instead of `tar`, `tar.gz`?

[2018-04-20 05:20] ianvernon commented on #3413
@joestringer I did the following in my environment:

Stop Cilium:
[code]

Check its status:
[code]

Run bugtool:
[code]

Files are created in archive:
[code]

And the `cilium bpf *` command succeed:
[code]

# cilium bpf ct list global

[code]
# cilium bpf endpoint list

[code]
# cilium bpf ipcache list

[code]
# cilium bpf lb list

[code]
# cilium bpf proxy list

[code]
# cilium bpf tunnel list

[

[2018-04-20 05:21] rlenglet commented on #2829
IMO, the Cilium logs are good enough now.

[2018-04-20 05:22] ianvernon commented on #3799
This could be done via an argument to `cilium debuginfo` itself? I.e., `cilium debuginfo --file-per-command` or some other CLI argument. This could be done by default in the bugtool. What do you think?

[2018-04-20 05:26] ianvernon commented on #692
This should be done now; when running `cilium config PolicyEnforcement=enabled`, the endpoint configuration is changed accordingly. I think this can be closed. @jrfastab please confirm.

[2018-04-20 05:28] ianvernon commented on #678
I'm closing this. We already have a generic Map interface which is used across the code, and I think our current map implementations are specific enough to not warrant this.

[2018-04-20 05:28] #678 closed, assigned to nobody

[2018-04-20 05:32] ianvernon commented on #386
@tgraf can you provide more information here? We check endpoint state frequently in the CI.

[2018-04-20 05:38] ianvernon commented on #2520
Fixed by adb32c654de93ffe0ee671007bd8a0dd76350fb5 .

[2018-04-20 05:38] #2520 closed, assigned to nobody

[2018-04-20 05:40] ianvernon commented on #2853
This has been implemented:
[code]

[2018-04-20 05:40] #2853 closed, assigned to nobody

[2018-04-20 05:47] ianvernon commented on #3336
What about if we do the following:

`test-me-please` triggers two separate jobs, one of which runs `gofmt`, and the other which runs the tests in the VMs. We can make the compilation of Cilium no longer contingent upon `gofmt` being ran by providing a flag to the `Makefile` which disables it (i.e., it is enabled by default). Then, we can mark this second job as 'required' for something to be merge

[2018-04-20 05:48] ianvernon commented on #3420
@eloycoto any update on this? Been seeing this issue frequently in CI.

[2018-04-20 05:48] ianvernon commented on #3657
@eloycoto any update on this? Been seeing this issue frequently in CI.

[2018-04-20 05:50] ianvernon commented on #3658
Closing after discussion with @eloycoto on #3667 .

[2018-04-20 05:50] #3658 closed, assigned to ianvernon

[2018-04-20 06:38] #2829 closed, assigned to nobody

[2018-04-20 07:57] #3819 closed, assigned to nobody

[2018-04-20 08:31] #3559 closed, assigned to ianvernon

[2018-04-20 08:53] #3773 closed, assigned to eloycoto

[2018-04-20 12:57] raybejjani commented on #3723
@tgraf Is the issue that the Warn is scary? or that the error attached to it is scary? We can mask a subset of error messages or we can just make everything an Info.

[2018-04-20 16:31] #3816 closed, assigned to ianvernon

[2018-04-20 16:40] eloycoto commented on #3420
Fixed by: https://github.com/cilium/cilium/pull/3829

[2018-04-20 16:40] #3420 closed, assigned to eloycoto

[2018-04-20 17:04] ianvernon opened #3836 "CI: ginkgo-kubernetes-all.Jenkinsfile timeout is too short"
Extend the timeout for the K8s tests stage.

[2018-04-20 17:47] joestringer opened #3840 "pkg/ipcache should issue upserts with {mod, cachedIdentity, ipIDPair}"
This delete should not be present in `pkg/ipcache`, but rather in the lower layers that handle `OnIPIdentityChange()`:
https://github.com/cilium/cilium/blob/53065cc51a7ac148571e7bafa160c354d99d3fa7/pkg/ipcache/ipcache.go#L289-L294

The XDS side needs to issue delete of old identity->IP + add of new one, but the BPF doesn't. For the BPF side, this logic currently may cause datapath disruption durin

[2018-04-20 17:55] #3827 closed, assigned to ianvernon

[2018-04-20 18:20] ianvernon commented on #3270
I created a similar policy here, except changed the labels to reflect an app I had running in my test setup:

[code]

The CNP as stored in Kubernetes appears to not even consider the first rule:
[code]

I was interested in seeing if this was an ordering issue:

[code]

I reversed the rules:
[code]

And applied the policy:
[code]

As I suspected, the first `toPorts` gets overwritten:
[code]

[2018-04-20 18:23] ianvernon commented on #3270
I removed the second `toPorts` in the YAML:
[code]

Diff:
[code]

Apply the YAML:
[code]

Now both rules appear:
[code]

[2018-04-20 18:29] ianvernon commented on #3270
I wanted to see how Kubernetes NetworkPolicy behaved in this case:
[code]

Apply above policy:
[code]

The same behavior occurs for K8s:
[code]

[2018-04-20 18:31] ianvernon commented on #3270
Ideally we would be able to coalesce these lists together for CNP, but I'm not sure whether we can.  @aanm do you think this we can reject such a policy with multiple `toPorts` which get overwritten in our CRD validation?

[2018-04-20 18:34] joestringer commented on #3825
@ianvernon @jrajahalme the `delete identity=0` is a red herring. #3818  will address that log message, but it seems like you may be observing something new. #3841 should improve detecting the case described in this bug.

[2018-04-20 18:35] ianvernon commented on #3418
@ashwinp @joestringer seems like this has been triaged, so I'll remove the label. Is there anything else you want done as part of this issue?

[2018-04-20 18:37] ianvernon commented on #3294
@nebril @tgraf any other work to do here? Given that we could not reproduce and AFAICT have not seen this issue since, I'm for closing it.

[2018-04-20 19:31] ianvernon commented on #1486
Closing; we have a good workflow going for building Cilium images.

[2018-04-20 19:31] #1486 closed, assigned to nobody

[2018-04-20 19:33] ianvernon commented on #3585
I also want to start getting bots integrated to manage issues. This will help a lot with our GH backlog. See https://github.com/cilium/cilium/issues/1787

[2018-04-20 21:49] aanm commented on #3270
@ashwinp @ianvernon the policy described in the first comment is not well formated, this won't be caught by YAML parser itself, it has nothing to do with CNP nor CRD.

[code]
The `toPorts` contains an array of ports, `toPorts` is an attribute of the ingress rule, represented as `ingress`. You can have multiple values specified for the same key, in this case `toPorts`, but the YAML Unmarshaller wil

[2018-04-20 21:49] #3270 closed, assigned to nobody

[2018-04-20 22:15] #3836 closed, assigned to ianvernon

[2018-04-20 22:35] ianvernon opened #3845 "CI: runtime.RuntimeValidatedPolicies L3-Dependent L7 Egress failed"
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2612/

Failure:
[code]

Relevant output:
[code]

Logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_2612.zip](https://github.com/cilium/cilium/files/1933863/test_results_Cilium-PR-Ginkgo-Tests-Validated_2612.zip)

Of note in the monitor output (attached in logs above):
[code]

Policy looks fine for app3 endpoint:
[code]

[2018-04-20 22:44] ianvernon commented on #3845
From cilium logs, the configuration for the proxy:
[code]

[2018-04-20 22:59] jrfastab commented on #692
LGTM.

[2018-04-20 22:59] #692 closed, assigned to nobody

[2018-04-20 23:15] joestringer opened #3847 "Ingress allow-all fromEndpoints allows from world"
http://docs.cilium.io/en/latest/policy/language/#ingress-allow-all

In non-kubernetes environments, this policy matches all labels, which includes entity labels such as "reserved:world" and "reserved:host".

[code]

This is a bit counter-intuitive when the name of the field is `fromEndpoints`.

For 1.0, perhaps we should just document this.

For a future version, policy v3 should attempt to unify

[2018-04-20 23:36] joestringer commented on #3413
@ianvernon thanks for the triage, seems like this doesn't affect master today (or there's some more subtle condition that leads to this situation). We can close for now, and reopen if we determine there is more information.

[2018-04-20 23:36] joestringer commented on #3475
Sounds good, thanks for following up @ianvernon !

[2018-04-20 23:36] #3475 closed, assigned to nobody

[2018-04-20 23:51] jrajahalme opened #3850 "CI: K8sValidatedServicesTest flake"
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2617/execution/node/62/log/?consoleFull

Failure Output:
[code]

Console output from when test failed:
[code]

Archived logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_2617.zip](https://github.com/cilium/cilium/files/1934682/test_results_Cilium-PR-Ginkgo-Tests-Validated_2617.zip)

[2018-04-21 00:36] jrajahalme commented on #3850
Happened again: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2618/execution/node/62/log/?consoleFull

Maybe it is a real failure after all?

[2018-04-21 01:19] jrajahalme commented on #3850
This test does not even apply a policy; packets are dropped on L3, nothing to do with L7. My PR only touches Envoy code, so this failure is unrelated.

[2018-04-21 01:44] jrajahalme commented on #3850
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2619/execution/node/62/log/

[2018-04-21 01:49] jrajahalme commented on #3850
Master build failures for the same test:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/694/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/696/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/700/

[2018-04-21 15:06] #3822 closed, assigned to nobody

[2018-04-21 15:09] ianvernon commented on #3845
Test is failing on master: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/702/

[2018-04-21 15:10] ianvernon commented on #3850
Thanks for making this issue @jrajahalme ! In the future, can you please be sure to attach the logs from the test on the ticket? This way even if the build gets GC'd by Jenkins, we still have logs to work off of. Thanks! I will upload them here.

[2018-04-21 15:14] ianvernon commented on #3850
Similar issue: https://github.com/cilium/cilium/issues/3721

[2018-04-21 15:21] ianvernon commented on #3850
Sigh... not enough logs to debug effectively because this test deletes resources within the `It`, which means that the metadata to debug the setup is paltry in the gathered Cilium CLI output. https://github.com/cilium/cilium/pull/3823 fixes this (at least for this test).

[2018-04-21 16:27] tgraf opened #3855 "Pre Identity Policy"
When an endpoint is being bootstrapped, we put each endpoint into a drop-all mode which drops all packets except for ARP resolution of the default gateway IP until the identity of the endpoint has been resolved. This requires two pre conditions to be met:

* Labels (container and k8s) have been retrieved
* Identity has been resolved via kvstore

With standard TCP timeouts, this never causes issues

[2018-04-21 16:33] tgraf commented on #3847
fromEndpoints has evolved to support everything that can be addressed as a label so it includes CIDR and label compatible entities.

However, I'm surprised that the above works in the context of a k8s policy as the labelSelector should get extended to include a namespace label match. I think it will work when imported as JSON or when performing unit tests but it should not work when actually impor

[2018-04-22 15:28] aanm commented on #3585
@tgraf I think we should add this one https://github.com/cilium/cilium/issues/2354

[2018-04-22 16:19] tgraf commented on #3585
I agree, it keeps coming up more and more.

[2018-04-22 18:11] tgraf commented on #3594
Resolved with async status

[2018-04-22 18:11] #3594 closed, assigned to aanm

[2018-04-23 09:32] vadorovsky commented on #3717
That's a good idea too. I think we can use names `/run/cilium/bpf/fs_host` and `/run/cilium/bpf/fs_internal`, it will make debugging easier and even looking at `/proc/mounts` will make it clear which kind of mount we are using.

[2018-04-23 10:51] mehrdadpfg commented on #2463
thank's for following up 😍

[2018-04-23 11:39] #1413 closed, assigned to nobody

[2018-04-23 14:29] jrajahalme opened #3860 "CI: cilium.log cut off too early"
Looking at master build regression https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/705/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L3_Dependent_L7_Egress/:

Failing test command is given in the above log as:
[code]

However, in the build artifacts the last logs in `cilium.log` are:
[code]

Basically `cilium.log` is missing the critical output right before and during

[2018-04-23 14:38] jrajahalme commented on #3860
The regression in the test is that L3-dependent L7 policy does not take effect. The last policy for the endpoint that is visible in the logs does not have L7 at all, but we see from the very last line of the log that a L7 redirect/listener is being installed to Envoy. This should only happen if there is a L7 policy for that endpoint. Due to logs being cut off we don't see of such L7 policy is inst

[2018-04-23 17:19] ianvernon commented on #3860
Playing devil's advocate here - what if Cilium wasn't outputting any logs?

[2018-04-23 17:29] #2546 closed, assigned to ianvernon

[2018-04-23 17:44] joestringer commented on #3847
I was testing in a non-kubernetes environment, so that explains the behaviour I observed.

[2018-04-23 17:53] jrajahalme commented on #3860
The way the logs end tells me that they are somehow cut off, as the test log has evidence that cilium-agent was running after the logs end (e.g., successful `cilium policy wait 17`). That happening would have more logs indicating the xDS ACKs, etc.

Another thing that may explain this is some kind of log rotation on, but do we have it on the cilium logs?

[2018-04-23 18:03] ianvernon commented on #3845
From debugging with @rlenglet : we checked `cilium.log` and see the following:

[code]

When such an issue happens for the given IP (in this case `10.15.129.91`, which belongs to app3), it means that Envoy does not get identity to IP mappings more for this endpoint. Until Cilium is restarted this will persist.

#3825 addresses this underlying issue.

[2018-04-23 18:17] raybejjani opened #3863 "Add metrics to report Endpoint build failures and count of current endpoint state"
We export some prometheus metrics today (https://github.com/cilium/cilium/blob/master/pkg/metrics/metrics.go) but they are sparse. As part of monitoring cluster health, it would be useful to report:
- a counter of endpoint build failures
- a count of endpoints, labelled by the endpoint state (i.e. the same metric name but with different labels, similar to https://github.com/cilium/cilium/blob/mast

[2018-04-23 18:25] raybejjani commented on #3585
@jrajahalme @rlenglet for the bullet "CIDR support in Envoy" I linked a PR that seemed relevant. If it isn't could you make an appropriate issue to link to?

[2018-04-23 18:29] jrajahalme commented on #3585
@raybejjani Thanks, that PR is the one, but needs a fix that is approved but still needs to pass CI and be merged. I added a checkbox for that.

[2018-04-23 19:40] joestringer opened #3864 "CI: runtime.RuntimeValidatedChaos removing leftover Cilium interfaces flake: Atoi"
[code]
[test_results_Cilium-PR-Ginkgo-Tests-Validated_2631.zip](https://github.com/cilium/cilium/files/1939715/test_results_Cilium-PR-Ginkgo-Tests-Validated_2631.zip)

[2018-04-23 19:53] #3847 closed, assigned to nobody

[2018-04-23 21:42] jrajahalme commented on #3825
Just in case this is still needed, in my local testing of additional logging I got this:
[code]

[2018-04-23 22:16] joestringer opened #3866 "Retire code for removal of old maps"
These maps were removed in 1.0, so Cilium 1.0 will delete them on sight. In a future release, we should retire this code.

https://github.com/cilium/cilium/blob/be8c148ac95ab387dac39726afa1c674f5c41194/pkg/maps/tunnel/tunnel.go#L60-L61

IMHO in this particular instance this code should be safe to clean up in 1.1, however in future when maps are removed we should consider scheduling removal of the

[2018-04-23 22:59] tgraf opened #3867 "Invalid escape from CT GC"
I found a lot of these errors in some logs:
[code]

They indicate that we break out of the following loop:
[code]

This is problematic from various perspectives:
 * We abort the GC run
 * This adds a lot of churn to the log for a non serious error

We need to handle this better

[2018-04-23 23:37] #3825 closed, assigned to rlenglet

[2018-04-24 00:00] ianvernon commented on #1787
We should be able to configure this bot to automatically apply labels to PR's based off of what is changed in a PR. For instance, if a PR contains any documentation changes, the `area/Documentation` label can be applied.

[2018-04-24 00:03] tgraf opened #3870 "Host IP disappears from BPF endpoint map"
We have seen instances where the IP assigned to the `cilium_host` interface disappears from the endpoint list when Cilium is getting restarted frequently.

The most likely explanation is the following:
1. Cilium start allocates an IP out of the address range for cilium_host
2. Endpoint restore happens and a previous endpoint was using the IP that was allocated for cilium_host in the previous step

[2018-04-24 17:03] ianvernon commented on #3845
https://github.com/cilium/cilium/issues/3825 has been closed, so closing this as well.

[2018-04-24 17:03] #3845 closed, assigned to nobody

[2018-04-24 18:03] raybejjani commented on #3585
I'd like to nominate upgrade compatibility to this, already full, list. We already test for it but do we test for partially upgraded clusters and the various outcomes etc. ?

[2018-04-24 20:31] aanm opened #3878 "CI: 1.9.K8sValidatedPolicyTest - DNS \"redis-master.default.svc.cluster.local\" is not ready after timeout"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/139/testReport/junit/k8s-1/9/K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example/

[code]

PR https://github.com/cilium/cilium/pull/3874

[test_results_Cilium-PR-Ginkgo-Tests-K8s_139.zip](https://github.com/cilium/cilium/files/1944488/test_results_Cilium-PR-Ginkgo-Tests-K8s_139.zip)

[2018-04-24 20:38] #3459 closed, assigned to eloycoto, ianvernon

[2018-04-24 20:43] ianvernon commented on #3726
Unfortunately, the logs were not attached as part of this ticket and the build has since been GC'd by Jenkins. I'm closing this since we can't do much triage without logs.

[2018-04-24 20:43] #3726 closed, assigned to nobody

[2018-04-24 21:07] ianvernon commented on #3878
This is happening for a variety of builds in master as well:

* https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/706
* https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/708/
* https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/710/
* https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/717/
* https://jenkins.cilium.io/job/cilium-ginkgo/j

[2018-04-24 22:04] ianvernon commented on #3401
I presume the Method can be defined as any of the following defined [here](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html)?

* OPTIONS
* GET
* HEAD
* POST
* PUT
* DELETE
* TRACE
* CONNECT

Is this correct?

[2018-04-24 22:22] ianvernon commented on #3401
I wonder what the regex for this path should be? Ideally it should be something that is matched in Envoy?

https://github.com/cilium/cilium/blob/50403f4e9495c90d879d9ef173e73c50b0c8ba59/pkg/policy/api/http.go#L26-L34

[2018-04-24 22:56] ianvernon commented on #3401
@jrajahalme @rlenglet do you know what regexes are used for the equivalent of `Path` on the Envoy side? We should use this to be in sync with whatever Envoy uses.

[2018-04-24 22:56] #3106 closed, assigned to eloycoto

[2018-04-24 23:10] manalibhutiyani opened #3880 "Move RuntimeValidatedPolicyDropAllTests to RuntimeValidatedPolicies"
For reference see #3625 and #3804 comments.

[2018-04-24 23:20] tgraf commented on #2942
Community hint: We have no indication that people are using this. Please leave a comment if you are intending to use this feature.

[2018-04-24 23:30] manalibhutiyani opened #3882 "CI: vm.PolicyDelAll does not behave as expected for endpoints with no labels/policy"
See #3804
and #3625 for reference.

How to reproduce:
[code]
Since there is no policy enforced on the containers in the`RuntimeValidatedPolicyDropAllTests` , instead of simply returning  success, we wait endlessly for a policy change and timeout .

[code]

[2018-04-24 23:37] manalibhutiyani commented on #3880
Blocked on #3882

[2018-04-24 23:39] rlenglet commented on #3401
@ianvernon it uses the syntax standardized in http://en.cppreference.com/w/cpp/regex/ecmascript

[2018-04-24 23:50] ianvernon commented on #3882
`PolicyDelAll` deletes and then waits for policy revision to be bumped. This should do `cilium policy get` and see if no policy exists before deleting and waiting.

[2018-04-25 09:35] naude-r commented on #3585
would [thrift](http://thrift.apache.org) support be considered? specifically the binary protocol and multiplexed frames.

[2018-04-25 09:42] nebril commented on #3878
Also encountered on k8s 1.7: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2634/

[2018-04-25 10:55] raybejjani commented on #3878
Looking at this a little bit. It looks like kubedns just didn't have the service in it. This is really odd and doesn't make any sense :/ We recently added some extra digs on fail and they show that the connection to the DNS server is running:
[code]

both ciliums have the correct service IP and backend IP in the bfp lb map (10.97.187.12 -> 10.10.0.86) so somewhere a service object was created and

[2018-04-25 13:08] nebril opened #3887 "Monitor simplified mode"
Cilium monitor should aggregate information from low-level monitor events and only emit info about these type of events:

- [x] Policy events (policy creation, deletion)
- [x] Label based output in default view for both L7 and L3/L4
   - [x] L7: `svcA -> svcB HTTP GET /....`
   - [x] L3-L4: `svcA:3000 -> svcB:80`
- [x] k8s namespace awareness via `-n` flag
   - [x] translate `-n` in microscope int

[2018-04-25 13:10] nebril opened #3888 "[monitor] reliable related-to flag"
Monitor should derive all IPs of endpoint and be able to use (endpoint ID OR IP) as filter.

IP information needs to be taken out of the packets and be matched by endpoint information retrieved from ipcache.

[2018-04-25 13:14] nebril opened #3889 "Consistent resolution of identities and ids to labels"
Ability to resolve IP and endpoint ID to labels

Currently cilium monitor only if identity is known

Use ipcache to resolve endpoint ID and endpoint IPs to labels

- monitor command needs to reimplement what is done in Microscope (label and name-based endpoint selection based on endpoint data) and add IP address support (#3888). monitor command can get this information from cilium daemon serving A

[2018-04-25 13:53] raybejjani opened #3891 "CEPs should mirror parent pod labels"
1 CEP (CiliumEndpoint) object is created per pod managed by cilium. The name of the CEP is the same as the pod, which makes it easier to select. Label based selection is common, however, and quite convenient. If we mirror the pod's labels onto the corresponding CEP object we can issue an equivalent kubectl command with label filters to get the list.

[2018-04-25 13:56] raybejjani commented on #3889
Isn't there enough information in the CEPs to derive this in microscope? Endpoint IDs are specific to the node but IPs are unique to the pod. I would argue that filtering in microscope by endpoint id shouldn't be supported. pod-name or IP are effective unique IDs. The mapping to the the monitor command still needs to extract the id, though, but that is also in the CEP. If we do https://github.com/

[2018-04-25 14:00] raybejjani commented on #3888
https://github.com/cilium/cilium/issues/3889#issuecomment-384295973 might also apply here but, more generally, could monitor figure out the IPs from talking to the agent only? Alternatively, a given IP must be unique (at least within the pod IP ranges). We could look at all interfaces on the machine, match the one with the IP, and get the set of IPs bound to it. This is making some assumptions, th

[2018-04-25 14:42] #3544 closed, assigned to aanm

[2018-04-25 16:10] #3625 closed, assigned to manalibhutiyani

[2018-04-25 16:14] manalibhutiyani commented on #3882
Works as expected. I think we need to be careful before calling this function about existing containers /endpoints with no policy in the environment.

[2018-04-25 16:14] #3882 closed, assigned to nobody

[2018-04-25 18:52] ianvernon opened #3895 "two identities appear for `reserved:health`"
When starting the Cilium developer VM `NFS=1 ./contrib/vagrant/start.sh`, and listing all identities, I see the following:

[code]

The health endpoint is given the identity `22260`:
[code]

It appears that identity 4 is never actually used.

[2018-04-25 18:54] manalibhutiyani commented on #3895
Looks simple. I can take a look at this one?

[2018-04-25 18:56] joestringer commented on #3895
Correct, it's not used but we don't apply policies for the `reserved:health` endpoint so it's just an extraneous identity. We should be able to fix this up without too much trouble, but it requires some understanding of how identity allocation works.

[2018-04-25 18:58] manalibhutiyani commented on #3895
Will be a good exercise for me then. Since this issue is not super critical IMO, I can look at the code. Will ping you for pointers!

[2018-04-25 20:40] ianvernon commented on #3855
Assigned to Romain since he already started working on this.

[2018-04-25 20:52] ianvernon opened #3897 "bpf: do atomic swapping of PolicyMap per endpoint"
When we update the policymap for an endpoint, we do it on a per-entry basis in the map that is currently live in the datapath. Instead, when regenerating policy, create a new map, and if all insertion into that map is successful, atomically swap the maps that are used for the endpoint in the datapath once policy recomputation is complete.

[2018-04-25 21:02] joestringer commented on #3897
This can be done using "map-in-map" (`BPF_MAP_TYPE_ARRAY_OF_MAPS` / `BPF_MAP_TYPE_HASH_OF_MAPS`).

[2018-04-25 22:31] joestringer opened #3900 "CI: KubernetesNetworkPolicy performs deferred cleanup in test function"
This call cleans up state as part of the test:

https://github.com/cilium/cilium/blob/4fd4e09ce6c94102cf46f4d918042c0868b64d4d/test/k8sT/Policies.go#L861

https://github.com/cilium/cilium/blob/4fd4e09ce6c94102cf46f4d918042c0868b64d4d/test/k8sT/Policies.go#L1187-L1191

This is poor form, it prevents appropriate log gathering on failure.

[2018-04-25 22:39] joestringer opened #3901 "CI: k8s-1.7.K8sValidatedPolicyTest KubernetesNetworkPolicy between server and client should enforce policy based on NamespaceSelector flake"
## Summary

In the KubernetesNetworkPolicy test, the pod did not successfully exit.

## Stacktrace
[code]

## Standard Output
[code]

## Potentially relevant bits from `cilium-0n96t-logs.log`:

[code]
## Logs

[test_results_Cilium-PR-Ginkgo-Tests-Validated_2723.zip](https://github.com/cilium/cilium/files/1949052/test_results_Cilium-PR-Ginkgo-Tests-Validated_2723.zip)

## Other relevant info

This

[2018-04-25 22:48] joestringer commented on #3901
For what it's worth, I've seen this on master, not just on a PR:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/727/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/725/

[2018-04-25 22:49] joestringer commented on #3802
Seen again: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/724/testReport/junit/k8s-1/10/K8sValidatedHealthTest_checks_cilium_health_status_between_nodes/

[2018-04-25 22:55] joestringer commented on #3802
I think that the problem here is that the Cilium instances are started, which triggers launch of the `cilium-health` endpoints, but there's no guarantee that each Cilium instance has annotated the endpoints into k8s (and therefore propagated knowledge of other `cilium-health` endpoints to other instances).

[2018-04-26 00:02] #3573 closed, assigned to ianvernon

[2018-04-26 00:08] joestringer commented on #3413
Seen again in this PR:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2733

See `cilium-p8whh` bugtool.

[test_results_Cilium-PR-Ginkgo-Tests-Validated_2733.zip](https://github.com/cilium/cilium/files/1949222/test_results_Cilium-PR-Ginkgo-Tests-Validated_2733.zip)

[2018-04-26 00:14] joestringer opened #3903 "CI: k8s-1.10.K8sValidatedServicesTest Bookinfo Demo Tests bookinfo demo flake"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/728

## Summary

Pods are not ready when starting up "tests bookinfo demo" test.

## Stacktrace
[code]

##Standard Output
[code]

## Logs
[test_results_master_728.zip](https://github.com/cilium/cilium/files/1949229/test_results_master_728.zip)

[2018-04-26 00:17] ianvernon commented on #3897
Hm, we do not have those in the file that we include:
https://github.com/cilium/cilium/blob/b814d8341e50beeadf6d004cb422eb7dce2f74d4/bpf/include/linux/bpf.h#L86-L99

But we have them in the golang counterpart of the above:

https://github.com/cilium/cilium/blob/b814d8341e50beeadf6d004cb422eb7dce2f74d4/pkg/bpf/bpf.go#L36-L52

Is this intentional? I am a BPF newbie so I could be completely wrong ;)

[2018-04-26 00:22] joestringer opened #3905 "`bpf lb list` shows backend `0.0.0.0:0`"
Is this supposed to happen?

[code]

See `cilium-p8whh_bpf_lb_list.txt` in `110-/K8sValidatedServicesTestChecksserviceacrossnodesChecksClusterIPConnectivity/ :

[test_results_Cilium-PR-Ginkgo-Tests-Validated_2733.zip](https://github.com/cilium/cilium/files/1949240/test_results_Cilium-PR-Ginkgo-Tests-Validated_2733.zip)

[2018-04-26 00:30] joestringer commented on #3905
Apparently this is normal, the first entry will show as `0.0.0.0:0` and have the number of services to loadbalance to. This is not printed in the `cilium bpf lb list` output.

https://github.com/cilium/cilium/blob/786376ee9c1489505f722f20e5b20e35f7b7e9ad/bpf/bpf_lxc.c#L166-L168

https://github.com/cilium/cilium/blob/b814d8341e50beeadf6d004cb422eb7dce2f74d4/bpf/lib/lb.h#L358-L360

[2018-04-26 00:30] #3905 closed, assigned to nobody

[2018-04-26 00:31] joestringer commented on #3897
@ianvernon We just haven't synced the headers for a while, and since we're not using these variables yet it doesn't matter. We'll need to pull in newer linux `include/uapi/linux/bpf.h` when implementing this feature.

[2018-04-26 00:33] joestringer commented on #3878
@raybejjani the "0.0.0.0 (0)" entry in `cilium bpf lb list` is normal, it is used in the BPF to hold the number of other service backends that there are (I investigated briefly in https://github.com/cilium/cilium/issues/3905).

[2018-04-26 08:11] borkmann commented on #3897
Note that this feature requires a kernel version of 4.12 or higher. Not a problem, but we need some compat wrappers and feature probe detection for 4.9 - 4.11 kernels.

[2018-04-26 08:44] joestringer commented on #3418
@ianvernon I think it's safe to close out. It can be reopened or a new issue filed if there are any further items.

[2018-04-26 08:44] #3418 closed, assigned to nobody

[2018-04-26 15:55] rlenglet commented on #3895
This is fixed in https://github.com/cilium/cilium/pull/3911, more particularly in this commit: https://github.com/cilium/cilium/pull/3911/commits/d003458ff45d0bde75cc7c44c6c26b3d282de9da

[2018-04-26 17:11] joestringer opened #3916 "CI: k8s-1.9.NightlyPolicies PolicyEnforcement default L3:No Policy L4:Ingress Port 80 No protocol L7:Ingress policy /private/ Destination:service failed"
https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/188/

**Note: The build artifacts are 3GB, or about 19GB extracted**

Several tests failed. Example:

https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/188/testReport/junit/k8s-1/9/NightlyPolicies_PolicyEnforcement_default_L3_No_Policy_L4_Ingress_Port_80_No_protocol_L7_Ingress_policy__private__Destination_service/

## Summar

[2018-04-26 17:20] #3880 closed, assigned to nobody

[2018-04-26 17:22] tgraf opened #3917 "Add bpfps to docs and troubleshooting tools"
New tool by @jessfraz to list and diagnose BPF programs
https://github.com/genuinetools/bpfps

**Tasks:**
- [ ] Add bpfps to cilium-bugtool
- [ ] Refer to it in documentation
- [ ] Add section to troubleshooting guides

**Example:** (https://github.com/genuinetools/bpfps)

[code]

[code]

[2018-04-26 21:15] joestringer commented on #2901
@ianvernon :+1:

[2018-04-26 21:15] #2901 closed, assigned to joestringer

[2018-04-26 21:28] joestringer opened #3920 "`make unit-tests` fails: etcd container refuses to start"
When I run `make unit-tests`, it fails on my host because the testsuite panics while attempting to contact etcd:

[code]

[code]
[code]

This doesn't appear to affect the CI environment. I'm not sure why it's attempting to listen on `198.105.254.130`. Has anyone else observed this? Any ideas?

[2018-04-26 22:06] joestringer commented on #3920
This appears to be a manifestation of https://github.com/kubernetes/kubernetes/issues/57709. #3921 seems to fix this for me locally.

[2018-04-26 22:24] joestringer commented on #3916
One interesting point from the logs:
[code]

Seems that we're trying to execute a stringified slice, and `[cilium` isn't a binary.

Might not be related to the root cause here.

[2018-04-26 22:40] joestringer commented on #3916
I suspect this is the root cause:

[code]

Yesterday, #3894 was merged which requires that L7 rules such as for HTTP cannot be specified for UDP.

@eloycoto is there a way to see the policy that the testsuite tried to import at the time of failure? Or for that matter, fail when that's imported rather than later on in a connectivity check?

[2018-04-26 23:13] #3802 closed, assigned to nobody

[2018-04-27 00:39] tgraf commented on #3651
This has been resolved

[2018-04-27 00:39] #3651 closed, assigned to jrajahalme

[2018-04-27 00:45] joestringer opened #3924 "Update VERSION for post-1.0"
https://github.com/cilium/cilium/blob/c19e930db4fd9c32ff11909c00f45ccb8f11c3d6/VERSION#L1

[2018-04-27 03:42] manalibhutiyani opened #3926 "cilium endpoint goes into not-ready state after editing l7 rule from http to kafka"
Reported by @michi-covalent

my policy had an error where the l7 rule was supposed to be kafka but it was http instead:
[code]
i used kubectl edit cnp and modified the rule to:
[code]
but after the the endpoint went to not-ready state and it didn't come back.

[2018-04-27 03:46] manalibhutiyani opened #3927 "envoy returns plain text response when request to origin server times out"
Reported by @michi-covalent

this envoy github issue has most of the context: https://github.com/envoyproxy/envoy/issues/1934
basically go-grpc client is expecting grpc response, and it gets confused when it sees plain text response.

[2018-04-27 05:43] #3870 closed, assigned to jrajahalme

[2018-04-27 05:47] ackerman80 opened #3928 "Minikube getting started guide app yaml doesn't work with K8s 1.8.0"
## Bug reports

### Minikube getting started guide app yaml doesn't work with K8s 1.8.0

### General Information

Issue is unrelated to Cilium.
### How to reproduce the issue

1. minikube start --network-plugin=cni --memory=4096 --kubernetes-version v1.8.0
2. kubectl create -f https://raw.githubusercontent.com/cilium/cilium/HEAD/examples/minikube/http-sw-app.yaml
[code]

[2018-04-27 07:39] eloycoto commented on #3916
@joestringer The test works :grinning: I'll try to figure it out a fix today, it's going to be hard to fix this one TBH.

[2018-04-27 10:28] #3924 closed, assigned to tgraf

[2018-04-27 15:47] tgraf opened #3933 "Disable drop-all policy mode when no policies are loaded"
There is no point to go through drop-all mode if the policy enforcement is set to "default" and no policies are loaded at all. Skip the drop-all step alltogether.

[2018-04-27 16:02] eloycoto commented on #3337
Linked with  https://github.com/cilium/cilium/issues/3284

[2018-04-27 16:17] tgraf opened #3934 "Improve cilium status error if agent is still down"
When cilium is starting, kubelet will invoke readiness probes. We have a short readiness delay to indicate readiness as early as possible. The error message does not make this very clear though and can be improved.

[code]

[2018-04-27 16:33] manalibhutiyani commented on #3337
This is a duplicate of #3284. Spoke to @eloycoto offline, assigning to myself to not duplicate efforts.

[2018-04-27 16:41] #3901 closed, assigned to nobody

[2018-04-27 16:45] jrajahalme commented on #3933
@manalibhutiyani Would DROP_ALL test start failing due to this change?

[2018-04-27 16:52] manalibhutiyani commented on #3933
I believe that it will. We will need to adjust the DROP_ALL tests to have a policy enforced (similar to the pre-identity changes that @rlenglet is working on)

[2018-04-27 16:54] manalibhutiyani commented on #3933
But I think your change on this PR might conflict with what @rlenglet  was planning to implement for pre-identity. We should sync up to make sure there is no confusion there.

[2018-04-27 17:12] joestringer opened #3935 "Cilium gets into a state where an endpoint lxc device doesn't exist for an endpoint"
### Summary

Cilium can get into a state where the lxc device for an endpoint has been deleted, but Cilium attempts to regenerate the endpoint for it.

### General Information

- Cilium 1.0
- Kubernetes

### How to reproduce the issue

Unknown.

It might be as simple as:
* Adding an endpoint
* Stopping/Restarting cilium
  * While Cilium is down, delete the underlying endpoint
* Cilium starts back

[2018-04-27 17:13] rlenglet commented on #3933
Agreed, this should not be needed after https://github.com/cilium/cilium/pull/3911 is in.

[2018-04-27 18:10] jrajahalme commented on #3933
#3938 implements this

[2018-04-27 18:14] tgraf commented on #3933
What is not needed?

[2018-04-27 18:15] rlenglet commented on #3933
Because I think it's redundant.

[2018-04-27 18:17] joestringer opened #3940 "Mark traffic in OUTPUT chain to identify host vs. world"
Currently we make use of two mark values for traffic coming from the proxy, to know what the peer identity of the traffic is. If neither of these are set, then the traffic is not coming from the proxy.

https://github.com/cilium/cilium/blob/c0daedb720d2448d0c6ed7c435eb8e9b501a10e4/bpf/bpf_netdev.c#L130-L140

If we also mark traffic in the OUTPUT chain for the relevant interface with some new magic

[2018-04-27 18:20] tgraf commented on #3933
Discussed in person. The goal of this issue is to never require user intervention if the user does not have the intent to ever load policies rules.

Always requiring an init identity policy for certain use cases only makes sense if the user intents to lock down the environment in some form. This issue is exclusively addressing the use case of a user running the default configuration but never load

[2018-04-27 21:29] joestringer opened #3942 "Handle CIDR identity / ipcache kvstore allocations via controller"
In #3835 , support for CIDR-dependent L4 egress policies is proposed, but if there is any connectivity issue with the kvstore during policy import, then policy import would fail.

We should consider shifting the CIDR->ID kvstore operations into a controller, and allow the policy to be imported (but not confirm that it is applied until all of the kvstore operations have succeeded).

Notes:
* To pro

[2018-04-27 21:45] #3933 closed, assigned to jrajahalme

[2018-04-27 22:29] manalibhutiyani opened #3945 "Zero length cidr mask is not allowed inspite of being a valid cidr"
Apply policy with 0 length cidr mask

Policy:
[code]

This is the error we get when trying to import this policy
[code]

[2018-04-27 22:29] manalibhutiyani commented on #3945
@joestringer

[2018-04-27 22:53] jrajahalme commented on #3867
Looking how bpf dumps work, if a lookup on an element fails, subsequent BPF_MAP_GET_NEXT_KEY will return the *first* key in the map, if it exists. Hence, if we do not stop iteration on lookup error we will loop forever.

If there are no concurrent operations on the map this style of iteration will traverse all elements of the map. In the presence of concurrent modifications the key returned by GET

[2018-04-28 00:04] tgraf commented on #3867
Discussed in person.
The original logic is because we can't delete an entry and then call `GetNextKey()` on it. On error handling, we decided to keep track of the previous two keys and fall back to the previous key if `GetNextKey()` on the current key fails.

Also discussed adding a metric to count the number of failed GC attempts.

[2018-04-28 00:40] jrajahalme commented on #3867
Discussed online, the snippet I proposed above does not work when current element is deleted.

[2018-04-28 00:41] jrajahalme commented on #3867
Solution proposal in #3946

[2018-04-28 01:49] bobrik opened #3947 "Add a note about gobpf in godoc"
Cilium has own `bpf` package:

* https://godoc.org/github.com/cilium/cilium/pkg/bpf

There's also `gobpf` library from iovisor project:

* https://godoc.org/github.com/iovisor/gobpf/bcc

Both seem to be able to work with maps. The latter can also load programs, which the former cannot.

It would be nice to have a paragraph or two about relation of these two packages in Cilium's godoc.

[2018-04-28 05:41] tgraf commented on #3935
We can use `netlink.LinkByName` to check on restore

[2018-04-28 07:19] tgraf opened #3949 "Warning on endpoint removal when running with --enable-policy=never"
**How to reproduce:**
1. Run agent with `--enable-policy=never`
2. Create an endpoint and remove the endpoint again

[code]

[2018-04-28 16:09] ianvernon commented on #3900
This duplicates https://github.com/cilium/cilium/issues/3821

[2018-04-29 13:30] amit-handa commented on #654
eagerly looking to try cilium with kubeadm. however, cilium daemonset refuses to start
[code]
i just installed cilium
[code]
etcd is listed as 127.0.0.1:2379 there. I aint sure what should be put there.

[2018-04-29 16:24] tgraf commented on #654
@amit-handa We'll make this a priority. We have recently switched over to using kubeadm for internal testing. We'll craft a guide.

[2018-04-30 11:34] nebril opened #3952 "CI: vagrant doesn't bring `VBoxManage`"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2813/

[code]

[2018-04-30 11:39] #3920 closed, assigned to nobody

[2018-04-30 11:48] nebril opened #3954 "Extract monitor daemon into different container"
Monitor daemon can be extracted from Cilium container to new container within the pod.

AFAIK all communication between Cilium agent and monitor daemon happens through unix domain sockets, they can be shared between containers as pod volumes.

First step would be to run `cilium-node-monitor` in second container based on `cilium/cilium` image and disable agent code starting monitor inside main cili

[2018-04-30 13:29] nebril commented on #3954
@raybejjani any comments here?

[2018-04-30 14:51] eloycoto commented on #3952
jenkins-workspace-0 node had problems, I already fix that ;-)

[2018-04-30 14:51] #3952 closed, assigned to nobody

[2018-04-30 15:28] raybejjani commented on #3954
However we do this, we should keep in mind that we will want to do the same thing with envoy & co.
I'm not sure if the agent crashes or exits when the monitor is not detected. Another thing to consider is that we currently pipe stdout and stderr to the agent (I think. I might be wrong). We would need to restructure that appropriately. In a similar vein, we also need to consider how annoying it wil

[2018-04-30 15:44] raybejjani commented on #3954
We also need to be careful about how we version the image for this. There is an API between the agent and monitor but we just don't track it well. It wouldn't be terribly good to split these up, then create an incompatibility down the line.

[2018-04-30 16:48] ianvernon commented on #3878
Questions about cause / things we need:

* Loss of connectivity between kube-dns and kube-apiserver?
* Get more logs from kube-dns (verbose option, most verbose possible?)
* Potentially fallout from drop-all? Is this from Cilium behavior?
* Do monitor logs show drops from kube-dns to kube-apiserver?

[2018-04-30 16:52] ianvernon opened #3958 "CI: add sanity checks before any test runs"
* Container creation
* DNS working

Add more below :)

[2018-04-30 21:03] #3867 closed, assigned to jrajahalme

[2018-04-30 22:09] ianvernon commented on #3952
@eloycoto can you please describe what you did to fix these issues so others can do so in the future as well?

[2018-04-30 23:13] manalibhutiyani commented on #3926
This is similar to trying to import conflicting policies.

This is the error we get in cilium
[code]

Ideally ` kubectl edit cnp ` should have failed stating this error. Do we expect to delete the endpoint altogether along with closing the envoy proxy redirect and regenerate the endpoint with Kafka rules?

This is similar to trying to apply 2 conflicting policies like so:

[code]

Output after app

[2018-04-30 23:24] #3175 closed, assigned to manalibhutiyani

[2018-04-30 23:24] #3494 closed, assigned to manalibhutiyani

[2018-05-01 01:13] jrajahalme opened #3966 "CI: ip-identity watcher stopped receiving events, causing egress policy test failures"
Looking at the CI run out put here:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2839/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L3_L4_Checks/

`monitor.log` shows (showing only relevant lines):
[code]

Both the IPv4 (`10.15.83.26`) and IPv6 (`::0:f426` should match `f00d::a0f:0:0:f426`?) belong to the `container:id.httpd2` (from `test-output.log`):
[code]

And inde

[2018-05-01 01:26] jrajahalme commented on #3958
* endpoint IP/ID mappings are found from the bpf ip cache?

If not a CI sanity check, this is a basic Cilium invariant, failures of which show as (intermittent) test failures on test cases that depend on the mapping (label based egress policy rules). It would be nice to have this kind of check be done before running any end-to-end policy tests that may depend on the IP/ID mapping, as having a fail

[2018-05-01 01:27] jrajahalme commented on #3958
* basic kv-store connectivity test

[2018-05-01 01:47] jrajahalme opened #3967 "CI: logged "STEPs" should indicate if the command is expected to succeed or fail and why"
It would be helpful for forming an initial understanding of a test failure if the logged test *STEP*s would indicate if the attempted command is expected to succeed or fail, and for what reason. This information can obviously be deciphered from the test sources, possibly by referencing the imported policy yaml, but that takes a lot of time for someone not already familiar with the test case in que

[2018-05-01 02:37] ianvernon commented on #3966
@joestringer can we debug this together tomorrow?

[2018-05-01 06:28] eloycoto commented on #3967
@jrajahalme Yes,I'm agree on this, but that i's the test-output, and in the test itself we `expectFail` or `expectSucess` so if the test fails you will see the output and the assert message, and you will know the current output. (The idea is, if the test pass is the expected behaviour, if not pass you will see where,what, and why it fails)

The issue is  when a new connectivity test, where you tes

[2018-05-01 08:51] annajeanine commented on #1918
@jan2ary Thank you so much for fixing this issue! Could you please explain how an app install in my virtual machine fixed the ssh problem on my host?

[2018-05-01 08:56] eloycoto opened #3969 "CI: context deadline exceeded"
External services To Services first endpoint creation match service by labels

[code]

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/758/testReport/junit/k8s-1/7/K8sValidatedServicesTest_External_services_To_Services_first_endpoint_creation_match_service_by_labels/

[2018-05-01 08:57] eloycoto commented on #3969
Hit by @rlenglet in a doc PR:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2849/execution/node/65/log/
https://github.com/cilium/cilium/pull/3968

[2018-05-01 09:01] eloycoto opened #3970 "CI: Conntrack-related configuration options for endpoints"
Issue seen in master:

[code]

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/756/testReport/junit/(root)/runtime/RuntimeValidatedConntrackTest_Conntrack_related_configuration_options_for_endpoints/

[test_results_master_756.zip](https://github.com/cilium/cilium/files/1963368/test_results_master_756.zip)

[2018-05-01 09:04] eloycoto commented on #3903
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/755/

[2018-05-01 09:07] eloycoto opened #3971 "CI: RuntimeValidatedPolicies TestsEgressToHost Tests Egress To Host"
[test_results_Ginkgo-CI-Tests-Pipeline_2280.zip](https://github.com/cilium/cilium/files/1963381/test_results_Ginkgo-CI-Tests-Pipeline_2280.zip)

[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2280/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_TestsEgressToHost_Tests_Egress_To_Host/

[2018-05-01 09:08] eloycoto commented on #3903
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2282

[2018-05-01 09:09] eloycoto commented on #3969
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2287/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default_deny_egress_policy/

[2018-05-01 10:37] #3399 closed, assigned to eloycoto

[2018-05-01 10:41] gretel commented on #1918
@annajeanine seems like this particular package (`ifupdown`) contains `/sbin/ifdown` and `/sbin/ifup` - so the script can succeed.

[2018-05-01 15:17] eloycoto commented on #3878
1) I saw the failures, and no policies and no log that say that. (It should have message)https://stackoverflow.com/questions/48264217/kube-dns-cannot-find-api-server
3) I review few cases, and no policies was applied to Kube-dns (Added PR for more debug)
4) It shows that connects and Kube-dns reply nothing.

2) PR is coming.

[2018-05-01 16:14] eloycoto opened #3975 "TesT: k8s-1.7.K8sValidatedPolicyTest Basic Test checks all kind of kubernetes policies failed"
[code]
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2291/console

Looks like that the policy didn't wait correctly:
[code]

[test_results_Ginkgo-CI-Tests-Pipeline_2280.zip](https://github.com/cilium/cilium/files/1964354/test_results_Ginkgo-CI-Tests-Pipeline_2280.zip)

[2018-05-01 16:43] joestringer opened #3976 "Shift ipcache listeners list to ipcache package"
These could be managed inside `pkg/ipcache` rather than in the daemon:

https://github.com/cilium/cilium/blob/7b5d362d2cdb241cd320b5f1303066bf152f5bb1/daemon/daemon.go#L1114-L1118

[2018-05-01 16:56] manalibhutiyani commented on #3945
Looks straightforward. Talked offline to @joestringer. I can take care of this.

[2018-05-01 17:30] manalibhutiyani commented on #3180
Since Kafka service is now configured as a headless service, this self loop policy is not needed anymore. Closing this issue

[2018-05-01 17:30] #3180 closed, assigned to manalibhutiyani

[2018-05-01 17:32] #3903 closed, assigned to nobody

[2018-05-01 20:00] tgraf opened #3979 "Only listen on BPF perf ring buffer if readers are present on the API"
The node-monitor currently starts listening even in the absence of actual event readers.

[code]

[2018-05-01 22:10] ianvernon commented on #3966
Logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_2839.zip](https://github.com/cilium/cilium/files/1965328/test_results_Cilium-PR-Ginkgo-Tests-Validated_2839.zip)

[2018-05-01 22:12] ianvernon commented on #3966
Logs from when test failed:
[code]

[2018-05-01 22:14] ianvernon commented on #3966
Policy was imported around this time:
[code]

[2018-05-01 22:18] ianvernon commented on #3966
httpd2 row in `cilium endpoint list`:
[code]

[2018-05-01 22:31] ianvernon commented on #3966
There are no more kvstore events for the ipcache received after `22:03:17`:

[code]

[2018-05-01 22:43] ianvernon commented on #3966
@joestringer and I wanted to see what the state of the key-value store watcher goroutine was, but unfortunately, the bugtool output for `gops` doesn't work:

# gops stack $(pidof cilium-agent)

[code]

The addition of gops in bugtool seems to have not been tested. Fix for this coming soon, which will also require a backport.

[2018-05-01 22:44] ianvernon commented on #3966
We can see why the ipcache wasn't updated (events weren't received by the watcher), but we don't know what state the watcher was in at the time of failure. So, once we get the bugtool fix in, we can triage again accordingly with the stack trace. @jrajahalme does this reproduce consistently for you?

[2018-05-01 22:45] jrajahalme commented on #3966
app3 has an label-based L3/L4 egress policy, I think the drop happens there, before the packet gets to the ingress at all. Destination IP can not be mapped to the proper securiry ID because the destination IP is missing from the bpf ip map.

[2018-05-01 22:47] ianvernon opened #3981 "bugtool: gops output doesn't work"
Related-to: https://github.com/cilium/cilium/issues/3966#issuecomment-385812139

# gops stack $(pidof cilium-agent)

[code]

[2018-05-01 22:54] jrajahalme commented on #3966
I have not seen this failure before and have not seen it reproduce either.

However, the same PR failed for the next build as well: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2861/ <https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2861/>

But the failure is in a different test (egress to world (google.com <http://google.com/>). From build artifacts it seems the L3

[2018-05-01 22:59] jrajahalme commented on #3966
@ianvernon Was the `kvstore_get.txt` line I quoted in the end of the description something else and not relevant for this?

[2018-05-01 23:00] jrajahalme commented on #3966
Do we have evidence that further events should have been received by the watcher?

[2018-05-01 23:05] jrajahalme commented on #3966
@joestringer @ianvernon Could we apply controller or some other method to keep an eye on watcher health?

[2018-05-02 00:20] joestringer commented on #3966
@jrajahalme the `kvstore_get.txt` line looks reasonable to me, it states that the relevant IP is being mapped to a particular Identity.

However we also noticed that the IP/identity  mapping was reused after an earlier test.

I'm not 100% sure that further events should have been received by the watcher, it's plausible that the entry remains in the kvstore after the delete for a while due to under

[2018-05-02 10:14] raybejjani opened #3984 "RFC: Add option to print critical agent-health metric summaries"
cilium-agents often run without debug output, and metrics may not be set up. Often, however, logs are retained. My reasoning is that there are a few key metrics that represent the agent's ability to keep up, and represent the symptoms of various resource starvation scenarios. Ideally, this one-liner will allow us to sanity check that the agent is cpu-starved, build queue starved, etc. in short ord

[2018-05-02 20:52] joestringer opened #3986 "Istio GSG error: "mapping values are not allowed in this context""
### General Info

Cilium v1.0, Istio getting started guide here:
http://docs.cilium.io/en/latest/gettingstarted/istio/

### Question

While running the Istio getting started guide, while attempting to load Cilium network policy filters into Istio sidecars, we see this issue in the `kubectl create`:

[code]

### Answer

It is common in OSX environments for the version of sed to be very old and lack

[2018-05-02 20:54] #3986 closed, assigned to nobody

[2018-05-02 22:40] #3935 closed, assigned to joestringer

[2018-05-03 00:49] joestringer opened #3990 "bugtool: Gather `docker info`"
In the CI, I'm seeing logs like this in Cilium:

[code]

In this test failure, it would be useful to get `docker info` output to see whether the docker daemon is truly down or experiencing some other weird error.

[2018-05-03 04:15] eloycoto opened #3991 "CI: tests fail because proxy tries allocating a port that is already bound"
This happens on v1.0.0 branch:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/v1.0/28/execution/node/60/log/?consoleFull

[code]

Reading the test-output.log had the following:

[code]

The cilium logs had the following:

[code]

[2018-05-03 04:19] eloycoto commented on #3991
On master also happens:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2307
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2304/execution/node/69/log/?consoleFull

[2018-05-03 04:29] eloycoto opened #3992 "CI: L3-Dependent L7 Egress fail"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2303/

[code]

Endpoint config looks good:
[code]

Connection using IPv4 works, it didn't work using Ipv6:
[code]
[test_results_Ginkgo-CI-Tests-Pipeline_2303.zip](https://github.com/cilium/cilium/files/1969638/test_results_Ginkgo-CI-Tests-Pipeline_2303.zip)

[2018-05-03 04:49] eloycoto opened #3993 "CI: Endpoint can still connect while Cilium is not running"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2299/testReport/junit/k8s-1/10/K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running/

[code]

[code]

[2018-05-03 05:43] ianvernon commented on #3991
cc: @jrajahalme @rlenglet

[2018-05-03 06:13] joestringer opened #3994 "CI: build failed due to running out of memory in VM"
k8s-1.7.K8sValidatedPolicyTest Basic Test Denies traffic with cnp default-deny egress policy

Seen regenerations of over four minutes duration, this should raise a red flag:

[code]

Observed in PR #3988, however that only makes minor daemon changes for iptables rule installation, some minor refactoring, and datapath changes. This should not explain the behaviour.

Other relevant bits:
* There is

[2018-05-03 06:22] joestringer commented on #3992
@eloycoto what is `Ginkgo-CI-Tests-Pipeline` vs. `Cilium-Master-Ginkgo-Tests-Validated`?

[2018-05-03 06:24] eloycoto commented on #3992
Ginkgo-CI-Test-Pipeline: Runs every 2 hours in master branch.
Cilium-Master-Ginkgo-Tests-Validated: Runs for every merge in master.

[2018-05-03 07:10] tgraf opened #3995 "Profile agent resource consumption"
Profile the resource consumption (CPU & memory) after https://github.com/cilium/cilium/pull/3985 has been merged

- [ ] What are the top CPU consumers across cilium-agent?
- [ ] What are the top CPU consumers with monitor running?
- [ ] What are the top CPU consumers while generating endpoints?

[2018-05-03 09:42] tgraf opened #3997 "Represent cilium status as metrics"
The idea is to be able to monitor the health of Cilium via Prometheus metrics to get a cluster wide overview.

- [ ] Number of controller failing (`Controller Status:      7/7 healthy`)
- [ ] Number of addresses allocated (`IPv4 address pool:      3/65535 allocated`)
- [ ] Kubernetes Status (`Kubernetes:             Disabled`)
- [ ] Cluster health (`Cluster health:          1/1 reachable   (2018-0

[2018-05-03 09:49] tgraf commented on #2463
Another option discussed with @andrewsykim is to use kube-router directly and use CNI chaining or another form of mutual awareness. This would include running Cilium in direct routing mode with kube-router using gobgp to distribute routes.

[2018-05-03 15:34] #3981 closed, assigned to ianvernon

[2018-05-03 15:36] eloycoto commented on #3992
Other build with same problem in different place:
Policy is loaded, wait until all endpoints but has not been applied:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2312/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L3_Dependent_L7_Egress/

[code]

[code]

The monitor log:
[code]

[2018-05-03 16:27] joestringer commented on #3992
@eloycoto I'm only just starting to look at this, but the last comment you added describes a failure for IPv4. The original description states that the problem is that IPv6 connectivity is not working when IPv4 connectivity is working. How do you know that these two are the same problem?

[2018-05-03 17:53] joestringer commented on #3994
Interesting, the various failures we see of docker, etcd, kubernetes, envoy can be explained by kernel OOM killer. We have way too many heavy python processes, my guess is that microscope / cilium monitor is not being properly cleaned up:

(Found in `cilium-zvqqk` bugtool dmesg)
[code]

[2018-05-03 19:43] andrewsykim commented on #2463
After chatting with @tgraf and @mrostecki, I think an implementation that uses kube-router (only for BGP advertisement) and cilium for everything else is definitely a viable option! @mrostecki happy to work with you to get this working, I will also try to get a working PoC to see if there is anything we need to do in kube-router for this to work :)

cc @murali-reddy

[2018-05-03 20:55] joestringer opened #3999 "CLI: Sort controller output in `cilium status` by name"
If we sort the controllers by name in the CLI output of `cilium status`, it will be easier to read, particularly when there are a large number of controllers running.

https://github.com/cilium/cilium/blob/e79baddce64f8785b53d7a4b4482c98b6e61ba6a/pkg/client/client.go#L274-L281

[2018-05-03 21:17] jrajahalme commented on #3991
@joestringer Excerpt from https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2304 `RuntimeValidatedLBServicesPoliciestestswithconntrackenabled/endpoint_list.txt`:
[code]
This is on the endpoint 56326 that is the only one that fails the regeneration.

[2018-05-03 22:54] joestringer opened #4000 "Cannot configure IPv6 CIDR policy in k8s (CRV rejects it)"
We're currently rejecting valid IPv6 CIDR policies because of an over-restrictive CustomResourceValidator in kubernetes cases:

https://github.com/cilium/cilium/blob/e9b182cdf6dde5136e9534a2b03e4fd3bce806a4/pkg/k8s/apis/cilium.io/v2/register.go#L362-L380

Error:

[code]

/cc @cilium/kubernetes  Was there a particular reason we are avoiding this for now? I believe that the underlying support for th

[2018-05-03 23:24] jrajahalme commented on #3991
@ianvernon Another instance of cilium-agent logs being mysteriously cut off. Do we have any known cases where logs are thrown away?

In this case cilium-agent debug logs for endpoint 56326 end at May 02 17:27:13, and continue again at May 02 17:27:53, but most likely from different goroutines ("Refreshing labels of endpoint"). The endpoint log in `cilium-debuginfo.md` shows this:

[code]

Last suc

[2018-05-03 23:24] jrajahalme commented on #3860
Log outage also in #3991

[2018-05-03 23:26] jrajahalme commented on #3991
The complete cilium logs around the logs outage:
[code]

We have strong evidence that logs were generated during the period between 17:27:13 and 17:27:34 (successful endpoint regeneration, failed endpoint regeneration, cilium-envoy process starting & configuration).

[2018-05-03 23:33] jrajahalme opened #4001 "CI: Enable cilium debug logs for k8s tests"
We get cilium-agent debug logs from the CI only for the runtime tests. To get them also for the k8s tests, the daemon set for cilium needs to start cilium-agent with the `--debug` and `--debug-verbose=flow` options.

[2018-05-04 00:04] jrajahalme commented on #3991
Back at v1.0 branch (tip?) @eloycoto filed this issue originally. Unfortunately we do not have debug logs for k8s CI tests (see #4001). We can see this, however:

[code]
and:
[code]
The above means that for some reason `cilium-envoy` rejects the listener configuration `cilium-agent` is sending over. We need flow-level debug logs to see what is going on here.

[2018-05-04 00:05] jrajahalme commented on #3991
@rlenglet Have you seen NACKs like that for Listener configuration before?

[2018-05-04 01:26] jrajahalme opened #4003 "CI: Make CI tests fail after completion if a NACK is received from Envoy."
A negative acknowledgement from Envoy signals a bug in cilium-envoy control messaging. As such, we should fail a test if it happens, even if the test otherwise would succeed.
The string to look for in cilium logs is: `NACK received for version`

Example log with a NACK:
[code]

[2018-05-04 01:37] jrajahalme commented on #3991
Found a lot of Envoy NACKs on the failed v1.0 build, opened new issues and a PR to help debug these:
#4001, #4002, #4003.

[code]

[2018-05-04 02:27] ianvernon commented on #3991
@jrajahalme not that I know of. Which build exactly are you referring to here? The timestamps in the console output from the build in the original issue, which start at:
[code]

and end at :
[code]

do not match the ones you have posted:

[code]

EDIT: I presume you are referring to the build https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2304/execution/node/69/log/?consoleFull ? I want to

[2018-05-04 02:39] ianvernon commented on #3991
[code]

I wonder if some process is holding a lock in the agent which causes it to get stuck for some time, but isn't causing deadlock? I also wonder if something is causing high load on the node and thus resulting in it slowing down significantly in completing basic tests (maybe similar to https://github.com/cilium/cilium/issues/3994 , but for the Runtime tests?).

[2018-05-04 03:12] rlenglet commented on #3991
What is collecting logs from containers? Docker? Kubelet? Maybe that died for some reason?

[2018-05-04 03:13] rlenglet commented on #3991
Maybe it got killed by the OOM killer?

[2018-05-04 03:58] rlenglet commented on #3991
@ianvernon I don't think a lock or deadlock could explain the **loss** of log messages. I think it's whatever system on the host that is collecting the logs from the container that failed.

[2018-05-04 07:08] eloycoto commented on #3992
My fault here :-(

[2018-05-04 10:23] ishantanu commented on #3322
@joestringer Subsitituting the indent value
https://github.com/cilium/cilium/blob/f8e147bcd072638ffedad2319fae4c3e2a7e6f19/cilium/cmd/helpers.go#L135 with
[code]
 is resolving the issue. Tested for both L4 as well as L7 rules.

[2018-05-04 11:27] raybejjani commented on #4000
aanm likely remembers better. I think we didn't support something IPv6 at the time. It's also possible the regex was buggy :/

[2018-05-04 16:19] #4003 closed, assigned to eloycoto

[2018-05-04 16:20] #4001 closed, assigned to eloycoto

[2018-05-04 16:21] #3999 closed, assigned to nobody

[2018-05-04 16:22] #3975 closed, assigned to eloycoto

[2018-05-04 16:45] ianvernon commented on #3991
@rlenglet I saw nothing in the dmesg output in bugtool that would indicate as such :/

[2018-05-04 16:58] ianvernon commented on #3161
I have some concerns with the "revision" aspects of the list of requirements above. We have multiple parts of the datapath that are updated separately, and with the introduction of controllers to realize desired datapath state, concurrently for a given endpoint:

* Proxy configuration (which is configured before an endpoint's program is compiled / inserted)
* Compilation of the actual BPF program

[2018-05-04 17:08] manalibhutiyani commented on #3997
@tgraf : Is there an overlap here with the prometheus metrics work assigned to me? I can co-ordinate with Michal if that's the case
#3863
#3337
#3284

[2018-05-04 17:35] manalibhutiyani opened #4010 "Metrics: Update L7 (HTTP/Kafka) proxy related metrics with prometheus."
Parent:
#3337

We already have this information in `UpdateProxyStatistics` and we can easily integrate this with existing Prometheus framework.

This will cover the following :
- [x] Rejected L7 (HTTP/Kafka) due to parse errors.
- [x] Forwarded L7 (HTTP/Kafka)
- [x] Denied L7 (HTTP/Kafka) due to policy

[2018-05-04 20:30] ianvernon opened #4011 "CI: re-enable microscope in K8s CI"
Due to issues discovered in #3994, running microscope in the K8s CI has been disabled (which was done by #4012). This tracks the re-enabling of microscope in K8s CI.

[2018-05-04 23:56] ianvernon opened #4014 "pods lose connectivity when daemon config is changed after Cilium DaemonSet is deleted and redeployed"
Failed in `k8s-1.7.K8sValidatedKafkaPolicyTest KafkaPolicies`

This is affecting PRs and master builds.

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/777/

Logs: [test_results_master_777.zip](https://github.com/cilium/cilium/files/1976158/test_results_master_777.zip)

Logs don't seem particularly helpful because the error occurs in BeforeAll.

[2018-05-05 12:08] tgraf opened #4016 "Integration with SPIFFE for identity"
Cilium already uses an identity based security enforcement model.

- [x] Research feasibility of using the SPIFFE spec for identity management and tagging
- [ ] Create compatibility matrix with different identity marking methods
- [ ] Implementation
- [ ] Documentation
- [ ] Guide

[2018-05-05 12:12] tgraf commented on #3997
There should be no direct overlap but both issues track the addition of Prometheus metrics. This issue tracks the addition of metrics to represent `cilium status` with corresponding metrics.

But yes, please co-ordindate with @mrostecki and also involve @raybejjani to ensure we use a uniform way of adding metrics.

[2018-05-07 05:20] rlenglet commented on #3337
I'd like to also export the number of Envoy node proxy restarts.

[2018-05-07 05:39] ishantanu opened #4018 "Aliases for common commands"
## Feature Requests

### Title

Add aliases for common commands like `list` -> `ls`

### Description of requested functionality

It'll be handy to have aliases to common commands like `list`.
Ex.
[code]

Came up with `list` -> `ls` alias. Even better if we could come up with some more.

[2018-05-07 08:31] aanm commented on #4000
@raybejjani It's because there are no tests for IPv6 so I just prevented the users from using IPv6 addresses at all. We need to improve the IPv6 tests. cc @joestringer

[2018-05-07 09:27] tgraf opened #4020 "Support for thrift protocol"
Requested by @naude-r

Protocol spec:
https://thrift.apache.org/

Envoy upstream ticket:
https://github.com/envoyproxy/envoy/issues/2247

[2018-05-07 09:27] tgraf commented on #3585
@naude-r I've filed https://github.com/cilium/cilium/issues/4020

[2018-05-07 09:31] naude-r commented on #3585
@tgraf thank you. will be keeping a keen eye on this.

envoy is also looking into thrift support [1]. not sure how that will influence cilium?

[1] [envoy thrift](https://github.com/envoyproxy/envoy/issues/2247)

[2018-05-07 09:42] raybejjani opened #4021 "User labels are overwritten during runtime label sync"
When the runtime drivers periodically synchronises container labels, it overwrites the user provided overrides via `/v1/endpoint/{id}/labels POST`. This is a bug.
Relatedly, `/v1/endpoint/{id} POST` ignores the labels when set. This is also bug (`/v1/endpoint/{id}/labels` is a convenience endpoint, not the exclusive way to set the labels).

[2018-05-07 09:43] tgraf commented on #3585
Excellent. I will link it. Cilium leverages Envoy although it is not limited Envoy so when Envoy gets support Cilium will only require to add a small policy language extension.

[2018-05-07 10:05] vadorovsky commented on #3997
@manalibhutiyani I don't see overlap with metrics in different issues, so hopefully we will only have tiny merge conflicts in `pkg/metrics/metrics.go`.

[2018-05-07 10:12] vadorovsky commented on #2463
The approach which we agreed on is to try to run both Cilium (with direct route mode) and kube-router (only with `--run-router` option) as DaemonSets and see whether it's working. I will try that in next 1-2 days and let you know about the results.

[2018-05-07 14:11] eloycoto commented on #3969
Closed, duplicated by: https://github.com/cilium/cilium/issues/3991

[2018-05-07 14:11] #3969 closed, assigned to nobody

[2018-05-07 14:25] eloycoto commented on #3916
Fixed by https://github.com/cilium/cilium/pull/3956

[2018-05-07 14:38] tgraf commented on #2463
@andrewsykim @mrostecki The only open question I have at this point is IPAM. Cilium does it's own IPAM right now but it's easy to plug in other stuff. How would this work together with kube-router?

[2018-05-07 15:17] andrewsykim commented on #2463
@tgraf I could be missing some context here as I'm still getting familiar with the project. I had the impression that cilium uses IPAM from kubernetes (http://cilium.readthedocs.io/en/latest/kubernetes/install/#enable-automatic-node-cidr-allocation-recommended) which is what kube-router uses as well.

[2018-05-07 15:29] tgraf commented on #2463
@andrewsykim Yes we do. Cilium will allocate out of the CIDR that is associated with the node resource. We even use the k8s node allocator go package for this. Sounds like this is a non issue. All good 👍

[2018-05-07 15:46] ianvernon commented on #4021
This might be fixed by the changes @rlenglet is working on for #3911 , as those changes affect how labels are plumbed / created for endpoints.

[2018-05-07 15:48] raybejjani commented on #4021
True, but it was @rlenglet that mentioned it in #development so it might have made his work more difficult instead?

[2018-05-07 16:20] tgraf commented on #3991
@eloycoto will provide logs of latest occurance

[2018-05-07 16:34] eloycoto commented on #3991
Failures:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2345/testReport/k8s-1/10/K8sValidatedPolicyTest_KubernetesNetworkPolicy_between_server_and_client_should_enforce_policy_based_on_NamespaceSelector/

[2018-05-07 16:35] eloycoto commented on #3991
[test_results_Ginkgo-CI-Tests-Pipeline_2345.zip](https://github.com/cilium/cilium/files/1980649/test_results_Ginkgo-CI-Tests-Pipeline_2345.zip)

[2018-05-07 16:37] eloycoto commented on #3991
Another failure:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2343/testReport/junit/k8s-1/7/K8sValidatedPolicyTestAcrossNamespaces_Policies_Across_Namespaces/

Attached:
[test_results_Ginkgo-CI-Tests-Pipeline_2343.zip](https://github.com/cilium/cilium/files/1980654/test_results_Ginkgo-CI-Tests-Pipeline_2343.zip)

[2018-05-07 17:10] jrajahalme commented on #3991
I can't find Envoy NACK on the cilium logs of build 2345, so that failure is for some other reason.

[2018-05-07 17:16] ianvernon opened #4027 "CI: K8sValidatedKafaPolicyTest KafkaPolicies PolicyEnforcement mismatch"
Failure output:
[code]

Console output from Jenkins when logs failed:
[code]

Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2974/execution/node/65/log/?consoleFull

Logs: [test_results_Cilium-PR-Ginkgo-Tests-Validated_2974.zip](https://github.com/cilium/cilium/files/1980779/test_results_Cilium-PR-Ginkgo-Tests-Validated_2974.zip)

While this is in a PR, all this PR does

[2018-05-07 17:17] ianvernon commented on #4027
In the log file attached in the issue description, the logs being analyzed are located in the following directory:
[code]

[2018-05-07 17:23] ianvernon commented on #4027
The command that failed:
[code]

[2018-05-07 17:24] ianvernon commented on #4027
From `test-output.log` in the directory referenced above, this is the output of the command which failed:

[code]

[2018-05-07 17:24] jrajahalme commented on #3991
No NACKs on build 2343 either.

[2018-05-07 17:26] ianvernon commented on #4027
In the test itself, the logic being performed:

https://github.com/cilium/cilium/blob/912a2c55c677043e984cd0fd556ddd2e1e92e7b4/test/k8sT/KafkaPolicies.go#L148-L160

[2018-05-07 17:30] ianvernon commented on #4027
So, in the CEP in K8s, the policy enforcement mode for `kafkaApp` is `None` for Ingress but we expected it to be `Enabled`. In the output of `cilium endpoint list` executed within the Cilium pod itself, it is enabled for ingress for the kafka broker app (endpoint 174):

[code]

I checked the contents of the file `cilium-x7k2w_endpoint_list.txt` to confirm that 174 was indeed the endpoint correspon

[2018-05-07 17:32] joestringer commented on #3465
Issue is related to a kernel development branch, please disregard.

[2018-05-07 17:32] #3465 closed, assigned to joestringer

[2018-05-07 17:33] manalibhutiyani commented on #3337
@rlenglet added to the list of metrics. Thanks!

[2018-05-07 17:33] jrajahalme commented on #3991
On build 2343, the test referred to above fails most likely due to kv-store not being in useful state:
[code]
Note how `kvstore-etcd-session-renew` controller has `never` had success.

[2018-05-07 17:34] jrajahalme commented on #3991
Someone more knowledgeable of the kv-store would need to look in to this.

[2018-05-07 17:34] ianvernon commented on #4027
I suspect that this is a problem with how the test is written. Note that we wait for the endpoint policy revision to be increased in the Cilium pods before we do to the policy enforcement checks:

https://github.com/cilium/cilium/blob/912a2c55c677043e984cd0fd556ddd2e1e92e7b4/test/k8sT/KafkaPolicies.go#L141-L144

But, I believe that CEP updates to K8s are performed asynchronously and do not block o

[2018-05-07 17:37] ianvernon commented on #4027
Assigning to @raybejjani . Ray, feel free to assign back to me if you desire. I believe that to make this test stable, we need to add a wait-for-desired-state function for CEP as well.

[2018-05-07 17:38] joestringer commented on #4000
@aanm :+1: I manually tested on Friday. I can put together a ginkgo test based on how I tested it.

[2018-05-07 17:45] ianvernon commented on #3991
@jrajahalme I think the `kvstore-etcd-session-renew` never having had success is a red herring.

The controller code for it: https://github.com/cilium/cilium/blob/912a2c55c677043e984cd0fd556ddd2e1e92e7b4/pkg/kvstore/etcd.go#L235-L242

`renewSession` logic: https://github.com/cilium/cilium/blob/912a2c55c677043e984cd0fd556ddd2e1e92e7b4/pkg/kvstore/etcd.go#L154-L176

It blocks on receiving from the c

[2018-05-07 18:14] ianvernon opened #4029 "CI: K8sValidatedPolicyTest NamespaceSelector test failure"
Output:
[code]

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2359/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_KubernetesNetworkPolicy_between_server_and_client_should_enforce_policy_based_on_NamespaceSelector/

Logs:
[K8sValidatedPolicyTestKubernetesNetworkPolicybetweenserverandclientshouldenforcepolicybasedonNamespaceSelector.zip](https://github.com/cilium/cilium/files/1

[2018-05-07 18:22] jrajahalme commented on #3991
Note also the first line:
[code]

[2018-05-07 18:37] jrajahalme commented on #3991
As for build 2345 linked above, it seems a pod DELETE fails, but the logs indicate the pod was already deleted a while before:

[code]

Note how the endpoint is created *69 seconds after* the k8s API call to create it is made:

[code]

Also note how the endpoint is removed *20 seconds before* the k8s API request to delete it is made:

[code]

It is also curious that the endpoint is removed literal

[2018-05-07 18:40] jrajahalme commented on #3991
Assigning back to @eloycoto until we have reproduction of the proxy NACK with the current improved logging, thanks.

[2018-05-07 20:22] #3322 closed, assigned to nobody

[2018-05-07 20:45] manalibhutiyani opened #4032 "Docs: Fix the GSG with the correct prometheus yaml link"

[2018-05-07 20:50] manalibhutiyani commented on #4032
Related to  #4010 and #3337

[2018-05-07 21:48] aanm commented on #4000
@joestringer I'm not referring to the CRD tests itself. I was referring to everything around IPv6, from LB to CIDR policy.

[2018-05-07 22:45] ianvernon commented on #4014
I am able to reproduce this consistently on my local setup.

1. Manually boot VMs in the following order:

[code]

2. Run K8s test suite with some configuration options to make it reproducible / easier to continuously test:

[code]

* `failFast` = fail the entire test suite whenever a test fails
* `seed` = use specific random seed to run tests in same order
*  `cilium.provision=false` = do not bui

[2018-05-07 22:45] ianvernon commented on #4014
The output to stdout from Ginkgo eventually gets logs like the following:
[code]

[2018-05-07 22:47] ianvernon commented on #4014
When I see the the output in my previous comment, I can see that the kube-dns pod is not ready:
[code]

[2018-05-07 22:47] ianvernon commented on #4014
JSON info about the pod:
[code]

[2018-05-07 22:48] ianvernon commented on #4014
previous kubedns container logs:
[code]

kubedns container logs:
[code]

[2018-05-07 22:49] ianvernon commented on #4014
previous kubedns container logs:
[code]

kubedns container logs:
[code]

[2018-05-07 22:49] ianvernon commented on #4014
previous sidecar logs:
[code]

sidecar logs:
[code]

[2018-05-07 23:50] ianvernon commented on #4014
Running the tests with the following configuration (same as above) consistently reproduces this:
[code]

DNS goes into a bad state somewhere during `Policies Across Namespaces` - not sure why, though. I set breakpoints in Goland during that test and am stepping through manually to see what is causing this problem.

[2018-05-07 23:58] ianvernon commented on #4014
It looks like DNS actually goes into a bad state just after some time - I wonder if this is related to the Tunnels tests, which run *before* test `Policies Across Namespaces` test.

[2018-05-08 00:00] joestringer commented on #4000
@aanm I tested CIDR policies with IPv6, specifically by adding CIDR rules that do not match a CIDR of a known IP accessible within a Minikube environment and seeing that traffic is dropped, then changing the CIDR to match and saw that the IPv6 traffic passed through.

What are you thinking might be missing for LB? Configure a ClusterIP service and see that traffic successfully passes between somet

[2018-05-08 00:11] ianvernon commented on #4014
I went and added breakpoints for every line in `Policies Across Namespaces` and it failed immediately after i ran
[code]

on line 986.

[2018-05-08 00:19] danwent commented on #3284
@manalibhutiyani , we should make sure that we take L7 parser errors into consideration here as well, such as when we would see an error like:

[code]

[2018-05-08 03:42] ianvernon commented on #4014
OK, I have RCA'd and found a reproducer for why kube-dns gets into a bad state. The reproducer is as follows:

kube-dns is not running when Cilium isn't deployed:
[code]

* Deploy Cilium with `kubectl create -f test/k8sT/manifests/cilium_ds_geneve.yaml`
* Wait for Cilium and kube-dns to get into ready state:
[code]
* Delete Cilium DaemonSet:
[code]
* Wait for Cilium to be deleted:
[code]

* Then,

[2018-05-08 03:49] ianvernon commented on #4014
The reason that the CI sometimes passes when this happens is that the order of tests is randomized, so tests which depend on kube-dns may run *before* the test which sets `cilium config Debug=False`.

[2018-05-08 05:39] rlenglet commented on #4021
@raybejjani yeah, I had to fix setting labels on endpoint creation, which was not working.

And in the process I realized that:
* setting labels in `PATCH /endpoint/{id}` is not working (we are just ignoring the labels that are passed)
* setting labels in `PATCH /endpoint/{id}/labels` is currently useless, because those are immediately overridden by the labels sync

If we fixed `PATCH /endpoint/{i

[2018-05-08 08:14] raybejjani commented on #4027
I think you're correct on this. The CEPs will update every 10s but that means we should wait at least 30s for an update (worst case: almost 10s pass from the state change to the next CEP update, almost 10s pass between the CEP update and our poll to it, and throw in at least another 10s for all the other delays).
I'll change it out to wait on the revision reported in the CEP. This is guaranteed to

[2018-05-08 08:16] raybejjani commented on #4021
Is this because the sync assumes the runtime is the source of truth for user labels as well? We also have the list of "disabled" labels that we ignore, but I'm hoping that isn't clobbered.

[2018-05-08 15:52] ianvernon commented on #4014
OK, now that #4034 is merged, this ticket should track why Geneve --> VXLan --> toggling debug mode causes pods to lose connectivity.

[2018-05-08 16:43] ianvernon opened #4036 "CI: K8sValidatedHealthTest failure"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/783/

Failure output:

[code]

Console output from when test failed:
[code]

Logs:
[test_results_master_783.zip](https://github.com/cilium/cilium/files/1984848/test_results_master_783.zip)

[2018-05-08 17:07] #3429 closed, assigned to nobody

[2018-05-08 17:11] joestringer opened #4037 "CI: Request: Only provide artifacts for failed test"
Currently, when we generate the artifacts file for a failure, without browsing to the jenkins page for the failure, it's difficult to know which test failed. A common procedure we follow is to file an issue and attach the zip file of the failure result. In this case, sometimes people leave out the name of the test (or which of k8s 1.7 vs 1.10 failed), or sometimes leave out the link to the actual

[2018-05-08 17:24] joestringer opened #4038 "CI: Request: Improve ExpectSuccess helper"
Currently, when a test uses the `ExpectSuccess()` helper, the output on Jenkins looks like this:

[code]

The corresponding code looks like:

https://github.com/cilium/cilium/blob/b61ff9a345e0e9ef0c1ea93db292c86f460190ae/test/k8sT/Health.go#L101

It would be easier to debug if `ExpectSuccess()` printed a bunch of information about the lack of success, such as:
* Contents of the output buffer
* Err

[2018-05-08 17:25] ianvernon commented on #4014
Un-assigning myself from this as it's been RCA'd and CI is unblocked for now.

[2018-05-08 17:41] joestringer commented on #4036
There appears to be a connectivity issue between a node and the health endpoint on the same  node in this instance (note that the failing endpoint connectivity is nested within the localhost node entry on each of the nodes):

k8s2:

### cilium-health status

[code]

k8s1:

### cilium-health status

[code]

[2018-05-08 20:39] manalibhutiyani opened #4041 "Kafka parser: parse errors need to be exported to UpdateProxyStatistics correctly."
In `UpdateProxyStatistics`
[code]
This counter is never updated for Kafka. We need to fix this.

See #4031 for reference

Parent: #4010 and #3337

[2018-05-08 21:10] aanm commented on #4000
@joestringer something like that yes, because we don't have e2e tests for IPv6 in kubernetes.

[2018-05-08 21:10] joestringer opened #4042 "CI: k8s-1.7.K8sValidatedServicesTest Bookinfo Demo Tests bookinfo demo failure"
### Summary

The bookinfo test fails when the reviews application attempts to reach `/` on the ratings service.

### Stacktrace
[code]

### Relevant code
https://github.com/cilium/cilium/blob/b61ff9a345e0e9ef0c1ea93db292c86f460190ae/test/k8sT/Services.go#L388-L393

https://github.com/cilium/cilium/blob/b61ff9a345e0e9ef0c1ea93db292c86f460190ae/test/k8sT/Services.go#L454-L455

Interestingly, it pass

[2018-05-08 21:11] ianvernon commented on #4014
OK, after discussion with @rlenglet and @joestringer , we have distilled this to a simpler reproducer which does not need a change of the tunnel mode.

1. Deploy Cilium: `kubectl create -f test/k8sT/manifests/cilium_ds.yaml`
2. Wait for kube-dns to get into ready state
3. Delete Cilium: `kubectl delete -f test/k8sT/manifests/cilium_ds.yaml`
4. Create Cilium DS: `kubectl create -f test/k8sT/manifes

[2018-05-08 21:17] manalibhutiyani opened #4043 "Add CI tests for testing if prometheus metrics are being updated properly."
See parent issue: #4010
We need to add proper CI tests for testing if the metrics are updated properly.

Also see the review comments by @rlenglet in #4031

[2018-05-08 21:23] joestringer commented on #4042
Found in `cilium-kwxms-logs.log`:

[code]

Seems like the source container might not be associated with Cilium at all at this point in the test?

[2018-05-08 21:27] manalibhutiyani commented on #4043
Note to self: don't have tests for read errors right now in Kafka i.e in
[code]
We do not return this parse error to be used for updating stats correctly.
Similarly for responses as well.

[2018-05-08 21:27] manalibhutiyani commented on #4041
Note to self: don't have tests for read errors right now in Kafka i.e in
[code]
We do not return this parse error to be used for updating stats correctly.
Similarly for responses as well.

[2018-05-08 21:30] ianvernon commented on #4042
Those logs are odd, but `test-output.log` for this test indicates that both pods whose connectivity which is being tested have managed by Cilium and has been for some time:

Pod `reviews-v1-2315296186-cb929` trying to connect to service `ratings.default.svc.cluster.local:9080`

Pod `reviews-v1-2315296186-cb929` corresponds to the following endpoint:
#### Endpoint Get 30391

[code]

#### Endpoint L

[2018-05-08 21:53] ianvernon commented on #4042
This issue has also been seen for K8s 1.10: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2376/testReport/junit/k8s-1/10/K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/

I wonder if this is another case of tests affecting each other, e.g. the CI issue triaged in #4014 . I'll see if I can run the K8s 1.10 tests locally with the same random seed from the above link (1525798173)

[2018-05-08 22:16] manalibhutiyani commented on #3337
L7 proxy stats done as part of #4010

[2018-05-08 22:23] ianvernon commented on #3727
@jrajahalme there's not much we can really do here, can I close this?

[2018-05-08 22:43] #4027 closed, assigned to raybejjani, ianvernon

[2018-05-08 22:56] manalibhutiyani commented on #4032
@joestringer Sorry but what needs to be added here in the spellchecker? The warning is a bit confusing.

22:25:27 /srv/Documentation/contributing.rst:1152: WARNING: 'any' reference target not found: Status("SUCCESS", "$JOB_BASE_NAME"
22:25:27 Spelling checker messages written to /srv/Documentation/_build/spelling/output.txt
22:25:27 WARNING: Found 2 misspelled words

`SUCCESS`, `JOB_BASE_NAME`  `S

[2018-05-08 22:57] manalibhutiyani commented on #4032
I don't see `any` in the line mentioned, so wanted to confirm once.

[2018-05-08 23:45] #4042 closed, assigned to joestringer, ianvernon

[2018-05-09 01:38] ianvernon opened #4046 "CI: test if CEP is synced to K8s"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/789/testReport/junit/k8s-1/7/K8sValidatedKafkaPolicyTest_KafkaPolicies/

Failure output:
[code]

KafkaPolicies needs to wait until the endpoint model returned by `CepGet` is non-nil, and fail if it is still nil after a specified timeout.

[2018-05-09 04:45] #4032 closed, assigned to manalibhutiyani

[2018-05-09 06:22] eloycoto commented on #4038
Hi @joestringer

I have a POC here,I'll provide something about this next week ;-)

[2018-05-09 08:55] rlenglet commented on #3991
@jrajahalme I hit an LDS NACK in this build:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3042/
Here are the relevant logs:
[code]
In short:
[code]

[2018-05-09 09:17] leoh0 opened #4048 "Can not run kubernetes ingress example"
## Bug reports

### Title

Can not run kubernetes ingress example

### General Information

- Cilium version (run `cilium version`)
master branch ( 24e0c3a067dd6e36758cfecc5addc24562ffdab3 )

### How to reproduce the issue

1. Run below command.
[code]
2. An error occurs as shown below.
[code]

Full test log: [test.log](https://github.com/cilium/cilium/files/1987128/test.log)

[2018-05-09 10:24] tgraf opened #4050 "bpf: Interval based tracing of ongoing connections"

[2018-05-09 14:37] #4048 closed, assigned to nobody

[2018-05-09 17:56] #4046 closed, assigned to ianvernon

[2018-05-09 18:11] ianvernon opened #4052 "CI: policy could not be imported due to PolicyMap updates failing with "Unable to update element: invalid argument""
Failure output:
[code]

Endpoint failed to regenerate:
[code]

Logs:
[RuntimeValidatedMonitorTestWithSampleContainersCiliummonitoreventtypes.zip](https://github.com/cilium/cilium/files/1988964/RuntimeValidatedMonitorTestWithSampleContainersCiliummonitoreventtypes.zip)

[2018-05-09 18:12] ianvernon commented on #4052
`cilium debuginfo` output contained in the `cilium-bugtool` archived in attached logs above shows which endpoint got into `not-ready` state:

#### Endpoint list

[code]
[code]

[2018-05-09 18:13] ianvernon commented on #4052
#### Endpoint Get 28219

[code]

[2018-05-09 18:13] ianvernon commented on #4052
#### Endpoint Log 28219

[code]

[2018-05-09 18:14] ianvernon commented on #4052
Logs which resulted in the error "Some Label+L4 policy updates failed" in `cilium.log`:

[code]

[2018-05-09 18:16] ianvernon commented on #4052
debuginfo output to dump the contents of the policy map for this endpoint shows it as empty:

#### BPF Policy Get 29898

[code]

What is the "invalid argument"?

I wonder if this can be fixed by #3161? @joestringer any idea of what else we can gleam from this?

[2018-05-09 18:17] ianvernon commented on #4052
The core problem here is that the PolicyMap update failed, but we don't have much visibility as to why :(

[2018-05-09 18:49] jrajahalme commented on #3991
Envoy sets SO_REUSEADDR on the listening socket, so this should only happen if some other process is actively listening on that port on any local address. Hoping we have `netstat` output in the debug info.

I guess that we currently don't do any checking on whether the port we allocate from the proxyport range is already used by some other process. Maybe the most robust way of dealing with this wo

[2018-05-09 18:58] jrajahalme commented on #3991
Bummer. There is no debug info for the failed test in https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3042/ apart from the cilium log. Any idea why?

[2018-05-09 21:03] manalibhutiyani opened #4053 "Adhere the current prometheus metrics names to standard naming conventions."
Reference  https://prometheus.io/docs/practices/naming/,
and https://manpages.debian.org/testing/prometheus/promtool.1.en.html#check_metrics

Parent #4031
[code]

[2018-05-09 21:05] #4010 closed, assigned to manalibhutiyani

[2018-05-09 22:02] jrajahalme commented on #3991
Looked at this offline with @rlenglet and found that kube-proxy listens on port 10256, the port number reported as being already in use in the logs quoted above. Turns out there are ~10 other ports with active IPv4 and/or IPv6 listeners in the range (10000-20000) we currently use for proxy port allocation, so we have about 1/1000 chance of allocating a port that is already bound to something else.

[2018-05-09 22:09] ianvernon commented on #3621
Similar issue was seen in https://github.com/cilium/cilium/issues/4052 .

[2018-05-09 22:10] ianvernon commented on #4052
This is the same issue as #3621. Closing.

[2018-05-09 22:10] #4052 closed, assigned to ianvernon

[2018-05-09 22:12] ianvernon opened #4055 "CI: add helper which waits for endpoint IPs to be present in bpf ipcache map"
Add a helper that ensures that an endpoint's IP maps to its identity in `cilium bpf ipcache list`. This will make it easier to debug issues in which the BPF map is not updated correctly with endpoint IPs.

- [ ] Helper for runtime tests
- [ ] Helper for K8s tests

[2018-05-09 22:18] ianvernon commented on #3991
@jrajahalme based off discussion with @rlenglet I am assigning this to you.

[2018-05-09 22:24] joestringer commented on #3966
Hit this in #3835 too. There is evidence that the kvstore is updated with the relevant IP->ID mapping, however the IP->ID kvstore watcher does not appear to have received events for about five minutes. Monitor shows packets being dropped due to the identity mapping to the cluster ID rather than the endpoint IP's ID. Suspecting that in some cases, consul is not properly triggering create events.

N

[2018-05-09 22:27] ianvernon commented on #3966
Ticket tracking waiting for IPs to exist in BPF ipcache: https://github.com/cilium/cilium/issues/4055

[2018-05-09 22:32] ianvernon commented on #3992
Looking at this as I saw a similar failure in this build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3057/

Logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_3057.zip](https://github.com/cilium/cilium/files/1989724/test_results_Cilium-PR-Ginkgo-Tests-Validated_3057.zip)

Failure output: ``` /home/jenkins/workspace/Cilium-PR-Ginkgo-Tests-Validated/src/github.com/cilium/cilium

[2018-05-09 22:32] ianvernon commented on #3992
The following comments I make on this issue will be in reference to the build in the initial comment: https://github.com/cilium/cilium/issues/3992#issue-319785087

[2018-05-09 22:35] ianvernon commented on #3992
The test is testing the following:
[code]

From `test-output.log`:
[code]

From `man curl` :

[code]

First, check that the IP to which egress is occurring (f00d::a0f:0:0:29bf) is in the BPF ipcache output, which is stored in the `cilium-bugtool` archive in the attached logs in the initial comment under `cilium-bpf-ipcache-list.md`.

# cilium bpf ipcache list

[code]

The IP is indeed there, and c

[2018-05-09 22:41] ianvernon commented on #3992
app3 has endpoint ID 3978. Let's make sure policy is configured correctly for the endpoint.

#### BPF Policy Get 3978

[code]

Egress is allowed to httpd2 on 80/TCP.

Endpoint health is ok:

#### Endpoint Health 3978

[code]

Per the Jenkins console output in the initial comment, app3 queried httpd2 at the following timestamp:

```time="2018-05-02T15:20:06Z```

The latest entry in the endpoint log

[2018-05-09 22:41] ianvernon commented on #3992
Endpoint get output for app3:

#### Endpoint Get 3978

[code]

[2018-05-09 22:46] ianvernon commented on #3992
Of note in the above endpoint get output:

[code]

the proxy configuration for this endpoint is up-to-date. This indicates that there may be an issue with the syncing of the IP to identity mappings in Envoy for the endpoint to which egress is being performed (httpd2). This goes in line with the initial description, in which @eloycoto said:

IP-identity mappings are pushed to Envoy asynchronously w

[2018-05-09 22:59] ianvernon commented on #3992
All lifecycle operations around this IP:
[code]

The last two lines:
[code]

Occur 5 minutes apart because the ip-identity mapping is synced to the key-value store every 5 minutes for a given endpoint. This means that the logs around 15:10:59 should be analyzed to see whether the IP-identity mapping got pushed to Envoy at that time.

 To keep track: the test is ran at 15:20:06.

[2018-05-09 23:16] ianvernon commented on #3992
To see what identity maps to which IPs in Envoy, I checked the logs for the following string: ```NetworkPolicyHosts accepted with```  :

[code]

It looks like we are indeed being rate-limited by journald:
[code]

So we can't see for sure IP-identity mappings got sent to Envoy :(

More logs including the aforementioned string:
[code]

[code]

[2018-05-09 23:35] ianvernon commented on #3992
The problem is that Envoy only got notified of IPs for this identity (5572) that do not correspond to the httpd2 endpoint:

[code]

[2018-05-09 23:40] ianvernon commented on #3992
Messaged @jrajahalme and @rlenglet to confirm my analysis here. We need to figure out why these IP -> identity mappings aren't being updated in Envoy.

[2018-05-09 23:53] jrajahalme commented on #3992
Looks like your analysis is sound. Were the related xDS cache update logs missing?

[2018-05-10 00:42] #3991 closed, assigned to jrajahalme

[2018-05-10 08:52] tgraf opened #4057 "CRD backend for kvstore"
Use k8s CRD as kvstore backend to avoid requiring the deployment of a separate dedicated kvstore.

Considerations:
- [x] security identity allocation
- [x] ipcache
- [ ] service ID allocation for DSR
- [x] node discovery (already covered by k8s node resource)

Tasks:
- [ ] Research feasibility of a generic backend that implements the existing kvstore operations go interface

Relevant upstream issu

[2018-05-10 10:29] raybejjani commented on #3621
oh, I think I know what this is. The `not-ready` status is a synthesized state. It's driven by this line (https://github.com/cilium/cilium/blob/master/pkg/endpoint/endpoint.go#L772)
[code]

Since we failed earlier in this endpoint's lifetime, we are returning not OK from `CurrentStatus` (https://github.com/cilium/cilium/blob/master/pkg/endpoint/endpoint.go#L1192) and we follow a scheme where we er

[2018-05-10 17:07] ianvernon commented on #3992
@jrajahalme  this is what is in the logs:

[code]

[2018-05-10 18:46] #817 closed, assigned to nobody

[2018-05-10 18:47] joestringer commented on #981
This issue appears to be stale, I will close it. If there is still an issue, please reproduce with the latest Cilium and consider reopening this issue.

[2018-05-10 18:47] #981 closed, assigned to nobody

[2018-05-10 19:52] ianvernon commented on #3992
Given that there is a gap in the logs which might contain critical information for debugging (which has been fixed in master by https://github.com/cilium/cilium/pull/4054 ), I think we can park our work on this for now as we cannot definitively say what information was sent to Envoy from the logs. If this issue occurs again, we can debug like I did above and triage further. Thus, I am reducing pri

[2018-05-10 19:53] ianvernon commented on #3966
This should hopefully be fixed by #4054 .

[2018-05-10 19:54] michi-covalent opened #4058 "Make envoy upstream request timeout configurable"
Right now envoy upstream request timeout is not configurable, and envoy returns 504 when upstream requests time out. This causes long running requests to fail when requests are forwarded to proxy.

[2018-05-10 20:42] #3723 closed, assigned to nebril

[2018-05-10 21:56] ianvernon commented on #4029
``` Reason:ContainersNotReady Message:containers with unready status: [client-can-connect-80-container]}``` is the key output. What exactly makes them 'unready'? @aanm any tips on what to do in this case for the tests? What info would be useful to investigate further here?

[2018-05-10 21:57] ianvernon commented on #4014
Reducing priority, as this occurs in the following case:

* Cilium is deployed and manages networking for a pod
* Cilium daemonset is deleted, and then re-deployed (datapath is still installed for pod)
* Configuration option is changed, which affects the host (daemon configuration), which breaks connectivity for the pod.

This isn't very common, but still should be investigated.

[2018-05-10 22:01] ianvernon commented on #3993
No logs are attached, and the build has been GC'd by Jenkins. As such, cannot look at logs and thus cannot debug. Closing.

[2018-05-10 22:05] ianvernon commented on #3657
@eloycoto anything?

[2018-05-10 22:07] ianvernon commented on #3621
IIRC @jrajahalme has some context as to why we synthesize not-ready state this way. I think the real issue though is that we still don't know why we see logs indicating BPF map updates fail.

The only actionable thing I can think of to do here is to work on https://github.com/cilium/cilium/issues/3666 so we can attempt to debug this better when we get hit by it.

[2018-05-10 23:28] ianvernon commented on #3966
@tgraf do you have any recommendations on further triage we can do of this from the key-value store side? in the logs provided by @joestringer above, `cilium status` appears to be fine:

#### Cilium status

[code]

What are our options for checking Consul's health? Could we add a controller which does this? From the stacktrace above provided by Joe, Consul is stuck in the `roundTrip` function :/

[2018-05-10 23:28] ianvernon commented on #3966
Unassigning myself from this as we have RCA'd this to be an issue with Consul (or perhaps our code which uses the Consul library).

[2018-05-10 23:42] ianvernon commented on #3971
Assigning to myself for further triage as I am on Jenkins duties this week.

[2018-05-10 23:43] ianvernon commented on #3971
from `RuntimeValidatedPoliciesTestsEgressToHostTestsEgressToHost /test-output.log`, the command that failed is:

[code]

[2018-05-10 23:49] ianvernon commented on #3971
I've deduced that the test failed in the following part of the code:

https://github.com/cilium/cilium/blob/934e825ac8849ac77df10451e14630757f5ef6af/test/runtime/Policies.go#L980-L982

No policy was imported yet at this time according to the `cilium debuginfo` output in the log archive:

#### Endpoint list

[code]

[2018-05-10 23:51] ianvernon commented on #3971
Since there is no policy, packets should have been allowed to the host from this endpoint. Endpoint log indicates that the endpoint was ready 7 seconds before the test started:

#### Endpoint Log 3978

[code]

[2018-05-10 23:56] ianvernon commented on #3971
There is no monitor output though, after `17:39:01`:

[code]

Looks like the logs got throttled by journald during the time which the test was ran (note the 18 seconds or so gap) :/ (fixed by #4054 in master):

[code]

Not really sure what else we can do here ? @joestringer anything else from the datapath side that we can check?

[2018-05-10 23:57] ianvernon commented on #3971
lxc_config.h for the app1 endpoint:

[code]

[2018-05-11 00:01] ianvernon commented on #3627
@eloycoto I believe this has been fixed, can you confirm?

[2018-05-11 00:02] ianvernon commented on #3721
@eloycoto any update on this?

[2018-05-11 00:02] ianvernon commented on #3727
Closing due to lack of response.

[2018-05-11 00:02] #3727 closed, assigned to nobody

[2018-05-11 00:03] ianvernon commented on #3860
@jrajahalme in an effort to do some ticket cleanup, I'm closing this since #4054 was merged. We can reopen if we see this again.

[2018-05-11 00:03] #3860 closed, assigned to nobody

[2018-05-11 00:03] ianvernon commented on #3900
Closing since it duplicates #3821 .

[2018-05-11 00:03] #3900 closed, assigned to nobody

[2018-05-11 00:05] techcet opened #4060 "Update for etcd-cilium service-related configurations"
## Feature Requests

### TItle: Update for etcd-cilium service-related configurations

### Description of requested functionality

Current Cilium installation instructions suggest installing a separate etcd service for cilium. The command provided deploys it to the default namespace.

Also, if launching the etcd-cilium service is the recommended config, the cilium.yaml could point to the service n

[2018-05-11 04:45] #4000 closed, assigned to nobody

[2018-05-11 07:46] eloycoto commented on #3627
@ianvernon I need to check, but I don't think so.

[2018-05-11 08:22] tgraf opened #4063 "Document common subsystem package names for git commit messages"
- [ ] Add section to contributor guide to list common subsystem package names to be used in git commit messages

Suggested-by: @ChristopherBiscardi

[2018-05-11 08:52] raybejjani commented on #4053
These metrics names were quite unfortunate :( We might need to duplicate instead of replace them, depending on how stable we want out metrics interface to be.

[2018-05-11 08:54] aanm commented on #4029
check the kubelet logs and that specific pod logs for error messages

@ianvernon where is that error message coming from? I can't find it in our code

[2018-05-11 09:45] aanm opened #4064 "Update all demo VMs images to ubuntu 18.04"
Since ubuntu 18.04 (LTS) was released we should update the demo VMs (and developer VMs) to ubuntu 18.04 so that we don't get 404 in the repositories for the current ubuntu release that we are using once it reached EOL

[2018-05-11 11:10] tgraf opened #4066 "Fix controller update to not generate new UUID on every update"
b6d894a4137ed493fdbd371e08198178628db67b has changed the logic to always generate a new UUID on every controller update. This is wrong and leaks controllers in the global status map.

[2018-05-11 11:34] raybejjani commented on #4066
I pushed a simple fix in #4067.
I'm not sure I understand why using a new uuid per controller update is wrong. It's the only way we have to indicate, in the logs, that the controller has been updated or changed. In the sense that you want to have the controller be in a single slot somewhere, why did we add the uuid to begin with? Couldn't we just use the names we give, and require them to be uniqu

[2018-05-11 11:58] tgraf commented on #4066
I'm fine to switch over to unique names

[2018-05-11 12:31] #3979 closed, assigned to raybejjani

[2018-05-11 13:20] raybejjani commented on #3621
I think this is also this issue https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/802/

[2018-05-11 17:37] #4018 closed, assigned to nobody

[2018-05-11 20:59] ianvernon opened #4077 "pkg/endpoint: move checks for whether fields in endpoint are nil into removeOldRedirects"
See https://github.com/cilium/cilium/pull/3965#discussion_r187569917 .

[2018-05-11 22:09] #4066 closed, assigned to raybejjani

[2018-05-11 23:06] joestringer commented on #4064
Duplicate: https://github.com/cilium/cilium/issues/2688

[2018-05-11 23:07] joestringer commented on #4064
Note also this will affect branch v1.0 in a few months time.

[2018-05-11 23:22] #4064 closed, assigned to nobody

[2018-05-11 23:22] aanm commented on #2688
https://github.com/cilium/cilium/issues/4064#issuecomment-388506759

[2018-05-12 01:08] joestringer commented on #2688
We should prioritize this for Cilium 1.2-1.3 timeline.

[2018-05-12 08:37] tgraf opened #4080 "Trace notification aggregation in BPF"
The datapath currently has three levels of granularity to provide visibility:
- drops
- trace notifications (per packet) for all forwarding decisions
- debug notifications to troubleshoot the datapath

In order to allow for low overhead tracing in the future, the aggregation of trace notifications should occur in BPF. Trace notifications should be changed to provide the following notifications:

-

[2018-05-12 08:40] tgraf commented on #4050
Closed in favor of #4080

[2018-05-12 08:40] #4050 closed, assigned to nobody

[2018-05-12 08:44] tgraf commented on #3889
We have to be a bit careful to leave an option for non Kubernetes setups a well.

We can also consider adding this to the node-monitor which is already aware of the kvstore configuration and can complete notification as needed.

[2018-05-12 12:49] tgraf opened #4081 "etcd watcher can enter endless loop"
It is possible for a kvstore watcher to enter an endless loop:

[code]

[code]

[2018-05-13 09:35] tgraf opened #4082 "1.x legacy removal tracker"
The following configuration options have been obsoleted but remain as hidden flags for compatibility. They are scheduled for removal in a future release.

- [ ] `--auto-ipv6-node-routes` (1.0)

[2018-05-13 10:21] tgraf opened #4084 "Handle clusters with multiple encapsulation types"

[2018-05-14 11:34] raybejjani commented on #3889
Oh, I thought microscope is k8s only. I'm guessing you mean generally having a scheme to resolve endpointID -> labels, correct?

Oh, I didn't realise. When I grepped for the import of the kvstore package I didn't see any from the monitor packages. Can you point me to it?

[2018-05-14 15:19] ianvernon opened #4088 "CI: panic found in Cilium logs during test run"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/807/testReport/junit/(root)/runtime/RuntimeValidatedLB_With_Containers_validates_service_recovery_on_restart/

Logs:
[test_results_master_807.zip](https://github.com/cilium/cilium/files/2001421/test_results_master_807.zip)

Output:

<details>
  <summary>Click to expand</summary>

[code]

</details>

[2018-05-14 15:27] ianvernon opened #4089 "CI: RuntimeValidatedPolicies L3/L4 Checks failure"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2424/

Failure output:

[code]

Context from when build failed:

[code]

Logs:
[RuntimeValidatedPoliciesL3.zip](https://github.com/cilium/cilium/files/2001458/RuntimeValidatedPoliciesL3.zip)

Other tests failed too during this build. They should be triaged accordingly.

[2018-05-14 15:30] ianvernon commented on #3970
Similar failure seen in a recent build of master as well.

Link:  https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2428/testReport/junit/(root)/runtime/RuntimeValidatedConntrackTest_Conntrack_related_configuration_options_for_endpoints/

Failure output:
[code]

Commands ran around when test failed:
[code]
Logs: [test_results_Ginkgo-CI-Tests-Pipeline_2428.zip](https://github.com/cilium/cilium

[2018-05-14 15:33] ianvernon opened #4090 "CI: SW Demo Failed"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2433/

Failure output:
[code]

Relevant test logs:
[code]

Note that some pods are 'invalid' - should be investigated.

Logs:
[K8sValidatedDemosTestTestsStarWarsDemo.zip](https://github.com/cilium/cilium/files/2001486/K8sValidatedDemosTestTestsStarWarsDemo.zip)

[2018-05-14 15:36] ianvernon commented on #3621
Another similar case: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2438/testReport/junit/(root)/runtime/RuntimeValidatedConntrackTest_Conntrack_related_configuration_options_for_endpoints/

Failure output:
[code]

Relevant build logs:
[code]

Logs:
[RuntimeValidatedConntrackTestConntrack-relatedconfigurationoptionsforendpoints.zip](https://github.com/cilium/cilium/files/2001493/RuntimeVa

[2018-05-14 15:38] ianvernon commented on #3970
Another build with similar failure:  https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2441/testReport/junit/(root)/runtime/RuntimeValidatedConntrackTest_Conntrack_related_configuration_options_for_endpoints/

Failure output:
[code]

Relevant logs:
[code]

Logs:
[test_results_Ginkgo-CI-Tests-Pipeline_2441.zip](https://github.com/cilium/cilium/files/2001503/test_results_Ginkgo-CI-Tests-Pipelin

[2018-05-14 15:40] ianvernon commented on #3621
Another similar case: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2446/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L4Policy_Checks/

Failure output:
[code]

Relevant build logs:
[code]

Logs:
[RuntimeValidatedPoliciesL4PolicyChecks.zip](https://github.com/cilium/cilium/files/2001508/RuntimeValidatedPoliciesL4PolicyChecks.zip)

[2018-05-14 16:00] nebril opened #4091 "error starting VMs"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3151

Both runtime and k8s tests failed because of vagrant not being able to start vms:

[code]

[code]

[2018-05-14 16:03] eloycoto commented on #4091
This is a PR no? The issue is related with your code @nebril

[code]

[2018-05-14 16:23] tgraf commented on #3401
Discussed during community meeting. Implement quick fix to validate regular expression at poilcy import time against POSIX regular expression using a library.

[2018-05-14 16:24] ianvernon commented on #3970
Another failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2441/testReport/junit/(root)/runtime/RuntimeValidatedConntrackTest_Conntrack_related_configuration_options_for_endpoints/

[2018-05-14 16:25] ianvernon commented on #3621
Another failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2446/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L4Policy_Checks/

[2018-05-14 18:23] raybejjani commented on #4088
This is incredibly confusing. The critical lines are:
[code]
All but `shutdown initiated` are actually from node-monitor.

The odd thing is that this order of operations shouldn't be possible, yet it clearly happened. The node-monitor main looks like:
[code]

and the ctx mainCtxCancel cancels is passed down to the two goroutines that paniced (https://github.com/cilium/cilium/blob/master/monitor/ma

[2018-05-14 18:25] techcet commented on #3717
Hit a similar issue with minikube 0.25.2, k8s 1.9.4, cilium v1.0.2.

[2018-05-14 21:16] joestringer opened #4093 "Improve readability of datapath code"
`CILIUM_MAP_POLICY` manages tail calls for traffic going into an endpoint, but the function itself applies regardless of whether policy is enabled. It could be renamed, perhaps to something like `CILIUM_CALLS_TO_CONTAINER`?

https://github.com/cilium/cilium/blob/28cb9d6fd686533a5936061008a4461c4f4739ac/bpf/lib/maps.h#L38

`handle_ingress` is handling ingress into the device, but it's actually hand

[2018-05-14 22:21] joestringer commented on #2264
I spent some time on this recently, and was able to switch to libvirt/kvm, however I still observed my host kernel crash when booting the k8s VMs in `test/`. For reference I'll include my changes below but I think that this means we should pursue an alternative option to try to address these crashes.

First, you need vagrant-libvirt and vagrant-mutate. Fetch the vagrant virtualbox image and run `v

[2018-05-14 23:55] joestringer opened #4097 "Cleanup or use: controller.ExitReason"
`ExitReason` appears to be unused:

[code]

https://github.com/cilium/cilium/blob/8db012f3663e3c71a7b9761eb842a09e924c4816/pkg/controller/controller.go#L32-L40

Furthermore, it doesn't appear to properly clean up the stop channel properly in this case:

https://github.com/cilium/cilium/blob/8db012f3663e3c71a7b9761eb842a09e924c4816/pkg/controller/controller.go#L187-L191

If it's dead code, then we

[2018-05-15 00:00] joestringer commented on #3469
Maybe addressed by #4087?

[2018-05-15 06:29] tgraf opened #4099 "Errors observed updating CEP"
[code]

@raybejjani Is this a serious error. What does it mean?

[2018-05-15 07:09] joestringer commented on #4099
Curiously, I also hit this in #3988 in a test case where I believe we ran out of memory and the KVstore got randomly killed by the kernel OOMkiller:

[code]

[2018-05-15 09:55] tgraf opened #4103 "bpf: invalid stack off=-912 size=8"
[code]

@borkmann How can this occur?

[2018-05-15 09:57] tgraf commented on #4088
Seen outside of CI as well:
[code]

[2018-05-15 10:30] tgraf commented on #4103
https://gist.github.com/tgraf/12b4f6585bac194bfe4b4f0c4b9fcd08

The real cause seems to be this:
[code]

[2018-05-15 11:22] raybejjani commented on #4099
This one specifically will not break anything, because it's the health endpoint. The error happening at all is a little weird, because it's the health endpoint! (these are recreated on every cilium-agent start).
I think this came up in the past when we merged the json schema change. Was this an upgrade from a pre 1.0 version by any chance?

If @joestringer saw it on a current PR, however, then tha

[2018-05-15 11:23] raybejjani commented on #4099
Err, so, I'm not sure how likely it is to happen. In itself it isn't dangerous but annoying.

[2018-05-15 11:26] tgraf commented on #4099
Yes

[2018-05-15 13:50] nebril commented on #4091
Thanks @eloycoto

[2018-05-15 13:50] #4091 closed, assigned to nobody

[2018-05-15 14:35] #4038 closed, assigned to eloycoto

[2018-05-15 14:37] #4103 closed, assigned to nobody

[2018-05-15 14:49] ianvernon commented on #3971
Un-assigning myself from this for now as we don't have a lot of information due to the log throttling by journald, and I have exhausted what information I can think of to debug.

[2018-05-15 15:42] ianvernon commented on #3401
After discussion offline with @rlenglet , in order to ensure that we match the regular expressions that Envoy supports, we would need to have an ECMA regex parser. However, after research online, no such library appears to exist for golang. For now, we will use golang's `regex.Compile`, which tries to simulate Perl regex parsing. However, this is not fully compatible with ECMA :(

See: https://gis

[2018-05-15 16:29] ianvernon commented on #3967
@eloycoto we could explain it *before* the `connectivityTest` is ran, by replacing like 364 with `By` that explains which things should fail and why:
https://github.com/cilium/cilium/blob/73302155f7b2853b11499b93237e42491c4d51de/test/runtime/Policies.go#L364-L365

E.g.:

[code]
It would at least give more context to the tests. It wouldn't be doable within the function itself, but it would make the

[2018-05-15 16:41] joestringer commented on #4099
FWIW in that build, lots of things got killed - docker, kubelet, etcd, cilium, etc.. Seems plausible that the UID for the namespace changed in that case.

[2018-05-15 16:41] raybejjani commented on #4088
@tgraf do you still have those logs handy? is there a `level=info msg="Exiting due to signal" signal=terminated` a little before this?

[2018-05-15 18:03] raybejjani commented on #3401
I was discussing this with @ianvernon and I have a *crazy* idea. Full Disclosure: I think #4110 is the most reasonable fix in the short term, but we were comparing the differences and some may cause subtle issues, like treating `-` as a literal in character groups (the `[a-zA-Z]` things).

Envoy has a configuration checker: https://www.envoyproxy.io/docs/envoy/latest/install/tools/config_load_chec

[2018-05-15 18:11] jrajahalme commented on #3401
Haven’t checked the tool, but AFAIK json configs may be v1 config only and not all v2 features are supported.

Another option would be to link in the exact C++ STL regex libs via cgo and verify using it?

[2018-05-15 18:13] rlenglet commented on #3401
Yeah, linking to the C++ lib would be the right way.
But that will be a bit more involved. We'd have to write a C library to
wrap that, and then link that C library into Golang.

On Tue, May 15, 2018 at 11:11 AM, Jarno Rajahalme <notifications@github.com>
wrote:

--
Romain Lenglet

[2018-05-15 20:57] aanm commented on #4089
it was hit here https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3189

logs:

[test_results_Cilium-PR-Ginkgo-Tests-Validated_3189.zip](https://github.com/cilium/cilium/files/2006672/test_results_Cilium-PR-Ginkgo-Tests-Validated_3189.zip)

[2018-05-15 22:32] #4088 closed, assigned to nebril

[2018-05-15 23:50] manalibhutiyani commented on #3337
Also discussed this with @rlenglet
@tgraf :
Question:
Is collecting metrics per endpoint ID useful from Prometheus perspective because the endpoint ID is reused and the metrics will survive past the life of an endpoint. ?

How will this behave with endpoint ID reuse.  Also endpoint IDs can be same across cluster nodes,
in this way, Prometheus will aggregate metrics across 2 endpoints on different

[2018-05-16 00:02] #2842 closed, assigned to nobody

[2018-05-16 01:16] danwent opened #4119 "Issue with Istio Getting Started Guide: NetworkPolicyHosts: Duplicate host entry"
This was encountered in the istio-proxy logs while running the Istio Getting Started Guide, and attempting to access the Istio ingress.

Seems like the NetworkPolicyHosts config being passed to envoy is invalid, and has a duplicate entry:

[code]

Also has errors like this, which I think are just pointing to the same root cause:

[code]

[2018-05-16 01:29] danwent commented on #4119
Found some interesting mentions of the W.X.Y.Z IP in the cilium log ("not adding entry to ip cache; error unmarshaling data from key-value store" error="unexpected end of JSON input" ):

[code]

[2018-05-16 01:46] danwent commented on #4119
I'm also seeing errors of the type:

[code]

[2018-05-16 08:27] tgraf commented on #3337
The endpointID does not make sense but we can translate it to something more meaningful such as labels. I've asked @mdlayher in Slack so we can get some more opinions.

[2018-05-16 08:39] eloycoto opened #4121 "Panic found in Nightly test"
[code]
Link:

https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/207/testReport/k8s-1/9/NightlyPolicies_PolicyEnforcement_default_L3_Ingress_Label_Invalid_L4_Egress_Port_80_UDP_L7_Egress_policy_to__private__Destination_NodePort/

[2018-05-16 09:04] raybejjani commented on #3401
I thought we were trying to avoid more cgo? My only comment is that the bpf cgo stuff breaks my tooling on osx but that's not a reason not to do it.

@jrajahalme this wouldn't be a full config. It would be a dummy host with all the regex routes, purely to validate. Or are there some things inside the regexes that are gated by version? (in any case, this is a hack to avoid the other complexity, so

[2018-05-16 12:09] ishantanu commented on #4032
Stopped by here because I was facing same issue.
@manalibhutiyani Have a look at `line no: 1152` of `Documentation/contributing.rst`:

[code]
It should be:
[code]
Note the double backticks `(``)`.

The error you're seeing is because of this setting which is being used.
https://github.com/cilium/cilium/blob/2657e862bbf9531108f137266d490e4968c3abdb/Documentation/conf.py#L177

Sphinx reference:
http:

[2018-05-16 12:24] ishantanu opened #4125 "Incorrect link for Kubernetes iptables overview diagram on cilium concepts page."
## Bug reports

### Title

Incorrect image link for `kubernetes iptables` diagram on concepts page in cilium docs

### General Information

The image link in [kubernetes-integration](http://cilium.readthedocs.io/en/doc-1.0/concepts/#kubernetes-integration) on concepts page is incorrect.

Failing link - http://cilium.readthedocs.io/en/doc-1.0/concepts/_static/kubernetes_iptables.svg
Appropriate lin

[2018-05-16 15:43] mskarbek commented on #2354
Is this will be available in 1.1 or we we can expect delay? According to #3585 feature freeze is in two days.

[2018-05-16 15:48] joestringer opened #4129 "Support CIDR-dependent L4 ingress policies"
We don't currently support specifying policies that have both "FromCIDR" and "ToPorts" on ingress. This should allow only traffic that matches both of these conditions, and would only apply to traffic that does not originate from another Cilium-managed endpoint.

This is the equivalent issue to #1684, but for ingress.

The interesting thing about ingress is that in many cases (most commonly nodepo

[2018-05-16 15:49] joestringer commented on #1684
Closing this issue as the egress CIDR+L4 policies work is merged. Opened a new issue to separately prioritise ingress CIDR+L4: #4129.

[2018-05-16 15:49] #1684 closed, assigned to joestringer

[2018-05-16 15:50] tgraf commented on #2354
It looks like CRI/containerd support will make 1.1.

[2018-05-16 15:54] ianvernon commented on #4121
Investigating.

[2018-05-16 16:00] eloycoto opened #4131 "CI: Kubernetes upstream test are failing"
Found this issue on Kubernetes Upstream test:

[code]
https://jenkins.cilium.io/job/Cilium-PR-Kubernetes-Upstream/39/console

[2018-05-16 16:06] eloycoto opened #4132 "CI: Add Kubernetes upstream test to run once a day."
At the moment the Kubernetes Upstream only works on demand, and it does not run once a day. These test need to run once a day on the master branch.

[2018-05-16 16:09] ianvernon commented on #4121
From that build, the commit in master which the tests were ran against is ccd046cfbe139351bb6c596b4ccc87f485e3b7fc .

The panic is on line 391 of `regenerateL3Policy`. From the aforementioned commit:

https://github.com/cilium/cilium/blob/ccd046cfbe139351bb6c596b4ccc87f485e3b7fc/pkg/endpoint/policy.go#L388-L410

Thus, the endpoint's security identity is nil, yet this function was called. I suspect

[2018-05-16 16:22] manalibhutiyani commented on #3337
@tgraf @rlenglet I was thinking of simply having the key as

[code]

Where reason:
[code]

This makes things very simple because
1. We do not have to scan the whole map on every endpoint delete
2. For prometheus we will be aggregating all the counters in user space to display the "total_dropped/drop reason", in this scenario we can simply maintain this total counter / drop reason at the source its

[2018-05-16 16:46] #4121 closed, assigned to ianvernon

[2018-05-16 17:32] mskarbek commented on #2354
You have explicitly mentioned containerd, is there any reason? Will this implementation work for [cri-o](http://cri-o.io/)? We got rid of docker-related parts.

[2018-05-16 17:32] rlenglet commented on #4119
This log is the key: `NetworkPolicyHosts update rejected: NetworkPolicyHosts: Duplicate host entry W.X.Y.Z:13051`.
This is a duplicate of https://github.com/cilium/cilium/issues/3825, which was fixed in https://github.com/cilium/cilium/pull/3865.
That fix is in Cilium v1.0.0 and beyond.

[2018-05-16 17:32] #4119 closed, assigned to rlenglet

[2018-05-16 17:52] rlenglet commented on #3337
@manalibhutiyani I like that. I think you can even remove the `lastUpdated` field from the value since you wouldn't need to GC/delete those entries.

[2018-05-16 17:54] #3928 closed, assigned to ackerman80

[2018-05-16 18:11] joestringer commented on #4125
Hmm, I think that the image itself displays correctly, it's just the link for when you click on it.

[2018-05-16 18:20] joestringer commented on #2842
@LuigiBaute Looks like we lost track of your reply here, sorry about that. At the moment, the sphinx docs are not well set up for translations, but if you're still interested, I would suggest looking into the sphinx docs for how to set up for docs translation:

http://www.sphinx-doc.org/en/master/intl.html#quick-guide

I'd expect such an integration to start with a basic PR to put the translation

[2018-05-16 19:30] ianvernon opened #4137 "CI: update tests to test new minikube GSG"

[2018-05-16 19:53] jrajahalme opened #4138 "Ginkgo Tests Validated fails after Gopkg vendor update of golang/protobuf"
Exerpt from https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3260/execution/node/35/log/:

[code]

[2018-05-16 19:54] ianvernon commented on #4138
@jrajahalme does this occur on master as well?

[2018-05-16 19:54] jrajahalme commented on #4138
No. I likely failed to add new files to git, let me see...

[2018-05-16 19:57] jrajahalme commented on #4138
That was likely it. Will reopen if needed.

[2018-05-16 19:57] #4138 closed, assigned to nobody

[2018-05-16 20:32] ianvernon opened #4139 "CI: bugtool and associated debugging information not gathered in failed builds"
In https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3259/ , a test failed:

[code]

But no logs were gathered; attached is the zipfile containing all gathered logs for this build.

Logs: [test_results_Cilium-PR-Ginkgo-Tests-Validated_3259.zip](https://github.com/cilium/cilium/files/2010768/test_results_Cilium-PR-Ginkgo-Tests-Validated_3259.zip)

In `RuntimeValidatedMonitorTestWithSam

[2018-05-16 20:37] ianvernon opened #4140 "CI: endpoint mutex not released if syncPolicyMap fails in regenerateBPF"
I had a PR out which did not modify any Cilium code whatsoever (https://github.com/cilium/cilium/pull/4136)

There was a deadlock detected in the logs:

[code]

And again:

[code]

Logs: [test_results_Cilium-PR-Ginkgo-Tests-Validated_3259.zip](https://github.com/cilium/cilium/files/2010779/test_results_Cilium-PR-Ginkgo-Tests-Validated_3259.zip)

[2018-05-16 20:56] ianvernon commented on #4140
Fix is out in #4141.

[2018-05-16 21:03] ianvernon commented on #4139
Ah, I know what the issue is. The deadlock detection got triggered in the above build, and when we detect a deadlock, I think we do not gather the logs. I'll see if I can reproduce this locally by changing the logic for signaling failure when there is a deadlock and seeing if the logs are gathered accordingly.

[2018-05-16 21:14] ianvernon commented on #4139
Confirmed that this is indeed the issue.

Reproducer below. I did this for the K8s VMs because I already had them running on my local setup, this could be done with the Docker VMs as well most likely:

1. Boot the vms:

[code]
2. Apply the following diff (this is done off of latest master):
[code]

3. Run the test without provisioning Cilium (this provides for fast turnaround time for testing):

`

[2018-05-16 22:02] joestringer opened #4143 "Use code-block: shell-session for highlighting shell commands/output in docs"
In each documentation file, there are often shell-session examples in the form of:

[code]

If we update each of the `::` to `.. code-block:: shell-session`, then it will improve the highlighting of the output to make it clearer which part is the command you need to highlight and which part is the output example of that command.

We might be able to convert these over with a simple sed script, som

[2018-05-16 22:03] joestringer commented on #4143
An alternative to updating each entry in the docs may be to figure out how `highlight_language` works and use this to default all of these `::` sphinx expressions to using the `shell-session` lexer for syntax highlighting.

[2018-05-16 22:09] joestringer commented on #4129
This would also alleviate deny policy -> allow policy transitions for ingress traffic from host/cluster/world which is addressed in most other cases by #4142.

[2018-05-16 22:30] rlenglet opened #4145 "nil pointer dereference in syncPolicyMapController"
[code]

[2018-05-16 22:37] ianvernon commented on #4145
I believe the following code got executed:

https://github.com/cilium/cilium/blob/76f6f62da26f84d96cda7cad855374fe2e045a0c/pkg/endpoint/bpf.go#L584-L589

a build most likely failed for an endpoint, and the PolicyMap for it was set to nil. However, in `regeneratePolicy` we start a controller for syncing state to the PolicyMap for an endpoint which runs asynchronously:

https://github.com/cilium/cil

[2018-05-16 23:26] manalibhutiyani commented on #4032
@iamShantanu101 : That's great. Please raise a GH issue and go for it if you have cycles!

[2018-05-16 23:44] #4140 closed, assigned to ianvernon

[2018-05-16 23:50] ianvernon commented on #3992
I *might* have hit this again in a PR build which only edits code comments (and thus is basically a build of master).

Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3268/

Logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_3268.zip](https://github.com/cilium/cilium/files/2011175/test_results_Cilium-PR-Ginkgo-Tests-Validated_3268.zip)

I'll investigate locally and rep

[2018-05-16 23:58] ianvernon commented on #3992
Step which failed:

[code]
Policy import finished:
[code]

time when traffic test was ran:
[code]

#### Endpoint list

[code]

app3 endpoint ID: 4314
httpd1 endpoint ID: 10687

The policy for this test:
[code]

Thus, app3 should have entries in its BPF PolicyMap allowing all traffic to httpd2 , and traffic to httpd1 on port 80 / TCP, and it does. The packet counter is nonzero indicating that packe

[2018-05-17 00:00] ianvernon commented on #3992
For httpd1's IP, am checking logs to see its lifecycle:

[code]

The identity was initially updated at 23:15:10, and the controller which syncs it to the key-value store ran 5 minutes later (23:15:18).

[2018-05-17 00:08] ianvernon commented on #3992
I checked to see what the NetworkPolicyHosts that are sent to Envoy for this endpoint are:

[code]

[2018-05-17 00:11] ianvernon commented on #3992
There is no host address for httpd1's IP?

[code]

This would explain why Envoy denied it.

[2018-05-17 00:12] ianvernon commented on #3992
It looks like the XDS cache is updated:
[code]

[2018-05-17 00:14] ianvernon commented on #3992
@rlenglet @jrajahalme where can we go from here?

[2018-05-17 00:20] ashwinp opened #4153 "Expose the K8s cilium network policy UUID in the node status"
## Feature Requests

### Title

Expose the K8s cilium network policy UUID in the node status

### Description of requested functionality

Today, if you do a `kubectl get cnp -o json`, you'll observe that we expose the status of the policy on each node. As an example, the output on the single node minikube cluster looks something like:
[code]
The aforementioned status does tell you the fact that a

[2018-05-17 01:04] rlenglet commented on #3992
Have you looked at deletions from the cache?

[2018-05-17 01:15] jrajahalme commented on #3992
I could not find "app3 curl" from cilium.log, nor any evidence that there was a proxy DENY at that time or right after?

[2018-05-17 04:08] ishantanu commented on #4143
@joestringer Just a question, why is it that at some places `::` is used for shell code and at other places `.. code:: bash`?

An alternative to doing a `sed` might be using `highlight_language = 'guess'`. It guesses the syntax highlighting language.

Also, for C code snippets, syntax highlighting seems to be missing. `highlight_language = 'guess'` also does highlighting for this.

[2018-05-17 04:23] ishantanu opened #4154 "docs spellchecker error: WARNING: 'any' reference target not found"
## Bug reports

### Title

Documentation spellchecking error: 'any' reference target not found

### General Information

Some spellchecking errors are reported while building cilium docs.

### How to reproduce the issue

Run `make -C Documentation html`

#### Output:

[code]

[2018-05-17 04:24] joestringer commented on #4143
@iamShantanu101 I believe that the `::` form is a lazy way to say something like "format this in a box as a text literal", without indicating the type of highlighting that is required - or even saying that it's not code, just some text. I suspect that if you want to add syntax highlighting, then the indent block needs to be at least something like `.. code::` or `.. code-block::`.

`.. code:: bash

[2018-05-17 04:26] joestringer commented on #4154
Does the build fail? If so, can you provide more comprehensive output?

Note that the docs build is sensitive to the name of your current git branch - it will even detect spelling errors there(!)

[2018-05-17 04:27] ishantanu commented on #4154
It fails to build possibly because of other reported spellcheck mistakes in the process. Here's the complete output.

[code]

However, if I replace \`some-text` with \``some-text``, the warning goes away.

[2018-05-17 04:37] ishantanu commented on #4143
Got the point. I'll look into this.

[2018-05-17 05:50] manalibhutiyani opened #4155 "Datapath changes for collecting drop/forward metrics"
Parent #3284
Parent #3337

[2018-05-17 06:22] manalibhutiyani commented on #3337
L3/L4 drop / forward Datapath bits are in this PR #4156

[2018-05-17 06:22] manalibhutiyani commented on #3284
L3/L4 drop / forward Datapath bits are in this PR #4156

[2018-05-17 08:36] mehranhadidi commented on #1918
@jan2ary thanks. It fixed my issue. is there any way to install this package by default on vagrant box?

[2018-05-17 12:39] #4154 closed, assigned to nobody

[2018-05-17 13:52] sandys opened #4159 "Support for Docker Swarm"
--------------

### Description of requested functionality
Cilium Project must support Docker Swarm which is the other popular (and more importantly built-in) orchestrator.
From what I understand from the Kubernetes+Cilium documentation, it will not be very hard to setup using Docker Swarm global mode (https://docs.docker.com/engine/swarm/services/#replicated-or-global-services)

Interesting issue

[2018-05-17 15:45] #4011 closed, assigned to nebril

[2018-05-17 17:09] ianvernon commented on #3992
@jrajahalme check `test-output.log` for the test logs; `cilium.log` only contains the Cilium logs.

@rlenglet Doesn't look like anything is deleted here, I searched the logs again looking for deletions as well:

[code]

[2018-05-17 17:30] danwent opened #4160 ""Cannot List CEPs" error in cilium logs"
User had the following error (seen with both v1.0.2 and v1.0.3):

[code]

@tgraf said it was harmless, but would be good to clean-up.

[2018-05-17 17:36] ianvernon commented on #440
@borkmann this is quite stale; the CI has been migrated to a different framework. Should the issue description be changed accordingly, or can this be closed?

[2018-05-17 18:05] jrajahalme commented on #3992
All these cache updates are for NetworkPolicy, not for NetworkPolicyHosts!

[2018-05-17 18:18] jrajahalme commented on #3992
Last hostmap update Envoy has received is at 23:10:17:
[code]

Destination endpoint is created and it's IP is assigned also at 23:10:17:
[code]

Reading the full logs for timestamp 23:10:17 reveal that the endpoint is created and assigned it's IP address AFTER the last NetworkPolicyHosts update to Envoy is made!

[2018-05-17 18:20] jrajahalme commented on #3992
So it seems that endpoint PUT nor PATCH actually upsert the endpoint's IPs to the ipcache!

[2018-05-17 18:32] rlenglet commented on #3992
[code]

[2018-05-17 18:34] rlenglet commented on #3992
[code]

[2018-05-17 18:35] rlenglet commented on #3992
No problem with writing and reading from etcd.

[2018-05-17 18:38] rlenglet commented on #3992
[code]
[code]
[code]
The last insert into the cache happened before:
[code]
In this case, the cache is not modified because the resource is identical:
[code]
This IP-to-ID mapping was already in the xDS cache!

[2018-05-17 18:57] rlenglet commented on #3992
[code]
The revision number of the NPHDS cache goes back from 57 to 6. This is a monotonically incremented counter. This indicates that Cilium restarted, at 23:07:48:
[code]
So the re-insertion into the NPHDS cache at 23:07:49 is due to the reconnection / resync with etcd.

[2018-05-17 19:15] rlenglet commented on #3992
The IP-to-ID mapping that we see in xDS comes from the first Cilium instance, before the Cilium crash:
[code]
This mapping survives the crash, in etcd, and gets restored into the ipcache and xDS cache when Cilium restarts.

It seems like the calculation of the new list of IP addresses for identity 53409 is incorrect, when the new endpoint is allocated that IP.

[2018-05-17 20:23] ianvernon opened #4162 "CI: SW Demo pods never become ready"
I've noticed this failing in multiple PRs which have no effect on actual compiled code (for Cilium or for the CI).

Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3298

Stacktrace:

[code]

Logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_3298.zip](https://github.com/cilium/cilium/files/2014620/test_results_Cilium-PR-Ginkgo-Tests-Validated_3298.zip)

[2018-05-17 20:24] ianvernon commented on #4162
Seeing if I can reproduce locally.

[2018-05-17 20:38] ianvernon commented on #4162
Similar failure: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3300/

[2018-05-17 20:44] ianvernon opened #4163 "CI: context deadline exceeded when getting endpoint due to leftover microscope processes"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2484/testReport/junit/k8s-1/7/K8sValidatedServicesTest_External_services_To_Services_first_endpoint_creation_match_service_by_labels/

Failure output:

[code]

From `test-output.log` in attached log archive:
[code]

Logs:
[test_results_Ginkgo-CI-Tests-Pipeline_2484.zip](https://github.com/cilium/cilium/files/2014670/test_results_Gi

[2018-05-17 20:56] ianvernon commented on #4163
the pod on which the context deadline was exceeded was `cilium-m7q9v`.

The command was ran around "17:19:37"", and it timed out. Checking the logs for `cilium-m7q9v` in the attached log archive. There are no logs for some time (20 seconds!):

[code]

[2018-05-17 20:57] ianvernon commented on #4163
The delays are significant:
[code]

[2018-05-17 20:58] ianvernon commented on #4163
Test concluded at `17:23:18`:
[code]

[2018-05-17 20:58] ashwinp opened #4164 "Labels in network policy YAML are ignored"
## Bug reports

### Title

Labels specified in the cilium network policy YAML are ignored.

### General Information

- Cilium version (run `cilium version`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
K8s

### How to reproduce the issue

1. Apply a cilium network policy with a label, say `testlabel` with value `abc`:
[code]
2. Check whether the label shows up

[2018-05-17 21:00] ianvernon commented on #4163
There is no log indicating that we are performing `GET /endpoint` in the logs at "17:19:37":

[code]

where are these logs?

[2018-05-17 21:01] ashwinp opened #4165 "Cilium policy import command does not specify the format of the expected policy file"
## Bug reports

### Title

Cilium policy import command does not specify the format of the expected policy file

### General Information

- Cilium version (run `cilium version`)
[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
k8s

### How to reproduce the issue

1. Execute the following command:
[code]

Do we expect the file to be in YAML format? Or JSON? Or are

[2018-05-17 21:06] tgraf commented on #4164
Did you mean to write:
[code]
?

[2018-05-17 21:09] tgraf commented on #4165
JSON for now. Needs to be properly documented.

[2018-05-17 21:09] ianvernon commented on #4163
I see logs like the following:
[code]

Seems like we are retrying to get info about the containers that are launched, but are unable to?

[2018-05-17 21:10] ianvernon commented on #4163
OK, so at "17:39:38" the event is logged in Cilium that shows that we are trying to get information about the endpoint:

[code]

[2018-05-17 21:11] ianvernon commented on #4163
Only at "17:20:34" is the message actually received by Cilium?

[code]

[2018-05-17 21:22] ianvernon commented on #4163
This is due to resource contention on the node itself. This is because leftover microscope processes are left around. In the `dmesg.md` output in the bugtool for this pod:

[code]

[2018-05-17 21:22] ianvernon commented on #4163
I am going to revert microscope in CI again to unblock.

[2018-05-17 21:22] ashwinp commented on #4164
@tgraf That is not accepted as a valid format. I get an error that the CNP is invalid.

[2018-05-17 21:25] rlenglet commented on #4164
@tgraf this is the valid syntax. The problem is that the conversion of a K8s rule into a Cilium rule ignores the K8s rule's labels:
https://github.com/cilium/cilium/blob/master/pkg/k8s/apis/cilium.io/utils/utils.go#L225

[2018-05-17 21:26] rlenglet commented on #4164
@ashwinp is working on a fix.

[2018-05-17 21:28] aanm commented on #4163
@ianvernon is this why the PRs are being flaky?

[2018-05-17 21:30] ianvernon commented on #4163
@aanm I can only speak for the builds being triaged as part of this ticket. Every build that fails needs to be analyzed accordingly.

[2018-05-17 21:48] rlenglet opened #4169 "Enable sidecar-http-proxy mode per-endpoint"
Currently, the sidecar HTTP proxy mode is enabled on a per-node basis, using the `--sidecar-http-proxy` mode, which has the effect of expecting every endpoint to have an Istio Envoy sidecar proxy.

We need to make this more granular:

1. Detect whether an endpoint has been injected with an Istio sidecar, by inspecting the K8s annotations on the endpoint.
1. Enable the sidecar HTTP proxy mode autom

[2018-05-17 21:50] joestringer opened #4170 "Show test-output on failures more prominently in Jenkins"
In the following CI result, the test output simply states that the VM exits with status code 1:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3306/

Test result page:
[code]

Console output page:
[code]

Inside the test artifacts zip, there is only two files, empty `cmds.log` and the `test-output.log` that finally actually points out some useful information:

[code]

It would be