[2016-05-17 01:27] ehsanmostajeran opened #1 "open ./images/*.ditar: no such file or directory"
Hi, thanks for repo.
I get an error when using Vagrantfile.

`==> node1: Setting up openvswitch-switch (2.4.0-1) ...
==> node1:  * Inserting openvswitch module
==> node1:  * /etc/openvswitch/conf.db does not exist
==> node1:  * Creating empty database /etc/openvswitch/conf.db
==> node1:  * Starting ovsdb-server
==> node1:  * Configuring Open vSwitch system IDs
==> node1:  * Starting ovs-vswitchd
=

[2016-05-25 01:17] aanm commented on #1
Hi, which configuration are you following? https://github.com/cilium-team/cilium#how-to-run-cilium

[2016-05-25 04:48] ehsanmostajeran commented on #1
Hi, yes from the link above. I got this error when I tried to use Vagrantfile.

[2016-05-25 12:32] aanm commented on #1
But which of the 3 setups you tried?
On May 25, 2016 05:48, "ehsanmostajeran" <notifications@github.com> wrote:

[2016-05-26 00:51] ehsanmostajeran commented on #1
I tried to bring up Cilium platform using Vagrantfile. There are images that must be pulled on vagrant nodes to run Cilium components. I guess the folder included those images is not defined in Vagrantfile or it is empty.

[2016-05-26 23:34] aanm commented on #1
There isn't a single line that tells you to run the vagrant as standalone. You should always use the `entrypoint.sh` as described on the README.md.

I'm going to close this issue. If you have questions please make them here that I'll answer.

[2016-05-26 23:34] #1 closed

[2016-07-22 15:22] tgraf opened #48 "Recompile container BPF programs after restart"
Restart of daemon could imply different options. Need to recompile all programs to pick up eventual changes.

[2016-07-27 20:33] aanm opened #54 "Policy is accepted when it shouldn't"
[code]

[2016-08-05 09:54] tgraf opened #73 "Add 'configuration' action to policy"
Allow endpoint options (IPv4/IPv6/NAT46/Conntrack/...) to be set via policy

[2016-08-11 16:01] tgraf opened #81 "Policy evaluation for empty source context is performed"
[code]

[2016-08-16 14:24] tgraf opened #90 "[KNOWN ISSUE] Clang 3.7.0 bug when compiling bpf_lb"
Works fine with clang versions >= 3.7.1. Kept here for reference.

[code]

[bpf_lb-13877b.c.txt](https://github.com/cilium/cilium/files/420456/bpf_lb-13877b.c.txt)
[bpf_lb-13877b.sh.txt](https://github.com/cilium/cilium/files/420457/bpf_lb-13877b.sh.txt)

[2016-08-16 14:41] tgraf opened #91 "contrib/vagrant/start.sh without arguments creates two nodes"
`contrib/vagrant/start.sh` without any arguments will create both a cilium-master and cilium-node-2 instead of just the master. While it creates the node, it does not add the appropriate routes to the master.

[2016-08-16 15:26] tgraf opened #93 "Provide cilium command to report when daemon has started"
A new `cilium daemon status` (or similar) command which indicates when cilium is ready to import policy and listen to orchestration events.

[2016-08-24 21:24] #91 closed, assigned to aanm

[2016-08-25 15:55] alban opened #103 "doc: slack link"
README.md says:

Should this be a public Slack group or a private one? It seems to be configured as invite-only.

[2016-08-25 15:56] tgraf commented on #103
Right, kernel guys shouldn't be allowed to configure slack. What's the best way to make it public? I can only seem to configure it to auto accept certain domains.

[2016-08-25 17:57] tgraf commented on #103
@alban
I've opened #104 which enables a slackin instance at https://cilium.herokuapp.com/. Does that work for you?

[2016-08-25 19:11] alban commented on #103
@tgraf It worked for me!

The link will need to be updated on this page as well: https://hub.docker.com/r/cilium/cilium/

[2016-08-25 21:37] tgraf commented on #103
Looks like the auto triggered build fixed the docker hub document as well.
Thanks @alban!

[2016-08-25 21:37] #103 closed, assigned to nobody

[2016-08-26 22:12] aanm opened #105 "Allow kubernetes annotation policy to be optional"
Right now the `annotation` `io.cilium.parent` in the `metadata` field is mandatory for the kubernetes network policy.

We will considerate as optional and when not defined will be appended to the root name.

Ping @alban

[2016-08-28 07:36] #105 closed, assigned to aanm

[2016-09-07 18:35] #93 closed, assigned to aanm

[2016-09-09 16:06] aanm commented on #54
I think it's fine as is, but we should create a policy document regarding how is the policy enforced. As long we enforce it as the user expects it.

I thought the policy enforcement was being done by the logical conjunction of all the labels in one particular container and not by the presence of a that particular label in the container.

[2016-09-09 16:06] #54 closed, assigned to tgraf

[2016-09-13 18:46] #81 closed, assigned to nobody

[2016-09-14 23:28] aanm commented on #73
@tgraf This can be difficult to implement. Supposing we have the following setup:

[code]

With the following policy

[code]

What will be the container A's configuration?

[2016-09-16 14:11] #48 closed, assigned to nobody

[2016-09-18 08:53] tgraf opened #128 "Better feedback loop when compilation fails"
Due to the lack of the labels being available at network plumbing time. We have to request the labels asynchronously and then generate & compile the code after the container has already been started. If compilation or generation fails for some reason, we have no choice but to log the error in the logfile which is often not observed by the user. This leaves the user with an unconnected container.

[2016-09-19 00:48] aanm commented on #128
1) The last call libnetwork cilium driver makes to cilium daemon is the `EndpointJoin`. At that moment there isn't any linking between the container and the docker's network endpoint ID. Also, docker gets in a deadlock if I try to list the current containers while a plugin is setting up a vethpair for that new container endpoint.

[code]

2) What happens if the labels' db is offline at the moment?

[2016-09-19 17:33] tgraf commented on #128
1. A status field is definitely needed to show which endpoints are connected and which are unconnected. Colors will help here. Upon inspect, more details can be provided such as the exact error log message. We can define a couple of well known error conditions such as error while obtaining label id or error while attaching the BPF program.
2. Additionally we need to report back into orchestration

[2016-09-19 17:35] tgraf opened #129 "cilium-docker: provide real subnet/gateway if IPv4 is enabled"
We still provide a stub IPAMConfig even if IPv4 is enabled:

[code]

[2016-09-19 18:51] aanm commented on #129
I assume the `--ipv4-range` was empty, right?

[2016-09-19 20:32] #129 closed, assigned to nobody

[2016-09-22 15:23] #128 closed, assigned to nobody

[2016-09-23 09:45] tgraf opened #136 "Dumping endpoint resolves in null log entries"
@aanm Can we help this?

[code]

[2016-09-23 10:38] tgraf opened #137 "Feature: Integration with rkt metadata service"
The current code integrates ontainer runtime integration without much abstraction.

As we start supporting rkt, we should:
- [ ] Add an interface which hides the details of receiving lifecycle events of when a container is started/stopped
- [ ] Move the existing containerd code behind that interface
- [ ] Add the rkt specific code (https://coreos.com/rkt/docs/latest/subcommands/metadata-service.ht

[2016-09-23 13:18] tgraf opened #138 "Feature: Add port mapping configuration to policy specification"
BPF programs already support port mapping, extend the policy spec to allow configuring it based on label selectors.

[2016-09-23 15:25] aanm commented on #136
@tgraf when do you see that?

[2016-09-23 17:56] aanm opened #140 "Large amount of log messages when cilium can't connect to kubernetes."
Since we are using the kubernetes as a dependency to contact kubernetes master that code contains its own logger which fills the whole cilium file log when the connection between kubernetes master and cilium stops.

[code]

[2016-09-23 18:12] tgraf commented on #136
@aanm Every time we "%v" print an endpoint. I'm fine with changing how we log endpoints.

[2016-09-23 20:09] aanm commented on #136
@tgraf Right now I can't think on a way to hide that

[2016-09-27 15:54] #136 closed, assigned to aanm

[2016-09-28 02:08] aanm opened #146 "When adding the same policy one or more times its rules aren't merged"
When a user adds the same policy one or more times, the rules of the policy aren't merged.

[code]

Suggestions:
1) Make the `Allow` attribute of `PolicyRuleConsumers` a map

[code]

2) Add the `SHA256SUM()` function in the `PolicyRule` interface. This allows to calculate the unique sha256sum of this particular `PolicyRule` and only adds the PolicyRule if there are no more rules with the same SHA2

[2016-09-28 07:23] tgraf commented on #146
@aanm A map doen't work out of the box because the iteration order is not guaranteed and we depend on the order specified by the user.

[2016-09-29 15:52] tgraf opened #153 "Micro: Resolve golint warnings"
https://goreportcard.com/report/github.com/cilium/cilium#golint

[2016-09-29 15:54] aanm commented on #153
I think it's a bug with the goreportcard. This code is not ours for example

[code]

[2016-09-29 16:11] #146 closed, assigned to nobody

[2016-10-06 13:05] tgraf opened #156 "Provide DaemonSet Spec for kubernetes"
Provide an example spec to simplify installation of Cilium on all kubernetes nodes

Documentation:
http://kubernetes.io/docs/admin/daemons/#writing-a-daemonset-spec

[2016-10-08 11:08] tsenart opened #163 "Proposal: Alternative and/or pluggable load-balancing policies"
It would be useful to plug-in different load balancing policies in the load balancing eBPF program.

[2016-10-08 11:58] tsenart opened #164 "Proposal: Allow IP based policy enforcement on ingress and egress"
It's useful to allow policy enforcement on  packets going to external destinations not managed by Cilium. i.e. A legacy database not running in a Cilium enabled container or in a separate network segment.

[2016-10-08 12:06] tsenart opened #165 "Proposal: Write Prometheus exporter"
Write a Prometheus exporter that integrates with `cilium monitor` and exposes a set of Cilium metrics to be scraped by a Prometheus server.

[2016-10-08 12:29] aanm commented on #163
Can you give some examples/use cases?

[2016-10-08 13:43] tgraf commented on #163
I met @tsenart yesterday and we discussed this a bit. The idea is to make the backend selection process pluggable so it can support more than the current hash based method. This would require an extension to both, the policy layer to configure this and the eBPF part to implement the selected method. We have all the necessary building blocks for stateful LB as well, it's only a matter of putting it

[2016-10-08 13:50] tgraf commented on #164
How would a useful configuration API look like. Our policy currently allows to specify a coverage which translates to the endpoints to which the configuration should be allowed to. We have an existing "allow" rule to list allowed consumers. Would it make sense to have a "allowed-destinations" option which is a []net.IPNet or something similar.

Example:

[code]

If no `allow-destinations` is prese

[2016-10-08 13:52] tgraf commented on #165
Both events exported by the cilium monitor facility as well as lxcinfo, ctmap, policymap and lbmap will be interesting. You can dump those already with:

[code]

[2016-10-08 14:07] tsenart commented on #163
@aanm: The LB algorithm ought to be pluggable so that load distribution is optimal for different workloads and network communication patterns.

I'd like, for instance, to have a stateful weighted round robin algorithm that could take into account a number of load metrics per slave (backend).

[2016-10-08 14:10] tsenart commented on #163
In normal L7 load-balancing, it's relatively easy to keep track of outstanding "requests" per backend, average request latency, etc. I'm thinking how we could use some sort of deep packet inspection to do the same in L3/L4. Not sure this is a good idea or if there are simpler alternatives.

[2016-10-08 14:19] tsenart commented on #164
Sounds good. However, wondering what the current backwards compatibility guarantees are for the configuration API. Can we still break things to make them nicer at this point?

I'd change `allow` to `ingress` or `incoming` and the `allow-destinations` to `egress` or `outgoing` while keeping the current whitelist behaviour.

[2016-10-08 14:22] tsenart commented on #165
Great. Also, for reference, I think it's better to have an external Prometheus exporter (individual process) instead of directly instrumenting the cilium daemon so that we don't couple it too much with a single monitoring technology.

[2016-10-20 06:24] aanm opened #172 "Unable to run cilium with clang-3.9"
Steps to reproduce.
1. Replace clang in root's Dockerfile with `3.9.0`.
2. Run the docker-compose example provided here: https://github.com/cilium/cilium/tree/master/examples/docker-compose
3. The error happens on the first container started. For example: `docker run -d --name wine --net cilium --label io.cilium.service.wine noironetworks/nettools sleep 30000`

[code]

[2016-10-20 20:14] gianarb opened #174 "Getting Started with Vagrant is not working"
Hello

I am following the getting started with Vagrant

[code]

[code]

With the command

[code]

The master is good but the node is failing

[code]

What am I doing wrong?
Thanks

[2016-10-20 20:16] mchalla commented on #174
Could you pl run vagrant with VAGRANT_LOG=debug and paste the output.

[2016-10-20 20:18] mchalla commented on #174
Actually never mind. I thought it was an ssh issue. Looks like a compile issue. I will look at it in some time.

[2016-10-20 20:55] mchalla commented on #174
A quick thing you can do is vagrant ssh to each node and compare the /home/vagrant/go/src/github.com/cilium/cilium/plugins/cilium-docker directory. May be the download failed for some reason.

Do you see the issue each time consistently ? you can do a vagrant destroy and run the start.sh command again.

[2016-10-20 21:36] gianarb commented on #174
Hello @mchalla yes I can see that error every time . Anyway I notified but I hope to have time to deep on it more

[2016-10-20 22:07] tgraf commented on #174
@gianarb It looks like a file in your directory is corrupted. Either from the git clone directly or during the rsync when copying into the VM. I'd try by destroying the vagrant box and set up again and in case that doesn't work, clone a fresh copy of the git tree.

[2016-10-20 22:13] tgraf commented on #172
The issue is that `r1` gets pushed to the stack before the conditional jump. I think may recent upstream work should resolve this.

[code]

[2016-10-20 22:20] aanm commented on #174
Yep, @tgraf is probably right. Please try it again, I've try it and it works fine. This is the full log:

[code]

[2016-10-20 23:06] gianarb commented on #174
It's my fault! During the clone I didn't figure our a connection trouble probably because after a new clone all it's working well.

Thanks for your work folks!! Now I can do some test :) :

[2016-10-21 13:56] gianarb commented on #174
Ok yesterday was to late and I never wait the end of the provisioning but I tried know and I continue to have the same problem:

[code]

Also after a new clone:

[code]

I tried a provisioning with only the master it works fine.. The script ends well.

[2016-10-21 14:28] tsenart commented on #174
Seemingly related issues: https://github.com/kubernetes/kubernetes/issues/27712 and https://github.com/golang/go/issues/14270

[2016-10-21 15:08] aanm commented on #174
It seems that `rsync` causes some corruption in the files.

@gianarb Try putting the go build in verbose with the `-v` flag on the go build that is causing the issue and please paste the output again:
https://github.com/cilium/cilium/blob/master/cilium/Makefile#L17
`go build -v -ldflags "-X "github.com/cilium/cilium/common".Version=$(VERSION)" -o $(TARGET) ./main.go`

Note that you've to edit the

[2016-10-21 15:17] tsenart commented on #174
@aanm, @gianarb: Add the `-x` flag as well. It prints all the commands being executed by `go build`.

[2016-10-21 15:18] tsenart commented on #174
@aanm: Also, if corruption seems to be the problem, can we compare hashes of the resulting files on different machines? SHA256 should do it.

[2016-10-21 15:24] aanm commented on #174
@tsenart Yep let's find which file is it first, if it is a file. I believe it is an rsync problem since the is the same problem but on a different target.

[2016-10-25 18:24] aanm commented on #174
@gianarb Can you try it with `NFS=1`?

On Oct 21, 2016 15:28, "Tomás Senart" notifications@github.com wrote:

[2016-10-26 20:57] gianarb commented on #174
My macbook has a lot of problem with this provisioning.. It seems too weak.. I am doing my best :D

[2016-10-26 21:09] mchalla commented on #174
I assume you changed num of cores and memory.

[code]

I use 2048 and 2 on my 4GB macbook air. Its slow but works.

[2016-10-26 21:11] gianarb commented on #174
@mchalla I looked into the conf last week but maybe in a really bad way.. :) Let me change the value and do some test with NFS and no NFS to see what's happen.
Thanks

[2016-10-26 21:21] gianarb commented on #174
@mchalla  my 2048 are too bad! :) I am trying with 3GB

[code]

[2016-10-26 21:33] gianarb commented on #174
With `NFS=1`. It's not working.. I try without

[code]

[2016-10-26 21:38] mchalla commented on #174
Could you ssh to the box and see that Cilium is running. ps aux | grep cilium. If not try service cilium-net-daemon restart.

I think "stdin: is not a tty" message is fine.

https://github.com/mitchellh/vagrant/issues/1673

[2016-10-26 21:42] gianarb commented on #174
Yep! Well done!! @mchalla why we have that kind of resources into the vagrant provisioning? usually it's for local env and it's quite hard fit that size..

[2016-10-26 21:43] tgraf commented on #174
We should probably reduce the default number of cpus and memory in the Vagrantfile.

[2016-10-26 21:47] gianarb commented on #174
I am doing a PR @tgraf

[2016-10-26 22:01] gianarb commented on #174
I am just following the getting started with docker-compose, right know I can not start the `cilium` container. I run this command into the vagrant box (cilium-master).

[code]

[2016-10-27 01:03] mchalla commented on #174
Can you try starting the daemon manually and see why it fails.

cat /etc/init/cilium-net-daemon.conf

sudo bash
export PATH=/usr/local/clang/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/bin
and run the next command from the file.
cilium -D daemon run -n ...

[2016-10-27 01:05] mchalla commented on #174
May be it has to do with docker-compose.  I will take a look at it later.

[2016-10-27 01:38] aanm commented on #174
@gianarb sorry about that, fixed here: https://github.com/cilium/cilium/pull/182

[2016-10-27 01:38] mchalla commented on #174
I think it has to something to do with the etcd config file since thats the only place we throw this error. By giving a dummy file I am able to get past that error.

docker-compose.yml

[2016-10-27 01:41] aanm commented on #174
@gianarb you only need to add `-c 127.0.0.1:8500` at the end of the 5th line in `docker-compose.yml`

[2016-10-27 09:40] aanm commented on #174
@gianarb or pull the master branch since the PR was merged ;-)

[2016-10-27 15:43] gianarb commented on #174
I will try this evening @aanm ! thanks!

[2016-11-07 13:40] tgraf commented on #174
@gianarb Did you have a chance to try again? The bug should have been fixed via #182.

[2016-11-07 14:05] gianarb commented on #174
Sure I think that this evening I can do some tests @tgraf

[2016-11-07 14:55] tgraf commented on #174
Awesome, thanks @gianarb

[2016-11-09 23:19] mchalla opened #191 "Add LRU and RR modes for load balancer."

[2016-11-10 14:27] #174 closed, assigned to aanm

[2016-11-10 14:28] tgraf commented on #73
The precedence follows the same logic as the precedence for connectivity policy.

[2016-11-28 10:44] tgraf opened #198 "bpf: kernel crypto support e.g. ktls"
Options:

- ktls for socket progs (depending on RX side to be available first fir ktls; high prio)
- Provide BPF helper API to interact with cryptographic subsystems in the kernel
- Encrypt/decrypt with xfrm and/or MACSec
- Key must be selectable based on BPF logic

[2016-11-28 12:29] borkmann opened #199 "Feature: Use bpf's direct pkt write when feasible"
Convert the code to use faster direct pkt write instead of skb_store_bytes() whenever possible.

[2016-11-28 13:14] tgraf opened #200 "Feature: BPF fragmentation handling"
- [ ] Capability to do IP fragment reassembly in front of a BPF program
- [ ] Ability for a BPF program to queue skbs for reassembly
- [ ] Metadata for a BPF to know whether reassembly was performed
- [ ] Prevent an skb from being queued into reassmebly multiple times
- [ ] Don't require MTU of net_device to cover maximum reassembled packet size

[2016-11-28 13:16] tgraf opened #201 "Feature: Policy verification testsuite"
- [ ] Tests covering correctness of policy model and corresponding enforcement
- [ ] Tests covering precedence conflict potential and resolving capability
- [ ] Tests covering translation into BPF enforcement layer

[2016-11-28 13:18] tgraf opened #202 "Feature: Policy specification for L4 port mappings"
- [ ] Allow specificy in policy what port mappings should occur, e.g. pod with label "role=backend" should map port 80 to port 8080.
- [ ] Map policy spec to exiting BPF port mapping facilty
- [ ] Tests

[2016-11-28 13:20] tgraf opened #203 "Support etcd V3"

[2016-11-28 13:21] tgraf commented on #138
Duplicate of #202

[2016-11-28 13:21] #138 closed, assigned to nobody

[2016-11-28 14:40] aanm commented on #203
Already done

[2016-11-28 15:48] tgraf commented on #203
Excellent, it was still marked todo in the roadmap PR. I will mark it as done there as well.

[2016-11-28 15:51] aanm commented on #203
Ah, right. I'm still waiting for the release 3.1.0 so I can update the test images accordingly but so far the tests have been working with our v3 client and 3.1.0-rc1.

[2016-11-28 15:58] tgraf commented on #203
OK, can you update this issue to track the waiting and task to update the test images then?

[2016-11-28 15:58] aanm commented on #203
Yep makes sense.

[2016-12-01 15:48] aanm opened #207 "Endpoint list shows Status OK even if bpf program can't be build"
When listing `cilium endpoint list` to see the endpoint status. The status presented can be deceiving because of the `Policy regenerated` messages.

[code]

We should add priority to the status messages, for example on this case, bpf recompilation is more important than Policy regenerated and therefore we should show Status Failure on endpoint list.

Or stop the policy regenerated for the endpoint

[2016-12-01 15:52] tgraf commented on #207
Agreed.

I think we should also perform test compilation of the program at cilium daemon startup time and have it fail right away to catch the most obvious dependency errors. Compilation errors are rarely specific to the container but most often a missing dependency in the kernel that applies to all programs that are compiled.

[2016-12-08 19:54] josephjacks commented on #163
Interesting. Would this effectively mean that Cilium's security policies could natively span L3/4 and L5/7 for connections and packet flows? @tgraf

[2016-12-08 20:03] tgraf commented on #163
@josephjacks Yes, that's already doable with the current code. What @tsenart is proposing on top of that is to implement a LB at L3/L4 with L7 filtering techniques without terminating the actual connection. Instead use regular L3/L4 load balancing techniques. This offers much greater performance and scale and is much harder to attack. It also offers the advantage of direct server return possibilit

[2016-12-11 09:28] tgraf opened #217 "Feature: Make KV store optional"
The KV store backend is only required when policy enforcement is enabled. Make KV store backend optional wen policy enforcement is disabled.

[2016-12-13 02:58] tbachman opened #218 "[bug] Add initial apt-get update to Vagrantfile"
In order to ensure that the repositories are updated, there should be a statement like:

sudo apt-get update

This should be added before the first "sudo apt-get install" statement in the Vagrantfile.

[2016-12-13 23:04] #218 closed, assigned to nobody

[2016-12-17 14:22] mskarbek opened #229 "Proposal: Documentation enhancement in requirements"
Please add in "Prerequisites" section on which not yet officially released functionalities of kernel/iproute2 cilium depends.

[2016-12-18 23:54] aanm opened #230 "cilium monitor doesn't show packet events right after start"
I've accidentally revert the faulty commit https://github.com/cilium/cilium/commit/546bee97606895a871fa3966507c3d343c7ad836 with PR #228. So the problem doesn't exist right now.

[2016-12-19 09:09] tgraf commented on #230
I saw it, I thought it was intentional as I was planning to revert it anyway until we can track down the issue in that commit.

[2016-12-28 16:07] tgraf commented on #229
Good point. Being addressed in PR #236

[2017-01-05 15:07] rlewkowicz opened #238 "Question: Are you planning on doing releases using tags?"
I ask because I need some sort of package support. So like an `apt install cilium`. So when I boot strap swarm nodes I'm not compiling from source every time. I can set up a jenkins builder to build a repo and maintain releases. I just need to know If I should poll on changes periodically and build master or if we'll be seeing official releases?

[2017-01-05 15:44] tgraf commented on #238
Yes, we're targeting official releases in the next couple of weeks.

We are already maintaining Docker images `cilium/cilium` with the latest and greatest builds but they are not flawless to run yet, we are ironing out the last couple of issues with regard to having the BPF filesystem mounted properly.

[2017-01-07 17:43] tgraf opened #244 "GCE on OSX"
[code]

[2017-01-07 18:05] aanm opened #245 "Disable `Conntrack` and then `Policy` on an endpoint causes error"
After creating an endpoint and running theses commands:
[code]
The endpoint becomes unreachable. After running this command:
[code]
I got:
`
Unable to update endpoint 24493: server error for interface: (uint16) "24493", (500) an unexpected internal error has occurred: "error: "exit status 1" command output: "Join EP id=24493_update ifname=lxca4920\nIn file included from /usr/lib/cilium/bpf_lxc.c:3

[2017-01-07 18:13] aanm commented on #244
@tgraf You have to define a project where you have admin rights to create your instances. Try `gcloud init` to setup your account.

[2017-01-07 20:06] tgraf commented on #244
Right, might make sense to add it to the scripts.

[2017-01-09 06:58] tgraf opened #247 "GET /lb/services "invalid service ID 0""
Starting cilium, I see the following in the log:
[code]

[2017-01-12 21:19] gianarb commented on #174
I am back! Still having some trouble but I am opening another PR. I can confirm now that I have a better laptop that a lot of problem was related my laptop performance probably.
Which the new one all is better.

[2017-01-12 21:45] gianarb opened #258 "vagrant/docker example cilium monitor doesn't show nothing"
Hello!
I am still in trouble with my tests with cilium :) Nothing too bad I am just trying to write something down to help the community to discover this tool but I am still having some problem.

Steps to reproduce:
[code]
All is fine at this point I have a list of the 2 endpoints created before I can not ping server from client. All it's working! :+1: Let's try to understand why with the command

[2017-01-12 21:49] aanm commented on #258
Hello @gianarb I just add a PR #254 with a F.A.Q. can you check it first and see if it helps your case?
https://github.com/cilium/cilium/blob/eb96cded424aa2fd01222552c029d4971ca86e38/doc/faq.md

You don't seem to add any policy, can you check with `cilium policy dump`?

[2017-01-12 21:55] gianarb commented on #258
It's helpful to translate the output thanks to address me on that. But I am still not getting why I have not output. I have no policy but 2 endpoints are trying to communicate without success. Monitor is not the right tool to know why?

Thanks!!

[2017-01-12 21:57] aanm commented on #258
Is Debug enabled in the daemon? `cilium daemon config`
Is Debug enabled in the endpoints? `cilium endpoint config <endpointID>`

[2017-01-12 22:13] gianarb commented on #258
All endpoints and daemon have `Debug Enbaled`.
[code]

[code]
Processes up and running seem good

[2017-01-12 22:21] gianarb commented on #258
Sorry about the long logs but I am getting another strage behavior when I try to load a policy. I copy paste here what I did. Let me know if you need more or if I need to open another PR.

Policy went loaded as dump said but `policy allowed` disagree and I am not getting why.
[code]

[2017-01-12 22:30] aanm commented on #258
Ah I think I now what's going on.

What's the output of `docker ps -a` and `sudo service cilium-net-daemon status`?

[2017-01-12 22:34] aanm commented on #258
Never mind, the endpoint labels are different. endpoint label `io.cilium.service.server` is different the policy label `io.cilium.server`

[2017-01-12 22:36] gianarb commented on #258
and you are right for the label stuff! :+1: I am sorry!

[code]

[2017-01-12 22:37] aanm commented on #258
What's the output of `docker ps -a` and `sudo service cilium-net-daemon status`?

[2017-01-12 22:39] gianarb commented on #258
[code]
but I am getting logs now and I don't know how they started o.O

[2017-01-12 22:41] aanm commented on #258
I was thinking that you had 2 cilium instances running at the same time, one with docker-compose and the other that's on by default on the vagrant image that we provide.

[2017-01-12 22:48] gianarb commented on #258
I am having the same perception. I am just destroying and recreating vagrant box to double check. I will be back soon with the final answer

[2017-01-12 22:49] aanm commented on #258
@gianarb I just noticed something in your set up, the `NUM_NODES=1` starts up 2 VMs, one master and 1 node. You don't need 2 VMs for your use case. I'll fix that in the docs.

[2017-01-12 22:53] gianarb commented on #258
You are right. I got 2 VMs months ago during my first test. but now I have one

[2017-01-12 22:54] aanm commented on #258
I'll look at that. ;)

[2017-01-12 22:56] gianarb commented on #258
[code]

Here we are! All is up and running after `vagrant up`. And I double checked. You wrote a docs about that but probably I removed that part from my mind.

Thanks and sorry for my caos!

[2017-01-12 22:56] #258 closed, assigned to aanm

[2017-01-13 00:04] aanm opened #259 "Restore functionality takes a lot of time to start for a couple of endpoints"
Restore takes a significant amount of time to recreate all endpoints. I suspect it's rebuilding the endpoints 3 to 4 times when the daemon starts. Creating the issue for future reference.

[2017-01-18 07:56] deitch opened #262 "How does routing happen?"
Hey Cilium team,

This is great, just fascinating. I couldn't attend LinuxCon NA 2016 and missed this entirely. I did the "compare networking options for ultra-low-latency" presentation in Tokyo and Berlin, so it was particularly appealing.

How does Cilium do routing? I get that you assign an IPv6 address to each container, of which the host may or may not be aware. BPF gives you the ability to c

[2017-01-19 06:32] aanm commented on #259
Found the guilty. The restore functionality creates the endpoints by reading the header stored on the endpoint's directory. (1) At that time the endpoint program is regenerated to see if everything is alright. After that it allocates the endpoints IP and recompiles the program again (2). After the endpoints were restored, cilium syncs with the docker daemon to see which containers are still up and

[2017-01-19 16:28] tgraf commented on #259
We can solve it by implementing partial policy resolution but I don't think it addresses the main issue. How about we ensure the restore functionality is run before we start accepting any external API calls and events and lock the daemon down. Individually restore the endpoints using an API which does not generate the endpoints. Then finally, trigger a full policy calculation followed by generatio

[2017-01-19 20:04] tgraf commented on #262
@deitch
Great to hear from you. We should be putting this into the documentation but let met give you a quick answer before we have that.

The programmability of BPF allows Cilium to implement whatever model is desired. What is currently implemented is as follows:
 - Cilium will perform internal routing for any packets addressed to another local container. (L2 rewrite, TTL dec, redirect into devic

[2017-01-19 20:23] deitch commented on #262
@tgraf : and great to be welcomed! :-)

So Cilium is more of a framework enabling implementation of Overlay or L3 strategies, but by doing it right there in the kernel using BPF? And you can build complete solutions on top of that?

Is the intent that, e.g. Weave or Flannel might rebuild their system - which distribute IPs using a key/value store like etcd as a backend to coordinate and encapsulat

[2017-01-19 20:38] tgraf commented on #262
Cilium will assume and derive sane defaults wherever possible if run without specific options, e.g. running Cilium in a Kubernetes environment will cause Cilium to automatically derive the node pod CIDR of each server for allocation of IPs to local containers and networking will just work. No additional configuration required.

For encapsulation, each container address is structured in a way that

[2017-01-19 20:50] deitch commented on #262
That's the default k8s networking, so it will just use that? What are the advantages to doing it that way vs. the shipped-with-k8s CNI plugin?

Ah, that makes sense if you want a more complex routing model.

So, basically, in the end, Cilium handles in-kernel (using BPF) much of what flannel/weave do in  user space (although Weave has a fast datapath mode which is supposed to avoid 2 context switc

[2017-01-19 21:15] tgraf commented on #262
Cilium derives the default k8s network address model, yes. The advantages of Cilium compared to stock k8s networking are scalable policy enforcement with a single hashtable lookup, increased visibility via a fast ring buffer (e.g. you will see the src/dst pod labels of dropped packets), integrated load balancing, policy enforcement of a pod talking to itself, ... I'm probably missing quite a bit h

[2017-01-19 22:11] deitch commented on #262
Definitely worth documenting, as you said. You built this for a reason, feeling existing solutions were insufficient, let people know the reason.

FYI, I do not love the native k8s networking model. Assuming I will have 254 (`/24) containers on each host, and then however many in the subnet in which the hosts live, is rigid, although I get the desire to make route aggregation simple.

Calico's mod

[2017-01-19 22:11] deitch commented on #262
In any case, thanks for all of the details. I will close out the issue.

[2017-01-19 22:11] #262 closed, assigned to nobody

[2017-01-20 01:31] aanm commented on #259
The lock down already happens

Yep, sounds good to me.

[2017-01-23 23:49] gianarb opened #265 "Reproducible issue with vagrant"
Hello

In my laptop, I have this behavior every time that I run `NUM_NODES=1 ./contrib/vagrant/start.sh`

[code]
am I the unique one? The daemon has some problem and it's not up when the provisioning loads policy.
I am running the current master `57dcb8d6`
Thanks

[2017-01-24 01:20] tgraf commented on #265
The log message indicates that the cilium daemon is not running when the policy import is being run.

Can you run `cilium daemon status` and check the logfile in `/var/log/upstart/cilium-net-daemon.log` and see if there is an indication on why it failed?

[2017-01-24 22:12] gianarb commented on #265
Hello @tgraf
[code]

[code]

[2017-01-24 22:19] tgraf commented on #265
@gianarb OK. What is happening is that the Cilium daemon is still starting up in the background and is not ready to accept API calls when vagrant invokes the the import command.

I will extend the vagrant scripts to wait for the daemon to become ready. In the meantime, you can add a `sleep 5` to `Vagrantfile:97` so it looks like this:

[code]

[2017-01-24 23:36] #265 closed, assigned to nobody

[2017-01-24 23:37] #244 closed, assigned to aanm

[2017-01-25 00:06] aanm opened #267 "Cilium causes host applications to use IPv6 instead of IPv4"
I had to delete `cilium_host` as a workaround.
[code]

[2017-01-25 00:09] tgraf commented on #267
Was `cilium_host` the only interface with an IPv6 address on it?

[2017-01-25 00:11] aanm commented on #267
With the scope global yes.

[2017-01-25 00:12] tgraf commented on #267
OK, that explains it. I think we can change the scope to host as packets on that interface never leave the host.

[2017-01-25 00:13] tgraf commented on #267
Can you try

   `ip addr add $HOST_IP/128 dev $HOST_DEV1 scope host`

in `bpf/init.sh`?

[2017-01-25 00:34] aanm commented on #267
doesn't work, seems like `f00d::` is mandatory to be scope global.
[code]
[code]
Should we change the `f00d` prefix?

[2017-01-31 14:27] #203 closed, assigned to aanm

[2017-02-01 01:24] aanm opened #272 "netperf fails to run if container's MTU is -50 Bytes than external interface"
Setup:
- External interface with a MTU of 1460
- container's MTU set with 1410 (-50 Bytes)
- cilium running with ipv4 and vxlan mode ON
[code]

Run `netperf -l 30 -t TCP_STREAM -H SOME_IPV4` the test fails after 4 to 7 seconds.

With 1420 everything runs fine, with IPv6 (in VxLAN mode)+1410 runs fine, this only happens when we aren't fragmenting VxLAN packets (IPv4 in VxLAN mode).

[2017-02-02 20:01] aanm commented on #272
More info:
- Machine type: `n1-highcpu-8 (8 vCPUs, 7.2 GB memory)`

[2017-02-07 01:27] #272 closed, assigned to nobody

[2017-02-10 01:40] aanm opened #282 "Support k8s Ingress resources"
If a user sets up its cluster in a similar way:
[code]
The internet packets are received in `B` from `A`, as expected, but unfortunately `cilium -t vxlan` mode is not ready to read those packets received from `A`.

Until this feature is implemented, as a workaround we suggest to setup as follows
[code]

Thus, cilium on machine `B` will be able to receive packets from `A` and send them to the prope

[2017-02-10 03:23] tgraf commented on #282
TODO:
 - [x] Add `ENCAP_IFINDEX` support to `bpf_lb.c`
 - [x] Define schema to store revnat ID in tunnel header

[2017-02-10 22:16] tgraf opened #285 "Micro: Fix `common.Swab16` with proper `encoding/binary` usage"
- [x] Create a new `pkg/byteorder` which replaces `common.Swab*`, based on `encoding/binary` after detecting the local byte order.
- [x] Convert all calls to `common.Swab*`

This is required for Cilium to function on ARM architectures

[2017-02-11 10:15] aanm opened #286 "Change all env variables in the `contrib/vagrant/start.sh` script to be consistent"

[2017-02-27 00:32] tgraf opened #293 "Cilium daemon with no arguments should not require a KVstore."

[2017-03-03 13:48] #238 closed, assigned to nobody

[2017-03-06 11:33] tgraf commented on #140
Is this issue still persistent?

[2017-03-06 11:34] tgraf commented on #293
Resolved in commit 05dd96f426a0561987a02f446fb4e61902b494ef

[2017-03-06 11:34] #293 closed, assigned to nobody

[2017-03-06 11:35] tgraf commented on #247
Fixed in commit 19f776f120cbc9569017dd671fe61e1c42e54ec4

[2017-03-06 11:35] #247 closed, assigned to aanm

[2017-03-06 11:36] #230 closed, assigned to tgraf

[2017-03-06 11:36] tgraf commented on #217
Fixed in commit 05dd96f426a0561987a02f446fb4e61902b494ef

[2017-03-06 11:36] #217 closed, assigned to nobody

[2017-03-06 11:38] tgraf commented on #172
Fixed in kernel commit 57a09bf0a416700676e77102c28f9cfcb48267e0

[2017-03-06 11:38] #172 closed, assigned to nobody

[2017-03-06 11:39] tgraf commented on #229
Fixed in #236

[2017-03-06 11:39] #229 closed, assigned to aanm

[2017-03-06 11:43] tgraf opened #297 "Allow setting log level per module (LeveledBackend)"
Use the LeveledBackend feature of go-logging to enable specifyingt he log level per module. This allows to enable debugging separately for policy enforcement, kv store operations, bpf program generation, ...

https://godoc.org/github.com/op/go-logging#LeveledBackend

[2017-03-06 17:46] aanm opened #300 "Cilium socket should have group set other than root"
We currently have cilium socket set with reading and executing permissions to group `root`. This group needs to be changed (ideally to `cilium`) so users can be added to that group and call cilium without belonging to group `root`.

from:
`srwxr-xr-x 1 root root 0 Mar  6 09:31 /var/run/cilium/cilium.sock`
to:
`srwxr-xr-x 1 root cilium 0 Mar  6 09:31 /var/run/cilium/cilium.sock`

Notes:
check if `a

[2017-03-07 16:00] aanm opened #304 "Unable to run lb with encapsulation mode"
For now cilium only supports to snoop (`--device`) and LB (`--lb`) on a single network device.
In the future we'll allow the following modes:
- [ ] LB only (--lb eth0)
- [ ] container networking only (--device eth0)
- [ ] LB + container networking on different interfaces (--lb eth0 --device eth1)
- [X] LB + container networking on same interface (--lb eth0 --device eth0)

[2017-03-07 16:01] aanm commented on #304
Duplicate of #282

[2017-03-07 16:01] #304 closed, assigned to nobody

[2017-03-07 16:02] aanm commented on #282
For now cilium only supports to snoop (`--device`) and LB (`--lb`) on a single network device.
In the future we'll allow the following modes:
- [ ] LB only (--lb eth0)
- [ ] container networking only (--device eth0)
- [ ] LB + container networking on different interfaces (--lb eth0 --device eth1)
- [X] LB + container networking on same interface (--lb eth0 --device eth0)

[2017-03-11 17:47] #140 closed, assigned to aanm

[2017-03-13 16:52] #286 closed, assigned to aanm

[2017-03-14 04:43] aanm opened #310 "Unable to run cilium with clang-4.0"
Steps to reproduce:
1) Download and install clang-4.0 for ubuntu 16.04 x86_64.
2) make
3) See errors:
[code]

[2017-03-14 15:07] aanm opened #311 "Lack of readability in `cilium endpoint config`"
The readability of `cilium endpoint config` is not the best right now:
`cilium endpoint config 33115`
`&{Immutable:map[] Mutable:map[Policy:Enabled AllowToWorld:Enabled Conntrack:Enabled ConntrackAccounting:Enabled Debug:Enabled DropNotification:Enabled NAT46:Enabled]}`

[2017-03-14 15:51] aanm opened #312 "cilium policy trace doesn't work with identity IDs"
Steps to reproduce:
[code]

[2017-03-14 19:32] aanm opened #313 "Add options to derive node address without specifying snooping device"
It's impossible to have multiple cilium instances across multiple nodes (a.k.a. K8s DaemonSets) with the same cilium configuration on all nodes.

We currently have the flag `-d`/`--snoop-device` to derive the IP addresses for the cilium interfaces but since we don't (yet) support snooping + VxLAN, this doesn't work if the user wants to derive the IP addresses for the cilium interface without snoop

[2017-03-14 23:54] tgraf commented on #313
I agree that we need to add a capability to derive this piece of configuration.

I think we want to provide multiple options here:
 - If possible, derive the node address from the Kubernetes context. Is this exposed somehow?
   - As a fallback I'm fine with what you propose although I would call the option `--derive-node-address`.
 - Since I ported configuration to cobra and viper, we can also eas

[2017-03-15 02:56] aanm commented on #313
Right now it's explained [here](https://github.com/cilium/cilium/blob/e51f94e3339a252f752a0940b5fba3bb5d46a750/contrib/packaging/k8s/daemon-set.yaml#L32), where should I also document this?

[2017-03-15 12:13] borkmann commented on #310
I'm currently running with llvm 5.0 (git checkout) and see the same thing. I checked the verifier and access to regs/stack is enforced to be aligned on kernel side. the only thing that may be unaligned if the architecture supports efficient unaligned access is the direct packet access and map value access (I think I just spotted a bug in the latter, though). So having llvm spill these warnings is

[2017-03-15 13:40] #312 closed, assigned to nobody

[2017-03-15 16:11] aanm commented on #310
@borkmann I'm going to reopen this since the issue still occurs because of `CLANG_OPTS` in `bpf/join_ep.sh`, can you take care of that as well?

[2017-03-15 16:43] borkmann commented on #310
Indeed, it looks like we have it in total also in 4 other locations (init.sh, join_ep.sh, run_probes.sh, 06-lb.sh). I'll send a follow-up.

[2017-03-15 18:07] aanm opened #316 "endpoint incorrectly shows status as `ready` when the endpoint bpf program failed to build"
I noticed the endpoint was not reachable nor the bpf program was successfully compiled, however the status for that endpoint was being wrongly marked as `ready`.
[code]

[2017-03-16 00:59] tgraf opened #319 "Initial Release"
Tracker issue for initial Cilium release

Target version: 0.8

TODO
 - [ ] Binary build process & distribution
 - [ ] Documentation
 - [ ] Resolve release blocker bugs

[2017-03-16 09:44] borkmann commented on #310
For the log, see latest comment on the PR after the `-Waddress-of-packed-member` was resolved: https://github.com/cilium/cilium/pull/318#issuecomment-287003700

[2017-03-16 10:41] borkmann commented on #310
4.9 -stable request for the kernel bits done here: http://patchwork.ozlabs.org/patch/683818/

[2017-03-17 01:40] tgraf commented on #313
That's fine, we'll add it to the documentation.

[2017-03-17 01:47] tgraf commented on #153
@scanf Would love to see your work submitted as PR.

[2017-03-17 02:50] tgraf opened #324 "Establish binary builds and distribution"
- [x] Build process
- [ ] Signing of binary
- [x] Release process

[2017-03-17 02:54] tgraf opened #325 "Library to load BPF programs"
Get rid of dependency to use iproute2 and tc to load BPF programs and leverage a native library instead.

[2017-03-17 02:56] tgraf opened #326 "Native Netlink interactions instead of iproute2 calls"
Replace iproute2 invocations to create interfaces and addresses in `join_ep.sh` and `init.sh` script with native Netlink interactions.

[2017-03-17 04:01] aanm commented on #310
TODO: Provide warning to user.

[2017-03-17 04:38] #156 closed, assigned to aanm

[2017-03-17 09:01] aalemayhu commented on #153
The commit is some months old so rebase and verify might take some minutes. Will send PR after first coffee.

Thanks.

[2017-03-17 11:13] borkmann opened #331 "Improve runtime tests & jenkins"
- [ ] Error out on all scripts
- [ ] Jenkins must fail on test failures

Maybe also better error messages and abort the tests once a failure was found. For example:
[code]

[2017-03-17 11:22] borkmann commented on #325
By native library you mean native in Go or can it be implemented in C (f.e. against elfutils library) and we add bindings? Or should this library even be linked against llvm library, so we potentially don't need to call out clang either?

[2017-03-17 13:34] borkmann opened #332 "01-ct: error from daemon: creating endpoint context deadline exceeded"
When installing natively, and having docker and cilium service running,  I get the following issue for 01-ct case:
[code]

The related `journalctl -u cilium.service` log outputs:
[code]

[2017-03-17 13:42] #311 closed, assigned to aanm

[2017-03-17 14:18] tgraf commented on #325
A C library + bindings will be great. Writing the bindings is trivial. Long term I would like to no longer depend on invoking llvm but short term that's perfectly acceptable.

[2017-03-17 14:24] tgraf commented on #332
@borkmann I'm not seeing this error when running off head 563b424cff14040206bac02aa3c2241e87e028e6. Is the failure consistent?

[2017-03-17 14:42] borkmann commented on #332
My HEAD is at 5017ec0c5846.

I'm using the packages from latest Fedora 25 installation:
[code]
[code]
systemd services:
[code]
And:
[code]
Happens every time so far:
[code]

[2017-03-17 19:51] borkmann opened #335 "Improvements for FAQ file"
Some additional bullet points for the FAQ to extend or improve upon that could be helpful:

- For manual installation, base install into `/usr/lib/golang/src/github.com/cilium/cilium/`
- What minimum version do I need that is expected to work (go, docker, llvm, k8s, etc)?
- Plugin cannot be found, what to do?
[code]
- Message explanation on `NewConsulClient > Waiting for consul client to be ready.

[2017-03-17 23:37] borkmann commented on #332
Compiled recent clang from git, issue was that clang compilation takes up to 10s for `bpf_lxc.c` which causes the timeout (`endpoint context deadline exceeded`) to appear. Downgrading to older clang (f.e. 3.9) seems to resolve the issue.

[2017-03-17 23:37] #332 closed, assigned to aanm

[2017-03-18 16:12] #245 closed, assigned to tgraf

[2017-03-18 20:12] #259 closed, assigned to tgraf

[2017-03-18 20:14] tgraf opened #347 "Documentation framework"

[2017-03-18 20:23] aalemayhu commented on #347
Maybe [Sphinx](http://www.sphinx-doc.org/en/stable/) could be used? Can we
rename `doc` to `Documentation`? It has the nice side effect of putting the
documentation directory at the top.

[2017-03-18 20:25] tgraf commented on #347
Yes! I've already started using sphinx, see ongoing branch:
https://github.com/cilium/cilium/tree/doc/doc

Very good point. I will do this.

[2017-03-19 01:38] tgraf opened #348 "Vagrantfile: Install from binary unless in dev mode"
Once we have a binary to install from, the default vagrant box should install from that instead of building to reduce the amount of memory required in the vagrant box.

[2017-03-19 03:34] tgraf opened #349 "Assign an identity to endpoints without labels"

[2017-03-19 03:45] #349 closed, assigned to aanm

[2017-03-20 00:13] #207 closed, assigned to aanm

[2017-03-20 00:13] #316 closed, assigned to aanm

[2017-03-20 00:48] tgraf opened #355 "Fix invalid interface lookup in deleteEndpoint"
On regular endpoint deletion, we attempt to lookup the interface which is already gone:
[code]

[2017-03-20 01:38] tgraf opened #357 "Micro: Convert pkg/maps/ctmap to use Map interface of pkg/bpf/"
Allows to get rid of cgo usage in pkg/maps/

[2017-03-20 09:08] aalemayhu commented on #357
Is this referring to some other branch? Not seeing see that path on master.

    $ ls pkg/maps/
    ls: cannot access 'pkg/maps/': No such file or directory

[2017-03-20 13:40] tgraf commented on #357
I noticed this will working on #354, the path will exist after that PR is merged.

[2017-03-20 15:05] aanm opened #362 "Unable to create docker image because of missing go-bindata"
[code]

[2017-03-20 15:09] mskarbek opened #363 "make build-rpm fails"
`make build-rpm` fails with:
[code]

It wouldn't hurt also to update Dockerfile to the newest Fedora image.

Is there anyone assigned to maintain rpm-based packages for cilium or this is provided as a best effort from the team working mainly on a different distributions?

[2017-03-20 15:21] tgraf commented on #362
Is this just issuing docker build . in root? Does it make sense to add this to the runtime tests?

[2017-03-20 15:22] tgraf commented on #363
We currently don't have a dedicated maintainer for this so this is mostly best effort. We are currently developing on Ubuntu. Feel free to take on this task if you are interested.

[2017-03-20 15:26] mskarbek commented on #363
Ok, so I'll try to provide support in that matter.

[2017-03-20 15:54] aanm commented on #363
@mskarbek Like @tgraf said, we are doing it as best effort, I start working on this in #364, if you can contribute with your feedback that would be awesome, can you take look if it's ok?

We might need some help with `debian` packages, any experience with that?

[2017-03-20 16:31] tgraf commented on #310
- [x] Run clang --version and enforce clang 3.8.x => add to issue with Question tag
- [x] Check if debug is enabled `llc --version` and warn because it takes way too long to compile
- [x] Change deb control file and rpm spec to require llvm 3.8.x
- [ ] Add section to installation docs in requirements
- [x] Verify if check for libc6-dev is needed => add to issue with Question tag
- [x] Compile a bu

[2017-03-20 16:41] tgraf opened #365 "bpf: Convert conntrack to single table"
TODO:
- [x] Resolve bug when talking to service which loadbalances to own container IP

[2017-03-20 19:53] mskarbek commented on #363
@aanm I can help with Red Hat based distributions and rpm-based packaging, unfortunately I have no experience with maintaining deb packages.
I'll take a look at `build-rpm` and spec file.

[2017-03-20 19:57] tgraf opened #367 "How do I install LLVM/clang?"
Option 1: Manual installation
1. Locate the LLVM release for your platform on the LLVM releases website http://releases.llvm.org/3.8.1/
2. Install:
[code]
3. Ensure `/usr/local/clang/bin` is added to your `PATH` environment variable

Option 2:
1. Run the script `contrib/scripts/install-llvm.sh` to install in `/usr/local/clang`
2. Ensure `/usr/local/clang/bin` is added to your `PATH` environment va

[2017-03-20 19:57] #367 closed, assigned to nobody

[2017-03-20 19:58] tgraf opened #368 "`fatal error: 'gnu/stubs-32.h' file not found` while building"
If you are seeing the following or a similar error while building Cilium
or while building programs for endpoints:
[code]
Then your system does not have the 32-bit versions of Glibc installed. Install
them via your distribution's package, e.g. for Fedora:
[code]

[2017-03-20 19:59] tgraf opened #369 "How do I use cilium monitor?"
The ``monitor`` is a powerful tool for debugging networking traffic
generated by cilium. Although the output might look complex at the first
sight, it will be easy to understand after reading this answer.

``cilium monitor`` can only be run with root privileges. It outputs all
traffic coming in and going out from endpoints, presenting an extensive
detail to help you out figure it out what's cilium

[2017-03-20 20:00] #369 closed, assigned to nobody

[2017-03-20 20:00] tgraf opened #370 "The output of ``cilium monitor`` is too verbose"
1) List your endpoints with ``cilium endpoint list``.

2) For all endpoints that you **don't** want to debug, disable the debug
   logging messages. For example, for endpoint 173:
   ``cilium endpoint config 173 Debug=false``

3) Make sure debug is enabled for the endpoints you want to debug. For
   example, for endpoint 29381:

[code]
4) Run ``cilium monitor``, it should be less verbose, containi

[2017-03-20 20:00] #370 closed, assigned to nobody

[2017-03-20 20:01] tgraf opened #371 "How can I debug my policy tree"
Simple run ``cilium policy allowed --source value --destination value``
where value can be a label or an label ID (**not endpoint ID**). If the
value is a label, you can specify multiple sources and/or multiple
destinations.

Cilium outputs the tracing and the verdict for the given values for the
policy tree on the given node. For example:
``cilium policy allowed -s 260 -d 261`` outputs the follow

[2017-03-20 20:01] #371 closed, assigned to nobody

[2017-03-20 20:02] tgraf opened #372 "Endpoints cant reach each other"
There are numerous reasons for that to happen we can give you a basic
walkthrough:

1) Is the destination machine reachable by the source machine? [Yes]

-  If no, check the network connection between the machines.

2) Is there a firewall between them or a rule blocking the particular
   traffic? [No]

-  If yes, add a rule to allow the particular traffic on the firewall.

3) If you are using cili

[2017-03-20 20:02] #372 closed, assigned to nobody

[2017-03-20 20:03] tgraf opened #373 "How can I see the data stored in the KV Store by cilium?"
In **etcdv3**:
[code]
or, with curl which is can be too verbose and the data is base64
encoded:

[code]
In **consul v0.6.4**:
[code]

[2017-03-20 20:03] #373 closed, assigned to nobody

[2017-03-20 21:23] tgraf opened #376 "Move BpfDir to /var/lib/cilium/bpf"

[2017-03-20 21:37] aalemayhu commented on #363
@aanm I created a [Request For Package](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=858303). That might attract other Debian contributors. My neighbour who is a Debian developer said

[2017-03-20 22:26] tgraf commented on #363
We are planning on shipping a first release next week.

[2017-03-21 00:52] aanm commented on #368
In ubuntu `apt-get install libc6-dev-i386`

[2017-03-21 03:49] tgraf opened #381 "Reject policy if label is added that is not covered by the valid label prefixes"
This prevents adding "dead" policy which never applies.

[2017-03-21 03:51] tgraf opened #382 "Automatically create parent policy nodes that don't exist"
When adding "root.foo.bar", automatically add "root" and "foo" nodes if they don't exist yet.

[2017-03-21 13:52] #300 closed, assigned to aanm

[2017-03-21 16:01] tgraf opened #384 "Move GetMaxLabelID() to outer loop"
Move `maxID, err := owner.GetMaxLabelID()` in `regenerateConsumable` to outer loop to avoid refetching for every consumable.

[2017-03-21 16:02] tgraf opened #385 "Graceful exit on startup on lack of privileges"
Check for privileges and error out instead of having first system operation requiring privs fail with an error message

[2017-03-21 16:03] tgraf opened #386 "Provide a function test case to check the endpoint status"

[2017-03-21 16:05] tgraf opened #387 "Single flag to configure kvstore"
Consolidate multiple flags into a single kvstore flag which allows configuring either etcd, consul, local, ...

Currently the kvstore configuration is done via a mixture of flags which have grown over time:
 -         flags.StringVar(&consulAddr, "consul", "", "Consul agent address [127.0.0.1:8500]")
 -         flags.StringSliceVar(&etcdAddr, "etcd", []string{}, "Etcd agent address [http://127.0.0

[2017-03-21 16:05] tgraf opened #388 "Move common kvstore code into interface"
Each kvstore backend implementation has some duplicated code which can be moved into a common interface.

[2017-03-21 16:06] tgraf opened #389 "Make container runtime integration generic"
Refactor "Docker" interaction into container runtime layer to support plugins so we can support rocket and other runtimes as well.

[2017-03-21 18:29] tgraf opened #391 "Reduce memory footprint of build"
The build currently requires between 3-4GB of memory which is completely insane.

[2017-03-21 22:08] tgraf opened #393 "cilium monitor crash"
[code]

[2017-03-21 22:08] tgraf opened #394 "vagrant: testsuite provisioner is run before agent is running"
To reproduce:
```RUN_TEST_SUITE=1 ./contrib/vagrant/start.sh```

[2017-03-21 22:42] tgraf opened #395 "Endpoint is reported in not-ready even though it is ready"
[code]

[2017-03-21 23:03] aanm commented on #395
What's the output of `cilium endpoint get 29381`?

[2017-03-21 23:06] tgraf commented on #395
[code]

[2017-03-21 23:08] #394 closed, assigned to aanm

[2017-03-22 00:49] #382 closed, assigned to aanm

[2017-03-22 01:13] tgraf opened #399 "Fix LB WRR code to work with kernel 4.8.x"
Given we can't depend on the 4.9 LTS yet, we really need to fix this so it runs on 4.8. I'm sure we can fix the pseudo c code to llvm produces the instructions in the right order. In particular as we are limiting the llvm release to 3.8.x

[2017-03-22 01:57] #393 closed, assigned to aanm

[2017-03-22 02:04] aanm commented on #391
What is the OS?
I'm able to build in our vagrant box with 2GB (1GB Free):

[code]

[2017-03-22 03:04] #355 closed, assigned to aanm

[2017-03-22 03:07] aanm commented on #310
There's one todo left:

- [ ] Add section to installation docs in requirements

@tgraf will you take care of that one?

[2017-03-22 03:08] tgraf commented on #391
I'm using go version go1.7.5 linux/amd64 on FC25. The build only quickly peaks at using > 2G mem when linking cilium-agent. Running `free -m` afterwards will not show the real footprint. I'm sometimes crossing 3G limit when building with the vulcand dependencies for the HTTP stuff.

[2017-03-22 03:09] tgraf commented on #310
@aanm Yes. I'll reassign this to me then.

[2017-03-22 05:50] aanm commented on #362
Docker hub builds are building now.

[2017-03-22 05:50] #362 closed, assigned to nobody

[2017-03-22 11:02] borkmann commented on #399
@mchalla You can test for `HAVE_MAP_VAL_ADJ` define.

[2017-03-22 12:07] mchalla commented on #399
Thanks. I already sent out a pull request.

[2017-03-22 12:07] mchalla commented on #399
https://github.com/cilium/cilium/pull/406

[2017-03-22 13:32] #395 closed, assigned to aanm

[2017-03-22 13:39] tgraf opened #407 "Exclude dummy headers from bindata.go"

[2017-03-22 13:42] #399 closed, assigned to mchalla

[2017-03-22 13:55] tgraf opened #409 "Crash in cilium monitor (ring buffer overflow?)"
Can usually be observed when running cilium monitor alongside a netperf benchmark

[code]

[2017-03-22 15:30] tgraf commented on #407
Fixes by #408

[2017-03-22 15:30] #407 closed, assigned to tgraf

[2017-03-22 15:37] tgraf opened #410 "cilium endpoint list takes too much time"

[2017-03-22 16:00] tgraf opened #411 "cilium policy delete root takes a long time"
The policy regeneration takes a long time which slows down all policy API interactions.

[2017-03-22 16:23] aanm commented on #410
How many endpoints? Is there a runtime test that I can run to replicate it?

[2017-03-22 16:53] tgraf commented on #410
1 or 2 is enough

[2017-03-22 16:53] tgraf opened #413 "Fix demo scripts"

[2017-03-22 18:07] #413 closed, assigned to nobody

[2017-03-22 23:48] tgraf opened #418 "Envoy proxy integration"
- [x] Add plugin to envoy to receive Cilium metadata from BPF maps
- [x] Potentially extend envoy API to be able to open up proxy ports on demand
- [x] Convert CiliumNetworkPolicy L7 rules to Envoy HTTP filters
- [x] Write guide on how to set it up

[2017-03-22 23:50] #376 closed, assigned to aanm

[2017-03-23 01:22] aanm commented on #411
When the root node gets deleted, all endpoints need to recalculate their policy (as expected), unfortunately this happens sequentially, any reason not to do it in parallel? I'm doing some tests to see out it goes.

[2017-03-23 01:29] tgraf commented on #411
I think it is the actual rebuilding of programs that is expensive. The policy calculation is probably quick but the rebuilding should be moved to go subroutines. We should probably have a go subroutine listening on a channel for build requests and then spawn n number of build workers.

I think we should limit it to one build per endpoint though and to n parallel builds in total.

A first good step

[2017-03-23 18:22] tgraf opened #429 "Make BPF asm output dependant on DEBUG option"
We currently invoke clang twice, once to generate ASM output, once for the actual bytecode. Limit ASM generation to debug mode to speed up build. See `bpf/join_ep.sh`.

[code]

Another option is to generate the ASM and bytecode at the same time if it doesn't result in longer build times.

[2017-03-23 19:53] danwent opened #433 "Build errors show up in vagrant start.sh output, even for successful run"
Not a big deal, but when starting the vagrant VM, several of the build steps output errors, which may be confusing to end users.  These mostly seem to be build-stage.   For example:

==> cilium-master: go-bindata -prefix ../ -ignore Makefile -ignore '.+\.o$' ../bpf/...
==> cilium-master: make[1]: go-bindata: Command not found
==> cilium-master: make[1]:
==> cilium-master: *** [bindata.go] Error 12

[2017-03-23 20:15] tgraf commented on #433
This was fixed in commit 8309376248579c732a2ac8fb8d9e3b3e308b66f7 which relieved the requirement to include go-bindata for the build.

Author: Thomas Graf <thomas@cilium.io>
Date:   Wed Mar 15 03:56:16 2017 +0100

    cilium: Check in bindata.go

    Relieves requirement of having go-bindata available at build time.
    Requires make bindata.go to be run whenever bpf/ changes.

    Signed-off-by:

[2017-03-23 20:15] #433 closed, assigned to nobody

[2017-03-24 00:49] tgraf opened #437 "Fix debug message which states policy denied if reply packet"
The debug console states policy denied for packets which are then evaulated as a reply packet and passed through. Improve the wording the avoid confusion.

[2017-03-24 01:00] tgraf opened #438 "Automatically allow communication to embedded docker DNS server"

[2017-03-24 03:30] #438 closed, assigned to nobody

[2017-03-24 09:57] borkmann opened #440 "Fix two issues found in test cases"
- [ ] in 06-lb test case the ping6 from host to container doesn't work while ping works.
- [ ] in 01-ct test when also adding a UDP_STREAM test, it fails to connect while TCP_STREAM works.

[2017-03-24 10:02] borkmann opened #441 "Feature: Add < and <= instructions to eBPF/kernel"
Performance optimization to reduce pressure on registers. Needs kernel change (interpreter, JITs, verifier, cBPF to eBPF migration) and LLVM change (remove restriction of code fitting into current pattern). Also add xadd support while at it for arm64 to complete the last piece of missing JIt insns.

[2017-03-24 20:44] danwent opened #446 "Cilium Tutorial - Base Container Image"
Our docs / tutorials / examples / demos use a mix of base container images, and a lot of them don't have most of the things we'd want in them to do basic connectivity testing and debugging.

I'd suggest we create a "demo" base which includes:
-  curl
-  ping
- arp
- netstate
- tcpdump
- host or other DNS lookup.
- tail / less (for looking at logs)

It would probably also be convenient to have a si

[2017-03-24 22:34] borkmann opened #447 "staleMapWalker should also remove obj local pinnings"
After running test cases, there's lots of stale tail call maps that are not taken into consideration for cleanup. We should also consider them to not waste memory (although these maps are small).
[code]
One possibility could be to make them as global pinning as well with ep ID appended that staleMapWalker matches on. Or let tc have a custom scheme in how to generate these dirs (f.e. similar to MOD

[2017-03-25 07:18] aanm opened #449 "Add `--version` flag to all binaries"
Ideally with:
- version
- git commit
- go version used to compile
- date?

[2017-03-25 11:57] aalemayhu commented on #449
If there was a tag, `git describe --tags` would work for $version+$git_commit. Maybe these values can be added at link time? Printing the date seems useful for users not using git, how about something like?

[code]

[2017-03-25 20:08] #310 closed, assigned to tgraf

[2017-03-25 20:31] #347 closed, assigned to tgraf

[2017-03-26 12:30] danwent opened #466 "vagrant script with k8s spews lots of gibberish to standard error"
I was running the vagrant start.sh script with kubernetes for the first time in this setup:

LB=1 IPV4=0 K8S=1 NWORKERS=1 ./contrib/vagrant/start.sh

After a fair amount of reasonable output that was green (standard out?) my terminal started scrolling really quickly as a bunch of red text (standard error?) was printed out.  It was difficult to understand what was happening, and the fact that text

[2017-03-26 16:35] #449 closed, assigned to nobody

[2017-03-26 16:49] tgraf opened #469 "tgraf/nettools fails with permission denied when running ping6"

[2017-03-26 17:25] tgraf commented on #469
Might be related to `net.ipv4.ping_group_range` setting

[2017-03-26 20:56] aanm commented on #469
This seems to work, no?
`docker run --cap-add NET_ADMIN -ti tgraf/nettools ping 8.8.8.8`

[2017-03-27 14:02] tgraf opened #472 "Feature: Add IPv6 support to redirect to proxy feature"

[2017-03-27 14:04] tgraf opened #473 "Feature: Add filtering to cilium monitor"
Add ability to filter events
 - [ ] endpoint id / names
 - [ ] L3/L4 flow
 - [ ] event type (only show drops)

[2017-03-27 18:12] tgraf opened #478 "Vagrant assumes that this means the command failed! /sbin/ifdown eth1 2> /dev/null"
If you are seeing the following error when running `contrib/vagrant/start.sh`:
[code]

**Cause:**
This is an known vagrant issue with the Ubuntu 16.10 image
https://github.com/mitchellh/vagrant/issues/6871

**Solution:**
Upgrade to >= vagrant 1.8.5

[2017-03-27 18:12] #478 closed, assigned to nobody

[2017-03-27 21:22] tgraf commented on #348
Will postpone this to later 0.8.x release as we are likely to fix several things as people try the vagrant box.

[2017-03-27 21:53] #363 closed, assigned to nobody

[2017-03-27 23:04] tgraf opened #485 "Add getting started guide to testsuite"
Let's not break the new getting started guide.
- [x] convert Documentation/gettingstarted.rst into test script
- [x] add to tests/

[2017-03-31 07:42] tgraf opened #494 "Feature: Add hybrid mode to run encap and native routing simultaneously"
The user currently has the choice to either run in encapsulation mode or perform native routing by passing packets to the Linux routing subsystem.

- [ ] Add a new hybrid mode which allows defining routing zones via policy or labels of endpoints which should be routed and perform encapsulation between endpoints which are not within the same routing zone
- [ ] Unit tests
- [ ] Testsuite
- [ ] Docum

[2017-03-31 07:44] tgraf opened #495 "Automatic policy for Kubernetes natives services such as kube-dns"
Add a `--kubernetes` flag which automatically takes care of allowing access to Kubernetes DNS, allows health checking to pods, ... without requiring the user to inject such policy manually.

[2017-03-31 07:46] tgraf commented on #319
Fixed by #488

[2017-03-31 07:46] #319 closed, assigned to nobody

[2017-03-31 12:36] tgraf commented on #469
Yes, this works. Will fix up the test scripts.

[2017-03-31 12:40] tgraf commented on #391
Based on some research, one of the main reasons is the linking to the kubernetes go-client which pulls in a huge dependency chain.

[2017-03-31 19:28] aanm commented on #469
The other options is that if you change the base image to ubuntu instead of fedora.
[code]
[code]

[2017-03-31 19:35] tgraf commented on #469
Is the difference that the ubuntu container image modifies `net.ipv4.ping_group_range` or what is the actual difference?

[2017-04-01 01:36] mskarbek commented on #469
Actual difference is in the way both pings are installed:
- in Ubuntu `postinst` script just runs `chmod u+s /bin/ping`
- in Fedora `setcap` is used with `cap_net_admin+ep,cap_net_raw+ep` which makes `execve()` to fail:
   `execve("/bin/ping", ["/bin/ping", "-h"], [/* 15 vars */]) = -1 EPERM (Operation not permitted)`

If we remove `cap_net_admin+ep` from `ping` then everything works:
[code]

[2017-04-01 02:27] mskarbek commented on #446
Something like that? ;)
https://gist.github.com/mskarbek/b31be1655e859cf81cec58869365058d

[2017-04-01 06:50] aanm commented on #446
I think we can mark this as solved since we already got this one https://github.com/cilium/demo-image

[2017-04-01 09:09] tgraf commented on #469
Thanks @mskarbek
Fixed in https://github.com/tgraf/nettools-docker/commit/862dc300dfdc20d35a380360337b3de19e726713

[2017-04-01 09:09] #469 closed, assigned to tgraf

[2017-04-01 19:48] tgraf opened #498 "Replace k8s client usage with native http client"
Should dramatically reduce binary size and build time.

[2017-04-02 10:51] aanm commented on #498
I check the whole code and we use plenty of features and structures the k8s client offers:
1) *k8s.io/client-go/1.5/pkg/apis/extensions/v1beta1.NetworkPolicy
2) k8s.io/client-go/1.5/pkg/kubelet/types.KubernetesContainerNameLabel
3) k8s.io/client-go/1.5/pkg/kubelet/types.GetPodNamespace
4) k8s.io/client-go/1.5/pkg/kubelet/types.GetPodName
5) *k8s.io/client-go/1.5/tools/cache.NewInformer
6) *k8s.io/

[2017-04-02 11:02] tgraf commented on #498
It may not be required to replace all uses of go-client packages but the current derived dependencies is not acceptable. What are your actual concerns in terms of bugs? The current binding to head of go-client is definitely not a long term solution.

[2017-04-02 11:15] aanm commented on #498
Which derived dependencies are you talking?

[2017-04-03 16:30] tgraf opened #502 "Authentication based network policy between endpoints"
Network policy is currently based on the identity carried in the network packet. This requires to either encrypt or trust the underlying network to provide the right identity. A host that has been compromised could present itself as an arbitrary identity.

This issue tracks the addition of:
 - [ ] Ability to specify a certificate or IPSec key in the policy which must be hold by the sender
 - [ ] E

[2017-04-04 12:34] tgraf opened #504 "Feature: Transparent end to end encryption and authentication"
- [x] Automatically encrypt all packets between cluster nodes
- [ ] Authenticate nodes prior to communication
- [x] Ability to specify keys
- [x] Integration with various secrets stores
- [ ] Possibility to specify ability to receive untrusted traffic in the policy
- [ ] Integration with service identity spec such as SPIFFE

[2017-04-04 16:54] danwent opened #506 "Vagrant Kubernetes Demo only works with IPV4 Disabled"
Currently running the kubernetes vagrant demo requires the IPV4=0 flag, otherwise cilium-agent hangs while waiting for etcd to start, as etcd is failing with the error message:

Apr 02 11:19:50 cilium-k8s-master etcd[4623]: listen tcp [fd00::b]:2380: bind: cannot assign requested address

The cilium-agent log has the following error:

 NewEtcdClient > Waiting for etcd client to be ready...

[2017-04-04 21:36] raghus-hub opened #511 "L7 HTTP policy does not work"
The commit for the issue "Rename L7 fields in L4 policy" changed the field "redirect" to "l7-parser", but in the change the "L7Parser" variable is not being set properly. The causes the L7 policy specified on the Getting Started Guide to not work properly. (On a separate note, Getting started guide needs to be updated to use the new fields as well).

[2017-04-05 13:49] #511 closed, assigned to raghus-hub

[2017-04-05 14:32] aalemayhu commented on #153
/dibs

[2017-04-05 22:58] aanm commented on #385
When does this happen? This was fixed in `cilium monitor`

[2017-04-05 23:12] aalemayhu commented on #285
The number of occurrences of `common.Swab` is:
[code]

[2017-04-06 01:43] tgraf commented on #385
[code]

We need the same fix for the cilium-agent. Ideally by checking the capabilities we need.

[2017-04-07 21:51] aalemayhu opened #522 "Documentation: remove unnecessary page 'Indices and tables'"
It's not really useful because there is already a TOC which has more info. Something like the below removes it.

[code]

[2017-04-07 21:54] aalemayhu commented on #522
Please note I am referring to the PDF, not sure if it is needed by the website. https://media.readthedocs.org/pdf/cilium/latest/cilium.pdf

[2017-04-09 12:41] aalemayhu opened #528 "Documentation: mention eBPF"
The current documentation presents BPF as a new thing without any mention of eBPF.
I don't hear people distinguishing much between classic BPF and eBPF, but IMO there is educational value for the documentation to at least mention eBPF.

[2017-04-10 07:53] tgraf commented on #522
Go ahead and remove it, this is coming from the template files that `sphinx-doc` generated automatically.

[2017-04-10 09:20] tgraf commented on #528
Agreed. We should have an extensive section about BPF and also explain difference and origin.

[2017-04-10 11:29] #522 closed, assigned to aalemayhu

[2017-04-10 14:47] borkmann commented on #528
Makes sense, I think it could be a chapter by itself discussing this (incl. tc and xdp hook).

[2017-04-11 15:55] aalemayhu opened #538 "Documentation: maybe mention dependencies for building or create new target `setup`?"
I tried building the docs but got the following error

[code]

This was easily fixed by `pip install sphinxcontrib-openapi`.

Others might be experiencing more errors. Users shouldn't need to build the
manuals themselves but contributors might need / want to and having a smooth
path to go from new setup to building the manual is worth it. Not sure if the
best place is listing the packages / module

[2017-04-11 17:51] tgraf commented on #538
The required modules are listed in the `requirements.txt` which readthedocs.io will respect. We can add a check to the Makefile and suggest to run `pip install` if `pip list` does not list the required packages.

[2017-04-11 21:27] #331 closed, assigned to aanm

[2017-04-12 10:05] aanm opened #541 "Have a sync.Mutex in the generic BPF map abstraction"
Add a `Mutex` to `type Map struct` int `pkg bpf` which is held for all map operations `Update`, `Dump`, `Lookup`, `Delete` to serialise access since the system call does not do this by itself.

[2017-04-12 23:34] tgraf opened #542 "Feature: Allow running with IPv6 disabled"
- [ ] Automatically disable IPv6 support if IPv6 is disabled in kernel
- [ ] Disable IPv6 if system has IPv6 disabled or if `--disable-ipv6` flag is specified

If the system has IPv6 disabled (`net.ipv6.conf.all.disable_ipv6 = 1`) cilium will currently fail because addition of IPv6 addresses will fail:

[code]

[2017-04-14 01:15] borkmann commented on #528
Here's the built version from the PR, see `BPF and XDP Guide` chapter for an initial start:

http://cilium.readthedocs.io/en/doc-bpf-wip/

[2017-04-14 07:06] aalemayhu commented on #528
Sweet, will print out and read soon. This issue can be closed when it's merged or you could also just add a `Fixes: #528` in the commit message that should close this when it hits master.

Thanks.

[2017-04-15 07:50] tgraf opened #552 "Respect isolation setting in Namespace spec"
If Kubernetes NetworkPolicy is loaded, only apply them if isolation is set to `DefaultDeny`

[code]

[2017-04-15 12:09] aalemayhu opened #556 "Feature: Dokku integration"
For those not familiar with Dokku according to their website Dokku is

and from their Github description

I use it because it provides a simple deployment option for web applications.
Shortly summarized you deal with Git and Docker no extra things unless you want.

I am using Dokku on 2nft.alemayhu.com and would like to use Cilium there. I also
have some other web apps where I would like to use Do

[2017-04-15 13:11] #528 closed, assigned to borkmann

[2017-04-15 13:56] tgraf commented on #556
Sounds great! Would love to see this.

[2017-04-15 14:46] aalemayhu commented on #556
Maybe this can somehow be tied into the [Policy Repository](http://cilium.readthedocs.io/en/latest/architecture/?highlight=policy%20repository#policy-repository), the git tree part seems relevant

[2017-04-15 15:15] #410 closed, assigned to aanm

[2017-04-15 15:19] aanm commented on #411
Fixed by #424

[2017-04-15 15:19] #411 closed, assigned to aanm

[2017-04-16 16:11] aalemayhu opened #561 "Provide alternative download URLs to releases"
The Github [releases page](https://github.com/cilium/cilium/releases) works fine if you want to download manually. Running curl on those files just returns HTML which has to be read to get the real download links. It would be convenient if only the files were returned to ease headless setup. Can the Cilium project host own downloads (`cilium.io/releases/`) ?

Thanks.

[2017-04-16 16:18] tgraf commented on #561
Do these URLs like this work for you?

`https://github.com/cilium/cilium/releases/download/v0.8.2/cilium-agent-x86_64`

[2017-04-16 16:38] aalemayhu commented on #561
No, but adding the redirect location option works. Did not know about it earlier.

[2017-04-17 04:23] tgraf commented on #561
Btw, curl works great:
[code]

[2017-04-17 06:11] aalemayhu commented on #561
Yes when you know to add `-L`. Found that out yesterday.

Thanks.

[2017-04-17 06:11] #561 closed, assigned to nobody

[2017-04-17 20:02] ianvernon commented on #385
I presume this means that the cilium-agent should always run with root privileges?
I went through the monitor code to see what was done and see this commit:
[code]

Partial contents of commit:
[code]

I will implement something similar for the cilium-agent.

[2017-04-17 20:07] danwent commented on #552
hehe, was just thinking I needed to send a note on this... great to see its already in plan.

[2017-04-17 20:19] danwent commented on #504
Is it intentional to call out just encryption here, as opposed to encryption, authentication, and integrity?   I'm assuming we'd use something like IPsec and/or SSL/TLS, which should be able to provide all three, and the main use case would seem to be protecting against an untrusted "physical" network, in which case, I assume you would want all three.

[2017-04-17 20:45] danwent commented on #202
can you clarify this item?

[2017-04-17 21:30] ianvernon commented on #385
With changes, both cilium-docker and cilium-agent plugins now exit if ran as non-root user:
[code]

[2017-04-17 21:58] ianvernon opened #566 "root user in Vagrant VM does not have go in its path"
From following [the instructions for running Cilium's tests locally](http://cilium.readthedocs.io/en/latest/contributing/#testsuite), when running ```sudo make runtime-tests``` in the Vagrant VM, the following error occurs, failing the test runs:
[code]

The Jenkins job is actually running the tests with:
```sudo -E PATH=${PATH} make runtime-tests```

Add go and any other related executables to PA

[2017-04-17 22:50] ianvernon commented on #566
Editing the profile for root user to include /usr/local/go/bin in the PATH environment variable did nothing here.

Turns out that when running 'sudo' the PATH variable gets overridden with the contents of 'secure_path' in the sudoers file, /etc/sudoers:
[code]

Value of path when running a script that outputs contents of PATH environment variable:
[code]

Source: https://unix.stackexchange.com/a/8

[2017-04-17 23:56] aanm opened #570 "Error: Cannot delete policy root: context deadline exceeded"
Some times policy operations result in a `context deadline exceeded`. Some of the `runtime-tests` are getting this but not always reproducible.

For now I'll add `journalctl -u cilium` to see what happen in cilium in case tests fail

[2017-04-18 11:49] #566 closed, assigned to ianvernon

[2017-04-18 22:29] ianvernon commented on #387
This one is fun. Providing a simple flag is easy enough. I'm thinking that keeping the other options around though at this time is good (e.g., consulAddr, etcAddr), as only primitive types / slices are supported as types for flags in the Cobra / pflag library. Is that sufficient? Then, based on the kvstore flag type passed in we can check for presence of other configuration values that are passed

[2017-04-18 22:50] ianvernon commented on #385
Closing this issue manually.

[2017-04-19 03:37] travissalascox commented on #388
@tgraf was looking at the kvstore and was wonder if this issue has already been completed?

saw this under the kvstore package in kvstore.go

[code]

was just wondering if there more you were wanting to do with this issue?

[2017-04-19 03:56] tgraf commented on #388
@travissalascox I think it's mostly complete. I noticed some code duplication while doing the local kvstore backend which ideally would be factored out into a common piece of code. Not supercritical though.

[2017-04-19 14:02] tgraf commented on #387
I think both is fine, either doing `--kvstore TYPE` with a generic `--kvstore-opts=SLICE` which parses a list of options or having specific options that we group in a kvstore section that cobra supports.

[2017-04-19 19:10] aanm opened #580 "Unable to start any container: "unknown error (status 415)""
This is a known bug due `go-swagger` library compiled with go1.8.x
More info: https://github.com/go-swagger/go-swagger/issues/893

Steps to replicate:
1. compile cilium with go1.8.x
2. create a docker network with the cilium driver:
`docker network create --ipv6 --subnet ::1/112 --ipam-driver cilium --driver cilium cilium`
3. run a container with the cilium network:
`docker run -dt --net=cilium --

[2017-04-19 19:19] aalemayhu opened #582 "Documentation: add glossary"
The documentation very well tries to simplify things, but  since there is a lot
of domain specific words to networking, Linux and BPF it would be useful to
have a glossary which could be linked to throughout the manual and could
refresh memory. I think this will help new people.

For some examples see

- [OpenGL ES Programming Guide](https://developer.apple.com/library/content/documentation/3DDraw

[2017-04-19 21:09] tgraf commented on #582
Do you want to start working on this @scanf and then others can join in and add stuff?

[2017-04-20 06:00] aalemayhu commented on #582
Yes, can add a new page with some of the words.

[2017-04-20 20:00] aalemayhu commented on #582
@tgraf This is how it looks like https://alemayhu.com/cilium/glossary.html
Not linking yet throughout the document, don't know how to link to specific sections in sphinx.
Let me know what to reword.

[2017-04-23 19:59] tgraf commented on #504
Absolutely, this includes auth and integrity as well. I've updated the section. It's still fairly high level until we work out individual details.

[2017-04-23 20:01] josephjacks commented on #418
+1 for Envoy! :)

[2017-04-23 20:04] tgraf commented on #202
The main objective is to allow mapping a port, e.g. a pod listening on 8080 is mapped to port 80 without requiring to change the pod spec.

[2017-04-25 01:06] ianvernon commented on #387
@tgraf: @aanm and I were discussing whether we should have default values or not for etcdAddr, EtcdConfigPath, consulAddr, etc. Currently the defaults are blank and we error out in other parts of the code if these values are not set as expected. Since we now have the kvstore flag, we can provide default values, since before the kvstore flag change, the only way of figuring out which key-value stor

[2017-04-25 01:11] aanm commented on #580
This was fixed in https://github.com/go-openapi/runtime/commit/0cb5480dd0e075d0530ff20681dcd77c249501fb

TODO
- [x] update Godeps to that version
- [x] remove workaround from makefile

[2017-04-25 08:47] tgraf commented on #387
👍 for default values as we no longer depend on the values to figure out if kvstore should be enabeld.

[2017-04-25 09:14] #387 closed, assigned to ianvernon

[2017-04-25 16:45] ianvernon opened #602 "daemon: add default values for key-value store configuration objects"
Currently we have empty values for the following configuration flags in the daemon:
[code]

[code]

[code]

Change the values to defaults that are acceptable for the case when a user uses --kvstore=<kvstore type> but does not provide necessary configuration for the given kvstore type (e.g., consul address, etc agent address, etc.).

[2017-04-25 17:10] tgraf opened #603 "Print kernel version found in log if version is insufficient"
[code]

[2017-04-25 17:41] danwent opened #604 "Add Cilium to the Kubernets documentation for Network Policy plugins"
Cilium should be listed here:  https://kubernetes.io/docs/tasks/configure-pod-container/declare-network-policy/

Likely our section should mimic other sections, giving a pointer to documentation for how to use Cilium with Kubernetes (e.g., our kubernetes getting started guide, as well as admin guide sections that cover kubernetes installation).

We should also highlight differences in what Cilium

[2017-04-25 19:04] #485 closed, assigned to ianvernon

[2017-04-25 19:05] ianvernon commented on #485
Merged by PR #589

[2017-04-25 19:05] ianvernon commented on #429
Merged by PR #599

[2017-04-25 19:05] #429 closed, assigned to ianvernon

[2017-04-25 19:08] tgraf commented on #602
Attempting to reach the default port of each kvstore flavour on the loopback should be the default value.

[2017-04-25 20:04] tgraf commented on #446
We have been using `cilium/demo-image` successfully, closing this.

[2017-04-25 20:04] #446 closed, assigned to tgraf

[2017-04-25 21:07] #538 closed, assigned to tgraf

[2017-04-26 05:10] aanm commented on #498
We can try this although it might need to change some of code as the client methods aren't the same.
Although we could do a wrapper so we can easily replace between clients. https://github.com/ericchiang/k8s

[2017-04-26 10:22] #437 closed, assigned to tgraf

[2017-04-27 08:57] aanm commented on #570
This might be caused by the `bpf/init.sh` script. For some unknown reason the scripts hangs in `tc filter replace dev ...`. @borkmann Is currently looking at the issue.

[2017-04-28 09:32] tgraf opened #615 "Print warning with instructions when BPF filesystem is not mounted"
When `cilium-agent` starts it tries to mount the BPF filesystem automatically. This can fail if cilium runs inside its own mount namespace.

- [ ] Try to detect if cilium is running in a mount namespace and the bpf filesystem is not mounted (`/bin/mount bpffs /sys/fs/bpf -t bpf`) and then print an error making it clear to the user that it needs to be mounted
- [ ] Print a link to the documentation

[2017-04-28 09:33] tgraf opened #616 "Turn verifier warnings into info messags"
If the kernel version is sufficient but not perfect in terms of capabilities we print several warnings:
[code]

Turn these info informational messages using `log.Info()` to avoid confusion that something unexpected is going on.

[2017-04-29 19:39] aanm commented on #570
The message: `Error: Could not reach service1-instance1/private on port 80` is also related with this issue, since the daemon hangs because of `tc filter replace dev ...`, the endpoint is never build, and the test fails.

We don't realized it because jenkins exits after the error but if we run the test inside a while loop:
`while true; do ./11-getting-started.sh ; done;` we hit the `context deadli

[2017-04-30 22:01] aanm commented on #472
What's missing?

[2017-05-01 09:17] tgraf commented on #348
Fixed via #549

[2017-05-01 09:17] #348 closed, assigned to nobody

[2017-05-01 09:18] #90 closed, assigned to nobody

[2017-05-01 13:24] #616 closed, assigned to nobody

[2017-05-01 14:53] tgraf commented on #472
The datapath is incomplete and does not support IPv6 redirection yet.

[2017-05-01 16:27] aanm opened #623 "cilium-agent connects to local storage with --consul flag provided"
If the cilium-agent is called with `--consul "127.0.0.1:8500"`, the agent connects to the local storage.

It would be helpful to provide a mechanism that allow us to use the `--consul` and `--etcd` flags without writing `--kvstore <kvstore>` otherwise the upgrade from `0.8.x` won't be smooth.

[2017-05-01 16:56] danwent opened #624 "Include Cilium in list of "Cluster Networking" options in Kubernetes docs"
https://kubernetes.io/docs/concepts/cluster-administration/networking/

[2017-05-01 17:37] #580 closed, assigned to aanm

[2017-05-01 18:00] tgraf commented on #623
I think we should error out if `--consul` is provided and `--kvstore` is not equal to  "consul".

[2017-05-01 18:11] ianvernon commented on #623
I agree with @tgraf.

[2017-05-01 18:14] aalemayhu commented on #473
@tgraf Have started looking at this, but some questions

- When you say `event type (only show drops)` you mean `.MessageTypeDrop`?
- Does this feature require changes in pkg/bpf/? Not sure yet if there is a need to expose
more things on the bpf / perf side.

Please elaborate on L3/L4 flow and endpoint names.

Thanks.

[2017-05-01 18:17] ianvernon commented on #623
On top of that, could we error out if a kvstore flag isn't provided? It would ensure that the user explicitly has to specify it.

[2017-05-01 19:06] tgraf commented on #473
Ability to say:
 - Show me all events which are triggered by packets coming from endpoint ID 110. Same for destination. Ability to filter on the network packet headers as provided in packet capture data.

If you run cilium monitor you see a lot of metadata that is being printed out. The idea is to be able to filter on that.

[2017-05-01 20:27] #603 closed, assigned to ianvernon

[2017-05-01 21:09] aanm opened #629 "Could not reach service1-instance1/private on port 80 or `docker run --rm` exits with error"
`docker run --rm -i --net cilium-net -l id.service2 cilium/demo-client curl -si http://service1-instance1/public`

A `docker run` command can be split in 3 separate events: `docker create`, `docker start` and `docker exec`.

For `docker create` it calls:
- docker cilium libnetwork plugin, which calls:
  - the cilium-agent via `PUT /endpoint/{id} request` which generates
    - (1) bpf program build

[2017-05-01 21:25] tgraf commented on #629
Excellent analysis. We need to have bpf program (1) respond to ARP requests. That should not be difficult.

[2017-05-01 23:00] aanm commented on #629
For future reference, we can read the labels when we receive `docker create` event, because the labels are sent along with the event since docker 1.10 (IIRC), but that doesn't help us because we also need the IP associated with the container so we can derive the endpoint ID and create an endpoint, and that is only present after we receive the `docker start` event.

[2017-05-02 09:21] borkmann opened #630 "More aggressive stale cilium_calls map gc"
After running a couple of 01-ct instances, we fill up fs with stale entries, for example:

[code]

cilium_calls map needs to be moved into globalns via `PIN_GLOBAL_NS`. For doing this, its name needs to be something like `cilium_calls_<ep-id>` and on EP destruction, we need to remove the map from the fs as well. After couple of 01-ct runs, doing `rm -rf /sys/fs/bpf/*` frees main memory from ~3.4GB

[2017-05-02 09:27] borkmann opened #631 "http accept error on unix domain socket: too many open files, retrying in 1s"
I ran into this a couple of times, and service restart really needs to kill the process from systemd side:

[code]

Still figuring out a way to reproduce, will post it here once I'm hitting this again. Seems likely that a socket is not being closed somewhere.

[2017-05-02 09:31] #630 closed, assigned to nobody

[2017-05-02 09:32] borkmann commented on #447
#630 (by accident opened a duplicate) has some more information as well.

[2017-05-02 10:40] aalemayhu commented on #447
Some number of entries before and after

[code]

[2017-05-02 12:19] borkmann opened #632 "open /proc/10782/fdinfo/1023: too many open files"
Running 11-getting-started in a loop for ~30min on my laptop:
[code]
Maybe also related to the error in #631.

[2017-05-02 12:23] borkmann opened #633 "Cannot find device "lxcbbbfc""
Also here seen while 11-getting-started running in a loop:
[code]

[2017-05-02 13:58] aanm commented on #633
It seems that the container was removed by the time the `Join EP id=28707_next ifname=lxcbbbfc` was called.

[2017-05-02 14:17] aanm commented on #506
@danwent I can't replicate this I ran:
[code]
and inside the VM I get:
[code]

[2017-05-02 17:37] ianvernon opened #636 "Gather more logs upon test failure for Jenkins builds"
Builds like [this](https://jenkins.cilium.io/job/cilium/job/cilium/job/PR-628/2/console) only output what the CLI shows to users when an error occurs in Cilium. As a result, there is not much to go off of to see why the job failed. For issues that might be extremely intermittent, it behooves us to get logs from the Jenkins jobs to get an RCA.

[2017-05-02 17:46] tgraf commented on #633
Is this a race in the build queue where it does not notice that the endpoint has been gone already?

[2017-05-02 18:17] aanm commented on #633
Not the build queue itself, the container can be removed while the program is being build in this line:
https://github.com/cilium/cilium/blob/master/pkg/endpoint/bpf.go#L228
After `clang` is done, the container and interface are gone, `tc` is called and doesn't find the interface throwing that error.

[2017-05-02 23:49] tgraf opened #640 "Implement depth based policy prioritization"

[2017-05-03 09:35] borkmann commented on #632
The ef6831a2b644e ("daemon, ct: fix fd leakage on lru") likely fixed the seen issue with regards to too many open fds. I haven't seen it since at least.

The Go panic ("invalid memory address or nil pointer dereference") should still be fixed in the code if possible from cilium side.

[2017-05-03 14:59] aanm commented on #632
What I find odd is the go panic takes place in a log message:
`log.Warningf("Unable to open CT map's fdinfo %s: %s\n", file, err)`
`file` is a string and `err` is not nil

[2017-05-03 15:01] tgraf commented on #632
I think it's a golang bug

[2017-05-03 18:09] tgraf opened #643 "Fix ingress proxy redirect"

[2017-05-03 18:11] tgraf opened #644 "Make bpf_netdev XDP aware"

[2017-05-04 23:41] borkmann opened #649 "http: panic serving due to broken pipe"
Hit twice so far during testing, unclear what could trigger it at this point:
[code]

[2017-05-05 18:24] tgraf opened #652 "Layer 7 policy annotations for k8s NetworkPolicy"
Initial design which could also be proposed as official NetworkPolicy extension:
[code]

[2017-05-05 18:27] tgraf opened #653 "Write guide how to do TLS/SSL aware Layer 7 policy enforcement"
Support enforcing Layer 7 policy with TLS based end to end encryption / auth is in place.

Depends on:
- #418

[2017-05-05 18:27] tgraf opened #654 "Write guide how to use kubeadm w/ Cilium"

[2017-05-05 18:29] tgraf opened #655 "Write LinuxKit/Moby YAML file + guide"

[2017-05-05 18:30] tgraf opened #656 "FluentD integration"

[2017-05-05 18:31] tgraf opened #657 "Getting Started Guide for Kubernetes"

[2017-05-05 18:49] aanm opened #658 "Create option that reports all details about cilium environment"
We should add an option that can help us to know the system, and options, the user is using when they are reporting a bug / issue. That option can have flags that would output more or less info, like cilium logs, the bpf programs.

[code]
This would create a file with the content with the output of various commands:
[code]

[2017-05-06 18:38] aalemayhu opened #660 "Documentation: missing links in BPF guide"
The `Talks & Publications` section is very empty in the [PDF](https://media.readthedocs.org/pdf/cilium/latest/cilium.pdf) rendering. Would be nice if the same links on web were also listed in PDF.

[2017-05-07 15:41] #660 closed, assigned to nobody

[2017-05-08 00:25] mevam opened #667 "* `path` for shell provisioner does not exist on the host system: G:/cilium/contrib/vagrant/cilium-master.sh"
{ cilium } master » ./contrib/vagrant/start.sh                     /cygdrive/g/Development/cilium
Bringing machine 'cilium-master' up with 'virtualbox' provider...
Bringing machine 'cilium-node-2' up with 'virtualbox' provider...
Bringing machine 'cilium-node-3' up with 'virtualbox' provider...
There are errors in the configuration of this machine. Please fix
the following errors and try again:

s

[2017-05-08 04:03] tgraf commented on #667
You seem to be passing a path into the `./contrib/vagrant/start.sh` script for some reason but it should still work.

You can also try the getting started vagrant box by doing:
[code]

That box is a lot simpler and uses a simple Vagrantfile

[2017-05-08 13:09] borkmann commented on #570
Seen `Could not reach service1-instance1/private on port 80` also without `context deadline exceeded`. Potentially related could be issue #633.

[2017-05-08 15:55] borkmann commented on #631
Not seeing anymore since ef6831a2b644 ("daemon, ct: fix fd leakage on lru").

[2017-05-08 15:55] #631 closed, assigned to nobody

[2017-05-08 15:57] borkmann commented on #632
Not seeing anymore since ef6831a ("daemon, ct: fix fd leakage on lru"), same as in #631.

[2017-05-08 15:57] #632 closed, assigned to nobody

[2017-05-08 17:23] jrfastab opened #668 "Cilium -- Getting Started on Ubuntu host"
While following the "Getting Started" (http://cilium.readthedocs.io/en/latest/gettingstarted/) guide on a standard Ubuntu 16.04 LTS release running 'vagrant up' resulted in the following error.

Digging through the debug logs showed two issues. First, the permissions on the docker-compose file were not correct. And second, there were numerous *.rb errors in the logs. To resolve this install 1.1.8

[2017-05-08 17:31] #668 closed, assigned to nobody

[2017-05-08 18:58] mellotron opened #669 "Kubernetes daemonset fails to deploy"
The daemonset here: https://github.com/cilium/cilium/blob/master/contrib/packaging/k8s/daemon-set.yaml

Fails to deploy with the following:

[code]

[2017-05-08 19:05] mellotron commented on #669
Removing the offending "--ipv4" from args returns the following:

[code]

[2017-05-08 19:54] tgraf commented on #669
I'm working on a new `DaemonSet` file here:
https://github.com/cilium/cilium/blob/k8s-doc/examples/minikube/cilium-ds.yaml

You basically just have to make two changes:
- Point to the k8s API server with `--k8s-api-serve`
- Point to either consul or etcd, e.g. `--etcd http://10.1.1.1:2379/`

[2017-05-09 08:09] aanm commented on #570
@borkmann It's actually this one https://github.com/cilium/cilium/issues/629

[2017-05-09 13:57] tgraf commented on #629
We could allocate an IP earlier if we wanted. It takes away the IP allocation feature via Docker though.

In either case, I think we agree that the first step is to enable ARP during the unknown-policy block phase.

[2017-05-09 16:27] tgraf opened #674 "Simplified policy model"
The existing policy model is complex. Simplify several aspects to get to an easier to understand policy model.

[2017-05-09 16:58] tgraf opened #675 "Support cilium endpoint get { pod-name | docker-container-name | ... }"
Simplify the process of identifying endpoints by supporting to specify
- pod name
- docker container name
- labels

[2017-05-09 19:57] tgraf opened #677 "ep.TriggerPolicyUpdates() should generate ep specific errors"
[code]
Change endpoint.TriggerPolicyUpdate() to generate endpoint specific errors so we can avoid taking a lock in the above code for the sole purpose of fetching the endpoint ID.

[2017-05-09 21:21] ianvernon opened #678 "utilize reflection in pkg/bpf/map.go implementations to reduce amount of code"

[2017-05-09 22:47] ianvernon commented on #357
I'm going to rename this ticket to only cover ctmap, and then have other tickets for each map type to make the changes more modular, as the changes were ctmap were fairly extensive.

[2017-05-09 22:48] ianvernon opened #680 "Convert pkg/maps/lxcmap to use Map interface of pkg/bpf/"

[2017-05-09 22:49] ianvernon opened #681 "Convert pkg/maps/policymap to use Map interface of pkg/bpf/"

[2017-05-09 23:10] ianvernon commented on #541
Closed by PR [628](https://github.com/cilium/cilium/pull/628)

[2017-05-09 23:10] #541 closed, assigned to ianvernon

[2017-05-11 08:05] aanm commented on #495
Do we need the flag? I thought it should be automatic once we are connected to a kube-apiserver

[2017-05-12 15:03] aanm commented on #385
Reopening it:
[code]
Let me just add if the returned error is no file exist to suggest the user to use the `ct list global` instead.

[2017-05-12 15:55] jrfastab opened #691 "cilium policy delete root, does not flush CT table"
With newer kernels, where bpf probes detects and uses LRU maps, deleting the policy does not flush the conntrack state allowing connections to remain even after policy has been removed.

Reproduction steps below.

PING f00d::c0a8:102:0:f236 (f00d::c0a8:102:0:f236): 56 data bytes
--- f00d::c0a8:102:0:f236 ping statistics ---
1 packets transmitted, 0 packets received, 100% packet loss

{
  "name": "

[2017-05-12 16:28] jrfastab opened #692 "Add option to apply config changes to existing endpoints after 'cilium config policy=enabled'"
Running 'cilium config policy=enabled' does not apply to existing endpoints. However, this is by design but did cause a bit of confusion on my side because I had a different expectation.

To allow changing the policy config after endpoints are created add a '--regenerate-endpoints' option to 'config policy' so that the policy is regenerated and applied to all endpoints.

Also adding a note in 'con

[2017-05-12 17:12] tgraf opened #693 "Add flag to cilium policy trace to enable TRACE_VERBOSE"

[2017-05-12 18:01] ianvernon commented on #385
All `cilium bpf` commands require root access. I spun up a container using cilium with the following endpoint information:
[code]

`cilium bpf policy list` reqs. root:
[code]

`cilium policy add` reqs. root:
[code]

and as mentioned above, `cilium bpf ct list` requires root.

[2017-05-12 20:52] #385 closed, assigned to ianvernon

[2017-05-12 21:34] tgraf opened #696 "Cleanup stale network interfaces"
For several reasons, stale interfaces can be left behind if endpoint generation fails unexpectedly:
[code]

[2017-05-12 22:08] jrfastab opened #698 "Write up 'cilium service' and load balancer documentation for developers"
Cilium Architecture document references pull request 109 as documentation for how Cilium implements a load balance service. However that pull request is no longer up to date. This issue is to create new documentation describing how 'cilium service' works for users that need or want to directly interact with low level cilium CLI.

For users integrated with a container platform, such as Kubernetes,

[2017-05-12 22:10] #357 closed, assigned to ianvernon

[2017-05-12 22:28] ianvernon commented on #506
Similar to @aanm , I get:
[code]

The logs do show the message @danwent saw, but then immediately after show that the client is ready:
[code]

No such string "cannot assign requested address" appears in the startup of the VM / in /var/log/syslog. Looks like this might no longer be an issue?

[2017-05-12 22:28] tgraf commented on #447
Running into this frequently now :-)

[2017-05-12 22:35] tgraf commented on #506
Let's close it for now. We can reopen when it reappears.

[2017-05-12 22:35] #506 closed, assigned to aanm

[2017-05-13 05:05] aalemayhu commented on #447
I was going to wrap this up but reassigned to @aanm. He seemed interested in getting it done faster.

[2017-05-13 11:28] #473 closed, assigned to aalemayhu

[2017-05-13 11:52] tgraf commented on #495
I was hoping that we could derive the API server address from an environment variable. It must be available somehow. If we don't have an opt-in flag, then at least we need an opt-out flag to disable this behaviour.

[2017-05-13 13:27] aalemayhu opened #701 "Is go1.6.2 supported (cannot find package "context")?"
While compiling Cilium on a old test box. I got the following compile errors:

[code]

Using the [upgrade instructions](https://github.com/golang/go/wiki/Ubuntu) from the Go wiki  I went from `go1.6.2` to `go1.8.1` and that resolved the issue.

[2017-05-13 13:28] #701 closed, assigned to nobody

[2017-05-13 16:05] aalemayhu commented on #285
@tgraf Not sure I understand the detection part, but is something like this(https://github.com/scanf/cilium/commit/1d547fc01eeeebc2f1c58c4b8c11cfd2fb384800) what you were thinking?

[2017-05-15 10:21] jenningsloy318 commented on #282
Hi If this feature is working ,I tried run cilium with lb, but got error.
 #cilium-agent --lb  ens33 --kvstore etcd --etcd http://localhost:2379
2017-05-15T18:17:53+08:00 INFO      _ _ _
2017-05-15T18:17:53+08:00 INFO  ___|_| |_|_ _ _____
2017-05-15T18:17:53+08:00 INFO |  _| | | | | |     |
2017-05-15T18:17:53+08:00 INFO |___|_|_|_|___|_|_|_|
2017-05-15T18:17:53+08:00 INFO Cilium 0.8.90 ce14613 Sa

[2017-05-15 10:34] tgraf commented on #282
This feature is currently not implemented yet which is why cilium will quit with the above error. We are planning to include this feature in the upcoming 0.9 release.

[2017-05-15 12:39] #674 closed, assigned to tgraf

[2017-05-15 15:16] tgraf opened #707 "Test flake: L7 policy not effective"
Occurred in #706
https://jenkins.cilium.io/job/cilium/job/cilium/job/PR-706/1/console

[code]

[2017-05-15 16:26] tgraf commented on #640
No longer needed

[2017-05-15 16:26] #640 closed, assigned to tgraf

[2017-05-15 16:27] tgraf commented on #633
Fixed by #695

[2017-05-15 16:27] #633 closed, assigned to aanm

[2017-05-15 16:30] tgraf commented on #324
Already in place.

[2017-05-15 16:30] #324 closed, assigned to tgraf

[2017-05-15 16:57] tgraf opened #709 "kernel: Add delete operation to LPM BPF map"
The LPM bpf map type is currently lacking a delete operation

Workaround:
- Delete and recreate LPM bpf map
- Reload same BPF program

[2017-05-15 17:00] tgraf opened #710 "Hello World example on how to extend Cilium BPF"

[2017-05-15 17:01] aanm opened #711 "Prerequisites link is broken"
In https://github.com/cilium/cilium#what-is-ebpf-and-xdp , the prerequisites link seems to be broken and I can't find it in our docs.

[2017-05-15 17:03] borkmann commented on #709
kernel/bpf/lpm_trie.c
[code]

[2017-05-15 17:06] borkmann opened #712 "kernel: fix complexity limit in verifier"
4.11+ bpf_lxc has ~70k insns that need to be processed, we need to make sure that loads fine.

[2017-05-15 17:10] borkmann opened #713 "docs: write tc & XDP sections of the reference guide"
Complete the cilium BPF ref guide with the missing sections.
- [x] llvm
- [x] bpftool
- [x] xdp matrix for cilium
- [x] tc matrix for cilium

[2017-05-15 18:15] aalemayhu commented on #711
@aanm http://cilium.readthedocs.io/en/latest/admin/#admin-kernel-version

[2017-05-15 18:19] aalemayhu commented on #711
The correct link is already in the README file, but the link syntax is wrong.
This should fix it
[code]

[2017-05-15 18:55] borkmann opened #714 "elf: dump dwarf debug output"
When kernel verifier complains, dump the kernel log and also output the dwarf info along with it, so we can correlate the code line that causes issues. Eases development.

[2017-05-15 19:00] borkmann opened #716 "bpf: speed up csum_diff() helper"
Kernel implementation has room for optimisation, we use this helper a lot.

[2017-05-15 19:03] borkmann opened #718 "elf: support loading map in map"
Dependency for #789

Currently, ELF loader cannot handle this when we want to make use of it.

[2017-05-15 19:12] borkmann opened #720 "bpf: CT timeout expires too quickly"
While debugging cilium, I noticed that we expire CT entries too early in cilium when using the hash table. The timeout update creates a loop condition such that we loop among entries in one go until they get evicted due to hitting expiration time.

[2017-05-15 20:06] jrajahalme commented on #707
Also on #699, which only changes docs (https://jenkins.cilium.io/job/cilium/job/cilium/job/PR-699/2/console)

[2017-05-15 21:49] jrajahalme commented on #707
Occurs in now on #715 too.

[2017-05-16 01:00] jrajahalme commented on #629
@tgraf Could you give be a simple policy file that allows all traffic, I'm not up too speed with the new policy model yet and getting started guide is not yet up-to-date?

[2017-05-16 01:04] jrajahalme commented on #629
Never mind, I used this:

[{
    "endpointSelector": ["id.service1"],
    "ingress": [{
        "fromEndpoints": [
            ["reserved:host"], ["id.service2"]
        ]
    }]
}]

[2017-05-16 01:14] jenningsloy318 commented on #282
@tgraf Got it Thanks.

But about the roadmap, when this featrue(0.9 release) can be rolled out ?

[2017-05-16 04:39] aalemayhu commented on #282
@jenningsloy318 the milestone page for 0.9 has a date https://github.com/cilium/cilium/milestone/2

[2017-05-16 06:40] aalemayhu commented on #677
Adding relevant line numbers for future reference https://github.com/cilium/cilium/blob/master/daemon/policy.go#L66-L98

[2017-05-16 08:08] #629 closed, assigned to jrajahalme

[2017-05-16 08:15] #582 closed, assigned to aalemayhu

[2017-05-16 10:21] jenningsloy318 commented on #282
Hope we can get it on May 19.

[2017-05-16 10:53] #711 closed, assigned to nobody

[2017-05-16 10:56] hustcat opened #729 "Build failed: could not determine kind of name for C.__NR_bpf"
[code]

[2017-05-16 11:03] tgraf commented on #729
What go version are you using? Are you using latest git `master`?

[2017-05-16 11:53] borkmann commented on #570
Fixed with #685 and #629.

[2017-05-16 11:53] #570 closed, assigned to borkmann, aanm

[2017-05-16 12:29] borkmann commented on #712
Preview: http://borkmann.ch/dump/0001-bpf-adjust-verifier-heuristics.patch

[2017-05-16 12:51] hustcat commented on #729
[code]

build from `master` branch.

[2017-05-16 14:14] tgraf commented on #729
OK. Are building on a system with very old kernel headers installed then? It seems like the definition of `__NR_bpf` is either different or does not exist at all. Are you planning to run Cilium on that system? We currently require a >= 4.8.0 kernel to run.

[2017-05-16 15:16] tgraf opened #731 "ERROR: logging before flag.Parse: W0516 15:15:21.277210"
[code]

[2017-05-16 17:10] ianvernon commented on #720
This might be due to my changes in #357 ?

[2017-05-16 17:13] borkmann commented on #447
#732

[2017-05-16 17:13] #447 closed, assigned to borkmann

[2017-05-16 17:14] borkmann opened #733 "cilium_policy map does not purge entries on EP removal"
Which causes memory increase since progs are not released.

[2017-05-16 23:21] tgraf opened #737 "protocol name case mismatch between k8s and cilium"
k8s enforces upper case "TCP" | "UDP"
[code]

Cilium currently enforces lower case "tcp" | "udp"
[code]

[2017-05-17 00:00] borkmann commented on #733
#736

[2017-05-17 00:00] #733 closed, assigned to borkmann

[2017-05-17 00:02] borkmann opened #738 "tests: Add test case for cilium_policy id removal"
Add test case for #736.

[2017-05-17 00:06] tgraf opened #739 "ICMP does not work for k8s service"
When installing a simple service like this:
[code]

This will result in a L4 loadbalancer to be installed which will only match packets on port 80. Any ICMP packets will not match the installed loadbalancer and are thus dropped. This is expected behaviour.

[2017-05-17 00:29] jrajahalme commented on #164
Created a new branch (164-allow-IP-based-policy-enforcement), currently has code for bpf probe for the LPM trie map type.

[2017-05-17 06:48] hustcat commented on #729
Yeah, Thanks. It seems kernel headers is too old, I build successful.

[2017-05-17 06:48] #729 closed, assigned to nobody

[2017-05-17 07:39] hustcat opened #742 "Start cilium-agent failed"
[code]

kernel version:

[code]

[2017-05-17 08:04] hustcat commented on #742
put cilium to $PATH dir

[2017-05-17 08:04] #742 closed, assigned to nobody

[2017-05-17 08:49] tgraf commented on #742
We should check for the existence of cilium binary in the PATH and error out properly.

[2017-05-17 08:52] aalemayhu opened #743 "daemon: check for the existence of cilium binary in the PATH"
See https://github.com/cilium/cilium/issues/742

[2017-05-17 08:59] tgraf opened #744 "Print service ID in cilium service list"
[code]

- [ ] print proper header to explain flag, ID, backend IPs
- [ ] use `text/tabwriter`
- [ ] consider a more compact format to print backend IPs

[2017-05-17 09:52] tgraf opened #746 "container id in BPF debug message is wrong"
[code]

The `container id 56326` is wrong. Should be `33115` in this case. Possibly in wrong byte order.

[2017-05-17 10:12] #739 closed, assigned to tgraf

[2017-05-17 10:15] tgraf commented on #615
Mounting of the BPF filesystem is now optional and being documented as such.

[2017-05-17 10:15] #615 closed, assigned to tgraf

[2017-05-17 15:23] tgraf opened #748 "Add default policy to allow reserved:host when running as k8s DS"
k8s requires default policy to allow communication from local stack

[2017-05-17 17:06] borkmann opened #749 "Let cilium service list dump stats on LB decision"
Would be useful to have an option to compile in stats for service selection on LB side, e.g. to compare distribution of load for a given workload. Would be great if `service list dump` can dump that along with the backends.

[2017-05-18 01:07] borkmann commented on #712
https://patchwork.ozlabs.org/patch/763822/

[2017-05-18 08:39] bretagne-peiqi opened #751 "running cilium agent on ubuntu system; require glibc-devel.i686 lib..."
system:
root@dh-OptiPlex-7010:/home/dh# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04 LTS
Release:	16.04
Codename:	xenial
root@dh-OptiPlex-7010:/home/dh# uname -r
4.10.1-041001-generic
root@dh-OptiPlex-7010:/home/dh#

problem:
root@dh-OptiPlex-7010:/home/dh# ./cilium-agent-x86_64 --debug
2017-05-18T16:36:39+08:00 INFO      _ _ _
2017-05-18T16:36:39+0

[2017-05-18 08:54] borkmann commented on #712
In -net tree.

[2017-05-18 08:54] #712 closed, assigned to borkmann

[2017-05-18 08:54] aalemayhu commented on #751
@peiqi-caicloud can you try installing the `build-essential` package and retry?

    sudo apt-get install build-essential

Edit:
@aanm on Slack mentioned installing glibc-devel.i686 is sufficient

    sudo apt-get install glibc-devel.i686

[2017-05-18 10:13] tgraf commented on #751
You can also run the container image `cilium/cilium:0.8.2` instead which comes with all dependencies packaged.

[2017-05-18 12:24] #737 closed, assigned to aanm

[2017-05-18 13:59] #748 closed, assigned to tgraf

[2017-05-18 16:35] borkmann opened #757 "cilium monitor: don't throw panic when it cannot find monitor"
Bail out with just a normal error msg instead of panic + trace:
[code]

[2017-05-18 18:54] ianvernon commented on #707
Output from monitor after test failure:
[code]

[2017-05-18 20:18] ianvernon opened #760 "Move common/config.go into new pkg (pkg/option, separate pkg)"
In PR #758, common/config.go was added. Refactor this file and move it to a separate pkg for better organization.

[2017-05-18 20:23] ianvernon commented on #707
I edited the test 10-proxy.sh to not teardown the setup containers / delete policies if this issue is hit on my local setup. I am able to successfully run the command immediately after test failure. This looks like it could be an issue where the policy isn't plumbed / configured yet when the GET on /private is ran.

[2017-05-18 20:28] ianvernon commented on #707
The policy eventually gets taken into effect. I made the following change to the test to try to do the GET until it returns a 403:
[code]

Output from running locally:
[code]

[2017-05-18 20:34] ianvernon commented on #707
Changing the sleep time to 5 (from 2) after policy addition results in the test being much more stable, but still failing about every 1/15 times (as opposed to approximately half the time before). However, this just masks the issue, but further confirms that there is some sort of race occurring :)

[2017-05-18 20:57] #656 closed, assigned to ianvernon

[2017-05-18 21:01] tgraf commented on #707
Based on the log:
[code]

The redirect is inserted before the `docker exec` is executed

[2017-05-18 22:11] ianvernon commented on #707
More details from running the tests and adding logs.
Endpoint list output
[code]

I added logs in pkg/endpoint/bpf/runInit before / after join_ep.sh, the script which compiles and inserts the BPF code, finishes executing.

I noticed that the function returns for the server's endpoint ID *after* the curl commands for /private are ran, showing that the corresponding BPF for the policy is indeed not

[2017-05-18 22:15] tgraf commented on #707
Thanks for debugging @ianvernon

We have been ignoring that the tests are using `docker exec` so there is no `DROP_ALL` phase until policy is resolved. The policy import returns and then it takes some time for the endpoints to be regenerated and the policy to be implemented. This is a side effect of the async parallel build infrastructure which is why we have not seen it before.

[2017-05-18 23:03] #707 closed, assigned to tgraf, ianvernon

[2017-05-18 23:29] tgraf commented on #552
The namespace annotation was dropped for k8s 1.7 GA. Deferring to 0.10 until situation is clear.

[2017-05-18 23:30] tgraf commented on #649
We never saw this again, closing for now.

[2017-05-18 23:30] #649 closed, assigned to nobody

[2017-05-18 23:31] tgraf commented on #495
Given that namespace isolation is not coming, we should probably have a default policy which allows communication within and into "kube-system" namespace.

[2017-05-19 01:35] #751 closed, assigned to nobody

[2017-05-19 01:45] borkmann commented on #365
#764

[2017-05-19 01:45] #365 closed, assigned to borkmann

[2017-05-19 11:40] borkmann commented on #720
No, this was already before that. A GC/kernel issue rather.

[2017-05-19 12:26] tgraf commented on #720
@borkmann Is it possible that the traversal hits the same entry multiple times?

[2017-05-19 17:29] borkmann commented on #720
@tgraf I've seen that the traversal and timeout update creates a loop among couple of entries until all of them get evicted due to hitting deletion for expiry case.

[2017-05-19 20:01] ianvernon opened #768 "add Kubernetes tests to CI pipeline"
convert http://cilium.readthedocs.io/en/minikube/gettingstarted/ into a test to be ran in the Vagrant environment.

[2017-05-19 21:38] #623 closed, assigned to ianvernon

[2017-05-19 22:50] tgraf opened #770 "Continue logging to stderr/stdout after setting up logging"

[2017-05-19 23:53] ianvernon commented on #770
Does this mean you want to log to both stdout and stderr by default?

[2017-05-20 01:05] jrajahalme opened #775 "Getting started guide "vagrant up" not working."
On OS X I get this on master when doing:

$ vagrant destroy
...
$ vagrant up
Bringing machine 'cilium-1' up with 'virtualbox' provider...
...
==> cilium-1: Checking for guest additions in VM...
    cilium-1: No guest additions were detected on the base box for this VM! Guest
    cilium-1: additions are required for forwarded ports, shared folders, host only
    cilium-1: networking, and more. If S

[2017-05-20 01:30] aanm commented on #775
Possible caused by: https://github.com/cilium/cilium/pull/687

[2017-05-20 06:28] #770 closed, assigned to ianvernon

[2017-05-21 03:39] jrfastab opened #779 "cilium_{host|net} veth pair not be removed when cilium-agent stopped"
In some cases cilium-agent is not removing the cilium_{host|net} veth pair when it exits.

[2017-05-21 05:36] tgraf commented on #779
This is done on purpose because we want packets to continue flowing while we upgrade the agent. We could think about using a special signal to keep everything running instead though.

[2017-05-22 01:14] bobrik opened #780 "Document what's possible with a compromised node"
Relevant documentation section:

* http://docs.cilium.io/en/latest/architecture/#arch-id-security

Cilium doesn't rely on centralized view of what is scheduled where to enforce policies, instead it uses container identities derived from labels. If I manage to compromise a single node, I can run anything I want and assign any labels I want. This in turn means, that I can access any container with m

[2017-05-22 03:01] bretagne-peiqi opened #781 "daemonset failed: no such file /home/with-cni.sh"
I deployed the ds file in the guide:  http://docs.cilium.io/en/latest/admin/#installing-cilium

apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: cilium-net-controller
spec:
  template:
    metadata:
      labels:
        name: cilium-net-controller
        io.cilium.admin.daemon-set: "cilium"
    spec:
      nodeSelector:
        with-network-plugin: cilium
      containers:

[2017-05-22 07:19] danwent commented on #775
@aanm  I can confirm that when I switch the Vagrant file back to bento (i.e., revert #687) the VM boots again.

[2017-05-22 08:15] #781 closed, assigned to nobody

[2017-05-22 08:48] tgraf commented on #731
Harmless

[2017-05-22 08:48] #731 closed, assigned to nobody

[2017-05-22 08:52] #657 closed, assigned to tgraf

[2017-05-22 08:52] #775 closed, assigned to tgraf, aanm

[2017-05-22 12:26] aanm commented on #781
@peiqi-caicloud I see that you close this issue, is this still an issue or you were able to solve it?

[2017-05-22 14:38] bretagne-peiqi commented on #781
Hello, thank you for your response.
I saw @tgraf committed the patch https://github.com/cilium/cilium/commit/7ebeeb9c430a2d2137c54fd87e2bb1f75d576f0f

So I think this ds is out of date: command: [ "/home/with-cni.sh", "--debug", "daemon", "run" ].

[2017-05-22 15:19] aanm commented on #744
Can you clarify this a bit?

[2017-05-22 16:16] tgraf commented on #643
Fixed #773

[2017-05-22 16:16] #643 closed, assigned to jrfastab

[2017-05-22 16:21] tgraf opened #788 "Support enabling policy when a NetworkPolicy selects a pod"
- Extend policy flag to daemon to have three modes
  - default (non k8s: enabled if at least one policy exists, k8s: enabled on pod which are selected)
  - enabled (always on)
  - disabled (always off)
- Add field to `endpoint list` to indicate whether policy is enabled

[2017-05-22 16:33] tgraf opened #789 "Support L3 dependent L4 policy"
- [x] Extend BPF with the ability
  - Option 1: map in map lookup
  - Option 2: embed a fixed array in L3 policy map
  - Option 3: tail call to source specific section (memory hungry)
- [x] Represent this in the policy model

[2017-05-22 18:13] ianvernon commented on #788
Desired output to `endpoint list`
[code]

[2017-05-22 22:15] rlguarino opened #791 "Cilium minikube guide uses the pre-kvstore option to setup consul."
You get the error and the DaemonSet fails to run:

[code]

[2017-05-23 02:35] bretagne-peiqi opened #793 "Do we have a config guide about overlay/direct networking for multi-host"
I setup a multi host environs for k8s cluster, the devices host_vxlan host_net, host_cilium are setup by default.  I found connection between containers in different node not work, neither between container and host.

[2017-05-23 06:00] bretagne-peiqi opened #798 "seems cilium daemon cann't connect to etcd client"
I configure cilium as follows:
ExecStart=/usr/bin/daemon --kvstore etcd --kvstore-opt etcd.address=http://10.35.48.183:2379 --ipv4-range="10.183.0.1/16"

then:

the service is blocked at "Waiting for etcd client to be ready..."
● cilium.service - cilium
   Loaded: loaded (/lib/systemd/system/cilium.service; disabled; vendor preset: enabled)
   Active: active (running) since Mon 2017-05-22 04:45:17

[2017-05-23 06:28] tgraf commented on #791
@rlguarino I just merged a fix for the DaemonSet yaml in the guide but I see you are also fixing up the Documentation so I did not close this issue yet.

[2017-05-23 06:33] #791 closed, assigned to nobody

[2017-05-23 06:40] bretagne-peiqi commented on #793
do we have an overlay network topology for multi host ? @tgraf  @aanm

[2017-05-23 07:57] knightXun commented on #798
I met this error too.

[2017-05-23 09:54] aalemayhu commented on #746
The line printing this is from [debug.go](https://github.com/cilium/cilium/blob/ce146133d540241e2bd70d5cd8ef2080fdd534cf/pkg/bpfdebug/debug.go#L169)
[code]
I don't get why not all of the printing lines in `Dump(...)` are not using `.Swab*`.

How did you notice this was wrong? I was considering writing a test to verify before fixing.

[2017-05-23 15:21] tgraf commented on #652
Implemented via ThirdPartyResoure for now #795

[2017-05-23 15:21] #652 closed, assigned to aanm

[2017-05-23 16:23] tgraf commented on #798
I just tried in minikube and it worked fine.  Does it eventually error out? (connection timed out?)

[2017-05-23 16:24] tgraf commented on #793
@peiqi-caicloud Yes, running with `-t vxlan` will enable overlay mode using VXLAN. Cilium will use the first public IPv4 address it finds as the VXLAN VTEP.

[2017-05-23 16:28] tgraf commented on #780
Yes, that is right. We rely on someone ensuring the integrity of the node itself. Going forward, we will add support for signing of the hash to ensure that the identity has not be tempered with. Avoiding that a compromised node performs identity theft will be a next step and I don't have specific ideas yet. We could potentially work together with Docker swarm and use their cluster protection. I ha

[2017-05-23 16:36] ianvernon commented on #798
It looks like you are using the 0.8.2 release of Cilium:
```May 22 04:45:17 cilium-2 daemon[4072]: 2017-05-22T04:45:17-07:00 INFO Cilium 0.8.2 4ff751a Thu, 13 Apr 2017 05:52:06 +0200 go version go1.7.5 linux/amd64```

But with the configuration options used in the 0.8.9 version (i.e., master) of Cilium for key-value store.

[2017-05-23 18:10] bobrik commented on #780
I think it's achievable with a scalability compromise. Instead of checking just for identity, cilium could also check whether this identity is allowed to be in the node range where it's coming from. It's similar to IP address filtering described in the docs and has similar drawbacks, but has slightly better scalability if you have multiple services with the same identity per host, because you chec

[2017-05-23 22:39] jrfastab opened #801 "add cilium style bpf to BPF kernel selftests"
Add some additional bpf code to kernel BPF self-tests to ensure our use cases are covered in kernel regression tests.

[2017-05-23 22:59] ianvernon commented on #788
I did the following to test whether the enabling / disabling code works within the build VM (not K8's enabled, but to test the behavior for policies that are added by K8's):
[code]

@tgraf @aanm can you please confirm that this is the correct behavior we should see in the CLI?

[2017-05-24 01:30] bretagne-peiqi commented on #798
@ianvernon yes, I used 0.8.2 release at first, then I build the master and replace daemon and cilium binaries. with new kvstore-opts..., but it seems has no change.

[2017-05-24 01:40] bretagne-peiqi commented on #798
@tgraf, It simply blocked and has now error messages.  I tested with bad config, e.x. --kvstore-opt EAADR=http://10.35.48.183:2379, then it failed to start and print error message.

 It receives no reponse from concurrency.NewSession. I am not sure the problem is from cilium, config or etcd version.  I build the master with go 1.7.4

	log.Info("Waiting for etcd client to be ready...")
	**s, err :=

[2017-05-24 02:46] #798 closed, assigned to nobody

[2017-05-24 06:06] bretagne-peiqi commented on #793
Hello, I have several questions:
1. in my vxlan_cilium device, there is no ip, is it normal ？ from the dump, the packets arrive at vxlan_cilium, but it does not do encapsulation, I am thinking it dropped the packet?  Am i missed some configuration for that? I read some code like bpf_overlay.c but I have not found related code.  @aanm @tgraf   any advice is welcome

2 what is gre0 and gretap device

[2017-05-24 06:37] tgraf commented on #798
Given that you closed this issue, did you find the root of the issue, is it a Cilium issue?

[2017-05-24 07:02] tgraf commented on #793
This is correct. Cilium uses the VXLAN device in metadata mode which means it can send and receive on multiple addresses. The packets you see on `vxlan_cilium` are not yet encapsulated or already decapsulated. You can see the encapsulated packets on the underlying ethernet device, e.g. `eth0` or `enp0s3`.

These are not created by Cilium.

[2017-05-24 07:48] bretagne-peiqi commented on #798
@tgraf thanks.
I rebuild the master and it works but I don't know why...  I dont think it related to Cilium code, because depends the strace, it was blocked by etcdv3 Client.

[2017-05-24 08:13] bretagne-peiqi commented on #793
@tgraf  hello, what mechanism do we use to populate the VTEP entries as control plane ?  does it rely on the etcd server ?  In my case, I found cilium_vxlan device can't find the destination node and encapsulate with my gateway address...

[2017-05-24 08:15] tgraf commented on #793
The Cilium addressing model allows to derive the node address from each container address. This is also used to derive the VTEP address which means you do not need to run a control plane protocol to distribute these addresses. All you need to have are routes to make the node addresses routeable.

[2017-05-24 16:09] aanm commented on #788
that looks great.

I'm not sure about the `false`/`true` in `POLICY`. Maybe change it to something else like `isolated`/`open`?

[2017-05-24 16:12] tgraf commented on #788
My vote is on `enabled` / `disabled`

[2017-05-24 16:22] aanm commented on #788
Couldn't this be confuse if we actually have the endpoint's `Policy` configuration showing `enabled` and then with the `cilium endpoint list` we would show disabled? It's not the policy per se that is enabled or disabled, it's the policy enforcement. Perhaps we could change the column name to `ENFORCED` or something like it?

[2017-05-24 16:24] tgraf commented on #788
Or `POLICY` with `Yes/No`? Another option is to list the number of rules which match an endpoint.

[2017-05-24 17:46] ianvernon commented on #788
When would this be the case?

[2017-05-24 19:33] aanm commented on #788
With 0 policies loaded, at least for k8s endpoints, `cilium endpoint config <ID>` will print `Policy Enabled` but it would show `False` in `cilium endpoint list`

[2017-05-24 21:09] tgraf commented on #495
It looks like Kubernetes upstream is going with the #788  approach which will make this unnecessary.

[2017-05-24 22:19] tgraf opened #816 "Add TPR creation resources to ClusterRole for RBAC"
Reported by @goloxina on Slack

[2017-05-25 00:07] stongo opened #817 "grpc/http2 load balancing"
Really interested in Cilium as an ingress controller and load balancer. does it proxy grpc and http/2?

[2017-05-25 05:23] tgraf opened #819 "Support IPv6 prefix already configured on node"
Adjust `bpf/init.sh` to support running `cilium-agent -n PREFIX` where PREFIX is a /96 with the matching /64 already configured on the system.

Reported by Jon D on Slack

[2017-05-25 11:53] aalemayhu opened #820 "Broken demos"
Running most of the demos gives the following error

[code]

Would be nice if the demos are updated together with the policy rework.

[2017-05-25 14:00] borkmann commented on #720
Update + traversal example in C how we should handle it instead (otherwise we are subject to loop since updated element is always added to head, and when we reuse it as a key, then we walk over already visited keys later on):
[code]

[2017-05-25 14:36] borkmann commented on #720
Another issue is also that the global CT4/6 map must be protected by a global mutex in Go, EP lock is insufficient for this, otherwise we also wrongly decrease timeouts.

[2017-05-25 18:52] ianvernon commented on #788
I went ahead and created a script:
[code]

The following runs of the script were with K8s *not* enabled.

Ex1 : `enable-policy true`
[code]

Ex2: `enable-policy false`
[code]

Ex3: `enable-policy default`
[code]

[2017-05-25 18:54] ianvernon commented on #788
It seems like this will also require a change to `cilium config`, as it has the following output:
[code]

We can change this with `cilium config Policy={Enabled,Disabled}` to enable / disable policy enforcement at the level of the daemon, but cannot set to `default` without relaunching the daemon. Should this be changed as well?

[2017-05-25 22:09] tgraf commented on #788
As you note yourself, this would be a bigger change. Given that we can restart the daemon without losing state. I'm also fine if we only support this via flag and only support `enabled`=`default` and `disabled`=`never` via the API.

[2017-05-25 23:30] borkmann opened #824 "CI coverage: parallel tests for different kernel/llvm/iproute2 versions."
For nightly test runs, it would be awesome to run the cilium test suite in parallel on several instances to avoid time consuming manual testing of different combinations mentioned below.

Combinations:
- Every major kernel tree since 4.8, plus latest -net/-net-next git tree.
- Corresponding iproute2 versions to kernel.
- Every official LLVM release since 3.8.1 up to latest git tree.

[2017-05-26 01:28] jrajahalme commented on #164
Branch 164-allow-IP-based-policy-enforcement now has working code for ingress CIDR rules for both IPv4 and IPv6. Egress side is still work in progress, but it would be good to get feedback at this point.

[2017-05-26 12:32] bretagne-peiqi commented on #793
@tgraf  I am sorry, but I have not yet to reach network connectivity between different containers in different nodes.  Have you implemented this function?  I have not seen the code. "IPV4 derive" ?

I run 6 pods in 3 different nodes,
following are strange points to me (I did nothing for policy part, and run pods without CiliumLabel...):

**first**: all containers get an identity of 260, same "SECL

[2017-05-26 12:36] bretagne-peiqi commented on #793
besides, I found #define IPV4_GATEWAY 0x100b70a is in little endian,  does it work as designed ?.

[2017-05-26 13:10] tgraf opened #825 "Fix kube-dns issue in `demo-httpd` container image"

[2017-05-26 20:22] jrfastab commented on #824
+1 it would be awesome.

[2017-05-26 20:58] jrajahalme commented on #164
Addressed comments from @tgraf and rebased branch to current master.
Added egress processing (last two patches). Haven't had a change to test the egress parts yet.

[2017-05-27 00:28] borkmann commented on #720
#828

[2017-05-27 00:28] #720 closed, assigned to borkmann

[2017-05-27 05:29] #820 closed, assigned to aalemayhu

[2017-05-27 05:58] tgraf commented on #746
I noticed while debugging. A test would be great.

[2017-05-27 13:13] aalemayhu commented on #746
I suspect this is only for ipv4. Tried reproducing with ipv6 but failed. Have a test now but need to fix root cause and cleanup before pull request.

[2017-05-27 14:40] mellotron opened #831 "kube-dns does not come up with cilium"
When using cilium as a CNI, kube-dns never comes up, it seems to be trying to get to the kubernetes ClusterIP:

[code]

Cilium is up and running:

[code]

[2017-05-27 14:55] mellotron opened #832 "DaemonSet consul nodes come up as single clusters"
Hello,

When I deploy consul and cilium across a multi-node cluster with:

[code]

I see the pods come up:

[code]

However it looks like the consuls have formed single node clusters:

[code]

[code]

[code]

[2017-05-27 15:04] mellotron opened #833 "Upgrade consul to 0.8.3"
The consul version in the DaemonSet YAMLs should be upgrade from 'v0.6.3' to '0.8.3'.

I changed the YAML on my cluster and the cilium commands appear to work fine.

[2017-05-27 15:10] mellotron commented on #832
Potentially can be done as a Job:

- https://github.com/kelseyhightower/consul-on-kubernetes/blob/master/jobs/consul-join.yaml

[2017-05-27 15:22] mellotron opened #834 "cilium status reporting Failure on kubernetes"
After deploying the daemonset with:

[code]

I noticed that my cilium endpoints are updated after I deploy the demo app:

[code]

But for some reason, cilium status is showing a failure against Kubernetes:

[code]

[2017-05-28 18:34] #816 closed, assigned to nobody

[2017-05-28 19:35] ianvernon opened #838 "Change Consumable's LabelList to a LabelArray"
Per [this comment](https://github.com/cilium/cilium/pull/815#discussion_r118845655) we should update Consumable's LabelList to be a LabelArray.

[2017-05-28 21:02] #833 closed, assigned to nobody

[2017-05-28 21:05] tgraf commented on #788
Resolved by #815

[2017-05-28 21:05] #788 closed, assigned to ianvernon

[2017-05-28 21:06] tgraf commented on #472
@jrfastab Is this done per #822 and #818?

[2017-05-28 21:33] tgraf commented on #831
This was most likely due to lack of policy which would not allow `kube-dns` to talk to the API server. We just merged #815 which should resolve this.

[2017-05-28 21:34] tgraf commented on #834
Is there anything suspicious in `kubectl logs -n kube-system cilium-tll5`?

[2017-05-29 02:20] aanm opened #839 "ct: removing CT entries when policy no longer allows it"
When the policy is modified, all CT entries that belong to an endpoint that had its policy changed should be removed.

Since we don't know which IP belongs to which source ID, it will be required to add a new field, source ID, in CT's key. That way we can easily remove all entries where the `srcID` is not allowed to consume `dstIP`

[2017-05-29 02:22] aanm commented on #691
Closing this issue since it can't be fixed due #815 where the policy is automatically set to disabled when the number of policy rules == 0. This means when all policy is removed, all endpoints will be allowed to receive any traffic.

I've open a new issue #839

[2017-05-29 02:22] #691 closed, assigned to aanm

[2017-05-29 05:13] aanm commented on #825
Fixed with https://github.com/cilium/demo-image/pull/1

[2017-05-29 05:13] #825 closed, assigned to aanm

[2017-05-30 04:08] aanm commented on #839
After an initial discussion with @borkmann we thought it is necessary to add a new field in CtKey describing the alien's label ID. For example, `12345` represents the security label ID of `10.11.148.173` (the endpoint's IP of a different host)
[code]

This way we can easily remove the entries where the new policy does not allow the tuple of `10.11.42.252`'s security label ID, easily calculated sin

[2017-05-30 08:35] borkmann opened #856 "elf: fix BPF_ENV_MNT when specified"
iproute2 should either generate a mnt at the given location or use the fs from there if mounted. Right now both don't really work correctly.

[2017-05-30 11:30] aalemayhu opened #859 "vagrant: install go-bindata by default"
The negative side effect of not having go-bindata available in the VM is

- Changes to the BPF sources are not going to be applied to the daemon.
- The Jenkins environment can be testing outdated stuff without the committer realising it because go-bindata changes were not committed.

If installing go-bindata by default is a no go then IMO least the user should get warned that it's not there and BP

[2017-05-30 11:38] tgraf commented on #859
BPF changes are never automatically taken into account. I'm fine with adding go-bindata to vagrant though.

[2017-05-30 16:31] tgraf commented on #831
After further debugging with with goloxina on Slack:

The issue is that Cilium does not pick up the existing k8s service that is already configured and thus `kube-dns` cannot communicate with the k8s API server.

[2017-05-30 22:47] aanm commented on #495
Fixed by #788

[2017-05-30 22:47] #495 closed, assigned to aanm

[2017-05-31 00:46] tgraf commented on #282
@mchalla What's your ability to work on this?

[2017-05-31 00:48] tgraf commented on #472
Fixed by #818

[2017-05-31 00:48] #472 closed, assigned to jrfastab

[2017-05-31 00:52] tgraf commented on #831
In the case of goloxina, the issue has been tracked down to the TPR resource not being able to be created and thus k8s resources not being watched at all.

[2017-05-31 01:16] bretagne-peiqi commented on #793
I think the ipv4 derive is not yet completed, I will take it.

[2017-05-31 01:49] tgraf commented on #624
PR pending: https://github.com/kubernetes/kubernetes.github.io/pull/3936

[2017-05-31 01:54] michi-covalent opened #869 "Add support for Kubernetes NodePort"
My understanding based on a conversation with @tgraf is that cilium currently doesn't support NodePort.

[2017-05-31 02:56] #793 closed, assigned to nobody

[2017-05-31 03:25] mchalla commented on #282
I just came back from India. I will finish it this week. Thanks.

[2017-05-31 18:13] tgraf commented on #869
Documentation:
https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport

Details:
- A NodePort service is a service which is reachable on each worker node on a particular port (allocated by kubernetes or specified by the user)
- Cilium can easily provide this configuring an LB on each node with L3=NodeIP, L4=nodePort
- bpf_netdev will perform LB on any external traffic coming

[2017-05-31 18:17] tgraf commented on #624
PR merged

[2017-05-31 18:17] #624 closed, assigned to tgraf

[2017-05-31 21:09] tgraf opened #877 "bpf: Verifier complaint for list of L4 ports"
If a NetworkPolicy with multiple L4 ports is configured, the BPF verifier complains

[code]

[2017-05-31 23:34] jrfastab commented on #877
Looks like another relocation error, `ELF contains non-map related relo data in entry 19 pointing to section 23!`. I was hoping to force it to work with some pragma/attribute but didn't come up with anything clever, so will need to brute force it with another macro.

[2017-06-01 08:44] bretagne-peiqi opened #878 "bug: using ipv4 is not reachable from different cluster nodes"
encapsulation with dst_host_ip,  which should use dst_node_ip to encap packet to different nodes.

CPU 02: MARK 0x9168bc2f FROM 29381 DEBUG: Encapsulating to node 179634177 (0xab50001) from seclabel 275

[2017-06-01 08:46] bretagne-peiqi commented on #878
I think the pb should in common/addressing/ip.go ipv4 section.

[2017-06-01 15:08] tgraf opened #880 "Ignore all labels '*.kubernetes.io'"
- [x] Add regexp matching for LabelPrefix
- [x] Ignore *.kubernetes.io

[2017-06-02 01:11] #878 closed, assigned to nobody

[2017-06-02 01:16] tgraf commented on #878
Did this turn out to be a non-issue?

[2017-06-02 13:08] #757 closed, assigned to nobody

[2017-06-02 15:18] tgraf opened #890 "Compile errors with llvm/clang 4.0 + musl libc"
Reported by @jpds

[code]

[2017-06-02 16:12] aanm commented on #890
@borkmann  @jrfastab  Some of the bpf errors were fixed by this commit: https://github.com/cilium/cilium/commit/fe3f7dff917ad225858c83aba55a1f3b677cd465

[2017-06-02 18:30] tgraf opened #891 "Grep /proc/config and warn if unsufficient config"
Look for typical config paths:
- /proc/config.gz
- /boot/config

And check if required configuration is met as documented at http://docs.cilium.io/en/latest/admin/#system-requirements

This should not be a hard failure but a big splat which warns the user.

[2017-06-02 20:43] tgraf opened #893 "cilium-agent: Liveness probe via DaemonSet"
Support liveness probe for k8s:

[code]

[2017-06-03 02:35] michi-covalent opened #900 "Allow CiliumNetworkPolicy to specify a list of rules"
@tgraf It would be nice to be able to specify multiple rules as a single kubernetes CiliumNetworkPolicy. This would make it easier for an automated process/script to replace an existing policy without worrying about which rules already exist. It might look something like this:

[code]

[2017-06-03 16:20] tgraf opened #901 "Add one-line packet forwarded summary for to cilium monitor"
Add a mode to the BPF progs and to `cilium monitor` which prints a one line summary of packets being forwarded. Similar to `tcpdump` but with all of the high level container metadata. DEBUG output can very verbose.

[2017-06-03 22:55] tgraf commented on #164
Fixed by #886

[2017-06-03 22:55] #164 closed, assigned to jrajahalme

[2017-06-05 00:49] #760 closed, assigned to nobody

[2017-06-05 02:37] tgraf opened #906 "Be more verbose on kvstore connectivity issues when bootstrapping"
kvstore conncetivity issues are not reported until we first access the kvstore which is then buried deep in the log. Attempt kvstore connect early on and print status.

We do report status in `cilium status` but if kvstore can't be reached we don't get to the point where we make the API available to trigger this information. This needs to be in the first 20 lines of the log and bootstrapping shoul

[2017-06-05 02:40] tgraf opened #907 "etcd error refers to --log-opt"
[code]

[2017-06-05 03:28] jrfastab commented on #877
I believe this is resolved now and I added a couple tests to the 10-proxy test case to catch this in the future.

[2017-06-05 03:28] #877 closed, assigned to jrfastab

[2017-06-05 04:08] tgraf opened #909 "Support carrying seclabel in IPv4 option"
- [x] Investigate feasibility of carrying seclabel as IPv4 option to not require overlay for IPv4 mode
- [x] Provide minimal BPF helper to grow headerroom at L3 (IP options)
- [x] XDP -> cls_bpf metadata transfer
- [ ] Optional: Add support to add helpers such as AH/ESP which require skb metadata change
- [ ] cilium-agent work

[2017-06-05 04:10] tgraf opened #910 "Add reverse NAT translation to loadbalancer"
bpf_lb currently relies on the backend server to do the reverse NAT. Support a mode where the service map entry can indicate that conntrack should be used to perform the reverse translation synchronously in `bpf_lb.c`

[2017-06-05 07:30] stevenceuppens commented on #384
@tgraf i think this is fixed by @aanm
commit bc0ceb228ae49b9f8a77dc9a404200aea6e1b7d7
daemon: implemented GetCachedMaxLabelID

[2017-06-05 13:29] tgraf commented on #384
Agreed, thanks @stevenceuppens

[2017-06-05 13:29] #384 closed, assigned to nobody

[2017-06-05 13:54] tgraf opened #913 "Documentation: CoreOS installation guide"
- [x] Document CoreOS specific elements in installation and operation

[2017-06-05 15:08] jrfastab commented on #890
I'm not able to reproduce this with the clang below and latest cilium master branch. Its also not obvious to me why clang 4.0 would have issues with `__always_inline`:

`./lib/maps.h:80:8: error: unknown type name '__always_inline'`

@aanm, did you have any other specific setup to reproduce?

$ clang --version
clang version 4.0.0 (tags/RELEASE_400/final)
Target: x86_64-unknown-linux-gnu
Thread mod

[2017-06-05 15:31] aanm commented on #890
I thought this was implicit in the first post. Those errors happen on this branch https://github.com/cilium/cilium/commits/alpine-image

The difference is the Dockerfile, where the compilation errors appear, since it's based on alpine. I've talked with @borkmann a while ago and we conclude it was likely due to different libc as they use musl.

[2017-06-05 15:33] tgraf commented on #890
My bad, I didn't notice the musl dependency of this error. I'm not sure we can support musl.

[2017-06-05 16:08] tgraf opened #915 "kvstore: Transaction support for multiple key/value pairs"
## Summary:
Proposal to improve the kvstore interactions.

## kvstore requirements:
 - Must be implementable with etcdv3 and consul
 - Multiple agents interact with the kvstore in parallel
 - Retrieve or allocate the identity (uint32) for a list of labels (binary key). The same label key must resolve to the same identity for all nodes.
 - Retrieve list of all security identities
 - Retrieve or all

[2017-06-05 16:12] tgraf opened #916 "Verify logic regarding transactional key-value updates"

[2017-06-05 22:35] #838 closed, assigned to nobody

[2017-06-06 03:36] bretagne-peiqi commented on #909
shall we use pure l3 network for ipv4 ?

[2017-06-06 04:08] tgraf commented on #909
Yes, the thought behind this is to support pure L3 IPv4 mode while carrying the seclabel in the option instead of the encapsulation header. We have to investigate how feasibility it is to add/remove IPv4 options in the datapath from a performance perspective.

[2017-06-06 11:40] bretagne-peiqi opened #920 "Porting init.sh logic to Go"
could it be better if we refactor init.sh scripts  into go language ? or there is no necessary for that.
（I saw we use directly iproute2 for network config）

[2017-06-06 14:35] tgraf commented on #920
We would love to move to native golang implementation and remove the dependency on the scripts and iproute2. Issue #325 covers the creation of a library to load BPF programs directly but we can start moving code from init.sh into golang right away.

[2017-06-06 15:31] #859 closed, assigned to nobody

[2017-06-06 17:44] #768 closed, assigned to ianvernon

[2017-06-06 17:49] ianvernon opened #921 "fix comments from PR #894"
There were some comments / suggestions not blocking merge in PR #894 ; fix these issues .

[2017-06-06 18:01] michi-covalent opened #922 "L4 policy with more than 40 ports doesn't work"
Cilium endpoints go into 'not-ready' state when I apply an L4 policy with more than 40 ports. It would be nice if Cilium can validate the policy before applying it so that endpoints don't go into not-ready state. Here is the policy I'm using:

[code]

[2017-06-06 18:04] michi-covalent commented on #922
... forgot to mention the version I'm using:

[code]

[2017-06-06 18:20] tgraf commented on #391
This is no longer a big issue, closing.

[2017-06-06 18:20] #391 closed, assigned to aanm

[2017-06-06 18:21] tgraf commented on #552
Given upstream k8s has dropped this annotation, closing for now.

[2017-06-06 18:21] #552 closed, assigned to aanm

[2017-06-06 18:23] tgraf commented on #831
@mellotron For the environment for goloxina, we tracked down the issue to a lacking RBAC permission which prevented the TPR to be created. Can you confirm that this is the case for you as well?

[2017-06-06 18:23] tgraf commented on #839
Are we actively working on this?

[2017-06-06 18:34] aanm commented on #839
I am, that's what I've being focus the last couple days.

[2017-06-06 20:16] ianvernon opened #923 "panic when running cnitool with Cilium"
[code]

[2017-06-06 20:31] aanm commented on #923
What was the container's ID?

[2017-06-06 21:19] tgraf commented on #923
A random one

On 6 Jun 2017 1:31 pm, "André Martins" <notifications@github.com> wrote:

[2017-06-06 23:41] aanm commented on #900
This is doable, whoever the `CiliumNetworkPolicy` spec needs to be changed.
This will allow accepting the old policy a the new policy with a list.
[code]

[2017-06-07 00:18] tgraf commented on #900
@aanm I started on this and thought about calling it a `CiliumNetworkPolicySet` which carries a `api.Rules` as spec. That way it's always clear which is which.

[2017-06-07 01:48] aanm commented on #900
I was already re-writing the unit tests. FYI this was what I had in mind:
[code]

The user could choose `Rules` and `Spec` to specify a list or a single rule.

[2017-06-07 02:55] tgraf commented on #922
I think we can simply reject configuration at the datapath limit for now so we fail gracefully.

[2017-06-07 02:58] tgraf commented on #880
Fixed by #908

[2017-06-07 02:58] #880 closed, assigned to nobody

[2017-06-07 03:44] jrfastab commented on #922
On 06/06/2017 07:55 PM, Thomas Graf wrote:

40 proxy ports seems like enough to me. Is there any interest in supporting more?
There needs to be some upper bound but 40 was an arbitrary choice and its fairly
easy from the macro side to increase the upper bound.

[2017-06-07 04:03] tgraf commented on #922
40 sounds good. We may need to revisit when support ranges

On 6 Jun 2017 8:44 pm, "John Fastabend" <notifications@github.com> wrote:

[2017-06-07 22:15] aanm opened #931 "parallel builds cause jenkins to fail"
[code]

More info:
https://jenkins.cilium.io/job/cilium/job/cilium/job/master/324/execution/node/20/log/
https://jenkins.cilium.io/job/cilium/job/cilium/job/PR-926/4/execution/node/20/log/

[2017-06-07 23:30] ianvernon commented on #931
Looks like the same MAC address is being assigned to both VMs at the same time:
```Command: ["modifyvm", "9ffd4e6b-accb-44a1-b840-f8af5ce16b17", "--macaddress1", "080027D7135C"]```

```Command: ["modifyvm", "2535a2a6-cfc0-441c-942b-1491401d5522", "--macaddress1", "080027D7135C"]```

This seems like it could cause some problems :) next step is to figure out why...

[2017-06-07 23:55] #923 closed, assigned to aanm

[2017-06-08 16:51] ianvernon commented on #931
:( the second build link now 404's.

[2017-06-08 18:41] jrfastab opened #937 "LLVM/ebpf support for inline assembly"
Its often useful to be able to write assembly inline in ebpf programs.

[2017-06-08 19:11] jpds commented on #893
I've created https://github.com/cilium/cilium/pull/938 which fixes this another way.

[2017-06-08 20:48] aanm opened #939 "Create an example of what `etcd.conf` should look like in documentation"
Ideally provided with TLS capabilities

[2017-06-08 20:49] aanm commented on #939
Should be based on this https://github.com/coreos/etcd/blob/release-3.1/clientv3/config.go#L48

[2017-06-08 20:56] rlguarino opened #940 "Document the format of the etcd configuration file"
The etcd configuration file is based on the struct located here: https://github.com/coreos/etcd/blob/release-3.1/clientv3/config.go#L48

The documentation should at least link to that, or iterate all of the possible fields. It would also help if the docs showed people how to set the file using a K8s ConfigMap.

[2017-06-08 21:01] #939 closed, assigned to nobody

[2017-06-08 21:30] rlguarino opened #944 "Support non IPv6 in Kubernetes Service Endpoints"
Would it be possible to support setting an IPv4 upstream in a Kubernetes Service via `external-ips`
https://kubernetes.io/docs/concepts/services-networking/service/#external-ips on a cluster with disable-ipv4 set?

The idea is to have an IPv6 only Kubernetes cluster where connections to a 3rd party which only support IPv4 are done via Service =.

```[Pod] ---(IPv6)----> [Cilium Service Proxy] ----

[2017-06-09 01:54] #907 closed, assigned to ianvernon

[2017-06-09 01:56] #906 closed, assigned to aanm

[2017-06-09 03:12] tgraf commented on #944
@rlguarino Very interesting idea. You mention service, are you referring to a Kubernetes service in this regard? Would `[Cilium Service Proxy]` be implemented a Kubernetes Service which translates one IPv6 Service IP to a IPv4 service IP or would you expect for IPv4 addresses represented as IPv6 to be translated automatically, e.g. `::FFFF:12.155.166.101` => `12.155.166.101`.

[2017-06-09 03:25] aanm opened #947 "Extend Cilium TPR with CRD"
K8s Third Party Resources will be deprecated so we need to replace them with the new Custom Resource Definitions.

More info:
https://github.com/kubernetes/kubernetes.github.io/blob/release-1.7/docs/tasks/access-kubernetes-api/extend-api-third-party-resource.md#migration-to-customresourcedefinitions

[2017-06-09 04:57] jrfastab opened #949 "document bpf macros"
The BPF macro's used to convince _clang_ to generate correct code are not at all obvious. Please add comments to the source code so that others can read them.

[2017-06-09 21:25] jrfastab opened #952 "cilium, add LB L4 tests"
should test l4 as part of jenkins test suite.

Test for #1009

[2017-06-10 00:05] rlguarino opened #953 "Cannot specify node address"
Specifying the `--node-address` results in the cilium-daemon incorrectly invoking `ip route add`.

For example if I pass `--node-address= 2411:cb00:36:1012::0/96` cilium daemon will print:

[code]
and it will get an error from `ip route add` like:

[code]

[2017-06-10 00:30] rlguarino commented on #944
@tgraf I totally messed up what I was trying to say here. What I was thinking was adding support for K8s services of type `ExternalName` but after reading more docs I don't really see how that will work.

The scenario I'm thinking of is a little convoluted. Image an IPv6 only cluster. If you wanted to connect to an IPv4 address you would need to connect to something over IPv6 which then speaks IPv

[2017-06-10 13:04] tgraf opened #955 "label_test.go:198 fail with go 1.8.3"
[code]

[2017-06-10 13:05] tgraf commented on #953
@rlguarino Is `2411:cb00:36:1012::0/96` already configured as a prefix on the system?

[2017-06-10 18:35] rlguarino commented on #953
The prefix 2411:cb00:36:1012::/64 is already configured  and I just noticed that `ip route` seems to like IPs that end with `::`  so my initial thought is wrong now. This is probably just user error.

[2017-06-10 18:35] #953 closed, assigned to tgraf

[2017-06-10 19:18] aalemayhu commented on #955
Applying this makes the test pass
[code]

Edit: the above is wrong, it's not checking the value.

[2017-06-12 10:13] #744 closed, assigned to nobody

[2017-06-12 10:13] #955 closed, assigned to aanm

[2017-06-12 15:39] borkmann opened #960 "cilium: -n should either take full address or specify prefix."
Option -n says:
[code]
Passing the address of my node results in an error when starting the agent:
`
Jun 12 17:25:27 linux-2.home cilium-agent[8639]: level=fatal msg="Unable to parse node address: Endpoint ID set in IPv6 node address"`

Passing /112 prefix works however. Either we should specify this explicitly in the log, or better just take the address and mask out the bits internally. Perhaps l

[2017-06-12 16:56] aalemayhu commented on #746
@tgraf I believe this is fixed by the byte order pull request. If you could take a closer look at the test added that would be great. https://github.com/scanf/cilium/commit/377944d0171a637bcd4e6f20b74c0836e1254e84

Thanks!

[2017-06-12 17:39] #931 closed, assigned to ianvernon

[2017-06-12 21:20] aalemayhu opened #962 "tests: replace all echo calls with a custom helper function for printing"
Would be nice to have a function which does the normal echo to the screen, but when a environment variable for example `VERBOSE=1` was set, it would prefix all lines with the test name and timestamp. This would be very useful when trying to figure out quickly which test failed.

[2017-06-12 23:48] tgraf opened #963 "Make --kvstore option mandatory"
Defaulting to local is causing issues as it happens unexpectedly.

[2017-06-13 01:50] michi-covalent opened #965 "CiliumNetworkPolicy: Handle empty toPorts"
@aanm @tgraf I'm trying to create a catch-all policy so that all the requests within a namespace is rejected by default. I tried the policy below, but requests are still getting through.

[code]

Additinally, I tried specifying an empty rule for port 0 as a workaround, but the spec below didn't produce any cilium policy:

[code]
It looks like there is something special about port 0 since the same

[2017-06-13 02:01] michi-covalent opened #966 "Inter-namespace CiliumNetworkPolicy"
Right now CiliumNetworkPolicy gets created inside a kubernetes namespace, and you cannot override source and destination endpoint. It would be nice to be able to create a policy where source and destination are in different namespaces. Ideally I'd like to be able to do something like this:

[code]

[2017-06-13 11:15] tgraf commented on #965
A policy to deny all traffic could be as simple as:
[code]

The selector will put all pods in the default namespace into default deny mode. This will block on L3 though. Do you absolutely need L4 blocking? i.e. do you need ICMP to pass while everything else is blocked or similar?

[2017-06-13 16:45] #677 closed, assigned to aalemayhu

[2017-06-13 17:16] ianvernon commented on #963
Will default to an empty string instead of local storage, which will cause the cilium-agent to crash now:
[code]

[2017-06-13 17:47] tgraf commented on #963
We should make this error as clear and simple as possible:

`kvstore not configured. Please specify --kvstore. See http://cilium.link/err-kvstore for details.`

[2017-06-13 19:43] tgraf opened #972 "Flexible CIDR =>remote encap address mapping"
Depends on #989

This issue tracks the feature to provide alternative to the current static container IP => VTEP mapping.

- [ ] Establish way to retrieve managed CIDR of each node
  - [ ] via k8s API server
    - [x] PodCIDR field (tests missing)
    - [x] Annotation populated by each cilium-agent on its own node resource
  - [ ] via kvstore (#204 ?)
  - [ ] via daemon flag `--derive-node-address

[2017-06-13 21:48] #963 closed, assigned to ianvernon

[2017-06-13 22:21] aanm commented on #972
Notes:
It's possible to retrieve `PodCIDR` field from kubernetes and `cilium daemon set` can leverage that with the option
[code]

The user will need to set up the kubernetes controller-manger with the following options:
[code]
where:
- `cluster-cidr`: specifies the Pods CIDR for the whole cluster, the IPs assigned to the containers, for example: `10.0.0.0/10`
- `allocate-node-cidrs`: if set `true

[2017-06-13 22:27] tgraf commented on #972
Why does this matter? I assume this is just a hint for the documentation. These routes would remain unused anyway?

[2017-06-13 22:39] aanm commented on #972
Yeah with `--cloud-provider` unset the only difference seems to be:

[code]
vs
[code]

[2017-06-14 00:12] tgraf commented on #960
Likely addressed by #969, to be confirmed.

[2017-06-14 00:58] tgraf opened #974 "Add Status field to CiliumNetworkPolicy"
Add a Status field which reports:
- [x] error log
- [x] enforcement status
- [ ] statistics?

[2017-06-14 01:27] borkmann commented on #819
#969

[2017-06-14 10:46] tgraf opened #976 "Fix lint warnings for bpf.rst"
[code]

[2017-06-14 15:07] aanm opened #979 "Provide a cilium-agent flag to clean all state data"
Something like `cilium-agent --clean-all` would:
- clean all bpf maps
- unmount bpffs
- remove routes created by cilium interfaces
- remove cilium interfaces
- remove `/var/run/cilium` (and `/var/lib/cilium`?)
- remove cilium-cni configurations?

Basically restoring to the last state before cilium was installed **without** starting the agent, this would be for clean up purposes only.

[2017-06-14 15:23] tgraf commented on #979
Sounds good, not sure it is a microtask. Might be non-trivial.

[2017-06-14 17:03] rlguarino opened #981 "Non-zero tcp re-transmission rate from a cilium pod"
I have two physical machines. One (lets call it A) is running the `iperf3` server. The other (called B) is running Kubernetes pods using cilium networking. If I run a performance test directly on the host on B, I don't see a high re-transmission rate. If I run the same test from inside of a container on Host B then I see a re-transmision rate which seems to affect the bandwidth.

Results from dire

[2017-06-14 20:00] tgraf commented on #976
Fixed by #978

[2017-06-14 20:00] #976 closed, assigned to aalemayhu

[2017-06-14 20:52] tgraf commented on #981
@rlguarino Interesting, I'm not sure we have observed this but it seems easy to reproduce.

- What version of cilium are you running?
- Are you using IPv6 in the host test as well?
- What kernel are you running?
- Can you provide a pcap sample?
- Can you send a sample of `cilium monitor`?
- What container image is being used to run iperf?

[2017-06-14 21:48] tgraf opened #983 "Provide sample policies for CiliumNetworkPolicy"

[2017-06-14 23:48] tgraf opened #984 "Possible data race in kvstore"
[code]

[2017-06-14 23:56] rlguarino commented on #981
I can answer some of those questions right now, I'm working on the rest.

* What version of cilium are you running?

* Are you using IPv6 in the host test as well?
Yes, IPv6 everywhere.
* What kernel are you running?
4.9.30
* What container image is being used to run iperf?
Based off ubuntu `ubuntu@sha256:ea1d854d38be82f54d39efe2c67000bed1b03348bcc2f3dc094f260855dff368`, with some networking tools

[2017-06-15 03:34] bretagne-peiqi opened #987 "RTNETLINK answers: Invalid argument We have an error talking to the kernel"
I am trying to load bpf instrument via "tc filter add dev $DEV prio 1 handle 1 bpf da obj $OUT sec $5"

**output:**
RTNETLINK answers: Invalid argument
We have an error talking to the kernel

**I verified dmesg:**  [1724588.845950] IPv6: ADDRCONF(NETDEV_UP): cilium_host: link is not ready
[1724588.846210] IPv6: ADDRCONF(NETDEV_CHANGE): cilium_host: link becomes ready
[1724589.592157] cilium_net: C

[2017-06-15 11:54] tgraf opened #989 "bpf: Use full destination IP when looking up local endpoints"
- [ ] Change mechanism to translate destination IP into endpoint ID
   So far we have extracted the endpoint ID from the address and then did a lookup in the table using the endpoint id as key. Instead, use the entire destination IP as key and store the endpoint as map value.

  This allows to use arbitrary addressing for local endpoints.

- [ ] Add a special entry to the table which represents th

[2017-06-15 12:05] tgraf commented on #987
Based on this error, it looks like you have an `#ifdef` `#endif` mismatch before you include `bpf_features.h`

[2017-06-15 12:22] bretagne-peiqi commented on #989
the destination IP is VTEP IP ? If so, how could we know the VTEP IP before making a derivation.  I has always troubles in understanding the meaning of endpoint ID

[2017-06-15 12:50] tgraf commented on #987
@peiqi-caicloud I'm seeing this issue as well now, looking into it.

[2017-06-15 13:42] borkmann commented on #987
With regards to the netlink error, were you missing the `ingress` keyword?

Should say: `tc filter add dev $DEV ingress prio 1 handle 1 bpf da obj $OUT sec $5`

If you do a `tc qdisc show dev $DEV` by hand, do you see a line that looks like `qdisc clsact ffff: parent ffff:fff1`? If not, you would need a prior `tc qdisc add dev $DEV clsact`.

The netlink error is definitely triggered in case of a m

[2017-06-15 13:53] borkmann commented on #987
The `cilium_net: Caught tx_queue_len zero misconfig` is harmless, by the way.

[2017-06-15 13:54] tgraf commented on #987
I saw this error as well. Rebooting my VM resolved the issue for me. I was not able to track it down further.

[2017-06-15 14:10] tgraf commented on #989
With destination IP I mean the destination IP which would refer to a container/pod.

The flexible VTEP mapping is tracked in issue #972

[2017-06-15 14:42] borkmann commented on #987
@peiqi-caicloud Do you by any chance have a reliable way to reproduce the `BPF_FEATURES_H_` related compilation error?

[2017-06-16 09:56] Bun opened #994 "BPF support for injecting layer 3 headers"
It would be nice if it were possible to write a BPF program that can dynamically inject layer 3 extension headers, e.g. IPv4 options, IPv6 extension headers. This would allow injection of the IPv6 segment routing header, which can be used to do e.g. traffic engineering or network functions between containers/container clusters.

The current functionality offered by ``skb_change_head`` (only L2) an

[2017-06-16 17:31] rlguarino opened #995 "Verify the identity of incoming packets belongs to the source prefix"
Right now if a node is compromised an attacker can modify the BPF programs on the compromised node to inject any ID into the packet. This means that any compromised node can act on behalf of any identity that exists in the cluster. It would be great if Cilium could guarantee that a node can only hyjack or act on behalf of endpoints that are already running on that node. Since in theory an attacker

[2017-06-16 22:28] #984 closed, assigned to aanm

[2017-06-20 01:15] rlguarino opened #1001 "Document how cilium agent behaves when it's dependencies are missing"
What happens if kube-api/ kv-store goes away?
Can the cilium daemon survive a restart/outage of either of these services?
How long can the kv-store/kube-api be down before cilium has a problem?
What will happen to already running container?
What happens when creating a new container while kube-api/ kv-store is down?

[2017-06-20 14:58] tgraf opened #1004 "Reduce noise in runtime test logs"
The runtime test logs are currently very noisy while waiting for various states to become ready:

[code]

[2017-06-20 15:01] tgraf commented on #1004
[code]

[2017-06-20 20:20] tgraf opened #1005 "Improve cilium policy trace usability"
When using `cilium policy trace`, the user is required to either enter the labels or the identity:
e.g.
[code]

Add support to:
 - [x] `--src-identity / --dst-identity`
 - [x] podname + namespace (`--src-k8s-pod [namespace:]podname / --dst-k8s-pod [namespace:]podname`)
 - [x] endpoint id (`--src-endpoint / --dst-endpoint`)
 - [ ] pod yaml file (`--read-yaml FILE`) (if not provided, cilium queries

[2017-06-20 20:22] tgraf commented on #893
Fixed by #938

[2017-06-20 20:22] #893 closed, assigned to ianvernon

[2017-06-20 20:23] tgraf commented on #602
Decided to always require kvstore configuration to make requirement for configuration obvious.

[2017-06-20 20:23] #602 closed, assigned to ianvernon

[2017-06-20 21:07] tgraf opened #1006 "CIDR: Add upper limit on number CIDR matches"
Enforce the upper max CIDR limit on the golang side with a clear error message in the logfile instead of a BPF compilation error.

[2017-06-20 21:16] tgraf opened #1007 "Multi Node Kubernetes CI tests"
Master issue

- [x] Pod to pod connectivity across nodes
  - [x] encap
- [x] Pod - service - pod
- [x] L3/L4 policy
- [x] L7 policy
- [x] getting started guide in multi node
- [x] Stresstest for L7 (need to find out the right l7 policy)
- [x] test deployment using DaemonSet
- [x] policy across namespaces
- [x] Super combo test: service + proxy + l3 rule + l7 rule

[2017-06-20 21:20] tgraf opened #1008 "Istio integration guide"

[2017-06-20 21:21] tgraf commented on #987
Closing this for now, please reopen when it occurs again

[2017-06-20 21:21] #987 closed, assigned to borkmann, tgraf

[2017-06-20 21:23] tgraf opened #1009 "Service + Proxy checksum incorrect"

[2017-06-20 21:41] borkmann opened #1010 "verifier: support imm += ptr_to_pkt"
LLVM may generate such pattern and verifier currently doesn't recognize it.

[2017-06-20 22:28] borkmann commented on #994
Related: #909

[2017-06-20 22:36] tgraf commented on #267
Possible solution: use of a site local IPv6 address for the `cilium_host`

[2017-06-21 18:42] michi-covalent opened #1013 "Service IP range is not reachable from localhost"
@tgraf Not sure if this is an expected behavior, but currently the host (in my case a minikube VM) cannot reach Kubernetes services.

[2017-06-21 18:50] michi-covalent commented on #1013
I deployed a service without cilium, and the service ip is reachable from the host:

[code]

[2017-06-21 18:53] tgraf commented on #1013
Thanks for confirming

[2017-06-21 18:54] tgraf commented on #1013
TODO:
- [ ] Retrieve service range from API server
- [ ] Add service range route and point to `cilium_host` interface

[2017-06-21 21:01] aanm opened #1015 "deprecate `k8s-api-server` flag"
the `k8s-api-server` and `k8s-kubeconfig-path` seems to create some confusion if users want to use an api-server with https without providing the certificate authority (which is present in the `k8s-kubeconfig-path`)

So we either say that we only allow `k8s-api-server` for **http** api-servers and https + cecrts for `k8s-kubeconfig-path` or we simply drop the `k8s-api-server` flag

[2017-06-21 21:32] ianvernon opened #1016 "archive contents of /var/run/cilium /var/lib/cilium for each build"
As part of the Cilium Jenkins job, tar up the contents of /var/run/cilium, /var/lib/cilium and archive them for each build.

[2017-06-22 17:57] rlguarino commented on #1001
If you want we could setup some time to talk about this over VC, and then I can write the docs. It's going to require a lot of knowledge of all of the moving pieces so I think it would go much faster if we could chat first.

[2017-06-22 18:26] danehans commented on #1007
@aanm Has the community settled on adding multi-node support to Cilium? If so, has an implementation beed decided? I'm interested in having Cilium use BGP for multi-host networking.

[2017-06-22 18:31] danehans opened #1019 "Subnet Management Using Kubernetes"
I am interested in having Cilium use the Kubernetes API for subnet assignment. Will the project accept a PR for adding this feature?

[2017-06-22 19:54] tgraf commented on #1019
I assume you are talking about using `--allocate-node-cidrs=true`?
We are tracking the encapsulation side of this feature in #972. Very happy to take a PR which works on the subnet side of this.

[2017-06-23 10:19] aanm opened #1022 "Ignore "annotation.scheduler.*" labels"
[code]

[2017-06-23 10:52] aanm opened #1023 "Remove timestamp in journalctl"
[code]

`sudo journalctl -u cilium` prints the 2 timestamps, the second one is not necessary since journalctl provides that information

[2017-06-23 16:06] tgraf commented on #1022
Our current filter is:
[code]

Why does the `annotation.scheduler.alpha.kubernetes.io` label get through?

[2017-06-23 16:12] aanm commented on #1022
My first question as why it has the source set to `cilium:`.

[2017-06-23 20:56] jrfastab opened #1024 "llvm/clang switch statement -fno-jump-table add to build scripts"
add -fno-jump-table to bpf scripts

[2017-06-23 20:56] jrfastab commented on #1024
should we have a bpf lint? That would be cool :)

[2017-06-23 20:57] jrfastab opened #1025 "sparse checks for C-bpf code"

[2017-06-24 00:15] aalemayhu commented on #1024
Sounds good, maybe something like [Clang-Tidy][0] could be used.

[0]: http://clang.llvm.org/extra/clang-tidy/

[2017-06-25 19:47] tgraf opened #1028 "Support for Mesos labels"
Mesos has added support to pass labels via CNI args field:
- https://issues.apache.org/jira/browse/MESOS-5592
- https://github.com/containernetworking/cni/blob/master/SPEC.md#network-configuration

- [x] Parse mesos labels in `cilium-cni`
- [x] Add labels to the endpoint using `client.EndpointLabelsPut(id string, cfg *models.LabelConfigurationModifier) error`

[2017-06-25 19:56] ianvernon opened #1029 "fix formatting setup for logging"
refer to: https://github.com/cilium/cilium/pull/1017#issuecomment-310536519

[2017-06-26 04:00] amreshakim opened #1030 "Add support for earlier versions of CNI"
Currently, cilium-cni supports only 0.3.1 spec.

- Mesos does not support CNI 0.3.x. (https://issues.apache.org/jira/browse/MESOS-7079)
- Also, cilium-cni reports supporting all cni versions which is misleading when using cilium-cni with mesos: a task crashes and it is not immediately clear why.

It would be nice to support, at least 0.2.x and 0.3.x specs and report cilium-cni compatible only with

[2017-06-26 07:25] NBruijn opened #1031 "Warnings: WARN[0063] Unable to close policy map /sys/fs/bpf/tc/globals/cilium_policy_63465: bad file descriptor"
I experience some warnings after I detach from a container.

I run cilium with the following flags:
`cilium-agent --kvstore local -t vxlan`

Version:
`Cilium 0.9.90 08c1e0c4 Sat, 17 Jun 2017 21:16:47 +0200 go version go1.8.3 linux/amd64`

Whenever I create a container, for example:
`docker run -itd --name cil26 --net cilium-net -l "id=app1" nbruijn/cilium /bin/bash`

Then attach to it:
`docker att

[2017-06-26 07:30] NBruijn commented on #1031
Some additional info,

I noticed that whenever the container is build the map is stored in:
`/sys/fs/bpf/tc/globals/`
as:
`cilium_policy_63465`
and after detaching from it, the map does get deleted correctly from this location. So it seems that it tries to delete it a second time.

[2017-06-26 08:32] borkmann commented on #1024
Here's what I got from Yonghong:

BPF backend should always generate if statements for "switch" statement.

However, if people compile like this at linux's samples/bpf ...
[code]
... the jump-table issue may appear. The reason is first clang command essentially for x86_64 and it does generate jump-tables in readonly section.

[2017-06-26 12:44] NBruijn opened #1032 "Policies not honered (local kvstore)"
Hi, I just run into some troubles using the local kvstore.

flags and version:
`cilium-agent --kvstore local -t vxlan`
`Cilium 0.9.90 08c1e0c4 Sat, 17 Jun 2017 21:16:47 +0200 go version go1.8.3 linux/amd64`

Inserted the following two policies:
[code]
[code]
Then created two containers using:
[code]

[code]

After creating these containers and trying to ping the other node, they are both unreachab

[2017-06-26 15:07] borkmann opened #1033 "verifier: map ptr bug in tail call"
r2 (map pointer) should never be 0 here:
[code]

[2017-06-26 15:47] danehans commented on #1019
That is correct. Let me wrap-up my upstream k8s pr's and try taking a stab at this.

[2017-06-26 16:02] #1016 closed, assigned to ianvernon

[2017-06-26 16:03] ianvernon commented on #1016
Merged #1017

[2017-06-26 16:50] amreshakim commented on #1030
The only difference between 0.3.0 and 0.3.1 is a corrected typo in the CNI spec ("ip" should be "ips") so we can safely assume cilium-cni supports 0.3.x as of now.

[2017-06-26 19:28] borkmann commented on #1033
No issue with following code:
[code]
Issue with that one:
[code]
asm diff:
[code]

[2017-06-26 19:41] jrfastab commented on #1024
The specific case of 'clang ...' followed by 'llc' possible issue is noted above. My original concern however was unfounded because cilium will use 'clang ... -target bpf ...' to generate eBPF programs. When this is done the switch visiting code `SelectionDAGBuilder::visitSwitch` in llvm code base at,
   ``` ./lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp```
will only create jump tables when th

[2017-06-26 19:43] #1024 closed, assigned to jrfastab

[2017-06-26 19:44] jrfastab commented on #1009
resolved with separate issue to write lb + l4 tests. The primary issue here is when multiple services/proxies/etc change packet headers we need to ensure csum is tracked correctly.

[2017-06-26 19:44] #1009 closed, assigned to jrfastab

[2017-06-26 19:46] borkmann commented on #1033
LLVM generates an invalid reloc entry.

tc says:
[code]
And will then stop populating remaing relo entries, hence the imm 0 instead of map pointer at a different location.

More details from asm:
[code]

[2017-06-26 20:00] borkmann commented on #1033
Opened LLVM ticket: https://bugs.llvm.org/show_bug.cgi?id=33599

[2017-06-26 20:33] jrfastab commented on #952
https://github.com/cilium/cilium/pull/1034

[2017-06-27 00:50] borkmann commented on #1033
iproute2: http://patchwork.ozlabs.org/patch/780937/

[2017-06-27 08:25] borkmann commented on #1033
Fixed by Yonghong in LLVM 5.0.0 trunk.

[2017-06-27 08:25] #1033 closed, assigned to borkmann

[2017-06-27 08:27] borkmann opened #1038 "cilium: calls map not removed in error paths"
Normal deletion removes it properly, but not in error cases, reported by @tgraf.

[2017-06-27 09:08] borkmann commented on #819
Should the issue still exist after the PR, lets reopen then.

[2017-06-27 09:08] #819 closed, assigned to borkmann, tgraf

[2017-06-27 10:37] borkmann commented on #981
(Have it reproduced locally as well.)

[2017-06-27 14:39] borkmann commented on #981
Some info for myself.

Host to host (w/o container):
[code]
Container to host:
[code]
pcap shows a lot of ofo packets from TCP side.

`requeues` counter indicate that we're hitting `dev_requeue_skb()` on xmit meaning we got `NETDEV_TX_BUSY` return code either somewhere from `sch_direct_xmit()`/`dev_hard_start_xmit()` or from driver itself.

Driver itself (ixgbe) I would exclude right now since tx_

[2017-06-27 20:52] ianvernon opened #1040 "gather BPF files, logs generated during k8s tests"
Get logs for the following pods:
* kube-apiserver
* kube-controller-manager
* kubelet
* cilium

after the k8s GSG finishes, but before it deletes the Cilium DaemonSet.

Also package up the contents of /var/run/cilium, /var/lib/cilium as is done during the runtime-tests.

[2017-06-27 23:18] tgraf opened #1041 "Move labels to endpoint structure"
Labels are currently stored in the `container` structure. This is done for the reason that initially, labels were retrieved from the container runtime and then correlated to the endpoint when the network plugin was launched and created the `endpoint` structure.

With the addition of CNI 2.x support, integration with mesos makes labels available during the CNI add event.

Steps:
- [ ] Move labels t

[2017-06-28 04:47] aanm commented on #1030
@amreshakim Can we close this one since #1036 fix it?

[2017-06-28 04:48] aanm commented on #1038
Is this related with #1031?

[2017-06-28 04:48] amreshakim commented on #1030
Sure @aanm.

[2017-06-28 04:48] #1030 closed, assigned to amreshakim

[2017-06-29 00:03] ianvernon commented on #1005
Discussed in chat with @tgraf - currently `--src` and `--dst` can take a security identity as a parameter. Will remove that functionality from these flags and put it in the `--src-identity` and `--dst-identity` flags.

[2017-06-29 07:52] aanm opened #1047 "if archiveArtifacts fails the VMs are not destroyed"
I just found out if `tests/copy_files` fails, because the VM entered in a weird state, the following `destroy -f` lines are not executed and the VMs are not destroyed
[code]

As a workaround for the PR where I saw this I simply removed the `set -e` and append a `|| true` on all lines in the `copy_files` script but this needs a proper fix

`copy_files`:
[code]

[2017-06-29 14:09] borkmann commented on #981
Testing with nfp (40G) on the same setup, single stream; looks much better to me:
[code]
So perhaps indeed related to ixgbe/virtio_net as mentioned on the netdev discussion.

[2017-06-29 22:47] ianvernon commented on #1004
Taking care of this as part of PR #1045

[2017-06-29 23:53] ianvernon commented on #1005
@tgraf - should only one source / destination type be providable by the user, or can we allow multiple source types (i.e., security identity, labels, etc.) in combination with multiple destination types?

[2017-06-29 23:58] ianvernon opened #1049 "Improve description of cilium command when used without parameters"
Currently, when the command "cilium" is ran, the output is not informative.
In `cmd/root.go`:

[code]

Update this description to give information about the `cilium` command.

[2017-06-30 03:06] tgraf opened #1050 "Remove cosmetic make clean errors"
[code]

[2017-06-30 03:09] tgraf opened #1051 "Fix read of non existing file VERSION"
[code]

[2017-06-30 03:16] tgraf opened #1052 "Retrieve log of cilium pod when k8s deploy fails"
While waiting for the cilium ds to be deployed:
[code]

We should check if the pod goes into `CrashLoopBackOff` and if so, retrieve the logs from it and print it:
[code]

[2017-06-30 04:56] aanm opened #1053 "Enable IPv6-only k8s runtime tests once kubeadm supports IPv6"

[2017-06-30 04:59] aanm opened #1054 "Enable LB k8s runtime tests once ingress functionality is merged"

[2017-06-30 10:23] aanm commented on #900
@tgraf I'm currently working on this, there's one problem. We store the name of the policy as a label in the rule. If we have multiple rules, we can't we store multiple rules with the same label... Any suggestions to solve this? I was thinking on adding a new label with the rule position in the policy specs slice.

[code]

[2017-06-30 17:11] tgraf opened #1059 "Benchmark test flake"
This test failure occurs randomly unrelated to particular changes:

[code]

Affects: #1056

[2017-06-30 17:59] aanm commented on #1041
are we talking about all container's / k8s labels or only the filtered ones?

[2017-06-30 18:52] tgraf commented on #900
Each rule must have unique labels or insertion will fail. A list of rules will only be applied if all labels are unique. The only purpose is to allow insertion of n rules atomically. Maintaining uniquness of the a position label will become very hard.

[2017-06-30 18:53] tgraf commented on #1051
Fixed by #1058

[2017-06-30 18:53] #1051 closed, assigned to nobody

[2017-06-30 18:54] tgraf commented on #1050
Fixed by #1060

[2017-06-30 18:54] #1050 closed, assigned to nobody

[2017-06-30 21:52] ianvernon commented on #1005
#1046 affects my progress for grabbing the pod name + namespace information, so I'm holding off on that for now until it gets merged.

I've gotten `src-identity`, `dst-identity`, `src-endpoint`, `dst-endpoint` working fine - it's trivial to get the labels from these values.

What's murky for me is "pod yaml file (--read-yaml FILE) (if not provided, cilium queries the k8s API server)"

@tgraf can y

[2017-06-30 21:57] ianvernon commented on #1047
I'm taking care of this as part of #1040 .

[2017-06-30 22:08] ianvernon commented on #636
Closing this - we now gather logs via journalctl output, as well as the contents of /var/run/cilium, /var/lib/cilium.

[2017-06-30 22:08] #636 closed, assigned to nobody

[2017-06-30 23:02] ianvernon commented on #901
@tgraf what constitutes "high level container metadata"? I need some clarity / context re: this; let's sync up next week.

[2017-07-01 11:36] tgraf commented on #901
What I have in mind is intelligent context:

- The endpoint was derived from a k8s pod:

[code]

- The endpoint was derived from docker only:

[code]
We can then have flags which add additional context:
 - `-v` verbose
 - `-vv` more verbose
 - `-vnode` print node IP of source and destination node
 - `--payload LEN` print LEN bytes of packet payload

[2017-07-02 02:02] bobrik commented on #981
@borkmann, great debugging! @rlguarino was doing his tests on SolarFlare NICs, so it's not `ixgbe`.

[2017-07-02 08:22] borkmann commented on #981
Ok, thanks for letting me know @bobrik. I'll continue to debug this next week, there's likely still something I'm missing. ;) Will get back once I have some more details.

[2017-07-03 11:13] borkmann commented on #909
For 4.13:

https://git.kernel.org/pub/scm/linux/kernel/git/davem/net-next.git/commit/?id=2be7e212d5419a400d051c84ca9fdd083e5aacac

Tested with clsact, ingress+egress to "decap"/"encap" 8bytes custom IP options with BPF. Node to node (nfp <-> nfp) single stream performance was about 15Gbit/s with GRO/GSO on iperf3 w/o special tuning.

[2017-07-03 11:16] borkmann commented on #1010
https://git.kernel.org/pub/scm/linux/kernel/git/davem/net-next.git/commit/?id=43188702b3d98d2792969a3377a30957f05695e6
https://git.kernel.org/pub/scm/linux/kernel/git/davem/net-next.git/commit/?id=6d191ed40d8d84ef0045cd44c75c63770e250f2d

[2017-07-03 11:16] #1010 closed, assigned to borkmann

[2017-07-03 11:41] borkmann commented on #994
Done, for 4.13 (see #909 for further details): https://git.kernel.org/pub/scm/linux/kernel/git/davem/net-next.git/commit/?id=2be7e212d5419a400d051c84ca9fdd083e5aacac

[2017-07-03 11:41] #994 closed, assigned to nobody

[2017-07-03 12:23] tgraf commented on #1059
The failing test is `tests/03-docker.sh`. The reason for the random test failure is that we hit the timeout when TCP gives up if we have not resolved labels and calculated policy in time. This happens because we launch `netperf` like this: `docker run [...] netperf [...]`

Adding a simple `sleep 3s && netperf` resolves the issue on my machine. Another option is to convert the test to use `docker r

[2017-07-03 13:39] tgraf opened #1070 "Leftover VM in jenkins"
https://jenkins.cilium.io/job/cilium/job/cilium/job/PR-1064/4/execution/node/23/log/

[code]

[2017-07-03 13:40] aanm commented on #1070
It's related with https://github.com/cilium/cilium/issues/1047

[2017-07-03 15:00] #1059 closed, assigned to nobody

[2017-07-03 18:45] tgraf opened #1072 "Allow multiple listeners to cilium monitor"
Cilium monitor currently reads directly from the perf ring buffer which allows a single reader only

- [ ] Come up with a concept which allows multiple listeners to register and then all receive the messages
- [ ] Make `cilium monitor` a consumer of that interface

[2017-07-04 18:09] borkmann commented on #909
I get from 15 to 23Gbit/s for single stream if the receiver side does the IP option extraction in XDP, and then passes the packet up the stack. Reason is that while options work for GSO, turns out normal GRO engine has a check in fast path in `inet_gro_receive()` to stop aggregation on `if (*(u8 *)iph != 0x45)`. We could probe in cilium if the driver supports native XDP (which major 10/40G do) and

[2017-07-04 19:55] #1049 closed, assigned to nobody

[2017-07-04 23:07] jrfastab commented on #909
On 07/04/2017 11:09 AM, Daniel Borkmann wrote:

I also need a probe for the load balancer code as well. So once that is in
place we will "know" if the NIC has support for XDP or not.

[2017-07-05 16:56] jrfastab commented on #952
closing tests included now with 10-proxy tests. "d19768cf9  cilium: add test for lb + proxy"

[2017-07-05 16:56] #952 closed, assigned to jrfastab

[2017-07-05 17:20] ianvernon commented on #1070
That is correct - #1045 fixes this issue. I am actively checking the state of the Jenkins slaves until it is merged to keep things running smoothly.

[2017-07-05 17:39] ianvernon opened #1082 ""cilium config" output should reflect whether PolicyEnforcement is 'true', 'false', or 'default' for daemon"

[2017-07-05 19:17] ianvernon opened #1084 "k8s-gsg-test is failing due to Cilium daemon crashing"
[code]

[2017-07-05 19:22] ianvernon commented on #1084
Looks like the test is using K8s version 1.7 now:
[code]
will try with 1.6 and see if this continues to occur

[2017-07-05 20:23] ianvernon commented on #1084
Tests have passed on master recently using 1.7 versions of K8s: https://jenkins.cilium.io/job/cilium/job/cilium/job/master/397/execution/node/23/log/?consoleFull
:
[code]

[2017-07-05 20:27] ianvernon commented on #1084
Looks like it started failing in master at this build: https://jenkins.cilium.io/job/cilium/job/cilium/job/master/398/console .

Commit associated with the build:
[code]

[2017-07-06 00:54] tgraf commented on #1084
This should be resolved in #1085

[2017-07-06 08:27] #693 closed, assigned to aalemayhu

[2017-07-06 18:48] #839 closed, assigned to aanm

[2017-07-06 22:16] ianvernon commented on #1005
#1046 does not change which labels are stored, just where they are stored (endpoint structure vs. container structure). This means that the pod name will not be stored in the endpoint, as it is a label that we ignore (see `pkg/labels/filter.go:defaultLabelPrefixCfg()`). We need a way to obtain this information that is not coupled with the labels themselves, as we need to filter out certain labels

[2017-07-06 22:35] #989 closed, assigned to tgraf

[2017-07-06 22:35] #313 closed, assigned to tgraf

[2017-07-06 22:35] #972 closed, assigned to tgraf, aanm

[2017-07-06 22:52] ianvernon commented on #1084
Closed, master builds have been stable since #1085 was merged.

[2017-07-06 22:52] #1084 closed, assigned to nobody

[2017-07-06 22:52] ianvernon commented on #680
This was done as part of #1020 .

[2017-07-06 22:52] #680 closed, assigned to ianvernon

[2017-07-06 22:54] tgraf commented on #1005
General remark: Would be great if the functionality that you are writing here is done in `pkg/` so we can also use it from `cilium monitor` afterwards to run `cilium monitor --related-to pod-x`

What I had in mind is the following: User queries `pod-name` and cilium will query the k8s API server to search for the pod and retrieve the spec including the labels. It's basically the same as reading fr

[2017-07-07 00:44] tgraf opened #1095 "cmd/service_list.go:90: undefined: sort.Slice"
**Problem:**
[code]

**Solution:**
Update to golang >=1.8.3

[2017-07-07 00:44] #1095 closed, assigned to nobody

[2017-07-07 11:20] aalemayhu commented on #743
Addressed in 76be5f7bf965 (BPF init: Check that cilium is present on the path fix #742 #743, 2017-06-02)

[2017-07-07 11:20] #743 closed, assigned to nobody

[2017-07-07 20:45] bobrik commented on #981
Not sure if that matters, but we're running on boded interface (2x10G):

[code]

[2017-07-07 21:17] #1004 closed, assigned to ianvernon

[2017-07-07 21:17] #1040 closed, assigned to ianvernon

[2017-07-07 21:17] #1047 closed, assigned to ianvernon

[2017-07-08 08:16] tgraf commented on #1022
@aanm How did you reproduce this?

[2017-07-08 08:18] tgraf commented on #326
WIP in PR #999

[2017-07-08 08:21] tgraf commented on #1007
We just merged the new encapsulation mode with #1020. The existing direct mode is still as-is and is what ou would want to use in combination with BGP.

[2017-07-09 21:01] ianvernon commented on #1070
Closed as this was fixed as part of #1045 .

[2017-07-09 21:01] #1070 closed, assigned to ianvernon

[2017-07-10 10:36] tgraf commented on #1001
- Normal networking operations continue
- If policy enforcement is enabled: you lose the ability to add additional pods which belong to security identities which are unknown on the node
- If services are enabled: you lose the ability to add additional services/loadbalancers

If it doesn't, it's a bug.

There is no strict time. We plan to introduce TTL/Leases for keys to automatically expire state

[2017-07-10 10:37] tgraf commented on #966
@aanm Can you summarize what is still missing to support this?

[2017-07-10 10:39] tgraf commented on #834
Closing, please reopen when the issue occurs again and when a log can be provided.

[2017-07-10 10:39] #834 closed, assigned to nobody

[2017-07-10 10:40] tgraf commented on #669
Fixed in #1020

[2017-07-10 10:40] #669 closed, assigned to nobody

[2017-07-10 10:40] #667 closed, assigned to nobody

[2017-07-10 10:41] tgraf commented on #960
Fixed in #1020

[2017-07-10 10:41] #960 closed, assigned to nobody

[2017-07-10 10:43] #831 closed, assigned to aanm

[2017-07-10 10:46] tgraf commented on #817
We are currently integrating with envoy proxy which will bring grpc and http/2 support.

[2017-07-10 11:02] tgraf opened #1099 "Test flake: Unexpected connectivity between host and server after policy"
[code]

[2017-07-10 11:05] aanm commented on #1099
Do you think it's related with the two previous errors: `panic: runtime error: cgo argument has Go pointer to Go pointer`?

[2017-07-10 13:22] tgraf commented on #1099
No, that's harmless. That is cilium monitor crashing.

[2017-07-10 16:30] #1022 closed, assigned to aanm

[2017-07-10 16:49] tgraf commented on #909
This requires the new `skb_adjust_headroom` helper which will be released in 4.13. Will wait for the kernel to be released first.

[2017-07-10 17:11] aanm commented on #915
From the cilium meeting my understanding is that you don't want to see any holes in the available security IDs assigned. If that's correct we might have a problem:

Assuming something happens to the cilium-agent, the containers on that host will have some security ID associated, `foo=bar => 1`. If the cilium-agent never comes up after, for example, an hour, we might end up with conflicting IDs ass

[2017-07-10 21:55] tgraf commented on #915
How is this related to having holes in the allocation map or not? This is a generic problem in how we do reference counting. The TTL should probably be longer than an hour. Can you think of an alternative?

[2017-07-11 19:04] #285 closed, assigned to aalemayhu

[2017-07-11 19:44] aalemayhu opened #1104 "ARM support for Cilium"
There is probably more issues to address, but some of the ones I noticed / potential

- New Docker images for ARM
- Fix any ARM specific issues from the Go vendor dependencies.
- Fix header issues, for example `gnu/stubs-32.h`.

[2017-07-11 20:37] aalemayhu commented on #1104
Just tried to run on packet.net (machine Type 2A) using Ubuntu 17.04.
Some issues observed

- The Go project does not offer a aarch64 binary, so needed
to compile Go. Which took some minutes.
- The docker install script at https://get.docker.com does not support aarch64,
but not big issue since local package manager.
- Compile errors, see output below. Not sure how to fix these since gcc-multilib

[2017-07-11 20:53] aalemayhu commented on #746
Suspect this is fixed, if not please re-open.

[2017-07-11 20:53] #746 closed, assigned to aalemayhu

[2017-07-11 23:25] rlguarino opened #1106 "Cilium starves itself of service IPs"
Cilium seems to have used all of the service IDs it can. I haven't generated 64K unique services on the K8s cluster, at most it would be less than 100 but somehow 65K IDs have been allocated in Etcd. When a new service is created now it can't find an ID and the service fails to end up in ciluim service list. The cilium agent tried to find an ID forever.

Over the weekend cilium was without access

[2017-07-11 23:30] rlguarino commented on #1106
@tgraf I'm going to try wiping etcd and trying again, before I do that is there something you would like me to do?

[2017-07-12 12:52] #966 closed, assigned to aanm

[2017-07-12 12:58] aanm commented on #966
@michi-covalent to enforce the policies on a different namespace one should specify the namespace in the policy. This was implemented in the PR #1103 so make sure you're running the latest cilium image.

For example, the following CNP
[code]

Will be translated into:
[code]

[2017-07-12 13:11] tgraf commented on #1052
Fixed by #1020

[2017-07-12 13:11] #1052 closed, assigned to ianvernon

[2017-07-12 14:41] aanm commented on #1106
One a first look it seems the problem was cilium lost connection with one of the etcd masters and it didn't round robin to the next one. I'll set up a 3 node cluster to check if that's the case.

[2017-07-12 14:46] rlguarino commented on #1106
I stopped all cilium agents, deleted everything in the `--prefix` cilium-net and restarted the agents and it's working again.

A sample of the values in Etcd before I deleted them. Seems like it was all the same service/port over and over again.
[code]

[2017-07-12 15:04] tgraf commented on #1106
Go ahead and wipe it. There must be an error in the logic to re-acquire a serviceID for an identical service.

[2017-07-12 15:36] borkmann commented on #981
( Potentially related: https://github.com/moby/moby/issues/33115 )

[2017-07-12 15:38] borkmann commented on #981
@rlguarino Can you observe the same issue with k8s when cilium is not used at all?

[2017-07-12 19:21] tgraf opened #1110 "Security identity propagation through egress proxy"
When an egress proxy is configured. Packets are redirected to the proxy. The proxy will terminate the connection and open the 2nd connection. Packets on the 2nd connection will not have the proper security identity in the packet headers by default.

[2017-07-13 12:50] #891 closed, assigned to eloycoto

[2017-07-13 19:50] tgraf opened #1117 "Sporadic jenkins failures"
[code]