[2018-03-14 11:33] aanm opened #3133 "Deprecate k8s 1.6 from ginkgoAll"

[2018-03-14 11:55] vadorovsky commented on #2511
@aanm sure, let's close it

[2018-03-14 11:56] #2511 closed, assigned to eloycoto, aanm

[2018-03-14 12:48] eloycoto commented on #3116
Added this PR to help in further debugging:
https://github.com/cilium/cilium/pull/3135

[2018-03-14 14:29] tgraf commented on #3116
The Kafka broker may take a while to become ready after the pod has been up.

[2018-03-14 15:23] tgraf opened #3137 "Document downgrade compatibility and instructions"
We should first document the current steps, and then decide if this requires additional development work to get to a process we are happy with.

We should also document how to know if it is "safe" to do a particular downgrade/upgrade".

[2018-03-14 15:25] aanm commented on #3137
We need it to add to CI as well

[2018-03-14 15:26] tgraf opened #3138 "Document upgrade compatibility with regard to future versioning"
Document the different upgrade compatibility guarantees:
 1. Upgrade is possible while also restoring all endpoints
 2. Upgrade is possible but requires to restart networking of workloads (Instructions needed)
 3. Upgrade is possible but requires additional steps, e.g. removal of certain BPF maps.

[2018-03-14 17:29] manalibhutiyani opened #3141 "Test Kafka proxy with multiple brokers/replicas?"

[2018-03-14 18:04] jrfastab commented on #3141
Yes, also multiple topics is needed iirc.

[2018-03-14 20:51] rlenglet opened #3144 "Report the policy revision applied in the Envoy proxy"
- [x] Add a `proxyPolicyRevision` into `Endpoint`, to report the policy revision that has been been ACKed by the endpoint's Envoy proxy (which may be in a sidecar).
- [x] Extend the `Endpoint` API model to add a corresponding `ProxyPolicyRevision` to report that in the `cilium endpoint get` API/CLI.
- [x] Register an ACK observer for the NPDS protocol, to listen for ACKs from Envoy. (https://githu

[2018-03-14 21:32] ianvernon opened #3145 "pkg/k8s: fix logic in parseNetworkPolicyPeer"
See: https://github.com/cilium/cilium/pull/2878#discussion_r173581811

[2018-03-14 21:36] joestringer opened #3146 "Loosen restriction on allowing rules for default CIDR (/0)"
These restrictions prevent default CIDRs from allowing all traffic:

https://github.com/cilium/cilium/blob/3157e9ad5a27b55a32c7add7426bd036ebf83bb0/pkg/policy/api/rule_validation.go#L308-L312

https://github.com/cilium/cilium/blob/3157e9ad5a27b55a32c7add7426bd036ebf83bb0/pkg/policy/rule_test.go#L651-L657

The datapath supports such CIDRs, we should be able to fix these up to support them too witho

[2018-03-14 21:41] joestringer opened #3147 "Ginkgo: Unknown flag: --timestamps"
Seen in `k8s-1.9.NightlyExamples Cilium DaemonSet from example K8sValidated Updating Cilium stable to master`:

[code]

Looks like maybe you can't combine `--timestamps` with `--previous`?

[2018-03-14 22:43] tgraf commented on #3147
I guess the arguments need to be specified *after* `logs`?

[2018-03-14 22:45] tgraf opened #3148 "Test flake: runtime.RuntimeValidatedMonitorTest"
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1256/testReport/(root)/runtime/RuntimeValidatedMonitorTest_With_Sample_Containers_Cilium_monitor_verbose_mode/

[2018-03-15 05:09] #2722 closed, assigned to ianvernon

[2018-03-15 12:35] raybejjani commented on #3093
I'm not sure how to enforce this. The calls to start informers and event handlers don't seem to return errors, or even have a way to check an error. We also don't seem to have any errors returned in the callbacks we pass in. I'll try to find a good way to detect a catastrophic failure in parsing k8s and report that.

All places we call kvstore.Setup are already fatal (https://github.com/cilium/cil

[2018-03-15 17:10] tgraf commented on #3148
Fixed by: https://github.com/cilium/cilium/pull/3139

[2018-03-15 17:10] #3148 closed, assigned to nobody

[2018-03-15 17:57] raybejjani commented on #3093
So, we exit(1) from `cilium status` when the agent state is not OK. This is set server-side after it checks the k8s state (Along with kvstore and container runtime). The k8s state relies on ComponentStatus which I hope contains all the watchers and whether they have errors. I'll verify this in a little bit.

[2018-03-15 18:38] manalibhutiyani opened #3152 "GinkgoRuntime CI: Avoid possible race between Kafka consume and produce"
In Kafka runtime tests we start the consumer in a different background thread and then produce after that. There is a possible race here if consume is still executing...

[code]

Parent issue : #3116

[2018-03-15 20:53] manalibhutiyani opened #3155 "Add a WaitKafkaBroker to wait for Kafka broker to be up before trying to produce/consume to it."
Parent:
#3116

Related:
#3152

[2018-03-15 21:06] #3152 closed, assigned to manalibhutiyani

[2018-03-15 21:41] manalibhutiyani opened #3157 "Kafka: Increase session timeout for zookeeper connection"
The standard session timeout of 6s is often not long enough when the broker
starts. Increasing this to 20s increases the reliability.

[2018-03-15 21:42] manalibhutiyani commented on #3157
We need to change the yaml to use this:

[code]

[2018-03-15 22:50] tgraf opened #3159 "Log is full of not adding entry to ip cache; error unmarshaling data from key-value store" error="unexpected end of JSON input" value="[]""
[code]

[2018-03-16 00:56] ianvernon opened #3160 "proposal: make daemon configuration a singleton object in its own package"
The daemon has a `Config` structure which contains configuration information passed through the CLI, and which is updatable during runtime by running commands like `cilium config`. Because this `Config` is part of the daemon package, other packages (e.g., `pkg/endpoint`) which need to access it have to do so through the `Owner` interface. This interface is cumbersome to use. I'd like to see if we

[2018-03-16 01:17] tgraf opened #3161 "Controller backed BPF map sync for global maps"
We have a lot of code which synchronizes state to BPF maps based on events. There is no error retry on failure. All of this code will benefit from a generic layer that does:

1. Run a controller to retry on failure to update/delete
2. Periodically verifies that the in-memory state matches the BPF map state
3. Provide status of updates via the controller status
4. Bump a revision on implementation

[2018-03-16 02:32] ianvernon commented on #3160
What are other things we could extract as singletons into separate packages? For instance, I don't see a need for the daemon to have its own policy repository; this could also be a singleton that is part of the policy package.

[2018-03-16 02:44] tgraf opened #3162 "Star Wars Demo is broken in rc7"
* https://github.com/cilium/star-wars-demo/tree/master/v2 is broken in at least rc7
* it works fine on rc5.
* Policy is loaded, shows up in `cilium policy get` but is not enforced correctly
* It looks like an L7 wildcard is taking place

Policy
[code]

[2018-03-16 03:16] ianvernon commented on #3162
We need to do two things:

- [x] #3163 : add this demo to the CI so it never breaks again.
- [x] this ticket: fix the underlying issue / figure out why the current CI didn't catch this (i.e., what policy tests are we missing?)

[2018-03-16 03:17] ianvernon opened #3163 "CI: add star wars demo test"
See #3161.

[2018-03-16 08:57] #3122 closed, assigned to joestringer

[2018-03-16 08:57] #3144 closed, assigned to joestringer

[2018-03-16 16:01] eloycoto commented on #3016
@ianvernon  duplicated by https://github.com/cilium/cilium/issues/2843?

[2018-03-16 16:02] eloycoto commented on #2841
Duplicated by https://github.com/cilium/cilium/issues/2843?

[2018-03-16 16:04] eloycoto commented on #2608
Hi @joestringer  this was fixed by:

https://github.com/cilium/cilium/pull/3139

Regards

[2018-03-16 16:04] #2608 closed, assigned to nobody

[2018-03-16 16:06] eloycoto commented on #3109
Duplicate of https://github.com/cilium/cilium/issues/2119

[2018-03-16 16:07] eloycoto commented on #2119
Some work related with this task:

PR: https://github.com/cilium/cilium/pull/3059
New issue: https://github.com/cilium/cilium/issues/3109

[2018-03-16 16:07] #2119 closed, assigned to nobody

[2018-03-16 16:20] eloycoto opened #3168 "CI: Added stable branch in NightlyTest"

[2018-03-16 16:32] raybejjani commented on #2936
@tgraf Can you tell me if you trigger this in a particular way? the "No workload could be associated" is likely for the health endpoint. The following warnings and errors I'm not clear on. The "Unable to release identity of endpoint" happens when removing an endpoint (in LeaveLocked) so that suggests that endpoint was deleted in some way. I wonder if you restarted during a pod delete.

[2018-03-16 16:45] ashwinp opened #3172 "proxymap full (CT: Map insertion failed)"
## Bug reports

### Title

CT: Map insertion failed errors in `cilium monitor` output

### General Information

- Cilium version (run `cilium version`)
Client: 0.13.13 c31ac13 2018-03-08T21:15:13+01:00 go version go1.9 linux/amd64
Daemon: 0.13.13 c31ac13 2018-03-08T21:15:13+01:00 go version go1.9 linux/amd64
- Kernel version (run `uname -a`)
4.11.9-coreos
- Orchestration system version in use (e.g

[2018-03-16 17:28] ashwinp opened #3174 "Incorrect usage instructions in cilium bpf CLI help"
## Bug reports

### Title

Incorrect usage instructions in cilium bpf CLI

### General Information
The usage does not mention anything about the ID/global flag, and the flags are listed as optional.

[code]

Executing this command leads to the following error:
[code]

[2018-03-16 17:46] joestringer opened #3175 "Failed regeneration files `XXXXX_next_fail` may stick around after regeneration"
In a recent bugtool output, I saw state directories for failed regenerations where the endpoint no longer exists.

https://github.com/cilium/cilium/blob/2b74d2e198a87a54763606399864374bb5b7326f/pkg/endpoint/policy.go#L846

When the endpoint is deleted, we should clean up this directory.

[2018-03-16 18:18] joestringer opened #3176 "DROP_CT_CREATE_FAILED is used for drops due to proxy map being full"
https://github.com/cilium/cilium/blob/2b74d2e198a87a54763606399864374bb5b7326f/bpf/lib/lxc.h#L138

It should have a separate error code.

Other proxymap issues:
* [x] Output of this command is missing from bugtool
* [x] There is no flush debug command
* [x] CLI output suggests that command is optional

[2018-03-16 18:18] joestringer opened #3177 "Cilium policy get missing from bugtool"
Add `cilium policy get` to debuginfo / bugtool

[2018-03-16 18:21] ianvernon commented on #3177
Should this be opt-in from the user side? I'm wondering if we want output of policy to be included by default, or if we can make such information opt-in by adding it to the config file passed into bugtool.

[2018-03-16 18:22] joestringer opened #3178 "Improve documentation of bugtool usage with k8s"
http://docs.cilium.io/en/latest/troubleshooting/#single-node-bugtool

We should highlight in the docs how cilium-bugtool should be invoked in k8s environments to gather all relevant information, and make this crystal-clear. Currently the natural thing is to try to invoke it within a k8s pod, but then we are missing cilium logs.

[2018-03-16 18:35] joestringer commented on #3172
Issue is proxymap becoming full, log message shows up as conntrack update failure due to #3176.

We need to look at garbage-collection of proxymap entries.

[2018-03-16 18:41] joestringer commented on #3177
We currently tell people in the documentation that if there's anything sensitive then they should vet the output before posting it somewhere public. IMHO it's pretty clear in the documentation, so I think it's worth including everything that's relevant for debug. Otherwise there ends up being a bunch of back-and-forth attempting to get all the information we need to dig into an issue.

[2018-03-16 18:46] eloycoto opened #3179 "Test flake: k8s-1.9.K8sValidatedPolicyTest Basic Test tests PolicyEnforcement updates"
Log attached:
[code]

[test_results.zip](https://github.com/cilium/cilium/files/1820438/test_results.zip)

[2018-03-16 19:14] manalibhutiyani opened #3180 "Add additional protection in Kafka GSG yamls"
Similar to #3158

[2018-03-16 20:47] tgraf opened #3182 "Delete map on open if metadata mismatches"
Delete map prior to opening with a warning if metadata such as size or type does not match existing map. This allows to change the format of maps at the cost of losing some state.

[2018-03-16 20:55] tgraf commented on #3093
I think there is an error handler which was used to restart some of the watchers on error. The watcher itself will just restart on error I think.

[2018-03-16 21:21] joestringer opened #3183 "Sending xDS response ... message is too verbose"
@rlenglet The below log seems a bit high log level, no?

https://github.com/cilium/cilium/blob/9e0db26f6c650a36bb4ffdfa1dadab34a1ed9395/pkg/envoy/xds/server.go#L385

[2018-03-16 21:30] rlenglet commented on #3183
I'm fixing this in https://github.com/cilium/cilium/pull/3131/commits/fd43e84bd702066ce7965d14321e590662b58387.

[2018-03-16 22:07] joestringer commented on #3147
I'm seeing successful invocations in more recent k8s 1.9 test runs, so I'll close this for now. If we see it again, we can reopen and investigate.

[2018-03-16 22:07] #3147 closed, assigned to nobody

[2018-03-16 22:08] joestringer commented on #3172
Two areas to follow up:
* [x] proxymap entries timeout is 1 day. Issue #3181 lowers this to 5 minutes.
* [ ] Use LRU for proxymap

[2018-03-16 22:11] joestringer commented on #2583
No longer observing this since CT changes were merged. Closing.

[2018-03-16 22:11] #2583 closed, assigned to nobody

[2018-03-16 22:19] joestringer commented on #2584
These seem to be directly based upon the values on the wire, so even though it looks strange the CLI code appears correct. Closing.

[2018-03-16 22:19] #2584 closed, assigned to nobody

[2018-03-16 22:20] joestringer commented on #2415
@eloycoto does this need further triage, or do you think it's fixed? Has this been seen recently?

[2018-03-16 22:50] manalibhutiyani opened #3184 "update Kafka GSG to new Kafka "Roles""
Currently blocked on cilium.yaml daemonset not pointing to rc7 (it points to stable which does not have this feature)

[2018-03-17 00:19] #3163 closed, assigned to ianvernon

[2018-03-17 00:55] tgraf opened #3187 "Do not include URI params in the URI path"
The provide url.URL is not valid

[2018-03-17 01:48] ashwinp commented on #3172
The problem appears to be exclusively with kafka in this case.
[code]

[2018-03-17 02:05] tgraf commented on #3172
I think what we are seeing here is a massive number of sequential connections. The proxy layer does not remove the proxymap entry on connection closure, it relies on the GC.

LRU will relieve this but even better is to remove the proxymap entry when we close the connection on the proxy side.

[2018-03-17 02:09] tgraf commented on #3172
[code]

Is the portReleseDelay too long? We could clean up the proxymap sooner

[2018-03-17 02:32] #2951 closed, assigned to nebril

[2018-03-17 10:13] #3187 closed, assigned to tgraf

[2018-03-17 10:27] tgraf commented on #2936
@raybejjani Any agent restart (even single node) with an existing endpoint that requires restoring during bootstrapping triggers this for me.

[2018-03-17 12:48] tgraf opened #3191 "envoy: Remove proxymap entry after connection closing"
Envoy equivalent for #3190

[2018-03-17 19:17] manalibhutiyani commented on #3118
PR Out for review. Needs approval.
https://github.com/cilium/cilium/pull/3186

[2018-03-18 07:51] ishantanu opened #3192 "Unable to provision dev environment using Vagrant"
## Bug reports

### Title

Unable to provision development environment using Vagrant

### General Information

While running `contrib/vagrant/start.sh`, the script ends abruptly.

The VM gets created but error is reported while the script runs.

Error description on running `start.sh`:
[code]
It looks like something's causing this error while executing inline-scripts.

- Kernel version: Linux 4.4.

[2018-03-18 12:04] #3174 closed, assigned to joestringer

[2018-03-18 12:04] #3176 closed, assigned to joestringer

[2018-03-19 08:46] eloycoto commented on #3192
I can not reproduce.

[2018-03-19 09:26] eloycoto commented on #3179
Fixed by https://github.com/cilium/cilium/pull/3189

[2018-03-19 09:26] #3179 closed, assigned to eloycoto

[2018-03-19 09:54] #3159 closed, assigned to ianvernon

[2018-03-19 10:20] #3155 closed, assigned to manalibhutiyani

[2018-03-19 10:20] #3116 closed, assigned to manalibhutiyani

[2018-03-19 10:57] raybejjani commented on #3192
Based on this error `]]' to conditional binary operator`, this might be a bash vs non-bash shell issue (I think `]]` is a bash construct). @eloycoto is that script running on the host?
@iamShantanu101 is your shell a bash? Could you share the version of Vagrant you're using, and the host ubuntu?

[2018-03-19 12:07] #3172 closed, assigned to joestringer

[2018-03-19 13:59] raybejjani commented on #3160
I’m generally not keen on globally shared fields, in particular the package as an object pattern. This is mostly because it makes parallel testing harder but this can be solved by having a singleton object in the package instead (and passing that about or calling functions on it). More insidiously, global variables also hide relationships between parts of a program (over time as well as space) mak

[2018-03-19 15:36] eloycoto opened #3197 "Cilium died when policy was applied"
Happens on Runtime Policies L7:

The cilium log is the following:
[code]

[RuntimeValidatedPoliciesL7Checks.zip](https://github.com/cilium/cilium/files/1825627/RuntimeValidatedPoliciesL7Checks.zip)

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1765/

All data attached.

[2018-03-19 15:58] tgraf commented on #3197
I love the comment above it:

[code]

[2018-03-19 15:59] #3162 closed, assigned to ianvernon

[2018-03-19 16:52] tgraf commented on #2616
Fixed

[2018-03-19 16:52] #2616 closed, assigned to jrajahalme

[2018-03-19 17:38] #3081 closed, assigned to nobody

[2018-03-19 18:12] ianvernon opened #3200 "pkg/maps: create Map interface for mocking"
Currently, there is the type, `pkg/bpf/map.go:Map`. This type has functions which perform syscalls to perform lookup / modify operations on BPF maps, which thus introduces a runtime dependency (kernel) in order to test its functionality. To make checking of maps easier to test, create a map interface in `pkg/bpf` which can have separate implementations (the current one for runtime testing / actual

[2018-03-19 22:53] manalibhutiyani commented on #2910
Question about item 1
`Write Ginkgo tests to validate L7 record creation for test app with and without policy enforcement`
Just want to confirm that this means testing creation of access log records with and without policy.
I think we do not have an api in place to know the access log location. Wondering does this need to be supported first, or go via the unix-socket way or something else in ginkg

[2018-03-19 23:53] tgraf opened #3203 "Test flake: K8sValidatedPolicyTestAcrossNamespaces"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1401/testReport/k8s-1/9/K8sValidatedPolicyTestAcrossNamespaces_Policies_Across_Namespaces/

[code]

[2018-03-20 00:14] joestringer commented on #3203
[code]

[2018-03-20 00:25] tgraf commented on #3203
Is this causing the failure itself or is just an error in the log? The cause is pretty obvious.

[2018-03-20 02:06] tgraf opened #3206 "not adding entry to ip cache; error unmarshaling data from key-value store"
There are a lot less now but I can still see them:

[code]

Pod is a regular workload:
[code]

[2018-03-20 03:28] ianvernon commented on #3206
Do you have more extensive logs for this, including for the controllers which update the key-value store with the IP-identity mapping?

[2018-03-20 04:07] rlenglet opened #3208 "conntrack: updateCT doesn't delete update entries' proxy ports when importing L7 policy"
The test named `Testing L3-L4-L7 policy while the L3-L4 connection was previously made to confirm L3-L4-L7 policy enforcement over the proxy with the same source port` sometimes fails.
The reason is that importing the L7 policy doesn't result in the conntrack entries for the previous connections to be removed from the map.
This can be easily confirmed by adding those checks:
[code]

When the test

[2018-03-20 05:02] ianvernon commented on #3208
The entries shown have a non-zero value for the proxy port - if it is L3-L4 connections without  L3-L4-L7 with policy, shouldn't the CT table output show a zero-value for the proxy port?

[2018-03-20 05:15] jrajahalme commented on #3208
@ianvernon The logs above are after a new policy with L7 redirect has been installed,  it before any traffic has been sent through it.

[2018-03-20 05:30] ishantanu commented on #2973
@joestringer I am willing to help on this.

[2018-03-20 08:48] tgraf commented on #2973
Cool, go for it.

[2018-03-20 12:12] ishantanu commented on #2973
I am not able to reproduce this on a new VM. For me, it is appearing just once.
[code]
However, one doubt is that why `-i` was not used here in `bpf/init.sh`:
[code]

Whereas, in other places, (in `bpf/init.sh`) in place editing is used while using `sed`.

[2018-03-20 13:39] tgraf commented on #2973
@iamShantanu101 Does it reproduce if you restart Cilium?

[2018-03-20 15:39] eloycoto commented on #3203
Fixed by https://github.com/cilium/cilium/pull/3209

[2018-03-20 15:39] #3203 closed, assigned to eloycoto

[2018-03-20 17:18] joestringer commented on #2973
Looking at the code below, I don't really see how it could be defined multiple times. If this issue can't be reproduced, we can just close it.

[code]

[2018-03-20 17:26] ishantanu commented on #2973
Totally agreed. That was the same thing I thought when I first looked up at the code.

[2018-03-20 17:39] joestringer commented on #2973
@iamShantanu101 ah, maybe you're right with the '-i':

[code]

Would you mind submitting a patch to add that parameter?

[2018-03-20 17:43] ishantanu commented on #2973
@joestringer Sure will do that. Without `-i`, the output will be returned to console (which will not impact the actual file). I'll do this.

[2018-03-20 17:57] jrajahalme commented on #3208
Looking at `pkg/endpointmanager/conntrack.go`, maybe the proxy ports were updated as part of the updateCT(). Maybe the intention is not to remove the CT entries in this case, but to update them instead. I'm running the test again without the added check for 0 CT entires between client/server.

[2018-03-20 17:59] rlenglet commented on #3208
Maybe the update of the entries fails in some cases?

[2018-03-20 18:46] #3197 closed, assigned to tgraf

[2018-03-20 19:27] #3118 closed, assigned to manalibhutiyani

[2018-03-20 19:31] #2843 closed, assigned to eloycoto

[2018-03-20 19:39] ianvernon commented on #3208
Yeah, seems like the logic in `ResetProxyPort`is to update the ConnTrack entries to contain the new proxy port, which then has traffic sent to the proxy:

`pkg/maps/ctmap/ctmap.go`:

[code]

This entry is then updated in the CT table in `pkg/maps/ctmap/ctmap.go:doGC4` and `pkg/maps/ctmap/ctmap.go:doGC6`, so checking the zero entries in the CT table after adding the L3-L4-L7 policy is incorrect.

[2018-03-20 19:43] jrajahalme commented on #3208
OK, ran the test again, now a earlier test failed, but similar symptoms. nc goes through bypassing the proxy after the L7 policy is instantiated. The proxyport in the CT is 0:

[code]

This goes through, bypassing the proxy:
[code]

`f00d::a0f:0:0:6035` is the client, 50927 is it's security ID.

Based on this we know the test, bpf datapath and proxy are functioning as intended, and it is a problem

[2018-03-20 20:55] tgraf opened #3219 "Bring down flannel interface if intent is to replace CNI plugin"
Several users are running into the problem that flannel keeps a VXLAN device in metadata mode around which prevents Cilium from spinning up.

[2018-03-20 20:56] #2936 closed, assigned to raybejjani

[2018-03-20 21:06] joestringer commented on #2973
Great, thanks!

[2018-03-20 22:57] jrajahalme commented on #2603
Closed via #2974

[2018-03-20 22:57] #2603 closed, assigned to jrajahalme

[2018-03-21 10:11] #2973 closed, assigned to nobody

[2018-03-21 12:25] tgraf commented on #2371
Work done in https://github.com/cilium/microscope

[2018-03-21 12:25] #2371 closed, assigned to nebril

[2018-03-21 12:28] tgraf commented on #1591
Fixed

[2018-03-21 12:28] #1591 closed, assigned to jrajahalme

[2018-03-21 16:04] tgraf opened #3230 "Missing L3 wildcard if `[]From` is empty but `[]Ports` is set"

[2018-03-21 16:06] tgraf opened #3231 "Missing L4 wildcard if L4 is ommited"
The following rule:
[code]

Should also wildcard all L4 but it currently doesn't.

[2018-03-21 16:09] tgraf opened #3232 "Aggressively clean conntrack table for SYN only connections"
In a SYN flood or repeated failed connection connection attempt. The conntrack is flooded with entries that have never seen a reply. The same expiration rules apply.

This puts a lot of stress on the capacity of the table for no reason. The long expiration time is meant to protect long lasting connections. If a connection has never seen a reply, expiration can occur in a much more aggressive manne

[2018-03-21 17:18] eloycoto commented on #3192
@iamShantanu101 This finally was fixed no?

[2018-03-21 17:20] ishantanu commented on #3192
@eloycoto Yes, it's working now. This can be closed.

[2018-03-21 17:24] #3192 closed, assigned to nobody

[2018-03-21 17:42] ianvernon opened #3233 "CI: more logs from various cilium-related processes for easier debugging"
- [x] Gather Cilium-Envoy logs as part of CI runs
    - Cilium-Envoy logs are not picked up as part of CI currently. We need to be able to get these logs for triaging proxy-related issues. Long-term solution is to redirect Cilium-Envoy logs to be owned by the parent Cilium process so that we can have Cilium-Envoy logs inline with Cilium logs, and to have them gathered as part of the bugtool.
    -

[2018-03-21 17:59] eloycoto opened #3235 "Test: AfterAll is executed two times on focused test"

[2018-03-21 18:06] joestringer opened #3236 "Update CT timeouts for ICMP response entries"
Currently, when we create conntrack entries we create corresponding ICMP tuples for the reverse traffic. However, when we receive traffic for either conntrack tuple of the original connection or reply, we don't update the timeouts for ICMP entries, so if you have really long lived connections it is likely that we will fail to forward related ICMP packets after the initial timeout expires.

Issue #

[2018-03-21 18:16] ianvernon opened #3237 "CI: check status of Docker-related commands"
In a lot of tests, we do not check the results of Docker-related commands. For example, in `test/helpers/docker.go`:
[code]

We should check the results of the functions `ContainerCreate` and `ContainerRm` and return the corresponding CmdRes which was not successful (or an error). This will ensure that we do not run tests if there is an issue with the Docker runtime itself.

[2018-03-21 18:27] eloycoto commented on #3237
Quick thing, if the container fails, you should check the endpoint in the test itself, no?

[2018-03-21 18:28] ianvernon commented on #3237
Please clarify what you mean by "check the endpoint in the test itself"? In my opinion, if a command that we expect to succeed fails, we should check the command itself, and not in some later part of the test. This makes debugging much easier and short-circuits the tests as soon as a failure we don't expect is encountered.

[2018-03-21 18:35] joestringer commented on #3236
I think we could just sweep through periodically from userspace and update the ICMP entry timeouts corresponding to other CT entries. We might end up messing with the stats of the entries a bit this way, but I think that's more preferable than also updating this entry from the datapath every time we receive a packet.

[2018-03-21 19:32] joestringer opened #3239 "bpf: LRU maps are getting full and causing connection drops"
Details are still missing but observed behaviour is that LRU map of size 1M expires entry that was just recently created although likely never looked up prior to deletion.

[2018-03-21 19:39] eloycoto opened #3240 "Test: Deadlock detected"
Test: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1793/

[code]

[RuntimeValidatedPolicyValidationTestsValidatesExamplePolicies.zip](https://github.com/cilium/cilium/files/1834972/RuntimeValidatedPolicyValidationTestsValidatesExamplePolicies.zip)

[2018-03-21 19:40] manalibhutiyani opened #3241 "Correctly change Kafka policy filenames to lower case"

[2018-03-21 19:47] ianvernon opened #3243 "CI: move deadlock detection to after check for if test has failed in `AfterEach`"
The current structure of the tests is the following:
[code]

`kubectl.ValidateNoErrorsOnLogs(CurrentGinkgoTestDescription().Duration)` has an `Expect` within it, which means that if the expected output is not found, then:
[code]
will not run, resulting in no logs being gathered in the case of deadlock. Fix the ordering of these statements so that failure occurs *after* logs are gathered.

[2018-03-21 20:02] tgraf commented on #3230
This is working as expected, code was clear, will add a test via a PR.

[2018-03-21 20:02] #3230 closed, assigned to tgraf

[2018-03-21 20:38] ianvernon opened #3247 "CI: proposal to have wrappers around Expected output of certain helpers"
From discussion on https://github.com/cilium/cilium/pull/3234#issuecomment-375048619 , I proposed the following:

"As the helpers get more complex, we can use ExpectSuccess() and other such gomega checkers like ExpectWithOffset. This will ensure that for every command we run, even in helper functions, we get the result we expect. "

For instance, we can have a helper function before each test that

[2018-03-21 20:42] joestringer commented on #3247
[code]

[2018-03-21 21:18] joestringer opened #3248 "CI: runtime.xml.[failed-to-read]"
I've seen this several times lately:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1481/testReport/

[code]

[2018-03-21 21:23] joestringer commented on #3248
Maybe when k8s tests fail, they interrupt the runtime tests, and in that case the runtime.xml is never created at all, leading to this stack trace.

[2018-03-21 21:25] ianvernon commented on #3248
+1
I suspect this is due to `failFast` being enabled for our builds in Jenkins. Given that interrupts are sent via Jenkins to the stages that are still running if another stage fails, this makes sense. Would be nice if the CI could detect this and not try to generate the JUnit output in the case that a stage was aborted.

[2018-03-21 22:14] joestringer opened #3249 "NFS mount broken in developer VM"
When attempting to run the dev VM via `RELOAD=1 IPV4=1 NFS=1 ./contrib/vagrant/start.sh`, I hit the following error on Ubuntu 17.10:

[code]

I attempted to change the vagrant VM image back to version 32, but this doesn't seem to fix the issue. I'm not sure when this was last working.

[2018-03-21 22:16] aanm commented on #3249
try cleaning up your `/etc/exports`, and check if your NFS-utils version is `< 2.x`

[2018-03-21 22:21] joestringer commented on #3249
`/etc/exports` is clean, nfs-common is v1.3 in both host and VM.

[2018-03-21 22:28] joestringer commented on #3249
PEBKAC, `/etc/exports` wasn't clean. Clearing that file out fixed the issue for me. Thanks @aanm !

[2018-03-21 22:28] #3249 closed, assigned to nobody

[2018-03-21 23:13] tgraf opened #3254 "Master build unstable"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/424/testReport/
* runtime.RuntimeValidatedConntrackTable Testing proxy redirect after installing L3-L4-L7 policy over an existing L3-L4 policy
* runtime.RuntimeValidatedConntrackTable Testing L3-L4-L7 policy while the L3-L4 connection was previously made to confirm L3-L4-L7 policy enforcement over the proxy with the same source port

[2018-03-21 23:15] ianvernon commented on #3254
This is the same issue that was seen recently; I'll disable the test so it can be debugged in parallel to avoid blocking PRs.

[2018-03-21 23:34] rlenglet commented on #3208
Still seeing the same failure:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1493/
[code]

The proxyport fields are still set to 0 in the CT map after inserting a proxy redirect:
[code]

[2018-03-21 23:37] ianvernon commented on #3058
A few questions:

Is this supposed to be for `PATCH /endpoint/{id}/config`? That is what #3054 . `Patch/endpoint/{id}` is separate in `daemon/endpoint.go` under ```func (h *patchEndpointID) Handle(params PatchEndpointIDParams) middleware.Responder {```

From #3054, the following was mentioned by @tgraf :

[code]

Agreed; what is the expected behavior here, though? I.e., if an endpoint is not in a

[2018-03-21 23:37] rlenglet commented on #3254
The issue is tracked in https://github.com/cilium/cilium/issues/3208.
Can we close this one?

[2018-03-21 23:38] ianvernon commented on #3254
#3255 disabled this test in master so it can be tracked separately, so yes, let's close this.

[2018-03-21 23:38] #3254 closed, assigned to nobody

[2018-03-22 00:05] manalibhutiyani commented on #3117
Spoke to @rlenglet about this and this is not as straight-forward
`OneOf` rule can be applied on fields of the same kind, not across a different set of fields like apiKey and Role.

one way we thought of:
Couple 1. apiKey, apiVerion, topic clientID
and 2. Role, topic, clientID

[code]
But this gives a `OneOf` validation error on simple apikey formats. Any pointers here would be appreciated. Not ve

[2018-03-22 00:36] joestringer commented on #2976
@jMuzsik thanks for digging in to take a look, it seems that my instructions were underestimating the work required as I didn't realise how different the approach is in CT map vs. other map types. Regardless, thanks for trying it out, I think that your analysis should be useful in future for implementing this functionality. I hope that you were able to learn some things along the way.

One minor c

[2018-03-22 03:56] #3241 closed, assigned to manalibhutiyani

[2018-03-22 07:06] eloycoto commented on #3248
Ginkgo creates an empty file, and failfast on another stage take action.

So, Junit will work for k8s in this case, but will fail for runtime. Nothing that we can do here

[2018-03-22 07:34] #3183 closed, assigned to nobody

[2018-03-22 12:14] ishantanu opened #3260 "Documentation - SEE ALSO links are broken for all section of Command Reference"
## Bug reports
All of the `SEE ALSO` links inside the Command Reference section are dead. It is not just for `cilium prefilter SEE ALSO` section. See #2733.

### Title

Broken `SEE ALSO` links for all sections of [cmdref](http://cilium.readthedocs.io/en/latest/cmdref/) in documentation.

### How to reproduce the issue
Some example links are mentioned below:

1. http://cilium.readthedocs.io/en/late

[2018-03-22 15:58] eloycoto commented on #3247
Hi!

My two cents here, as I said, I do not like to have asserts into the helpers, for me is a bad practice to create a Container and do an assertion into that. I think that docker, cilium, kubectl shouldn't have asserts only in cases that we want to assert something (Check deadlocks for example).

But I agree that some code is duplicated, like vm.WaitEndpointsReady, for that I suggest something l

[2018-03-22 16:18] ianvernon commented on #3248
@joestringer given that we can't do anything about this unless we disable use of `failFast`, and I think `failFast`'s pros outweigh its cons, can this be closed?

[2018-03-22 16:19] #2043 closed, assigned to nebril

[2018-03-22 16:23] joestringer commented on #3248
Is it worth reporting upstream?

We can close this issue.

[2018-03-22 16:23] #3248 closed, assigned to nobody

[2018-03-22 16:26] aanm opened #3262 "Replace L7PortMap with a slice"
Avoid using `IdentitySelector` (previously known as `EndpointSelector`) as a map key because of pointers.

[2018-03-22 16:26] joestringer commented on #3260
Looks like the links are nesting within the current path, eg the link on prefilter page:

http://cilium.readthedocs.io/en/latest/cmdref/cilium_prefilter/cilium.html

This should actually be:

http://cilium.readthedocs.io/en/latest/cmdref/cilium.html

[2018-03-22 16:29] tgraf commented on #3262
Let's make @rlenglet's dream come true

[2018-03-22 16:30] #3235 closed, assigned to eloycoto

[2018-03-22 17:13] ianvernon opened #3263 "logically separate existing code within packages into smaller, separate files within said packages"
There are many files in the Cilium repository (`pkg/endpoint/endpoint.go`, `daemon/daemon.go`) that are over 1000 lines long, which is undesirable for a variety of reasons. For instance, code which should be logically organized together is split up over a variety of files, making it hard to figure out the scope of certain operations related to specific types and code within the package. For instan

[2018-03-22 17:15] #3232 closed, assigned to joestringer

[2018-03-22 17:50] tgraf commented on #3058
I suggest we wait (with a timeout) in the API call until the endpoint is ready to have its state changed. It preserves the existing logic. Clients can stay as-is for the most part. As we later make config changes not depend on the state, clients do not have to change at all.

[2018-03-22 19:05] tgraf commented on #3093
k8s watcher failures cannot be detected reliably. Closing this.

[2018-03-22 19:05] #3093 closed, assigned to raybejjani

[2018-03-22 20:24] ianvernon commented on #3058
By 'in the API call' do you mean within `cilium/cmd/endpoint_config.go`? I think we should keep `pkg/endpoint/endpoint.go:Update` as I have done in PR #3264, because we are not privy to the timeout the client uses in the call to `PATCH/{id}/config` .

[2018-03-22 20:46] ianvernon commented on #3058
Hm, having the check in `cilium/cmd/endpoint_config.go` doesn't really seem viable unless we allow updating of endpoint state via the API, which I'm not sure we want. The problem though, is that adding the timeout within `pkg/endpoint/endpoint.go:Update` doesn't take into account the timeout on the client side of the API...

[2018-03-22 20:53] tgraf commented on #3058
I'm saying that we can keep on retrying in

[code]

until it succeeds with a upper timeout/retry limit to eventually error out.

[2018-03-22 20:55] ianvernon commented on #3058
OK - but how will this take into account the timeout on the client side? The timeout is configurable and we aren't aware of it on the server side. If they set a timeout lower than our timeout for retrying internally, I believe they'll get an `EOF`; is this desirable?

See:
[code]

[2018-03-22 21:05] ashwinp opened #3266 "Cilium agent crashes when an egress rule with no endpointselector is applied"
## Bug reports

### Title

Cilium agent crashes when an egress rule with no endpointselector is applied

### General Information

- Cilium version (run `cilium version`): v0.13.16

### How to reproduce the issue

Apply the following egress policy rule:
[code]

You'll see a traceback in the cilium agent logs:
[code]

[2018-03-22 21:15] joestringer opened #3268 "Phantom endpoints show up in docker environments"
Seen in runtime tests, Ginkgo status:
[code]

From Gingko logs:
[code]

In particular, the endpoint with `<no label id>`, and `no labels`, `waiting-for-identity` state looks fishy.

cilium-docker plugin logs:
[code]

Prior to these messages, we also observed recurring attempts to delete the endpoint in the cilium-docker logs, and each time it failed because cilium could not locate the endpoint id

[2018-03-22 22:01] ianvernon commented on #3266
[code]

Importing a CNP with this specification gives me the following:
[code]

I presume you are not running your cluster with CRD validation. What K8s version are you running?

[2018-03-22 22:04] ashwinp commented on #3266
@ianvernon
[code]

[2018-03-22 22:49] ashwinp opened #3270 "Specifying multiple toPorts in ingress rule leads to incorrect cilium policy"
## Bug reports

### Title

Specifying two toPorts in ingress rule leads to incorrect cilium policy with only one port.

### General Information

- Cilium version (run `cilium version`)
v0.13.16
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]

### How to reproduce the issue
Policy with multiple toPorts:
[code]
Output of `cilium policy get`:
[code]
Policy with singl

[2018-03-22 23:35] #2733 closed, assigned to nobody

[2018-03-22 23:44] ashwinp opened #3272 "Adding a catch-all egress rule impacts other egress rules and results in drops"
## Bug reports

### Title

Adding a catch-all egress rule (port 53 in the example) impacts other egress rules (to port 6783 in the example) and results in drops.

### General Information

- Cilium version (run `cilium version`)
v0.13.16
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deploym

[2018-03-22 23:51] joestringer opened #3273 "xDS gRPC server startup log message is too verbose"
This looks like a debug message during startup:

level=info msg="Envoy: Starting xDS gRPC server listening on &{%!s(*net.netFD=&{{{0 0 0} 14 {140373134866416} <nil> true true false} 1 1 false unix 0xc4214aa8c0 <nil>}) /tmp/cilium-test-run076229139/xds.sock %!s(bool=true) {{%!s(int32=0) %!s(uint32=0)} %!
s(uint32=0)}}"

It should just list the socket, not the entire object.

[2018-03-22 23:52] tgraf commented on #3058
How is the client timeout specific to this type of request? This is not about a long term solution. This is about deciding whether we build retry logic into the client or server short term. If we are going to make the config patching non-blocking in the future, why require all clients to build retry logic now?

[2018-03-23 00:21] tgraf commented on #3266
@ianvernon We should still reject it in rule `sanitize()`

[2018-03-23 00:22] ianvernon commented on #3266
@tgraf fix is coming shortly.

[2018-03-23 02:51] #3184 closed, assigned to manalibhutiyani

[2018-03-23 05:41] ishantanu opened #3276 "Use alpine as base image for docs container"
## Feature Requests
Use alpine as a base image for building documentation container.

### Title

Switching to alpine docker image instead of `ubuntu:16.04`.

### Description of requested functionality

Currently `ubuntu 16.04` is used as a base image for building docs inside a container. We can use `alpine` base image instead, this will result in smaller image size.

### Example results:

Tested o

[2018-03-23 08:18] eloycoto commented on #3268
I've just seen this one:

[code]

[code]

[RuntimeValidatedLBServicesPoliciestestswithconntrackenabled.zip](https://github.com/cilium/cilium/files/1840656/RuntimeValidatedLBServicesPoliciestestswithconntrackenabled.zip)

Build:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1560/execution/node/55/log/?consoleFull

[2018-03-23 08:37] eloycoto commented on #3168
Fixed:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/v0.13/

[2018-03-23 08:37] #3168 closed, assigned to eloycoto

[2018-03-23 08:41] eloycoto commented on #3016
Closed, work done in 2843

[2018-03-23 08:41] #3016 closed, assigned to eloycoto

[2018-03-23 08:42] eloycoto commented on #1933
Fixed by https://github.com/cilium/cilium/pull/3120

[2018-03-23 08:42] #1933 closed, assigned to eloycoto

[2018-03-23 10:07] voidengineer commented on #2354
This is the most important missing feature for me, because at my company we are making the switch to cri-containerd and the k8s-nodes will not even have docker installed any longer.

[2018-03-23 10:11] tgraf commented on #2354
Thanks, this is great feedback. We are bumping this up.

[2018-03-23 11:00] ishantanu commented on #3276
I'll pick this up.

[2018-03-23 11:49] #3066 closed, assigned to eloycoto

[2018-03-23 12:42] #2841 closed, assigned to nobody

[2018-03-23 15:58] tgraf opened #3280 "Restructure API for 1.0 to declare stable"
Summary
=======
This issue captures a bunch of work. Only some will go into the 1.0 release. The 1.0 goal is:
_Restructure API fields/spec to allow later additions to the API_
Note: These are changes to the API mostly, and shouldn't require too much internal change to begin with. Tracking endpoint revision will mean some refactoring in endpoint.

There are a number of steps:
- [x] Refactor /endpoi

[2018-03-23 17:26] ianvernon commented on #3266
@eloycoto this does not need an E2E test - it is tested in our unit tests.

[2018-03-23 17:32] ianvernon commented on #3058
@tgraf if we have timeout logic implemented on the server side, the error returned to the user will differ depending on if their client's timeout is configured to be higher or lower than the timeout on the server side. Given that this is a short-term solution, this doesn't really matter, though.

[2018-03-23 17:34] ianvernon opened #3281 "endpoint: make endpoint updates non-dependent upon current state of endpoint"
Issues like #3058 are caused due to the API depending upon the current state of the endpoint in order to regenerate endpoints. We need to find a long-term solution to be able to queue endpoint regenerations independently of the current state of the endpoint.

[2018-03-23 17:48] ianvernon opened #3282 "CLI: check whether conntrack is enabled on per-endpoint basis"
If global conntrack is enabled (and thus local conntrack is not enabled per-endpoint), the output of `cilium bpf ct list <endpoint ID>` should communicate as such to the user. Currently, the output is the following if local conntrack table per endpoint is not enabled:

[code]

The CLI should be able to detect whether local conntrack is disabled per endpoint and output accordingly to the user.

[2018-03-23 17:52] ianvernon commented on #3282
Another possibility (not sure how feasible this is, so feel free to shoot it down), would be, if global conntrack is enabled (and thus local conntrack table per endpoint is disabled), we can get the conntrack flows that relate to the local endpoint from the global conntrack table. This could be quite useful for debugging.

[2018-03-23 18:04] ianvernon opened #3283 "Endpoint logs are only accessible during endpoint lifetime"
Currently, the endpoint logger is entirely bound to the lifetime of an endpoint; if the agent crashes, the logs for an endpoint disappear as they are not logged anywhere.

It would be nice if we had an option to log such logs for an endpoint to syslog, or hook them up into some logging backend so we can get endpoint logs for an endpoint that has gone away.

[2018-03-23 18:28] ashwinp opened #3284 "Export prometheus metrics related to pkt drops and forwards"
## Feature Requests

### Title

Expose prometheus metrics related to packet drops (L3-4/L7)

### Description of requested functionality

These are the metrics exposed by Cilium today:
[code]

Action Items:

- [x] Please consider adding drop metrics for L3-4 and L7 flows. They will be immensely useful for debugging issues.
- [x]  Include a datapath change to add a drop counter to the already existi

[2018-03-23 19:07] ianvernon opened #3285 "Ginkgo CI: add option to not output result of commands on a per command basis"
The file `logs` is created for each test run. We output the content of every command which we run unconditionally into this file. However, some commands are ran as part of test failures which are saved to separate files. Their output is still output and dumped in `logs`. It would be nice if We had a way of saying `vm.Exec(<command>, <variadic parameter which specifies not dump to logs>)`.  This wo

[2018-03-23 19:10] ianvernon opened #3286 "CI: Kafka crashed and endpoint disappeared from Cilium"
Discovered in PR: https://github.com/cilium/cilium/pull/3275

Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1581/
Build logs (in case test link gets deleted due to limit of number of prior job runs on Jenkins) : [test_results_Cilium-PR-Ginkgo-Tests-Validated_1581.tar.zip](https://github.com/cilium/cilium/files/1843076/test_results_Cilium-PR-Ginkgo-Tests-Validated_1581.

[2018-03-23 19:12] ianvernon commented on #3286
I went through the logs of the docker containers that are gathered after each test and see that Kafka itself crashed:

[code]

This lines up with how the endpoint disappeared from Cilium. No `cilium-agent` logs indicated that the endpoint had disappeared =(

[2018-03-23 19:16] ianvernon commented on #3286
cc: @manalibhutiyani

[2018-03-23 19:24] ianvernon opened #3287 "proxy: Envoy crashes with segmentation fault"
Observed during CI runs:

```Mar 23 17:35:44 runtime cilium-agent[15403]: level=warning msg="Envoy: Proxy crashed" error="signal: segmentation fault (core dumped)"```

Related-to: #3233

[2018-03-23 20:24] ianvernon opened #3289 "daemon: look into using semaphores to simplify queuing endpoint builds"
`daemon/daemon.go:StartEndpointBuilders` creates logic with goroutines to accomplish a capped number of goroutines for rebuilding endpoints. After discussion with @rlenglet , this could be simplified using semaphores with a specified weight.

I suggest we look into using golang's semaphore package to accomplish this: https://godoc.org/golang.org/x/sync/semaphore

It would make the code easier to u

[2018-03-23 20:39] manalibhutiyani commented on #3286
It looks like the Kafka broker is timing out and not able to connect to zookeeper within the session timeout of 6sec `zookeeper.session.timeout.ms = 6000`

[code]

The policy is only applied to Kafka broker, so by the time it comes up again, we already test the
[code]
which comes out to be zero instead of one and we fail

[2018-03-23 20:44] manalibhutiyani commented on #3286
I can take a look at this.Assigning to myself.

[2018-03-23 20:44] manalibhutiyani commented on #3287
CC @jrajahalme @rlenglet

[2018-03-23 20:46] ianvernon commented on #3286
Thanks ! This looks like it's been hit on master as well: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/446/

[2018-03-23 20:48] joestringer commented on #3282
Perhaps if someone tries `cilium bpf ct list <epid>` and it fails due to "no such file or directory", we could print a line to suggest something like "Did you mean to run 'cilium bpf ct list global'?". This seems easy to achieve and keeps the tools dumb (which I think is desirable in this case).

A couple of concerns on other points mentioned above:
* Dependency on cilium daemon running in worst c

[2018-03-23 20:50] ianvernon commented on #3282
@joestringer all valid points. Maybe we could put the logic that I suggested into another command? e.g., `cilium endpoint conntrack` or something like that?

[2018-03-23 20:56] rlenglet commented on #3287
Yeah, we see that sometimes. It's harmless, even though it should be investigated.

Nothing to do with #3286. Removing from "related-to".

[2018-03-23 21:13] joestringer commented on #3282
Perhaps, yes. This could streamline debugging issues with conntrack.

[2018-03-23 21:33] rlenglet commented on #3284
This depends on https://github.com/cilium/cilium/pull/3278 first for L7.
L3/L4 is much harder to do with the current architecture (separate node-monitor daemon, etc.).

[2018-03-23 21:35] #3191 closed, assigned to jrajahalme

[2018-03-23 21:39] joestringer commented on #3268
We might also consider increasing the client timeout in the cilium-docker client to allow for `PATCH /endpoint` calls that take a bit longer.

[2018-03-23 22:09] ianvernon commented on #3206
Looks like this only happens when running Kubernetes. Looking into this.

[2018-03-23 22:39] ianvernon commented on #3206
Found issue, fix coming soon.

[2018-03-23 22:46] aanm commented on #3289
1) Does that package allows the endpoint builds to be made in the same order they were requested?

2) Won't this means the requests to perform an endpoint build will be blocked until the semaphore is available?

[2018-03-23 23:15] ianvernon opened #3294 "Bug: panic in Cilium on centos"
[code]

debuginfo output:

cilium debuginfo
# Cilium debug information

#### Cilium version

[code]

#### Kernel version

[code]

#### Cilium status

[code]

#### Cilium environment keys

[code]

#### Endpoint list

[code]

#### BPF Endpoint List 173

[code]

#### BPF Policy List 173

[code]

Error while reading '[bpf ct list 173]', exit status 1

#### BPF CT List 173

[code]

#### BPF LB List 173

[2018-03-23 23:15] #3266 closed, assigned to ianvernon

[2018-03-23 23:17] tgraf commented on #3287
How is an Envoy crash harmless? It destroys all state.

[2018-03-23 23:18] tgraf commented on #3286
@manalibhutiyani I have solved this locally be increasing the session timeout:
[code]

[2018-03-23 23:19] rlenglet commented on #3287
Sorry, that was a poor choice of words. What I meant was that it has not caused any build failure so far, AFAICT.

[2018-03-23 23:20] tgraf commented on #3284
Can't the node monitor push the metrics directly?

[2018-03-23 23:28] rlenglet commented on #3284
The normal way to use Prometheus is in pull mode, i.e. each pod exposes one HTTP port via a service, and Prometheus will pull metrics from that port.

We could have both cilium-agent and node-exporter expose each a distinct port, and have the cilium pod be a backend to 2 different services, each service being polled by Prometheus. But IMHO that starts to be complicated. I think it would be better

[2018-03-23 23:30] rlenglet commented on #3284
We could also consider moving node-exporter into its own daemon set? That would make things clearer.

[2018-03-23 23:45] rlenglet commented on #3289
@aanm

1. This semaphore implementation guarantees that the calls to `Acquire` return in order. So yes, this will guarantee that the endpoint builds are made in the same order they were requested.
2. Isn't that already the case?

[2018-03-23 23:49] aanm opened #3295 "remove debug messages from ctMap doFiltering"
Remove debug message from ctMap doFiltering, they are way too verbose
[code]

[2018-03-23 23:52] ianvernon commented on #3295
I do not see a problem here; the logs are at debug level, and that is precisely why they were added, to debug the conntrack issues we have been seeing and have not been able to fix. We could add a logging flag like we do for `flowDebug` like `conntrackDebug` that we enable during CI runs?

[2018-03-24 00:03] rlenglet commented on #3295
Agreed it’s verbose. But please move those logs under flowdebug instead of removing them.

[2018-03-24 00:29] aanm opened #3297 "ICMP requests are allowed for IPv4 but denied for IPv6"
test failed for IPv6 but it was allowed for IPv4
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1587/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L4Policy_Checks/

[code]

the policy loaded is under `test/runtime/manifests/Policies-l4-policy.json` and is with the v3 changes.

you can download the PR https://github.com/cilium/cilium/pull/3164, build cilium and import `te

[2018-03-24 07:49] #3286 closed, assigned to manalibhutiyani

[2018-03-24 13:07] eloycoto opened #3300 "Bugtool: add cilium-envoy.log file"
- [ ] Add cilium-envoy.log in bugtool.
- [ ] Disable get the cilium-envoy.log in test

[2018-03-24 18:43] ianvernon commented on #3300
This duplicates https://github.com/cilium/cilium/issues/2829.

[2018-03-24 18:45] ianvernon commented on #2829
I think this necessitates a change to the agent, where we can get all of the immutable configuration options provided to it at startup. Currently, we do not have access to all of these; otherwise, if users configure the agent to send cilium-envoy logs to a different location, we will not have access to them. This could be useful for debugging as well.

[2018-03-24 19:08] ianvernon commented on #3289
We could also look into using https://godoc.org/golang.org/x/sync/singleflight to ensure synchronicity for endpoint builds:

[code]

[2018-03-24 19:21] eloycoto commented on #3300
Sorry!

[2018-03-24 19:21] #3300 closed, assigned to nobody

[2018-03-24 19:26] joestringer commented on #3260
Looking at the latest docs, this problem seems to still be present. Reopening.

[2018-03-24 20:57] rlenglet commented on #3289
I don’t think the singleflight lib would be usable here because our functions have lots of side effects.

[2018-03-25 01:19] joestringer opened #3304 "BPF CLI tool for fetching CIDR map contents is missing"
NOTE: LPM tries did not get support for BPF_MAP_GET_NEXT_KEY until Linux 4.16. For kernels < 4.11, we use hashtables. For kernels in between, entries cannot be dumped.

* [ ] Dump CIDR map entries and format them
  * [ ] `-o json` support
* [ ] Add to bugtool
* [ ] Log at debug level the CIDRs being added

[2018-03-25 01:26] aanm opened #3305 "Log endpoint's error message independently of debug option"
For example this message is never logged unless the endpoint is running with debug=true
[code]

[2018-03-25 01:29] ianvernon commented on #3177
`cilium policy get` is ran as part of `cilium debuginfo`, the output of which is stored in the archive created by `cilium-bugtool`:

[code]

So, the contents are actually part of the bugtool, they are just in the output of `cilium-debuginfo`. Closing.

[2018-03-25 01:29] #3177 closed, assigned to ianvernon

[2018-03-25 02:39] joestringer opened #3306 "Consider printing special loopback address in `cilium status` under address pools"
Currently, the only way to know the special loopback address is either grepping for it in the cilium logs during startup, or grepping for it in config files for compiled endpoints under `/var/run/state/.../lxc_config.h`. It'd be a little easier to see what's going on if this IP was also printed under the `cilium status` output under the IP address pool section.

[2018-03-25 07:15] manalibhutiyani commented on #3157
Fixed via #3286

[2018-03-25 07:15] #3157 closed, assigned to manalibhutiyani

[2018-03-25 09:32] tgraf opened #3307 "Kafka CI test is unstable"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1612/testReport/(root)/runtime/RuntimeValidatedKafka_Kafka_Policy_Ingress/

[code]

Expectations without any description are very hard to debug, in particular the ones that are being used by a lot of tests.

Please investigate and if no immediate fix is possible, disable the test.

[2018-03-25 16:03] manalibhutiyani commented on #3307
Hi Eloy, how/where do we see the ginkgo docker logs for this crash. I believe you added them recently?

[2018-03-25 16:12] manalibhutiyani commented on #3307
Nevermind I found it! One weird thing I observed it that I actually do not see any Kafka broker node in the endpoint list logs of this test.

[2018-03-25 18:39] manalibhutiyani commented on #3307
Cilium log:s
The Kafka and zookeeper establish the initial connection(with the correct session timeout of 20 sec) and then I see the following cilium CT
entry logs:
Note: The zookeeper address is: 10.15.167.158
and Kafka is 10.15.101.61

Filtering address `10.15.101.61` in cilium logs:
[code]

The connection gets closed in between (not sure if its due to the CT entry log I see in the cilium logs)

[2018-03-25 18:45] manalibhutiyani commented on #3307
aha!!
there is also a delete actually of this CT entry for Kafka in cilium logs:
[code]

[2018-03-25 19:16] tgraf commented on #3307
I assume you are talking about endpointID not being set in L7 access log records. That happens when the endpoint can't be found, usually because it already disappeared again.

This indicate that there is another timeout that we should increase.

[2018-03-25 19:21] manalibhutiyani commented on #3307
Yes it is the `zookeeper.connection.timeout.ms`
The `zookeeper.session.timeout.ms` is set correctly as per Kafka logs:
[code]
The session timeout is set correctly, but the endpoint disappears after the initial session is established. I can increase `zookeeper.connection.timeout.ms` too, but I am a bit concerned about why the Kafka container disappeared.

By endpoint not being there, I meant the fo

[2018-03-25 19:24] tgraf commented on #3307
It disappears because the zookeeper service can't be reached.

[2018-03-25 19:26] manalibhutiyani commented on #3307
^ ok, isn't that a bigger issue? That we can't reach the zookeeper service? Or does it just needs to wait a bit longer ? I can put out a PR to update the
[code]
instead of default, but wanted to confirm if there is a bigger issue here of not being able to resolve the zookeeper service?

[2018-03-25 19:28] tgraf commented on #3307
Cilium keeps endpoints in drop all mode until policy has been resolved. This can take longer than 6 seconds if the system load is high, in particular in debug mode.

[2018-03-25 19:29] manalibhutiyani commented on #3307
Ah! thanks for explaining. I can increase the

[code]
making change now. Will put in out for review in around 20-30 min.

[2018-03-25 19:47] manalibhutiyani commented on #3307
Out for review
https://github.com/cilium/cilium/pull/3308

[2018-03-25 21:46] #3307 closed, assigned to eloycoto, manalibhutiyani

[2018-03-26 05:26] ishantanu commented on #3260
@joestringer I tried this locally using `docker` container and the issue seemed to be fixed. But looking at live docs, it's still the same.

[2018-03-26 05:50] voidengineer commented on #2354
Just to be sure: I think the new title regarding `CRI-O` is not corrent. We are going to use `containerd` with `CRI`.
The corresponding Kubernetes (kubelet) flags are `--container-runtime=remote --container-runtime-endpoint=<path-to-cri-containerd-socket>`.

`CRI-O` is another implementation of `CRI`.

[2018-03-26 07:37] #3276 closed, assigned to nobody

[2018-03-26 10:41] tgraf commented on #2354
You are right, we have been tracking two different tasks with this issue. The addition of CRI interface support as well as testing with CRI-O which has been requested as well.

[2018-03-26 10:45] tgraf commented on #3287
Are we positive that it is not introduced by our filter changes?

[2018-03-26 15:22] vadorovsky commented on #3305
I see two separate issues there.

First of them is that we log endpoint failures with `Warn` - of course we should log them with `Error` method.

But the completely separate thing is that why we don't see messages logged with `Warn` method? Our default log level is `InfoLevel`[0] which is lower that `Warn`, so `Warn` messages should be printed.

[0] https://github.com/cilium/cilium/blob/master/pkg

[2018-03-26 15:47] ianvernon commented on #3305
When one uses `e.getLogger()`, the logs are not sent to Cilium's log; they are only accessible via `cilium endpoint log` IIRC. See #3283 .

[2018-03-26 16:46] ianvernon commented on #3305
Expectation: this should show up in the cilium logs; `e.getLogger()` should log to the agent logs, not to `cilium endpoint log`.

[2018-03-26 17:27] aanm opened #3314 "bpf: Unable to update element: argument list too long"
[code]

[2018-03-26 17:28] aanm opened #3315 "error while adding entry to ip cache: value=[]"
[code]

[2018-03-26 17:35] aanm commented on #3314
Most likely the host went out of free memory available. But still the error should be explicit to the user

[2018-03-26 17:39] ianvernon commented on #3315
There already is an issue tracking this; https://github.com/cilium/cilium/issues/3206 . I have a fix coming for it soon.

[2018-03-26 17:39] #3315 closed, assigned to nobody

[2018-03-26 17:49] joestringer commented on #3314
Running out of memory should be an ENOMEM error, not E2BIG.

[2018-03-26 17:52] tgraf commented on #3314
I was suspecting that we could reach the map capacity but it seems unlikely:
[code]

[2018-03-26 17:53] tgraf commented on #3314
Screw that, it is not unlikely:
[code]

[2018-03-26 17:54] rlenglet commented on #3287
We won't know until we get a backtrace in the Envoy logs, *and* we start collecting the Envoy logs in CI, *and/or* start redirecting the Envoy logs into the Cilium logs.
That is tracked in a separate issue (can't find it right now).

What we know is that since Cilium restarts Envoy immediately what that happens, those Envoy crashes are masked and haven't caused any CI failures so far.

[2018-03-26 17:55] joestringer commented on #3314
Yeah, `POLICY_MAP_SIZE` is an approximation of maximum endpoints we can apply policies for, not number of BPF policies at a time in an endpoint.

[2018-03-26 18:19] tgraf commented on #3314
We'll need #3267 to bump all of these map sizes

[2018-03-26 18:21] joestringer commented on #3260
@iamShantanu101 yep, but for some reason the same fix doesn't work on the readthedocs, so if you go to the online site, eg:
http://docs.cilium.io/en/latest/cmdref/cilium_bpf_proxy/

The links are still broken.

Further investigation required.

[2018-03-26 18:22] joestringer commented on #3314
Confirmed that this bug is triggered by having a full policy map.

Problem stems from outdated identities remaining in the BPF map, GC is not working properly for them.

We can bump the map sizes, but the underlying issue would remain, it would just take longer to trigger.

[2018-03-26 18:27] joestringer commented on #3314
More details:
[code]

[code]

[code]

[2018-03-26 18:29] joestringer opened #3318 "cilium bpf policy get doesn't print entries whose labels are not resolved"
In issue #3314 , we observe that the regular `cilium bpf policy get <EPID>` output only prints entries whose labels can be resolved, which misleads users to believe that there are only a few entries in the table.

We should print empty labels or "cannot be resolved" for each identity that we cannot resolve the labels for (perhaps with the underlying identity).

[2018-03-26 20:02] manalibhutiyani opened #3319 "CI / GSG : make Kafka service headless"
The current Kafka yaml in GSG and K8ts test have the Kafka service as a ClusterIP service. When we enforce an allow-all policy, and try to consume, the Kafka broker sends out a service discovery request for the other brokers. Ideally it should resolve to itself (with a single broker configuration), but there is currently a bug in data path which does not resolve the reverse NAT for loopback addres

[2018-03-26 20:03] tgraf commented on #3319
What bug? Did we find something?

[2018-03-26 20:04] manalibhutiyani commented on #3319
@tgraf : I will update this with the logs in a minute, but this is the loopback address reverse NAT resolution bug we discussed.

[2018-03-26 20:05] manalibhutiyani commented on #3319
The workaround is to make the Kafka service headless. I will raise a separate GH issue for the data path bug to correctly do the reverse NAT for loopback addresses.

[2018-03-26 21:17] joestringer opened #3322 "cilium endpoint get indentation is weird for rules"
[code]

The indentation of the actual rule elements is weird, probably this is the `expandNestedJSON()` function not taking into account the current level of indentation.

Note that this is for the regular `cilium endpoint get` output, **not** with `-o json` (which prints the raw JSON from the server)

[2018-03-26 21:52] joestringer opened #3323 "Add log ratelimiter"
Add the ability to ratelimit logs, so that cases where we're concerned that logging will be too verbose if an adverse condition is hit, we can instead just define a static ratelimiter and apply that to the logging of the particular message.

[2018-03-27 00:03] #3319 closed, assigned to manalibhutiyani

[2018-03-27 00:31] joestringer opened #3325 "Simulate world in Ginkgo CI"
I'd like to easily invoke some commands to test policy with `reserved:world` within the runtime tests. Examples are l4 policies ingress from world or egress to world.

Please comment if anything at all exists here or if you're working on this.

[2018-03-27 00:32] ianvernon commented on #418
@jrajahalme is anything else needed here?

[2018-03-27 00:48] joestringer commented on #3088
@nebril is this addressed by #2979?

[2018-03-27 00:51] joestringer commented on #2958
Several things have changed since this issue, closing. Can reopen if it's still problematic to debug such issues.

[2018-03-27 00:51] #2958 closed, assigned to nobody

[2018-03-27 00:56] jrajahalme commented on #418
I'm still working on log integration, but it was never articulated here so IMO this can be closed.

[2018-03-27 00:56] joestringer commented on #1618
This'll be easier to triage/validate with #3325.

[2018-03-27 00:57] jrajahalme commented on #418
It's integrated so there are no Envoy-specific docs we need.

[2018-03-27 00:57] #418 closed, assigned to jrajahalme

[2018-03-27 01:01] joestringer commented on #3297
FWIW this requires kernel < 4.11 to reproduce, like the default CI Ginkgo VM kernel. I didn't manage to get to the bottom of why this is the case, but it seems to suggest some issue with the IPv6 CIDR ingress policy datapath code. I double-checked the actual masking operations, which seem to be fine, but the hashmap lookup in the CIDR6 ingress map is not matching the `::/0` CIDR for some reason.

[2018-03-27 02:44] #3314 closed, assigned to nobody

[2018-03-27 09:12] voidengineer commented on #2354
The implementation of CRI for containerd has been moved into the containerd-project as a plugin:
https://github.com/containerd/cri/releases/tag/v1.0.0-rc.0

This implements CRI v1alpha2 (Kubernetes 1.10). Is this important for you?

[2018-03-27 10:26] raybejjani opened #3328 "Refactor subprocess supervisors into one place"
cilium-agent spawns a number of subprocesses:
1- monitor (https://github.com/cilium/cilium/blob/master/monitor/launch/launcher.go#L75)
2- health (https://github.com/cilium/cilium/blob/master/cilium-health/launch/launcher.go#L46)
3- envoy (https://github.com/cilium/cilium/blob/master/pkg/envoy/envoy.go#L127)

(1 & 2 use https://sourcegraph.com/github.com/cilium/cilium@6b37ad65e156c0b88f1f35e677a3d3

[2018-03-27 10:53] eloycoto opened #3329 "Test: Issue when policy is updated"
[code]

[test_results_Ginkgo-CI-Tests-Pipeline_1860.zip](https://github.com/cilium/cilium/files/1851592/test_results_Ginkgo-CI-Tests-Pipeline_1860.zip)

[2018-03-27 11:00] eloycoto commented on #3329
policy delete work, but the agent, attached the panic:

[code]
[code]

[2018-03-27 11:06] ishantanu commented on #3322
Are you referring to this:
[code]

[2018-03-27 11:13] eloycoto opened #3330 "Test: issue with RuntimeValidatedConntrackTest"
[code]
Logs:

[RuntimeValidatedConntrackTestConntrack-relatedconfigurationoptionsforendpoints.zip](https://github.com/cilium/cilium/files/1851676/RuntimeValidatedConntrackTestConntrack-relatedconfigurationoptionsforendpoints.zip)

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1856/

[2018-03-27 13:58] nebril commented on #3294
possibly related: #649

[2018-03-27 14:07] raybejjani commented on #3305
I can't reproduce this directly. Endpoints are logging their debug logs when it is enabled on the endpoint or on the daemon in general. Looking at the original report I think there was some confusion between the agent logs and the `cilium endpoint logs` output.
In any case, I will make the messages that are going into the endpoint-specific logs also print as debugs in the agent log (as @ianvernon

[2018-03-27 14:25] eloycoto commented on #3329
Related with this nightly fail:
https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/157/testReport/junit/k8s-1/9/NightlyPolicies_PolicyEnforcement_default_L3_Ingress_Label_L4_Ingress_Port_80_UDP_L7_No_Policy_Destination_service/

[2018-03-27 15:25] eloycoto commented on #3056
This is fixed by:

https://github.com/cilium/cilium/pull/3229
https://github.com/cilium/cilium/pull/3165
https://github.com/cilium/cilium/pull/3229

[2018-03-27 15:25] #3056 closed, assigned to eloycoto

[2018-03-27 15:30] aanm opened #3334 "Create custom describe for `kubectl get cnp` and `kubect get cep`"
https://blog.jetstack.io/blog/hidden-gems-1.10/#custom-kubectl-get-and-describe-output

[2018-03-27 15:42] aanm opened #3336 "Run `gofmt` as a non-requirement to merge PRs"
Using `gofmt` in CI is not recommended as it can change on every go version.

Suggestion is to create a new "PR check" that runs `go fmt` but doesn't stop the tests coverage. The PR author can later re-format the code if not compliant with the recommended development version.

[2018-03-27 15:49] tgraf opened #3337 "Datapath related metrics export"
Add prometheus metrics to represent:
- [x] Packet drops
- [x] Forwarded packets
- [x] Rejected L7 (HTTP/Kafka) due to parse errors.
- [x] Forwarded L7 (HTTP/Kafka)
  - [ ] Latency
- [x] Denied L7 (HTTP/Kafka) due to policy
- [ ] Number of Envoy node proxy restarts
- [x] Service load balancing forwarded packets
  - [x] Backend selection statistics
- [ ] Number CT entries
- [ ] Proxymap entries

[2018-03-27 15:50] tgraf opened #3338 "Operational metrics"
- [x] Endpoint regenerations
- [x] Current policy revision
- [x] Number of endpoints
  - [x] With ingress policy enforcement
  - [x] With egress policy enforcement
- [x] Number of policies
   - [x] Number of policy import failures
   - [x] Number of policy *not* enforced
- [x] Number of services
- [x] Expose cluster health
  - [ ] latency / connectivity (@mrostecki)

[2018-03-27 18:27] ianvernon commented on #3336
Sorry about closing and reopening the issue, fat finger moment :)

[2018-03-27 18:27] ianvernon commented on #3336
By 'PR Check' do you mean something similar to Hound?

[2018-03-27 18:32] joestringer opened #3339 "cilium monitor logs identity of world as host for replies"
I was running a container and pinging a public IP (8.8.8.8), and here is the `cilium monitor` output:

[code]

The Request is sent from the endpoint to id 0 (unknown), which is then sent to the stack (at which point we know it is for the world, ie identity 2). When the reply comes back, the identity appears as 1 (host), not 2(world).

[2018-03-27 18:54] joestringer opened #3340 "CIDR egress policy doesn't restrict access to world"
When I set up the following policy on egress for a container via k8s networkpolicy, it could contact IPs outside of the specified CIDRs (via ICMP and HTTP).

### cilium policy list

[code]

### cilium policy get

(I removed the policy for app1 in the below output)

[code]

### cilium monitor

[code]

[2018-03-27 19:04] jrajahalme commented on #3233
Envoy rebase will bring debug and trace option available for all builds (Envoy commit 3b8875fb78e1f2655b9c3a73dd15f3d7a88e0f01 ("logger: removed NVLOG compile flag")), still need the debug build for better backtracing but maybe not that urgently.

[2018-03-27 20:19] rlenglet commented on #3329
Fixed in https://github.com/cilium/cilium/pull/3326

[2018-03-27 20:23] rlenglet commented on #3329
My bad, this is a different issue than #3326.

[2018-03-27 22:05] manalibhutiyani opened #3343 "Add ingress/egress default deny tests for CNP"
Currently we only have tests for KNP default deny. We should add coverage for CNP default deny as well.

[2018-03-27 22:08] tgraf commented on #3117
Unfortunate

[2018-03-27 22:08] #3117 closed, assigned to manalibhutiyani

[2018-03-27 22:25] #3206 closed, assigned to ianvernon

[2018-03-27 22:26] #3058 closed, assigned to ianvernon

[2018-03-27 22:37] manalibhutiyani commented on #3343
See `cilium/test/k8sT/manifests/knp-default-deny-egress.yaml` and `knp-default-deny-ingress.yaml`

[2018-03-27 23:02] joestringer commented on #3340
Looks to me like what happens is that we perform the CIDR check here:
https://github.com/cilium/cilium/blob/cecd5f1580e40a3398605321d4922763844973de/bpf/bpf_lxc.c#L651-L657

Which does not mark the `policy_skip` bit, then we tail call into `reserved policy` here:
https://github.com/cilium/cilium/blob/cecd5f1580e40a3398605321d4922763844973de/bpf/bpf_lxc.c#L707-L712

...which is governed by the `bpf

[2018-03-27 23:06] #3329 closed, assigned to rlenglet

[2018-03-27 23:11] manalibhutiyani opened #3345 "KNP: Egress default deny all does not work for world."
List of endpoints:
[code]

Try to access `world` from pod

[code]

Works as expected.

Applying `egress deny all`
[code]

State of cilium endpoints:
[code]

Try to access world again:

[code]

[2018-03-27 23:13] aanm commented on #3336
@ianvernon correct

[2018-03-27 23:16] manalibhutiyani commented on #3340
@joestringer Egress default deny is not working either
https://github.com/cilium/cilium/issues/3345

[2018-03-27 23:58] manalibhutiyani opened #3346 "CNP: egress default deny not working(intra-cluster communication)"
Setup:
[code]

Trying sending HTTP traffic from app2 to app1

[code]
Works

Apply egress deny all to app2:
[code]

Cilium policy get:
[code]

Check that policy applied correctly:
[code]
Trying sending egress traffic from app2:

[code]

This should have been denied by policy.
@ianvernon Was this work in progress? Feel free to close if this is not supported yet.

Also tried it with

[code]
Does not

[2018-03-28 00:10] #3273 closed, assigned to nobody

[2018-03-28 00:10] #3295 closed, assigned to rlenglet

[2018-03-28 00:20] #3182 closed, assigned to borkmann

[2018-03-28 00:27] ashwinp opened #3347 "Traffic from host --> NodePort service isn't redirected to HTTP proxy"
## Bug reports

### Title

Traffic from host --> NodePort service isn't redirected to HTTP proxy. No L7 access log for host --> NodePort service HTTP request.

### General Information

- Cilium version (run `cilium version`)
`v0.13.17`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
k8s

### How to reproduce the issue

1. Run the sock-shop app https://microservices-demo.

[2018-03-28 00:41] aanm commented on #3294
@nebril
most likely the `livenessProbe` and the `readinessProbe` are closing the `cilium status` request after not receiving a response in less than 5 seconds. We can add a `timeoutSeconds`. We should also test this theory if we add a "time.Sleep(15)" for the `cilium status` and check if  the broken pipe still happens.
[code]

[2018-03-28 03:29] manalibhutiyani opened #3349 "docs: Fix the Kafka policy to use the new role in the GSG"
http://docs.cilium.io/en/latest/gettingstarted/kafka/

The policy shown in the GSG is still the older one. Change it to use the new "role" instead

[2018-03-28 04:00] manalibhutiyani opened #3351 "Incorrect conversion of KNP Egress to CNP Ingress"
Initial state:

[code]

on cilium:
[code]

Applying KNP:
[code]

[code]
KNP does not cause any policy change:
[code]

However, cilium seems to be converting this `egress-only` no-policy to the following `ingress-only` policy:

[code]

Is this expected behavior? I think this might be back to the predated days when K8s did not support egress policies? @tgraf Feel free to close if this is expected be

[2018-03-28 04:37] tgraf commented on #3347
@ashwinp I think I see what's going on. The following match:
[code]

requires the source to have the label `k8s:io.kubernetes.pod.namespace` which is true for all pods in that namespace but not for localhost. Unfortunately we don't allow combining `fromEntities` and `toPorts` right now so you will have to add another rule in the form of:

[code]

[2018-03-28 04:46] #3349 closed, assigned to manalibhutiyani

[2018-03-28 04:48] tgraf commented on #3346
This is still work in progress so we can reduce this to best-effort. We are still deciding whether we should enable this right now or not.

[2018-03-28 05:34] tgraf opened #3352 "bpf: LPM lookup does not work with /32 prefix"
It is currently impossible to whitelist individual /32 for some reason, the following rule does not work:

[code]

Whereas the same rule with a `/31` works:

[code]

[2018-03-28 05:54] #3340 closed, assigned to tgraf

[2018-03-28 05:54] #3345 closed, assigned to tgraf

[2018-03-28 05:59] tgraf commented on #3351
It looks weird but I think it's correct behaviour. Kubernetes specifies that:
- Any rule that selects a pod will put that pod into default deny at ingress, regardless of whether the rule has an ingress section or not.
- Any rule that has egress rule or has the `policyTypes: egress` field will put the relevant pods into default deny egress.

In this case I'm assuming that the `egress:` is omitted i

[2018-03-28 06:24] joestringer commented on #3352
Probably a bug in the CIDR implementation that uses hashmaps rather than a trie (on kernels < 4.11).

Would be useful to get the lxc_config.h in the setup for reference, but it looks easy enough to reproduce.

[2018-03-28 06:30] joestringer commented on #3322
@iamShantanu101 That would be my guess. By the way, you can link directly to code by browsing it on github, hovering over a line, clicking the "..." and clicking it, then "Copy Permalink", eg:

`https://github.com/cilium/cilium/blob/f8e147bcd072638ffedad2319fae4c3e2a7e6f19/cilium/cmd/helpers.go#L129-L136`

https://github.com/cilium/cilium/blob/f8e147bcd072638ffedad2319fae4c3e2a7e6f19/cilium/cmd/he

[2018-03-28 06:30] tgraf commented on #3352
For the `8.8.8.8/32`:

[code]

[code]

[2018-03-28 06:31] tgraf commented on #3352
For  `8.8.8.8/31`
[code]

[code]

[2018-03-28 06:32] joestringer commented on #3328
Note there's two for the health - one that runs as though it's an endpoint (via `bpf/spawn_netns.sh`), and the other that is launched directly, using `pkg/launcher` as you mentioned.

[2018-03-28 07:25] ianvernon commented on #3351
Pasted my thoughts from the discussion on the Cilium Slack:

When you import a Kubernetes NetworkPolicy, it does not get converted to a Kubernetes CiliumNetworkPolicy / cnp within Kubernetes. It should show up if you perform `kubectl get networkpolicies`, or some similar variant involving the `networkpolicy` object.

I do not think the example that you provided for default-deny for egress conforms

[2018-03-28 07:50] eloycoto commented on #3330
Issue related:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/v0.13/3/

[2018-03-28 08:50] #3243 closed, assigned to ianvernon

[2018-03-28 08:50] #3285 closed, assigned to nobody

[2018-03-28 09:03] raybejjani commented on #3328
Oh, good point. I keep forgetting about that one. Does the spawn_netns.sh do anything special? I imagine it execs the shell script and then adds the endpoint to the agent. This would fit into the lifecycle stuff I listed above without too much weirdness, right?

[2018-03-28 14:16] #3231 closed, assigned to tgraf

[2018-03-28 14:18] tgraf commented on #3351
Closing as this is correct behaviour

[2018-03-28 14:18] #3351 closed, assigned to nobody

[2018-03-28 14:21] tgraf commented on #3305
I see Error as something that has permanently failed or is immediately serious and the user typically has do to something about it. Warning is something that can be important but is potentially temporary or less important. Endpoints can always recover and get back into a healthy state.

[2018-03-28 14:21] #3305 closed, assigned to raybejjani

[2018-03-28 15:02] aanm opened #3357 "Fix CiliumNetworkPolicyNodeStatus update"

[2018-03-28 15:28] eloycoto opened #3358 "Policy: Egress toEntities"
Policy:
[code]

Endpoint list:
[code]
Endpoint config
[code]

Monitor:
[code]
Call:
[code]

[2018-03-28 15:46] eloycoto opened #3359 "CI: add end-to-end tests for entities"
Need to add Entities into e2e test:

Entities only:
- [ ] FromEntities
    - [ ] World alone
        - Expected behavior: traffic not allowed from host or within cluster, only world
    - [X] Host alone
        - Expected behavior: traffic not allowed from cluster or world, only host - Done in https://github.com/cilium/cilium/blob/f3c81902ca848af73673d0c122c7066279d4f367/test/k8s/net_policies.go#L

[2018-03-28 16:01] aanm opened #3360 "Create CLI menu to translate v2 policies to v3"

[2018-03-28 16:18] manalibhutiyani opened #3361 "BLOCKED: K8s CI: Update the multinode tests to use the Kafka Roles."
Update the k8s CI tests to use the Kafka roles.

The runtime tests have already been updated.

[2018-03-28 17:32] ashwinp commented on #3347
Tried the following rule:
[code]

Saw the following verdict in the cilium monitor output:
[code]

Also saw the request and response in the L7 proxy access log.
[code]

@tgraf Please feel free to close this ticket. Thanks.

[2018-03-28 17:35] #3347 closed, assigned to nobody

[2018-03-28 18:37] ianvernon opened #3365 "Ginkgo VM: add capability to use NFS to sync filesystem with host"
Building Cilium in order to run Ginkgo tests with the CI Vagrant VMs (`test/Vagrantfile`) locally is painfully slow compared to running the root `Vagrantfile` with NFS (`NFS=1 ./contrib/vagrant/start.sh`).

This would improve the speed of the developer workflow for testing stuff locally.

[2018-03-28 19:58] joestringer opened #3367 "CI logger in k8sT/Updates is misnamed"
https://github.com/cilium/cilium/blob/5a19754762f7aec400f04def5f87b127a311779f/test/k8sT/Updates.go#L24

Copy+paste error, this should be named based on the testname.

[2018-03-28 20:03] joestringer opened #3368 "Add test/bpf to CI"
* [ ] unit-test (run as part of regular unit-test suite)
* [x] verifier-test (run in ginkgo, #3316)

[2018-03-28 21:18] ianvernon commented on #3358
Looking into this.

[2018-03-28 21:31] joestringer commented on #3328
It basically just runs a network namespace and runs `cilium-health` inside the namespace, and sets up the addresses/routes for connectivity. It currently handles restarting the daemon if it fails / exits. The endpoint creation for this namespace is done from the daemon, it doesn't configure itself through the API (because we want to associate reserved labels that users can't manipulate).

[2018-03-28 21:54] aanm opened #3370 "[FLAKE] runtime.RuntimeValidatedKVStoreTest Etcd KVStore"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1720/testReport/junit/(root)/runtime/RuntimeValidatedKVStoreTest_Etcd_KVStore/

[code]

from the logs it looks like it was not able to connect to etcd.
[code]
where is etcd container being started?

[2018-03-28 23:12] ianvernon commented on #3358
I've RCA'd why the policy isn't getting plumbed down correctly. Need to refactor some existing code to ensure that entities are actually processed by Cilium during runtime and not just during unit tests. I'll have a fix out soon.

[2018-03-28 23:57] joestringer opened #3371 "CIDR rule plus separate L4 rule doesn't allow traffic"
With the following policy, I would expect that any contact within the specified CIDR would work, and so would any contact using the specified ports to any destination would pass.

[code]

However, UDP access to external IPs on port 53 is dropped by the CIDR checks:

[code]

[2018-03-29 01:15] joestringer opened #3373 "L7 egress from container to world is broken"
I set up a pod and an L7 policy, then attempted to contact the outside world. It doesn't work with a policy that should allow the traffic.  For some reason, the SYN-ACKs from world back into egress proxy are being reset before they reach Envoy, so Envoy cannot pass the reply on to the pod.

Policy:
[code]

Run an endpoint with labels app2, inside:

[code]

From the host:
[code]

cilium monitor tim

[2018-03-29 01:35] joestringer commented on #3373
@tgraf is the intended design such that we would expect traffic from the proxy to the outside world to go via `cilium_host`? Because this is not the case in this example.

[2018-03-29 01:42] joestringer commented on #3373
Something else to note is that often calls from containers to the outside world are encrypted, in which case we wouldn't be able to peek inside the packets today anyway, so the workaround would be to remove the L7 policy and fall back to CIDR-only.

[2018-03-29 01:51] joestringer commented on #3297
I suspect that #3366 will fix this issue.

[2018-03-29 04:25] #3352 closed, assigned to nobody

[2018-03-29 04:48] tgraf opened #3374 "Introduce entity to represent cluster nodes"
Kubernetes in combination with NodePort leads to traffic appear from any of the worker nodes. Introduce an entity to represent the set of worker node IPs to represent this in policy in a stable way. The set is to be maintained automatically based on notifications.

[2018-03-29 04:49] #3330 closed, assigned to eloycoto

[2018-03-29 07:03] ianvernon opened #3376 "nightly tests: add label-based egress"
Parent: #1488

Once the work in #3372 lands, we need to add nightly tests for label-based egress.

TODO: what sorts of tests? Combinations of policy? Etc.

[2018-03-29 10:21] nebril commented on #3294
Can't replicate this, but found another panic which is caused by localStatus not being populated due to slow /healthz response. Will fix.

[2018-03-29 12:56] aanm opened #3381 "Disable CNP v2 CRD for new installations"
We can't install CNP v2 CRD for new clusters since the user might have already switched to v3, so we will only watch for CNP v2 in case the user is already running v2 on an existing cluster.

Unfortunately, if we don't install it for new clusters the e2e tests will fail because they use v2 policies so I've temporarily to keep installing CNP v2 CRD until either:

1) We replace all k8s e2e tests wit

[2018-03-29 14:09] nebril commented on #3370
Isn't etcd started by systemd in runtime tests vm?

[2018-03-29 14:09] #3358 closed, assigned to ianvernon

[2018-03-29 14:10] #3365 closed, assigned to nobody

[2018-03-29 14:32] eloycoto opened #3383 "Test: issues on scale deployment"
[code]

Found  in
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1739/
[K8sValidatedUpdatesUpdatingCiliumstabletomaster.zip](https://github.com/cilium/cilium/files/1860533/K8sValidatedUpdatesUpdatingCiliumstabletomaster.zip)
Seed: 1522327371

[2018-03-29 14:42] tgraf commented on #3373
@joestringer Packets from container to outside world should get redirected via cilium_host to proxy and proxy sends them out like any regular local process.

[2018-03-29 16:10] ianvernon opened #3387 "CI: determine current policy test coverage / generate test plan"
Generate a list of test cases that need to be covered by CI (in PR builds and nightly builds).
Include combinations of policy, and write out expected behavior.

This is still a work-in-progress.

PR builds:

* Entities tests: https://github.com/cilium/cilium/issues/3359
* L3-dependent L7 egress tests: https://github.com/cilium/cilium/issues/3408
* CIDR tests: https://github.com/cilium/cilium/issue

[2018-03-29 16:13] raybejjani commented on #3280
The original spec from tgraf

[code]

[2018-03-29 16:23] nebril commented on #3294
Status: wasn't able to replicate either on minikube or in vagrant vm with induced timeouts in `/healthz` api response code. After client timed out the agent didn't try to write to closed socket (this seems like sane approach, but was the assumption of what was happening was the opposite since the panic message indicated writing to a closed connection over unix domain socket).

This behaviour doesn

[2018-03-29 16:24] nebril commented on #3294
@tgraf in light of above information, is it ok for this to be best-effort for 1.0?

[2018-03-29 17:03] joestringer commented on #3373
Yeah, I'm not sure why the responses aren't handled back into the proxy just like any other regular local process. Local processes seem to work fine for the equivalent request.

[2018-03-29 18:26] manalibhutiyani opened #3392 "Kafka : Investigate how to interpret `consume to disallowed topics` with the new Kafka role changes."
Investigate how to interpret `consume to disallowed topics` with the new Kafka role changes.

Initially the `docker exec` to consume a disallowed topic would return with an `error` and the CI scripts would test this returned value. However, with the new Role changes, we get a warning instead of error and the consumer script does not return.
[code]

This was causing a hang in the consume of the CI

[2018-03-29 18:27] manalibhutiyani commented on #3361
Blocked on #3392

[2018-03-29 18:32] ianvernon opened #3393 "egress policy: ConnTrack cleanup"
TODO: Add conntrack cleanup for egress.

[2018-03-29 18:38] ianvernon opened #3394 "egress policy: add policy trace for egress to CLI / API"
TODO.

[2018-03-29 18:41] joestringer opened #3395 "Warning logs about ignoring endpoint during restore"
During cilium startup, I've observed these logs:

[code]

Seems like cilium is aware of the endpoints, but perhaps it did not previously manage them or previous BPF compilation failed so we do not have `/var/run/cilium/state/EPID/lxc_config.h`

[2018-03-29 18:52] ianvernon opened #3396 "CLI: refactor updatePolicyKey function"
From [3324](https://github.com/cilium/cilium/pull/3324#discussion_r177979413):
"Separately, it's a little weird that we take a cobra.Command and args directly here. The arg length check is more relevant to where we implement the top-level cli command logic. I suggest factoring out the args usage and giving the function more explicit parameters."

[2018-03-29 19:28] manalibhutiyani opened #3397 "Kafka: Allow only if all topics in a request are allowed, not just first matching topic"
If a request (e.g. a produce) has multiple topics, and one topic is allowed by policy, the whole request is allowed:
[code]
It should be the other way around. If *all* the topics are allowed, then then request should be allowed, otherwise it should be denied.

[2018-03-29 19:52] ianvernon opened #3398 "policy: replace ingress / egress booleans with TrafficDirection type"
See https://github.com/cilium/cilium/pull/3324#discussion_r177912227 .

More coming soon.

[2018-03-29 21:17] jrajahalme opened #3399 "Enable core file generation in dev VM, CI"
Currently in the dev VM core files are forwarded to Ubuntu apport. The dev and CI VMs should be configured without apport, e.g.:
[code]
This will typically modify `sysctl kernel.core_pattern` to something like:
[code]
`core` by itself refers to a file named `core` in the current directory. It may be better to specify the `/tmp` with a pattern, e.g.:
[code]
Also, systemd configuration for cilium mu

[2018-03-29 21:44] joestringer opened #3401 "HTTP rule sanitization doesn't catch bad regex"
Adding invalid egress rules for HTTP can be made to put endpoints in a bad state, with the endpoint log printing `"Error regenerating endpoint: Error while configuring proxy redirects: proxy state changes failed: context deadline exceeded"`:

[code]
[code]
[code]
[code]
[code]

The path `*` is not a valid regex.

[2018-03-29 21:49] ianvernon commented on #3401
The reason is because the sanitization for `L7Rule` does not check whether the contents of the HTTP rule are valid:

https://github.com/cilium/cilium/blob/3135a2f7259f36c83d8107203847c3735b34d179/pkg/policy/api/rule_validation.go#L235

[2018-03-29 21:49] manalibhutiyani commented on #3401
Can you also share the `l7_invalid.json` for reference ?

[2018-03-29 21:50] ianvernon commented on #3401
@manalibhutiyani the `l7_invalid.json` is in the description.

[2018-03-29 21:50] manalibhutiyani commented on #3401
Yes... just saw that. thanks

[2018-03-29 21:54] manalibhutiyani commented on #3401
And just to clarify, the "invalidness" of this policy is the wildcard character in `path` or something else? I thought we allow wildcarding ? sorry if that a trivial question :)

[2018-03-29 21:58] ianvernon commented on #3401
Wildcard would be `.*`, while the wildcard in the policy @joestringer provided is `*`.

[2018-03-29 22:01] manalibhutiyani commented on #3401
Ah...thanks!  In that case `Sanitize` should just add this check for HTTP. (Not sure if Kafka supports this either ..checking)

[2018-03-29 22:08] ianvernon opened #3402 "CI: K8sValidatedPolicyTestAcrossNamespaces needs to delete resources after logs are gathered"
The test currently defers deletion of resources within the test itself. This means that if the test fails, pods will be deleted before the logs are gathered, leaving with incomplete information for determining the root cause of failures.

As the person who wrote this test, I will fix this.

[2018-03-29 23:54] #3099 closed, assigned to ianvernon

[2018-03-30 06:48] ianvernon opened #3408 "CI: add L3-dependent L7 egress tests"

[2018-03-30 06:57] #3367 closed, assigned to eloycoto

[2018-03-30 10:52] eloycoto opened #3410 "Ginkgo: Cilium-bugtool is not saved in kubernetes tests"
Current issue:

Buginfo is not saved correctly in Kubernetes test.
[code]
Issue&PR related:

https://github.com/kubernetes/kubernetes/issues/58011
https://github.com/kubernetes/kubernetes/pull/58049/files

[2018-03-30 11:37] eloycoto commented on #3410
The issue is with test that contains `:`

[code]

[2018-03-30 14:03] #3410 closed, assigned to eloycoto

[2018-03-30 16:01] tgraf commented on #3297
Fixed by #3366

[2018-03-30 16:01] #3297 closed, assigned to nobody

[2018-03-30 16:03] tgraf commented on #3065
@rlenglet What work is left on the Cilium side?

[2018-03-30 16:06] tgraf commented on #3346
@manalibhutiyani Please retest, this should work now

[2018-03-30 16:16] joestringer opened #3413 "bugtool: if `cilium debuginfo` cannot be ran, still create the markdown file for it, and specify why it could not be ran"
If cilium is not running, then using cilium-bugtool does not guarantee to collect any cilium command output, even for commands like the BPF state `cilium bpf ...` which should not rely upon the daemon.

We may consider also unconditionally gathering `cilium status --verbose` output, even if the command fails, so that it's clearer in the bugtool output that the reason other pieces are missing is th

[2018-03-30 16:41] rlenglet commented on #3065
@tgraf We should be good for 1.0.

There's one more thing we'll need to do at some point: sending the L3-L4-only policies to the sidecar proxies. Right now, in case there are no L7 rules, traffic would be blocked by the sidecar proxies because traffic is always redirected to the proxies. I don't consider that's a blocker since the Istio GSG only uses policies with L7 rules.

And I'll need to updat

[2018-03-30 16:44] tgraf commented on #3065
@rlenglet Thanks! Removing 1.0-blocker

[2018-03-30 16:57] joestringer opened #3414 "L3-dependent L7 rules apply to unrelated CIDRs"
The following code makes use of `BPF_L4_MAP` to apply L4(+L7) policies for traffic destined outside the cluster:

https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/bpf/bpf_lxc.c#L528-L533

(via the following call)

https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/bpf/lib/l4.h#L152-L160

However, userspace doesn't differentiate between L3-d

[2018-03-30 17:05] tgraf commented on #3357
@aanm Can you share a bit of detail?

[2018-03-30 17:12] ashwinp opened #3415 "Egress to host does not work with toEndpoints/toEntities specified in the egress policy"
## Bug reports

### Title

Egress to host does not work with toEndpoints/toEntities specified in the egress policy

### General Information

- Cilium version (run `cilium version`)
`v0.13.20`

### How to reproduce the issue
Used the following policy to allow the prometheus client to talk to an application running on the host:
[code]
The traffic is dropped (L3 deny verdict in `cilium monitor`).

Fr

[2018-03-30 17:19] joestringer opened #3416 "Review CIDR ginkgo tests"
### General tasks
* [ ] Write tests that would pick up #3406
  * [ ] Ingress from host?
  * [ ] Test CIDRs that could catch byte-ordering issues
* [ ] Test default CIDRs (0/0)
  * [ ] Ingress
  * [ ] Egress
  * [ ] World
* [ ] Reconsider the tests in the light of expanded egress policy support
  * [ ] Default allow on egress + testing CIDR ingress
  * [ ] Default allow on ingress + testing CIDR eg

[2018-03-30 17:22] joestringer commented on #3415
@ashwinp can you also add the `cilium endpoint get` portions for L4? The above is only L3, but it looks like you have L4 policies.

[2018-03-30 17:35] aanm commented on #3357
@tgraf in case of failure, the `LastUpdated` timestamp and `Revision` number shown will both be `0`.

[2018-03-30 17:36] joestringer opened #3417 "Consider table-driven tests for policy"
http://onsi.github.io/ginkgo/#extensions

It's difficult to assess the state of policy testing of various combinations of policies, direction, in-cluster/out-cluster, etc. It might be easier to build a giant table of all expected policy combinations using something like the table tests in the above link and run the tests via this kind of model. Or even we may consider a few smaller tables which co

[2018-03-30 17:40] ianvernon commented on #3415
Looks like allowed-egress-identities isn't populated because that is only for label-based L3 (not L3-dependent-L4)

[2018-03-30 17:43] ashwinp opened #3418 "Egress policy to two endpoints with the same toPort does not work"
## Bug reports

### Title

Egress policy to two endpoints with the same toPort does not work

### General Information

- Cilium version (run `cilium version`)
`v0.13.20`

### How to reproduce the issue

Used the following policy:
[code]
The `cilium policy get` looks OK:
[code]

[code]

As seen above, there are two egress rules with toPort 9090 going to two distinct endpoints (cilium and prometheus

[2018-03-30 17:57] joestringer opened #3419 "Remove extraneous `waitEndpointsReady()` calls after `PolicyRenderAndImport()`"
Usage of `PolicyRenderAndImport()` is inconsistent and error-prone. Examples:

https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/test/runtime/Policies.go#L716-L720

https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/test/runtime/Policies.go#L984-L991

IMHO we should have something more like:

[code]

This would render the policy to a file, i

[2018-03-30 17:59] manalibhutiyani commented on #3346
@tgraf Was this suppose to be working on `stable`? I retested . This is not working.

[code]

This is the policy I apply:
[code]

Policy applied on cilium:
[code]

Try sending a request from `app2` to `app1`

[code]
This should have been denied? @ianvernon @tgraf

[2018-03-30 18:05] ianvernon commented on #3415
After discussion with Ashwin, this is the issue we are seeing with importing such a policy:
[code]

@ashwinp  says from his side, the expected behavior is that since the policy has an empty endpoint selector to `toEndpoints` traffic should be allowed to all endpoints in all namespaces from endpoints in namespace default with label app1.

However, when the policy is imported, the wildcard selector

[2018-03-30 18:11] ianvernon commented on #3415
This bug has two issues associated with it;

* What is the expected behavior for wildcard endpoint selector? Should it only be to endpoints within the namespace for CiliumNetworkPolicy?
* It looks like traffic is being denied to the host entity despite the policy allowing it; this still needs to be triaged.

[2018-03-30 18:12] joestringer opened #3420 "CI Flake: Updating Cilium stable to master"
#3404 only adds some output to cilium-bugtool, so should not affect upgrade.

Example failed build:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1820/

[code]

[code]

[2018-03-30 18:12] ashwinp opened #3421 "Egress to host does not work with policy containing toEndpoints `reserved:host` label"
## Bug reports

### Title

Egress to host does not work with policy containing toEndpoints `reserved:host` label

### General Information

- Cilium version (run `cilium version`)
v0.13.20
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
k8s

### How to reproduce the issue

This is similar to GH #3415, but not quite the same. In this case, the rule explicitly specifies the

[2018-03-30 18:18] joestringer opened #3422 "Importing policy twice results in multiple policies that do not merge"
Is the following behaviour expected?

[code]
[code]
[code]
[code]

There are two instances of the policy in the `policy get` output, with the same `endpointSelector`.

[2018-03-30 18:22] manalibhutiyani commented on #3346
Works as expected on `v0.13.20`
[code]

[2018-03-30 18:22] #3346 closed, assigned to nobody

[2018-03-30 18:33] manalibhutiyani opened #3423 "CI : Add Nightly tests in ginkgo for Kafka"
For reference we have
`test/k8sT/PoliciesNightly.go` and
`test/k8sT/Nightly.go ` which are `HTTP` only. We need to do something similar for Kafka

[2018-03-30 18:47] joestringer commented on #3418
I suspect that because there are two L4 policies with the exact same port, but different endpoint selectors, the endpoint selectors are not being merged into `L4PolicyMap` so we only end up with one of the rules **OR** the other being pushed into the datapath. Potential workaround may be to use different ports for the different apps.

[2018-03-30 19:07] joestringer commented on #3418
I debugged this offline with @ashwinp and the cilium pod is not being managed by cilium, so there won't be an identity for its set of labels - hence why it wouldn't work. It can potentially be worked around by applying egress policies to the host or cluster instead.

We should separately validate that having two policies with the same L4 but different L3 endpoint selectors works, when both destina

[2018-03-30 19:08] joestringer commented on #3421
It's mapped down into the datapath, but the IP->ID mapping would fail (host is not in the ipcache), then the datapath will look up the policy with identity 0 rather than id=world. This lookup will fail.

[2018-03-30 19:15] tgraf commented on #3421
@joestringer Let's add the host IPs to the ipache, we already do this for the endpoint map, It's very simple:

[code]

[2018-03-30 19:54] joestringer commented on #3421
Plus if the IP-ID lookup fails, use `reserved:cluster` identity for lookup (#3426).

[2018-03-30 20:32] ianvernon opened #3424 "CI: add egress Kafka tests"

[2018-03-30 20:37] tgraf opened #3425 "Disable virtual address space randomization for vbox"
Disable randomization of virtual address space in order to simplify debugging of backtraces:

[code]

[2018-03-30 20:38] tgraf commented on #3425
cc @jrajahalme

[2018-03-30 20:49] #2415 closed, assigned to eloycoto

[2018-03-30 20:51] tgraf commented on #2594
Reviewed in context of 1.0. No blockers remaining, reducing severity.

[2018-03-30 20:58] joestringer opened #3426 "Egress policy defaults to 0 (unknown) if IP->ID cannot be mapped"
https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/bpf/lib/policy.h#L193-L202

The identity should default to CLUSTER_ID rather than unknown, because in the caller functions we have guaranteed that the destination is within the cluster:

https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/bpf/bpf_lxc.c#L199-L208

https://github.com/cilium/cili

[2018-03-30 21:12] ashwinp opened #3427 "Egress to port 443 denied due to CIDR check, but there is no CIDR rule in the policy"
## Bug reports

### Title

Egress to port 443 denied due to CIDR, but there is no CIDR rule in the policy

### General Information

- Cilium version (run `cilium version`)
`v0.13.20`

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
k8s

### How to reproduce the issue

Relevant rule:
[code]
From `cilium monitor` from the node running cloudwatch-exporter:
[code]

[2018-03-30 21:15] tgraf commented on #3427
Likely a dup of https://github.com/cilium/cilium/issues/3414

[2018-03-30 21:16] ashwinp commented on #3427
[lxcconf.txt](https://github.com/cilium/cilium/files/1864797/lxcconf.txt)
LXC config file (initial string has been snipped).

[2018-03-30 21:26] joestringer commented on #3427
I was suspecting it's due to these:

https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/bpf/lib/maps.h#L239-L240

https://github.com/cilium/cilium/blob/82fbce193a79eea9c82e7a4f57de24375b5423e1/bpf/lib/maps.h#L253-L254

There's no CIDR policy defined in this case, but egress policy is enabled (for L4). However we're denying due to the CIDR. I suspect that userspace will

[2018-03-30 21:31] ianvernon opened #3428 "CI: failure in BeforeAll does not trigger log AfterFailed step"
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/1819/execution/node/58/log/

Relevant output:
[code]

Logs generated by build:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_1819.tar.zip](https://github.com/cilium/cilium/files/1864811/test_results_Cilium-PR-Ginkgo-Tests-Validated_1819.tar.zip)

This failure occurred here in the code: https://github.com/cilium/cilium/blob

[2018-03-30 21:41] joestringer commented on #3414
Confirmed the failure locally.

Short term fix will be to split BPF_L4_MAP into the label-dependent proxyport lookup and the label-independent L4 policy + proxyport lookup.

Longer term fix will be #2564

[2018-03-30 21:49] ianvernon opened #3429 "CI: reloading VM does not restart cilium-consul"
Reproducing steps:
1. Start VM from root of Cilium repository and let it finish booting:
`./contrib/vagrant/start.sh`

2. Halt the VM:
` vagrant halt`

3. Reload the VM:
`RELOAD=1 ./contrib/vagrant/start.sh`

4. cilium-consul is not running after reloading:
[code]

I work around this by doing the following:
[code]

But, this is tedious, and the `cilium-consul` service should gracefully handle rest

[2018-03-30 22:24] eloycoto commented on #3417
This are the nightly test no? Helpers/policygen/policygen.go cover this

[2018-03-31 00:48] tgraf opened #3435 "Map insertion failure in policymap is silent"
Due to a bug in my PR, map insertions into the policymap failed, there was no user facing indication of the failure.

*How to reproduce:*
- Simulate a policy map insertion.

[2018-03-31 04:01] tgraf opened #3437 "test: Re-enable default deny egress test"

[2018-03-31 06:09] tgraf opened #3440 "test: Re-enable K8sValidatedKafkaPolicyTest KafkaPolicies"
[code]

[2018-03-31 17:33] tgraf opened #3442 "test: Re-enable K8sValidatedUpdates"
Re-enable once test is stable

[2018-03-31 19:07] tgraf commented on #3440
Kafka runtime test hangs forever:
[code]

[2018-03-31 22:31] joestringer commented on #3429
I think we can just add a `-` to the start of the `ExecStartPre` command, and it will ignore the error and work:

https://github.com/cilium/cilium/blob/ead59b2946108a65a22b276647ff187fa91c5452/contrib/systemd/cilium-consul.service#L11-L14

EDIT: Probably a better approach is this:
[code]

[2018-03-31 23:27] joestringer commented on #3417
@eloycoto ah, this looks like the kind of thing I was thinking about. What's the intention behind the split between the aforementioned policygen policy checks vs. something like the `test/runtime/Policies.go` tests? Is there any target we can use to just run like `test-policies-please` or do we have to use the nightlies request?

[2018-04-01 02:19] #3318 closed, assigned to tgraf

[2018-04-01 06:00] tgraf opened #3450 "Schedule removal of policy_reserved_ maps"
Add code to remove policy_reserved_* maps in a future release once restore from endpoints using this is never encountered anymore

[2018-04-01 06:07] tgraf opened #3452 "Envoy test error in local test environment"
[code]

[2018-04-02 02:35] tgraf opened #3453 "Envoy immediately disconnects on external request"
How to reproduce:

Load simple egress HTTP policy:
[code]

Perform an egress HTTP request:
[code]

tcpdump:
[code]

Logs:
[code]

[2018-04-02 04:11] #3421 closed, assigned to ianvernon

[2018-04-02 06:36] eloycoto commented on #3442
Related with: https://github.com/cilium/cilium/issues/3383

[2018-04-02 08:45] eloycoto commented on #3419
Hi @joestringer  ATM `PolicyRenderAndImport` already wait until endpoints are ready.

Regards

[2018-04-02 15:43] tgraf opened #3459 "Debug all master Jenkins failures and make it reliable"
Need triaging / RCA:
- [ ] Runtime L3L4 Test connect timeout: https://github.com/cilium/cilium/issues/3588
- [ ] endpoint BPF program generation failed https://github.com/cilium/cilium/issues/3549
- [ ] Upgrade test failed in K8s 1.8: https://github.com/cilium/cilium/issues/3657

Fixed / closed :
- [x] Kafka policy ingress failure: https://github.com/cilium/cilium/issues/3502
- [x] NAT46 test flak

[2018-04-02 15:44] tgraf opened #3460 "1.0 Testing Week Coordination"
Tracking issue to coordinate all testing effort this week:

Add testing tasks here:
- [x] Debug all Jenkins master failures and make it reliable (https://github.com/cilium/cilium/issues/3459)
- [ ] Provide policy example for 5 demo apps (TBD)

Documentation gaps found:
- [ ] ToEndpoints need to specify that it does *NOT* apply to pods which are running in host networking (TBD)
- [ ] fromCIDR curre

[2018-04-02 16:43] joestringer commented on #3373
Duplicate of #3453.

[2018-04-02 16:43] #3373 closed, assigned to nobody

[2018-04-02 16:54] tgraf commented on #3371
Maybe a dup of #3414

[2018-04-02 16:59] eloycoto opened #3462 "CI failure: guestbook cannot netcat to redis in spite of policy"
Jenkins failures:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/515/

[K8sValidatedPolicyTestGuestBookExamplescheckspolicyexample.zip](https://github.com/cilium/cilium/files/1868662/K8sValidatedPolicyTestGuestBookExamplescheckspolicyexample.zip)

[2018-04-02 17:02] eloycoto commented on #3440
WIP https://github.com/cilium/cilium/pull/3456
Already spoke with @rlenglet  around the issue

[2018-04-02 17:11] manalibhutiyani commented on #3460
I can take the Kafka demo app.

[2018-04-02 17:15] ackerman80 commented on #3460
I will take couchdb (arvind)

[2018-04-02 17:23] tgraf commented on #3460
Please take a non Kafka demo app as you are very familiar with Kafka already ;-)

[2018-04-02 17:45] joestringer commented on #3419
Perfect, then we can remove the `areEndpointsReady()` calls from those tests.

[2018-04-02 18:04] manalibhutiyani commented on #3460
@tgraf : Haha :) Yes I thought that too after writing here.  I can take` grpc ` then

[2018-04-02 18:10] ianvernon commented on #3462
Failure output:
[code]

[2018-04-02 18:11] joestringer opened #3465 "from-overlay: invalid indirect read from stack off -80+0 size 32"
I saw this on a local linux dev branch based off bpf-next using cilium master as of this morning, need to triage whether it is seen on all latest kernels or just an issue with my dev branch.

[code]

[2018-04-02 18:26] ianvernon commented on #3462
From the Console Output (in Jenkins job link in the description), the following policies were imported into Cilium:

`test/k8sT/manifests/guestbook-policy-web.json`:
[code]

any pod with label `k8s-app.guestbook:web` should be able to receive ingress from `reserved.world` on port 3000.

`test/k8sT/manifests/guestbook-policy-redis.json`

[code]

Thus, it is expected that any pod with label `k8s-app

[2018-04-02 18:31] ianvernon commented on #3462
In attached ZIP file, logs for this test are located in the following directory:
`test_results/17-/K8sValidatedPolicyTestGuestBookExamplescheckspolicyexample`

[2018-04-02 18:36] ianvernon commented on #3462
Given that the command failed at the following timestamp:
```06:26:28 time="2018-04-02T06:26:28Z" level=debug msg="running command: kubectl exec -n default guestbook-6b4d7 -- nc redis-master 6379 <<EOF\n\t\t\t\t\t\t\tPING\n\t\t\t\t\t\t\tEOF"```

I checked the contents of `test_results/17-/K8sValidatedPolicyTestGuestBookExamplescheckspolicyexample/test-output.log` around the following time and see

[2018-04-02 18:40] ianvernon commented on #3462
Unfortunately, due to a bug in the logic for gathering the output of `cilium-bugtool`, the error isn't present for the linked build in this GitHub issue:
[code]

 I believe that was fixed by https://github.com/cilium/cilium/pull/3411 - @eloycoto please confirm.

[2018-04-02 18:46] joestringer commented on #3371
This seems more like #3427, but if you tried to actually access the outside world with this policy then you'd also hit #3414. Once those two are fixed, we can easily test this.

[2018-04-02 18:49] ianvernon commented on #3462
It looks like policies are deleted *before* we gather the logs in the test due to the following console output; test needs to be fixed to ensure that no deletion of information occurs before cleanup occurs :(

[code]

[2018-04-02 19:29] ianvernon commented on #3462
Output of `cilium endpoint get` for redis pod:
[code]

[2018-04-02 19:30] ianvernon commented on #3462
Luckily, we still can see that the redis policy was imported (it was not deleted in the output posted here: https://github.com/cilium/cilium/issues/3462#issuecomment-378008589

[2018-04-02 19:31] ianvernon commented on #3462
For the kube-dns pod (which was running on the same node as the redis pod), there is no policy imported (as expected because no policy enforcement was enabled for kube-dns):
[code]

[2018-04-02 19:41] joestringer opened #3466 "Cilium consumes 200% CPU if kvstore is down"
If you run some containers, remove them, then shut down the kvstore, cilium will consume large amounts of CPU.
[code]
[code]
[code]
[code]
[code]
[code]
[code]

I fixed it by manually restarting the kvstore.

Is there a more graceful way we can handle this situation?

[2018-04-02 19:41] ianvernon commented on #3462
Unfortunately, without monitor output / full Cilium logs, this is difficult to diagnose. I'll try to see if I can reproduce this locally with latest master after triaging other recent failed builds. If I am not able to after some time, I'll leave this ticket open in case we hit it again.

[2018-04-02 19:45] ianvernon opened #3467 "CI failure: endpoint recovery on restart failed"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/512/

Archive of logs:
[test_results_master_512.tar.zip](https://github.com/cilium/cilium/files/1869250/test_results_master_512.tar.zip)

[2018-04-02 19:49] ianvernon commented on #3467
Failure output:
[code]

From a first glance, it looks like we didn't wait for the endpoints to be in ready state before checking the output of `cilium endpoint list`, which is what we use to determine whether restore occurred correctly for endpoints in the test. Still triaging, though.

[2018-04-02 20:07] #3414 closed, assigned to joestringer

[2018-04-02 20:08] #3357 closed, assigned to aanm

[2018-04-02 20:24] jrajahalme commented on #3453
tcpdump on the `cilium_host` device never sees the response:
[code]
This would mean that the host stack can't reverse NAT the packets coming for `10.0.2.15` to `10.11.28.238`?

Likewise, the cilium monitor only sees the outgoing SYN, nothing more of the upstream connection.

[2018-04-02 20:33] ianvernon commented on #3467
My suspicion is correct:

[code]

We wait for the endpoints to be ready in the `BeforeEach` for this test:
[code]
, which succeeded.

However, the endpoints are in `waiting-to-regenerate` state when we run `cilium endpoint list` again:

[code]

Checking test logs now for a bit more information to confirm and see if the test helpers are waiting correctly. In the tar attached to the Jenkins job, log

[2018-04-02 20:49] joestringer opened #3468 "CI: Fix Expect with offset in CNP Specs Test"
The invocations of `ExpectSuccess()` and `ExpectFail()` below do not use an offset, so testsuite failures point to these helper functions rather than the source line in the test that invokes these.

https://github.com/cilium/cilium/blob/f9000c886f1f1c29b7d2c2f8608c9d41278ac016/test/k8sT/Services.go#L319-L331

[2018-04-02 20:50] ianvernon opened #3469 "CI: add String() function for CmdRes type and consume it in the wrappers for expectations of CmdRes output"
Right now, some of the messages which are output when a test fails are cryptic and sometimes don't give enough information to see exactly what happened when state that is being analyzed is not what is expected. Being able to quickly see all metadata associated with a given `CmdRes` as a structured string would be extremely useful for debugging purposes in such situations (i.e. the command passed i

[2018-04-02 20:51] joestringer opened #3470 "CI failure: Test CNP Specs Test failed"
Archive: [test_results_master_511.tar.gz](https://github.com/cilium/cilium/files/1869326/test_results_master_511.tar.gz)

Test flake seen in [jenkins master build 511](https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/511/):

[code]

Relevant call: https://github.com/cilium/cilium/blob/f9000c886f1f1c29b7d2c2f8608c9d41278ac016/test/k8sT/Services.go#L459

[2018-04-02 20:58] joestringer commented on #3470
A cursory glance at the test would suggest that after line 439 successfully applies the policy, it should be applied on all nodes:

https://github.com/cilium/cilium/blob/f9000c886f1f1c29b7d2c2f8608c9d41278ac016/test/k8sT/Services.go#L439-L459

[2018-04-02 21:00] joestringer commented on #3470
Seen in the test results `cilium-1z7pc_endpoint_list` file:

[code]

The other node's endpoints are ready.

Potentially the same root cause as #3467?

[2018-04-02 21:12] ianvernon opened #3471 "CI: test NAT46 connectivity between containers failure"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/508/

Log archive: [test_results_master_508.tar.zip](https://github.com/cilium/cilium/files/1869351/test_results_master_508.tar.zip)

Relevant failure output:
[code]

[2018-04-02 21:18] manalibhutiyani opened #3472 "All Kafka CI tests failing due to proxymap error "Unable to lookup original destination""
Note that this is causing basic Kafka to fail. Hence marked as a 1.0 blocker.

[code]

If you see the output of the entries, when a new produce message happens on L7 the number increase in k8s1
[code]

https://gist.github.com/eloycoto/4f234ae22876870e33151e30ab536b2e

Also Eloy tested this on Kafka tests(runtime as well as k8s) and it was failing.

Envoy is working fine.

[2018-04-02 21:21] ianvernon commented on #3471
Additional context from test output from when test failed:
[code]

Test failed here:
[code]

I.e., client should have been able to ping6 to server's IPv4 address converted to IPv6 address, but wasn't able to.

[2018-04-02 21:23] joestringer commented on #3470
The helper being used should only return when all endpoints on all nodes are ready:

https://github.com/cilium/cilium/blob/f9000c886f1f1c29b7d2c2f8608c9d41278ac016/test/helpers/kubectl.go#L717-L749

However, this doesn't appear to be the case, given that `cilium endpoint list` output on test failure sees endpoint in regenerating state.

[2018-04-02 21:41] joestringer commented on #3470
Seen also in `cilium_logs.txt`:

[code]

Unfortunately the `/var/run/cilium/state` dir doesn't appear to have been collected.

[2018-04-02 21:45] ianvernon commented on #3471
Unfortunately, we remove the containers within the Ginkgo Context before we gather logs, so we basically have little-to-nothing to go on here apart from the Cilium logs, which I can try to deconstruct a history from.

At `2018-03-31T18:56:08Z`, the ping command began from the client to the server

From the endpoint of `cilium endpoint get 62502` in `test-output.log`, the client has endpoint ID 625

[2018-04-02 21:48] tonylambiris opened #3474 "New Arch Linux package"
@tgraf et al:

Just wanted to mention I created a package for Arch Linux in case you wanted to update the documentation of supported distributions: https://aur.archlinux.org/packages/cilium-git/

Thanks! :)

[2018-04-02 21:53] joestringer opened #3475 "CI: Fix k8s log gathering"
Example output is attached to Issue #3470.

Need to:
* [x] Fix gathering cilium-bugtool to collect artifacts from k8s nodes upon test failure (#3411)
* [x] Timestamps are missing from `cilium_logs.txt`
* [x] Can we annotate `cilium_logs.txt` with the cilium node they apply to?
    * Alternatively, gather also node-by-node log files

From test-output.log:
[code]

cilium-logs collection code:

https

[2018-04-02 21:56] joestringer commented on #3470
Interesting, from test-output.log:

[code]

The result of running `cilium policy wait` isn't checked in this code:
https://github.com/cilium/cilium/blob/f9000c886f1f1c29b7d2c2f8608c9d41278ac016/test/helpers/kubectl.go#L739

[2018-04-02 22:19] ianvernon commented on #3475
First bulletpoint (`cilium-bugtool` from K8s nodes) was addressed by #3411 . However, the fix was merged after the issue in https://github.com/cilium/cilium/issues/3470 was hit on Jenkins. I will create a ticket for adding a test to ensure that the cilium-bugtool / associated log-gathering commands are functioning correctly.

[2018-04-02 22:25] ianvernon opened #3479 "CI: add test which checks result of log-gathering functions"
Currently, we do not fail the build if any log-gathering logic fails. This means that if tests fail and there has been some prior regression in our log-gathering logic, we have no data to go off of.

Add some means of returning whether log-gathering succeeded or failed for both K8s and Runtime tests so that we ensure we have adequate logs for all builds, all the time.

[2018-04-02 22:33] ianvernon opened #3481 "CI: some tests remove resources before logs are gathered"
Within Ginkgo, there is the notion of `Context`, which allows subsets of tests to occur within a `Describe`. For instance, Within a `Describe`, one can have the following:

- Describe
    - BeforeEach (for each `It` within Describe)
    - AfterEach (for each `It` within Describe)
    - JustAfterEach
    - AfterFailed
    - It
    - Context
        - BeforeEach (for each `It` within Context)

[2018-04-02 22:47] joestringer commented on #1618
Duplicate of #3453

[2018-04-02 22:47] #1618 closed, assigned to joestringer

[2018-04-02 22:56] tgraf commented on #3415
@ashwinp This seems to have been fixed. I can no longer reproduce it.

[2018-04-02 23:09] ianvernon opened #3482 "CI: automatically file issues on GitHub when master builds fail"
Currently, the work being done to triage nightly / test failures on master is manual. This is time-consuming. I propose that we automate this process via integration with GitHub and Jenkins APIs. The following would be done on master / nightly build failures:

* File a GitHub issue with a link to the Jenkins build that failed, and add a specific label, like `needs/triage`.
* Update the description

[2018-04-02 23:51] joestringer opened #3483 "Property mismatch proxy map"
Unexpected messages in the logs when not performing an upgrade, perhaps there's a mismatch between the kernel defines and userspace defines for this map type?

[code]

[2018-04-03 00:00] rlenglet commented on #3472
When this error occurs, a `Proxy4Map.Dump` call returns an empty map.
This could point to a structure mismatch (https://github.com/cilium/cilium/issues/3483).

[2018-04-03 00:09] #3397 closed, assigned to manalibhutiyani

[2018-04-03 00:21] rlenglet commented on #3472
The proxy map size was different between BPF (524288) and userspace (:
[code]
[code]
After setting the same value in userspace, the failure doesn't occur anymore.

[2018-04-03 00:32] manalibhutiyani opened #3484 "Kafka : Add multi-topic request tests in Kafka CI"
Currently we test for single topic requests. We need to add Kafka CI coverage for multi-topic requests.
We need to investigate if the `kafka-console-producer.sh` can allow multiple topics in the script. I currently couldn't find anything.

I found this `whitelist` option, but haven't tried it yet.
https://stackoverflow.com/questions/41423449/kafka-consumer-console-subscribing-to-multiple-topics

R

[2018-04-03 00:57] #3471 closed, assigned to ianvernon

[2018-04-03 01:16] joestringer commented on #3427
@tgraf we conversed about the following fix offline, but it some other issues will remain.

[code]

In this case, it will address this issue but will not fix #3371, because the L4 check is still made first and the packet is dropped before CT, routing, etc in that case, so the CIDR allow doesn't get a chance to be checked.

I'm proposing instead a datapath approach to fix this issue as well as #337

[2018-04-03 01:36] tgraf commented on #3415
Discussed on slack, an egress policy across namespace must specify the destination namespace, e.g.
[code]

The `toEntities` is working as expected with the latest release

[2018-04-03 01:36] #3415 closed, assigned to nobody

[2018-04-03 02:44] #3453 closed, assigned to joestringer, tgraf, jrajahalme

[2018-04-03 05:11] joestringer commented on #3371
For clarification, this bug is distinct from #3427 and #3414 because it also has two separate rules, one operating at L3 with L4 wildcard, and another operating at L4 with L3 wildcard, and the allowed traffic should be the union of the two.

[2018-04-03 05:13] joestringer commented on #3426
There's discussion on #3486 regarding this, with a suggestion to default to world.

[2018-04-03 05:35] ackerman80 commented on #3460
couchdb example which has
- couchdb-server
- client1
- clinet2
I modified the policy file to be a little simple : just allow client1 GET/PUT access for all paths
client1 gets the access but client 2 calls hang there for quite some time and result in `command terminated with exit code 7`
attached the policy file
[cdb_policy.yaml.txt](https://github.com/cilium/cilium/files/1870300/cdb_policy.yaml.tx

[2018-04-03 06:48] eloycoto commented on #3469
At the moment we have the following:
[code]

That has all the information that you want ;-)

[2018-04-03 06:55] eloycoto commented on #3481
I think that the JustAfterEach will run just before all other context, but let me check and I'll come back to you.

Regards

[2018-04-03 08:37] #3440 closed, assigned to eloycoto

[2018-04-03 08:37] #3472 closed, assigned to rlenglet

[2018-04-03 08:37] #3483 closed, assigned to nobody

[2018-04-03 10:30] eloycoto commented on #3481
Hi @ianvernon made a PR, good catch

[2018-04-03 13:06] eloycoto opened #3489 "Test: RuntimeValidatedConntrackTest mistmatch"
[code]

[RuntimeValidatedConntrackTestConntrack-relatedconfigurationoptionsforendpoints.zip](https://github.com/cilium/cilium/files/1871566/RuntimeValidatedConntrackTestConntrack-relatedconfigurationoptionsforendpoints.zip)

Jenkins build: https://github.com/cilium/cili​um/issues/3489

[2018-04-03 14:35] eloycoto commented on #3462
@ianvernon in this PR you can get the bugtol information.

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1951/

[2018-04-03 14:45] eloycoto opened #3491 "CI: cilium agent crashed due to panic when dumping policymap"
Issue:

[code]

Found the following issue in the test:
[code]

[RuntimeValidatedLBServicesPoliciestestswithconntrackenabled.zip](https://github.com/cilium/cilium/files/1871986/RuntimeValidatedLBServicesPoliciestestswithconntrackenabled.zip)

[2018-04-03 15:02] eloycoto opened #3492 "TCP keepalive issue in Nightly"
TCP keepalive failed on Nightly:

https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/165/
[code]

[NightlyEpsMeasurementTestlongliveconnectionsTestTCPKeepalivewithL7Policy.zip](https://github.com/cilium/cilium/files/1872066/NightlyEpsMeasurementTestlongliveconnectionsTestTCPKeepalivewithL7Policy.zip)

[2018-04-03 15:10] eloycoto opened #3493 "Containers can't connect after L3-L4 Policy has been applied"
Issue:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1950/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L3_L4_Checks/

[code]

Containers were ready:
[code]

I saw a lot of this messages in the cilium agent log:

[code]

The weird thing, is that the bpf proxy list was empty.

[2018-04-03 15:23] aanm commented on #3491
which PR?

[2018-04-03 15:45] eloycoto commented on #3491
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1950/

[2018-04-03 15:48] tgraf opened #3494 "Endpoint state directories can be left behind after build failure"
It has been observed that the endpoint specific directories in `/var/run/cilium/state/` can be left behind on endpoint build failure.

[2018-04-03 16:06] ianvernon commented on #3491
cc @joestringer - stacktrace contains `sweepFilters`.

[2018-04-03 16:09] eloycoto commented on #3492
Looks like a test flake:
[code]

[2018-04-03 16:15] ianvernon commented on #3493
If only L3-L4 policy is applied, I believe it is expected that the `bpf proxy list` is empty because there the proxy isn't involved with L3-L4 traffic.

[2018-04-03 16:46] ianvernon opened #3495 "CI: utilize cluster-diagnosis tool for Kubernetes log gathering"
Dogfood https://github.com/cilium/cluster-diagnosis/tree/v0.5 in the CI instead of having custom logic to get logs off of separate Kubernetes nodes.

[2018-04-03 16:48] tgraf opened #3496 "etcd client does not failover when first node times out"
Reported by John Zheng via slack:

[code]

[2018-04-03 17:02] joestringer commented on #3494
duplicate of https://github.com/cilium/cilium/issues/3175.

[2018-04-03 17:21] joestringer commented on #3491
Seems to be happening on line 197, where the dump entry is appended to a list:

https://github.com/cilium/cilium/blob/9211d3884dc258a2031144eea716c4f6a475973a/pkg/maps/policymap/policymap.go#L187-L197

[2018-04-03 17:22] ianvernon commented on #3462
Thanks @eloycoto ! Unfortunately I think to truly debug this I need some monitor output. Given that we know what we need from the CI, I will keep this opened and assigned to myself. Going to review your monitor PR at priority to obtain such data.

[2018-04-03 17:44] joestringer commented on #3491
@eloycoto @ianvernon what version of go are we running here?

[2018-04-03 17:46] ianvernon commented on #3491
@joestringer : 1.9.3, see https://github.com/cilium/packer-ci-build/blob/1501f7319909eb1e4d0387f1078bf4aa2b7987ad/provision/env.bash#L3

[2018-04-03 17:46] joestringer opened #3497 "Add `cilium version` to bugtool"

[2018-04-03 17:53] joestringer opened #3498 "Add `ip rule` to bugtool"

[2018-04-03 18:37] ianvernon commented on #3497
Cilium is compiled as a static binary; how would this be helpful? We'd have to get the version of go that built Cilium, a-la https://dave.cheney.net/2017/06/20/how-to-find-out-which-go-version-built-your-binary . I don't think we need this.

[2018-04-03 18:40] joestringer opened #3501 "On startup, log etcd nodes at info level"
On success, should we print these at info level?

https://github.com/cilium/cilium/blob/6131eeeb533bef25eb10dbc56715343c446c28cd/pkg/kvstore/etcd.go#L261-L264

[2018-04-03 18:42] joestringer commented on #3497
Hmm, good point. Perhaps the cilium version contains the relavant information already.

[2018-04-03 18:45] ianvernon commented on #3497
`cilium version` is already part of `cilium debuginfo`:

[code]

# Cilium debug information

#### Cilium version

[code]

[2018-04-03 18:48] ianvernon commented on #3497
@joestringer can we close since we are already gathering output of `cilium debuginfo` in bugtool?

[2018-04-03 18:52] ianvernon commented on #3497
Discussed offline, closing.

[2018-04-03 18:52] #3497 closed, assigned to ianvernon

[2018-04-03 19:07] ianvernon commented on #3495
Looks like cluster-diagnosis doesn't run the bugtool - would be a good enhancement for that.

[2018-04-03 19:33] ianvernon opened #3502 "CI: Kafka Policy Ingress test failure"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/1954/testReport/junit/(root)/runtime/RuntimeValidatedKafka_Kafka_Policy_Ingress/

Relevant output:
[code]

[2018-04-03 19:52] manalibhutiyani commented on #3502
Looks like topic creation failed:
[code]

[2018-04-03 19:53] manalibhutiyani commented on #3502
Adding a log `res.ExpectSuccess("unable to create topic  %s: %s", name, res.CombineOutput())` to get more information about the failure.

[2018-04-03 20:36] manalibhutiyani opened #3503 "Make the Kafka CI errors more descriptive."

[2018-04-03 20:36] manalibhutiyani commented on #3502
Adding logs as part of #3503 to understand what failed here.

[2018-04-03 20:54] manalibhutiyani commented on #3502
Added #3504 to better understand the issue/error

[2018-04-03 21:01] manalibhutiyani commented on #3502
The Kafka pod logs are not interesting.

[2018-04-03 21:11] joestringer commented on #3339
In the datapath, we could do some simple logic like:
[code]

[2018-04-03 21:12] #3371 closed, assigned to nobody

[2018-04-03 21:12] #3426 closed, assigned to nobody

[2018-04-03 21:12] #3427 closed, assigned to joestringer, tgraf

[2018-04-03 21:21] joestringer opened #3505 "Delete bash test contributor docs"
These aren't needed any more, so we can delete them.

[2018-04-03 21:24] manalibhutiyani commented on #3502
Bingo
[code]

[2018-04-03 21:34] manalibhutiyani commented on #3502
We need to move creation of topics before we apply policy, presumably in the BeforeEach function.
This automatically happens in K8s test with yaml configuration :
[code]
but we need to manually do this for runtime tests.

[2018-04-03 22:49] #3498 closed, assigned to ianvernon

[2018-04-03 23:17] #3496 closed, assigned to tgraf

[2018-04-03 23:30] ianvernon commented on #3505
Duplicates https://github.com/cilium/cilium/issues/2546

[2018-04-03 23:30] #3505 closed, assigned to nobody

[2018-04-03 23:33] ianvernon commented on #2967
@aanm we have not ran bash tests for almost a month; I don't see much of a point in keeping them any more. Please let me know if you still want this implemented.

[2018-04-03 23:34] ianvernon commented on #3491
@joestringer can we close this to see if #3506 fixed it? If it occurs again we can reopen if needed. We can also move to a newer version of go 1.9 and link it to this issue as well; I only see this benefiting us. What do you think?

[2018-04-03 23:49] joestringer commented on #3493
Duplicate of #3491.

[2018-04-03 23:49] #3493 closed, assigned to nobody

[2018-04-03 23:57] joestringer commented on #3491
@ianvernon Sure, either way. I don't understand the problem deeply enough to be sure it's fixed, but so long as we follow up on this in some time, it's good.

If this appears to fix the issue, I would suggest removing golang array usage elsewhere in the codebase too, in particular with the other BPF map keys/entries.

[2018-04-04 00:01] joestringer commented on #3492
Is the daemon supposed to restart in this test? It does so twice.

[code]

[2018-04-04 00:21] tgraf commented on #3491
Although Joe's fix doesn't address the cause, it restructures the code which makes this bug to no longer appear. I'm going to lower the importance of this issue. We should upgrade go and resolve this after 1.0 for the case that we have similar constructs like this in the code that we are not aware of.

[2018-04-04 02:04] tgraf opened #3508 "Properly ignore partial endpoint state directories"
These can happen under normal conditions, we should not be as verbose as we are right now. It indicates a problem when there is none.
[code]

[2018-04-04 02:51] ianvernon opened #3509 "policy: incorrect policy computed for endpoint when L4-only policy and L7-policy are specified for the same port"
Consider the following rule

[code]

In tabular form, this equates to:
[code]

Based on the Cilium policy model, we expect that to collapse to the following:

[code]

In other words, the L4-only rule here shadows the L3-L4-L7 rule. However, currently, in Cilium, this forces all inbound TCP traffic on port 9093 to get forwarded to the proxy, which only allows traffic to `GET ^/metrics`.

Resolved p

[2018-04-04 03:36] rlenglet commented on #3509
This is likely a bug in the code that generates the NPDS network policies.
I'll investigate.

[2018-04-04 04:32] joestringer commented on #3509
@rlenglet ah, do you think so? I was assuming it would be to do with `mergeL4Port()`.

[2018-04-04 04:32] ianvernon commented on #3509
@joestringer it is a bug in the merge logic on the Cilium side, but there is work to be done on the NPDS side as well.

[2018-04-04 04:50] rlenglet commented on #3509
What @ianvernon said. I was ignoring L4 only rules in the NPDS conversion code. I’ll send a fix shortly. This was not yet a cause of bugs (esp. not this one), but would have been an issue immediately with sidecar proxies where L7 redirects are unconditional.

[2018-04-04 06:49] #3280 closed, assigned to raybejjani

[2018-04-04 07:00] #3428 closed, assigned to eloycoto

[2018-04-04 07:00] #3437 closed, assigned to eloycoto

[2018-04-04 09:34] ishantanu commented on #3322
After adding `-o json` to the endpoint command, I am seeing something like this:
[code]

Note the `:` for `pod-name` value and the l3 rule name. Related to regex?

https://github.com/cilium/cilium/blob/f8e147bcd072638ffedad2319fae4c3e2a7e6f19/cilium/cmd/helpers.go#L115-L116

[2018-04-04 10:58] ishantanu commented on #3175
@joestringer Are you suggesting adding `os.RemoveAll(faildir)` in place of https://github.com/cilium/cilium/blob/acdbc0cb784c6328fc47411f3d8a83ad42067ecd/pkg/endpoint/policy.go#L907 in the below code:

https://github.com/cilium/cilium/blob/acdbc0cb784c6328fc47411f3d8a83ad42067ecd/pkg/endpoint/policy.go#L903-L909

[2018-04-04 13:10] #3502 closed, assigned to nobody

[2018-04-04 13:10] #3503 closed, assigned to manalibhutiyani

[2018-04-04 15:46] tgraf opened #3515 "Ignore Istio sidecar injection labels"
Example:
[code]

[2018-04-04 16:37] ianvernon commented on #3509
I'm working on the `pkg/policy` side of work for this - assigning to myself as well.

[2018-04-04 18:07] joestringer commented on #3175
@iamShantanu101 not quite. That would completely get rid of the visibility on previous failures.

The intention is that:
* If a build fails, the objects built that failed to be loaded should be moved to `foo_fail`
* Next time it succeeds, remove `foo_fail`
* Upon endpoint delete, remove `foo_fail`.

I think it's just the last case that is missing.

[2018-04-04 18:24] joestringer commented on #3322
@iamShantanu101 the `-o json` prints the raw json response from the server. This bug is actually looking at the regular output, where we attempt to interpret nested strings like this to expand it out so it's easier to understand. This is not so much of a problem for just L4 rules, but when L7 is involved the nested JSON string can be very long and very hard to read.

I updated the description for

[2018-04-04 19:06] tgraf opened #3519 "error dumping ipcache BPF map: Unable to get object /sys/fs/bpf/tc/globals/cilium_ipcache: no such file or directory"
[code]

[2018-04-04 19:32] tgraf opened #3520 "Panic observed on etcd restart"
[code]

[2018-04-04 19:37] joestringer commented on #3520
Here's the inner function:

https://github.com/cilium/cilium/blob/a0ea93372d8a3040f19db257ee998c925900d1c2/api/v1/server/restapi/daemon/get_healthz_responses.go#L48-L57

Here's the metrics middleware outer caller:
https://github.com/cilium/cilium/blob/a0ea93372d8a3040f19db257ee998c925900d1c2/pkg/metrics/middleware.go#L32-L37

@raybejjani Perhaps we need to add some exception handling in the metric

[2018-04-04 19:39] tgraf opened #3521 "GET /healthz blocks when etcd endpoint is down"
The following code blocks with a very long timeout when an etcd endpoint is down:
[code]

This causes `cilium status` to block and fail with a `context deadline exceeded`

[2018-04-04 20:03] ianvernon opened #3522 "bugtool: gather CNP, CEP output"
As part of the bugtool, we should get CNP and CEP information from Kubernetes:

[code]

It would be up to the user who runs this tooling to remove any information they deem sensitive if they do not want it provided in a bug report.

[2018-04-04 20:05] #3508 closed, assigned to nebril

[2018-04-04 20:06] tgraf commented on #3515
Fixed by #3516

[2018-04-04 20:06] #3515 closed, assigned to tgraf

[2018-04-04 20:12] manalibhutiyani opened #3523 "docs: Fix spelling mistakes"
Found a couple of spelling mistakes in the docs while testing `grpc` demo examples.

[2018-04-04 20:14] ianvernon commented on #3519
I am able to reproduce this using the [minikube getting started guide](http://cilium.readthedocs.io/en/latest/gettingstarted/minikube/). The result of `OpenAfterMount` wasn't being logged in `pkg/maps/ipcache/ipcache.go:init()` so I am building a new Docker image which logs the result of trying to mount the map.

[2018-04-04 20:27] ianvernon commented on #3519
The map is only created on the datapath side based on certain `#define`s:
[code]

[2018-04-04 20:27] ianvernon commented on #3519
In Minikube, upon startup, these are not defined:
[code]

[2018-04-04 20:28] ianvernon commented on #3519
What I don't know is if this affects the userspace side, as the userspace side tries to open the map in `pkg/maps/ipcache/ipcache.go:init()`
[code]

[2018-04-04 20:51] joestringer opened #3528 "Cilium-health endpoint is not launched in goroutine"
This call doesn't run in the background, so it can block the cilium-agent API.

https://github.com/cilium/cilium/blob/30478e9fca480814fcb948a58b0ba789de4f07b6/daemon/main.go#L718

https://github.com/cilium/cilium/blob/30478e9fca480814fcb948a58b0ba789de4f07b6/cilium-health/launch/endpoint.go#L192-L203

[2018-04-04 20:54] aanm opened #3529 "Provide CLI tool to navigate through the output of kubectl get cep"
`kubectl get cep --all-namespaces` can be extremely verbose and it would be great if we could mock a cilium daemon to navigate through the file.

It can be as simple as running `cilium endpoint list --from-file <cep.yaml>` and/or `cilium endpoint get --from-file <cep.yaml>`.

Since the contents of the `cep.yaml` are based on the same API the daemon uses to talk with the CLI this issue should be ea

[2018-04-04 21:39] manalibhutiyani commented on #3519
`POLICY_EGRESS` is only supposed to be defined on egress policy enforcement, i.e after endpoint regeneration. Why would be need this check on minikube startup?  Is this trying to do a  restore operation of endpoint states?

[2018-04-04 21:54] joestringer commented on #3519
In general, maps may be created from one of two places: It may be created when the `bpf/bpf_*.o` program includes the map, and we load that BPF program. Alternatively, it may be created when userspace does something like the `OpenOrCreate()` mentioned above.

Due to the `POLICY_EGRESS` #ifdef, the BPF programs don't refer to it and the map will not be created upon BPF prog load. We could consider

[2018-04-04 22:02] ianvernon commented on #3519
@manalibhutiyani I was trying to deduce whether the ipcache BPF map was created / opened on the datapath side, but saw that it wasn't due to these `#undef` statements for `POLICY_EGRESS`. Restore is orthogonal here; this is an issue with opening / creating the maps the list of maps which are added to `delayedOpens` in `pkg/bpf`.

With the following commit : https://github.com/cilium/cilium/commit/

[2018-04-04 22:11] joestringer commented on #3417
Offline discussion today resulted in the following suggestions:
* [ ] There should be a `test-policies-please` target for PRs touching policy
* [ ] Basic policy stuff should be tested on all PRs
* [ ] Longer-running, larger scale policy tests should be run in nightlies.

[2018-04-04 22:19] joestringer commented on #3146
@tgraf did we address this already?

[2018-04-04 22:27] ianvernon commented on #3519
Added more logs to see what the error was when we tried to open the maps in `delayedOpens` in `pkg/bpf` and got the following output:

[code]

This is more of a bug in the mounting of the bpffs. We can mitigate this with Joe's proposal above because the datapath itself will open / create the map, but this is not a bug with the ipcache code per-se. I suspect that the other BPF maps which show up in

[2018-04-04 22:30] tgraf commented on #3146
I believe yes

[2018-04-04 22:32] #3523 closed, assigned to manalibhutiyani

[2018-04-04 22:35] #3452 closed, assigned to jrajahalme

[2018-04-04 23:36] joestringer opened #3533 "SyncLBMap() kvstore access may block for a significant periods"
It's possible for `SyncLBMap()` to block for a significant time upon the KVstore if many nodes are doing the same thing at the same time:

https://github.com/cilium/cilium/blob/f3376543097590d6cbb1b1488e486ce10fe5de41/daemon/loadbalancer.go#L439-L443

https://github.com/cilium/cilium/blob/f3376543097590d6cbb1b1488e486ce10fe5de41/daemon/loadbalancer.go#L569-L571

https://github.com/cilium/cilium/bl

[2018-04-04 23:37] tgraf opened #3534 "Add identity for proxy traffic"
The proxy traffic is already tagged accordingly for the datapath but it is assigned the identity `reserved:host`.

- [ ] Introduce a new identity `reserved:proxy`
- [ ] Tag packets in `bpf_netdev` with this identity if traffic is from a proxy
- [ ] Change the automatic policy to allow from proxy to `reserved:proxy`.

[2018-04-04 23:44] tgraf opened #3536 "Differentiate between local host and remote host traffic"
All traffic that is routed from a local host to `cilium_host` is  tagged with `reserved:host`. The identity is unchanged when the packet is routed via overlay or network.

- [ ] Introduce a new identity `reserved:node`
- [ ] Map all traffic with source identity `reserved:host` to source identity `reserved:node` as it is routed over the overlay or network.

[2018-04-04 23:45] tgraf opened #3537 "Add ability to separate NodePort from local traffic"

[2018-04-04 23:59] #3521 closed, assigned to tgraf

[2018-04-05 00:17] joestringer opened #3539 "Review policy documentation"
### Concepts

* [x] Update "Special Identities"
  * http://docs.cilium.io/en/latest/concepts/#special-identities
  * [x] cluster?

### Kubernetes Network Policy

* [x] Review
* [ ] Fix up CiliumNetworkPolicy section here:
  * http://docs.cilium.io/en/latest/kubernetes/policy/#ciliumnetworkpolicy
  * [ ] Link to more generic section (not just L3 examples?)
    * This is just an artifact of the labe

[2018-04-05 02:06] tgraf commented on #3520
Observed again:
[code]

[2018-04-05 02:55] danwent opened #3543 "transient sigsev running "cilium endpoint list""
root@ip-172-0-56-40:~# cilium version
Client: 1.0.0-rc9 cdfb40c8a 2018-03-30T20:56:14+02:00 go version go1.9 linux/amd64
Daemon: 1.0.0-rc9 cdfb40c8a 2018-03-30T20:56:14+02:00 go version go1.9 linux/amd64

I was running "cilium endpoint list" as some endpoints were being created and I hit a segfault.   I ran the command again a second or two later and it worked.  Seems like we're likely missing a n

[2018-04-05 04:29] ishantanu commented on #3175
Understood. So, `failDir` needs to be removed when the endpoint program is successfully regenerated.

[2018-04-05 05:47] rlenglet opened #3544 "Document the process to re-generate Vagrant boxes and Docker images"
Formally document how to re-generate Vagrant boxes and Docker images, esp. to udpate the Bazel caches when Cilium's Envoy codebase is rebased.

First rough checklist from @aanm:

- Push a branch to `cilium/cilium`.
- Prepare a commit like https://github.com/cilium/packer-ci-build/pull/40
- Once the `packer-ci-build` is merged, rebase the branch you have created in `cilium/cilium` with the new VM i

[2018-04-05 06:45] eloycoto commented on #3544
IMHO I think that it's better to merge in master first and update the VM after. The main reason is that if we need to build the VM a few days later, the branch will no longer exist and we'll have some trouble.

If you want, to save time, we can create a parametrised build, where you can build a new VM based on a branch that you specified but default branch is master.

Some doc related to the `pack

[2018-04-05 06:54] rlenglet commented on #3544
cc @jrajahalme

[2018-04-05 07:02] joestringer commented on #3175
@iamShantanu101  It is already unconditionally deleted upon regeneration (though the subsequent lines may re-create it upon failure):

https://github.com/cilium/cilium/blob/acdbc0cb784c6328fc47411f3d8a83ad42067ecd/pkg/endpoint/policy.go#L901-L902

It's the endpoint delete case that I believe is missing.

[2018-04-05 07:18] eloycoto commented on #3462
I added the Monitor output as a hack in the PR, and DNS at first look looks like it works:

Build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2018/
PR: https://github.com/cilium/cilium/pull/3514
Output:
[K8sValidatedPolicyTestGuestBookExamplescheckspolicyexample.zip](https://github.com/cilium/cilium/files/1878873/K8sValidatedPolicyTestGuestBookExamplescheckspolicyexample.zip)

[2018-04-05 07:34] eloycoto opened #3545 "Envoy Unittest failing on Nightly"
Build:

https://jenkins.cilium.io/job/Cilium-PR-Nightly-Tests-All/88/execution/node/63/log/

Fail:
[code]

Logs:
[code]

[2018-04-05 08:30] #3489 closed, assigned to eloycoto

[2018-04-05 11:09] raybejjani commented on #3520
This is a duplicate of https://github.com/cilium/cilium/issues/3294 (and probably https://github.com/cilium/cilium/issues/649). I think we decided it was because the remote peer had closed the connection and we were still writing. I'm not sure why swagger decided to panic on error, since this situation is quite common on the internet (this is setting aside that it's not the way the language intend

[2018-04-05 13:41] jrajahalme commented on #3545
This is fixed by https://github.com/cilium/cilium/pull/3517

[2018-04-05 13:45] aanm opened #3547 "[FLAKE] nc: bad address 'redis-master'"
[code]

[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2060/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example/

PR https://github.com/cilium/cilium/pull/3125

[2018-04-05 13:46] eloycoto commented on #3547
Duplicated #3462

[2018-04-05 13:46] #3547 closed, assigned to nobody

[2018-04-05 13:47] #3545 closed, assigned to nobody

[2018-04-05 14:25] eloycoto opened #3549 "CI: endpoint BPF program generation failed"
Issue seen on: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/547/
Logs attached:

In first look I didn't see any issues in the logs, Cilium didn't die or something similar. The Policy revision 40 was applied correctly.

[RuntimeValidatedMonitorTestWithSampleContainersCiliummonitoreventtypes.zip](https://github.com/cilium/cilium/files/1880403/RuntimeValidatedMonitorTestWithSampl

[2018-04-05 16:01] tgraf opened #3552 "Policy revision reported incorrectly"
When importing a policy, the policy is applied to the endpoint, correctly shown in the endpoint structure, the redirect is created (proxy stats show up) but the redirect in the datapath is not being put in place or not effective. The policy revision is still bumped which causes the policy to not be enforced even though it is reported to be enforcing.

Full log attached, a couple of suspicious erro

[2018-04-05 16:10] joestringer opened #3553 "Add support for user-defined entities"
Allow users to define entities which contain specific CIDRs, so that policy can be written against these custom entities and the management of IPs that belong to the entity can be performed separately.

[2018-04-05 16:15] joestringer opened #3554 "Support distributing security policies via KVstore"

[2018-04-05 17:36] rlenglet commented on #3552
We need to understand why Envoy is crashing sometimes. We are now logging the Envoy logs into the Cilium debug logs. When you see that happen, please collect the debug logs.
But Envoy is always restarted immediately by Cilium when it crashed, and usually such a crash has no effect on policy regeneration. Envoy restarts, picks up the latest configuration, applies it, and ACKs it.

Same with the "xD

[2018-04-05 17:48] #3543 closed, assigned to tgraf

[2018-04-05 18:14] joestringer commented on #3359
@eloycoto FYI we can do entitity-dependent L4 on ingress in the datapath now, it doesn't need the CIDR-dependent L4. What it does is check the source IP and categorize whether it is a host IP, or if it's in the cluster, or other (world).

[2018-04-05 18:22] ianvernon commented on #3509
Removing the needs-e2e test label. This is unit-testable within the Cilium-agent; we should only add e2e tests for things like CLI at runtime, agent configuration options, and whether policy is correctly plumbed into the datapath.

[2018-04-05 21:05] ianvernon commented on #3519
Added a sleep for ten seconds just to see if that gave enough time for mounting the `delayedOpens`; didn't work:

[code]

[2018-04-05 21:08] aanm commented on #3442
Related with https://github.com/cilium/cilium/pull/3125/

[2018-04-05 21:47] ianvernon commented on #3467
@tgraf given that we have triaged what happened here (which hasn't happened since) can we remove the `priority/1.0-test-week` label and tackle this later?

[2018-04-05 21:50] danwent commented on #3552
[bad.log](https://github.com/cilium/cilium/files/1881949/bad.log)

[2018-04-05 21:53] ianvernon commented on #3470
Given that we now check the result of `cilium policy wait`, and we have fixed bugtool output for this test, I recommend we downgrade the priority of this from `priority/1.0-testweek` given that this has not reproduced since then.

[2018-04-05 21:56] ianvernon commented on #3491
Can we remove the `priority/1.0-test-week` from this given that we have attempted to mitigate the issue with the array fix from @joestringer ?

[2018-04-05 22:00] joestringer opened #3557 "envoy: Log new connections at info or below"
https://github.com/cilium/cilium/blob/4e5f05048166603b631147e63328e4e8b0b6d074/envoy/cilium_network_filter.cc#L55

[2018-04-05 22:06] danwent commented on #3552
[bad2.log](https://github.com/cilium/cilium/files/1881987/bad2.log)
[monitor.log](https://github.com/cilium/cilium/files/1881988/monitor.log)

[2018-04-05 22:09] ianvernon commented on #3549
Assigning to @joestringer since this is an issue building the endpoint's BPF program. Oddly enough, the endpoint's log shows that the build fails, but we don't actually see such information in the log :(

[code]

Where are these logs in `cilium.log`?

[2018-04-05 22:12] aanm commented on #3544
@eloycoto this is supposed to be executed by the envoy maintainer in a couple ours, once the branch is merged, a new VM needs to be rebuild.

[2018-04-05 22:13] aanm commented on #3522
This should actually be
[code]

[2018-04-05 22:21] ianvernon opened #3558 "CI: ConntrackLocal datapath tests failed due to connection tracking cleanup of egress flows"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/553/

Relevant failure output:
[code]

Logs:
[test_results_master_553.tar.zip](https://github.com/cilium/cilium/files/1882033/test_results_master_553.tar.zip)

[2018-04-05 22:24] ianvernon opened #3559 "CI: log gathering scripts try to copy sockets"
Augment the log-gathering commands in the CI to not try to copy sockets.

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/553/testReport/junit/(root)/runtime/RuntimeValidatedConntrackTest_Conntrack_related_configuration_options_for_endpoints/

Relevant output:
[code]

[2018-04-05 22:29] ianvernon commented on #3558
The test assumes that 'client' should be able to reach 'server' with `netperf`.

Output of `cilium policy get` from before the test ran:
[code]

From this policy, the relevant rules are:

[code]

That is, client is allowed to egress to server, and server is allowed to receive ingress from the host and from the client.

[2018-04-05 22:34] ianvernon commented on #3558
Output of `cilium endpoint get` for the client:
[code]

[2018-04-05 22:35] ianvernon commented on #3558
`cilium endpoint log` output for client:

[code]

[2018-04-05 22:36] ianvernon commented on #3558
BPF map output for client:

#### BPF Policy Get 4432

[code]

#### BPF CT List 4432

[code]

[2018-04-05 22:36] ianvernon commented on #3558
Output for server:

#### BPF Policy Get 16996

[code]

#### BPF CT List 16996

[code]

#### BPF LB List 16996

[code]

#### BPF Tunnel List 16996

[code]

#### Endpoint Get 16996

[code]

#### Endpoint Log 16996

[code]

#### Identity get 51911

[code]

[2018-04-05 22:44] ianvernon commented on #3558
The endpoint log for the client is interesting:
[code]

However, the test logs are the following:
[code]

Notably, at `19:14:46` the CI says all endpoints are in `ready` state. The endpoint log for the client endpoint shows it was ready at this time:

[code]

But, during the test, the endpoint gets sent into `waiting-to-regenerate` state:
[code]

And two seconds before, the test tries to run `netp

[2018-04-05 22:53] ianvernon commented on #3558
From the cilium logs:

[code]

`16996`, which is the ID of the server, had its consumable regenerated right at `19:15:13`, which is right around when the netperf command was ran by the tests. The policy states that the server is allowed to receive ingress from identity 55058 (identity of the client). What I don't understand though, is that the other connectivity tests to the server succeeded prior

[2018-04-05 23:09] ianvernon commented on #3558
Now I want to see what the computed policy was for the server *before* this regeneration which seems to have caused the test failure, happened.

The test logs show that the endpoint's configuration was updated to have `ConntrackLocal=Enabled`:
[code]

This is in line with what the output of `cilium endpoint log` for the server:
[code]

and for the client:

[code]

The warnings for the client are w

[2018-04-05 23:24] ianvernon commented on #3558
From when the endpoint was regenerated for the client, we appear to do a bunch of conntrack cleanup :)

Server IPv4: 10.15.118.183
Server IPv6: f00d::a0f:0:0:4264
Client IPv4: 10.15.202.84
Client IPv6: f00d::a0f:0:0:1150

Since the test failed when running `netperf` over IPv6, let's ignore the IPV4-related conntrack logs.

All conntrack logs:

[code]

IPv6 conntrack logs:

[code]

The following en

[2018-04-05 23:25] ianvernon commented on #3558
@rlenglet thank you for adding those logs! They proved insanely helpful here.

[2018-04-06 01:05] tgraf opened #3563 "Better cilium-health status output if HTTP check fails"
Adjust `cilium-health status` output to indicate that failure to HTTP connectivity implies that the cilium agent cannot be reached to explain difference to ICMP health check.

[2018-04-06 01:15] tgraf opened #3564 "Audit bootstrap process and add better info messages"
In a recent troubleshooting incident, a 60 seconds window was found where Cilium was starting up, obviously waiting on something, without emitting any info level messages.
The logs show this gap as:
[code]

[2018-04-06 07:36] eloycoto commented on #3544
And what happens when you need to make a change in the VM that it's not related to Envoy? The git clone will fail because the branch no longer exists.

I think that the best approach is to have a parametrized build in Jenkins, that when @jrajahalme  or @rlenglet need to update the VM, they can trigger the build with the branch that they want. For other developers and default branch will be master.

[2018-04-06 07:49] ianvernon commented on #3519
Priority was reduced because this issue has only been seen in Minikube.

I followed @joestringer 's proposal https://github.com/cilium/cilium/issues/3519#issuecomment-378757566 and while the maps were unable to be opened:

[code]

the BPF ipcache map is able to be accessed without any egress policy imported:

[code]

will post a PR for this shortly.

[2018-04-06 08:20] ianvernon commented on #3539
Will work on this at priority on 4/6.

[2018-04-06 09:32] ishantanu commented on #3557
@joestringer If I am not mistaken, as the decription says, the loglevel of new connections should be changed from `warn` to `info`, right? Is there anything else which needs to be taken care of? If not, I'll send a PR for this.

[2018-04-06 09:32] ishantanu commented on #3175
Okay. I am not sure where the endpoint delete condition needs to be put :/. Thanks @joestringer  for explaining the things, I'll try this maybe later if it's still open.

[2018-04-06 13:04] nebril commented on #3088
@joestringer not really, #2979 changed the ToServices compatible policy types a bit. The issue is that ToServices can select services based on their labels, so new services can be created after the policy. Should we reject the policy if there are no matching services in the cluster? I think not, but maybe we should?

[2018-04-06 15:16] #3552 closed, assigned to tgraf

[2018-04-06 16:16] eloycoto commented on #3492
Fixed by https://github.com/cilium/cilium/pull/3512

[2018-04-06 16:29] #3492 closed, assigned to eloycoto

[2018-04-06 16:31] eloycoto commented on #3470
@joestringer  I think that this issue is related to https://github.com/cilium/cilium/issues/3549 make sense to you?

[2018-04-06 18:13] joestringer commented on #3088
@nebril Hmm, that seems restrictive. What if the service gets deleted later? Then we have a policy that doesn't apply to a service, but there would otherwise be no way to get in this state. We're still not really properly protecting against getting into this state.

[2018-04-06 18:14] joestringer commented on #3088
I'm going to close this, I don't think there's a good way to resolve it.

[2018-04-06 18:14] #3088 closed, assigned to nobody

[2018-04-06 18:14] joestringer commented on #3470
Sure.

[2018-04-06 20:47] tgraf opened #3573 "Reject non-TCP L4 rules if L7 rules are specified"
We currently ignore L7 rules for non UDP in `pkg/policy/l4.go:CreateL4*Filter()`. We should instead reject such rules in verification instead of ignoring the rules.

[2018-04-06 20:49] tgraf commented on #3509
Resolved by #3518

[2018-04-06 20:49] #3509 closed, assigned to rlenglet, ianvernon

[2018-04-06 22:13] aanm opened #3577 "ineffassign in multiple places"
Line 287: warning: errs assigned and not used (ineffassign)

https://github.com/cilium/cilium/blob/fad2e59d6b72b04ee8e2f1aedddafa760bca4f55/pkg/endpoint/policy.go#L287

Line 593: warning: lastRev assigned and not used (ineffassign)

https://github.com/cilium/cilium/blob/fad2e59d6b72b04ee8e2f1aedddafa760bca4f55/pkg/kvstore/etcd.go#L593

This is the only one that worries me the most

Line 407: warni

[2018-04-06 23:11] joestringer opened #3581 "Clean up after CIDR tests correctly"
This defer function occurs before logs are gathered, which is wrong:

https://github.com/cilium/cilium/blob/96d50fb859f3e01476e163e9f29ee97a724eb9e7/test/runtime/Policies.go#L686-L689

[2018-04-06 23:19] #3519 closed, assigned to ianvernon

[2018-04-07 00:19] tgraf opened #3584 "CI: runtime: ../../api/v1/models/configuration_map.go:22:1: invalid NUL character"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/572/testReport/(root)/runtime/RuntimeValidatedConntrackTest_Conntrack_related_configuration_options_for_endpoints/

[code]

[2018-04-07 00:28] tgraf opened #3585 "1.1 Release Planning"
# Cilium 1.1 planning

## Release Dates
Feature Freeze: ~~2018-05-18~~ Revised: 2018-05-25
Projected release date: 2018-05-31

## High Level

- [ ] Inter cluster service routing
- [x] Further Istio integration and sidecar model improvements (target Istio 0.8+) (https://github.com/cilium/cilium/pull/3911, https://github.com/cilium/cilium/pull/3968, https://github.com/cilium/cilium/issues/4169) (on

[2018-04-07 02:24] manalibhutiyani commented on #3558
This also occurred again on following build:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/566/

@ianvernon @eloycoto

We are failing while executing this `UDP` command after policy enforcement:                                                                 CI GINGKO TEST OUTPUT:
[code]
The test len is `3 sec` i.e `netperf -l 3`. Notice the time stamp:`2018-04-06T17:11:30Z` .

[2018-04-07 05:21] manalibhutiyani commented on #3462
Seen again
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/568/console

[2018-04-07 05:54] manalibhutiyani commented on #3462
Also:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/571/

[2018-04-07 06:20] manalibhutiyani commented on #3462
@ianvernon92 @eloycoto I was debugging the CI guestbook failure we see. The json file used for Guestbook deployment is invalid /incorrect format: `/Users/manalibhutiyani/go/src/github.com/cilium/cilium/test/k8sT/manifests/guestbook_deployment.json`  Goland yells when I open that file as invalid format. I even checked it on a json format verifier and that complained that the format is wrong
I was s

[2018-04-07 18:40] ianvernon commented on #3462
Great find, @manalibhutiyani . The result of the deployment is never checked in the `BeforeEach`  for the test!!!

https://github.com/cilium/cilium/blob/f3511952f1ea1a27d403e8bba9098a9e5334c8db/test/k8sT/Policies.go#L473-L480

We have consistently been finding issues with the tests where we do not check the results of critical operations for our tests. I recommend we do an audit of the tests to se

[2018-04-07 18:48] ianvernon commented on #3462
However, I manually started the Vagrant VMs with Kubernetes v1.7:
[code]

Deployed Cilium:
[code]

All pods in `kube-system` namespace are ready:

[code]

To my surprise, despite the file being invalid JSON, the import to K8s succeeded for the guestbook deployment:
[code]

redis-master is accessible:
[code]

It could be that Kubernetes is able to unmarshal the objects individually despite the JSON

[2018-04-07 18:55] ianvernon commented on #3462
I think as part of the logs we need to gather for debugging this issue, we should get the output of the following:

* `kubectl get service --all-namespaces -o json`
* `kubectl get replicationcontroller --all-namespaces -o json`
* `kubectl get deployment --all-namespaces -o json`

As part of the test, we can also try accessing the service IP for `redis-master` (e.g., 10.107.42.130), to see if this

[2018-04-07 19:29] ianvernon commented on #3462
I tried making the JSON valid, but now Kubernetes complains!

[code]

[code]

I suspect Kubernetes doesn't accept lists of different objects (I'm not aware of the finer-grained aspects of JSON), but can accept a series of separate objects in parallel.

[2018-04-07 19:41] ianvernon commented on #3558
@manalibhutiyani good observations. the endpoint regeneration is definitely triggered by some key-value store event. I don't think the issue really is forced policy regeneration. Given that we do not import policy after waiting for the endpoints to be ready, a policy recalculation should not affect the datapath, as there hasn't been any actual policy change for the endpoints. However, connection t

[2018-04-07 20:03] manalibhutiyani opened #3586 "CI flake : error installing Kubernetes via kubeadm"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/v1.0/1/execution/node/59/log/
Observed in k8s1.7

[code]

[2018-04-07 20:10] manalibhutiyani commented on #3586
@eloycoto :Might be related to https://github.com/kubernetes/kubeadm/issues/292

[2018-04-07 20:26] manalibhutiyani opened #3587 "Unable to test K8S_VERSION=1.7 ginkgo tests locally"
I am trying to run ginkgo tests locally using `K8S_VERSION=1.7` but it keeps defaulting to `1.10`. I also tried to set the environment variable to point to `1.7`
[code]

[2018-04-07 20:27] manalibhutiyani commented on #3587
What am I doing wrong here?

[2018-04-07 20:31] manalibhutiyani commented on #3587
Nevermind. I should be using `sudo` before declaring the variable.

[2018-04-07 20:31] #3587 closed, assigned to eloycoto, ianvernon

[2018-04-07 21:06] aanm opened #3588 "CI: Runtime L3L4 Test connect timeout"
[code]

It happen here https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/2138/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L3_L4_Checks/

Logs:
[test_results_Cilium-PR-Ginkgo-Tests-Validated_2138.tar.zip](https://github.com/cilium/cilium/files/1896872/test_results_Cilium-PR-Ginkgo-Tests-Validated_2138.tar.zip)

[2018-04-07 22:55] manalibhutiyani commented on #3462
@ianvernon I agree that we need to collect the list of svc, replicationcontrollers as part of log gathering to see the state of the redis-master, slave and other services.

[2018-04-07 23:53] ianvernon commented on #3587
Whenever you run a command with `sudo`, it does not inherit the environment variables from the host shell by default. To do this, use `-E` in conduit with `sudo`.

See:
[code]

Source: https://www.sudo.ws/man/1.8.3/sudo.man.html

[2018-04-07 23:54] ianvernon commented on #3586
Full log of the provisioning of the VM which failed (in case the build gets garbage collected by Jenkins, as we do not preserve all builds anymore):

[code]

[2018-04-08 19:08] manalibhutiyani commented on #3558
But this is causing `master` to fail intermittently. Since #3393 is scheduled for post 1.0, I think we should have some workaround in place?  I am ok leaving this GH issue as is, since we have identified the root issue here i.e egress CT cleanup is to be done correctly, but we can think about a workaround to avoid intermittent CI failures in master. cc: @tgraf

[2018-04-09 07:23] eloycoto commented on #3462
With my changes merged, the issue is still present:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2018/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example/

[2018-04-09 07:24] eloycoto commented on #3588
@aanm this issue is not related with no space left on device, the exit code means connection timeout:
https://curl.haxx.se/libcurl/c/libcurl-errors.html

[2018-04-09 07:27] eloycoto commented on #3586
This is a connectivity issue from vagrant instance to Google container registry. Happens time to time, not sure if it's something with packet.net or Google, I use to close this kind of issues.

[2018-04-09 09:09] aanm commented on #3588
@eloycoto Exactly but why did we get out of space in the first place?

[2018-04-09 09:10] aanm commented on #3586
@eloycoto Can't we try a couple times on this kind of operations?

[2018-04-09 09:13] eloycoto commented on #3586
This is a process in every build, so it's already tested. In the other hand, `kubeadm` already retry a few times, we had seen this when we tested the alpha and beta versions.

[2018-04-09 09:14] eloycoto commented on #3588
@aanm where do you see that the server is running out of space?

[2018-04-09 09:27] aanm commented on #3588
@eloycoto ah sorry I misread your answer. You're right

[2018-04-09 09:42] vadorovsky commented on #3577
The full output from ineffassing which I got:

[code]

[2018-04-09 11:29] vadorovsky commented on #3577
@aanm I made a PR with partial fixes, including the one which you were concerned about (`daemon/endpoint.go`).

I didn't fix the more tricky modules where I'm not completely sure how to fix them yet. The result of ineffassign on my branch is:

[code]

[2018-04-09 11:32] vadorovsky commented on #3577
Also, maybe after fixing all the warnings we should think about using `ineffassing` as a part of `make tests` target?

[2018-04-09 13:39] aanm commented on #3577
@mrostecki thanks for taking care of it. that looks good to me.

@eloycoto Any comments around the ineffassign on tests?

[2018-04-09 13:59] borkmann opened #3591 "Error running deviceCreate (createSnapDevice) dm_task_run failed."
Following error ...
[code]
... hints usually to the issue that there is not enough disk space - one option could be to stop docker daemon, clean `/var/lib/docker`, restart docker daemon, and then Cilium daemon, which resolved the issue.

[2018-04-09 13:59] #3591 closed, assigned to nobody

[2018-04-09 16:38] ianvernon commented on #3114
Work to do this has been merged:

[code]

[2018-04-09 16:39] ianvernon commented on #3114
Addressed by: 18fbfad4756d8336875aa4ff31c94d3903254aa3 .

[2018-04-09 16:39] #3114 closed, assigned to ianvernon

[2018-04-09 16:41] ianvernon commented on #1489
@tgraf support for this is merged; other remaining work in #1488 consists of things on the Cilium side like policy trace, CT changes. We support the K8s EgressRule spec now. Can this be closed?

[2018-04-09 17:55] joestringer opened #3592 "Packet drop during policy import"
When repeatedly importing a label-dependent l4 ingress policy, I observe packet drops in monitor:

[code]

Create Cilium Docker network:
* `docker network create --ipv6 --subnet ::1/112 --ipam-driver cilium --driver cilium cilium-net`

Running two containers:
* `docker run -d --name app1 --net cilium-net -l "id=app1" cilium/demo-httpd`
* `docker run -d --name client --net cilium-net -l "id=app1" -

[2018-04-09 17:57] ianvernon commented on #3592
Do you have Cilium logs from when this was ran? Would be interesting to correlate these drops with timestamps in the Cilium logs.

[2018-04-09 18:01] joestringer opened #3593 "Every time a policy import occurs, a new goroutine cleaning CT is started"
These should always eventually complete, however if someone makes repeated requests to change policy from the API, it can queue hundreds of goroutines, all sweeping the BPF maps attempting to clean CT.

https://github.com/cilium/cilium/blob/f3511952f1ea1a27d403e8bba9098a9e5334c8db/pkg/endpoint/bpf.go#L434-L457

We should probably wrap this in some queue as we don't need more than one running at a

[2018-04-09 18:03] joestringer commented on #3592
@ianvernon not currently, because CT logging is too verbose and bug #3593 DoSes journald.

[2018-04-09 18:04] aanm commented on #3593
`pkg/serializer/func_queue` please :smile:

[2018-04-09 18:11] joestringer commented on #3593
@aanm didn't realise this was already librarized, awesome!

[2018-04-09 18:27] tgraf opened #3594 "Audit cilium status for blocking calls"
- [ ] Review all code related to cilium status and remove any long blocking locks.

[2018-04-09 19:18] manalibhutiyani commented on #3558
As discussed in the cilium meeting today, we can add a retry 3 times logic to make sure we give enough time for the case when regeneration is triggered in between a test.

This can be undone when #3558 is done.

[2018-04-09 19:24] joestringer commented on #3593
Looks like we'll need another variation on the `Enqueue()` because there's no point in serializing dozens of goroutines to execute the conntrack cleanup, if there's one queued then that's enough and the subsequent API check just needs to wait on the existing queued function to complete before it returns.

[2018-04-09 19:25] manalibhutiyani opened #3595 "CI connectivity: Undo the retry logic in connectivity.go"
In order to workaround #3558 and #3393 i.e egress CT cleanup support missing, we added a retry logic in CI connectivity test. Please undo it once we fix #3393

[code]

[2018-04-09 19:26] manalibhutiyani opened #3596 "CI connectivity.go: Temporarily add retry 3 times logic in connectivity.go`"
parent issue: #3558
and
GH #3393

As discussed in the cilium meeting today, we can add a retry 3 times logic to make sure we give enough time for the case when regeneration is triggered in between a test.

This can be undone when #3393 is done.

[2018-04-09 19:42] tgraf opened #3597 "1.0 Documentation Review"
We are performing a complete review of the Documentation for 1.0. Please look at the following sections according to your assignment and leave commands on gaps that need to be addressed.

## Main Docs:
- [ ] Introduction to Cilium (@tgraf)
- [ ] Getting Started Guides
  - [x] Minikube (@manalibhutiyani)
  - [x] Kafka (@aanm)
  - [x] gRPC (@eloycoto) PR out for review https://github.com/cilium/cili

[2018-04-09 19:48] manalibhutiyani commented on #2959
Tried again today

[code]
For external developers, this might be dissuading to manually pull all dependencies IMHO

Spoke offline to @aanm
`We decided that its better if we switch to dep for the dependencies`

[2018-04-09 19:50] ianvernon commented on #2959
We should just package anything that is not explicitly a runtime dependency into a Docker container   that builds stuff, like we do with the docs.

[2018-04-09 19:52] borkmann commented on #3597
Linking #1413 here as well.

[2018-04-09 19:57] joestringer commented on #3592
Briefly discussed offline, an alternative next step would be to reproduce as per above, but disable `flowdebug` logging.

[2018-04-09 23:03] #3558 closed, assigned to nobody

[2018-04-09 23:03] #3596 closed, assigned to manalibhutiyani

[2018-04-09 23:45] manalibhutiyani commented on #3462
increasing priority since this is being hit a lot of times.

[2018-04-10 00:32] manalibhutiyani commented on #3577
Closing since changes merged. Please raise a separate GH issue for supporting  ineffassign on tests.

[2018-04-10 00:32] #3577 closed, assigned to vadorovsky

[2018-04-10 00:38] tgraf commented on #3520
Hit again:
[code]

[2018-04-10 03:16] manalibhutiyani commented on #3462
happened again:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/578/execution/node/59/log/?consoleFull

[2018-04-10 08:58] eloycoto opened #3608 "Bugtool: Get Gops information"
At the moment, Bugtool does not retrieve the output of gops command. It'll be great if `gops` is present to gather the gops information:

Commands to run:
[code]

[2018-04-10 10:41] vadorovsky opened #3609 "Include ineffassign in tests"
To avoid issues like #3577 in future, we can try to include `ineffassign` in our tests. I.e. as a part of `make tests` target.

In order to do that, we need to include https://github.com/gordonklaus/ineffassign in https://github.com/cilium/packer-ci-build.

[2018-04-10 15:59] #3520 closed, assigned to joestringer

[2018-04-10 16:08] #3608 closed, assigned to eloycoto

[2018-04-10 18:06] ianvernon opened #3615 "pkg/policy: log what caused policy to be marked as 'changed'"
I found when debugging an issue recently that `pkg/endpoint/policy.go:regeneratePolicy` was always returning 'true':
[code]

Add logs to determine what actually caused policy changes to occur. This will give insight into operations which cause regenerations, which are costly.

[2018-04-10 18:11] manalibhutiyani commented on #3615
much needed!

[2018-04-10 18:22] ianvernon commented on #3615
@manalibhutiyani :)

[2018-04-10 18:36] #3557 closed, assigned to nobody

[2018-04-10 19:46] ianvernon commented on #3593
Given that #3605 was merged, I think this can be closed; @joestringer can you confirm?

[2018-04-10 19:54] ianvernon opened #3620 "CI: pod did not terminate within timeout window"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2027/

Relevant output:
[code]

[test_results_Ginkgo-CI-Tests-Pipeline_2027.tar.zip](https://github.com/cilium/cilium/files/1896211/test_results_Ginkgo-CI-Tests-Pipeline_2027.tar.zip)

[2018-04-10 19:59] ianvernon opened #3621 "CI: error doing L3+L4 policymap updates"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2033/execution/node/58/log/

Relevant output:
[code]

[2018-04-10 20:04] ianvernon opened #3622 "CI: K8sValidatedPolicyTest Basic Test tests PolicyEnforcement updates failed"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2039/

Relevant output :

[code]

Logs:
[test_results_Ginkgo-CI-Tests-Pipeline_2039.tar.zip](https://github.com/cilium/cilium/files/1896244/test_results_Ginkgo-CI-Tests-Pipeline_2039.tar.zip)

[2018-04-10 20:13] ianvernon opened #3623 "CI: Policies Across Namespaces test failed"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2040/

Relevant output:
[code]

Logs: [test_results_Ginkgo-CI-Tests-Pipeline_2040.tar.zip](https://github.com/cilium/cilium/files/1896251/test_results_Ginkgo-CI-Tests-Pipeline_2040.tar.zip)

[2018-04-10 20:21] ianvernon opened #3624 "CI: nightly test failed when upgrading from stable to latest"
Build link: https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/172/testReport/

Relevant output:
[code]

Logs:
[test_results_Cilium-Master-Nightly-Tests-All_172.tar.zip](https://github.com/cilium/cilium/files/1896300/test_results_Cilium-Master-Nightly-Tests-All_172.tar.zip)

[2018-04-10 20:29] ianvernon opened #3625 "CI: add Runtime DROP_ALL test"
Steps:
1. Immediately start a container with cilium in default enforcement mode with a default deny policy (ingress, egress) enabled that selects the labels of the container
2. ping the container: no packets should get through *ever* to the endpoint.

[2018-04-10 20:30] #3615 closed, assigned to ianvernon

[2018-04-10 20:33] manalibhutiyani commented on #3625
I can take a look at this.

[2018-04-10 20:57] ianvernon commented on #3592
Noted that this still occurs on latest master (commit 1df6acc7e545ae8a2be4c9cb9af008dbfb72d493).

[2018-04-10 20:57] eloycoto commented on #3624
Fixed by https://github.com/cilium/cilium/pull/3590#event-1567118418

[2018-04-10 20:59] ianvernon commented on #3624
@eloycoto awesome, thanks! Closing.

[2018-04-10 20:59] #3624 closed, assigned to nobody

[2018-04-10 21:01] ianvernon commented on #3623
Assigning to myself for triage.

[2018-04-10 21:03] ianvernon commented on #3623
Step where tests actually failed:
[code]

It would be nice if the test output on Jenkins right when it failed to console so that we do not have to hunt for the exact time that the test failed.

[2018-04-10 21:05] ianvernon commented on #3623
I wrote the test poorly. The resources that are created are deleted as part of the `It` itself, which means that the bugtool output will not be useful :( . I'll get a patch out which fixes this.

[2018-04-10 21:28] ianvernon commented on #3623
The file `17-/K8sValidatedPolicyTestAcrossNamespacesPoliciesAcrossNamespaces/cilium_logs.txt` in the attached log archive basically has nothing in it:
[code]

Also see this output in `test-output.log`:
[code]

[2018-04-10 21:30] ianvernon opened #3627 "CI: some log gathering functions fail"
Seen in #3626 .

[code]

[2018-04-10 21:36] tgraf opened #3628 "panic: runtime error: invalid memory address or nil pointer dereference"
[code]

[2018-04-10 21:43] ianvernon commented on #3623
Unable to really triage this. We need logs with timestamps for each Cilium pod, as well as the fix in #3626 to be merged for any meaningful, productive debugging. I'll keep this open and assigned to myself.

[2018-04-10 22:06] ianvernon commented on #3622
Assigning to myself to triage.

The test failure points us to `test/helpers/utils.go:246`:
https://github.com/cilium/cilium/blob/60a4b5270bd2fc5e71f505e31513b924c610f170/test/helpers/utils.go#L229-L252

The `Expect` values within this function should be changed to `ExpectWithOffset`.

[2018-04-10 22:12] ianvernon commented on #3622
The only place where `WaitCiliumEndpointReady` is called is here:
https://github.com/cilium/cilium/blob/60a4b5270bd2fc5e71f505e31513b924c610f170/test/k8sT/Policies.go#L148-L150

[2018-04-10 22:15] ianvernon commented on #3622
So, this means that all endpoints were not ready after we set `cilium config PolicyEnforcement=default` .

[2018-04-10 22:16] ianvernon commented on #3622
Test failed at this point:
[code]

Will correlate `test-output.log` contents with these timestamps.

[2018-04-10 22:24] manalibhutiyani commented on #3343
I can handle this one.

[2018-04-10 22:31] ianvernon commented on #3622
The timeout being `100` on Line 244 in `WaitCiliumEndpointReady` seems suspicious. We need to stop using hardcoded timeouts and make sure we specify the time units. This should be in seconds (I presume).

in `17-/K8sValidatedPolicyTestBasicTesttestsPolicyEnforcementupdates/test-output.log` I saw that the output of:
[code]

was the following:

[code]

All endpoints are in some sort of state which i

[2018-04-10 22:34] ianvernon commented on #3622
The `cilium_logs.txt` output is useless and not complete. We need to fix this ASAP for easier triage of issues.

[2018-04-10 22:36] tgraf opened #3633 "Document CI auto-scaling"
- [x] Process to manually remove nodes
- [x] Location of logfiles
- [ ] Process manually increase the number of nodes
- [ ] Process to change the limits

cc @ianvernon

[2018-04-10 22:38] ianvernon commented on #3588
@aanm this failure was during a PR run. I see that it failed in your 'race detector' PR. Does this mean we should treat this as a master build since there aren't really any code changes apart from running with race detection?

[2018-04-10 22:51] ianvernon opened #3635 "CI: forced regenerations of endpoints due to key-value store event causes CI failures"
We are reliant in the CI upon endpoints transitioning into "ready" state and staying in that state. However, since Cilium is event-driven, we might receive some sort of key-value store event that triggers endpoint regenerations. This causes failures like the following:

 * https://github.com/cilium/cilium/issues/3622
* https://github.com/cilium/cilium/issues/3467

For a more detailed analysis of h

[2018-04-10 22:54] ianvernon commented on #3633
Other recommendations:

- [ ] Log with timestamps in the autoscaling log
- [ ] Expose errors in the log in some way (using some log-level utility, for instance). It is extremely hard to figure out what went wrong.

Other concerns:
* It seems like we are silently failing and still provisioning instances even if required dependencies fail to download (git, go-bindata, etc.). I do not think this shou

[2018-04-10 23:19] ianvernon opened #3636 "CI: fix log gathering from Cilium pods in K8s tests"
See https://github.com/cilium/cilium/issues/3623#issuecomment-380252782

We need a log file per pod and one which contains all Cilium logs, not just a subset of them.

The format of this log file should be: `<cilium pod name>-logs.log`.

[2018-04-10 23:22] ianvernon commented on #3636
Marking this as high priority because this is affecting triaging of issues in master.

[2018-04-10 23:23] ianvernon commented on #3622
Closing because the underlying issue is due to #3635 .

[2018-04-10 23:23] #3622 closed, assigned to ianvernon

[2018-04-10 23:23] ianvernon commented on #3467
Closing because the underlying issue is due to https://github.com/cilium/cilium/issues/3635.

[2018-04-10 23:23] #3467 closed, assigned to ianvernon

[2018-04-10 23:25] ianvernon commented on #3533
Fixing this can be coupled with the refactoring of the service-kvstore interaction to use the updated key-value store code which is used by the identity allocator.

[2018-04-10 23:28] ianvernon commented on #3032
Unfortunately, this one slipped through the cracks. We have not seen such behavior in some time. @aanm can we close this in favor of triaging more recent failures?

[2018-04-10 23:29] ianvernon commented on #2949
Unfortunately, this one slipped through the cracks. We have not seen such behavior in some time. @aanm can we close this in favor of triaging more recent failures?

[2018-04-10 23:30] ianvernon commented on #3383
@eloycoto given that #3590 is merged can we close this?

[2018-04-11 00:19] aanm commented on #3588
@ianvernon I can't really tell, but I just want to keep track on all test flakes to get a better knowledge when they start showing up

[2018-04-11 00:20] aanm commented on #3032
@ianvernon the .zip doesn't contain any useful info?

[2018-04-11 00:20] #2949 closed, assigned to nobody

[2018-04-11 00:38] ianvernon commented on #3032
IMO, more recent failures necessitate higher priority in triaging. Given how much code has changed in the past month, and that we haven't seen this specific issue occur for some time, I don't see debugging this as a particularly useful exercise. It's up to those who triage Jenkins (and when this was filed, I was the Jenkins Backup, so I take responsibility for letting this fall through the cracks)

[2018-04-11 00:40] ianvernon commented on #3623
Removing myself from assignment here as I have done all triage I can think of. If this test fails again in CI, we can link it here.

[2018-04-11 00:46] ianvernon commented on #3588
Updated the description with the logs from the build since we auto-delete builds from Jenkins after some time.

@aanm makes sense. In this case, given that while it was ran in a branch, but that the only delta in the branch from master was running Cilium with race detection, this makes sense to triage.

[2018-04-11 04:07] ianvernon commented on #3621
Assigning to myself for triage.

[2018-04-11 04:13] ianvernon commented on #3621
Actually, the first failure was in an earlier test:

[code]

Logs:
[RuntimeValidatedLBServicesPoliciestestswithconntrackdisabled.zip](https://github.com/cilium/cilium/files/1897247/RuntimeValidatedLBServicesPoliciestestswithconntrackdisabled.zip)

[2018-04-11 04:13] ianvernon commented on #3621
Timestamp where test failed:
[code]

[2018-04-11 04:15] ianvernon opened #3642 "CI: output of some `journalctl` commands is saved to `test-output.log`"
This clogs the log of the test with a bunch of duplicate logs, and makes it hard to navigate the file. Do not log the results of commands which get logs from Cilium to `test-output.log`.

[2018-04-11 04:18] ianvernon commented on #3621
One of the endpoints is in `not-ready` state:
[code]

[2018-04-11 04:20] ianvernon commented on #3621
29381 is not-ready. Checking the contents of `cilium-debuginfo.md` in the bugtool archive which is in the directory for the test which failed.

#### BPF Policy Get 29381

[code]

#### BPF LB List 29381

[code]

#### BPF Tunnel List 29381

[code]

#### Endpoint Get 29381

[code]

#### Endpoint Log 29381

[code]

Of note:
[code]

Let's look at the logs around `04:25:17` in Cilium to see what happene

[2018-04-11 04:28] ianvernon commented on #3621
When searching the logs for the offending endpoint ID, I see the following error:
[code]

I'm unsure exactly what is the 'invalid argument' here. But, this explains why the endpoint wait timed out. Luckily, it appears that we try to regenerate endpoints every five minutes if necessary, so the system was able to recover.

[2018-04-11 04:30] ianvernon commented on #3621
This is related to https://github.com/cilium/cilium/issues/3161 . I see #3161 as the logical fix to this, as I don't really know what caused map update to fail. @joestringer any ideas?

Reducing priority on this ticket as it's been triaged and we have a ticket which is tracking the fix (controller for map updates).

[2018-04-11 04:35] ianvernon commented on #3621
I'll take a look at the next test which failed to see what happened. However, there were so many failures here that it would be quite a novel on here to triage all of them :)

[2018-04-11 04:35] ianvernon commented on #3621
Next test output:

[code]

Logs from first test failure: [RuntimeValidatedLBServicesPoliciestestswithserviceperformingL4portmapping.zip](https://github.com/cilium/cilium/files/1896222/RuntimeValidatedLBServicesPoliciestestswithserviceperformingL4portmapping.zip)

[2018-04-11 04:36] ianvernon commented on #3621
Console output from when test failed:
[code]

[2018-04-11 04:41] ianvernon commented on #3621
Same thing as before, same endpoint is in `not-ready` state:
[code]

I don't think triaging the rest of the tests is a useful exercise at this time.

[2018-04-11 04:43] ianvernon commented on #3620
Assigning to myself for triage.

[2018-04-11 04:45] ianvernon commented on #3620
First test that failed:

[code]

Ah, the log indicates an interrupt was sent to the process. The runtime tests were actually killed by another stage (presumably K8s)!:

[code]

[2018-04-11 04:46] ianvernon commented on #3620
Actual test failure was in K8s-1.7 build:

[code]

[2018-04-11 04:49] ianvernon commented on #3620
From the test code, looks like the following block was where this was hit:

[code]

Looks like the pod did not 'finish up running'. Let's check the `test-output.log` to see more.

[2018-04-11 04:54] ianvernon commented on #3620
I can see what happened here (pod did not get deleted in time), but there is nothing in the output of `cilium endpoint list` with "client-cannot-connect", indicating that Cilium has cleaned up the endpoint. @aanm anything else I can do to debug this / data I should be looking at based off of your writing of the test?

[2018-04-11 04:58] joestringer commented on #3533
Fixed by #3535

[2018-04-11 04:58] #3533 closed, assigned to nobody

[2018-04-11 05:08] ianvernon commented on #3442
@eloycoto can this be closed since 60a4b5270bd2fc5e71f505e31513b924c610f170 re-enabled the test?

[2018-04-11 05:10] joestringer commented on #3533
Ah, @ianvernon I was thinking the issue behind this is effectively solved by #3535. If you'd rather leave this open as the issue to refactor the service<->kvstore interaction then feel free to reopen.

[2018-04-11 05:29] ianvernon commented on #3460
@tgraf what does this mean? Does the same apply to `FromEndpoints`?

[2018-04-11 05:31] ianvernon commented on #1489
I am going to close this; we support egress policy at parity with ingress policy; all other issues are tracked separately (policy trace, etc.).

[2018-04-11 05:31] #1489 closed, assigned to ianvernon

[2018-04-11 05:33] ianvernon commented on #3592
I'm going to remove my assignment from this as I am not actively working on it right now.

[2018-04-11 06:08] #3442 closed, assigned to eloycoto

[2018-04-11 06:12] #3628 closed, assigned to tgraf

[2018-04-11 06:22] tgraf commented on #3460
Yes, same applies to FromEndpoints. I noticed that it is not obvious that From and ToEndpoints only works for pod labels which are in fact not using host networking right now. It's obvious to us but is not obvious to users.

[2018-04-11 06:25] eloycoto commented on #3642
sadly, I found that super useful in my debugging, the Journalctl for the cilium logs meanwhile the test are running. So you have all the cilium logs for the time of the test.

https://github.com/cilium/cilium/blob/master/test/helpers/cilium.go#L555

Big loss for me, I used this feature every single day a dozen of times. :-(

[2018-04-11 11:01] aanm commented on #3620
@ianvernon `k.WaitForPodExit(ctx, ns, podName)` waits for the pod `podName` to run its command and exit successfully within 2 Minutes. So either the pod did not start or it didn't finish its instruction entirely

[2018-04-11 11:29] nebril commented on #3597
API Reference: http://docs.cilium.io/en/latest/api/#compatibility-guarantees mentions that we will declare the overall API stable with the release of version 1.0.

[2018-04-11 11:48] nebril commented on #3597
API Reference: API object schema would be nice to have, but it seems like `openapi` directive we use doesn't support rendering schema from swagger yaml file.

[2018-04-11 12:32] #3481 closed, assigned to eloycoto

[2018-04-11 14:19] tgraf opened #3651 "Cilium gets into a state constantly regenerating endpoints"
Endpoint regeneration is constantly being triggered for some reason.
[cilium.log](https://github.com/cilium/cilium/files/1899184/cilium.log)
[t.log](https://github.com/cilium/cilium/files/1899188/t.log)

[2018-04-11 14:29] aanm opened #3653 "CI: run make render-docs as part of CI"
Apparently we are not running any tests in our documentation a part of CI, does this means we are not checking for dead links as well?

This will allow us to catch misspelled words in the beginning once we merge https://github.com/cilium/cilium/pull/3649

- [ ] run `render-docs` a part of pre-checks
- [ ] check for 404 links in the documentation

[2018-04-11 14:45] nebril commented on #3653
This is true, neither linkcheck, nor render-docs is run in our CI suite.

linkcheck implementation is in tests/98-documentation-link-check.sh

Both of these can be added as stages to ginkgo.Jenkinsfile.

[2018-04-11 15:46] ianvernon commented on #3642
Why can't we just dump that output to a separate file? Having the logs inline in the file is the main gripe I have, not that the logs themselves are present. If they are dumped into a separate file, then you still have the Cilium logs from the duration of the test.

I think that `test-output.log` should only contain data that is not dumped into other files, especially logs, because otherwise the f

[2018-04-11 15:47] ianvernon opened #3654 "CI: get previous CIlium pod logs"
#3645 addressed the need for per-pod logs in K8s tests. Also get logs from the previous pod with `--previous`. Only create this file if the command to get the logs with `--previous` succeeds.

[2018-04-11 15:55] joestringer commented on #3653
We run `make -C Documentation dummy/` in the regular make, but currently we ignore the exit code.

It makes sense to me to run a separate documentation target in CI, but `make render-docs` doesn't make sense to me. This is for running an HTTP server to serve the pages locally.

[2018-04-11 15:59] aanm commented on #3653
@joestringer it's where the misspelled words are checked.

[2018-04-11 16:05] joestringer commented on #3653
Whatever gets us the testing we need:) I always saw the point of `render-docs` as a way to host the documentation server in a container locally, which seems like overkill if we just want to achieve a bit of linting.

[2018-04-11 16:07] aanm opened #3655 "Merge debug tools into a single tool"
We currently have lots of tools to debug

- `cilium monitor`
- `cluster diagnosis`
- `cilium-health`
- `cilium-bugtool`
- `cilium debug info`
- `microscope`

We should either:

- merge all the command evocations in cilium client
- create a new tool that contains all debug tools?

I'm not against the tools per se I would only like to call all of them from a single place.

https://xkcd.com/927/