[2018-05-17 22:25] joestringer commented on #4143
By the way, it looks like `.. code:: type` doesn't trigger the highlighting. It looks like it needs to be `.. code-block:: type`.

[2018-05-17 22:33] manalibhutiyani opened #4171 "Controller for reading metrics bpf map and exporting to prometheus"
We need to define a userspace controller to read the bpf metrics map done as part of #4155
and aggregate these metrics to prometheus correctly.

Related: #4155
Parent #3284
Parent #3337

[2018-05-17 22:38] joestringer commented on #1918
We could extend the `bootstrap` target of the Vagrantfile to install this package:

https://github.com/cilium/cilium/blob/ac4b37c9f450e67c89708a41df77fd4ce727a781/examples/getting-started/Vagrantfile#L10-L24

Edit: Not exactly sure if the bootstrap script is executed due to this error. If not, this won't work.

Alternative might be to switch the base image for that vagrantfile.

[2018-05-17 22:39] manalibhutiyani commented on #3585
Updated the metrics section with the progress of data path bits for supporting L3/L4 drops/forwards

[2018-05-17 22:49] #4163 closed, assigned to ianvernon

[2018-05-17 23:40] joestringer commented on #3534
Doesn't the proxy reliably set the upper 16 bits of the `skb->mark` to the identity? Is there ever a case where this is not set to the original identity?

The only case that comes to mind is if the BPF datapath thinks that it can forward traffic to the proxy, but the proxy isn't listening.. in that case, the Linux stack will return back a RST, which could perhaps be classified as `proxy`, but we d

[2018-05-18 00:57] joestringer opened #4174 "Failed to release identity for CIDR identity during policy delete"
Seen in a CI run:

[code]

Looks like `ReleaseSlice()` is hiding the higher level error in this case, because it overwrites `err` with nil on a subsequent release that it attempts.

This is observed in k8s 1.7 tests, so multinode... perhaps there's some assumption that is being broken about the way that CIDR identities are allocated/released (once per cilium instance) which is different from the w

[2018-05-18 09:16] raybejjani commented on #4160
did the cluster ever run a pre-1.0 version, by any chance? I'll still hack in a workaround to the useless autogenerated code but it would be good to know if this is happening only to pre-1.0 installs or for another, unexpected, reason.

[2018-05-18 09:20] raybejjani commented on #4162
Skimming the test output for build 3300 I noticed:
`Error: cannot get endpoint list: context deadline exceeded`
on one of the two `cilium endpoint list` execs. All the app pods happened to be on node k8s2 so I'm guessing it was the same node... and that we have a deadlock or some other really slow endpoint generation :/

[2018-05-18 15:07] #3992 closed, assigned to rlenglet

[2018-05-18 15:35] manalibhutiyani opened #4180 "CI: RuntimeValidatedConnectivityTest test flake"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3351/flowGraphTable/

15:27:57 Running Suite: runtime
15:27:57 ======================
15:27:57 Random Seed: 1526657219
15:27:57 Will run 58 of 285 specs
15:27:57
15:27:57 RuntimeValidatedConnectivityTest Basic Connectivity test
15:27:57   Test connectivity between containers without policies imported
15:27:57   /home/jenkins/workspace/

[2018-05-18 16:54] aanm opened #4181 "If an L4 policy is applied to an endpoint, then L7 policy is applied on top, then the L7 policy never becomes realized"
To replicate follow the instructions in http://cilium.readthedocs.io/en/latest/gettingstarted/minikube/

On http://cilium.readthedocs.io/en/latest/gettingstarted/minikube/#step-4-apply-an-l3-l4-policy the L7 policy is not enforced.

The L7 policy enforcement works if the l3_l4_l7 policy is deleted and then created.

Reported-by: @JrCs

[2018-05-18 17:20] joestringer opened #4183 "Upgrade guide for older branches doesn't point to latest point release"
This upgrade guide:
http://cilium.readthedocs.io/en/doc-1.0/install/upgrade/

This tells people to fetch the DS from here:

https://raw.githubusercontent.com/cilium/cilium/doc-1.0/examples/kubernetes/1.9/cilium-ds.yaml

This contains cilium tag version `1.0.0`, even though `1.0.3` has been released.

I suspect that this is because it's pointing to branch `doc-1.0` rather than `v1.0`. When we switc

[2018-05-18 17:22] aanm commented on #4183
@joestringer `doc-1.0` should be changed to `v1.0` entirely.

But still `doc-1.0` spec files should have `1.0.3`

[2018-05-18 17:47] aanm commented on #4181
Since the PR https://github.com/cilium/cilium/pull/4152 was merged, the e2e test needs to be revisited

[2018-05-18 17:48] joestringer commented on #4181
I attempted this using Cilium v1.0.3 and did not observe the issue:

[code]
[code]

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2018-05-18 17:52] joestringer commented on #4183
If we can set up a redirect from `doc-1.0` to `v1.0` then it should be resolved, it looks like `v1.0` branch contains the correct tag. We aren't yet generating `v1.0` tagged docs on readthedocs though.

[2018-05-18 17:55] joestringer commented on #4181
Reproduced with `latest` tag.

[2018-05-18 18:06] joestringer commented on #4181
From one of the deathstar endpoints, the `spec` for policy is different from the `realized`:

[code]

However the endpoint log suggests that it thinks policy doesn't need to be regenerated:

[code]

For reference, the L7 policy was applied at `May 18 10:54:39 PDT`, which would be `17:54:39` UTC (log TZ)

[2018-05-18 18:15] joestringer commented on #4181
This is the entirety of the Cilium logs for the period when the `kubectl apply` put the L7 policy in place:
[code]

[2018-05-18 19:04] bobrik commented on #3947
There's also https://github.com/newtools/ebpf.

[2018-05-18 20:06] joestringer opened #4187 "CI: k8s-1.10.K8sValidatedPolicyTest Basic Test Denies traffic with cnp default-deny ingress policy flake"
Link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3369/testReport/junit/k8s-1/10/K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default_deny_ingress_policy/

Hit in this PR: https://github.com/cilium/cilium/pull/4185

PR is related to policy, not NPHDS, so I do not expect it to be related to the changes.

### Stacktrace
[code]

(snipped for brevity, to fit in a GH iss

[2018-05-18 20:22] joestringer opened #4188 "CI: Master regression: runtime.RuntimeValidatedPolicies TestsEgressToHost Tests egress with CIDR+L4 policy to external https service"
## runtime.RuntimeValidatedPolicies TestsEgressToHost Tests egress with CIDR+L4 policy to external https service (from (runtime.xml))

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/856/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_TestsEgressToHost_Tests_egress_with_CIDR_L4_policy_to_external_https_service/

### Failing for the past 1 build (Since Failed#856 )

[2018-05-18 20:26] joestringer commented on #4180
@manalibhutiyani Please download the test artifacts and iinvestigate the `test-output.log` before filing an issue. In this case it appears to be related to the PR.

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3351/
->
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3351/artifact/test_results_Cilium-PR-Ginkgo-Tests-Validated_3351.zip
->
[code]

The reason this is n

[2018-05-18 20:26] #4180 closed, assigned to nobody

[2018-05-18 20:46] joestringer opened #4189 "Split cilium log out from test-output.log"
In local testing, I found that spinning up a simple test that runs Cilium, then `Expect(true).To(BeFalse())`, the `test-output.log` contained 4500 lines of cilium logs, and 200 lines of actual test output.

It would be great to split the cilium logs out and put them in a separate file so that the `test-output.log` can reflect exactly what's going on in the test. This can be cross-referenced agains

[2018-05-18 20:55] joestringer opened #4190 "Print failure time in ginkgo output for CI"
Immediately after printing the banner for `=== TEST FAILED ===`, it would be useful to immediately print the output of `date -u` so that the time of failure can be easily cross-referenced against logs.

[2018-05-18 21:10] joestringer opened #4191 "Cannot debug API panics"
Some time ago, we put a nice defer handler in place to catch API handler panics. This avoids printing crazy-looking stack traces in the logs, but unfortunately means that it is now impossible to debug such cases when they are hit.

Example log message:
[code]

How can we improve debuggability of this? Can we print the contents of the panic stack trace as a debug log?

[2018-05-18 21:15] #4164 closed, assigned to ashwinp

[2018-05-18 21:20] joestringer commented on #4191
Might just be a matter of something like this:

[code]

[2018-05-18 21:30] joestringer opened #4192 "Use pointer receivers in ipcache map key functions"
https://github.com/cilium/cilium/blob/ae39ed96f2821e30a2a6670ac1f2e5d838b73f52/pkg/maps/ipcache/ipcache.go#L59

These should use pointers in the receivers, not copies of the struct.

/cc @jrajahalme do you remember the implications of this kind of change? Do you think it will be necessary to backport such a fix?

[2018-05-18 22:49] joestringer commented on #4187
@rlenglet and I found this fun golang slice handling behaviour, seems relevant to this:

Code:
[code]

Output:
[code]

Note that the pointers are the same, but the contents are different.

[2018-05-18 23:01] #4181 closed, assigned to nobody

[2018-05-18 23:07] jrajahalme commented on #4188
Just noting that the failing test does not have a L7 policy (as the L7 is hidden by TLS), so there is no L7 proxy that could have failed here.

[2018-05-18 23:14] joestringer commented on #4188
#### Endpoint list

[code]

#### BPF Policy Get 29381

[code]

#### Policy get

[code]

#### cilium bpf ipcache list

[code]

[2018-05-19 00:07] #4187 closed, assigned to rlenglet

[2018-05-19 18:20] #3855 closed, assigned to rlenglet

[2018-05-19 18:20] #3895 closed, assigned to rlenglet

[2018-05-19 19:29] manalibhutiyani opened #4196 "Change BPF_HASH_MAP to BPF_PER_CPU_HASH_MAP to better performance"
This is a followup work for the data path metrics feature.

Related-to: #4155
Related-to: #3284
Related-to: #3337

As part of the first feature to support data path metrics, we use the `BPF_HASH_MAP`. This will have performance implications as we do a `__sync_fetch_and_add` on packets receives.

We will also need to change the userspace aggregation function to read from this new map and aggregate

[2018-05-20 09:04] #3840 closed, assigned to joestringer

[2018-05-21 07:43] eloycoto commented on #4189
I'm open to this, but for me this is a feature. That cilium logs are the logs that happens during the test, and have all in the same file help me a lot to do a simple search instead of looking for a bunch of files.

I think @ianvernon want to have this one in another file too, so as you prefer.

[2018-05-21 13:40] aanm opened #4198 "L7 proxy stops receiving requests after cilium config ConntrackLocal=true"
Replication steps:
[code]

after "triggering the bug" step / setting the `ConntrackLocal=true`, all requests seem to be dropped.

If `sudo cilium config ConntrackLocal=true` is done before the first 3 curls. the L7-proxy, allows/denies as expected

[2018-05-21 13:45] aanm commented on #4198
@eloycoto the e2e-test exists https://github.com/cilium/cilium/blob/c5b3378e4795f2df21640543a696ed376a008196/test/runtime/lb.go#L339

My PR #4128 is failing a lot because of this, I was able to replicate it with master

[2018-05-21 13:53] eloycoto commented on #4198
Umm, How this bug get introduced then? It'll be nice if we can increase the test to catch this always.

[2018-05-21 15:49] joestringer commented on #4189
I think one of the main problems I have with this approach is that I can't easily find the actual end of the test output. IMO this would be the best approach to solve this problem.

That said, if we covers the various use cases better, then why not both? We can have one file with test-output, one with the logs, and one with both. Something like `test-output-only.log`, `test-output-agent.log`, `tes

[2018-05-21 15:55] eloycoto commented on #4189
What about if we add something like:
[code]

You will have the same problem, because the test will fail, but the output of AfterEach will be in there. Does this works for you?

PS: Maybe we can found a way that vim can detect and fold it.

[2018-05-21 19:37] aanm commented on #3621
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3409

[code]
[test_results_Cilium-PR-Ginkgo-Tests-Validated_3409.zip](https://github.com/cilium/cilium/files/2023853/test_results_Cilium-PR-Ginkgo-Tests-Validated_3409.zip)

[2018-05-21 20:57] joestringer commented on #4198
I'm curious whether we can observe this with options other than `ConntrackLocal`, eg `Debug` ? If so, it may be similar to https://github.com/cilium/cilium/issues/4014.

[2018-05-21 22:03] joestringer opened #4204 "`cilium monitor` allows invalid arguments"
It's not obvious when running `cilium monitor` when you have passed arguments that are not interpreted by the command:

[code]

Or, a more real example:
[code]

These should spit out an error that it doesn't recognize the arguments.

[2018-05-21 22:04] jrajahalme commented on #4198
`docker rm` killed cilium-consul as well, I had to manually restart it again.

[2018-05-21 22:06] aanm commented on #4198
@jrajahalme I was assuming the systemd file would restart cilium-consul
[code]

[2018-05-21 22:17] jrajahalme commented on #4198
Even `sudo service cilium-consul start` did not work (did nothing), but `sudo service cilium status` still showed the service as started. Had to do `restart`, maybe the `requires` in systemd file similarly figured cilium-consul is already running, even though the container was removed?

[2018-05-21 22:20] jrajahalme commented on #4198
@joestringer Reproduced locally by toggling to `cilium config debug=false` instead of Conntrack setting change.

[2018-05-21 23:50] jrajahalme commented on #4198
Not sure if significant, but I did not expect these logs for changing the debug setting:
[code]

[2018-05-21 23:55] jrajahalme commented on #4198
It appears that there may be multiple issues:
1. Daemon config change changes the cilium_host and cilium_net MACs, which are used in endpoint programs, but no endpoint regenerations take place after those MAC changes.
2. Even if an endpoint regeneration would be triggered, the rebuild of the bpf program might be skipped due to cilium_host MAC change not being visible in `lxc_config.h`?
3. We used

[2018-05-21 23:59] joestringer commented on #4014
Based on discoveries in #4198, I am convinced that this is the same issue as that one. I'll mark this as duplicate and close. For follow-up, see that issue.

[2018-05-21 23:59] #4014 closed, assigned to nobody

[2018-05-22 07:28] eloycoto commented on #3621
@joestringer I'm seen this error quite a lot. In master:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2536/testReport/junit/(root)/runtime/RuntimeValidatedLB_Services_Policies_tests_with_service_performing_L4_port_mapping/

The issue looks like that the endpoint is not regenerated correctly:

[code]
Policy
[code]
Endpoint list
[code]

[2018-05-22 10:45] raybejjani commented on #4187
@joestringer @rlenglet That snippet made no sense to me but, apparently, `%p` does a stupid thing with slices and prints the "0th" element (0th because Rob Pike says so)[1]. It will be different if you allocate enough things to trigger a reallocation of the array backing the slice (https://play.golang.org/p/48GnDyt2jQd note the address of the slice object never changes, the address of the first it

[2018-05-22 14:36] eloycoto commented on #4037
Fixed by https://github.com/cilium/cilium/pull/4176

[2018-05-22 14:36] #4037 closed, assigned to eloycoto

[2018-05-22 14:39] #3916 closed, assigned to eloycoto

[2018-05-22 18:29] jrajahalme commented on #4198
Minimal repro without the service config, and only with ingress policy (on httpd1):
[code]

[2018-05-22 20:12] aanm opened #4213 "Unable to run cilium with a container without labels"
Steps to replicate:

[code]

on that terminal inside the VM run:

[code]

check logs
[code]

[2018-05-22 20:40] jrajahalme commented on #4198
Fix in https://github.com/cilium/cilium/pull/4214.

[2018-05-22 20:52] jrajahalme opened #4215 "Endpoints not always regenerated when daemon config or bpf datapath sources change."
- [x] Cilium agent misses a trigger for endpoint bpf program regeneration if node config changes in a way that may affect the endpoint programs, except for the policy enforcement mode, for which a special case exists. However, node configuration may change in other ways, either at runtime, or across restarts, e.g.:

- IPv4 enabled or not
- Gateway addresses
- Cluster ranges
- Bpf Map sizes
- ciliu

[2018-05-22 20:53] jrajahalme commented on #4198
Opened a new GH issue for the identified underlying issues that need to be fixed to make sure upgrades work. Initially assigned to @rlenglet : #4215

[2018-05-22 21:12] joestringer opened #4216 "Drops in NAT64/NAT46 handling are not monitored"
The drops in these tail calls do not call `send_drop_notify(...)`, so the packets will just disappear without an entry in the monitor nor a metric in the upcoming BPF metrics.

https://github.com/cilium/cilium/blob/f4f8363a3fd0801580d728827917cf03da062049/bpf/bpf_lxc.c#L981-L1016

[2018-05-22 23:12] jrajahalme commented on #4192
@joestringer Symptoms depend on the use. For the bpf maps the symptom was that lookups never worked, but then we never did any lookups until I needed to add some.

[2018-05-22 23:16] jrajahalme commented on #4192
It it likely that these are implemented just because an interface requires them and they are actually not used?

[2018-05-22 23:21] joestringer commented on #3549
This hasn't been hit in over six weeks, closing. If it is observed again, feel free to re-open.

[2018-05-22 23:21] #3549 closed, assigned to joestringer

[2018-05-22 23:35] joestringer commented on #4189
This proposal above improves the ability to find where the error occurs, so that could work for the case where I just want to find the end of the test output. That would be a positive step forward.

More generally though, I think that we often hit this general question of the library vs. the catalog. Some people just find it easier to browse through a list of files (like books in a library), picki

[2018-05-23 01:15] #4155 closed, assigned to manalibhutiyani

[2018-05-23 05:15] milipili commented on #2374
Definitively waiting for this one :)

[2018-05-23 06:17] ashwinp opened #4217 "cilium endpoint get/list do not expose labels configured in the policy rules"
## Bug reports

### Title

cilium endpoint get/list do not expose labels configured in the policy rules

### General Information

- Cilium version (run `cilium version`)
`v1.0.0`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
k8s

### How to reproduce the issue

1. Add a label to the cilium network policy. As an example:
[code]
2. Check the output of `cilium endpoint ge

[2018-05-23 09:16] #4183 closed, assigned to nobody

[2018-05-23 10:15] #4192 closed, assigned to nobody

[2018-05-23 10:44] aanm commented on #4132
I think they should be executed for a PR that contains `area/k8s`

[2018-05-23 10:46] eloycoto commented on #4132
@aanm already in there
https://github.com/cilium/cilium/blob/659aea26230134920fa519da2a603bc636a07a13/ginkgo.Jenkinsfile#L23

[2018-05-23 11:49] aanm commented on #4217
@ashwinp the behavior is correct, the labels presented in `cilium endpoint list` are the pod / container labels assigned in the pod spec and/or in the image spec.

[2018-05-23 12:30] aanm commented on #4188
This has been hit in master over the past 3 builds

[code]

The monitor prints the packets will be denied because of policy L3 but the policy loaded on the endpoint should allow it
[code]

If the policy is in the bpf map how is the monitor saying the policy will be denied?
logs from https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/883/

[6172bfe3_RuntimeValidatedPolicies_TestsEgre

[2018-05-23 15:44] ianvernon commented on #4188
@aanm based on the output of `bpf policy get` you pasted above, it looks like the map lookup is failing because there are no non-zero values in the `BYTES` or `PACKETS` columns :(

[2018-05-23 15:50] #4139 closed, assigned to eloycoto

[2018-05-23 16:35] ianvernon commented on #4162
This might have been due to high memory consumption in the K8s tests which was caused by https://github.com/cilium/cilium/pull/4166 . I'm closing this as we haven't seen this failure since https://github.com/cilium/cilium/pull/4166 was merged.

[2018-05-23 16:35] #4162 closed, assigned to ianvernon

[2018-05-23 16:55] joestringer commented on #4188
The only egress policy entry is matching on `cidr:1.1.1.0/30, reserved:world`, which if you dumped numerically would be some high NumericIdentity, however in the monitor output it is showing destination identity 2. The IPCache mapping for that CIDR is not taking place.

[2018-05-23 17:06] joestringer commented on #4188
# cilium bpf ipcache list

[code]

Entry appears to be there when bugtool is gathered, so either the entry was not quite plumbed down yet when the test ran, or the LPM is not working as intended.

[2018-05-23 17:19] joestringer commented on #4188
(from the zip provided by @aanm above)

[code]

The PREFIXES don't contain `/30`, that's why the `/30` prefix wasn't found, therefore it falls back to world identity (2), for which there is no policy that allows it.

[2018-05-23 17:22] ianvernon commented on #4188
FYI, we are not looking at the build in the initial issue comment, we are looking at the build from this comment:

From debuginfo output contained in bugtool for app1 (endpoint ID 4432):

#### Endpoint Log 4432

[code]

[2018-05-23 17:23] ianvernon commented on #4188
From `cilium.log`, the ipcache layer upsert happens right around the same time:

[code]

this indicates that the ipcache update does not get plumbed in time for endpoint regeneration, and as such the `lxc_config.h` does not contain the correct prefixes.

[2018-05-23 17:46] aanm commented on #3850
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3471/

[test_results_Cilium-PR-Ginkgo-Tests-Validated_3471.zip](https://github.com/cilium/cilium/files/2032203/test_results_Cilium-PR-Ginkgo-Tests-Validated_3471.zip)

[2018-05-23 17:54] manalibhutiyani opened #4223 "Pretty print for cilium bpf metrics list"
Currently the `sudo cilium bpf metrics list` output looks like this:
[code]

We need to make this better to something like:
[code]

Related to PR: #4211

[2018-05-23 18:01] #4165 closed, assigned to ianvernon

[2018-05-23 18:07] joestringer commented on #4217
@aanm Should these show up somewhere in the desired policy spec in `cilium endpoint get` though?

[2018-05-23 18:15] ianvernon commented on #3161
I'm moving the priority on this to 1.2 since we have completed the updates per-endpoint in the 1.1 release-window.

[2018-05-23 18:15] aanm commented on #4217
@joestringer yes, and I also believe with `cilium endpoint list -o json`

[2018-05-23 18:16] joestringer commented on #4188
Discussed with @ianvernon offline.

Problem is that the CIDR insertion in policy queues updates for IPCache via the KVstore, then goes straight into policy add / policy regeneration for endpoints, which will reach over to IPCache to fetch the set of prefix lengths (`ipcache.ToBPFData()`) before the original IPCache KVstore update has propagated into the local IPCache.

Thus, the set of prefix leng

[2018-05-23 18:44] manalibhutiyani opened #4224 "Add description file metricsmap/doc.go"
As a followup to #4211 PR, we need to add a file pkg/maps/metricsmap/doc.go which describes the package, in a similar way to pkg/maps/lxcmap/doc.go? This shows up here:

https://godoc.org/github.com/cilium/cilium

(Not every package does this today, but we should try to improve this over time)

[2018-05-23 19:34] aanm commented on #4090
More logs https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/255/

[test_results_Cilium-PR-Ginkgo-Tests-K8s_255.zip](https://github.com/cilium/cilium/files/2032543/test_results_Cilium-PR-Ginkgo-Tests-K8s_255.zip)

[2018-05-23 19:35] aanm commented on #4188
One more if you need more logs @joestringer
[test_results_Cilium-PR-Ginkgo-Tests-Validated_3481.zip](https://github.com/cilium/cilium/files/2032547/test_results_Cilium-PR-Ginkgo-Tests-Validated_3481.zip)

[2018-05-23 19:45] aanm opened #4227 "panic in GetIdentityCache"
[code]

happens locally with consul, compilation with commit 7ec8ebc211de0ec26c2dfef27396987d785ed146

[code]

[2018-05-23 20:13] manalibhutiyani opened #4228 "Property mismatch in /sys/fs/bpf/tc/globals/cilium_metrics"
Steps To reproduce:
1. It happens on a simple dev vagrant run `NFS=1 contrib/vagrant/start.sh`

Cilium logs:
[code]
Usually the above means a mismatch between the map arguments configured in `bpf/lib/maps.h` vs. the `NewMap()` invocation in `pkg/maps/mymap/`.

[2018-05-23 21:06] aanm commented on #3970
Another one in the runtime tests: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3487/
[test_results_Cilium-PR-Ginkgo-Tests-Validated_3487.zip](https://github.com/cilium/cilium/files/2032837/test_results_Cilium-PR-Ginkgo-Tests-Validated_3487.zip)

[2018-05-23 21:07] aanm opened #4229 "policy synchronization to bpf map fails with bad file descriptor"
[code]

#### BPF Policy Get 17471

[code]

Most likely reason

[code]

The ICMP requests were actually denied by the L3 policy but I'm not sure how would that be possible since the bpf policy map does not contain egress policy
[code]

Related with https://github.com/cilium/cilium/issues/3970

The logs from this output can be found here https://github.com/cilium/cilium/issues/3970#issuecomment-3914

[2018-05-23 21:35] joestringer commented on #4170
I hit a similar issue again with `bpf.sha` being wrong in this build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3483/

[2018-05-23 22:37] aanm commented on #3993
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3465/

[test_results_Cilium-PR-Ginkgo-Tests-Validated_3465.zip](https://github.com/cilium/cilium/files/2033105/test_results_Cilium-PR-Ginkgo-Tests-Validated_3465.zip)

[2018-05-23 22:51] aanm opened #4234 "Wait until nodes have pod-cidrs before start cilium"
While checking the logs from https://github.com/cilium/cilium/issues/3993#issuecomment-391520696

I've noticed the pod cidrs of one of the node was not the one given by kubernetes.

Correct node:
[code]

Incorrect node:
[code]

If the tests **are not** being set up with the exact same cilium spec file provided in `examples/kubernetes/1.x` should wait until all nodes have the pod-cidrs.

If the tes

[2018-05-23 22:52] joestringer commented on #3621
@eloycoto This looks like an independent issue, I don't see either of the following messages in the original report on this issue:
*  `Generating BPF for endpoint failed`
* `Error while configuring proxy redirects: proxy state changes failed: context deadline exceeded`

Please file a separate issue so we can track each failure independently. There are likely different root causes for this "Failed

[2018-05-23 23:16] #3940 closed, assigned to joestringer

[2018-05-23 23:43] joestringer opened #4236 "Add "cilium identity list" output to bugtool"
This should probably be collected via `cilium debuginfo`, so the API would need to be extended for that.

[2018-05-24 00:15] joestringer commented on #3534
I'm dropping this to a lower priority because it's a pretty rare happening, and marking the traffic as `reserved:host` now that https://github.com/cilium/cilium/pull/3988 is merged is a reasonable way to represent such traffic. Happy to reconsider if there's another more pressing use case for this functionality.

[2018-05-24 04:27] #4224 closed, assigned to manalibhutiyani

[2018-05-24 10:37] nebril opened #4241 "Kops integration followup"
After initial support of Cilium in kops there are some more improvements to be made. They are tracked in

https://github.com/kubernetes/kops/issues/5201
https://github.com/kubernetes/kops/issues/5202

[2018-05-24 13:46] eloycoto commented on #4234
Should be fixed by https://github.com/cilium/cilium/pull/4219

[2018-05-24 13:58] eloycoto opened #4242 "Cilium crashes with "Cilium endpoint failed to run""
[code]
Logs:
[code]

Logs:
[9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2035618/9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip)

[2018-05-24 14:11] eloycoto commented on #4242
I saw the logs, in previous nothing super important, in the last ones the following:

[code]
Not sure if it's a timeout on start? Or is the health daemon in a bad state @joestringer any advice here?

[2018-05-24 14:46] #4198 closed, assigned to nobody

[2018-05-24 17:18] #4228 closed, assigned to joestringer

[2018-05-24 17:29] aanm opened #4245 "In k8s mode, allow host regardless of policy enforcement"
When adding a kubernetes policy that contains a L4 port the policy gets translated roughly into:
[code]

[code]

[code]

This makes the endpoint to stop receiving any traffic from the host, which is not the correct behavior.

Needs to be triaged with cilium `v1.0.x`

[2018-05-24 17:40] #4145 closed, assigned to ianvernon

[2018-05-24 17:51] ianvernon opened #4246 "CI: utilize CEP for endpoint state in K8s test suite"
Instead of running `cilium endpoint list` or `cilium endpoint get` in cilium pods, we should try to utilize the CEP object we store in K8s to query state of endpoints. This will ensure that we have test coverage of CEP in the Cilium K8s test suite.

[2018-05-24 17:57] ianvernon commented on #4245
to clarify: are you saying that this is being hit with latest master, and we need to check to see if it affects v1.0.x ?

[2018-05-24 18:16] aanm commented on #4245
yes

[2018-05-24 21:46] #4236 closed, assigned to nobody

[2018-05-24 23:27] aanm commented on #4245
I'm increasing the priority to insane as this breaks kubernetes services.

[code]

This makes the `svc-server` to be unavailable since the endpoints health checks fails

The files to replicate this issue are in the zip file provided.
[replicate-endpoints-healtcheck.zip](https://github.com/cilium/cilium/files/2037462/replicate-endpoints-healtcheck.zip)

Tested current cilium master

[2018-05-24 23:28] aanm commented on #4131
being tracked here https://github.com/cilium/cilium/issues/4245

[2018-05-25 00:05] joestringer commented on #4242
We discussed this briefly on slack, the "Cannot establish connection to local cilium ..." message is from the code below, this is normal initially because the `cilium-health` instance gets run before the API is ready:

https://github.com/cilium/cilium/blob/90eed3a04bd880d4b840c6b77a9b7696154ab768/cilium-health/launch/launcher.go#L50-L60

Looks like the next, fatal, message comes from here:

https:

[2018-05-25 01:22] michi-covalent opened #4248 "Expose which policy is enforced on each node in k8s CNP status"
hi,

right now the status field in cnp looks like this:
[code]
this doesn't quite tell me which policies are in effect. it would be nice to have a field that can be used to identify which policies are being enforced on each node, maybe something like a map from namespace to cnp labels/annotations.

[2018-05-25 03:39] #4188 closed, assigned to joestringer

[2018-05-25 06:48] tgraf commented on #4248
@michi-covalent The status field is per policy object and applies to all rules. Can you clarify what you mean exactly by "doesn't quite tell me which policies are in effect"?

[2018-05-25 07:11] tgraf commented on #4245
Did we potentially break this with the changes to CIDR dependent L4? The fix itself seems straight forward.

[2018-05-25 09:19] #4189 closed, assigned to eloycoto

[2018-05-25 11:13] tgraf commented on #4245
The 1.0.x branch is not affected by this

[2018-05-25 13:01] #4245 closed, assigned to tgraf

[2018-05-25 15:33] michi-covalent commented on #4248
oh ok that's amazing. somehow i thought the status was global.

[2018-05-25 16:16] michi-covalent commented on #4248
@tgraf how about exposing resourceVersion of the cnp in the status field? right now there is lastUpdated timestamp, but with resourceVersion you can check which version of cnp is in effect more reliably right?

[2018-05-25 16:20] tgraf commented on #4248
👍 I like it

[2018-05-25 17:09] joestringer commented on #4242
We've had reports of the same failure triggered in user environments.

[2018-05-25 18:23] joestringer commented on #200
We've had users hitting some fragmentation issues lately, I think we should consider how to solve some of these fragmentation issues in an upcoming release.

[2018-05-25 20:01] michi-covalent opened #4254 "cilium pod goes into crash loop backoff after restarting"
[code]

[2018-05-25 20:50] joestringer commented on #4254
Thanks for the report, this should be fixed by https://github.com/cilium/cilium/pull/4247.

[2018-05-25 20:51] #4254 closed, assigned to nobody

[2018-05-25 20:55] joestringer opened #4255 "`cilium endpoint list` column spacing inconsistency leads to test flakes"
Seen in #4247 , #4239.

The pre- and post- endpoint output in the test has a different number of spaces in the `endpoint status` output:

[code]

[code]

Related code:
https://github.com/cilium/cilium/blob/0136423913772516756e46f2469311684002106d/test/runtime/chaos.go#L65-L66

[2018-05-25 20:56] joestringer commented on #4255
I'm thinking that we're trying to ensure that the endpoint ids, identities, IP addresses and labels are properly restored on startup. Perhaps we can put together a command that fetches the JSON versions of relevant information and compares them, instead of relying on tabwriter output.

[2018-05-25 21:24] joestringer commented on #3268
@ianvernon @rlenglet is it fair to say that we no longer observe this issue? Happy to close this?

[2018-05-25 21:27] ianvernon commented on #3268
Given the significant refactoring of endpoint creation (and removal of the PATCH API for endpoints), let's close this.

[2018-05-25 22:22] joestringer opened #4256 "`cilium status` API call can return nil status"
When running `make reload`, I hit this once:

[code]

After the first time, the command worked fine. Most likely, the `cilium status` call just happened right when the API was first served from the agent, so it served a nil `state` field and the `cilium` commandline assumes that it exists.

Here's the code:

https://github.com/cilium/cilium/blob/0136423913772516756e46f2469311684002106d/cilium/cmd/

[2018-05-25 22:36] ianvernon commented on #4248
I don't think using resourceVersion will work. See the following, in which I modified CNP to have a `ResourceVersion` field in its `Status`:

Import a CNP:
[code]

Describe CNP:
[code]

I used the `ResourceVersion` in the `Status` section (942) from the `ObjectMeta.ResourceVersion` that was in the CNP which was provided to us via K8s. However, because we update the CNP with the new `Status` contai

[2018-05-25 22:41] michi-covalent commented on #4248
thanks for looking into this @ianvernon and good catch on resourceVersion stuff. for the usecase @ashwinp and i are interested in we can live with using either a label or an annotation as an identifier.

[2018-05-25 22:52] manalibhutiyani opened #4257 "Add locking when accessing metrics map from user space"
Currently we are iterating the metrics map in user space using `updatePrometheusMetrics`
If the map is being dumped without the Dump and DumpWithCallback functions, we should RLock the map which is done in pkg/bpf/map/DumpWithCallback to ensure that it is not modified from userspace while accessing it. Currently since we are only reading from user space, this is not an issue, but that might change

[2018-05-26 00:58] rlenglet commented on #3268
Yes that’s fine.

[2018-05-26 00:58] #3268 closed, assigned to nobody

[2018-05-26 01:08] #4171 closed, assigned to manalibhutiyani

[2018-05-26 01:09] manalibhutiyani commented on #3284
Feature merged in master

[2018-05-26 01:09] #3284 closed, assigned to manalibhutiyani

[2018-05-26 05:03] #4255 closed, assigned to joestringer

[2018-05-26 06:26] tgraf commented on #4248
The existing labels in the spec itself can be used for this already. You can add a `generation=X` label and just change it for each rule change and wait for the enforcing bit to become true.

The resourceVersion would work as well as k8s tells you what the new resource version is when updating any object. So yes, you can't compare it against the resourceVersion in metadata (which would be identica

[2018-05-26 15:27] joestringer commented on #4257
Might as well just switch to using one of the regular Dump functions instead.

[2018-05-26 17:00] danwent opened #4260 "Document L7-aware egress to external host Example"
Currently all L7-aware filtering examples show ingress rules, where the policy is applied on the HTTP/gRPC/Kafka service that is running inside the k8s cluster.  However, we should also have a document that shows an example were the service is running outside the cluster, but all clients are in the cluster and are locked down using egress policies.

With Cilium 1.0 and earlier, that should be poss

[2018-05-27 21:19] mx-shift opened #4261 "examples/kubernetes config has broken v6 when cluster is v4 with dual-stack nodes"
### General Information

- Cilium version (run `cilium version`)

Client: 1.0.3 a2ebe00a5 2018-05-16T19:13:52+00:00 go version go1.9 linux/amd64
Daemon: 1.0.3 a2ebe00a5 2018-05-16T19:13:52+00:00 go version go1.9 linux/amd64

- Kernel version (run `uname -a`)

Linux alpha 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

- Orchestration system version in

[2018-05-28 12:09] #4204 closed, assigned to nobody

[2018-05-28 12:09] #2880 closed, assigned to nobody

[2018-05-28 12:10] #3990 closed, assigned to nobody

[2018-05-28 15:04] aanm commented on #4131
Fixed with https://github.com/cilium/cilium/pull/4263

[2018-05-28 15:04] #4131 closed, assigned to aanm

[2018-05-28 16:12] tgraf commented on #4227
Possibly related: https://github.com/cilium/cilium/issues/4213

[2018-05-28 18:02] vadorovsky opened #4267 "Represent nodes latency as metrics"
The idea is to be able to monitor the health of nodes by representing HTTP L3 and ICMP latency to nodes (hosts and endpoints) in form of a histogram.

This is a follow up to #4070

[2018-05-28 18:07] vadorovsky opened #4268 "Represent errors and warnings as metrics"
The idea is to be able to monitor `cilium-agent` errors and warnings by .

This will require:

- implementing a wrapper for returning errors (something like `ciliumerror.Wrap("component", "some message you want to attach", err)` ot `ciliumerror.Warn...`) which will bump up the Prometheus counter
- implementing a similar wrapper for logging errors (smth like `ciluumlog.Warn`, `ciliumlog.Error`, `ci

[2018-05-28 18:11] ashwinp commented on #4248
@tgraf

I just tried this by editing the CNP rule to change a port from `8080` to `8081` AND changing the generation from X to Y. The localPolicyRevision and the port in the rule were updated, but the generation was not updated.

We'd like to apply a cilium network policy via `kubectl` and then answer the question -- `Has the policy been enforced on all the nodes in my cluster?` -- **without maint

[2018-05-29 09:01] #2306 closed, assigned to nobody

[2018-05-29 09:33] #3799 closed, assigned to nobody

[2018-05-29 12:16] nebril commented on #3887
closed: https://github.com/cilium/microscope/pull/64

[2018-05-29 12:16] #3887 closed, assigned to nebril

[2018-05-29 12:22] nebril commented on #3888
Closed by https://github.com/cilium/microscope/pull/69

[2018-05-29 12:22] #3888 closed, assigned to nebril

[2018-05-29 14:13] nebril commented on #3889
When https://github.com/cilium/microscope/pull/71 is merged it is going to be done on microscope side.

[2018-05-29 15:53] raybejjani opened #4274 "node-monitor cannot start when "/run/cilium/bpffs" is the bpf mount path"
When running in some minikubes, we rely on the new behaviour in https://github.com/cilium/cilium/pull/3786 to mount bpffs correctly. Unfortunately, when cilium-agent does this, this change is not propagated to node-monitor, which cannot open its events map.

A possible solution is to simply make the bpf root a CLI parameter to node-monitor since cilium-agent knows where it mounted bpf.

[2018-05-29 17:49] ianvernon commented on #4215
@jrajahalme all fixes have been merged. I will create a Ginkgo test which tests the reproducer that you referenced here: https://github.com/cilium/cilium/issues/4198#issuecomment-391094191 . Before I sent out the referenced PRs, I validated that the manual test you created worked.

[2018-05-29 17:54] ianvernon commented on #3878
Any update on this issue? It's been hit again in the CI: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/920/testReport/k8s-1/7/K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example/

Failure output:

[code]

Stdout:
[code]

Logs:
[9acb0442_K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example.zip](https://github.com/cilium/cilium/files/2049839/9acb0442_K8sVal

[2018-05-29 17:55] ianvernon commented on #4029
Another failure in CI: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/920/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_KubernetesNetworkPolicy_between_server_and_client_should_enforce_policy_based_on_NamespaceSelector/

Error output:
[code]

Stdout:
[code]

Logs:
[f0c5341e_K8sValidatedPolicyTest_KubernetesNetworkPolicy_between_server_and_client_should_enforce_policy_based_on_

[2018-05-29 18:51] ianvernon opened #4275 "CI: K8s ClusterIP Connectivity checks service on same node failure"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/917/testReport/junit/k8s-1/10/K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/

Stacktrace:
[code]

Stdout:

[code]

Logs:
[f0c5341e_K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/2050093/f0c5341e_K8sValidat

[2018-05-29 18:54] ianvernon opened #4276 "CI: endpoint was not able to connect while Cilium was not running"
No junit report output was generated due to the test framework timing out, unfortunately :(

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/911/execution/node/69/log/

Console output:
[code]

Logs:
[9acb0442_K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2050184/9acb0442_K8sValidatedChaosTest_E

[2018-05-29 18:57] ianvernon commented on #4229
Note that Ingress and Egress policy enforcement are enabled in the output of `cilium endpoint list` in the output you pasted.

[2018-05-29 19:07] ianvernon opened #4277 "CI: xDS hosts cache has duplicate IP/policy entries for the host IP. (L7Policies test failed due to error configuring proxy redirects)"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2628/testReport/junit/(root)/runtime/RuntimeValidatedPolicies_L7_Checks/

Stacktrace:

[code]

Stdout:
[code]

Logs:
[9acb0442_RuntimeValidatedPolicies_L7_Checks.zip](https://github.com/cilium/cilium/files/2050350/9acb0442_RuntimeValidatedPolicies_L7_Checks.zip)

Endpoints in not-ready state due to proxy-redirect configuration fail

[2018-05-29 19:07] ianvernon commented on #4277
cc: @rlenglet @jrajahalme

[2018-05-29 19:12] vadorovsky opened #4278 "Cannot mount BPFFS on vagrant image v77"
Logs:

[code]

BPFFS mountpoints:

[code]

[2018-05-29 19:12] ianvernon commented on #3621
Another failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2617/

Stacktrace:
[code]

Stdout:
[code]

Logs: [5c6211b5_RuntimeValidatedPolicyImportTests_checks_policy_trace_output.zip](https://github.com/cilium/cilium/files/2050383/5c6211b5_RuntimeValidatedPolicyImportTests_checks_policy_trace_output.zip)

[2018-05-29 20:42] jrajahalme commented on #4277
[code]

[2018-05-29 20:44] jrajahalme commented on #4277
#4056 should have fixed this?

[2018-05-29 20:47] jrajahalme commented on #4277
Grepping for the port number:
[code]

Seems like this was the first allocation of that port, at least in the logs available.

[2018-05-29 21:01] jrajahalme commented on #4277
Bugtool `newtstat--a.md` shows nothing for port `15714`.

[2018-05-29 21:03] jrajahalme commented on #4277
This is a master build on which the last commit updated the kernel version via a new packer box version (77). Could it be possible that there is a race between the socket.Close() we call from cilium-agent and the socket actually being available for new `bind()` call from Envoy right after, even when both call sites set the SO_REUSEADDR socket option?

[2018-05-29 21:05] ianvernon opened #4281 "CI: add policies which test localhost --> pod communication for K8s"
https://github.com/cilium/cilium/pull/4263 fixed this issue, but this means that CI didn't catch localhost --> pod communication failures in K8s tests. Add such a test.

[2018-05-29 21:40] aanm opened #4282 "Provide guide to upgrade a from a kops deployment"

[2018-05-29 23:42] ianvernon opened #4283 "Cannot run ginkgo tests locally on Mac due to import dependency"
I wrote a test locally that didn't pull in any cilium dependencies. When I ran it, the following happened:

[code]

This is because `test/runtime/chaos.go` pulled in `github.com/cilium/cilium/pkg/identity` as a dependency, which transitively includes `pkg/node`, which includes netlink code which doesn't compile on Mac.

[2018-05-29 23:44] joestringer commented on #3717
Reopening due to revert.

[2018-05-30 04:05] rlenglet commented on #4058
Note that if the intent is to make Cilium's Envoy proxy work with gRPC streams, this is a known Envoy bug upstream: https://github.com/envoyproxy/envoy/issues/1778

[2018-05-30 05:25] rlenglet commented on #4277
Has the OS been updated with the Vagrant box, besides the kernel? I would check that the range of local ports allocated by Linux hasn't changed.
[code]
If that overlaps now with the proxy redirect port range configured in Cilium, we need to change that range configuration.

[2018-05-30 09:56] #4170 closed, assigned to eloycoto

[2018-05-30 13:47] #4274 closed, assigned to raybejjani

[2018-05-30 13:51] tgraf opened #4289 "1.2 Release Process"
# Cilium 1.2 planning

* Release Committments: https://github.com/cilium/cilium/projects/9

## Release Dates
* Feature Freeze: 2018-07-06
* 1.2.0-rc1: 2018-07-30
* 1.2.0-rc2: 2018-08-03
* 1.2.0-rc3: 2018-08-13
* 1.2.0: 2018-08-15

## Release Checklist
- [x] Planning
- [x] Development Phase
- [x] Feature Freeze
- [x] Feature Exception Freeze
- [x] Testing & Addressing bugs
- [x] Final Release
- [x]

[2018-05-30 14:25] raybejjani commented on #3878
None, I'm afraid. I was hoping it was a CPU load issue, and would go away once we stopped running monitor. Alas, I am wrong.
Worse, the kube-dns "verbose" output seems no more verbose than before...

[2018-05-30 15:14] raybejjani commented on #3621
Hmm, that endpoint might have been deleted? The various errors seem related to that.
#### Endpoint Log 39811

[code]

[code]

#### BPF CT List 39811

[code]

Finally, the cilium log shows it failing to build at 17:25, which is before the policy apply that failed in the test (while waiting for the ready state). Does anyone know what the invalid element mean?
[code]

[2018-05-30 15:16] raybejjani commented on #3621
Oh, I guess if we fail on the first ever regeneration we wouldn't create a state directory, but only the `_new` (or whatever) equivalent....

[2018-05-30 15:19] raybejjani commented on #3621
But that's not the case. This endpoint was regenerated before... sigh

[2018-05-30 16:04] ianvernon commented on #4277
I hit this issue locally and have the environment for it preserved.

[2018-05-30 16:12] rlenglet commented on #4277
@ianvernon I need to restart with the new box version.
In the meantime, could you please run `sysctl net.ipv4.ip_local_port_range` and post the output?

[2018-05-30 16:15] ianvernon commented on #4277
@rlenglet :

[code]

[2018-05-30 16:16] rlenglet commented on #4277
Ok, that looks fine.

[2018-05-30 16:54] #2337 closed, assigned to ianvernon

[2018-05-30 17:47] tgraf opened #4292 "Stabilize master CI builds"
## Who
@cilium/team

## Goal
Get the CI master build success rate to >=95%

## Issues that need to fixed before the release:
- [x] https://github.com/cilium/cilium/issues/3621
- [x] https://github.com/cilium/cilium/issues/3993#issuecomment-394645783

## List of master build failures:

(Mark as done when *NOT* a regression)

- [x] https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/93

[2018-05-30 17:53] aanm commented on #2354
@ChiefAlexander @voidengineer @lorenz @AshleyByeUK @mskarbek @runiq @robodendron @sidcarter @martinbaillie @aaglenn @maximusfloydus

containerD and CRI-O support are merged and available in `v1.1.0-rc2` feel free to try it!

Thank you for your feedback over this feature!

[2018-05-30 17:54] tgraf commented on #4227
Duplicate of #4213

[2018-05-30 17:54] #4227 closed, assigned to tgraf

[2018-05-30 17:55] #2354 closed, assigned to aanm

[2018-05-30 18:54] tgraf commented on #4229
@ianvernon I think we should verify and re-open the map in the controller:

[code]

This would also ensure that we recreate the map when it is manually deleted

Thoughts?

[2018-05-30 20:06] #4213 closed, assigned to tgraf

[2018-05-30 21:17] ianvernon commented on #4229
@tgraf sure, this seems reasonable, I'll look into doing this.

[2018-05-30 22:27] tgraf opened #4296 "Resolve identity 0 to label reserved:unknown"

[2018-05-30 23:10] tgraf opened #4297 "Document / resolve host => world identity change for NodePort"
The commit #3988 has introducing a behavioral change because Cilium can now properly differentiate between host and world for traffic that is coming in via NodePort even if the traffic is being SNATed. There are two scenarios where host to endpoint is allowed:

- Manual policy that allows from host
- Kubernetes mode where host to pod is always allowed

In either of the above scenarios, traffic via

[2018-05-31 09:04] tgraf opened #4300 "CI: Temporary connectivity problem to external dependency"
This is a catch-all GH issue for CI flakes which failed because of temporary connectivity problems to external repositories or APIs including:
- package repository
- GitHub

[code]

[2018-05-31 09:35] #4300 closed, assigned to nobody

[2018-05-31 11:28] tgraf opened #4302 "Chaos testing in nightly tests"
- [ ] Randomly delete an app pod and ensure that it comes back up and regains connectivity via endpoint restore
- [ ] Randomly restart cilium-agent and ensure it does not disrupt L3/L4 connectivity
- [ ] Policy enforcer probe pod which attempts to reach destinations which are prohibited by policy, report on unexpected success (negative case to existing policy tests in nightly)

[2018-05-31 14:09] raybejjani commented on #4292
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/920/console  is due to a mystery kube-dns "failure" it doesn't ever return IPs for the redis-master service.

[2018-05-31 14:11] raybejjani commented on #4292
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2617/ is a case where an endpoint is reported not-ready and stays there. We had a fix for some of this earlier, this latest instance seems to be that the endpoint was deleted (the errors say things like not found etc. but it started with an invalid element).

[2018-05-31 14:30] eloycoto commented on #4234
@aanm I updated the cilium daemonsets in test, but I still see this error on Nightly [0]

The nodes are not sync, and I'm see this error, examples:

k8s1
[code]

k8s2
[code]

k8s3
[code]

k8s4
[code]

Nightly is suffering because of this, could you point to me what changes I'm missed from the daemonsets?

Thanks.
[2811a558_NightlyPolicies_PolicyEnforcement_default_L3_No_Policy_L4_No_Policy_L7_No_P

[2018-05-31 14:56] nirmoy opened #4308 "Missing url in log scope while running cilium-docker without cilium agent"
nirmoy@linux-rbpu:~/go/src/github.com/cilium/cilium> sudo ./plugins/cilium-docker/cilium-docker
[sudo] password for root:
level=info msg="Waiting for cilium daemon to start up..." url=

[2018-05-31 15:02] #3775 closed, assigned to nobody

[2018-05-31 15:20] aanm commented on #4234
@eloycoto You are probably not missing anything from the daemonsets, you just need to make sure all nodes have a pod-cidr before starting cilium.

Something like this:https://github.com/cilium/cilium/blob/aa5036402d86533a867f3fda1739cf3719ed0267/contrib/vagrant/start.sh#L336-L343

[2018-05-31 16:37] aanm commented on #4234
assigned @tgraf based on the discussion we had offline that cilium needs to be aware of the pod CIDR on the node that is running.

[2018-05-31 16:38] tgraf opened #4314 "etcd-operator compatible Cilium bootstrap"
## Goal

Allow to deploy Cilium with a etcd-operator as part of the deployment resources and have Cilium provide networking connectivity first to allow etcd-operator to be deployed. Then have Cilium connect to the deployed etcd and establish the identity system for global policy. Allow policies to be applied to etcd using fixed/init policies without requiring kvstore access.

## Tasks
- [x] Reserv

[2018-05-31 18:55] tgraf opened #4317 "Re-allocate IPs of restored endpoints before allocating IPs for loopback / cilium_host"
It has been observed that the allocated loopback address is conflicting with an old endpoint IP that is required to be restored. This caused the endpoint to not be restored.

IPs to allocate after endpoint restore:
- loopback
- health endpoint (already done)

[2018-05-31 18:59] aanm commented on #4317
Don't you mean "Re-allocate IPs of restored endpoints **after** allocating IPs for loopback / cilium_host?"

cilium_host / loopback should take precedence otherwise an endpoint can be assigned with the cilium_host IP

[2018-05-31 19:07] tgraf commented on #4317
The loopback IP can be different on each run:
[code]

[2018-05-31 19:30] joestringer commented on #4317
Can we read the `cilium_host` device IPs on startup and attempt to reuse that IP as an upgrade path?

[2018-05-31 19:42] aanm commented on #4317
@joestringer we are already doing that for the cilium_host v4 and and the v6 router. I just thought the lookbackIPv4 was not necessary

[2018-05-31 20:48] tgraf commented on #4261
Attempted to change the default IPv6 CIDR (#4298) to the private IPv6 CIDR range `fd00::/8`. We can't change it without breaking upgrades while guaranteeing endpoint restores.

[2018-05-31 22:51] manalibhutiyani opened #4319 "bpf-map dump does not aggregate the BPF_MAP_TYPE_PERCPU_HASH BPF maps correctly"
[code]
Currently we do not aggregate the PER_CPU logic for BPF_PER_CPU maps in bpd-map dump

[code]

We can clearly see that for
[code]
with a system having 2 CPUs,
The value should be V[0] = 8 + V[1] = 1 = 9 and not simply 8. This is because `bpf-map dump ` does not aggregate the BPF_MAP_TYPE_PERCPU_HASH correctly for all the CPU entries.

Related to #4196

[2018-05-31 22:52] manalibhutiyani commented on #4319
@joestringer @borkmann

[2018-05-31 23:03] manalibhutiyani opened #4321 "BPF_MAP_TYPE_PERCPU_HASH not handled and gives Property mismatch error."
We get `Property mismatch in /sys/fs/bpf/tc/globals/cilium_metrics` error

I changed the cilium_metrics code from `BPF_MAP_TYPE_HASH ` to `BPF_MAP_TYPE_PERCPU_HASH`
We need to handle this special case where BPF definition is different from user space definition for `BPF_MAP_TYPE_PERCPU_HASH`
This is because the BPF definition does not account for all the values across all the CPUs.
But in user spa

[2018-05-31 23:05] manalibhutiyani commented on #4321
Please let me know where this needs to change? My understanding is in the upgrade function i.e `bpf_handle_pending` we need to handle the special case for `BPF_MAP_TYPE_PERCPU_HASH`?

[2018-05-31 23:25] #4296 closed, assigned to tgraf

[2018-05-31 23:34] #1972 closed, assigned to aanm

[2018-05-31 23:55] ianvernon commented on #4278
@aanm : can we reduce the priority on this since the change which introduced this problem was reverted?

[2018-06-01 00:02] ianvernon commented on #4277
This was hit in a CI test run with debug logs enabled.

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2653/testReport/junit/(root)/runtime/RuntimeValidatedLB_Services_Policies_tests_with_service_performing_L4_port_mapping/

Stacktrace:
[code]

Endpoint was in not-ready state:

[code]

Logs: [9acb0442_RuntimeValidatedLB_Services_Policies_tests_with_service_performing_L4_port_mapping.

[2018-06-01 00:54] joestringer commented on #4321
My guess is that the value size for the map should still be `Sizeof(Value{})`, but then in the dump you can use an array of values which is sized based on the number of possible CPUs. As far as I know, the bpf call to fetch the values from the kernel should populate multiple elements in the array, then you should be able to iterate them in the dump function and aggregate them.

[2018-06-01 05:22] joestringer commented on #4319
This should probably be tracked in https://github.com/cilium/bpf-map instead, but perhaps migrating to the kernel's bpftool would be more useful as it should be more actively maintained.

[2018-06-01 07:24] #4216 closed, assigned to nobody

[2018-06-01 09:34] aanm commented on #4229
test: RuntimeValidatedPolicyImportTests

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/936/

[test_results_master_936.zip](https://github.com/cilium/cilium/files/2062165/test_results_master_936.zip)

[code]

[2018-06-01 09:51] tgraf opened #4324 "Unreliable Kubernetes PodCIDR allocation"
Kubernetes only allocates a PodCIDR to a node once the node becomes ready. For the node to be ready, the CNI plugin needs to be installed.

- [ ] Add new flag `--k8s-require-pod-cidr` which blocks with a timeout until the node provides the pod CIDR
- [ ] Make this the new default in new ConfigMap

[2018-06-01 10:04] eloycoto commented on #4277
Found another issue:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2653/

#### Endpoint Log 39028
[code]

#### Endpoint Get 39028

[code]
#### BPF Policy Get 39028

[code]
All logs attached.
[9acb0442_RuntimeValidatedLB_Services_Policies_tests_with_service_performing_L4_port_mapping.zip](https://github.com/cilium/cilium/files/2062271/9acb0442_RuntimeValidatedLB_Services_Policies_tests_wi

[2018-06-01 10:09] tgraf opened #4325 "Fix endpoint restore log regarding health endpoint"
- On each restart, the health endpoint of the previous run cannot be restored. This is fine as it is supposed to be recreated but it triggers an unnecessary info message about restore not succeeding.
- The failing restore leaves behind state that will be re-attempted to be restored on the next restart. This causes one additional endpoint restore failure for each restart. In the output below, 4 end

[2018-06-01 10:31] eloycoto commented on #4275
If you see the logs on cilium on k8s2:

[code]

This should be fixed by https://github.com/cilium/cilium/pull/4315

Should be fixed by:
https://github.com/cilium/cilium/issues/4234

[2018-06-01 10:32] aanm opened #4326 "Validate documentation with 1.1.0"
Validate documentation  with 1.1.0, includes running the getting started guides and verify if some concepts no longer make sense with 1.1.

**Very important**: Be a user, not a developer. If something is not clear enough, please change it.

- [ ] Getting Started Guides
  - [x] [Getting Started Using Minikube](http://cilium.readthedocs.io/en/latest/gettingstarted/minikube/) @eloycoto (PR https://gi

[2018-06-01 10:50] raybejjani commented on #3878
yay! another! https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3732/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example/

Ironically, we thought misconfigured podCIDR might have caused this. clearly not! (the PR fixed the podCIDR)

[2018-06-01 14:07] eloycoto commented on #4277
Another issue:
#### Endpoint Health 17455

[code]

#### Endpoint Log 17455

[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2663/
[5c6211b5_RuntimeValidatedLB_Services_Policies_tests_with_conntrack_disabled.zip](https://github.com/cilium/cilium/files/2062963/5c6211b5_RuntimeValidatedLB_Services_Policies_tests_with_conntrack_disabled.zip)

[2018-06-01 14:34] #4317 closed, assigned to tgraf

[2018-06-01 15:34] tgraf opened #4329 "CI: Upgrade test is broken"
The upgrade test from stable to latest is broken. It was noticed when commit 7e4436b9 was merged which introduced a change which is not upgrade compatible. The commit changed the default IPv6 prefix which will prevent cilium-agent from starting up if it was previously started with a different IPv6 prefix.

[2018-06-01 16:10] eloycoto commented on #4329
Build: https://jenkins.cilium.io/view/PR/job/Cilium-PR-Ginkgo-Tests-Validated/3737
Issue:

Cilium log:
[code]

Attached logs:
[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2063366/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip)

[2018-06-01 17:28] tgraf commented on #4277
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/291/testReport/k8s-1/9/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

[2018-06-01 18:17] jrajahalme commented on #4277
One significant piece of info here is that the error happens with `NetworkPolicyHosts` i.e., CIDR/policyID map update:

[code]

[2018-06-01 18:18] jrajahalme commented on #4277
`NetworkPolicyHosts: Duplicate host entry '10.10.0.44' for policy 4, already mapped to 1`

[2018-06-01 18:23] jrajahalme commented on #4277
`cilium bpf ipcache list` shows this:
[code]
So the mapping to `4` is an inconsistency in how we update xDS cache, apparently the address was previously mapped to `4` and then to `1`, but that update was not properly done on the xDS cache.

[2018-06-01 18:40] jrajahalme commented on #4277
This IP is the node IP:
[code]

Which first has the ID 1 (HOST):
[code]

Then etcd tells us the ID is 4:
[code]

[code]

Next we use this address for `cilium-health`:
[code]

And then this happens:
[code]

[2018-06-01 18:42] joestringer opened #4332 "Ginkgo VMs: host only network interface DHCP conflict"
I tried to provision new ginkgo VMs on my Linux machine and hit the following error message:

[code]

[code]

[2018-06-01 18:44] ianvernon opened #4333 "bugtool: add list of file descriptors which are managed by cilium-related processes"
#4229 shows that sometimes policymap updates fail with 'bad file descriptor' as the reason. As part of the bugtool, gather open file descriptors which are in use by the agent / monitor:

* ```sudo lsof -p `pidof cilium-agent` ```

[2018-06-01 18:56] ianvernon opened #4334 "build broken due to cmdref not being updated for cilium-agent"
https://github.com/cilium/cilium/commit/423aef8030c9bcab14173b8d7f22a0ce78de1d71 did not build the command reference associated with the change, which causes the Cilium build to fail:

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/947/execution/node/68/log/?consoleFull

Failure output:
[code]

Fix the command reference accordingly.

[2018-06-01 19:08] joestringer opened #4336 "Provision of multi-node ginkgo VMs broken with NFS=1"
I ran this:

[code]

And provisioning failed:
[code]

[code]

[2018-06-01 19:48] aanm commented on #4336
@joestringer I would guess NFS or the directory sync was not working

[2018-06-01 20:08] joestringer commented on #4336
@aanm I think you're right, I typically define NFS=1 in my environment. I'll turn it off and re-run.

[2018-06-01 20:57] joestringer commented on #4336
To work around this, I had to destroy my vagrant VMs (`vagrant destroy k8s1-1.0`), export NFS=0, and re-provision.

[2018-06-01 20:58] joestringer commented on #4332
I worked around this by destroying all of my virtualbox VMs, virtualbox networks, then re-running the ginkgo script.

[2018-06-01 20:58] #4332 closed, assigned to nobody

[2018-06-01 20:59] #4334 closed, assigned to ianvernon

[2018-06-01 21:10] ianvernon opened #4337 "CI Proposal: Have a job which tests various configuration options for VM-related changes"
When we change the provisioning scripts for VMs, it would be helpful to not only run the normal CI tests, but also run a build which tests various boot-time configuration options for the VMs, e.g.:

* `./contrib/vagrant/start.sh`
* `NFS=1 ./contrib/vagrant/start.sh`
* `cd test; vagrant up runtime`
* `cd test; vagrant up k8s1-1.10; vagrant up k8s2-1.10`
* `cd test; NFS=1 vagrant up runtime`

etc. A

[2018-06-01 21:17] ianvernon commented on #4215
Reducing priority since the required changes are merged; all that is left is the integration test, which is out for review in #4291 .

[2018-06-01 21:18] ianvernon commented on #4229
Related: #3621

[2018-06-01 21:43] ianvernon opened #4338 "CI: VXLan test failure"
Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/943/testReport/junit/k8s-1/10/K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode/

Stacktrace:
[code]

Stdout:
[code]

Logs:
[aa209b8e_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2064231/aa209b8e_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip)

Not sure why the failure is at `/src/gi

[2018-06-01 21:45] ashwinp opened #4339 "Labels automatically added by Cilium in the output of `cilium policy get` do not contain the source tag"
## Bug reports

### Title

Labels automatically added by Cilium in the output of `cilium policy get` do not contain a source

### General Information

- Cilium version (run `cilium version`)
`1.1.0-rc2`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
k8s

### How to reproduce the issue

Found while inspecting code/adding logs. The rule labels are as follows:
`[unspec:io.

[2018-06-01 21:45] ianvernon commented on #4338
Looks like the test failed because the tunnel status was not `true`:
https://github.com/cilium/cilium/blob/5f3cfc8347d789339866244c0a1261dcdb8b34be/test/k8sT/Tunnels.go#L69-L103

[2018-06-01 22:26] ianvernon commented on #4333
I need to update the `cilium-runtime` Docker image to contain `lsof` to get bugtool working in the Cilium Docker image. Asked offline for instructions for uploading the new `cilium-runtime` image to quay.io
The `lsof` command  works fine in the VM which runs Docker tests (i.e.  when Cilium is not ran in a container):

Command:
[code]

Output:
# lsof -p $(pidof cilium-agent)

[code]

[2018-06-01 22:50] tgraf commented on #4329
@eloycoto That is not the build that succeeded, the bug above was fixed in commit f23357fa5b. The PR was merged with a green build.

[2018-06-02 16:20] rlenglet commented on #3675
This seems to have come back:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3766/execution/node/65/log/
[code]

[2018-06-02 18:33] #4339 closed, assigned to nobody

[2018-06-02 19:13] ashwinp commented on #3621
Seen again in build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3768/execution/node/63/log/?consoleFull

[2018-06-02 20:40] borkmann commented on #4319
@joestringer Agree, sounds reasonable.

[2018-06-03 07:45] tgraf opened #4345 "Add option to preserve behavior that host allows world"

[2018-06-03 09:44] tgraf opened #4346 "CI: Add kubernetes netperf benchmark tests"
https://github.com/kubernetes/perf-tests/tree/master/network/benchmarks/netperf

[2018-06-04 08:42] eloycoto commented on #4338
Another fail:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2692/testReport/junit/k8s-1/7/K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode/
[2811a558_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2067454/2811a558_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip)

[code]

[2018-06-04 08:47] eloycoto opened #4347 "NACK found in logs"
Test: k8s-1.10.K8sValidatedServicesTest Bookinfo Demo Tests bookinfo demo
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2693/testReport/k8s-1/10/K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/
Stacktrace:

[code]

Standard Output
[code]

[10cd9672_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/2067465/10cd9672_K8sValidate

[2018-06-04 08:51] eloycoto commented on #4329
Another failure:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2693/testReport/k8s-1/10/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

Stacktrace
[code]

Standard Output
[code]

[6cb50b02_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2067479/6cb50b02_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip)

[2018-06-04 08:54] eloycoto commented on #4276
Stacktrace
[code]

Standard Output
[code]

[2018-06-04 10:28] aanm commented on #2367
@tgraf I've take a closer look to the existing addons, it looks like they are just a bunch of yaml files to install applications on top of a running minikube. This means we cannot leverage addons to change the minikube internal setup.

[2018-06-04 10:30] aanm commented on #1775
@ianvernon the information provided here is not sufficient? http://cilium.readthedocs.io/en/latest/contributing/#options

Would it help if `--help` or `--info` would print he same text presented in http://cilium.readthedocs.io/en/latest/contributing/#options?

[2018-06-04 10:31] aanm commented on #2441
it is not possible due lack of deploying an etcd-operator with host network.

https://github.com/cilium/cilium/issues/4314 deprecates this issue

[2018-06-04 10:31] #2441 closed, assigned to aanm

[2018-06-04 14:41] raybejjani commented on #3621
@ashwinp Could you explain how you linked that failure to this issue? Looking through build 3768's logs I only see errors bringing up cilium to begin with, I'm not even sure any tests executed at all.

[test_results_Cilium-PR-Ginkgo-Tests-Validated_3768.zip](https://github.com/cilium/cilium/files/2068680/test_results_Cilium-PR-Ginkgo-Tests-Validated_3768.zip)

[2018-06-04 15:17] ianvernon opened #4356 "CI: unable to apply Cilium DaemonSet in K8s tests"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2697/testReport/junit/k8s-1/10/K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates/

Stacktrace:
[code]

Logs: [f0c5341e_K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates.zip](https://github.com/cilium/cilium/files/2068841/f0c5341e_K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates.zip)

[2018-06-04 15:23] ianvernon opened #4357 "CI: health test had connection time out in health status output"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2699/testReport/junit/k8s-1/7/K8sValidatedHealthTest_checks_cilium_health_status_between_nodes/

Stacktrace:
[code]

Output:
[code]

Logs:  [18d2fe90_K8sValidatedHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/2068870/18d2fe90_K8sValidatedHealthTest_checks_cilium-health_status_betwee

[2018-06-04 15:43] nebril commented on #4357
Seems like the same happened on master: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/934/testReport/k8s-1/10/K8sValidatedHealthTest_checks_cilium_health_status_between_nodes/

[2018-06-04 15:51] eloycoto commented on #4357
This issue has the PodCIDR incorrect, is fixed on `2cc3075e86607e52a93fdd1a3091c5ca2ea1e9fc`

I'll check if happens again this week, if not I'll close it ;-)

[2018-06-04 16:03] jrajahalme commented on #3927
Fixed in #4134

[2018-06-04 16:03] #3927 closed, assigned to jrajahalme

[2018-06-04 16:03] ianvernon commented on #4234
@eloycoto was this fixed by https://github.com/cilium/cilium/commit/f9ba47b3cef1a2ff0b18ea826cdb87bae97aa985 ?

[2018-06-04 16:04] jrajahalme commented on #4347
Duplicate of #4277

[2018-06-04 16:05] #4347 closed, assigned to jrajahalme

[2018-06-04 16:13] jrajahalme commented on #4277
@joestringer Need your view on this, may relate to how "health" is reached and/or to other recent host/health reserved ID changes (what does '4' stand for?).

[2018-06-04 16:27] eloycoto commented on #4234
@ianvernon that was a workaround in the installation to not fail. The fix I think that is #4330

[2018-06-04 16:31] raybejjani commented on #4275
closed in community discussion meeting

[2018-06-04 16:42] rlenglet commented on #4277
@jrajahalme 4 is the reserved identity for `reserved:health`.

[2018-06-04 16:49] rlenglet commented on #4277
So we try to associate the host IP to both 1 (`reserved:host`) and 4 (`reserved:health`). Which kind of makes sense, since they both use the same IP.

[2018-06-04 16:50] rlenglet commented on #4277
There's no easy solution here. :/

[2018-06-04 17:26] joestringer commented on #4297
Extra side-effect: Adding a new flag to the `DaemonSet` means we need to change the existing upgrade tests. If we use the new example DS YAMLs to install stable, then stable won't understand the new `--k8s-legacy-host-allows-world` parameter and will fail immediately.

[2018-06-04 17:45] ianvernon commented on #4333
After discussion offline with @aanm we can achieve the same thing with:

[code]

which removes the need for `lsof` in the container image for Cilium :) thanks @aanm !!

[2018-06-04 17:50] ianvernon commented on #4277
One question - do we need to send the health IP to XDS? When will a user configure policy for health vs. the host?

[2018-06-04 17:59] rlenglet commented on #4277
It’ll be needed to enforce policies to/from health daemon.

[2018-06-04 18:00] rlenglet commented on #4277
Or we can decide that it should get identity 1 / host instead of a custom id.

[2018-06-04 18:02] jrajahalme commented on #4277
Note that bpf ipcache also can only have one mapping for an IP address. In this case it is 1 (see comment above).

[2018-06-04 18:08] ianvernon commented on #4277
Is this a valid use case? What I'm saying is that since health is a 'special' endpoint, maybe we can have special checks for it by not allowing policy to apply to it, and not to send it to the XDS cache either.

[2018-06-04 18:10] ianvernon commented on #4333
Output of new command:

```$ cat ls--la--proc-\$\(pidof-cilium-agent\)-fd.md ```

# ls -la /proc/$(pidof cilium-agent)/fd

[code]

[2018-06-04 18:13] rlenglet commented on #4277
Yes it’s a valid use case. We’ll want to exercise policy enforcement to check the health of the Cilium agent.

But my point is that we don’t necessarily need to give the health daemon ID 4.
We could give it ID 1.

[2018-06-04 21:20] #4333 closed, assigned to ianvernon

[2018-06-04 22:03] joestringer commented on #4277
The health endpoint has its own IP, why do we associate it with the host IP?

[2018-06-04 22:15] joestringer commented on #4277
Note that in the section above, I quote:

[code]

This is configuring the routes inside the cilium-health endpoint, not the IP address inside.

[2018-06-04 22:17] ianvernon commented on #1775
Contributing docs are sufficient; closing.

[2018-06-04 22:17] #1775 closed, assigned to aanm

[2018-06-04 22:22] joestringer commented on #4277
From here: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/291/testReport/k8s-1/9/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

I see different health EP IPs:

[code]

Looks to me like Cilium was restarted, and upon restore, we are getting the old health endpoint with an IP that overlaps with the new daemon run's internal IP allocation, Cilium restores that, which conflicts, then

[2018-06-04 22:40] ianvernon opened #4362 "Cannot start K8s Developer VMs off of master"
Reproducing steps:

1. Check out master `git checkout master`
2. From the root of the cilium repository, run the following:
`NFS=1 K8S=1 ./contrib/vagrant/start.sh`
3. The provisioning of the VMs fails:

[code]

I am working on moving to ubuntu 18.04 in the developer VMs (see https://github.com/cilium/packer-ci-build/pull/57 ) ; this may be related to some EOL for Ubuntu Xenial repositories :(

[2018-06-04 23:02] aanm commented on #4362
Which VM is it?

As a workaround run
[code]
that should be already in here https://github.com/cilium/packer-ci-build/blob/40e582a0dae8e266fd6ce9ac29216560bdf701ff/provision/ubuntu/crio.sh#L7

[2018-06-04 23:08] ianvernon commented on #4362
Version in `Vagrantfile` is: ```config.vm.box_version = "77"```

[2018-06-04 23:08] ianvernon commented on #4362
i'll try the workaround. Thank you Andre!

[2018-06-04 23:13] rlenglet commented on #4277
It doesn't seem like any endpoint is restored with IP `10.10.0.44`:
[code]

[2018-06-04 23:18] joestringer commented on #3945
Related: #3146

[2018-06-04 23:18] joestringer commented on #3146
Closing as duplicate of #3945.

[2018-06-04 23:18] #3146 closed, assigned to nobody

[2018-06-04 23:29] ianvernon commented on #4362
Now I am facing other errors:
[code]

investigating.

[2018-06-04 23:44] aanm commented on #4362
@ianvernon oh I see. comment these lines. https://github.com/cilium/cilium/blob/master/examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh#L40-L52

I forgot to comment these lines since the VM was updated with the cri-o already installed.

[2018-06-05 00:45] joestringer commented on #4277
@rlenglet Perhaps even earlier? I believe that the output I posted above is the output from etcd. Something inserted it there, my guess is that it was a previous iteration of the daemon that allocated that IP to the health EP and pushed it in.

EDIT: Oh, it won't successfully restore that IP because it was already allocated for the internal IP before the restore happens.

[2018-06-05 01:00] abhide15 opened #4363 "cilium health pings drops in cilium monitor output after restarting/upgrading cilium"
Cilium pods got restarted after upgrading cilium.
In cilium monitor output; I see drops to cilium health API port 4240

[code]
EchoRequest drop seems like cilium-health ping is getting dropped.
Port 4240 is the API endpoint for cilium health API

Seems like these requests are still going to the old IP address assigned to `cilium_host` link.

[2018-06-05 01:04] andrewsykim commented on #2463
Merged the necessary changes in kube-router so we can disable all it's CNI pieces and use it only for BGP routing. If someone can test the following config (replacing BGP peering information as necessary) that would be great.

[code]

[2018-06-05 03:26] #4196 closed, assigned to manalibhutiyani

[2018-06-05 03:31] rlenglet commented on #4277
Nope, we don't see any conflict about reallocation during endpoint restoration:
[code]
[code]

[2018-06-05 03:34] rlenglet commented on #4277
The `cilium_health` is ignored during restoration because its interface is gone:
[code]

When this message is logged, the IP addresses of the endpoint are _not_ re-allocated:
[code]

[2018-06-05 03:38] rlenglet commented on #4277
So **there is no issue with endpoint restoration**, because the health daemon is never restored.
The problem must be somewhere else.

[2018-06-05 05:14] rlenglet commented on #4277
OK, the bug is in `syncLXCMap()`.
In case the mapping for a reserved identity is changed, we call `OnIPIdentityCacheChange` with `oldIPIDPair` set to `nil`, so the old mapping is never deleted, which results in duplicate entries:
https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L1014
[code]
There are only 2 places where we call `OnIPIdentityCacheChange`, and the other one is OK.

The

[2018-06-05 05:17] rlenglet commented on #4277
I'll send a PR shortly.

[2018-06-05 05:50] rlenglet commented on #4277
Note that my PR will only solve the duplicate IDs for the host IP.
It won't solve the problem with conflicting redirect ports, which was the original issue.

[2018-06-05 06:35] joestringer opened #4366 "CI flake: "error: no objects passed to apply" creating jsonnet objects"
Hit this on PR #4360, but AFAICT it's not related to the PR:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3816/testReport/k8s-1/7/K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/

### Stacktrace

[code]

[f0c5341e_K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/20709

[2018-06-05 06:49] eloycoto commented on #4366
Duplicated https://github.com/cilium/cilium/issues/4356

[2018-06-05 06:58] rlenglet commented on #3803
Seemingly similar failure:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3818/execution/node/65/log/?consoleFull
[code]
Logs:
[d04ab55f_K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates.zip](https://github.com/cilium/cilium/files/2071151/d04ab55f_K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates.zip)

[2018-06-05 07:07] joestringer commented on #4366
Ah, I saw that but I wasn't sure. I'll close this one.

[2018-06-05 07:07] #4366 closed, assigned to nobody

[2018-06-05 07:27] vadorovsky commented on #2463
@andrewsykim Cool. I will test it soon.

[2018-06-05 09:34] eloycoto commented on #3993
Hi,

I'm getting this error, and I think that something super weird happens.

This happens in my PR, where only test changes are in place:

[code]

The debug output:

[code]

If you see in the list, the endpoint `47219` has a policy enabled, but if you see the cilium policy get for the given cilium pod, is empty.

[code]

If you see the endpoint get:
#### Endpoint Get 47219

[code]

#### Endpoint

[2018-06-05 09:38] eloycoto commented on #3993
Also hit this one:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3825/

Logs attached:
[f0c5341e_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2071775/f0c5341e_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip)

[2018-06-05 10:06] eloycoto commented on #3993
Master one:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/958/testReport/junit/k8s-1/7/K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode/
[6cb50b02_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2071923/6cb50b02_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip)

[2018-06-05 12:50] #4297 closed, assigned to joestringer, tgraf

[2018-06-05 12:50] #4345 closed, assigned to joestringer, tgraf

[2018-06-05 12:54] #4356 closed, assigned to eloycoto

[2018-06-05 13:07] eloycoto commented on #3621
@ianvernon @raybejjani another failure:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2710/

[afd3a30c_RuntimeValidatedPolicies_L3-L4_Checks.zip](https://github.com/cilium/cilium/files/2072449/afd3a30c_RuntimeValidatedPolicies_L3-L4_Checks.zip)

#### Endpoint list

[code]

#### BPF Policy Get 2345

[code]

#### BPF CT List 2345

[code]

#### Endpoint Get 2345

[code]

#### Endpoint Health

[2018-06-05 13:12] eloycoto commented on #4338
See for more details: https://github.com/cilium/cilium/issues/3993#issuecomment-394645783

[2018-06-05 13:12] eloycoto commented on #4357
Didn't see this one, and PodCIDR is fixed, closing this one.

[2018-06-05 13:12] eloycoto commented on #4329
Related to https://github.com/cilium/cilium/issues/3993#issuecomment-394645783

[2018-06-05 13:13] tgraf commented on #4363
The symptoms indicate that the health endpoint IPs are never updated when we receive node updates

[2018-06-05 13:25] eloycoto commented on #4276
Duplicated of https://github.com/cilium/cilium/issues/3993#issuecomment-394645783

[2018-06-05 13:25] #4276 closed, assigned to eloycoto

[2018-06-05 13:44] eloycoto opened #4368 "CI: multiple monitors test fails because some flows appear in one monitor, and not other monitors on the same node"
Stacktrace

[code]

Standard output:

[code]

[4874ed16_RuntimeValidatedMonitorTest_With_Sample_Containers_multiple_monitors.zip](https://github.com/cilium/cilium/files/2072579/4874ed16_RuntimeValidatedMonitorTest_With_Sample_Containers_multiple_monitors.zip)

[2018-06-05 13:45] eloycoto commented on #4368
I didn't see this for a while. I'll triage, but I think that it's a weird situation.

[2018-06-05 13:53] #4277 closed, assigned to rlenglet, joestringer, jrajahalme

[2018-06-05 13:59] aanm opened #4369 "CI: K8sValidatedUpdates Updating Cilium stable to master connectivity test failed"
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3791/

[2811a558_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2072622/2811a558_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip)

@jrajahalme @rlenglet
`app2` tries to curl `app1` but curl returned an error 22. Accordingly with the docs, curl returns a 22 exitCode when

[2018-06-05 14:07] raybejjani commented on #3878
tl;dr kubedns sees a 5 minute no-data period that only ends after `resyncPeriod ` ends (it's hardocded to 5 minutes). I'll make a PR to paper over this by upping our timeout but it would be better to fix the real issue :/

@aanm found another failure but this time it had DNS logs! The problem is related to kubedns timing-out on events from kube-apiserver. We still don't know why it happened.
https

[2018-06-05 14:18] eloycoto commented on #3993
I dig a bit more in this issue, and I think that the problem is from `reserved:init` to the state, there is a label that is applied on dest context, and a policy is being apply to the endpoint:

https://github.com/cilium/cilium/blob/ec66b873dfa68633c67a888b4bc022eafe11e33b/pkg/endpoint/policy.go#L401-L413

As I see in the policy revision 3, the endpoint has SearchContext has To labels Array to `[r

[2018-06-05 14:45] aanm commented on #4338
[83e4f98d_K8sValidatedTunnelTest_Geneve_Check_Geneve_mode.zip](https://github.com/cilium/cilium/files/2072813/83e4f98d_K8sValidatedTunnelTest_Geneve_Check_Geneve_mode.zip)

[2018-06-05 14:48] aanm commented on #4338
[9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip](https://github.com/cilium/cilium/files/2072825/9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.zip)

[2018-06-05 15:58] aanm opened #4373 "CI: K8sValidatedUpdates Updating Cilium stable to master failed due to agent crashing when updating CRDs in K8s"
[code]

From the Cilium logs it looks like Cilium was not able to connect to kube-apiserver:
[code]

Should we close this issue as it was not a Cilium problem?

[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2073071/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip)

[2018-06-05 16:18] ianvernon commented on #4373
I think this is a Cilium problem. The fatal error is from here:

https://github.com/cilium/cilium/blob/385b673a5583b0a4303a6359304774e681c9e3ef/daemon/main.go#L732-L734

This occurs if any part of K8s setup fails, including errors updating the CRD / CRD validation. Is there a way we can handle

```the object has been modified; please apply your changes to the latest version and try again``` within

[2018-06-05 16:29] aanm commented on #4373
@ianvernon the fatal happens because Cilium was not able to contact the kube-apiserver. The fatal is intentional.

[2018-06-05 16:37] ianvernon commented on #3621
This was hit in a recent build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2710/

Logs:
[test_results-6.zip](https://github.com/cilium/cilium/files/2073193/test_results-6.zip)

Tons of errors in the logs with updating maps, which now contain the file descriptors of the maps:
[code]

`cilium-bugtool` now lists the open file descriptors for the agent:

# ls -la /proc/$(pidof cilium-agent

[2018-06-05 16:43] tgraf commented on #4373
Yes but the error returned:
[code]

can be avoided by retrying the update with a more recent copy. I assume this happens when multiple agents try to create the CRD in parallel. We should retry 5 times or so before giving up on creating the CRD.

[2018-06-05 16:44] tgraf commented on #4373
This is a minor bug due as Cilium will get restarted promptly and should come up. We basically retry by restarting which is inefficient and a cause for CI flakes.

[2018-06-05 17:34] manalibhutiyani commented on #3863
@raybejjani @tgraf Regarding adding   `a counter of endpoint build failures`
We already have this code in place

[code]
Hence endpoint regeneration count is already in place labelled by either `success` or `failure` i.e build failure. Is something else needed here or am I missing something here?

[2018-06-05 17:59] #2006 closed, assigned to raybejjani, aanm

[2018-06-05 18:00] #4215 closed, assigned to ianvernon

[2018-06-05 18:18] ianvernon commented on #3993
Looking into this as it is policy-related. I will be referring to the logs referenced here: https://github.com/cilium/cilium/issues/3993#issuecomment-394645783

From the bugtool archives in the logs, cilium configuration shows that PolicyEnforcement is in 'default' mode for both cilium pods (that is, if no rules select the pod, then policy shouldn't be enforced).

# cilium config

[code]

[code]

[2018-06-05 18:18] ianvernon commented on #3993
Also, great job on the initial triage @eloycoto , this is exactly the approach to take when debugging this stuff :) 💪

[2018-06-05 18:21] ianvernon commented on #3993
The test failed on the following line:
[code]

From the commit in the PR being tested, this is the code being exercised:

https://github.com/cilium/cilium/blob/2fec1a1b1578b3a095735114d72b37879a974945/test/k8sT/Chaos.go#L100-L106

[2018-06-05 18:29] ianvernon commented on #3993
It is quite bizarre that there are entries for the PolicyMaps for the endpoints despite there not being any policy imported into Cilium. I wonder if this is stuff that is leftover from an old endpoint? What's even more strange though, is that this is the first test that runs in the build - where are these PolicyMap entries coming from?

Might be helpful to use this random seed for local testing: `

[2018-06-05 18:40] ianvernon commented on #3993
I am in agreement with @eloycoto about the init identity being at play here. The only way that ingress and egress policy enforcement can be enabled for an endpoint without policy being imported is if the endpoint `IsInit()`:

https://github.com/cilium/cilium/blob/08bc2f35935c34971393c876262aef97501360ad/daemon/policy.go#L58-L87

[2018-06-05 18:49] tgraf opened #4377 "Provide documentation how to upgrade ConfigMap to 1.1"

[2018-06-05 18:49] ianvernon commented on #3993
I searched the logs and ignored the copious amounts of policy computation logs, as I view them as extraneous here:
[code]

The endpoint starts with the reserved identity init, as expected:
[code]

Policy enforcement is enabled for the endpoint because it is in init mode still (per the code block in the previous comment above):
[code]

The endpoint then gets a new identity because we received its l

[2018-06-05 19:39] Shinzu commented on #2463
@andrewsykim im not that familiar with kuberouter, so i have a question:

if i dont want/need to advertise the routes to an external router for now , do i omitting just these 2 peer-router flags?

[2018-06-05 19:47] andrewsykim commented on #2463
Hi @Shinzu! The above config wouldn't work if you removed the 2 peer route flags. If you don't need to advertise routes externally (i.e. only in-cluster traffic) then there's little reason to use kube-router since you can just use cilium routing in your cluster instead of having it overlay with kube-router.

[2018-06-05 19:53] Shinzu commented on #2463
hi @andrewsykim ,i wanted to test cilium without the overlay network with the `--device` flag ,for that i would still need that inside the cluster the routes the the pod cidr of each node is advertised . i hoped that would that be done by kuberouter since cilium cannot do it by its own.

[2018-06-05 19:56] Shinzu commented on #2463
when i read the [bgp docs](https://github.com/cloudnativelabs/kube-router/blob/master/docs/bgp.md) i would assume that should be possible

[2018-06-05 19:56] andrewsykim commented on #2463
Ahh I see, in that case yes you can set `"--enable-ibgp=true"` to enable in-cluster BGP peering.

[2018-06-05 19:57] Shinzu commented on #2463
ok thy @andrewsykim

[2018-06-05 20:19] joestringer commented on #3413
I believe that this is caused by cilium being in a bad state and the debuginfo API call timing out.

In this case we should really create the file and put the failure reason in the file.

[2018-06-05 20:43] #4229 closed, assigned to tgraf, ianvernon

[2018-06-05 21:00] ianvernon commented on #3993
The area of the code where policy recalculation is skipped:

https://github.com/cilium/cilium/blob/5b888d6792f6c310c04ab2d76e71ca93375cad05/pkg/endpoint/policy.go#L492-L504

[code]

thus evaluates to `false`.

The following logic might be at fault:

https://github.com/cilium/cilium/blob/5b888d6792f6c310c04ab2d76e71ca93375cad05/pkg/endpoint/endpoint.go#L2309-L2319

Thus, if we can't set the endpoin

[2018-06-05 21:13] rlenglet commented on #3993
We might still be currently forbidding some transitions that are actually valid.

[2018-06-05 21:20] ianvernon commented on #3993
Hm...

https://github.com/cilium/cilium/blob/5b888d6792f6c310c04ab2d76e71ca93375cad05/pkg/endpoint/endpoint.go#L1898-L1903

[2018-06-05 21:31] ianvernon commented on #3993
Looking for more context for the incomplete comment "Note that transitions to waiting-to-regenerate state" . Why is this not an allowed state transition? If we are `waiting-to-regenerate`, we can set `forcePolicyCompute`, no?

[2018-06-05 22:16] ianvernon commented on #4338
Closing as a duplicate of #3993 .

[2018-06-05 22:16] #4338 closed, assigned to eloycoto

[2018-06-05 22:18] ianvernon commented on #3993
Decided to not attempt the state transition from waiting-to-regenerate -> waiting-to-regenerate from within `identityLabelsChanged` by simply checking the endpoint's state within the function. That way, it is a minimally invasive change to the endpoint state machine, and will provide a fix for the issue documented above.

[2018-06-05 22:20] ianvernon commented on #3971
Closing; we haven't seen this issue in some time. We can reopen if necessary.

[2018-06-05 22:20] #3971 closed, assigned to nobody

[2018-06-05 23:04] ianvernon commented on #4329
@eloycoto are you sure this is related to #3993 ? Please provide more context.

[2018-06-05 23:39] joestringer commented on #4363
We are seeing the latest 10.2.x.y health endpoint IPs in cilium-health output:

[code]

And these match the kubernetes annotations:

[code]

I was also able to confirm that the IP being pinged was previously annotated on the node as a health IP.

So, I think we just left a goroutine behind in `cilium-health` pinging what was previously the health IP. This is probably not being cleaned up. Potentia

[2018-06-05 23:41] joestringer commented on #4363
I'm not sure that this should be a release blocker. `cilium-health status` appears to still be providing the visibility that's expected, it's just that there's some extraneous pinging going on in the background.

[2018-06-06 00:01] joestringer commented on #3942
Too late for 1.1.

[2018-06-06 00:25] ashwinp opened #4381 "Log Envoy logs at their actual log level, not always debug"

[2018-06-06 06:46] eloycoto commented on #3878
Build failure:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2717/

Logs:
[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master(1).zip](https://github.com/cilium/cilium/files/2075032/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.1.zip)

[2018-06-06 07:02] eloycoto opened #4383 "CI: NACK found in logs - port conflict"
Test: k8s-1.10.K8sValidatedPolicyTest Basic Test checks all kind of Kubernetes policies
Commit: `aeda861692b9cf0780a861a637a693b498f06c30`
This issue happens after `ec66b873dfa68633c67a888b4bc022eafe11e33b` is merged.

Stacktrace:

[code]

Status:
[code]

Logs:

[f0c5341e_K8sValidatedPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/2075067/f0

[2018-06-06 07:08] eloycoto opened #4384 "CI: Fail Checks service across nodes Tests NodePort"
Test:

k8s-1.7.K8sValidatedServicesTest Checks service across nodes Tests NodePort

Stackstrace
[code]

Output:
[code]

[f0c5341e_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2075087/f0c5341e_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2018-06-06 07:15] eloycoto commented on #4384
Another Fail:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/973/testReport/junit/k8s-1/10/K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort/

[aa209b8e_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2075663/aa209b8e_K8sValidatedServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2018-06-06 09:02] eloycoto commented on #4384
Weird situation here:

All pods are running without no errors:

On K8s1 the Cilium health does not have K8s2:
# cilium-health status

[code]
On K8s2 the Cilium health does not have K8s1:
# cilium-health status

[code]
The BPF tunnel list is both correct:

[code]

If you see the test output, from node 2 to service always work:
[code]
In cilium k8s2, the service looks like that:

# cilium bpf lb lis

[2018-06-06 09:05] raybejjani commented on #3863
@manalibhutiyani I think you're correct. I can't remember if there was a specific, and different, thing I had mind for this but what we have today does what that bullet says.

[2018-06-06 13:07] raybejjani commented on #3878
:`( I guess I was wrong then. Failure 2717 waited 8 minutes for DNS to update... so #4370 has only slowed down the failing.

[2018-06-06 13:59] #3993 closed, assigned to ianvernon

[2018-06-06 14:17] tgraf commented on #4363
I agree, severity is not high enough for release blocker. Removing label.

[2018-06-06 16:29] ianvernon commented on #3621
#4299 has been merged; while we do not officially know *why* the file descriptors for maps are closed, if PolicyMap update failures occur again, will re-open this issue.

[2018-06-06 16:29] #3621 closed, assigned to raybejjani, ianvernon

[2018-06-06 16:42] ianvernon commented on #3878
Sigh... this is so bizarre. What if we try kicking / restarting kube-dns up to 3 times until it gets into a good state? We can see how long it usually takes for DNS to resolve when kube-dns is in a good state, and then only wait a bit longer than that so we don't wait for say 15 minutes before failing tests.

[2018-06-06 16:48] ianvernon commented on #4292
The fixes for #3621 and #3993 have been merged. There are other CI failures which are marked with priority/1.1. Is this ticket needed for anything else? We can tackle each ticket that marks a test failure that needs investigation as priority/1.1 which will inherently mark it as a release blocker; thus, I think we can close this in favor of that model.

[2018-06-06 16:51] ianvernon commented on #3325
@joestringer we do have tests which test egress to world at L3-only, but nothing with ingress or L4.

[2018-06-06 16:52] ianvernon commented on #3889
@nebril can this be closed given that https://github.com/cilium/microscope/pull/71 has been merged?

[2018-06-06 17:11] joestringer opened #4388 "Propagate proxy port into CT create debug messages"
Currently the conntrack creation messages report that the `proxy_port` is 0. This is because the third parameter of the following calls represents the `proxy_port` in the upper 16 bits and the `rev_nat_index` in the lower 16 bits. Only the lower 16 bits are set in the following calls, so the upper bits are left as zero:

https://github.com/cilium/cilium/blob/a0da7a3e0f92108cdbe8aa76053cc8450f8ddff

[2018-06-06 17:18] eloycoto commented on #4329
New fail after `EndpointWaitUntilReady` is introduced:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/974/testReport/junit/k8s-1/7/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master(2).zip](https://github.com/cilium/cilium/files/2077391/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.2.zip)

Pods ar

[2018-06-06 17:26] eloycoto commented on #4384
Another fail to debug:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/974/

[aa209b8e_K8sValidatedServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity.zip](https://github.com/cilium/cilium/files/2077437/aa209b8e_K8sValidatedServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity.zip)
[Uploading f0c5341e_K8sValidatedServicesTest_Checks_service_ac

[2018-06-06 19:57] ianvernon commented on #4329
Looking at the previous logs for `cilium-j5tqp`, there are worrisome messages containing the string `error`:

[code]

And for the logs of the pod (i.e., just logs, not previous logs):

[code]

[2018-06-06 21:32] tgraf commented on #4292
This ticket is to coordinate who is triaging which master failure and to serve as a summary. We need to have an overview of what failure is real or a flake so we can make a call when to release. We seem to open issues for both flakes and real ones so it's difficult to have an overview of what is failing for real.

[2018-06-06 21:34] tgraf commented on #3863
Agreed, looks good regarding endpoint failures.

[2018-06-06 21:45] ianvernon commented on #4329
I have been looking into this and will have an update of my initial investigation posted here shortly.

[2018-06-06 21:47] manalibhutiyani commented on #4292
@eloycoto @ianvernon https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/973/execution/node/70/log/?consoleFull
Seems to have the same failure as https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/917/  #4275 #4315
This is a regression since the fix was already merged in master 5 days ago, but the failure is from today i.e 6th June.

[2018-06-06 21:48] manalibhutiyani commented on #4275
This was seen again
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/973/execution/node/70/log/?consoleFull

[2018-06-06 21:50] manalibhutiyani commented on #4275
Reopening the CI issue. Please close if you feel another issue needs to be opened for tracking this.

[2018-06-06 21:52] manalibhutiyani commented on #4234
#4275 was seen again today on Jenkins master
 https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/973/

[2018-06-06 22:01] ianvernon opened #4390 "race condition with starting of L7 Proxy and regenerating endpoint"
In #4329, the following build failed: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/974/testReport/junit/k8s-1/7/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

Logs: [f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.2.zip](https://github.com/cilium/cilium/files/2078265/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.2.zip)

The pod `cilium-j5t

[2018-06-06 22:02] ianvernon commented on #4390
Note that this may or may not be the cause of the pod not being 'ready', which is why it has been filed as a separate issue.

[2018-06-06 22:04] ianvernon commented on #4390
One thought @joestringer and I had was whether we can initialize the `l7Proxy` for the daemon earlier, ideally before we initialize the Identity watcher. We should document in the change *why* the ordering of certain bootstrapping is performed so that we do not introduce bugs like this in the future.

[2018-06-06 22:04] joestringer opened #4391 "Can't remove proxymap entries after closing kafka request connections"
I set up an environment using minikube with L7 policies and kafka pods, and I hit these errors:

[code]

These log messages don't provide a lot of detail, such as the specific map, related endpoint, or what the proxymap entry looks like unfortunately.

However, there seems to be some correlation between the connection resets and the failure to delete the proxymap entries.

I tried to dump the bpf

[2018-06-06 22:05] ianvernon commented on #4390
cc: @jrajahalme and @rlenglet

[2018-06-06 22:08] manalibhutiyani opened #4392 "CI: Check VXLAN mode test fails with error ` Cilium not able to get into ready state`"
Build Link:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/972/execution/node/69/log/?consoleFull

StackTrace:
[code]

Logs:
[test_results.zip](https://github.com/cilium/cilium/files/2078310/test_results.zip)

[2018-06-06 22:11] ianvernon commented on #4329
Looking into the build @eloycoto referenced here: https://github.com/cilium/cilium/issues/4329#issuecomment-395146609

I filed https://github.com/cilium/cilium/issues/4390 to address an issue discovered in this PR, but I am unsure whether it is the actual cause of the test failure here (cilium not being ready).

[2018-06-06 22:13] ianvernon commented on #4329
As @eloycoto mentioned, the pod `cilium-j5tqp` is in `not-ready` state:

[code]

What's odd is that in `test-output.log`, right after the above command to get the pods via `kubectl` which shows that the aforementioned cilium pod is not ready, we can see that the cilium API is being served:

[code]

[2018-06-06 22:14] manalibhutiyani opened #4393 "CI: K8sValidatedTunnelTest : Check Geneve mode test fails"
Build Link:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/970/execution/node/70/log/?consoleFull

Stack Trace:
[code]

Logs:
[test_results-2.zip](https://github.com/cilium/cilium/files/2078327/test_results-2.zip)

[2018-06-06 22:15] ianvernon commented on #4329
From `cilium-bugtool`  for that pod, `cilium status` returns:

# cilium status --verbose

[code]

Of note, the two pods are not reachable via the `Cluster health` section at the bottom. However, @joestringer said that the end "cluster health section" showing that the localhost / k8s2 are not reachable should not cause `cilium status` to return with error.

[2018-06-06 22:16] joestringer commented on #4390
Even if we put the `daemon.l7Proxy` initialization earlier, it might not completely resolve the warning `can't update network policy`, because while it would allow us to push down a policy update into XDS, it may still take some time before the main goroutine is able to spin up Envoy and Envoy is able to ack the resource (/cc @rlenglet @jrajahalme). If this took too long, then the network policy t

[2018-06-06 22:19] ianvernon commented on #4329
From the `pods_status.txt` as @eloycoto pointed out above, the events for this pod that have occurred:

[code]

The count is 3, and it looks like the last status check occurred 6 minutes ago if I am reading the output correctly?

From the same file:

[code]

Ideally the readiness probe should be occurring every 5 minutes, but only last occurred 6 minutes ago? Does the readiness probe backoff after

[2018-06-06 22:19] joestringer commented on #4125
@iamShantanu101 thanks for the report, I think I managed to find the root cause and fix it. PR incoming.

[2018-06-06 22:27] manalibhutiyani commented on #4292
Triaged/Filed GH issues for master CI failure:
 1. https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/973/
     - Dupe of #4384
 2.  https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/972/
     - Tracked by #4329
 3.  https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/970/
     - Tracked by #4393
 4. https://jenkins.cilium.io/job/cilium-ginkgo/job/ciliu

[2018-06-06 22:38] ianvernon commented on #4329
Now I'm looking into why the pod restarted. To do this, I looked into the logs for the previous instance of the pod `cilium-j5tqp-previous.log` and searched for `error`:

[code]

I had to do some correlation in the previous logs to figure out what the endpoint ID of the health endpoint was, but found it:

[code]

The only logs for that endpoint ID:
[code]

The code which causes the agent to exit:

[2018-06-06 22:44] ianvernon commented on #4390
Alternatively, we could simply add not insert into the endpoint manager in `restoreOldEndpoints` and instead do it in `regenerateRestoredEndpoints`.

Actually, this is the correct way to do it; we will have access to the list of endpoints returned by `restoreOldEndpoints` which is passed into  `regenerateRestoredEndpoints` anyway. This seems like the correct fix.

[2018-06-06 23:00] ianvernon commented on #4329
Multiple issues here:

* health endpoint could not be synchronously started after five seconds, and thus the readiness check failed in Kubernetes, causing Cilium to restart.
* After restart, it appears that K8s doesn't check if cilium is ready, even though it is. Thus, the tests fail.

[2018-06-06 23:00] ianvernon commented on #4390
Will put out a PR with the above proposed fix.

[2018-06-06 23:17] joestringer opened #4396 "Measure endpoint and policy computation time"
Similar to how we measure `buildDuration` in `regenerateBPF()`, it would be nice to also measure the time to compute policy. For reference:

https://github.com/cilium/cilium/blob/91287b9f0665ddd22fa4933eece6ae276e4157af/pkg/endpoint/bpf.go#L538-L548

This could be something as simple as adding timers and extending the debug logs.

* [x] Measure `regeneratePolicy()` (Full policy regeneration)
* [x]

[2018-06-06 23:24] ashwinp commented on #4248
@ianvernon After moving to Annotations, things seem to be working fine:
[code]
However, updating just the Annotations in the CNP does not result in the annotations in the status section to be updated. If an annotation is added/removed, the status section currently reflects the change only if there is a substantive change in the policy rules.

[2018-06-06 23:58] joestringer opened #4399 "Improve detection of LPM support in kernel"
This probe detects whether the kernel has basic LPM support:

https://github.com/cilium/cilium/blob/91287b9f0665ddd22fa4933eece6ae276e4157af/bpf/probes/raw_lpm_map.t#L1-L29

However, it doesn't detect whether the LPM map type supports dump or delete calls. As a result, we end up using LPM map even when we can't properly manage the map's contents. This results in log messages like this:

[code]

Th

[2018-06-07 00:10] joestringer opened #4400 "Improve timer handling for conntrack entries"
* [x] Reduce timers for UDP (#4389)
* [x] Increase CT GC interval (#4408)
  * [x] Add configuration option for the GC collection interval (#4529)
* [x] Add metrics to provide visibility into CT issues (#4507)
* [ ] Generate CT timeout macros during header file generation in the daemon
  * [ ] Add enviroment variables for the timers so they can be defined in a YAML and updated easily on-the-fly

[2018-06-07 00:20] joestringer opened #4401 "k8s host (and legacy-host-allows-world) logic preventing L7 redirects"
The following logic I believe is preventing L7 redirects, leading to host / world traffic never going to the proxy. I think that the intended behaviour is that if there's an L7 policy on a port from these identities, then traffic should be forwarded to the proxy, but the proxy should allow all traffic?

https://github.com/cilium/cilium/blob/91287b9f0665ddd22fa4933eece6ae276e4157af/pkg/endpoint/pol

[2018-06-07 00:48] ianvernon commented on #4393
From output of `cilium debuginfo`:

#### Policy get

[code]

But the endpoint in question has policy enforcement enabled:

[code]

The endpoint did not have `ForcePolicyCompute` called, and thus was not regenerated after receiving a new identity. The endpoint log confirms this:

#### Endpoint Log 31074

[code]

This has been fixed by #4378 . Given that this failure occurred before #4378 was merged

[2018-06-07 00:48] #4393 closed, assigned to ianvernon

[2018-06-07 00:49] ianvernon commented on #4392
Behavior looks similar to #4329 .

[2018-06-07 00:57] ianvernon commented on #4392
Pod `cilium-s900s` is not ready, let's see why:

[code]

But, the API is being served as indicated by the fact that the CLI returns results:
[code]

Similar to #4329 , the pod restarted because `cilium-health` could not be started. From `cilium-s900s-logs-previous.log`:

[code]

I'm convinced this is the same issue as #4329 .

[2018-06-07 00:59] ianvernon commented on #4329
I also think https://github.com/cilium/cilium/issues/4329#issuecomment-394281615 needs to be triaged separately to determine what the root cause of that failure is, as it is not a "pods not ready" issue.

[2018-06-07 04:37] tgraf commented on #4401
Yes, you are absolutely right. Good catch!

[2018-06-07 04:46] #3767 closed, assigned to aanm

[2018-06-07 04:48] tgraf commented on #4390
Great catch @ianvernon!

[2018-06-07 05:47] joestringer commented on #4384
The `cilium-health` output only showing one node is a bit weird, but could be explained by if the cilium-agent instances have only just come up and didn't learn about the other node's annotation in k8s yet, or the `cilium-health` daemon didn't yet learn about the other node from cilium-agent. However, it's not stating that there's a connectivity issue; if there was, it should print output showing

[2018-06-07 07:06] eloycoto commented on #4392
Dupe of #4329

[2018-06-07 07:06] #4392 closed, assigned to nobody

[2018-06-07 07:07] eloycoto commented on #4275
Close this one, the reason for Manali build is  this one: https://github.com/cilium/cilium/issues/4384

[2018-06-07 07:07] #4275 closed, assigned to nobody

[2018-06-07 07:11] eloycoto commented on #4292
@manalibhutiyani
- 973 is a dupe of https://github.com/cilium/cilium/issues/4384
- 972 was tracked on https://github.com/cilium/cilium/issues/4329
- 970 is already fixed: https://cilium.slack.com/archives/C2B917YHE/p1528276188000067

[2018-06-07 07:13] eloycoto commented on #4329
@ianvernon around the https://github.com/cilium/cilium/issues/4329#issuecomment-394281615 I think that it is ready as soon the PR get merged: https://github.com/cilium/cilium/pull/4355 so I don't think that it's a issue right now.

That PR should fix that one. IMHO.

[2018-06-07 07:16] eloycoto commented on #4234
@manalibhutiyani that build is related to https://github.com/cilium/cilium/issues/4384 the nodes anotation is correct.

[2018-06-07 07:32] eloycoto commented on #4329
Got a new one in Update, but it is a DNS issue:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2726/testReport/junit/k8s-1/7/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

[2018-06-07 07:34] eloycoto commented on #3878
More issues on this one:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/981/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2730/testReport/junit/k8s-1/7/K8sValidatedUpdates_Updating_Cilium_stable_to_master/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2726/testReport/juni

[2018-06-07 07:44] raybejjani commented on #3889
nebril might be offline today, but I'm pretty sure we've done the things listed in this ticket. I'll optimistically close it.

[2018-06-07 07:44] #3889 closed, assigned to nobody

[2018-06-07 08:49] raybejjani commented on #3878
I gave up trying to figure this out directly. I'm trying to fixup the monitor cpu usage so we can turn it back on in tests (that was why we turned it off, right?) Perhaps we'll see something there that makes sense :/

We could kick kubedns repeatedly. We could do it before each test even... @ianvernon Do you know why the dns manifest has cpu/memory request limits? They are quite small (there are n

[2018-06-07 08:54] eloycoto commented on #3878
I've just checked on the update one:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2732/testReport/junit/k8s-1/10/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

And looks like that after the update cilium service didn't is correct at all.
[code]

[2018-06-07 10:01] eloycoto commented on #3878
Around the DNS issue, the build has the problem with kube-dns:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2738/testReport/junit/k8s-1/7/K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example/

[f0c5341e_K8sValidatedPolicyTest_GuestBook_Examples_checks_policy_example.zip](https://github.com/cilium/cilium/files/2079933/f0c5341e_K8sValidatedPolicyTest_GuestBook_Examples_checks_p

[2018-06-07 13:09] raybejjani commented on #3878
Hmm in #4405 I saw a failure that's wierd.

[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master (1).zip](https://github.com/cilium/cilium/files/2080598/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.1.zip)

dig returns 9, which is no reply from server. ~~Oddly there are 15s between the dig commands. In our code they happen back to back. This is really fishy.~~ Edit: never

[2018-06-07 14:55] eloycoto commented on #3878
Just a note about this last failure:

There is a cilium agent that it is in a weird state:

Cilium rkcdv status:
[code]

Can't connect to the local endpoints? And if you see the DNS is on node k8s2, so
looks like that the service is not working accross the tunnel at all.

**The dig is from k8s1 to the service(that it's localted in k8s2.)**

If I see the trace, on restore the endpoint I saw this me

[2018-06-07 15:32] #4362 closed, assigned to nobody

[2018-06-07 15:52] eloycoto commented on #3878
I've just review&compare this one:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2730/

[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.1-1.zip](https://github.com/cilium/cilium/files/2081136/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.1-1.zip)

And:

#### BPF Policy Get 57415

[code]

#### Endpoint Get 57415

[code]

BPF Policy enabled: `Reserved:host`
P

[2018-06-07 16:51] tgraf opened #4409 "Option to generate endpoint synchronously on PUT /endpoint"
Add a mode to synchronously generate the endpoint on the PUT /endpoint API call to allow ensuring that on CNI ADD, the endpoint is generated and ready by the time CNI ADD finished.

- [x] Add flag to API to enable sync mode.
- [x] Run with sync mode through CI to test feasibility of doing this by default

[2018-06-07 16:53] ianvernon commented on #4390
Noted that
[code]

was at debug level, seems like it should be higher.

[2018-06-07 16:58] joestringer commented on #4125
Links are still not working on readthedocs with the absolute paths patch.

Currently it's generating:

http://docs.cilium.io/_static/kubernetes_iptables.svg

Previously it was generating:

http://docs.cilium.io/en/latest/concepts/_static/kubernetes_iptables.svg

What we want is this:

http://docs.cilium.io/en/latest/_static/kubernetes_iptables.svg

However, if we use relative paths with `../_stati

[2018-06-07 17:12] ianvernon commented on #4329
Removing myself from assignment because I have been asked to work on other urgent issues.

[2018-06-07 17:15] aanm commented on #4409
@tgraf FYI, the environment variable in the ConfigMap will not be used in the CNI binary invocation from kubelet.

[2018-06-07 17:31] tgraf commented on #4329
It makes sense to see if we hit this again after merging #4398.

[2018-06-07 18:07] joestringer opened #4411 "Make `ProxyWaitGroup` a local variable, don't cache it in `endpoint`."
The ProxyWaitGroup usage today for Endpoint `e` looks something like:

1. Lock BuildMutex
1. Initialize `e.ProxyWaitGroup`
1. Defer setting `e.ProxyWaitGroup` to `nil`
1. Make some call through the `Owner` interface, passing `e`.
1. `Owner` dereferences `e.ProxyWaitGroup`
1. Its context is passed through to XDS
1. This callstack finishes queuing some activity
1. The original function then runs `e.

[2018-06-07 18:56] ashwinp commented on #4248
Part 1 PR is: https://github.com/cilium/cilium/pull/4412
Part 2 TODO: Status should reflect changes to Annotations even when none of the Policy rules have been updated.
Part 3 TODO: Unit Tests

[2018-06-07 20:35] #4390 closed, assigned to ianvernon

[2018-06-07 21:14] ianvernon commented on #4409
The problem makes sense to me; we want to make sure that the networking is plumbed before CNI ADD returns. I looked at the CNI spec, and noticed that it doesn't specify anywhere that calls to add in CNI require that the networking plumbing are done when the API call finishes:

https://github.com/containernetworking/cni/blob/master/SPEC.md

Specifically:

[code]

I am not saying that what is being

[2018-06-07 21:17] tgraf commented on #4409
I think the CNI specification is vague on this aspect on purpose as not all plugins may be able to provide connectivity synchronously. The purpose of this work is to better support workloads which assume network connectivity at container start, fail quickly within seconds and never retry.

[2018-06-07 22:05] ianvernon commented on #4409
Agreed. I do wonder how this will affect systems that are under temporary high load. Say for instance, that if the endpoint regeneration takes a long time (due to say, policy import or identity allocation right before a call to CNI ADD is made), then all endpoints will be queued for regeneration. That means that it may take longer for the endpoint for which the PUT request was made to regenerate,

[2018-06-07 22:11] tgraf commented on #4409
Kubelet will retry up to 10 or 20 times I think and even reschedule to
another node which would be positive behavior.

On Thu, 7 Jun 2018, 15:05 Ian Vernon, <notifications@github.com> wrote:

[2018-06-08 00:58] ianvernon commented on #4409
@tgraf given that we are merging with CNI providing this option by default, can I remove the two environment variable / ConfigMap items from the requirements list for this?

[2018-06-08 01:10] ianvernon opened #4414 "CI: no logs from fail on BeforeEach/BeforeAll"
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2751/testReport/junit/k8s-1/7/K8sValidatedKafkaPolicyTest_KafkaPolicies/

Logs: [f0c5341e_K8sValidatedKafkaPolicyTest_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2082551/f0c5341e_K8sValidatedKafkaPolicyTest_KafkaPolicies.zip)

There is no bugtool output, or anything related to Cilium for further triage. Fix the offend

[2018-06-08 03:34] #4409 closed, assigned to ianvernon

[2018-06-08 03:38] tgraf commented on #4409
Yes, agreed.

[2018-06-08 06:14] eloycoto commented on #4414
The issue, is the Fail happens in `Before*` functions, no After* functions are in place yet. I need to find a workaround for this one.

[2018-06-08 06:24] eloycoto opened #4417 "CI: Endpoint Generation Context Deadline"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/991/

[5c6211b5_RuntimeValidatedLB_Services_Policies_tests_with_conntrack_enabled.zip](https://github.com/cilium/cilium/files/2083138/5c6211b5_RuntimeValidatedLB_Services_Policies_tests_with_conntrack_enabled.zip)

With e7e267b269f7e740e3af56bcae03792271772286 in place:

#### Endpoint list
[code]

#### Endpoint Log 16398

[code]

[2018-06-08 06:35] eloycoto commented on #4329
I've just trigger a lot of new builds for master to see if we hit the issue again(from 2755 onwards).

[2018-06-08 06:36] eloycoto commented on #4414
BTW: kinda hard to fix this for 1.1 release, need to say that it'll be super difficult to fix without changes in Ginkgo upstream.

[2018-06-08 08:54] eloycoto commented on #4329
Hi!

I think that the PR #4398 added a regression in Cilium. With this change, we
restored the endpoints in  other order, but not sure if it's the correct one:

### First scenario: Not all endpoints are in Cilium endpoint list

- Build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2758/testReport/junit/k8s-1/7/K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running/

[2018-06-08 11:00] raybejjani commented on #4411
I'll continue the discussion here, but this is a response to @rlenglet

For some reason this didn't show up in my code analyzer but grep worked :/ We do seem to use `ProxyWaitGroup` outside of endpoint:
https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L143
https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L162
https://github.com/cilium/cilium/blob/master/daemon/daemon.go#L

[2018-06-08 15:19] tgraf commented on #4329
@eloycoto The problem may be that we are not waiting long enough to correlate CNI request and runtime requests.

[2018-06-08 15:47] eloycoto commented on #4329
@tgraf I don't think so :\

One of the problems is that `docker.handleCreateWorkload` is called with
retry=false, by `watcherState.syncWithRuntime()`[0], so I made a test and set the
retry to True, but it fails too.

If we set the retry to true, it'll do 10 loops, and there is a sleep in
there[1], so I don't think that it's a wait thing (I also try to sleep for more time).

I think that the proble

[2018-06-08 16:27] ianvernon commented on #4329
I agree that #4398 may have caused this issue.

The following log pasted above appears to be the smoking gun:
[code]

In `daemon/daemon.go:NewDaemon()`:

Occurs right after daemon object is created:
[code]

Previously, the insertion into endpointmanager occurred in this function:
[code]

But now it occurs in this function:
[code]

The aforementioned log message
[code]

only appears when a lookup f

[2018-06-08 16:45] eloycoto commented on #4329
Around the solutions:

1) I don't think that fix the problem at all. If the endpointmanager is empty,
the test will see that all endpoints are in ready state, because all other
endpoints maybe are not part of endpointmanager, so test will be flaky.

2) On the `restoreOldEndpoints` the endpoint is in a "Other/restoring" state.
I think that it's the right status, and no actions should be taken until

[2018-06-08 17:08] ianvernon commented on #4329
@joestringer and I outlined exactly when certain (relevant) subsystems are initialized in Cilium:

* start cilium
    * initEnv
    * runDaemon
        * New Daemon
            * workloads.Setup
                * expose what workload subsystems are being used - e.g., Docker, cri-o
                * setup client with workload (e.g., Docker client)
            * workloads.Init
                * set

[2018-06-08 17:22] joestringer commented on #4411
@raybejjani If you trace up to the callers of the three daemon functions you pointed to here, they grab the `BuildMutex` before calling down into these interfaces.

I'm fairly convinced that the code is strictly correct today, but yeah I feel like there should be a more obvious way to structure this code so it's clearer that it's correct.

[2018-06-08 17:59] ianvernon commented on #4417
cc: @jrajahalme @rlenglet

[2018-06-08 18:18] joestringer commented on #4417
I wonder if Envoy is not acking policies that are the same as the existing one?

[code]

From `cilium.log`:

[code]

20:51:04 appears to be when policy is imported, and we see this:
[code]

(Actually the latter line above is missing from the big dump at the top of this comment, you'll need to dig into the actual Cilium log to see it)

[2018-06-08 18:41] ianvernon commented on #4414
Not necessarily; we can make assertions within the `It`s  instead?

[2018-06-08 22:40] joestringer commented on #4417
Sat down with @jrajahalme and trawled through the logs. We see printouts from Envoy that indicate a successful push of the network policy, however at one point the logs appear to truncate. No more logs are seen until the following second. We believe that this is because of the jorunald ratelimit. I'll put out a PR to bump those, unfortuanately this caused us to lose even the Cilium-side logs until

[2018-06-08 22:52] joestringer opened #4425 "Bump journald RateLimitBurst to debug envoy issues"
In common test environments, it is easy for Envoy LDS + NPDS configuration for ~10 endpoints to generate more than 1000 lines of log messages within a second. To prevent losing logs in test environments, bump this ratelimit to 10000 instead.

* [x] Fix up the Cilium repo (#4426)
* [x] Fix up the packer-ci-build-repo (https://github.com/cilium/packer-ci-build/pull/65)
* [x] Bump the Cilium repo box

[2018-06-08 22:55] jrajahalme commented on #4411
Fully agree, placing ProxyWaitGroup into endpoint was done for convenience, pushing back the need to refactor the code that seems now necessary..

[2018-06-09 09:56] eloycoto opened #4431 "CI: K8sValidatedKafkaPolicyTest KafkaPolicies test failed because kafka image went into error state"
[code]
[f0c5341e_K8sValidatedKafkaPolicyTest_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2086838/f0c5341e_K8sValidatedKafkaPolicyTest_KafkaPolicies.zip)

[2018-06-09 19:18] manalibhutiyani commented on #4431
Seen again:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1004/testReport/k8s-1/7/K8sValidatedKafkaPolicyTest_KafkaPolicies/

[2018-06-09 19:21] manalibhutiyani commented on #4292
Updated new master failure : K8sValidatedKafkaPolicyTest KafkaPolicies #4431

[2018-06-09 19:26] #4401 closed, assigned to joestringer, jrajahalme

[2018-06-09 19:49] tgraf opened #4438 "CI: K8sValidatedPolicyTest Basic Test Denies traffic with cnp default-deny egress policy"
[code]
[aa209b8e_K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default-deny_egress_policy.zip](https://github.com/cilium/cilium/files/2087283/aa209b8e_K8sValidatedPolicyTest_Basic_Test_Denies_traffic_with_cnp_default-deny_egress_policy.zip)

[2018-06-09 20:30] eloycoto commented on #4438
That's because of failing Kafka test that the afterAll is not working at all.

[2018-06-09 20:51] #4438 closed, assigned to nobody

[2018-06-09 20:53] #3717 closed, assigned to nobody

[2018-06-09 22:45] #3997 closed, assigned to vadorovsky

[2018-06-09 22:48] #4414 closed, assigned to nobody

[2018-06-09 23:23] tgraf opened #4440 "CI: runtime: install: cannot stat 'cilium-docker': No such file or directory"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1009/

[code]

[2018-06-10 02:53] tgraf commented on #4440
It's not specific to `cilium-docker`:
[code]

[2018-06-10 04:00] tgraf commented on #4440
This issue never reproduces using local ginkgo for me

[2018-06-10 04:29] tgraf commented on #4440
Confirmed that the files are not present before invoking make install:
[code]

The compilation seems to succeed though:
[code]

[2018-06-10 09:25] Shinzu opened #4446 "Tunnel routes still written in L3 Direct routing mode"
## Bug reports

### Title

Tunnel routes still written in L3 Direct routing mode

### General Information

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
* kuberouter daemonset
https://github.com/Shinzu/cilium-t

[2018-06-10 11:05] eloycoto commented on #4242
Found this erorr on branch:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3986/testReport/junit/k8s-1/10/K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode/

The Pods IPs are a bit weird:
[code]

[9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode(1).zip](https://github.com/cilium/cilium/files/2087730/9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.1.zip)

[2018-06-10 13:51] eloycoto commented on #4440
I tried building with go build -x -v and the output looks good to me:

[code]

But, the `cilium-docker` is not in there:
[code]

[2018-06-10 13:51] eloycoto commented on #4440
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4013/execution/node/68/log/

[2018-06-11 11:15] eloycoto commented on #4329
A new failure:

Link:https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2848/testReport/junit/k8s-1/10/K8sValidatedUpdates_Updating_Cilium_stable_to_master/
Attach:
[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master(4).zip](https://github.com/cilium/cilium/files/2089712/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.4.zip)

Kubedns-Output:

[code]

Sidecar One:
[code

[2018-06-11 12:33] raybejjani commented on #4440
Sorted in slack. This was a `lightweight checkout` option in jenkins being too lightweight.

[2018-06-11 13:29] raybejjani commented on #4440
Nope, https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1012/ happened after the fixup. Back we go.

[2018-06-11 13:49] tgraf commented on #4440
@raybejjani That commit was merged before fixing the CI I believe but let's see.

[2018-06-11 13:50] raybejjani commented on #4440
@tgraf ah, excellent. @eloycoto thought otherwise.

[2018-06-11 14:11] eloycoto opened #4455 "CI: services are restored despite been deleted in K8s while Cilium was not running causes test flakes"
CI found another issue:

Link:https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2849/testReport/junit/k8s-1/7/K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running/
Logs:
[f0c5341e_K8sValidatedChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running(1).zip](https://github.com/cilium/cilium/files/2090284/f0c5341e_K8sValidatedChaosTest_Endpoint_can_still_connect_w

[2018-06-11 14:17] eloycoto commented on #4440
My fault here, happens before the change. Close this one!

[2018-06-11 14:17] #4440 closed, assigned to nobody

[2018-06-11 14:31] raybejjani commented on #4431
As a note to others, these seem to not have any useful logs, related to https://github.com/cilium/cilium/issues/4414 If you spot one with logs, please do include it here

[2018-06-11 15:48] tgraf commented on #4455
@eloycoto What I don't understand yet is why the service entry changes between Cilium restarts. Are we modifying any k8s resources while Cilium is being restarted?

[2018-06-11 16:00] eloycoto commented on #4455
I've just change that on https://github.com/cilium/cilium/pull/4456

[2018-06-11 16:39] joestringer commented on #3945
Community reports last week and this week are bumping the priority, agreed it can be a 1.1 blocker during today's meeting.

[2018-06-11 17:05] ianvernon commented on #4283
Closing; fixed by https://github.com/cilium/cilium/pull/4443 .

[2018-06-11 17:05] #4283 closed, assigned to nobody

[2018-06-11 17:09] ianvernon commented on #1839
CI has been running exclusively with Ginkgo for some time. Closing.

[2018-06-11 17:09] #1839 closed, assigned to tgraf

[2018-06-11 17:44] ianvernon opened #4457 "daemon: do not restore services that have been deleted by K8s"
If service A is added via K8s, Cilium will watch for events and plumb that service into the datapath. When the Cilium DaemonSet / pod is deleted, the service-related entries in the datapath are still present because the BPF filesystem is mounted from the host into the pod. If a service is deleted while Cilium is not running, then if Cilium is configured to restore prior state from the datapath whe

[2018-06-11 17:48] ianvernon commented on #4455
As discussed during the Cilium weekly meeting, we will have a short term fix to only delete services when Cilium is running in the CI ( #4456).  I filed #4457 to track the actual fix within Cilium.

[2018-06-11 18:03] ianvernon commented on #4329
@eloycoto the failure outlined in comment https://github.com/cilium/cilium/issues/4329#issuecomment-396208508 looks like it's #3878 .

To summarize what was discussed in the Cilium weekly developer meeting: I'm concerned that this ticket is becoming a catch-all for any failure of the upgrade test, and as such we are losing sight into what failures are actually being hit. I.e., the test could be fa

[2018-06-11 18:53] tgraf opened #4459 "CI Status"
## Top 5 CI flakes
- [x]  k8s-1.10.K8sValidatedUpdates Updating Cilium stable to master (https://github.com/cilium/cilium/issues/3878) (@raybejjani, @eloycoto)
   - We seem to have missing visibility to debug this further
   - @nebril has a PR out to re-enable microscope in the CI for better datapath visibility on CI failures
- [x] 1.9.K8sValidatedPolicyTest - DNS "redis-master.default.svc.cluster

[2018-06-11 18:58] ianvernon commented on #4431
Build failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2854/

Stacktrace:
[code]

Logs:
[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2091341/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-06-11 19:02] tgraf commented on #4292
- https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1007/
   - k8s-1.10.K8sValidatedPolicyTestAcrossNamespaces Policies Across Namespaces
   - k8s-1.10.K8sValidatedUpdates Updating Cilium stable to master

These seems to be the failures that we still want to look into. We have not seen them recently though.

[2018-06-11 19:21] joestringer commented on #3864
I'm assuming this has been addressed, if not we can reopen. Closing.

[2018-06-11 19:21] #3864 closed, assigned to nobody

[2018-06-11 19:21] joestringer commented on #2660
@ianvernon any thoughts on next steps for this, or can we close it?

[2018-06-11 19:25] ianvernon commented on #4383
Possibly related: https://github.com/cilium/cilium/issues/4417

[2018-06-11 19:43] joestringer commented on #4455
@eloycoto how did you know that these are the "same"?

I'm trying to follow your instructions to determine whether I hit the same issue in a PR.

[2018-06-11 19:46] ianvernon commented on #3479
Closing this. The log-gathering logic has been quite solid, and this has not been much of an issue for three months since this ticket was filed.

[2018-06-11 19:46] #3479 closed, assigned to ianvernon

[2018-06-11 20:59] tgraf commented on #4431
The root cause is:
[code]

We don't have logs of kafka broker pods on failure

[2018-06-11 21:02] manalibhutiyani commented on #4431
myself and @ianvernon came to the same conclusion while going through the logs. It would be of great help if CI could capture application logs as well on failure, to debug failures like these. @eloycoto @ianvernon

[2018-06-11 21:07] tgraf opened #4462 "PolicyRevision of endpoint bumped prematurely"
A policy is being deleted and a new policy is being inserted with a 10 seconds delay in between:

[code]

[code]

Observations:
- LastUpdated timestamp seems to refer to policy import time
- Enforcing bit seems to be set prematurely in this case

[2018-06-11 21:09] ianvernon commented on #4431
Echoing @manalibhutiyani here - we see that the pod is in an error state but don't have the Kafka broker pod logs, and thus need to gather them during the build to help triage this. Filed #4463 to track this.

[2018-06-11 21:11] ianvernon opened #4463 "CI: gather logs of application pods"
Sometimes, pods for applications do not get into ready state in time, and tests time out in the CI. We currently have no visibility into why the pods get into this bad state; gather logs of application pods in the CI accordingly.

Related-to: #4431

[2018-06-11 21:41] tgraf commented on #4292
Handled by #4459

[2018-06-11 21:41] #4292 closed, assigned to nobody

[2018-06-11 21:42] tgraf commented on #4329
Will test upgrade manually for 1.1 releases. Test needs to be verified for 1.2 release.

[2018-06-11 21:45] manalibhutiyani opened #4465 "Improve the cluster diagnosis sys dump tool"
We have experienced that in some cases, the "sysdump" generated by the cluster diagnosis prints out errors and other confusing output, and can take a very long time to complete when cilium pods are not running at all.

Example 1:  There is an immediate error in the output, apparently due to a typo in the command trying to gather the kubernetes version info.

[code]

Example 2:  When cilium pods ar

[2018-06-11 21:46] manalibhutiyani commented on #4465
@ackerman80

[2018-06-11 21:57] rlenglet opened #4466 "panic when mounting BPFFS"
I'm manually testing the `latest` Docker image (i.e. master) in minikube, following the [Istio 0.8 GSG](https://cilium.readthedocs.io/en/latest/gettingstarted/istio/).

This build includes the recent work on BPFFS fixes for #3717.

The first time Cilium starts, it panics when mounting BPFFS:
[code]
Fortunately, this happens only once, Cilium is restarted and all appears to be fine afterwards.

[2018-06-11 22:05] ianvernon commented on #4248
FYI - I will be working on the updating of annotations of rules which have equivalent spec / specs. I will also have a fix out in the same PR to use the DeepCopy of the annotations instead of the pointer to the rule passed into `addCiliumNetworkPolicyV2`, as the object is a pointer that could be changed by other subsystems.

[2018-06-11 22:22] #4455 closed, assigned to eloycoto

[2018-06-11 22:25] tgraf commented on #4431
The test failure in Cilium-PR-Ginkgo-Tests-K8s is similar but a bit different. Not sure if this is related yet or not:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/320/testReport/k8s-1/11/Non_release_k8s_versions___K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/
[code]

kafka itself is in running state:
[code]

[2018-06-12 00:34] #3945 closed, assigned to joestringer

[2018-06-12 00:45] manalibhutiyani commented on #4357
Saw this again https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4067/testReport/junit/k8s-1/7/K8sValidatedHealthTest_checks_cilium_health_status_between_nodes/

[2018-06-12 00:46] manalibhutiyani commented on #4357
Please close if you feel otherwise.

[2018-06-12 00:50] #4324 closed, assigned to tgraf

[2018-06-12 03:46] #4466 closed, assigned to tgraf

[2018-06-12 03:58] tgraf opened #4475 "CI: org.apache.kafka.common.config.ConfigException: No resolvable bootstrap urls given in bootstrap.servers"
**Only affects k8s 1.11**

Non-release-k8s-versions / k8s-1.11.K8sValidatedKafkaPolicyTest KafkaPolicies

Stacktrace
[code]

[2018-06-12 07:56] eloycoto commented on #2660
Changes will arrive in 2-3 weeks related to this one  ;-)

[2018-06-12 08:16] vadorovsky commented on #4278
Fixed by #4436

[2018-06-12 08:16] #4278 closed, assigned to vadorovsky

[2018-06-12 09:28] borkmann commented on #1758
Upstream is capable of it now

[2018-06-12 09:28] #1758 closed, assigned to borkmann

[2018-06-12 09:28] borkmann commented on #440
Closing since stale and migration to Ginko

[2018-06-12 09:28] #440 closed, assigned to borkmann

[2018-06-12 09:30] borkmann commented on #1718
Done, nfp, ixgbe, ixgbevf, i40e has it now. Mellanox is working on it for their drivers.

[2018-06-12 09:30] #1718 closed, assigned to borkmann

[2018-06-12 09:32] borkmann opened #4477 "bpf, loader: get rid of af_alg and implement calls support"
- [x] Implement BPF to BPF calls support in the iproute2 loader
- [x] Get rid of iproute2's AF_ALG kernel dependency

[2018-06-12 11:07] raybejjani commented on #4475
@tgraf Did https://github.com/cilium/cilium/pull/4470 fix this?
I'd like to see if I can eliminate https://github.com/cilium/cilium/issues/3878 from this case.

[2018-06-12 13:42] eloycoto commented on #4431
This PR need to be in to be able to gather the logs: https://github.com/cilium/cilium/pull/4478

[2018-06-12 14:55] tgraf commented on #4475
No

[2018-06-12 15:01] #4308 closed, assigned to nobody

[2018-06-12 15:06] tgraf commented on #3585
All feature work has been done, closing

[2018-06-12 15:06] #3585 closed, assigned to nobody

[2018-06-12 15:21] cvila84 opened #4480 "Cilium.yaml manifest refers to bad docker image version"
### Title

Cilium.yaml manifest refers to bad docker image version when working with fixed version

### General Information

- Cilium version : Any tagged version (ex: v1.0.4, v1.1.0-rc4)
- Kernel version 4.15.0-22 x86_64
- Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:1

[2018-06-12 15:37] manalibhutiyani opened #4481 "kafka: Change the kafka docker image to point to a more stable tag instead of latest"
Related to #4431

[2018-06-12 15:38] tgraf commented on #4480
@cvila84 Good catch. The tag is wrong. Which documentation branch is still referring to this?

[2018-06-12 15:52] joestringer commented on #4357
Weird, here's the relevant snippet from the test-output.log and I don't see the error message in the API response:

[code]

[2018-06-12 15:58] joestringer commented on #4357
Looks like https://github.com/cilium/cilium/issues/2956 .

[2018-06-12 15:58] #4357 closed, assigned to eloycoto

[2018-06-12 15:58] manalibhutiyani commented on #4431
Update: Unfortunately changing the kafka docker image to a more stable tag did not fix the issue.
Without app logs this will be difficult to debug further. We need to figure out why the Kafka broker is failing so early on while the pod starts.

The microscope pr waiting to be merged, will help know what's happening.
I am waiting on the the microscope work #4452 and  #4478

and enabling collecting

[2018-06-12 16:04] cvila84 commented on #4480
I tried with 1.1.0-rc4, 1.1.0-rc3, 1.0.4, all of these have the issue
I guess the manifest file is generated through a template that includes the actual version, so I think the error is for all versions (except for 'latest')

[2018-06-12 16:53] aanm commented on #4480
@cvila84 Can you try with `v1.1.0-rc4`? (notice the 'v' before the version)

[2018-06-12 16:55] tgraf commented on #4480
@aanm @cvila84 already noticed the missing v prefix, see description of the bug report.

[2018-06-12 16:59] aanm commented on #4480
@tgraf I thought @cvila84 was referring to the docker image tag and not the repository tag

[2018-06-12 17:01] aanm opened #4483 "Change the examples image tags to point to a more "stable" tag instead of latest"
Related with #4464

[2018-06-12 17:02] tgraf commented on #4483
@aanm To what branch are you referring to?

[2018-06-12 17:05] aanm commented on #4483
@tgraf all of them? (which branches exist?)

[2018-06-12 17:25] joestringer opened #4485 "Star Wars Demo: Pods stuck in ContainerCreating"
PR only makes changes to a different test:
https://github.com/cilium/cilium/pull/4469

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4076/testReport/junit/k8s-1/7/K8sValidatedDemosTest_Tests_Star_Wars_Demo/

### k8s-1.7.K8sValidatedDemosTest Tests Star Wars Demo

#### Stacktrace
[code]
#### Standard Output
[code]

[9acb0442_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip](https://g

[2018-06-12 17:25] joestringer commented on #4485
Fishy Cilium logs for joining endpoints:

[code]

cilium-f91xs-logs.log
[code]

Seen also this:
[code]

[2018-06-12 17:33] joestringer commented on #4485
Seen https://github.com/cilium/cilium/issues/3413 again for `cilium-f91xs` pod.

[2018-06-12 17:40] #4481 closed, assigned to manalibhutiyani

[2018-06-12 17:41] manalibhutiyani commented on #4483
@aanm #4464 was specific to kafka docker image.

[2018-06-12 17:44] aanm commented on #4483
@manalibhutiyani I know but most of the examples are not using a specific image tag, they are pointing to `latest` which can break examples and/or cause test flakes if those images are updated.

[2018-06-12 17:54] joestringer opened #4486 "CI: VXLAN tunnel cannot be created"
Eloy reports:

Found this erorr on branch:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/3986/testReport/junit/k8s-1/10/K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode/

The Pods IPs are a bit weird:
[code]

[9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode(1).zip](https://github.com/cilium/cilium/files/2087730/9acb0442_K8sValidatedTunnelTest_VXLan_Check_VXLAN_mode.1.zip)

[2018-06-12 17:55] joestringer commented on #4242
@eloycoto The failure error is a common one, but based on the state of the pods it is clear that this is a different problem. I've reworded the title of this bug and it will track the Cilium crash. I filed https://github.com/cilium/cilium/issues/4486 to track your error report in the comment above.

[2018-06-12 17:55] tgraf commented on #4483
@aanm OK, so you are referring to non Cilium image tags?

[2018-06-12 17:56] ianvernon commented on #4090
We haven't seen this failure in a while; closing.

[2018-06-12 17:56] #4090 closed, assigned to manalibhutiyani

[2018-06-12 18:02] tgraf commented on #4242
Is 5 seconds sufficient? It seems tight to guarantee endpoint generation under heavy load if there is a queue of generations queued up

[2018-06-12 18:02] ianvernon commented on #4486
@joestringer which PR was this found on? The build link is dead.

[2018-06-12 18:03] joestringer commented on #4486
@ianvernon I don't know, @eloycoto may be able to provide further details.

[2018-06-12 18:06] #4463 closed, assigned to ianvernon

[2018-06-12 18:06] ianvernon commented on #4431
#4476 merged (which fixes #4463 ).

[2018-06-12 18:21] ianvernon opened #4487 "CI: run `make precheck` in separate stage before booting VMs"
This is currently only done in the after the VMs are booted, and the unit tests have ran, in the CI. This precheck could be done in a container as a separate stage to quickly alert developers using the build to fix their code instead of spending a significant amount of time provisioning unneeded resources.

[2018-06-12 18:43] joestringer commented on #4242
5 seconds was chosen to prevent the cilium daemon from hanging for a long time on startup because of some predictable error; furthermore, all it does is spin up a goroutine, run bash, and launch the cilium-health daemon.

We can factor this out at least to a goroutine if not a controller (which would allow us to represent its status in `cilium status` too)

[2018-06-12 18:57] joestringer opened #4489 "Create routes in docker containers"
The following PR reworked the way that MTU is handled in Cilium using routes inside endpoints:
https://github.com/cilium/cilium/pull/4323

However, the above PR didn't update the routes for docker containers because the plugin works differently vs. CNI.

It seems like the docker Join api should provide a `SandboxKey` which identifies the network namespace for the endpoint:
https://github.com/docke

[2018-06-12 19:04] tgraf opened #4490 "Panic in pkg/metrics/status.go:117"
[code]

[2018-06-12 19:50] #4480 closed, assigned to nobody

[2018-06-12 19:54] tgraf commented on #4480
@cvila84 The image tag references have been fixed in the v1.1 branch

[2018-06-12 19:56] #2956 closed, assigned to nobody

[2018-06-12 20:30] raybejjani commented on #3878
So, I finally saw a test fail on https://github.com/cilium/cilium/pull/4406 (this tested undoing the MTU changes). The errors are a little different, and the branch doesn't include adde5de7053849bf0475c9047f40b6d20a04316c but that isn't terribly relevant.

tl;dr we seem to be missing routes to clusterIPs, so kubedns can't connect to the kubeapiserver. Cilium can, however, so I'm not sure I interpr

[2018-06-12 20:35] joestringer commented on #4485
This hit twice in a row in PR #4469, but I don't yet understand why.

[2018-06-12 20:40] #4490 closed, assigned to tgraf

[2018-06-12 21:55] ianvernon opened #4496 "deploying Cilium with Kubernetes + Prometheus creates large amount of global conntrack entries"
It's easy to cause a standard k8s + prometheus setup to generate a large number of DNS requests, each of which results in an entry in the conntrack table. Worst case if the table becomes completely full, the datapath may begin to drop new connections. Furthermore if there are many entries in the table, then conntrack garbage collection could use a lot of CPU. Recent changes such as #4389 alleviate

[2018-06-12 22:37] ianvernon commented on #4089
Closing, was never triaged and we haven't seen failures in this test recently.

[2018-06-12 22:37] #4089 closed, assigned to nobody

[2018-06-12 23:06] aanm commented on #4483
@tgraf Correct!

[2018-06-12 23:53] ianvernon commented on #2688
I am blocked on this because there is no Docker package released for 18.04 LTS :(

https://github.com/cilium/packer-ci-build/pull/57#issuecomment-394527063

[2018-06-13 01:37] joestringer commented on #2688
Hmm. We could either switch to an edge release temporarily, or hope that Docker releases its next stable (2018.06) before Ubuntu EOL Ubuntu 17.10, and switch then.

[2018-06-13 08:20] eloycoto commented on #2688
Docker will release the new version with Bionic APT support soon. I understand that will be this week with Dockercon, repos are "ready"
https://download.docker.com/linux/ubuntu/dists/bionic/stable/

[2018-06-13 08:45] eloycoto commented on #4486
That was on master, when the new vagrnat box was in place, and the CRIO CNI was installed,so kube-dns pods are in 10.88.X

Can we close this one.

Tracked here: https://github.com/cilium/cilium/pull/4432

[2018-06-13 08:45] #4486 closed, assigned to nobody

[2018-06-13 09:33] raybejjani commented on #4248
I'm coming to this from #4492, so I probably lack some context.
Is there a reason why we prefer the CNP status over the CEP status? In particular, the CEPs show the rule labels (I'm not sure about annotations) that are desired and enforced for that endpoint. I realise that this would require iterating over more objects but it seems a lot more reliable than assuming that the `enforcing: true` behav

[2018-06-13 11:28] raybejjani commented on #4475
Fixed by #4479

[2018-06-13 14:03] eloycoto commented on #3815
Fixed by: https://github.com/cilium/cilium/pull/4476

[2018-06-13 14:03] #3815 closed, assigned to nobody

[2018-06-13 14:07] eloycoto commented on #3469
Closed by #4087

[2018-06-13 14:07] #3469 closed, assigned to nobody

[2018-06-13 14:08] eloycoto commented on #3247
@ianvernon I think that this one can be closed no?

Regards

[2018-06-13 14:09] eloycoto commented on #3233
@ianvernon I'm closing this one, all is sorted and the only piece waiting is the microscope, that it's already in a PR.

[2018-06-13 14:09] #3233 closed, assigned to eloycoto

[2018-06-13 15:03] tgraf commented on #4475
@raybejjani Are we sure about this? It seemed odd but was it really the cause?

[2018-06-13 15:09] tgraf commented on #4248
Are the CEPs guaranteed to be updated *after* the datapath changes have been committed? How do you know from looking at the CEPs, to which endpoints a policy rule should apply to and which CEPs should contain the rule labels?

[2018-06-13 15:10] raybejjani commented on #4475
That's what @eloycoto told me. It was marked as always failing, so it would be easy to verify.

My mental model is that whatever is causing https://github.com/cilium/cilium/issues/3878 would have manifested here, but only with the kubedns pod. I have no proof, however.

Once I finally get a working test machine (it takes about half the day to get vagrant images...) I can try to spam this one test.

[2018-06-13 15:12] tgraf commented on #4475
We can just watch the PR-GInkgo-Tests-K8s succes. It had two green
builds and then two failed. Some PRs are likely still not rebased.

On 13 June 2018 at 08:10, Ray Bejjani <notifications@github.com> wrote:

[2018-06-13 15:20] raybejjani commented on #4248
Yes, because they update every 10s or so. We also explicitly show the desired and realised policy so you can distinguish between the stages of implementation. All this is per endpoint, so it would be correct as they build.
We keep trying to optimise endpoint builds, however, so I'm not sure if similar problems to what #4492 fixes would crop up here too (probably yes).

Unless you have a very speci

[2018-06-13 15:28] tgraf commented on #4248
The potential 10 second delay does not make it very attractive.

What we have today provides the following:
- The status contains an entry per node
- Each node updates the enforcing flag and the annotations copy when *all* endpoints on that node that were present are implementing the policy.
- If a node does not run endpoints subject to the policy, the above happens right away.

This means that th

[2018-06-13 15:34] raybejjani commented on #4248
ok

[2018-06-13 15:40] raybejjani commented on #4475
Cool. I'll check on that specifically as I do my rounds

[2018-06-13 18:39] tgraf opened #4504 "Label io.kubernetes.pod.namespace with source any does not overwrite default k8s:io.kubernetes.pod.namespace label"
The following policy does not work:
[code]

We currently require the `k8s:` source to be specified explicitly:
[code]

Example yamls:
[code]

[2018-06-13 18:42] joestringer commented on #3050
@manalibhutiyani Why was this closed? We should probably schedule this for an upcoming release, the code has existed since pre-1.0.

[2018-06-13 19:01] tgraf commented on #4475
Still seeing this:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/328/execution/node/76/log/?consoleFull

[2018-06-13 19:01] tgraf commented on #4475
@eloycoto We should consider disabling this test for k8s PR tests. It renders the entire k8s PR tests useless as we hit this in every single build.

[2018-06-13 19:44] joestringer opened #4505 "CI: Error while executing topic command : replication factor: 1 larger than available brokers: 0"
I hit this in a PR:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4132

#### runtime.RuntimeValidatedKafka Kafka Policy Ingress (from (runtime.xml))
[code]
#### Stacktrace
[code]
#### Standard Output
[code]

Unfortunately the zip doesn't contain much detail, seems it failed in `BeforeEach()`:

https://github.com/cilium/cilium/blob/fcb01193c2fd21313a8262c1c09105b39a4e8b15/test/runt

[2018-06-13 19:50] ianvernon opened #4506 "CI: logs are not gathered if failure occurs in BeforeEach"
#4505 had a test fail in `BeforeEach`. No logs were gathered. Fix the Ginkgo logic to correctly gather logs in the case of `BeforeEach` failure.

[2018-06-13 19:51] ianvernon commented on #4505
Filed #4506 since no logs were gathered.

[2018-06-13 20:52] eloycoto commented on #4505
Rebase please, should be fixed with my changes in microscope.

[2018-06-13 20:55] ianvernon commented on #4505
@eloycoto , it looks that commit is in @joestringer 's branch: 964321bcf0a2520bc862f0ada1596a2dd8ee1302

Joe's branch: https://github.com/joestringer/cilium/commits/a2186408e2cf02648267490ad1bfe5f6589a26e4?after=a2186408e2cf02648267490ad1bfe5f6589a26e4+34

[2018-06-13 21:25] joestringer commented on #4505
Minor link correction: https://github.com/joestringer/cilium/commits/5a1b860baf4d48afca5574778938434cc5eab2c8?after=a2186408e2cf02648267490ad1bfe5f6589a26e4+34 but the point remains, 964321b is in that branch.

[2018-06-13 21:46] joestringer commented on #3368
Probably shouldn't add it as a unit test, since it would impose a requirement for root permissions and specific Linux kernel on developer machines.

[2018-06-13 21:46] #3368 closed, assigned to joestringer

[2018-06-14 00:51] #4242 closed, assigned to joestringer

[2018-06-14 01:19] joestringer commented on #4485
Hit again in https://github.com/cilium/cilium/pull/4501 .

[2018-06-14 04:45] #4487 closed, assigned to ianvernon

[2018-06-14 05:59] eldin77 opened #4510 "Request fails in scale out scenario for pod to pod networking"
## Bug reports

I have tried to communicate from a pod to pods which are scaling out at a moment using Service's Cluster IP. In Kubernetes, grouped Endpoints as one Service can be scaled out in some cases.(either manually and auto-scaling).
In this case, when pods are scaling out, requests fail must happen.

Request fails should not be happened in scaling out scenario. If connection sync is not co

[2018-06-14 06:21] tgraf commented on #4510
@eldin77 Your analysis is correct, the LB is not yet stateful

[2018-06-14 06:28] eldin77 commented on #4510
@tgraf Thank you for fast reply. lol.. I think it is an essential feature of Kubernetes. When should I retry this test? I have the environment to test this for all.

[2018-06-14 13:06] aanm opened #4513 "Empty NamespaceSelector in Kubernetes Network Policy allows everything"
[code]

Source: https://github.com/ahmetb/kubernetes-network-policy-recipes/blob/master/14-deny-external-egress-traffic.md

Reported by @nirmoy

The `foo-deny-external-egress` policy is translated into
[code]
Which is then translated into
[code]

Why is an empty namespace selector is translated into allow everything? Is it because of an empty `toEndpoints`? Should we then translated an empty `toEn

[2018-06-14 13:07] eloycoto opened #4514 "CI failure: failure to connect to kube-dns from other host"
Hi!

Build:https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2915/
Logs:
[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master-3.zip](https://github.com/cilium/cilium/files/2102423/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master-3.zip)

DNS pod it's on init policy and didn't update correctly the BPF map:

Pod Status:

[code]

DNS endpoint status:

[code]

BPF Policy Get

[2018-06-14 13:14] raybejjani commented on #4514
The odd thing is that `EgressPolicy` and `IngressPolicy` are both disabled for that endpoint, and that suggests there is no init policy (and we have enforcement=default) so it shouldn't drop anything. Also weird is that the DNS pod has secID `"id": 4437,` but init should be 5 (or something around that).
The undecided verdicts are also really odd. They are all egress, however, so perhaps something

[2018-06-14 13:57] tgraf commented on #4510
We will fix it and ping you when this is available.

[2018-06-14 14:18] eloycoto commented on #4514
Quick one about this one:

If you see k8s1, there is also some policies that does not look correct:

#### BPF Policy Get 48896

[code]

#### Endpoint Get 48896

[code]

[2018-06-14 15:34] ghost opened #4515 "Make MAC address of a Service configurable"
### Description of requested functionality

I would like to be able to statically set a MAC address for a given service.

### Example use cases

I would like to migrate a FlexLM license server to k8s.

In a traditional setup, a FlexLM server is bound to its host based on the primary network interface's mac address. When running on k8s, the license server would instead use the pod's/container's pri

[2018-06-14 17:46] ianvernon commented on #4514
@eloycoto what makes you believe that DNS has an 'init' policy?

It has a security identity (4437) which is not the init identity (5). Furthermore, while ingress and egress policy are disabled for the endpoint, in Kubernetes setups, all pods are required to receive ingress from the host. This is intentional, and is required for health checks (liveness probes, readiness probes, etc.).

So, the outp

[2018-06-14 17:51] ianvernon commented on #4514
Also, @eloycoto  I am unsure of where the assumption that the policy should appear as follows comes from:

like this:

[code]

Can you please provide an explanation of this assumption?

I searched the provided archive for the endpoint id `52637`, but couldn't find any endpoints with said ID. Where is this endpoint ID you are referring to coming from?

[2018-06-14 17:57] ianvernon commented on #4514
Looking at the output for endpoint 48896 (which was running in Cilium pod `cilium-0tnqh`), which was pasted above by Eloy, it has the following security-relevant labels:

[code]

The policy which was imported into the aforementioned Cilium pod:
[code]

The policy is as expected, due to my explanation above about why we always allow traffic from the host when Cilium is managing networking for pods

[2018-06-14 18:01] manalibhutiyani commented on #3050
My bad. Out for review.

[2018-06-14 18:01] joestringer opened #4519 "Tidy up prometheus documentation"
The prometheus documentation links to here twice:
http://docs.cilium.io/en/latest/configuration/metrics/#cilium-as-a-kubernetes-pod

But without really explaining which section the user needs to look at to understand how to deploy Cilium with prometheus.

We can probably split into "quick deploy with example YAMLs" and the underlying requirements with explanations and links such as to the `sd_conf

[2018-06-14 18:03] ianvernon commented on #4514
Back to the issue which caused the filing of this ticket, which is that kube-dns was unreachable.

Hm, on the node on which kube-dns is running, there doesn't appear to be a backend address corresponding to its frontend address:

From cilium-pnd52_service_list.txt:
[code]

[2018-06-14 18:05] ianvernon commented on #4514
Output of BPF LB list for that pod also shows that there is no corresponding backend address:

# cilium bpf lb list

[code]

This explains why DNS is being dropped, because it's getting redirected to nowhere!

[2018-06-14 18:06] raybejjani commented on #4514
Yes, but the kubedns pod is only 2/3 ready. I'm not sure how that translates into backend IPs but it could be "correct" ?

[2018-06-14 18:06] ianvernon commented on #4514
Next step is to investigate why the backend address was not updated in this case for `kube-dns`.

[2018-06-14 18:09] ianvernon commented on #4514
Couldn't this issue with the service backend not being correctly plumbed be why `kube-dns` is only 2/3 ready?

[2018-06-14 18:12] ianvernon commented on #4514
Events for kube-dns  from `pods_status.txt` in the log archive pasted in the initial ticket filing:

[code]

[2018-06-14 18:13] raybejjani commented on #4514
Oh, and I think @eloycoto's theory was that there was an Init policy at some point, but we didn't regenerate into the policy for identity 4437. His concern about the policy map (or whatever is dumped by `bpf policy get`) is that there should be no policies selecting the DNS pods, and they anyway say no policy is enforced, yet we see connection refused in dig requests.
You pointed out that that the

[2018-06-14 18:17] ianvernon commented on #4514
@raybejjani yes, I was trying to unpack all of the assertions made in the ticket to ensure that we are not chasing red herrings.

* The PolicyMap concerns are erroneous, in that we expect ingress from host to be allowed in all cases in K8s setups, for all pods.
* The connection being refused is explained by the fact that there is no backend address corresponding to the service IP for kube-dns. How

[2018-06-14 18:19] ianvernon commented on #4514
From the bugtool from the cilium pod which was managing kube-dns, `lxch_config.h`:

[code]

[2018-06-14 18:24] ianvernon commented on #4514
Ingress and egress policy are disabled for kube-dns:
[code]

But it says that L4 policy is defined:
[code]

But, there is no L4 policy for this endpoint AFAICT:

[code]

I'm not sure how this may affect datapath configuration. cc: @joestringer

[2018-06-14 18:25] ianvernon commented on #4514
The presence of `HAVE_L4_POLICY` screams out to me that something fishy is going on, though. We always write this `#define` if the endpoint's `DesiredL4Policy` is not-nil:

https://github.com/cilium/cilium/blob/8b1d22d072890341fffb3919200876578a264629/pkg/endpoint/bpf.go#L123-L139

[2018-06-14 18:27] ianvernon commented on #4514
From a quick glance at Cilium code, it appears that we never set the endpoint's `DesiredL4Policy` to nil once we have set it to be non-nil in the agent.

However, based off of what I just looked up in the datapath code, we wrap all checks to `HAVE_L4_POLICY` around checks for if policy enforcement is enabled for both ingress and egress, and both are disabled here for kube-dns. Thus, the BPF datapa

[2018-06-14 18:37] joestringer commented on #4514
@ianvernon HAVE_L4_POLICY is always defined, that looks like a red herring: https://github.com/cilium/cilium/issues/1960

[2018-06-14 18:48] joestringer opened #4521 "CLI tools break if BPFFS mounts in non-default path /var/run/cilium/..."
[code]
[code]

[2018-06-14 19:51] ianvernon commented on #4514
OK, so IMO this is the same problem as #3878 . Reducing priority. @eloycoto let me know if this can be closed as a duplicate.

[2018-06-14 20:25] aanm commented on #4431
@manalibhutiyani there was a test flake again, you can find the logs here
[test_results_Cilium-PR-Ginkgo-Tests-K8s_332.zip](https://github.com/cilium/cilium/files/2103892/test_results_Cilium-PR-Ginkgo-Tests-K8s_332.zip)

[2018-06-14 23:12] joestringer opened #4526 "Policy generation can take a long time for a large number of unique labels"
Currently, if you import a very large CIDR policy when there are several pods being managed by Cilium, then endpoint regeneration may be triggered several times, and each endpoint regeneration takes a long time to calculate policy, and they fight for attention from the CPU. If it takes too long, then the 10s timeout below will expire and policy won't be applied to the proxy within this time (becau

[2018-06-14 23:16] #4506 closed, assigned to eloycoto

[2018-06-14 23:29] aanm commented on #4526
@joestringer perhaps setting up `ncpu := runtime.NumCPU() - 1` would help?

https://github.com/cilium/cilium/blob/812eee2c8035747ee3292600ade6fb5a3cf40285/daemon/daemon.go#L1574-L1583

[2018-06-14 23:40] joestringer commented on #4526
@aanm I wonder if even that is reasonable. What if a CPU-heavy workload is running while we attempt to install policy? Cilium assumes it can burst to almost the entire CPU?

[2018-06-15 00:08] joestringer commented on #4526
Upon further investigation, I'm noticing these callstacks:

[code]

Seems like we're constructing brand new labelselectors every time we attempt to match a label in policy, and this is doing various bits of validation, including grabbing global regex mutexes. This basically serializes each of the threads.

[2018-06-15 00:28] jrajahalme commented on #4485
Hit a ton of these regeneration failures due to join.sh "Cannot find device" errors in a PR build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4159/

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4159/artifact/f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip
-> pod-kube-system-cilium-h52hz-cilium-agent.log

[2018-06-15 01:26] eldin77 commented on #4510
@tgraf Thank you.

[2018-06-15 06:51] #4321 closed, assigned to nobody

[2018-06-15 13:35] eloycoto commented on #4514
Duplicated

[2018-06-15 13:35] #4514 closed, assigned to nobody

[2018-06-15 13:45] eloycoto commented on #3878
Today I got this one in my laptop:

Traces:
K8s1:[k8s1-monitor.log](https://github.com/cilium/cilium/files/2106220/k8s1-monitor.log)
k8s2:[k8s2-monitor.log](https://github.com/cilium/cilium/files/2106234/k8s2-monitor.log)

First Sysdymp:
[cilium-sysdump-20180615-131816.zip](https://github.com/cilium/cilium/files/2106237/cilium-sysdump-20180615-131816.zip)
Second Sysdump:
[cilium-sysdump-20180615-1

[2018-06-15 13:56] #4191 closed, assigned to nobody

[2018-06-15 13:57] eloycoto commented on #3878
After seen this one in my laptop, I think that it's not a datapath issue at all. The endpoint trying to regenerate and always fails, the lookup to endpoint manager is always nil, and ep=nil:

https://github.com/cilium/cilium/blob/d64c17727218f5a938497c251753cfd96685f884/pkg/workloads/docker.go#L438-L448

[2018-06-15 14:11] eloycoto commented on #3878
More logs:
[code]

[2018-06-15 23:19] jrajahalme commented on #4417
#4535 introduces retries after NACKs for listener configuration.

[2018-06-15 23:19] jrajahalme commented on #4383
#4535 introduces retries after NACKs for listener configuration.

[2018-06-18 07:22] eloycoto opened #4540 "Cilium API panicked"
Test:
[code]

Build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2963/testReport/junit/k8s-1/10/K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/
Logs:
[9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/2110259/9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

- Bugtool does not have the debu

[2018-06-18 07:39] eloycoto commented on #4540
Same issue:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2961/
[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2110337/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2018-06-18 07:44] #3050 closed, assigned to manalibhutiyani

[2018-06-18 07:44] eloycoto opened #4541 "pods get stuck in "ContainerCreating" state, and endpoints fail to regenerate with "Cannot find device""
Build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2960/testReport/junit/k8s-1/10/K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/
Logs:
[f0c5341e_K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/2110356/f0c5341e_K8sValidatedServicesTest_Checks_ClusterIP_Connectivity_Checks_s

[2018-06-18 07:53] eloycoto commented on #4541
Another Issue:

- https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2958/testReport/junit/k8s-1/10/K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates/
-
[9acb0442_K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates-1.zip](https://github.com/cilium/cilium/files/2110388/9acb0442_K8sValidatedPolicyTest_Basic_Test_tests_PolicyEnforcement_updates-1.zip)

[2018-06-18 07:59] eloycoto commented on #4541
Another issue:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2955/

[9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/2110400/9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

[2018-06-18 09:11] eloycoto commented on #4540
The root cause of this one is the same as https://github.com/cilium/cilium/issues/4541 close as dup.

[2018-06-18 09:11] #4540 closed, assigned to nobody

[2018-06-18 16:41] tgraf commented on #4541
Possible explanation:
- endpoint is removed while join_ep.sh is running

[2018-06-18 16:42] tgraf commented on #4485
Dup #4541

[2018-06-18 17:01] eloycoto commented on #4541
Regenerating issues:

From: 9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip
Interface with problems: lxcf7324

- IP Address status:

[code]

ip link
[code]

## Cilium agent logs
[code]

## Dmesg output:

[code]

Where the ep problem is:
https://github.com/cilium/cilium/blob/master/bpf/join_ep.sh#L60

Related PR: https://github.com/cilium/cilium/pull/4546

[2018-06-18 17:08] tgraf commented on #4541
@eloycoto Is the `ip link` taken *after* the failure has occurred?

[2018-06-18 18:13] ianvernon commented on #4541
Additional build failures:

* https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2974/
* https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2958/

[2018-06-18 18:17] ianvernon commented on #4368
Another flaky run of this test occurred.

Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2972/testReport/junit/(root)/runtime/RuntimeValidatedMonitorTest_With_Sample_Containers_multiple_monitors/

StackTrace:
[code]

Logs:
[f0c5341e_RuntimeValidatedMonitorTest_With_Sample_Containers_multiple_monitors.zip](https://github.com/cilium/cilium/files/2112470/f0c5341e_RuntimeValidatedM

[2018-06-18 18:28] ianvernon commented on #4485
Let's use #4541 as the tracking issue since it's more generic overall than this one / more recent.

[2018-06-18 18:28] #4485 closed, assigned to nobody

[2018-06-18 18:36] ianvernon commented on #4541
@eloycoto can you point to the log archive which you are referring to in this comment https://github.com/cilium/cilium/issues/4541#issuecomment-398124579? I can't find any directory with references to interface in either archive you posted for the referenced test failure (9acb0442_K8sValidatedServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip):

[code]

[2018-06-18 18:39] ianvernon commented on #4541
IMO it's best to wait on https://github.com/cilium/cilium/pull/4546 to do correlation of timestamps between when `join_ep.sh` ran vs. when the interface is up and ready according to dmesg output.

[2018-06-18 18:40] ianvernon commented on #4417
Removing release-blocker label because this hasn't reproduced recently, and we didn't have enough info from the logs to fully triage. Given that #4535 will introduce retries after NACKs, we can always backport that fix if we deem necessary.

[2018-06-18 18:41] ianvernon commented on #4505
Leaving this open in case it gets hit again. Given that we had no logs previously, will close if this doesn't occur again.

[2018-06-18 20:21] jrajahalme commented on #3878
Similar issue at https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4188/testReport/junit/k8s-1/10/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

`Timeout reached: DNS \"app1-service.default.svc.cluster.local\" is not ready after timeout`

[K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4188/testReport/ju

[2018-06-18 20:29] manalibhutiyani commented on #4459
Status regarding #4431 : In addition to the kafka broker not being ready before executing the first produce, I identified another issue where zookeeper does not respond to kafka broker and kafka broker session times out. This is because the session timeout is currently configured to 20ms. I have also increased the timeouts. PR #4488

[2018-06-18 22:21] manalibhutiyani commented on #4475
Will be fixed by #4488

[2018-06-18 22:21] #4475 closed, assigned to manalibhutiyani

[2018-06-18 23:48] #4431 closed, assigned to manalibhutiyani

[2018-06-18 23:48] manalibhutiyani commented on #4459
Merged #4488 ( #4431) into master.

[2018-06-19 00:03] tgraf commented on #4541
I think we should make the generation logic more reliable by doing retries. Operations can fail and this is one of the spots left over where we never retry.

[2018-06-19 00:25] manalibhutiyani commented on #4505
Should be fixed by #4488

[2018-06-19 00:25] #4505 closed, assigned to manalibhutiyani

[2018-06-19 00:25] manalibhutiyani commented on #4505
Please reopen if you see this again

[2018-06-19 04:02] ianvernon commented on #4417
@jrajahalme this was hit in master again: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/2980/

StackTrace:
[code]

Stdout:
[code]

Logs:
[9acb0442_RuntimeValidatedPolicies_Tests_Endpoint_Connectivity_Functions_After_Daemon_Configuration_Is_Updated.zip](https://github.com/cilium/cilium/files/2113775/9acb0442_RuntimeValidatedPolicies_Tests_Endpoint_Connectivity_Functions_After_Daemon_Config

[2018-06-19 04:06] ianvernon commented on #4417
Another failure with endpoints going into `not-ready` state with this error messages:

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1063/testReport/junit/k8s-1/10/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

StackTrace
[code]

Stdout:
[code]

Logs:
[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2113781

[2018-06-19 04:08] ianvernon commented on #4417
And again:

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1064/testReport/junit/(root)/runtime/RuntimeValidatedLB_Services_Policies_tests_with_conntrack_enabled/

StackTrace:
[code]

Stdout:
[code]

Logs: [aa209b8e_RuntimeValidatedLB_Services_Policies_tests_with_conntrack_enabled.zip](https://github.com/cilium/cilium/files/2113786/aa209b8e_RuntimeValidatedLB_Service

[2018-06-19 05:59] eloycoto commented on #4417
Another one:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1064/testReport/junit/(root)/runtime/RuntimeValidatedLB_Services_Policies_tests_with_conntrack_enabled/
[aa209b8e_RuntimeValidatedLB_Services_Policies_tests_with_conntrack_enabled.zip](https://github.com/cilium/cilium/files/2114000/aa209b8e_RuntimeValidatedLB_Services_Policies_tests_with_conntrack_enabled.zip)

[2018-06-19 06:51] ackerman80 opened #4549 "The script `k8s-get-cilium-pod.sh` is not in repo"
The script is used in this doc
http://cilium.readthedocs.io/en/latest/troubleshooting/#retrieve-cilium-pod-managing-a-particular-pod

[2018-06-19 09:06] raybejjani commented on #3878
@jrajahalme I noticed you rebase after the failure. When it failed, did your branch include https://github.com/cilium/cilium/pull/4512 ?

[2018-06-19 09:08] tgraf commented on #4549
It's pointing to the release bucket. It will be available when we release 1.1.

[2018-06-19 11:13] #4377 closed, assigned to nobody

[2018-06-19 12:39] eloycoto commented on #4541
Another fail:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1067/testReport/junit/k8s-1/7/K8sValidatedDemosTest_Tests_Star_Wars_Demo/
[aa209b8e_K8sValidatedDemosTest_Tests_Star_Wars_Demo(1).zip](https://github.com/cilium/cilium/files/2115164/aa209b8e_K8sValidatedDemosTest_Tests_Star_Wars_Demo.1.zip)

[2018-06-19 12:46] eloycoto commented on #4541
Logs:
[code]

Dmesg messages:
[code]

Bugtool time:
[code]
IP address on bugtool

[code]

[2018-06-19 13:15] Shinzu commented on #2463
tried it and it is working with the enabled ibgp flag

[2018-06-19 13:16] eloycoto commented on #4541
Ok, after understand who make the PUT call to /endpoint, I think that the problem maybe come from here:

https://github.com/cilium/cilium/commit/7dca81bb556a9eeab44f57b7ca49115a9153dffd#diff-c22c8063187e7bbf8c78ff74c5b5427d

[2018-06-19 13:30] tgraf commented on #4541
@eloycoto Can you elaborate a bit?

[2018-06-19 14:20] eloycoto commented on #4541
Kubelet logs are not collected, and  this looks like that it's related with CNI plugin. I addted this PR to track if any issue on the CNI side:

https://github.com/cilium/cilium/pull/4556

[2018-06-19 14:55] tgraf opened #4557 "Cilium can't start if kvstore is populated with more than 1024 identities"
The allocator lists all existing identities in the kvstore and emits events on a channel for each. The buffer size is 1024. As nobody is reading the events until the allocator is initialized the operation will block forever as it will eventually block while writing to the events channel.

[2018-06-19 14:58] eloycoto commented on #4541
Found this panic on the logs:
[code]
[code]

[2018-06-19 15:59] aanm opened #4559 "CLI: "unable to parse sysfs to get CPU count""
It seems for any CLI command executed, the message "unable to parse sysfs to get CPU count" is printed.

[code]

[code]

This happens with current master in the mesos guide. (a new mesos guide version is available in https://github.com/cilium/cilium/pull/4558)

The bug is probably caused by
https://github.com/cilium/cilium/blob/a5910535291914762cd80d6b596d4cd40f115362/pkg/maps/metricsmap/metricsma

[2018-06-19 16:04] manalibhutiyani commented on #4559
@aanm Is this only specific to mesos setup or does this happen on k8s,docker also?

[2018-06-19 16:27] manalibhutiyani commented on #4325
@tgraf Retested this, the state is cleared properly because of the following code:

[code]

Here `clean` is always true and called only from one place i.e `NewDaemon`. So we just need to take care of the unnecessary message here.

[2018-06-19 17:11] jrajahalme commented on #4383
Below are the relevant logs for the failing redirect (`39095:ingress:TCP:80`). It fails (with a NACK), but later succeeds. This supports the hypothesis that there is some sort of race about the port (19151), and that retries even with just the same port number may help. In these logs the gap between NACK and a successful update is 26 seconds, but if we are lucky then the race does not take that lo

[2018-06-19 17:22] jrajahalme commented on #4383
@joestringer no netstat output in bugtool output, wonder why?

[2018-06-19 17:47] ianvernon commented on #4383
@jrajahalme `netstat` is ran within the cilium pod. Maybe it is not installed in the container image we create for Cilium, and thus silently failed while bugtool was ran?

[2018-06-19 17:54] #4549 closed, assigned to nobody

[2018-06-19 17:59] ianvernon commented on #4541
@eloycoto we intentionally wait synchronously for the endpoint to be regenerated in 7dca81b#diff-c22c8063187e7bbf8c78ff74c5b5427d . The regeneration is failing in this step (synchronously waiting for the endpoint to be in ready state as part of the API call), but that doesn't mean that it is the cause for regeneration itself failing.

[2018-06-19 18:06] ianvernon commented on #4541
The veth is created as part of the `cmdAdd` function in the Cilium CNI plugin:

https://github.com/cilium/cilium/blob/c669c48c6aaffc4374b2a25c3414826993d789ce/plugins/cilium-cni/cilium-cni.go#L336-L338

Implementation of `SetupVeth`: https://github.com/cilium/cilium/blob/c669c48c6aaffc4374b2a25c3414826993d789ce/common/plugins/add_endpoint.go#L56-L70

Implementation of `SetupVethWithNames`:
https:/

[2018-06-19 18:33] manalibhutiyani commented on #4559
might be a root cause: https://github.com/golang/go/issues/13565
need to investigate.

[2018-06-19 18:56] joestringer commented on #4513
[code]

I suspect that the above selects absolutely everything.

[2018-06-19 19:21] tgraf commented on #4513
Yes, the reserved:all translation looks wrong.

[2018-06-19 19:39] aanm commented on #4559
@manalibhutiyani can't the `init()` be replaced with a `Init()` that is invoked when the daemon starts? There are parts of the code where we use a sort of `Init` function.

This will allow to use the CLI without the need to open a bpf map, which is what the `init` does AFAIK.

[2018-06-19 19:46] aanm commented on #4513
@joestringer, @tgraf should then
[code]
be translated to:

[code]

or better yet:

[code]

[2018-06-19 20:50] manalibhutiyani commented on #4559
@aanm I am not sure I follow. None of the `pkg/maps` use `Init`.
[code]
Can you give me an example when you say :  `that is invoked when the daemon starts? There are parts of the code where we use a sort of Init function.`

[2018-06-19 20:54] aanm commented on #4559
@manalibhutiyani

IPAM, k8s, workloads
[code]

[2018-06-19 21:04] joestringer commented on #4513
@aanm I like the latter. I don't think that `reserved:cluster` will have the intended behaviour, considering its definition (from the docs):
[code]

[2018-06-19 21:23] manalibhutiyani commented on #4559
I guess I was simply following the same method all other maps are using. Let me check if this can be changed.

[2018-06-19 22:16] manalibhutiyani opened #4564 "Istio GSG should be fixed for Mac users"
Parent :#4326

`sed -i` does not work on Mac as Mac uses BSD sed as opposed to gnu-sed. Update the GSG Istio to instruct Mac users to install gnu-sed instead.

[2018-06-19 22:16] manalibhutiyani commented on #4326
Tested Istio GSG:
Raised https://github.com/cilium/cilium/issues/4564 @rlenglet is putting a fix out soon.

[2018-06-19 23:02] jrajahalme commented on #4326
Items under Troubleshooting do not math the document. AFAIK, these refer to the same text:
- [Overall Health](http://cilium.readthedocs.io/en/latest/troubleshooting/#component-cluster-health) & [Kubernetes](http://cilium.readthedocs.io/en/latest/troubleshooting/#kubernetes), and
- [Connectivity Issues](http://cilium.readthedocs.io/en/latest/troubleshooting/#connectivity-problems) & [Cluster connec

[2018-06-19 23:30] ackerman80 commented on #4326
fixed few documentation issues: https://github.com/cilium/cilium/pull/4563

[2018-06-19 23:34] joestringer opened #4566 "CI: Add timestamps to monitor.log"
It'd be good to get timestamps for the monitor log so the traffic can be cross-referenced with timestamps in testsuite failures.

This might just be a matter of installing and using the `ts` command.

[2018-06-19 23:41] joestringer opened #4568 "CLI: Sort identity list output by ID"
[code]

It may be a bit easier to read this output and locate a specific identity if these were sorted.

[2018-06-19 23:47] #4325 closed, assigned to manalibhutiyani

[2018-06-20 00:05] jrajahalme commented on #4326
`cluster-diagnosis` tool installed with `curl -sLO releases.cilium.io/tools/cluster-diagnosis.zip` tries to access `etcd-cilium-0` as a cilium pod and fails.

[2018-06-20 00:12] jrajahalme commented on #4326
Minor troubleshooting updates: #4569

[2018-06-20 00:21] joestringer opened #4570 "Policy deletion fails to release CIDRs imported as service backends"
While investigating an unrelated PR failure, I noticed in the setup this log message:

[code]

It appears that a policy is imported to match `ToServices`, then a service is added for a CIDR which then gets translated and stored internally in the policy repository.

When deleting the policy with this translated service backend, we attempt to release a CIDR<->identity mapping for the service, despit

[2018-06-20 01:12] jrajahalme commented on #4326
@tgraf CoreOS guide links to https://coreos.com/kubernetes/docs/latest/getting-started.html, but this redirects to https://coreos.com/tectonic/docs/latest/tutorials/kubernetes/getting-started.html. I have followed through the Tectonic installation guides and am almost there, but I don't know if the rest of our guide applies to k8s installed with Tectonic.

[2018-06-20 01:16] ianvernon commented on #4326
@jrajahalme oof, not sure how helpful that will be, then. If you get stuck, please let me know as I wrote the original guide! I wanted to reduce the amount of hardcoded stuff listed outside the Cilium repo, but looks like that may bite us. IMO, since we can deploy via kops now, maybe we can get rid of that guide? It's pretty nitty-gritty at this point. @tgraf what do you think?

[2018-06-20 01:18] ianvernon commented on #4326
Validated kops deployment with `v1.1.0-rc-4.2`, and then redeployed via kops with v1.0.4 , and upgraded following the upgrade guide to `v1.1.0-rc-4.2`. Both went well, and I made some mistakes during upgrade (due to my own error, not due to the guides), and the guide actually helped me realize what I had done wrong :)

[2018-06-20 01:26] joestringer commented on #4570
It seems to me like the external services tests in the CI only test that the service backend IPs are mapped through to the API, not that the service actually works. I believe that the IPCache piece is missing in this case.

[2018-06-20 01:30] jrajahalme commented on #4326
@ianvernon I got Kubernetes installed with Tectonic, but the very next steps, creating TLS assets does not work. The links redirect to the same Tectonic page that has no info on TLS.

[2018-06-20 01:31] jrajahalme commented on #4326
So I managed to validate the CoreOS Tectonic installation guides (they worked), but not much more.

[2018-06-20 09:06] #4557 closed, assigned to tgraf

[2018-06-20 09:20] tgraf opened #4574 "Optimize allocator to maintain list of available IDs"
The allocator in `pkg/kvstore/allocator` is using a brute force to allocate IDs based on a random number sequence to have multiple agents attempt allocation in different order.

This can be optimized by maintaining a random sequence that takes used IDs into account based on local usage and identity events (see maintenance of Allocator.cache).

[2018-06-20 09:58] vadorovsky opened #4575 "Bad formatting in pidfile utility"
This test fails on master (at least locally on my computer):

[code]

Which is understandable, because this formatting is indeed wrong (we pass 2 arguments with `int` and `error`/`string` types, the format string expects only one `string`):
https://github.com/cilium/cilium/blob/master/pkg/pidfile/pidfile.go#L76

[2018-06-20 10:38] tgraf opened #4579 "CI: k8s-1.10.K8sValidatedMicroscope Runs microscope"
[code]

[f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2118890/f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip)

[2018-06-20 13:12] eloycoto commented on #4541
New failure today in branch (It has microscope changes)

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4301/testReport/junit/k8s-1/7/K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/
[9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/2119430/9acb0442_K8sValidatedKafkaPolicyTest_Kafka_Policy_Tests_KafkaPoli

[2018-06-20 13:18] #4575 closed, assigned to nobody

[2018-06-20 13:31] #4521 closed, assigned to vadorovsky

[2018-06-20 13:59] eloycoto commented on #4541
Kubelet k8s1 logs:

Cilium is installed at 12:41.

When the pods are created:
[code]

[code]

The only endpoint that has state ready, also failed to created.
[code]
The timeout is set in the API handler function:
https://github.com/cilium/cilium/blob/b9064c5e8b76363a6d1d29fe68825c6a06541007/daemon/endpoint.go#L241

The log message comes from here:
https://github.com/cilium/cilium/blob/b9064c5e8b76

[2018-06-20 16:01] tgraf opened #4584 "DNS based policy enforcement"

[2018-06-20 18:40] jrajahalme commented on #4326
Discussed with @ianvernon, concluded that the CoreOS guide should be removed, as it would require extensive re-work to work and there has been no interest in this guide for a while, as it has likely been broken for some time already.

[2018-06-20 18:49] jrajahalme commented on #4326
@ianvernon @tgraf Updated #4569 to remove CoreOS Installation Guide.

[2018-06-20 23:39] #4425 closed, assigned to eloycoto

[2018-06-21 06:00] #4256 closed, assigned to nobody

[2018-06-21 07:52] eloycoto commented on #4541
New issue with the logs:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1088/

[9acb0442_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip](https://github.com/cilium/cilium/files/2122631/9acb0442_K8sValidatedDemosTest_Tests_Star_Wars_Demo.zip)

[2018-06-21 13:10] eloycoto commented on #4541
Around this failure, endpoint 40851:

No join_ep failure, but I think that it's one problem that I already asked in the slack channel:
[code]

[2018-06-21 14:19] eloycoto commented on #4541
Initial data:
Endpoint ID: 19056
Container: f99e19a90f89478c1b7cbf26045c880e1d79da932870321f87e28af72b1f772fa

1) There is no debuginfo data. Need to triage why.

Endpoint status:

The `init` policy look that it's correct, and the status of the endpoint is `ready` with Policy revision 0.
[code]

After the init is ready, the interface is not in place.
[code]

There is a removed event, meanwwhile th

[2018-06-21 15:02] tgraf opened #4598 "endpoint xxx did not synchronously regenerate after timeout"
[code]

[2018-06-21 15:14] tgraf commented on #4598
Possibly a dup of #4541 although not all failing pods of associating 'Cannot find device' build errors

[2018-06-21 15:40] ashwinp commented on #4465
@manalibhutiyani Could you please close this issue and create one in https://github.com/cilium/cluster-diagnosis/issues?

[2018-06-21 15:53] manalibhutiyani commented on #4465
I am keeping this one as a placeholder to have 1.2 visibility and tracking . Will raise child issues in the respective repo. thanks!

[2018-06-21 16:58] eloycoto commented on #3627
I can confirm that this is working.

[2018-06-21 16:58] #3627 closed, assigned to eloycoto

[2018-06-21 17:39] #4190 closed, assigned to eloycoto

[2018-06-21 18:02] jrfastab commented on #1806
This is completed on kernel side by exposing sock struct fields to BPF.

[2018-06-21 18:02] #1806 closed, assigned to jrfastab

[2018-06-21 18:03] jrfastab commented on #1795
Both complete and scheduled for inclusion in 4.18

[2018-06-21 18:03] #1795 closed, assigned to jrfastab

[2018-06-21 18:04] jrfastab commented on #1212
No longer seeing failure and nearly a year old closing issue.

[2018-06-21 18:04] #1212 closed, assigned to jrfastab

[2018-06-21 18:05] jrfastab commented on #4510
@joestringer working on this now should have a proposed fix shortly.

[2018-06-21 18:23] #4381 closed, assigned to rlenglet

[2018-06-21 18:26] ianvernon commented on #4598
@tgraf can you provide logs? Would be interested in seeing the cause for the endpoint build failure.

[2018-06-21 18:37] joestringer opened #4603 "Add contributing docs for profiling"
Flesh these out and convert these into real docs in the repo:

1. Install pprof latest on host:

    $ go get -u github.com/google/pprof

1. Add `--pprof` to `/etc/sysconfig/cilium`
1. Consider removing all debug message defaults
1. Restart cilium

    $ systemctl restart cilium

1. Run workload you want to test
1. Run make pprof-profile (runs for 30s)

    $ make pprof-profile
    go tool pprof h

[2018-06-21 18:41] joestringer opened #4604 "CI: k8s-1.10.K8sValidatedMicroscope Runs microscope flake"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4341/testReport/junit/k8s-1/10/K8sValidatedMicroscope_Runs_microscope/

#### Stacktrace
[code]
#### Standard Output
[code]

[f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2124942/f0c5341e_K8sValidatedMicroscope_Runs_microscope.zip)

[2018-06-21 18:42] joestringer commented on #4604
Duplicate of #4579

[2018-06-21 18:42] #4604 closed, assigned to nobody

[2018-06-21 21:17] joestringer opened #4606 "Upgrade notes for 1.1 are improperly indented"
http://docs.cilium.io/en/v1.1/install/upgrade/#mtu-handling-behavior-change-in-cilium-1-1

The above link is nested wrong. There should be

* Upgrade guide
  * Upgrade notes
    * Issue 1
      * ...
    * Issue 2
      * ...

[2018-06-21 21:43] joestringer opened #4607 "logging: Improve usage of `LogSubsys`"
The logging package provides for subsystem to be specified, which allows logs to be more easily filtered and searched.

Good example:
[code]

For each of the below, they should be updated to use a subsystem named the same as the package:
[code]

[2018-06-22 06:00] #4579 closed, assigned to nebril

[2018-06-22 06:47] eloycoto commented on #4541
Wait until https://github.com/cilium/cilium/pull/4602

[2018-06-22 06:56] eloycoto commented on #2707
Close this one.

[2018-06-22 06:56] #2707 closed, assigned to eloycoto

[2018-06-22 06:57] eloycoto commented on #2716
Already in there:
https://github.com/cilium/cilium/blob/fce115e3875eeb023c941530407de5cd8134ef72/test/helpers/cons.go#L156

[2018-06-22 06:57] #2716 closed, assigned to eloycoto

[2018-06-22 06:57] joestringer commented on #3878
Similarly, hit the same message as @jrajahalme on PR #4587, rebased against master today:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4358/testReport/junit/k8s-1/7/K8sValidatedUpdates_Updating_Cilium_stable_to_master/

[f0c5341e_K8sValidatedUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2126619/f0c5341e_K8sValidatedUpdates_Updating_Cilium_st

[2018-06-22 06:58] eloycoto commented on #3425
Vagrant box is already updated. Close this one.

[2018-06-22 06:58] #3425 closed, assigned to eloycoto

[2018-06-22 06:59] eloycoto commented on #3657
Close this one, related to https://github.com/cilium/cilium/issues/4329

[2018-06-22 06:59] #3657 closed, assigned to eloycoto

[2018-06-22 07:01] eloycoto commented on #3675
Fixed by  https://github.com/cilium/cilium/commit/18f028c953c6451dd845c7bc8723c905507f4f9f

[2018-06-22 07:01] #3675 closed, assigned to eloycoto

[2018-06-22 07:11] eloycoto commented on #4302
@tgraf about `Randomly restart cilium-agent and ensure it does not disrupt L3/L4 connectivity` is this one no?

https://github.com/cilium/cilium/blob/fce115e3875eeb023c941530407de5cd8134ef72/test/k8sT/Chaos.go#L100-L143

[2018-06-22 07:24] joestringer opened #4612 "Policies test proceeds when k8s endpoints aren't yet created"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/4359/testReport/junit/k8s-1/7/K8sValidatedPolicyTestAcrossNamespaces_Policies_Across_Namespaces/

Seen on #4611

The PR modifies service implementation in k8s, however in this case the pod where the command should be executed isn't even ready when the test attempts to run a check. So I believe it's a test issue.

#### Stacktrace
[code]

[2018-06-22 07:25] joestringer commented on #4612
This code appears to assume that the pod is already successfully created and ready to serve requests prior to the failure point:

https://github.com/cilium/cilium/blob/fce115e3875eeb023c941530407de5cd8134ef72/test/k8sT/Policies.go#L1085-L1097

[2018-06-22 07:26] joestringer commented on #4612
Not much interesting in the agent logs:

[code]

[2018-06-22 10:41] aanm opened #4615 "CI: K8sValidatedPolicyTest Namespaces"
[code]

The test output shows this:
[code]

This has happen 2 times in master

[9acb0442_K8sValidatedPolicyTest_Namespaces_policies_Tests_the_same_Policy_in_different_namespaces.zip](https://github.com/cilium/cilium/files/2127304/9acb0442_K8sValidatedPolicyTest_Namespaces_policies_Tests_the_same_Policy_in_different_namespaces.zip)
[f0c5341e_K8sValidatedPolicyTest_Namespaces_policies_Kubernetes_Net