[2018-08-13 18:27] ianvernon opened #5189 "CNP Node Status: only schedule annotations update for given node if 'Enforcing' and 'OK' bits are set to true"

[2018-08-13 19:03] RobertTheProfessional opened #5190 "The CNI configuration name should have a lower priority for seamless overriding of the CNI implementation"
### General Information

- Cilium version
    - Client: 1.1.90 0261426 2018-08-10T16:08:51+02:00 go version go1.10.3 linux/amd64
    - Daemon: 1.1.90 0261426 2018-08-10T16:08:51+02:00 go version go1.10.3 linux/amd64

- Kernel version
    - 4.14.35-1818.0.14.el7uek.x86_64

- Orchestration system version in use (e.g. `kubectl version`, Mesos, . . .)
    - Kubernetes v1.11.1
    - kubectl version:

[2018-08-13 19:25] tgraf commented on #5190
We initially used `10-cilium.conf` but other CNI plugins such as Calico do not remove their CNI configuration files even if the DaemonSet is removed. This lead to a lot of bug reports where Cilium was not the CNI of choice after the installation process. This lead to the decision to use `00-cilium.conf`. We are open to using a different prefix such as `05-cilium.conf` though to allow `00-` to be r

[2018-08-13 19:30] RobertTheProfessional commented on #5190
Funny thing is I ran into that exact issue with Canal where it didn't clean up its CNI configuration and IPTables policies so I understand where you're coming from. I don't see any issue with using `05-cilium.conf` though, I haven't personally come across any other CNI plugin using that prefix.

[2018-08-13 21:31] #4504 closed, assigned to aanm

[2018-08-14 00:43] #5190 closed, assigned to aanm

[2018-08-14 09:51] tgraf opened #5195 "1.3 Release Process"
* Release Committments: https://github.com/cilium/cilium/projects/10

## Release Dates
* Feature Freeze: 2018-07-06
* 1.3.0-rc1: 2018-08-31
* 1.3.0-rc2: 2018-09-07 Feature Freeze (1.3-feature)
* 1.3.0-rc3: 2018-09-14 Feature Exception Freeze (1.3-feature-exception)
* 1.3.0-rc4: 2018-09-21 Bugfix freeze (1.3-bugfix)
* 1.3.0: 2018-10-01 (1.3-bugfix-exception)

## Release Checklist
- [x] Planning
- [

[2018-08-14 10:43] borkmann opened #5196 "Allow tracing progs in iproute2 BPF loader"
poc: https://github.com/cilium/iproute2/commit/01a7a89bd252c4faa4e7ad7f1c45ab5ddf06af1b
Once merged upstream, also needs rebuild of the container image, and dev vm.

[2018-08-14 10:50] borkmann commented on #5130
We also had an old doc in the tree here, perhaps it makes sense to somewhat integrate this into the doc as well: https://github.com/cilium/cilium/commit/ff7c6767180a9923fb1c0646945f29709da6fb6e

[2018-08-14 13:30] #2770 closed, assigned to nobody

[2018-08-14 13:34] tgraf commented on #5154
This was fixed by #5116

[2018-08-14 13:34] #5154 closed, assigned to tgraf

[2018-08-14 13:35] #5102 closed, assigned to nobody

[2018-08-14 13:37] tgraf commented on #5158
Issue resolved via #4683

[2018-08-14 13:37] #5158 closed, assigned to nobody

[2018-08-14 14:13] tgraf commented on #5168
Is that safe? Even after the program has been loaded?

[2018-08-14 14:20] tgraf commented on #5135
@joestringer Did the build fail because of this? If not, I don't think this is a bug.

[2018-08-14 14:22] tgraf commented on #5095
Removing triage label, we are waiting for this to reproduce again.

[2018-08-14 14:57] joestringer commented on #5135
@tgraf The build failed, I suspect not because of this. That's why I filed it as `kind/bug/CI`, as I figured that this is not supposed to happen but is not related to an actual Cilum runtime bug.

If there's nothing we can do or it only happens in weird situations, I'm happy to close this.

[2018-08-14 14:58] ianvernon commented on #5135
I agree, this is a bug in the CI - we should be able to retrieve `pprof` reports; as part of this ticket, we should perhaps triage why we were not able to do so.

[2018-08-14 15:04] eloycoto commented on #5135
The main problem is that cilium pods are stopped,deleted, updated. if in background pods are deleted is difficult to retrieve the information, that for me is the main problem here. IMHO

[2018-08-14 15:23] borkmann commented on #5168
If we would delete the map after a program using it has been loaded it would mean that the program continues to using the old map (since it holds refcount on it) while daemon side would use the new map until the prog is regenerated which would then pick up the new map. If we always know that a given map will first get created through the object loader, and only later on accessed by the daemon, it

[2018-08-14 15:47] tgraf commented on #5168
We already do this for some maps:

[code]

This is done before regeneration happens and ensures that we re-create these maps. I think we should simply do this for *all* maps early on and ensure that we re-create as needed.

[2018-08-14 15:55] tgraf commented on #5135
@ianvernon Cilium was not running when pprof collection was attempted in the background. Not sure how we can handle this differently than what we do now.

[2018-08-14 15:58] ianvernon commented on #5135
Oops, I missed @eloycoto 's comment above :(

Maybe we can add another helper which will only get Cilium pods in 'running' state? This would reduce the probability of these errors occurring (although there may still be a slight race if a Cilium pod is deleted right after we get the pods in the `PprofReport` function).

[2018-08-14 18:38] borkmann commented on #5168
So we do this right now according to a05b59ae4cd for cilium policy maps. Looks like functionality is partially similar to 3d82a4b46517 which probes object files and has `objCheck()` for the daemon's pinned maps. Probably best to consolidate everything, also including fa12caf597f92a.

[2018-08-14 19:08] tgraf commented on #5135
What about we just degrade this from error to a warning? Having the visibility why pprof was not able to be fetched is good to have.

[2018-08-14 21:43] tgraf opened #5202 "Changing L7 rule type does not work"
Changing the L7 rule type from Kafka to HTTP or vice versa does not work. The old redirect is still in place and the new L7 type is getting rejected.

[2018-08-14 23:53] ianvernon opened #5204 "CI: wait for zookeeper pod and service to be ready before deploying kafka broker"
Discovered during #5192.

Build failure:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5657

Kafka pod went into `CrashLoopBackoff` because it could not resolve the `zook` hostname.

We apply the 'demo path' (kafka-sw-app.yaml) and then wait for the pods to be ready. However, if zookeeper takes too long to get launched / have its service configured in DNS, then the kafka-broker wi

[2018-08-15 07:31] eloycoto commented on #5204
I do not agree with this one, Kafka has a livenessProbe and in 300 seconds the service should be up. Added another step will not fix the issue at all. IMHO.

I'm more to use a image that contains Kafka and zookeper in the same deploy:
https://hub.docker.com/r/spotify/kafka

The main problem is that we're now in 1h 25 min, there are a new test for @aanm that adds another ~6 min add another two minu

[2018-08-15 08:33] #5189 closed, assigned to ianvernon

[2018-08-15 09:49] joestringer commented on #5168
OK, so to take inventory:

* Policy maps are migrated on `Daemon.init()` via `mapValidateWalker()` -> ... -> `MetadataDiff()`
  * a05b59ae4cd56391edc457ccf16e3fcf4b24ffb1
* CT maps are migrated prior to restore by `DeleteIfUpgradeNeeded()` -> ... -> `objCheck()`
  * fa12caf597f92a6020becf572035f39a89a2c2d7
* CIDR (prefilter), Policy maps are migrated via `OpenOrCreate()` -> ... -> `objCheck()`
  *

[2018-08-15 10:04] aanm opened #5211 "Enforcing flag set to true after annotations were updated for a non-valid policy"
steps to reproduce:

1. write this into `cidr.yaml`
[code]

2. write this into `cidr-with-annotations.yaml`
[code]

3. `kubectl create -f ./cidr.yaml`

4. Verify node status

[code]

5. Apply policy with annotations `kubectl apply -f ./cidr-with-annotations.yaml`

6. Verify node status.

Notes:
- `k8s1` is running against master
- `k8s2` is running without https://github.com/cilium/cilium/pull/519

[2018-08-15 15:11] tgraf opened #5212 "Move Envoy out of the repository"
Having the Envoy changes in the code base has proven to be difficult to manage:
* Base images need to be constantly rebased and pushed into various CI base images
* Local compilation of Cilium is time consuming
* The vagrant box developer image is huge because of the required cache

There are relatively few Envoy side changes at this point. The majority of the work is in the golang side of how the

[2018-08-15 15:28] #4363 closed, assigned to joestringer

[2018-08-15 15:31] tgraf opened #5213 "cilium/nightly:20180815-301 is broken"
Last known good version:20180813-299

[2018-08-15 16:12] ianvernon commented on #5211
Thank you for the clear reproducing steps!

[2018-08-15 17:32] joestringer commented on #2701
Haven't seen this in a while, closing. Feel free to reopen if you see this.

[2018-08-15 17:32] #2701 closed, assigned to joestringer

[2018-08-15 17:38] rlenglet commented on #5212
It is actually the opposite. The Cilium Agent / xDS side has been very stable. But we've had to update the Envoy version frequently due to Istio updates, Envoy bug fixes, etc. And that is the cause of the problem.

I'm all for moving Envoy into its own repo and building Envoy into a separate Docker image/layer.

Istio has a similar repo structure, except that they store & download Envoy binaries a

[2018-08-15 17:41] rlenglet commented on #5212
We'll also need to decide in which repo the future Go parsers will live. Those will have dependencies on both Envoy and Cilium.

[2018-08-15 17:48] rlenglet commented on #5212
@jrajahalme ^^^

[2018-08-15 18:03] tgraf commented on #5212
OK. Let me rephrase, we are not actively changing the agent/xds side in parallel to the Cilium Envoy filter in every other commit these days. It's rebases and targeted bugfixes. We have moved to a relationship where a Cilium version can depend on a particular version of cilium-envoy.

👍

Yes. The open question I have is how we develop Envoy in the future. Do we want a flag to the `start.sh` script

[2018-08-15 18:57] rlenglet commented on #5212
I have bigger concerns about the Vagrant VM dev workflow. We'll have to pull the artifacts out of the new Docker image in order to make development and dev testing possible in Vagrant.

A minor action item is also to remove the Envoy version hash check from Cilium.

[2018-08-15 19:54] jrajahalme commented on #5212
The current (Proof-of-Concept) Envoy/Go filter interface is pretty minimal, and if we keep it that way it should be possible to keep it very stable. If we start exposing more of the Envoy feature set to the Go filters then this would change.

Also, the current working model I have is to build the Go filters as a shared library. This makes it possible to keep them in the Cilium repo even if the Env

[2018-08-16 00:19] ianvernon commented on #5055
I've fixed one dependency locally (use of `pkg/node` in `pkg/endpoint/connector`), by moving `pkg/node/defaults.go` to `pkg/defaults/node.go`. Thereare multiple transitive dependencies that use cgo, based on the use of [build constraints](https://golang.org/pkg/go/build/#hdr-Build_Constraints). I managed to get `cilium-cni` to compile locally with `CGO_ENABLED=0` provided as part of the `go build`

[2018-08-16 00:21] ianvernon commented on #5055
I will add `CGO_ENABLED=0` to the build flags for `cilium-cni` as part of this effort too.

[2018-08-16 00:23] tgraf commented on #5055
100%. Awesome. This will allow us to run on non glibc hosts.

[2018-08-16 08:40] #5211 closed, assigned to ianvernon

[2018-08-16 08:46] joestringer opened #5222 "Remove runtime dependency on gocheck"
The following files have dependencies on the `pkg/comparator` package:

[code]

`pkg/comparator` depends on go check:

https://github.com/cilium/cilium/blob/a09accf3f293da857678432ce110d7c9f6b6aa91/pkg/comparator/checker.go#L22

We should rework `comparator` into one package that provides nicely formatted diffs, and another package which provides the test checker (for use in unit tests). Runtime f

[2018-08-16 08:51] vadorovsky commented on #5212
Big +1. Having Envoy in the same repository and build system makes RPM packaging harder. Possibility of building `cilium-envoy` binary separately (because, if I understand correctly, that would be one of goals?) and building filters as a shared lib would make it much easier.

[2018-08-16 08:55] joestringer commented on #5168
@borkmann and I discussed a path forward on this yesterday:

* Adjust policymap to use OpenOrCreate
* Adjust CT maps to use OpenOrCreate
* Remove `mapValidateWalker()`
* Remove `cilium_map_migrate`
  * The idea is that if the BPF would attempt to install a map with the wrong attributes, it will complain like it did previously, and fail to install the BPF program. This should force developers to co

[2018-08-16 09:03] joestringer opened #5223 "Strip down LLVM version in container"
Currently we test Cilium with LLVM 3.8 on a regular basis.

To expand the range of compilers that we test with, and to make newer features available, we can upgrade the LLVM version in the container image to, eg, LLVM 6 or 7.
   * LLVM 7 release is ETA September 5

Newer LLVM versions may generate better code (I have heard ~5% decrease in instructions, which we have limitations on), and also have

[2018-08-16 09:20] #4769 closed, assigned to aanm

[2018-08-16 09:21] borkmann commented on #5223
Related commits for dwarfris:
- https://github.com/llvm-mirror/llvm/commit/e4507fb8c94b605c8f89bb204ecdd7b51cc78758
- https://github.com/llvm-mirror/llvm/commit/0e0047f8c9ada2f0fe0c5f01579a80e2455b8df5

They will first appear in LLVM7, I checked and they are not part of earlier releases.

[2018-08-16 09:49] joestringer commented on #5223
I compiled the current codebase with LLVM 7 (development version) and attempted to load into Linux 4.9.17 and hit this:

[code]
...
[code]

[2018-08-16 09:53] drpaneas commented on #654
Any updates on that?

[2018-08-16 09:53] nebril opened #5224 "Opimize Microscope in CI"
right now spinning up microscope pod takes some time before each e2e test, we can lower this time by either running microscope directly on host or not deleting microscope pod.

related: #4976

[2018-08-16 09:55] joestringer commented on #5223
^ ~Jump code is likely to be `BPF_CALL` instruction. Adding more `__always_inline` around the codebase should mitigate this.~

BPF_JMP opcode `0xa0` is `BPF_JLT`, introduced here in Linux 4.14:

https://github.com/torvalds/linux/commit/b4e432f1000a171d901e42551459059831925770

[2018-08-16 10:00] nebril commented on #654
@drpaneas we made a PR for kubeadm docs here: https://github.com/kubernetes/website/pull/9625 , but since we are adding easier etcd deployment for 1.2 we will probably write an easier guide targeting Cilium 1.2. Feel free to reach out to us on [Slack](https://cilium.slack.com/) if you have any questions!

[2018-08-16 10:01] joestringer commented on #5223
Looks like `-mcpu=probe` and compiling on a machine with the target kernel should work. In the above example I compiled on my host with Linux 4.15 then attempted to load on a 4.9 kernel.

FWIW to test this in the above environment I did this:

[code]

[2018-08-16 10:09] borkmann opened #5225 "CI: add test-all-supported-kernels label"
Add a new command for GH PRs which will run the CI tests on all kernel versions we support (4.9 ... latest release) to make sure there are no regressions. This would help in a variety of use cases:

- Making sure there are no verifier or loader surprises in some of the supported kernels and that probes work as expected
- Making sure we can upgrade the container image safely wrt LLVM/clang/iproute2

[2018-08-16 10:13] aanm commented on #5225
@borkmann Should we close this https://github.com/cilium/cilium/issues/824?

[2018-08-16 10:15] borkmann commented on #5225
Kind of related, though nightly might be done at a second step once we have this coverage here in place initially with the command trigger.

[2018-08-16 10:26] tgraf opened #5226 "DNS resolution does not work (udp port 59693 unreachable)"
[code]

[2018-08-16 10:35] joestringer commented on #5226
At a glance that looks like the endpoint `10.2.5.93` made a DNS request to `10.2.5.15`, then the DNS server responded, but by that time the endpoint went away so the kernel didn't know how to process the DNS response, and hence sent back an ICMP destination unreachable message.

That said, it happens multiple times.. and with the same port, so presumably the app doesn't go away.

[2018-08-16 10:43] tgraf commented on #5226
The `curl timeout is 15 seconds` and based on the timestamps it is nowhere close to that unless DNS resolution is postponed by 10 seconds.

[2018-08-16 10:54] borkmann commented on #5226
Does it remain unreachable after that point onwards? Hitting limit and GC for hashtab not cleaning up fast enough?

[2018-08-16 10:56] tgraf commented on #5226
Yes, confirmed. Failure always happens on the same node:

[code]

[2018-08-16 13:02] tgraf opened #5229 "Node monitor dies"
[code]

[code]

[2018-08-16 13:45] eloycoto commented on #5225
I started this a few months back, this PR is still waiting for review.
https://github.com/cilium/packer-ci-build/pull/39

[2018-08-16 13:45] eloycoto commented on #5223
Add the new llvm version to packer-ci-project please ;-)

[2018-08-16 15:01] borkmann opened #5235 "Eval LRU map behavior"
Check whether eviction behaviour from kernel side generally works or whether it's buggy. And check its effects on cilium. Right now we need to do CT cleanups nevertheless since eviction often chooses elements that are active from our PoV. Can eviction heuristic be improved?

[2018-08-16 15:05] borkmann commented on #5225
@eloycoto Anything still blocking above from review side? /cc @aanm @ianvernon

[2018-08-16 15:20] ianvernon commented on #5225
@borkmann thanks for tagging me, I lost track of the PR. Approved. The real test of the new image though, will be how it works in the Cilium CI.

[2018-08-16 15:37] joestringer commented on #5226
Should be fixed by #5230.

[2018-08-16 15:37] #5226 closed, assigned to nobody

[2018-08-16 19:25] #5229 closed, assigned to raybejjani

[2018-08-16 20:36] tgraf opened #5237 "Crash in cilium status"
[code]

[2018-08-16 21:15] michi-covalent opened #5238 "How to deal with slow requests / long-lived connections when http proxy is enabled"
I'm running an HTTP service where some requests take long time (> 15 seconds). After applying a Cilium network policy with L7 rules for the service, these requests started returning 504, presumably due to proxy timeout. Would it make sense for Cilium to either make proxy timeout value configurable or turn off timeout altogether by default?

This is somewhat related to grpc timeout PR https://githu

[2018-08-16 21:41] tgraf opened #5239 "Invalid load balancing reverse translation"
The following TCP handshake is being observed:
[code]

Load balancing entry:
[code]

Monitor output:
[code]

The CT entry has the wrong revnat ID stored which results in wrong reverse translation.

[2018-08-16 22:19] tgraf commented on #5239
We are hitting existing conntrack entries of previous endpoints

[2018-08-17 08:32] #5237 closed, assigned to ianvernon

[2018-08-17 09:00] #5055 closed, assigned to ianvernon

[2018-08-17 10:56] nebril commented on #4879
Fixed by #4976

[2018-08-17 10:56] #4879 closed, assigned to nebril

[2018-08-17 12:58] #5239 closed, assigned to nobody

[2018-08-17 17:12] ianvernon opened #5248 "Documentation: "special identities" section is missing some identities"
https://cilium.readthedocs.io/en/stable/concepts/#special-identities does not contain `reserved:health` or `reserved:init` identities. Update the documentation accordingly.

[2018-08-17 17:16] ianvernon commented on #4513
Looking into this. I presume this will need backport to v1.2 as well; adding the label.

[2018-08-17 18:34] tgraf commented on #5132
Using monitor API v2:
*cilium-node-monitor*
[code]

[code]
[profile001.svg.zip](https://github.com/cilium/cilium/files/2298327/profile001.svg.zip)

[2018-08-17 21:51] ianvernon commented on #4513
To confirm, based off of the commentary from the link provided in the issue description:

to: specifies an empty namespaceSelector. This will select all pods in all namespaces, so the outbound traffic to pods in the cluster will be allowed.
And since they are not listed, traffic to the IP addresses outside the cluster are denied.

"This policy allows all outbound traffic on ports 53/UDP and 53/TCP

[2018-08-17 22:56] ianvernon commented on #3897
@borkmann great, thanks! I'll see if that is possible. We should definitely have the old map around as well if compilation fails; I think what we should do is create two copies of the endpoint policy map on the bpffs that are identical (one which is used in the datapath, the other which is a copy of it that we can keep around in case we have to revert to it when say, a program compilation fails or

[2018-08-18 04:48] ianvernon opened #5251 "CI: Star Wars test is failing due to files being moved in cilium/star-wars-demo"
https://github.com/cilium/star-wars-demo was updated recently to put files in different locations. Update the test to point to the specific commit from before the repository structure was changed to fix the tests in the quickest manner possible, as well as to remove the possibility from this happening ever again.

[2018-08-18 05:22] #5251 closed, assigned to ianvernon

[2018-08-18 09:16] tgraf commented on #4513
@ianvernon Agreed. Good analysis.

[2018-08-20 07:11] eloycoto opened #5256 "Nightly: Service does not exists on kubernetes"
https://jenkins.cilium.io/job/Cilium-Master-Nightly-Tests-All/305/testReport/junit/k8s-1/11/NightlyEpsMeasurement_The_endpoint_creation/

[code]

[2018-08-20 09:34] joestringer commented on #3897
@ianvernon Do you mean to say that there are three possible map names, but only ever two maps - desired/pending and realized/active?

If the compilation/load fails, we don't have to touch the maps at all. The map switch from one map to the other should only occur when the BPF program is atomically swapped on the device. That is to say, we could implement it in the following way and have just the p

[2018-08-20 14:36] #3609 closed, assigned to nobody

[2018-08-20 15:36] ianvernon opened #5265 "Documentation: use standard Cilium DS and RBAC files in EKS guide"
Ref:
https://github.com/cilium/cilium/pull/5263#discussion_r211299809

[2018-08-20 15:41] tgraf commented on #5265
The issue is fixed identity configuration. Looking at this, why don't we just hardcode this in the source code?

cc @aanm

[2018-08-20 15:44] ianvernon commented on #3897
Good point, this reduces the need for having to revert back - not sure why I didn't think of this in the first place.

The rest of your proposal sounds good. It sounds like we have come to a consensus about how to get this done. I'll get started on this :D

[2018-08-20 15:47] eloycoto commented on #4800
Fixed by https://github.com/cilium/cilium/pull/5231

[2018-08-20 15:47] #4800 closed, assigned to eloycoto

[2018-08-20 15:57] ianvernon commented on #3272
Will investigate this and see if this still occurs as part of the 1.3 release cycle.

[2018-08-20 17:12] ianvernon commented on #4970
We haven't seen this in some time, reducing priority.

[2018-08-20 17:58] joestringer commented on #3897
Note that this will mean that `join_ep.sh` needs to be run upon policy change, however it does not guarantee that we need to actually compile the BPF prog. These are currently tied together. Might be worth considering putting a little thought into that so as not to regress on performance for changing policy.

[2018-08-20 18:02] ianvernon commented on #3897
@joestringer good point - a flag to the script should be easy enough to make such considerations.

[2018-08-20 19:21] #4513 closed, assigned to ianvernon

[2018-08-20 23:28] ianvernon commented on #3897
After analysis of the code, it looks like we still have to do some updating of the maps that are live  after compilation (atomically swapping using `mv <new map> <old map>`). To illustrate why, the current PolicyMap lifecycle is as follows:

* compute endpoint's `desiredPolicyMapState` during `regeneratePolicy`
* sync `PolicyMap` on BPFFS with `desiredPolicyMapState` - this is necessary to do befo

[2018-08-21 08:15] dorkolog commented on #4794
@KSanthanam I was also trying to deploy cilium on GKE.

In my case -  GKE uses non default locations for cni binaries so I had to change the ``containers.mountPath`` for ``cni-path``  and the ``volumes.hostPath`` for ``cni-path`` in order to ``cni-install.sh`` to work properly.
Also, the ``kubelet.service`` is configured with ``--network-plugin=kubenet``.

Unfortunately I haven't find a way to con

[2018-08-21 08:16] joestringer commented on #3897
Thanks for the analysis, makes sense. One minor adjustment note for clarity below.

At the time of compilation, the header file changes (including map paths) are baked into the ELF file. The BPF program uses the path in the ELF at ***load*** time. So, if you can avoid changing the path to the desired map, then you can avoid recompiling. However, you would still need to populate the map at the corr

[2018-08-21 08:48] tgraf opened #5274 "New chaos monkey: Latency test"
- [ ] Chaos monkey to test latency to a URL or IP
   - [ ] curl a URL
   - [ ] perform a k8s apiserver operation
- [ ] Ability to configure a watermark above which test should be considered a failure

[2018-08-21 08:54] tgraf opened #5275 "DNS request visibility"
- [ ] Ability to gain visibility into DNS requests made per endpoint and report them via monitor
- [ ] Maintain cache of IP to DNS names
- [ ] Resolve IPs of flows to DNSnames

[2018-08-21 09:10] tgraf opened #5276 "GKE guide for mutable images"
Guide for using GKE with images like Ubuntu 18.04, which allow writes to the file-system.

Note:  this issue does not cover GKE for Container-optimized OS (COS), as that is an immutable image.

[2018-08-21 09:10] tgraf opened #5277 "Integrate Envoy golang extensions"

[2018-08-21 09:17] #5256 closed, assigned to eloycoto

[2018-08-21 10:56] tgraf commented on #3994
We have not seen this for a long time

[2018-08-21 10:56] #3994 closed, assigned to nebril

[2018-08-21 10:58] #1500 closed, assigned to nebril

[2018-08-21 10:59] #4465 closed, assigned to nobody

[2018-08-21 11:00] #2367 closed, assigned to aanm

[2018-08-21 11:01] tgraf commented on #3779
This has been resolved by extensive manual testing

[2018-08-21 11:01] #3779 closed, assigned to aanm

[2018-08-21 11:18] aanm opened #5279 "Clean up docker hub repositories"
In case of disagreement please remove check and leave a comment bellow the repository

**The following automatic-build repositories will be deleted:**

- [X] https://hub.docker.com/r/cilium/build/
- [X] https://hub.docker.com/r/cilium/build-image/
- [X] https://hub.docker.com/r/cilium/cilium-builder-2/
- [X] https://hub.docker.com/r/cilium/cilium-runtime-2/
- [X] https://hub.docker.com/r/cilium/co

[2018-08-21 13:44] joestringer commented on #3897
Does this push down L3/L4 entries that we will subsequently configure an L7 redirect for? Ie, if you have a policy that allows `GET /public` on `foo:80`, will it first allow at L3/L4 on port 80 to foo and then afterwards configure the redirect? It seems to me like such a case should actually hold off on pushing the policymap entry into the datapath until the redirect is configured, otherwise in th

[2018-08-21 13:59] aanm opened #5281 "update test/k8sT/manifests/cilium_ds.template"
It looks the cilium_ds.template is out of date with the file from `examples/kubernetes/1.8/cilium-ds.yaml`

Can we make the process automatic so we make sure this won't happen again?

[2018-08-21 14:38] nebril commented on #5279
https://hub.docker.com/r/cilium/nightly/ is an artifact from our nightly builds

[2018-08-21 15:09] rlenglet commented on #3897
@joestringer Here is what `regenerateBPF` does now:

1. Populate the policy map's desired state with (a) all the L3/L4 entries, (b) the L7 entries for redirects that  existed in the previous revision and still exist in the new revision. In effect, this invalidates any obsolete L7 redirect. And note that the new redirects are not defined yet. (c) Sync the map.
2. Push the updated policy to Envoy. B

[2018-08-21 15:15] rlenglet commented on #3897
@joestringer I think the only thing that needs to change to support a smoother transition from L4->L7 is 1(a): we need to keep existing L3/L4 entries that will get updated in 4(b) with a non-zero proxy port.

[2018-08-21 15:33] eloycoto commented on #5281
I though about this in the past, but It's near impossible to have that with the current `sed` setup for templates:-(

The only way that I can think is the use of `jsonnet` and `kubecfg`, can do that effort, but not sure if we want to change to jsonnet the templates files.

Regards.

[2018-08-21 16:16] ianvernon commented on #5281
As part of the `sed` scripts we could generate YAMLs that are used for tests that will point to the name of the image used during the tests. This image is hardcoded to be `k8s1:5000/cilium/cilium-dev:latest` in the `cilium_ds.jsonnet` file.

We could then store different `ConfigMaps` for testing certain configurations of Cilium in the repo if we want to test certain configuration features. We woul

[2018-08-21 16:20] ianvernon opened #5287 "CI: add precheck step which ensures that imagePullPolicy is `IfNotPresent` in test YAML files"
This will ensure that we never add YAML files which always pull the images, resulting in reducing wasted test time / use of resources.

[2018-08-21 16:30] ackerman80 commented on #1860
Looks like there is a parallel effort https://github.com/kubernetes/website/pull/9889

[2018-08-21 16:30] #1860 closed, assigned to ackerman80

[2018-08-21 16:37] eloycoto commented on #5281
The problem with sed is that more changes need to be done, like livenessProbe, readinessProbe, some labels for cilium-agent and  geneve, vxlan, in my opinion, add an array of things in sed is hard, or at least for me.

Using kubecfg the yaml can be created with the tool `kubecfg show cilium_ds.jsonnet`, jsonnet is like a template engine and we can use the same for testing and examples.

[2018-08-21 16:48] ianvernon commented on #5281
Are we actively changing the `livenessProbe` and `readinessProbe` for Cilium in the CI? Ideally we should be using the default values that we are shipping out in the YAMLs we provide to the public.

It does look like that `kubecfg` allows us to provide a template for the entire YAML vs. just a `ConfigMap`, which appears to not let one programmatically specify the image, etc.

OK, you are saying th

[2018-08-21 16:54] eloycoto commented on #5281
yes!

yes, to have lower values to avoid waiting times, something that a user shouldn't use at all.

[2018-08-21 17:26] ackerman80 opened #5289 "Documentation: Update kops install doc for kops 1.10"
## kops guide update
### Update kops install guide to use kops 1.10

[2018-08-21 18:05] tgraf opened #5290 "Policy whitelist not in place during upgrade"
[code]

While restarting/upgrading Cilium, drops have been observed due to policy. The issue has been tracked down to the policy pushed into the datapath being incomplete and thus being too restrictive. The problem always resolves itself.

[2018-08-21 18:26] #5089 closed, assigned to joestringer

[2018-08-21 20:04] tgraf opened #5292 "RuntimePolicies_TestsEgressToHost: curl exists with return code 22"
The raw output of the test is:

[code]

The CI regarded this as a test failure, however, exit code 22 in `curl(1)` is described as:
[code]

It appears that rejection was in fact successful.

[2018-08-21 20:06] #4457 closed, assigned to ianvernon

[2018-08-21 21:07] tgraf opened #5293 "Support for ExternalIPs in Kubernetes Service"
[code]

cc @kbaegis

[2018-08-22 03:43] KSanthanam commented on #4794
@dorkolog Thank you for your feedback.  @tgraf has fixed it. I am waiting for the next release. Hopefully we don't have to do this manually

[2018-08-22 08:04] tgraf opened #5295 "CI: Invalid stdout/stderr output printed after executing commands"
I think the following commit introduced a regression in the CI:
[code]

master build failures:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1457/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1458/

Related issue:
#5292

[2018-08-22 08:55] tgraf commented on #4794
@dorkolog Can you share what you changed it to? We will publish a guide to provide the alternative locations. We can't change the defaults as the defaults correspond to the official Kubernetes paths and work on all self managed installations.

[2018-08-22 10:25] eloycoto commented on #5281
Andre addressed that with a PR https://github.com/cilium/cilium/pull/5297

[2018-08-22 11:56] dorkolog commented on #4794
@tgraf
volumes.cni-path - /host/opt/cni/bin -> /home/kubernetes/bin, as GKE configures kubelet with ``--cni-bin-dir=/home/kubernetes/bin``. I thought I had another config change but it seems thats only one.

the other steps mentioned above (configuring ``kubelet.service`` and restarting) are still needed.

[2018-08-22 13:07] tgraf opened #5298 "CNI DEL can cause error on cleanup"
[code]

The error is caused because the CNI ADD has failed and the interface does not exist. NoExists error should be ignored.

[2018-08-22 13:27] tgraf opened #5299 "Add metric to account for latency of BPF compilation"
It's currently a debug but we need this to be a metric

[code]

[2018-08-22 14:01] eloycoto commented on #5295
Hi,

Failed test for the track:

1) https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1458/testReport/(root)/runtime/RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR_L7_policy/
2) https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1457/testReport/junit/(root)/runtime/RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR_L7_policy/
3) https://jenkins.cilium

[2018-08-22 16:14] andrewsykim commented on #4057
@tgraf according to your list, these are the data structs I have so far that needs to be converted to a versioned CRD:
* IPIdentityPair (ipcache) - https://github.com/cilium/cilium/blob/master/pkg/identity/identity.go#L40-L53
* identity allocator - https://github.com/cilium/cilium/blob/master/pkg/identity/allocator.go#L31-L34
* node discovery - https://github.com/cilium/cilium/blob/master/pkg/node

[2018-08-22 16:20] ackerman80 opened #5304 "Update kops install guide to use kops 1.10"
https://github.com/cilium/cilium/issues/5289

[2018-08-22 17:11] tgraf opened #5305 "Endpoint continuously times out to build"
pod state changes:
[code]

The build time is massive:
[code]

[2018-08-22 17:22] tgraf commented on #4057
Note that we have added etcd operator support in 1.2 to no longer require an external kvstore.

That said, the list looks good. Some notes on each:

This has become optional and is only required when DSR is enabled. The DSR feature is currently not exposed as it is not documented. We have switched to 1.2

This is already possible via the k8s node resource.

This is likely straight forward

This wi

[2018-08-22 17:32] andrewsykim commented on #4057
The etcd operator definitely helps! Do you still see value in replacing KV store entirely with CRDs or do you see KV store + etcd operator as the long-term/permanent solution? (Assuming we can support the same operations with CRDs as we can with etcd, it's not clear that we can yet).

[2018-08-22 17:45] tgraf commented on #4057
I think we will know in a couple of weeks. We already have several users on EKS running the etcd operator and so far it is looking good but the feedback will tell whether it is a good long-term solution. CRDs are still evolving as well. It might be worth have a conversation with API machinery to check if we can have some form of allocation logic.

[2018-08-22 17:53] andrewsykim commented on #4057
Sgtm! Please keep me updated, will hold off on any work til then :)

[2018-08-22 20:32] #5290 closed, assigned to nobody

[2018-08-22 21:30] tgraf opened #5309 "CI: Fix Kafka test"
The Kafka test is still unreliable. Problems arise while the Kafka cluster is bootstrapping.

Options:
- [ ] Consider http://strimzi.io/docs/0.6.0/#deploying-kafka-cluster-kubernetes-str

[2018-08-23 00:03] tgraf opened #5310 "FQDN rule for www.google.com does not allow over total set of IPs returned over time"
When testing with a rule that allows to FQDN www.google.com. The CIDR that the poller resolves is correctly plumbed down. That CIDR is constantly changing though and the actual request may go to another IP.

The list must be additive over a certain timespan.

[2018-08-23 07:35] eloycoto commented on #5295
I tested again, and this issue is reproducible with the following commands:
[code]
Evidence: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/5808/execution/node/91/log/?consoleFull
PR: https://github.com/cilium/cilium/pull/5302

[2018-08-23 09:13] joestringer opened #5312 "cilium_endpoint_regenerations{outcome="fail"} is incremented when compilation is skipped (but regeneration is otherwise successful)"
User @Kami-no on slack noticed the following metric being incremented on regular intervals:

[code]

However, when tracing the code, it seems like we're using the wrong condition to determine the success/failure of the regeneration (For some reason we're depending on `compilationExecuted`):

https://github.com/cilium/cilium/blob/c4edf467732baea250a7b283e50dace2e95b90d4/pkg/endpoint/policy.go#L677-

[2018-08-23 09:16] joestringer opened #5313 "False warning message: level=warning msg="Garbage collection on IPv6 CT map failed to finish" interrupted=0 subsys=map-ct"
In the IPv4 path:

https://github.com/cilium/cilium/blob/c4edf467732baea250a7b283e50dace2e95b90d4/pkg/maps/ctmap/ctmap.go#L518-L521

However, this is not done in the IPv6 path:

https://github.com/cilium/cilium/blob/c4edf467732baea250a7b283e50dace2e95b90d4/pkg/maps/ctmap/ctmap.go#L441-L443

So, unless the IPv6 CT map is empty (typically never due to Linux stack always generating *some* IPv6 neighb

[2018-08-23 09:19] joestringer opened #5314 "Request: Improve metrics by folding related metrics into a single metric, differentiated by labels"
@Kami-no suggested on slack that it would be useful to fold the l7 packet totals into a single metric that uses labels to differentiate denied/forwarded/parse_errors/received:

[code]
->
[code]

Note: The old metrics cannot be just renamed. They should be marked as deprecated and removed in a subsequent release.

[2018-08-23 09:41] Kami-no commented on #5314
also move `cilium_unreachable_health_endpoints` to `cilium_endpoint_state`
or join `cilium_unreachable_health_endpoints` and `cilium_unreachable_nodes`

[2018-08-23 09:50] joestringer commented on #5314
@Kami-no I think that those last ones are displaying distinct information:

* `cilium_unreachable_health_endpoints` reports failures in connectivity from the current node to a dedicated endpoint (hosting an HTTP API) on another node.
* `cilium_unreachable_nodes` reports failures in connectivity from the current node to another node (eg, network fabric issue).
* `cilium_endpoint_state` reports the

[2018-08-23 09:58] Kami-no commented on #5314
If `cilium_unreachable_health_endpoints` is for remote than it could be smth like this:
[code]

[2018-08-23 10:00] tgraf commented on #5314
@Kami-no What is the benefit of merged metrics like this? I understand the first example as denied + forwarded + parse_errors = total_received and we can get rid of that label but what is the advantage to you as a user?

[2018-08-23 10:07] Kami-no commented on #5314
When you make a dashboard in grafana with "remote problems" you need only one query for the graph.
When new labels for the metric will be created it'll appear in dashboard without human.

[2018-08-23 10:18] joestringer commented on #5299
Isn't this already taken into account here?

https://github.com/cilium/cilium/blob/c4edf467732baea250a7b283e50dace2e95b90d4/pkg/endpoint/policy.go#L678-L686

[2018-08-23 10:43] tgraf commented on #5299
That is the overall regeneration and it can be very misleading as the vast majority of the regeneration only require policy eval and will never compile. We can extend this with a label to mark samples that have included a compilation but we need some visibility into how long actual compilations take.

[2018-08-23 10:44] tgraf commented on #5314
Good point. That definitely makes sense and I agree with the proposal then.

[2018-08-23 10:45] joestringer commented on #5299
@tgraf Using the `EndpointRegenerationTimeSquare`, shouldn't we be able to determine the distribution of endpoint regeneration times and observe a bimodal distribution in a graph where the higher average time would include compilation time?

I appreciate that it's not strictly the same metric, though.

[2018-08-23 10:47] tgraf commented on #5299
I'm fine using that same metric as long as we can tell whether it is the actual compilation that takes long or whether it is potentially the endpoint lock.

[2018-08-23 10:52] joestringer commented on #5299
@tgraf I see, in that case I suspect that `EndpointRegenerationTimeSquare` won't provide that level of granularity.

[2018-08-23 10:55] tgraf commented on #5299
We can return a stats structure which includes whether:
- compilation was performed
- policy eval was performed but no compilation was needed
- policy was already calculated and thus policy eval was skipped

We can then add a label for each case. That will let us show exactly what the build latency is for all three major build cases.

[2018-08-23 11:12] eloycoto opened #5317 "Cilium Endpoint generation Context deadline"
# Summary

Found more than 70 messages of context-deadline in the logs. Endpoints are in not ready state.

# Build information

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1461/testReport/junit/k8s-1/11/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/
Logs:
[137e24ba_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/

[2018-08-23 11:19] enzian commented on #2495
hey, just wanted to check back in an thank you for addressing this :-)

[2018-08-23 11:46] #5313 closed, assigned to joestringer

[2018-08-23 12:21] #5298 closed, assigned to nebril

[2018-08-23 14:17] #5312 closed, assigned to joestringer

[2018-08-23 15:44] techcet opened #5320 "`Cilium monitor -t drop` doesn't show L7 drops"
### Title

`Cilium monitor -t drop` doesn't show L7 drops

### General Information

- Cilium version (run `cilium version`)
root@minikube:~# cilium version
Client: 1.2.0 23fde20 2018-08-15T17:30:44+02:00 go version go1.10.3 linux/amd64
Daemon: 1.2.0 23fde20 2018-08-15T17:30:44+02:00 go version go1.10.3 linux/amd64

- Kernel version (run `uname -a`)

minikube v0.28.0

- Orchestration system version

[2018-08-23 15:48] tgraf commented on #5320
They are not drops. You need to run with `-t l7`.

[2018-08-23 17:10] aanm opened #5322 "CI: Unable to ping endpoint with init policy. TTL exceeded"
[code]
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1461/execution/node/96/log/?consoleFull

[616c54a2_RuntimePolicies_Init_Policy_Test_Init_Ingress_Policy_Test.zip](https://github.com/cilium/cilium/files/2315272/616c54a2_RuntimePolicies_Init_Policy_Test_Init_Ingress_Policy_Test.zip)

[2018-08-23 17:12] aanm commented on #5322
Discussion with @joestringer we think it's because the endpoint's entry in the lxcmap is not written after the endpoint add API request is completed.

[2018-08-23 17:19] aanm opened #5323 "CI: cilium-node-monitor crashing cilium-agent?"
From the same cilium-agent logs:
[code]

[code]
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1468/
[b7cb0725_RuntimeKVStoreTest_Consul_KVStore.zip](https://github.com/cilium/cilium/files/2315507/b7cb0725_RuntimeKVStoreTest_Consul_KVStore.zip)

[2018-08-23 18:49] ianvernon opened #5325 "endpoint: remove policy-related options from endpoint lxc_config.h"
Instead, for policy, rely on the state of the PolicyMap for a given endpoint to allow or deny all traffic. This will remove the need for regenerating endpoints in the case where the number of rules selects an endpoint changes to / from zero. This does mean that the entire policy section of the datapath will be traversed regardless of if policy applies to the endpoint or not - unsure of possible pe

[2018-08-23 19:18] joestringer commented on #5322
Is the endpoint add API request always synchronous? I think this was changed for the CNI plugin some time ago, I wonder if this was changed in the core API code or if there is some difference in the client request which needs to also occur from the docker plugin.

[2018-08-23 20:53] #5320 closed, assigned to nobody

[2018-08-23 21:42] tgraf commented on #5323
Is this really a crash?

[2018-08-23 22:13] tgraf commented on #5317
It's because of proxy configuration timeouts:

[code]

[code]

[2018-08-23 22:56] rlenglet commented on #5317
More detailed timeline:
[code]

Envoy seems healthy. No error messages:
[code]

We see the NPDS cache get correctly updated with the new network policy for the pod (IP addresses `10.10.0.16` and `f00d::a0a:0:0:87db`:
[code]

However, we don't see Envoy query for it. We see only one xDS response, much earlier at 18:16:19.055, and that is only for listeners (not NPDS nor NPHDS):
[code]

Envoy is act

[2018-08-23 23:21] tgraf commented on #5317
Great analysis

[2018-08-24 02:29] techcet opened #5327 "`Cilium policy trace` result conflicts with actual behaviour"
### General Information

- Cilium version (run `cilium version`)
[code]
[cilium-sysdump-20180823-192558.zip](https://github.com/cilium/cilium/files/2316811/cilium-sysdump-20180823-192558.zip)

[test0yaml.txt](https://github.com/cilium/cilium/files/2316813/test0yaml.txt)
[kube-dnsyaml.txt](https://github.com/cilium/cilium/files/2316814/kube-dnsyaml.txt)

### How to reproduce the issue
1. deploy sta

[2018-08-24 08:22] tgraf commented on #5327
This is an egress drop and policy trace does not support egress yet. Duplicate of https://github.com/cilium/cilium/issues/3394

[2018-08-24 08:22] #5327 closed, assigned to nobody

[2018-08-24 08:53] #4289 closed, assigned to nobody

[2018-08-24 08:54] tgraf commented on #5305
Could be a dup of #5317

[2018-08-24 09:00] tgraf commented on #5173
[code]

Unfortunately this failure still includes endpoint locks in the time calculation so we can't tell whether it is the actual compilation or waiting for the endpoint lock that is causing this.

[2018-08-24 09:40] eloycoto commented on #5173
I'm not sure about that @tgraf

If you see where the log is checked:

https://github.com/cilium/cilium/blob/0c9728feab4f3354634e8db07512ac4b72a66137/pkg/endpoint/bpf.go#L637-L643

And if you see RunInit there is no lock in there:
https://github.com/cilium/cilium/blob/0c9728feab4f3354634e8db07512ac4b72a66137/pkg/endpoint/bpf.go#L269-L298

The only thing that I can think,  `e.getLogger` took time du

[2018-08-24 10:53] tgraf commented on #5173
Yes, that's what I meant. If we see this with the new lockless logger then it will be clear that it is the execution of the script that takes so long.

[2018-08-24 10:58] eloycoto commented on #5173
Ok, are we ok if we close this one if in one week do we not see this one?

Regards.

[2018-08-24 11:10] tgraf commented on #5173
Yes

[2018-08-24 12:05] nebril opened #5333 "[RFC] memcached L7 policy"
This is the issue to track discussion about L7 Memcached policy format and use cases. It focuses on binary memcache protocol, but use cases will be translated to text protocol

My proposal is:

### API structure
Memcache rules should be included in `pkg.policy.api.L7Rules` as an additional L7 rule slice.

memcache rule should should have following fields:
`opCode`: string specifying memcached opco

[2018-08-24 13:20] ianvernon opened #5335 "Documentation: document how to lock down an endpoint via addition of policy rules"
Currently, there is no documented way to specifically lock down an endpoint on a node without deleting all rules which select that endpoint, and then adding a deny-all rule which selects that endpoint. Based off of discussion on Slack, @tgraf proposed the following by using the notion of requirements (`toRequires` and `fromRequires`):

1. Add a label `compromised` [to the endpoint] and `reserved:n

[2018-08-24 14:10] ianvernon opened #5336 "policy API: validate labels that are provided in rules"
We convert LabelSelectors to Selectors after sanitization of rules:
https://github.com/cilium/cilium/pull/4790/files/560665c3cc0f7dedfd40824a820a9d023f62fce1..f059deccde55a01e81c87c877e343265a30c5faa#diff-b0326042630a4605955e89e1d50c385e

this means, theoretically, that we could have errors resolving policy after importing due to malformed labels. Move this logic to sanitization.

See:
https://git

[2018-08-24 15:09] #5281 closed, assigned to aanm

[2018-08-24 15:31] #5202 closed, assigned to tgraf

[2018-08-24 15:51] tgraf commented on #5317
This cannot be accurate as no compilation was performed as we would see a log message as per:
[code]

The timestamps also make it obvious that we are waiting within `WaitForProxyCompletions`:
[code]

[2018-08-24 17:41] rlenglet commented on #5317
@tgraf I was referring to an earlier regeneration where the context timed out before we add/remove listeners and before we start waiting for Envoy's ACK:
[code]
The problem when that happens is that the endpoint's state re: realized listeners is inconsistent with the xDS cache. That's the issue that is fixed in https://github.com/cilium/cilium/pull/5326.

[2018-08-24 18:22] ianvernon commented on #1368
This is no longer necessary due to #5325 removing these options.

[2018-08-24 18:22] #1368 closed, assigned to nobody

[2018-08-24 18:23] ianvernon commented on #2199
This is no longer relevant due to #5325, closing.

[2018-08-24 18:23] #2199 closed, assigned to aanm

[2018-08-24 18:26] tgraf commented on #5317
@rlenglet That seems to be for a different endpoint ID though, 58517 now vs 34779 before. I understand why 58517 broke and how your change applies there. What happened to 34779?

[2018-08-24 19:16] aanm opened #5348 "Create upgrade / downgrade test for `x.y` branches"
Instead of testing on master if we can do a upgrade / downgrade of already released version we should make sure every time we perform a backport to an old branch, those backports are tested against an upgrade to the master branch and a downgrade from master.

[2018-08-24 21:38] techcet opened #5349 "Map security identities to labels in `cilium monitor -t drop` messages"
## Feature Requests

### Title

Improve cilium monitor -t drop messages

### Description of requested functionality

L7 flow entries show great information on src/dst labels for drop. It would be great to provide similar user-friendly data in the L3 drops.

### Example use cases

User visibility and simplified troubleshooting.

e.g.
 L7 deny logs show tons of informative data:
[code]

but L3 drop

[2018-08-24 22:25] tgraf opened #5350 "Do not hide regeneration behind WaitingForIdentity state"
The following code:

https://github.com/cilium/cilium/blob/master/pkg/endpoint/bpf.go#L495

hides a regeneration behind the state WaitingForIdentity which does not make it transparent that a build is ongoing.

[2018-08-24 23:33] tgraf opened #5352 "Cilium declared unhealthy because of stale status data"
[code]

[2018-08-24 23:35] tgraf opened #5353 "Long lock: Map.OpenOrCreate()"
[code]

[2018-08-24 23:36] tgraf opened #5354 "Long Lock: allocator: StartRefresh()"
[code]

[2018-08-24 23:53] tgraf opened #5355 "Policy wait logic breaks when agent is restarted"
This is quite obvious in hindsight but we haven't seen this that often yet:

1. Policy is imported, revision is 75, CI starts waiting on rev 75
2. Cilium agent gets restarted
3. Local policy revision starts over and 75 will not be implemented for a while.

Observed in the CI via:
[code]

An option would be to store the local revision in the CNP status field per node and upon reimport. Go to the ma

[2018-08-25 00:01] tgraf opened #5356 "Long Lock: endpoint.regenerate()"
[code]

[2018-08-25 00:56] tgraf commented on #5352
This is not necessarily a bug but there is limited visibility on why the status is stale and whether the unhealthiness is legitimate.

[2018-08-25 09:25] tgraf opened #5361 "Cilium health agent consumes non-trivial amount of CPU"
This is recording with 5s sampling throughout a CI run. The consumption is not insane but also considerably high given what this agent is tasked with.

[code]

[2018-08-25 09:34] tgraf commented on #5317
Reopening as not all issues reported by this issue have been resolved yet.

[2018-08-25 15:50] tgraf opened #5365 "Further endpoint regeneration improvements"
The final goal is to reduce the need to recompute all state relevant for an endpoint via a single 'kitchen-sink' approach. Ideally we can handle different types of events from different parts of the cilium-agent.

[ Several comments have been integrated into this top level description ]

*High Level:*
- [x] reduce the number of calls to regenerate if possible for endpoints (I am trying to do this

[2018-08-25 16:09] ianvernon commented on #5365
We also limit the entire endpoint regeneration process based off of the number of CPUs present. This includes application of updated configuration, policy regeneration, PolicyMap updates, etc. We should maintain such a queue limited by number of CPUs, but only for *compilations* of the programs themselves. A lot of the time now, we don't even need to re-compile the programs, especially with change

[2018-08-25 18:42] ianvernon opened #5366 "proposal: update Cilium requirements to use go 1.11"
Go 1.11 has been released: https://golang.org/doc/go1.11

We should see if we can leverage it in Cilium.

* Update Documentation
* See if any code changes are needed in Cilium
* Update packer-ci-build to consume this
* Update Cilium builder images to contain go 1.11

[2018-08-25 18:44] ianvernon opened #5367 "proposal: explore use of go modules for dependencies in Cilium"
Now that go 1.11 has been released ( https://golang.org/doc/go1.11 ) we can explore whether using go modules is feasible for Cilium: https://golang.org/doc/go1.11#modules

[2018-08-27 09:58] #5059 closed, assigned to eloycoto

[2018-08-27 10:24] aanm commented on #5333
I think we should support both.

[code]

As `get` belongs to `opGroup: Read`, the `get: foo` won't matter and can be merged into the `opGroup: read` rule as they share the same key.

[2018-08-27 11:03] tgraf commented on #5333
For Kafka we used the term role. This also avoids a potential conflict if we use a group name now that eventually becomes an op code in the official spec.

[code]

We should introduce a separate field for the key name variants so we can ensure efficient implementation later on:

`keyExact:`
`keyPrefix:`
`keyRegexp:`

[2018-08-27 12:13] #5325 closed, assigned to joestringer, ianvernon

[2018-08-27 12:15] #5354 closed, assigned to nobody

[2018-08-27 12:55] aanm commented on #5367
I think we should hold on changing to go modules as it doesn't currently support importing a package that is used for code-generation, e.g., k8s code-generator.

[2018-08-27 14:04] aanm opened #5378 "CI: Revisit "multiple monitors" runtime test"
the `multiple monitors` failed in master and I'm unable to debug the problem as it doesn't contain the monitor.log in the zip file plus the test itself doesn't seem to be too deterministic.

https://github.com/cilium/cilium/blob/1796e7c7c9095404e65b7dec47f1291635f5201a/test/runtime/monitor.go#L251-L277

[0610bb3a_RuntimeMonitorTest_With_Sample_Containers_multiple_monitors.zip](https://github.com/c

[2018-08-27 14:30] eloycoto commented on #5295
Fixed by #5319

[2018-08-27 14:30] #5295 closed, assigned to nobody

[2018-08-27 14:41] eloycoto opened #5382 "1.3 New Prometheus metrics"
# Metrics

## Policy related

- [x] Number of endpoints with ingress policy enforcement #3338
- [x] Number of endpoints with egress policy enforcement #3338
- [ ] L7 latency #3337
- [ ] Count of policy operations labelled by operation={add, update, delete}

## Services

- [x] Number of services #3338 (https://github.com/cilium/cilium/pull/5580)
- [ ] Traffic used by a service?

## Endpoint

- [x]

[2018-08-27 14:43] aanm commented on #5365
@tgraf consider replacing https://github.com/cilium/cilium/blob/359943d562dfcf534794bb2a144706e530f758b4/pkg/endpoint/endpoint.go#L1384 with something faster like https://golang.org/pkg/encoding/gob. When doing this, it will require us to maintain that function for at least 2 releases to allow for downgrades without breaking the restore functionality.

[2018-08-27 14:47] ianvernon commented on #5063
@eloycoto any thoughts on this proposal? Another motivation to split these stages is to gain more insight into how long tests take vs. how long provisioning takes, which is useful in evaluating performance. I.e., if downloading something for provisioning the environment for testing is taking a long time, we can see clearly observe that. I'm happy to take this on / explore if it is even possible to

[2018-08-27 14:53] eloycoto commented on #5063
I think that make things difficult, and does not add a real value. If you want to know how long it take, you'll see in the junit output, so for me it's not a real value and It'll make things difficult (No Junit output, if one stage fails, the other will not run)

But your points are all valid.

[2018-08-27 14:55] tgraf commented on #5365
I think we would have to encode both for a while as otherwise, the downgrade will be a problem.

[2018-08-27 16:43] joestringer commented on #5366
Are there particular features we wish to take advantage of?

[2018-08-27 16:56] joestringer commented on #4400
Remaining work should be pretty quick, just passing arguments / env variables from YAML through the daemon to write to config files.

[2018-08-27 17:10] tgraf opened #5383 "Discussion: Backport criteria for 1.2"
We have seen some fantastic work around endpoint regeneration in terms of:
- Reduction of resource usage
- Visibility into how resources are spent

It is tempting to aggressively backport this to have the tooling available in the 1.2.x series in user clusters.

**Option 1:**

Backport almost all of the endpoint regeneration changes.

Pros:
 * Simple, conflict-free  backports
 * Ability to identify

[2018-08-27 19:01] ianvernon commented on #5383
I'm for the third option. I'm of the belief that release branches need to converge upon stability - this implies that bugs, not inefficiencies, that are discovered should only be the things fixed in the branch. Thus, unless there was a huge regression with performance from say 1.1 to 1.2, we should not backport performance improvements. Performance improvements make great "features" for 1.3 as wel

[2018-08-27 21:47] ianvernon opened #5384 "CI: NodePort test failed due to curl failing with exit code 28"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1499/testReport/junit/k8s-1/8/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

Output:
[code]

Logs:

[code]

[ab2fda27_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2325743/ab2fda27_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2018-08-27 22:45] rlenglet commented on #5317
In cilium-n8cvc, all endpoints are `not-ready`, all because of context deadline exceeded during regeneration:
[code]

Note that only endpoints 32680 and 58517 (the ones for which we saw Envoy redirects getting created) have a policy enforced:
[code]

There were 62 BPF regenerations, of which 15 took more than 55 seconds:
[code]
[code]

The first very suspicious regenerations (2m15 and 2m24) happen

[2018-08-27 23:55] rlenglet commented on #5317
I'll first focus on endpoint 58517, since it is the first endpoint to experience a regeneration timeout.
Its first 2 regenerations are successful:
[code]

Then the 3rd one times out:
[code]

The `BPF compilation completed` log message indicates an actual BPF compilation time of 2m15, and all subsequent compilations exceed the timeout:
[code]

So all the time was spent in BPF compilation in the reg

[2018-08-28 01:28] rlenglet commented on #5317
Note that the first two BPF compilations that timed out were concurrent:
[code]
So it appears that something independent from the endpoints or even the Cilium Agent started using CPU and caused these timeouts. I would assume something in the environment.

`cilium-node-monitor` starts reading the perf buffer during that time, at 18:07:24:
[code]

When `cilium-node-monitor` starts reading the perf b

[2018-08-28 02:00] rlenglet commented on #5317
Now switching to endpoint 34779. Starting from 18:19:40, all endpoint regenerations start failing with an Envoy proxy configuration timeout. Even endpoints that have no policy enforced. Endpoint 34779 is the first endpoint with no policy enforced to see such a timeout.
[code]

In the failing regeneration, the BPF program is not recompiled. We see 55 seconds elapse between the BPF file hash and the

[2018-08-28 02:20] ianvernon commented on #5366
@joestringer I'm interested in how we can utilize go modules, but it is still experimental. I'd love to be able to move away from having the `vendor` directory in our repo.

[2018-08-28 02:32] rlenglet commented on #5317
The cause for all the proxy timeouts was actually the inconsistency between the endpoint and proxy manager state. That has been fixed in https://github.com/cilium/cilium/pull/5326.

Here's what happened:

1. Due to compilation timeouts, at 18:16:18 and 18:16:24, the Cilium agent and the xDS cache become inconsistent. The agent believes that 2 listeners have been created, for endpoints 58517 and 32

[2018-08-28 05:39] danwent commented on #5333
We may want an "admin" role as well, which has things like verbosity, stats, etc. that probably shouldn't be queried by any regular client.

There are also commands like noop and version that might be used by clients of any type to "ping" the server, and so perhaps should be allowed in all roles.

Its also worth specifying what items can be wildcarded.  For example, allowing all actions in a parti

[2018-08-28 06:45] eloycoto commented on #5384
discussed yesterday in slack with @tgraf https://cilium.slack.com/archives/C7PE7V806/p1535389694000100?thread_ts=1535384871.000100&cid=C7PE7V806

[2018-08-28 08:21] tgraf opened #5387 "Fatal error in AddListener"
[code]

I assume this relies on the proxy port always being unique but the fatal has pretty serious implications as it brings L7 connectivity down on the entire node.

Same for remove:
[code]

[2018-08-28 08:34] tgraf commented on #5317
Is #5326 really a complete fix? We don't really know that the listener exists until Envoy has ACKed the change. Wouldn't it be a lot more reliable to always remove a newly created redirect from `e.realizedRedirect` if we are not receiving an ACK?

We have similar logic for BPF maps where newly created BPF maps are deleted again i a deferred function if the regeneration fails.

[2018-08-28 08:43] #4896 closed, assigned to joestringer

[2018-08-28 10:24] ishantanu commented on #4758
@joestringer Can you give an idea what needs to be written in the buffer for `TUPLE_F_SERVICE`? Is it something like `buffer.WriteString("service")` (similar to `TUPLE_F_RELATED`)?

[2018-08-28 10:31] techcet opened #5390 "Cilium upgrade does not proceed when a node is lost"
Encountered an issue with Cilium upgrade when a node is lost. Updated the Cilium DaemonSet and the older Cilium containers proceeded to terminate. One out of 6 did not, and it appears because a node is `NotReady` and the node is lost. New Cilium agents never came up.

Also, cluster-diagnosis takes more than 35 mins to run.

- Cilium version (run `cilium version`)
-> moving from 1.2.0-rc3 to 1.2.1

[2018-08-28 12:43] tgraf opened #5393 "unable to remove proxy redirects: rlock failed: endpoint is in the process of being removed"
The following warning is being observed in 1.2.1. master is already fixed.

[code]

I've inspected this and it seems harmless as #5326 has fixed that the update is pushed through and the listener should be removed regardless of the waiting for the ACK bailing out.

[2018-08-28 12:43] tgraf commented on #5393
Closing under the assumption that harmless and already fixed in master

[2018-08-28 12:43] #5393 closed, assigned to nobody

[2018-08-28 13:20] tgraf commented on #5390
@techcet What exactly is your expectation? The node is lost and the apiserver cannot give the instruction to that node to shut down the cilium pod. I'm not sure Cilium can do much here.

[2018-08-28 14:19] ianvernon commented on #5384
@eloycoto thanks. Putting the info you wrote down from there on this ticket so it's all located together:

" About the nodeport, example:

[code]

If you see this one, when you executed curl, the TCP-connection is >0, it's a
bit weird that curl cannot connect in 3 seconds, it's a bit weird, I can expect
that from response from there, but TCP connect it's a bit weird.

Example:

[code]
"

[2018-08-28 14:22] tgraf commented on #5384
I think we should run with ` --max-time` that is at least 5 seconds above `--connect-time` so we can tell whether the timeout happened during connect phase or whether it was interrupted during transmission.

[2018-08-28 14:28] ianvernon commented on #5384
I am debugging this to see if there is a timing issue with the test itself - it is possible that the service itself may not be plumbed to Cilium?

The test code:
https://github.com/cilium/cilium/blob/cf87b119e444b030de0e19513d95b42fe5342b94/test/k8sT/Services.go#L179-L196

We wait for pods to be ready. How do we know that Cilium is ready to route the traffic at the specified IP / port, though? We

[2018-08-28 14:32] ianvernon commented on #5384
From the Jenkins console output, here are the times when the test started / ended:

[code]

[2018-08-28 14:34] ianvernon commented on #5384
The `testHTTPRequest` function fails the first time that a service is unreachable:

https://github.com/cilium/cilium/blob/cf87b119e444b030de0e19513d95b42fe5342b94/test/k8sT/Services.go#L87-L104

[2018-08-28 14:38] eloycoto commented on #5384
@ianvernon is not the first time no? see the output from test-log.

[code]

[2018-08-28 14:43] ianvernon commented on #5384
Unfortunately, the `kube-proxy` logs from the attached log archive are pretty useless:

[code]

I will see if we can find out when the NodePort service was sent to kube-proxy? This is done before the tests are ran:

https://github.com/cilium/cilium/blob/cf87b119e444b030de0e19513d95b42fe5342b94/test/k8sT/Services.go#L156-L159

The `K8sServicesTest` started at 13:52:49, and passed the first test in

[2018-08-28 14:44] ianvernon commented on #5384
@eloycoto the code specifies that it fails the first time that the service is *unreachable* - this lines up with the output that you pasted above. This isn't an issue per-se; I'm just noting down any observations I make that may be helpful in triaging this issue.

[2018-08-28 14:59] tgraf opened #5397 "Identity master keys disappeared"
Identity master keys were missing for identities still in use:
[code]

Further debugging revealed:
1. The identity master key was deleted for some reason during the node additions. The current suspicion is a bug in the garbage collector but no bug has been found yet.
2. The deletion of the identity master key causes all nodes to lose the identity information except when a node has a local endpoint

[2018-08-28 15:11] techcet commented on #5390
@tgraf It was a worker node that was lost so I expected all the other nodes to bring up Cilium agents.

[2018-08-28 15:16] tgraf commented on #5390
The DaemonSet as shipped in 1.2 includes a `maxUnavailable: 2` update strategy which would likely prevent this as it would cause k8s to bring up cilium pods before all pods are shut down. It's not really Cilium that prevents the bootstrapping from happening. The default behavior of k8s is to wait with starting new pods until all replicas of an old DaemonSet have been shut down.

[2018-08-28 16:14] tgraf opened #5399 "Identity master key is missing after restore"
How to reproduce:
1. Bring up Cilium with endpoints
2. Shutdown Cilium
3. Manually delete one or more identity master keys while leaving the value keys behind
4. Start Cilium again
5. Cilium will re-use the correct identity, list the identity and resolve the identity but no master key is created

[2018-08-28 16:52] ianvernon commented on #5384
The `test-nodeport` service was created two times:

[code]

This instance was removed:

[code]

It was created again:
[code]

[2018-08-28 16:55] ianvernon commented on #5384
`iptables-save` output from this test. We use iptables for NodePort traffic:

from `cilium-mjrll/cmd/iptables-save.md`:
# iptables-save

[code]

And from `cilium-sc7gn`:

# iptables-save

[code]

[2018-08-28 16:57] ianvernon commented on #5384
@tgraf anything out of the ordinary with the above `iptables` configuration for `test-nodeport`?

[2018-08-28 16:59] ianvernon commented on #5384
One thing to note is that the `K8sChaosTest` ran right before this test, which uses the same `demo_ds.yaml` as the `K8sServicesTest`. This could be an issue where tests are interfering with each other. I'll see if I can reproduce this locally by running the `K8sChaosTest` locally and then the `K8sServicesTest` right after.

[2018-08-28 18:25] ianvernon commented on #5384
I tried this locally with a K8s 1.11 setup. With said setup, I'm unable to reproduce this locally by running the following commands:

[code]

I'll try this with a K8s 1.8 setup since that's the K8s version used when the tests failed. Will post my findings here.

[2018-08-28 19:08] ianvernon commented on #5384
Provisioned a K8s 1.8 setup locally, and ran the following statement:
[code]

but it passed. I'll run it in a loop to see if I can reproduce it some time.

[2018-08-28 23:56] rlenglet commented on #5317
In short, until we receive an ACK from Envoy for any revision, we can't know in what state Envoy is.
What happens if we don't receive an ACK for the 2nd update (to revert)? If the 1st update didn't succeed, and we didn't receive an ACK for it, there's a high chance that we won't receive an ACK for the 2nd update.
So I don't think this will work in practice.

[2018-08-29 00:03] tgraf commented on #5317
We can't just leave it unfixed. The first major problem is having state in `e.realizedRedirects` that is inaccurate as we never recover from it and the endpoint will be inaccessible forever. That can be avoided by only populating `e.realizedRedirects` if we have received an ACK.

[2018-08-29 00:09] rlenglet commented on #5317
`e.realizedRedirects` represents what is in the xDS cache. We need to keep that information. I'd be ok with renaming it, and adding a field `e.realizedRedirects` to track the ACKed redirects. I'm not sure what that would give us, though.

[2018-08-29 00:12] rlenglet commented on #5317
Now, I think there would be value in reverting xDS cache updates & waiting for an Envoy ACK in the case the BPF compilation times out, like we've seen in this issue.
In the case we time out while waiting for an ACK from Envoy, we can also revert the state in the xDS cache, but I wouldn't wait for an ACK in this case.

[2018-08-29 00:13] rlenglet commented on #5317
I could also try moving all xDS cache updates until after BPF compilation, and do that only if we're sure that BPF compilation has not timed out. That would reduce the need to revert xDS cache updates.

One drawback is that it may make regeneration longer, since we wouldn't parallelize the start of Envoy and its configuration / ACK.

[2018-08-29 07:18] #5397 closed, assigned to nobody

[2018-08-29 10:22] vadorovsky commented on #5382
Please include also #4268

[2018-08-29 10:46] #3673 closed, assigned to ianvernon

[2018-08-29 11:29] tgraf commented on #5317
I'm not very opinionatd on the actual implementation but it has to be reliable and eventually consistent. Being in a situation where we wait for an ACK from an unconfigured Envoy is unacceptable.

[2018-08-29 14:02] ianvernon commented on #5384
Ran the tests in a loop for 10 hours, and got no failures occurring locally.

[2018-08-29 15:02] ianvernon commented on #4767
Now that policy updates do not affect the configuration of an endpoint, (#5294), this is being done over a variety of tickets:

* https://github.com/cilium/cilium/pull/5410
* https://github.com/cilium/cilium/pull/5324

This means that policy generation is no longer aware of endpoint configuration at all.

[2018-08-29 15:11] ianvernon opened #5416 "endpoint: add extensive unit tests around generation of policy with respect to a specific endpoint"
There has been a long, ongoing effort to decouple datapath updates from occurring at the same time as policy generation occurs. Doing so ensures that datapath updates are done in a specific critical section of the code (`regenerateBPF`). There is also an ongoing effort to extract updating of separate fields of the endpoint (configuration vs. policy) from `regeneratePolicy` (#4767). Once that is do

[2018-08-29 18:25] RobertTheProfessional commented on #5088
I got hostPort working with the Cilium CNI by configuring a custom CNI plugin chain as followed:

[code]

Should be a simple fix, no?

[2018-08-29 18:57] tgraf commented on #5088
@RobertTheProfessional Awesome. We should definitely add this to the docs. We will likely still consider adding native support

[2018-08-29 19:27] ianvernon opened #5419 "Documentation: update HTTPRule examples to have correct capitalization in examples"
Starting with K8s 1.11, whose client libraries Cilium uses,  variations of 'http' w.r.t. capitalization are not accepted:

https://kubernetes.io/docs/setup/release/notes/#urgent-upgrade-notes

I.e., the following policy should use `http` instead of `HTTP` for the http rules:

[code]

Update the examples here to reflect this requirement: https://github.com/cilium/cilium/tree/master/examples/policie

[2018-08-29 19:39] ianvernon opened #5420 "k8s: reject CNP CRDs using incorrect L7Rule types"

[2018-08-29 19:45] RobertTheProfessional commented on #5088
Sounds good to me!

[2018-08-29 19:55] ianvernon commented on #5420
I'm interested in seeing how this code works, so I'll take a crack at this.

[2018-08-29 20:38] joestringer commented on #4082
I was playing around with the idea that deprecated code could be wrapped in something like:

[code]

Then, we either have a runtime check in `versioncheck.Deprecated()` that calls `Fatalf()` with a callstack if the version is beyond the specified version, or alternatively have a shell script invoked during postcheck that greps around for these lines and fails at buildtime.

We could set it up so t

[2018-08-29 20:48] tgraf commented on #5419
We need to update the upgrade guide as well

[2018-08-29 20:50] joestringer opened #5421 "Tunnel routes for remote nodes are not removed when the node is removed"
Reported by @anitgandhi:

The `deleteIPRoute()` call at the top of the following code only handles removing the IPv6 route for the specified node:

https://github.com/cilium/cilium/blob/ba414289ecebd7e9fb1adbca91e857d8fc72b3cd/pkg/node/manager.go#L304-L308

So, when the node is removed from the clusterConfiguration and `replaceHostRoutes()` is called, it will not remove the local routes which dire

[2018-08-29 20:55] tgraf commented on #5421
I was originally hesitant to remove the routes so we don't just stop all communication just because a node is temporarily lost but given that we back it up with the kvstore these days I think it's fine to remove the routes.

[2018-08-29 21:36] tgraf commented on #5383
I think enough time has passed for people to raise concerns and comment.

*Summary of discussion in development meeting:*
* We will be conservative with backports.
* The endpoint generation improvements will be made available in 1.3 unless the fix has a major impact on 1.2.
* Visibility into endpoint regeneration durations may be nominated for backport if the need arises.

[2018-08-29 21:36] #5383 closed, assigned to nobody

[2018-08-29 23:04] joestringer opened #5423 "Rebase netlink library"
After https://github.com/vishvananda/netlink/pull/382 is merged, rebase against the newer version of the library.

* [x] Rebase netlink dependency (#5948)
* [x] Fix up error checking when creating Qdiscs

https://github.com/cilium/cilium/blob/7bd249800ad305bed17985447f55af7e05c4b32d/pkg/datapath/loader/netlink.go#L47-L56

[2018-08-29 23:53] ianvernon commented on #4767
#5410 and #5324 have decoupled endpoint configuration updates from endpoint policy generation. Closing this.

[2018-08-29 23:53] #4767 closed, assigned to ianvernon

[2018-08-30 00:06] ianvernon opened #5424 "endpoint: explore removal of `ForcePolicyCompute`"
This field is only used for `PATCH /endpoint/{id}` requests, and if an endpoint's identity (labels) have changed.

It appears to be used to break out of optimization logic used to not have to regenerate the policy for a given endpoint. Explore other preexisting state we can use to encode this information and reduce the amount of state kept within endpoint.

[2018-08-30 02:58] eldin77 opened #5425 "Request fails in all nodes every 5 minutes and when k8s service metadata is updated."
## Bug reports

### Title
Hi again,
Thank you for #4510.
After that time, I have tested a lot and found some problems :).

I tested sending requests from pod to cluster IP.
I monitored the result, but there were request fails without any controls.
It irregularly happened in all nodes about every 5 minutes. In this case, the revision number of Kubernetes resource is increased.
Furthermore, when I t

[2018-08-30 07:47] jiaxuanzhou opened #5429 "value of numWorkerThreads"
https://github.com/cilium/cilium/blob/ba414289ecebd7e9fb1adbca91e857d8fc72b3cd/daemon/daemon.go#L1672
due to the definitions, should not the value of numWorkerThreads inited to 4?

[2018-08-30 07:51] aanm commented on #5429
Hey @jiaxuanzhou , the definition is not correct. `numWorkerThreads` should be initiated with 2. Feel free to make a pull request with that fix :smiley:

[2018-08-30 12:23] aanm commented on #5425
Hey @eldin77 let me just start by saying this is an excellent description of a bug. As a first step I'll try to replicate it on my side. (Which I'm sure I'll see the same bug but I just want to understand better the client and the type of requests that are being sent)

In the meanwhile can you try to replicate the issue with `cilium/cilium:latest`? There was a recent PR https://github.com/cilium/c

[2018-08-30 13:09] eldin77 commented on #5425
@aanm , Thank you for your fast reply. I have used the version below.
[code]
Yeah, so... I have just tried to test this issue with cilium/cilium:latest, and I can unfortunately still see the same. I'm sending HTTP requests, and they fails every 5 mins.

[2018-08-30 13:20] eldin77 commented on #5425
@aanm Please tell me if I can have something to help you for the test. It will be my pleasure. Thank you!

[2018-08-30 17:04] #5419 closed, assigned to nobody

[2018-08-30 17:32] anitgandhi commented on #5088
@RobertTheProfessional did you just save that as an additional `.conf` in `/etc/cni/net.d/` and restart kubelet?

[2018-08-30 17:58] RobertTheProfessional commented on #5088
Yes, however only one CNI plugin can be loaded at a time. Therefore, the configuration must be prefixed with a value that will denote it as the first file in the path.

[2018-08-30 18:29] ianvernon opened #5437 "CI: unit test failure for IdentityAllocatorEtcdSuite.TestAllocator"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1525/execution/node/58/log/

Output:
[code]

[2018-08-30 18:34] ianvernon commented on #5384
Another failure: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3860/testReport/junit/k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

Note that this is with the updated `curl --max-time` code from #5411 .

Output:

[code]

Service list output for both cilium pods:
[code]

[code]
Logs: [89416437_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://gi

[2018-08-30 18:35] ianvernon commented on #5384
Another failure as well: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3863/

I will look at the one from 3860 to see if I can do any more triaging to root-cause this.

[2018-08-30 18:43] ianvernon commented on #5384
The following debugging is for build 3860:

Kubernetes NodePort service has IP `10.103.135.60`. This matches the `cilium service list` output for both nodes above:

[code]

[2018-08-30 18:50] ianvernon commented on #5384
EDIT - I somehow was looking at two different test directories and confused myself.

The BPF LB map contents for each Cilium pod:

# cilium-7gxv9 bpf lb list

[code]

# cilium-txljh bpf lb list

[code]

[2018-08-30 18:53] ianvernon commented on #5384
The curl command was ran against `testclient-65j4l`:

[code]

This pod was running on node k8s1:
[code]

Cilium pod running on k8s1:
[code]

[2018-08-30 19:03] ianvernon commented on #5384
Endpoint list output for `tstclient-65j4l`:
[code]

[2018-08-30 19:07] ianvernon commented on #5384
I was hoping to check `monitor.log` for information about where packets traversed throughout Cilium but there is no useful output:
[code]

cc: @nebril

[2018-08-30 19:43] ianvernon opened #5438 "endpoint: save headerfile contents in memory to avoid hashing to determine if program recompilation is needed"
We can store the current state of the endpoint headerfile in some type of "realized state" within the endpoint. When computing policy, we can populate the endpoint's "desired state" for its headerfile. This will reduce the amount of IO we have to perform, specifically hashing headerfile contents from the host and comparing with the next headerfile for the endpoint.

The following dummy `lxc_config

[2018-08-30 21:11] anitgandhi commented on #5088
Thanks; I saved it as `000-cilium-portmap.conflist` and it worked 👍

[2018-08-30 21:13] ianvernon commented on #5438
Endpoint fields which are used during compilation:

* LXCMac
* IPv6
* IPv4
* NodeMAC
* Endpoint ID (host and network byte order)
* Security Identity (host and network byte order)
* Policy map
* Calls map
* CT Map Size
* CT Map 6
* CT Map 4
* LB_L3 (always enabled)
* LB_L4 (always enabled)
* IPCACHE_6_PREFIXES
* IPCACHE_4_PREFIXES

And the configurable endpoint options:

* ConntrackAccounting
* Con

[2018-08-31 05:59] rlenglet commented on #5317
My take would be:
- Refactor the wait for Envoy ACK in regeneration so that the completion wait group’s context doesn’t have a timeout anymore. The timeout would be purely local to the call to WaitForCompletion... That way, the time taken to recompile BPF won’t be counted towards the Envoy ACK wait anymore.
- In case of an Envoy ACK timeout, revert the changes to Listeners and NetworkPolicy in the

[2018-08-31 06:01] rlenglet commented on #5317
And in case of a NACK for a Listener creation due to a port conflict, we should quarantine the port, as Jarno proposed.

[2018-08-31 13:31] tgraf commented on #5425
Yes, seems very likely that the service update code introduces a quick outage for some reason. A possible explanation could be that the service ID changes unnecessarily.

[2018-08-31 14:31] ianvernon commented on #5425
I have a hunch about why this is occurring.

When we update a K8s service, we call `daemon/k8s_watcher.go:addK8sEndpoint`. Within that, we call the following function:

https://github.com/cilium/cilium/blob/33cca89760fb23d9b5daa0cff56f2143aa30c361/daemon/k8s_watcher.go#L988

This eventually deletes the existing entry for the service, before re-adding it in the following code:

https://github.com/c

[2018-08-31 14:55] ianvernon commented on #5425
We can also work to mitigate this to see if the service has changed in the call to update it before calling `syncLB` - this won't solve the issue for services that actually are updated, though.

[2018-08-31 15:05] ianvernon opened #5444 "Track additional state for a build within an endpoint RegenerationContext"
Being able to track state about a specific regeneration is quite useful in Cilium. To trigger certain events in policy calculation in Cilium, we have fields in Endpoint like `forcePolicyCompute` which were added in order to trigger certain behavior on certain regenerations. Instead of storing such information in the endpoint, store it in an `endpoint.RegenerationRequest`, which is passed down thro

[2018-08-31 15:10] ianvernon commented on #5444
I'd propose the following:

[code]

Thoughts?

[2018-08-31 17:58] joestringer commented on #5438
For what it's worth, `bpf/lxc_config.h` may be out-of-date compared to exactly what is generated in a real config file. Might be good to get a real, generated `lxc_config.h` file to compare.

[2018-08-31 21:11] aanm commented on #5425
1) A possible fix is in #5449 but that PR will not be backported to 1.2.

2) I can create a backport PR with the @ianvernon suggestion.

Both 1) e 2) won't address the issue for services that are actually modified, i.e., a new backend IP ("endpoint" in k8s nomenclature) for a service is added/removed.

Is it possible modify the lb bpf map sort of atomically? For example, using a golang mutex to co

[2018-08-31 23:49] aanm commented on #5085
@tgraf This issue doesn't seem to be Cilium related and it's fixed since k8s >= 1.11 https://github.com/kubernetes/kubernetes/issues/67245

[2018-09-01 00:07] #5085 closed, assigned to nobody

[2018-09-01 16:31] jrfastab opened #5454 "Downgrade from 1.2 to 1.0 requires CT clean state"
### Title : Downgrade from 1.2 to 1.0 requires CT clean state

### General Information

#5197
#5230

Upstream fixes exist (above PRs) but a direct backport would have required a larger rework then simply pushing patches onto 1.x branches. To resolve this,
[code]

### How to reproduce the issue

Downgrade from 1.2 to 1.0 on a newer kernel with LRU support.

[2018-09-01 16:50] jrfastab commented on #3767
backport labels removed from #4354 remove them here as well.

[2018-09-01 16:53] jrfastab commented on #3821
This is old, dropping needs-backport tag. Feel free to add it back on specific PRs if needed.

[2018-09-01 16:54] tgraf commented on #5437
Saw this locally as well a couple of times.

[2018-09-01 16:58] jrfastab commented on #4248
@joestringer The above referenced backports  was closed with unmerged commits. Does this issue need to be backported still? Or if not can you provide some insight. Thanks.

[2018-09-02 13:19] jrfastab commented on #5454
Update description and title to only include 1.0 the 1.1 has necessary patches.

[2018-09-03 07:16] Kami-no commented on #5293
It perfectly works with [MetalLB](https://metallb.universe.tf/tutorial/layer2/)

[2018-09-03 08:22] eldin77 commented on #5425
@aanm I'm testing again and again, and 1.0.x also makes the issue too... It tested 1.0.x quite in the past, and It was OK. However, It has the same issue now. I don't know why... maybe the problem of testing environment.. Sorry for telling this late.

[2018-09-03 14:37] tgraf commented on #5425
@eldin77 That is actually a relief. We have a theory on why this behavior exists and it would also apply to 1.0.x so we were looking beyond that theory as well.

[2018-09-03 18:24] #5437 closed, assigned to tgraf

[2018-09-04 10:00] raybejjani opened #5472 "runtime.RuntimeVerifier runs the kernel verifier against the tree copy of the BPF datapath"
I think `RuntimePolicies_TestsEgressToHost_Tests_Egress_To_Host` ran before this, grepping for the minute timestamps (`grep -inr '2018-09-01T15:47' *`) but the logs there look ok, although the cilium logs end sooner than the test logs.

Since the verifier test simply restarts cilium once it is done, and the only endpoint is the health endpoint, it's a little odd to me.

https://jenkins.cilium.io/j

[2018-09-04 10:41] aanm opened #5473 "Create script / k8s job to do a pre-check of the k8s cluster making sure it's suitable to install Cilium"
Basically all of min requirements that Cilium needs:

- [ ] Check kernel version
- [ ] Check Kubernetes version
- [ ] Check docker version(?)

[2018-09-04 10:47] aanm commented on #5473
cluster-diagnosis.zip would be the right tool for the job but it doesn't run a kernel check for all nodes.

[code]

[2018-09-04 18:40] ianvernon opened #5479 "Update CODEOWNERS to have pkg/spanstat owner"

[2018-09-04 19:59] joestringer commented on #5479
What do you suggest? Metrics?

If it changes often, I think it makes sense to have some specific owner; but if it doesn't change often, then having the janitor take a look seems fine to me.

[2018-09-05 14:52] aanm commented on #5038
This can still happen. I've re-open it.

[2018-09-05 14:53] ianvernon commented on #5038
@aanm can you clarify?

[2018-09-05 14:57] aanm commented on #5038
@ianvernon https://github.com/cilium/cilium/pull/5486#issue-213324402

[2018-09-05 15:55] tgraf commented on #5038
@aanm Fantastic catch!

[2018-09-05 16:18] joestringer commented on #2976
FYI https://github.com/cilium/cilium/pull/5480 is refactoring the CT map code to make the CT maps more accessible, so this bug should become much easier to address once that goes in.

[2018-09-05 19:40] anitgandhi commented on #5088
For what it's worth to anyone else that comes along:

I had to save this in `/etc/cni/net.d/000-cilium-portmap.conflist`:

[code]

either before kubelet comes up, or save that file then restart kubelet

[2018-09-05 22:45] #5038 closed, assigned to aanm

[2018-09-05 23:47] tgraf opened #5489 "CI: clang-3.8: error: unable to execute command: Killed"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/3935/testReport/k8s-1/11/K8sUpdates_Updating_Cilium_stable_to_master/
[6ddf806b_K8sUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2354918/6ddf806b_K8sUpdates_Updating_Cilium_stable_to_master.zip)

[code]

[2018-09-06 00:59] tonylambiris commented on #5095
FWIW I am the maintainer of the https://aur.archlinux.org/packages/cilium-git, here is a list of a git build from last night:
[code]

Also in RHEL I had to make sure llvm was installed (or just `dnf install -y /usr/bin/llc`)

[2018-09-06 07:41] danwent opened #5491 "Install docs should indicate that cilium must be able to run as a privileged container"
we had a user in slack who reported that cilium pods were failing to create.

"kubectl get pods" returned:

[code]

User noticed that kubectl describe pods on a cilium pod returned: pod with UID "ce6ff0a9-b1a3-11e8-a2ba-42010af0000b" specified privileged container, but is disallowed

It turns out that this "blocked" status occurs for privileged containers when kubelet has not been pass the "--allo

[2018-09-06 07:48] aanm opened #5492 "CI: Failed to compile bpf_lxc.o: signal: killed"
I got this error in one of the builds.

I don't know why it did happen nor if it's a real bug.

[cb2dcde2_K8sUpdates_Updating_Cilium_stable_to_master.zip](https://github.com/cilium/cilium/files/2356024/cb2dcde2_K8sUpdates_Updating_Cilium_stable_to_master.zip)

Build: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/779/
PR: https://github.com/cilium/cilium/pull/5430

[2018-09-06 09:46] leoh0 commented on #5425
@aanm @tgraf @ianvernon

Hi, first of all, thanks for great project. I'm testing it with @eldin77. We're running a test with https://github.com/cilium/cilium/commit/05e99f3124e81e1c697a547327908bcb6c33c5d8 commit, and it contains #5469, #5475. As we continue to test with locust, I think the problem is narrowing down overall so I want to share our updated testing result.

Unfortunately, still conne

[2018-09-06 16:14] joestringer commented on #5492
Seems like the process was terminated by something. Not sure if this is how it shows if context deadline is exceeded from Cilium Golang code, or could otherwise occur if for example there is memory pressure and the kernel OOM-killer kills the clang process (Check the kernel logs?).

[2018-09-06 16:17] tgraf commented on #5492
This is a DUP of #5489

[2018-09-06 16:27] #4268 closed, assigned to eloycoto

[2018-09-06 16:55] jmuzsik commented on #2976
Will look into it!

[2018-09-06 18:23] tgraf commented on #5425
@leoh0

This is still a bit of a mystery to me. It implies that the connection received an RST for some reason. I'm trying to reproduce the RST but I can't. Do you happen to have a `tcpdump` for when this happens?

The main difference between endpoints changing and services changing is that we consider a policy recalculation because endpoints changing can have an impact on `toService` policies.

[2018-09-06 22:07] techcet opened #5496 "Cilium monitor shows drops due to L3 policy despite identities being resolved and policy allowing flow"
## Bug reports

### Title

Cilium drops due to L3 policy despite identities being resolved and policy allowing flow

### General Information

- Cilium version
cilium version
Client: 1.2.1 dc3ec61 2018-08-25T11:06:40+02:00 go version go1.10.3 linux/amd64
Daemon: 1.2.1 dc3ec61 2018-08-25T11:06:40+02:00 go version go1.10.3 linux/amd64

- Kernel version (run `uname -a`)
]Linux ip-172-0-183-248.us-west

[2018-09-06 23:07] techcet commented on #5496
Managed to reproduce the issue and grab a sysdump simultaneously:

https://covalentio.atlassian.net/browse/COV-2425

[2018-09-06 23:08] techcet commented on #5496
The expected behaviour is the following drop should be allowed to pass:

`xx drop (Policy denied (L3)) flow 0x12656fc2 to endpoint 0, identity 10839->7479: 10.2.1.104:49296 -> 10.2.2.169:53 udp
`

[2018-09-07 06:51] leoh0 commented on #5425
@tgraf

I attached a link to the results generated when I updated the `metadata.annotations` on the `k8s nodejs-simple-server endpoint`.
And currently all worker requests HTTP GET to http://nodejs-simple-server.pt.svc.cluster.local:3000 (which is 10.108.27.179:3000).

I think you can check the RST packets below `cilium monitor` gist link.
[code]
whole `cilium monitor` command log
https://gist.gith

[2018-09-07 13:35] tgraf commented on #5425
@leoh0 @eldin77 We found the bug. Fix is coming.

[2018-09-07 16:25] joestringer commented on #5492
Closing as duplicate.

[2018-09-07 16:25] #5492 closed, assigned to nobody

[2018-09-07 18:04] joestringer commented on #5322
@aanm how frequently do we hit this?

[2018-09-08 00:39] tgraf commented on #5425
@leoh0 @eldin77 #5502 is providing a fix for the issue. We are testing this with a streaming connection while updating the annotations in parallel. Would be great if you could confirm that this fixes the issue for you as well. We have built a custom dev image `cilium/cilium-dev:v1.2.2-rc2` to include this fix.

[2018-09-08 01:35] joestringer commented on #5454
Just need #5504 merged and a minor doc change to set `clean-cilium-bpf-state` to true.

[2018-09-08 02:42] #5425 closed, assigned to aanm

[2018-09-08 03:44] leoh0 commented on #5425
@tgraf Great! I checked all the existing problems for a few hours and confirmed that `cilium/cilium-dev:v1.2.2-rc2` had no problems at all.

[2018-09-08 03:57] tgraf commented on #5425
Awesome. Thanks for testing!

[2018-09-08 15:37] gjmzj commented on #4989
same warning msg in my cluster,
k8s v1.11.2 with cilium v1.2.1;
ubuntu 16.04 with kernel  4.16.3-041603-generic

[2018-09-10 15:40] #5309 closed, assigned to nobody

[2018-09-10 15:54] joestringer opened #5512 "Failure in spec setup (BeforeEach): Pod client-can-connect-80 should be able to connect to service svc-server, but was not able to connect."
In the k8s tests that are run when you label a PR with `area/k8s`, I hit his:

https://jenkins.cilium.io/job/Cilium-PR-Kubernetes-Upstream/575/execution/node/34/log/

[code]

The previous run of these tests on the same PR (no code changes) passed (#5503).

[2018-09-10 16:31] joestringer commented on #1960
PR https://github.com/cilium/cilium/pull/5332 removed `HAVE_L4_POLICY`.

[2018-09-10 16:31] #1960 closed, assigned to nobody

[2018-09-10 17:56] joestringer commented on #5299
@eloycoto Is this issue done now?

[2018-09-10 20:55] tgraf commented on #5420
Not simple to fix, closing

[2018-09-10 20:55] #5420 closed, assigned to ianvernon

[2018-09-11 04:38] tgraf opened #5516 "Better error message with link to FAQ entry when no IP is available"
The error

[code]

is an indication of a host misconfiguration which does not allow CIlium to use any IPs out of the proposed range. This is typically the case when a local route hinders use of any of the IPs. We can check for the number of available IPs and error out specifically if none are available and point to a FAQ or doc entry which explains the situation.

[2018-09-11 04:41] joestringer opened #5517 "Error while allocating cilium-health IP error="range is full""
Q. Cilium crashes on startup, and the logs have the following message:

[code]

I have only few pods running in the cluster and my cluster cidr is `--cluster-cidr=10.0.0.0/16`

A. If Cilium starts up and sees a route that intersects with the Pod CIDR, then it won't allocate IPs from that range. It is likely that you have a route on the system that covers the entire PodCIDR range of the node. This

[2018-09-11 04:41] #5517 closed, assigned to nobody

[2018-09-11 04:46] joestringer commented on #5516
Here's a FAQ, I can improve the log message and also add a comment there: https://github.com/cilium/cilium/issues/5517

[2018-09-11 04:51] joestringer commented on #5516
Also, this error is inherited from k8s vendor library but maybe we can wrap it better:

[code]

[2018-09-11 10:39] eloycoto commented on #5299
Yes, all sorted.

[2018-09-11 10:39] #5299 closed, assigned to eloycoto

[2018-09-11 14:09] aanm opened #5524 "Potential bug in service translation after label and/or backend IP update"
0. eks
1. deploy kube-dns
2. deploy cilium
3. change labels of kube-dns
4. delete old kube-dns replica set

check if cilium has same old kube-dns service IP with new kube-dns IPs. The bug might be a missed service IP-backend IP translation.

cilium version 1.2.2

[2018-09-11 17:03] aanm commented on #5322
@joestringer so far only one time.

[2018-09-11 17:48] aanm commented on #5512
@eloycoto can we have a daily job that runs k8s upstream tests so it's easy to know which PR broke the tests?

[2018-09-11 17:54] ianvernon opened #5526 "endpoint: have controller which attempts regeneration if past builds failed"
* Summary
    * This controller would check what state the endpoint was in, and if the state is any state indicating the endpoint needs to be regenerated, try to regenerate the endpoint. If the endpoint is in a good state, do not regenerate it.
    * Controller would be marked as failed when an endpoint is failing
* Metrics
    * At what point did we have to retry a regeneration based on a policy

[2018-09-11 17:56] ackerman80 opened #5527 "The reserved::kube-dns identity does not show up in cilium identity list and has incorrect labels"
When using etcd-operator a fixed identity is associated with the kube-dns. This identity has couple of issues
1. It doesn't associate the kube-dns labels with the identity even if the kube-dns pod is restarted after Cilium is running. Any subsequent restarts also don't associate the labels
2. The cilium identity list command doesn't list this fixed identity

[code]
[code]

[2018-09-11 18:00] joestringer commented on #5512
FWIW it passed at Sep 7 17:53 PDT, then failed on Sep 9 (see #5503).

[2018-09-11 18:05] aanm commented on #5512
@eloycoto Can we put the daily build link in an easy place to find? https://jenkins.cilium.io/

@joestringer it's available here https://jenkins.cilium.io/view/Cilium-master/job/cilium-master-K8s-Upstream/

[2018-09-11 18:19] joestringer commented on #5527
There's also a policy matching on namespace here, which doesn't allow traffic to that endpoint despite the labels showing up in `cilium endpoint list` because the 129 identity is just `reserved:kube-dns`.

Should the fixed identity be updated after bootstrap? Or should the pod migrate from the fixed identity to a regular identity when the pod joins?

[2018-09-11 20:50] tgraf opened #5529 "Reserved identity does not have namespace label"
When following the etcd-operator, the fixed identity does not include the namespace or serviceaccount label so policy rules are not matching for fixed identity pods in namespaces or with particular service accounts attached.

[2018-09-11 21:12] joestringer commented on #5529
Related: #5527

[2018-09-11 21:14] tgraf commented on #5529
It's not as simple as to just add the namespace label as the same fixed identity may be used in multiple namespaces.

It may be better to just start treating kube-dns in kube-system as a special entity and reserve a numeric identity for it but keep the original labels.

[2018-09-11 22:45] joestringer opened #5531 "Cilium k8s-all tests broken in 1.0, 1.1 branches"
Bad backports have caused breakage on older branches:

[code]

Links:
https://jenkins.cilium.io/view/Cilium-v1.0/job/cilium-v1.0-K8s-all/6/execution/node/45/log/?consoleFull
https://jenkins.cilium.io/view/Cilium-v1.1/job/cilium-v1.1-K8s-all/9/execution/node/48/log/?consoleFull

[2018-09-11 22:45] joestringer commented on #5531
This branch has a fix for one of the issues, but there are yet more remaining regarding `test/k8sT/demos.go`:

https://github.com/cilium/cilium/issues/5504

Commit is here on v1.0 official branch:
https://github.com/cilium/cilium/commit/2cc24936844c962a3644f7c82be3ca5e48e5fce0

[2018-09-12 04:56] #5454 closed, assigned to joestringer, jrfastab, tgraf

[2018-09-12 06:55] aanm opened #5532 "Upgrade test fail from 1.2 to master due proxy context timeout"
[code]

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1580/testReport/junit/k8s-1/11/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/
[a31fe822_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2373884/a31fe822_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_ma

[2018-09-12 09:21] WingkaiHo opened #5535 "Pod to host network with high tcp retry in jumbo frames evn"
### Container to host nework with high tcp retry in  jumbo frames evn

list of network interface
[code]
list of route, the cilium auto dectect mtu of ib card
[code]

list of pod:
[code]

run iperf3 in 172.25.52.238
[code]

run iper3 in container connect host network
[code]

### General Information

- Cilium version
  Client: 1.2.1 dc3ec61 2018-08-25T11:06:40+02:00 go version go1.10.3 linux/amd64

[2018-09-12 12:20] k7 commented on #5535
I has the same issue.

[2018-09-12 13:33] danwent opened #5537 "Update policy docs on reserved entities"
The current docs do not list all entities  (e.g., reserved:cluster, reserved:health)

We should also be clear about what is tagged as reserved:world vs. reserved:host, especially wrt NodePort traffic.

it would also be nice to have the number values in the table.   These numeric values show up in cilium monitor, etc, but I did not see where they are documented, and without a running cilium instanc

[2018-09-12 17:37] joestringer commented on #5526
For discussion, what types of problems are likely to be resolved by trying again and again?

Failure to regenerate due to BPF compilation or complexity issues are unlikely to ever recover, this really says that developers haven't put good enough safeguards around the datapath code generation.

Perhaps L7 proxy configuration? Temporary outage or failure to configure a proxyport?

[2018-09-12 17:38] joestringer commented on #5526
Do you intend that there should be this "endpoint regeneration watcher" controller always running, or would it be started when a regeneration first fails and remove itself when it causes a good regeneration?

[2018-09-12 17:58] joestringer commented on #5531
Latest crash on 1.0:

https://jenkins.cilium.io/view/Cilium-v1.0/job/cilium-v1.0-K8s-all/7/execution/node/45/log/?consoleFull

[code]

[2018-09-12 18:05] joestringer commented on #5322
I believe that in this scenario, we don't know how to deliver to the destination because the endpoint no longer exists on the local node. Even if we handled this more gracefully, I think it would involve explicitly checking this condition and dropping the packet rather than forwarding on to another device which loops the packet back and ends up dropping the packet by looping and dropping TTL until

[2018-09-12 19:40] borkmann commented on #5535
Did you try a 4.19 kernel with the following commit included? The commit orphans the skb at a much later point in time for veths providing better feedback for TCP stack (TSQ in particular):

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=9c4c325252c54b34d53b3d0ffd535182b744e03d

I'm not sure the issue is related to cilium at all at this point. Do you have some more i

[2018-09-12 19:42] #5512 closed, assigned to nobody

[2018-09-12 22:59] rlenglet commented on #5532
There's a single regeneration happening for this endpoint:
[code]
This fails because of a port conflict:
[code]

Port 10250 is opened by Kubelet, cf. https://github.com/kubernetes/kubernetes/issues/7965.
We may now have conflicts with other services on the node because we removed the open port check, which was causing other issues.

We had discussed with @jrajahalme a fix that wouldn't need to ope

[2018-09-13 16:19] jingax10 commented on #4989
Same here for K8s 1.11 to run Cilium on GCE.

[2018-09-13 18:16] #5222 closed, assigned to nobody

[2018-09-13 22:30] #5527 closed, assigned to aanm

[2018-09-14 19:59] joestringer opened #5560 "Streamline GSG docs for installs"
Getting started guides in the docs shouldn't have lots of options: They're confusing and provide more ways that a guide can fail.

We should enhance the "real" docs for different options like CRI-O and slim down the GSGs to require minikube and docker, then point users to the other real guides if they don't want to follow the GSG with minikube.

[2018-09-14 21:04] ianvernon opened #5561 "create script to extract binaries out of docker images"
This will speed up the release process immensely.

[2018-09-15 07:39] cristi- opened #5566 "Cilium integration with Flannel"
## Feature Requests

Hi,

I would like to ask if there's any way to run cilium with flannel as a CNI (similar to how cilium is running with kube-router).

The use case for this would be using cilium in pre-existing clusters that already run with flannel. Upgrading a 100+ node cluster to cilium involves downtime, while adding it as a policy enforcer would be seamless.

I ran the following test:
- 2

[2018-09-17 07:25] eloycoto opened #5569 "Ci build timeout"
Some builds time-out in Jenkins:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4072/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4066/

[2018-09-17 07:37] eloycoto commented on #5569
# 4066:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4066/execution/node/106/log/?consoleFull

Issue with kubernetes installation:

[code]

# 4072

Issues with microscope, looks like that the pods cannot be ready in the given timeout 300 seconds.
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4072/execution/node/106/log/?consoleFull

Trying to reply, and all looks ok :\

# 4064

[2018-09-17 08:34] tgraf commented on #5561
Current hack:
[uploadrev.txt](https://github.com/cilium/cilium/files/2387790/uploadrev.txt)

[2018-09-17 08:56] #3080 closed, assigned to nobody

[2018-09-17 10:20] tgraf commented on #5535
@WingkaiHo @k7 Are you comparing this to another benchmark? Are you not seeing it when *not* configuring with jumbo frames?

[2018-09-17 10:46] WingkaiHo commented on #5535
@tgraf ,  i think cpu performance and route mtu effect result。
last time node are upgrade from v1.1.3 to v1.2.1

now we run in anohter machine two machne,  add after cilium upgread in v1.2.1.

so the router do no add mtu, because last time we you v1.1.3, it will at mtu number at route command, so we must the change mtu to make it one by one

[code]

[code]

the new machine cpu scale freq
[code]

t

[2018-09-17 12:02] eloycoto opened #5576 "Unit test fail in master"
[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4082/console

[2018-09-17 12:23] #5532 closed, assigned to rlenglet

[2018-09-17 12:35] matin-nayob opened #5578 "Configurable log levels in Cillium are completely undocumented"
## Feature Requests

Hi there,

It would be great if it was possible to configure the log level of Cilium.
By default, it looks like Cilium logs at the Info level, with the --debug argument enabling lower levels of logs.

It would be great if this could be more configurable so that, for example, Cilium would only log Warnings and above.

Thanks

---
**Update 2023-11**: We support configurable logg

[2018-09-17 13:08] #5576 closed, assigned to aanm

[2018-09-17 13:40] tgraf commented on #200
We have not seen fragmentation related issues in the past couple of months. The new MTU model seems to work great. Closing for now.

[2018-09-17 13:40] #200 closed, assigned to nobody

[2018-09-17 13:40] tgraf commented on #654
Scott Lowe has published a blog post which includes instructions on how to setup Cilium with kubeadm.
https://blog.scottlowe.org/2018/09/06/kubernetes-cilium-containerd-using-kubeadm/

[2018-09-17 13:46] tgraf commented on #5088
Moving to bugfix milestone as this can be solved with documentation primarily.

[2018-09-17 13:48] tgraf commented on #3161
a3b409cd704027ec37232b81fde3508ea92cd5c4 has introduced a local cache for the majority of BPF maps with automatic retries on insertion errors.

[2018-09-17 13:48] #3161 closed, assigned to tgraf

[2018-09-17 13:50] tgraf commented on #5365
The remaining work will be scheduled for 1.4

[2018-09-17 13:57] #3337 closed, assigned to eloycoto

[2018-09-17 14:20] tgraf commented on #5535
@WingkaiHo Are you saying that by removing the `mtu 65470` on the routes to cilium_host. The retransmissions disappeared completely? The difference in CPU frequency scaling can definitely have a huge impact in performance.

[2018-09-17 17:47] aanm opened #5582 "[CI] failed to register layer ... read-only file system"
[code]
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/864/

[aff91664_K8sMicroscope_Runs_microscope.zip](https://github.com/cilium/cilium/files/2389666/aff91664_K8sMicroscope_Runs_microscope.zip)

[2018-09-17 20:48] aanm opened #5586 "CI: unable to rename current endpoint directory .. no such file or directory"
`
2018-09-17T09:13:22.070807275Z level=warning msg="Regeneration of endpoint failed" bpfCompilation=908.159808ms buildDuration=911.199108ms containerID=cilium-loc datapathPolicyRevision=0 desiredPolicyRevision=2 endpointID=49018 error="error synchronizing endpoint BPF program directories: unable to rename current endpoint directory: rename /var/run/cilium/state/49018 /var/run/cilium/state/49018_st

[2018-09-17 20:49] tgraf commented on #5586
Did the PR include 2d3490fc9ca465444f8f6e0f06004bb40be6775f?

[2018-09-17 20:51] tgraf commented on #5586
When I saw this, I attributed it to the lack of locking implemented by 2d3490f. It would be interesting to see if we still see it as it would mean that we remove the build directory before the endpoint is being removed.

[2018-09-17 20:51] aanm commented on #5586
@tgraf No, it doesn't look like it includes it. Should I close the issue?

[2018-09-17 20:55] tgraf commented on #5586
@aanm It is likely fixed by the said commit. I will amend the commit to refer to this issue.

[2018-09-17 20:56] #5586 closed, assigned to nobody

[2018-09-17 21:17] aanm opened #5588 "CI: Egress To World - not able to curl google.com"
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6511/

[f9f8e5e5_RuntimePolicies_Tests_Egress_To_World.zip](https://github.com/cilium/cilium/files/2390284/f9f8e5e5_RuntimePolicies_Tests_Egress_To_World.zip)

[2018-09-17 22:46] joestringer commented on #5588
Similar failure in #5587:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6537/testReport/(root)/runtime/RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR_L4_policy_to_external_https_service/

[a9834c1c_RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR+L4_policy_to_external_https_service.zip](https://github.com/cilium/cilium/files/2390523/a9834c1c_RuntimePolicies_Tests

[2018-09-17 22:57] joestringer opened #5593 "error synchronizing endpoint BPF program directories: unable to rename current endpoint directory: rename /var/run/cilium/state/42104 /var/run/cilium/state/42104_stale: no such file or directory"
Seen on this failure, which is effectively running on master (PR #5587):
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6537/testReport/(root)/runtime/RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR_L4_policy_to_external_https_service/

https://github.com/cilium/cilium/files/2390523/a9834c1c_RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR%2BL4_policy_to_external_h

[2018-09-17 23:05] joestringer commented on #5588
From the zip in the description, Cilium logs around the time of the failure:

[code]

The only thing that might be somehow related seems to be the controllers that ran - `name=lxcmap-bpf-host-sync`, `name=metricsmap-bpf-prom-sync`, `name=dns-poller` of which only the lxcmap is likely to be involved.

Endpoints:

[code]

cilium bpf endpoint list contains the relevant endpoint:
[code]

`seclabel=0x0

[2018-09-17 23:12] ianvernon opened #5594 "bugtool: dump information from `cilium debuginfo` into individual, machine-readable files"
This would allow for making the bugtool output machine-parseable.

[2018-09-17 23:22] joestringer opened #5596 "Investigate policy denials for cilium-health traffic"
Seen in monitor.log output from failure in #5588 description:

[code]

This seems surprising at first glance as usually the `cilium-health` endpoints have no policy applied. This could plausibly be a regression in 1.3.

EDIT: Copied the links here:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6511/

[f9f8e5e5_RuntimePolicies_Tests_Egress_To_World.zip](https://github.com/cilium/c

[2018-09-17 23:23] joestringer commented on #5596
From the same failure:

# cilium-health status

[code]

[2018-09-17 23:24] joestringer commented on #5588
~~Traffic on the way back into the endpoint is being dropped due to policy denials~~

The DNS request for the google domain succeeds:

[code]

Initial connection establishment seems fine:
[code]

[2018-09-17 23:30] tgraf commented on #5588
Based on the curl output, handshake is fine but then times out while transmitting.

[2018-09-17 23:33] joestringer commented on #5588
I stripped out all of the health traffic, left with this which seems fine at a glance:

[code]

At this point there is no further traffic from the app until the end:

[code]

[2018-09-17 23:36] joestringer commented on #5588
I'm surprised that there are no packets to or from the endpoint during this period. Doesn't curl or the Linux stack retry something if there is no response for a short period?

[2018-09-17 23:37] joestringer commented on #5596
Could be related to / cause of #5361 .

[2018-09-17 23:49] joestringer commented on #5588
These packets appear to be regular data request/response after the connection is established, then there is no more before the final FINs:

[code]

[2018-09-17 23:53] joestringer commented on #5596
I don't understand why there is any policy enforced on this endpoint:

#### Policy get

[code]

[2018-09-18 00:07] rlenglet commented on #5596
@joestringer, please dump the policy map.

[2018-09-18 00:11] joestringer commented on #5596
Never mind, PolicyEnforcement is Always:

[code]

[2018-09-18 00:14] joestringer commented on #5596
Closing "not-a-bug", we can revise whether `cilium-health` should have special policy behaviour but it's consistent for such traffic to be dropped in this case.

[2018-09-18 00:14] #5596 closed, assigned to nobody

[2018-09-18 00:15] joestringer commented on #5361
High CPU could perhaps be caused by constant policy-based drops.

@tgraf Is there a link somewhere that contains an instance of the reported issue? Pasting high CPU logs doesn't provide enough context.

[2018-09-18 00:45] ianvernon commented on #5561
@tgraf it seems that this matches what you and I had discussed? Is there another way in mind that you had that would improve the quality of getting this?

[2018-09-18 02:12] #3396 closed, assigned to nobody

[2018-09-18 02:21] joestringer opened #5598 "runtime.RuntimeMonitorTest With Sample Containers multiple monitors: doesn't contain subtring"
Unrelated changes were made in #5591, hit this:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6551/testReport/junit/(root)/runtime/RuntimeMonitorTest_With_Sample_Containers_multiple_monitors/

[code]

[2018-09-18 02:22] joestringer commented on #5598
I'm assuming this is a flake that just has fairly low probability because we don't guarantee to wait for enough lines in the output here:

https://github.com/cilium/cilium/blob/f2dee8fa3c9b47a6b3024297c5902309b71a98ac/test/runtime/monitor.go#L269-L277

[2018-09-18 07:54] aanm opened #5600 "Run all test framework if a PR has the "kind/release" label"
If a PR has the `kind/release` label, all tests should be executed when triggered by `test-me-please`

[2018-09-18 10:22] tgraf commented on #5561
It implements the method we discuss but I didn't really check whether it is fully correct. I'm also sure that there is a lot of now unused code in that script that we can remove. I think we should rename the old script and add this new script with a proper name.

[2018-09-18 10:26] tgraf commented on #5361
@joestringer The data is from a randomly chosen CI run. I would assume that the workload of the cilium-health agent is very deterministic so we should be able to reproduce in any environment or easily rule out that we have a problem. I would not expect that any special conditions applied to the above report.

[2018-09-18 10:38] WingkaiHo commented on #5535
@tgraf Yes

1) first we remove mtu 65470 in route， like follow command
[code]

2)  enable cpu performance
sudo cpupower frequency-set --governor performance

After the old machine tcp retry will less.

[2018-09-18 10:41] tgraf commented on #5535
@WingkaiHo Do you also see the issue if you set the mtu of the route to `65536`?

[2018-09-18 11:28] cristi- opened #5602 "Monitor mode only for cilium"
## Feature Requests

I have a question regarding a use case. We have a larger application where we don't know 100% all the ports that will be required. So we would like to start creating policies for known ports/endpoints but not enforce the restrictions. I see we could set PolicyEnforcement=never for this. Is there a way to see metrics/logs related to connections that were allowed but shoudn't ha

[2018-09-18 11:37] WingkaiHo commented on #5535
@tgraf when I add change route mtu to 65470 (vxlan is 65470), it still low tcp retry
[code]

and also not affected pod to pod perf
[code]

[2018-09-18 11:57] tgraf commented on #5535
It is interesting that the congestion window behaves very different depending on the MTU. I am not sure this is directly a Cilium issue but a side effect on how we attempt to account for encap packet overhead while automatically supporting jumbo frames.

@WingkaiHo Given the  MTU of 65470 in the first place, I assume you have a physical interface with an MTU of 64K? We can add an option to disable

[2018-09-18 12:33] WingkaiHo commented on #5535
@tgraf  in cilium v1.3.1, it do not have auto mtu detect,  I found it add route like follow command， even if I add --mtu 65520
[code]

If I update from ciliuim v1.1.3 to cilium 1.2.1 and use mtu auto detect, cilium will update route mtu.

[2018-09-18 14:48] tgraf commented on #5535
@WingkaiHo Yes, MTU auto-detection was introduced in version 1.2.x I assume you are planning to use 1.2.x going forward. Is using `--mtu` an option for you?

[2018-09-18 18:07] ianvernon opened #5607 "Document which Jenkins jobs are supported for which release versions of Cilium"
Also ensure that for these release branches that said jobs are *required* builds to avoid introducing regressions.

[2018-09-18 18:15] aanm commented on #5607
Shouldn't all of them be required? If a test is fixed upstream it should be backported.

[2018-09-18 18:27] ianvernon commented on #5600
Alternatively, we can edit the build settings for each current protected branch and require specific builds to be ran instead of just the default CI tests (i.e., documentation tests, all K8s versions, etc.). This would be much easier than backporting a fix. I agree that this would be useful for the future.

[2018-09-18 18:33] ianvernon commented on #5607
There may be some cases where we add additional jobs / functionality to newer versions of Cilium, but said jobs are too invasive to backport to prior branches. That is the use case I am imagining here. For instance, the upstream K8s tests do not run for Cilium v1.0.

[2018-09-18 20:35] aanm commented on #5593
@joestringer https://github.com/cilium/cilium/issues/5586 :)

[2018-09-18 21:15] aanm commented on #5561
@ianvernon I was thinking something like this:

[code]

@jrajahalme it seems bazel doesn't build binaries in a deterministic way, is there a way to solve it?
[code]

[2018-09-18 21:19] Starblade42 opened #5609 "Cilium 1.2.2 seems to SNAT hostPort connections to Daemonset containers."
## Bug reports

### Title

Using `hostPort` with chained CNI plugins still SNATs connections to locally-resident containers, such as `daemonsets`.

### General Information

- Cilium version: v1.2.2
- Kernel version: 4.14.63-coreos
- Orchestration system: Kubernetes v1.11.2
- Link to relevant artifacts:
   - Referenced this issue: https://github.com/cilium/cilium/issues/5088, and trying to get host

[2018-09-18 21:24] aanm opened #5610 "CI: Cannot contact jenkins-node-8: java.lang.InterruptedException"
It seems jenkins is failing for k8s 1.12 for some reason, it happen 3 times for this PR https://github.com/cilium/cilium/pull/5449

One of the builds that failed https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/875/

[2018-09-19 00:37] ianvernon commented on #5274
https://github.com/cilium/chaos-monkeys/pull/23

[2018-09-19 03:48] ianvernon commented on #5561
@tgraf what would define something was being "fully correct"? I ran the script locally and it seems to do everything we want, which is:
* extract the following binaries
    * cilium
    * cilium-agent
    * cilium-bugtool
    * cilium-node-monitor
    * cilium-health
    * helpful scripts under /tools
* generate SHA256 sum for each binary
* generate markdown for NEWS.rst release
* upload to AWS re

[2018-09-19 11:09] tgraf opened #5618 "Use backoff package in proxylib/npds/client.go:NewClient()"
NewClient() is using an open-coded exponential backoff. It can use https://godoc.org/github.com/cilium/cilium/pkg/backoff

[2018-09-19 11:43] WingkaiHo commented on #5535
@tgraf , I think auto-detection suitable for my environment, so i will use version 1.2.x. thanks

[2018-09-19 12:50] aanm commented on #5561
@ianvernon yes. We can build both images on each repository instead of building it locally, once they are built we can compare the checksum of all binaries from both images, this guarantees one of the builds was not tampered.

[2018-09-19 13:01] tgraf commented on #5561
@aanm I thought about this more. I doubt that the checksum will be guaranteed to be identical. It will include timestamps.

[2018-09-19 13:16] tgraf commented on #5561
@ianvernon I'm also fine to merge it as-is if you did a sanity check.

[2018-09-19 13:23] borkmann commented on #5535
@WingkaiHo Are you doing any specific system tuning? What's your output of `sysctl net.ipv4.tcp_wmem` and `sysctl net.ipv4.tcp_rmem`, is it relying on system defaults (4MB resp. 6MB)?

You could try to increase sysctl limits, e.g. `net.ipv4.tcp_rmem` to `"4096 16384 25165824"` and `net.ipv4.tcp_wmem` to `"4096 16384 37748736"`.

If I'm putting workload on my local machine, and am running iperf3 ov

[2018-09-19 16:11] ianvernon commented on #5561
@aanm I tried adding a step to diff the binaries, but they all differ for me:

[code]

I suspect that @tgraf is correct in his assumption about timestamps.

[2018-09-19 16:11] ianvernon commented on #5561
OK, PR coming soon.

[2018-09-19 16:42] joestringer opened #5622 "Add tests for monitor aggregation"
* [ ] Monitor aggregation level = none
* [ ] Monitor aggergation level = low
* [ ] Monitor aggregation level = medium
  * [ ] Per-direction ratelimiting
  * [ ] Per-connection ratelimiting

[2018-09-19 17:45] aanm commented on #5561
@tgraf @ianvernon it's not because of the timestamps, it's because the way binaries were built. The binaries in one of the images contains 2 more characters in their git sha. For `v1.2.2` the binaries are the same except `cilium-envoy`. I don't know how `v1.2.3` was build, either in a local laptop or in docker hub, but would explain why the binaries are different between quay.io and docker.io. At

[2018-09-19 17:53] ianvernon commented on #5561
@aanm I built v1.2.3 on Dockerhub. I presume that quay.io built v1.2.3 when the tag was pushed? I don't know why there would be a difference in that case, as both builds should use the same base images :/

[2018-09-19 18:42] joestringer opened #5630 "cilium status doesn't report IPAM pools in k8s mode"
A user reported in Cilium slack the output of cilium status:

[code]

Compare with output from a non-k8s setup in dev VM:

[code]

[2018-09-19 18:57] ianvernon commented on #5526
@joestringer I don't know of exact cases where this may remediate the issue - say we have an intermittent error connecting to the proxy, or some PolicyMap plumbing operation goes wrong (not sure entirely whether this is possible). I think at least trying again with some form of a backoff is better than sitting there without attempting to realize the desired state if the desired state was unable to

[2018-09-19 19:16] #5609 closed, assigned to nobody

[2018-09-19 19:19] joestringer commented on #5593
Likely duplicate of #5586. Can reopen if not fixed.

[2018-09-19 19:19] #5593 closed, assigned to nobody

[2018-09-19 19:25] ianvernon commented on #3272
I tried importing the first policy off of latest master (commit 2627cdf435e4e3795323fed71e0f46507d3e9b32 ) and CRD validation within Cilium rejects it:

policy contents:
[code]

[code]

I will try disabling CRD validation to see what happens when Cilium receives this rule.

[2018-09-19 19:33] tgraf commented on #3272
Shouldn't this be:
[code]

[2018-09-19 19:34] ianvernon commented on #3272
I disabled CRD validation in kube-apiserver by changing the configuration option for it to `false`:
[code]

But I had to delete the actual CRD for this to take effect:

[code]

Restarted Cilium, and importing the policy worked:
[code]

Contents of policy repository after import:
[code]

The policy applies to the namespace in which it was imported. Thus, without validation, we have this policy sele

[2018-09-19 19:35] ianvernon commented on #3272
@tgraf I asked @ashwinp offline about that. I assumed the same, but I figured it'd be good to test it in the case where users have disabled CRD validation nonetheless, which is possible.

[2018-09-19 19:55] ianvernon commented on #3272
I created a similar policy to the one @ashwinp added above with an L3-L4 ingress rule, and a corresponding L4-only egress rule:

[code]

After importing the policy, I tried to access the ClusterIP for app1 from app2 on port 80, and it worked:
[code]

Monitor output while running the above:
[code]

Given that this was filed on a pre-1.0 version of Cilium, and that I was able to demonstrate that sim

[2018-09-19 19:55] #3272 closed, assigned to ianvernon

[2018-09-19 20:44] ianvernon commented on #5274
Closing ;
https://github.com/cilium/chaos-monkeys/pull/23 is merged.

[2018-09-19 20:44] #5274 closed, assigned to ianvernon

[2018-09-19 22:02] #5561 closed, assigned to ianvernon

[2018-09-19 22:04] ianvernon commented on #5384
We have not seen this test fail in some time. Unassigning myself. Moved to the 'monthly/once' category in the CI project.

[2018-09-19 22:46] ianvernon commented on #5204
@eloycoto fixed this in 01096d866c8deee85f519b437fe0c7e4a1297a41 by using the aforementioned image, so I'm closing this.

[2018-09-19 22:46] #5204 closed, assigned to ianvernon

[2018-09-19 22:53] ianvernon opened #5636 "Documentation: remove documentation about migrating TPR to CRD"
We no longer support ThirdPartyResources in Cilium, so we can remove the documentation for migrating TPR to CRD.

[2018-09-19 23:39] ianvernon opened #5638 "CI: new L7 field in CNP causes CRD validation failure in K8s 1.9 tests"
I ran the K8s tests in a PR that did not touch CRD validation at all. All tests passed, except for the K8s 1.9 tests:

Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/887/#showFailuresLink
Test logs:
[test_logs.zip](https://github.com/cilium/cilium/files/2399044/test_logs.zip)

Relevant output (from `cilium-test.log` in the above archive).
[code]

I'll try running the tests ag

[2018-09-19 23:41] tgraf commented on #5638
Looks related to merging #5174

[2018-09-19 23:44] ianvernon commented on #5638
I wonder if certain restrictions in CRDs are not supported in K8s 1.9 vs other versions ? =/

[2018-09-19 23:46] #4223 closed, assigned to nobody

[2018-09-19 23:47] #5134 closed, assigned to ianvernon

[2018-09-19 23:48] #5160 closed, assigned to ianvernon

[2018-09-20 00:04] jrajahalme commented on #5638
Need to figure out how to detect the cluster k8s version and add the validation of the generic L7 policies only if >= 1.11. Earlier versions do not support unspecified maps in the schema.

[2018-09-20 00:08] tgraf commented on #5638
@jrajahalme `func GetServerVersion() (ver *go_version.Version, err error) {` will help

[2018-09-20 01:16] ianvernon commented on #5594
`cilium debuginfo` has an option, `file-per-command`, but it dumps it in markdown format, and it isn't a true "file per command".

[2018-09-20 01:55] jrajahalme commented on #5638
https://github.com/cilium/cilium/pull/5640

[2018-09-20 01:56] jrajahalme commented on #5638
Simply commenting put the offending part seems to work on most k8s versions, i tested this locally and it worked on k8s 1.10 and 1.11, but I did not get 1.9 running in minikube even without starting cilium at all.

[2018-09-20 09:32] #5088 closed, assigned to ianvernon

[2018-09-20 20:11] jrajahalme commented on #5618
Fixed by #5635

[2018-09-20 20:14] jrajahalme commented on #5638
Fixed by #5640, clean CI run including k8s 1.9 .

[2018-09-20 20:14] #5638 closed, assigned to jrajahalme

[2018-09-21 00:59] tgraf opened #5645 "Unit test failure in buildqueue"
<details>
  <summary>Click to expand</summary>

[code]

</details>

[2018-09-21 09:03] aanm opened #5648 "CI: failed to create session: EOF"
Seems to be an infra issue

`time="2018-09-20T22:39:27Z" level=error msg="Error executing command 'kubectl -n kube-system get pods -l k8s-app=cilium -o json'" error="failed to create session: EOF"`

[f7f5c749_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/2404637/f7f5c749_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_ser

[2018-09-21 12:44] tgraf opened #5649 "Improve error feedback of Envoy NACK"
The following example illustrates how difficult it is to identity an Envoy failure if a NACK is being received:

Main symptom is the build failing because of context deadline exceeeded

[code]

Digging into the logs shows the following:
[code]

There is no further information in the above log. It would be impossible to figure it out.

Further digging reveals the real error:
[code]

[2018-09-21 12:44] tgraf commented on #5649
cc @nebril

[2018-09-21 12:59] tgraf opened #5650 "cilium-node-monitor is consuming excessive CPU"
[code]

[code]

[profile001.svg.txt](https://github.com/cilium/cilium/files/2405415/profile001.svg.txt)

[2018-09-21 13:28] tgraf opened #5651 "Restart Cilium on node hosting kube-dns causes intermediate DNS lookup failures"
How to reproduce:
1. Run the drip-drop monkey
2. Restart all cilium-agents in the cluster

tcpdump:
[code]

[2018-09-21 13:34] tgraf commented on #5651
kube-dns becomes unhappy for a short period of time:
[code]

[2018-09-21 13:36] tgraf commented on #5651
Cause:
[code]

[2018-09-21 14:02] tgraf commented on #5651
`ip monitor route` during restart:
[code]

[2018-09-21 15:18] nebril opened #5654 "Envoy build deletes proxylib/libcilium.so on CI"
It seems like bazel call from `envoy-default` step in `envoy/Makefile` somehow deletes previously built `proxylib/libcilium.so` in CI (didn't have this behaviour while running ginkgo tests locally), which resulted in #5547 builds failing.

[2018-09-21 15:31] eloycoto commented on #5654
Maybe is related with this comment?
https://github.com/cilium/cilium/pull/5174#issuecomment-420698240

[2018-09-21 16:38] jrajahalme commented on #5654
This is likely due to a parallel step running "make clean" in the meanwhile you can just remove the rm from the clean target, on the longer run we should make sure parallel jenkins steps interfere like this.

[2018-09-21 16:43] jrajahalme commented on #5654
proxylib/Makefile in master already does not remove libcilium.so, so I don't know what deletes it.

[2018-09-21 16:45] noqcks commented on #3323
@joestringer to reiterate and clarify, this static rate limit would not apply at a global level to all logs but only to logs of a specific type over a time period?

[2018-09-21 18:15] joestringer opened #5657 "IPCache GC on older kernel doesn't update userspace map cache properly"
This only affects the master branch currently.

[code]

PR #5303 triggered recycling of the ipcache map in the BPF, but when it registers the new map, the map is registered under the name "cilium_ipcache_pending", so the "cilium_ipcache" map from `cilium map list` is outdated and wrong.

The `cilium_ipcache_pending` map should replace `cilium_ipcache` in the `cilium map list` cache when it is rena

[2018-09-22 00:28] #5618 closed, assigned to nobody

[2018-09-22 07:00] #5651 closed, assigned to tgraf

[2018-09-24 06:23] tgraf opened #5667 "timed out waiting for pods with filter -l k8s-app=microscope to be ready""
See comment below for link and sysdump
vvv

[2018-09-24 07:32] eloycoto commented on #5667
That is not the file:

Build link:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1651/testReport/junit/k8s-1/11/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

File:
[2af42f3f_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/2409985/2af42f3f_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_polici

[2018-09-24 09:39] #5610 closed, assigned to eloycoto

[2018-09-24 09:39] tgraf commented on #5610
Believed to be fixed

[2018-09-24 13:46] vadorovsky opened #5670 "go vet errors not detected in vagrant"
There is a difference between `go vet` output between Vagrant environment and fresh Go environment on host, even when the same version of Go is used.

I checked it on the current master, fc1bac1f79bdabe77452f2c8e0793a0e2255e2ea

Host:

[code]

Vagrant:

[code]

I guess that's because `go vet` is using a cache. IMO we should somehow clean that cache or find a way to run `go vet` without caching.

[2018-09-24 13:50] tgraf opened #5671 "Panic observed when reading from perf ring buffer"
[code]

[2018-09-24 14:16] nebril commented on #5667
It's possible that API changed in a way that microscope was not ready for. Will investigate.

[2018-09-24 14:20] #5569 closed, assigned to eloycoto

[2018-09-24 14:22] eloycoto commented on #3821
review the k8st/Policies.go and all is correct. Task finished.

[2018-09-24 14:22] #3821 closed, assigned to eloycoto

[2018-09-24 15:29] tgraf commented on #5650
CPU utilization went down when old `cilium monitor` instances were closed. It is possible that the problem is related to handling of broken pipes.

[2018-09-24 15:34] tgraf commented on #5305
Dup of #5317

[2018-09-24 15:34] #5305 closed, assigned to nobody

[2018-09-24 15:34] tgraf commented on #5235
LRU map behavior has been proven to be effective when map is never dumped

[2018-09-24 15:34] #5235 closed, assigned to borkmann

[2018-09-24 15:35] tgraf commented on #5277
Golang extensions have been merged

[2018-09-24 15:35] #5277 closed, assigned to jrajahalme

[2018-09-24 15:38] tgraf commented on #5333
Initial policy model was merged

[2018-09-24 15:38] #5333 closed, assigned to nobody

[2018-09-24 15:39] tgraf commented on #5361
Not enough information for now

[2018-09-24 15:39] #5361 closed, assigned to joestringer

[2018-09-24 15:46] #5213 closed, assigned to nobody

[2018-09-24 15:53] tgraf opened #5674 "Lack of visibility into stale status data"

[2018-09-24 15:56] #5304 closed, assigned to nobody

[2018-09-24 15:57] tgraf commented on #5212
We should land this early on in the 1.4 development cycle.

[2018-09-24 16:54] nebril commented on #5654
Eloy was right, this is a parallel build issue, calling `clean` during our builds still needs to be fixed, but the issue is not in bazel build. The workaround was to completely clean `proxylib` `clean` makefile target.

[2018-09-24 16:54] #5654 closed, assigned to jrajahalme

[2018-09-24 18:39] joestringer opened #5677 "Quieten warnings about "Unable to open map" for conntrack"
Upon startup, it's common to see this happen often in the logs, but I believe it's harmless:

[code]

I suspect it occurs from the CT cleanup logic which starts before the CT maps are guaranteed to be available.

(Seen here: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6685/testReport/k8s-1/11/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/ )

[83db7c

[2018-09-24 22:43] joestringer opened #5678 "Unable to delete obsolete host IP from BPF map"
In a test environment, I see this warning periodically:

[code]

In the same log, I never saw the alternate path taken:

https://github.com/cilium/cilium/blob/3e391ce21d8e0db83d0736cab5d556cf463178cd/daemon/daemon.go#L1037-L1045

I suspect that the IP returned from `ParseIP()` differs from the lxcmap representation.

[2018-09-24 22:57] joestringer commented on #5678
We could simplify this code if `lxcmap.DumpToMap()` returned an actual IP object rather than a string.

[2018-09-24 22:59] tgraf opened #5679 "Failed to fire hook: log entry doesn't contain 'subsys' field"
[code]

[2018-09-24 23:00] tgraf commented on #5679
@mrostecki Is this expected?

[2018-09-24 23:06] joestringer commented on #5677
Most likely coming from here:

https://github.com/cilium/cilium/blob/3e391ce21d8e0db83d0736cab5d556cf463178cd/pkg/endpoint/bpf.go#L385-L392

[2018-09-24 23:16] joestringer commented on #5679
I've got a fix in mind for this, will post shortly.

[2018-09-25 06:47] #5648 closed, assigned to eloycoto

[2018-09-25 07:17] vadorovsky commented on #5679
@tgraf I hoped that the `contrib/scripts/check-logging-subsys-field.sh` script will prevent such errors, but I didn't realize that endpoint loggers work differently and they may lack the `subsystem` field. Sorry for that!

@joestringer Thanks for your fix!

[2018-09-25 08:08] umesh3034 commented on #2498
Hi,

I will be working on this issue as a good-first-issue.

Regards,
Umesh

[2018-09-25 08:09] #4880 closed, assigned to nobody

[2018-09-25 08:48] #3581 closed, assigned to eloycoto

[2018-09-25 11:39] WingkaiHo commented on #4989
Same here for K8s 1.11.3  to run Cilium on centos7

[2018-09-25 11:55] tgraf commented on #4989
@WingkaiHo @jingax10 @gjmzj We will expedite the triage and resolution of this for 1.3 and then backport to 1.2.

[2018-09-25 13:03] nebril commented on #5667
Seems like there are empty Cilium endpoints in our Endpoint CRD that contain only metadata:
[code]

I will add a check for "status" key in endpoint retrieval code.

[2018-09-25 13:31] nebril commented on #5667
Fixed in microscope 1.1.1, waiting for CI microscope version to be bumped

[2018-09-25 13:57] eloycoto commented on #5011
Fixed by https://github.com/cilium/cilium/pull/5467

[2018-09-25 13:57] #5011 closed, assigned to eloycoto

[2018-09-25 13:59] eloycoto commented on #4970
Didn't see this one for a long time, close it.

[2018-09-25 13:59] #4970 closed, assigned to eloycoto

[2018-09-25 14:00] eloycoto commented on #4947
Didn't see this one for a long time. Close the issue.

[2018-09-25 14:00] #4947 closed, assigned to eloycoto

[2018-09-25 16:26] ianvernon commented on #5667
This seems like a bug? That sounds to me like the CiliumEndpoint information is getting left behind? cc: @raybejjani

[2018-09-25 16:50] ianvernon commented on #5384
This has reappeared:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4178/testReport/junit/k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

Test failure output:

[code]

Test stdout:

[code]

Test stderr:
[code]

Console output including timestamps from Jenkins:
[code]

Logs:
[77dc0700_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/c

[2018-09-25 17:03] ianvernon opened #5683 "CI: endpoint in not-ready state due to "clang-3.8: error: unable to execute command: Killed""
Build link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4180/testReport/junit/k8s-1/11/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

Output:

[code]

Test stdout:
[code]

Test stderr:
[code]

Console output from Jenkins including timestamps:
[code]

Logs:
[d474ea02_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://gi

[2018-09-25 18:10] #5142 closed, assigned to eloycoto

[2018-09-25 18:26] joestringer commented on #2264
This has been evaluated above, the instructions should still work but it didn't address the core problem. Closing.

[2018-09-25 18:26] #2264 closed, assigned to nobody

[2018-09-25 18:31] joestringer commented on #2628
The code that is highlighted in the description was refactored into the following package:

https://github.com/cilium/cilium/blob/master/pkg/command/exec/exec.go

[2018-09-25 18:31] #2628 closed, assigned to nobody

[2018-09-25 18:35] joestringer commented on #2000
@ianvernon completely agree, that looks like the appropriate fix. If someone wants to take up this work, feel free to re-open this ticket and assign to yourself. For now, it's not a high enough priority to schedule in an upcoming release.

[2018-09-25 18:35] #2000 closed, assigned to nobody

[2018-09-25 18:36] joestringer commented on #2040
This is documented, and it's a known behaviour of the CI at this point. It's unlikely someone will take up the work to improve this case because the barrier to fixing it is much higher than just working around via the "k8s" prefix. Closing.

[2018-09-25 18:36] #2040 closed, assigned to nobody

[2018-09-25 18:49] joestringer commented on #2923
This is done as of circa v1.2.

[2018-09-25 18:49] #2923 closed, assigned to nobody

[2018-09-25 18:53] joestringer commented on #3239
Not observing this on newer Cilium (v1.3+).

[2018-09-25 18:53] #3239 closed, assigned to nobody

[2018-09-25 18:54] ianvernon commented on #2594
Removing needs-backport/1.1 label - this is more of a 'meta' issue - things that are related to this can be backported on a case-by-case basis.

[2018-09-25 18:54] joestringer commented on #3304
The CIDR map was deprecated, closing.

[2018-09-25 18:54] #3304 closed, assigned to nobody

[2018-09-25 18:57] joestringer commented on #3323
@noqcks correct, the idea would be to provide granularity so that if there is a recurring log in one subsystem going crazy, then it can be silenced.

When the ratelimiter is used, it should also print periodically how many messages have been dropped due to the ratelimit, and over what period.

[2018-09-25 18:58] joestringer commented on #3323
The easiest way for this might be via some new logging hook similar to the metrics one in `pkg/logging/`.

[2018-09-25 19:00] #3553 closed, assigned to nobody

[2018-09-25 19:00] joestringer commented on #3592
This would be interesting to look again at with latest master after several changes were made during the v1.3 dev cycle.

[2018-09-25 19:01] #3554 closed, assigned to nobody

[2018-09-25 19:23] #5030 closed, assigned to ianvernon

[2018-09-25 19:59] joestringer opened #5686 "Remove CIDR->Identity IPCache mapping from kvstore"
When a CIDR policy is imported, it goes through two phases with respect to the kvstore:

1. Convert the CIDR into a set of labels, and allocate an identity for this set of labels.
2. Map the CIDR to this identity

Given that (1) provides a reliable programmatic way to convert a CIDR into a specific identity, the identities will be consistent across nodes. This identity is based on the labels-gener

[2018-09-25 20:07] joestringer commented on #3942
This may conflict with https://github.com/cilium/cilium/issues/5686 .

However, there is still the identity mapping kvstore op that may fail. I would have to review the code again to see whether this can be deferred the way that this issue proposes.

[2018-09-25 20:07] joestringer commented on #4093
This was already fixed (as of v1.3).

[2018-09-25 20:07] #4093 closed, assigned to nobody

[2018-09-25 20:07] #5516 closed, assigned to joestringer

[2018-09-25 20:07] #5677 closed, assigned to nobody

[2018-09-25 20:07] #5679 closed, assigned to joestringer, vadorovsky

[2018-09-25 20:10] joestringer commented on #4174
I haven't seen any reports of this since May. Closing. Feel free to reopen if you observe this issue.

[2018-09-25 20:10] #4174 closed, assigned to nobody

[2018-09-25 20:15] joestringer commented on #4568
Fixed in v1.3.

[2018-09-25 20:15] #4568 closed, assigned to nobody

[2018-09-25 20:16] joestringer commented on #4758
@iamShantanu101 apologies about the delay, I missed your message.

Yes, what you propose sounds like a good option.

[2018-09-25 20:17] joestringer commented on #4824
Fixed via #5591.

[2018-09-25 20:17] #4824 closed, assigned to nobody

[2018-09-25 20:18] joestringer commented on #4865
This was not prioritized for relevant releases and doesn't appear to affect any users. Closing.

[2018-09-25 20:18] #4865 closed, assigned to nobody

[2018-09-25 20:24] ianvernon commented on #4989
The warning occurs because the annotation is not added to the node yet:

https://github.com/cilium/cilium/blob/69d8534cfde06cb51b99a2010cbd61dbd8546bf5/daemon/k8s_watcher.go#L2152-L2180

We update node annotations asynchronously when the daemon is bootstrapped:

https://github.com/cilium/cilium/blob/69d8534cfde06cb51b99a2010cbd61dbd8546bf5/daemon/daemon.go#L1243-L1251

The goroutine which annotate

[2018-09-25 20:47] ianvernon commented on #4989
Actually, it might not even be necessary to have a controller; if the annotations are updated, then we will receive an update event from K8s. I think that we can change how we expose this in the logs and not have it at `Warning` level, maybe info level, along the lines of:

[code]

 @tgraf and @joestringer what do you think?

[2018-09-25 21:01] ianvernon commented on #5630
This is because the user most likely had debug-mode disabled:

https://github.com/cilium/cilium/blob/5dc61ed8d21bf62ce53917c622f2c36639cf7309/daemon/status.go#L160-L162

This is an easy fix as we can unconditionally dump the IPAM in the status. However, we do lock the `ipamConf.allocatorMutex` when dumping:

https://github.com/cilium/cilium/blob/5dc61ed8d21bf62ce53917c622f2c36639cf7309/pkg/ipam/al

[2018-09-25 21:25] ianvernon commented on #5683
Assigning myself to investigate.

[2018-09-25 22:08] ianvernon commented on #5683
One of the endpoints was in `not-ready` state:

[code]

This was the microscope pod - it was deleted before the logs were gathered from the looks of it.

[2018-09-25 22:13] ianvernon commented on #5683
[code]

[2018-09-25 22:15] ianvernon commented on #5683
Looks like this was an issue that hit `v1.2`. I checked the regeneration time for the endpoint, and it was under a second:

[code]

[2018-09-25 22:16] ianvernon commented on #5683
This was also hit here: https://github.com/cilium/cilium/issues/5489 .

[2018-09-25 22:19] ianvernon commented on #5683
Tried checking `dmesg` output from the bugtool folder for `cilium-9lrvn`, but nothing indicated that the process was killed by the kernel.

[2018-09-25 22:22] ianvernon commented on #5683
The `loadinfo` logs from that regeneration:

[code]

`tc` was using a lot of CPU (29 percent) for `cilium)health`.

[2018-09-25 22:26] ianvernon commented on #5489
Closing in favor of #5683 since that is more up-to-date and contains more context than this issue.

[2018-09-25 22:26] #5489 closed, assigned to nobody

[2018-09-25 22:41] ianvernon commented on #5683
Output of `top` from the bugtool for `cilium-9lrvn` shows extremely high resource consumption:

# top -b -n 1

[code]

[2018-09-25 22:43] #5630 closed, assigned to ianvernon

[2018-09-25 22:46] ianvernon commented on #5683
The above resource usage spikes could be due to the fact that we are running bugtool, though...

[2018-09-25 22:52] tgraf commented on #4782
@swimablefish Are you still seeing this with the latest 1.2.3 release? We have not been able to reproduce this.

[2018-09-25 23:03] tgraf commented on #5630
That lock should practically never be contented so it's absolutely fine to hold it.

[2018-09-25 23:40] aanm commented on #5683
@ianvernon clang was killed by cilium because it took more than 5 minutes to CompileAndLoad https://github.com/cilium/cilium/blob/5dc61ed8d21bf62ce53917c622f2c36639cf7309/pkg/endpoint/bpf.go#L558-L562

[2018-09-26 00:36] #5491 closed, assigned to tgraf

[2018-09-26 05:48] ianvernon commented on #5683
@aanm the logs for the build for the endpoint say it took 126 ms, not 5 minutes:

If you search `pod-kube-system-cilium-9lrvn-cilium-agent.log` for `endpointID=61903`, you will find the following snippet:
[code]

[2018-09-26 09:39] eloycoto commented on #3338
@tgraf I'll close this issue, the only issue is the latency/connectivity that it's already in #5382.

[2018-09-26 09:39] #3338 closed, assigned to eloycoto

[2018-09-26 09:54] borkmann opened #5695 "CI: SetUpTest hitting runtime error: invalid memory address or nil pointer dereference"
Seen in v1.1 branch:
[code]

[2018-09-26 13:43] nebril commented on #5650
Killing `kubectl exec` leaves the command running in the pod container, which in case of multiple `cilium monitor` instances contributes to high CPU usage.

AFAIK there is no way to discern whether monitor is actually connected to the other end of pipe from within the container.

Monitor itself is not to blame here (although possibly it could be improved with implementing concurrent MultiWriter an

[2018-09-26 15:20] aanm commented on #5683
@ianvernon  this is also in the logs:

`2018-09-25T14:46:41.946583321Z... Program section 'from-container' not found in ELF file!\\nError fetching program/map!\\nUnable to load program\\n\"`

Might have been fixed by https://github.com/cilium/cilium/pull/5689?

[2018-09-26 15:43] joestringer commented on #5683
@aanm this looks a bit different to #5689. The errors in #5689 usually involved some kind of "no such file or directory" error.

[2018-09-26 16:44] ianvernon opened #5699 "CI: Cilium pod failed to get deleted in time"
Build link:  https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4190/execution/node/98/log/?consoleFull

Output:

[code]

Logs:
[test_results-3.zip](https://github.com/cilium/cilium/files/2420673/test_results-3.zip)

Initial triage performed:

I checked the `test-output.log` file in the attached archive. It looks like this is Kubernetes not being able to delete the pod correctly. I also looked

[2018-09-26 16:48] joestringer commented on #5678
I added some extra logging, looks like an IPv6/IPv4 mismatch:

[code]

[2018-09-26 16:51] joestringer opened #5700 "Install BPFtool in the dev VM"
Some time ago, we introduced `bpftool`  to supersede `bpf-map` in the containers, but it's not yet available in the dev VM. Add it there.

[2018-09-26 16:59] ianvernon commented on #5699
A test which immediately followed the above one failed, and has a bit more information about the state of the pod in the `test-output.log` file (log archive attached below).

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4190/testReport/junit/k8s-1/8/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

Output:

[code]

Logs: [test_results-4.zip](https://github.com/ciliu

[2018-09-26 17:07] eloycoto commented on #5699
@ianvernon I think that the problem is the first test that fails:

[code]

[2018-09-26 17:09] ianvernon commented on #5699
@eloycoto yes, that is what I have specified above - I looked at the following test result to try to gleam more information since there aren't a lot of logs to analyze from the first test which failed.

[2018-09-26 17:51] ianvernon commented on #1852
We have upgrade testing in CI now. Closing.

[2018-09-26 17:51] #1852 closed, assigned to nobody

[2018-09-26 17:57] ianvernon commented on #3289
Closing this; buildqueue functionality was merged in #5446 .

[2018-09-26 17:57] #3289 closed, assigned to nobody

[2018-09-26 18:01] ianvernon commented on #3782
https://github.com/cilium/cilium/pull/5341 was added to indicate why policy updates are triggered.
https://github.com/cilium/cilium/pull/5077 is also being worked on to fold calls to TriggerPolicyUpdates.

This is also quite stale, so I am closing accordingly.

[2018-09-26 18:01] #3782 closed, assigned to nobody

[2018-09-26 18:03] #4758 closed, assigned to nobody

[2018-09-26 18:36] ianvernon commented on #4745
We haven't seen this failure ever since #5411 was merged; I'd like to close this to clean up the CI failure backlog. @aanm please confirm.

[2018-09-26 18:37] ianvernon commented on #4971
I'm closing this; it hasn't reproduced in some time.

[2018-09-26 18:37] #4971 closed, assigned to nobody

[2018-09-26 18:41] ianvernon commented on #4946
Closing this; we have not seen this failure in some time.

[2018-09-26 18:41] #4946 closed, assigned to nobody

[2018-09-26 18:43] ianvernon commented on #5026
Closing this; we have not seen it in some time.

[2018-09-26 18:43] #5026 closed, assigned to nobody

[2018-09-26 18:44] ianvernon commented on #4988
@eloycoto if you recall, please provide information as to what you did to fix this problem. I am closing it since we haven't had failures here for some time.

[2018-09-26 18:44] #4988 closed, assigned to nobody

[2018-09-26 18:57] ianvernon commented on #5323
No, this is not a crash - the `RuntimeKVStoreTest` for Consul stops Cilium:

https://github.com/cilium/cilium/blob/82b91f0fd116b0b6b106248356766bed60e83868/test/runtime/kvstore.go#L47

However, from the attached log archive, the test stopped Cilium via `systemctl` much later than the logs @aanm pasted above. Given that the build link has now been GC'd by Jenkins, there's not much to look at here.

[2018-09-26 18:57] #5323 closed, assigned to raybejjani

[2018-09-26 19:02] ianvernon commented on #5173
Closing as we have not seen this in some time per the comments above.

[2018-09-26 19:02] #5173 closed, assigned to nobody

[2018-09-26 20:58] joestringer opened #5705 "Update documentation with latest kvstore contents"
Looking here:

http://docs.cilium.io/en/latest/kvstore/

It seems like some kvstore contents is missing. I see:

[code]

[2018-09-26 21:14] ianvernon commented on #2463
Is there anything else that needs to be done here?

[2018-09-26 21:21] ianvernon commented on #5479
@joestringer makes sense, closing.

[2018-09-26 21:21] #5479 closed, assigned to nobody

[2018-09-26 21:22] ianvernon commented on #5356
Related-to #5365

[2018-09-26 21:23] ianvernon commented on #5322
Can this be closed? We haven't hit this in some time.

[2018-09-26 21:25] ianvernon commented on #5095
Closing this, we haven't seen it in a while.

[2018-09-26 21:25] #5095 closed, assigned to nobody

[2018-09-26 21:27] ianvernon commented on #4851
We haven't seen this in some time; can we close? We have changed the way we test Kafka in the CI by using different images.

[2018-09-26 21:29] ianvernon commented on #4384
Closing; more recent failures of this test are tracked by
https://github.com/cilium/cilium/issues/5384

[2018-09-26 21:29] #4384 closed, assigned to nobody

[2018-09-26 21:39] ianvernon opened #5707 "unit tests fail in local dev vm"
Reproducing steps

1.  Checkout latest master

2. Launch the dev VM in K8s mode:

[code]

3. Run the unit tests:

[code]

4. The daemon state test will fail:

[code]

[2018-09-26 23:49] tgraf commented on #5707
I'm hitting this as well. I wonder whether it is related to #5684 somehow

[2018-09-26 23:50] tgraf commented on #5322
This was fixed by #5663

[2018-09-26 23:50] #5322 closed, assigned to joestringer

[2018-09-26 23:51] tgraf commented on #2463
The kube-router integration implements this properly. Closing.

[2018-09-26 23:51] #2463 closed, assigned to vadorovsky

[2018-09-26 23:59] #5678 closed, assigned to joestringer, jrfastab

[2018-09-26 23:59] #4989 closed, assigned to ianvernon

[2018-09-27 09:32] #4745 closed, assigned to nobody

[2018-09-27 13:40] vadorovsky commented on #5700
Shall we use `bpftool` at the same version as the kernel which is in the dev VM image? Or `bpf-next`? Or some other version?

[2018-09-27 15:10] #5336 closed, assigned to ianvernon

[2018-09-27 15:11] aanm commented on #5683
@ianvernon @joestringer new failure in https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6764/

This seems to be in during the restoring functionality as this test failed as well during restoring of an endpoint. Relevant logs:

[code]

[code]

[e19ea7fb_K8sChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/2424671/e19ea7fb_K8sC

[2018-09-27 15:45] ianvernon commented on #5526
This is blocked by the state machine changes for the endpoint which @tgraf is working on.

[2018-09-27 15:45] ianvernon commented on #5674
@tgraf anything I can do to help here?

[2018-09-27 17:10] tgraf opened #5716 "Periodic Unit test failure in daemon/state_test.go"
[code]

The reason is that endpoint regenerations fail in the state test:

[code]

[2018-09-27 18:32] joestringer commented on #5700
@mrostecki Should probably pick up the latest, `bpf-next` would be good.

[2018-09-27 21:30] aanm opened #5718 "Add support for CNI traffic shaping"
Introduced in k8s 1.12

https://github.com/kubernetes/kubernetes/pull/63194

I believe this can be easily done with a `tc` call for container's interface?

[2018-09-27 21:31] aanm opened #5719 "Add support for SCTP protocol"
Introduced in k8s 1.12

https://github.com/kubernetes/kubernetes/pull/64973

Tasks:
* [x] Introspect SCTP headers in datapath
* [x] Support Hubble observability for SCTP
* [x] Support policy enforcement on SCTP packets
* [ ] Support LB / Service translation for SCTP packets

[2018-09-28 09:36] #5716 closed, assigned to tgraf

[2018-09-28 10:33] tgraf opened #5722 "1.2 docs already point to cilium/cilium:v1.2.4"
It's a side effect of the docs being built from the `v1.2` branch instead of the latest tagged release.

[2018-09-28 13:12] nebril commented on #5670
@mrostecki  Does running `go clean -cache` before running `go vet` in vagrant fix this?

[2018-09-28 14:06] tgraf opened #5726 "Add banner to 1.0 and 1.1 documentation branch that documentation is outdated."

[2018-09-28 15:55] ianvernon commented on #5707
Duplicated by #5716 , which has been closed.

[2018-09-28 15:55] #5707 closed, assigned to nobody

[2018-09-28 17:58] ianvernon opened #5728 "add more logs indicating state of rules that are sent by K8s / retrieved from local cache.Store"

[2018-09-29 11:47] #5649 closed, assigned to jrajahalme

[2018-09-30 08:19] #5728 closed, assigned to ianvernon

[2018-10-01 07:25] vadorovsky commented on #5670
`go clean -cache github.com/cilium/cilium/...` fixes that

[2018-10-01 11:46] raybejjani commented on #5667
Endpoint CRD instances are supposed to be cleaned up on exit, but we don't have a mechanism in the agent for a graceful shutdown. I suspect any time the agent exits the CEPs are left behind. There is a GC controller that runs on all agents, however, so another agent should clean it up in a few minutes*.
In this case, though, I'm not sure how the empty CEP happens. That seems like a bug. The CEP co

[2018-10-01 12:29] umesh3034 commented on #2498
Hi @aanm ,

I spent some time learning the cobra cli framework, since i have never worked on a go cli framework before. I made a simple stderr print change for endpoint list in endpoint_config.go. Is this the expectation for this issue?

[code]
Regards,
Umesh

[2018-10-01 13:41] aanm commented on #5588
@joestringer @tgraf this occurred again last week.

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4239/

[9ff6acfb_RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR+L4_policy_to_external_https_service.zip](https://github.com/cilium/cilium/files/2434138/9ff6acfb_RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR%2BL4_policy_to_external_https_service.zip)

[2018-10-01 15:19] tgraf commented on #5650
No bottleneck justifying a 1.3 release blocker has been found. There is optimization potential that can be done as part of the 1.4 development cycle. Adjusting milestones accordingly.

[2018-10-01 15:24] #5695 closed, assigned to nobody

[2018-10-01 15:26] tgraf commented on #4782
Closing for now, please reopen if problem is being observed again.

[2018-10-01 15:26] #4782 closed, assigned to tgraf

[2018-10-01 15:28] aanm commented on #2498
Hello @umesh3034

The expectation is to print to stderr the help message and any error messages. The `listEndpointOptions` should be printed to `os.Stdout` as it's not an error.

[2018-10-01 15:32] tgraf commented on #5310
Fixed in master and to be released as 1.3

[2018-10-01 15:32] #5310 closed, assigned to raybejjani

[2018-10-01 15:43] tgraf commented on #5289
Fixed in 1.3

[2018-10-01 15:43] #5289 closed, assigned to ackerman80

[2018-10-01 15:46] tgraf opened #5739 "Fix behavior of cluster identity"

[2018-10-01 15:54] aanm opened #5740 "CI Failure: RuntimeMonitorTest With Sample Containers multiple monitors has [unknown] output appended to monitor"
It seems the Cilium monitor produced an odd output that cause the test to fail:

[code]

Either 2 things happen:

1) The monitor created the output `-> endpoint 54979 flow 0xc19a8cb2 identity 60386->53186 state reply ifindex lxc1a195389d36c: [unknown]` which doesn't seem consistent with the rest of the monitor lines

2) the ci code has a bug that add the `[unknown]` part at the end of the first st

[2018-10-01 15:58] aanm opened #5741 "CI failure: Allows traffic with k8s default-allow egress policy failed"
Seems related with #5588

Build link:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4250/testReport/junit/k8s-1/8/K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_egress_policy/

[code]

[3b71f0c0_K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default-allow_egress_policy.zip](https://github.com/cilium/cilium/files/2434680/3b71f0c0_K8sPolicyTest_Basic_Test_Allows_traffic_wi

[2018-10-01 16:02] joestringer commented on #5722
That's why we set `stable` to point to the latest tagged release, it knows about rc tags and will only change when a real release occurs:

http://docs.cilium.io/en/stable/

[2018-10-01 16:33] borkmann commented on #5683
Checking on Google for the clang issue it appears that one of the reasons for `error: unable to execute command: Killed` appears to occur on insufficient available RAM in the VM.

[2018-10-01 16:38] ianvernon commented on #5683
@borkmann where could we find information about insufficient RAM? `dmesg` output did not prove conclusive in showing a resource constraint problem (unless I missed something - can you TAL at the bugtool to see if I missed anything?)

[2018-10-01 17:13] eloycoto opened #5744 "Connectivity issues during upgrades"
Hi,

Update connectivity issues:

**To replicate:**

[code]

Waiting until cilium is ready. And install sample containers + Policy.
[code]

Download script to make background connectivity test.
[code]

Run two new splits, with the following parameters:

[code]

If curl can't connect wil return a error message, the normal thing is that no
issues here.

Update cilium to master:

[code]

You will see

[2018-10-01 18:39] ianvernon commented on #5722
Discussed during the community meeting. I will do the following:

* Revert k8s yaml version changes so docs point to existing stable image tag
* Update k8s yaml version just before the release of v1.2.4.

[2018-10-01 18:40] ianvernon commented on #5741
@aanm which build was this for?

EDIT: Found it on Jenkins - https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4250/testReport/junit/k8s-1/8/K8sPolicyTest_Basic_Test_Allows_traffic_with_k8s_default_allow_egress_policy/ - will update issue description accordingly.

[2018-10-01 18:45] ianvernon opened #5745 "CI failure: CIDR+L4 policy to external https service test failed"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1692/testReport/junit/(root)/runtime/RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR_L4_policy_to_external_https_service/

Output:

[code]

Logs:
[69bb15ef_RuntimePolicies_TestsEgressToHost_Tests_egress_with_CIDR+L4_policy_to_external_https_service.zip](https://github.com/cilium/cilium/files/2435187/69bb15ef_Run

[2018-10-01 18:47] ianvernon commented on #5667
Re-opening; this happened again:

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1693/execution/node/99/log/?consoleFull

No logs unfortunately.

[2018-10-01 18:50] ianvernon opened #5746 "CI failure: L7 policy test failed"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1695/testReport/junit/(root)/runtime/RuntimePolicies_L7_Checks/

Output:
[code]

Logs: [c3f91bf2_RuntimePolicies_L7_Checks.zip](https://github.com/cilium/cilium/files/2435200/c3f91bf2_RuntimePolicies_L7_Checks.zip)

[2018-10-01 18:53] ianvernon opened #5747 "CI: upgrade test failed due to endpoints not being ready"
However, output shows all endpoints as ready?

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1696/testReport/junit/k8s-1/11/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

Output:
[code]

Logs:
[2da5137b_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2435212/2da5137b_K8s

[2018-10-01 18:55] ianvernon opened #5748 "CI failure: endpoint got stuck regenerating, causing deadlock detection to kick in after 5m10s"
Could be related to #5747 , in that the behavior of the CI is similar (CI thinks endpoints are not ready, but they are ready?)

Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1696/testReport/junit/k8s-1/8/K8sChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_running/

Output:

[code]

Logs:
[21e62328_K8sChaosTest_Endpoint_can_still_connect_while_Cilium_is_not_r

[2018-10-01 19:44] aanm commented on #5384
Same here https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/958

[776509e9_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2435372/776509e9_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2018-10-01 19:46] aanm commented on #5683
might be related with these changes https://github.com/cilium/cilium/pull/5684

[2018-10-01 19:51] aanm opened #5749 "CI Failure: k8s upstream test - NetworkPolicy between server and client"
Unfortunately there isn't a bugtool report for that test but it looks like it's related with all failures we are having with service translation.

[code]

https://jenkins.cilium.io/job/Cilium-PR-Kubernetes-Upstream/691

[2018-10-01 20:24] tgraf commented on #5683
@aanm How so?

[2018-10-01 20:36] jrajahalme opened #5750 "deadlock can occur during endpoint deletion for long-running controllers"
Quick analysis of build https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6862/:

1. Endpoint deletion locks the endpoint
2. A concurrent run of IP identity Sync controller stalls for more than 5 minutes trying to take a read lock on the endpoint.

Snippet from `pod-kube-system-cilium-mpp49-cilium-agent-previous.log`:
[code]
CI Build artifacts: https://jenkins.cilium.io/job/Cilium-PR-

[2018-10-01 20:56] ianvernon commented on #5750
The goroutine which acquired the lock was doing conntrack GC for the endpoint at time that the deadlock was detected. It appears that deletion for the endpoint took a considerable amount of time, which caused the deadlock-detection to kick in. I'd recommend checking the logs to see why the endpoint deletion took so long.

[2018-10-01 21:05] joestringer opened #5751 ""Unable to open map" warnings when starting Cilium the first time"
When Cilium has not run before, it attempts to open the CT maps for garbage collection and prints these warnings:

[code]

This code should be taught to wait until the map exists and only report warnings or errors after one successful open/garbage collect:

https://github.com/cilium/cilium/blob/4100de43635755a5a7acab9af2288c347e795d75/pkg/endpointmanager/conntrack.go#L95-L125

[2018-10-01 21:07] joestringer commented on #5751
The endpoint version of these logs was cleaned up in v1.3:
https://github.com/cilium/cilium/pull/5680

However, the `endpointmanager` instances remain.

[2018-10-01 21:10] ianvernon commented on #5750
I grep'd for all `DELETE /endpoint` logs as well as `Removed Endpoint` from the logs and correlated them to see which `DELETE /endpoint` logs did not have a corresponding `Removed Endpoint` log:

[code]

Out of all of this, the only one which did not have a corresponding `Removed Endpoint` logs is the following:

[code]

[2018-10-01 21:12] ianvernon commented on #5750
The timestamp of the `DELETE /endpoint/{id}` call is 5 minutes and 10 seconds before the deadlock, which shows that this is indeed the endpoint which timed out being deleted:

Timestamp: ``` 2018-10-01T18:48:14.711845312Z ```

Deadlock message:
[code]

[2018-10-01 21:15] ianvernon commented on #5750
By searching for the container ID in the logs, found its ID:

[code]

[2018-10-01 21:22] ianvernon commented on #5750
Since Cilium got restarted due to the deadlock, it got a different endpoint ID when it was restarted. I matched the labels from the log message in my previous comment to the following endpoint from the `cilium-debuginfo.md` output:

[code]

Unfortunately, the outputs of Cilium Endpoint Log do not help here because the new Cilium agent restores the endpoint's log from disk, which does not have the

[2018-10-01 21:28] ianvernon commented on #5750
There are some potentially long-lived operations in the endpoint deletion logic; releasing of the security identity, removing of proxy redirects, etc. We don't have any logs in these operations, which may prove quite useful for debugging - at least they would in this case. Maybe we can add `spanstat` code to endpoint deletion as well - @tgraf thoughts? Not sure what else we can go off of here :/

[2018-10-02 06:34] aanm commented on #5683
@tgraf it just the time is consistent when the PR was merged and the clang failure started to show up.

[2018-10-02 07:04] eloycoto commented on #5744
Checking today, and there is a difference in the cilium_lxc map:

*1.2:*

cilium map list
[code]

cilium map get cilium_lxc
[code]

*Master:*

cilium map list
[code]

cilium map get cilium_lxc
[code]

[2018-10-02 10:46] eloycoto commented on #5749
I do not see this one in the master:
https://jenkins.cilium.io/view/Cilium-master/job/cilium-master-K8s-Upstream/

Andre are you sure that it's not related with your changes?

[2018-10-02 10:54] tgraf commented on #5683
A possible explanation is that removing the directory underneath which is used as output directory while clang is still running could cause problems.

[2018-10-02 12:02] tgraf commented on #5744
Starting to reproduce this

[2018-10-02 13:09] aanm commented on #5749
@eloycoto it could have been a flake. but yes, it was related with my changes.

[2018-10-02 13:09] #5749 closed, assigned to nobody

[2018-10-02 15:44] jrajahalme opened #5757 "PR 5736 CI: cilium-agent SIGSEGV during endpoint restoration"
Cilium-agent crashed during CI run https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6869/

Excerpt from `RuntimeKVStoreTest_Consul_KVStore/test-output.log`

[code]

[2018-10-02 16:28] ianvernon commented on #5757
I suspect this is definitely related to the PR which had the failures occur. It changes the mutex of the endpoint to be a pointer. When we restore the endpoint, the lock value is not restored, because it is not marshaled into the JSON. As such, it is nil. If the PR in question wants to have the lock changed to a pointer to a mutex, all restored endpoints should have a new lock created upon restora

[2018-10-02 16:35] ianvernon opened #5758 "CI failure: WebPolicy cannot be deleted in guestbook test"
Build 1:

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1702/testReport/junit/k8s-1/11/K8sPolicyTest_GuestBook_Examples_checks_policy_example/

Output:

[code]

Logs: [guestbook_test_failure_build1.zip](https://github.com/cilium/cilium/files/2438769/guestbook_test_failure_build1.zip)

Build 2:

Link: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4264/testReport/j

[2018-10-02 17:27] aanm commented on #5758
I've had the same error happen locally

[2018-10-02 17:33] jrajahalme commented on #5757
So I wonder why `go vet` would require such a change in #5736?

[2018-10-02 17:40] Lakers817 opened #5759 ""exit when cilium-agent flags are not valid or available""
### General Information

- Cilium version (run `cilium version`)
cilium 1.2.3
- Kernel version (run `uname -a`)
Linux ip-172- 4.13.0-041300-generic #201709031731 SMP Sun Sep 3 21:33:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit

[2018-10-02 18:09] tgraf commented on #5758
This is likely caused by
[code]

Which now waits until the CNP controller has completed before we remove the policy.

[2018-10-02 18:10] tgraf commented on #5758
The CI test seems flawed in the sense that it expects `cilium policy get` to almost immediately return the policy rules to no longer be included.

[2018-10-02 19:09] ianvernon commented on #5758
Working on reproducing and valdiating a fix locally with something like the following:

[code]

[2018-10-02 19:11] tgraf commented on #5758
@ianvernon Excellent, I was about to do exactly the same.

[2018-10-02 19:35] tgraf commented on #5524
@aanm Can you be more specific on what exactly you changed? We are relying load-balancing on the endpoints resource so changing pod or deployment labels will not matter. I assume you did not change the endpoints resource directly.

[2018-10-02 20:21] aanm commented on #5524
@tgraf by changing the labels of kube-dns a new pod is created, with a new IP. Is the new IP in the service map and being loadbalanced correctly?

Also, before executing step 4, is the old IP still in the loadbalancer map and being loadbalanced correctly?

[2018-10-02 20:26] tgraf commented on #5524
That's basically the same as scaling up the backends, i.e. adding more backends. So it should be covered by the following chaos monkey. Right?
https://github.com/cilium/chaos-monkeys/tree/master/monkeys/shuffler

It would have to be. Did you observe anything else?

[2018-10-02 20:42] aanm commented on #5524
@tgraf the bug was that dns requests were not being served. there was no policy involved at that time.

[2018-10-02 20:43] ianvernon commented on #5748
Checking `test-output.log` from the attached archive indicates one of the Cilium agents was in a bad state?

[code]

[2018-10-02 20:44] ianvernon commented on #5748
The pod was 'Running', but wasn't ready:
[code]

[2018-10-02 20:47] ianvernon commented on #5748
Turns out there was a deadlock in `cilium-bz6c4`. I checked the 'previous' logs:

<details>
 <summary>More details</summary>

[code]

</details>

This needs investigating as to why a deadlock occurred for this long.

[2018-10-02 20:47] ianvernon commented on #5748
Deadlock warrants labeling this as a release-blocker.

[2018-10-02 20:52] jrajahalme commented on #5758
Hit this in an unrelated PR build (https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6898/execution/node/94/log/?consoleFull), I wonder if these warnings in the log are significant:
[code]

[2018-10-02 20:53] ianvernon commented on #5748
Looks like it's not really a deadlock, but some operation during regeneration  is taking an inordinate amount of time on the node, and our deadlock-detection library thinks a deadlock is occurring because some operation has been holding the lock for some time:

[code]

Will check the logs for clues as to what operation took so long.

[2018-10-02 20:57] tgraf commented on #5758
Regression in master, the commit has been reverted. Just rebase.

[2018-10-02 20:59] ianvernon commented on #5748
Going back 5 minutes and 10 seconds in time in the logs from 12:26:49 shows the following logs from endpoints that were regenerated from the previous logs for the pod:

[code]

[2018-10-02 21:04] ianvernon commented on #5748
The endpoint tries to regenerate, but appears to get stuck doing so:

[code]

I filtered out a bunch of other logs. Most of them are related to `pkg/spanstat` which shows load statistics for operations running in the pod.

[2018-10-02 21:08] ianvernon commented on #5748
Looks like clang gets stuck?

[code]

cc: @borkmann @joestringer

[2018-10-02 21:20] ianvernon commented on #5747
Looks similar to #5748 , but there are no deadlocks in the logs.

I searched `test-output.log` to see which cilium pod had endpoints that were not ready (or 'invalid' in the test logs), and found the following:

[code]

1 endpoint was not in 'ready' state - it was still in 'regenerating' state:

[code]

[2018-10-02 21:22] ianvernon commented on #5747
The endpoint log in the debuginfo output for the cilium pod which managed the endpoint shows that it failed to compile:

#### Endpoint Log 32835

[code]

[2018-10-02 21:22] ianvernon commented on #5747
Same issue as
https://github.com/cilium/cilium/issues/5683 ; will comment with a link of this ticket on that issue so we are tracking the failure in one place.

[2018-10-02 21:23] #5747 closed, assigned to ianvernon

[2018-10-02 21:23] ianvernon commented on #5683
Occurred again in https://github.com/cilium/cilium/issues/5747 .

[2018-10-02 21:24] ianvernon commented on #5748
Could also be related to #5683, which is tracking clang-related issues that cause endpoints to go into 'not-ready' state.

[2018-10-02 21:27] tgraf commented on #5748
@ianvernon What makes you think clang gets stuck?

[2018-10-02 21:30] tgraf commented on #5744
This may be a red herring as I noticed that `cilium map get cilium_lxc` can get out of sync for some reason and does not show the host IP entries while `cilium bpf endpoint list` does.

[2018-10-02 21:32] borkmann commented on #5748
Is it the `STATUS S` (aka sleeping)? The CPU output above, this is system-wide or only in relation to the pid 281?

[2018-10-02 21:42] ianvernon commented on #5748
@tgraf the logs above in
https://github.com/cilium/cilium/issues/5748#issuecomment-426430999 show clang is running for the endpoint from ```2018-09-29T12:21:39``` to ```2018-09-29T12:22:49.852893854Z```. We never see logs indicating that the compilation succeeded either:

[code]

the stack trace also shows that it got stuck in the loader somewhere:

[code]

[2018-10-02 22:50] #5758 closed, assigned to ianvernon

[2018-10-02 22:51] #5421 closed, assigned to ianvernon

[2018-10-02 23:08] tgraf commented on #5744
Upgraded from 1.2.4-rc1 to master, endpoint BPF map remained correct. The above was a red herring because of a bug in the lxcmap and the bpf map cache.

[2018-10-02 23:16] ianvernon commented on #5746
The `ping` command itself did not fail; there was an error interacting with the container:

[code]

This is not related to Cilium AFAICT? We hit this before https://github.com/cilium/cilium/issues/1361 , so I'm closing this as this is not a Cilium issue.

[2018-10-02 23:16] #5746 closed, assigned to nobody

[2018-10-02 23:18] ianvernon commented on #5748
Unassigning myself. I'm not sure what else I can do here with my knowledge, as it appears to be an issue with the datapath per the stacktrace / logs.

[2018-10-02 23:24] tgraf commented on #5748
@joestringer Please take a quick look whether this is related to the new loader package or just clang.

[2018-10-02 23:25] ianvernon commented on #5745
`test-output.log` shows when the `curl` to 1.1.1.1 failed:

[code]

[2018-10-02 23:25] ianvernon commented on #5745
The monitor output during that time:

[code]

[2018-10-02 23:29] ianvernon commented on #5745
Some flows show that the IP maps to a security identity:

[code]

But subsequent lookups fail?

[code]

This may explain why the traffic got dropped.

But, other lookups after the above monitor log message show the lookup succeeding??

[code]

cc: @joestringer . Let me know how I can help.

[2018-10-02 23:31] tgraf commented on #5745
Given the last two frames we see here:
[code]
[code]

The connection was actually alive and when curl exited, the next ACK from 1.1.1.1 resulted in an RST being sent back.

[2018-10-03 00:09] ianvernon opened #5764 "monitor: fix incorrect number of captured bytes"
#5745 had monitor output which had an incorrect amount of captured bytes:

[code]

[2018-10-03 00:17] ianvernon commented on #5745
@joestringer and I stripped the monitor.log of noisy output related to cilium-health. Joe noted that the packets are sent back to the endpoint :

[code]

but the endpoint does nothing for 8 seconds, when the curl timeout is hit and the connection is closed, as @tgraf noted above:
[code]

Not sure why nothing else happens for that 8 seconds. Might be worth looking at Cilium logs and seeing if any e

[2018-10-03 03:51] aanm commented on #5748
This seems to be related with #5489 has it also happened during restore. This same bug was hit in https://github.com/cilium/cilium/pull/5732 by build https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6888

[e2589b28_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2440540/e2589b28_K8sUpdates_Tests_upgrade_and_downg

[2018-10-03 10:25] tgraf opened #5766 "Cilium can be incompatible with existing iptables rules"
Reported by Svintoo on Slack

Cilium installs custom chains in POSTROUTING, FORWARD, and OUTPUT using `-A` which can conflict with catch-all rules at the end of a rule set

Other questions include:
* Should Cilium add a INPUT rule to allow communication to host processes such as the apiserver?

[2018-10-03 10:39] #5317 closed, assigned to rlenglet

[2018-10-03 11:26] nebril commented on #5759
In `v1.2.3`, I am getting following logs:

[code]

After this output `cilium-agent` exits.

@Lakers817 I was unable to reproduce your issue, can you give some more details about how you ran `cilium-agent`?

[2018-10-03 11:29] nebril commented on #5667
@raybejjani yeah, there were "normal" endpoints with "status" field in them, as well as some leftover metadata-only endpoints.

[2018-10-03 13:14] tgraf commented on #5757
Closing this as it is related to the PR itself

[2018-10-03 13:14] #5757 closed, assigned to nobody

[2018-10-03 13:20] aanm commented on #5759
@nebril bare-metal

[2018-10-03 14:18] nebril commented on #5759
Discussed offline, turned out to be a systemd config issue, closing.

[2018-10-03 14:18] #5759 closed, assigned to nebril

[2018-10-03 14:34] nebril opened #5769 "Move nebril/python-binary-memcached container to Cilium org and preload it in CI image"

[2018-10-03 14:42] nebril opened #5770 "don't copy data to new slices in memcache parser"

[2018-10-03 15:00] nebril opened #5772 "optimise untilEnd in memcache text parser to take VALUES lines into account"

[2018-10-03 16:31] ianvernon commented on #5745
Cilium had very few logs during the time this test was running:
[code]

[2018-10-03 16:32] ianvernon commented on #5745
Note that ipcache garbage collection ran during the test:
[code]

[2018-10-03 16:35] ianvernon commented on #5745
I'm not quite sure what else I can glean from this failure. I guess we don't have many logs in Cilium because no events are occurring while the test is running that invoke a subsystem within Cilium. But, nothing here explains why the connection was dropped, except maybe the ipcache GC occurring; this is just a hunch though.

[2018-10-03 17:26] ianvernon opened #5773 "CI bug: "Checking that during restart no traffic is dropped using Egress + Ingress Traffic" does not cleanup after itself"
https://github.com/cilium/cilium/blob/a7b1456edaa145c96c144afd80dea737a9c6af60/test/runtime/chaos.go#L138-L141

Line 140 shows that the containers are deleted. However, the test cleanup only removes two containers:

https://github.com/cilium/cilium/blob/a7b1456edaa145c96c144afd80dea737a9c6af60/test/runtime/chaos.go#L47-L50

This has caused other tests to fail which make assumptions about the # of

[2018-10-03 17:38] ianvernon commented on #5773
This needs to be part of 1.3 for CI stability.

[2018-10-03 17:39] ianvernon commented on #5745
Un-assigning myself as I have done triage / initial analysis. @tgraf please review to see if this is necessary to block 1.3.

[2018-10-03 17:45] ianvernon commented on #4383
Discussed with @rlenglet and @jrajahalme ; this has been fixed, specifically by https://github.com/cilium/cilium/pull/5552 .

[2018-10-03 17:45] #4383 closed, assigned to rlenglet, jrajahalme

[2018-10-03 17:51] ianvernon commented on #5741
Looking at this one now.

[2018-10-03 17:53] ianvernon commented on #5741
EDIT: my prior comment was wrong. I have updated it to be correct.

The `curl` command failed after 4 seconds. Note that pprof was ran while it was occurring - I wonder if this put a lot of load on the system and interfered with the test?

[code]

Monitor output from microscope at 11:07:21 - 11:07:25 is attached as a file:
[5741_monitor_output.txt](https://github.com/cilium/cilium/files/2443175/57

[2018-10-03 17:59] ianvernon commented on #5741
To analyze the monitor output, we will need the numeric security identity and endpoint ID of the app-2 endpoint:

from cilium-hmnzf bugtool debuginfo file:
[code]

[2018-10-03 18:05] ianvernon commented on #5741
I'm not 100 % sure what the monitor output is, but I searched the logs for the endpoint's IP (10.10.0.74), and it's security identity (353):

[code]

It appears that we never get a reply from DNS? I can't discern if there is traffic which goes out to google.com, which is what is supposed to be tested.

[2018-10-03 18:13] ianvernon commented on #5065
@eloycoto can this be closed? We've done a bunch of work to streamline building of endpoints at this time.

[2018-10-03 18:16] tgraf commented on #5741
It's definitely the DNS lookup that failed.

[2018-10-03 18:21] ianvernon commented on #5741
@tgraf do you say that because ```time-> DNS: '0.000000()'``` ? Something in the monitor output?

The problem with egress to world tests is that we do just that, egress to world - which may be interfered with due to forces outside of our control (network connectivity issues on instances which we use for CI, kube-dns not behaving, etc.). I wonder if there are more sanity checks we could put into pl

[2018-10-03 18:37] ianvernon commented on #5741
Un-assigning myself for now since I have done the triage for this issue.

[2018-10-03 18:43] ianvernon commented on #5740
I expect this is something to do with 2) - maybe we stop the monitor too quickly and that corrupts some output in the monitor? We could try adding a quick sleep after the ping and before `cancelfn()` is invoked.

[2018-10-03 18:45] ianvernon commented on #5699
Closing this because we don't have any logs to go off of for Cilium. As such, there's not much we can do here.

[2018-10-03 18:45] #5699 closed, assigned to nobody

[2018-10-03 18:59] ianvernon commented on #5384
Occurred in a PR build which modified a runtime test, not K8s tests (which means that Cilium master is still hitting this):
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/6922/testReport/junit/k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

[2018-10-03 19:00] #5773 closed, assigned to ianvernon

[2018-10-03 20:47] ianvernon commented on #5683
I'm unsure actually how #5684 could be related to these changes, because this the number of this very issue is 5683; 5684 wasn't even merged into master when this was filed.

[2018-10-03 20:49] tgraf commented on #5683
@aanm just enjoys blaming my PRs 😄

[2018-10-03 22:44] ianvernon commented on #5747
The pods were running the latest version of Cilium from the v1.2 branch when the failure occurred.

[2018-10-03 22:51] ianvernon commented on #5683
The failure occurred when running Cilium v1.2. This may be a downgrade problem?

[2018-10-03 23:03] joestringer opened #5779 "cilium-health status -d causes segfault"
If you manually run `cilium-health` with the wrong arguments like this then it fails:

[code]

This should complain about invalid combination of arguments or something instead.

[2018-10-03 23:50] ianvernon opened #5782 "metrics: add metric delineating 'cause' for TriggerPolicyUpdates"
This will help us see which events are the cause of the most regenerations of all endpoints in Cilium.

[2018-10-04 09:22] raybejjani commented on #5667
Hmm, the thing is these "leftovers" shouldn't be leftovers. The CEPs can't be empty. We never update a CEP (or create it) without some data in it (the json `cilium endpoint get` would show). We explicitly delete it on endpoint remove so the resource shouldn't even show up (and be empty). This is definitely a bug... but where? :/

[2018-10-04 09:42] #5120 closed, assigned to aanm

[2018-10-04 12:21] #5739 closed, assigned to tgraf

[2018-10-04 12:37] tgraf commented on #5524
@nebril @joestringer is currently looking into the et-call-google failures. Please start looking into this. We also see failures of the shuffler chaos monkey which could be related to this so I would recommend looking into those first.

[2018-10-04 13:04] tgraf commented on #5722
Fixed via #5781

[2018-10-04 13:04] #5722 closed, assigned to ianvernon

[2018-10-04 16:42] ianvernon commented on #5384
Another failure in master:

Link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1713/testReport/junit/k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort/

Output:
[code]

Logs:
[f45aa55e_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2447249/f45aa55e_K8sServicesTest_Checks_service_across_nodes_Tests_NodePo

[2018-10-04 16:54] ianvernon opened #5788 "CI: run `go vet` on `test` directory"

[2018-10-04 17:32] eloycoto opened #5791 "CI: Re-Enable unstable to-entities test."
The CI tests added to test toEntities policies broke the CI, and were disabled ; re-enable them accordingly.

[2018-10-04 17:41] ianvernon opened #5793 "CI: builds failed due to k8s 1.12 manifests not including fixed-identity for kube-dns"
This is a tracking ticket for recent build failures in the CI.

etcd-operator support was merged into the CI. Right after, the K8s versions were bumped in the CI as well. K8s 1.12 manifests did not include the fixed-identity for kube-dns, resulting in Cilium not being able to bootstrap because it could not access kube-dns.

[2018-10-04 17:41] ianvernon commented on #5793
#5790 is out to fix this. #5789 is also running in parallel to revert the K8s version bumps in the CI in case #5790 does not work, in order to unblock the CI as soon as possible.

[2018-10-04 20:17] ianvernon opened #5795 "backport process: list PRs to be backported in order in which they were merged vs. age of PR"

[2018-10-04 20:24] joestringer opened #5796 "Cilium status prints IPv4 addresses in IPv6 address format"
Step 0: Set up Cilium
Step 1: Deploy app
Step 2: Run cilium status --all-addresses

[code]

[2018-10-04 21:33] ianvernon commented on #5793
Fixed-by #5790

[2018-10-04 21:33] #5793 closed, assigned to ianvernon, aanm

[2018-10-04 23:14] ianvernon opened #5802 "Developer VM fails to start due to file not being in Cilium repository"
[code]

[2018-10-05 07:49] eloycoto commented on #5791
Waiting until https://github.com/cilium/cilium/pull/5702 is merged.

[2018-10-05 08:25] #5764 closed, assigned to joestringer

[2018-10-05 09:04] #5766 closed, assigned to tgraf

[2018-10-05 17:23] #5802 closed, assigned to aanm

[2018-10-05 17:27] #5788 closed, assigned to eloycoto

[2018-10-05 17:31] ianvernon opened #5812 "CI: cilium-etcd scaled down and can't scale up again"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1728/execution/node/99/log/?consoleFull

Output:

[code]

No logs because the build timed out.

[2018-10-05 17:33] ianvernon opened #5813 "CI: long-lived connection test failed"
Build link: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/1727/testReport/junit/k8s-1/8/K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts/

Output:

[code]

Logs: [98b25332_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/files/2451471/98b25

[2018-10-05 17:39] ianvernon commented on #5813
Assigning myself to triage since I am Jenkins hat.

[2018-10-05 17:42] ianvernon commented on #5813
One of the cilium-etcd pods is Running, but not Ready:

[code]

[2018-10-05 17:45] ianvernon commented on #5813
`test-output.log` shows that the netperf command was ran around the following:

[code]

[2018-10-05 17:46] ianvernon commented on #5813
The logs from etcd show that there were definitively connectivity issues for it, for `pod-kube-system-cilium-etcd-bdhd5hx7ck-etcd.log`:

[code]

[2018-10-05 17:50] ianvernon commented on #5813
I'm guessing where the following was ran was right before the netperf command which failed was started:
[code]

[2018-10-05 17:52] ianvernon commented on #5813
I was hoping monitor logs would reveal issues as to why the connectivity check failed, but we have no monitor logs. Will file an issue for that.

[2018-10-05 17:53] ianvernon opened #5814 "CI: monitor was not ran for test "restart with long lived connections""
The CI failure associated with #5813 had no monitor logs attached, which made it difficult to debug why the test failed. Use the monitor in these tests. Not sure if this is possible since we restart Cilium and thus kill the monitor :/

[2018-10-05 18:03] ianvernon commented on #5813
Not sure what else I can do here to debug since we have no visibility into the datapath. I'll keep this issue around in case this reproduces in a future build with more logs.

[2018-10-05 21:44] joestringer commented on #5748
This line:

[code]

Is waiting on an EOF from Clang's stderr output:

https://github.com/cilium/cilium/blob/6cd3694772ee88126621d793edbb9544eee32591/pkg/datapath/loader/compile.go#L147

If Clang never exits, then it will never send EOF on that channel.

[2018-10-07 16:05] aanm commented on #5384
This happened in one of my PRs, this is what I've found:

It seems the packet goes through, the fact that takes more than 3 seconds beats me.

[code]

[725497ac_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip](https://github.com/cilium/cilium/files/2454063/725497ac_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort.zip)

[2018-10-08 10:03] tgraf opened #5824 "Regular harmless error error getting updated CNP from store"
master and 1.2 print the following error regularly:

[code]

This is not an error condition. It should be moved to a debug as several attempts are made to retrieve and update the CNP status and a warning is already printed when the update doesn't succeed in the configurable number of attempts.

[2018-10-08 10:06] #5779 closed, assigned to nobody

[2018-10-08 11:38] eloycoto opened #5825 "Cilium service drop connection after 2minutes"
Hi,

On Cilium master, when a long lived connection happens from a pod to a service IP connection drops after 2 min.

Ways to reproduce:

Apply the following manifest:
[code]

Exec the following:
[code]

After two minutes and 11 seconds the connection is drop:

[code]

Monitor log:
[code]

Pod to Pod works ok.
@tgraf is trying to reproduce in 1.2

Actions:

- [ ] Fix the issue
- [ ] Add a nightly

[2018-10-08 13:49] tgraf opened #5826 "Endless loop in perf read code in cilium-node-monitor"
cilium-node-monitor got into an endless loop, causing an entire loop where no events can be read anymore and an entire core is burned.

[profile001.svg.txt](https://github.com/cilium/cilium/files/2456160/profile001.svg.txt)

[2018-10-08 13:49] tgraf commented on #5825
The k8s service installed only translates the control port. Packets for the data connection get dropped:
[code]

This is unrelated to the 2 min interval. That is just a timeout in this case.

[2018-10-08 13:51] tgraf commented on #5813
The test is flawed, the data connection port is randomly chosen in the control connection and cannot be load-balanced in the way designed by the test.

I suggest to use iperf.

EDIT: The test has code to retrieve the serviceIP but it does not seem to use it. It is talking to the pod IP directly which should work.

[2018-10-08 14:46] aanm commented on #5813
[ec25572d_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/files/2456412/ec25572d_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip)

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/1017

[2018-10-08 15:21] eloycoto commented on #5825
Not a issue, netperf can't be used in a service. tested with a netcat and iperf and works ok.

[2018-10-08 15:21] #5825 closed, assigned to eloycoto

[2018-10-08 16:17] tgraf commented on #5683
Waiting for issue to appear again after merging #5776

[2018-10-08 16:17] #5683 closed, assigned to tgraf

[2018-10-08 16:22] tgraf commented on #5748
The conclusion is to gracefully handle this and cancel the context in the 1.3 timeframe.

[2018-10-08 16:23] aanm commented on #5748
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/4331/testReport/junit/k8s-1/8/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

[5dddf71d_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/2456797/5dddf71d_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip)

[2018-10-08 16:29] tgraf commented on #5744
Latest upgrade impact testing did not reveal major problems. Some minor problems are left that are not considered release blockers.

[2018-10-08 16:43] tgraf commented on #5748
Better solution for 1.3:
Use an endpoint context that can be canceled in endpoint delete and pass it into the loader package and proxy configuration logic.